{
  "openapi": "3.1.0",
  "info": {
    "version": "1.20.0",
    "title": "Payments API"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "paths": {
    "/api/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalyticsPaymentsByOrganization",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2025-10-31T00:00:00+00:00",
                    "periodEnd": "2025-11-07T00:00:00+00:00",
                    "numPaymentsCreated": 4189,
                    "numPaymentsProcessed": 1849,
                    "numPaymentsIncomplete": 2340,
                    "numPaymentsWithRefunds": 903,
                    "numCardPresentPayments": 1022,
                    "numCardNotPresentPayments": 1318,
                    "totalCapturedAmount": 3326028.61,
                    "totalRefundedAmount": 309180.71,
                    "totalNetCapturedAmount": 3016847.9,
                    "averageNetCapturedAmount": 2667.25,
                    "minNetCapturedAmount": 12.25,
                    "maxNetCapturedAmount": 9089.67,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2025-10-31T00:00:00+00:00",
                        "intervalEnd": "2025-11-01T00:00:00+00:00",
                        "numPaymentsCreated": 532,
                        "numPaymentsProcessed": 401,
                        "numPaymentsIncomplete": 131,
                        "numPaymentsWithRefunds": 199,
                        "numCardPresentPayments": 197,
                        "numCardNotPresentPayments": -66,
                        "totalCapturedAmount": 568259.65,
                        "totalRefundedAmount": 146068.38,
                        "totalNetCapturedAmount": 422191.27,
                        "averageNetCapturedAmount": 1052.85,
                        "minNetCapturedAmount": 72.11,
                        "maxNetCapturedAmount": 4471.8
                      },
                      {
                        "intervalStart": "2025-11-01T00:00:00+00:00",
                        "intervalEnd": "2025-11-02T00:00:00+00:00",
                        "numPaymentsCreated": 765,
                        "numPaymentsProcessed": 102,
                        "numPaymentsIncomplete": 663,
                        "numPaymentsWithRefunds": 51,
                        "numCardPresentPayments": 4,
                        "numCardNotPresentPayments": 659,
                        "totalCapturedAmount": 137357.38,
                        "totalRefundedAmount": 29460.36,
                        "totalNetCapturedAmount": 107897.02,
                        "averageNetCapturedAmount": 1057.81,
                        "minNetCapturedAmount": 24.93,
                        "maxNetCapturedAmount": 4729.34
                      },
                      {
                        "intervalStart": "2025-11-02T00:00:00+00:00",
                        "intervalEnd": "2025-11-03T00:00:00+00:00",
                        "numPaymentsCreated": 561,
                        "numPaymentsProcessed": 192,
                        "numPaymentsIncomplete": 369,
                        "numPaymentsWithRefunds": 147,
                        "numCardPresentPayments": 119,
                        "numCardNotPresentPayments": 250,
                        "totalCapturedAmount": 379844.34,
                        "totalRefundedAmount": 63545.54,
                        "totalNetCapturedAmount": 316298.8,
                        "averageNetCapturedAmount": 1647.39,
                        "minNetCapturedAmount": 48.4,
                        "maxNetCapturedAmount": 2467.75
                      },
                      {
                        "intervalStart": "2025-11-03T00:00:00+00:00",
                        "intervalEnd": "2025-11-04T00:00:00+00:00",
                        "numPaymentsCreated": 864,
                        "numPaymentsProcessed": 125,
                        "numPaymentsIncomplete": 739,
                        "numPaymentsWithRefunds": 37,
                        "numCardPresentPayments": 89,
                        "numCardNotPresentPayments": 650,
                        "totalCapturedAmount": 916251.47,
                        "totalRefundedAmount": 16539.63,
                        "totalNetCapturedAmount": 899711.84,
                        "averageNetCapturedAmount": 7197.69,
                        "minNetCapturedAmount": 77.81,
                        "maxNetCapturedAmount": 7783.9
                      },
                      {
                        "intervalStart": "2025-11-04T00:00:00+00:00",
                        "intervalEnd": "2025-11-05T00:00:00+00:00",
                        "numPaymentsCreated": 115,
                        "numPaymentsProcessed": 66,
                        "numPaymentsIncomplete": 49,
                        "numPaymentsWithRefunds": 4,
                        "numCardPresentPayments": 55,
                        "numCardNotPresentPayments": -6,
                        "totalCapturedAmount": 422749.89,
                        "totalRefundedAmount": 36707.64,
                        "totalNetCapturedAmount": 386042.25,
                        "averageNetCapturedAmount": 5849.13,
                        "minNetCapturedAmount": 68.4,
                        "maxNetCapturedAmount": 9089.67
                      },
                      {
                        "intervalStart": "2025-11-05T00:00:00+00:00",
                        "intervalEnd": "2025-11-06T00:00:00+00:00",
                        "numPaymentsCreated": 577,
                        "numPaymentsProcessed": 494,
                        "numPaymentsIncomplete": 83,
                        "numPaymentsWithRefunds": 441,
                        "numCardPresentPayments": 197,
                        "numCardNotPresentPayments": -114,
                        "totalCapturedAmount": 193070.63,
                        "totalRefundedAmount": 3001.94,
                        "totalNetCapturedAmount": 190068.69,
                        "averageNetCapturedAmount": 384.75,
                        "minNetCapturedAmount": 12.25,
                        "maxNetCapturedAmount": 4645.19
                      },
                      {
                        "intervalStart": "2025-11-06T00:00:00+00:00",
                        "intervalEnd": "2025-11-07T00:00:00+00:00",
                        "numPaymentsCreated": 775,
                        "numPaymentsProcessed": 469,
                        "numPaymentsIncomplete": 306,
                        "numPaymentsWithRefunds": 24,
                        "numCardPresentPayments": 361,
                        "numCardNotPresentPayments": -55,
                        "totalCapturedAmount": 708495.25,
                        "totalRefundedAmount": 13857.22,
                        "totalNetCapturedAmount": 694638.03,
                        "averageNetCapturedAmount": 1481.1,
                        "minNetCapturedAmount": 43.12,
                        "maxNetCapturedAmount": 3587.76
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2025-10-31T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2025-11-07T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 4189
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 1849
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 2340
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 903
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 1022
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": 1318
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 3326028.61
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 309180.71
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 3016847.9
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 2667.25
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 12.25
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 9089.67
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2025-10-31T00:00:00+00:00",
                          "intervalEnd": "2025-11-01T00:00:00+00:00",
                          "numPaymentsCreated": 532,
                          "numPaymentsProcessed": 401,
                          "numPaymentsIncomplete": 131,
                          "numPaymentsWithRefunds": 199,
                          "numCardPresentPayments": 197,
                          "numCardNotPresentPayments": -66,
                          "totalCapturedAmount": 568259.65,
                          "totalRefundedAmount": 146068.38,
                          "totalNetCapturedAmount": 422191.27,
                          "averageNetCapturedAmount": 1052.85,
                          "minNetCapturedAmount": 72.11,
                          "maxNetCapturedAmount": 4471.8
                        },
                        {
                          "intervalStart": "2025-11-01T00:00:00+00:00",
                          "intervalEnd": "2025-11-02T00:00:00+00:00",
                          "numPaymentsCreated": 765,
                          "numPaymentsProcessed": 102,
                          "numPaymentsIncomplete": 663,
                          "numPaymentsWithRefunds": 51,
                          "numCardPresentPayments": 4,
                          "numCardNotPresentPayments": 659,
                          "totalCapturedAmount": 137357.38,
                          "totalRefundedAmount": 29460.36,
                          "totalNetCapturedAmount": 107897.02,
                          "averageNetCapturedAmount": 1057.81,
                          "minNetCapturedAmount": 24.93,
                          "maxNetCapturedAmount": 4729.34
                        },
                        {
                          "intervalStart": "2025-11-02T00:00:00+00:00",
                          "intervalEnd": "2025-11-03T00:00:00+00:00",
                          "numPaymentsCreated": 561,
                          "numPaymentsProcessed": 192,
                          "numPaymentsIncomplete": 369,
                          "numPaymentsWithRefunds": 147,
                          "numCardPresentPayments": 119,
                          "numCardNotPresentPayments": 250,
                          "totalCapturedAmount": 379844.34,
                          "totalRefundedAmount": 63545.54,
                          "totalNetCapturedAmount": 316298.8,
                          "averageNetCapturedAmount": 1647.39,
                          "minNetCapturedAmount": 48.4,
                          "maxNetCapturedAmount": 2467.75
                        },
                        {
                          "intervalStart": "2025-11-03T00:00:00+00:00",
                          "intervalEnd": "2025-11-04T00:00:00+00:00",
                          "numPaymentsCreated": 864,
                          "numPaymentsProcessed": 125,
                          "numPaymentsIncomplete": 739,
                          "numPaymentsWithRefunds": 37,
                          "numCardPresentPayments": 89,
                          "numCardNotPresentPayments": 650,
                          "totalCapturedAmount": 916251.47,
                          "totalRefundedAmount": 16539.63,
                          "totalNetCapturedAmount": 899711.84,
                          "averageNetCapturedAmount": 7197.69,
                          "minNetCapturedAmount": 77.81,
                          "maxNetCapturedAmount": 7783.9
                        },
                        {
                          "intervalStart": "2025-11-04T00:00:00+00:00",
                          "intervalEnd": "2025-11-05T00:00:00+00:00",
                          "numPaymentsCreated": 115,
                          "numPaymentsProcessed": 66,
                          "numPaymentsIncomplete": 49,
                          "numPaymentsWithRefunds": 4,
                          "numCardPresentPayments": 55,
                          "numCardNotPresentPayments": -6,
                          "totalCapturedAmount": 422749.89,
                          "totalRefundedAmount": 36707.64,
                          "totalNetCapturedAmount": 386042.25,
                          "averageNetCapturedAmount": 5849.13,
                          "minNetCapturedAmount": 68.4,
                          "maxNetCapturedAmount": 9089.67
                        },
                        {
                          "intervalStart": "2025-11-05T00:00:00+00:00",
                          "intervalEnd": "2025-11-06T00:00:00+00:00",
                          "numPaymentsCreated": 577,
                          "numPaymentsProcessed": 494,
                          "numPaymentsIncomplete": 83,
                          "numPaymentsWithRefunds": 441,
                          "numCardPresentPayments": 197,
                          "numCardNotPresentPayments": -114,
                          "totalCapturedAmount": 193070.63,
                          "totalRefundedAmount": 3001.94,
                          "totalNetCapturedAmount": 190068.69,
                          "averageNetCapturedAmount": 384.75,
                          "minNetCapturedAmount": 12.25,
                          "maxNetCapturedAmount": 4645.19
                        },
                        {
                          "intervalStart": "2025-11-06T00:00:00+00:00",
                          "intervalEnd": "2025-11-07T00:00:00+00:00",
                          "numPaymentsCreated": 775,
                          "numPaymentsProcessed": 469,
                          "numPaymentsIncomplete": 306,
                          "numPaymentsWithRefunds": 24,
                          "numCardPresentPayments": 361,
                          "numCardNotPresentPayments": -55,
                          "totalCapturedAmount": 708495.25,
                          "totalRefundedAmount": 13857.22,
                          "totalNetCapturedAmount": 694638.03,
                          "averageNetCapturedAmount": 1481.1,
                          "minNetCapturedAmount": 43.12,
                          "maxNetCapturedAmount": 3587.76
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2025-10-31T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2025-11-01T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 532
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 401
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 131
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 199
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 197
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": -66
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 568259.65
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 146068.38
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 422191.27
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 1052.85
                          },
                          "minNetCapturedAmount": {
                            "type": "number",
                            "example": 72.11
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 4471.8
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalyticsCustomersByOrganization",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2025-10-31T00:00:00+00:00",
                    "periodEnd": "2025-11-07T00:00:00+00:00",
                    "activeCustomers": 178,
                    "newCustomers": 169,
                    "returningCustomers": 9,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2025-10-31T00:00:00+00:00",
                        "intervalEnd": "2025-11-01T00:00:00+00:00",
                        "activeCustomers": 19,
                        "newCustomers": 16,
                        "returningCustomers": 3
                      },
                      {
                        "intervalStart": "2025-11-01T00:00:00+00:00",
                        "intervalEnd": "2025-11-02T00:00:00+00:00",
                        "activeCustomers": 88,
                        "newCustomers": 6,
                        "returningCustomers": 82
                      },
                      {
                        "intervalStart": "2025-11-02T00:00:00+00:00",
                        "intervalEnd": "2025-11-03T00:00:00+00:00",
                        "activeCustomers": 14,
                        "newCustomers": 8,
                        "returningCustomers": 6
                      },
                      {
                        "intervalStart": "2025-11-03T00:00:00+00:00",
                        "intervalEnd": "2025-11-04T00:00:00+00:00",
                        "activeCustomers": 12,
                        "newCustomers": 7,
                        "returningCustomers": 5
                      },
                      {
                        "intervalStart": "2025-11-04T00:00:00+00:00",
                        "intervalEnd": "2025-11-05T00:00:00+00:00",
                        "activeCustomers": 83,
                        "newCustomers": 76,
                        "returningCustomers": 7
                      },
                      {
                        "intervalStart": "2025-11-05T00:00:00+00:00",
                        "intervalEnd": "2025-11-06T00:00:00+00:00",
                        "activeCustomers": 30,
                        "newCustomers": 16,
                        "returningCustomers": 14
                      },
                      {
                        "intervalStart": "2025-11-06T00:00:00+00:00",
                        "intervalEnd": "2025-11-07T00:00:00+00:00",
                        "activeCustomers": 94,
                        "newCustomers": 40,
                        "returningCustomers": 54
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2025-10-31T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2025-11-07T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 178
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 169
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": 9
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2025-10-31T00:00:00+00:00",
                          "intervalEnd": "2025-11-01T00:00:00+00:00",
                          "activeCustomers": 19,
                          "newCustomers": 16,
                          "returningCustomers": 3
                        },
                        {
                          "intervalStart": "2025-11-01T00:00:00+00:00",
                          "intervalEnd": "2025-11-02T00:00:00+00:00",
                          "activeCustomers": 88,
                          "newCustomers": 6,
                          "returningCustomers": 82
                        },
                        {
                          "intervalStart": "2025-11-02T00:00:00+00:00",
                          "intervalEnd": "2025-11-03T00:00:00+00:00",
                          "activeCustomers": 14,
                          "newCustomers": 8,
                          "returningCustomers": 6
                        },
                        {
                          "intervalStart": "2025-11-03T00:00:00+00:00",
                          "intervalEnd": "2025-11-04T00:00:00+00:00",
                          "activeCustomers": 12,
                          "newCustomers": 7,
                          "returningCustomers": 5
                        },
                        {
                          "intervalStart": "2025-11-04T00:00:00+00:00",
                          "intervalEnd": "2025-11-05T00:00:00+00:00",
                          "activeCustomers": 83,
                          "newCustomers": 76,
                          "returningCustomers": 7
                        },
                        {
                          "intervalStart": "2025-11-05T00:00:00+00:00",
                          "intervalEnd": "2025-11-06T00:00:00+00:00",
                          "activeCustomers": 30,
                          "newCustomers": 16,
                          "returningCustomers": 14
                        },
                        {
                          "intervalStart": "2025-11-06T00:00:00+00:00",
                          "intervalEnd": "2025-11-07T00:00:00+00:00",
                          "activeCustomers": 94,
                          "newCustomers": 40,
                          "returningCustomers": 54
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2025-10-31T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2025-11-01T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 19
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 16
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 3
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalyticsTransactionsByOrganization",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2025-10-31T00:00:00+00:00",
                    "periodEnd": "2025-11-07T00:00:00+00:00",
                    "totalTransactions": 4117,
                    "authorizeTransactions": 272,
                    "captureTransactions": 302,
                    "payTransactions": 1761,
                    "refundTransactions": 1387,
                    "verifyTransactions": 169,
                    "voidTransactions": 226,
                    "successfulTransactions": 3703,
                    "failedTransactions": 391,
                    "pendingTransactions": 23,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2025-10-31T00:00:00+00:00",
                        "intervalEnd": "2025-11-01T00:00:00+00:00",
                        "totalTransactions": 660,
                        "authorizeTransactions": 49,
                        "captureTransactions": 56,
                        "payTransactions": 57,
                        "refundTransactions": 432,
                        "verifyTransactions": 37,
                        "voidTransactions": 29,
                        "successfulTransactions": 594,
                        "failedTransactions": 60,
                        "pendingTransactions": 6,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-01T00:00:00+00:00",
                        "intervalEnd": "2025-11-02T00:00:00+00:00",
                        "totalTransactions": 478,
                        "authorizeTransactions": 37,
                        "captureTransactions": 45,
                        "payTransactions": 152,
                        "refundTransactions": 197,
                        "verifyTransactions": 35,
                        "voidTransactions": 12,
                        "successfulTransactions": 430,
                        "failedTransactions": 46,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-02T00:00:00+00:00",
                        "intervalEnd": "2025-11-03T00:00:00+00:00",
                        "totalTransactions": 618,
                        "authorizeTransactions": 18,
                        "captureTransactions": 23,
                        "payTransactions": 546,
                        "refundTransactions": 16,
                        "verifyTransactions": 10,
                        "voidTransactions": 5,
                        "successfulTransactions": 556,
                        "failedTransactions": 57,
                        "pendingTransactions": 5,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-03T00:00:00+00:00",
                        "intervalEnd": "2025-11-04T00:00:00+00:00",
                        "totalTransactions": 814,
                        "authorizeTransactions": 38,
                        "captureTransactions": 40,
                        "payTransactions": 546,
                        "refundTransactions": 143,
                        "verifyTransactions": 20,
                        "voidTransactions": 27,
                        "successfulTransactions": 732,
                        "failedTransactions": 81,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-04T00:00:00+00:00",
                        "intervalEnd": "2025-11-05T00:00:00+00:00",
                        "totalTransactions": 404,
                        "authorizeTransactions": 37,
                        "captureTransactions": 39,
                        "payTransactions": 68,
                        "refundTransactions": 111,
                        "verifyTransactions": 20,
                        "voidTransactions": 129,
                        "successfulTransactions": 363,
                        "failedTransactions": 38,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-05T00:00:00+00:00",
                        "intervalEnd": "2025-11-06T00:00:00+00:00",
                        "totalTransactions": 938,
                        "authorizeTransactions": 69,
                        "captureTransactions": 74,
                        "payTransactions": 361,
                        "refundTransactions": 413,
                        "verifyTransactions": 7,
                        "voidTransactions": 14,
                        "successfulTransactions": 844,
                        "failedTransactions": 89,
                        "pendingTransactions": 5,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-06T00:00:00+00:00",
                        "intervalEnd": "2025-11-07T00:00:00+00:00",
                        "totalTransactions": 205,
                        "authorizeTransactions": 24,
                        "captureTransactions": 25,
                        "payTransactions": 31,
                        "refundTransactions": 75,
                        "verifyTransactions": 40,
                        "voidTransactions": 10,
                        "successfulTransactions": 184,
                        "failedTransactions": 20,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2025-10-31T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2025-11-07T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 4117
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 272
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 302
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 1761
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 1387
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 169
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 226
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 3703
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 391
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 23
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2025-10-31T00:00:00+00:00",
                          "intervalEnd": "2025-11-01T00:00:00+00:00",
                          "totalTransactions": 660,
                          "authorizeTransactions": 49,
                          "captureTransactions": 56,
                          "payTransactions": 57,
                          "refundTransactions": 432,
                          "verifyTransactions": 37,
                          "voidTransactions": 29,
                          "successfulTransactions": 594,
                          "failedTransactions": 60,
                          "pendingTransactions": 6,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-01T00:00:00+00:00",
                          "intervalEnd": "2025-11-02T00:00:00+00:00",
                          "totalTransactions": 478,
                          "authorizeTransactions": 37,
                          "captureTransactions": 45,
                          "payTransactions": 152,
                          "refundTransactions": 197,
                          "verifyTransactions": 35,
                          "voidTransactions": 12,
                          "successfulTransactions": 430,
                          "failedTransactions": 46,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-02T00:00:00+00:00",
                          "intervalEnd": "2025-11-03T00:00:00+00:00",
                          "totalTransactions": 618,
                          "authorizeTransactions": 18,
                          "captureTransactions": 23,
                          "payTransactions": 546,
                          "refundTransactions": 16,
                          "verifyTransactions": 10,
                          "voidTransactions": 5,
                          "successfulTransactions": 556,
                          "failedTransactions": 57,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-03T00:00:00+00:00",
                          "intervalEnd": "2025-11-04T00:00:00+00:00",
                          "totalTransactions": 814,
                          "authorizeTransactions": 38,
                          "captureTransactions": 40,
                          "payTransactions": 546,
                          "refundTransactions": 143,
                          "verifyTransactions": 20,
                          "voidTransactions": 27,
                          "successfulTransactions": 732,
                          "failedTransactions": 81,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-04T00:00:00+00:00",
                          "intervalEnd": "2025-11-05T00:00:00+00:00",
                          "totalTransactions": 404,
                          "authorizeTransactions": 37,
                          "captureTransactions": 39,
                          "payTransactions": 68,
                          "refundTransactions": 111,
                          "verifyTransactions": 20,
                          "voidTransactions": 129,
                          "successfulTransactions": 363,
                          "failedTransactions": 38,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-05T00:00:00+00:00",
                          "intervalEnd": "2025-11-06T00:00:00+00:00",
                          "totalTransactions": 938,
                          "authorizeTransactions": 69,
                          "captureTransactions": 74,
                          "payTransactions": 361,
                          "refundTransactions": 413,
                          "verifyTransactions": 7,
                          "voidTransactions": 14,
                          "successfulTransactions": 844,
                          "failedTransactions": 89,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-06T00:00:00+00:00",
                          "intervalEnd": "2025-11-07T00:00:00+00:00",
                          "totalTransactions": 205,
                          "authorizeTransactions": 24,
                          "captureTransactions": 25,
                          "payTransactions": 31,
                          "refundTransactions": 75,
                          "verifyTransactions": 40,
                          "voidTransactions": 10,
                          "successfulTransactions": 184,
                          "failedTransactions": 20,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2025-10-31T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2025-11-01T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 660
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 49
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 56
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 57
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 432
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 37
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": 29
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 594
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 60
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 6
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalyticsPayoutsByOrganization",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2025-10-31T00:00:00+00:00",
                    "periodEnd": "2025-11-07T00:00:00+00:00",
                    "totalSettlementAmount": 41547.13,
                    "totalFeeAmount": 2035.81,
                    "totalNetAmount": 39511.32,
                    "totalTransactionsPending": 149,
                    "totalTransactionsSettled": 571,
                    "totalTransactionsSettling": 1087,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2025-10-31T00:00:00+00:00",
                        "intervalEnd": "2025-11-01T00:00:00+00:00",
                        "totalSettlementAmount": 3888.67,
                        "totalFeeAmount": 190.54,
                        "totalNetAmount": 3698.13,
                        "totalTransactionsPending": 39,
                        "totalTransactionsSettled": 113,
                        "totalTransactionsSettling": 190
                      },
                      {
                        "intervalStart": "2025-11-01T00:00:00+00:00",
                        "intervalEnd": "2025-11-02T00:00:00+00:00",
                        "totalSettlementAmount": 9252.66,
                        "totalFeeAmount": 453.38,
                        "totalNetAmount": 8799.28,
                        "totalTransactionsPending": 6,
                        "totalTransactionsSettled": 44,
                        "totalTransactionsSettling": 97
                      },
                      {
                        "intervalStart": "2025-11-02T00:00:00+00:00",
                        "intervalEnd": "2025-11-03T00:00:00+00:00",
                        "totalSettlementAmount": 7152.22,
                        "totalFeeAmount": 350.46,
                        "totalNetAmount": 6801.76,
                        "totalTransactionsPending": 5,
                        "totalTransactionsSettled": 83,
                        "totalTransactionsSettling": 191
                      },
                      {
                        "intervalStart": "2025-11-03T00:00:00+00:00",
                        "intervalEnd": "2025-11-04T00:00:00+00:00",
                        "totalSettlementAmount": 8505.63,
                        "totalFeeAmount": 416.78,
                        "totalNetAmount": 8088.85,
                        "totalTransactionsPending": 18,
                        "totalTransactionsSettled": 59,
                        "totalTransactionsSettling": 66
                      },
                      {
                        "intervalStart": "2025-11-04T00:00:00+00:00",
                        "intervalEnd": "2025-11-05T00:00:00+00:00",
                        "totalSettlementAmount": 8094.25,
                        "totalFeeAmount": 396.62,
                        "totalNetAmount": 7697.63,
                        "totalTransactionsPending": 16,
                        "totalTransactionsSettled": 59,
                        "totalTransactionsSettling": 71
                      },
                      {
                        "intervalStart": "2025-11-05T00:00:00+00:00",
                        "intervalEnd": "2025-11-06T00:00:00+00:00",
                        "totalSettlementAmount": 1408.74,
                        "totalFeeAmount": 69.03,
                        "totalNetAmount": 1339.71,
                        "totalTransactionsPending": 25,
                        "totalTransactionsSettled": 41,
                        "totalTransactionsSettling": 209
                      },
                      {
                        "intervalStart": "2025-11-06T00:00:00+00:00",
                        "intervalEnd": "2025-11-07T00:00:00+00:00",
                        "totalSettlementAmount": 3244.96,
                        "totalFeeAmount": 159,
                        "totalNetAmount": 3085.96,
                        "totalTransactionsPending": 40,
                        "totalTransactionsSettled": 172,
                        "totalTransactionsSettling": 263
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2025-10-31T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2025-11-07T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 41547.13
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 2035.81
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 39511.32
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 149
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 571
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 1087
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2025-10-31T00:00:00+00:00",
                          "intervalEnd": "2025-11-01T00:00:00+00:00",
                          "totalSettlementAmount": 3888.67,
                          "totalFeeAmount": 190.54,
                          "totalNetAmount": 3698.13,
                          "totalTransactionsPending": 39,
                          "totalTransactionsSettled": 113,
                          "totalTransactionsSettling": 190
                        },
                        {
                          "intervalStart": "2025-11-01T00:00:00+00:00",
                          "intervalEnd": "2025-11-02T00:00:00+00:00",
                          "totalSettlementAmount": 9252.66,
                          "totalFeeAmount": 453.38,
                          "totalNetAmount": 8799.28,
                          "totalTransactionsPending": 6,
                          "totalTransactionsSettled": 44,
                          "totalTransactionsSettling": 97
                        },
                        {
                          "intervalStart": "2025-11-02T00:00:00+00:00",
                          "intervalEnd": "2025-11-03T00:00:00+00:00",
                          "totalSettlementAmount": 7152.22,
                          "totalFeeAmount": 350.46,
                          "totalNetAmount": 6801.76,
                          "totalTransactionsPending": 5,
                          "totalTransactionsSettled": 83,
                          "totalTransactionsSettling": 191
                        },
                        {
                          "intervalStart": "2025-11-03T00:00:00+00:00",
                          "intervalEnd": "2025-11-04T00:00:00+00:00",
                          "totalSettlementAmount": 8505.63,
                          "totalFeeAmount": 416.78,
                          "totalNetAmount": 8088.85,
                          "totalTransactionsPending": 18,
                          "totalTransactionsSettled": 59,
                          "totalTransactionsSettling": 66
                        },
                        {
                          "intervalStart": "2025-11-04T00:00:00+00:00",
                          "intervalEnd": "2025-11-05T00:00:00+00:00",
                          "totalSettlementAmount": 8094.25,
                          "totalFeeAmount": 396.62,
                          "totalNetAmount": 7697.63,
                          "totalTransactionsPending": 16,
                          "totalTransactionsSettled": 59,
                          "totalTransactionsSettling": 71
                        },
                        {
                          "intervalStart": "2025-11-05T00:00:00+00:00",
                          "intervalEnd": "2025-11-06T00:00:00+00:00",
                          "totalSettlementAmount": 1408.74,
                          "totalFeeAmount": 69.03,
                          "totalNetAmount": 1339.71,
                          "totalTransactionsPending": 25,
                          "totalTransactionsSettled": 41,
                          "totalTransactionsSettling": 209
                        },
                        {
                          "intervalStart": "2025-11-06T00:00:00+00:00",
                          "intervalEnd": "2025-11-07T00:00:00+00:00",
                          "totalSettlementAmount": 3244.96,
                          "totalFeeAmount": 159,
                          "totalNetAmount": 3085.96,
                          "totalTransactionsPending": 40,
                          "totalTransactionsSettled": 172,
                          "totalTransactionsSettling": 263
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2025-10-31T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2025-11-01T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 3888.67
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 190.54
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 3698.13
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 39
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 113
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 190
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomersByMerchant",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 3,
                    "data": [
                      {
                        "email": "herminio.rolfson@hotmail.com",
                        "firstName": "Albert",
                        "lastName": "Mertz",
                        "phone": "+18316863807",
                        "dateOfBirth": "1997-02-01"
                      },
                      {
                        "email": "florencio.kling@kunze.biz",
                        "firstName": "Dominique",
                        "lastName": "McLaughlin",
                        "phone": "+17629578474",
                        "dateOfBirth": "1972-01-04"
                      },
                      {
                        "email": "fokon@gmail.com",
                        "firstName": "Loyce",
                        "lastName": "Reilly",
                        "phone": "+13613132272",
                        "dateOfBirth": "1971-01-12"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 3,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "herminio.rolfson@hotmail.com",
                          "firstName": "Albert",
                          "lastName": "Mertz",
                          "phone": "+18316863807",
                          "dateOfBirth": "1997-02-01"
                        },
                        {
                          "email": "florencio.kling@kunze.biz",
                          "firstName": "Dominique",
                          "lastName": "McLaughlin",
                          "phone": "+17629578474",
                          "dateOfBirth": "1972-01-04"
                        },
                        {
                          "email": "fokon@gmail.com",
                          "firstName": "Loyce",
                          "lastName": "Reilly",
                          "phone": "+13613132272",
                          "dateOfBirth": "1971-01-12"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "herminio.rolfson@hotmail.com"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Albert"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Mertz"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+18316863807"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "1997-02-01"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/merchant/{merchantId}/purge": {
      "post": {
        "summary": "Purge Sandbox Data",
        "operationId": "purgeSandboxDataPurgeByMerchant",
        "description": "Delete **sandbox** data for the specified merchant. This endpoint allows deletion of different entity types related to merchants.\nThe operation is performed asynchronously and will trigger the \"payments.merchant.purge\" webhook upon completion.",
        "parameters": [
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sandbox purge job queued successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "payments": 5,
                    "customers": 3,
                    "sessions": 2,
                    "tokens": 1,
                    "merchantId": "MERCHANT123"
                  },
                  "properties": {
                    "payments": {
                      "type": "integer",
                      "example": 5
                    },
                    "customers": {
                      "type": "integer",
                      "example": 3
                    },
                    "sessions": {
                      "type": "integer",
                      "example": 2
                    },
                    "tokens": {
                      "type": "integer",
                      "example": 1
                    },
                    "merchantId": {
                      "type": "string",
                      "example": "MERCHANT123"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "The field1 is required (and one other error)",
                    "errors": {
                      "field1": [
                        "The field1 is required."
                      ],
                      "field2": [
                        "The field2 must be a valid value."
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "message": {
                      "type": "string",
                      "example": "The field1 is required (and one other error)",
                      "description": "A message describing the result of the request",
                      "enum": []
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "field1": {
                          "type": "array",
                          "example": [
                            "The field1 is required."
                          ],
                          "items": {
                            "type": "string"
                          }
                        },
                        "field2": {
                          "type": "array",
                          "example": [
                            "The field2 must be a valid value."
                          ],
                          "items": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Any errors that occurred during the request"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "Authentication is required"
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "message": {
                      "type": "string",
                      "example": "Authentication is required",
                      "description": "A message describing the result of the request",
                      "enum": []
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "Internal Server Error"
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error",
                      "description": "A message describing the result of the request",
                      "enum": []
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Merchant Purge"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$class": "App\\Data\\Api\\N1\\Merchant\\PurgeMerchantRequestBody",
                "type": "object",
                "description": null,
                "properties": {
                  "payments": {
                    "type": "boolean",
                    "nullable": true,
                    "example": true,
                    "description": "Delete all merchant payments"
                  },
                  "customers": {
                    "type": "boolean",
                    "nullable": true,
                    "example": true,
                    "description": "Delete all merchant customers"
                  },
                  "sessions": {
                    "type": "boolean",
                    "nullable": true,
                    "example": true,
                    "description": "Delete all merchant sessions"
                  },
                  "tokens": {
                    "type": "boolean",
                    "nullable": true,
                    "example": true,
                    "description": "Delete all merchant tokens"
                  }
                }
              },
              "examples": {
                "example": {
                  "summary": "Example",
                  "value": {
                    "payments": true,
                    "customers": true,
                    "sessions": true,
                    "tokens": true
                  }
                },
                "paymentsOnly": {
                  "summary": "Payments Only",
                  "value": {
                    "payments": true,
                    "customers": false,
                    "sessions": false,
                    "tokens": false
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/merchant/{merchantId}/order/{orderId}": {
      "get": {
        "summary": "Get Order",
        "operationId": "getOrderByMerchant",
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving an order",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "description": "Test order",
                    "amount": 963.3,
                    "currency": "USD"
                  },
                  "properties": {
                    "description": {
                      "type": "string",
                      "example": "Test order"
                    },
                    "amount": {
                      "type": "number",
                      "example": 963.3
                    },
                    "currency": {
                      "type": "string",
                      "example": "USD"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "The field1 is required (and one other error)",
                    "errors": {
                      "field1": [
                        "The field1 is required."
                      ],
                      "field2": [
                        "The field2 must be a valid value."
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "message": {
                      "type": "string",
                      "example": "The field1 is required (and one other error)",
                      "description": "A message describing the result of the request",
                      "enum": []
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "field1": {
                          "type": "array",
                          "example": [
                            "The field1 is required."
                          ],
                          "items": {
                            "type": "string"
                          }
                        },
                        "field2": {
                          "type": "array",
                          "example": [
                            "The field2 must be a valid value."
                          ],
                          "items": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Any errors that occurred during the request"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization error response",
            "content": {
[...]
