{
  "openapi": "3.1.0",
  "info": {
    "version": "1.20.0",
    "title": "Payments API"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "paths": {
    "/api/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalyticsPaymentsByOrganization",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2025-10-30T00:00:00+00:00",
                    "periodEnd": "2025-11-06T00:00:00+00:00",
                    "numPaymentsCreated": 3874,
                    "numPaymentsProcessed": 1794,
                    "numPaymentsIncomplete": 2080,
                    "numPaymentsWithRefunds": 986,
                    "numCardPresentPayments": 1307,
                    "numCardNotPresentPayments": 773,
                    "totalCapturedAmount": 2208662.57,
                    "totalRefundedAmount": 358179.67,
                    "totalNetCapturedAmount": 1850482.9,
                    "averageNetCapturedAmount": 1499.28,
                    "minNetCapturedAmount": 15.05,
                    "maxNetCapturedAmount": 9830.2,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2025-10-30T00:00:00+00:00",
                        "intervalEnd": "2025-10-31T00:00:00+00:00",
                        "numPaymentsCreated": 834,
                        "numPaymentsProcessed": 638,
                        "numPaymentsIncomplete": 196,
                        "numPaymentsWithRefunds": 308,
                        "numCardPresentPayments": 331,
                        "numCardNotPresentPayments": -135,
                        "totalCapturedAmount": 143116.58,
                        "totalRefundedAmount": 30296.54,
                        "totalNetCapturedAmount": 112820.04,
                        "averageNetCapturedAmount": 176.83,
                        "minNetCapturedAmount": 15.05,
                        "maxNetCapturedAmount": 5991.25
                      },
                      {
                        "intervalStart": "2025-10-31T00:00:00+00:00",
                        "intervalEnd": "2025-11-01T00:00:00+00:00",
                        "numPaymentsCreated": 927,
                        "numPaymentsProcessed": 157,
                        "numPaymentsIncomplete": 770,
                        "numPaymentsWithRefunds": 149,
                        "numCardPresentPayments": 148,
                        "numCardNotPresentPayments": 622,
                        "totalCapturedAmount": 204226.23,
                        "totalRefundedAmount": 55151.22,
                        "totalNetCapturedAmount": 149075.01,
                        "averageNetCapturedAmount": 949.52,
                        "minNetCapturedAmount": 22.67,
                        "maxNetCapturedAmount": 9830.2
                      },
                      {
                        "intervalStart": "2025-11-01T00:00:00+00:00",
                        "intervalEnd": "2025-11-02T00:00:00+00:00",
                        "numPaymentsCreated": 187,
                        "numPaymentsProcessed": 73,
                        "numPaymentsIncomplete": 114,
                        "numPaymentsWithRefunds": 47,
                        "numCardPresentPayments": 40,
                        "numCardNotPresentPayments": 74,
                        "totalCapturedAmount": 228423.66,
                        "totalRefundedAmount": 36577.96,
                        "totalNetCapturedAmount": 191845.7,
                        "averageNetCapturedAmount": 2628.02,
                        "minNetCapturedAmount": 77.99,
                        "maxNetCapturedAmount": 8908.45
                      },
                      {
                        "intervalStart": "2025-11-02T00:00:00+00:00",
                        "intervalEnd": "2025-11-03T00:00:00+00:00",
                        "numPaymentsCreated": 449,
                        "numPaymentsProcessed": 330,
                        "numPaymentsIncomplete": 119,
                        "numPaymentsWithRefunds": 272,
                        "numCardPresentPayments": 320,
                        "numCardNotPresentPayments": -201,
                        "totalCapturedAmount": 360671.75,
                        "totalRefundedAmount": 40377.89,
                        "totalNetCapturedAmount": 320293.86,
                        "averageNetCapturedAmount": 970.59,
                        "minNetCapturedAmount": 50,
                        "maxNetCapturedAmount": 1758.7
                      },
                      {
                        "intervalStart": "2025-11-03T00:00:00+00:00",
                        "intervalEnd": "2025-11-04T00:00:00+00:00",
                        "numPaymentsCreated": 290,
                        "numPaymentsProcessed": 242,
                        "numPaymentsIncomplete": 48,
                        "numPaymentsWithRefunds": 75,
                        "numCardPresentPayments": 217,
                        "numCardNotPresentPayments": -169,
                        "totalCapturedAmount": 289339.14,
                        "totalRefundedAmount": 35866.01,
                        "totalNetCapturedAmount": 253473.13,
                        "averageNetCapturedAmount": 1047.41,
                        "minNetCapturedAmount": 72.76,
                        "maxNetCapturedAmount": 1317.26
                      },
                      {
                        "intervalStart": "2025-11-04T00:00:00+00:00",
                        "intervalEnd": "2025-11-05T00:00:00+00:00",
                        "numPaymentsCreated": 467,
                        "numPaymentsProcessed": 157,
                        "numPaymentsIncomplete": 310,
                        "numPaymentsWithRefunds": 128,
                        "numCardPresentPayments": 61,
                        "numCardNotPresentPayments": 249,
                        "totalCapturedAmount": 545062.7,
                        "totalRefundedAmount": 123636.37,
                        "totalNetCapturedAmount": 421426.33,
                        "averageNetCapturedAmount": 2684.24,
                        "minNetCapturedAmount": 75.9,
                        "maxNetCapturedAmount": 1475.01
                      },
                      {
                        "intervalStart": "2025-11-05T00:00:00+00:00",
                        "intervalEnd": "2025-11-06T00:00:00+00:00",
                        "numPaymentsCreated": 720,
                        "numPaymentsProcessed": 197,
                        "numPaymentsIncomplete": 523,
                        "numPaymentsWithRefunds": 7,
                        "numCardPresentPayments": 190,
                        "numCardNotPresentPayments": 333,
                        "totalCapturedAmount": 437822.51,
                        "totalRefundedAmount": 36273.68,
                        "totalNetCapturedAmount": 401548.83,
                        "averageNetCapturedAmount": 2038.32,
                        "minNetCapturedAmount": 30.39,
                        "maxNetCapturedAmount": 9386.79
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2025-10-30T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2025-11-06T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 3874
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 1794
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 2080
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 986
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 1307
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": 773
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 2208662.57
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 358179.67
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 1850482.9
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 1499.28
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 15.05
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 9830.2
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2025-10-30T00:00:00+00:00",
                          "intervalEnd": "2025-10-31T00:00:00+00:00",
                          "numPaymentsCreated": 834,
                          "numPaymentsProcessed": 638,
                          "numPaymentsIncomplete": 196,
                          "numPaymentsWithRefunds": 308,
                          "numCardPresentPayments": 331,
                          "numCardNotPresentPayments": -135,
                          "totalCapturedAmount": 143116.58,
                          "totalRefundedAmount": 30296.54,
                          "totalNetCapturedAmount": 112820.04,
                          "averageNetCapturedAmount": 176.83,
                          "minNetCapturedAmount": 15.05,
                          "maxNetCapturedAmount": 5991.25
                        },
                        {
                          "intervalStart": "2025-10-31T00:00:00+00:00",
                          "intervalEnd": "2025-11-01T00:00:00+00:00",
                          "numPaymentsCreated": 927,
                          "numPaymentsProcessed": 157,
                          "numPaymentsIncomplete": 770,
                          "numPaymentsWithRefunds": 149,
                          "numCardPresentPayments": 148,
                          "numCardNotPresentPayments": 622,
                          "totalCapturedAmount": 204226.23,
                          "totalRefundedAmount": 55151.22,
                          "totalNetCapturedAmount": 149075.01,
                          "averageNetCapturedAmount": 949.52,
                          "minNetCapturedAmount": 22.67,
                          "maxNetCapturedAmount": 9830.2
                        },
                        {
                          "intervalStart": "2025-11-01T00:00:00+00:00",
                          "intervalEnd": "2025-11-02T00:00:00+00:00",
                          "numPaymentsCreated": 187,
                          "numPaymentsProcessed": 73,
                          "numPaymentsIncomplete": 114,
                          "numPaymentsWithRefunds": 47,
                          "numCardPresentPayments": 40,
                          "numCardNotPresentPayments": 74,
                          "totalCapturedAmount": 228423.66,
                          "totalRefundedAmount": 36577.96,
                          "totalNetCapturedAmount": 191845.7,
                          "averageNetCapturedAmount": 2628.02,
                          "minNetCapturedAmount": 77.99,
                          "maxNetCapturedAmount": 8908.45
                        },
                        {
                          "intervalStart": "2025-11-02T00:00:00+00:00",
                          "intervalEnd": "2025-11-03T00:00:00+00:00",
                          "numPaymentsCreated": 449,
                          "numPaymentsProcessed": 330,
                          "numPaymentsIncomplete": 119,
                          "numPaymentsWithRefunds": 272,
                          "numCardPresentPayments": 320,
                          "numCardNotPresentPayments": -201,
                          "totalCapturedAmount": 360671.75,
                          "totalRefundedAmount": 40377.89,
                          "totalNetCapturedAmount": 320293.86,
                          "averageNetCapturedAmount": 970.59,
                          "minNetCapturedAmount": 50,
                          "maxNetCapturedAmount": 1758.7
                        },
                        {
                          "intervalStart": "2025-11-03T00:00:00+00:00",
                          "intervalEnd": "2025-11-04T00:00:00+00:00",
                          "numPaymentsCreated": 290,
                          "numPaymentsProcessed": 242,
                          "numPaymentsIncomplete": 48,
                          "numPaymentsWithRefunds": 75,
                          "numCardPresentPayments": 217,
                          "numCardNotPresentPayments": -169,
                          "totalCapturedAmount": 289339.14,
                          "totalRefundedAmount": 35866.01,
                          "totalNetCapturedAmount": 253473.13,
                          "averageNetCapturedAmount": 1047.41,
                          "minNetCapturedAmount": 72.76,
                          "maxNetCapturedAmount": 1317.26
                        },
                        {
                          "intervalStart": "2025-11-04T00:00:00+00:00",
                          "intervalEnd": "2025-11-05T00:00:00+00:00",
                          "numPaymentsCreated": 467,
                          "numPaymentsProcessed": 157,
                          "numPaymentsIncomplete": 310,
                          "numPaymentsWithRefunds": 128,
                          "numCardPresentPayments": 61,
                          "numCardNotPresentPayments": 249,
                          "totalCapturedAmount": 545062.7,
                          "totalRefundedAmount": 123636.37,
                          "totalNetCapturedAmount": 421426.33,
                          "averageNetCapturedAmount": 2684.24,
                          "minNetCapturedAmount": 75.9,
                          "maxNetCapturedAmount": 1475.01
                        },
                        {
                          "intervalStart": "2025-11-05T00:00:00+00:00",
                          "intervalEnd": "2025-11-06T00:00:00+00:00",
                          "numPaymentsCreated": 720,
                          "numPaymentsProcessed": 197,
                          "numPaymentsIncomplete": 523,
                          "numPaymentsWithRefunds": 7,
                          "numCardPresentPayments": 190,
                          "numCardNotPresentPayments": 333,
                          "totalCapturedAmount": 437822.51,
                          "totalRefundedAmount": 36273.68,
                          "totalNetCapturedAmount": 401548.83,
                          "averageNetCapturedAmount": 2038.32,
                          "minNetCapturedAmount": 30.39,
                          "maxNetCapturedAmount": 9386.79
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2025-10-30T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2025-10-31T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 834
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 638
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 196
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 308
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 331
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": -135
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 143116.58
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 30296.54
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 112820.04
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 176.83
                          },
                          "minNetCapturedAmount": {
                            "type": "number",
                            "example": 15.05
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 5991.25
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalyticsCustomersByOrganization",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2025-10-30T00:00:00+00:00",
                    "periodEnd": "2025-11-06T00:00:00+00:00",
                    "activeCustomers": 237,
                    "newCustomers": 196,
                    "returningCustomers": 41,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2025-10-30T00:00:00+00:00",
                        "intervalEnd": "2025-10-31T00:00:00+00:00",
                        "activeCustomers": 21,
                        "newCustomers": 15,
                        "returningCustomers": 6
                      },
                      {
                        "intervalStart": "2025-10-31T00:00:00+00:00",
                        "intervalEnd": "2025-11-01T00:00:00+00:00",
                        "activeCustomers": 98,
                        "newCustomers": 91,
                        "returningCustomers": 7
                      },
                      {
                        "intervalStart": "2025-11-01T00:00:00+00:00",
                        "intervalEnd": "2025-11-02T00:00:00+00:00",
                        "activeCustomers": 35,
                        "newCustomers": 13,
                        "returningCustomers": 22
                      },
                      {
                        "intervalStart": "2025-11-02T00:00:00+00:00",
                        "intervalEnd": "2025-11-03T00:00:00+00:00",
                        "activeCustomers": 89,
                        "newCustomers": 31,
                        "returningCustomers": 58
                      },
                      {
                        "intervalStart": "2025-11-03T00:00:00+00:00",
                        "intervalEnd": "2025-11-04T00:00:00+00:00",
                        "activeCustomers": 35,
                        "newCustomers": 11,
                        "returningCustomers": 24
                      },
                      {
                        "intervalStart": "2025-11-04T00:00:00+00:00",
                        "intervalEnd": "2025-11-05T00:00:00+00:00",
                        "activeCustomers": 16,
                        "newCustomers": 12,
                        "returningCustomers": 4
                      },
                      {
                        "intervalStart": "2025-11-05T00:00:00+00:00",
                        "intervalEnd": "2025-11-06T00:00:00+00:00",
                        "activeCustomers": 33,
                        "newCustomers": 23,
                        "returningCustomers": 10
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2025-10-30T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2025-11-06T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 237
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 196
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": 41
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2025-10-30T00:00:00+00:00",
                          "intervalEnd": "2025-10-31T00:00:00+00:00",
                          "activeCustomers": 21,
                          "newCustomers": 15,
                          "returningCustomers": 6
                        },
                        {
                          "intervalStart": "2025-10-31T00:00:00+00:00",
                          "intervalEnd": "2025-11-01T00:00:00+00:00",
                          "activeCustomers": 98,
                          "newCustomers": 91,
                          "returningCustomers": 7
                        },
                        {
                          "intervalStart": "2025-11-01T00:00:00+00:00",
                          "intervalEnd": "2025-11-02T00:00:00+00:00",
                          "activeCustomers": 35,
                          "newCustomers": 13,
                          "returningCustomers": 22
                        },
                        {
                          "intervalStart": "2025-11-02T00:00:00+00:00",
                          "intervalEnd": "2025-11-03T00:00:00+00:00",
                          "activeCustomers": 89,
                          "newCustomers": 31,
                          "returningCustomers": 58
                        },
                        {
                          "intervalStart": "2025-11-03T00:00:00+00:00",
                          "intervalEnd": "2025-11-04T00:00:00+00:00",
                          "activeCustomers": 35,
                          "newCustomers": 11,
                          "returningCustomers": 24
                        },
                        {
                          "intervalStart": "2025-11-04T00:00:00+00:00",
                          "intervalEnd": "2025-11-05T00:00:00+00:00",
                          "activeCustomers": 16,
                          "newCustomers": 12,
                          "returningCustomers": 4
                        },
                        {
                          "intervalStart": "2025-11-05T00:00:00+00:00",
                          "intervalEnd": "2025-11-06T00:00:00+00:00",
                          "activeCustomers": 33,
                          "newCustomers": 23,
                          "returningCustomers": 10
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2025-10-30T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2025-10-31T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 21
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 15
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 6
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalyticsTransactionsByOrganization",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2025-10-30T00:00:00+00:00",
                    "periodEnd": "2025-11-06T00:00:00+00:00",
                    "totalTransactions": 3472,
                    "authorizeTransactions": 269,
                    "captureTransactions": 314,
                    "payTransactions": 1053,
                    "refundTransactions": 903,
                    "verifyTransactions": 278,
                    "voidTransactions": 655,
                    "successfulTransactions": 3120,
                    "failedTransactions": 328,
                    "pendingTransactions": 24,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2025-10-30T00:00:00+00:00",
                        "intervalEnd": "2025-10-31T00:00:00+00:00",
                        "totalTransactions": 323,
                        "authorizeTransactions": 26,
                        "captureTransactions": 28,
                        "payTransactions": 92,
                        "refundTransactions": 57,
                        "verifyTransactions": 50,
                        "voidTransactions": 70,
                        "successfulTransactions": 290,
                        "failedTransactions": 31,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-10-31T00:00:00+00:00",
                        "intervalEnd": "2025-11-01T00:00:00+00:00",
                        "totalTransactions": 765,
                        "authorizeTransactions": 50,
                        "captureTransactions": 56,
                        "payTransactions": 231,
                        "refundTransactions": 178,
                        "verifyTransactions": 18,
                        "voidTransactions": 232,
                        "successfulTransactions": 688,
                        "failedTransactions": 72,
                        "pendingTransactions": 5,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-01T00:00:00+00:00",
                        "intervalEnd": "2025-11-02T00:00:00+00:00",
                        "totalTransactions": 445,
                        "authorizeTransactions": 25,
                        "captureTransactions": 34,
                        "payTransactions": 92,
                        "refundTransactions": 193,
                        "verifyTransactions": 70,
                        "voidTransactions": 31,
                        "successfulTransactions": 400,
                        "failedTransactions": 41,
                        "pendingTransactions": 4,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-02T00:00:00+00:00",
                        "intervalEnd": "2025-11-03T00:00:00+00:00",
                        "totalTransactions": 443,
                        "authorizeTransactions": 21,
                        "captureTransactions": 30,
                        "payTransactions": 194,
                        "refundTransactions": 93,
                        "verifyTransactions": 19,
                        "voidTransactions": 86,
                        "successfulTransactions": 398,
                        "failedTransactions": 41,
                        "pendingTransactions": 4,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-03T00:00:00+00:00",
                        "intervalEnd": "2025-11-04T00:00:00+00:00",
                        "totalTransactions": 591,
                        "authorizeTransactions": 53,
                        "captureTransactions": 60,
                        "payTransactions": 188,
                        "refundTransactions": 204,
                        "verifyTransactions": 49,
                        "voidTransactions": 37,
                        "successfulTransactions": 531,
                        "failedTransactions": 59,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-04T00:00:00+00:00",
                        "intervalEnd": "2025-11-05T00:00:00+00:00",
                        "totalTransactions": 324,
                        "authorizeTransactions": 34,
                        "captureTransactions": 44,
                        "payTransactions": 154,
                        "refundTransactions": 34,
                        "verifyTransactions": 31,
                        "voidTransactions": 27,
                        "successfulTransactions": 291,
                        "failedTransactions": 30,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-05T00:00:00+00:00",
                        "intervalEnd": "2025-11-06T00:00:00+00:00",
                        "totalTransactions": 581,
                        "authorizeTransactions": 60,
                        "captureTransactions": 62,
                        "payTransactions": 102,
                        "refundTransactions": 144,
                        "verifyTransactions": 41,
                        "voidTransactions": 172,
                        "successfulTransactions": 522,
                        "failedTransactions": 54,
                        "pendingTransactions": 5,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2025-10-30T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2025-11-06T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 3472
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 269
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 314
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 1053
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 903
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 278
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 655
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 3120
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 328
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 24
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2025-10-30T00:00:00+00:00",
                          "intervalEnd": "2025-10-31T00:00:00+00:00",
                          "totalTransactions": 323,
                          "authorizeTransactions": 26,
                          "captureTransactions": 28,
                          "payTransactions": 92,
                          "refundTransactions": 57,
                          "verifyTransactions": 50,
                          "voidTransactions": 70,
                          "successfulTransactions": 290,
                          "failedTransactions": 31,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-10-31T00:00:00+00:00",
                          "intervalEnd": "2025-11-01T00:00:00+00:00",
                          "totalTransactions": 765,
                          "authorizeTransactions": 50,
                          "captureTransactions": 56,
                          "payTransactions": 231,
                          "refundTransactions": 178,
                          "verifyTransactions": 18,
                          "voidTransactions": 232,
                          "successfulTransactions": 688,
                          "failedTransactions": 72,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-01T00:00:00+00:00",
                          "intervalEnd": "2025-11-02T00:00:00+00:00",
                          "totalTransactions": 445,
                          "authorizeTransactions": 25,
                          "captureTransactions": 34,
                          "payTransactions": 92,
                          "refundTransactions": 193,
                          "verifyTransactions": 70,
                          "voidTransactions": 31,
                          "successfulTransactions": 400,
                          "failedTransactions": 41,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-02T00:00:00+00:00",
                          "intervalEnd": "2025-11-03T00:00:00+00:00",
                          "totalTransactions": 443,
                          "authorizeTransactions": 21,
                          "captureTransactions": 30,
                          "payTransactions": 194,
                          "refundTransactions": 93,
                          "verifyTransactions": 19,
                          "voidTransactions": 86,
                          "successfulTransactions": 398,
                          "failedTransactions": 41,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-03T00:00:00+00:00",
                          "intervalEnd": "2025-11-04T00:00:00+00:00",
                          "totalTransactions": 591,
                          "authorizeTransactions": 53,
                          "captureTransactions": 60,
                          "payTransactions": 188,
                          "refundTransactions": 204,
                          "verifyTransactions": 49,
                          "voidTransactions": 37,
                          "successfulTransactions": 531,
                          "failedTransactions": 59,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-04T00:00:00+00:00",
                          "intervalEnd": "2025-11-05T00:00:00+00:00",
                          "totalTransactions": 324,
                          "authorizeTransactions": 34,
                          "captureTransactions": 44,
                          "payTransactions": 154,
                          "refundTransactions": 34,
                          "verifyTransactions": 31,
                          "voidTransactions": 27,
                          "successfulTransactions": 291,
                          "failedTransactions": 30,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-05T00:00:00+00:00",
                          "intervalEnd": "2025-11-06T00:00:00+00:00",
                          "totalTransactions": 581,
                          "authorizeTransactions": 60,
                          "captureTransactions": 62,
                          "payTransactions": 102,
                          "refundTransactions": 144,
                          "verifyTransactions": 41,
                          "voidTransactions": 172,
                          "successfulTransactions": 522,
                          "failedTransactions": 54,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2025-10-30T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2025-10-31T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 323
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 26
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 28
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 92
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 57
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 50
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": 70
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 290
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 31
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 2
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalyticsPayoutsByOrganization",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2025-10-30T00:00:00+00:00",
                    "periodEnd": "2025-11-06T00:00:00+00:00",
                    "totalSettlementAmount": 36202.86,
                    "totalFeeAmount": 1773.94,
                    "totalNetAmount": 34428.92,
                    "totalTransactionsPending": 156,
                    "totalTransactionsSettled": 757,
                    "totalTransactionsSettling": 862,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2025-10-30T00:00:00+00:00",
                        "intervalEnd": "2025-10-31T00:00:00+00:00",
                        "totalSettlementAmount": 1344.83,
                        "totalFeeAmount": 65.9,
                        "totalNetAmount": 1278.93,
                        "totalTransactionsPending": 40,
                        "totalTransactionsSettled": 83,
                        "totalTransactionsSettling": 12
                      },
                      {
                        "intervalStart": "2025-10-31T00:00:00+00:00",
                        "intervalEnd": "2025-11-01T00:00:00+00:00",
                        "totalSettlementAmount": 5192.3,
                        "totalFeeAmount": 254.42,
                        "totalNetAmount": 4937.88,
                        "totalTransactionsPending": 29,
                        "totalTransactionsSettled": 124,
                        "totalTransactionsSettling": 268
                      },
                      {
                        "intervalStart": "2025-11-01T00:00:00+00:00",
                        "intervalEnd": "2025-11-02T00:00:00+00:00",
                        "totalSettlementAmount": 6848.16,
                        "totalFeeAmount": 335.56,
                        "totalNetAmount": 6512.6,
                        "totalTransactionsPending": 22,
                        "totalTransactionsSettled": 22,
                        "totalTransactionsSettling": 169
                      },
                      {
                        "intervalStart": "2025-11-02T00:00:00+00:00",
                        "intervalEnd": "2025-11-03T00:00:00+00:00",
                        "totalSettlementAmount": 2253.65,
                        "totalFeeAmount": 110.43,
                        "totalNetAmount": 2143.22,
                        "totalTransactionsPending": 30,
                        "totalTransactionsSettled": 66,
                        "totalTransactionsSettling": 46
                      },
                      {
                        "intervalStart": "2025-11-03T00:00:00+00:00",
                        "intervalEnd": "2025-11-04T00:00:00+00:00",
                        "totalSettlementAmount": 7821.24,
                        "totalFeeAmount": 383.24,
                        "totalNetAmount": 7438,
                        "totalTransactionsPending": 9,
                        "totalTransactionsSettled": 273,
                        "totalTransactionsSettling": 68
                      },
                      {
                        "intervalStart": "2025-11-04T00:00:00+00:00",
                        "intervalEnd": "2025-11-05T00:00:00+00:00",
                        "totalSettlementAmount": 6647.16,
                        "totalFeeAmount": 325.71,
                        "totalNetAmount": 6321.45,
                        "totalTransactionsPending": 11,
                        "totalTransactionsSettled": 132,
                        "totalTransactionsSettling": 106
                      },
                      {
                        "intervalStart": "2025-11-05T00:00:00+00:00",
                        "intervalEnd": "2025-11-06T00:00:00+00:00",
                        "totalSettlementAmount": 6095.52,
                        "totalFeeAmount": 298.68,
                        "totalNetAmount": 5796.84,
                        "totalTransactionsPending": 15,
                        "totalTransactionsSettled": 57,
                        "totalTransactionsSettling": 193
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2025-10-30T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2025-11-06T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 36202.86
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 1773.94
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 34428.92
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 156
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 757
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 862
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2025-10-30T00:00:00+00:00",
                          "intervalEnd": "2025-10-31T00:00:00+00:00",
                          "totalSettlementAmount": 1344.83,
                          "totalFeeAmount": 65.9,
                          "totalNetAmount": 1278.93,
                          "totalTransactionsPending": 40,
                          "totalTransactionsSettled": 83,
                          "totalTransactionsSettling": 12
                        },
                        {
                          "intervalStart": "2025-10-31T00:00:00+00:00",
                          "intervalEnd": "2025-11-01T00:00:00+00:00",
                          "totalSettlementAmount": 5192.3,
                          "totalFeeAmount": 254.42,
                          "totalNetAmount": 4937.88,
                          "totalTransactionsPending": 29,
                          "totalTransactionsSettled": 124,
                          "totalTransactionsSettling": 268
                        },
                        {
                          "intervalStart": "2025-11-01T00:00:00+00:00",
                          "intervalEnd": "2025-11-02T00:00:00+00:00",
                          "totalSettlementAmount": 6848.16,
                          "totalFeeAmount": 335.56,
                          "totalNetAmount": 6512.6,
                          "totalTransactionsPending": 22,
                          "totalTransactionsSettled": 22,
                          "totalTransactionsSettling": 169
                        },
                        {
                          "intervalStart": "2025-11-02T00:00:00+00:00",
                          "intervalEnd": "2025-11-03T00:00:00+00:00",
                          "totalSettlementAmount": 2253.65,
                          "totalFeeAmount": 110.43,
                          "totalNetAmount": 2143.22,
                          "totalTransactionsPending": 30,
                          "totalTransactionsSettled": 66,
                          "totalTransactionsSettling": 46
                        },
                        {
                          "intervalStart": "2025-11-03T00:00:00+00:00",
                          "intervalEnd": "2025-11-04T00:00:00+00:00",
                          "totalSettlementAmount": 7821.24,
                          "totalFeeAmount": 383.24,
                          "totalNetAmount": 7438,
                          "totalTransactionsPending": 9,
                          "totalTransactionsSettled": 273,
                          "totalTransactionsSettling": 68
                        },
                        {
                          "intervalStart": "2025-11-04T00:00:00+00:00",
                          "intervalEnd": "2025-11-05T00:00:00+00:00",
                          "totalSettlementAmount": 6647.16,
                          "totalFeeAmount": 325.71,
                          "totalNetAmount": 6321.45,
                          "totalTransactionsPending": 11,
                          "totalTransactionsSettled": 132,
                          "totalTransactionsSettling": 106
                        },
                        {
                          "intervalStart": "2025-11-05T00:00:00+00:00",
                          "intervalEnd": "2025-11-06T00:00:00+00:00",
                          "totalSettlementAmount": 6095.52,
                          "totalFeeAmount": 298.68,
                          "totalNetAmount": 5796.84,
                          "totalTransactionsPending": 15,
                          "totalTransactionsSettled": 57,
                          "totalTransactionsSettling": 193
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2025-10-30T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2025-10-31T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 1344.83
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 65.9
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 1278.93
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 40
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 83
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 12
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomersByMerchant",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 6,
                    "data": [
                      {
                        "email": "timothy08@yahoo.com",
                        "firstName": "Colten",
                        "lastName": "Stark",
                        "phone": "+12123581917",
                        "dateOfBirth": "1982-08-27"
                      },
                      {
                        "email": "rippin.ivah@shields.com",
                        "firstName": "Flavio",
                        "lastName": "Kohler",
                        "phone": "+12623631631",
                        "dateOfBirth": "1982-06-28"
                      },
                      {
                        "email": "orlando.gleason@gmail.com",
                        "firstName": "Chelsey",
                        "lastName": "Waelchi",
                        "phone": "+14055222019",
                        "dateOfBirth": "1978-05-02"
                      },
                      {
                        "email": "kirlin.lorna@gmail.com",
                        "firstName": "Stephon",
                        "lastName": "Yost",
                        "phone": "+18635577060",
                        "dateOfBirth": "1999-07-08"
                      },
                      {
                        "email": "oschuster@hill.com",
                        "firstName": "Alf",
                        "lastName": "Gutmann",
                        "phone": "+13213993684",
                        "dateOfBirth": "1974-05-05"
                      },
                      {
                        "email": "ryann.hauck@grady.com",
                        "firstName": "Rosanna",
                        "lastName": "Turner",
                        "phone": "+19564230461",
                        "dateOfBirth": "1991-01-29"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 6,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "timothy08@yahoo.com",
                          "firstName": "Colten",
                          "lastName": "Stark",
                          "phone": "+12123581917",
                          "dateOfBirth": "1982-08-27"
                        },
                        {
                          "email": "rippin.ivah@shields.com",
                          "firstName": "Flavio",
                          "lastName": "Kohler",
                          "phone": "+12623631631",
                          "dateOfBirth": "1982-06-28"
                        },
                        {
                          "email": "orlando.gleason@gmail.com",
                          "firstName": "Chelsey",
                          "lastName": "Waelchi",
                          "phone": "+14055222019",
                          "dateOfBirth": "1978-05-02"
                        },
                        {
                          "email": "kirlin.lorna@gmail.com",
                          "firstName": "Stephon",
                          "lastName": "Yost",
                          "phone": "+18635577060",
                          "dateOfBirth": "1999-07-08"
                        },
                        {
                          "email": "oschuster@hill.com",
                          "firstName": "Alf",
                          "lastName": "Gutmann",
                          "phone": "+13213993684",
                          "dateOfBirth": "1974-05-05"
                        },
                        {
                          "email": "ryann.hauck@grady.com",
                          "firstName": "Rosanna",
                          "lastName": "Turner",
                          "phone": "+19564230461",
                          "dateOfBirth": "1991-01-29"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "timothy08@yahoo.com"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Colten"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Stark"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+12123581917"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "1982-08-27"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/merchant/{merchantId}/purge": {
      "post": {
        "summary": "Purge Sandbox Data",
        "operationId": "purgeSandboxDataPurgeByMerchant",
        "description": "Delete **sandbox** data for the specified merchant. This endpoint allows deletion of different entity types related to merchants.\nThe operation is performed asynchronously and will trigger the \"payments.merchant.purge\" webhook upon completion.",
        "parameters": [
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sandbox purge job queued successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "payments": 5,
                    "customers": 3,
                    "sessions": 2,
                    "tokens": 1,
                    "merchantId": "MERCHANT123"
                  },
                  "properties": {
                    "payments": {
                      "type": "integer",
                      "example": 5
                    },
                    "customers": {
                      "type": "integer",
                      "example": 3
                    },
                    "sessions": {
                      "type": "integer",
                      "example": 2
                    },
                    "tokens": {
                      "type": "integer",
                      "example": 1
                    },
                    "merchantId": {
                      "type": "string",
                      "example": "MERCHANT123"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "The field1 is required (and one other error)",
                    "errors": {
                      "field1": [
                        "The field1 is required."
                      ],
                      "field2": [
                        "The field2 must be a valid value."
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "message": {
                      "type": "string",
                      "example": "The field1 is required (and one other error)",
                      "description": "A message describing the result of the request",
                      "enum": []
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "field1": {
                          "type": "array",
                          "example": [
                            "The field1 is required."
                          ],
                          "items": {
                            "type": "string"
                          }
                        },
                        "field2": {
                          "type": "array",
                          "example": [
                            "The field2 must be a valid value."
                          ],
                          "items": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Any errors that occurred during the request"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "Authentication is required"
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "message": {
                      "type": "string",
                      "example": "Authentication is required",
                      "description": "A message describing the result of the request",
                      "enum": []
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "Internal Server Error"
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error",
                      "description": "A message describing the result of the request",
                      "enum": []
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Merchant Purge"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$class": "App\\Data\\Api\\N1\\Merchant\\PurgeMerchantRequestBody",
                "type": "object",
                "description": null,
                "properties": {
                  "payments": {
                    "type": "boolean",
                    "nullable": true,
                    "example": true,
                    "description": "Delete all merchant payments"
                  },
                  "customers": {
                    "type": "boolean",
                    "nullable": true,
                    "example": true,
                    "description": "Delete all merchant customers"
                  },
                  "sessions": {
                    "type": "boolean",
                    "nullable": true,
                    "example": true,
                    "description": "Delete all merchant sessions"
                  },
                  "tokens": {
                    "type": "boolean",
                    "nullable": true,
                    "example": true,
                    "description": "Delete all merchant tokens"
                  }
                }
              },
              "examples": {
                "example": {
                  "summary": "Example",
                  "value": {
                    "payments": true,
                    "customers": true,
                    "sessions": true,
                    "tokens": true
                  }
                },
                "paymentsOnly": {
                  "summary": "Payments Only",
                  "value": {
                    "payments": true,
                    "customers": false,
                    "sessions": false,
                    "tokens": false
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/merchant/{merchantId}/order/{orderId}": {
      "get": {
        "summary": "Get Order",
        "operationId": "getOrderByMerchant",
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving an order",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "description": "Test order",
                    "amount": 761.03,
                    "currency": "USD"
                  },
                  "properties": {
                    "description": {
                      "type": "string",
                      "example": "Test order"
                    },
                    "amount": {
                      "type": "number",
                      "example": 761.03
                    },
                    "currency": {
                      "type": "string",
                      "example": "USD"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "The field1 is required (and one other error)",
                    "errors": {
                      "field1": [
                        "The field1 is required."
                      ],
[...]
