{
  "openapi": "3.1.0",
  "info": {
    "version": "1.20.0",
    "title": "Payments API"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "paths": {
    "/api/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2025-10-30T00:00:00+00:00",
                    "periodEnd": "2025-11-06T00:00:00+00:00",
                    "numPaymentsCreated": 3570,
                    "numPaymentsProcessed": 2625,
                    "numPaymentsIncomplete": 945,
                    "numPaymentsWithRefunds": 1074,
                    "numCardPresentPayments": 1194,
                    "numCardNotPresentPayments": -249,
                    "totalCapturedAmount": 4697409.74,
                    "totalRefundedAmount": 472851.01,
                    "totalNetCapturedAmount": 4224558.73,
                    "averageNetCapturedAmount": 2423.39,
                    "minNetCapturedAmount": 16.88,
                    "maxNetCapturedAmount": 9085.51,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2025-10-30T00:00:00+00:00",
                        "intervalEnd": "2025-10-31T00:00:00+00:00",
                        "numPaymentsCreated": 223,
                        "numPaymentsProcessed": 178,
                        "numPaymentsIncomplete": 45,
                        "numPaymentsWithRefunds": 135,
                        "numCardPresentPayments": 56,
                        "numCardNotPresentPayments": -11,
                        "totalCapturedAmount": 934557.49,
                        "totalRefundedAmount": 197705.63,
                        "totalNetCapturedAmount": 736851.86,
                        "averageNetCapturedAmount": 4139.62,
                        "minNetCapturedAmount": 73.1,
                        "maxNetCapturedAmount": 4733.36
                      },
                      {
                        "intervalStart": "2025-10-31T00:00:00+00:00",
                        "intervalEnd": "2025-11-01T00:00:00+00:00",
                        "numPaymentsCreated": 624,
                        "numPaymentsProcessed": 431,
                        "numPaymentsIncomplete": 193,
                        "numPaymentsWithRefunds": 185,
                        "numCardPresentPayments": 127,
                        "numCardNotPresentPayments": 66,
                        "totalCapturedAmount": 792552.23,
                        "totalRefundedAmount": 3122.11,
                        "totalNetCapturedAmount": 789430.12,
                        "averageNetCapturedAmount": 1831.62,
                        "minNetCapturedAmount": 58.13,
                        "maxNetCapturedAmount": 3148.75
                      },
                      {
                        "intervalStart": "2025-11-01T00:00:00+00:00",
                        "intervalEnd": "2025-11-02T00:00:00+00:00",
                        "numPaymentsCreated": 669,
                        "numPaymentsProcessed": 581,
                        "numPaymentsIncomplete": 88,
                        "numPaymentsWithRefunds": 388,
                        "numCardPresentPayments": 315,
                        "numCardNotPresentPayments": -227,
                        "totalCapturedAmount": 112929.71,
                        "totalRefundedAmount": 12593.84,
                        "totalNetCapturedAmount": 100335.87,
                        "averageNetCapturedAmount": 172.7,
                        "minNetCapturedAmount": 38.5,
                        "maxNetCapturedAmount": 5341.59
                      },
                      {
                        "intervalStart": "2025-11-02T00:00:00+00:00",
                        "intervalEnd": "2025-11-03T00:00:00+00:00",
                        "numPaymentsCreated": 369,
                        "numPaymentsProcessed": 143,
                        "numPaymentsIncomplete": 226,
                        "numPaymentsWithRefunds": 54,
                        "numCardPresentPayments": 10,
                        "numCardNotPresentPayments": 216,
                        "totalCapturedAmount": 592375.1,
                        "totalRefundedAmount": 58870.49,
                        "totalNetCapturedAmount": 533504.61,
                        "averageNetCapturedAmount": 3730.8,
                        "minNetCapturedAmount": 21.46,
                        "maxNetCapturedAmount": 9085.51
                      },
                      {
                        "intervalStart": "2025-11-03T00:00:00+00:00",
                        "intervalEnd": "2025-11-04T00:00:00+00:00",
                        "numPaymentsCreated": 815,
                        "numPaymentsProcessed": 636,
                        "numPaymentsIncomplete": 179,
                        "numPaymentsWithRefunds": 70,
                        "numCardPresentPayments": 499,
                        "numCardNotPresentPayments": -320,
                        "totalCapturedAmount": 834624.47,
                        "totalRefundedAmount": 25032.62,
                        "totalNetCapturedAmount": 809591.85,
                        "averageNetCapturedAmount": 1272.94,
                        "minNetCapturedAmount": 69.59,
                        "maxNetCapturedAmount": 8567.47
                      },
                      {
                        "intervalStart": "2025-11-04T00:00:00+00:00",
                        "intervalEnd": "2025-11-05T00:00:00+00:00",
                        "numPaymentsCreated": 324,
                        "numPaymentsProcessed": 163,
                        "numPaymentsIncomplete": 161,
                        "numPaymentsWithRefunds": 38,
                        "numCardPresentPayments": 152,
                        "numCardNotPresentPayments": 9,
                        "totalCapturedAmount": 966560.44,
                        "totalRefundedAmount": 170092.13,
                        "totalNetCapturedAmount": 796468.31,
                        "averageNetCapturedAmount": 4886.31,
                        "minNetCapturedAmount": 95.99,
                        "maxNetCapturedAmount": 6222.66
                      },
                      {
                        "intervalStart": "2025-11-05T00:00:00+00:00",
                        "intervalEnd": "2025-11-06T00:00:00+00:00",
                        "numPaymentsCreated": 546,
                        "numPaymentsProcessed": 493,
                        "numPaymentsIncomplete": 53,
                        "numPaymentsWithRefunds": 204,
                        "numCardPresentPayments": 35,
                        "numCardNotPresentPayments": 18,
                        "totalCapturedAmount": 463810.3,
                        "totalRefundedAmount": 5434.19,
                        "totalNetCapturedAmount": 458376.11,
                        "averageNetCapturedAmount": 929.77,
                        "minNetCapturedAmount": 16.88,
                        "maxNetCapturedAmount": 1718.52
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2025-10-30T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2025-11-06T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 3570
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 2625
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 945
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 1074
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 1194
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": -249
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 4697409.74
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 472851.01
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 4224558.73
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 2423.39
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 16.88
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 9085.51
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2025-10-30T00:00:00+00:00",
                          "intervalEnd": "2025-10-31T00:00:00+00:00",
                          "numPaymentsCreated": 223,
                          "numPaymentsProcessed": 178,
                          "numPaymentsIncomplete": 45,
                          "numPaymentsWithRefunds": 135,
                          "numCardPresentPayments": 56,
                          "numCardNotPresentPayments": -11,
                          "totalCapturedAmount": 934557.49,
                          "totalRefundedAmount": 197705.63,
                          "totalNetCapturedAmount": 736851.86,
                          "averageNetCapturedAmount": 4139.62,
                          "minNetCapturedAmount": 73.1,
                          "maxNetCapturedAmount": 4733.36
                        },
                        {
                          "intervalStart": "2025-10-31T00:00:00+00:00",
                          "intervalEnd": "2025-11-01T00:00:00+00:00",
                          "numPaymentsCreated": 624,
                          "numPaymentsProcessed": 431,
                          "numPaymentsIncomplete": 193,
                          "numPaymentsWithRefunds": 185,
                          "numCardPresentPayments": 127,
                          "numCardNotPresentPayments": 66,
                          "totalCapturedAmount": 792552.23,
                          "totalRefundedAmount": 3122.11,
                          "totalNetCapturedAmount": 789430.12,
                          "averageNetCapturedAmount": 1831.62,
                          "minNetCapturedAmount": 58.13,
                          "maxNetCapturedAmount": 3148.75
                        },
                        {
                          "intervalStart": "2025-11-01T00:00:00+00:00",
                          "intervalEnd": "2025-11-02T00:00:00+00:00",
                          "numPaymentsCreated": 669,
                          "numPaymentsProcessed": 581,
                          "numPaymentsIncomplete": 88,
                          "numPaymentsWithRefunds": 388,
                          "numCardPresentPayments": 315,
                          "numCardNotPresentPayments": -227,
                          "totalCapturedAmount": 112929.71,
                          "totalRefundedAmount": 12593.84,
                          "totalNetCapturedAmount": 100335.87,
                          "averageNetCapturedAmount": 172.7,
                          "minNetCapturedAmount": 38.5,
                          "maxNetCapturedAmount": 5341.59
                        },
                        {
                          "intervalStart": "2025-11-02T00:00:00+00:00",
                          "intervalEnd": "2025-11-03T00:00:00+00:00",
                          "numPaymentsCreated": 369,
                          "numPaymentsProcessed": 143,
                          "numPaymentsIncomplete": 226,
                          "numPaymentsWithRefunds": 54,
                          "numCardPresentPayments": 10,
                          "numCardNotPresentPayments": 216,
                          "totalCapturedAmount": 592375.1,
                          "totalRefundedAmount": 58870.49,
                          "totalNetCapturedAmount": 533504.61,
                          "averageNetCapturedAmount": 3730.8,
                          "minNetCapturedAmount": 21.46,
                          "maxNetCapturedAmount": 9085.51
                        },
                        {
                          "intervalStart": "2025-11-03T00:00:00+00:00",
                          "intervalEnd": "2025-11-04T00:00:00+00:00",
                          "numPaymentsCreated": 815,
                          "numPaymentsProcessed": 636,
                          "numPaymentsIncomplete": 179,
                          "numPaymentsWithRefunds": 70,
                          "numCardPresentPayments": 499,
                          "numCardNotPresentPayments": -320,
                          "totalCapturedAmount": 834624.47,
                          "totalRefundedAmount": 25032.62,
                          "totalNetCapturedAmount": 809591.85,
                          "averageNetCapturedAmount": 1272.94,
                          "minNetCapturedAmount": 69.59,
                          "maxNetCapturedAmount": 8567.47
                        },
                        {
                          "intervalStart": "2025-11-04T00:00:00+00:00",
                          "intervalEnd": "2025-11-05T00:00:00+00:00",
                          "numPaymentsCreated": 324,
                          "numPaymentsProcessed": 163,
                          "numPaymentsIncomplete": 161,
                          "numPaymentsWithRefunds": 38,
                          "numCardPresentPayments": 152,
                          "numCardNotPresentPayments": 9,
                          "totalCapturedAmount": 966560.44,
                          "totalRefundedAmount": 170092.13,
                          "totalNetCapturedAmount": 796468.31,
                          "averageNetCapturedAmount": 4886.31,
                          "minNetCapturedAmount": 95.99,
                          "maxNetCapturedAmount": 6222.66
                        },
                        {
                          "intervalStart": "2025-11-05T00:00:00+00:00",
                          "intervalEnd": "2025-11-06T00:00:00+00:00",
                          "numPaymentsCreated": 546,
                          "numPaymentsProcessed": 493,
                          "numPaymentsIncomplete": 53,
                          "numPaymentsWithRefunds": 204,
                          "numCardPresentPayments": 35,
                          "numCardNotPresentPayments": 18,
                          "totalCapturedAmount": 463810.3,
                          "totalRefundedAmount": 5434.19,
                          "totalNetCapturedAmount": 458376.11,
                          "averageNetCapturedAmount": 929.77,
                          "minNetCapturedAmount": 16.88,
                          "maxNetCapturedAmount": 1718.52
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2025-10-30T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2025-10-31T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 223
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 178
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 45
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 135
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 56
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": -11
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 934557.49
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 197705.63
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 736851.86
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 4139.62
                          },
                          "minNetCapturedAmount": {
                            "type": "number",
                            "example": 73.1
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 4733.36
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "",
          "example": "similique",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2025-10-30T00:00:00+00:00",
                    "periodEnd": "2025-11-06T00:00:00+00:00",
                    "activeCustomers": 134,
                    "newCustomers": 253,
                    "returningCustomers": -119,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2025-10-30T00:00:00+00:00",
                        "intervalEnd": "2025-10-31T00:00:00+00:00",
                        "activeCustomers": 38,
                        "newCustomers": 25,
                        "returningCustomers": 13
                      },
                      {
                        "intervalStart": "2025-10-31T00:00:00+00:00",
                        "intervalEnd": "2025-11-01T00:00:00+00:00",
                        "activeCustomers": 25,
                        "newCustomers": 6,
                        "returningCustomers": 19
                      },
                      {
                        "intervalStart": "2025-11-01T00:00:00+00:00",
                        "intervalEnd": "2025-11-02T00:00:00+00:00",
                        "activeCustomers": 84,
                        "newCustomers": 65,
                        "returningCustomers": 19
                      },
                      {
                        "intervalStart": "2025-11-02T00:00:00+00:00",
                        "intervalEnd": "2025-11-03T00:00:00+00:00",
                        "activeCustomers": 98,
                        "newCustomers": 69,
                        "returningCustomers": 29
                      },
                      {
                        "intervalStart": "2025-11-03T00:00:00+00:00",
                        "intervalEnd": "2025-11-04T00:00:00+00:00",
                        "activeCustomers": 100,
                        "newCustomers": 7,
                        "returningCustomers": 93
                      },
                      {
                        "intervalStart": "2025-11-04T00:00:00+00:00",
                        "intervalEnd": "2025-11-05T00:00:00+00:00",
                        "activeCustomers": 89,
                        "newCustomers": 74,
                        "returningCustomers": 15
                      },
                      {
                        "intervalStart": "2025-11-05T00:00:00+00:00",
                        "intervalEnd": "2025-11-06T00:00:00+00:00",
                        "activeCustomers": 10,
                        "newCustomers": 7,
                        "returningCustomers": 3
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2025-10-30T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2025-11-06T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 134
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 253
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": -119
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2025-10-30T00:00:00+00:00",
                          "intervalEnd": "2025-10-31T00:00:00+00:00",
                          "activeCustomers": 38,
                          "newCustomers": 25,
                          "returningCustomers": 13
                        },
                        {
                          "intervalStart": "2025-10-31T00:00:00+00:00",
                          "intervalEnd": "2025-11-01T00:00:00+00:00",
                          "activeCustomers": 25,
                          "newCustomers": 6,
                          "returningCustomers": 19
                        },
                        {
                          "intervalStart": "2025-11-01T00:00:00+00:00",
                          "intervalEnd": "2025-11-02T00:00:00+00:00",
                          "activeCustomers": 84,
                          "newCustomers": 65,
                          "returningCustomers": 19
                        },
                        {
                          "intervalStart": "2025-11-02T00:00:00+00:00",
                          "intervalEnd": "2025-11-03T00:00:00+00:00",
                          "activeCustomers": 98,
                          "newCustomers": 69,
                          "returningCustomers": 29
                        },
                        {
                          "intervalStart": "2025-11-03T00:00:00+00:00",
                          "intervalEnd": "2025-11-04T00:00:00+00:00",
                          "activeCustomers": 100,
                          "newCustomers": 7,
                          "returningCustomers": 93
                        },
                        {
                          "intervalStart": "2025-11-04T00:00:00+00:00",
                          "intervalEnd": "2025-11-05T00:00:00+00:00",
                          "activeCustomers": 89,
                          "newCustomers": 74,
                          "returningCustomers": 15
                        },
                        {
                          "intervalStart": "2025-11-05T00:00:00+00:00",
                          "intervalEnd": "2025-11-06T00:00:00+00:00",
                          "activeCustomers": 10,
                          "newCustomers": 7,
                          "returningCustomers": 3
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2025-10-30T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2025-10-31T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 38
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 25
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 13
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "",
          "example": "et",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2025-10-30T00:00:00+00:00",
                    "periodEnd": "2025-11-06T00:00:00+00:00",
                    "totalTransactions": 3453,
                    "authorizeTransactions": 245,
                    "captureTransactions": 280,
                    "payTransactions": 1495,
                    "refundTransactions": 520,
                    "verifyTransactions": 686,
                    "voidTransactions": 227,
                    "successfulTransactions": 3105,
                    "failedTransactions": 337,
                    "pendingTransactions": 11,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2025-10-30T00:00:00+00:00",
                        "intervalEnd": "2025-10-31T00:00:00+00:00",
                        "totalTransactions": 448,
                        "authorizeTransactions": 10,
                        "captureTransactions": 20,
                        "payTransactions": 64,
                        "refundTransactions": 99,
                        "verifyTransactions": 136,
                        "voidTransactions": 119,
                        "successfulTransactions": 403,
                        "failedTransactions": 43,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-10-31T00:00:00+00:00",
                        "intervalEnd": "2025-11-01T00:00:00+00:00",
                        "totalTransactions": 854,
                        "authorizeTransactions": 68,
                        "captureTransactions": 76,
                        "payTransactions": 470,
                        "refundTransactions": 6,
                        "verifyTransactions": 229,
                        "voidTransactions": 5,
                        "successfulTransactions": 768,
                        "failedTransactions": 85,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-01T00:00:00+00:00",
                        "intervalEnd": "2025-11-02T00:00:00+00:00",
                        "totalTransactions": 217,
                        "authorizeTransactions": 13,
                        "captureTransactions": 15,
                        "payTransactions": 29,
                        "refundTransactions": 147,
                        "verifyTransactions": 5,
                        "voidTransactions": 8,
                        "successfulTransactions": 195,
                        "failedTransactions": 21,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-02T00:00:00+00:00",
                        "intervalEnd": "2025-11-03T00:00:00+00:00",
                        "totalTransactions": 337,
                        "authorizeTransactions": 26,
                        "captureTransactions": 32,
                        "payTransactions": 45,
                        "refundTransactions": 104,
                        "verifyTransactions": 62,
                        "voidTransactions": 68,
                        "successfulTransactions": 303,
                        "failedTransactions": 33,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-03T00:00:00+00:00",
                        "intervalEnd": "2025-11-04T00:00:00+00:00",
                        "totalTransactions": 996,
                        "authorizeTransactions": 75,
                        "captureTransactions": 78,
                        "payTransactions": 667,
                        "refundTransactions": 101,
                        "verifyTransactions": 56,
                        "voidTransactions": 19,
                        "successfulTransactions": 896,
                        "failedTransactions": 96,
                        "pendingTransactions": 4,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-04T00:00:00+00:00",
                        "intervalEnd": "2025-11-05T00:00:00+00:00",
                        "totalTransactions": 496,
                        "authorizeTransactions": 43,
                        "captureTransactions": 48,
                        "payTransactions": 178,
                        "refundTransactions": 45,
                        "verifyTransactions": 177,
                        "voidTransactions": 5,
                        "successfulTransactions": 446,
                        "failedTransactions": 49,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-05T00:00:00+00:00",
                        "intervalEnd": "2025-11-06T00:00:00+00:00",
                        "totalTransactions": 105,
                        "authorizeTransactions": 10,
                        "captureTransactions": 11,
                        "payTransactions": 42,
                        "refundTransactions": 18,
                        "verifyTransactions": 21,
                        "voidTransactions": 3,
                        "successfulTransactions": 94,
                        "failedTransactions": 10,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2025-10-30T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2025-11-06T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 3453
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 245
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 280
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 1495
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 520
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 686
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 227
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 3105
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 337
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 11
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2025-10-30T00:00:00+00:00",
                          "intervalEnd": "2025-10-31T00:00:00+00:00",
                          "totalTransactions": 448,
                          "authorizeTransactions": 10,
                          "captureTransactions": 20,
                          "payTransactions": 64,
                          "refundTransactions": 99,
                          "verifyTransactions": 136,
                          "voidTransactions": 119,
                          "successfulTransactions": 403,
                          "failedTransactions": 43,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-10-31T00:00:00+00:00",
                          "intervalEnd": "2025-11-01T00:00:00+00:00",
                          "totalTransactions": 854,
                          "authorizeTransactions": 68,
                          "captureTransactions": 76,
                          "payTransactions": 470,
                          "refundTransactions": 6,
                          "verifyTransactions": 229,
                          "voidTransactions": 5,
                          "successfulTransactions": 768,
                          "failedTransactions": 85,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-01T00:00:00+00:00",
                          "intervalEnd": "2025-11-02T00:00:00+00:00",
                          "totalTransactions": 217,
                          "authorizeTransactions": 13,
                          "captureTransactions": 15,
                          "payTransactions": 29,
                          "refundTransactions": 147,
                          "verifyTransactions": 5,
                          "voidTransactions": 8,
                          "successfulTransactions": 195,
                          "failedTransactions": 21,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-02T00:00:00+00:00",
                          "intervalEnd": "2025-11-03T00:00:00+00:00",
                          "totalTransactions": 337,
                          "authorizeTransactions": 26,
                          "captureTransactions": 32,
                          "payTransactions": 45,
                          "refundTransactions": 104,
                          "verifyTransactions": 62,
                          "voidTransactions": 68,
                          "successfulTransactions": 303,
                          "failedTransactions": 33,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-03T00:00:00+00:00",
                          "intervalEnd": "2025-11-04T00:00:00+00:00",
                          "totalTransactions": 996,
                          "authorizeTransactions": 75,
                          "captureTransactions": 78,
                          "payTransactions": 667,
                          "refundTransactions": 101,
                          "verifyTransactions": 56,
                          "voidTransactions": 19,
                          "successfulTransactions": 896,
                          "failedTransactions": 96,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-04T00:00:00+00:00",
                          "intervalEnd": "2025-11-05T00:00:00+00:00",
                          "totalTransactions": 496,
                          "authorizeTransactions": 43,
                          "captureTransactions": 48,
                          "payTransactions": 178,
                          "refundTransactions": 45,
                          "verifyTransactions": 177,
                          "voidTransactions": 5,
                          "successfulTransactions": 446,
                          "failedTransactions": 49,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-05T00:00:00+00:00",
                          "intervalEnd": "2025-11-06T00:00:00+00:00",
                          "totalTransactions": 105,
                          "authorizeTransactions": 10,
                          "captureTransactions": 11,
                          "payTransactions": 42,
                          "refundTransactions": 18,
                          "verifyTransactions": 21,
                          "voidTransactions": 3,
                          "successfulTransactions": 94,
                          "failedTransactions": 10,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2025-10-30T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2025-10-31T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 448
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 10
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 20
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 64
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 99
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 136
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": 119
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 403
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 43
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 2
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "",
          "example": "vel",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2025-10-30T00:00:00+00:00",
                    "periodEnd": "2025-11-06T00:00:00+00:00",
                    "totalSettlementAmount": 40242.97,
                    "totalFeeAmount": 1971.9,
                    "totalNetAmount": 38271.07,
                    "totalTransactionsPending": 178,
                    "totalTransactionsSettled": 803,
                    "totalTransactionsSettling": 1078,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2025-10-30T00:00:00+00:00",
                        "intervalEnd": "2025-10-31T00:00:00+00:00",
                        "totalSettlementAmount": 3077.93,
                        "totalFeeAmount": 150.82,
                        "totalNetAmount": 2927.11,
                        "totalTransactionsPending": 28,
                        "totalTransactionsSettled": 72,
                        "totalTransactionsSettling": 113
                      },
                      {
                        "intervalStart": "2025-10-31T00:00:00+00:00",
                        "intervalEnd": "2025-11-01T00:00:00+00:00",
                        "totalSettlementAmount": 2827.2,
                        "totalFeeAmount": 138.53,
                        "totalNetAmount": 2688.67,
                        "totalTransactionsPending": 22,
                        "totalTransactionsSettled": 353,
                        "totalTransactionsSettling": 63
                      },
                      {
                        "intervalStart": "2025-11-01T00:00:00+00:00",
                        "intervalEnd": "2025-11-02T00:00:00+00:00",
                        "totalSettlementAmount": 8987.42,
                        "totalFeeAmount": 440.38,
                        "totalNetAmount": 8547.04,
                        "totalTransactionsPending": 25,
                        "totalTransactionsSettled": 70,
                        "totalTransactionsSettling": 382
                      },
                      {
                        "intervalStart": "2025-11-02T00:00:00+00:00",
                        "intervalEnd": "2025-11-03T00:00:00+00:00",
                        "totalSettlementAmount": 3141.88,
                        "totalFeeAmount": 153.95,
                        "totalNetAmount": 2987.93,
                        "totalTransactionsPending": 28,
                        "totalTransactionsSettled": 71,
                        "totalTransactionsSettling": 11
                      },
                      {
                        "intervalStart": "2025-11-03T00:00:00+00:00",
                        "intervalEnd": "2025-11-04T00:00:00+00:00",
                        "totalSettlementAmount": 8937.31,
                        "totalFeeAmount": 437.93,
                        "totalNetAmount": 8499.38,
                        "totalTransactionsPending": 25,
                        "totalTransactionsSettled": 62,
                        "totalTransactionsSettling": 178
                      },
                      {
                        "intervalStart": "2025-11-04T00:00:00+00:00",
                        "intervalEnd": "2025-11-05T00:00:00+00:00",
                        "totalSettlementAmount": 4605.29,
                        "totalFeeAmount": 225.66,
                        "totalNetAmount": 4379.63,
                        "totalTransactionsPending": 13,
                        "totalTransactionsSettled": 34,
                        "totalTransactionsSettling": 144
                      },
                      {
                        "intervalStart": "2025-11-05T00:00:00+00:00",
                        "intervalEnd": "2025-11-06T00:00:00+00:00",
                        "totalSettlementAmount": 8665.94,
                        "totalFeeAmount": 424.63,
                        "totalNetAmount": 8241.31,
                        "totalTransactionsPending": 37,
                        "totalTransactionsSettled": 141,
                        "totalTransactionsSettling": 187
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2025-10-30T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2025-11-06T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 40242.97
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 1971.9
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 38271.07
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 178
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 803
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 1078
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2025-10-30T00:00:00+00:00",
                          "intervalEnd": "2025-10-31T00:00:00+00:00",
                          "totalSettlementAmount": 3077.93,
                          "totalFeeAmount": 150.82,
                          "totalNetAmount": 2927.11,
                          "totalTransactionsPending": 28,
                          "totalTransactionsSettled": 72,
                          "totalTransactionsSettling": 113
                        },
                        {
                          "intervalStart": "2025-10-31T00:00:00+00:00",
                          "intervalEnd": "2025-11-01T00:00:00+00:00",
                          "totalSettlementAmount": 2827.2,
                          "totalFeeAmount": 138.53,
                          "totalNetAmount": 2688.67,
                          "totalTransactionsPending": 22,
                          "totalTransactionsSettled": 353,
                          "totalTransactionsSettling": 63
                        },
                        {
                          "intervalStart": "2025-11-01T00:00:00+00:00",
                          "intervalEnd": "2025-11-02T00:00:00+00:00",
                          "totalSettlementAmount": 8987.42,
                          "totalFeeAmount": 440.38,
                          "totalNetAmount": 8547.04,
                          "totalTransactionsPending": 25,
                          "totalTransactionsSettled": 70,
                          "totalTransactionsSettling": 382
                        },
                        {
                          "intervalStart": "2025-11-02T00:00:00+00:00",
                          "intervalEnd": "2025-11-03T00:00:00+00:00",
                          "totalSettlementAmount": 3141.88,
                          "totalFeeAmount": 153.95,
                          "totalNetAmount": 2987.93,
                          "totalTransactionsPending": 28,
                          "totalTransactionsSettled": 71,
                          "totalTransactionsSettling": 11
                        },
                        {
                          "intervalStart": "2025-11-03T00:00:00+00:00",
                          "intervalEnd": "2025-11-04T00:00:00+00:00",
                          "totalSettlementAmount": 8937.31,
                          "totalFeeAmount": 437.93,
                          "totalNetAmount": 8499.38,
                          "totalTransactionsPending": 25,
                          "totalTransactionsSettled": 62,
                          "totalTransactionsSettling": 178
                        },
                        {
                          "intervalStart": "2025-11-04T00:00:00+00:00",
                          "intervalEnd": "2025-11-05T00:00:00+00:00",
                          "totalSettlementAmount": 4605.29,
                          "totalFeeAmount": 225.66,
                          "totalNetAmount": 4379.63,
                          "totalTransactionsPending": 13,
                          "totalTransactionsSettled": 34,
                          "totalTransactionsSettling": 144
                        },
                        {
                          "intervalStart": "2025-11-05T00:00:00+00:00",
                          "intervalEnd": "2025-11-06T00:00:00+00:00",
                          "totalSettlementAmount": 8665.94,
                          "totalFeeAmount": 424.63,
                          "totalNetAmount": 8241.31,
                          "totalTransactionsPending": 37,
                          "totalTransactionsSettled": 141,
                          "totalTransactionsSettling": 187
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2025-10-30T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2025-10-31T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 3077.93
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 150.82
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 2927.11
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 28
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 72
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 113
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "",
          "example": "soluta",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 10,
                    "data": [
                      {
                        "email": "brandy.spencer@yahoo.com",
                        "firstName": "Nettie",
                        "lastName": "DuBuque",
                        "phone": "+16784359355",
                        "dateOfBirth": "1991-09-14"
                      },
                      {
                        "email": "mossie.grant@reinger.com",
                        "firstName": "Julianne",
                        "lastName": "Fadel",
                        "phone": "+17608892687",
                        "dateOfBirth": "1994-12-02"
                      },
                      {
                        "email": "kayley18@gmail.com",
                        "firstName": "Nikki",
                        "lastName": "Trantow",
                        "phone": "+14177999548",
                        "dateOfBirth": "1973-04-12"
                      },
                      {
                        "email": "trevion.jerde@langosh.com",
                        "firstName": "Elna",
                        "lastName": "Hoppe",
                        "phone": "+13362032539",
                        "dateOfBirth": "1988-08-07"
                      },
                      {
                        "email": "qshields@renner.biz",
                        "firstName": "Lorenz",
                        "lastName": "Watsica",
                        "phone": "+16298444873",
                        "dateOfBirth": "2006-03-18"
                      },
                      {
                        "email": "lavina13@yahoo.com",
                        "firstName": "Macie",
                        "lastName": "Thompson",
                        "phone": "+18309518441",
                        "dateOfBirth": "1999-07-02"
                      },
                      {
                        "email": "drowe@thompson.info",
                        "firstName": "Orrin",
                        "lastName": "Balistreri",
                        "phone": "+15084567245",
                        "dateOfBirth": "1989-07-04"
                      },
                      {
                        "email": "lexie80@yahoo.com",
                        "firstName": "Leanne",
                        "lastName": "Heller",
                        "phone": "+16516484576",
                        "dateOfBirth": "1987-11-07"
                      },
                      {
                        "email": "linwood34@hotmail.com",
                        "firstName": "Norma",
                        "lastName": "Smitham",
                        "phone": "+18137600053",
                        "dateOfBirth": "1975-09-22"
                      },
                      {
                        "email": "owen97@hotmail.com",
                        "firstName": "Deven",
                        "lastName": "Zieme",
                        "phone": "+14587550541",
                        "dateOfBirth": "1996-09-06"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 10,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "brandy.spencer@yahoo.com",
                          "firstName": "Nettie",
                          "lastName": "DuBuque",
                          "phone": "+16784359355",
                          "dateOfBirth": "1991-09-14"
                        },
                        {
                          "email": "mossie.grant@reinger.com",
                          "firstName": "Julianne",
                          "lastName": "Fadel",
                          "phone": "+17608892687",
                          "dateOfBirth": "1994-12-02"
                        },
                        {
                          "email": "kayley18@gmail.com",
                          "firstName": "Nikki",
                          "lastName": "Trantow",
                          "phone": "+14177999548",
                          "dateOfBirth": "1973-04-12"
                        },
                        {
                          "email": "trevion.jerde@langosh.com",
                          "firstName": "Elna",
                          "lastName": "Hoppe",
                          "phone": "+13362032539",
                          "dateOfBirth": "1988-08-07"
                        },
                        {
                          "email": "qshields@renner.biz",
                          "firstName": "Lorenz",
                          "lastName": "Watsica",
                          "phone": "+16298444873",
                          "dateOfBirth": "2006-03-18"
                        },
                        {
                          "email": "lavina13@yahoo.com",
                          "firstName": "Macie",
                          "lastName": "Thompson",
                          "phone": "+18309518441",
                          "dateOfBirth": "1999-07-02"
                        },
                        {
                          "email": "drowe@thompson.info",
                          "firstName": "Orrin",
                          "lastName": "Balistreri",
                          "phone": "+15084567245",
                          "dateOfBirth": "1989-07-04"
                        },
                        {
                          "email": "lexie80@yahoo.com",
                          "firstName": "Leanne",
                          "lastName": "Heller",
                          "phone": "+16516484576",
                          "dateOfBirth": "1987-11-07"
                        },
                        {
                          "email": "linwood34@hotmail.com",
                          "firstName": "Norma",
                          "lastName": "Smitham",
                          "phone": "+18137600053",
                          "dateOfBirth": "1975-09-22"
                        },
                        {
                          "email": "owen97@hotmail.com",
                          "firstName": "Deven",
                          "lastName": "Zieme",
                          "phone": "+14587550541",
                          "dateOfBirth": "1996-09-06"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "brandy.spencer@yahoo.com"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Nettie"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "DuBuque"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+16784359355"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "1991-09-14"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "eos",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/merchant/{merchantId}/purge": {
      "post": {
        "summary": "Purge Sandbox Data",
        "operationId": "purgeSandboxData",
        "description": "Delete **sandbox** data for the specified merchant. This endpoint allows deletion of different entity types related to merchants.\nThe operation is performed asynchronously and will trigger the \"payments.merchant.purge\" webhook upon completion.",
        "parameters": [
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sandbox purge job queued successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "payments": 5,
                    "customers": 3,
                    "sessions": 2,
                    "tokens": 1,
                    "merchantId": "MERCHANT123"
                  },
                  "properties": {
                    "payments": {
                      "type": "integer",
                      "example": 5
                    },
                    "customers": {
                      "type": "integer",
                      "example": 3
                    },
                    "sessions": {
                      "type": "integer",
                      "example": 2
                    },
                    "tokens": {
                      "type": "integer",
                      "example": 1
                    },
                    "merchantId": {
                      "type": "string",
                      "example": "MERCHANT123"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "The field1 is required (and one other error)",
                    "errors": {
                      "field1": [
                        "The field1 is required."
                      ],
                      "field2": [
                        "The field2 must be a valid value."
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "message": {
                      "type": "string",
                      "example": "The field1 is required (and one other error)",
                      "description": "A message describing the result of the request",
                      "enum": []
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "field1": {
                          "type": "array",
                          "example": [
                            "The field1 is required."
                          ],
                          "items": {
                            "type": "string"
                          }
                        },
                        "field2": {
                          "type": "array",
                          "example": [
                            "The field2 must be a valid value."
                          ],
                          "items": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Any errors that occurred during the request"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "Authentication is required"
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "message": {
                      "type": "string",
                      "example": "Authentication is required",
                      "description": "A message describing the result of the request",
                      "enum": []
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "Internal Server Error"
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error",
                      "description": "A message describing the result of the request",
                      "enum": []
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Merchant Purge"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$class": "App\\Data\\Api\\N1\\Merchant\\PurgeMerchantRequestBody",
                "type": "object",
                "description": null,
                "properties": {
                  "payments": {
                    "type": "boolean",
                    "nullable": true,
                    "example": true,
                    "description": "Delete all merchant payments"
                  },
                  "customers": {
                    "type": "boolean",
                    "nullable": true,
                    "example": true,
                    "description": "Delete all merchant customers"
                  },
                  "sessions": {
                    "type": "boolean",
                    "nullable": true,
                    "example": true,
                    "description": "Delete all merchant sessions"
                  },
                  "tokens": {
                    "type": "boolean",
                    "nullable": true,
                    "example": true,
                    "description": "Delete all merchant tokens"
                  }
                }
              },
              "examples": {
                "example": {
                  "summary": "Example",
                  "value": {
                    "payments": true,
                    "customers": true,
                    "sessions": true,
                    "tokens": true
                  }
                },
                "paymentsOnly": {
                  "summary": "Payments Only",
                  "value": {
                    "payments": true,
                    "customers": false,
                    "sessions": false,
                    "tokens": false
                  }
[...]
