{
  "openapi": "3.1.0",
  "info": {
    "version": "1.20.0",
    "title": "Prahsys Gateway API"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "paths": {
    "/api/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2025-10-30T00:00:00+00:00",
                    "periodEnd": "2025-11-06T00:00:00+00:00",
                    "numPaymentsCreated": 5194,
                    "numPaymentsProcessed": 2616,
                    "numPaymentsIncomplete": 2578,
                    "numPaymentsWithRefunds": 933,
                    "numCardPresentPayments": 1377,
                    "numCardNotPresentPayments": 1201,
                    "totalCapturedAmount": 3476233.29,
                    "totalRefundedAmount": 501077.15,
                    "totalNetCapturedAmount": 2975156.14,
                    "averageNetCapturedAmount": 1260.98,
                    "minNetCapturedAmount": 20.33,
                    "maxNetCapturedAmount": 9267.99,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2025-10-30T00:00:00+00:00",
                        "intervalEnd": "2025-10-31T00:00:00+00:00",
                        "numPaymentsCreated": 812,
                        "numPaymentsProcessed": 349,
                        "numPaymentsIncomplete": 463,
                        "numPaymentsWithRefunds": 99,
                        "numCardPresentPayments": 46,
                        "numCardNotPresentPayments": 417,
                        "totalCapturedAmount": 677371.05,
                        "totalRefundedAmount": 36051.39,
                        "totalNetCapturedAmount": 641319.66,
                        "averageNetCapturedAmount": 1837.59,
                        "minNetCapturedAmount": 84.33,
                        "maxNetCapturedAmount": 9267.99
                      },
                      {
                        "intervalStart": "2025-10-31T00:00:00+00:00",
                        "intervalEnd": "2025-11-01T00:00:00+00:00",
                        "numPaymentsCreated": 442,
                        "numPaymentsProcessed": 216,
                        "numPaymentsIncomplete": 226,
                        "numPaymentsWithRefunds": 89,
                        "numCardPresentPayments": 15,
                        "numCardNotPresentPayments": 211,
                        "totalCapturedAmount": 668189.14,
                        "totalRefundedAmount": 104065.53,
                        "totalNetCapturedAmount": 564123.61,
                        "averageNetCapturedAmount": 2611.68,
                        "minNetCapturedAmount": 51.16,
                        "maxNetCapturedAmount": 4480.52
                      },
                      {
                        "intervalStart": "2025-11-01T00:00:00+00:00",
                        "intervalEnd": "2025-11-02T00:00:00+00:00",
                        "numPaymentsCreated": 637,
                        "numPaymentsProcessed": 249,
                        "numPaymentsIncomplete": 388,
                        "numPaymentsWithRefunds": 51,
                        "numCardPresentPayments": 9,
                        "numCardNotPresentPayments": 379,
                        "totalCapturedAmount": 291442.1,
                        "totalRefundedAmount": 54339.79,
                        "totalNetCapturedAmount": 237102.31,
                        "averageNetCapturedAmount": 952.22,
                        "minNetCapturedAmount": 32.15,
                        "maxNetCapturedAmount": 7018.86
                      },
                      {
                        "intervalStart": "2025-11-02T00:00:00+00:00",
                        "intervalEnd": "2025-11-03T00:00:00+00:00",
                        "numPaymentsCreated": 876,
                        "numPaymentsProcessed": 458,
                        "numPaymentsIncomplete": 418,
                        "numPaymentsWithRefunds": 328,
                        "numCardPresentPayments": 284,
                        "numCardNotPresentPayments": 134,
                        "totalCapturedAmount": 923078.47,
                        "totalRefundedAmount": 86240.19,
                        "totalNetCapturedAmount": 836838.28,
                        "averageNetCapturedAmount": 1827.16,
                        "minNetCapturedAmount": 59.25,
                        "maxNetCapturedAmount": 7130.35
                      },
                      {
                        "intervalStart": "2025-11-03T00:00:00+00:00",
                        "intervalEnd": "2025-11-04T00:00:00+00:00",
                        "numPaymentsCreated": 987,
                        "numPaymentsProcessed": 483,
                        "numPaymentsIncomplete": 504,
                        "numPaymentsWithRefunds": 294,
                        "numCardPresentPayments": 479,
                        "numCardNotPresentPayments": 25,
                        "totalCapturedAmount": 106215.32,
                        "totalRefundedAmount": 19164.47,
                        "totalNetCapturedAmount": 87050.85,
                        "averageNetCapturedAmount": 180.23,
                        "minNetCapturedAmount": 86,
                        "maxNetCapturedAmount": 8914.41
                      },
                      {
                        "intervalStart": "2025-11-04T00:00:00+00:00",
                        "intervalEnd": "2025-11-05T00:00:00+00:00",
                        "numPaymentsCreated": 616,
                        "numPaymentsProcessed": 429,
                        "numPaymentsIncomplete": 187,
                        "numPaymentsWithRefunds": 31,
                        "numCardPresentPayments": 311,
                        "numCardNotPresentPayments": -124,
                        "totalCapturedAmount": 735645.68,
                        "totalRefundedAmount": 184432.89,
                        "totalNetCapturedAmount": 551212.79,
                        "averageNetCapturedAmount": 1284.88,
                        "minNetCapturedAmount": 34.35,
                        "maxNetCapturedAmount": 3295.99
                      },
                      {
                        "intervalStart": "2025-11-05T00:00:00+00:00",
                        "intervalEnd": "2025-11-06T00:00:00+00:00",
                        "numPaymentsCreated": 824,
                        "numPaymentsProcessed": 432,
                        "numPaymentsIncomplete": 392,
                        "numPaymentsWithRefunds": 41,
                        "numCardPresentPayments": 233,
                        "numCardNotPresentPayments": 159,
                        "totalCapturedAmount": 74291.53,
                        "totalRefundedAmount": 16782.89,
                        "totalNetCapturedAmount": 57508.64,
                        "averageNetCapturedAmount": 133.12,
                        "minNetCapturedAmount": 20.33,
                        "maxNetCapturedAmount": 8103.67
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2025-10-30T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2025-11-06T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 5194
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 2616
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 2578
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 933
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 1377
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": 1201
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 3476233.29
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 501077.15
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 2975156.14
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 1260.98
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 20.33
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 9267.99
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2025-10-30T00:00:00+00:00",
                          "intervalEnd": "2025-10-31T00:00:00+00:00",
                          "numPaymentsCreated": 812,
                          "numPaymentsProcessed": 349,
                          "numPaymentsIncomplete": 463,
                          "numPaymentsWithRefunds": 99,
                          "numCardPresentPayments": 46,
                          "numCardNotPresentPayments": 417,
                          "totalCapturedAmount": 677371.05,
                          "totalRefundedAmount": 36051.39,
                          "totalNetCapturedAmount": 641319.66,
                          "averageNetCapturedAmount": 1837.59,
                          "minNetCapturedAmount": 84.33,
                          "maxNetCapturedAmount": 9267.99
                        },
                        {
                          "intervalStart": "2025-10-31T00:00:00+00:00",
                          "intervalEnd": "2025-11-01T00:00:00+00:00",
                          "numPaymentsCreated": 442,
                          "numPaymentsProcessed": 216,
                          "numPaymentsIncomplete": 226,
                          "numPaymentsWithRefunds": 89,
                          "numCardPresentPayments": 15,
                          "numCardNotPresentPayments": 211,
                          "totalCapturedAmount": 668189.14,
                          "totalRefundedAmount": 104065.53,
                          "totalNetCapturedAmount": 564123.61,
                          "averageNetCapturedAmount": 2611.68,
                          "minNetCapturedAmount": 51.16,
                          "maxNetCapturedAmount": 4480.52
                        },
                        {
                          "intervalStart": "2025-11-01T00:00:00+00:00",
                          "intervalEnd": "2025-11-02T00:00:00+00:00",
                          "numPaymentsCreated": 637,
                          "numPaymentsProcessed": 249,
                          "numPaymentsIncomplete": 388,
                          "numPaymentsWithRefunds": 51,
                          "numCardPresentPayments": 9,
                          "numCardNotPresentPayments": 379,
                          "totalCapturedAmount": 291442.1,
                          "totalRefundedAmount": 54339.79,
                          "totalNetCapturedAmount": 237102.31,
                          "averageNetCapturedAmount": 952.22,
                          "minNetCapturedAmount": 32.15,
                          "maxNetCapturedAmount": 7018.86
                        },
                        {
                          "intervalStart": "2025-11-02T00:00:00+00:00",
                          "intervalEnd": "2025-11-03T00:00:00+00:00",
                          "numPaymentsCreated": 876,
                          "numPaymentsProcessed": 458,
                          "numPaymentsIncomplete": 418,
                          "numPaymentsWithRefunds": 328,
                          "numCardPresentPayments": 284,
                          "numCardNotPresentPayments": 134,
                          "totalCapturedAmount": 923078.47,
                          "totalRefundedAmount": 86240.19,
                          "totalNetCapturedAmount": 836838.28,
                          "averageNetCapturedAmount": 1827.16,
                          "minNetCapturedAmount": 59.25,
                          "maxNetCapturedAmount": 7130.35
                        },
                        {
                          "intervalStart": "2025-11-03T00:00:00+00:00",
                          "intervalEnd": "2025-11-04T00:00:00+00:00",
                          "numPaymentsCreated": 987,
                          "numPaymentsProcessed": 483,
                          "numPaymentsIncomplete": 504,
                          "numPaymentsWithRefunds": 294,
                          "numCardPresentPayments": 479,
                          "numCardNotPresentPayments": 25,
                          "totalCapturedAmount": 106215.32,
                          "totalRefundedAmount": 19164.47,
                          "totalNetCapturedAmount": 87050.85,
                          "averageNetCapturedAmount": 180.23,
                          "minNetCapturedAmount": 86,
                          "maxNetCapturedAmount": 8914.41
                        },
                        {
                          "intervalStart": "2025-11-04T00:00:00+00:00",
                          "intervalEnd": "2025-11-05T00:00:00+00:00",
                          "numPaymentsCreated": 616,
                          "numPaymentsProcessed": 429,
                          "numPaymentsIncomplete": 187,
                          "numPaymentsWithRefunds": 31,
                          "numCardPresentPayments": 311,
                          "numCardNotPresentPayments": -124,
                          "totalCapturedAmount": 735645.68,
                          "totalRefundedAmount": 184432.89,
                          "totalNetCapturedAmount": 551212.79,
                          "averageNetCapturedAmount": 1284.88,
                          "minNetCapturedAmount": 34.35,
                          "maxNetCapturedAmount": 3295.99
                        },
                        {
                          "intervalStart": "2025-11-05T00:00:00+00:00",
                          "intervalEnd": "2025-11-06T00:00:00+00:00",
                          "numPaymentsCreated": 824,
                          "numPaymentsProcessed": 432,
                          "numPaymentsIncomplete": 392,
                          "numPaymentsWithRefunds": 41,
                          "numCardPresentPayments": 233,
                          "numCardNotPresentPayments": 159,
                          "totalCapturedAmount": 74291.53,
                          "totalRefundedAmount": 16782.89,
                          "totalNetCapturedAmount": 57508.64,
                          "averageNetCapturedAmount": 133.12,
                          "minNetCapturedAmount": 20.33,
                          "maxNetCapturedAmount": 8103.67
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2025-10-30T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2025-10-31T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 812
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 349
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 463
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 99
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 46
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": 417
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 677371.05
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 36051.39
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 641319.66
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 1837.59
                          },
                          "minNetCapturedAmount": {
                            "type": "number",
                            "example": 84.33
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 9267.99
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "",
          "example": "repellendus",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2025-10-30T00:00:00+00:00",
                    "periodEnd": "2025-11-06T00:00:00+00:00",
                    "activeCustomers": 128,
                    "newCustomers": 188,
                    "returningCustomers": -60,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2025-10-30T00:00:00+00:00",
                        "intervalEnd": "2025-10-31T00:00:00+00:00",
                        "activeCustomers": 64,
                        "newCustomers": 5,
                        "returningCustomers": 59
                      },
                      {
                        "intervalStart": "2025-10-31T00:00:00+00:00",
                        "intervalEnd": "2025-11-01T00:00:00+00:00",
                        "activeCustomers": 79,
                        "newCustomers": 42,
                        "returningCustomers": 37
                      },
                      {
                        "intervalStart": "2025-11-01T00:00:00+00:00",
                        "intervalEnd": "2025-11-02T00:00:00+00:00",
                        "activeCustomers": 13,
                        "newCustomers": 10,
                        "returningCustomers": 3
                      },
                      {
                        "intervalStart": "2025-11-02T00:00:00+00:00",
                        "intervalEnd": "2025-11-03T00:00:00+00:00",
                        "activeCustomers": 60,
                        "newCustomers": 53,
                        "returningCustomers": 7
                      },
                      {
                        "intervalStart": "2025-11-03T00:00:00+00:00",
                        "intervalEnd": "2025-11-04T00:00:00+00:00",
                        "activeCustomers": 98,
                        "newCustomers": 31,
                        "returningCustomers": 67
                      },
                      {
                        "intervalStart": "2025-11-04T00:00:00+00:00",
                        "intervalEnd": "2025-11-05T00:00:00+00:00",
                        "activeCustomers": 35,
                        "newCustomers": 25,
                        "returningCustomers": 10
                      },
                      {
                        "intervalStart": "2025-11-05T00:00:00+00:00",
                        "intervalEnd": "2025-11-06T00:00:00+00:00",
                        "activeCustomers": 77,
                        "newCustomers": 22,
                        "returningCustomers": 55
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2025-10-30T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2025-11-06T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 128
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 188
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": -60
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2025-10-30T00:00:00+00:00",
                          "intervalEnd": "2025-10-31T00:00:00+00:00",
                          "activeCustomers": 64,
                          "newCustomers": 5,
                          "returningCustomers": 59
                        },
                        {
                          "intervalStart": "2025-10-31T00:00:00+00:00",
                          "intervalEnd": "2025-11-01T00:00:00+00:00",
                          "activeCustomers": 79,
                          "newCustomers": 42,
                          "returningCustomers": 37
                        },
                        {
                          "intervalStart": "2025-11-01T00:00:00+00:00",
                          "intervalEnd": "2025-11-02T00:00:00+00:00",
                          "activeCustomers": 13,
                          "newCustomers": 10,
                          "returningCustomers": 3
                        },
                        {
                          "intervalStart": "2025-11-02T00:00:00+00:00",
                          "intervalEnd": "2025-11-03T00:00:00+00:00",
                          "activeCustomers": 60,
                          "newCustomers": 53,
                          "returningCustomers": 7
                        },
                        {
                          "intervalStart": "2025-11-03T00:00:00+00:00",
                          "intervalEnd": "2025-11-04T00:00:00+00:00",
                          "activeCustomers": 98,
                          "newCustomers": 31,
                          "returningCustomers": 67
                        },
                        {
                          "intervalStart": "2025-11-04T00:00:00+00:00",
                          "intervalEnd": "2025-11-05T00:00:00+00:00",
                          "activeCustomers": 35,
                          "newCustomers": 25,
                          "returningCustomers": 10
                        },
                        {
                          "intervalStart": "2025-11-05T00:00:00+00:00",
                          "intervalEnd": "2025-11-06T00:00:00+00:00",
                          "activeCustomers": 77,
                          "newCustomers": 22,
                          "returningCustomers": 55
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2025-10-30T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2025-10-31T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 64
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 5
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 59
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "",
          "example": "voluptates",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2025-10-30T00:00:00+00:00",
                    "periodEnd": "2025-11-06T00:00:00+00:00",
                    "totalTransactions": 4299,
                    "authorizeTransactions": 372,
                    "captureTransactions": 407,
                    "payTransactions": 1650,
                    "refundTransactions": 1073,
                    "verifyTransactions": 197,
                    "voidTransactions": 600,
                    "successfulTransactions": 3865,
                    "failedTransactions": 410,
                    "pendingTransactions": 24,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2025-10-30T00:00:00+00:00",
                        "intervalEnd": "2025-10-31T00:00:00+00:00",
                        "totalTransactions": 886,
                        "authorizeTransactions": 47,
                        "captureTransactions": 55,
                        "payTransactions": 290,
                        "refundTransactions": 479,
                        "verifyTransactions": 7,
                        "voidTransactions": 8,
                        "successfulTransactions": 797,
                        "failedTransactions": 82,
                        "pendingTransactions": 7,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-10-31T00:00:00+00:00",
                        "intervalEnd": "2025-11-01T00:00:00+00:00",
                        "totalTransactions": 786,
                        "authorizeTransactions": 56,
                        "captureTransactions": 61,
                        "payTransactions": 201,
                        "refundTransactions": 83,
                        "verifyTransactions": 33,
                        "voidTransactions": 352,
                        "successfulTransactions": 707,
                        "failedTransactions": 77,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-01T00:00:00+00:00",
                        "intervalEnd": "2025-11-02T00:00:00+00:00",
                        "totalTransactions": 552,
                        "authorizeTransactions": 57,
                        "captureTransactions": 60,
                        "payTransactions": 384,
                        "refundTransactions": 50,
                        "verifyTransactions": 5,
                        "voidTransactions": -4,
                        "successfulTransactions": 496,
                        "failedTransactions": 54,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-02T00:00:00+00:00",
                        "intervalEnd": "2025-11-03T00:00:00+00:00",
                        "totalTransactions": 569,
                        "authorizeTransactions": 49,
                        "captureTransactions": 52,
                        "payTransactions": 242,
                        "refundTransactions": 130,
                        "verifyTransactions": 81,
                        "voidTransactions": 15,
                        "successfulTransactions": 512,
                        "failedTransactions": 52,
                        "pendingTransactions": 5,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-03T00:00:00+00:00",
                        "intervalEnd": "2025-11-04T00:00:00+00:00",
                        "totalTransactions": 211,
                        "authorizeTransactions": 24,
                        "captureTransactions": 27,
                        "payTransactions": 94,
                        "refundTransactions": 20,
                        "verifyTransactions": 28,
                        "voidTransactions": 18,
                        "successfulTransactions": 189,
                        "failedTransactions": 21,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-04T00:00:00+00:00",
                        "intervalEnd": "2025-11-05T00:00:00+00:00",
                        "totalTransactions": 771,
                        "authorizeTransactions": 91,
                        "captureTransactions": 95,
                        "payTransactions": 360,
                        "refundTransactions": 215,
                        "verifyTransactions": 9,
                        "voidTransactions": 1,
                        "successfulTransactions": 693,
                        "failedTransactions": 73,
                        "pendingTransactions": 5,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-05T00:00:00+00:00",
                        "intervalEnd": "2025-11-06T00:00:00+00:00",
                        "totalTransactions": 524,
                        "authorizeTransactions": 48,
                        "captureTransactions": 57,
                        "payTransactions": 79,
                        "refundTransactions": 96,
                        "verifyTransactions": 34,
                        "voidTransactions": 210,
                        "successfulTransactions": 471,
                        "failedTransactions": 51,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2025-10-30T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2025-11-06T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 4299
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 372
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 407
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 1650
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 1073
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 197
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 600
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 3865
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 410
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 24
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2025-10-30T00:00:00+00:00",
                          "intervalEnd": "2025-10-31T00:00:00+00:00",
                          "totalTransactions": 886,
                          "authorizeTransactions": 47,
                          "captureTransactions": 55,
                          "payTransactions": 290,
                          "refundTransactions": 479,
                          "verifyTransactions": 7,
                          "voidTransactions": 8,
                          "successfulTransactions": 797,
                          "failedTransactions": 82,
                          "pendingTransactions": 7,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-10-31T00:00:00+00:00",
                          "intervalEnd": "2025-11-01T00:00:00+00:00",
                          "totalTransactions": 786,
                          "authorizeTransactions": 56,
                          "captureTransactions": 61,
                          "payTransactions": 201,
                          "refundTransactions": 83,
                          "verifyTransactions": 33,
                          "voidTransactions": 352,
                          "successfulTransactions": 707,
                          "failedTransactions": 77,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-01T00:00:00+00:00",
                          "intervalEnd": "2025-11-02T00:00:00+00:00",
                          "totalTransactions": 552,
                          "authorizeTransactions": 57,
                          "captureTransactions": 60,
                          "payTransactions": 384,
                          "refundTransactions": 50,
                          "verifyTransactions": 5,
                          "voidTransactions": -4,
                          "successfulTransactions": 496,
                          "failedTransactions": 54,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-02T00:00:00+00:00",
                          "intervalEnd": "2025-11-03T00:00:00+00:00",
                          "totalTransactions": 569,
                          "authorizeTransactions": 49,
                          "captureTransactions": 52,
                          "payTransactions": 242,
                          "refundTransactions": 130,
                          "verifyTransactions": 81,
                          "voidTransactions": 15,
                          "successfulTransactions": 512,
                          "failedTransactions": 52,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-03T00:00:00+00:00",
                          "intervalEnd": "2025-11-04T00:00:00+00:00",
                          "totalTransactions": 211,
                          "authorizeTransactions": 24,
                          "captureTransactions": 27,
                          "payTransactions": 94,
                          "refundTransactions": 20,
                          "verifyTransactions": 28,
                          "voidTransactions": 18,
                          "successfulTransactions": 189,
                          "failedTransactions": 21,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-04T00:00:00+00:00",
                          "intervalEnd": "2025-11-05T00:00:00+00:00",
                          "totalTransactions": 771,
                          "authorizeTransactions": 91,
                          "captureTransactions": 95,
                          "payTransactions": 360,
                          "refundTransactions": 215,
                          "verifyTransactions": 9,
                          "voidTransactions": 1,
                          "successfulTransactions": 693,
                          "failedTransactions": 73,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-05T00:00:00+00:00",
                          "intervalEnd": "2025-11-06T00:00:00+00:00",
                          "totalTransactions": 524,
                          "authorizeTransactions": 48,
                          "captureTransactions": 57,
                          "payTransactions": 79,
                          "refundTransactions": 96,
                          "verifyTransactions": 34,
                          "voidTransactions": 210,
                          "successfulTransactions": 471,
                          "failedTransactions": 51,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2025-10-30T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2025-10-31T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 886
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 47
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 55
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 290
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 479
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 7
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": 8
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 797
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 82
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 7
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "",
          "example": "ducimus",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2025-10-30T00:00:00+00:00",
                    "periodEnd": "2025-11-06T00:00:00+00:00",
                    "totalSettlementAmount": 41381.08,
                    "totalFeeAmount": 2027.68,
                    "totalNetAmount": 39353.4,
                    "totalTransactionsPending": 182,
                    "totalTransactionsSettled": 1282,
                    "totalTransactionsSettling": 798,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2025-10-30T00:00:00+00:00",
                        "intervalEnd": "2025-10-31T00:00:00+00:00",
                        "totalSettlementAmount": 6201.27,
                        "totalFeeAmount": 303.86,
                        "totalNetAmount": 5897.41,
                        "totalTransactionsPending": 37,
                        "totalTransactionsSettled": 164,
                        "totalTransactionsSettling": 115
                      },
                      {
                        "intervalStart": "2025-10-31T00:00:00+00:00",
                        "intervalEnd": "2025-11-01T00:00:00+00:00",
                        "totalSettlementAmount": 9154.63,
                        "totalFeeAmount": 448.58,
                        "totalNetAmount": 8706.05,
                        "totalTransactionsPending": 27,
                        "totalTransactionsSettled": 110,
                        "totalTransactionsSettling": 196
                      },
                      {
                        "intervalStart": "2025-11-01T00:00:00+00:00",
                        "intervalEnd": "2025-11-02T00:00:00+00:00",
                        "totalSettlementAmount": 4853.87,
                        "totalFeeAmount": 237.84,
                        "totalNetAmount": 4616.03,
                        "totalTransactionsPending": 24,
                        "totalTransactionsSettled": 397,
                        "totalTransactionsSettling": 13
                      },
                      {
                        "intervalStart": "2025-11-02T00:00:00+00:00",
                        "intervalEnd": "2025-11-03T00:00:00+00:00",
                        "totalSettlementAmount": 7377.47,
                        "totalFeeAmount": 361.5,
                        "totalNetAmount": 7015.97,
                        "totalTransactionsPending": 27,
                        "totalTransactionsSettled": 73,
                        "totalTransactionsSettling": 30
                      },
                      {
                        "intervalStart": "2025-11-03T00:00:00+00:00",
                        "intervalEnd": "2025-11-04T00:00:00+00:00",
                        "totalSettlementAmount": 5370.01,
                        "totalFeeAmount": 263.13,
                        "totalNetAmount": 5106.88,
                        "totalTransactionsPending": 21,
                        "totalTransactionsSettled": 252,
                        "totalTransactionsSettling": 115
                      },
                      {
                        "intervalStart": "2025-11-04T00:00:00+00:00",
                        "intervalEnd": "2025-11-05T00:00:00+00:00",
                        "totalSettlementAmount": 5563.87,
                        "totalFeeAmount": 272.63,
                        "totalNetAmount": 5291.24,
                        "totalTransactionsPending": 39,
                        "totalTransactionsSettled": 158,
                        "totalTransactionsSettling": 208
                      },
                      {
                        "intervalStart": "2025-11-05T00:00:00+00:00",
                        "intervalEnd": "2025-11-06T00:00:00+00:00",
                        "totalSettlementAmount": 2859.96,
                        "totalFeeAmount": 140.14,
                        "totalNetAmount": 2719.82,
                        "totalTransactionsPending": 7,
                        "totalTransactionsSettled": 128,
                        "totalTransactionsSettling": 121
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2025-10-30T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2025-11-06T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 41381.08
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 2027.68
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 39353.4
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 182
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 1282
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 798
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2025-10-30T00:00:00+00:00",
                          "intervalEnd": "2025-10-31T00:00:00+00:00",
                          "totalSettlementAmount": 6201.27,
                          "totalFeeAmount": 303.86,
                          "totalNetAmount": 5897.41,
                          "totalTransactionsPending": 37,
                          "totalTransactionsSettled": 164,
                          "totalTransactionsSettling": 115
                        },
                        {
                          "intervalStart": "2025-10-31T00:00:00+00:00",
                          "intervalEnd": "2025-11-01T00:00:00+00:00",
                          "totalSettlementAmount": 9154.63,
                          "totalFeeAmount": 448.58,
                          "totalNetAmount": 8706.05,
                          "totalTransactionsPending": 27,
                          "totalTransactionsSettled": 110,
                          "totalTransactionsSettling": 196
                        },
                        {
                          "intervalStart": "2025-11-01T00:00:00+00:00",
                          "intervalEnd": "2025-11-02T00:00:00+00:00",
                          "totalSettlementAmount": 4853.87,
                          "totalFeeAmount": 237.84,
                          "totalNetAmount": 4616.03,
                          "totalTransactionsPending": 24,
                          "totalTransactionsSettled": 397,
                          "totalTransactionsSettling": 13
                        },
                        {
                          "intervalStart": "2025-11-02T00:00:00+00:00",
                          "intervalEnd": "2025-11-03T00:00:00+00:00",
                          "totalSettlementAmount": 7377.47,
                          "totalFeeAmount": 361.5,
                          "totalNetAmount": 7015.97,
                          "totalTransactionsPending": 27,
                          "totalTransactionsSettled": 73,
                          "totalTransactionsSettling": 30
                        },
                        {
                          "intervalStart": "2025-11-03T00:00:00+00:00",
                          "intervalEnd": "2025-11-04T00:00:00+00:00",
                          "totalSettlementAmount": 5370.01,
                          "totalFeeAmount": 263.13,
                          "totalNetAmount": 5106.88,
                          "totalTransactionsPending": 21,
                          "totalTransactionsSettled": 252,
                          "totalTransactionsSettling": 115
                        },
                        {
                          "intervalStart": "2025-11-04T00:00:00+00:00",
                          "intervalEnd": "2025-11-05T00:00:00+00:00",
                          "totalSettlementAmount": 5563.87,
                          "totalFeeAmount": 272.63,
                          "totalNetAmount": 5291.24,
                          "totalTransactionsPending": 39,
                          "totalTransactionsSettled": 158,
                          "totalTransactionsSettling": 208
                        },
                        {
                          "intervalStart": "2025-11-05T00:00:00+00:00",
                          "intervalEnd": "2025-11-06T00:00:00+00:00",
                          "totalSettlementAmount": 2859.96,
                          "totalFeeAmount": 140.14,
                          "totalNetAmount": 2719.82,
                          "totalTransactionsPending": 7,
                          "totalTransactionsSettled": 128,
                          "totalTransactionsSettling": 121
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2025-10-30T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2025-10-31T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 6201.27
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 303.86
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 5897.41
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 37
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 164
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 115
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "",
          "example": "dolorem",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 4,
                    "data": [
                      {
                        "email": "teresa.upton@yahoo.com",
                        "firstName": "Koby",
                        "lastName": "Bergstrom",
                        "phone": "+12543910116",
                        "dateOfBirth": "1998-08-10"
                      },
                      {
                        "email": "jeffertz@mann.com",
                        "firstName": "Brayan",
                        "lastName": "Smitham",
                        "phone": "+16898833126",
                        "dateOfBirth": "1981-10-08"
                      },
                      {
                        "email": "qyundt@gmail.com",
                        "firstName": "Javon",
                        "lastName": "Hudson",
                        "phone": "+13862652605",
                        "dateOfBirth": "1971-12-19"
                      },
                      {
                        "email": "jmueller@gmail.com",
                        "firstName": "Kattie",
                        "lastName": "Emmerich",
                        "phone": "+12156854034",
                        "dateOfBirth": "1980-11-10"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 4,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "teresa.upton@yahoo.com",
                          "firstName": "Koby",
                          "lastName": "Bergstrom",
                          "phone": "+12543910116",
                          "dateOfBirth": "1998-08-10"
                        },
                        {
                          "email": "jeffertz@mann.com",
                          "firstName": "Brayan",
                          "lastName": "Smitham",
                          "phone": "+16898833126",
                          "dateOfBirth": "1981-10-08"
                        },
                        {
                          "email": "qyundt@gmail.com",
                          "firstName": "Javon",
                          "lastName": "Hudson",
                          "phone": "+13862652605",
                          "dateOfBirth": "1971-12-19"
                        },
                        {
                          "email": "jmueller@gmail.com",
                          "firstName": "Kattie",
                          "lastName": "Emmerich",
                          "phone": "+12156854034",
                          "dateOfBirth": "1980-11-10"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "teresa.upton@yahoo.com"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Koby"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Bergstrom"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+12543910116"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "1998-08-10"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "adipisci",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/merchant/{merchantId}/purge": {
      "post": {
        "summary": "Purge Sandbox Data",
        "operationId": "purgeSandboxData",
        "description": "Delete **sandbox** data for the specified merchant. This endpoint allows deletion of different entity types related to merchants.\nThe operation is performed asynchronously and will trigger the \"payments.merchant.purge\" webhook upon completion.",
        "parameters": [
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sandbox purge job queued successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "payments": 5,
                    "customers": 3,
                    "sessions": 2,
                    "tokens": 1,
                    "merchantId": "MERCHANT123"
                  },
                  "properties": {
                    "payments": {
                      "type": "integer",
                      "example": 5
                    },
                    "customers": {
                      "type": "integer",
                      "example": 3
                    },
                    "sessions": {
                      "type": "integer",
                      "example": 2
                    },
                    "tokens": {
                      "type": "integer",
                      "example": 1
                    },
                    "merchantId": {
                      "type": "string",
                      "example": "MERCHANT123"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "The field1 is required (and one other error)",
                    "errors": {
                      "field1": [
                        "The field1 is required."
                      ],
                      "field2": [
                        "The field2 must be a valid value."
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "message": {
                      "type": "string",
                      "example": "The field1 is required (and one other error)",
                      "description": "A message describing the result of the request",
                      "enum": []
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "field1": {
                          "type": "array",
                          "example": [
                            "The field1 is required."
                          ],
                          "items": {
                            "type": "string"
                          }
                        },
                        "field2": {
                          "type": "array",
                          "example": [
                            "The field2 must be a valid value."
                          ],
                          "items": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Any errors that occurred during the request"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "Authentication is required"
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "message": {
                      "type": "string",
                      "example": "Authentication is required",
                      "description": "A message describing the result of the request",
                      "enum": []
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "Internal Server Error"
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error",
                      "description": "A message describing the result of the request",
                      "enum": []
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Merchant Purge"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$class": "App\\Data\\Api\\N1\\Merchant\\PurgeMerchantRequestBody",
                "type": "object",
                "description": null,
                "properties": {
                  "payments": {
                    "type": "boolean",
                    "nullable": true,
                    "example": true,
                    "description": "Delete all merchant payments"
                  },
                  "customers": {
                    "type": "boolean",
                    "nullable": true,
                    "example": true,
                    "description": "Delete all merchant customers"
                  },
                  "sessions": {
                    "type": "boolean",
                    "nullable": true,
                    "example": true,
                    "description": "Delete all merchant sessions"
                  },
                  "tokens": {
                    "type": "boolean",
                    "nullable": true,
                    "example": true,
                    "description": "Delete all merchant tokens"
                  }
                }
              },
              "examples": {
                "example": {
                  "summary": "Example",
                  "value": {
                    "payments": true,
                    "customers": true,
                    "sessions": true,
                    "tokens": true
                  }
                },
                "paymentsOnly": {
                  "summary": "Payments Only",
                  "value": {
                    "payments": true,
                    "customers": false,
                    "sessions": false,
                    "tokens": false
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "123456",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/merchant/{merchantId}/order/{orderId}": {
      "get": {
        "summary": "Get Order",
        "operationId": "getOrder",
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving an order",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "description": "Test order",
                    "amount": 399.12,
                    "currency": "USD"
                  },
                  "properties": {
                    "description": {
                      "type": "string",
                      "example": "Test order"
                    },
                    "amount": {
                      "type": "number",
                      "example": 399.12
                    },
                    "currency": {
                      "type": "string",
                      "example": "USD"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "The field1 is required (and one other error)",
                    "errors": {
                      "field1": [
                        "The field1 is required."
                      ],
                      "field2": [
                        "The field2 must be a valid value."
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "message": {
                      "type": "string",
                      "example": "The field1 is required (and one other error)",
                      "description": "A message describing the result of the request",
                      "enum": []
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "field1": {
                          "type": "array",
                          "example": [
                            "The field1 is required."
                          ],
                          "items": {
                            "type": "string"
                          }
                        },
                        "field2": {
                          "type": "array",
                          "example": [
                            "The field2 must be a valid value."
                          ],
                          "items": {
[...]
