{
  "openapi": "3.1.0",
  "info": {
    "version": "1.20.0",
    "title": "Payments API"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "paths": {
    "/api/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2025-10-30T00:00:00+00:00",
                    "periodEnd": "2025-11-06T00:00:00+00:00",
                    "numPaymentsCreated": 4153,
                    "numPaymentsProcessed": 2186,
                    "numPaymentsIncomplete": 1967,
                    "numPaymentsWithRefunds": 756,
                    "numCardPresentPayments": 734,
                    "numCardNotPresentPayments": 1233,
                    "totalCapturedAmount": 3365784.73,
                    "totalRefundedAmount": 537159.99,
                    "totalNetCapturedAmount": 2828624.74,
                    "averageNetCapturedAmount": 1938.19,
                    "minNetCapturedAmount": 13.2,
                    "maxNetCapturedAmount": 9682.31,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2025-10-30T00:00:00+00:00",
                        "intervalEnd": "2025-10-31T00:00:00+00:00",
                        "numPaymentsCreated": 738,
                        "numPaymentsProcessed": 211,
                        "numPaymentsIncomplete": 527,
                        "numPaymentsWithRefunds": 68,
                        "numCardPresentPayments": 24,
                        "numCardNotPresentPayments": 503,
                        "totalCapturedAmount": 499131.75,
                        "totalRefundedAmount": 32848.46,
                        "totalNetCapturedAmount": 466283.29,
                        "averageNetCapturedAmount": 2209.87,
                        "minNetCapturedAmount": 23.71,
                        "maxNetCapturedAmount": 9682.31
                      },
                      {
                        "intervalStart": "2025-10-31T00:00:00+00:00",
                        "intervalEnd": "2025-11-01T00:00:00+00:00",
                        "numPaymentsCreated": 744,
                        "numPaymentsProcessed": 201,
                        "numPaymentsIncomplete": 543,
                        "numPaymentsWithRefunds": 97,
                        "numCardPresentPayments": 44,
                        "numCardNotPresentPayments": 499,
                        "totalCapturedAmount": 677314.54,
                        "totalRefundedAmount": 166436.24,
                        "totalNetCapturedAmount": 510878.3,
                        "averageNetCapturedAmount": 2541.68,
                        "minNetCapturedAmount": 45.83,
                        "maxNetCapturedAmount": 5139.67
                      },
                      {
                        "intervalStart": "2025-11-01T00:00:00+00:00",
                        "intervalEnd": "2025-11-02T00:00:00+00:00",
                        "numPaymentsCreated": 624,
                        "numPaymentsProcessed": 557,
                        "numPaymentsIncomplete": 67,
                        "numPaymentsWithRefunds": 24,
                        "numCardPresentPayments": 4,
                        "numCardNotPresentPayments": 63,
                        "totalCapturedAmount": 754229.33,
                        "totalRefundedAmount": 183714.07,
                        "totalNetCapturedAmount": 570515.26,
                        "averageNetCapturedAmount": 1024.26,
                        "minNetCapturedAmount": 30.17,
                        "maxNetCapturedAmount": 3078.74
                      },
                      {
                        "intervalStart": "2025-11-02T00:00:00+00:00",
                        "intervalEnd": "2025-11-03T00:00:00+00:00",
                        "numPaymentsCreated": 116,
                        "numPaymentsProcessed": 84,
                        "numPaymentsIncomplete": 32,
                        "numPaymentsWithRefunds": 29,
                        "numCardPresentPayments": 84,
                        "numCardNotPresentPayments": -52,
                        "totalCapturedAmount": 253801.01,
                        "totalRefundedAmount": 23789.01,
                        "totalNetCapturedAmount": 230012,
                        "averageNetCapturedAmount": 2738.24,
                        "minNetCapturedAmount": 16.98,
                        "maxNetCapturedAmount": 3558.88
                      },
                      {
                        "intervalStart": "2025-11-03T00:00:00+00:00",
                        "intervalEnd": "2025-11-04T00:00:00+00:00",
                        "numPaymentsCreated": 995,
                        "numPaymentsProcessed": 872,
                        "numPaymentsIncomplete": 123,
                        "numPaymentsWithRefunds": 384,
                        "numCardPresentPayments": 380,
                        "numCardNotPresentPayments": -257,
                        "totalCapturedAmount": 531758.04,
                        "totalRefundedAmount": 78282.75,
                        "totalNetCapturedAmount": 453475.29,
                        "averageNetCapturedAmount": 520.04,
                        "minNetCapturedAmount": 56.2,
                        "maxNetCapturedAmount": 3842.63
                      },
                      {
                        "intervalStart": "2025-11-04T00:00:00+00:00",
                        "intervalEnd": "2025-11-05T00:00:00+00:00",
                        "numPaymentsCreated": 755,
                        "numPaymentsProcessed": 133,
                        "numPaymentsIncomplete": 622,
                        "numPaymentsWithRefunds": 58,
                        "numCardPresentPayments": 94,
                        "numCardNotPresentPayments": 528,
                        "totalCapturedAmount": 482421.07,
                        "totalRefundedAmount": 24823.89,
                        "totalNetCapturedAmount": 457597.18,
                        "averageNetCapturedAmount": 3440.58,
                        "minNetCapturedAmount": 23.09,
                        "maxNetCapturedAmount": 2681.44
                      },
                      {
                        "intervalStart": "2025-11-05T00:00:00+00:00",
                        "intervalEnd": "2025-11-06T00:00:00+00:00",
                        "numPaymentsCreated": 181,
                        "numPaymentsProcessed": 128,
                        "numPaymentsIncomplete": 53,
                        "numPaymentsWithRefunds": 96,
                        "numCardPresentPayments": 104,
                        "numCardNotPresentPayments": -51,
                        "totalCapturedAmount": 167128.99,
                        "totalRefundedAmount": 27265.57,
                        "totalNetCapturedAmount": 139863.42,
                        "averageNetCapturedAmount": 1092.68,
                        "minNetCapturedAmount": 13.2,
                        "maxNetCapturedAmount": 8265.86
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2025-10-30T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2025-11-06T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 4153
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 2186
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 1967
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 756
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 734
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": 1233
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 3365784.73
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 537159.99
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 2828624.74
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 1938.19
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 13.2
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 9682.31
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2025-10-30T00:00:00+00:00",
                          "intervalEnd": "2025-10-31T00:00:00+00:00",
                          "numPaymentsCreated": 738,
                          "numPaymentsProcessed": 211,
                          "numPaymentsIncomplete": 527,
                          "numPaymentsWithRefunds": 68,
                          "numCardPresentPayments": 24,
                          "numCardNotPresentPayments": 503,
                          "totalCapturedAmount": 499131.75,
                          "totalRefundedAmount": 32848.46,
                          "totalNetCapturedAmount": 466283.29,
                          "averageNetCapturedAmount": 2209.87,
                          "minNetCapturedAmount": 23.71,
                          "maxNetCapturedAmount": 9682.31
                        },
                        {
                          "intervalStart": "2025-10-31T00:00:00+00:00",
                          "intervalEnd": "2025-11-01T00:00:00+00:00",
                          "numPaymentsCreated": 744,
                          "numPaymentsProcessed": 201,
                          "numPaymentsIncomplete": 543,
                          "numPaymentsWithRefunds": 97,
                          "numCardPresentPayments": 44,
                          "numCardNotPresentPayments": 499,
                          "totalCapturedAmount": 677314.54,
                          "totalRefundedAmount": 166436.24,
                          "totalNetCapturedAmount": 510878.3,
                          "averageNetCapturedAmount": 2541.68,
                          "minNetCapturedAmount": 45.83,
                          "maxNetCapturedAmount": 5139.67
                        },
                        {
                          "intervalStart": "2025-11-01T00:00:00+00:00",
                          "intervalEnd": "2025-11-02T00:00:00+00:00",
                          "numPaymentsCreated": 624,
                          "numPaymentsProcessed": 557,
                          "numPaymentsIncomplete": 67,
                          "numPaymentsWithRefunds": 24,
                          "numCardPresentPayments": 4,
                          "numCardNotPresentPayments": 63,
                          "totalCapturedAmount": 754229.33,
                          "totalRefundedAmount": 183714.07,
                          "totalNetCapturedAmount": 570515.26,
                          "averageNetCapturedAmount": 1024.26,
                          "minNetCapturedAmount": 30.17,
                          "maxNetCapturedAmount": 3078.74
                        },
                        {
                          "intervalStart": "2025-11-02T00:00:00+00:00",
                          "intervalEnd": "2025-11-03T00:00:00+00:00",
                          "numPaymentsCreated": 116,
                          "numPaymentsProcessed": 84,
                          "numPaymentsIncomplete": 32,
                          "numPaymentsWithRefunds": 29,
                          "numCardPresentPayments": 84,
                          "numCardNotPresentPayments": -52,
                          "totalCapturedAmount": 253801.01,
                          "totalRefundedAmount": 23789.01,
                          "totalNetCapturedAmount": 230012,
                          "averageNetCapturedAmount": 2738.24,
                          "minNetCapturedAmount": 16.98,
                          "maxNetCapturedAmount": 3558.88
                        },
                        {
                          "intervalStart": "2025-11-03T00:00:00+00:00",
                          "intervalEnd": "2025-11-04T00:00:00+00:00",
                          "numPaymentsCreated": 995,
                          "numPaymentsProcessed": 872,
                          "numPaymentsIncomplete": 123,
                          "numPaymentsWithRefunds": 384,
                          "numCardPresentPayments": 380,
                          "numCardNotPresentPayments": -257,
                          "totalCapturedAmount": 531758.04,
                          "totalRefundedAmount": 78282.75,
                          "totalNetCapturedAmount": 453475.29,
                          "averageNetCapturedAmount": 520.04,
                          "minNetCapturedAmount": 56.2,
                          "maxNetCapturedAmount": 3842.63
                        },
                        {
                          "intervalStart": "2025-11-04T00:00:00+00:00",
                          "intervalEnd": "2025-11-05T00:00:00+00:00",
                          "numPaymentsCreated": 755,
                          "numPaymentsProcessed": 133,
                          "numPaymentsIncomplete": 622,
                          "numPaymentsWithRefunds": 58,
                          "numCardPresentPayments": 94,
                          "numCardNotPresentPayments": 528,
                          "totalCapturedAmount": 482421.07,
                          "totalRefundedAmount": 24823.89,
                          "totalNetCapturedAmount": 457597.18,
                          "averageNetCapturedAmount": 3440.58,
                          "minNetCapturedAmount": 23.09,
                          "maxNetCapturedAmount": 2681.44
                        },
                        {
                          "intervalStart": "2025-11-05T00:00:00+00:00",
                          "intervalEnd": "2025-11-06T00:00:00+00:00",
                          "numPaymentsCreated": 181,
                          "numPaymentsProcessed": 128,
                          "numPaymentsIncomplete": 53,
                          "numPaymentsWithRefunds": 96,
                          "numCardPresentPayments": 104,
                          "numCardNotPresentPayments": -51,
                          "totalCapturedAmount": 167128.99,
                          "totalRefundedAmount": 27265.57,
                          "totalNetCapturedAmount": 139863.42,
                          "averageNetCapturedAmount": 1092.68,
                          "minNetCapturedAmount": 13.2,
                          "maxNetCapturedAmount": 8265.86
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2025-10-30T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2025-10-31T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 738
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 211
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 527
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 68
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 24
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": 503
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 499131.75
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 32848.46
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 466283.29
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 2209.87
                          },
                          "minNetCapturedAmount": {
                            "type": "number",
                            "example": 23.71
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 9682.31
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2025-10-30T00:00:00+00:00",
                    "periodEnd": "2025-11-06T00:00:00+00:00",
                    "activeCustomers": 356,
                    "newCustomers": 237,
                    "returningCustomers": 119,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2025-10-30T00:00:00+00:00",
                        "intervalEnd": "2025-10-31T00:00:00+00:00",
                        "activeCustomers": 98,
                        "newCustomers": 56,
                        "returningCustomers": 42
                      },
                      {
                        "intervalStart": "2025-10-31T00:00:00+00:00",
                        "intervalEnd": "2025-11-01T00:00:00+00:00",
                        "activeCustomers": 14,
                        "newCustomers": 9,
                        "returningCustomers": 5
                      },
                      {
                        "intervalStart": "2025-11-01T00:00:00+00:00",
                        "intervalEnd": "2025-11-02T00:00:00+00:00",
                        "activeCustomers": 59,
                        "newCustomers": 34,
                        "returningCustomers": 25
                      },
                      {
                        "intervalStart": "2025-11-02T00:00:00+00:00",
                        "intervalEnd": "2025-11-03T00:00:00+00:00",
                        "activeCustomers": 20,
                        "newCustomers": 7,
                        "returningCustomers": 13
                      },
                      {
                        "intervalStart": "2025-11-03T00:00:00+00:00",
                        "intervalEnd": "2025-11-04T00:00:00+00:00",
                        "activeCustomers": 34,
                        "newCustomers": 22,
                        "returningCustomers": 12
                      },
                      {
                        "intervalStart": "2025-11-04T00:00:00+00:00",
                        "intervalEnd": "2025-11-05T00:00:00+00:00",
                        "activeCustomers": 90,
                        "newCustomers": 38,
                        "returningCustomers": 52
                      },
                      {
                        "intervalStart": "2025-11-05T00:00:00+00:00",
                        "intervalEnd": "2025-11-06T00:00:00+00:00",
                        "activeCustomers": 98,
                        "newCustomers": 71,
                        "returningCustomers": 27
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2025-10-30T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2025-11-06T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 356
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 237
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": 119
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2025-10-30T00:00:00+00:00",
                          "intervalEnd": "2025-10-31T00:00:00+00:00",
                          "activeCustomers": 98,
                          "newCustomers": 56,
                          "returningCustomers": 42
                        },
                        {
                          "intervalStart": "2025-10-31T00:00:00+00:00",
                          "intervalEnd": "2025-11-01T00:00:00+00:00",
                          "activeCustomers": 14,
                          "newCustomers": 9,
                          "returningCustomers": 5
                        },
                        {
                          "intervalStart": "2025-11-01T00:00:00+00:00",
                          "intervalEnd": "2025-11-02T00:00:00+00:00",
                          "activeCustomers": 59,
                          "newCustomers": 34,
                          "returningCustomers": 25
                        },
                        {
                          "intervalStart": "2025-11-02T00:00:00+00:00",
                          "intervalEnd": "2025-11-03T00:00:00+00:00",
                          "activeCustomers": 20,
                          "newCustomers": 7,
                          "returningCustomers": 13
                        },
                        {
                          "intervalStart": "2025-11-03T00:00:00+00:00",
                          "intervalEnd": "2025-11-04T00:00:00+00:00",
                          "activeCustomers": 34,
                          "newCustomers": 22,
                          "returningCustomers": 12
                        },
                        {
                          "intervalStart": "2025-11-04T00:00:00+00:00",
                          "intervalEnd": "2025-11-05T00:00:00+00:00",
                          "activeCustomers": 90,
                          "newCustomers": 38,
                          "returningCustomers": 52
                        },
                        {
                          "intervalStart": "2025-11-05T00:00:00+00:00",
                          "intervalEnd": "2025-11-06T00:00:00+00:00",
                          "activeCustomers": 98,
                          "newCustomers": 71,
                          "returningCustomers": 27
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2025-10-30T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2025-10-31T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 98
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 56
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 42
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2025-10-30T00:00:00+00:00",
                    "periodEnd": "2025-11-06T00:00:00+00:00",
                    "totalTransactions": 4437,
                    "authorizeTransactions": 299,
                    "captureTransactions": 340,
                    "payTransactions": 1961,
                    "refundTransactions": 817,
                    "verifyTransactions": 487,
                    "voidTransactions": 533,
                    "successfulTransactions": 3989,
                    "failedTransactions": 423,
                    "pendingTransactions": 25,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2025-10-30T00:00:00+00:00",
                        "intervalEnd": "2025-10-31T00:00:00+00:00",
                        "totalTransactions": 379,
                        "authorizeTransactions": 46,
                        "captureTransactions": 55,
                        "payTransactions": 49,
                        "refundTransactions": 39,
                        "verifyTransactions": 40,
                        "voidTransactions": 150,
                        "successfulTransactions": 341,
                        "failedTransactions": 37,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-10-31T00:00:00+00:00",
                        "intervalEnd": "2025-11-01T00:00:00+00:00",
                        "totalTransactions": 261,
                        "authorizeTransactions": 13,
                        "captureTransactions": 15,
                        "payTransactions": 76,
                        "refundTransactions": 134,
                        "verifyTransactions": 16,
                        "voidTransactions": 7,
                        "successfulTransactions": 234,
                        "failedTransactions": 26,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-01T00:00:00+00:00",
                        "intervalEnd": "2025-11-02T00:00:00+00:00",
                        "totalTransactions": 963,
                        "authorizeTransactions": 90,
                        "captureTransactions": 96,
                        "payTransactions": 451,
                        "refundTransactions": 118,
                        "verifyTransactions": 198,
                        "voidTransactions": 10,
                        "successfulTransactions": 866,
                        "failedTransactions": 93,
                        "pendingTransactions": 4,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-02T00:00:00+00:00",
                        "intervalEnd": "2025-11-03T00:00:00+00:00",
                        "totalTransactions": 902,
                        "authorizeTransactions": 20,
                        "captureTransactions": 25,
                        "payTransactions": 337,
                        "refundTransactions": 108,
                        "verifyTransactions": 63,
                        "voidTransactions": 349,
                        "successfulTransactions": 811,
                        "failedTransactions": 84,
                        "pendingTransactions": 7,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-03T00:00:00+00:00",
                        "intervalEnd": "2025-11-04T00:00:00+00:00",
                        "totalTransactions": 717,
                        "authorizeTransactions": 66,
                        "captureTransactions": 70,
                        "payTransactions": 160,
                        "refundTransactions": 371,
                        "verifyTransactions": 48,
                        "voidTransactions": 2,
                        "successfulTransactions": 645,
                        "failedTransactions": 68,
                        "pendingTransactions": 4,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-04T00:00:00+00:00",
                        "intervalEnd": "2025-11-05T00:00:00+00:00",
                        "totalTransactions": 763,
                        "authorizeTransactions": 40,
                        "captureTransactions": 46,
                        "payTransactions": 510,
                        "refundTransactions": 35,
                        "verifyTransactions": 117,
                        "voidTransactions": 15,
                        "successfulTransactions": 686,
                        "failedTransactions": 73,
                        "pendingTransactions": 4,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-05T00:00:00+00:00",
                        "intervalEnd": "2025-11-06T00:00:00+00:00",
                        "totalTransactions": 452,
                        "authorizeTransactions": 24,
                        "captureTransactions": 33,
                        "payTransactions": 378,
                        "refundTransactions": 12,
                        "verifyTransactions": 5,
                        "voidTransactions": 0,
                        "successfulTransactions": 406,
                        "failedTransactions": 42,
                        "pendingTransactions": 4,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2025-10-30T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2025-11-06T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 4437
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 299
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 340
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 1961
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 817
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 487
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 533
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 3989
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 423
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 25
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2025-10-30T00:00:00+00:00",
                          "intervalEnd": "2025-10-31T00:00:00+00:00",
                          "totalTransactions": 379,
                          "authorizeTransactions": 46,
                          "captureTransactions": 55,
                          "payTransactions": 49,
                          "refundTransactions": 39,
                          "verifyTransactions": 40,
                          "voidTransactions": 150,
                          "successfulTransactions": 341,
                          "failedTransactions": 37,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-10-31T00:00:00+00:00",
                          "intervalEnd": "2025-11-01T00:00:00+00:00",
                          "totalTransactions": 261,
                          "authorizeTransactions": 13,
                          "captureTransactions": 15,
                          "payTransactions": 76,
                          "refundTransactions": 134,
                          "verifyTransactions": 16,
                          "voidTransactions": 7,
                          "successfulTransactions": 234,
                          "failedTransactions": 26,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-01T00:00:00+00:00",
                          "intervalEnd": "2025-11-02T00:00:00+00:00",
                          "totalTransactions": 963,
                          "authorizeTransactions": 90,
                          "captureTransactions": 96,
                          "payTransactions": 451,
                          "refundTransactions": 118,
                          "verifyTransactions": 198,
                          "voidTransactions": 10,
                          "successfulTransactions": 866,
                          "failedTransactions": 93,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-02T00:00:00+00:00",
                          "intervalEnd": "2025-11-03T00:00:00+00:00",
                          "totalTransactions": 902,
                          "authorizeTransactions": 20,
                          "captureTransactions": 25,
                          "payTransactions": 337,
                          "refundTransactions": 108,
                          "verifyTransactions": 63,
                          "voidTransactions": 349,
                          "successfulTransactions": 811,
                          "failedTransactions": 84,
                          "pendingTransactions": 7,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-03T00:00:00+00:00",
                          "intervalEnd": "2025-11-04T00:00:00+00:00",
                          "totalTransactions": 717,
                          "authorizeTransactions": 66,
                          "captureTransactions": 70,
                          "payTransactions": 160,
                          "refundTransactions": 371,
                          "verifyTransactions": 48,
                          "voidTransactions": 2,
                          "successfulTransactions": 645,
                          "failedTransactions": 68,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-04T00:00:00+00:00",
                          "intervalEnd": "2025-11-05T00:00:00+00:00",
                          "totalTransactions": 763,
                          "authorizeTransactions": 40,
                          "captureTransactions": 46,
                          "payTransactions": 510,
                          "refundTransactions": 35,
                          "verifyTransactions": 117,
                          "voidTransactions": 15,
                          "successfulTransactions": 686,
                          "failedTransactions": 73,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-05T00:00:00+00:00",
                          "intervalEnd": "2025-11-06T00:00:00+00:00",
                          "totalTransactions": 452,
                          "authorizeTransactions": 24,
                          "captureTransactions": 33,
                          "payTransactions": 378,
                          "refundTransactions": 12,
                          "verifyTransactions": 5,
                          "voidTransactions": 0,
                          "successfulTransactions": 406,
                          "failedTransactions": 42,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2025-10-30T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2025-10-31T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 379
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 46
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 55
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 49
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 39
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 40
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": 150
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 341
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 37
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 1
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2025-10-30T00:00:00+00:00",
                    "periodEnd": "2025-11-06T00:00:00+00:00",
                    "totalSettlementAmount": 43185.92,
                    "totalFeeAmount": 2116.12,
                    "totalNetAmount": 41069.8,
                    "totalTransactionsPending": 190,
                    "totalTransactionsSettled": 919,
                    "totalTransactionsSettling": 1023,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2025-10-30T00:00:00+00:00",
                        "intervalEnd": "2025-10-31T00:00:00+00:00",
                        "totalSettlementAmount": 3280.62,
                        "totalFeeAmount": 160.75,
                        "totalNetAmount": 3119.87,
                        "totalTransactionsPending": 40,
                        "totalTransactionsSettled": 42,
                        "totalTransactionsSettling": 199
                      },
                      {
                        "intervalStart": "2025-10-31T00:00:00+00:00",
                        "intervalEnd": "2025-11-01T00:00:00+00:00",
                        "totalSettlementAmount": 1064.97,
                        "totalFeeAmount": 52.18,
                        "totalNetAmount": 1012.79,
                        "totalTransactionsPending": 40,
                        "totalTransactionsSettled": 274,
                        "totalTransactionsSettling": 88
                      },
                      {
                        "intervalStart": "2025-11-01T00:00:00+00:00",
                        "intervalEnd": "2025-11-02T00:00:00+00:00",
                        "totalSettlementAmount": 7789.53,
                        "totalFeeAmount": 381.69,
                        "totalNetAmount": 7407.84,
                        "totalTransactionsPending": 7,
                        "totalTransactionsSettled": 41,
                        "totalTransactionsSettling": 200
                      },
                      {
                        "intervalStart": "2025-11-02T00:00:00+00:00",
                        "intervalEnd": "2025-11-03T00:00:00+00:00",
                        "totalSettlementAmount": 4357.94,
                        "totalFeeAmount": 213.54,
                        "totalNetAmount": 4144.4,
                        "totalTransactionsPending": 25,
                        "totalTransactionsSettled": 100,
                        "totalTransactionsSettling": 210
                      },
                      {
                        "intervalStart": "2025-11-03T00:00:00+00:00",
                        "intervalEnd": "2025-11-04T00:00:00+00:00",
                        "totalSettlementAmount": 8058.68,
                        "totalFeeAmount": 394.88,
                        "totalNetAmount": 7663.8,
                        "totalTransactionsPending": 37,
                        "totalTransactionsSettled": 21,
                        "totalTransactionsSettling": 47
                      },
                      {
                        "intervalStart": "2025-11-04T00:00:00+00:00",
                        "intervalEnd": "2025-11-05T00:00:00+00:00",
                        "totalSettlementAmount": 9665.09,
                        "totalFeeAmount": 473.59,
                        "totalNetAmount": 9191.5,
                        "totalTransactionsPending": 15,
                        "totalTransactionsSettled": 221,
                        "totalTransactionsSettling": 25
                      },
                      {
                        "intervalStart": "2025-11-05T00:00:00+00:00",
                        "intervalEnd": "2025-11-06T00:00:00+00:00",
                        "totalSettlementAmount": 8969.09,
                        "totalFeeAmount": 439.49,
                        "totalNetAmount": 8529.6,
                        "totalTransactionsPending": 26,
                        "totalTransactionsSettled": 220,
                        "totalTransactionsSettling": 254
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2025-10-30T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2025-11-06T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 43185.92
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 2116.12
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 41069.8
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 190
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 919
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 1023
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2025-10-30T00:00:00+00:00",
                          "intervalEnd": "2025-10-31T00:00:00+00:00",
                          "totalSettlementAmount": 3280.62,
                          "totalFeeAmount": 160.75,
                          "totalNetAmount": 3119.87,
                          "totalTransactionsPending": 40,
                          "totalTransactionsSettled": 42,
                          "totalTransactionsSettling": 199
                        },
                        {
                          "intervalStart": "2025-10-31T00:00:00+00:00",
                          "intervalEnd": "2025-11-01T00:00:00+00:00",
                          "totalSettlementAmount": 1064.97,
                          "totalFeeAmount": 52.18,
                          "totalNetAmount": 1012.79,
                          "totalTransactionsPending": 40,
                          "totalTransactionsSettled": 274,
                          "totalTransactionsSettling": 88
                        },
                        {
                          "intervalStart": "2025-11-01T00:00:00+00:00",
                          "intervalEnd": "2025-11-02T00:00:00+00:00",
                          "totalSettlementAmount": 7789.53,
                          "totalFeeAmount": 381.69,
                          "totalNetAmount": 7407.84,
                          "totalTransactionsPending": 7,
                          "totalTransactionsSettled": 41,
                          "totalTransactionsSettling": 200
                        },
                        {
                          "intervalStart": "2025-11-02T00:00:00+00:00",
                          "intervalEnd": "2025-11-03T00:00:00+00:00",
                          "totalSettlementAmount": 4357.94,
                          "totalFeeAmount": 213.54,
                          "totalNetAmount": 4144.4,
                          "totalTransactionsPending": 25,
                          "totalTransactionsSettled": 100,
                          "totalTransactionsSettling": 210
                        },
                        {
                          "intervalStart": "2025-11-03T00:00:00+00:00",
                          "intervalEnd": "2025-11-04T00:00:00+00:00",
                          "totalSettlementAmount": 8058.68,
                          "totalFeeAmount": 394.88,
                          "totalNetAmount": 7663.8,
                          "totalTransactionsPending": 37,
                          "totalTransactionsSettled": 21,
                          "totalTransactionsSettling": 47
                        },
                        {
                          "intervalStart": "2025-11-04T00:00:00+00:00",
                          "intervalEnd": "2025-11-05T00:00:00+00:00",
                          "totalSettlementAmount": 9665.09,
                          "totalFeeAmount": 473.59,
                          "totalNetAmount": 9191.5,
                          "totalTransactionsPending": 15,
                          "totalTransactionsSettled": 221,
                          "totalTransactionsSettling": 25
                        },
                        {
                          "intervalStart": "2025-11-05T00:00:00+00:00",
                          "intervalEnd": "2025-11-06T00:00:00+00:00",
                          "totalSettlementAmount": 8969.09,
                          "totalFeeAmount": 439.49,
                          "totalNetAmount": 8529.6,
                          "totalTransactionsPending": 26,
                          "totalTransactionsSettled": 220,
                          "totalTransactionsSettling": 254
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2025-10-30T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2025-10-31T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 3280.62
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 160.75
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 3119.87
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 40
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 42
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 199
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 5,
                    "data": [
                      {
                        "email": "walter.ila@miller.net",
                        "firstName": "Reece",
                        "lastName": "Jones",
                        "phone": "+19202664231",
                        "dateOfBirth": "1975-04-30"
                      },
                      {
                        "email": "allene45@vandervort.biz",
                        "firstName": "Cristina",
                        "lastName": "Legros",
                        "phone": "+19525864064",
                        "dateOfBirth": "2007-01-20"
                      },
                      {
                        "email": "naomi.runte@hotmail.com",
                        "firstName": "Clyde",
                        "lastName": "Bashirian",
                        "phone": "+15313390195",
                        "dateOfBirth": "1979-02-22"
                      },
                      {
                        "email": "streich.gabriella@schaden.com",
                        "firstName": "Dudley",
                        "lastName": "Parisian",
                        "phone": "+15672433221",
                        "dateOfBirth": "1993-05-28"
                      },
                      {
                        "email": "dariana49@hotmail.com",
                        "firstName": "Hazel",
                        "lastName": "Ziemann",
                        "phone": "+14582679381",
                        "dateOfBirth": "1970-10-09"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 5,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "walter.ila@miller.net",
                          "firstName": "Reece",
                          "lastName": "Jones",
                          "phone": "+19202664231",
                          "dateOfBirth": "1975-04-30"
                        },
                        {
                          "email": "allene45@vandervort.biz",
                          "firstName": "Cristina",
                          "lastName": "Legros",
                          "phone": "+19525864064",
                          "dateOfBirth": "2007-01-20"
                        },
                        {
                          "email": "naomi.runte@hotmail.com",
                          "firstName": "Clyde",
                          "lastName": "Bashirian",
                          "phone": "+15313390195",
                          "dateOfBirth": "1979-02-22"
                        },
                        {
                          "email": "streich.gabriella@schaden.com",
                          "firstName": "Dudley",
                          "lastName": "Parisian",
                          "phone": "+15672433221",
                          "dateOfBirth": "1993-05-28"
                        },
                        {
                          "email": "dariana49@hotmail.com",
                          "firstName": "Hazel",
                          "lastName": "Ziemann",
                          "phone": "+14582679381",
                          "dateOfBirth": "1970-10-09"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "walter.ila@miller.net"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Reece"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Jones"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+19202664231"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "1975-04-30"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/merchant/{merchantId}/purge": {
      "post": {
        "summary": "Purge Sandbox Data",
        "operationId": "purgeSandboxData",
        "description": "Delete **sandbox** data for the specified merchant. This endpoint allows deletion of different entity types related to merchants.\nThe operation is performed asynchronously and will trigger the \"payments.merchant.purge\" webhook upon completion.",
        "parameters": [
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sandbox purge job queued successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "payments": 5,
                    "customers": 3,
                    "sessions": 2,
                    "tokens": 1,
                    "merchantId": "MERCHANT123"
                  },
                  "properties": {
                    "payments": {
                      "type": "integer",
                      "example": 5
                    },
                    "customers": {
                      "type": "integer",
                      "example": 3
                    },
                    "sessions": {
                      "type": "integer",
                      "example": 2
                    },
                    "tokens": {
                      "type": "integer",
                      "example": 1
                    },
                    "merchantId": {
                      "type": "string",
                      "example": "MERCHANT123"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "The field1 is required (and one other error)",
                    "errors": {
                      "field1": [
                        "The field1 is required."
                      ],
                      "field2": [
                        "The field2 must be a valid value."
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "message": {
                      "type": "string",
                      "example": "The field1 is required (and one other error)",
                      "description": "A message describing the result of the request",
                      "enum": []
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "field1": {
                          "type": "array",
                          "example": [
                            "The field1 is required."
                          ],
                          "items": {
                            "type": "string"
                          }
                        },
                        "field2": {
                          "type": "array",
                          "example": [
                            "The field2 must be a valid value."
                          ],
                          "items": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Any errors that occurred during the request"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "Authentication is required"
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "message": {
                      "type": "string",
                      "example": "Authentication is required",
                      "description": "A message describing the result of the request",
                      "enum": []
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "Internal Server Error"
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error",
                      "description": "A message describing the result of the request",
                      "enum": []
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Merchant Purge"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$class": "App\\Data\\Api\\N1\\Merchant\\PurgeMerchantRequestBody",
                "type": "object",
                "description": null,
                "properties": {
                  "payments": {
                    "type": "boolean",
                    "nullable": true,
                    "example": true,
                    "description": "Delete all merchant payments"
                  },
                  "customers": {
                    "type": "boolean",
                    "nullable": true,
                    "example": true,
                    "description": "Delete all merchant customers"
                  },
                  "sessions": {
                    "type": "boolean",
                    "nullable": true,
                    "example": true,
                    "description": "Delete all merchant sessions"
                  },
                  "tokens": {
                    "type": "boolean",
                    "nullable": true,
                    "example": true,
                    "description": "Delete all merchant tokens"
                  }
                }
              },
              "examples": {
                "example": {
                  "summary": "Example",
                  "value": {
                    "payments": true,
                    "customers": true,
                    "sessions": true,
                    "tokens": true
                  }
                },
                "paymentsOnly": {
                  "summary": "Payments Only",
                  "value": {
                    "payments": true,
                    "customers": false,
                    "sessions": false,
                    "tokens": false
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/merchant/{merchantId}/order/{orderId}": {
      "get": {
        "summary": "Get Order",
        "operationId": "getOrder",
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving an order",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "description": "Test order",
                    "amount": 501.77,
                    "currency": "USD"
                  },
                  "properties": {
                    "description": {
                      "type": "string",
                      "example": "Test order"
                    },
                    "amount": {
                      "type": "number",
                      "example": 501.77
                    },
                    "currency": {
                      "type": "string",
                      "example": "USD"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "The field1 is required (and one other error)",
                    "errors": {
                      "field1": [
                        "The field1 is required."
                      ],
                      "field2": [
                        "The field2 must be a valid value."
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "message": {
                      "type": "string",
                      "example": "The field1 is required (and one other error)",
                      "description": "A message describing the result of the request",
                      "enum": []
[...]
