{
  "openapi": "3.1.0",
  "info": {
    "version": "1.20.0",
    "title": "Payments API"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "paths": {
    "/api/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2025-10-30T00:00:00+00:00",
                    "periodEnd": "2025-11-06T00:00:00+00:00",
                    "numPaymentsCreated": 4307,
                    "numPaymentsProcessed": 2667,
                    "numPaymentsIncomplete": 1640,
                    "numPaymentsWithRefunds": 1286,
                    "numCardPresentPayments": 1099,
                    "numCardNotPresentPayments": 541,
                    "totalCapturedAmount": 4087753.49,
                    "totalRefundedAmount": 290507.98,
                    "totalNetCapturedAmount": 3797245.51,
                    "averageNetCapturedAmount": 2043.92,
                    "minNetCapturedAmount": 71.81,
                    "maxNetCapturedAmount": 9116.44,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2025-10-30T00:00:00+00:00",
                        "intervalEnd": "2025-10-31T00:00:00+00:00",
                        "numPaymentsCreated": 622,
                        "numPaymentsProcessed": 204,
                        "numPaymentsIncomplete": 418,
                        "numPaymentsWithRefunds": 18,
                        "numCardPresentPayments": 109,
                        "numCardNotPresentPayments": 309,
                        "totalCapturedAmount": 597297.41,
                        "totalRefundedAmount": 8205.91,
                        "totalNetCapturedAmount": 589091.5,
                        "averageNetCapturedAmount": 2887.7,
                        "minNetCapturedAmount": 71.81,
                        "maxNetCapturedAmount": 8759.93
                      },
                      {
                        "intervalStart": "2025-10-31T00:00:00+00:00",
                        "intervalEnd": "2025-11-01T00:00:00+00:00",
                        "numPaymentsCreated": 995,
                        "numPaymentsProcessed": 203,
                        "numPaymentsIncomplete": 792,
                        "numPaymentsWithRefunds": 85,
                        "numCardPresentPayments": 83,
                        "numCardNotPresentPayments": 709,
                        "totalCapturedAmount": 904156.95,
                        "totalRefundedAmount": 10198.04,
                        "totalNetCapturedAmount": 893958.91,
                        "averageNetCapturedAmount": 4403.74,
                        "minNetCapturedAmount": 77.99,
                        "maxNetCapturedAmount": 3249.75
                      },
                      {
                        "intervalStart": "2025-11-01T00:00:00+00:00",
                        "intervalEnd": "2025-11-02T00:00:00+00:00",
                        "numPaymentsCreated": 802,
                        "numPaymentsProcessed": 775,
                        "numPaymentsIncomplete": 27,
                        "numPaymentsWithRefunds": 391,
                        "numCardPresentPayments": 79,
                        "numCardNotPresentPayments": -52,
                        "totalCapturedAmount": 737334.43,
                        "totalRefundedAmount": 37622.98,
                        "totalNetCapturedAmount": 699711.45,
                        "averageNetCapturedAmount": 902.85,
                        "minNetCapturedAmount": 79.45,
                        "maxNetCapturedAmount": 1562.41
                      },
                      {
                        "intervalStart": "2025-11-02T00:00:00+00:00",
                        "intervalEnd": "2025-11-03T00:00:00+00:00",
                        "numPaymentsCreated": 282,
                        "numPaymentsProcessed": 116,
                        "numPaymentsIncomplete": 166,
                        "numPaymentsWithRefunds": 30,
                        "numCardPresentPayments": 75,
                        "numCardNotPresentPayments": 91,
                        "totalCapturedAmount": 462116.04,
                        "totalRefundedAmount": 91453.34,
                        "totalNetCapturedAmount": 370662.7,
                        "averageNetCapturedAmount": 3195.37,
                        "minNetCapturedAmount": 93.92,
                        "maxNetCapturedAmount": 9116.44
                      },
                      {
                        "intervalStart": "2025-11-03T00:00:00+00:00",
                        "intervalEnd": "2025-11-04T00:00:00+00:00",
                        "numPaymentsCreated": 587,
                        "numPaymentsProcessed": 552,
                        "numPaymentsIncomplete": 35,
                        "numPaymentsWithRefunds": 389,
                        "numCardPresentPayments": 294,
                        "numCardNotPresentPayments": -259,
                        "totalCapturedAmount": 581646.86,
                        "totalRefundedAmount": 37261.38,
                        "totalNetCapturedAmount": 544385.48,
                        "averageNetCapturedAmount": 986.21,
                        "minNetCapturedAmount": 99.6,
                        "maxNetCapturedAmount": 5577.69
                      },
                      {
                        "intervalStart": "2025-11-04T00:00:00+00:00",
                        "intervalEnd": "2025-11-05T00:00:00+00:00",
                        "numPaymentsCreated": 403,
                        "numPaymentsProcessed": 229,
                        "numPaymentsIncomplete": 174,
                        "numPaymentsWithRefunds": 188,
                        "numCardPresentPayments": 94,
                        "numCardNotPresentPayments": 80,
                        "totalCapturedAmount": 313850.62,
                        "totalRefundedAmount": 35520.08,
                        "totalNetCapturedAmount": 278330.54,
                        "averageNetCapturedAmount": 1215.42,
                        "minNetCapturedAmount": 81,
                        "maxNetCapturedAmount": 3664.93
                      },
                      {
                        "intervalStart": "2025-11-05T00:00:00+00:00",
                        "intervalEnd": "2025-11-06T00:00:00+00:00",
                        "numPaymentsCreated": 616,
                        "numPaymentsProcessed": 588,
                        "numPaymentsIncomplete": 28,
                        "numPaymentsWithRefunds": 185,
                        "numCardPresentPayments": 365,
                        "numCardNotPresentPayments": -337,
                        "totalCapturedAmount": 491351.18,
                        "totalRefundedAmount": 70246.25,
                        "totalNetCapturedAmount": 421104.93,
                        "averageNetCapturedAmount": 716.16,
                        "minNetCapturedAmount": 99.58,
                        "maxNetCapturedAmount": 5298.98
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2025-10-30T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2025-11-06T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 4307
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 2667
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 1640
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 1286
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 1099
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": 541
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 4087753.49
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 290507.98
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 3797245.51
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 2043.92
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 71.81
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 9116.44
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2025-10-30T00:00:00+00:00",
                          "intervalEnd": "2025-10-31T00:00:00+00:00",
                          "numPaymentsCreated": 622,
                          "numPaymentsProcessed": 204,
                          "numPaymentsIncomplete": 418,
                          "numPaymentsWithRefunds": 18,
                          "numCardPresentPayments": 109,
                          "numCardNotPresentPayments": 309,
                          "totalCapturedAmount": 597297.41,
                          "totalRefundedAmount": 8205.91,
                          "totalNetCapturedAmount": 589091.5,
                          "averageNetCapturedAmount": 2887.7,
                          "minNetCapturedAmount": 71.81,
                          "maxNetCapturedAmount": 8759.93
                        },
                        {
                          "intervalStart": "2025-10-31T00:00:00+00:00",
                          "intervalEnd": "2025-11-01T00:00:00+00:00",
                          "numPaymentsCreated": 995,
                          "numPaymentsProcessed": 203,
                          "numPaymentsIncomplete": 792,
                          "numPaymentsWithRefunds": 85,
                          "numCardPresentPayments": 83,
                          "numCardNotPresentPayments": 709,
                          "totalCapturedAmount": 904156.95,
                          "totalRefundedAmount": 10198.04,
                          "totalNetCapturedAmount": 893958.91,
                          "averageNetCapturedAmount": 4403.74,
                          "minNetCapturedAmount": 77.99,
                          "maxNetCapturedAmount": 3249.75
                        },
                        {
                          "intervalStart": "2025-11-01T00:00:00+00:00",
                          "intervalEnd": "2025-11-02T00:00:00+00:00",
                          "numPaymentsCreated": 802,
                          "numPaymentsProcessed": 775,
                          "numPaymentsIncomplete": 27,
                          "numPaymentsWithRefunds": 391,
                          "numCardPresentPayments": 79,
                          "numCardNotPresentPayments": -52,
                          "totalCapturedAmount": 737334.43,
                          "totalRefundedAmount": 37622.98,
                          "totalNetCapturedAmount": 699711.45,
                          "averageNetCapturedAmount": 902.85,
                          "minNetCapturedAmount": 79.45,
                          "maxNetCapturedAmount": 1562.41
                        },
                        {
                          "intervalStart": "2025-11-02T00:00:00+00:00",
                          "intervalEnd": "2025-11-03T00:00:00+00:00",
                          "numPaymentsCreated": 282,
                          "numPaymentsProcessed": 116,
                          "numPaymentsIncomplete": 166,
                          "numPaymentsWithRefunds": 30,
                          "numCardPresentPayments": 75,
                          "numCardNotPresentPayments": 91,
                          "totalCapturedAmount": 462116.04,
                          "totalRefundedAmount": 91453.34,
                          "totalNetCapturedAmount": 370662.7,
                          "averageNetCapturedAmount": 3195.37,
                          "minNetCapturedAmount": 93.92,
                          "maxNetCapturedAmount": 9116.44
                        },
                        {
                          "intervalStart": "2025-11-03T00:00:00+00:00",
                          "intervalEnd": "2025-11-04T00:00:00+00:00",
                          "numPaymentsCreated": 587,
                          "numPaymentsProcessed": 552,
                          "numPaymentsIncomplete": 35,
                          "numPaymentsWithRefunds": 389,
                          "numCardPresentPayments": 294,
                          "numCardNotPresentPayments": -259,
                          "totalCapturedAmount": 581646.86,
                          "totalRefundedAmount": 37261.38,
                          "totalNetCapturedAmount": 544385.48,
                          "averageNetCapturedAmount": 986.21,
                          "minNetCapturedAmount": 99.6,
                          "maxNetCapturedAmount": 5577.69
                        },
                        {
                          "intervalStart": "2025-11-04T00:00:00+00:00",
                          "intervalEnd": "2025-11-05T00:00:00+00:00",
                          "numPaymentsCreated": 403,
                          "numPaymentsProcessed": 229,
                          "numPaymentsIncomplete": 174,
                          "numPaymentsWithRefunds": 188,
                          "numCardPresentPayments": 94,
                          "numCardNotPresentPayments": 80,
                          "totalCapturedAmount": 313850.62,
                          "totalRefundedAmount": 35520.08,
                          "totalNetCapturedAmount": 278330.54,
                          "averageNetCapturedAmount": 1215.42,
                          "minNetCapturedAmount": 81,
                          "maxNetCapturedAmount": 3664.93
                        },
                        {
                          "intervalStart": "2025-11-05T00:00:00+00:00",
                          "intervalEnd": "2025-11-06T00:00:00+00:00",
                          "numPaymentsCreated": 616,
                          "numPaymentsProcessed": 588,
                          "numPaymentsIncomplete": 28,
                          "numPaymentsWithRefunds": 185,
                          "numCardPresentPayments": 365,
                          "numCardNotPresentPayments": -337,
                          "totalCapturedAmount": 491351.18,
                          "totalRefundedAmount": 70246.25,
                          "totalNetCapturedAmount": 421104.93,
                          "averageNetCapturedAmount": 716.16,
                          "minNetCapturedAmount": 99.58,
                          "maxNetCapturedAmount": 5298.98
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2025-10-30T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2025-10-31T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 622
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 204
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 418
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 18
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 109
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": 309
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 597297.41
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 8205.91
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 589091.5
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 2887.7
                          },
                          "minNetCapturedAmount": {
                            "type": "number",
                            "example": 71.81
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 8759.93
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "",
          "example": "quia",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2025-10-30T00:00:00+00:00",
                    "periodEnd": "2025-11-06T00:00:00+00:00",
                    "activeCustomers": 299,
                    "newCustomers": 188,
                    "returningCustomers": 111,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2025-10-30T00:00:00+00:00",
                        "intervalEnd": "2025-10-31T00:00:00+00:00",
                        "activeCustomers": 20,
                        "newCustomers": 11,
                        "returningCustomers": 9
                      },
                      {
                        "intervalStart": "2025-10-31T00:00:00+00:00",
                        "intervalEnd": "2025-11-01T00:00:00+00:00",
                        "activeCustomers": 78,
                        "newCustomers": 9,
                        "returningCustomers": 69
                      },
                      {
                        "intervalStart": "2025-11-01T00:00:00+00:00",
                        "intervalEnd": "2025-11-02T00:00:00+00:00",
                        "activeCustomers": 36,
                        "newCustomers": 21,
                        "returningCustomers": 15
                      },
                      {
                        "intervalStart": "2025-11-02T00:00:00+00:00",
                        "intervalEnd": "2025-11-03T00:00:00+00:00",
                        "activeCustomers": 48,
                        "newCustomers": 35,
                        "returningCustomers": 13
                      },
                      {
                        "intervalStart": "2025-11-03T00:00:00+00:00",
                        "intervalEnd": "2025-11-04T00:00:00+00:00",
                        "activeCustomers": 87,
                        "newCustomers": 39,
                        "returningCustomers": 48
                      },
                      {
                        "intervalStart": "2025-11-04T00:00:00+00:00",
                        "intervalEnd": "2025-11-05T00:00:00+00:00",
                        "activeCustomers": 54,
                        "newCustomers": 39,
                        "returningCustomers": 15
                      },
                      {
                        "intervalStart": "2025-11-05T00:00:00+00:00",
                        "intervalEnd": "2025-11-06T00:00:00+00:00",
                        "activeCustomers": 53,
                        "newCustomers": 34,
                        "returningCustomers": 19
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2025-10-30T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2025-11-06T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 299
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 188
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": 111
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2025-10-30T00:00:00+00:00",
                          "intervalEnd": "2025-10-31T00:00:00+00:00",
                          "activeCustomers": 20,
                          "newCustomers": 11,
                          "returningCustomers": 9
                        },
                        {
                          "intervalStart": "2025-10-31T00:00:00+00:00",
                          "intervalEnd": "2025-11-01T00:00:00+00:00",
                          "activeCustomers": 78,
                          "newCustomers": 9,
                          "returningCustomers": 69
                        },
                        {
                          "intervalStart": "2025-11-01T00:00:00+00:00",
                          "intervalEnd": "2025-11-02T00:00:00+00:00",
                          "activeCustomers": 36,
                          "newCustomers": 21,
                          "returningCustomers": 15
                        },
                        {
                          "intervalStart": "2025-11-02T00:00:00+00:00",
                          "intervalEnd": "2025-11-03T00:00:00+00:00",
                          "activeCustomers": 48,
                          "newCustomers": 35,
                          "returningCustomers": 13
                        },
                        {
                          "intervalStart": "2025-11-03T00:00:00+00:00",
                          "intervalEnd": "2025-11-04T00:00:00+00:00",
                          "activeCustomers": 87,
                          "newCustomers": 39,
                          "returningCustomers": 48
                        },
                        {
                          "intervalStart": "2025-11-04T00:00:00+00:00",
                          "intervalEnd": "2025-11-05T00:00:00+00:00",
                          "activeCustomers": 54,
                          "newCustomers": 39,
                          "returningCustomers": 15
                        },
                        {
                          "intervalStart": "2025-11-05T00:00:00+00:00",
                          "intervalEnd": "2025-11-06T00:00:00+00:00",
                          "activeCustomers": 53,
                          "newCustomers": 34,
                          "returningCustomers": 19
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2025-10-30T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2025-10-31T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 20
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 11
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 9
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "",
          "example": "eveniet",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2025-10-30T00:00:00+00:00",
                    "periodEnd": "2025-11-06T00:00:00+00:00",
                    "totalTransactions": 3677,
                    "authorizeTransactions": 205,
                    "captureTransactions": 247,
                    "payTransactions": 1813,
                    "refundTransactions": 901,
                    "verifyTransactions": 120,
                    "voidTransactions": 391,
                    "successfulTransactions": 3307,
                    "failedTransactions": 349,
                    "pendingTransactions": 21,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2025-10-30T00:00:00+00:00",
                        "intervalEnd": "2025-10-31T00:00:00+00:00",
                        "totalTransactions": 305,
                        "authorizeTransactions": 27,
                        "captureTransactions": 36,
                        "payTransactions": 165,
                        "refundTransactions": 18,
                        "verifyTransactions": 14,
                        "voidTransactions": 45,
                        "successfulTransactions": 274,
                        "failedTransactions": 28,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-10-31T00:00:00+00:00",
                        "intervalEnd": "2025-11-01T00:00:00+00:00",
                        "totalTransactions": 318,
                        "authorizeTransactions": 13,
                        "captureTransactions": 20,
                        "payTransactions": 237,
                        "refundTransactions": 18,
                        "verifyTransactions": 17,
                        "voidTransactions": 13,
                        "successfulTransactions": 286,
                        "failedTransactions": 31,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-01T00:00:00+00:00",
                        "intervalEnd": "2025-11-02T00:00:00+00:00",
                        "totalTransactions": 410,
                        "authorizeTransactions": 48,
                        "captureTransactions": 53,
                        "payTransactions": 305,
                        "refundTransactions": 5,
                        "verifyTransactions": -1,
                        "voidTransactions": 0,
                        "successfulTransactions": 369,
                        "failedTransactions": 40,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-02T00:00:00+00:00",
                        "intervalEnd": "2025-11-03T00:00:00+00:00",
                        "totalTransactions": 464,
                        "authorizeTransactions": 34,
                        "captureTransactions": 39,
                        "payTransactions": 321,
                        "refundTransactions": 64,
                        "verifyTransactions": 6,
                        "voidTransactions": 0,
                        "successfulTransactions": 417,
                        "failedTransactions": 43,
                        "pendingTransactions": 4,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-03T00:00:00+00:00",
                        "intervalEnd": "2025-11-04T00:00:00+00:00",
                        "totalTransactions": 987,
                        "authorizeTransactions": 13,
                        "captureTransactions": 18,
                        "payTransactions": 490,
                        "refundTransactions": 389,
                        "verifyTransactions": 47,
                        "voidTransactions": 30,
                        "successfulTransactions": 888,
                        "failedTransactions": 91,
                        "pendingTransactions": 8,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-04T00:00:00+00:00",
                        "intervalEnd": "2025-11-05T00:00:00+00:00",
                        "totalTransactions": 473,
                        "authorizeTransactions": 28,
                        "captureTransactions": 30,
                        "payTransactions": 120,
                        "refundTransactions": 143,
                        "verifyTransactions": 17,
                        "voidTransactions": 135,
                        "successfulTransactions": 425,
                        "failedTransactions": 45,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-05T00:00:00+00:00",
                        "intervalEnd": "2025-11-06T00:00:00+00:00",
                        "totalTransactions": 720,
                        "authorizeTransactions": 42,
                        "captureTransactions": 51,
                        "payTransactions": 175,
                        "refundTransactions": 264,
                        "verifyTransactions": 20,
                        "voidTransactions": 168,
                        "successfulTransactions": 648,
                        "failedTransactions": 71,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2025-10-30T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2025-11-06T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 3677
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 205
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 247
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 1813
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 901
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 120
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 391
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 3307
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 349
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 21
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2025-10-30T00:00:00+00:00",
                          "intervalEnd": "2025-10-31T00:00:00+00:00",
                          "totalTransactions": 305,
                          "authorizeTransactions": 27,
                          "captureTransactions": 36,
                          "payTransactions": 165,
                          "refundTransactions": 18,
                          "verifyTransactions": 14,
                          "voidTransactions": 45,
                          "successfulTransactions": 274,
                          "failedTransactions": 28,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-10-31T00:00:00+00:00",
                          "intervalEnd": "2025-11-01T00:00:00+00:00",
                          "totalTransactions": 318,
                          "authorizeTransactions": 13,
                          "captureTransactions": 20,
                          "payTransactions": 237,
                          "refundTransactions": 18,
                          "verifyTransactions": 17,
                          "voidTransactions": 13,
                          "successfulTransactions": 286,
                          "failedTransactions": 31,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-01T00:00:00+00:00",
                          "intervalEnd": "2025-11-02T00:00:00+00:00",
                          "totalTransactions": 410,
                          "authorizeTransactions": 48,
                          "captureTransactions": 53,
                          "payTransactions": 305,
                          "refundTransactions": 5,
                          "verifyTransactions": -1,
                          "voidTransactions": 0,
                          "successfulTransactions": 369,
                          "failedTransactions": 40,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-02T00:00:00+00:00",
                          "intervalEnd": "2025-11-03T00:00:00+00:00",
                          "totalTransactions": 464,
                          "authorizeTransactions": 34,
                          "captureTransactions": 39,
                          "payTransactions": 321,
                          "refundTransactions": 64,
                          "verifyTransactions": 6,
                          "voidTransactions": 0,
                          "successfulTransactions": 417,
                          "failedTransactions": 43,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-03T00:00:00+00:00",
                          "intervalEnd": "2025-11-04T00:00:00+00:00",
                          "totalTransactions": 987,
                          "authorizeTransactions": 13,
                          "captureTransactions": 18,
                          "payTransactions": 490,
                          "refundTransactions": 389,
                          "verifyTransactions": 47,
                          "voidTransactions": 30,
                          "successfulTransactions": 888,
                          "failedTransactions": 91,
                          "pendingTransactions": 8,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-04T00:00:00+00:00",
                          "intervalEnd": "2025-11-05T00:00:00+00:00",
                          "totalTransactions": 473,
                          "authorizeTransactions": 28,
                          "captureTransactions": 30,
                          "payTransactions": 120,
                          "refundTransactions": 143,
                          "verifyTransactions": 17,
                          "voidTransactions": 135,
                          "successfulTransactions": 425,
                          "failedTransactions": 45,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-05T00:00:00+00:00",
                          "intervalEnd": "2025-11-06T00:00:00+00:00",
                          "totalTransactions": 720,
                          "authorizeTransactions": 42,
                          "captureTransactions": 51,
                          "payTransactions": 175,
                          "refundTransactions": 264,
                          "verifyTransactions": 20,
                          "voidTransactions": 168,
                          "successfulTransactions": 648,
                          "failedTransactions": 71,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2025-10-30T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2025-10-31T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 305
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 27
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 36
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 165
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 18
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 14
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": 45
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 274
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 28
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 3
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "",
          "example": "omnis",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2025-10-30T00:00:00+00:00",
                    "periodEnd": "2025-11-06T00:00:00+00:00",
                    "totalSettlementAmount": 42102.34,
                    "totalFeeAmount": 2063.01,
                    "totalNetAmount": 40039.33,
                    "totalTransactionsPending": 169,
                    "totalTransactionsSettled": 750,
                    "totalTransactionsSettling": 1031,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2025-10-30T00:00:00+00:00",
                        "intervalEnd": "2025-10-31T00:00:00+00:00",
                        "totalSettlementAmount": 3224.99,
                        "totalFeeAmount": 158.02,
                        "totalNetAmount": 3066.97,
                        "totalTransactionsPending": 23,
                        "totalTransactionsSettled": 87,
                        "totalTransactionsSettling": 158
                      },
                      {
                        "intervalStart": "2025-10-31T00:00:00+00:00",
                        "intervalEnd": "2025-11-01T00:00:00+00:00",
                        "totalSettlementAmount": 9089.17,
                        "totalFeeAmount": 445.37,
                        "totalNetAmount": 8643.8,
                        "totalTransactionsPending": 35,
                        "totalTransactionsSettled": 112,
                        "totalTransactionsSettling": 185
                      },
                      {
                        "intervalStart": "2025-11-01T00:00:00+00:00",
                        "intervalEnd": "2025-11-02T00:00:00+00:00",
                        "totalSettlementAmount": 9084.99,
                        "totalFeeAmount": 445.16,
                        "totalNetAmount": 8639.83,
                        "totalTransactionsPending": 24,
                        "totalTransactionsSettled": 46,
                        "totalTransactionsSettling": 31
                      },
                      {
                        "intervalStart": "2025-11-02T00:00:00+00:00",
                        "intervalEnd": "2025-11-03T00:00:00+00:00",
                        "totalSettlementAmount": 2154.98,
                        "totalFeeAmount": 105.59,
                        "totalNetAmount": 2049.39,
                        "totalTransactionsPending": 5,
                        "totalTransactionsSettled": 202,
                        "totalTransactionsSettling": 287
                      },
                      {
                        "intervalStart": "2025-11-03T00:00:00+00:00",
                        "intervalEnd": "2025-11-04T00:00:00+00:00",
                        "totalSettlementAmount": 8046.68,
                        "totalFeeAmount": 394.29,
                        "totalNetAmount": 7652.39,
                        "totalTransactionsPending": 19,
                        "totalTransactionsSettled": 93,
                        "totalTransactionsSettling": 115
                      },
                      {
                        "intervalStart": "2025-11-04T00:00:00+00:00",
                        "intervalEnd": "2025-11-05T00:00:00+00:00",
                        "totalSettlementAmount": 5052.36,
                        "totalFeeAmount": 247.57,
                        "totalNetAmount": 4804.79,
                        "totalTransactionsPending": 27,
                        "totalTransactionsSettled": 43,
                        "totalTransactionsSettling": 60
                      },
                      {
                        "intervalStart": "2025-11-05T00:00:00+00:00",
                        "intervalEnd": "2025-11-06T00:00:00+00:00",
                        "totalSettlementAmount": 5449.17,
                        "totalFeeAmount": 267.01,
                        "totalNetAmount": 5182.16,
                        "totalTransactionsPending": 36,
                        "totalTransactionsSettled": 167,
                        "totalTransactionsSettling": 195
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2025-10-30T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2025-11-06T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 42102.34
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 2063.01
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 40039.33
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 169
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 750
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 1031
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2025-10-30T00:00:00+00:00",
                          "intervalEnd": "2025-10-31T00:00:00+00:00",
                          "totalSettlementAmount": 3224.99,
                          "totalFeeAmount": 158.02,
                          "totalNetAmount": 3066.97,
                          "totalTransactionsPending": 23,
                          "totalTransactionsSettled": 87,
                          "totalTransactionsSettling": 158
                        },
                        {
                          "intervalStart": "2025-10-31T00:00:00+00:00",
                          "intervalEnd": "2025-11-01T00:00:00+00:00",
                          "totalSettlementAmount": 9089.17,
                          "totalFeeAmount": 445.37,
                          "totalNetAmount": 8643.8,
                          "totalTransactionsPending": 35,
                          "totalTransactionsSettled": 112,
                          "totalTransactionsSettling": 185
                        },
                        {
                          "intervalStart": "2025-11-01T00:00:00+00:00",
                          "intervalEnd": "2025-11-02T00:00:00+00:00",
                          "totalSettlementAmount": 9084.99,
                          "totalFeeAmount": 445.16,
                          "totalNetAmount": 8639.83,
                          "totalTransactionsPending": 24,
                          "totalTransactionsSettled": 46,
                          "totalTransactionsSettling": 31
                        },
                        {
                          "intervalStart": "2025-11-02T00:00:00+00:00",
                          "intervalEnd": "2025-11-03T00:00:00+00:00",
                          "totalSettlementAmount": 2154.98,
                          "totalFeeAmount": 105.59,
                          "totalNetAmount": 2049.39,
                          "totalTransactionsPending": 5,
                          "totalTransactionsSettled": 202,
                          "totalTransactionsSettling": 287
                        },
                        {
                          "intervalStart": "2025-11-03T00:00:00+00:00",
                          "intervalEnd": "2025-11-04T00:00:00+00:00",
                          "totalSettlementAmount": 8046.68,
                          "totalFeeAmount": 394.29,
                          "totalNetAmount": 7652.39,
                          "totalTransactionsPending": 19,
                          "totalTransactionsSettled": 93,
                          "totalTransactionsSettling": 115
                        },
                        {
                          "intervalStart": "2025-11-04T00:00:00+00:00",
                          "intervalEnd": "2025-11-05T00:00:00+00:00",
                          "totalSettlementAmount": 5052.36,
                          "totalFeeAmount": 247.57,
                          "totalNetAmount": 4804.79,
                          "totalTransactionsPending": 27,
                          "totalTransactionsSettled": 43,
                          "totalTransactionsSettling": 60
                        },
                        {
                          "intervalStart": "2025-11-05T00:00:00+00:00",
                          "intervalEnd": "2025-11-06T00:00:00+00:00",
                          "totalSettlementAmount": 5449.17,
                          "totalFeeAmount": 267.01,
                          "totalNetAmount": 5182.16,
                          "totalTransactionsPending": 36,
                          "totalTransactionsSettled": 167,
                          "totalTransactionsSettling": 195
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2025-10-30T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2025-10-31T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 3224.99
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 158.02
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 3066.97
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 23
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 87
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 158
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "",
          "example": "ut",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 5,
                    "data": [
                      {
                        "email": "xbosco@swaniawski.org",
                        "firstName": "Ruthe",
                        "lastName": "Pouros",
                        "phone": "+12396898165",
                        "dateOfBirth": "1971-03-12"
                      },
                      {
                        "email": "reilly.liam@yahoo.com",
                        "firstName": "Jerry",
                        "lastName": "Kunde",
                        "phone": "+12239418081",
                        "dateOfBirth": "1971-01-30"
                      },
                      {
                        "email": "lorna03@yahoo.com",
                        "firstName": "Dallin",
                        "lastName": "Batz",
                        "phone": "+16784492486",
                        "dateOfBirth": "1973-02-05"
                      },
                      {
                        "email": "conner.ledner@leffler.com",
                        "firstName": "Trycia",
                        "lastName": "Cartwright",
                        "phone": "+12605917872",
                        "dateOfBirth": "1983-10-28"
                      },
                      {
                        "email": "nicolas.mariela@hotmail.com",
                        "firstName": "Dario",
                        "lastName": "Kilback",
                        "phone": "+15409065145",
                        "dateOfBirth": "1973-10-30"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 5,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "xbosco@swaniawski.org",
                          "firstName": "Ruthe",
                          "lastName": "Pouros",
                          "phone": "+12396898165",
                          "dateOfBirth": "1971-03-12"
                        },
                        {
                          "email": "reilly.liam@yahoo.com",
                          "firstName": "Jerry",
                          "lastName": "Kunde",
                          "phone": "+12239418081",
                          "dateOfBirth": "1971-01-30"
                        },
                        {
                          "email": "lorna03@yahoo.com",
                          "firstName": "Dallin",
                          "lastName": "Batz",
                          "phone": "+16784492486",
                          "dateOfBirth": "1973-02-05"
                        },
                        {
                          "email": "conner.ledner@leffler.com",
                          "firstName": "Trycia",
                          "lastName": "Cartwright",
                          "phone": "+12605917872",
                          "dateOfBirth": "1983-10-28"
                        },
                        {
                          "email": "nicolas.mariela@hotmail.com",
                          "firstName": "Dario",
                          "lastName": "Kilback",
                          "phone": "+15409065145",
                          "dateOfBirth": "1973-10-30"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "xbosco@swaniawski.org"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Ruthe"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Pouros"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+12396898165"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "1971-03-12"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "non",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/merchant/{merchantId}/purge": {
      "post": {
        "summary": "Purge Sandbox Data",
        "operationId": "purgeSandboxData",
        "description": "Delete **sandbox** data for the specified merchant. This endpoint allows deletion of different entity types related to merchants.\nThe operation is performed asynchronously and will trigger the \"payments.merchant.purge\" webhook upon completion.",
        "parameters": [
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sandbox purge job queued successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "payments": 5,
                    "customers": 3,
                    "sessions": 2,
                    "tokens": 1,
                    "merchantId": "MERCHANT123"
                  },
                  "properties": {
                    "payments": {
                      "type": "integer",
                      "example": 5
                    },
                    "customers": {
                      "type": "integer",
                      "example": 3
                    },
                    "sessions": {
                      "type": "integer",
                      "example": 2
                    },
                    "tokens": {
                      "type": "integer",
                      "example": 1
                    },
                    "merchantId": {
                      "type": "string",
                      "example": "MERCHANT123"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "The field1 is required (and one other error)",
                    "errors": {
                      "field1": [
                        "The field1 is required."
                      ],
                      "field2": [
                        "The field2 must be a valid value."
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "message": {
                      "type": "string",
                      "example": "The field1 is required (and one other error)",
                      "description": "A message describing the result of the request",
                      "enum": []
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "field1": {
                          "type": "array",
                          "example": [
                            "The field1 is required."
                          ],
                          "items": {
                            "type": "string"
                          }
                        },
                        "field2": {
                          "type": "array",
                          "example": [
                            "The field2 must be a valid value."
                          ],
                          "items": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Any errors that occurred during the request"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "Authentication is required"
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "message": {
                      "type": "string",
                      "example": "Authentication is required",
                      "description": "A message describing the result of the request",
                      "enum": []
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "Internal Server Error"
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error",
                      "description": "A message describing the result of the request",
                      "enum": []
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Merchant Purge"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$class": "App\\Data\\Api\\N1\\Merchant\\PurgeMerchantRequestBody",
                "type": "object",
                "description": null,
                "properties": {
                  "payments": {
                    "type": "boolean",
                    "nullable": true,
                    "example": true,
                    "description": "Delete all merchant payments"
                  },
                  "customers": {
                    "type": "boolean",
                    "nullable": true,
                    "example": true,
                    "description": "Delete all merchant customers"
                  },
                  "sessions": {
                    "type": "boolean",
                    "nullable": true,
                    "example": true,
                    "description": "Delete all merchant sessions"
                  },
                  "tokens": {
                    "type": "boolean",
                    "nullable": true,
                    "example": true,
                    "description": "Delete all merchant tokens"
                  }
                }
              },
              "examples": {
                "example": {
                  "summary": "Example",
                  "value": {
                    "payments": true,
                    "customers": true,
                    "sessions": true,
                    "tokens": true
                  }
                },
                "paymentsOnly": {
                  "summary": "Payments Only",
                  "value": {
                    "payments": true,
                    "customers": false,
                    "sessions": false,
                    "tokens": false
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "123456",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/merchant/{merchantId}/order/{orderId}": {
      "get": {
        "summary": "Get Order",
        "operationId": "getOrder",
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving an order",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "description": "Test order",
                    "amount": 432.81,
                    "currency": "USD"
                  },
                  "properties": {
                    "description": {
                      "type": "string",
                      "example": "Test order"
                    },
                    "amount": {
                      "type": "number",
                      "example": 432.81
                    },
                    "currency": {
                      "type": "string",
                      "example": "USD"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "The field1 is required (and one other error)",
                    "errors": {
                      "field1": [
                        "The field1 is required."
                      ],
                      "field2": [
                        "The field2 must be a valid value."
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "message": {
                      "type": "string",
                      "example": "The field1 is required (and one other error)",
                      "description": "A message describing the result of the request",
                      "enum": []
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
[...]
