{
  "openapi": "3.1.0",
  "info": {
    "version": "1.20.0",
    "title": "Payments API"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "paths": {
    "/api/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2025-10-30T00:00:00+00:00",
                    "periodEnd": "2025-11-06T00:00:00+00:00",
                    "numPaymentsCreated": 3630,
                    "numPaymentsProcessed": 1903,
                    "numPaymentsIncomplete": 1727,
                    "numPaymentsWithRefunds": 726,
                    "numCardPresentPayments": 1261,
                    "numCardNotPresentPayments": 466,
                    "totalCapturedAmount": 4194780.34,
                    "totalRefundedAmount": 349825.33,
                    "totalNetCapturedAmount": 3844955.01,
                    "averageNetCapturedAmount": 2327.85,
                    "minNetCapturedAmount": 15.44,
                    "maxNetCapturedAmount": 8544.54,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2025-10-30T00:00:00+00:00",
                        "intervalEnd": "2025-10-31T00:00:00+00:00",
                        "numPaymentsCreated": 190,
                        "numPaymentsProcessed": 152,
                        "numPaymentsIncomplete": 38,
                        "numPaymentsWithRefunds": 76,
                        "numCardPresentPayments": 35,
                        "numCardNotPresentPayments": 3,
                        "totalCapturedAmount": 740040.25,
                        "totalRefundedAmount": 20991.52,
                        "totalNetCapturedAmount": 719048.73,
                        "averageNetCapturedAmount": 4730.58,
                        "minNetCapturedAmount": 58.52,
                        "maxNetCapturedAmount": 4085.29
                      },
                      {
                        "intervalStart": "2025-10-31T00:00:00+00:00",
                        "intervalEnd": "2025-11-01T00:00:00+00:00",
                        "numPaymentsCreated": 470,
                        "numPaymentsProcessed": 135,
                        "numPaymentsIncomplete": 335,
                        "numPaymentsWithRefunds": 23,
                        "numCardPresentPayments": 6,
                        "numCardNotPresentPayments": 329,
                        "totalCapturedAmount": 558486.25,
                        "totalRefundedAmount": 67456.43,
                        "totalNetCapturedAmount": 491029.82,
                        "averageNetCapturedAmount": 3637.26,
                        "minNetCapturedAmount": 43.44,
                        "maxNetCapturedAmount": 5598.63
                      },
                      {
                        "intervalStart": "2025-11-01T00:00:00+00:00",
                        "intervalEnd": "2025-11-02T00:00:00+00:00",
                        "numPaymentsCreated": 763,
                        "numPaymentsProcessed": 295,
                        "numPaymentsIncomplete": 468,
                        "numPaymentsWithRefunds": 172,
                        "numCardPresentPayments": 178,
                        "numCardNotPresentPayments": 290,
                        "totalCapturedAmount": 411535.05,
                        "totalRefundedAmount": 77450.31,
                        "totalNetCapturedAmount": 334084.74,
                        "averageNetCapturedAmount": 1132.49,
                        "minNetCapturedAmount": 67.78,
                        "maxNetCapturedAmount": 6718.96
                      },
                      {
                        "intervalStart": "2025-11-02T00:00:00+00:00",
                        "intervalEnd": "2025-11-03T00:00:00+00:00",
                        "numPaymentsCreated": 348,
                        "numPaymentsProcessed": 332,
                        "numPaymentsIncomplete": 16,
                        "numPaymentsWithRefunds": 144,
                        "numCardPresentPayments": 296,
                        "numCardNotPresentPayments": -280,
                        "totalCapturedAmount": 933935.29,
                        "totalRefundedAmount": 53243.99,
                        "totalNetCapturedAmount": 880691.3,
                        "averageNetCapturedAmount": 2652.68,
                        "minNetCapturedAmount": 58.42,
                        "maxNetCapturedAmount": 4319.77
                      },
                      {
                        "intervalStart": "2025-11-03T00:00:00+00:00",
                        "intervalEnd": "2025-11-04T00:00:00+00:00",
                        "numPaymentsCreated": 779,
                        "numPaymentsProcessed": 312,
                        "numPaymentsIncomplete": 467,
                        "numPaymentsWithRefunds": 197,
                        "numCardPresentPayments": 252,
                        "numCardNotPresentPayments": 215,
                        "totalCapturedAmount": 527435.36,
                        "totalRefundedAmount": 37696.45,
                        "totalNetCapturedAmount": 489738.91,
                        "averageNetCapturedAmount": 1569.68,
                        "minNetCapturedAmount": 15.44,
                        "maxNetCapturedAmount": 7823.86
                      },
                      {
                        "intervalStart": "2025-11-04T00:00:00+00:00",
                        "intervalEnd": "2025-11-05T00:00:00+00:00",
                        "numPaymentsCreated": 455,
                        "numPaymentsProcessed": 290,
                        "numPaymentsIncomplete": 165,
                        "numPaymentsWithRefunds": 60,
                        "numCardPresentPayments": 189,
                        "numCardNotPresentPayments": -24,
                        "totalCapturedAmount": 254518.42,
                        "totalRefundedAmount": 59914.58,
                        "totalNetCapturedAmount": 194603.84,
                        "averageNetCapturedAmount": 671.05,
                        "minNetCapturedAmount": 63.13,
                        "maxNetCapturedAmount": 8544.54
                      },
                      {
                        "intervalStart": "2025-11-05T00:00:00+00:00",
                        "intervalEnd": "2025-11-06T00:00:00+00:00",
                        "numPaymentsCreated": 625,
                        "numPaymentsProcessed": 387,
                        "numPaymentsIncomplete": 238,
                        "numPaymentsWithRefunds": 54,
                        "numCardPresentPayments": 305,
                        "numCardNotPresentPayments": -67,
                        "totalCapturedAmount": 768829.72,
                        "totalRefundedAmount": 33072.05,
                        "totalNetCapturedAmount": 735757.67,
                        "averageNetCapturedAmount": 1901.18,
                        "minNetCapturedAmount": 68.11,
                        "maxNetCapturedAmount": 1867.39
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2025-10-30T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2025-11-06T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 3630
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 1903
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 1727
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 726
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 1261
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": 466
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 4194780.34
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 349825.33
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 3844955.01
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 2327.85
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 15.44
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 8544.54
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2025-10-30T00:00:00+00:00",
                          "intervalEnd": "2025-10-31T00:00:00+00:00",
                          "numPaymentsCreated": 190,
                          "numPaymentsProcessed": 152,
                          "numPaymentsIncomplete": 38,
                          "numPaymentsWithRefunds": 76,
                          "numCardPresentPayments": 35,
                          "numCardNotPresentPayments": 3,
                          "totalCapturedAmount": 740040.25,
                          "totalRefundedAmount": 20991.52,
                          "totalNetCapturedAmount": 719048.73,
                          "averageNetCapturedAmount": 4730.58,
                          "minNetCapturedAmount": 58.52,
                          "maxNetCapturedAmount": 4085.29
                        },
                        {
                          "intervalStart": "2025-10-31T00:00:00+00:00",
                          "intervalEnd": "2025-11-01T00:00:00+00:00",
                          "numPaymentsCreated": 470,
                          "numPaymentsProcessed": 135,
                          "numPaymentsIncomplete": 335,
                          "numPaymentsWithRefunds": 23,
                          "numCardPresentPayments": 6,
                          "numCardNotPresentPayments": 329,
                          "totalCapturedAmount": 558486.25,
                          "totalRefundedAmount": 67456.43,
                          "totalNetCapturedAmount": 491029.82,
                          "averageNetCapturedAmount": 3637.26,
                          "minNetCapturedAmount": 43.44,
                          "maxNetCapturedAmount": 5598.63
                        },
                        {
                          "intervalStart": "2025-11-01T00:00:00+00:00",
                          "intervalEnd": "2025-11-02T00:00:00+00:00",
                          "numPaymentsCreated": 763,
                          "numPaymentsProcessed": 295,
                          "numPaymentsIncomplete": 468,
                          "numPaymentsWithRefunds": 172,
                          "numCardPresentPayments": 178,
                          "numCardNotPresentPayments": 290,
                          "totalCapturedAmount": 411535.05,
                          "totalRefundedAmount": 77450.31,
                          "totalNetCapturedAmount": 334084.74,
                          "averageNetCapturedAmount": 1132.49,
                          "minNetCapturedAmount": 67.78,
                          "maxNetCapturedAmount": 6718.96
                        },
                        {
                          "intervalStart": "2025-11-02T00:00:00+00:00",
                          "intervalEnd": "2025-11-03T00:00:00+00:00",
                          "numPaymentsCreated": 348,
                          "numPaymentsProcessed": 332,
                          "numPaymentsIncomplete": 16,
                          "numPaymentsWithRefunds": 144,
                          "numCardPresentPayments": 296,
                          "numCardNotPresentPayments": -280,
                          "totalCapturedAmount": 933935.29,
                          "totalRefundedAmount": 53243.99,
                          "totalNetCapturedAmount": 880691.3,
                          "averageNetCapturedAmount": 2652.68,
                          "minNetCapturedAmount": 58.42,
                          "maxNetCapturedAmount": 4319.77
                        },
                        {
                          "intervalStart": "2025-11-03T00:00:00+00:00",
                          "intervalEnd": "2025-11-04T00:00:00+00:00",
                          "numPaymentsCreated": 779,
                          "numPaymentsProcessed": 312,
                          "numPaymentsIncomplete": 467,
                          "numPaymentsWithRefunds": 197,
                          "numCardPresentPayments": 252,
                          "numCardNotPresentPayments": 215,
                          "totalCapturedAmount": 527435.36,
                          "totalRefundedAmount": 37696.45,
                          "totalNetCapturedAmount": 489738.91,
                          "averageNetCapturedAmount": 1569.68,
                          "minNetCapturedAmount": 15.44,
                          "maxNetCapturedAmount": 7823.86
                        },
                        {
                          "intervalStart": "2025-11-04T00:00:00+00:00",
                          "intervalEnd": "2025-11-05T00:00:00+00:00",
                          "numPaymentsCreated": 455,
                          "numPaymentsProcessed": 290,
                          "numPaymentsIncomplete": 165,
                          "numPaymentsWithRefunds": 60,
                          "numCardPresentPayments": 189,
                          "numCardNotPresentPayments": -24,
                          "totalCapturedAmount": 254518.42,
                          "totalRefundedAmount": 59914.58,
                          "totalNetCapturedAmount": 194603.84,
                          "averageNetCapturedAmount": 671.05,
                          "minNetCapturedAmount": 63.13,
                          "maxNetCapturedAmount": 8544.54
                        },
                        {
                          "intervalStart": "2025-11-05T00:00:00+00:00",
                          "intervalEnd": "2025-11-06T00:00:00+00:00",
                          "numPaymentsCreated": 625,
                          "numPaymentsProcessed": 387,
                          "numPaymentsIncomplete": 238,
                          "numPaymentsWithRefunds": 54,
                          "numCardPresentPayments": 305,
                          "numCardNotPresentPayments": -67,
                          "totalCapturedAmount": 768829.72,
                          "totalRefundedAmount": 33072.05,
                          "totalNetCapturedAmount": 735757.67,
                          "averageNetCapturedAmount": 1901.18,
                          "minNetCapturedAmount": 68.11,
                          "maxNetCapturedAmount": 1867.39
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2025-10-30T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2025-10-31T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 190
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 152
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 38
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 76
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 35
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": 3
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 740040.25
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 20991.52
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 719048.73
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 4730.58
                          },
                          "minNetCapturedAmount": {
                            "type": "number",
                            "example": 58.52
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 4085.29
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "",
          "example": "magnam",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2025-10-30T00:00:00+00:00",
                    "periodEnd": "2025-11-06T00:00:00+00:00",
                    "activeCustomers": 244,
                    "newCustomers": 239,
                    "returningCustomers": 5,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2025-10-30T00:00:00+00:00",
                        "intervalEnd": "2025-10-31T00:00:00+00:00",
                        "activeCustomers": 36,
                        "newCustomers": 14,
                        "returningCustomers": 22
                      },
                      {
                        "intervalStart": "2025-10-31T00:00:00+00:00",
                        "intervalEnd": "2025-11-01T00:00:00+00:00",
                        "activeCustomers": 39,
                        "newCustomers": 20,
                        "returningCustomers": 19
                      },
                      {
                        "intervalStart": "2025-11-01T00:00:00+00:00",
                        "intervalEnd": "2025-11-02T00:00:00+00:00",
                        "activeCustomers": 99,
                        "newCustomers": 95,
                        "returningCustomers": 4
                      },
                      {
                        "intervalStart": "2025-11-02T00:00:00+00:00",
                        "intervalEnd": "2025-11-03T00:00:00+00:00",
                        "activeCustomers": 24,
                        "newCustomers": 10,
                        "returningCustomers": 14
                      },
                      {
                        "intervalStart": "2025-11-03T00:00:00+00:00",
                        "intervalEnd": "2025-11-04T00:00:00+00:00",
                        "activeCustomers": 67,
                        "newCustomers": 56,
                        "returningCustomers": 11
                      },
                      {
                        "intervalStart": "2025-11-04T00:00:00+00:00",
                        "intervalEnd": "2025-11-05T00:00:00+00:00",
                        "activeCustomers": 37,
                        "newCustomers": 29,
                        "returningCustomers": 8
                      },
                      {
                        "intervalStart": "2025-11-05T00:00:00+00:00",
                        "intervalEnd": "2025-11-06T00:00:00+00:00",
                        "activeCustomers": 83,
                        "newCustomers": 15,
                        "returningCustomers": 68
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2025-10-30T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2025-11-06T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 244
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 239
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": 5
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2025-10-30T00:00:00+00:00",
                          "intervalEnd": "2025-10-31T00:00:00+00:00",
                          "activeCustomers": 36,
                          "newCustomers": 14,
                          "returningCustomers": 22
                        },
                        {
                          "intervalStart": "2025-10-31T00:00:00+00:00",
                          "intervalEnd": "2025-11-01T00:00:00+00:00",
                          "activeCustomers": 39,
                          "newCustomers": 20,
                          "returningCustomers": 19
                        },
                        {
                          "intervalStart": "2025-11-01T00:00:00+00:00",
                          "intervalEnd": "2025-11-02T00:00:00+00:00",
                          "activeCustomers": 99,
                          "newCustomers": 95,
                          "returningCustomers": 4
                        },
                        {
                          "intervalStart": "2025-11-02T00:00:00+00:00",
                          "intervalEnd": "2025-11-03T00:00:00+00:00",
                          "activeCustomers": 24,
                          "newCustomers": 10,
                          "returningCustomers": 14
                        },
                        {
                          "intervalStart": "2025-11-03T00:00:00+00:00",
                          "intervalEnd": "2025-11-04T00:00:00+00:00",
                          "activeCustomers": 67,
                          "newCustomers": 56,
                          "returningCustomers": 11
                        },
                        {
                          "intervalStart": "2025-11-04T00:00:00+00:00",
                          "intervalEnd": "2025-11-05T00:00:00+00:00",
                          "activeCustomers": 37,
                          "newCustomers": 29,
                          "returningCustomers": 8
                        },
                        {
                          "intervalStart": "2025-11-05T00:00:00+00:00",
                          "intervalEnd": "2025-11-06T00:00:00+00:00",
                          "activeCustomers": 83,
                          "newCustomers": 15,
                          "returningCustomers": 68
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2025-10-30T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2025-10-31T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 36
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 14
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 22
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "",
          "example": "explicabo",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2025-10-30T00:00:00+00:00",
                    "periodEnd": "2025-11-06T00:00:00+00:00",
                    "totalTransactions": 4396,
                    "authorizeTransactions": 214,
                    "captureTransactions": 249,
                    "payTransactions": 1768,
                    "refundTransactions": 887,
                    "verifyTransactions": 1158,
                    "voidTransactions": 120,
                    "successfulTransactions": 3953,
                    "failedTransactions": 413,
                    "pendingTransactions": 30,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2025-10-30T00:00:00+00:00",
                        "intervalEnd": "2025-10-31T00:00:00+00:00",
                        "totalTransactions": 404,
                        "authorizeTransactions": 39,
                        "captureTransactions": 44,
                        "payTransactions": 103,
                        "refundTransactions": 21,
                        "verifyTransactions": 183,
                        "voidTransactions": 14,
                        "successfulTransactions": 363,
                        "failedTransactions": 37,
                        "pendingTransactions": 4,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-10-31T00:00:00+00:00",
                        "intervalEnd": "2025-11-01T00:00:00+00:00",
                        "totalTransactions": 929,
                        "authorizeTransactions": 13,
                        "captureTransactions": 14,
                        "payTransactions": 711,
                        "refundTransactions": 34,
                        "verifyTransactions": 123,
                        "voidTransactions": 34,
                        "successfulTransactions": 836,
                        "failedTransactions": 84,
                        "pendingTransactions": 9,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-01T00:00:00+00:00",
                        "intervalEnd": "2025-11-02T00:00:00+00:00",
                        "totalTransactions": 113,
                        "authorizeTransactions": 14,
                        "captureTransactions": 19,
                        "payTransactions": 68,
                        "refundTransactions": 8,
                        "verifyTransactions": 5,
                        "voidTransactions": -1,
                        "successfulTransactions": 101,
                        "failedTransactions": 11,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-02T00:00:00+00:00",
                        "intervalEnd": "2025-11-03T00:00:00+00:00",
                        "totalTransactions": 850,
                        "authorizeTransactions": 46,
                        "captureTransactions": 55,
                        "payTransactions": 63,
                        "refundTransactions": 229,
                        "verifyTransactions": 433,
                        "voidTransactions": 24,
                        "successfulTransactions": 765,
                        "failedTransactions": 79,
                        "pendingTransactions": 6,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-03T00:00:00+00:00",
                        "intervalEnd": "2025-11-04T00:00:00+00:00",
                        "totalTransactions": 704,
                        "authorizeTransactions": 10,
                        "captureTransactions": 15,
                        "payTransactions": 233,
                        "refundTransactions": 47,
                        "verifyTransactions": 377,
                        "voidTransactions": 22,
                        "successfulTransactions": 633,
                        "failedTransactions": 70,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-04T00:00:00+00:00",
                        "intervalEnd": "2025-11-05T00:00:00+00:00",
                        "totalTransactions": 691,
                        "authorizeTransactions": 59,
                        "captureTransactions": 65,
                        "payTransactions": 249,
                        "refundTransactions": 257,
                        "verifyTransactions": 33,
                        "voidTransactions": 28,
                        "successfulTransactions": 621,
                        "failedTransactions": 65,
                        "pendingTransactions": 5,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-05T00:00:00+00:00",
                        "intervalEnd": "2025-11-06T00:00:00+00:00",
                        "totalTransactions": 705,
                        "authorizeTransactions": 33,
                        "captureTransactions": 37,
                        "payTransactions": 341,
                        "refundTransactions": 291,
                        "verifyTransactions": 4,
                        "voidTransactions": -1,
                        "successfulTransactions": 634,
                        "failedTransactions": 67,
                        "pendingTransactions": 4,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2025-10-30T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2025-11-06T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 4396
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 214
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 249
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 1768
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 887
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 1158
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 120
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 3953
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 413
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 30
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2025-10-30T00:00:00+00:00",
                          "intervalEnd": "2025-10-31T00:00:00+00:00",
                          "totalTransactions": 404,
                          "authorizeTransactions": 39,
                          "captureTransactions": 44,
                          "payTransactions": 103,
                          "refundTransactions": 21,
                          "verifyTransactions": 183,
                          "voidTransactions": 14,
                          "successfulTransactions": 363,
                          "failedTransactions": 37,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-10-31T00:00:00+00:00",
                          "intervalEnd": "2025-11-01T00:00:00+00:00",
                          "totalTransactions": 929,
                          "authorizeTransactions": 13,
                          "captureTransactions": 14,
                          "payTransactions": 711,
                          "refundTransactions": 34,
                          "verifyTransactions": 123,
                          "voidTransactions": 34,
                          "successfulTransactions": 836,
                          "failedTransactions": 84,
                          "pendingTransactions": 9,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-01T00:00:00+00:00",
                          "intervalEnd": "2025-11-02T00:00:00+00:00",
                          "totalTransactions": 113,
                          "authorizeTransactions": 14,
                          "captureTransactions": 19,
                          "payTransactions": 68,
                          "refundTransactions": 8,
                          "verifyTransactions": 5,
                          "voidTransactions": -1,
                          "successfulTransactions": 101,
                          "failedTransactions": 11,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-02T00:00:00+00:00",
                          "intervalEnd": "2025-11-03T00:00:00+00:00",
                          "totalTransactions": 850,
                          "authorizeTransactions": 46,
                          "captureTransactions": 55,
                          "payTransactions": 63,
                          "refundTransactions": 229,
                          "verifyTransactions": 433,
                          "voidTransactions": 24,
                          "successfulTransactions": 765,
                          "failedTransactions": 79,
                          "pendingTransactions": 6,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-03T00:00:00+00:00",
                          "intervalEnd": "2025-11-04T00:00:00+00:00",
                          "totalTransactions": 704,
                          "authorizeTransactions": 10,
                          "captureTransactions": 15,
                          "payTransactions": 233,
                          "refundTransactions": 47,
                          "verifyTransactions": 377,
                          "voidTransactions": 22,
                          "successfulTransactions": 633,
                          "failedTransactions": 70,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-04T00:00:00+00:00",
                          "intervalEnd": "2025-11-05T00:00:00+00:00",
                          "totalTransactions": 691,
                          "authorizeTransactions": 59,
                          "captureTransactions": 65,
                          "payTransactions": 249,
                          "refundTransactions": 257,
                          "verifyTransactions": 33,
                          "voidTransactions": 28,
                          "successfulTransactions": 621,
                          "failedTransactions": 65,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-05T00:00:00+00:00",
                          "intervalEnd": "2025-11-06T00:00:00+00:00",
                          "totalTransactions": 705,
                          "authorizeTransactions": 33,
                          "captureTransactions": 37,
                          "payTransactions": 341,
                          "refundTransactions": 291,
                          "verifyTransactions": 4,
                          "voidTransactions": -1,
                          "successfulTransactions": 634,
                          "failedTransactions": 67,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2025-10-30T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2025-10-31T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 404
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 39
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 44
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 103
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 21
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 183
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": 14
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 363
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 37
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 4
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "",
          "example": "recusandae",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2025-10-30T00:00:00+00:00",
                    "periodEnd": "2025-11-06T00:00:00+00:00",
                    "totalSettlementAmount": 41842.74,
                    "totalFeeAmount": 2050.3,
                    "totalNetAmount": 39792.44,
                    "totalTransactionsPending": 155,
                    "totalTransactionsSettled": 1047,
                    "totalTransactionsSettling": 775,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2025-10-30T00:00:00+00:00",
                        "intervalEnd": "2025-10-31T00:00:00+00:00",
                        "totalSettlementAmount": 8798.68,
                        "totalFeeAmount": 431.14,
                        "totalNetAmount": 8367.54,
                        "totalTransactionsPending": 35,
                        "totalTransactionsSettled": 168,
                        "totalTransactionsSettling": 186
                      },
                      {
                        "intervalStart": "2025-10-31T00:00:00+00:00",
                        "intervalEnd": "2025-11-01T00:00:00+00:00",
                        "totalSettlementAmount": 6204.48,
                        "totalFeeAmount": 304.02,
                        "totalNetAmount": 5900.46,
                        "totalTransactionsPending": 20,
                        "totalTransactionsSettled": 103,
                        "totalTransactionsSettling": 85
                      },
                      {
                        "intervalStart": "2025-11-01T00:00:00+00:00",
                        "intervalEnd": "2025-11-02T00:00:00+00:00",
                        "totalSettlementAmount": 7554.02,
                        "totalFeeAmount": 370.15,
                        "totalNetAmount": 7183.87,
                        "totalTransactionsPending": 15,
                        "totalTransactionsSettled": 182,
                        "totalTransactionsSettling": 41
                      },
                      {
                        "intervalStart": "2025-11-02T00:00:00+00:00",
                        "intervalEnd": "2025-11-03T00:00:00+00:00",
                        "totalSettlementAmount": 731.88,
                        "totalFeeAmount": 35.86,
                        "totalNetAmount": 696.02,
                        "totalTransactionsPending": 9,
                        "totalTransactionsSettled": 138,
                        "totalTransactionsSettling": 308
                      },
                      {
                        "intervalStart": "2025-11-03T00:00:00+00:00",
                        "intervalEnd": "2025-11-04T00:00:00+00:00",
                        "totalSettlementAmount": 7979.42,
                        "totalFeeAmount": 390.99,
                        "totalNetAmount": 7588.43,
                        "totalTransactionsPending": 26,
                        "totalTransactionsSettled": 266,
                        "totalTransactionsSettling": 18
                      },
                      {
                        "intervalStart": "2025-11-04T00:00:00+00:00",
                        "intervalEnd": "2025-11-05T00:00:00+00:00",
                        "totalSettlementAmount": 6726.59,
                        "totalFeeAmount": 329.6,
                        "totalNetAmount": 6396.99,
                        "totalTransactionsPending": 30,
                        "totalTransactionsSettled": 127,
                        "totalTransactionsSettling": 42
                      },
                      {
                        "intervalStart": "2025-11-05T00:00:00+00:00",
                        "intervalEnd": "2025-11-06T00:00:00+00:00",
                        "totalSettlementAmount": 3847.67,
                        "totalFeeAmount": 188.54,
                        "totalNetAmount": 3659.13,
                        "totalTransactionsPending": 20,
                        "totalTransactionsSettled": 63,
                        "totalTransactionsSettling": 95
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2025-10-30T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2025-11-06T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 41842.74
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 2050.3
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 39792.44
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 155
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 1047
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 775
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2025-10-30T00:00:00+00:00",
                          "intervalEnd": "2025-10-31T00:00:00+00:00",
                          "totalSettlementAmount": 8798.68,
                          "totalFeeAmount": 431.14,
                          "totalNetAmount": 8367.54,
                          "totalTransactionsPending": 35,
                          "totalTransactionsSettled": 168,
                          "totalTransactionsSettling": 186
                        },
                        {
                          "intervalStart": "2025-10-31T00:00:00+00:00",
                          "intervalEnd": "2025-11-01T00:00:00+00:00",
                          "totalSettlementAmount": 6204.48,
                          "totalFeeAmount": 304.02,
                          "totalNetAmount": 5900.46,
                          "totalTransactionsPending": 20,
                          "totalTransactionsSettled": 103,
                          "totalTransactionsSettling": 85
                        },
                        {
                          "intervalStart": "2025-11-01T00:00:00+00:00",
                          "intervalEnd": "2025-11-02T00:00:00+00:00",
                          "totalSettlementAmount": 7554.02,
                          "totalFeeAmount": 370.15,
                          "totalNetAmount": 7183.87,
                          "totalTransactionsPending": 15,
                          "totalTransactionsSettled": 182,
                          "totalTransactionsSettling": 41
                        },
                        {
                          "intervalStart": "2025-11-02T00:00:00+00:00",
                          "intervalEnd": "2025-11-03T00:00:00+00:00",
                          "totalSettlementAmount": 731.88,
                          "totalFeeAmount": 35.86,
                          "totalNetAmount": 696.02,
                          "totalTransactionsPending": 9,
                          "totalTransactionsSettled": 138,
                          "totalTransactionsSettling": 308
                        },
                        {
                          "intervalStart": "2025-11-03T00:00:00+00:00",
                          "intervalEnd": "2025-11-04T00:00:00+00:00",
                          "totalSettlementAmount": 7979.42,
                          "totalFeeAmount": 390.99,
                          "totalNetAmount": 7588.43,
                          "totalTransactionsPending": 26,
                          "totalTransactionsSettled": 266,
                          "totalTransactionsSettling": 18
                        },
                        {
                          "intervalStart": "2025-11-04T00:00:00+00:00",
                          "intervalEnd": "2025-11-05T00:00:00+00:00",
                          "totalSettlementAmount": 6726.59,
                          "totalFeeAmount": 329.6,
                          "totalNetAmount": 6396.99,
                          "totalTransactionsPending": 30,
                          "totalTransactionsSettled": 127,
                          "totalTransactionsSettling": 42
                        },
                        {
                          "intervalStart": "2025-11-05T00:00:00+00:00",
                          "intervalEnd": "2025-11-06T00:00:00+00:00",
                          "totalSettlementAmount": 3847.67,
                          "totalFeeAmount": 188.54,
                          "totalNetAmount": 3659.13,
                          "totalTransactionsPending": 20,
                          "totalTransactionsSettled": 63,
                          "totalTransactionsSettling": 95
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2025-10-30T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2025-10-31T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 8798.68
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 431.14
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 8367.54
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 35
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 168
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 186
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "",
          "example": "consequatur",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 10,
                    "data": [
                      {
                        "email": "anya.murazik@yahoo.com",
                        "firstName": "Beau",
                        "lastName": "Hirthe",
                        "phone": "+13524838314",
                        "dateOfBirth": "1970-11-14"
                      },
                      {
                        "email": "jay67@gmail.com",
                        "firstName": "Jeanie",
                        "lastName": "Howell",
                        "phone": "+16095931039",
                        "dateOfBirth": "1985-04-30"
                      },
                      {
                        "email": "roberts.devan@gmail.com",
                        "firstName": "Audreanne",
                        "lastName": "Schulist",
                        "phone": "+17545052029",
                        "dateOfBirth": "1971-04-07"
                      },
                      {
                        "email": "andre32@yahoo.com",
                        "firstName": "Jamey",
                        "lastName": "Hand",
                        "phone": "+15709534932",
                        "dateOfBirth": "2001-01-28"
                      },
                      {
                        "email": "willis.koepp@gmail.com",
                        "firstName": "Harold",
                        "lastName": "White",
                        "phone": "+18046731948",
                        "dateOfBirth": "1997-01-15"
                      },
                      {
                        "email": "dthiel@gmail.com",
                        "firstName": "Gideon",
                        "lastName": "Muller",
                        "phone": "+15313371135",
                        "dateOfBirth": "1980-08-25"
                      },
                      {
                        "email": "ledner.elenora@harber.org",
                        "firstName": "Velda",
                        "lastName": "Wilderman",
                        "phone": "+17152560332",
                        "dateOfBirth": "1976-10-13"
                      },
                      {
                        "email": "golda.fadel@yahoo.com",
                        "firstName": "Carrie",
                        "lastName": "Greenholt",
                        "phone": "+18787241025",
                        "dateOfBirth": "1984-07-28"
                      },
                      {
                        "email": "blanda.deja@hotmail.com",
                        "firstName": "Yesenia",
                        "lastName": "Pfannerstill",
                        "phone": "+15592636572",
                        "dateOfBirth": "1979-08-16"
                      },
                      {
                        "email": "aliza99@smitham.com",
                        "firstName": "Heber",
                        "lastName": "Jenkins",
                        "phone": "+19074608415",
                        "dateOfBirth": "1981-11-18"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 10,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "anya.murazik@yahoo.com",
                          "firstName": "Beau",
                          "lastName": "Hirthe",
                          "phone": "+13524838314",
                          "dateOfBirth": "1970-11-14"
                        },
                        {
                          "email": "jay67@gmail.com",
                          "firstName": "Jeanie",
                          "lastName": "Howell",
                          "phone": "+16095931039",
                          "dateOfBirth": "1985-04-30"
                        },
                        {
                          "email": "roberts.devan@gmail.com",
                          "firstName": "Audreanne",
                          "lastName": "Schulist",
                          "phone": "+17545052029",
                          "dateOfBirth": "1971-04-07"
                        },
                        {
                          "email": "andre32@yahoo.com",
                          "firstName": "Jamey",
                          "lastName": "Hand",
                          "phone": "+15709534932",
                          "dateOfBirth": "2001-01-28"
                        },
                        {
                          "email": "willis.koepp@gmail.com",
                          "firstName": "Harold",
                          "lastName": "White",
                          "phone": "+18046731948",
                          "dateOfBirth": "1997-01-15"
                        },
                        {
                          "email": "dthiel@gmail.com",
                          "firstName": "Gideon",
                          "lastName": "Muller",
                          "phone": "+15313371135",
                          "dateOfBirth": "1980-08-25"
                        },
                        {
                          "email": "ledner.elenora@harber.org",
                          "firstName": "Velda",
                          "lastName": "Wilderman",
                          "phone": "+17152560332",
                          "dateOfBirth": "1976-10-13"
                        },
                        {
                          "email": "golda.fadel@yahoo.com",
                          "firstName": "Carrie",
                          "lastName": "Greenholt",
                          "phone": "+18787241025",
                          "dateOfBirth": "1984-07-28"
                        },
                        {
                          "email": "blanda.deja@hotmail.com",
                          "firstName": "Yesenia",
                          "lastName": "Pfannerstill",
                          "phone": "+15592636572",
                          "dateOfBirth": "1979-08-16"
                        },
                        {
                          "email": "aliza99@smitham.com",
                          "firstName": "Heber",
                          "lastName": "Jenkins",
                          "phone": "+19074608415",
                          "dateOfBirth": "1981-11-18"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "anya.murazik@yahoo.com"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Beau"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Hirthe"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+13524838314"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "1970-11-14"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "cum",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/merchant/{merchantId}/purge": {
      "post": {
        "summary": "Purge Sandbox Data",
        "operationId": "purgeSandboxData",
        "description": "Delete **sandbox** data for the specified merchant. This endpoint allows deletion of different entity types related to merchants.\nThe operation is performed asynchronously and will trigger the \"payments.merchant.purge\" webhook upon completion.",
        "parameters": [
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sandbox purge job queued successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "payments": 5,
                    "customers": 3,
                    "sessions": 2,
                    "tokens": 1,
                    "merchantId": "MERCHANT123"
                  },
                  "properties": {
                    "payments": {
                      "type": "integer",
                      "example": 5
                    },
                    "customers": {
                      "type": "integer",
                      "example": 3
                    },
                    "sessions": {
                      "type": "integer",
                      "example": 2
                    },
                    "tokens": {
                      "type": "integer",
                      "example": 1
                    },
                    "merchantId": {
                      "type": "string",
                      "example": "MERCHANT123"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "The field1 is required (and one other error)",
                    "errors": {
                      "field1": [
                        "The field1 is required."
                      ],
                      "field2": [
                        "The field2 must be a valid value."
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "message": {
                      "type": "string",
                      "example": "The field1 is required (and one other error)",
                      "description": "A message describing the result of the request",
                      "enum": []
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "field1": {
                          "type": "array",
                          "example": [
                            "The field1 is required."
                          ],
                          "items": {
                            "type": "string"
                          }
                        },
                        "field2": {
                          "type": "array",
                          "example": [
                            "The field2 must be a valid value."
                          ],
                          "items": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Any errors that occurred during the request"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "Authentication is required"
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "message": {
                      "type": "string",
                      "example": "Authentication is required",
                      "description": "A message describing the result of the request",
                      "enum": []
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "Internal Server Error"
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error",
                      "description": "A message describing the result of the request",
                      "enum": []
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Merchant Purge"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$class": "App\\Data\\Api\\N1\\Merchant\\PurgeMerchantRequestBody",
                "type": "object",
                "description": null,
                "properties": {
                  "payments": {
                    "type": "boolean",
                    "nullable": true,
                    "example": true,
                    "description": "Delete all merchant payments"
                  },
                  "customers": {
                    "type": "boolean",
                    "nullable": true,
                    "example": true,
                    "description": "Delete all merchant customers"
                  },
                  "sessions": {
                    "type": "boolean",
                    "nullable": true,
                    "example": true,
                    "description": "Delete all merchant sessions"
                  },
                  "tokens": {
                    "type": "boolean",
                    "nullable": true,
                    "example": true,
                    "description": "Delete all merchant tokens"
                  }
                }
              },
              "examples": {
                "example": {
                  "summary": "Example",
                  "value": {
                    "payments": true,
                    "customers": true,
                    "sessions": true,
                    "tokens": true
                  }
                },
                "paymentsOnly": {
                  "summary": "Payments Only",
                  "value": {
                    "payments": true,
                    "customers": false,
                    "sessions": false,
[...]
