{
  "openapi": "3.1.0",
  "info": {
    "version": "1.20.0",
    "title": "Payments API"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "paths": {
    "/api/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2025-10-30T00:00:00+00:00",
                    "periodEnd": "2025-11-06T00:00:00+00:00",
                    "numPaymentsCreated": 3404,
                    "numPaymentsProcessed": 2434,
                    "numPaymentsIncomplete": 970,
                    "numPaymentsWithRefunds": 1527,
                    "numCardPresentPayments": 939,
                    "numCardNotPresentPayments": 31,
                    "totalCapturedAmount": 2593054.15,
                    "totalRefundedAmount": 593145.85,
                    "totalNetCapturedAmount": 1999908.3,
                    "averageNetCapturedAmount": 1438.28,
                    "minNetCapturedAmount": 15.47,
                    "maxNetCapturedAmount": 9904.64,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2025-10-30T00:00:00+00:00",
                        "intervalEnd": "2025-10-31T00:00:00+00:00",
                        "numPaymentsCreated": 248,
                        "numPaymentsProcessed": 235,
                        "numPaymentsIncomplete": 13,
                        "numPaymentsWithRefunds": 138,
                        "numCardPresentPayments": 27,
                        "numCardNotPresentPayments": -14,
                        "totalCapturedAmount": 667682.9,
                        "totalRefundedAmount": 118762.79,
                        "totalNetCapturedAmount": 548920.11,
                        "averageNetCapturedAmount": 2335.83,
                        "minNetCapturedAmount": 64.84,
                        "maxNetCapturedAmount": 8440.36
                      },
                      {
                        "intervalStart": "2025-10-31T00:00:00+00:00",
                        "intervalEnd": "2025-11-01T00:00:00+00:00",
                        "numPaymentsCreated": 672,
                        "numPaymentsProcessed": 531,
                        "numPaymentsIncomplete": 141,
                        "numPaymentsWithRefunds": 38,
                        "numCardPresentPayments": 14,
                        "numCardNotPresentPayments": 127,
                        "totalCapturedAmount": 390174.72,
                        "totalRefundedAmount": 108344.62,
                        "totalNetCapturedAmount": 281830.1,
                        "averageNetCapturedAmount": 530.75,
                        "minNetCapturedAmount": 90.48,
                        "maxNetCapturedAmount": 6195.05
                      },
                      {
                        "intervalStart": "2025-11-01T00:00:00+00:00",
                        "intervalEnd": "2025-11-02T00:00:00+00:00",
                        "numPaymentsCreated": 624,
                        "numPaymentsProcessed": 151,
                        "numPaymentsIncomplete": 473,
                        "numPaymentsWithRefunds": 53,
                        "numCardPresentPayments": 38,
                        "numCardNotPresentPayments": 435,
                        "totalCapturedAmount": 126820.18,
                        "totalRefundedAmount": 35045.07,
                        "totalNetCapturedAmount": 91775.11,
                        "averageNetCapturedAmount": 607.78,
                        "minNetCapturedAmount": 97.24,
                        "maxNetCapturedAmount": 7635.41
                      },
                      {
                        "intervalStart": "2025-11-02T00:00:00+00:00",
                        "intervalEnd": "2025-11-03T00:00:00+00:00",
                        "numPaymentsCreated": 175,
                        "numPaymentsProcessed": 141,
                        "numPaymentsIncomplete": 34,
                        "numPaymentsWithRefunds": 138,
                        "numCardPresentPayments": 118,
                        "numCardNotPresentPayments": -84,
                        "totalCapturedAmount": 315463.21,
                        "totalRefundedAmount": 50040.53,
                        "totalNetCapturedAmount": 265422.68,
                        "averageNetCapturedAmount": 1882.43,
                        "minNetCapturedAmount": 40.12,
                        "maxNetCapturedAmount": 5746.42
                      },
                      {
                        "intervalStart": "2025-11-03T00:00:00+00:00",
                        "intervalEnd": "2025-11-04T00:00:00+00:00",
                        "numPaymentsCreated": 721,
                        "numPaymentsProcessed": 716,
                        "numPaymentsIncomplete": 5,
                        "numPaymentsWithRefunds": 674,
                        "numCardPresentPayments": 237,
                        "numCardNotPresentPayments": -232,
                        "totalCapturedAmount": 579076.89,
                        "totalRefundedAmount": 154248.39,
                        "totalNetCapturedAmount": 424828.5,
                        "averageNetCapturedAmount": 593.34,
                        "minNetCapturedAmount": 95.61,
                        "maxNetCapturedAmount": 9659.53
                      },
                      {
                        "intervalStart": "2025-11-04T00:00:00+00:00",
                        "intervalEnd": "2025-11-05T00:00:00+00:00",
                        "numPaymentsCreated": 225,
                        "numPaymentsProcessed": 64,
                        "numPaymentsIncomplete": 161,
                        "numPaymentsWithRefunds": 10,
                        "numCardPresentPayments": 18,
                        "numCardNotPresentPayments": 143,
                        "totalCapturedAmount": 344584.16,
                        "totalRefundedAmount": 95911.98,
                        "totalNetCapturedAmount": 248672.18,
                        "averageNetCapturedAmount": 3885.5,
                        "minNetCapturedAmount": 41.1,
                        "maxNetCapturedAmount": 9904.64
                      },
                      {
                        "intervalStart": "2025-11-05T00:00:00+00:00",
                        "intervalEnd": "2025-11-06T00:00:00+00:00",
                        "numPaymentsCreated": 739,
                        "numPaymentsProcessed": 596,
                        "numPaymentsIncomplete": 143,
                        "numPaymentsWithRefunds": 476,
                        "numCardPresentPayments": 487,
                        "numCardNotPresentPayments": -344,
                        "totalCapturedAmount": 169252.09,
                        "totalRefundedAmount": 30792.47,
                        "totalNetCapturedAmount": 138459.62,
                        "averageNetCapturedAmount": 232.31,
                        "minNetCapturedAmount": 15.47,
                        "maxNetCapturedAmount": 6437.26
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2025-10-30T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2025-11-06T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 3404
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 2434
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 970
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 1527
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 939
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": 31
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 2593054.15
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 593145.85
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 1999908.3
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 1438.28
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 15.47
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 9904.64
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2025-10-30T00:00:00+00:00",
                          "intervalEnd": "2025-10-31T00:00:00+00:00",
                          "numPaymentsCreated": 248,
                          "numPaymentsProcessed": 235,
                          "numPaymentsIncomplete": 13,
                          "numPaymentsWithRefunds": 138,
                          "numCardPresentPayments": 27,
                          "numCardNotPresentPayments": -14,
                          "totalCapturedAmount": 667682.9,
                          "totalRefundedAmount": 118762.79,
                          "totalNetCapturedAmount": 548920.11,
                          "averageNetCapturedAmount": 2335.83,
                          "minNetCapturedAmount": 64.84,
                          "maxNetCapturedAmount": 8440.36
                        },
                        {
                          "intervalStart": "2025-10-31T00:00:00+00:00",
                          "intervalEnd": "2025-11-01T00:00:00+00:00",
                          "numPaymentsCreated": 672,
                          "numPaymentsProcessed": 531,
                          "numPaymentsIncomplete": 141,
                          "numPaymentsWithRefunds": 38,
                          "numCardPresentPayments": 14,
                          "numCardNotPresentPayments": 127,
                          "totalCapturedAmount": 390174.72,
                          "totalRefundedAmount": 108344.62,
                          "totalNetCapturedAmount": 281830.1,
                          "averageNetCapturedAmount": 530.75,
                          "minNetCapturedAmount": 90.48,
                          "maxNetCapturedAmount": 6195.05
                        },
                        {
                          "intervalStart": "2025-11-01T00:00:00+00:00",
                          "intervalEnd": "2025-11-02T00:00:00+00:00",
                          "numPaymentsCreated": 624,
                          "numPaymentsProcessed": 151,
                          "numPaymentsIncomplete": 473,
                          "numPaymentsWithRefunds": 53,
                          "numCardPresentPayments": 38,
                          "numCardNotPresentPayments": 435,
                          "totalCapturedAmount": 126820.18,
                          "totalRefundedAmount": 35045.07,
                          "totalNetCapturedAmount": 91775.11,
                          "averageNetCapturedAmount": 607.78,
                          "minNetCapturedAmount": 97.24,
                          "maxNetCapturedAmount": 7635.41
                        },
                        {
                          "intervalStart": "2025-11-02T00:00:00+00:00",
                          "intervalEnd": "2025-11-03T00:00:00+00:00",
                          "numPaymentsCreated": 175,
                          "numPaymentsProcessed": 141,
                          "numPaymentsIncomplete": 34,
                          "numPaymentsWithRefunds": 138,
                          "numCardPresentPayments": 118,
                          "numCardNotPresentPayments": -84,
                          "totalCapturedAmount": 315463.21,
                          "totalRefundedAmount": 50040.53,
                          "totalNetCapturedAmount": 265422.68,
                          "averageNetCapturedAmount": 1882.43,
                          "minNetCapturedAmount": 40.12,
                          "maxNetCapturedAmount": 5746.42
                        },
                        {
                          "intervalStart": "2025-11-03T00:00:00+00:00",
                          "intervalEnd": "2025-11-04T00:00:00+00:00",
                          "numPaymentsCreated": 721,
                          "numPaymentsProcessed": 716,
                          "numPaymentsIncomplete": 5,
                          "numPaymentsWithRefunds": 674,
                          "numCardPresentPayments": 237,
                          "numCardNotPresentPayments": -232,
                          "totalCapturedAmount": 579076.89,
                          "totalRefundedAmount": 154248.39,
                          "totalNetCapturedAmount": 424828.5,
                          "averageNetCapturedAmount": 593.34,
                          "minNetCapturedAmount": 95.61,
                          "maxNetCapturedAmount": 9659.53
                        },
                        {
                          "intervalStart": "2025-11-04T00:00:00+00:00",
                          "intervalEnd": "2025-11-05T00:00:00+00:00",
                          "numPaymentsCreated": 225,
                          "numPaymentsProcessed": 64,
                          "numPaymentsIncomplete": 161,
                          "numPaymentsWithRefunds": 10,
                          "numCardPresentPayments": 18,
                          "numCardNotPresentPayments": 143,
                          "totalCapturedAmount": 344584.16,
                          "totalRefundedAmount": 95911.98,
                          "totalNetCapturedAmount": 248672.18,
                          "averageNetCapturedAmount": 3885.5,
                          "minNetCapturedAmount": 41.1,
                          "maxNetCapturedAmount": 9904.64
                        },
                        {
                          "intervalStart": "2025-11-05T00:00:00+00:00",
                          "intervalEnd": "2025-11-06T00:00:00+00:00",
                          "numPaymentsCreated": 739,
                          "numPaymentsProcessed": 596,
                          "numPaymentsIncomplete": 143,
                          "numPaymentsWithRefunds": 476,
                          "numCardPresentPayments": 487,
                          "numCardNotPresentPayments": -344,
                          "totalCapturedAmount": 169252.09,
                          "totalRefundedAmount": 30792.47,
                          "totalNetCapturedAmount": 138459.62,
                          "averageNetCapturedAmount": 232.31,
                          "minNetCapturedAmount": 15.47,
                          "maxNetCapturedAmount": 6437.26
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2025-10-30T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2025-10-31T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 248
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 235
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 13
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 138
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 27
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": -14
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 667682.9
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 118762.79
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 548920.11
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 2335.83
                          },
                          "minNetCapturedAmount": {
                            "type": "number",
                            "example": 64.84
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 8440.36
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "",
          "example": "doloremque",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2025-10-30T00:00:00+00:00",
                    "periodEnd": "2025-11-06T00:00:00+00:00",
                    "activeCustomers": 310,
                    "newCustomers": 389,
                    "returningCustomers": -79,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2025-10-30T00:00:00+00:00",
                        "intervalEnd": "2025-10-31T00:00:00+00:00",
                        "activeCustomers": 94,
                        "newCustomers": 80,
                        "returningCustomers": 14
                      },
                      {
                        "intervalStart": "2025-10-31T00:00:00+00:00",
                        "intervalEnd": "2025-11-01T00:00:00+00:00",
                        "activeCustomers": 71,
                        "newCustomers": 54,
                        "returningCustomers": 17
                      },
                      {
                        "intervalStart": "2025-11-01T00:00:00+00:00",
                        "intervalEnd": "2025-11-02T00:00:00+00:00",
                        "activeCustomers": 91,
                        "newCustomers": 78,
                        "returningCustomers": 13
                      },
                      {
                        "intervalStart": "2025-11-02T00:00:00+00:00",
                        "intervalEnd": "2025-11-03T00:00:00+00:00",
                        "activeCustomers": 80,
                        "newCustomers": 36,
                        "returningCustomers": 44
                      },
                      {
                        "intervalStart": "2025-11-03T00:00:00+00:00",
                        "intervalEnd": "2025-11-04T00:00:00+00:00",
                        "activeCustomers": 57,
                        "newCustomers": 27,
                        "returningCustomers": 30
                      },
                      {
                        "intervalStart": "2025-11-04T00:00:00+00:00",
                        "intervalEnd": "2025-11-05T00:00:00+00:00",
                        "activeCustomers": 66,
                        "newCustomers": 60,
                        "returningCustomers": 6
                      },
                      {
                        "intervalStart": "2025-11-05T00:00:00+00:00",
                        "intervalEnd": "2025-11-06T00:00:00+00:00",
                        "activeCustomers": 60,
                        "newCustomers": 54,
                        "returningCustomers": 6
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2025-10-30T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2025-11-06T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 310
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 389
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": -79
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2025-10-30T00:00:00+00:00",
                          "intervalEnd": "2025-10-31T00:00:00+00:00",
                          "activeCustomers": 94,
                          "newCustomers": 80,
                          "returningCustomers": 14
                        },
                        {
                          "intervalStart": "2025-10-31T00:00:00+00:00",
                          "intervalEnd": "2025-11-01T00:00:00+00:00",
                          "activeCustomers": 71,
                          "newCustomers": 54,
                          "returningCustomers": 17
                        },
                        {
                          "intervalStart": "2025-11-01T00:00:00+00:00",
                          "intervalEnd": "2025-11-02T00:00:00+00:00",
                          "activeCustomers": 91,
                          "newCustomers": 78,
                          "returningCustomers": 13
                        },
                        {
                          "intervalStart": "2025-11-02T00:00:00+00:00",
                          "intervalEnd": "2025-11-03T00:00:00+00:00",
                          "activeCustomers": 80,
                          "newCustomers": 36,
                          "returningCustomers": 44
                        },
                        {
                          "intervalStart": "2025-11-03T00:00:00+00:00",
                          "intervalEnd": "2025-11-04T00:00:00+00:00",
                          "activeCustomers": 57,
                          "newCustomers": 27,
                          "returningCustomers": 30
                        },
                        {
                          "intervalStart": "2025-11-04T00:00:00+00:00",
                          "intervalEnd": "2025-11-05T00:00:00+00:00",
                          "activeCustomers": 66,
                          "newCustomers": 60,
                          "returningCustomers": 6
                        },
                        {
                          "intervalStart": "2025-11-05T00:00:00+00:00",
                          "intervalEnd": "2025-11-06T00:00:00+00:00",
                          "activeCustomers": 60,
                          "newCustomers": 54,
                          "returningCustomers": 6
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2025-10-30T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2025-10-31T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 94
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 80
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 14
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "",
          "example": "a",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2025-10-30T00:00:00+00:00",
                    "periodEnd": "2025-11-06T00:00:00+00:00",
                    "totalTransactions": 3056,
                    "authorizeTransactions": 271,
                    "captureTransactions": 312,
                    "payTransactions": 1199,
                    "refundTransactions": 375,
                    "verifyTransactions": 524,
                    "voidTransactions": 375,
                    "successfulTransactions": 2747,
                    "failedTransactions": 289,
                    "pendingTransactions": 20,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2025-10-30T00:00:00+00:00",
                        "intervalEnd": "2025-10-31T00:00:00+00:00",
                        "totalTransactions": 818,
                        "authorizeTransactions": 100,
                        "captureTransactions": 110,
                        "payTransactions": 323,
                        "refundTransactions": 45,
                        "verifyTransactions": 150,
                        "voidTransactions": 90,
                        "successfulTransactions": 736,
                        "failedTransactions": 76,
                        "pendingTransactions": 6,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-10-31T00:00:00+00:00",
                        "intervalEnd": "2025-11-01T00:00:00+00:00",
                        "totalTransactions": 245,
                        "authorizeTransactions": 25,
                        "captureTransactions": 34,
                        "payTransactions": 64,
                        "refundTransactions": 48,
                        "verifyTransactions": 54,
                        "voidTransactions": 20,
                        "successfulTransactions": 220,
                        "failedTransactions": 23,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-01T00:00:00+00:00",
                        "intervalEnd": "2025-11-02T00:00:00+00:00",
                        "totalTransactions": 443,
                        "authorizeTransactions": 39,
                        "captureTransactions": 42,
                        "payTransactions": 51,
                        "refundTransactions": 63,
                        "verifyTransactions": 13,
                        "voidTransactions": 235,
                        "successfulTransactions": 398,
                        "failedTransactions": 42,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-02T00:00:00+00:00",
                        "intervalEnd": "2025-11-03T00:00:00+00:00",
                        "totalTransactions": 268,
                        "authorizeTransactions": 25,
                        "captureTransactions": 26,
                        "payTransactions": 79,
                        "refundTransactions": 96,
                        "verifyTransactions": 34,
                        "voidTransactions": 8,
                        "successfulTransactions": 241,
                        "failedTransactions": 26,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-03T00:00:00+00:00",
                        "intervalEnd": "2025-11-04T00:00:00+00:00",
                        "totalTransactions": 450,
                        "authorizeTransactions": 33,
                        "captureTransactions": 37,
                        "payTransactions": 124,
                        "refundTransactions": 99,
                        "verifyTransactions": 156,
                        "voidTransactions": 1,
                        "successfulTransactions": 405,
                        "failedTransactions": 42,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-04T00:00:00+00:00",
                        "intervalEnd": "2025-11-05T00:00:00+00:00",
                        "totalTransactions": 451,
                        "authorizeTransactions": 30,
                        "captureTransactions": 35,
                        "payTransactions": 359,
                        "refundTransactions": 11,
                        "verifyTransactions": 13,
                        "voidTransactions": 3,
                        "successfulTransactions": 405,
                        "failedTransactions": 42,
                        "pendingTransactions": 4,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-05T00:00:00+00:00",
                        "intervalEnd": "2025-11-06T00:00:00+00:00",
                        "totalTransactions": 381,
                        "authorizeTransactions": 19,
                        "captureTransactions": 28,
                        "payTransactions": 199,
                        "refundTransactions": 13,
                        "verifyTransactions": 104,
                        "voidTransactions": 18,
                        "successfulTransactions": 342,
                        "failedTransactions": 38,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2025-10-30T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2025-11-06T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 3056
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 271
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 312
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 1199
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 375
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 524
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 375
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 2747
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 289
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 20
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2025-10-30T00:00:00+00:00",
                          "intervalEnd": "2025-10-31T00:00:00+00:00",
                          "totalTransactions": 818,
                          "authorizeTransactions": 100,
                          "captureTransactions": 110,
                          "payTransactions": 323,
                          "refundTransactions": 45,
                          "verifyTransactions": 150,
                          "voidTransactions": 90,
                          "successfulTransactions": 736,
                          "failedTransactions": 76,
                          "pendingTransactions": 6,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-10-31T00:00:00+00:00",
                          "intervalEnd": "2025-11-01T00:00:00+00:00",
                          "totalTransactions": 245,
                          "authorizeTransactions": 25,
                          "captureTransactions": 34,
                          "payTransactions": 64,
                          "refundTransactions": 48,
                          "verifyTransactions": 54,
                          "voidTransactions": 20,
                          "successfulTransactions": 220,
                          "failedTransactions": 23,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-01T00:00:00+00:00",
                          "intervalEnd": "2025-11-02T00:00:00+00:00",
                          "totalTransactions": 443,
                          "authorizeTransactions": 39,
                          "captureTransactions": 42,
                          "payTransactions": 51,
                          "refundTransactions": 63,
                          "verifyTransactions": 13,
                          "voidTransactions": 235,
                          "successfulTransactions": 398,
                          "failedTransactions": 42,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-02T00:00:00+00:00",
                          "intervalEnd": "2025-11-03T00:00:00+00:00",
                          "totalTransactions": 268,
                          "authorizeTransactions": 25,
                          "captureTransactions": 26,
                          "payTransactions": 79,
                          "refundTransactions": 96,
                          "verifyTransactions": 34,
                          "voidTransactions": 8,
                          "successfulTransactions": 241,
                          "failedTransactions": 26,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-03T00:00:00+00:00",
                          "intervalEnd": "2025-11-04T00:00:00+00:00",
                          "totalTransactions": 450,
                          "authorizeTransactions": 33,
                          "captureTransactions": 37,
                          "payTransactions": 124,
                          "refundTransactions": 99,
                          "verifyTransactions": 156,
                          "voidTransactions": 1,
                          "successfulTransactions": 405,
                          "failedTransactions": 42,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-04T00:00:00+00:00",
                          "intervalEnd": "2025-11-05T00:00:00+00:00",
                          "totalTransactions": 451,
                          "authorizeTransactions": 30,
                          "captureTransactions": 35,
                          "payTransactions": 359,
                          "refundTransactions": 11,
                          "verifyTransactions": 13,
                          "voidTransactions": 3,
                          "successfulTransactions": 405,
                          "failedTransactions": 42,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-05T00:00:00+00:00",
                          "intervalEnd": "2025-11-06T00:00:00+00:00",
                          "totalTransactions": 381,
                          "authorizeTransactions": 19,
                          "captureTransactions": 28,
                          "payTransactions": 199,
                          "refundTransactions": 13,
                          "verifyTransactions": 104,
                          "voidTransactions": 18,
                          "successfulTransactions": 342,
                          "failedTransactions": 38,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2025-10-30T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2025-10-31T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 818
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 100
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 110
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 323
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 45
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 150
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": 90
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 736
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 76
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 6
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "",
          "example": "non",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2025-10-30T00:00:00+00:00",
                    "periodEnd": "2025-11-06T00:00:00+00:00",
                    "totalSettlementAmount": 22862.68,
                    "totalFeeAmount": 1120.26,
                    "totalNetAmount": 21742.42,
                    "totalTransactionsPending": 158,
                    "totalTransactionsSettled": 1044,
                    "totalTransactionsSettling": 537,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2025-10-30T00:00:00+00:00",
                        "intervalEnd": "2025-10-31T00:00:00+00:00",
                        "totalSettlementAmount": 5298.97,
                        "totalFeeAmount": 259.65,
                        "totalNetAmount": 5039.32,
                        "totalTransactionsPending": 9,
                        "totalTransactionsSettled": 158,
                        "totalTransactionsSettling": 37
                      },
                      {
                        "intervalStart": "2025-10-31T00:00:00+00:00",
                        "intervalEnd": "2025-11-01T00:00:00+00:00",
                        "totalSettlementAmount": 1193.34,
                        "totalFeeAmount": 58.47,
                        "totalNetAmount": 1134.87,
                        "totalTransactionsPending": 40,
                        "totalTransactionsSettled": 301,
                        "totalTransactionsSettling": 37
                      },
                      {
                        "intervalStart": "2025-11-01T00:00:00+00:00",
                        "intervalEnd": "2025-11-02T00:00:00+00:00",
                        "totalSettlementAmount": 2043.87,
                        "totalFeeAmount": 100.15,
                        "totalNetAmount": 1943.72,
                        "totalTransactionsPending": 10,
                        "totalTransactionsSettled": 71,
                        "totalTransactionsSettling": 36
                      },
                      {
                        "intervalStart": "2025-11-02T00:00:00+00:00",
                        "intervalEnd": "2025-11-03T00:00:00+00:00",
                        "totalSettlementAmount": 4358.8,
                        "totalFeeAmount": 213.58,
                        "totalNetAmount": 4145.22,
                        "totalTransactionsPending": 7,
                        "totalTransactionsSettled": 185,
                        "totalTransactionsSettling": 18
                      },
                      {
                        "intervalStart": "2025-11-03T00:00:00+00:00",
                        "intervalEnd": "2025-11-04T00:00:00+00:00",
                        "totalSettlementAmount": 1149.41,
                        "totalFeeAmount": 56.32,
                        "totalNetAmount": 1093.09,
                        "totalTransactionsPending": 26,
                        "totalTransactionsSettled": 50,
                        "totalTransactionsSettling": 184
                      },
                      {
                        "intervalStart": "2025-11-04T00:00:00+00:00",
                        "intervalEnd": "2025-11-05T00:00:00+00:00",
                        "totalSettlementAmount": 3529.46,
                        "totalFeeAmount": 172.94,
                        "totalNetAmount": 3356.52,
                        "totalTransactionsPending": 30,
                        "totalTransactionsSettled": 155,
                        "totalTransactionsSettling": 74
                      },
                      {
                        "intervalStart": "2025-11-05T00:00:00+00:00",
                        "intervalEnd": "2025-11-06T00:00:00+00:00",
                        "totalSettlementAmount": 5288.83,
                        "totalFeeAmount": 259.15,
                        "totalNetAmount": 5029.68,
                        "totalTransactionsPending": 36,
                        "totalTransactionsSettled": 124,
                        "totalTransactionsSettling": 151
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2025-10-30T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2025-11-06T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 22862.68
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 1120.26
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 21742.42
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 158
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 1044
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 537
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2025-10-30T00:00:00+00:00",
                          "intervalEnd": "2025-10-31T00:00:00+00:00",
                          "totalSettlementAmount": 5298.97,
                          "totalFeeAmount": 259.65,
                          "totalNetAmount": 5039.32,
                          "totalTransactionsPending": 9,
                          "totalTransactionsSettled": 158,
                          "totalTransactionsSettling": 37
                        },
                        {
                          "intervalStart": "2025-10-31T00:00:00+00:00",
                          "intervalEnd": "2025-11-01T00:00:00+00:00",
                          "totalSettlementAmount": 1193.34,
                          "totalFeeAmount": 58.47,
                          "totalNetAmount": 1134.87,
                          "totalTransactionsPending": 40,
                          "totalTransactionsSettled": 301,
                          "totalTransactionsSettling": 37
                        },
                        {
                          "intervalStart": "2025-11-01T00:00:00+00:00",
                          "intervalEnd": "2025-11-02T00:00:00+00:00",
                          "totalSettlementAmount": 2043.87,
                          "totalFeeAmount": 100.15,
                          "totalNetAmount": 1943.72,
                          "totalTransactionsPending": 10,
                          "totalTransactionsSettled": 71,
                          "totalTransactionsSettling": 36
                        },
                        {
                          "intervalStart": "2025-11-02T00:00:00+00:00",
                          "intervalEnd": "2025-11-03T00:00:00+00:00",
                          "totalSettlementAmount": 4358.8,
                          "totalFeeAmount": 213.58,
                          "totalNetAmount": 4145.22,
                          "totalTransactionsPending": 7,
                          "totalTransactionsSettled": 185,
                          "totalTransactionsSettling": 18
                        },
                        {
                          "intervalStart": "2025-11-03T00:00:00+00:00",
                          "intervalEnd": "2025-11-04T00:00:00+00:00",
                          "totalSettlementAmount": 1149.41,
                          "totalFeeAmount": 56.32,
                          "totalNetAmount": 1093.09,
                          "totalTransactionsPending": 26,
                          "totalTransactionsSettled": 50,
                          "totalTransactionsSettling": 184
                        },
                        {
                          "intervalStart": "2025-11-04T00:00:00+00:00",
                          "intervalEnd": "2025-11-05T00:00:00+00:00",
                          "totalSettlementAmount": 3529.46,
                          "totalFeeAmount": 172.94,
                          "totalNetAmount": 3356.52,
                          "totalTransactionsPending": 30,
                          "totalTransactionsSettled": 155,
                          "totalTransactionsSettling": 74
                        },
                        {
                          "intervalStart": "2025-11-05T00:00:00+00:00",
                          "intervalEnd": "2025-11-06T00:00:00+00:00",
                          "totalSettlementAmount": 5288.83,
                          "totalFeeAmount": 259.15,
                          "totalNetAmount": 5029.68,
                          "totalTransactionsPending": 36,
                          "totalTransactionsSettled": 124,
                          "totalTransactionsSettling": 151
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2025-10-30T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2025-10-31T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 5298.97
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 259.65
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 5039.32
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 9
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 158
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 37
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "",
          "example": "modi",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 9,
                    "data": [
                      {
                        "email": "okey.larson@schiller.net",
                        "firstName": "Amparo",
                        "lastName": "Schmidt",
                        "phone": "+16622432773",
                        "dateOfBirth": "1983-11-29"
                      },
                      {
                        "email": "kali23@gmail.com",
                        "firstName": "Daniela",
                        "lastName": "Stanton",
                        "phone": "+12312900911",
                        "dateOfBirth": "1980-01-14"
                      },
                      {
                        "email": "gfahey@hotmail.com",
                        "firstName": "Stacy",
                        "lastName": "Swaniawski",
                        "phone": "+18103009094",
                        "dateOfBirth": "1982-05-21"
                      },
                      {
                        "email": "gbednar@flatley.info",
                        "firstName": "Otho",
                        "lastName": "Lakin",
                        "phone": "+19792992639",
                        "dateOfBirth": "1973-12-13"
                      },
                      {
                        "email": "bahringer.rhett@gmail.com",
                        "firstName": "Edmund",
                        "lastName": "Hagenes",
                        "phone": "+16172568771",
                        "dateOfBirth": "2006-01-05"
                      },
                      {
                        "email": "warren11@wiegand.net",
                        "firstName": "Laron",
                        "lastName": "Olson",
                        "phone": "+13053293440",
                        "dateOfBirth": "1984-06-10"
                      },
                      {
                        "email": "greenholt.kaley@hotmail.com",
                        "firstName": "Amber",
                        "lastName": "Torphy",
                        "phone": "+14436350128",
                        "dateOfBirth": "1972-07-20"
                      },
                      {
                        "email": "sonny20@nolan.com",
                        "firstName": "Anabelle",
                        "lastName": "Heaney",
                        "phone": "+15316127270",
                        "dateOfBirth": "2002-07-07"
                      },
                      {
                        "email": "ally24@torp.info",
                        "firstName": "Marc",
                        "lastName": "Lowe",
                        "phone": "+12489017143",
                        "dateOfBirth": "1985-06-05"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 9,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "okey.larson@schiller.net",
                          "firstName": "Amparo",
                          "lastName": "Schmidt",
                          "phone": "+16622432773",
                          "dateOfBirth": "1983-11-29"
                        },
                        {
                          "email": "kali23@gmail.com",
                          "firstName": "Daniela",
                          "lastName": "Stanton",
                          "phone": "+12312900911",
                          "dateOfBirth": "1980-01-14"
                        },
                        {
                          "email": "gfahey@hotmail.com",
                          "firstName": "Stacy",
                          "lastName": "Swaniawski",
                          "phone": "+18103009094",
                          "dateOfBirth": "1982-05-21"
                        },
                        {
                          "email": "gbednar@flatley.info",
                          "firstName": "Otho",
                          "lastName": "Lakin",
                          "phone": "+19792992639",
                          "dateOfBirth": "1973-12-13"
                        },
                        {
                          "email": "bahringer.rhett@gmail.com",
                          "firstName": "Edmund",
                          "lastName": "Hagenes",
                          "phone": "+16172568771",
                          "dateOfBirth": "2006-01-05"
                        },
                        {
                          "email": "warren11@wiegand.net",
                          "firstName": "Laron",
                          "lastName": "Olson",
                          "phone": "+13053293440",
                          "dateOfBirth": "1984-06-10"
                        },
                        {
                          "email": "greenholt.kaley@hotmail.com",
                          "firstName": "Amber",
                          "lastName": "Torphy",
                          "phone": "+14436350128",
                          "dateOfBirth": "1972-07-20"
                        },
                        {
                          "email": "sonny20@nolan.com",
                          "firstName": "Anabelle",
                          "lastName": "Heaney",
                          "phone": "+15316127270",
                          "dateOfBirth": "2002-07-07"
                        },
                        {
                          "email": "ally24@torp.info",
                          "firstName": "Marc",
                          "lastName": "Lowe",
                          "phone": "+12489017143",
                          "dateOfBirth": "1985-06-05"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "okey.larson@schiller.net"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Amparo"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Schmidt"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+16622432773"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "1983-11-29"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "quibusdam",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/merchant/{merchantId}/purge": {
      "post": {
        "summary": "Purge Sandbox Data",
        "operationId": "purgeSandboxData",
        "description": "Delete **sandbox** data for the specified merchant. This endpoint allows deletion of different entity types related to merchants.\nThe operation is performed asynchronously and will trigger the \"payments.merchant.purge\" webhook upon completion.",
        "parameters": [
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sandbox purge job queued successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "payments": 5,
                    "customers": 3,
                    "sessions": 2,
                    "tokens": 1,
                    "merchantId": "MERCHANT123"
                  },
                  "properties": {
                    "payments": {
                      "type": "integer",
                      "example": 5
                    },
                    "customers": {
                      "type": "integer",
                      "example": 3
                    },
                    "sessions": {
                      "type": "integer",
                      "example": 2
                    },
                    "tokens": {
                      "type": "integer",
                      "example": 1
                    },
                    "merchantId": {
                      "type": "string",
                      "example": "MERCHANT123"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "The field1 is required (and one other error)",
                    "errors": {
                      "field1": [
                        "The field1 is required."
                      ],
                      "field2": [
                        "The field2 must be a valid value."
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "message": {
                      "type": "string",
                      "example": "The field1 is required (and one other error)",
                      "description": "A message describing the result of the request",
                      "enum": []
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "field1": {
                          "type": "array",
                          "example": [
                            "The field1 is required."
                          ],
                          "items": {
                            "type": "string"
                          }
                        },
                        "field2": {
                          "type": "array",
                          "example": [
                            "The field2 must be a valid value."
                          ],
                          "items": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Any errors that occurred during the request"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "Authentication is required"
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "message": {
                      "type": "string",
                      "example": "Authentication is required",
                      "description": "A message describing the result of the request",
                      "enum": []
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "Internal Server Error"
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error",
                      "description": "A message describing the result of the request",
                      "enum": []
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Merchant Purge"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$class": "App\\Data\\Api\\N1\\Merchant\\PurgeMerchantRequestBody",
                "type": "object",
                "description": null,
                "properties": {
                  "payments": {
                    "type": "boolean",
                    "nullable": true,
                    "example": true,
                    "description": "Delete all merchant payments"
                  },
                  "customers": {
                    "type": "boolean",
                    "nullable": true,
                    "example": true,
                    "description": "Delete all merchant customers"
                  },
                  "sessions": {
                    "type": "boolean",
                    "nullable": true,
                    "example": true,
                    "description": "Delete all merchant sessions"
                  },
                  "tokens": {
                    "type": "boolean",
                    "nullable": true,
                    "example": true,
                    "description": "Delete all merchant tokens"
                  }
                }
              },
              "examples": {
                "example": {
                  "summary": "Example",
                  "value": {
                    "payments": true,
                    "customers": true,
                    "sessions": true,
                    "tokens": true
                  }
                },
                "paymentsOnly": {
                  "summary": "Payments Only",
                  "value": {
                    "payments": true,
                    "customers": false,
                    "sessions": false,
                    "tokens": false
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "123456",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/merchant/{merchantId}/order/{orderId}": {
      "get": {
        "summary": "Get Order",
        "operationId": "getOrder",
        "description": "",
        "parameters": [
          {
            "in": "header",
[...]
