{
  "openapi": "3.1.0",
  "info": {
    "version": "1.20.0",
    "title": "Gateway API"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "paths": {
    "/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalyticsPaymentsByOrganization",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2025-10-31T00:00:00+00:00",
                    "periodEnd": "2025-11-07T00:00:00+00:00",
                    "numPaymentsCreated": 3672,
                    "numPaymentsProcessed": 2134,
                    "numPaymentsIncomplete": 1538,
                    "numPaymentsWithRefunds": 780,
                    "numCardPresentPayments": 609,
                    "numCardNotPresentPayments": 929,
                    "totalCapturedAmount": 3676139.96,
                    "totalRefundedAmount": 446323.74,
                    "totalNetCapturedAmount": 3229816.22,
                    "averageNetCapturedAmount": 2081.6,
                    "minNetCapturedAmount": 11.41,
                    "maxNetCapturedAmount": 9353.46,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2025-10-31T00:00:00+00:00",
                        "intervalEnd": "2025-11-01T00:00:00+00:00",
                        "numPaymentsCreated": 164,
                        "numPaymentsProcessed": 125,
                        "numPaymentsIncomplete": 39,
                        "numPaymentsWithRefunds": 90,
                        "numCardPresentPayments": 52,
                        "numCardNotPresentPayments": -13,
                        "totalCapturedAmount": 220406.39,
                        "totalRefundedAmount": 28296.02,
                        "totalNetCapturedAmount": 192110.37,
                        "averageNetCapturedAmount": 1536.88,
                        "minNetCapturedAmount": 90.86,
                        "maxNetCapturedAmount": 3458.23
                      },
                      {
                        "intervalStart": "2025-11-01T00:00:00+00:00",
                        "intervalEnd": "2025-11-02T00:00:00+00:00",
                        "numPaymentsCreated": 232,
                        "numPaymentsProcessed": 108,
                        "numPaymentsIncomplete": 124,
                        "numPaymentsWithRefunds": 100,
                        "numCardPresentPayments": 27,
                        "numCardNotPresentPayments": 97,
                        "totalCapturedAmount": 766952.89,
                        "totalRefundedAmount": 91318.42,
                        "totalNetCapturedAmount": 675634.47,
                        "averageNetCapturedAmount": 6255.87,
                        "minNetCapturedAmount": 43.48,
                        "maxNetCapturedAmount": 8146.4
                      },
                      {
                        "intervalStart": "2025-11-02T00:00:00+00:00",
                        "intervalEnd": "2025-11-03T00:00:00+00:00",
                        "numPaymentsCreated": 956,
                        "numPaymentsProcessed": 176,
                        "numPaymentsIncomplete": 780,
                        "numPaymentsWithRefunds": 87,
                        "numCardPresentPayments": 4,
                        "numCardNotPresentPayments": 776,
                        "totalCapturedAmount": 398004.4,
                        "totalRefundedAmount": 75220.05,
                        "totalNetCapturedAmount": 322784.35,
                        "averageNetCapturedAmount": 1834,
                        "minNetCapturedAmount": 84.61,
                        "maxNetCapturedAmount": 3337.73
                      },
                      {
                        "intervalStart": "2025-11-03T00:00:00+00:00",
                        "intervalEnd": "2025-11-04T00:00:00+00:00",
                        "numPaymentsCreated": 353,
                        "numPaymentsProcessed": 329,
                        "numPaymentsIncomplete": 24,
                        "numPaymentsWithRefunds": 144,
                        "numCardPresentPayments": 208,
                        "numCardNotPresentPayments": -184,
                        "totalCapturedAmount": 488276.47,
                        "totalRefundedAmount": 24915.74,
                        "totalNetCapturedAmount": 463360.73,
                        "averageNetCapturedAmount": 1408.39,
                        "minNetCapturedAmount": 11.41,
                        "maxNetCapturedAmount": 3211.01
                      },
                      {
                        "intervalStart": "2025-11-04T00:00:00+00:00",
                        "intervalEnd": "2025-11-05T00:00:00+00:00",
                        "numPaymentsCreated": 963,
                        "numPaymentsProcessed": 636,
                        "numPaymentsIncomplete": 327,
                        "numPaymentsWithRefunds": 5,
                        "numCardPresentPayments": 11,
                        "numCardNotPresentPayments": 316,
                        "totalCapturedAmount": 958621.35,
                        "totalRefundedAmount": 204524.01,
                        "totalNetCapturedAmount": 754097.34,
                        "averageNetCapturedAmount": 1185.69,
                        "minNetCapturedAmount": 22.46,
                        "maxNetCapturedAmount": 9353.46
                      },
                      {
                        "intervalStart": "2025-11-05T00:00:00+00:00",
                        "intervalEnd": "2025-11-06T00:00:00+00:00",
                        "numPaymentsCreated": 285,
                        "numPaymentsProcessed": 97,
                        "numPaymentsIncomplete": 188,
                        "numPaymentsWithRefunds": 4,
                        "numCardPresentPayments": 48,
                        "numCardNotPresentPayments": 140,
                        "totalCapturedAmount": 139960.68,
                        "totalRefundedAmount": 13750.57,
                        "totalNetCapturedAmount": 126210.11,
                        "averageNetCapturedAmount": 1301.14,
                        "minNetCapturedAmount": 57.12,
                        "maxNetCapturedAmount": 4869.69
                      },
                      {
                        "intervalStart": "2025-11-06T00:00:00+00:00",
                        "intervalEnd": "2025-11-07T00:00:00+00:00",
                        "numPaymentsCreated": 719,
                        "numPaymentsProcessed": 663,
                        "numPaymentsIncomplete": 56,
                        "numPaymentsWithRefunds": 350,
                        "numCardPresentPayments": 259,
                        "numCardNotPresentPayments": -203,
                        "totalCapturedAmount": 703917.78,
                        "totalRefundedAmount": 8298.93,
                        "totalNetCapturedAmount": 695618.85,
                        "averageNetCapturedAmount": 1049.2,
                        "minNetCapturedAmount": 73.73,
                        "maxNetCapturedAmount": 3546.82
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2025-10-31T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2025-11-07T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 3672
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 2134
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 1538
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 780
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 609
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": 929
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 3676139.96
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 446323.74
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 3229816.22
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 2081.6
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 11.41
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 9353.46
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2025-10-31T00:00:00+00:00",
                          "intervalEnd": "2025-11-01T00:00:00+00:00",
                          "numPaymentsCreated": 164,
                          "numPaymentsProcessed": 125,
                          "numPaymentsIncomplete": 39,
                          "numPaymentsWithRefunds": 90,
                          "numCardPresentPayments": 52,
                          "numCardNotPresentPayments": -13,
                          "totalCapturedAmount": 220406.39,
                          "totalRefundedAmount": 28296.02,
                          "totalNetCapturedAmount": 192110.37,
                          "averageNetCapturedAmount": 1536.88,
                          "minNetCapturedAmount": 90.86,
                          "maxNetCapturedAmount": 3458.23
                        },
                        {
                          "intervalStart": "2025-11-01T00:00:00+00:00",
                          "intervalEnd": "2025-11-02T00:00:00+00:00",
                          "numPaymentsCreated": 232,
                          "numPaymentsProcessed": 108,
                          "numPaymentsIncomplete": 124,
                          "numPaymentsWithRefunds": 100,
                          "numCardPresentPayments": 27,
                          "numCardNotPresentPayments": 97,
                          "totalCapturedAmount": 766952.89,
                          "totalRefundedAmount": 91318.42,
                          "totalNetCapturedAmount": 675634.47,
                          "averageNetCapturedAmount": 6255.87,
                          "minNetCapturedAmount": 43.48,
                          "maxNetCapturedAmount": 8146.4
                        },
                        {
                          "intervalStart": "2025-11-02T00:00:00+00:00",
                          "intervalEnd": "2025-11-03T00:00:00+00:00",
                          "numPaymentsCreated": 956,
                          "numPaymentsProcessed": 176,
                          "numPaymentsIncomplete": 780,
                          "numPaymentsWithRefunds": 87,
                          "numCardPresentPayments": 4,
                          "numCardNotPresentPayments": 776,
                          "totalCapturedAmount": 398004.4,
                          "totalRefundedAmount": 75220.05,
                          "totalNetCapturedAmount": 322784.35,
                          "averageNetCapturedAmount": 1834,
                          "minNetCapturedAmount": 84.61,
                          "maxNetCapturedAmount": 3337.73
                        },
                        {
                          "intervalStart": "2025-11-03T00:00:00+00:00",
                          "intervalEnd": "2025-11-04T00:00:00+00:00",
                          "numPaymentsCreated": 353,
                          "numPaymentsProcessed": 329,
                          "numPaymentsIncomplete": 24,
                          "numPaymentsWithRefunds": 144,
                          "numCardPresentPayments": 208,
                          "numCardNotPresentPayments": -184,
                          "totalCapturedAmount": 488276.47,
                          "totalRefundedAmount": 24915.74,
                          "totalNetCapturedAmount": 463360.73,
                          "averageNetCapturedAmount": 1408.39,
                          "minNetCapturedAmount": 11.41,
                          "maxNetCapturedAmount": 3211.01
                        },
                        {
                          "intervalStart": "2025-11-04T00:00:00+00:00",
                          "intervalEnd": "2025-11-05T00:00:00+00:00",
                          "numPaymentsCreated": 963,
                          "numPaymentsProcessed": 636,
                          "numPaymentsIncomplete": 327,
                          "numPaymentsWithRefunds": 5,
                          "numCardPresentPayments": 11,
                          "numCardNotPresentPayments": 316,
                          "totalCapturedAmount": 958621.35,
                          "totalRefundedAmount": 204524.01,
                          "totalNetCapturedAmount": 754097.34,
                          "averageNetCapturedAmount": 1185.69,
                          "minNetCapturedAmount": 22.46,
                          "maxNetCapturedAmount": 9353.46
                        },
                        {
                          "intervalStart": "2025-11-05T00:00:00+00:00",
                          "intervalEnd": "2025-11-06T00:00:00+00:00",
                          "numPaymentsCreated": 285,
                          "numPaymentsProcessed": 97,
                          "numPaymentsIncomplete": 188,
                          "numPaymentsWithRefunds": 4,
                          "numCardPresentPayments": 48,
                          "numCardNotPresentPayments": 140,
                          "totalCapturedAmount": 139960.68,
                          "totalRefundedAmount": 13750.57,
                          "totalNetCapturedAmount": 126210.11,
                          "averageNetCapturedAmount": 1301.14,
                          "minNetCapturedAmount": 57.12,
                          "maxNetCapturedAmount": 4869.69
                        },
                        {
                          "intervalStart": "2025-11-06T00:00:00+00:00",
                          "intervalEnd": "2025-11-07T00:00:00+00:00",
                          "numPaymentsCreated": 719,
                          "numPaymentsProcessed": 663,
                          "numPaymentsIncomplete": 56,
                          "numPaymentsWithRefunds": 350,
                          "numCardPresentPayments": 259,
                          "numCardNotPresentPayments": -203,
                          "totalCapturedAmount": 703917.78,
                          "totalRefundedAmount": 8298.93,
                          "totalNetCapturedAmount": 695618.85,
                          "averageNetCapturedAmount": 1049.2,
                          "minNetCapturedAmount": 73.73,
                          "maxNetCapturedAmount": 3546.82
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2025-10-31T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2025-11-01T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 164
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 125
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 39
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 90
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 52
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": -13
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 220406.39
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 28296.02
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 192110.37
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 1536.88
                          },
                          "minNetCapturedAmount": {
                            "type": "number",
                            "example": 90.86
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 3458.23
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalyticsCustomersByOrganization",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2025-10-31T00:00:00+00:00",
                    "periodEnd": "2025-11-07T00:00:00+00:00",
                    "activeCustomers": 251,
                    "newCustomers": 193,
                    "returningCustomers": 58,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2025-10-31T00:00:00+00:00",
                        "intervalEnd": "2025-11-01T00:00:00+00:00",
                        "activeCustomers": 25,
                        "newCustomers": 6,
                        "returningCustomers": 19
                      },
                      {
                        "intervalStart": "2025-11-01T00:00:00+00:00",
                        "intervalEnd": "2025-11-02T00:00:00+00:00",
                        "activeCustomers": 50,
                        "newCustomers": 14,
                        "returningCustomers": 36
                      },
                      {
                        "intervalStart": "2025-11-02T00:00:00+00:00",
                        "intervalEnd": "2025-11-03T00:00:00+00:00",
                        "activeCustomers": 76,
                        "newCustomers": 42,
                        "returningCustomers": 34
                      },
                      {
                        "intervalStart": "2025-11-03T00:00:00+00:00",
                        "intervalEnd": "2025-11-04T00:00:00+00:00",
                        "activeCustomers": 76,
                        "newCustomers": 69,
                        "returningCustomers": 7
                      },
                      {
                        "intervalStart": "2025-11-04T00:00:00+00:00",
                        "intervalEnd": "2025-11-05T00:00:00+00:00",
                        "activeCustomers": 23,
                        "newCustomers": 9,
                        "returningCustomers": 14
                      },
                      {
                        "intervalStart": "2025-11-05T00:00:00+00:00",
                        "intervalEnd": "2025-11-06T00:00:00+00:00",
                        "activeCustomers": 43,
                        "newCustomers": 18,
                        "returningCustomers": 25
                      },
                      {
                        "intervalStart": "2025-11-06T00:00:00+00:00",
                        "intervalEnd": "2025-11-07T00:00:00+00:00",
                        "activeCustomers": 47,
                        "newCustomers": 35,
                        "returningCustomers": 12
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2025-10-31T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2025-11-07T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 251
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 193
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": 58
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2025-10-31T00:00:00+00:00",
                          "intervalEnd": "2025-11-01T00:00:00+00:00",
                          "activeCustomers": 25,
                          "newCustomers": 6,
                          "returningCustomers": 19
                        },
                        {
                          "intervalStart": "2025-11-01T00:00:00+00:00",
                          "intervalEnd": "2025-11-02T00:00:00+00:00",
                          "activeCustomers": 50,
                          "newCustomers": 14,
                          "returningCustomers": 36
                        },
                        {
                          "intervalStart": "2025-11-02T00:00:00+00:00",
                          "intervalEnd": "2025-11-03T00:00:00+00:00",
                          "activeCustomers": 76,
                          "newCustomers": 42,
                          "returningCustomers": 34
                        },
                        {
                          "intervalStart": "2025-11-03T00:00:00+00:00",
                          "intervalEnd": "2025-11-04T00:00:00+00:00",
                          "activeCustomers": 76,
                          "newCustomers": 69,
                          "returningCustomers": 7
                        },
                        {
                          "intervalStart": "2025-11-04T00:00:00+00:00",
                          "intervalEnd": "2025-11-05T00:00:00+00:00",
                          "activeCustomers": 23,
                          "newCustomers": 9,
                          "returningCustomers": 14
                        },
                        {
                          "intervalStart": "2025-11-05T00:00:00+00:00",
                          "intervalEnd": "2025-11-06T00:00:00+00:00",
                          "activeCustomers": 43,
                          "newCustomers": 18,
                          "returningCustomers": 25
                        },
                        {
                          "intervalStart": "2025-11-06T00:00:00+00:00",
                          "intervalEnd": "2025-11-07T00:00:00+00:00",
                          "activeCustomers": 47,
                          "newCustomers": 35,
                          "returningCustomers": 12
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2025-10-31T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2025-11-01T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 25
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 6
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 19
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalyticsTransactionsByOrganization",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2025-10-31T00:00:00+00:00",
                    "periodEnd": "2025-11-07T00:00:00+00:00",
                    "totalTransactions": 3041,
                    "authorizeTransactions": 236,
                    "captureTransactions": 259,
                    "payTransactions": 1529,
                    "refundTransactions": 540,
                    "verifyTransactions": 289,
                    "voidTransactions": 188,
                    "successfulTransactions": 2734,
                    "failedTransactions": 288,
                    "pendingTransactions": 19,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2025-10-31T00:00:00+00:00",
                        "intervalEnd": "2025-11-01T00:00:00+00:00",
                        "totalTransactions": 403,
                        "authorizeTransactions": 16,
                        "captureTransactions": 17,
                        "payTransactions": 82,
                        "refundTransactions": 215,
                        "verifyTransactions": 61,
                        "voidTransactions": 12,
                        "successfulTransactions": 362,
                        "failedTransactions": 39,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-01T00:00:00+00:00",
                        "intervalEnd": "2025-11-02T00:00:00+00:00",
                        "totalTransactions": 672,
                        "authorizeTransactions": 61,
                        "captureTransactions": 62,
                        "payTransactions": 434,
                        "refundTransactions": 6,
                        "verifyTransactions": 99,
                        "voidTransactions": 10,
                        "successfulTransactions": 604,
                        "failedTransactions": 63,
                        "pendingTransactions": 5,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-02T00:00:00+00:00",
                        "intervalEnd": "2025-11-03T00:00:00+00:00",
                        "totalTransactions": 178,
                        "authorizeTransactions": 21,
                        "captureTransactions": 22,
                        "payTransactions": 86,
                        "refundTransactions": 34,
                        "verifyTransactions": 10,
                        "voidTransactions": 5,
                        "successfulTransactions": 160,
                        "failedTransactions": 17,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-03T00:00:00+00:00",
                        "intervalEnd": "2025-11-04T00:00:00+00:00",
                        "totalTransactions": 758,
                        "authorizeTransactions": 82,
                        "captureTransactions": 86,
                        "payTransactions": 494,
                        "refundTransactions": 81,
                        "verifyTransactions": 14,
                        "voidTransactions": 1,
                        "successfulTransactions": 682,
                        "failedTransactions": 72,
                        "pendingTransactions": 4,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-04T00:00:00+00:00",
                        "intervalEnd": "2025-11-05T00:00:00+00:00",
                        "totalTransactions": 284,
                        "authorizeTransactions": 17,
                        "captureTransactions": 24,
                        "payTransactions": 132,
                        "refundTransactions": 79,
                        "verifyTransactions": 31,
                        "voidTransactions": 1,
                        "successfulTransactions": 255,
                        "failedTransactions": 27,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-05T00:00:00+00:00",
                        "intervalEnd": "2025-11-06T00:00:00+00:00",
                        "totalTransactions": 107,
                        "authorizeTransactions": 12,
                        "captureTransactions": 17,
                        "payTransactions": 49,
                        "refundTransactions": 7,
                        "verifyTransactions": 21,
                        "voidTransactions": 1,
                        "successfulTransactions": 96,
                        "failedTransactions": 10,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-06T00:00:00+00:00",
                        "intervalEnd": "2025-11-07T00:00:00+00:00",
                        "totalTransactions": 639,
                        "authorizeTransactions": 27,
                        "captureTransactions": 31,
                        "payTransactions": 252,
                        "refundTransactions": 118,
                        "verifyTransactions": 53,
                        "voidTransactions": 158,
                        "successfulTransactions": 575,
                        "failedTransactions": 60,
                        "pendingTransactions": 4,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2025-10-31T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2025-11-07T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 3041
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 236
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 259
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 1529
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 540
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 289
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 188
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 2734
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 288
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 19
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2025-10-31T00:00:00+00:00",
                          "intervalEnd": "2025-11-01T00:00:00+00:00",
                          "totalTransactions": 403,
                          "authorizeTransactions": 16,
                          "captureTransactions": 17,
                          "payTransactions": 82,
                          "refundTransactions": 215,
                          "verifyTransactions": 61,
                          "voidTransactions": 12,
                          "successfulTransactions": 362,
                          "failedTransactions": 39,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-01T00:00:00+00:00",
                          "intervalEnd": "2025-11-02T00:00:00+00:00",
                          "totalTransactions": 672,
                          "authorizeTransactions": 61,
                          "captureTransactions": 62,
                          "payTransactions": 434,
                          "refundTransactions": 6,
                          "verifyTransactions": 99,
                          "voidTransactions": 10,
                          "successfulTransactions": 604,
                          "failedTransactions": 63,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-02T00:00:00+00:00",
                          "intervalEnd": "2025-11-03T00:00:00+00:00",
                          "totalTransactions": 178,
                          "authorizeTransactions": 21,
                          "captureTransactions": 22,
                          "payTransactions": 86,
                          "refundTransactions": 34,
                          "verifyTransactions": 10,
                          "voidTransactions": 5,
                          "successfulTransactions": 160,
                          "failedTransactions": 17,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-03T00:00:00+00:00",
                          "intervalEnd": "2025-11-04T00:00:00+00:00",
                          "totalTransactions": 758,
                          "authorizeTransactions": 82,
                          "captureTransactions": 86,
                          "payTransactions": 494,
                          "refundTransactions": 81,
                          "verifyTransactions": 14,
                          "voidTransactions": 1,
                          "successfulTransactions": 682,
                          "failedTransactions": 72,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-04T00:00:00+00:00",
                          "intervalEnd": "2025-11-05T00:00:00+00:00",
                          "totalTransactions": 284,
                          "authorizeTransactions": 17,
                          "captureTransactions": 24,
                          "payTransactions": 132,
                          "refundTransactions": 79,
                          "verifyTransactions": 31,
                          "voidTransactions": 1,
                          "successfulTransactions": 255,
                          "failedTransactions": 27,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-05T00:00:00+00:00",
                          "intervalEnd": "2025-11-06T00:00:00+00:00",
                          "totalTransactions": 107,
                          "authorizeTransactions": 12,
                          "captureTransactions": 17,
                          "payTransactions": 49,
                          "refundTransactions": 7,
                          "verifyTransactions": 21,
                          "voidTransactions": 1,
                          "successfulTransactions": 96,
                          "failedTransactions": 10,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-06T00:00:00+00:00",
                          "intervalEnd": "2025-11-07T00:00:00+00:00",
                          "totalTransactions": 639,
                          "authorizeTransactions": 27,
                          "captureTransactions": 31,
                          "payTransactions": 252,
                          "refundTransactions": 118,
                          "verifyTransactions": 53,
                          "voidTransactions": 158,
                          "successfulTransactions": 575,
                          "failedTransactions": 60,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2025-10-31T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2025-11-01T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 403
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 16
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 17
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 82
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 215
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 61
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": 12
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 362
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 39
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 2
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalyticsPayoutsByOrganization",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2025-10-31T00:00:00+00:00",
                    "periodEnd": "2025-11-07T00:00:00+00:00",
                    "totalSettlementAmount": 21585.22,
                    "totalFeeAmount": 1057.68,
                    "totalNetAmount": 20527.54,
                    "totalTransactionsPending": 139,
                    "totalTransactionsSettled": 731,
                    "totalTransactionsSettling": 834,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2025-10-31T00:00:00+00:00",
                        "intervalEnd": "2025-11-01T00:00:00+00:00",
                        "totalSettlementAmount": 4241.51,
                        "totalFeeAmount": 207.83,
                        "totalNetAmount": 4033.68,
                        "totalTransactionsPending": 6,
                        "totalTransactionsSettled": 359,
                        "totalTransactionsSettling": 52
                      },
                      {
                        "intervalStart": "2025-11-01T00:00:00+00:00",
                        "intervalEnd": "2025-11-02T00:00:00+00:00",
                        "totalSettlementAmount": 2395.18,
                        "totalFeeAmount": 117.36,
                        "totalNetAmount": 2277.82,
                        "totalTransactionsPending": 24,
                        "totalTransactionsSettled": 48,
                        "totalTransactionsSettling": 314
                      },
                      {
                        "intervalStart": "2025-11-02T00:00:00+00:00",
                        "intervalEnd": "2025-11-03T00:00:00+00:00",
                        "totalSettlementAmount": 826.65,
                        "totalFeeAmount": 40.51,
                        "totalNetAmount": 786.14,
                        "totalTransactionsPending": 11,
                        "totalTransactionsSettled": 89,
                        "totalTransactionsSettling": 16
                      },
                      {
                        "intervalStart": "2025-11-03T00:00:00+00:00",
                        "intervalEnd": "2025-11-04T00:00:00+00:00",
                        "totalSettlementAmount": 755.03,
                        "totalFeeAmount": 37,
                        "totalNetAmount": 718.03,
                        "totalTransactionsPending": 6,
                        "totalTransactionsSettled": 98,
                        "totalTransactionsSettling": 58
                      },
                      {
                        "intervalStart": "2025-11-04T00:00:00+00:00",
                        "intervalEnd": "2025-11-05T00:00:00+00:00",
                        "totalSettlementAmount": 1970.16,
                        "totalFeeAmount": 96.54,
                        "totalNetAmount": 1873.62,
                        "totalTransactionsPending": 37,
                        "totalTransactionsSettled": 38,
                        "totalTransactionsSettling": 198
                      },
                      {
                        "intervalStart": "2025-11-05T00:00:00+00:00",
                        "intervalEnd": "2025-11-06T00:00:00+00:00",
                        "totalSettlementAmount": 6951.86,
                        "totalFeeAmount": 340.64,
                        "totalNetAmount": 6611.22,
                        "totalTransactionsPending": 20,
                        "totalTransactionsSettled": 41,
                        "totalTransactionsSettling": 108
                      },
                      {
                        "intervalStart": "2025-11-06T00:00:00+00:00",
                        "intervalEnd": "2025-11-07T00:00:00+00:00",
                        "totalSettlementAmount": 4444.83,
                        "totalFeeAmount": 217.8,
                        "totalNetAmount": 4227.03,
                        "totalTransactionsPending": 35,
                        "totalTransactionsSettled": 58,
                        "totalTransactionsSettling": 88
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2025-10-31T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2025-11-07T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 21585.22
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 1057.68
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 20527.54
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 139
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 731
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 834
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2025-10-31T00:00:00+00:00",
                          "intervalEnd": "2025-11-01T00:00:00+00:00",
                          "totalSettlementAmount": 4241.51,
                          "totalFeeAmount": 207.83,
                          "totalNetAmount": 4033.68,
                          "totalTransactionsPending": 6,
                          "totalTransactionsSettled": 359,
                          "totalTransactionsSettling": 52
                        },
                        {
                          "intervalStart": "2025-11-01T00:00:00+00:00",
                          "intervalEnd": "2025-11-02T00:00:00+00:00",
                          "totalSettlementAmount": 2395.18,
                          "totalFeeAmount": 117.36,
                          "totalNetAmount": 2277.82,
                          "totalTransactionsPending": 24,
                          "totalTransactionsSettled": 48,
                          "totalTransactionsSettling": 314
                        },
                        {
                          "intervalStart": "2025-11-02T00:00:00+00:00",
                          "intervalEnd": "2025-11-03T00:00:00+00:00",
                          "totalSettlementAmount": 826.65,
                          "totalFeeAmount": 40.51,
                          "totalNetAmount": 786.14,
                          "totalTransactionsPending": 11,
                          "totalTransactionsSettled": 89,
                          "totalTransactionsSettling": 16
                        },
                        {
                          "intervalStart": "2025-11-03T00:00:00+00:00",
                          "intervalEnd": "2025-11-04T00:00:00+00:00",
                          "totalSettlementAmount": 755.03,
                          "totalFeeAmount": 37,
                          "totalNetAmount": 718.03,
                          "totalTransactionsPending": 6,
                          "totalTransactionsSettled": 98,
                          "totalTransactionsSettling": 58
                        },
                        {
                          "intervalStart": "2025-11-04T00:00:00+00:00",
                          "intervalEnd": "2025-11-05T00:00:00+00:00",
                          "totalSettlementAmount": 1970.16,
                          "totalFeeAmount": 96.54,
                          "totalNetAmount": 1873.62,
                          "totalTransactionsPending": 37,
                          "totalTransactionsSettled": 38,
                          "totalTransactionsSettling": 198
                        },
                        {
                          "intervalStart": "2025-11-05T00:00:00+00:00",
                          "intervalEnd": "2025-11-06T00:00:00+00:00",
                          "totalSettlementAmount": 6951.86,
                          "totalFeeAmount": 340.64,
                          "totalNetAmount": 6611.22,
                          "totalTransactionsPending": 20,
                          "totalTransactionsSettled": 41,
                          "totalTransactionsSettling": 108
                        },
                        {
                          "intervalStart": "2025-11-06T00:00:00+00:00",
                          "intervalEnd": "2025-11-07T00:00:00+00:00",
                          "totalSettlementAmount": 4444.83,
                          "totalFeeAmount": 217.8,
                          "totalNetAmount": 4227.03,
                          "totalTransactionsPending": 35,
                          "totalTransactionsSettled": 58,
                          "totalTransactionsSettling": 88
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2025-10-31T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2025-11-01T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 4241.51
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 207.83
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 4033.68
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 6
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 359
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 52
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomersByMerchant",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 6,
                    "data": [
                      {
                        "email": "lemke.vicenta@hotmail.com",
                        "firstName": "Stephen",
                        "lastName": "Ortiz",
                        "phone": "+13416551815",
                        "dateOfBirth": "1988-03-23"
                      },
                      {
                        "email": "sydney32@hotmail.com",
                        "firstName": "Albin",
                        "lastName": "Gleichner",
                        "phone": "+16317062254",
                        "dateOfBirth": "1988-01-01"
                      },
                      {
                        "email": "foster.heidenreich@marvin.info",
                        "firstName": "Alexander",
                        "lastName": "Oberbrunner",
                        "phone": "+13866858521",
                        "dateOfBirth": "1991-12-25"
                      },
                      {
                        "email": "kallie.kuvalis@nolan.net",
                        "firstName": "Camilla",
                        "lastName": "Hessel",
                        "phone": "+19346588764",
                        "dateOfBirth": "1994-08-11"
                      },
                      {
                        "email": "vondricka@ankunding.biz",
                        "firstName": "Filiberto",
                        "lastName": "Dare",
                        "phone": "+16579239321",
                        "dateOfBirth": "1993-12-04"
                      },
                      {
                        "email": "marcellus.oberbrunner@cruickshank.info",
                        "firstName": "Rita",
                        "lastName": "Tromp",
                        "phone": "+16506252589",
                        "dateOfBirth": "1988-02-07"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 6,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "lemke.vicenta@hotmail.com",
                          "firstName": "Stephen",
                          "lastName": "Ortiz",
                          "phone": "+13416551815",
                          "dateOfBirth": "1988-03-23"
                        },
                        {
                          "email": "sydney32@hotmail.com",
                          "firstName": "Albin",
                          "lastName": "Gleichner",
                          "phone": "+16317062254",
                          "dateOfBirth": "1988-01-01"
                        },
                        {
                          "email": "foster.heidenreich@marvin.info",
                          "firstName": "Alexander",
                          "lastName": "Oberbrunner",
                          "phone": "+13866858521",
                          "dateOfBirth": "1991-12-25"
                        },
                        {
                          "email": "kallie.kuvalis@nolan.net",
                          "firstName": "Camilla",
                          "lastName": "Hessel",
                          "phone": "+19346588764",
                          "dateOfBirth": "1994-08-11"
                        },
                        {
                          "email": "vondricka@ankunding.biz",
                          "firstName": "Filiberto",
                          "lastName": "Dare",
                          "phone": "+16579239321",
                          "dateOfBirth": "1993-12-04"
                        },
                        {
                          "email": "marcellus.oberbrunner@cruickshank.info",
                          "firstName": "Rita",
                          "lastName": "Tromp",
                          "phone": "+16506252589",
                          "dateOfBirth": "1988-02-07"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "lemke.vicenta@hotmail.com"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Stephen"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Ortiz"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+13416551815"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "1988-03-23"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/purge": {
      "post": {
        "summary": "Purge Sandbox Data",
        "operationId": "purgeSandboxDataPurgeByMerchant",
        "description": "Delete **sandbox** data for the specified merchant. This endpoint allows deletion of different entity types related to merchants.\nThe operation is performed asynchronously and will trigger the \"payments.merchant.purge\" webhook upon completion.",
        "parameters": [
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sandbox purge job queued successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "payments": 5,
                    "customers": 3,
                    "sessions": 2,
                    "tokens": 1,
                    "merchantId": "MERCHANT123"
                  },
                  "properties": {
                    "payments": {
                      "type": "integer",
                      "example": 5
                    },
                    "customers": {
                      "type": "integer",
                      "example": 3
                    },
                    "sessions": {
                      "type": "integer",
                      "example": 2
                    },
                    "tokens": {
                      "type": "integer",
                      "example": 1
                    },
                    "merchantId": {
                      "type": "string",
                      "example": "MERCHANT123"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "The field1 is required (and one other error)",
                    "errors": {
                      "field1": [
                        "The field1 is required."
                      ],
                      "field2": [
                        "The field2 must be a valid value."
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "message": {
                      "type": "string",
                      "example": "The field1 is required (and one other error)",
                      "description": "A message describing the result of the request",
                      "enum": []
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "field1": {
                          "type": "array",
                          "example": [
                            "The field1 is required."
                          ],
                          "items": {
                            "type": "string"
                          }
                        },
                        "field2": {
                          "type": "array",
                          "example": [
                            "The field2 must be a valid value."
                          ],
                          "items": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Any errors that occurred during the request"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "Authentication is required"
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "message": {
                      "type": "string",
                      "example": "Authentication is required",
                      "description": "A message describing the result of the request",
                      "enum": []
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "Internal Server Error"
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error",
                      "description": "A message describing the result of the request",
                      "enum": []
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Merchant Purge"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$class": "App\\Data\\Api\\N1\\Merchant\\PurgeMerchantRequestBody",
                "type": "object",
                "description": null,
                "properties": {
                  "payments": {
                    "type": "boolean",
                    "nullable": true,
                    "example": true,
                    "description": "Delete all merchant payments"
                  },
                  "customers": {
                    "type": "boolean",
                    "nullable": true,
                    "example": true,
                    "description": "Delete all merchant customers"
                  },
                  "sessions": {
                    "type": "boolean",
                    "nullable": true,
                    "example": true,
                    "description": "Delete all merchant sessions"
                  },
                  "tokens": {
                    "type": "boolean",
                    "nullable": true,
                    "example": true,
                    "description": "Delete all merchant tokens"
                  }
                }
              },
              "examples": {
                "example": {
                  "summary": "Example",
                  "value": {
                    "payments": true,
                    "customers": true,
                    "sessions": true,
                    "tokens": true
                  }
                },
                "paymentsOnly": {
                  "summary": "Payments Only",
                  "value": {
                    "payments": true,
                    "customers": false,
                    "sessions": false,
                    "tokens": false
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/order/{orderId}": {
      "get": {
        "summary": "Get Order",
        "operationId": "getOrderByMerchant",
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving an order",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "description": "Test order",
                    "amount": 936.78,
                    "currency": "USD"
                  },
                  "properties": {
                    "description": {
                      "type": "string",
                      "example": "Test order"
                    },
                    "amount": {
                      "type": "number",
                      "example": 936.78
                    },
                    "currency": {
                      "type": "string",
                      "example": "USD"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "The field1 is required (and one other error)",
                    "errors": {
                      "field1": [
                        "The field1 is required."
                      ],
[...]
