{
  "openapi": "3.1.0",
  "info": {
    "version": "1.20.0",
    "title": "Payments API"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "paths": {
    "/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalyticsPaymentsByOrganization",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2025-10-31T00:00:00+00:00",
                    "periodEnd": "2025-11-07T00:00:00+00:00",
                    "numPaymentsCreated": 2167,
                    "numPaymentsProcessed": 1234,
                    "numPaymentsIncomplete": 933,
                    "numPaymentsWithRefunds": 504,
                    "numCardPresentPayments": 770,
                    "numCardNotPresentPayments": 163,
                    "totalCapturedAmount": 3150588.85,
                    "totalRefundedAmount": 513281.42,
                    "totalNetCapturedAmount": 2637307.43,
                    "averageNetCapturedAmount": 3550.37,
                    "minNetCapturedAmount": 11.44,
                    "maxNetCapturedAmount": 8469.48,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2025-10-31T00:00:00+00:00",
                        "intervalEnd": "2025-11-01T00:00:00+00:00",
                        "numPaymentsCreated": 800,
                        "numPaymentsProcessed": 566,
                        "numPaymentsIncomplete": 234,
                        "numPaymentsWithRefunds": 190,
                        "numCardPresentPayments": 352,
                        "numCardNotPresentPayments": -118,
                        "totalCapturedAmount": 976593.41,
                        "totalRefundedAmount": 185662.22,
                        "totalNetCapturedAmount": 790931.19,
                        "averageNetCapturedAmount": 1397.4,
                        "minNetCapturedAmount": 38.29,
                        "maxNetCapturedAmount": 1608.22
                      },
                      {
                        "intervalStart": "2025-11-01T00:00:00+00:00",
                        "intervalEnd": "2025-11-02T00:00:00+00:00",
                        "numPaymentsCreated": 219,
                        "numPaymentsProcessed": 163,
                        "numPaymentsIncomplete": 56,
                        "numPaymentsWithRefunds": 51,
                        "numCardPresentPayments": 143,
                        "numCardNotPresentPayments": -87,
                        "totalCapturedAmount": 32636.53,
                        "totalRefundedAmount": 2676.28,
                        "totalNetCapturedAmount": 29960.25,
                        "averageNetCapturedAmount": 183.81,
                        "minNetCapturedAmount": 11.44,
                        "maxNetCapturedAmount": 5647.48
                      },
                      {
                        "intervalStart": "2025-11-02T00:00:00+00:00",
                        "intervalEnd": "2025-11-03T00:00:00+00:00",
                        "numPaymentsCreated": 120,
                        "numPaymentsProcessed": 101,
                        "numPaymentsIncomplete": 19,
                        "numPaymentsWithRefunds": 3,
                        "numCardPresentPayments": 6,
                        "numCardNotPresentPayments": 13,
                        "totalCapturedAmount": 21504.27,
                        "totalRefundedAmount": 2029.96,
                        "totalNetCapturedAmount": 19474.31,
                        "averageNetCapturedAmount": 192.81,
                        "minNetCapturedAmount": 89.15,
                        "maxNetCapturedAmount": 8469.48
                      },
                      {
                        "intervalStart": "2025-11-03T00:00:00+00:00",
                        "intervalEnd": "2025-11-04T00:00:00+00:00",
                        "numPaymentsCreated": 134,
                        "numPaymentsProcessed": 91,
                        "numPaymentsIncomplete": 43,
                        "numPaymentsWithRefunds": 62,
                        "numCardPresentPayments": 54,
                        "numCardNotPresentPayments": -11,
                        "totalCapturedAmount": 216234.02,
                        "totalRefundedAmount": 52299.97,
                        "totalNetCapturedAmount": 163934.05,
                        "averageNetCapturedAmount": 1801.47,
                        "minNetCapturedAmount": 80.77,
                        "maxNetCapturedAmount": 3519.69
                      },
                      {
                        "intervalStart": "2025-11-04T00:00:00+00:00",
                        "intervalEnd": "2025-11-05T00:00:00+00:00",
                        "numPaymentsCreated": 416,
                        "numPaymentsProcessed": 126,
                        "numPaymentsIncomplete": 290,
                        "numPaymentsWithRefunds": 121,
                        "numCardPresentPayments": 69,
                        "numCardNotPresentPayments": 221,
                        "totalCapturedAmount": 155361.25,
                        "totalRefundedAmount": 27477.13,
                        "totalNetCapturedAmount": 127884.12,
                        "averageNetCapturedAmount": 1014.95,
                        "minNetCapturedAmount": 57.74,
                        "maxNetCapturedAmount": 8328.29
                      },
                      {
                        "intervalStart": "2025-11-05T00:00:00+00:00",
                        "intervalEnd": "2025-11-06T00:00:00+00:00",
                        "numPaymentsCreated": 143,
                        "numPaymentsProcessed": 131,
                        "numPaymentsIncomplete": 12,
                        "numPaymentsWithRefunds": 34,
                        "numCardPresentPayments": 118,
                        "numCardNotPresentPayments": -106,
                        "totalCapturedAmount": 801417.55,
                        "totalRefundedAmount": 154375.61,
                        "totalNetCapturedAmount": 647041.94,
                        "averageNetCapturedAmount": 4939.25,
                        "minNetCapturedAmount": 96.95,
                        "maxNetCapturedAmount": 2778.69
                      },
                      {
                        "intervalStart": "2025-11-06T00:00:00+00:00",
                        "intervalEnd": "2025-11-07T00:00:00+00:00",
                        "numPaymentsCreated": 335,
                        "numPaymentsProcessed": 56,
                        "numPaymentsIncomplete": 279,
                        "numPaymentsWithRefunds": 43,
                        "numCardPresentPayments": 28,
                        "numCardNotPresentPayments": 251,
                        "totalCapturedAmount": 946841.82,
                        "totalRefundedAmount": 88760.25,
                        "totalNetCapturedAmount": 858081.57,
                        "averageNetCapturedAmount": 15322.89,
                        "minNetCapturedAmount": 98,
                        "maxNetCapturedAmount": 6336.86
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2025-10-31T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2025-11-07T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 2167
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 1234
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 933
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 504
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 770
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": 163
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 3150588.85
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 513281.42
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 2637307.43
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 3550.37
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 11.44
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 8469.48
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2025-10-31T00:00:00+00:00",
                          "intervalEnd": "2025-11-01T00:00:00+00:00",
                          "numPaymentsCreated": 800,
                          "numPaymentsProcessed": 566,
                          "numPaymentsIncomplete": 234,
                          "numPaymentsWithRefunds": 190,
                          "numCardPresentPayments": 352,
                          "numCardNotPresentPayments": -118,
                          "totalCapturedAmount": 976593.41,
                          "totalRefundedAmount": 185662.22,
                          "totalNetCapturedAmount": 790931.19,
                          "averageNetCapturedAmount": 1397.4,
                          "minNetCapturedAmount": 38.29,
                          "maxNetCapturedAmount": 1608.22
                        },
                        {
                          "intervalStart": "2025-11-01T00:00:00+00:00",
                          "intervalEnd": "2025-11-02T00:00:00+00:00",
                          "numPaymentsCreated": 219,
                          "numPaymentsProcessed": 163,
                          "numPaymentsIncomplete": 56,
                          "numPaymentsWithRefunds": 51,
                          "numCardPresentPayments": 143,
                          "numCardNotPresentPayments": -87,
                          "totalCapturedAmount": 32636.53,
                          "totalRefundedAmount": 2676.28,
                          "totalNetCapturedAmount": 29960.25,
                          "averageNetCapturedAmount": 183.81,
                          "minNetCapturedAmount": 11.44,
                          "maxNetCapturedAmount": 5647.48
                        },
                        {
                          "intervalStart": "2025-11-02T00:00:00+00:00",
                          "intervalEnd": "2025-11-03T00:00:00+00:00",
                          "numPaymentsCreated": 120,
                          "numPaymentsProcessed": 101,
                          "numPaymentsIncomplete": 19,
                          "numPaymentsWithRefunds": 3,
                          "numCardPresentPayments": 6,
                          "numCardNotPresentPayments": 13,
                          "totalCapturedAmount": 21504.27,
                          "totalRefundedAmount": 2029.96,
                          "totalNetCapturedAmount": 19474.31,
                          "averageNetCapturedAmount": 192.81,
                          "minNetCapturedAmount": 89.15,
                          "maxNetCapturedAmount": 8469.48
                        },
                        {
                          "intervalStart": "2025-11-03T00:00:00+00:00",
                          "intervalEnd": "2025-11-04T00:00:00+00:00",
                          "numPaymentsCreated": 134,
                          "numPaymentsProcessed": 91,
                          "numPaymentsIncomplete": 43,
                          "numPaymentsWithRefunds": 62,
                          "numCardPresentPayments": 54,
                          "numCardNotPresentPayments": -11,
                          "totalCapturedAmount": 216234.02,
                          "totalRefundedAmount": 52299.97,
                          "totalNetCapturedAmount": 163934.05,
                          "averageNetCapturedAmount": 1801.47,
                          "minNetCapturedAmount": 80.77,
                          "maxNetCapturedAmount": 3519.69
                        },
                        {
                          "intervalStart": "2025-11-04T00:00:00+00:00",
                          "intervalEnd": "2025-11-05T00:00:00+00:00",
                          "numPaymentsCreated": 416,
                          "numPaymentsProcessed": 126,
                          "numPaymentsIncomplete": 290,
                          "numPaymentsWithRefunds": 121,
                          "numCardPresentPayments": 69,
                          "numCardNotPresentPayments": 221,
                          "totalCapturedAmount": 155361.25,
                          "totalRefundedAmount": 27477.13,
                          "totalNetCapturedAmount": 127884.12,
                          "averageNetCapturedAmount": 1014.95,
                          "minNetCapturedAmount": 57.74,
                          "maxNetCapturedAmount": 8328.29
                        },
                        {
                          "intervalStart": "2025-11-05T00:00:00+00:00",
                          "intervalEnd": "2025-11-06T00:00:00+00:00",
                          "numPaymentsCreated": 143,
                          "numPaymentsProcessed": 131,
                          "numPaymentsIncomplete": 12,
                          "numPaymentsWithRefunds": 34,
                          "numCardPresentPayments": 118,
                          "numCardNotPresentPayments": -106,
                          "totalCapturedAmount": 801417.55,
                          "totalRefundedAmount": 154375.61,
                          "totalNetCapturedAmount": 647041.94,
                          "averageNetCapturedAmount": 4939.25,
                          "minNetCapturedAmount": 96.95,
                          "maxNetCapturedAmount": 2778.69
                        },
                        {
                          "intervalStart": "2025-11-06T00:00:00+00:00",
                          "intervalEnd": "2025-11-07T00:00:00+00:00",
                          "numPaymentsCreated": 335,
                          "numPaymentsProcessed": 56,
                          "numPaymentsIncomplete": 279,
                          "numPaymentsWithRefunds": 43,
                          "numCardPresentPayments": 28,
                          "numCardNotPresentPayments": 251,
                          "totalCapturedAmount": 946841.82,
                          "totalRefundedAmount": 88760.25,
                          "totalNetCapturedAmount": 858081.57,
                          "averageNetCapturedAmount": 15322.89,
                          "minNetCapturedAmount": 98,
                          "maxNetCapturedAmount": 6336.86
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2025-10-31T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2025-11-01T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 800
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 566
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 234
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 190
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 352
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": -118
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 976593.41
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 185662.22
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 790931.19
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 1397.4
                          },
                          "minNetCapturedAmount": {
                            "type": "number",
                            "example": 38.29
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 1608.22
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalyticsCustomersByOrganization",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2025-10-31T00:00:00+00:00",
                    "periodEnd": "2025-11-07T00:00:00+00:00",
                    "activeCustomers": 152,
                    "newCustomers": 182,
                    "returningCustomers": -30,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2025-10-31T00:00:00+00:00",
                        "intervalEnd": "2025-11-01T00:00:00+00:00",
                        "activeCustomers": 63,
                        "newCustomers": 41,
                        "returningCustomers": 22
                      },
                      {
                        "intervalStart": "2025-11-01T00:00:00+00:00",
                        "intervalEnd": "2025-11-02T00:00:00+00:00",
                        "activeCustomers": 31,
                        "newCustomers": 23,
                        "returningCustomers": 8
                      },
                      {
                        "intervalStart": "2025-11-02T00:00:00+00:00",
                        "intervalEnd": "2025-11-03T00:00:00+00:00",
                        "activeCustomers": 32,
                        "newCustomers": 10,
                        "returningCustomers": 22
                      },
                      {
                        "intervalStart": "2025-11-03T00:00:00+00:00",
                        "intervalEnd": "2025-11-04T00:00:00+00:00",
                        "activeCustomers": 98,
                        "newCustomers": 59,
                        "returningCustomers": 39
                      },
                      {
                        "intervalStart": "2025-11-04T00:00:00+00:00",
                        "intervalEnd": "2025-11-05T00:00:00+00:00",
                        "activeCustomers": 24,
                        "newCustomers": 16,
                        "returningCustomers": 8
                      },
                      {
                        "intervalStart": "2025-11-05T00:00:00+00:00",
                        "intervalEnd": "2025-11-06T00:00:00+00:00",
                        "activeCustomers": 10,
                        "newCustomers": 7,
                        "returningCustomers": 3
                      },
                      {
                        "intervalStart": "2025-11-06T00:00:00+00:00",
                        "intervalEnd": "2025-11-07T00:00:00+00:00",
                        "activeCustomers": 100,
                        "newCustomers": 26,
                        "returningCustomers": 74
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2025-10-31T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2025-11-07T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 152
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 182
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": -30
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2025-10-31T00:00:00+00:00",
                          "intervalEnd": "2025-11-01T00:00:00+00:00",
                          "activeCustomers": 63,
                          "newCustomers": 41,
                          "returningCustomers": 22
                        },
                        {
                          "intervalStart": "2025-11-01T00:00:00+00:00",
                          "intervalEnd": "2025-11-02T00:00:00+00:00",
                          "activeCustomers": 31,
                          "newCustomers": 23,
                          "returningCustomers": 8
                        },
                        {
                          "intervalStart": "2025-11-02T00:00:00+00:00",
                          "intervalEnd": "2025-11-03T00:00:00+00:00",
                          "activeCustomers": 32,
                          "newCustomers": 10,
                          "returningCustomers": 22
                        },
                        {
                          "intervalStart": "2025-11-03T00:00:00+00:00",
                          "intervalEnd": "2025-11-04T00:00:00+00:00",
                          "activeCustomers": 98,
                          "newCustomers": 59,
                          "returningCustomers": 39
                        },
                        {
                          "intervalStart": "2025-11-04T00:00:00+00:00",
                          "intervalEnd": "2025-11-05T00:00:00+00:00",
                          "activeCustomers": 24,
                          "newCustomers": 16,
                          "returningCustomers": 8
                        },
                        {
                          "intervalStart": "2025-11-05T00:00:00+00:00",
                          "intervalEnd": "2025-11-06T00:00:00+00:00",
                          "activeCustomers": 10,
                          "newCustomers": 7,
                          "returningCustomers": 3
                        },
                        {
                          "intervalStart": "2025-11-06T00:00:00+00:00",
                          "intervalEnd": "2025-11-07T00:00:00+00:00",
                          "activeCustomers": 100,
                          "newCustomers": 26,
                          "returningCustomers": 74
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2025-10-31T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2025-11-01T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 63
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 41
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 22
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalyticsTransactionsByOrganization",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2025-10-31T00:00:00+00:00",
                    "periodEnd": "2025-11-07T00:00:00+00:00",
                    "totalTransactions": 5014,
                    "authorizeTransactions": 331,
                    "captureTransactions": 361,
                    "payTransactions": 1903,
                    "refundTransactions": 633,
                    "verifyTransactions": 978,
                    "voidTransactions": 808,
                    "successfulTransactions": 4511,
                    "failedTransactions": 476,
                    "pendingTransactions": 27,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2025-10-31T00:00:00+00:00",
                        "intervalEnd": "2025-11-01T00:00:00+00:00",
                        "totalTransactions": 568,
                        "authorizeTransactions": 20,
                        "captureTransactions": 21,
                        "payTransactions": 200,
                        "refundTransactions": 252,
                        "verifyTransactions": 50,
                        "voidTransactions": 25,
                        "successfulTransactions": 511,
                        "failedTransactions": 56,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-01T00:00:00+00:00",
                        "intervalEnd": "2025-11-02T00:00:00+00:00",
                        "totalTransactions": 940,
                        "authorizeTransactions": 101,
                        "captureTransactions": 104,
                        "payTransactions": 253,
                        "refundTransactions": 93,
                        "verifyTransactions": 157,
                        "voidTransactions": 232,
                        "successfulTransactions": 846,
                        "failedTransactions": 89,
                        "pendingTransactions": 5,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-02T00:00:00+00:00",
                        "intervalEnd": "2025-11-03T00:00:00+00:00",
                        "totalTransactions": 417,
                        "authorizeTransactions": 23,
                        "captureTransactions": 27,
                        "payTransactions": 320,
                        "refundTransactions": 6,
                        "verifyTransactions": 10,
                        "voidTransactions": 31,
                        "successfulTransactions": 375,
                        "failedTransactions": 39,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-03T00:00:00+00:00",
                        "intervalEnd": "2025-11-04T00:00:00+00:00",
                        "totalTransactions": 470,
                        "authorizeTransactions": 42,
                        "captureTransactions": 44,
                        "payTransactions": 230,
                        "refundTransactions": 94,
                        "verifyTransactions": 44,
                        "voidTransactions": 16,
                        "successfulTransactions": 423,
                        "failedTransactions": 46,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-04T00:00:00+00:00",
                        "intervalEnd": "2025-11-05T00:00:00+00:00",
                        "totalTransactions": 755,
                        "authorizeTransactions": 33,
                        "captureTransactions": 40,
                        "payTransactions": 138,
                        "refundTransactions": 9,
                        "verifyTransactions": 302,
                        "voidTransactions": 233,
                        "successfulTransactions": 679,
                        "failedTransactions": 73,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-05T00:00:00+00:00",
                        "intervalEnd": "2025-11-06T00:00:00+00:00",
                        "totalTransactions": 898,
                        "authorizeTransactions": 23,
                        "captureTransactions": 32,
                        "payTransactions": 255,
                        "refundTransactions": 121,
                        "verifyTransactions": 326,
                        "voidTransactions": 141,
                        "successfulTransactions": 808,
                        "failedTransactions": 83,
                        "pendingTransactions": 7,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-06T00:00:00+00:00",
                        "intervalEnd": "2025-11-07T00:00:00+00:00",
                        "totalTransactions": 966,
                        "authorizeTransactions": 89,
                        "captureTransactions": 93,
                        "payTransactions": 507,
                        "refundTransactions": 58,
                        "verifyTransactions": 89,
                        "voidTransactions": 130,
                        "successfulTransactions": 869,
                        "failedTransactions": 90,
                        "pendingTransactions": 7,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2025-10-31T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2025-11-07T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 5014
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 331
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 361
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 1903
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 633
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 978
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 808
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 4511
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 476
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 27
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2025-10-31T00:00:00+00:00",
                          "intervalEnd": "2025-11-01T00:00:00+00:00",
                          "totalTransactions": 568,
                          "authorizeTransactions": 20,
                          "captureTransactions": 21,
                          "payTransactions": 200,
                          "refundTransactions": 252,
                          "verifyTransactions": 50,
                          "voidTransactions": 25,
                          "successfulTransactions": 511,
                          "failedTransactions": 56,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-01T00:00:00+00:00",
                          "intervalEnd": "2025-11-02T00:00:00+00:00",
                          "totalTransactions": 940,
                          "authorizeTransactions": 101,
                          "captureTransactions": 104,
                          "payTransactions": 253,
                          "refundTransactions": 93,
                          "verifyTransactions": 157,
                          "voidTransactions": 232,
                          "successfulTransactions": 846,
                          "failedTransactions": 89,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-02T00:00:00+00:00",
                          "intervalEnd": "2025-11-03T00:00:00+00:00",
                          "totalTransactions": 417,
                          "authorizeTransactions": 23,
                          "captureTransactions": 27,
                          "payTransactions": 320,
                          "refundTransactions": 6,
                          "verifyTransactions": 10,
                          "voidTransactions": 31,
                          "successfulTransactions": 375,
                          "failedTransactions": 39,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-03T00:00:00+00:00",
                          "intervalEnd": "2025-11-04T00:00:00+00:00",
                          "totalTransactions": 470,
                          "authorizeTransactions": 42,
                          "captureTransactions": 44,
                          "payTransactions": 230,
                          "refundTransactions": 94,
                          "verifyTransactions": 44,
                          "voidTransactions": 16,
                          "successfulTransactions": 423,
                          "failedTransactions": 46,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-04T00:00:00+00:00",
                          "intervalEnd": "2025-11-05T00:00:00+00:00",
                          "totalTransactions": 755,
                          "authorizeTransactions": 33,
                          "captureTransactions": 40,
                          "payTransactions": 138,
                          "refundTransactions": 9,
                          "verifyTransactions": 302,
                          "voidTransactions": 233,
                          "successfulTransactions": 679,
                          "failedTransactions": 73,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-05T00:00:00+00:00",
                          "intervalEnd": "2025-11-06T00:00:00+00:00",
                          "totalTransactions": 898,
                          "authorizeTransactions": 23,
                          "captureTransactions": 32,
                          "payTransactions": 255,
                          "refundTransactions": 121,
                          "verifyTransactions": 326,
                          "voidTransactions": 141,
                          "successfulTransactions": 808,
                          "failedTransactions": 83,
                          "pendingTransactions": 7,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-06T00:00:00+00:00",
                          "intervalEnd": "2025-11-07T00:00:00+00:00",
                          "totalTransactions": 966,
                          "authorizeTransactions": 89,
                          "captureTransactions": 93,
                          "payTransactions": 507,
                          "refundTransactions": 58,
                          "verifyTransactions": 89,
                          "voidTransactions": 130,
                          "successfulTransactions": 869,
                          "failedTransactions": 90,
                          "pendingTransactions": 7,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2025-10-31T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2025-11-01T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 568
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 20
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 21
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 200
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 252
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 50
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": 25
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 511
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 56
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 1
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalyticsPayoutsByOrganization",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2025-10-31T00:00:00+00:00",
                    "periodEnd": "2025-11-07T00:00:00+00:00",
                    "totalSettlementAmount": 35913.04,
                    "totalFeeAmount": 1759.74,
                    "totalNetAmount": 34153.3,
                    "totalTransactionsPending": 189,
                    "totalTransactionsSettled": 1330,
                    "totalTransactionsSettling": 1036,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2025-10-31T00:00:00+00:00",
                        "intervalEnd": "2025-11-01T00:00:00+00:00",
                        "totalSettlementAmount": 4631.34,
                        "totalFeeAmount": 226.94,
                        "totalNetAmount": 4404.4,
                        "totalTransactionsPending": 28,
                        "totalTransactionsSettled": 261,
                        "totalTransactionsSettling": 41
                      },
                      {
                        "intervalStart": "2025-11-01T00:00:00+00:00",
                        "intervalEnd": "2025-11-02T00:00:00+00:00",
                        "totalSettlementAmount": 3283.31,
                        "totalFeeAmount": 160.88,
                        "totalNetAmount": 3122.43,
                        "totalTransactionsPending": 38,
                        "totalTransactionsSettled": 203,
                        "totalTransactionsSettling": 45
                      },
                      {
                        "intervalStart": "2025-11-02T00:00:00+00:00",
                        "intervalEnd": "2025-11-03T00:00:00+00:00",
                        "totalSettlementAmount": 3620.61,
                        "totalFeeAmount": 177.41,
                        "totalNetAmount": 3443.2,
                        "totalTransactionsPending": 12,
                        "totalTransactionsSettled": 38,
                        "totalTransactionsSettling": 398
                      },
                      {
                        "intervalStart": "2025-11-03T00:00:00+00:00",
                        "intervalEnd": "2025-11-04T00:00:00+00:00",
                        "totalSettlementAmount": 5654.12,
                        "totalFeeAmount": 277.05,
                        "totalNetAmount": 5377.07,
                        "totalTransactionsPending": 28,
                        "totalTransactionsSettled": 374,
                        "totalTransactionsSettling": 46
                      },
                      {
                        "intervalStart": "2025-11-04T00:00:00+00:00",
                        "intervalEnd": "2025-11-05T00:00:00+00:00",
                        "totalSettlementAmount": 1443.2,
                        "totalFeeAmount": 70.72,
                        "totalNetAmount": 1372.48,
                        "totalTransactionsPending": 10,
                        "totalTransactionsSettled": 170,
                        "totalTransactionsSettling": 271
                      },
                      {
                        "intervalStart": "2025-11-05T00:00:00+00:00",
                        "intervalEnd": "2025-11-06T00:00:00+00:00",
                        "totalSettlementAmount": 9710.82,
                        "totalFeeAmount": 475.83,
                        "totalNetAmount": 9234.99,
                        "totalTransactionsPending": 40,
                        "totalTransactionsSettled": 158,
                        "totalTransactionsSettling": 93
                      },
                      {
                        "intervalStart": "2025-11-06T00:00:00+00:00",
                        "intervalEnd": "2025-11-07T00:00:00+00:00",
                        "totalSettlementAmount": 7569.64,
                        "totalFeeAmount": 370.91,
                        "totalNetAmount": 7198.73,
                        "totalTransactionsPending": 33,
                        "totalTransactionsSettled": 126,
                        "totalTransactionsSettling": 142
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2025-10-31T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2025-11-07T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 35913.04
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 1759.74
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 34153.3
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 189
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 1330
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 1036
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2025-10-31T00:00:00+00:00",
                          "intervalEnd": "2025-11-01T00:00:00+00:00",
                          "totalSettlementAmount": 4631.34,
                          "totalFeeAmount": 226.94,
                          "totalNetAmount": 4404.4,
                          "totalTransactionsPending": 28,
                          "totalTransactionsSettled": 261,
                          "totalTransactionsSettling": 41
                        },
                        {
                          "intervalStart": "2025-11-01T00:00:00+00:00",
                          "intervalEnd": "2025-11-02T00:00:00+00:00",
                          "totalSettlementAmount": 3283.31,
                          "totalFeeAmount": 160.88,
                          "totalNetAmount": 3122.43,
                          "totalTransactionsPending": 38,
                          "totalTransactionsSettled": 203,
                          "totalTransactionsSettling": 45
                        },
                        {
                          "intervalStart": "2025-11-02T00:00:00+00:00",
                          "intervalEnd": "2025-11-03T00:00:00+00:00",
                          "totalSettlementAmount": 3620.61,
                          "totalFeeAmount": 177.41,
                          "totalNetAmount": 3443.2,
                          "totalTransactionsPending": 12,
                          "totalTransactionsSettled": 38,
                          "totalTransactionsSettling": 398
                        },
                        {
                          "intervalStart": "2025-11-03T00:00:00+00:00",
                          "intervalEnd": "2025-11-04T00:00:00+00:00",
                          "totalSettlementAmount": 5654.12,
                          "totalFeeAmount": 277.05,
                          "totalNetAmount": 5377.07,
                          "totalTransactionsPending": 28,
                          "totalTransactionsSettled": 374,
                          "totalTransactionsSettling": 46
                        },
                        {
                          "intervalStart": "2025-11-04T00:00:00+00:00",
                          "intervalEnd": "2025-11-05T00:00:00+00:00",
                          "totalSettlementAmount": 1443.2,
                          "totalFeeAmount": 70.72,
                          "totalNetAmount": 1372.48,
                          "totalTransactionsPending": 10,
                          "totalTransactionsSettled": 170,
                          "totalTransactionsSettling": 271
                        },
                        {
                          "intervalStart": "2025-11-05T00:00:00+00:00",
                          "intervalEnd": "2025-11-06T00:00:00+00:00",
                          "totalSettlementAmount": 9710.82,
                          "totalFeeAmount": 475.83,
                          "totalNetAmount": 9234.99,
                          "totalTransactionsPending": 40,
                          "totalTransactionsSettled": 158,
                          "totalTransactionsSettling": 93
                        },
                        {
                          "intervalStart": "2025-11-06T00:00:00+00:00",
                          "intervalEnd": "2025-11-07T00:00:00+00:00",
                          "totalSettlementAmount": 7569.64,
                          "totalFeeAmount": 370.91,
                          "totalNetAmount": 7198.73,
                          "totalTransactionsPending": 33,
                          "totalTransactionsSettled": 126,
                          "totalTransactionsSettling": 142
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2025-10-31T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2025-11-01T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 4631.34
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 226.94
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 4404.4
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 28
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 261
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 41
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomersByMerchant",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 10,
                    "data": [
                      {
                        "email": "makenzie.pfeffer@yahoo.com",
                        "firstName": "Dalton",
                        "lastName": "Kuhn",
                        "phone": "+18303694375",
                        "dateOfBirth": "1976-06-28"
                      },
                      {
                        "email": "leatha.thiel@beer.info",
                        "firstName": "Jade",
                        "lastName": "Williamson",
                        "phone": "+18289501294",
                        "dateOfBirth": "1988-10-03"
                      },
                      {
                        "email": "qleffler@armstrong.org",
                        "firstName": "Derick",
                        "lastName": "Reichel",
                        "phone": "+12484170921",
                        "dateOfBirth": "1976-02-17"
                      },
                      {
                        "email": "tborer@hotmail.com",
                        "firstName": "Bertrand",
                        "lastName": "O'Keefe",
                        "phone": "+18012215260",
                        "dateOfBirth": "1996-03-12"
                      },
                      {
                        "email": "alden94@borer.com",
                        "firstName": "Alayna",
                        "lastName": "Ryan",
                        "phone": "+16783358712",
                        "dateOfBirth": "1982-12-10"
                      },
                      {
                        "email": "tomas77@gmail.com",
                        "firstName": "Chaz",
                        "lastName": "Kunze",
                        "phone": "+17694063788",
                        "dateOfBirth": "1993-09-14"
                      },
                      {
                        "email": "claud.bradtke@daugherty.org",
                        "firstName": "Filomena",
                        "lastName": "Tremblay",
                        "phone": "+16578880454",
                        "dateOfBirth": "1988-01-27"
                      },
                      {
                        "email": "gayle06@yahoo.com",
                        "firstName": "Murl",
                        "lastName": "Rosenbaum",
                        "phone": "+19713467698",
                        "dateOfBirth": "1985-09-13"
                      },
                      {
                        "email": "ahessel@kilback.com",
                        "firstName": "Clair",
                        "lastName": "Roberts",
                        "phone": "+14087881585",
                        "dateOfBirth": "1975-05-13"
                      },
                      {
                        "email": "royal.hoeger@ortiz.com",
                        "firstName": "Fleta",
                        "lastName": "Orn",
                        "phone": "+13804050512",
                        "dateOfBirth": "1982-08-23"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 10,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "makenzie.pfeffer@yahoo.com",
                          "firstName": "Dalton",
                          "lastName": "Kuhn",
                          "phone": "+18303694375",
                          "dateOfBirth": "1976-06-28"
                        },
                        {
                          "email": "leatha.thiel@beer.info",
                          "firstName": "Jade",
                          "lastName": "Williamson",
                          "phone": "+18289501294",
                          "dateOfBirth": "1988-10-03"
                        },
                        {
                          "email": "qleffler@armstrong.org",
                          "firstName": "Derick",
                          "lastName": "Reichel",
                          "phone": "+12484170921",
                          "dateOfBirth": "1976-02-17"
                        },
                        {
                          "email": "tborer@hotmail.com",
                          "firstName": "Bertrand",
                          "lastName": "O'Keefe",
                          "phone": "+18012215260",
                          "dateOfBirth": "1996-03-12"
                        },
                        {
                          "email": "alden94@borer.com",
                          "firstName": "Alayna",
                          "lastName": "Ryan",
                          "phone": "+16783358712",
                          "dateOfBirth": "1982-12-10"
                        },
                        {
                          "email": "tomas77@gmail.com",
                          "firstName": "Chaz",
                          "lastName": "Kunze",
                          "phone": "+17694063788",
                          "dateOfBirth": "1993-09-14"
                        },
                        {
                          "email": "claud.bradtke@daugherty.org",
                          "firstName": "Filomena",
                          "lastName": "Tremblay",
                          "phone": "+16578880454",
                          "dateOfBirth": "1988-01-27"
                        },
                        {
                          "email": "gayle06@yahoo.com",
                          "firstName": "Murl",
                          "lastName": "Rosenbaum",
                          "phone": "+19713467698",
                          "dateOfBirth": "1985-09-13"
                        },
                        {
                          "email": "ahessel@kilback.com",
                          "firstName": "Clair",
                          "lastName": "Roberts",
                          "phone": "+14087881585",
                          "dateOfBirth": "1975-05-13"
                        },
                        {
                          "email": "royal.hoeger@ortiz.com",
                          "firstName": "Fleta",
                          "lastName": "Orn",
                          "phone": "+13804050512",
                          "dateOfBirth": "1982-08-23"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "makenzie.pfeffer@yahoo.com"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Dalton"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Kuhn"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+18303694375"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "1976-06-28"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/purge": {
      "post": {
        "summary": "Purge Sandbox Data",
        "operationId": "purgeSandboxDataPurgeByMerchant",
        "description": "Delete **sandbox** data for the specified merchant. This endpoint allows deletion of different entity types related to merchants.\nThe operation is performed asynchronously and will trigger the \"payments.merchant.purge\" webhook upon completion.",
        "parameters": [
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sandbox purge job queued successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "payments": 5,
                    "customers": 3,
                    "sessions": 2,
                    "tokens": 1,
                    "merchantId": "MERCHANT123"
                  },
                  "properties": {
                    "payments": {
                      "type": "integer",
                      "example": 5
                    },
                    "customers": {
                      "type": "integer",
                      "example": 3
                    },
                    "sessions": {
                      "type": "integer",
                      "example": 2
                    },
                    "tokens": {
                      "type": "integer",
                      "example": 1
                    },
                    "merchantId": {
                      "type": "string",
                      "example": "MERCHANT123"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "The field1 is required (and one other error)",
                    "errors": {
                      "field1": [
                        "The field1 is required."
                      ],
                      "field2": [
                        "The field2 must be a valid value."
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "message": {
                      "type": "string",
                      "example": "The field1 is required (and one other error)",
                      "description": "A message describing the result of the request",
                      "enum": []
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "field1": {
                          "type": "array",
                          "example": [
                            "The field1 is required."
                          ],
                          "items": {
                            "type": "string"
                          }
                        },
                        "field2": {
                          "type": "array",
                          "example": [
                            "The field2 must be a valid value."
                          ],
                          "items": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Any errors that occurred during the request"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "Authentication is required"
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "message": {
                      "type": "string",
                      "example": "Authentication is required",
                      "description": "A message describing the result of the request",
                      "enum": []
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "Internal Server Error"
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error",
                      "description": "A message describing the result of the request",
                      "enum": []
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Merchant Purge"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$class": "App\\Data\\Api\\N1\\Merchant\\PurgeMerchantRequestBody",
                "type": "object",
                "description": null,
                "properties": {
                  "payments": {
                    "type": "boolean",
                    "nullable": true,
                    "example": true,
                    "description": "Delete all merchant payments"
                  },
                  "customers": {
                    "type": "boolean",
                    "nullable": true,
                    "example": true,
                    "description": "Delete all merchant customers"
                  },
                  "sessions": {
                    "type": "boolean",
                    "nullable": true,
                    "example": true,
                    "description": "Delete all merchant sessions"
                  },
                  "tokens": {
                    "type": "boolean",
                    "nullable": true,
                    "example": true,
                    "description": "Delete all merchant tokens"
                  }
                }
              },
              "examples": {
                "example": {
                  "summary": "Example",
                  "value": {
                    "payments": true,
                    "customers": true,
                    "sessions": true,
                    "tokens": true
                  }
                },
                "paymentsOnly": {
[...]
