{
  "openapi": "3.1.0",
  "info": {
    "version": "1.20.0",
    "title": "Payments API"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "paths": {
    "/api/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalyticsPaymentsByOrganization",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2025-10-30T00:00:00+00:00",
                    "periodEnd": "2025-11-06T00:00:00+00:00",
                    "numPaymentsCreated": 3763,
                    "numPaymentsProcessed": 2797,
                    "numPaymentsIncomplete": 966,
                    "numPaymentsWithRefunds": 1340,
                    "numCardPresentPayments": 1465,
                    "numCardNotPresentPayments": -499,
                    "totalCapturedAmount": 1921296.37,
                    "totalRefundedAmount": 165218.7,
                    "totalNetCapturedAmount": 1756077.67,
                    "averageNetCapturedAmount": 1667.36,
                    "minNetCapturedAmount": 15.25,
                    "maxNetCapturedAmount": 9798.57,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2025-10-30T00:00:00+00:00",
                        "intervalEnd": "2025-10-31T00:00:00+00:00",
                        "numPaymentsCreated": 474,
                        "numPaymentsProcessed": 421,
                        "numPaymentsIncomplete": 53,
                        "numPaymentsWithRefunds": 127,
                        "numCardPresentPayments": 243,
                        "numCardNotPresentPayments": -190,
                        "totalCapturedAmount": 481962.12,
                        "totalRefundedAmount": 902.62,
                        "totalNetCapturedAmount": 481059.5,
                        "averageNetCapturedAmount": 1142.66,
                        "minNetCapturedAmount": 74.03,
                        "maxNetCapturedAmount": 3998.92
                      },
                      {
                        "intervalStart": "2025-10-31T00:00:00+00:00",
                        "intervalEnd": "2025-11-01T00:00:00+00:00",
                        "numPaymentsCreated": 207,
                        "numPaymentsProcessed": 133,
                        "numPaymentsIncomplete": 74,
                        "numPaymentsWithRefunds": 15,
                        "numCardPresentPayments": 69,
                        "numCardNotPresentPayments": 5,
                        "totalCapturedAmount": 46004.08,
                        "totalRefundedAmount": 10182.61,
                        "totalNetCapturedAmount": 35821.47,
                        "averageNetCapturedAmount": 269.33,
                        "minNetCapturedAmount": 15.25,
                        "maxNetCapturedAmount": 9798.57
                      },
                      {
                        "intervalStart": "2025-11-01T00:00:00+00:00",
                        "intervalEnd": "2025-11-02T00:00:00+00:00",
                        "numPaymentsCreated": 820,
                        "numPaymentsProcessed": 667,
                        "numPaymentsIncomplete": 153,
                        "numPaymentsWithRefunds": 590,
                        "numCardPresentPayments": 141,
                        "numCardNotPresentPayments": 12,
                        "totalCapturedAmount": 29051.76,
                        "totalRefundedAmount": 7491.47,
                        "totalNetCapturedAmount": 21560.29,
                        "averageNetCapturedAmount": 32.32,
                        "minNetCapturedAmount": 69.25,
                        "maxNetCapturedAmount": 2731.88
                      },
                      {
                        "intervalStart": "2025-11-02T00:00:00+00:00",
                        "intervalEnd": "2025-11-03T00:00:00+00:00",
                        "numPaymentsCreated": 710,
                        "numPaymentsProcessed": 403,
                        "numPaymentsIncomplete": 307,
                        "numPaymentsWithRefunds": 362,
                        "numCardPresentPayments": 103,
                        "numCardNotPresentPayments": 204,
                        "totalCapturedAmount": 140097.37,
                        "totalRefundedAmount": 10017.55,
                        "totalNetCapturedAmount": 130079.82,
                        "averageNetCapturedAmount": 322.78,
                        "minNetCapturedAmount": 25,
                        "maxNetCapturedAmount": 4149.09
                      },
                      {
                        "intervalStart": "2025-11-03T00:00:00+00:00",
                        "intervalEnd": "2025-11-04T00:00:00+00:00",
                        "numPaymentsCreated": 320,
                        "numPaymentsProcessed": 206,
                        "numPaymentsIncomplete": 114,
                        "numPaymentsWithRefunds": 16,
                        "numCardPresentPayments": 0,
                        "numCardNotPresentPayments": 114,
                        "totalCapturedAmount": 801161.75,
                        "totalRefundedAmount": 122268.05,
                        "totalNetCapturedAmount": 678893.7,
                        "averageNetCapturedAmount": 3295.6,
                        "minNetCapturedAmount": 68.88,
                        "maxNetCapturedAmount": 5882.43
                      },
                      {
                        "intervalStart": "2025-11-04T00:00:00+00:00",
                        "intervalEnd": "2025-11-05T00:00:00+00:00",
                        "numPaymentsCreated": 978,
                        "numPaymentsProcessed": 909,
                        "numPaymentsIncomplete": 69,
                        "numPaymentsWithRefunds": 179,
                        "numCardPresentPayments": 856,
                        "numCardNotPresentPayments": -787,
                        "totalCapturedAmount": 32485.5,
                        "totalRefundedAmount": 5405.31,
                        "totalNetCapturedAmount": 27080.19,
                        "averageNetCapturedAmount": 29.79,
                        "minNetCapturedAmount": 48.93,
                        "maxNetCapturedAmount": 1004.42
                      },
                      {
                        "intervalStart": "2025-11-05T00:00:00+00:00",
                        "intervalEnd": "2025-11-06T00:00:00+00:00",
                        "numPaymentsCreated": 254,
                        "numPaymentsProcessed": 58,
                        "numPaymentsIncomplete": 196,
                        "numPaymentsWithRefunds": 51,
                        "numCardPresentPayments": 53,
                        "numCardNotPresentPayments": 143,
                        "totalCapturedAmount": 390533.79,
                        "totalRefundedAmount": 8951.09,
                        "totalNetCapturedAmount": 381582.7,
                        "averageNetCapturedAmount": 6579.01,
                        "minNetCapturedAmount": 74.43,
                        "maxNetCapturedAmount": 6825.93
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2025-10-30T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2025-11-06T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 3763
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 2797
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 966
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 1340
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 1465
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": -499
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 1921296.37
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 165218.7
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 1756077.67
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 1667.36
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 15.25
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 9798.57
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2025-10-30T00:00:00+00:00",
                          "intervalEnd": "2025-10-31T00:00:00+00:00",
                          "numPaymentsCreated": 474,
                          "numPaymentsProcessed": 421,
                          "numPaymentsIncomplete": 53,
                          "numPaymentsWithRefunds": 127,
                          "numCardPresentPayments": 243,
                          "numCardNotPresentPayments": -190,
                          "totalCapturedAmount": 481962.12,
                          "totalRefundedAmount": 902.62,
                          "totalNetCapturedAmount": 481059.5,
                          "averageNetCapturedAmount": 1142.66,
                          "minNetCapturedAmount": 74.03,
                          "maxNetCapturedAmount": 3998.92
                        },
                        {
                          "intervalStart": "2025-10-31T00:00:00+00:00",
                          "intervalEnd": "2025-11-01T00:00:00+00:00",
                          "numPaymentsCreated": 207,
                          "numPaymentsProcessed": 133,
                          "numPaymentsIncomplete": 74,
                          "numPaymentsWithRefunds": 15,
                          "numCardPresentPayments": 69,
                          "numCardNotPresentPayments": 5,
                          "totalCapturedAmount": 46004.08,
                          "totalRefundedAmount": 10182.61,
                          "totalNetCapturedAmount": 35821.47,
                          "averageNetCapturedAmount": 269.33,
                          "minNetCapturedAmount": 15.25,
                          "maxNetCapturedAmount": 9798.57
                        },
                        {
                          "intervalStart": "2025-11-01T00:00:00+00:00",
                          "intervalEnd": "2025-11-02T00:00:00+00:00",
                          "numPaymentsCreated": 820,
                          "numPaymentsProcessed": 667,
                          "numPaymentsIncomplete": 153,
                          "numPaymentsWithRefunds": 590,
                          "numCardPresentPayments": 141,
                          "numCardNotPresentPayments": 12,
                          "totalCapturedAmount": 29051.76,
                          "totalRefundedAmount": 7491.47,
                          "totalNetCapturedAmount": 21560.29,
                          "averageNetCapturedAmount": 32.32,
                          "minNetCapturedAmount": 69.25,
                          "maxNetCapturedAmount": 2731.88
                        },
                        {
                          "intervalStart": "2025-11-02T00:00:00+00:00",
                          "intervalEnd": "2025-11-03T00:00:00+00:00",
                          "numPaymentsCreated": 710,
                          "numPaymentsProcessed": 403,
                          "numPaymentsIncomplete": 307,
                          "numPaymentsWithRefunds": 362,
                          "numCardPresentPayments": 103,
                          "numCardNotPresentPayments": 204,
                          "totalCapturedAmount": 140097.37,
                          "totalRefundedAmount": 10017.55,
                          "totalNetCapturedAmount": 130079.82,
                          "averageNetCapturedAmount": 322.78,
                          "minNetCapturedAmount": 25,
                          "maxNetCapturedAmount": 4149.09
                        },
                        {
                          "intervalStart": "2025-11-03T00:00:00+00:00",
                          "intervalEnd": "2025-11-04T00:00:00+00:00",
                          "numPaymentsCreated": 320,
                          "numPaymentsProcessed": 206,
                          "numPaymentsIncomplete": 114,
                          "numPaymentsWithRefunds": 16,
                          "numCardPresentPayments": 0,
                          "numCardNotPresentPayments": 114,
                          "totalCapturedAmount": 801161.75,
                          "totalRefundedAmount": 122268.05,
                          "totalNetCapturedAmount": 678893.7,
                          "averageNetCapturedAmount": 3295.6,
                          "minNetCapturedAmount": 68.88,
                          "maxNetCapturedAmount": 5882.43
                        },
                        {
                          "intervalStart": "2025-11-04T00:00:00+00:00",
                          "intervalEnd": "2025-11-05T00:00:00+00:00",
                          "numPaymentsCreated": 978,
                          "numPaymentsProcessed": 909,
                          "numPaymentsIncomplete": 69,
                          "numPaymentsWithRefunds": 179,
                          "numCardPresentPayments": 856,
                          "numCardNotPresentPayments": -787,
                          "totalCapturedAmount": 32485.5,
                          "totalRefundedAmount": 5405.31,
                          "totalNetCapturedAmount": 27080.19,
                          "averageNetCapturedAmount": 29.79,
                          "minNetCapturedAmount": 48.93,
                          "maxNetCapturedAmount": 1004.42
                        },
                        {
                          "intervalStart": "2025-11-05T00:00:00+00:00",
                          "intervalEnd": "2025-11-06T00:00:00+00:00",
                          "numPaymentsCreated": 254,
                          "numPaymentsProcessed": 58,
                          "numPaymentsIncomplete": 196,
                          "numPaymentsWithRefunds": 51,
                          "numCardPresentPayments": 53,
                          "numCardNotPresentPayments": 143,
                          "totalCapturedAmount": 390533.79,
                          "totalRefundedAmount": 8951.09,
                          "totalNetCapturedAmount": 381582.7,
                          "averageNetCapturedAmount": 6579.01,
                          "minNetCapturedAmount": 74.43,
                          "maxNetCapturedAmount": 6825.93
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2025-10-30T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2025-10-31T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 474
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 421
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 53
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 127
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 243
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": -190
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 481962.12
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 902.62
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 481059.5
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 1142.66
                          },
                          "minNetCapturedAmount": {
                            "type": "number",
                            "example": 74.03
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 3998.92
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalyticsCustomersByOrganization",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2025-10-30T00:00:00+00:00",
                    "periodEnd": "2025-11-06T00:00:00+00:00",
                    "activeCustomers": 132,
                    "newCustomers": 296,
                    "returningCustomers": -164,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2025-10-30T00:00:00+00:00",
                        "intervalEnd": "2025-10-31T00:00:00+00:00",
                        "activeCustomers": 100,
                        "newCustomers": 82,
                        "returningCustomers": 18
                      },
                      {
                        "intervalStart": "2025-10-31T00:00:00+00:00",
                        "intervalEnd": "2025-11-01T00:00:00+00:00",
                        "activeCustomers": 15,
                        "newCustomers": 12,
                        "returningCustomers": 3
                      },
                      {
                        "intervalStart": "2025-11-01T00:00:00+00:00",
                        "intervalEnd": "2025-11-02T00:00:00+00:00",
                        "activeCustomers": 74,
                        "newCustomers": 58,
                        "returningCustomers": 16
                      },
                      {
                        "intervalStart": "2025-11-02T00:00:00+00:00",
                        "intervalEnd": "2025-11-03T00:00:00+00:00",
                        "activeCustomers": 39,
                        "newCustomers": 6,
                        "returningCustomers": 33
                      },
                      {
                        "intervalStart": "2025-11-03T00:00:00+00:00",
                        "intervalEnd": "2025-11-04T00:00:00+00:00",
                        "activeCustomers": 80,
                        "newCustomers": 72,
                        "returningCustomers": 8
                      },
                      {
                        "intervalStart": "2025-11-04T00:00:00+00:00",
                        "intervalEnd": "2025-11-05T00:00:00+00:00",
                        "activeCustomers": 55,
                        "newCustomers": 41,
                        "returningCustomers": 14
                      },
                      {
                        "intervalStart": "2025-11-05T00:00:00+00:00",
                        "intervalEnd": "2025-11-06T00:00:00+00:00",
                        "activeCustomers": 68,
                        "newCustomers": 25,
                        "returningCustomers": 43
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2025-10-30T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2025-11-06T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 132
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 296
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": -164
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2025-10-30T00:00:00+00:00",
                          "intervalEnd": "2025-10-31T00:00:00+00:00",
                          "activeCustomers": 100,
                          "newCustomers": 82,
                          "returningCustomers": 18
                        },
                        {
                          "intervalStart": "2025-10-31T00:00:00+00:00",
                          "intervalEnd": "2025-11-01T00:00:00+00:00",
                          "activeCustomers": 15,
                          "newCustomers": 12,
                          "returningCustomers": 3
                        },
                        {
                          "intervalStart": "2025-11-01T00:00:00+00:00",
                          "intervalEnd": "2025-11-02T00:00:00+00:00",
                          "activeCustomers": 74,
                          "newCustomers": 58,
                          "returningCustomers": 16
                        },
                        {
                          "intervalStart": "2025-11-02T00:00:00+00:00",
                          "intervalEnd": "2025-11-03T00:00:00+00:00",
                          "activeCustomers": 39,
                          "newCustomers": 6,
                          "returningCustomers": 33
                        },
                        {
                          "intervalStart": "2025-11-03T00:00:00+00:00",
                          "intervalEnd": "2025-11-04T00:00:00+00:00",
                          "activeCustomers": 80,
                          "newCustomers": 72,
                          "returningCustomers": 8
                        },
                        {
                          "intervalStart": "2025-11-04T00:00:00+00:00",
                          "intervalEnd": "2025-11-05T00:00:00+00:00",
                          "activeCustomers": 55,
                          "newCustomers": 41,
                          "returningCustomers": 14
                        },
                        {
                          "intervalStart": "2025-11-05T00:00:00+00:00",
                          "intervalEnd": "2025-11-06T00:00:00+00:00",
                          "activeCustomers": 68,
                          "newCustomers": 25,
                          "returningCustomers": 43
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2025-10-30T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2025-10-31T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 100
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 82
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 18
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalyticsTransactionsByOrganization",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2025-10-30T00:00:00+00:00",
                    "periodEnd": "2025-11-06T00:00:00+00:00",
                    "totalTransactions": 4640,
                    "authorizeTransactions": 240,
                    "captureTransactions": 287,
                    "payTransactions": 2247,
                    "refundTransactions": 1160,
                    "verifyTransactions": 345,
                    "voidTransactions": 361,
                    "successfulTransactions": 4173,
                    "failedTransactions": 443,
                    "pendingTransactions": 24,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2025-10-30T00:00:00+00:00",
                        "intervalEnd": "2025-10-31T00:00:00+00:00",
                        "totalTransactions": 853,
                        "authorizeTransactions": 28,
                        "captureTransactions": 37,
                        "payTransactions": 659,
                        "refundTransactions": 117,
                        "verifyTransactions": 10,
                        "voidTransactions": 2,
                        "successfulTransactions": 767,
                        "failedTransactions": 83,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-10-31T00:00:00+00:00",
                        "intervalEnd": "2025-11-01T00:00:00+00:00",
                        "totalTransactions": 297,
                        "authorizeTransactions": 16,
                        "captureTransactions": 26,
                        "payTransactions": 169,
                        "refundTransactions": 9,
                        "verifyTransactions": 14,
                        "voidTransactions": 63,
                        "successfulTransactions": 267,
                        "failedTransactions": 29,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-01T00:00:00+00:00",
                        "intervalEnd": "2025-11-02T00:00:00+00:00",
                        "totalTransactions": 886,
                        "authorizeTransactions": 65,
                        "captureTransactions": 71,
                        "payTransactions": 406,
                        "refundTransactions": 213,
                        "verifyTransactions": 30,
                        "voidTransactions": 101,
                        "successfulTransactions": 797,
                        "failedTransactions": 83,
                        "pendingTransactions": 6,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-02T00:00:00+00:00",
                        "intervalEnd": "2025-11-03T00:00:00+00:00",
                        "totalTransactions": 499,
                        "authorizeTransactions": 39,
                        "captureTransactions": 46,
                        "payTransactions": 334,
                        "refundTransactions": 19,
                        "verifyTransactions": 12,
                        "voidTransactions": 49,
                        "successfulTransactions": 449,
                        "failedTransactions": 49,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-03T00:00:00+00:00",
                        "intervalEnd": "2025-11-04T00:00:00+00:00",
                        "totalTransactions": 606,
                        "authorizeTransactions": 15,
                        "captureTransactions": 20,
                        "payTransactions": 173,
                        "refundTransactions": 325,
                        "verifyTransactions": 68,
                        "voidTransactions": 5,
                        "successfulTransactions": 545,
                        "failedTransactions": 57,
                        "pendingTransactions": 4,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-04T00:00:00+00:00",
                        "intervalEnd": "2025-11-05T00:00:00+00:00",
                        "totalTransactions": 636,
                        "authorizeTransactions": 51,
                        "captureTransactions": 60,
                        "payTransactions": 110,
                        "refundTransactions": 206,
                        "verifyTransactions": 73,
                        "voidTransactions": 136,
                        "successfulTransactions": 572,
                        "failedTransactions": 62,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-05T00:00:00+00:00",
                        "intervalEnd": "2025-11-06T00:00:00+00:00",
                        "totalTransactions": 863,
                        "authorizeTransactions": 26,
                        "captureTransactions": 27,
                        "payTransactions": 396,
                        "refundTransactions": 271,
                        "verifyTransactions": 138,
                        "voidTransactions": 5,
                        "successfulTransactions": 776,
                        "failedTransactions": 80,
                        "pendingTransactions": 7,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2025-10-30T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2025-11-06T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 4640
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 240
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 287
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 2247
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 1160
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 345
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 361
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 4173
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 443
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 24
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2025-10-30T00:00:00+00:00",
                          "intervalEnd": "2025-10-31T00:00:00+00:00",
                          "totalTransactions": 853,
                          "authorizeTransactions": 28,
                          "captureTransactions": 37,
                          "payTransactions": 659,
                          "refundTransactions": 117,
                          "verifyTransactions": 10,
                          "voidTransactions": 2,
                          "successfulTransactions": 767,
                          "failedTransactions": 83,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-10-31T00:00:00+00:00",
                          "intervalEnd": "2025-11-01T00:00:00+00:00",
                          "totalTransactions": 297,
                          "authorizeTransactions": 16,
                          "captureTransactions": 26,
                          "payTransactions": 169,
                          "refundTransactions": 9,
                          "verifyTransactions": 14,
                          "voidTransactions": 63,
                          "successfulTransactions": 267,
                          "failedTransactions": 29,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-01T00:00:00+00:00",
                          "intervalEnd": "2025-11-02T00:00:00+00:00",
                          "totalTransactions": 886,
                          "authorizeTransactions": 65,
                          "captureTransactions": 71,
                          "payTransactions": 406,
                          "refundTransactions": 213,
                          "verifyTransactions": 30,
                          "voidTransactions": 101,
                          "successfulTransactions": 797,
                          "failedTransactions": 83,
                          "pendingTransactions": 6,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-02T00:00:00+00:00",
                          "intervalEnd": "2025-11-03T00:00:00+00:00",
                          "totalTransactions": 499,
                          "authorizeTransactions": 39,
                          "captureTransactions": 46,
                          "payTransactions": 334,
                          "refundTransactions": 19,
                          "verifyTransactions": 12,
                          "voidTransactions": 49,
                          "successfulTransactions": 449,
                          "failedTransactions": 49,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-03T00:00:00+00:00",
                          "intervalEnd": "2025-11-04T00:00:00+00:00",
                          "totalTransactions": 606,
                          "authorizeTransactions": 15,
                          "captureTransactions": 20,
                          "payTransactions": 173,
                          "refundTransactions": 325,
                          "verifyTransactions": 68,
                          "voidTransactions": 5,
                          "successfulTransactions": 545,
                          "failedTransactions": 57,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-04T00:00:00+00:00",
                          "intervalEnd": "2025-11-05T00:00:00+00:00",
                          "totalTransactions": 636,
                          "authorizeTransactions": 51,
                          "captureTransactions": 60,
                          "payTransactions": 110,
                          "refundTransactions": 206,
                          "verifyTransactions": 73,
                          "voidTransactions": 136,
                          "successfulTransactions": 572,
                          "failedTransactions": 62,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-05T00:00:00+00:00",
                          "intervalEnd": "2025-11-06T00:00:00+00:00",
                          "totalTransactions": 863,
                          "authorizeTransactions": 26,
                          "captureTransactions": 27,
                          "payTransactions": 396,
                          "refundTransactions": 271,
                          "verifyTransactions": 138,
                          "voidTransactions": 5,
                          "successfulTransactions": 776,
                          "failedTransactions": 80,
                          "pendingTransactions": 7,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2025-10-30T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2025-10-31T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 853
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 28
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 37
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 659
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 117
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 10
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": 2
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 767
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 83
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 3
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalyticsPayoutsByOrganization",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2025-10-30T00:00:00+00:00",
                    "periodEnd": "2025-11-06T00:00:00+00:00",
                    "totalSettlementAmount": 33683.51,
                    "totalFeeAmount": 1650.49,
                    "totalNetAmount": 32033.02,
                    "totalTransactionsPending": 219,
                    "totalTransactionsSettled": 1166,
                    "totalTransactionsSettling": 862,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2025-10-30T00:00:00+00:00",
                        "intervalEnd": "2025-10-31T00:00:00+00:00",
                        "totalSettlementAmount": 2137.5,
                        "totalFeeAmount": 104.74,
                        "totalNetAmount": 2032.76,
                        "totalTransactionsPending": 37,
                        "totalTransactionsSettled": 115,
                        "totalTransactionsSettling": 33
                      },
                      {
                        "intervalStart": "2025-10-31T00:00:00+00:00",
                        "intervalEnd": "2025-11-01T00:00:00+00:00",
                        "totalSettlementAmount": 7916.36,
                        "totalFeeAmount": 387.9,
                        "totalNetAmount": 7528.46,
                        "totalTransactionsPending": 39,
                        "totalTransactionsSettled": 30,
                        "totalTransactionsSettling": 46
                      },
                      {
                        "intervalStart": "2025-11-01T00:00:00+00:00",
                        "intervalEnd": "2025-11-02T00:00:00+00:00",
                        "totalSettlementAmount": 2937.56,
                        "totalFeeAmount": 143.94,
                        "totalNetAmount": 2793.62,
                        "totalTransactionsPending": 23,
                        "totalTransactionsSettled": 399,
                        "totalTransactionsSettling": 11
                      },
                      {
                        "intervalStart": "2025-11-02T00:00:00+00:00",
                        "intervalEnd": "2025-11-03T00:00:00+00:00",
                        "totalSettlementAmount": 4429.82,
                        "totalFeeAmount": 217.06,
                        "totalNetAmount": 4212.76,
                        "totalTransactionsPending": 31,
                        "totalTransactionsSettled": 73,
                        "totalTransactionsSettling": 378
                      },
                      {
                        "intervalStart": "2025-11-03T00:00:00+00:00",
                        "intervalEnd": "2025-11-04T00:00:00+00:00",
                        "totalSettlementAmount": 5709.15,
                        "totalFeeAmount": 279.75,
                        "totalNetAmount": 5429.4,
                        "totalTransactionsPending": 16,
                        "totalTransactionsSettled": 108,
                        "totalTransactionsSettling": 43
                      },
                      {
                        "intervalStart": "2025-11-04T00:00:00+00:00",
                        "intervalEnd": "2025-11-05T00:00:00+00:00",
                        "totalSettlementAmount": 4881.87,
                        "totalFeeAmount": 239.21,
                        "totalNetAmount": 4642.66,
                        "totalTransactionsPending": 37,
                        "totalTransactionsSettled": 94,
                        "totalTransactionsSettling": 291
                      },
                      {
                        "intervalStart": "2025-11-05T00:00:00+00:00",
                        "intervalEnd": "2025-11-06T00:00:00+00:00",
                        "totalSettlementAmount": 5671.25,
                        "totalFeeAmount": 277.89,
                        "totalNetAmount": 5393.36,
                        "totalTransactionsPending": 36,
                        "totalTransactionsSettled": 347,
                        "totalTransactionsSettling": 60
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2025-10-30T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2025-11-06T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 33683.51
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 1650.49
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 32033.02
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 219
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 1166
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 862
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2025-10-30T00:00:00+00:00",
                          "intervalEnd": "2025-10-31T00:00:00+00:00",
                          "totalSettlementAmount": 2137.5,
                          "totalFeeAmount": 104.74,
                          "totalNetAmount": 2032.76,
                          "totalTransactionsPending": 37,
                          "totalTransactionsSettled": 115,
                          "totalTransactionsSettling": 33
                        },
                        {
                          "intervalStart": "2025-10-31T00:00:00+00:00",
                          "intervalEnd": "2025-11-01T00:00:00+00:00",
                          "totalSettlementAmount": 7916.36,
                          "totalFeeAmount": 387.9,
                          "totalNetAmount": 7528.46,
                          "totalTransactionsPending": 39,
                          "totalTransactionsSettled": 30,
                          "totalTransactionsSettling": 46
                        },
                        {
                          "intervalStart": "2025-11-01T00:00:00+00:00",
                          "intervalEnd": "2025-11-02T00:00:00+00:00",
                          "totalSettlementAmount": 2937.56,
                          "totalFeeAmount": 143.94,
                          "totalNetAmount": 2793.62,
                          "totalTransactionsPending": 23,
                          "totalTransactionsSettled": 399,
                          "totalTransactionsSettling": 11
                        },
                        {
                          "intervalStart": "2025-11-02T00:00:00+00:00",
                          "intervalEnd": "2025-11-03T00:00:00+00:00",
                          "totalSettlementAmount": 4429.82,
                          "totalFeeAmount": 217.06,
                          "totalNetAmount": 4212.76,
                          "totalTransactionsPending": 31,
                          "totalTransactionsSettled": 73,
                          "totalTransactionsSettling": 378
                        },
                        {
                          "intervalStart": "2025-11-03T00:00:00+00:00",
                          "intervalEnd": "2025-11-04T00:00:00+00:00",
                          "totalSettlementAmount": 5709.15,
                          "totalFeeAmount": 279.75,
                          "totalNetAmount": 5429.4,
                          "totalTransactionsPending": 16,
                          "totalTransactionsSettled": 108,
                          "totalTransactionsSettling": 43
                        },
                        {
                          "intervalStart": "2025-11-04T00:00:00+00:00",
                          "intervalEnd": "2025-11-05T00:00:00+00:00",
                          "totalSettlementAmount": 4881.87,
                          "totalFeeAmount": 239.21,
                          "totalNetAmount": 4642.66,
                          "totalTransactionsPending": 37,
                          "totalTransactionsSettled": 94,
                          "totalTransactionsSettling": 291
                        },
                        {
                          "intervalStart": "2025-11-05T00:00:00+00:00",
                          "intervalEnd": "2025-11-06T00:00:00+00:00",
                          "totalSettlementAmount": 5671.25,
                          "totalFeeAmount": 277.89,
                          "totalNetAmount": 5393.36,
                          "totalTransactionsPending": 36,
                          "totalTransactionsSettled": 347,
                          "totalTransactionsSettling": 60
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2025-10-30T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2025-10-31T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 2137.5
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 104.74
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 2032.76
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 37
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 115
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 33
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomersByMerchant",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 3,
                    "data": [
                      {
                        "email": "sanford.drake@yahoo.com",
                        "firstName": "Sylvester",
                        "lastName": "Rau",
                        "phone": "+12347637271",
                        "dateOfBirth": "2003-10-11"
                      },
                      {
                        "email": "hauck.elda@schamberger.org",
                        "firstName": "Forrest",
                        "lastName": "Stroman",
                        "phone": "+16463682338",
                        "dateOfBirth": "1992-10-22"
                      },
                      {
                        "email": "kaela03@yahoo.com",
                        "firstName": "Coy",
                        "lastName": "Schultz",
                        "phone": "+16782296626",
                        "dateOfBirth": "1980-06-14"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 3,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "sanford.drake@yahoo.com",
                          "firstName": "Sylvester",
                          "lastName": "Rau",
                          "phone": "+12347637271",
                          "dateOfBirth": "2003-10-11"
                        },
                        {
                          "email": "hauck.elda@schamberger.org",
                          "firstName": "Forrest",
                          "lastName": "Stroman",
                          "phone": "+16463682338",
                          "dateOfBirth": "1992-10-22"
                        },
                        {
                          "email": "kaela03@yahoo.com",
                          "firstName": "Coy",
                          "lastName": "Schultz",
                          "phone": "+16782296626",
                          "dateOfBirth": "1980-06-14"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "sanford.drake@yahoo.com"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Sylvester"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Rau"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+12347637271"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "2003-10-11"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/merchant/{merchantId}/purge": {
      "post": {
        "summary": "Purge Sandbox Data",
        "operationId": "purgeSandboxDataPurgeByMerchant",
        "description": "Delete **sandbox** data for the specified merchant. This endpoint allows deletion of different entity types related to merchants.\nThe operation is performed asynchronously and will trigger the \"payments.merchant.purge\" webhook upon completion.",
        "parameters": [
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sandbox purge job queued successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "payments": 5,
                    "customers": 3,
                    "sessions": 2,
                    "tokens": 1,
                    "merchantId": "MERCHANT123"
                  },
                  "properties": {
                    "payments": {
                      "type": "integer",
                      "example": 5
                    },
                    "customers": {
                      "type": "integer",
                      "example": 3
                    },
                    "sessions": {
                      "type": "integer",
                      "example": 2
                    },
                    "tokens": {
                      "type": "integer",
                      "example": 1
                    },
                    "merchantId": {
                      "type": "string",
                      "example": "MERCHANT123"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "The field1 is required (and one other error)",
                    "errors": {
                      "field1": [
                        "The field1 is required."
                      ],
                      "field2": [
                        "The field2 must be a valid value."
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "message": {
                      "type": "string",
                      "example": "The field1 is required (and one other error)",
                      "description": "A message describing the result of the request",
                      "enum": []
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "field1": {
                          "type": "array",
                          "example": [
                            "The field1 is required."
                          ],
                          "items": {
                            "type": "string"
                          }
                        },
                        "field2": {
                          "type": "array",
                          "example": [
                            "The field2 must be a valid value."
                          ],
                          "items": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Any errors that occurred during the request"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "Authentication is required"
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "message": {
                      "type": "string",
                      "example": "Authentication is required",
                      "description": "A message describing the result of the request",
                      "enum": []
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "Internal Server Error"
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error",
                      "description": "A message describing the result of the request",
                      "enum": []
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Merchant Purge"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$class": "App\\Data\\Api\\N1\\Merchant\\PurgeMerchantRequestBody",
                "type": "object",
                "description": null,
                "properties": {
                  "payments": {
                    "type": "boolean",
                    "nullable": true,
                    "example": true,
                    "description": "Delete all merchant payments"
                  },
                  "customers": {
                    "type": "boolean",
                    "nullable": true,
                    "example": true,
                    "description": "Delete all merchant customers"
                  },
                  "sessions": {
                    "type": "boolean",
                    "nullable": true,
                    "example": true,
                    "description": "Delete all merchant sessions"
                  },
                  "tokens": {
                    "type": "boolean",
                    "nullable": true,
                    "example": true,
                    "description": "Delete all merchant tokens"
                  }
                }
              },
              "examples": {
                "example": {
                  "summary": "Example",
                  "value": {
                    "payments": true,
                    "customers": true,
                    "sessions": true,
                    "tokens": true
                  }
                },
                "paymentsOnly": {
                  "summary": "Payments Only",
                  "value": {
                    "payments": true,
                    "customers": false,
                    "sessions": false,
                    "tokens": false
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/merchant/{merchantId}/order/{orderId}": {
      "get": {
        "summary": "Get Order",
        "operationId": "getOrderByMerchant",
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving an order",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "description": "Test order",
                    "amount": 264.4,
                    "currency": "USD"
                  },
                  "properties": {
                    "description": {
                      "type": "string",
                      "example": "Test order"
                    },
                    "amount": {
                      "type": "number",
                      "example": 264.4
                    },
                    "currency": {
                      "type": "string",
                      "example": "USD"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "The field1 is required (and one other error)",
                    "errors": {
                      "field1": [
                        "The field1 is required."
                      ],
                      "field2": [
                        "The field2 must be a valid value."
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "message": {
                      "type": "string",
                      "example": "The field1 is required (and one other error)",
                      "description": "A message describing the result of the request",
                      "enum": []
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "field1": {
                          "type": "array",
                          "example": [
                            "The field1 is required."
                          ],
                          "items": {
                            "type": "string"
                          }
                        },
                        "field2": {
                          "type": "array",
                          "example": [
                            "The field2 must be a valid value."
                          ],
                          "items": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Any errors that occurred during the request"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization error response",
            "content": {
[...]
