{
  "openapi": "3.1.0",
  "info": {
    "version": "1.20.0",
    "title": "Payments API"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "paths": {
    "/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalyticsPaymentsByOrganization",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2025-10-31T00:00:00+00:00",
                    "periodEnd": "2025-11-07T00:00:00+00:00",
                    "numPaymentsCreated": 2769,
                    "numPaymentsProcessed": 1580,
                    "numPaymentsIncomplete": 1189,
                    "numPaymentsWithRefunds": 884,
                    "numCardPresentPayments": 726,
                    "numCardNotPresentPayments": 463,
                    "totalCapturedAmount": 3837599.32,
                    "totalRefundedAmount": 578010.41,
                    "totalNetCapturedAmount": 3259588.91,
                    "averageNetCapturedAmount": 2533.49,
                    "minNetCapturedAmount": 17.72,
                    "maxNetCapturedAmount": 4704.95,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2025-10-31T00:00:00+00:00",
                        "intervalEnd": "2025-11-01T00:00:00+00:00",
                        "numPaymentsCreated": 364,
                        "numPaymentsProcessed": 268,
                        "numPaymentsIncomplete": 96,
                        "numPaymentsWithRefunds": 83,
                        "numCardPresentPayments": 44,
                        "numCardNotPresentPayments": 52,
                        "totalCapturedAmount": 385264.4,
                        "totalRefundedAmount": 44657.08,
                        "totalNetCapturedAmount": 340607.32,
                        "averageNetCapturedAmount": 1270.92,
                        "minNetCapturedAmount": 30.4,
                        "maxNetCapturedAmount": 1179.86
                      },
                      {
                        "intervalStart": "2025-11-01T00:00:00+00:00",
                        "intervalEnd": "2025-11-02T00:00:00+00:00",
                        "numPaymentsCreated": 125,
                        "numPaymentsProcessed": 91,
                        "numPaymentsIncomplete": 34,
                        "numPaymentsWithRefunds": 54,
                        "numCardPresentPayments": 67,
                        "numCardNotPresentPayments": -33,
                        "totalCapturedAmount": 802775.79,
                        "totalRefundedAmount": 69492.77,
                        "totalNetCapturedAmount": 733283.02,
                        "averageNetCapturedAmount": 8058.06,
                        "minNetCapturedAmount": 48.93,
                        "maxNetCapturedAmount": 1854.87
                      },
                      {
                        "intervalStart": "2025-11-02T00:00:00+00:00",
                        "intervalEnd": "2025-11-03T00:00:00+00:00",
                        "numPaymentsCreated": 228,
                        "numPaymentsProcessed": 151,
                        "numPaymentsIncomplete": 77,
                        "numPaymentsWithRefunds": 147,
                        "numCardPresentPayments": 51,
                        "numCardNotPresentPayments": 26,
                        "totalCapturedAmount": 21848.93,
                        "totalRefundedAmount": 124.83,
                        "totalNetCapturedAmount": 21724.1,
                        "averageNetCapturedAmount": 143.87,
                        "minNetCapturedAmount": 88.21,
                        "maxNetCapturedAmount": 1642.64
                      },
                      {
                        "intervalStart": "2025-11-03T00:00:00+00:00",
                        "intervalEnd": "2025-11-04T00:00:00+00:00",
                        "numPaymentsCreated": 415,
                        "numPaymentsProcessed": 281,
                        "numPaymentsIncomplete": 134,
                        "numPaymentsWithRefunds": 175,
                        "numCardPresentPayments": 126,
                        "numCardNotPresentPayments": 8,
                        "totalCapturedAmount": 975756.12,
                        "totalRefundedAmount": 255820.18,
                        "totalNetCapturedAmount": 719935.94,
                        "averageNetCapturedAmount": 2562.05,
                        "minNetCapturedAmount": 88.43,
                        "maxNetCapturedAmount": 2744.56
                      },
                      {
                        "intervalStart": "2025-11-04T00:00:00+00:00",
                        "intervalEnd": "2025-11-05T00:00:00+00:00",
                        "numPaymentsCreated": 746,
                        "numPaymentsProcessed": 212,
                        "numPaymentsIncomplete": 534,
                        "numPaymentsWithRefunds": 211,
                        "numCardPresentPayments": 86,
                        "numCardNotPresentPayments": 448,
                        "totalCapturedAmount": 705682.19,
                        "totalRefundedAmount": 75092.75,
                        "totalNetCapturedAmount": 630589.44,
                        "averageNetCapturedAmount": 2974.48,
                        "minNetCapturedAmount": 26.2,
                        "maxNetCapturedAmount": 2468.34
                      },
                      {
                        "intervalStart": "2025-11-05T00:00:00+00:00",
                        "intervalEnd": "2025-11-06T00:00:00+00:00",
                        "numPaymentsCreated": 675,
                        "numPaymentsProcessed": 457,
                        "numPaymentsIncomplete": 218,
                        "numPaymentsWithRefunds": 156,
                        "numCardPresentPayments": 320,
                        "numCardNotPresentPayments": -102,
                        "totalCapturedAmount": 762577.69,
                        "totalRefundedAmount": 102914.15,
                        "totalNetCapturedAmount": 659663.54,
                        "averageNetCapturedAmount": 1443.47,
                        "minNetCapturedAmount": 93.08,
                        "maxNetCapturedAmount": 1056.18
                      },
                      {
                        "intervalStart": "2025-11-06T00:00:00+00:00",
                        "intervalEnd": "2025-11-07T00:00:00+00:00",
                        "numPaymentsCreated": 216,
                        "numPaymentsProcessed": 120,
                        "numPaymentsIncomplete": 96,
                        "numPaymentsWithRefunds": 58,
                        "numCardPresentPayments": 32,
                        "numCardNotPresentPayments": 64,
                        "totalCapturedAmount": 183694.2,
                        "totalRefundedAmount": 29908.65,
                        "totalNetCapturedAmount": 153785.55,
                        "averageNetCapturedAmount": 1281.55,
                        "minNetCapturedAmount": 17.72,
                        "maxNetCapturedAmount": 4704.95
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2025-10-31T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2025-11-07T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 2769
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 1580
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 1189
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 884
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 726
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": 463
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 3837599.32
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 578010.41
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 3259588.91
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 2533.49
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 17.72
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 4704.95
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2025-10-31T00:00:00+00:00",
                          "intervalEnd": "2025-11-01T00:00:00+00:00",
                          "numPaymentsCreated": 364,
                          "numPaymentsProcessed": 268,
                          "numPaymentsIncomplete": 96,
                          "numPaymentsWithRefunds": 83,
                          "numCardPresentPayments": 44,
                          "numCardNotPresentPayments": 52,
                          "totalCapturedAmount": 385264.4,
                          "totalRefundedAmount": 44657.08,
                          "totalNetCapturedAmount": 340607.32,
                          "averageNetCapturedAmount": 1270.92,
                          "minNetCapturedAmount": 30.4,
                          "maxNetCapturedAmount": 1179.86
                        },
                        {
                          "intervalStart": "2025-11-01T00:00:00+00:00",
                          "intervalEnd": "2025-11-02T00:00:00+00:00",
                          "numPaymentsCreated": 125,
                          "numPaymentsProcessed": 91,
                          "numPaymentsIncomplete": 34,
                          "numPaymentsWithRefunds": 54,
                          "numCardPresentPayments": 67,
                          "numCardNotPresentPayments": -33,
                          "totalCapturedAmount": 802775.79,
                          "totalRefundedAmount": 69492.77,
                          "totalNetCapturedAmount": 733283.02,
                          "averageNetCapturedAmount": 8058.06,
                          "minNetCapturedAmount": 48.93,
                          "maxNetCapturedAmount": 1854.87
                        },
                        {
                          "intervalStart": "2025-11-02T00:00:00+00:00",
                          "intervalEnd": "2025-11-03T00:00:00+00:00",
                          "numPaymentsCreated": 228,
                          "numPaymentsProcessed": 151,
                          "numPaymentsIncomplete": 77,
                          "numPaymentsWithRefunds": 147,
                          "numCardPresentPayments": 51,
                          "numCardNotPresentPayments": 26,
                          "totalCapturedAmount": 21848.93,
                          "totalRefundedAmount": 124.83,
                          "totalNetCapturedAmount": 21724.1,
                          "averageNetCapturedAmount": 143.87,
                          "minNetCapturedAmount": 88.21,
                          "maxNetCapturedAmount": 1642.64
                        },
                        {
                          "intervalStart": "2025-11-03T00:00:00+00:00",
                          "intervalEnd": "2025-11-04T00:00:00+00:00",
                          "numPaymentsCreated": 415,
                          "numPaymentsProcessed": 281,
                          "numPaymentsIncomplete": 134,
                          "numPaymentsWithRefunds": 175,
                          "numCardPresentPayments": 126,
                          "numCardNotPresentPayments": 8,
                          "totalCapturedAmount": 975756.12,
                          "totalRefundedAmount": 255820.18,
                          "totalNetCapturedAmount": 719935.94,
                          "averageNetCapturedAmount": 2562.05,
                          "minNetCapturedAmount": 88.43,
                          "maxNetCapturedAmount": 2744.56
                        },
                        {
                          "intervalStart": "2025-11-04T00:00:00+00:00",
                          "intervalEnd": "2025-11-05T00:00:00+00:00",
                          "numPaymentsCreated": 746,
                          "numPaymentsProcessed": 212,
                          "numPaymentsIncomplete": 534,
                          "numPaymentsWithRefunds": 211,
                          "numCardPresentPayments": 86,
                          "numCardNotPresentPayments": 448,
                          "totalCapturedAmount": 705682.19,
                          "totalRefundedAmount": 75092.75,
                          "totalNetCapturedAmount": 630589.44,
                          "averageNetCapturedAmount": 2974.48,
                          "minNetCapturedAmount": 26.2,
                          "maxNetCapturedAmount": 2468.34
                        },
                        {
                          "intervalStart": "2025-11-05T00:00:00+00:00",
                          "intervalEnd": "2025-11-06T00:00:00+00:00",
                          "numPaymentsCreated": 675,
                          "numPaymentsProcessed": 457,
                          "numPaymentsIncomplete": 218,
                          "numPaymentsWithRefunds": 156,
                          "numCardPresentPayments": 320,
                          "numCardNotPresentPayments": -102,
                          "totalCapturedAmount": 762577.69,
                          "totalRefundedAmount": 102914.15,
                          "totalNetCapturedAmount": 659663.54,
                          "averageNetCapturedAmount": 1443.47,
                          "minNetCapturedAmount": 93.08,
                          "maxNetCapturedAmount": 1056.18
                        },
                        {
                          "intervalStart": "2025-11-06T00:00:00+00:00",
                          "intervalEnd": "2025-11-07T00:00:00+00:00",
                          "numPaymentsCreated": 216,
                          "numPaymentsProcessed": 120,
                          "numPaymentsIncomplete": 96,
                          "numPaymentsWithRefunds": 58,
                          "numCardPresentPayments": 32,
                          "numCardNotPresentPayments": 64,
                          "totalCapturedAmount": 183694.2,
                          "totalRefundedAmount": 29908.65,
                          "totalNetCapturedAmount": 153785.55,
                          "averageNetCapturedAmount": 1281.55,
                          "minNetCapturedAmount": 17.72,
                          "maxNetCapturedAmount": 4704.95
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2025-10-31T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2025-11-01T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 364
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 268
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 96
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 83
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 44
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": 52
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 385264.4
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 44657.08
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 340607.32
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 1270.92
                          },
                          "minNetCapturedAmount": {
                            "type": "number",
                            "example": 30.4
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 1179.86
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalyticsCustomersByOrganization",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2025-10-31T00:00:00+00:00",
                    "periodEnd": "2025-11-07T00:00:00+00:00",
                    "activeCustomers": 418,
                    "newCustomers": 268,
                    "returningCustomers": 150,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2025-10-31T00:00:00+00:00",
                        "intervalEnd": "2025-11-01T00:00:00+00:00",
                        "activeCustomers": 82,
                        "newCustomers": 64,
                        "returningCustomers": 18
                      },
                      {
                        "intervalStart": "2025-11-01T00:00:00+00:00",
                        "intervalEnd": "2025-11-02T00:00:00+00:00",
                        "activeCustomers": 51,
                        "newCustomers": 43,
                        "returningCustomers": 8
                      },
                      {
                        "intervalStart": "2025-11-02T00:00:00+00:00",
                        "intervalEnd": "2025-11-03T00:00:00+00:00",
                        "activeCustomers": 87,
                        "newCustomers": 78,
                        "returningCustomers": 9
                      },
                      {
                        "intervalStart": "2025-11-03T00:00:00+00:00",
                        "intervalEnd": "2025-11-04T00:00:00+00:00",
                        "activeCustomers": 39,
                        "newCustomers": 21,
                        "returningCustomers": 18
                      },
                      {
                        "intervalStart": "2025-11-04T00:00:00+00:00",
                        "intervalEnd": "2025-11-05T00:00:00+00:00",
                        "activeCustomers": 75,
                        "newCustomers": 13,
                        "returningCustomers": 62
                      },
                      {
                        "intervalStart": "2025-11-05T00:00:00+00:00",
                        "intervalEnd": "2025-11-06T00:00:00+00:00",
                        "activeCustomers": 78,
                        "newCustomers": 24,
                        "returningCustomers": 54
                      },
                      {
                        "intervalStart": "2025-11-06T00:00:00+00:00",
                        "intervalEnd": "2025-11-07T00:00:00+00:00",
                        "activeCustomers": 34,
                        "newCustomers": 25,
                        "returningCustomers": 9
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2025-10-31T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2025-11-07T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 418
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 268
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": 150
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2025-10-31T00:00:00+00:00",
                          "intervalEnd": "2025-11-01T00:00:00+00:00",
                          "activeCustomers": 82,
                          "newCustomers": 64,
                          "returningCustomers": 18
                        },
                        {
                          "intervalStart": "2025-11-01T00:00:00+00:00",
                          "intervalEnd": "2025-11-02T00:00:00+00:00",
                          "activeCustomers": 51,
                          "newCustomers": 43,
                          "returningCustomers": 8
                        },
                        {
                          "intervalStart": "2025-11-02T00:00:00+00:00",
                          "intervalEnd": "2025-11-03T00:00:00+00:00",
                          "activeCustomers": 87,
                          "newCustomers": 78,
                          "returningCustomers": 9
                        },
                        {
                          "intervalStart": "2025-11-03T00:00:00+00:00",
                          "intervalEnd": "2025-11-04T00:00:00+00:00",
                          "activeCustomers": 39,
                          "newCustomers": 21,
                          "returningCustomers": 18
                        },
                        {
                          "intervalStart": "2025-11-04T00:00:00+00:00",
                          "intervalEnd": "2025-11-05T00:00:00+00:00",
                          "activeCustomers": 75,
                          "newCustomers": 13,
                          "returningCustomers": 62
                        },
                        {
                          "intervalStart": "2025-11-05T00:00:00+00:00",
                          "intervalEnd": "2025-11-06T00:00:00+00:00",
                          "activeCustomers": 78,
                          "newCustomers": 24,
                          "returningCustomers": 54
                        },
                        {
                          "intervalStart": "2025-11-06T00:00:00+00:00",
                          "intervalEnd": "2025-11-07T00:00:00+00:00",
                          "activeCustomers": 34,
                          "newCustomers": 25,
                          "returningCustomers": 9
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2025-10-31T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2025-11-01T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 82
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 64
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 18
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalyticsTransactionsByOrganization",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2025-10-31T00:00:00+00:00",
                    "periodEnd": "2025-11-07T00:00:00+00:00",
                    "totalTransactions": 3683,
                    "authorizeTransactions": 352,
                    "captureTransactions": 381,
                    "payTransactions": 1197,
                    "refundTransactions": 1306,
                    "verifyTransactions": 228,
                    "voidTransactions": 219,
                    "successfulTransactions": 3311,
                    "failedTransactions": 349,
                    "pendingTransactions": 23,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2025-10-31T00:00:00+00:00",
                        "intervalEnd": "2025-11-01T00:00:00+00:00",
                        "totalTransactions": 815,
                        "authorizeTransactions": 83,
                        "captureTransactions": 91,
                        "payTransactions": 389,
                        "refundTransactions": 229,
                        "verifyTransactions": 9,
                        "voidTransactions": 14,
                        "successfulTransactions": 733,
                        "failedTransactions": 75,
                        "pendingTransactions": 7,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-01T00:00:00+00:00",
                        "intervalEnd": "2025-11-02T00:00:00+00:00",
                        "totalTransactions": 794,
                        "authorizeTransactions": 69,
                        "captureTransactions": 71,
                        "payTransactions": 197,
                        "refundTransactions": 412,
                        "verifyTransactions": 43,
                        "voidTransactions": 2,
                        "successfulTransactions": 714,
                        "failedTransactions": 73,
                        "pendingTransactions": 7,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-02T00:00:00+00:00",
                        "intervalEnd": "2025-11-03T00:00:00+00:00",
                        "totalTransactions": 856,
                        "authorizeTransactions": 93,
                        "captureTransactions": 98,
                        "payTransactions": 245,
                        "refundTransactions": 283,
                        "verifyTransactions": 102,
                        "voidTransactions": 35,
                        "successfulTransactions": 770,
                        "failedTransactions": 83,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-03T00:00:00+00:00",
                        "intervalEnd": "2025-11-04T00:00:00+00:00",
                        "totalTransactions": 231,
                        "authorizeTransactions": 23,
                        "captureTransactions": 25,
                        "payTransactions": 153,
                        "refundTransactions": 10,
                        "verifyTransactions": 15,
                        "voidTransactions": 5,
                        "successfulTransactions": 207,
                        "failedTransactions": 23,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-04T00:00:00+00:00",
                        "intervalEnd": "2025-11-05T00:00:00+00:00",
                        "totalTransactions": 164,
                        "authorizeTransactions": 18,
                        "captureTransactions": 25,
                        "payTransactions": 39,
                        "refundTransactions": 47,
                        "verifyTransactions": 24,
                        "voidTransactions": 11,
                        "successfulTransactions": 147,
                        "failedTransactions": 16,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-05T00:00:00+00:00",
                        "intervalEnd": "2025-11-06T00:00:00+00:00",
                        "totalTransactions": 515,
                        "authorizeTransactions": 45,
                        "captureTransactions": 49,
                        "payTransactions": 64,
                        "refundTransactions": 202,
                        "verifyTransactions": 18,
                        "voidTransactions": 137,
                        "successfulTransactions": 463,
                        "failedTransactions": 51,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-06T00:00:00+00:00",
                        "intervalEnd": "2025-11-07T00:00:00+00:00",
                        "totalTransactions": 308,
                        "authorizeTransactions": 21,
                        "captureTransactions": 22,
                        "payTransactions": 110,
                        "refundTransactions": 123,
                        "verifyTransactions": 17,
                        "voidTransactions": 15,
                        "successfulTransactions": 277,
                        "failedTransactions": 28,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2025-10-31T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2025-11-07T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 3683
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 352
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 381
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 1197
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 1306
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 228
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 219
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 3311
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 349
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 23
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2025-10-31T00:00:00+00:00",
                          "intervalEnd": "2025-11-01T00:00:00+00:00",
                          "totalTransactions": 815,
                          "authorizeTransactions": 83,
                          "captureTransactions": 91,
                          "payTransactions": 389,
                          "refundTransactions": 229,
                          "verifyTransactions": 9,
                          "voidTransactions": 14,
                          "successfulTransactions": 733,
                          "failedTransactions": 75,
                          "pendingTransactions": 7,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-01T00:00:00+00:00",
                          "intervalEnd": "2025-11-02T00:00:00+00:00",
                          "totalTransactions": 794,
                          "authorizeTransactions": 69,
                          "captureTransactions": 71,
                          "payTransactions": 197,
                          "refundTransactions": 412,
                          "verifyTransactions": 43,
                          "voidTransactions": 2,
                          "successfulTransactions": 714,
                          "failedTransactions": 73,
                          "pendingTransactions": 7,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-02T00:00:00+00:00",
                          "intervalEnd": "2025-11-03T00:00:00+00:00",
                          "totalTransactions": 856,
                          "authorizeTransactions": 93,
                          "captureTransactions": 98,
                          "payTransactions": 245,
                          "refundTransactions": 283,
                          "verifyTransactions": 102,
                          "voidTransactions": 35,
                          "successfulTransactions": 770,
                          "failedTransactions": 83,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-03T00:00:00+00:00",
                          "intervalEnd": "2025-11-04T00:00:00+00:00",
                          "totalTransactions": 231,
                          "authorizeTransactions": 23,
                          "captureTransactions": 25,
                          "payTransactions": 153,
                          "refundTransactions": 10,
                          "verifyTransactions": 15,
                          "voidTransactions": 5,
                          "successfulTransactions": 207,
                          "failedTransactions": 23,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-04T00:00:00+00:00",
                          "intervalEnd": "2025-11-05T00:00:00+00:00",
                          "totalTransactions": 164,
                          "authorizeTransactions": 18,
                          "captureTransactions": 25,
                          "payTransactions": 39,
                          "refundTransactions": 47,
                          "verifyTransactions": 24,
                          "voidTransactions": 11,
                          "successfulTransactions": 147,
                          "failedTransactions": 16,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-05T00:00:00+00:00",
                          "intervalEnd": "2025-11-06T00:00:00+00:00",
                          "totalTransactions": 515,
                          "authorizeTransactions": 45,
                          "captureTransactions": 49,
                          "payTransactions": 64,
                          "refundTransactions": 202,
                          "verifyTransactions": 18,
                          "voidTransactions": 137,
                          "successfulTransactions": 463,
                          "failedTransactions": 51,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-06T00:00:00+00:00",
                          "intervalEnd": "2025-11-07T00:00:00+00:00",
                          "totalTransactions": 308,
                          "authorizeTransactions": 21,
                          "captureTransactions": 22,
                          "payTransactions": 110,
                          "refundTransactions": 123,
                          "verifyTransactions": 17,
                          "voidTransactions": 15,
                          "successfulTransactions": 277,
                          "failedTransactions": 28,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2025-10-31T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2025-11-01T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 815
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 83
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 91
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 389
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 229
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 9
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": 14
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 733
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 75
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 7
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalyticsPayoutsByOrganization",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2025-10-31T00:00:00+00:00",
                    "periodEnd": "2025-11-07T00:00:00+00:00",
                    "totalSettlementAmount": 37910.45,
                    "totalFeeAmount": 1857.62,
                    "totalNetAmount": 36052.83,
                    "totalTransactionsPending": 161,
                    "totalTransactionsSettled": 1113,
                    "totalTransactionsSettling": 1196,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2025-10-31T00:00:00+00:00",
                        "intervalEnd": "2025-11-01T00:00:00+00:00",
                        "totalSettlementAmount": 1638.96,
                        "totalFeeAmount": 80.31,
                        "totalNetAmount": 1558.65,
                        "totalTransactionsPending": 18,
                        "totalTransactionsSettled": 366,
                        "totalTransactionsSettling": 62
                      },
                      {
                        "intervalStart": "2025-11-01T00:00:00+00:00",
                        "intervalEnd": "2025-11-02T00:00:00+00:00",
                        "totalSettlementAmount": 7618.4,
                        "totalFeeAmount": 373.3,
                        "totalNetAmount": 7245.1,
                        "totalTransactionsPending": 27,
                        "totalTransactionsSettled": 149,
                        "totalTransactionsSettling": 222
                      },
                      {
                        "intervalStart": "2025-11-02T00:00:00+00:00",
                        "intervalEnd": "2025-11-03T00:00:00+00:00",
                        "totalSettlementAmount": 5328.21,
                        "totalFeeAmount": 261.08,
                        "totalNetAmount": 5067.13,
                        "totalTransactionsPending": 30,
                        "totalTransactionsSettled": 338,
                        "totalTransactionsSettling": 120
                      },
                      {
                        "intervalStart": "2025-11-03T00:00:00+00:00",
                        "intervalEnd": "2025-11-04T00:00:00+00:00",
                        "totalSettlementAmount": 2936.72,
                        "totalFeeAmount": 143.9,
                        "totalNetAmount": 2792.82,
                        "totalTransactionsPending": 22,
                        "totalTransactionsSettled": 37,
                        "totalTransactionsSettling": 77
                      },
                      {
                        "intervalStart": "2025-11-04T00:00:00+00:00",
                        "intervalEnd": "2025-11-05T00:00:00+00:00",
                        "totalSettlementAmount": 3832.96,
                        "totalFeeAmount": 187.82,
                        "totalNetAmount": 3645.14,
                        "totalTransactionsPending": 14,
                        "totalTransactionsSettled": 64,
                        "totalTransactionsSettling": 208
                      },
                      {
                        "intervalStart": "2025-11-05T00:00:00+00:00",
                        "intervalEnd": "2025-11-06T00:00:00+00:00",
                        "totalSettlementAmount": 9717.93,
                        "totalFeeAmount": 476.18,
                        "totalNetAmount": 9241.75,
                        "totalTransactionsPending": 14,
                        "totalTransactionsSettled": 134,
                        "totalTransactionsSettling": 77
                      },
                      {
                        "intervalStart": "2025-11-06T00:00:00+00:00",
                        "intervalEnd": "2025-11-07T00:00:00+00:00",
                        "totalSettlementAmount": 6837.27,
                        "totalFeeAmount": 335.03,
                        "totalNetAmount": 6502.24,
                        "totalTransactionsPending": 36,
                        "totalTransactionsSettled": 25,
                        "totalTransactionsSettling": 430
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2025-10-31T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2025-11-07T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 37910.45
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 1857.62
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 36052.83
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 161
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 1113
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 1196
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2025-10-31T00:00:00+00:00",
                          "intervalEnd": "2025-11-01T00:00:00+00:00",
                          "totalSettlementAmount": 1638.96,
                          "totalFeeAmount": 80.31,
                          "totalNetAmount": 1558.65,
                          "totalTransactionsPending": 18,
                          "totalTransactionsSettled": 366,
                          "totalTransactionsSettling": 62
                        },
                        {
                          "intervalStart": "2025-11-01T00:00:00+00:00",
                          "intervalEnd": "2025-11-02T00:00:00+00:00",
                          "totalSettlementAmount": 7618.4,
                          "totalFeeAmount": 373.3,
                          "totalNetAmount": 7245.1,
                          "totalTransactionsPending": 27,
                          "totalTransactionsSettled": 149,
                          "totalTransactionsSettling": 222
                        },
                        {
                          "intervalStart": "2025-11-02T00:00:00+00:00",
                          "intervalEnd": "2025-11-03T00:00:00+00:00",
                          "totalSettlementAmount": 5328.21,
                          "totalFeeAmount": 261.08,
                          "totalNetAmount": 5067.13,
                          "totalTransactionsPending": 30,
                          "totalTransactionsSettled": 338,
                          "totalTransactionsSettling": 120
                        },
                        {
                          "intervalStart": "2025-11-03T00:00:00+00:00",
                          "intervalEnd": "2025-11-04T00:00:00+00:00",
                          "totalSettlementAmount": 2936.72,
                          "totalFeeAmount": 143.9,
                          "totalNetAmount": 2792.82,
                          "totalTransactionsPending": 22,
                          "totalTransactionsSettled": 37,
                          "totalTransactionsSettling": 77
                        },
                        {
                          "intervalStart": "2025-11-04T00:00:00+00:00",
                          "intervalEnd": "2025-11-05T00:00:00+00:00",
                          "totalSettlementAmount": 3832.96,
                          "totalFeeAmount": 187.82,
                          "totalNetAmount": 3645.14,
                          "totalTransactionsPending": 14,
                          "totalTransactionsSettled": 64,
                          "totalTransactionsSettling": 208
                        },
                        {
                          "intervalStart": "2025-11-05T00:00:00+00:00",
                          "intervalEnd": "2025-11-06T00:00:00+00:00",
                          "totalSettlementAmount": 9717.93,
                          "totalFeeAmount": 476.18,
                          "totalNetAmount": 9241.75,
                          "totalTransactionsPending": 14,
                          "totalTransactionsSettled": 134,
                          "totalTransactionsSettling": 77
                        },
                        {
                          "intervalStart": "2025-11-06T00:00:00+00:00",
                          "intervalEnd": "2025-11-07T00:00:00+00:00",
                          "totalSettlementAmount": 6837.27,
                          "totalFeeAmount": 335.03,
                          "totalNetAmount": 6502.24,
                          "totalTransactionsPending": 36,
                          "totalTransactionsSettled": 25,
                          "totalTransactionsSettling": 430
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2025-10-31T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2025-11-01T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 1638.96
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 80.31
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 1558.65
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 18
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 366
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 62
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomersByMerchant",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 7,
                    "data": [
                      {
                        "email": "syble97@gmail.com",
                        "firstName": "Lucienne",
                        "lastName": "Tillman",
                        "phone": "+13014049202",
                        "dateOfBirth": "1971-05-19"
                      },
                      {
                        "email": "jacinthe12@yahoo.com",
                        "firstName": "Angelina",
                        "lastName": "Watsica",
                        "phone": "+12167401764",
                        "dateOfBirth": "1973-02-24"
                      },
                      {
                        "email": "maximillian55@schulist.org",
                        "firstName": "Bernard",
                        "lastName": "Casper",
                        "phone": "+18285815771",
                        "dateOfBirth": "1996-10-27"
                      },
                      {
                        "email": "kennith54@gmail.com",
                        "firstName": "Rhoda",
                        "lastName": "Lockman",
                        "phone": "+18482886485",
                        "dateOfBirth": "1999-01-09"
                      },
                      {
                        "email": "zmurazik@connelly.com",
                        "firstName": "Harvey",
                        "lastName": "Goldner",
                        "phone": "+14103229184",
                        "dateOfBirth": "1977-12-31"
                      },
                      {
                        "email": "cecelia.greenfelder@yahoo.com",
                        "firstName": "Yasmeen",
                        "lastName": "Hackett",
                        "phone": "+12605013139",
                        "dateOfBirth": "1979-11-02"
                      },
                      {
                        "email": "kaci.heaney@kessler.com",
                        "firstName": "Millie",
                        "lastName": "O'Hara",
                        "phone": "+19722992044",
                        "dateOfBirth": "1970-11-23"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 7,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "syble97@gmail.com",
                          "firstName": "Lucienne",
                          "lastName": "Tillman",
                          "phone": "+13014049202",
                          "dateOfBirth": "1971-05-19"
                        },
                        {
                          "email": "jacinthe12@yahoo.com",
                          "firstName": "Angelina",
                          "lastName": "Watsica",
                          "phone": "+12167401764",
                          "dateOfBirth": "1973-02-24"
                        },
                        {
                          "email": "maximillian55@schulist.org",
                          "firstName": "Bernard",
                          "lastName": "Casper",
                          "phone": "+18285815771",
                          "dateOfBirth": "1996-10-27"
                        },
                        {
                          "email": "kennith54@gmail.com",
                          "firstName": "Rhoda",
                          "lastName": "Lockman",
                          "phone": "+18482886485",
                          "dateOfBirth": "1999-01-09"
                        },
                        {
                          "email": "zmurazik@connelly.com",
                          "firstName": "Harvey",
                          "lastName": "Goldner",
                          "phone": "+14103229184",
                          "dateOfBirth": "1977-12-31"
                        },
                        {
                          "email": "cecelia.greenfelder@yahoo.com",
                          "firstName": "Yasmeen",
                          "lastName": "Hackett",
                          "phone": "+12605013139",
                          "dateOfBirth": "1979-11-02"
                        },
                        {
                          "email": "kaci.heaney@kessler.com",
                          "firstName": "Millie",
                          "lastName": "O'Hara",
                          "phone": "+19722992044",
                          "dateOfBirth": "1970-11-23"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "syble97@gmail.com"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Lucienne"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Tillman"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+13014049202"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "1971-05-19"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/purge": {
      "post": {
        "summary": "Purge Sandbox Data",
        "operationId": "purgeSandboxDataPurgeByMerchant",
        "description": "Delete **sandbox** data for the specified merchant. This endpoint allows deletion of different entity types related to merchants.\nThe operation is performed asynchronously and will trigger the \"payments.merchant.purge\" webhook upon completion.",
        "parameters": [
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sandbox purge job queued successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "payments": 5,
                    "customers": 3,
                    "sessions": 2,
                    "tokens": 1,
                    "merchantId": "MERCHANT123"
                  },
                  "properties": {
                    "payments": {
                      "type": "integer",
                      "example": 5
                    },
                    "customers": {
                      "type": "integer",
                      "example": 3
                    },
                    "sessions": {
                      "type": "integer",
                      "example": 2
                    },
                    "tokens": {
                      "type": "integer",
                      "example": 1
                    },
                    "merchantId": {
                      "type": "string",
                      "example": "MERCHANT123"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "The field1 is required (and one other error)",
                    "errors": {
                      "field1": [
                        "The field1 is required."
                      ],
                      "field2": [
                        "The field2 must be a valid value."
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "message": {
                      "type": "string",
                      "example": "The field1 is required (and one other error)",
                      "description": "A message describing the result of the request",
                      "enum": []
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "field1": {
                          "type": "array",
                          "example": [
                            "The field1 is required."
                          ],
                          "items": {
                            "type": "string"
                          }
                        },
                        "field2": {
                          "type": "array",
                          "example": [
                            "The field2 must be a valid value."
                          ],
                          "items": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Any errors that occurred during the request"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "Authentication is required"
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "message": {
                      "type": "string",
                      "example": "Authentication is required",
                      "description": "A message describing the result of the request",
                      "enum": []
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "Internal Server Error"
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error",
                      "description": "A message describing the result of the request",
                      "enum": []
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Merchant Purge"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$class": "App\\Data\\Api\\N1\\Merchant\\PurgeMerchantRequestBody",
                "type": "object",
                "description": null,
                "properties": {
                  "payments": {
                    "type": "boolean",
                    "nullable": true,
                    "example": true,
                    "description": "Delete all merchant payments"
                  },
                  "customers": {
                    "type": "boolean",
                    "nullable": true,
                    "example": true,
                    "description": "Delete all merchant customers"
                  },
                  "sessions": {
                    "type": "boolean",
                    "nullable": true,
                    "example": true,
                    "description": "Delete all merchant sessions"
                  },
                  "tokens": {
                    "type": "boolean",
                    "nullable": true,
                    "example": true,
                    "description": "Delete all merchant tokens"
                  }
                }
              },
              "examples": {
                "example": {
                  "summary": "Example",
                  "value": {
                    "payments": true,
                    "customers": true,
                    "sessions": true,
                    "tokens": true
                  }
                },
                "paymentsOnly": {
                  "summary": "Payments Only",
                  "value": {
                    "payments": true,
                    "customers": false,
                    "sessions": false,
                    "tokens": false
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/order/{orderId}": {
      "get": {
        "summary": "Get Order",
        "operationId": "getOrderByMerchant",
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving an order",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "description": "Test order",
                    "amount": 80.46,
                    "currency": "USD"
                  },
                  "properties": {
                    "description": {
                      "type": "string",
                      "example": "Test order"
                    },
                    "amount": {
                      "type": "number",
                      "example": 80.46
                    },
                    "currency": {
                      "type": "string",
[...]
