{
  "openapi": "3.1.0",
  "info": {
    "title": "Merchant API",
    "version": "1.75.0",
    "description": "The Prahsys Merchant API provides a comprehensive suite of endpoints for managing merchants, processing payments, and accessing transaction data. This RESTful API supports multi-tenant architecture with organization-based access control and separate Live/Sandbox environments for testing.",
    "contact": {
      "name": "Prahsys API Support",
      "email": "support@prahsys.com",
      "url": "https://docs.prahsys.com"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://docs.prahsys.com/page/toc#/"
    },
    "termsOfService": "https://docs.prahsys.com/page/toc#/"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/merchant",
      "description": "Production Server - Live environment for production transactions"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/n1/channel-partner/{channelPartnerId}": {
      "get": {
        "tags": [
          "Channel Partner"
        ],
        "operationId": "getChannelPartner",
        "summary": "Get Channel Partner",
        "description": "Get an existing channel partner from Prahsys",
        "parameters": [
          {
            "in": "path",
            "name": "channelPartnerId",
            "description": "The channel partner id",
            "schema": {
              "type": "string",
              "description": "The channel partner id",
              "example": "Z70B874W63DW"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "includeMerchantIds",
            "description": "Option to include list of merchant ids or not",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ],
              "description": "Option to include list of merchant ids or not"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/N1_Channel_Partner"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "title": "Get Channel Partner Response",
                  "description": "JSON response for getting a channel partner",
                  "example": {
                    "success": true,
                    "message": "Channel partner retrieved successfully",
                    "data": {
                      "id": "org_1234567890",
                      "name": "Acme Channel Partner",
                      "slug": "acme-channel-partner",
                      "website": "https://www.prahsy.com",
                      "productSold": "Software Services",
                      "category": "MOTO",
                      "revenueSharing": true,
                      "visaMastercardCpRate": 2.5,
                      "visaMastercardCpFee": 0.1,
                      "discoverCpRate": 2.75,
                      "discoverCpFee": 0.15,
                      "amexCpRate": 3,
                      "amexCpFee": 0.2,
                      "visaMastercardCnpRate": 2.6,
                      "visaMastercardCnpFee": 0.12,
                      "discoverCnpRate": 2.8,
                      "discoverCnpFee": 0.18,
                      "amexCnpRate": 3.1,
                      "amexCnpFee": 0.18,
                      "chargebackFee": 25,
                      "pciNonComplianceFee": 19.95,
                      "achRate": 1,
                      "achTransactionFee": 0.49,
                      "achReturnFee": 5,
                      "achMonthlyFee": 15,
                      "batchFee": 15,
                      "equipmentFee": 15,
                      "cardPresentPercentage": 60,
                      "cardNotPresentPercentage": 40,
                      "logo": "https://prahsys.com/_next/image?url=%2FPrahsys%20Blue.png&w=128&q=75",
                      "primaryContactEmail": "contact@prahsys.com",
                      "primaryContactPhone": "+1234567890",
                      "primaryContactFirstName": "John",
                      "primaryContactLastName": "Doe",
                      "type": "CHANNEL_PARTNER",
                      "createdAt": "2026-03-02T23:22:14.249Z"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponseBody"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponseBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerExceptionResponseBody"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Channel Partner"
        ],
        "operationId": "updateChannelPartner",
        "summary": "Update Channel Partner",
        "description": "Upade an existing channel partner from Prahsys",
        "parameters": [
          {
            "in": "path",
            "name": "channelPartnerId",
            "description": "The channel partner id",
            "schema": {
              "type": "string",
              "description": "The channel partner id",
              "example": "Z70B874W63DW"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "website": {
                    "type": "string",
                    "format": "uri",
                    "description": "Website of the channel partner."
                  },
                  "primaryContactId": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Id of the channel partner's primary conatct."
                  }
                }
              },
              "examples": {
                "UpdateRequest": {
                  "summary": "Update Request Example",
                  "value": {
                    "website": "https://newwebsite.com",
                    "primaryContactId": "EXAMPLEUSERID"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/N1_Channel_Partner"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "title": "Update Channel Partner Response",
                  "description": "JSON response for updating a channel partner",
                  "example": {
                    "success": true,
                    "message": "Channel partner updated successfully",
                    "data": {
                      "id": "org_1234567890",
                      "name": "Acme Channel Partner",
                      "slug": "acme-channel-partner",
                      "website": "https://www.prahsy.com",
                      "productSold": "Software Services",
                      "category": "MOTO",
                      "revenueSharing": true,
                      "visaMastercardCpRate": 2.5,
                      "visaMastercardCpFee": 0.1,
                      "discoverCpRate": 2.75,
                      "discoverCpFee": 0.15,
                      "amexCpRate": 3,
                      "amexCpFee": 0.2,
                      "visaMastercardCnpRate": 2.6,
                      "visaMastercardCnpFee": 0.12,
                      "discoverCnpRate": 2.8,
                      "discoverCnpFee": 0.18,
                      "amexCnpRate": 3.1,
                      "amexCnpFee": 0.18,
                      "chargebackFee": 25,
                      "pciNonComplianceFee": 19.95,
                      "achRate": 1,
                      "achTransactionFee": 0.49,
                      "achReturnFee": 5,
                      "achMonthlyFee": 15,
                      "batchFee": 15,
                      "equipmentFee": 15,
                      "cardPresentPercentage": 60,
                      "cardNotPresentPercentage": 40,
                      "logo": "https://prahsys.com/_next/image?url=%2FPrahsys%20Blue.png&w=128&q=75",
                      "primaryContactEmail": "contact@prahsys.com",
                      "primaryContactPhone": "+1234567890",
                      "primaryContactFirstName": "John",
                      "primaryContactLastName": "Doe",
                      "type": "CHANNEL_PARTNER",
                      "createdAt": "2026-03-02T23:22:14.249Z"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponseBody"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponseBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerExceptionResponseBody"
                }
              }
            }
          }
        }
      }
    },
    "/n1/customer": {
      "get": {
        "tags": [
          "Customer"
        ],
        "operationId": "searchCustomer",
        "summary": "Search Customer",
        "description": "Search for a customer by email address",
        "parameters": [
          {
            "in": "query",
            "name": "email",
            "description": "Email address to search for",
            "schema": {
              "type": "string",
              "format": "email",
              "description": "Email address to search for",
              "example": "john.doe@example.com"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/N1_Customer"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "title": "Search Customer Response",
                  "description": "JSON response for searching a customer. Returns null if customer not found.",
                  "example": {
                    "success": true,
                    "message": "Customer found",
                    "data": {
                      "id": "c5143cce-7c8d-4965-b6e6-def56385a4e4",
                      "firstName": "John",
                      "lastName": "Doe",
                      "email": "j.doe@email.com",
                      "phone": "+12148787878",
                      "dob": "1996-05-05T00:00:00.000Z",
                      "createdAt": "2023-01-01T00:00:00.000Z",
                      "updatedAt": "2023-01-01T00:00:00.000Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponseBody"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableContenctBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerExceptionResponseBody"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Customer"
        ],
        "operationId": "newCustomer",
        "summary": "New Customer",
        "description": "Create a new customer for payment processing",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "firstName": {
                    "type": "string",
                    "description": "First name of the customer."
                  },
                  "lastName": {
                    "type": "string",
                    "description": "Last name of the customer."
                  },
                  "phone": {
                    "type": "string",
                    "pattern": "^\\+(?:[0-9]){6,14}[0-9]$",
                    "description": "Phone number of the customer."
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Email of the customer"
                  },
                  "dob": {
                    "type": "string",
                    "format": "date",
                    "description": "Date of birth of the customer in format of YYYY-MM-DD"
                  }
                },
                "required": [
                  "email"
                ]
              },
              "examples": {
                "CreateRequest": {
                  "summary": "Create Request Example",
                  "value": {
                    "firstName": "customer",
                    "lastName": "customerLastName",
                    "phone": "+16054321111",
                    "email": "newemail@gmail.com",
                    "dob": "1999-08-25"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/N1_Customer"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "title": "Create Customer Response",
                  "description": "JSON response for creating a new customer",
                  "example": {
                    "success": true,
                    "message": "Customer created successfully",
                    "data": {
                      "id": "c5143cce-7c8d-4965-b6e6-def56385a4e4",
                      "firstName": "John",
                      "lastName": "Doe",
                      "email": "j.doe@email.com",
                      "phone": "+12148787878",
                      "dob": "1996-05-05T00:00:00.000Z",
                      "createdAt": "2023-01-01T00:00:00.000Z",
                      "updatedAt": "2023-01-01T00:00:00.000Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponseBody"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableContenctBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerExceptionResponseBody"
                }
              }
            }
          }
        }
      }
    },
    "/n1/customer/{customerId}": {
      "get": {
        "tags": [
          "Customer"
        ],
        "operationId": "getCustomer",
        "summary": "Get Customer",
        "description": "Get an existing customer from Prahsys",
        "parameters": [
          {
            "in": "path",
            "name": "customerId",
            "description": "The customer id",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "The customer id",
              "example": "c5143cce-7c8d-4965-b6e6-def56385a4e4"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/N1_Customer"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "title": "Get Customer Response",
                  "description": "JSON response for retrieving a customer",
                  "example": {
                    "success": true,
                    "message": "Customer Retrieved successfully",
                    "data": {
                      "id": "c5143cce-7c8d-4965-b6e6-def56385a4e4",
                      "firstName": "John",
                      "lastName": "Doe",
                      "email": "j.doe@email.com",
                      "phone": "+12148787878",
                      "dob": "1996-05-05T00:00:00.000Z",
                      "createdAt": "2023-01-01T00:00:00.000Z",
                      "updatedAt": "2023-01-01T00:00:00.000Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponseBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerExceptionResponseBody"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Customer"
        ],
        "operationId": "updateCustomer",
        "summary": "Update Customer",
        "description": "Update an existing customer for payment processing",
        "parameters": [
          {
            "in": "path",
            "name": "customerId",
            "description": "The customer id",
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "The customer id",
              "example": "c5143cce-7c8d-4965-b6e6-def56385a4e4"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "firstName": {
                    "type": "string",
                    "description": "First name of the customer."
                  },
                  "lastName": {
                    "type": "string",
                    "description": "Last name of the customer."
                  },
                  "phone": {
                    "type": "string",
                    "pattern": "^\\+(?:[0-9]){6,14}[0-9]$",
                    "description": "Phone number of the customer."
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Email of the customer"
                  },
                  "dob": {
                    "type": "string",
                    "format": "date",
                    "description": "Date of birth of the customer in format of YYYY-MM-DD"
                  }
                }
              },
              "examples": {
                "UpdateRequest": {
                  "summary": "Update Request Example",
                  "value": {
                    "firstName": "updated",
                    "lastName": "customer",
                    "phone": "+16054321111",
                    "email": "updatedemail@gmail.com",
                    "dob": "1999-08-25"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/N1_Customer"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "title": "Update Customer Response",
                  "description": "JSON response for updating a customer",
                  "example": {
                    "success": true,
                    "message": "Customer updated successfully",
                    "data": {
                      "id": "c5143cce-7c8d-4965-b6e6-def56385a4e4",
                      "firstName": "John",
                      "lastName": "Doe",
                      "email": "j.doe@email.com",
                      "phone": "+12148787878",
                      "dob": "1996-05-05T00:00:00.000Z",
                      "createdAt": "2023-01-01T00:00:00.000Z",
                      "updatedAt": "2023-01-01T00:00:00.000Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponseBody"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableContenctBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerExceptionResponseBody"
                }
              }
            }
          }
        }
      }
    },
    "/n1/merchant": {
      "post": {
        "tags": [
          "Merchant"
        ],
        "operationId": "newMerchant",
        "summary": "New Merchant",
        "description": "Create a new merchants for payment processing",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/N1_NewMerchant"
              },
              "examples": {
                "Government": {
                  "summary": "Government Ownership",
                  "value": {
                    "legal": {
                      "name": "Prahsys Government",
                      "dba": "Prahsys Government",
                      "locationName": "Main Location",
                      "taxId": "666989898",
                      "address": {
                        "street1": "500 S Main Street",
                        "city": "Spokane",
                        "state": "WA",
                        "zipCode": "99206"
                      },
                      "mailingAddressSameAsBusinessAddress": true,
                      "ownershipType": "GOVERNMENT",
                      "category": "RETAIL",
                      "productsSold": "Test Products",
                      "phone": "+12234567890",
                      "email": "government@example.com",
                      "dateOfIncorporation": "2020-01-01T00:00:00.000Z",
                      "website": "https://test.com",
                      "averageTicketPrice": 100,
                      "highTicketPrice": 500,
                      "averageMonthlyVolume": 10000,
                      "b2bTransactionPercentage": 60,
                      "b2cTransactionPercentage": 40,
                      "cardPresentPercentage": 60,
                      "cardNotPresentPercentage": 40
                    },
                    "primaryContact": {
                      "title": "President",
                      "firstName": "John",
                      "lastName": "Doe",
                      "phone": "+12234567890",
                      "email": "johndoe@government.com"
                    },
                    "pciContact": {
                      "firstName": "Jane",
                      "lastName": "Earlang",
                      "phone": "+14172333212",
                      "email": "janeearlang@government.com"
                    },
                    "bankAccount": {
                      "name": "Chase",
                      "routingNumber": "111000614",
                      "confirmRoutingNumber": "111000614",
                      "accountNumber": "987654321",
                      "confirmAccountNumber": "987654321"
                    }
                  }
                },
                "JointStock": {
                  "summary": "Joint Stock Ownership",
                  "value": {
                    "legal": {
                      "name": "Prahsys Joint Stock",
                      "dba": "Prahsys Joint Stock",
                      "locationName": "Main Location",
                      "taxId": "666989898",
                      "address": {
                        "street1": "500 S Main Street",
                        "city": "Spokane",
                        "state": "WA",
                        "zipCode": "99206"
                      },
                      "mailingAddressSameAsBusinessAddress": true,
                      "ownershipType": "JOINT STOCK",
                      "category": "RETAIL",
                      "productsSold": "Test Products",
                      "phone": "+12234567890",
                      "email": "jointstock@example.com",
                      "dateOfIncorporation": "2020-01-01T00:00:00.000Z",
                      "website": "https://test.com",
                      "averageTicketPrice": 100,
                      "highTicketPrice": 500,
                      "averageMonthlyVolume": 10000,
                      "b2bTransactionPercentage": 60,
                      "b2cTransactionPercentage": 40,
                      "cardPresentPercentage": 60,
                      "cardNotPresentPercentage": 40
                    },
                    "owners": [
                      {
                        "title": "CEO",
                        "firstName": "John",
                        "lastName": "Doe",
                        "percentage": 40,
                        "ssn": "666989898",
                        "dob": "1990-05-05T00:00:00.000Z",
                        "address": {
                          "street1": "500 S Main Street",
                          "city": "Spokane",
                          "state": "WA",
                          "zipCode": "99206"
                        },
                        "phone": "+12234567890",
                        "email": "johndoe@jointstock.com",
                        "isControllingProng": true,
                        "isPrimaryContact": true
                      },
                      {
                        "title": "President",
                        "firstName": "Jane",
                        "lastName": "Zig",
                        "percentage": 60,
                        "ssn": "666989898",
                        "dob": "1990-05-05T00:00:00.000Z",
                        "address": {
                          "street1": "500 S Main Street",
                          "city": "Spokane",
                          "state": "WA",
                          "zipCode": "99206"
                        },
                        "phone": "+14174567890",
                        "email": "janezig@jointstock.com",
                        "isPciContact": true
                      }
                    ],
                    "bankAccount": {
                      "name": "Chase",
                      "routingNumber": "111000614",
                      "confirmRoutingNumber": "111000614",
                      "accountNumber": "987654321",
                      "confirmAccountNumber": "987654321"
                    }
                  }
                },
                "Limited": {
                  "summary": "Limited Ownership",
                  "value": {
                    "legal": {
                      "name": "Prahsys Limited",
                      "dba": "Prahsys Limited",
                      "locationName": "Main Location",
                      "taxId": "666989898",
                      "address": {
                        "street1": "500 S Main Street",
                        "city": "Spokane",
                        "state": "WA",
                        "zipCode": "99206"
                      },
                      "mailingAddressSameAsBusinessAddress": true,
                      "ownershipType": "LIMITED",
                      "category": "RETAIL",
                      "productsSold": "Test Products",
                      "phone": "+12234567890",
                      "email": "limited@example.com",
                      "dateOfIncorporation": "2020-01-01T00:00:00.000Z",
                      "website": "https://test.com",
                      "averageTicketPrice": 100,
                      "highTicketPrice": 500,
                      "averageMonthlyVolume": 10000,
                      "b2bTransactionPercentage": 60,
                      "b2cTransactionPercentage": 40,
                      "cardPresentPercentage": 60,
                      "cardNotPresentPercentage": 40
                    },
                    "owners": [
                      {
                        "title": "CEO",
                        "firstName": "John",
                        "lastName": "Doe",
                        "percentage": 50,
                        "ssn": "666989898",
                        "dob": "1990-05-05T00:00:00.000Z",
                        "address": {
                          "street1": "500 S Main Street",
                          "city": "Spokane",
                          "state": "WA",
                          "zipCode": "99206"
                        },
                        "phone": "+12234567890",
                        "email": "johndoe@limited.com",
                        "isControllingProng": true,
                        "isPrimaryContact": true
                      },
                      {
                        "title": "President",
                        "firstName": "Jane",
                        "lastName": "Golang",
                        "percentage": 50,
                        "ssn": "441989898",
                        "dob": "1990-05-05T00:00:00.000Z",
                        "address": {
                          "street1": "500 S Main Street",
                          "city": "Spokane",
                          "state": "WA",
                          "zipCode": "99206"
                        },
                        "phone": "+14174567890",
                        "email": "janegolang@limited.com",
                        "isPciContact": true
                      }
                    ],
                    "bankAccount": {
                      "name": "Chase",
                      "routingNumber": "111000614",
                      "confirmRoutingNumber": "111000614",
                      "accountNumber": "987654321",
                      "confirmAccountNumber": "987654321"
                    }
                  }
                },
                "NonProfitOrg": {
                  "summary": "Non Profit Org Ownership",
                  "value": {
                    "legal": {
                      "name": "Prahsys Non Profit",
                      "dba": "Prahsys Non Profit",
                      "locationName": "Main Location",
                      "taxId": "666989898",
                      "address": {
                        "street1": "500 S Main Street",
                        "city": "Spokane",
                        "state": "WA",
                        "zipCode": "99206"
                      },
                      "mailingAddressSameAsBusinessAddress": true,
                      "ownershipType": "NON PROFIT ORG",
                      "category": "RETAIL",
                      "productsSold": "Test Products",
                      "phone": "+12234567890",
                      "email": "nonprofitorg@example.com",
                      "dateOfIncorporation": "2020-01-01T00:00:00.000Z",
                      "website": "https://test.com",
                      "averageTicketPrice": 100,
                      "highTicketPrice": 500,
                      "averageMonthlyVolume": 10000,
                      "b2bTransactionPercentage": 60,
                      "b2cTransactionPercentage": 40,
                      "cardPresentPercentage": 60,
                      "cardNotPresentPercentage": 40
                    },
                    "controlProng": {
                      "title": "President",
                      "firstName": "John",
                      "lastName": "Doe",
                      "ssn": "666989898",
                      "dob": "1990-05-05T00:00:00.000Z",
                      "address": {
                        "street1": "500 S Main Street",
                        "city": "Spokane",
                        "state": "WA",
                        "zipCode": "99206"
                      },
                      "phone": "+12234567890",
                      "email": "johndoe@nonprofitorg.com"
                    },
                    "primaryContact": {
                      "title": "President",
                      "firstName": "John",
                      "lastName": "Doe",
                      "phone": "+12234567890",
                      "email": "johndoe@nonprofitorg.com"
                    },
                    "pciContact": {
                      "firstName": "Jane",
                      "lastName": "Earlang",
                      "phone": "+14172333212",
                      "email": "janeearlang@nonprofitorg.com"
                    },
                    "bankAccount": {
                      "name": "Chase",
                      "routingNumber": "111000614",
                      "confirmRoutingNumber": "111000614",
                      "accountNumber": "987654321",
                      "confirmAccountNumber": "987654321"
                    }
                  }
                },
                "Partnership": {
                  "summary": "Partnership Ownership",
                  "value": {
                    "legal": {
                      "name": "Prahsys Partnership",
                      "dba": "Prahsys Partnership",
                      "locationName": "Main Location",
                      "taxId": "666989898",
                      "address": {
                        "street1": "500 S Main Street",
                        "city": "Spokane",
                        "state": "WA",
                        "zipCode": "99206"
                      },
                      "mailingAddressSameAsBusinessAddress": true,
                      "ownershipType": "PARTNERSHIP",
                      "category": "RETAIL",
                      "productsSold": "Test Products",
                      "phone": "+12234567890",
                      "email": "partnership@example.com",
                      "dateOfIncorporation": "2020-01-01T00:00:00.000Z",
                      "website": "https://test.com",
                      "averageTicketPrice": 100,
                      "highTicketPrice": 500,
                      "averageMonthlyVolume": 10000,
                      "b2bTransactionPercentage": 60,
                      "b2cTransactionPercentage": 40,
                      "cardPresentPercentage": 60,
                      "cardNotPresentPercentage": 40
                    },
                    "owners": [
                      {
                        "title": "CEO",
                        "firstName": "John",
                        "lastName": "Doe",
                        "percentage": 100,
                        "ssn": "666989898",
                        "dob": "1990-05-05T00:00:00.000Z",
                        "address": {
                          "street1": "500 S Main Street",
                          "city": "Spokane",
                          "state": "WA",
                          "zipCode": "99206"
                        },
                        "phone": "+12234567890",
                        "email": "johndoe@partnership.com",
                        "isControllingProng": true,
                        "isPciContact": true
                      },
                      {
                        "title": "President",
                        "firstName": "Jane",
                        "lastName": "Rust",
                        "percentage": 100,
                        "ssn": "441989898",
                        "dob": "1990-05-05T00:00:00.000Z",
                        "address": {
                          "street1": "500 S Main Street",
                          "city": "Spokane",
                          "state": "WA",
                          "zipCode": "99206"
                        },
                        "phone": "+14174567890",
                        "email": "janerust@partnership.com",
                        "isPrimaryContact": true
                      }
                    ],
                    "bankAccount": {
                      "name": "Chase",
                      "routingNumber": "111000614",
                      "confirmRoutingNumber": "111000614",
                      "accountNumber": "987654321",
                      "confirmAccountNumber": "987654321"
                    }
                  }
                },
                "Corporation": {
                  "summary": "Corporation Ownership",
                  "value": {
                    "legal": {
                      "name": "Prahsys Corporation",
                      "dba": "Prahsys Corporation",
                      "locationName": "Main Location",
                      "taxId": "666989898",
                      "address": {
                        "street1": "500 S Main Street",
                        "city": "Spokane",
                        "state": "WA",
                        "zipCode": "99206"
                      },
                      "mailingAddressSameAsBusinessAddress": true,
                      "ownershipType": "CORPORATION",
                      "category": "RETAIL",
                      "productsSold": "Test Products",
                      "phone": "+12234567890",
                      "email": "corporation@example.com",
                      "dateOfIncorporation": "2020-01-01T00:00:00.000Z",
                      "website": "https://test.com",
                      "averageTicketPrice": 100,
                      "highTicketPrice": 500,
                      "averageMonthlyVolume": 10000,
                      "b2bTransactionPercentage": 60,
                      "b2cTransactionPercentage": 40,
                      "cardPresentPercentage": 60,
                      "cardNotPresentPercentage": 40
                    },
                    "owners": [
                      {
                        "title": "CEO",
                        "firstName": "John",
                        "lastName": "Doe",
                        "percentage": 100,
                        "ssn": "666989898",
                        "dob": "1990-05-05T00:00:00.000Z",
                        "address": {
                          "street1": "500 S Main Street",
                          "city": "Spokane",
                          "state": "WA",
                          "zipCode": "99206"
                        },
                        "phone": "+12234567890",
                        "email": "johndoe@corporation.com",
                        "isControllingProng": true
                      },
                      {
                        "title": "President",
                        "firstName": "Jane",
                        "lastName": "Rust",
                        "percentage": 100,
                        "ssn": "441989898",
                        "dob": "1990-05-05T00:00:00.000Z",
                        "address": {
                          "street1": "500 S Main Street",
                          "city": "Spokane",
                          "state": "WA",
                          "zipCode": "99206"
                        },
                        "phone": "+14174567890",
                        "email": "janerust@corporation.com"
                      }
                    ],
                    "primaryContact": {
                      "title": "CFO",
                      "firstName": "Mark",
                      "lastName": "Buffalo",
                      "phone": "+14173298932",
                      "email": "markbuffalo@corporation.com"
                    },
                    "pciContact": {
                      "firstName": "Smith",
                      "lastName": "Johnathan",
                      "phone": "+16072333212",
                      "email": "smithjohnathan@corporation.com"
                    },
                    "bankAccount": {
                      "name": "Chase",
                      "routingNumber": "111000614",
                      "confirmRoutingNumber": "111000614",
                      "accountNumber": "987654321",
                      "confirmAccountNumber": "987654321"
                    }
                  }
                },
                "PublicCompany": {
                  "summary": "Public Company Ownership",
                  "value": {
                    "legal": {
                      "name": "Prahsys Public Company",
                      "dba": "Prahsys Public Company",
                      "locationName": "Main Location",
                      "taxId": "666989898",
                      "address": {
                        "street1": "500 S Main Street",
                        "city": "Spokane",
                        "state": "WA",
                        "zipCode": "99206"
                      },
                      "mailingAddressSameAsBusinessAddress": true,
                      "ownershipType": "PUBLIC COMPANY",
                      "category": "RETAIL",
                      "productsSold": "Test Products",
                      "phone": "+12234567890",
                      "email": "publiccompany@example.com",
                      "dateOfIncorporation": "2020-01-01T00:00:00.000Z",
                      "website": "https://test.com",
                      "averageTicketPrice": 100,
                      "highTicketPrice": 500,
                      "averageMonthlyVolume": 10000,
                      "b2bTransactionPercentage": 60,
                      "b2cTransactionPercentage": 40,
                      "cardPresentPercentage": 60,
                      "cardNotPresentPercentage": 40
                    },
                    "primaryContact": {
                      "title": "President",
                      "firstName": "John",
                      "lastName": "Doe",
                      "phone": "+12234567890",
                      "email": "johndoe@publiccompany.com"
                    },
                    "pciContact": {
                      "firstName": "Jane",
                      "lastName": "Earlang",
                      "phone": "+14172333212",
                      "email": "janeearlang@publiccompany.com"
                    },
                    "bankAccount": {
                      "name": "Chase",
                      "routingNumber": "111000614",
                      "confirmRoutingNumber": "111000614",
                      "accountNumber": "987654321",
                      "confirmAccountNumber": "987654321"
                    }
                  }
                },
                "SoleProprietor": {
                  "summary": "Sole Proprietor Ownership",
                  "value": {
                    "legal": {
                      "name": "John Doe",
                      "dba": "John Doe SP",
                      "locationName": "Main Location",
                      "taxId": "666989898",
                      "address": {
                        "street1": "500 S Main Street",
                        "city": "Spokane",
                        "state": "WA",
                        "zipCode": "99206"
                      },
                      "mailingAddressSameAsBusinessAddress": true,
                      "ownershipType": "SOLE PROPRIETOR",
                      "category": "RETAIL",
                      "productsSold": "Test Products",
                      "phone": "+12234567890",
                      "email": "soleproprietor@example.com",
                      "dateOfIncorporation": "2020-01-01T00:00:00.000Z",
                      "website": "https://test.com",
                      "averageTicketPrice": 100,
                      "highTicketPrice": 500,
                      "averageMonthlyVolume": 10000,
                      "b2bTransactionPercentage": 60,
                      "b2cTransactionPercentage": 40,
                      "cardPresentPercentage": 60,
                      "cardNotPresentPercentage": 40
                    },
                    "owners": [
                      {
                        "title": "CEO",
                        "firstName": "John",
                        "lastName": "Doe",
                        "percentage": 100,
                        "ssn": "666989898",
                        "dob": "1990-05-05T00:00:00.000Z",
                        "address": {
                          "street1": "500 S Main Street",
                          "city": "Spokane",
                          "state": "WA",
                          "zipCode": "99206"
                        },
                        "phone": "+12234567890",
                        "email": "johndoe@soleproprietor.com",
                        "isPrimaryContact": true,
                        "isControllingProng": true,
                        "isPciContact": true
                      }
                    ],
                    "bankAccount": {
                      "name": "Chase",
                      "routingNumber": "111000614",
                      "confirmRoutingNumber": "111000614",
                      "accountNumber": "987654321",
                      "confirmAccountNumber": "987654321"
                    }
                  }
                },
                "NoOwnerAsPrimaryOrPciOrControlling": {
                  "summary": "No Owner as Primary, PCI, or Controlling Prong",
                  "description": "An example where none of the owners are marked as primary contact, PCI contact, or controlling prong so you will have to provide those keys manually.",
                  "value": {
                    "legal": {
                      "name": "Prahsys Corporation",
                      "dba": "Prahsys Corporation",
                      "locationName": "Main Location",
                      "taxId": "666989898",
                      "address": {
                        "street1": "500 S Main Street",
                        "city": "Spokane",
                        "state": "WA",
                        "zipCode": "99206"
                      },
                      "mailingAddressSameAsBusinessAddress": true,
                      "ownershipType": "CORPORATION",
                      "category": "RETAIL",
                      "productsSold": "Test Products",
                      "phone": "+12234567890",
                      "email": "corporation@example.com",
                      "dateOfIncorporation": "2020-01-01T00:00:00.000Z",
                      "website": "https://test.com",
                      "averageTicketPrice": 100,
                      "highTicketPrice": 500,
                      "averageMonthlyVolume": 10000,
                      "b2bTransactionPercentage": 60,
                      "b2cTransactionPercentage": 40,
                      "cardPresentPercentage": 60,
                      "cardNotPresentPercentage": 40
                    },
                    "owners": [
                      {
                        "title": "CEO",
                        "firstName": "John",
                        "lastName": "Doe",
                        "percentage": 100,
                        "ssn": "666989898",
                        "dob": "1990-05-05T00:00:00.000Z",
                        "address": {
                          "street1": "500 S Main Street",
                          "city": "Spokane",
                          "state": "WA",
                          "zipCode": "99206"
                        },
                        "phone": "+12234567890",
                        "email": "johndoe@corporation.com"
                      },
                      {
                        "title": "President",
                        "firstName": "Jane",
                        "lastName": "Rust",
                        "percentage": 100,
                        "ssn": "441989898",
                        "dob": "1990-05-05T00:00:00.000Z",
                        "address": {
                          "street1": "500 S Main Street",
                          "city": "Spokane",
                          "state": "WA",
                          "zipCode": "99206"
                        },
                        "phone": "+14174567890",
                        "email": "janerust@corporation.com"
                      }
                    ],
                    "primaryContact": {
                      "title": "CFO",
                      "firstName": "Mark",
                      "lastName": "Buffalo",
                      "phone": "+14173298932",
                      "email": "markbuffalo@corporation.com"
                    },
                    "pciContact": {
                      "firstName": "Smith",
                      "lastName": "Johnathan",
                      "phone": "+16072333212",
                      "email": "smithjohnathan@corporation.com"
                    },
                    "controlProng": {
                      "title": "President",
                      "firstName": "Jane",
                      "lastName": "Rust",
                      "ssn": "441989898",
                      "dob": "1990-05-05T00:00:00.000Z",
                      "address": {
                        "street1": "500 S Main Street",
                        "city": "Spokane",
                        "state": "WA",
                        "zipCode": "99206"
                      },
                      "phone": "+14174567890",
                      "email": "janerust@corporation.com"
                    },
                    "bankAccount": {
                      "name": "Chase",
                      "routingNumber": "111000614",
                      "confirmRoutingNumber": "111000614",
                      "accountNumber": "987654321",
                      "confirmAccountNumber": "987654321"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/N1_Merchant"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "title": "Create Merchant Response",
                  "description": "JSON response for creating a new merchant",
                  "example": {
                    "success": true,
                    "message": "Merchant created successfully",
                    "data": {
                      "id": "MxExRxCxHxAxNxT",
                      "taxId": "******123",
                      "name": "Merchant Name",
                      "legalName": "Merchant Inc",
                      "website": "https://test.com",
                      "slug": "merchant-name",
                      "applicationId": 123456789,
                      "internalApplicationId": "9381cd3d-5532-4e57-ba14-5292358ff8dc",
                      "readyForProcessing": true,
                      "readyForProcessingAt": "2023-01-01T00:00:00.000Z",
                      "signed": true,
                      "type": "LIVE",
                      "applicationLevel": "LEVEL3",
                      "processorId": 987654321,
                      "merchantIdentifier": "a3e8cd3d-5532-4e57-ba14-5299058ff8dc",
                      "defaultCnpGateway": "MASTERCARD",
                      "monthlyAVT": 20000,
                      "enabledDirectPay": "2023-01-01T00:00:00.000Z",
                      "enabledTokenByPaymentId": "2023-01-08T00:00:00.000Z",
                      "status": "APPLICATION_APPROVED",
                      "statusUpdatedAt": "2023-01-01T00:00:00.000Z",
                      "cardPresentTerminalIds": [
                        "22823427",
                        "73821217"
                      ],
                      "cardNotPresentTerminalIds": [
                        "83942347"
                      ],
                      "terminals": [
                        {
                          "id": "7e81cd3d-5532-4e57-ba14-5299058ff8dc",
                          "title": "Merchant Terminal",
                          "description": "Terminal to be used for business A",
                          "tid": "83942347",
                          "type": "CARD_PRESENT",
                          "createdAt": "2023-01-01T00:00:00.000Z",
                          "updatedAt": "2023-01-01T00:00:00.000Z",
                          "readyForProcessing": true
                        }
                      ],
                      "businessPhone": "+1417567890",
                      "businessAddress": {
                        "street1": "Street Addr",
                        "street2": "E2",
                        "city": "Seattle",
                        "state": "WA",
                        "postalCode": "98102"
                      },
                      "mailingAddress": {
                        "street1": "Street Addr",
                        "street2": "E2",
                        "city": "Seattle",
                        "state": "WA",
                        "postalCode": "98102"
                      },
                      "bankDetail": null,
                      "approvedParameters": null,
                      "primaryContactEmail": "contact@prahsys.com",
                      "primaryContactPhone": "+1234567890",
                      "primaryContactFirstName": "John",
                      "primaryContactLastName": "Doe",
                      "feeProfile": {
                        "discountRate": 0,
                        "transactionFee": 0,
                        "cardNotPresentFee": 0.49,
                        "cardNotPresentRate": 0.029,
                        "debitCardTransactionFee": 0.49,
                        "debitCardTransactionRate": 0.029,
                        "debitAdjustmentFee": 0,
                        "monthlyFee": 0,
                        "visaMastercardRate": 0.029,
                        "visaMastercardFee": 0.49,
                        "discoverFee": 0.49,
                        "discoverRate": 0.029,
                        "amexRate": 0.029,
                        "amexFee": 0.49,
                        "chargebackFee": 45,
                        "gatewayFee": 0,
                        "batchFee": 0,
                        "returnFee": 0,
                        "feeBilling": 1,
                        "amexStatus": 1,
                        "chargePayfacFeeOnRefunds": true,
                        "assessExclusivelyPerItemAmountOnRefunds": true,
                        "interchangeFeeAssessor": 0,
                        "processorFeeAssessor": 0,
                        "assessmentFeeAssessor": 0,
                        "commissionFeeAssessor": 0,
                        "achTransactionFee": 0,
                        "achTransactionRate": 0,
                        "achReturnFee": 0,
                        "terminalEquipmentFee": 15
                      },
                      "signingUrl": "https://dashboard.prahsys.com/example-merchant/application/3fe90921-3de5-40ac-a76f-0fde0caf03a6",
                      "signingUrlExpiresAt": "2023-01-01T00:05:00.000Z",
                      "optInCashDiscountProgram": null,
                      "cashDiscountApproved": null,
                      "cashDiscountDenied": null,
                      "cashDiscountDeniedReason": null,
                      "cashDiscountDisabled": null,
                      "cashDiscountRate": 0.03,
                      "accountClosedDescription": null,
                      "accountClosedJiraTicket": null,
                      "accountClosedDate": null,
                      "accountClosedBy": null,
                      "closedByUserEmail": null,
                      "channelPartnerName": "Prahsys",
                      "channelPartnerSlug": "prahsys",
                      "salesAgent": null,
                      "createdAt": "2023-01-01T00:00:00.000Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponseBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerExceptionResponseBody"
                }
              }
            }
          }
        }
      }
    },
    "/n1/merchant/{merchantId}": {
      "get": {
        "tags": [
          "Merchant"
        ],
        "operationId": "getMerchant",
        "summary": "Get Merchant",
        "description": "Get an existing merchant from Prahsys",
        "parameters": [
          {
            "in": "path",
            "name": "merchantId",
            "description": "The merchant id",
            "schema": {
              "type": "string",
              "description": "The merchant id",
              "example": "Z70B874W63DW"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/N1_Merchant"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "title": "Get Merchant Response",
                  "description": "JSON response for getting a merchant",
                  "example": {
                    "success": true,
                    "message": "Merchant retrieved successfully",
                    "data": {
                      "id": "MxExRxCxHxAxNxT",
                      "taxId": "******123",
                      "name": "Merchant Name",
                      "legalName": "Merchant Inc",
                      "website": "https://test.com",
                      "slug": "merchant-name",
                      "applicationId": 123456789,
                      "internalApplicationId": "9381cd3d-5532-4e57-ba14-5292358ff8dc",
                      "readyForProcessing": true,
                      "readyForProcessingAt": "2023-01-01T00:00:00.000Z",
                      "signed": true,
                      "type": "LIVE",
                      "applicationLevel": "LEVEL3",
                      "processorId": 987654321,
                      "merchantIdentifier": "a3e8cd3d-5532-4e57-ba14-5299058ff8dc",
                      "defaultCnpGateway": "MASTERCARD",
                      "monthlyAVT": 20000,
                      "enabledDirectPay": "2023-01-01T00:00:00.000Z",
                      "enabledTokenByPaymentId": "2023-01-08T00:00:00.000Z",
                      "status": "APPLICATION_APPROVED",
                      "statusUpdatedAt": "2023-01-01T00:00:00.000Z",
                      "cardPresentTerminalIds": [
                        "22823427",
                        "73821217"
                      ],
                      "cardNotPresentTerminalIds": [
                        "83942347"
                      ],
                      "terminals": [
                        {
                          "id": "7e81cd3d-5532-4e57-ba14-5299058ff8dc",
                          "title": "Merchant Terminal",
                          "description": "Terminal to be used for business A",
                          "tid": "83942347",
                          "type": "CARD_PRESENT",
                          "createdAt": "2023-01-01T00:00:00.000Z",
                          "updatedAt": "2023-01-01T00:00:00.000Z",
                          "readyForProcessing": true
                        }
                      ],
                      "businessPhone": "+1417567890",
                      "businessAddress": {
                        "street1": "Street Addr",
                        "street2": "E2",
                        "city": "Seattle",
                        "state": "WA",
                        "postalCode": "98102"
                      },
                      "mailingAddress": {
                        "street1": "Street Addr",
                        "street2": "E2",
                        "city": "Seattle",
                        "state": "WA",
                        "postalCode": "98102"
                      },
                      "bankDetail": {
                        "accountNumber": "******4321",
                        "routingNumber": "026009593"
                      },
                      "approvedParameters": {
                        "monthlyVolume": 10000,
                        "highTicketAmount": 500,
                        "averageTicketAmount": 100,
                        "cardNotPresentPercentage": 80,
                        "cardPresentPercentage": 20
                      },
                      "primaryContactEmail": "contact@prahsys.com",
                      "primaryContactPhone": "+1234567890",
                      "primaryContactFirstName": "John",
                      "primaryContactLastName": "Doe",
                      "feeProfile": {
                        "discountRate": 0,
                        "transactionFee": 0,
                        "cardNotPresentFee": 0.49,
                        "cardNotPresentRate": 0.029,
                        "debitCardTransactionFee": 0.49,
                        "debitCardTransactionRate": 0.029,
                        "debitAdjustmentFee": 0,
                        "monthlyFee": 0,
                        "visaMastercardRate": 0.029,
                        "visaMastercardFee": 0.49,
                        "discoverFee": 0.49,
                        "discoverRate": 0.029,
                        "amexRate": 0.029,
                        "amexFee": 0.49,
                        "chargebackFee": 45,
                        "gatewayFee": 0,
                        "batchFee": 0,
                        "returnFee": 0,
                        "feeBilling": 1,
                        "amexStatus": 1,
                        "chargePayfacFeeOnRefunds": true,
                        "assessExclusivelyPerItemAmountOnRefunds": true,
                        "interchangeFeeAssessor": 0,
                        "processorFeeAssessor": 0,
                        "assessmentFeeAssessor": 0,
                        "commissionFeeAssessor": 0,
                        "achTransactionFee": 0,
                        "achTransactionRate": 0,
                        "achReturnFee": 0,
                        "terminalEquipmentFee": 15
                      },
                      "signingUrl": "https://dashboard.prahsys.com/example-merchant/application/3fe90921-3de5-40ac-a76f-0fde0caf03a6",
                      "signingUrlExpiresAt": "2023-01-01T00:05:00.000Z",
                      "optInCashDiscountProgram": null,
                      "cashDiscountApproved": null,
                      "cashDiscountDenied": null,
                      "cashDiscountDeniedReason": null,
                      "cashDiscountDisabled": null,
                      "cashDiscountRate": 0.03,
                      "accountClosedDescription": null,
                      "accountClosedJiraTicket": null,
                      "accountClosedDate": null,
                      "accountClosedBy": null,
                      "closedByUserEmail": null,
                      "channelPartnerName": "Prahsys",
                      "channelPartnerSlug": "prahsys",
                      "salesAgent": null,
                      "createdAt": "2023-01-01T00:00:00.000Z"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponseBody"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponseBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerExceptionResponseBody"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Merchant"
        ],
        "operationId": "updateMerchant",
        "summary": "Update Merchant",
        "description": "Update an existing merchant from Prahsys",
        "parameters": [
          {
            "in": "path",
            "name": "merchantId",
            "description": "The merchant id",
            "schema": {
              "type": "string",
              "description": "The merchant id",
              "example": "Z70B874W63DW"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "description": "DBA of the merchant"
                  },
                  "industry": {
                    "type": "string"
                  },
                  "businessPhone": {
                    "type": "string",
                    "pattern": "^\\+(?:[0-9]){6,14}[0-9]$"
                  },
                  "website": {
                    "type": "string",
                    "format": "uri",
                    "description": "Website of the merchant"
                  },
                  "primaryContactId": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Id of the merchant's user."
                  },
                  "salesAgentId": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Id of the merchant's sales agent."
                  },
                  "businessAddress": {
                    "type": "object",
                    "properties": {
                      "street1": {
                        "type": "string",
                        "minLength": 1,
                        "description": "Main street address of the merchant"
                      },
                      "street2": {
                        "type": "string",
                        "description": "Additional street address of the merchant"
                      },
                      "city": {
                        "type": "string",
                        "minLength": 1,
                        "description": "City of the merchant"
                      },
                      "state": {
                        "type": "string",
                        "enum": [
                          "AL",
                          "AK",
                          "AS",
                          "AZ",
                          "AR",
                          "CA",
                          "CO",
                          "CT",
                          "DE",
                          "DC",
                          "FM",
                          "FL",
                          "GA",
                          "GU",
                          "HI",
                          "ID",
                          "IL",
                          "IN",
                          "IA",
                          "KS",
                          "KY",
                          "LA",
                          "ME",
                          "MH",
                          "MD",
                          "MA",
                          "MI",
                          "MN",
                          "MS",
                          "MO",
                          "MT",
                          "NE",
                          "NV",
                          "NH",
                          "NJ",
                          "NM",
                          "NY",
                          "NC",
                          "ND",
                          "MP",
                          "OH",
                          "OK",
                          "OR",
                          "PW",
                          "PA",
                          "PR",
                          "RI",
                          "SC",
                          "SD",
                          "TN",
                          "TX",
                          "UT",
                          "VT",
                          "VI",
                          "VA",
                          "WA",
                          "WV",
                          "WI",
                          "WY"
                        ],
                        "description": "State of the merchant in abbreviated format"
                      },
                      "postalCode": {
                        "type": "string",
                        "pattern": "^\\d{5}$",
                        "description": "Postal code of the merchant"
                      }
                    },
                    "description": "Business address of the merchant."
                  },
                  "mailingAddress": {
                    "type": "object",
                    "properties": {
                      "street1": {
                        "type": "string",
                        "minLength": 1,
                        "description": "Main street address of the merchant"
                      },
                      "street2": {
                        "type": "string",
                        "description": "Additional street address of the merchant"
                      },
                      "city": {
                        "type": "string",
                        "minLength": 1,
                        "description": "City of the merchant"
                      },
                      "state": {
                        "type": "string",
                        "enum": [
                          "AL",
                          "AK",
                          "AS",
                          "AZ",
                          "AR",
                          "CA",
                          "CO",
                          "CT",
                          "DE",
                          "DC",
                          "FM",
                          "FL",
                          "GA",
                          "GU",
                          "HI",
                          "ID",
                          "IL",
                          "IN",
                          "IA",
                          "KS",
                          "KY",
                          "LA",
                          "ME",
                          "MH",
                          "MD",
                          "MA",
                          "MI",
                          "MN",
                          "MS",
                          "MO",
                          "MT",
                          "NE",
                          "NV",
                          "NH",
                          "NJ",
                          "NM",
                          "NY",
                          "NC",
                          "ND",
                          "MP",
                          "OH",
                          "OK",
                          "OR",
                          "PW",
                          "PA",
                          "PR",
                          "RI",
                          "SC",
                          "SD",
                          "TN",
                          "TX",
                          "UT",
                          "VT",
                          "VI",
                          "VA",
                          "WA",
                          "WV",
                          "WI",
                          "WY"
                        ],
                        "description": "State of the merchant in abbreviated format"
                      },
                      "postalCode": {
                        "type": "string",
                        "pattern": "^\\d{5}$",
                        "description": "Postal code of the merchant"
                      }
                    },
                    "description": "Mailing address of the merchant."
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "ONBOARDING_TO_GATEWAY",
                      "WAITLISTED",
                      "APPROVED_SANDBOX",
                      "APPLICATION_PENDING",
                      "APPLICATION_IN_REVIEW",
                      "APPLICATION_INFORMATION_REQUESTED",
                      "APPLICATION_ABANDONED",
                      "APPLICATION_APPROVED",
                      "APPLICATION_DENIED",
                      "APPLICATION_REQUIRES_DOCUMENT_SUBMISSION",
                      "APPLICATION_AWAITING_DIGITAL_SIGNATURE",
                      "ACCOUNT_CLOSED"
                    ],
                    "description": "Status of the merchant (Only for SANDBOX merchant)"
                  },
                  "readyForProcessing": {
                    "type": "boolean",
                    "description": "Ready for processing status of the merchant (Only for SANDBOX merchant)"
                  },
                  "cnpGateway": {
                    "type": "string",
                    "enum": [
                      "MASTERCARD",
                      "SOFTPOINT_CNP"
                    ],
                    "description": "Default CNP gateway for the merchant (Only for Prahsys Admin)"
                  }
                }
              },
              "examples": {
                "UpdateRequest": {
                  "summary": "Update Request Example",
                  "value": {
                    "name": "updated merchant name",
                    "businessPhone": "+19041234321",
                    "mailingAddress": {
                      "street1": "steetAddr Pl"
                    },
                    "cnpGateway": "MASTERCARD"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/N1_Merchant"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "title": "Update Merchant Response",
                  "description": "JSON response for updating a merchant",
                  "example": {
                    "success": true,
                    "message": "Merchant updated successfully",
                    "data": {
                      "id": "MxExRxCxHxAxNxT",
                      "taxId": "******123",
                      "name": "Merchant Name",
                      "legalName": "Merchant Inc",
                      "website": "https://test.com",
                      "slug": "merchant-name",
                      "applicationId": 123456789,
                      "internalApplicationId": "9381cd3d-5532-4e57-ba14-5292358ff8dc",
                      "readyForProcessing": true,
                      "readyForProcessingAt": "2023-01-01T00:00:00.000Z",
                      "signed": true,
                      "type": "LIVE",
                      "applicationLevel": "LEVEL3",
                      "processorId": 987654321,
                      "merchantIdentifier": "a3e8cd3d-5532-4e57-ba14-5299058ff8dc",
                      "defaultCnpGateway": "MASTERCARD",
                      "monthlyAVT": 20000,
                      "enabledDirectPay": "2023-01-01T00:00:00.000Z",
                      "enabledTokenByPaymentId": "2023-01-08T00:00:00.000Z",
                      "status": "APPLICATION_APPROVED",
                      "statusUpdatedAt": "2023-01-01T00:00:00.000Z",
                      "cardPresentTerminalIds": [
                        "22823427",
                        "73821217"
                      ],
                      "cardNotPresentTerminalIds": [
                        "83942347"
                      ],
                      "terminals": [
                        {
                          "id": "7e81cd3d-5532-4e57-ba14-5299058ff8dc",
                          "title": "Merchant Terminal",
                          "description": "Terminal to be used for business A",
                          "tid": "83942347",
                          "type": "CARD_PRESENT",
                          "createdAt": "2023-01-01T00:00:00.000Z",
                          "updatedAt": "2023-01-01T00:00:00.000Z",
                          "readyForProcessing": true
                        }
                      ],
                      "businessPhone": "+1417567890",
                      "businessAddress": {
                        "street1": "Street Addr",
                        "street2": "E2",
                        "city": "Seattle",
                        "state": "WA",
                        "postalCode": "98102"
                      },
                      "mailingAddress": {
                        "street1": "Street Addr",
                        "street2": "E2",
                        "city": "Seattle",
                        "state": "WA",
                        "postalCode": "98102"
                      },
                      "bankDetail": {
                        "accountNumber": "******4321",
                        "routingNumber": "026009593"
                      },
                      "approvedParameters": {
                        "monthlyVolume": 10000,
                        "highTicketAmount": 500,
                        "averageTicketAmount": 100,
                        "cardNotPresentPercentage": 80,
                        "cardPresentPercentage": 20
                      },
                      "primaryContactEmail": "contact@prahsys.com",
                      "primaryContactPhone": "+1234567890",
                      "primaryContactFirstName": "John",
                      "primaryContactLastName": "Doe",
                      "feeProfile": {
                        "discountRate": 0,
                        "transactionFee": 0,
                        "cardNotPresentFee": 0.49,
                        "cardNotPresentRate": 0.029,
                        "debitCardTransactionFee": 0.49,
                        "debitCardTransactionRate": 0.029,
                        "debitAdjustmentFee": 0,
                        "monthlyFee": 0,
                        "visaMastercardRate": 0.029,
                        "visaMastercardFee": 0.49,
                        "discoverFee": 0.49,
                        "discoverRate": 0.029,
                        "amexRate": 0.029,
                        "amexFee": 0.49,
                        "chargebackFee": 45,
                        "gatewayFee": 0,
                        "batchFee": 0,
                        "returnFee": 0,
                        "feeBilling": 1,
                        "amexStatus": 1,
                        "chargePayfacFeeOnRefunds": true,
                        "assessExclusivelyPerItemAmountOnRefunds": true,
                        "interchangeFeeAssessor": 0,
                        "processorFeeAssessor": 0,
                        "assessmentFeeAssessor": 0,
                        "commissionFeeAssessor": 0,
                        "achTransactionFee": 0,
                        "achTransactionRate": 0,
                        "achReturnFee": 0,
                        "terminalEquipmentFee": 15
                      },
                      "signingUrl": "https://dashboard.prahsys.com/example-merchant/application/3fe90921-3de5-40ac-a76f-0fde0caf03a6",
                      "signingUrlExpiresAt": "2023-01-01T00:05:00.000Z",
                      "optInCashDiscountProgram": null,
                      "cashDiscountApproved": null,
                      "cashDiscountDenied": null,
                      "cashDiscountDeniedReason": null,
                      "cashDiscountDisabled": null,
                      "cashDiscountRate": 0.03,
                      "accountClosedDescription": null,
                      "accountClosedJiraTicket": null,
                      "accountClosedDate": null,
                      "accountClosedBy": null,
                      "closedByUserEmail": null,
                      "channelPartnerName": "Prahsys",
                      "channelPartnerSlug": "prahsys",
                      "salesAgent": null,
                      "createdAt": "2023-01-01T00:00:00.000Z"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponseBody"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponseBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerExceptionResponseBody"
                }
              }
            }
          }
        }
      }
    },
    "/n1/merchant/{merchantId}/signing": {
      "post": {
        "tags": [
          "Merchant"
        ],
        "operationId": "generateMerchantApplicationSigningUrl",
        "summary": "Generate Merchant Application Signing Url",
        "description": "Generate Merchant's application signing url to start underwriting",
        "parameters": [
          {
            "in": "path",
            "name": "merchantId",
            "description": "The merchant id",
            "schema": {
              "type": "string",
              "description": "The merchant id",
              "example": "Z70B874W63DW"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "merchantId": {
                          "type": "string"
                        },
                        "signingId": {
                          "type": "string"
                        },
                        "signingUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "expiresAt": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "merchantId",
                        "signingId",
                        "signingUrl",
                        "expiresAt"
                      ],
                      "description": "merchant application signing url response that's valid for 5 mins"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "title": "Generate Merchant Application Signing Url",
                  "description": "JSON response for generating a merchant's application signing url",
                  "example": {
                    "success": true,
                    "message": "Generated signing url for the merchant",
                    "data": {
                      "merchantId": "MxExRxCxHxAxNxT",
                      "signingId": "da131989-a8e0-4f51-8618-d86c10f089a6",
                      "signingUrl": "https://dashboard.prahsys.com/channelpartner-slug/merchants/merchant-slug/application/da131989-a8e0-4f51-8618-d86c10f089a6",
                      "expiresAt": "2024-07-01T00:00:00.000Z"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponseBody"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponseBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerExceptionResponseBody"
                }
              }
            }
          }
        }
      }
    },
    "/n1/merchant/{merchantId}/signing-url": {
      "post": {
        "tags": [
          "Merchant"
        ],
        "operationId": "generateApplicationDocusignUrl",
        "summary": "Generate Application Docusign Url",
        "description": "Generate Merchant's application docusign url to be used for docusign embedding",
        "parameters": [
          {
            "in": "path",
            "name": "merchantId",
            "description": "The merchant id",
            "schema": {
              "type": "string",
              "description": "The merchant id",
              "example": "Z70B874W63DW"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "frameAncestors": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                },
                "required": [
                  "frameAncestors"
                ],
                "description": "required request body to generate docusign url"
              },
              "examples": {
                "GenerateRequest": {
                  "summary": "Generate Request Example",
                  "value": {
                    "frameAncestors": [
                      "https://mysite.com"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "merchantId": {
                          "type": "string"
                        },
                        "signingUrl": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "merchantId",
                        "signingUrl"
                      ],
                      "description": "merchant application docusign url to be used for docusign embedding"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "title": "Generate Merchant Application Docusign Url",
                  "description": "JSON response for generating a merchant's application docusign url",
                  "example": {
                    "success": true,
                    "message": "Generated docusign url for the merchant",
                    "data": {
                      "merchantId": "MxExRxCxHxAxNxT",
                      "signingUrl": "https://na4.docusign.net/Signing/MTRedeem/v1/52d8e5b9-c640-2404-a138-08737b7023dd/na?slt=example"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponseBody"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponseBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerExceptionResponseBody"
                }
              }
            }
          }
        }
      }
    },
    "/n1/merchant/{merchantId}/terminal/{terminalId}": {
      "patch": {
        "tags": [
          "Terminal"
        ],
        "operationId": "updateTerminal",
        "summary": "Update Terminal",
        "description": "Update a terminal for an existing merchant from Prahsys",
        "parameters": [
          {
            "in": "path",
            "name": "merchantId",
            "description": "The merchant id",
            "schema": {
              "type": "string",
              "description": "The merchant id",
              "example": "Z70B874W63DW"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "terminalId",
            "description": "The terminal id of the merchant",
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "The terminal id of the merchant",
              "example": "5cd11925-7962-47cd-a06e-90cd70787bed"
            },
[...]
