{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.57.0"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payout Exports",
      "description": "Create payout exports"
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-19T00:00:00+00:00",
                    "periodEnd": "2026-03-26T00:00:00+00:00",
                    "numPaymentsCreated": 4273,
                    "numPaymentsProcessed": 1871,
                    "numPaymentsIncomplete": 2402,
                    "numPaymentsWithRefunds": 748,
                    "numCardPresentPayments": 1070,
                    "numCardNotPresentPayments": 1332,
                    "totalCapturedAmount": 4139072.31,
                    "totalRefundedAmount": 687508.69,
                    "totalNetCapturedAmount": 3451563.62,
                    "averageNetCapturedAmount": 2367.2557142857,
                    "minNetCapturedAmount": 15.51,
                    "maxNetCapturedAmount": 9636.33,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-19T00:00:00+00:00",
                        "intervalEnd": "2026-03-20T00:00:00+00:00",
                        "numPaymentsCreated": 538,
                        "numPaymentsProcessed": 322,
                        "numPaymentsIncomplete": 216,
                        "numPaymentsWithRefunds": 11,
                        "numCardPresentPayments": 203,
                        "numCardNotPresentPayments": 13,
                        "totalCapturedAmount": 257733.1,
                        "totalRefundedAmount": 4764.14,
                        "totalNetCapturedAmount": 252968.96,
                        "averageNetCapturedAmount": 785.62,
                        "minNetCapturedAmount": 40.03,
                        "maxNetCapturedAmount": 6246.67
                      },
                      {
                        "intervalStart": "2026-03-20T00:00:00+00:00",
                        "intervalEnd": "2026-03-21T00:00:00+00:00",
                        "numPaymentsCreated": 658,
                        "numPaymentsProcessed": 246,
                        "numPaymentsIncomplete": 412,
                        "numPaymentsWithRefunds": 245,
                        "numCardPresentPayments": 56,
                        "numCardNotPresentPayments": 356,
                        "totalCapturedAmount": 387682.2,
                        "totalRefundedAmount": 63523.11,
                        "totalNetCapturedAmount": 324159.09,
                        "averageNetCapturedAmount": 1317.72,
                        "minNetCapturedAmount": 80.89,
                        "maxNetCapturedAmount": 6054.69
                      },
                      {
                        "intervalStart": "2026-03-21T00:00:00+00:00",
                        "intervalEnd": "2026-03-22T00:00:00+00:00",
                        "numPaymentsCreated": 686,
                        "numPaymentsProcessed": 264,
                        "numPaymentsIncomplete": 422,
                        "numPaymentsWithRefunds": 87,
                        "numCardPresentPayments": 121,
                        "numCardNotPresentPayments": 301,
                        "totalCapturedAmount": 880165.54,
                        "totalRefundedAmount": 120705.3,
                        "totalNetCapturedAmount": 759460.24,
                        "averageNetCapturedAmount": 2876.74,
                        "minNetCapturedAmount": 42.44,
                        "maxNetCapturedAmount": 9636.33
                      },
                      {
                        "intervalStart": "2026-03-22T00:00:00+00:00",
                        "intervalEnd": "2026-03-23T00:00:00+00:00",
                        "numPaymentsCreated": 330,
                        "numPaymentsProcessed": 251,
                        "numPaymentsIncomplete": 79,
                        "numPaymentsWithRefunds": 127,
                        "numCardPresentPayments": 169,
                        "numCardNotPresentPayments": -90,
                        "totalCapturedAmount": 282671.86,
                        "totalRefundedAmount": 49389.75,
                        "totalNetCapturedAmount": 233282.11,
                        "averageNetCapturedAmount": 929.41,
                        "minNetCapturedAmount": 15.51,
                        "maxNetCapturedAmount": 5659.29
                      },
                      {
                        "intervalStart": "2026-03-23T00:00:00+00:00",
                        "intervalEnd": "2026-03-24T00:00:00+00:00",
                        "numPaymentsCreated": 819,
                        "numPaymentsProcessed": 114,
                        "numPaymentsIncomplete": 705,
                        "numPaymentsWithRefunds": 44,
                        "numCardPresentPayments": 64,
                        "numCardNotPresentPayments": 641,
                        "totalCapturedAmount": 632664.99,
                        "totalRefundedAmount": 153571.85,
                        "totalNetCapturedAmount": 479093.14,
                        "averageNetCapturedAmount": 4202.57,
                        "minNetCapturedAmount": 56.01,
                        "maxNetCapturedAmount": 6110.57
                      },
                      {
                        "intervalStart": "2026-03-24T00:00:00+00:00",
                        "intervalEnd": "2026-03-25T00:00:00+00:00",
                        "numPaymentsCreated": 552,
                        "numPaymentsProcessed": 147,
                        "numPaymentsIncomplete": 405,
                        "numPaymentsWithRefunds": 31,
                        "numCardPresentPayments": 103,
                        "numCardNotPresentPayments": 302,
                        "totalCapturedAmount": 842201.29,
                        "totalRefundedAmount": 68073.2,
                        "totalNetCapturedAmount": 774128.09,
                        "averageNetCapturedAmount": 5266.18,
                        "minNetCapturedAmount": 81.68,
                        "maxNetCapturedAmount": 3182.65
                      },
                      {
                        "intervalStart": "2026-03-25T00:00:00+00:00",
                        "intervalEnd": "2026-03-26T00:00:00+00:00",
                        "numPaymentsCreated": 690,
                        "numPaymentsProcessed": 527,
                        "numPaymentsIncomplete": 163,
                        "numPaymentsWithRefunds": 203,
                        "numCardPresentPayments": 354,
                        "numCardNotPresentPayments": -191,
                        "totalCapturedAmount": 855953.33,
                        "totalRefundedAmount": 227481.34,
                        "totalNetCapturedAmount": 628471.99,
                        "averageNetCapturedAmount": 1192.55,
                        "minNetCapturedAmount": 15.76,
                        "maxNetCapturedAmount": 3577.56
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-19T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-26T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 4273
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 1871
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 2402
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 748
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 1070
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": 1332
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 4139072.31
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 687508.69
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 3451563.62
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 2367.2557142857
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 15.51
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 9636.33
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-19T00:00:00+00:00",
                          "intervalEnd": "2026-03-20T00:00:00+00:00",
                          "numPaymentsCreated": 538,
                          "numPaymentsProcessed": 322,
                          "numPaymentsIncomplete": 216,
                          "numPaymentsWithRefunds": 11,
                          "numCardPresentPayments": 203,
                          "numCardNotPresentPayments": 13,
                          "totalCapturedAmount": 257733.1,
                          "totalRefundedAmount": 4764.14,
                          "totalNetCapturedAmount": 252968.96,
                          "averageNetCapturedAmount": 785.62,
                          "minNetCapturedAmount": 40.03,
                          "maxNetCapturedAmount": 6246.67
                        },
                        {
                          "intervalStart": "2026-03-20T00:00:00+00:00",
                          "intervalEnd": "2026-03-21T00:00:00+00:00",
                          "numPaymentsCreated": 658,
                          "numPaymentsProcessed": 246,
                          "numPaymentsIncomplete": 412,
                          "numPaymentsWithRefunds": 245,
                          "numCardPresentPayments": 56,
                          "numCardNotPresentPayments": 356,
                          "totalCapturedAmount": 387682.2,
                          "totalRefundedAmount": 63523.11,
                          "totalNetCapturedAmount": 324159.09,
                          "averageNetCapturedAmount": 1317.72,
                          "minNetCapturedAmount": 80.89,
                          "maxNetCapturedAmount": 6054.69
                        },
                        {
                          "intervalStart": "2026-03-21T00:00:00+00:00",
                          "intervalEnd": "2026-03-22T00:00:00+00:00",
                          "numPaymentsCreated": 686,
                          "numPaymentsProcessed": 264,
                          "numPaymentsIncomplete": 422,
                          "numPaymentsWithRefunds": 87,
                          "numCardPresentPayments": 121,
                          "numCardNotPresentPayments": 301,
                          "totalCapturedAmount": 880165.54,
                          "totalRefundedAmount": 120705.3,
                          "totalNetCapturedAmount": 759460.24,
                          "averageNetCapturedAmount": 2876.74,
                          "minNetCapturedAmount": 42.44,
                          "maxNetCapturedAmount": 9636.33
                        },
                        {
                          "intervalStart": "2026-03-22T00:00:00+00:00",
                          "intervalEnd": "2026-03-23T00:00:00+00:00",
                          "numPaymentsCreated": 330,
                          "numPaymentsProcessed": 251,
                          "numPaymentsIncomplete": 79,
                          "numPaymentsWithRefunds": 127,
                          "numCardPresentPayments": 169,
                          "numCardNotPresentPayments": -90,
                          "totalCapturedAmount": 282671.86,
                          "totalRefundedAmount": 49389.75,
                          "totalNetCapturedAmount": 233282.11,
                          "averageNetCapturedAmount": 929.41,
                          "minNetCapturedAmount": 15.51,
                          "maxNetCapturedAmount": 5659.29
                        },
                        {
                          "intervalStart": "2026-03-23T00:00:00+00:00",
                          "intervalEnd": "2026-03-24T00:00:00+00:00",
                          "numPaymentsCreated": 819,
                          "numPaymentsProcessed": 114,
                          "numPaymentsIncomplete": 705,
                          "numPaymentsWithRefunds": 44,
                          "numCardPresentPayments": 64,
                          "numCardNotPresentPayments": 641,
                          "totalCapturedAmount": 632664.99,
                          "totalRefundedAmount": 153571.85,
                          "totalNetCapturedAmount": 479093.14,
                          "averageNetCapturedAmount": 4202.57,
                          "minNetCapturedAmount": 56.01,
                          "maxNetCapturedAmount": 6110.57
                        },
                        {
                          "intervalStart": "2026-03-24T00:00:00+00:00",
                          "intervalEnd": "2026-03-25T00:00:00+00:00",
                          "numPaymentsCreated": 552,
                          "numPaymentsProcessed": 147,
                          "numPaymentsIncomplete": 405,
                          "numPaymentsWithRefunds": 31,
                          "numCardPresentPayments": 103,
                          "numCardNotPresentPayments": 302,
                          "totalCapturedAmount": 842201.29,
                          "totalRefundedAmount": 68073.2,
                          "totalNetCapturedAmount": 774128.09,
                          "averageNetCapturedAmount": 5266.18,
                          "minNetCapturedAmount": 81.68,
                          "maxNetCapturedAmount": 3182.65
                        },
                        {
                          "intervalStart": "2026-03-25T00:00:00+00:00",
                          "intervalEnd": "2026-03-26T00:00:00+00:00",
                          "numPaymentsCreated": 690,
                          "numPaymentsProcessed": 527,
                          "numPaymentsIncomplete": 163,
                          "numPaymentsWithRefunds": 203,
                          "numCardPresentPayments": 354,
                          "numCardNotPresentPayments": -191,
                          "totalCapturedAmount": 855953.33,
                          "totalRefundedAmount": 227481.34,
                          "totalNetCapturedAmount": 628471.99,
                          "averageNetCapturedAmount": 1192.55,
                          "minNetCapturedAmount": 15.76,
                          "maxNetCapturedAmount": 3577.56
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-19T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-20T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 538
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 322
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 216
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 11
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 203
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": 13
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 257733.1
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 4764.14
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 252968.96
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 785.62
                          },
                          "minNetCapturedAmount": {
                            "type": "number",
                            "example": 40.03
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 6246.67
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-19T00:00:00+00:00",
                    "periodEnd": "2026-03-26T00:00:00+00:00",
                    "activeCustomers": 168,
                    "newCustomers": 205,
                    "returningCustomers": -37,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-19T00:00:00+00:00",
                        "intervalEnd": "2026-03-20T00:00:00+00:00",
                        "activeCustomers": 67,
                        "newCustomers": 42,
                        "returningCustomers": 25
                      },
                      {
                        "intervalStart": "2026-03-20T00:00:00+00:00",
                        "intervalEnd": "2026-03-21T00:00:00+00:00",
                        "activeCustomers": 58,
                        "newCustomers": 12,
                        "returningCustomers": 46
                      },
                      {
                        "intervalStart": "2026-03-21T00:00:00+00:00",
                        "intervalEnd": "2026-03-22T00:00:00+00:00",
                        "activeCustomers": 34,
                        "newCustomers": 13,
                        "returningCustomers": 21
                      },
                      {
                        "intervalStart": "2026-03-22T00:00:00+00:00",
                        "intervalEnd": "2026-03-23T00:00:00+00:00",
                        "activeCustomers": 29,
                        "newCustomers": 24,
                        "returningCustomers": 5
                      },
                      {
                        "intervalStart": "2026-03-23T00:00:00+00:00",
                        "intervalEnd": "2026-03-24T00:00:00+00:00",
                        "activeCustomers": 94,
                        "newCustomers": 75,
                        "returningCustomers": 19
                      },
                      {
                        "intervalStart": "2026-03-24T00:00:00+00:00",
                        "intervalEnd": "2026-03-25T00:00:00+00:00",
                        "activeCustomers": 90,
                        "newCustomers": 16,
                        "returningCustomers": 74
                      },
                      {
                        "intervalStart": "2026-03-25T00:00:00+00:00",
                        "intervalEnd": "2026-03-26T00:00:00+00:00",
                        "activeCustomers": 34,
                        "newCustomers": 23,
                        "returningCustomers": 11
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-19T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-26T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 168
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 205
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": -37
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-19T00:00:00+00:00",
                          "intervalEnd": "2026-03-20T00:00:00+00:00",
                          "activeCustomers": 67,
                          "newCustomers": 42,
                          "returningCustomers": 25
                        },
                        {
                          "intervalStart": "2026-03-20T00:00:00+00:00",
                          "intervalEnd": "2026-03-21T00:00:00+00:00",
                          "activeCustomers": 58,
                          "newCustomers": 12,
                          "returningCustomers": 46
                        },
                        {
                          "intervalStart": "2026-03-21T00:00:00+00:00",
                          "intervalEnd": "2026-03-22T00:00:00+00:00",
                          "activeCustomers": 34,
                          "newCustomers": 13,
                          "returningCustomers": 21
                        },
                        {
                          "intervalStart": "2026-03-22T00:00:00+00:00",
                          "intervalEnd": "2026-03-23T00:00:00+00:00",
                          "activeCustomers": 29,
                          "newCustomers": 24,
                          "returningCustomers": 5
                        },
                        {
                          "intervalStart": "2026-03-23T00:00:00+00:00",
                          "intervalEnd": "2026-03-24T00:00:00+00:00",
                          "activeCustomers": 94,
                          "newCustomers": 75,
                          "returningCustomers": 19
                        },
                        {
                          "intervalStart": "2026-03-24T00:00:00+00:00",
                          "intervalEnd": "2026-03-25T00:00:00+00:00",
                          "activeCustomers": 90,
                          "newCustomers": 16,
                          "returningCustomers": 74
                        },
                        {
                          "intervalStart": "2026-03-25T00:00:00+00:00",
                          "intervalEnd": "2026-03-26T00:00:00+00:00",
                          "activeCustomers": 34,
                          "newCustomers": 23,
                          "returningCustomers": 11
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-19T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-20T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 67
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 42
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 25
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-19T00:00:00+00:00",
                    "periodEnd": "2026-03-26T00:00:00+00:00",
                    "totalTransactions": 5074,
                    "authorizeTransactions": 368,
                    "captureTransactions": 405,
                    "payTransactions": 2168,
                    "refundTransactions": 1089,
                    "verifyTransactions": 606,
                    "voidTransactions": 438,
                    "successfulTransactions": 4564,
                    "failedTransactions": 375,
                    "declinedTransactions": 110,
                    "pendingTransactions": 25,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-19T00:00:00+00:00",
                        "intervalEnd": "2026-03-20T00:00:00+00:00",
                        "totalTransactions": 497,
                        "authorizeTransactions": 11,
                        "captureTransactions": 18,
                        "payTransactions": 398,
                        "refundTransactions": 40,
                        "verifyTransactions": 16,
                        "voidTransactions": 14,
                        "successfulTransactions": 447,
                        "failedTransactions": 41,
                        "declinedTransactions": 6,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-20T00:00:00+00:00",
                        "intervalEnd": "2026-03-21T00:00:00+00:00",
                        "totalTransactions": 742,
                        "authorizeTransactions": 84,
                        "captureTransactions": 91,
                        "payTransactions": 482,
                        "refundTransactions": 67,
                        "verifyTransactions": 12,
                        "voidTransactions": 6,
                        "successfulTransactions": 667,
                        "failedTransactions": 42,
                        "declinedTransactions": 29,
                        "pendingTransactions": 4,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-21T00:00:00+00:00",
                        "intervalEnd": "2026-03-22T00:00:00+00:00",
                        "totalTransactions": 836,
                        "authorizeTransactions": 11,
                        "captureTransactions": 15,
                        "payTransactions": 481,
                        "refundTransactions": 311,
                        "verifyTransactions": 14,
                        "voidTransactions": 4,
                        "successfulTransactions": 752,
                        "failedTransactions": 43,
                        "declinedTransactions": 38,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-22T00:00:00+00:00",
                        "intervalEnd": "2026-03-23T00:00:00+00:00",
                        "totalTransactions": 681,
                        "authorizeTransactions": 39,
                        "captureTransactions": 45,
                        "payTransactions": 72,
                        "refundTransactions": 468,
                        "verifyTransactions": 12,
                        "voidTransactions": 45,
                        "successfulTransactions": 612,
                        "failedTransactions": 55,
                        "declinedTransactions": 9,
                        "pendingTransactions": 5,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-23T00:00:00+00:00",
                        "intervalEnd": "2026-03-24T00:00:00+00:00",
                        "totalTransactions": 830,
                        "authorizeTransactions": 64,
                        "captureTransactions": 69,
                        "payTransactions": 234,
                        "refundTransactions": 64,
                        "verifyTransactions": 145,
                        "voidTransactions": 254,
                        "successfulTransactions": 747,
                        "failedTransactions": 72,
                        "declinedTransactions": 6,
                        "pendingTransactions": 5,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-24T00:00:00+00:00",
                        "intervalEnd": "2026-03-25T00:00:00+00:00",
                        "totalTransactions": 768,
                        "authorizeTransactions": 81,
                        "captureTransactions": 82,
                        "payTransactions": 282,
                        "refundTransactions": 14,
                        "verifyTransactions": 253,
                        "voidTransactions": 56,
                        "successfulTransactions": 691,
                        "failedTransactions": 60,
                        "declinedTransactions": 15,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-25T00:00:00+00:00",
                        "intervalEnd": "2026-03-26T00:00:00+00:00",
                        "totalTransactions": 720,
                        "authorizeTransactions": 78,
                        "captureTransactions": 85,
                        "payTransactions": 219,
                        "refundTransactions": 125,
                        "verifyTransactions": 154,
                        "voidTransactions": 59,
                        "successfulTransactions": 648,
                        "failedTransactions": 62,
                        "declinedTransactions": 7,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-19T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-26T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 5074
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 368
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 405
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 2168
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 1089
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 606
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 438
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 4564
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 375
                    },
                    "declinedTransactions": {
                      "type": "integer",
                      "example": 110
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 25
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-19T00:00:00+00:00",
                          "intervalEnd": "2026-03-20T00:00:00+00:00",
                          "totalTransactions": 497,
                          "authorizeTransactions": 11,
                          "captureTransactions": 18,
                          "payTransactions": 398,
                          "refundTransactions": 40,
                          "verifyTransactions": 16,
                          "voidTransactions": 14,
                          "successfulTransactions": 447,
                          "failedTransactions": 41,
                          "declinedTransactions": 6,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-20T00:00:00+00:00",
                          "intervalEnd": "2026-03-21T00:00:00+00:00",
                          "totalTransactions": 742,
                          "authorizeTransactions": 84,
                          "captureTransactions": 91,
                          "payTransactions": 482,
                          "refundTransactions": 67,
                          "verifyTransactions": 12,
                          "voidTransactions": 6,
                          "successfulTransactions": 667,
                          "failedTransactions": 42,
                          "declinedTransactions": 29,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-21T00:00:00+00:00",
                          "intervalEnd": "2026-03-22T00:00:00+00:00",
                          "totalTransactions": 836,
                          "authorizeTransactions": 11,
                          "captureTransactions": 15,
                          "payTransactions": 481,
                          "refundTransactions": 311,
                          "verifyTransactions": 14,
                          "voidTransactions": 4,
                          "successfulTransactions": 752,
                          "failedTransactions": 43,
                          "declinedTransactions": 38,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-22T00:00:00+00:00",
                          "intervalEnd": "2026-03-23T00:00:00+00:00",
                          "totalTransactions": 681,
                          "authorizeTransactions": 39,
                          "captureTransactions": 45,
                          "payTransactions": 72,
                          "refundTransactions": 468,
                          "verifyTransactions": 12,
                          "voidTransactions": 45,
                          "successfulTransactions": 612,
                          "failedTransactions": 55,
                          "declinedTransactions": 9,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-23T00:00:00+00:00",
                          "intervalEnd": "2026-03-24T00:00:00+00:00",
                          "totalTransactions": 830,
                          "authorizeTransactions": 64,
                          "captureTransactions": 69,
                          "payTransactions": 234,
                          "refundTransactions": 64,
                          "verifyTransactions": 145,
                          "voidTransactions": 254,
                          "successfulTransactions": 747,
                          "failedTransactions": 72,
                          "declinedTransactions": 6,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-24T00:00:00+00:00",
                          "intervalEnd": "2026-03-25T00:00:00+00:00",
                          "totalTransactions": 768,
                          "authorizeTransactions": 81,
                          "captureTransactions": 82,
                          "payTransactions": 282,
                          "refundTransactions": 14,
                          "verifyTransactions": 253,
                          "voidTransactions": 56,
                          "successfulTransactions": 691,
                          "failedTransactions": 60,
                          "declinedTransactions": 15,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-25T00:00:00+00:00",
                          "intervalEnd": "2026-03-26T00:00:00+00:00",
                          "totalTransactions": 720,
                          "authorizeTransactions": 78,
                          "captureTransactions": 85,
                          "payTransactions": 219,
                          "refundTransactions": 125,
                          "verifyTransactions": 154,
                          "voidTransactions": 59,
                          "successfulTransactions": 648,
                          "failedTransactions": 62,
                          "declinedTransactions": 7,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-19T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-20T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 497
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 11
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 18
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 398
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 40
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 16
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": 14
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 447
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 41
                          },
                          "declinedTransactions": {
                            "type": "integer",
                            "example": 6
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 3
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-19T00:00:00+00:00",
                    "periodEnd": "2026-03-26T00:00:00+00:00",
                    "totalSettlementAmount": 35440.91,
                    "totalFeeAmount": 1736.60459,
                    "totalNetAmount": 33704.30541,
                    "totalTransactionsPending": 152,
                    "totalTransactionsSettled": 1611,
                    "totalTransactionsSettling": 853,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-19T00:00:00+00:00",
                        "intervalEnd": "2026-03-20T00:00:00+00:00",
                        "totalSettlementAmount": 5584.18,
                        "totalFeeAmount": 273.62482,
                        "totalNetAmount": 5310.55518,
                        "totalTransactionsPending": 33,
                        "totalTransactionsSettled": 214,
                        "totalTransactionsSettling": 68
                      },
                      {
                        "intervalStart": "2026-03-20T00:00:00+00:00",
                        "intervalEnd": "2026-03-21T00:00:00+00:00",
                        "totalSettlementAmount": 4588.08,
                        "totalFeeAmount": 224.81592,
                        "totalNetAmount": 4363.26408,
                        "totalTransactionsPending": 31,
                        "totalTransactionsSettled": 26,
                        "totalTransactionsSettling": 389
                      },
                      {
                        "intervalStart": "2026-03-21T00:00:00+00:00",
                        "intervalEnd": "2026-03-22T00:00:00+00:00",
                        "totalSettlementAmount": 5391.57,
                        "totalFeeAmount": 264.18693,
                        "totalNetAmount": 5127.38307,
                        "totalTransactionsPending": 6,
                        "totalTransactionsSettled": 312,
                        "totalTransactionsSettling": 21
                      },
                      {
                        "intervalStart": "2026-03-22T00:00:00+00:00",
                        "intervalEnd": "2026-03-23T00:00:00+00:00",
                        "totalSettlementAmount": 1403.81,
                        "totalFeeAmount": 68.78669,
                        "totalNetAmount": 1335.02331,
                        "totalTransactionsPending": 7,
                        "totalTransactionsSettled": 296,
                        "totalTransactionsSettling": 111
                      },
                      {
                        "intervalStart": "2026-03-23T00:00:00+00:00",
                        "intervalEnd": "2026-03-24T00:00:00+00:00",
                        "totalSettlementAmount": 7851.18,
                        "totalFeeAmount": 384.70782,
                        "totalNetAmount": 7466.47218,
                        "totalTransactionsPending": 39,
                        "totalTransactionsSettled": 327,
                        "totalTransactionsSettling": 114
                      },
                      {
                        "intervalStart": "2026-03-24T00:00:00+00:00",
                        "intervalEnd": "2026-03-25T00:00:00+00:00",
                        "totalSettlementAmount": 4846,
                        "totalFeeAmount": 237.454,
                        "totalNetAmount": 4608.546,
                        "totalTransactionsPending": 31,
                        "totalTransactionsSettled": 357,
                        "totalTransactionsSettling": 94
                      },
                      {
                        "intervalStart": "2026-03-25T00:00:00+00:00",
                        "intervalEnd": "2026-03-26T00:00:00+00:00",
                        "totalSettlementAmount": 5776.09,
                        "totalFeeAmount": 283.02841,
                        "totalNetAmount": 5493.06159,
                        "totalTransactionsPending": 5,
                        "totalTransactionsSettled": 79,
                        "totalTransactionsSettling": 56
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-19T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-26T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 35440.91
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 1736.60459
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 33704.30541
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 152
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 1611
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 853
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-19T00:00:00+00:00",
                          "intervalEnd": "2026-03-20T00:00:00+00:00",
                          "totalSettlementAmount": 5584.18,
                          "totalFeeAmount": 273.62482,
                          "totalNetAmount": 5310.55518,
                          "totalTransactionsPending": 33,
                          "totalTransactionsSettled": 214,
                          "totalTransactionsSettling": 68
                        },
                        {
                          "intervalStart": "2026-03-20T00:00:00+00:00",
                          "intervalEnd": "2026-03-21T00:00:00+00:00",
                          "totalSettlementAmount": 4588.08,
                          "totalFeeAmount": 224.81592,
                          "totalNetAmount": 4363.26408,
                          "totalTransactionsPending": 31,
                          "totalTransactionsSettled": 26,
                          "totalTransactionsSettling": 389
                        },
                        {
                          "intervalStart": "2026-03-21T00:00:00+00:00",
                          "intervalEnd": "2026-03-22T00:00:00+00:00",
                          "totalSettlementAmount": 5391.57,
                          "totalFeeAmount": 264.18693,
                          "totalNetAmount": 5127.38307,
                          "totalTransactionsPending": 6,
                          "totalTransactionsSettled": 312,
                          "totalTransactionsSettling": 21
                        },
                        {
                          "intervalStart": "2026-03-22T00:00:00+00:00",
                          "intervalEnd": "2026-03-23T00:00:00+00:00",
                          "totalSettlementAmount": 1403.81,
                          "totalFeeAmount": 68.78669,
                          "totalNetAmount": 1335.02331,
                          "totalTransactionsPending": 7,
                          "totalTransactionsSettled": 296,
                          "totalTransactionsSettling": 111
                        },
                        {
                          "intervalStart": "2026-03-23T00:00:00+00:00",
                          "intervalEnd": "2026-03-24T00:00:00+00:00",
                          "totalSettlementAmount": 7851.18,
                          "totalFeeAmount": 384.70782,
                          "totalNetAmount": 7466.47218,
                          "totalTransactionsPending": 39,
                          "totalTransactionsSettled": 327,
                          "totalTransactionsSettling": 114
                        },
                        {
                          "intervalStart": "2026-03-24T00:00:00+00:00",
                          "intervalEnd": "2026-03-25T00:00:00+00:00",
                          "totalSettlementAmount": 4846,
                          "totalFeeAmount": 237.454,
                          "totalNetAmount": 4608.546,
                          "totalTransactionsPending": 31,
                          "totalTransactionsSettled": 357,
                          "totalTransactionsSettling": 94
                        },
                        {
                          "intervalStart": "2026-03-25T00:00:00+00:00",
                          "intervalEnd": "2026-03-26T00:00:00+00:00",
                          "totalSettlementAmount": 5776.09,
                          "totalFeeAmount": 283.02841,
                          "totalNetAmount": 5493.06159,
                          "totalTransactionsPending": 5,
                          "totalTransactionsSettled": 79,
                          "totalTransactionsSettling": 56
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-19T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-20T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 5584.18
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 273.62482
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 5310.55518
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 33
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 214
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 68
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 9,
                    "data": [
                      {
                        "email": "gusikowski.elwyn@mante.com",
                        "firstName": "Stone",
                        "lastName": "Bergnaum",
                        "phone": "+17572498125",
                        "dateOfBirth": "2003-07-28"
                      },
                      {
                        "email": "mack.ortiz@gmail.com",
                        "firstName": "Nicholas",
                        "lastName": "Carter",
                        "phone": "+12532621715",
                        "dateOfBirth": "1975-10-05"
                      },
                      {
                        "email": "jimmie64@yahoo.com",
                        "firstName": "Kelsie",
                        "lastName": "McDermott",
                        "phone": "+13023746417",
                        "dateOfBirth": "1999-09-28"
                      },
                      {
                        "email": "bhermann@hotmail.com",
                        "firstName": "Tara",
                        "lastName": "Conn",
                        "phone": "+13307671231",
                        "dateOfBirth": "1976-12-02"
                      },
                      {
                        "email": "jarvis19@swift.com",
                        "firstName": "Marianna",
                        "lastName": "Mante",
                        "phone": "+12349991543",
                        "dateOfBirth": "1992-05-09"
                      },
                      {
                        "email": "mariano.collins@breitenberg.com",
                        "firstName": "Eda",
                        "lastName": "Veum",
                        "phone": "+15749375232",
                        "dateOfBirth": "1980-05-04"
                      },
                      {
                        "email": "kuphal.toney@yahoo.com",
                        "firstName": "Liam",
                        "lastName": "Lesch",
                        "phone": "+19478754467",
                        "dateOfBirth": "1971-05-25"
                      },
                      {
                        "email": "schultz.heath@yundt.org",
                        "firstName": "Claire",
                        "lastName": "Lindgren",
                        "phone": "+16785674987",
                        "dateOfBirth": "1984-10-21"
                      },
                      {
                        "email": "mya47@kerluke.info",
                        "firstName": "Katharina",
                        "lastName": "Reichel",
                        "phone": "+17129911491",
                        "dateOfBirth": "1984-11-23"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 9,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "gusikowski.elwyn@mante.com",
                          "firstName": "Stone",
                          "lastName": "Bergnaum",
                          "phone": "+17572498125",
                          "dateOfBirth": "2003-07-28"
                        },
                        {
                          "email": "mack.ortiz@gmail.com",
                          "firstName": "Nicholas",
                          "lastName": "Carter",
                          "phone": "+12532621715",
                          "dateOfBirth": "1975-10-05"
                        },
                        {
                          "email": "jimmie64@yahoo.com",
                          "firstName": "Kelsie",
                          "lastName": "McDermott",
                          "phone": "+13023746417",
                          "dateOfBirth": "1999-09-28"
                        },
                        {
                          "email": "bhermann@hotmail.com",
                          "firstName": "Tara",
                          "lastName": "Conn",
                          "phone": "+13307671231",
                          "dateOfBirth": "1976-12-02"
                        },
                        {
                          "email": "jarvis19@swift.com",
                          "firstName": "Marianna",
                          "lastName": "Mante",
                          "phone": "+12349991543",
                          "dateOfBirth": "1992-05-09"
                        },
                        {
                          "email": "mariano.collins@breitenberg.com",
                          "firstName": "Eda",
                          "lastName": "Veum",
                          "phone": "+15749375232",
                          "dateOfBirth": "1980-05-04"
                        },
                        {
                          "email": "kuphal.toney@yahoo.com",
                          "firstName": "Liam",
                          "lastName": "Lesch",
                          "phone": "+19478754467",
                          "dateOfBirth": "1971-05-25"
                        },
                        {
                          "email": "schultz.heath@yundt.org",
                          "firstName": "Claire",
                          "lastName": "Lindgren",
                          "phone": "+16785674987",
                          "dateOfBirth": "1984-10-21"
                        },
                        {
                          "email": "mya47@kerluke.info",
                          "firstName": "Katharina",
                          "lastName": "Reichel",
                          "phone": "+17129911491",
                          "dateOfBirth": "1984-11-23"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "gusikowski.elwyn@mante.com"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Stone"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Bergnaum"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+17572498125"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "2003-07-28"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers/{customerIdOrEmail}/addresses": {
      "get": {
        "summary": "List Customer Billing Addresses",
        "operationId": "listCustomerBillingAddresses",
        "description": "Returns all unique billing addresses that have been used by a customer across their payments.\nAddresses are deduplicated using case-insensitive and whitespace-insensitive comparison.",
        "parameters": [
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
            "example": "-city",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
              "example": "-city",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of unique billing addresses for the customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "company": "Baumbach-Roob",
                        "street": "115 Libbie Stream",
                        "city": "Friesenmouth",
                        "stateProvince": "WA",
                        "postcodeZip": "85342",
                        "country": "USA"
                      },
                      {
                        "company": "Bradtke-Considine",
                        "street": "2546 Alanis Key",
                        "city": "West Greenchester",
                        "stateProvince": "CO",
                        "postcodeZip": "20634-1757",
                        "country": "USA"
                      },
                      {
                        "company": "Fadel, Collins and Hegmann",
                        "street": "409 Stone Ranch Apt. 573",
                        "city": "Federicohaven",
                        "stateProvince": "VA",
                        "postcodeZip": "33369",
                        "country": "USA"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "company": "Baumbach-Roob",
                          "street": "115 Libbie Stream",
                          "city": "Friesenmouth",
                          "stateProvince": "WA",
                          "postcodeZip": "85342",
                          "country": "USA"
                        },
                        {
                          "company": "Bradtke-Considine",
                          "street": "2546 Alanis Key",
                          "city": "West Greenchester",
                          "stateProvince": "CO",
                          "postcodeZip": "20634-1757",
                          "country": "USA"
                        },
                        {
                          "company": "Fadel, Collins and Hegmann",
                          "street": "409 Stone Ranch Apt. 573",
                          "city": "Federicohaven",
                          "stateProvince": "VA",
                          "postcodeZip": "33369",
                          "country": "USA"
                        }
                      ],
                      "description": "The data returned from the request",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "company": {
                            "type": "string",
                            "example": "Baumbach-Roob"
                          },
                          "street": {
                            "type": "string",
                            "example": "115 Libbie Stream"
                          },
                          "city": {
                            "type": "string",
[...]
