{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.75.1"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payout Exports",
      "description": "Create payout exports"
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-28T00:00:00+00:00",
                    "periodEnd": "2026-05-05T00:00:00+00:00",
                    "numPaymentsCreated": 4799,
                    "numPaymentsProcessed": 2206,
                    "numPaymentsIncomplete": 2593,
                    "numPaymentsWithRefunds": 1357,
                    "numCardPresentPayments": 1246,
                    "numCardNotPresentPayments": 1347,
                    "totalCapturedAmount": 3805353.5,
                    "totalRefundedAmount": 588999.33,
                    "totalNetCapturedAmount": 3216354.17,
                    "averageNetCapturedAmount": 2080.7671428571,
                    "minNetCapturedAmount": 15.03,
                    "maxNetCapturedAmount": 7846.58,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-28T00:00:00+00:00",
                        "intervalEnd": "2026-04-29T00:00:00+00:00",
                        "numPaymentsCreated": 751,
                        "numPaymentsProcessed": 282,
                        "numPaymentsIncomplete": 469,
                        "numPaymentsWithRefunds": 37,
                        "numCardPresentPayments": 54,
                        "numCardNotPresentPayments": 415,
                        "totalCapturedAmount": 633089.72,
                        "totalRefundedAmount": 129531.5,
                        "totalNetCapturedAmount": 503558.22,
                        "averageNetCapturedAmount": 1785.67,
                        "minNetCapturedAmount": 28.94,
                        "maxNetCapturedAmount": 2132.84
                      },
                      {
                        "intervalStart": "2026-04-29T00:00:00+00:00",
                        "intervalEnd": "2026-04-30T00:00:00+00:00",
                        "numPaymentsCreated": 472,
                        "numPaymentsProcessed": 197,
                        "numPaymentsIncomplete": 275,
                        "numPaymentsWithRefunds": 5,
                        "numCardPresentPayments": 31,
                        "numCardNotPresentPayments": 244,
                        "totalCapturedAmount": 637520.79,
                        "totalRefundedAmount": 119460.65,
                        "totalNetCapturedAmount": 518060.14,
                        "averageNetCapturedAmount": 2629.75,
                        "minNetCapturedAmount": 79.54,
                        "maxNetCapturedAmount": 1116.7
                      },
                      {
                        "intervalStart": "2026-04-30T00:00:00+00:00",
                        "intervalEnd": "2026-05-01T00:00:00+00:00",
                        "numPaymentsCreated": 782,
                        "numPaymentsProcessed": 255,
                        "numPaymentsIncomplete": 527,
                        "numPaymentsWithRefunds": 162,
                        "numCardPresentPayments": 164,
                        "numCardNotPresentPayments": 363,
                        "totalCapturedAmount": 378723.68,
                        "totalRefundedAmount": 64232,
                        "totalNetCapturedAmount": 314491.68,
                        "averageNetCapturedAmount": 1233.3,
                        "minNetCapturedAmount": 53.92,
                        "maxNetCapturedAmount": 5129.72
                      },
                      {
                        "intervalStart": "2026-05-01T00:00:00+00:00",
                        "intervalEnd": "2026-05-02T00:00:00+00:00",
                        "numPaymentsCreated": 669,
                        "numPaymentsProcessed": 594,
                        "numPaymentsIncomplete": 75,
                        "numPaymentsWithRefunds": 364,
                        "numCardPresentPayments": 490,
                        "numCardNotPresentPayments": -415,
                        "totalCapturedAmount": 552990.82,
                        "totalRefundedAmount": 21535.55,
                        "totalNetCapturedAmount": 531455.27,
                        "averageNetCapturedAmount": 894.71,
                        "minNetCapturedAmount": 40.54,
                        "maxNetCapturedAmount": 3012.27
                      },
                      {
                        "intervalStart": "2026-05-02T00:00:00+00:00",
                        "intervalEnd": "2026-05-03T00:00:00+00:00",
                        "numPaymentsCreated": 409,
                        "numPaymentsProcessed": 86,
                        "numPaymentsIncomplete": 323,
                        "numPaymentsWithRefunds": 85,
                        "numCardPresentPayments": 33,
                        "numCardNotPresentPayments": 290,
                        "totalCapturedAmount": 525306.69,
                        "totalRefundedAmount": 9914.72,
                        "totalNetCapturedAmount": 515391.97,
                        "averageNetCapturedAmount": 5992.93,
                        "minNetCapturedAmount": 30.54,
                        "maxNetCapturedAmount": 6566.66
                      },
                      {
                        "intervalStart": "2026-05-03T00:00:00+00:00",
                        "intervalEnd": "2026-05-04T00:00:00+00:00",
                        "numPaymentsCreated": 911,
                        "numPaymentsProcessed": 453,
                        "numPaymentsIncomplete": 458,
                        "numPaymentsWithRefunds": 447,
                        "numCardPresentPayments": 207,
                        "numCardNotPresentPayments": 251,
                        "totalCapturedAmount": 747115.8,
                        "totalRefundedAmount": 168694.42,
                        "totalNetCapturedAmount": 578421.38,
                        "averageNetCapturedAmount": 1276.87,
                        "minNetCapturedAmount": 15.03,
                        "maxNetCapturedAmount": 7581.98
                      },
                      {
                        "intervalStart": "2026-05-04T00:00:00+00:00",
                        "intervalEnd": "2026-05-05T00:00:00+00:00",
                        "numPaymentsCreated": 805,
                        "numPaymentsProcessed": 339,
                        "numPaymentsIncomplete": 466,
                        "numPaymentsWithRefunds": 257,
                        "numCardPresentPayments": 267,
                        "numCardNotPresentPayments": 199,
                        "totalCapturedAmount": 330606,
                        "totalRefundedAmount": 75630.49,
                        "totalNetCapturedAmount": 254975.51,
                        "averageNetCapturedAmount": 752.14,
                        "minNetCapturedAmount": 27.39,
                        "maxNetCapturedAmount": 7846.58
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-28T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-05-05T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 4799
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 2206
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 2593
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 1357
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 1246
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": 1347
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 3805353.5
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 588999.33
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 3216354.17
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 2080.7671428571
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 15.03
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 7846.58
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-28T00:00:00+00:00",
                          "intervalEnd": "2026-04-29T00:00:00+00:00",
                          "numPaymentsCreated": 751,
                          "numPaymentsProcessed": 282,
                          "numPaymentsIncomplete": 469,
                          "numPaymentsWithRefunds": 37,
                          "numCardPresentPayments": 54,
                          "numCardNotPresentPayments": 415,
                          "totalCapturedAmount": 633089.72,
                          "totalRefundedAmount": 129531.5,
                          "totalNetCapturedAmount": 503558.22,
                          "averageNetCapturedAmount": 1785.67,
                          "minNetCapturedAmount": 28.94,
                          "maxNetCapturedAmount": 2132.84
                        },
                        {
                          "intervalStart": "2026-04-29T00:00:00+00:00",
                          "intervalEnd": "2026-04-30T00:00:00+00:00",
                          "numPaymentsCreated": 472,
                          "numPaymentsProcessed": 197,
                          "numPaymentsIncomplete": 275,
                          "numPaymentsWithRefunds": 5,
                          "numCardPresentPayments": 31,
                          "numCardNotPresentPayments": 244,
                          "totalCapturedAmount": 637520.79,
                          "totalRefundedAmount": 119460.65,
                          "totalNetCapturedAmount": 518060.14,
                          "averageNetCapturedAmount": 2629.75,
                          "minNetCapturedAmount": 79.54,
                          "maxNetCapturedAmount": 1116.7
                        },
                        {
                          "intervalStart": "2026-04-30T00:00:00+00:00",
                          "intervalEnd": "2026-05-01T00:00:00+00:00",
                          "numPaymentsCreated": 782,
                          "numPaymentsProcessed": 255,
                          "numPaymentsIncomplete": 527,
                          "numPaymentsWithRefunds": 162,
                          "numCardPresentPayments": 164,
                          "numCardNotPresentPayments": 363,
                          "totalCapturedAmount": 378723.68,
                          "totalRefundedAmount": 64232,
                          "totalNetCapturedAmount": 314491.68,
                          "averageNetCapturedAmount": 1233.3,
                          "minNetCapturedAmount": 53.92,
                          "maxNetCapturedAmount": 5129.72
                        },
                        {
                          "intervalStart": "2026-05-01T00:00:00+00:00",
                          "intervalEnd": "2026-05-02T00:00:00+00:00",
                          "numPaymentsCreated": 669,
                          "numPaymentsProcessed": 594,
                          "numPaymentsIncomplete": 75,
                          "numPaymentsWithRefunds": 364,
                          "numCardPresentPayments": 490,
                          "numCardNotPresentPayments": -415,
                          "totalCapturedAmount": 552990.82,
                          "totalRefundedAmount": 21535.55,
                          "totalNetCapturedAmount": 531455.27,
                          "averageNetCapturedAmount": 894.71,
                          "minNetCapturedAmount": 40.54,
                          "maxNetCapturedAmount": 3012.27
                        },
                        {
                          "intervalStart": "2026-05-02T00:00:00+00:00",
                          "intervalEnd": "2026-05-03T00:00:00+00:00",
                          "numPaymentsCreated": 409,
                          "numPaymentsProcessed": 86,
                          "numPaymentsIncomplete": 323,
                          "numPaymentsWithRefunds": 85,
                          "numCardPresentPayments": 33,
                          "numCardNotPresentPayments": 290,
                          "totalCapturedAmount": 525306.69,
                          "totalRefundedAmount": 9914.72,
                          "totalNetCapturedAmount": 515391.97,
                          "averageNetCapturedAmount": 5992.93,
                          "minNetCapturedAmount": 30.54,
                          "maxNetCapturedAmount": 6566.66
                        },
                        {
                          "intervalStart": "2026-05-03T00:00:00+00:00",
                          "intervalEnd": "2026-05-04T00:00:00+00:00",
                          "numPaymentsCreated": 911,
                          "numPaymentsProcessed": 453,
                          "numPaymentsIncomplete": 458,
                          "numPaymentsWithRefunds": 447,
                          "numCardPresentPayments": 207,
                          "numCardNotPresentPayments": 251,
                          "totalCapturedAmount": 747115.8,
                          "totalRefundedAmount": 168694.42,
                          "totalNetCapturedAmount": 578421.38,
                          "averageNetCapturedAmount": 1276.87,
                          "minNetCapturedAmount": 15.03,
                          "maxNetCapturedAmount": 7581.98
                        },
                        {
                          "intervalStart": "2026-05-04T00:00:00+00:00",
                          "intervalEnd": "2026-05-05T00:00:00+00:00",
                          "numPaymentsCreated": 805,
                          "numPaymentsProcessed": 339,
                          "numPaymentsIncomplete": 466,
                          "numPaymentsWithRefunds": 257,
                          "numCardPresentPayments": 267,
                          "numCardNotPresentPayments": 199,
                          "totalCapturedAmount": 330606,
                          "totalRefundedAmount": 75630.49,
                          "totalNetCapturedAmount": 254975.51,
                          "averageNetCapturedAmount": 752.14,
                          "minNetCapturedAmount": 27.39,
                          "maxNetCapturedAmount": 7846.58
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-28T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-29T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 751
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 282
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 469
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 37
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 54
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": 415
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 633089.72
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 129531.5
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 503558.22
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 1785.67
                          },
                          "minNetCapturedAmount": {
                            "type": "number",
                            "example": 28.94
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 2132.84
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-28T00:00:00+00:00",
                    "periodEnd": "2026-05-05T00:00:00+00:00",
                    "activeCustomers": 117,
                    "newCustomers": 130,
                    "returningCustomers": -13,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-28T00:00:00+00:00",
                        "intervalEnd": "2026-04-29T00:00:00+00:00",
                        "activeCustomers": 14,
                        "newCustomers": 5,
                        "returningCustomers": 9
                      },
                      {
                        "intervalStart": "2026-04-29T00:00:00+00:00",
                        "intervalEnd": "2026-04-30T00:00:00+00:00",
                        "activeCustomers": 34,
                        "newCustomers": 16,
                        "returningCustomers": 18
                      },
                      {
                        "intervalStart": "2026-04-30T00:00:00+00:00",
                        "intervalEnd": "2026-05-01T00:00:00+00:00",
                        "activeCustomers": 68,
                        "newCustomers": 24,
                        "returningCustomers": 44
                      },
                      {
                        "intervalStart": "2026-05-01T00:00:00+00:00",
                        "intervalEnd": "2026-05-02T00:00:00+00:00",
                        "activeCustomers": 34,
                        "newCustomers": 26,
                        "returningCustomers": 8
                      },
                      {
                        "intervalStart": "2026-05-02T00:00:00+00:00",
                        "intervalEnd": "2026-05-03T00:00:00+00:00",
                        "activeCustomers": 73,
                        "newCustomers": 34,
                        "returningCustomers": 39
                      },
                      {
                        "intervalStart": "2026-05-03T00:00:00+00:00",
                        "intervalEnd": "2026-05-04T00:00:00+00:00",
                        "activeCustomers": 18,
                        "newCustomers": 10,
                        "returningCustomers": 8
                      },
                      {
                        "intervalStart": "2026-05-04T00:00:00+00:00",
                        "intervalEnd": "2026-05-05T00:00:00+00:00",
                        "activeCustomers": 93,
                        "newCustomers": 15,
                        "returningCustomers": 78
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-28T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-05-05T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 117
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 130
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": -13
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-28T00:00:00+00:00",
                          "intervalEnd": "2026-04-29T00:00:00+00:00",
                          "activeCustomers": 14,
                          "newCustomers": 5,
                          "returningCustomers": 9
                        },
                        {
                          "intervalStart": "2026-04-29T00:00:00+00:00",
                          "intervalEnd": "2026-04-30T00:00:00+00:00",
                          "activeCustomers": 34,
                          "newCustomers": 16,
                          "returningCustomers": 18
                        },
                        {
                          "intervalStart": "2026-04-30T00:00:00+00:00",
                          "intervalEnd": "2026-05-01T00:00:00+00:00",
                          "activeCustomers": 68,
                          "newCustomers": 24,
                          "returningCustomers": 44
                        },
                        {
                          "intervalStart": "2026-05-01T00:00:00+00:00",
                          "intervalEnd": "2026-05-02T00:00:00+00:00",
                          "activeCustomers": 34,
                          "newCustomers": 26,
                          "returningCustomers": 8
                        },
                        {
                          "intervalStart": "2026-05-02T00:00:00+00:00",
                          "intervalEnd": "2026-05-03T00:00:00+00:00",
                          "activeCustomers": 73,
                          "newCustomers": 34,
                          "returningCustomers": 39
                        },
                        {
                          "intervalStart": "2026-05-03T00:00:00+00:00",
                          "intervalEnd": "2026-05-04T00:00:00+00:00",
                          "activeCustomers": 18,
                          "newCustomers": 10,
                          "returningCustomers": 8
                        },
                        {
                          "intervalStart": "2026-05-04T00:00:00+00:00",
                          "intervalEnd": "2026-05-05T00:00:00+00:00",
                          "activeCustomers": 93,
                          "newCustomers": 15,
                          "returningCustomers": 78
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-28T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-29T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 14
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 5
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 9
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-28T00:00:00+00:00",
                    "periodEnd": "2026-05-05T00:00:00+00:00",
                    "totalTransactions": 3728,
                    "authorizeTransactions": 294,
                    "captureTransactions": 329,
                    "payTransactions": 1358,
                    "refundTransactions": 1278,
                    "verifyTransactions": 255,
                    "voidTransactions": 214,
                    "successfulTransactions": 3354,
                    "failedTransactions": 291,
                    "declinedTransactions": 63,
                    "pendingTransactions": 20,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-28T00:00:00+00:00",
                        "intervalEnd": "2026-04-29T00:00:00+00:00",
                        "totalTransactions": 679,
                        "authorizeTransactions": 75,
                        "captureTransactions": 78,
                        "payTransactions": 75,
                        "refundTransactions": 357,
                        "verifyTransactions": 64,
                        "voidTransactions": 30,
                        "successfulTransactions": 611,
                        "failedTransactions": 52,
                        "declinedTransactions": 11,
                        "pendingTransactions": 5,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-29T00:00:00+00:00",
                        "intervalEnd": "2026-04-30T00:00:00+00:00",
                        "totalTransactions": 483,
                        "authorizeTransactions": 17,
                        "captureTransactions": 19,
                        "payTransactions": 262,
                        "refundTransactions": 67,
                        "verifyTransactions": 41,
                        "voidTransactions": 77,
                        "successfulTransactions": 434,
                        "failedTransactions": 31,
                        "declinedTransactions": 17,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-30T00:00:00+00:00",
                        "intervalEnd": "2026-05-01T00:00:00+00:00",
                        "totalTransactions": 160,
                        "authorizeTransactions": 16,
                        "captureTransactions": 24,
                        "payTransactions": 16,
                        "refundTransactions": 19,
                        "verifyTransactions": 43,
                        "voidTransactions": 42,
                        "successfulTransactions": 144,
                        "failedTransactions": 12,
                        "declinedTransactions": 3,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-05-01T00:00:00+00:00",
                        "intervalEnd": "2026-05-02T00:00:00+00:00",
                        "totalTransactions": 200,
                        "authorizeTransactions": 17,
                        "captureTransactions": 22,
                        "payTransactions": 58,
                        "refundTransactions": 90,
                        "verifyTransactions": 6,
                        "voidTransactions": 7,
                        "successfulTransactions": 180,
                        "failedTransactions": 13,
                        "declinedTransactions": 5,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-05-02T00:00:00+00:00",
                        "intervalEnd": "2026-05-03T00:00:00+00:00",
                        "totalTransactions": 310,
                        "authorizeTransactions": 12,
                        "captureTransactions": 17,
                        "payTransactions": 73,
                        "refundTransactions": 124,
                        "verifyTransactions": 47,
                        "voidTransactions": 37,
                        "successfulTransactions": 279,
                        "failedTransactions": 18,
                        "declinedTransactions": 12,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-05-03T00:00:00+00:00",
                        "intervalEnd": "2026-05-04T00:00:00+00:00",
                        "totalTransactions": 939,
                        "authorizeTransactions": 98,
                        "captureTransactions": 100,
                        "payTransactions": 143,
                        "refundTransactions": 528,
                        "verifyTransactions": 49,
                        "voidTransactions": 21,
                        "successfulTransactions": 845,
                        "failedTransactions": 90,
                        "declinedTransactions": 2,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-05-04T00:00:00+00:00",
                        "intervalEnd": "2026-05-05T00:00:00+00:00",
                        "totalTransactions": 957,
                        "authorizeTransactions": 59,
                        "captureTransactions": 69,
                        "payTransactions": 731,
                        "refundTransactions": 93,
                        "verifyTransactions": 5,
                        "voidTransactions": 0,
                        "successfulTransactions": 861,
                        "failedTransactions": 75,
                        "declinedTransactions": 13,
                        "pendingTransactions": 8,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-28T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-05-05T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 3728
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 294
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 329
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 1358
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 1278
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 255
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 214
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 3354
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 291
                    },
                    "declinedTransactions": {
                      "type": "integer",
                      "example": 63
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 20
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-28T00:00:00+00:00",
                          "intervalEnd": "2026-04-29T00:00:00+00:00",
                          "totalTransactions": 679,
                          "authorizeTransactions": 75,
                          "captureTransactions": 78,
                          "payTransactions": 75,
                          "refundTransactions": 357,
                          "verifyTransactions": 64,
                          "voidTransactions": 30,
                          "successfulTransactions": 611,
                          "failedTransactions": 52,
                          "declinedTransactions": 11,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-29T00:00:00+00:00",
                          "intervalEnd": "2026-04-30T00:00:00+00:00",
                          "totalTransactions": 483,
                          "authorizeTransactions": 17,
                          "captureTransactions": 19,
                          "payTransactions": 262,
                          "refundTransactions": 67,
                          "verifyTransactions": 41,
                          "voidTransactions": 77,
                          "successfulTransactions": 434,
                          "failedTransactions": 31,
                          "declinedTransactions": 17,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-30T00:00:00+00:00",
                          "intervalEnd": "2026-05-01T00:00:00+00:00",
                          "totalTransactions": 160,
                          "authorizeTransactions": 16,
                          "captureTransactions": 24,
                          "payTransactions": 16,
                          "refundTransactions": 19,
                          "verifyTransactions": 43,
                          "voidTransactions": 42,
                          "successfulTransactions": 144,
                          "failedTransactions": 12,
                          "declinedTransactions": 3,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-05-01T00:00:00+00:00",
                          "intervalEnd": "2026-05-02T00:00:00+00:00",
                          "totalTransactions": 200,
                          "authorizeTransactions": 17,
                          "captureTransactions": 22,
                          "payTransactions": 58,
                          "refundTransactions": 90,
                          "verifyTransactions": 6,
                          "voidTransactions": 7,
                          "successfulTransactions": 180,
                          "failedTransactions": 13,
                          "declinedTransactions": 5,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-05-02T00:00:00+00:00",
                          "intervalEnd": "2026-05-03T00:00:00+00:00",
                          "totalTransactions": 310,
                          "authorizeTransactions": 12,
                          "captureTransactions": 17,
                          "payTransactions": 73,
                          "refundTransactions": 124,
                          "verifyTransactions": 47,
                          "voidTransactions": 37,
                          "successfulTransactions": 279,
                          "failedTransactions": 18,
                          "declinedTransactions": 12,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-05-03T00:00:00+00:00",
                          "intervalEnd": "2026-05-04T00:00:00+00:00",
                          "totalTransactions": 939,
                          "authorizeTransactions": 98,
                          "captureTransactions": 100,
                          "payTransactions": 143,
                          "refundTransactions": 528,
                          "verifyTransactions": 49,
                          "voidTransactions": 21,
                          "successfulTransactions": 845,
                          "failedTransactions": 90,
                          "declinedTransactions": 2,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-05-04T00:00:00+00:00",
                          "intervalEnd": "2026-05-05T00:00:00+00:00",
                          "totalTransactions": 957,
                          "authorizeTransactions": 59,
                          "captureTransactions": 69,
                          "payTransactions": 731,
                          "refundTransactions": 93,
                          "verifyTransactions": 5,
                          "voidTransactions": 0,
                          "successfulTransactions": 861,
                          "failedTransactions": 75,
                          "declinedTransactions": 13,
                          "pendingTransactions": 8,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-28T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-29T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 679
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 75
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 78
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 75
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 357
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 64
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": 30
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 611
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 52
                          },
                          "declinedTransactions": {
                            "type": "integer",
                            "example": 11
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 5
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-28T00:00:00+00:00",
                    "periodEnd": "2026-05-05T00:00:00+00:00",
                    "totalSettlementAmount": 40821.24,
                    "totalFeeAmount": 2000.24076,
                    "totalNetAmount": 38820.99924,
                    "totalTransactionsPending": 173,
                    "totalTransactionsSettled": 947,
                    "totalTransactionsSettling": 874,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-28T00:00:00+00:00",
                        "intervalEnd": "2026-04-29T00:00:00+00:00",
                        "totalSettlementAmount": 9647.83,
                        "totalFeeAmount": 472.74367,
                        "totalNetAmount": 9175.08633,
                        "totalTransactionsPending": 16,
                        "totalTransactionsSettled": 428,
                        "totalTransactionsSettling": 22
                      },
                      {
                        "intervalStart": "2026-04-29T00:00:00+00:00",
                        "intervalEnd": "2026-04-30T00:00:00+00:00",
                        "totalSettlementAmount": 6779.97,
                        "totalFeeAmount": 332.21853,
                        "totalNetAmount": 6447.75147,
                        "totalTransactionsPending": 32,
                        "totalTransactionsSettled": 70,
                        "totalTransactionsSettling": 204
                      },
                      {
                        "intervalStart": "2026-04-30T00:00:00+00:00",
                        "intervalEnd": "2026-05-01T00:00:00+00:00",
                        "totalSettlementAmount": 5067.09,
                        "totalFeeAmount": 248.28741,
                        "totalNetAmount": 4818.80259,
                        "totalTransactionsPending": 38,
                        "totalTransactionsSettled": 54,
                        "totalTransactionsSettling": 261
                      },
                      {
                        "intervalStart": "2026-05-01T00:00:00+00:00",
                        "intervalEnd": "2026-05-02T00:00:00+00:00",
                        "totalSettlementAmount": 6971.81,
                        "totalFeeAmount": 341.61869,
                        "totalNetAmount": 6630.19131,
                        "totalTransactionsPending": 38,
                        "totalTransactionsSettled": 109,
                        "totalTransactionsSettling": 23
                      },
                      {
                        "intervalStart": "2026-05-02T00:00:00+00:00",
                        "intervalEnd": "2026-05-03T00:00:00+00:00",
                        "totalSettlementAmount": 3896.41,
                        "totalFeeAmount": 190.92409,
                        "totalNetAmount": 3705.48591,
                        "totalTransactionsPending": 17,
                        "totalTransactionsSettled": 189,
                        "totalTransactionsSettling": 16
                      },
                      {
                        "intervalStart": "2026-05-03T00:00:00+00:00",
                        "intervalEnd": "2026-05-04T00:00:00+00:00",
                        "totalSettlementAmount": 6333.32,
                        "totalFeeAmount": 310.33268,
                        "totalNetAmount": 6022.98732,
                        "totalTransactionsPending": 19,
                        "totalTransactionsSettled": 39,
                        "totalTransactionsSettling": 191
                      },
                      {
                        "intervalStart": "2026-05-04T00:00:00+00:00",
                        "intervalEnd": "2026-05-05T00:00:00+00:00",
                        "totalSettlementAmount": 2124.81,
                        "totalFeeAmount": 104.11569,
                        "totalNetAmount": 2020.69431,
                        "totalTransactionsPending": 13,
                        "totalTransactionsSettled": 58,
                        "totalTransactionsSettling": 157
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-28T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-05-05T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 40821.24
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 2000.24076
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 38820.99924
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 173
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 947
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 874
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-28T00:00:00+00:00",
                          "intervalEnd": "2026-04-29T00:00:00+00:00",
                          "totalSettlementAmount": 9647.83,
                          "totalFeeAmount": 472.74367,
                          "totalNetAmount": 9175.08633,
                          "totalTransactionsPending": 16,
                          "totalTransactionsSettled": 428,
                          "totalTransactionsSettling": 22
                        },
                        {
                          "intervalStart": "2026-04-29T00:00:00+00:00",
                          "intervalEnd": "2026-04-30T00:00:00+00:00",
                          "totalSettlementAmount": 6779.97,
                          "totalFeeAmount": 332.21853,
                          "totalNetAmount": 6447.75147,
                          "totalTransactionsPending": 32,
                          "totalTransactionsSettled": 70,
                          "totalTransactionsSettling": 204
                        },
                        {
                          "intervalStart": "2026-04-30T00:00:00+00:00",
                          "intervalEnd": "2026-05-01T00:00:00+00:00",
                          "totalSettlementAmount": 5067.09,
                          "totalFeeAmount": 248.28741,
                          "totalNetAmount": 4818.80259,
                          "totalTransactionsPending": 38,
                          "totalTransactionsSettled": 54,
                          "totalTransactionsSettling": 261
                        },
                        {
                          "intervalStart": "2026-05-01T00:00:00+00:00",
                          "intervalEnd": "2026-05-02T00:00:00+00:00",
                          "totalSettlementAmount": 6971.81,
                          "totalFeeAmount": 341.61869,
                          "totalNetAmount": 6630.19131,
                          "totalTransactionsPending": 38,
                          "totalTransactionsSettled": 109,
                          "totalTransactionsSettling": 23
                        },
                        {
                          "intervalStart": "2026-05-02T00:00:00+00:00",
                          "intervalEnd": "2026-05-03T00:00:00+00:00",
                          "totalSettlementAmount": 3896.41,
                          "totalFeeAmount": 190.92409,
                          "totalNetAmount": 3705.48591,
                          "totalTransactionsPending": 17,
                          "totalTransactionsSettled": 189,
                          "totalTransactionsSettling": 16
                        },
                        {
                          "intervalStart": "2026-05-03T00:00:00+00:00",
                          "intervalEnd": "2026-05-04T00:00:00+00:00",
                          "totalSettlementAmount": 6333.32,
                          "totalFeeAmount": 310.33268,
                          "totalNetAmount": 6022.98732,
                          "totalTransactionsPending": 19,
                          "totalTransactionsSettled": 39,
                          "totalTransactionsSettling": 191
                        },
                        {
                          "intervalStart": "2026-05-04T00:00:00+00:00",
                          "intervalEnd": "2026-05-05T00:00:00+00:00",
                          "totalSettlementAmount": 2124.81,
                          "totalFeeAmount": 104.11569,
                          "totalNetAmount": 2020.69431,
                          "totalTransactionsPending": 13,
                          "totalTransactionsSettled": 58,
                          "totalTransactionsSettling": 157
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-28T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-29T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 9647.83
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 472.74367
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 9175.08633
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 16
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 428
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 22
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 10,
                    "data": [
                      {
                        "email": "halvorson.kristin@koelpin.com",
                        "firstName": "Elroy",
                        "lastName": "Herman",
                        "phone": "+17263662254",
                        "dateOfBirth": "1998-04-24"
                      },
                      {
                        "email": "reynold51@gmail.com",
                        "firstName": "Leilani",
                        "lastName": "Champlin",
                        "phone": "+15632438143",
                        "dateOfBirth": "1975-08-12"
                      },
                      {
                        "email": "domenico46@yahoo.com",
                        "firstName": "Alva",
                        "lastName": "Nikolaus",
                        "phone": "+12205260603",
                        "dateOfBirth": "1992-07-13"
                      },
                      {
                        "email": "jayme.blanda@okeefe.net",
                        "firstName": "Stefanie",
                        "lastName": "Muller",
                        "phone": "+14697952421",
                        "dateOfBirth": "1976-03-04"
                      },
                      {
                        "email": "adriana46@kertzmann.com",
                        "firstName": "Kellie",
                        "lastName": "Vandervort",
                        "phone": "+14429765298",
                        "dateOfBirth": "1987-12-29"
                      },
                      {
                        "email": "halvorson.myron@metz.com",
                        "firstName": "Camron",
                        "lastName": "Dare",
                        "phone": "+12795392360",
                        "dateOfBirth": "1982-04-11"
                      },
                      {
                        "email": "sbashirian@hotmail.com",
                        "firstName": "River",
                        "lastName": "Barton",
                        "phone": "+16125243557",
                        "dateOfBirth": "1976-12-17"
                      },
                      {
                        "email": "aborer@balistreri.biz",
                        "firstName": "Linda",
                        "lastName": "Kuhn",
                        "phone": "+14755779771",
                        "dateOfBirth": "1999-03-24"
                      },
                      {
                        "email": "yklocko@schimmel.net",
                        "firstName": "Louie",
                        "lastName": "Littel",
                        "phone": "+15596964047",
                        "dateOfBirth": "1981-07-08"
                      },
                      {
                        "email": "pcorkery@cruickshank.info",
                        "firstName": "Esmeralda",
                        "lastName": "Hansen",
                        "phone": "+15639678549",
                        "dateOfBirth": "1974-12-19"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 10,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "halvorson.kristin@koelpin.com",
                          "firstName": "Elroy",
                          "lastName": "Herman",
                          "phone": "+17263662254",
                          "dateOfBirth": "1998-04-24"
                        },
                        {
                          "email": "reynold51@gmail.com",
                          "firstName": "Leilani",
                          "lastName": "Champlin",
                          "phone": "+15632438143",
                          "dateOfBirth": "1975-08-12"
                        },
                        {
                          "email": "domenico46@yahoo.com",
                          "firstName": "Alva",
                          "lastName": "Nikolaus",
                          "phone": "+12205260603",
                          "dateOfBirth": "1992-07-13"
                        },
                        {
                          "email": "jayme.blanda@okeefe.net",
                          "firstName": "Stefanie",
                          "lastName": "Muller",
                          "phone": "+14697952421",
                          "dateOfBirth": "1976-03-04"
                        },
                        {
                          "email": "adriana46@kertzmann.com",
                          "firstName": "Kellie",
                          "lastName": "Vandervort",
                          "phone": "+14429765298",
                          "dateOfBirth": "1987-12-29"
                        },
                        {
                          "email": "halvorson.myron@metz.com",
                          "firstName": "Camron",
                          "lastName": "Dare",
                          "phone": "+12795392360",
                          "dateOfBirth": "1982-04-11"
                        },
                        {
                          "email": "sbashirian@hotmail.com",
                          "firstName": "River",
                          "lastName": "Barton",
                          "phone": "+16125243557",
                          "dateOfBirth": "1976-12-17"
                        },
                        {
                          "email": "aborer@balistreri.biz",
                          "firstName": "Linda",
                          "lastName": "Kuhn",
                          "phone": "+14755779771",
                          "dateOfBirth": "1999-03-24"
                        },
                        {
                          "email": "yklocko@schimmel.net",
                          "firstName": "Louie",
                          "lastName": "Littel",
                          "phone": "+15596964047",
                          "dateOfBirth": "1981-07-08"
                        },
                        {
                          "email": "pcorkery@cruickshank.info",
                          "firstName": "Esmeralda",
                          "lastName": "Hansen",
                          "phone": "+15639678549",
                          "dateOfBirth": "1974-12-19"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "halvorson.kristin@koelpin.com"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Elroy"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Herman"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+17263662254"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "1998-04-24"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customer/{customerIdOrEmail}": {
      "get": {
        "summary": "Get Customer",
        "operationId": "getCustomer",
        "description": "Returns a single customer by their ID, UUID, or email address.",
        "parameters": [
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date fields. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix) and abbreviations (e.g., MST).",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date fields. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix) and abbreviations (e.g., MST).",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The customer with their addresses and pay tokens",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "email": "gabe78@kub.org"
                  },
                  "properties": {
                    "email": {
                      "type": "string",
                      "example": "gabe78@kub.org"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "post": {
        "summary": "Update or Create Customer",
        "operationId": "updateOrCreateCustomer",
        "description": "Creates a customer if they do not exist, or updates an existing one.\nSupports setting `defaultPayToken` (by token value) and `defaultAddress` (by address UUID).",
        "parameters": [
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The upserted customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "email": "stewart27@mills.com"
                  },
                  "properties": {
                    "email": {
                      "type": "string",
                      "example": "stewart27@mills.com"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "path",
          "name": "customerIdOrEmail",
          "description": "The customer ID, UUID, or email address",
          "example": "customer_123",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers/{customerIdOrEmail}/addresses": {
      "get": {
        "summary": "List Customer Billing Addresses",
        "operationId": "listCustomerBillingAddresses",
        "description": "Returns all unique billing addresses that have been used by a customer across their payments.\nAddresses are deduplicated using case-insensitive and whitespace-insensitive comparison.",
        "parameters": [
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
[...]
