{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.74.0"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payout Exports",
      "description": "Create payout exports"
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/api/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-04-26T00:00:00+00:00",
                      "periodEnd": "2026-05-03T00:00:00+00:00",
                      "numPaymentsCreated": 3026,
                      "numPaymentsProcessed": 1215,
                      "numPaymentsIncomplete": 1811,
                      "numPaymentsWithRefunds": 745,
                      "numCardPresentPayments": 569,
                      "numCardNotPresentPayments": 1242,
                      "totalCapturedAmount": 3350131.8,
                      "totalRefundedAmount": 576111.72,
                      "totalNetCapturedAmount": 2774020.08,
                      "averageNetCapturedAmount": 3677.5428571429,
                      "minNetCapturedAmount": 13.01,
                      "maxNetCapturedAmount": 9614,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-04-26T00:00:00+00:00",
                          "intervalEnd": "2026-04-27T00:00:00+00:00",
                          "numPaymentsCreated": 707,
                          "numPaymentsProcessed": 246,
                          "numPaymentsIncomplete": 461,
                          "numPaymentsWithRefunds": 225,
                          "numCardPresentPayments": 145,
                          "numCardNotPresentPayments": 316,
                          "totalCapturedAmount": 301788.05,
                          "totalRefundedAmount": 58660.82,
                          "totalNetCapturedAmount": 243127.23,
                          "averageNetCapturedAmount": 988.32,
                          "minNetCapturedAmount": 99.22,
                          "maxNetCapturedAmount": 4641.47
                        },
                        {
                          "intervalStart": "2026-04-27T00:00:00+00:00",
                          "intervalEnd": "2026-04-28T00:00:00+00:00",
                          "numPaymentsCreated": 385,
                          "numPaymentsProcessed": 109,
                          "numPaymentsIncomplete": 276,
                          "numPaymentsWithRefunds": 91,
                          "numCardPresentPayments": 35,
                          "numCardNotPresentPayments": 241,
                          "totalCapturedAmount": 855681.77,
                          "totalRefundedAmount": 124636.06,
                          "totalNetCapturedAmount": 731045.71,
                          "averageNetCapturedAmount": 6706.84,
                          "minNetCapturedAmount": 34.82,
                          "maxNetCapturedAmount": 4891.66
                        },
                        {
                          "intervalStart": "2026-04-28T00:00:00+00:00",
                          "intervalEnd": "2026-04-29T00:00:00+00:00",
                          "numPaymentsCreated": 503,
                          "numPaymentsProcessed": 206,
                          "numPaymentsIncomplete": 297,
                          "numPaymentsWithRefunds": 107,
                          "numCardPresentPayments": 124,
                          "numCardNotPresentPayments": 173,
                          "totalCapturedAmount": 25061.15,
                          "totalRefundedAmount": 7435.25,
                          "totalNetCapturedAmount": 17625.9,
                          "averageNetCapturedAmount": 85.56,
                          "minNetCapturedAmount": 28.76,
                          "maxNetCapturedAmount": 5564.36
                        },
                        {
                          "intervalStart": "2026-04-29T00:00:00+00:00",
                          "intervalEnd": "2026-04-30T00:00:00+00:00",
                          "numPaymentsCreated": 171,
                          "numPaymentsProcessed": 57,
                          "numPaymentsIncomplete": 114,
                          "numPaymentsWithRefunds": 43,
                          "numCardPresentPayments": 38,
                          "numCardNotPresentPayments": 76,
                          "totalCapturedAmount": 783529.49,
                          "totalRefundedAmount": 33950.63,
                          "totalNetCapturedAmount": 749578.86,
                          "averageNetCapturedAmount": 13150.51,
                          "minNetCapturedAmount": 36.21,
                          "maxNetCapturedAmount": 3965.99
                        },
                        {
                          "intervalStart": "2026-04-30T00:00:00+00:00",
                          "intervalEnd": "2026-05-01T00:00:00+00:00",
                          "numPaymentsCreated": 622,
                          "numPaymentsProcessed": 169,
                          "numPaymentsIncomplete": 453,
                          "numPaymentsWithRefunds": 161,
                          "numCardPresentPayments": 138,
                          "numCardNotPresentPayments": 315,
                          "totalCapturedAmount": 451769.88,
                          "totalRefundedAmount": 118945.13,
                          "totalNetCapturedAmount": 332824.75,
                          "averageNetCapturedAmount": 1969.38,
                          "minNetCapturedAmount": 97.46,
                          "maxNetCapturedAmount": 5600.47
                        },
                        {
                          "intervalStart": "2026-05-01T00:00:00+00:00",
                          "intervalEnd": "2026-05-02T00:00:00+00:00",
                          "numPaymentsCreated": 253,
                          "numPaymentsProcessed": 109,
                          "numPaymentsIncomplete": 144,
                          "numPaymentsWithRefunds": 96,
                          "numCardPresentPayments": 18,
                          "numCardNotPresentPayments": 126,
                          "totalCapturedAmount": 150130.42,
                          "totalRefundedAmount": 42770.09,
                          "totalNetCapturedAmount": 107360.33,
                          "averageNetCapturedAmount": 984.96,
                          "minNetCapturedAmount": 13.01,
                          "maxNetCapturedAmount": 9614
                        },
                        {
                          "intervalStart": "2026-05-02T00:00:00+00:00",
                          "intervalEnd": "2026-05-03T00:00:00+00:00",
                          "numPaymentsCreated": 385,
                          "numPaymentsProcessed": 319,
                          "numPaymentsIncomplete": 66,
                          "numPaymentsWithRefunds": 22,
                          "numCardPresentPayments": 71,
                          "numCardNotPresentPayments": -5,
                          "totalCapturedAmount": 782171.04,
                          "totalRefundedAmount": 189713.74,
                          "totalNetCapturedAmount": 592457.3,
                          "averageNetCapturedAmount": 1857.23,
                          "minNetCapturedAmount": 35.15,
                          "maxNetCapturedAmount": 6715.9
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-04-26T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-05-03T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "numPaymentsCreated": {
                          "type": "integer",
                          "example": 3026,
                          "description": "Total number of payment records created in the period",
                          "enum": []
                        },
                        "numPaymentsProcessed": {
                          "type": "integer",
                          "example": 1215,
                          "description": "Number of payments that have successfully had funds captured (captured amount > 0)",
                          "enum": []
                        },
                        "numPaymentsIncomplete": {
                          "type": "integer",
                          "example": 1811,
                          "description": "Number of payments which have been created but funds have not been captured yet (e.g. failures, declines, authorizations, etc.)",
                          "enum": []
                        },
                        "numPaymentsWithRefunds": {
                          "type": "integer",
                          "example": 745,
                          "description": "Number of payments that have had one or more refunds (refunded amount > 0)",
                          "enum": []
                        },
                        "numCardPresentPayments": {
                          "type": "integer",
                          "example": 569,
                          "description": "Number of payments made with card present (e.g. via terminal device)",
                          "enum": []
                        },
                        "numCardNotPresentPayments": {
                          "type": "integer",
                          "example": 1242,
                          "description": "Number of payments made with card not present (e.g. online payments)",
                          "enum": []
                        },
                        "totalCapturedAmount": {
                          "type": "number",
                          "example": 3350131.8,
                          "description": "Total amount captured across all payments in the period",
                          "enum": []
                        },
                        "totalRefundedAmount": {
                          "type": "number",
                          "example": 576111.72,
                          "description": "Total amount refunded across all payments in the period",
                          "enum": []
                        },
                        "totalNetCapturedAmount": {
                          "type": "number",
                          "example": 2774020.08,
                          "description": "Net captured amount (captured - refunded) across all payments in the period",
                          "enum": []
                        },
                        "averageNetCapturedAmount": {
                          "type": "number",
                          "example": 3677.5428571429,
                          "description": "Average net captured amount per payment in the period",
                          "enum": []
                        },
                        "minNetCapturedAmount": {
                          "type": "number",
                          "example": 13.01,
                          "description": "Minimum net captured amount in the period",
                          "enum": []
                        },
                        "maxNetCapturedAmount": {
                          "type": "integer",
                          "example": 9614,
                          "description": "Maximum net captured amount in the period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-04-26T00:00:00+00:00",
                              "intervalEnd": "2026-04-27T00:00:00+00:00",
                              "numPaymentsCreated": 707,
                              "numPaymentsProcessed": 246,
                              "numPaymentsIncomplete": 461,
                              "numPaymentsWithRefunds": 225,
                              "numCardPresentPayments": 145,
                              "numCardNotPresentPayments": 316,
                              "totalCapturedAmount": 301788.05,
                              "totalRefundedAmount": 58660.82,
                              "totalNetCapturedAmount": 243127.23,
                              "averageNetCapturedAmount": 988.32,
                              "minNetCapturedAmount": 99.22,
                              "maxNetCapturedAmount": 4641.47
                            },
                            {
                              "intervalStart": "2026-04-27T00:00:00+00:00",
                              "intervalEnd": "2026-04-28T00:00:00+00:00",
                              "numPaymentsCreated": 385,
                              "numPaymentsProcessed": 109,
                              "numPaymentsIncomplete": 276,
                              "numPaymentsWithRefunds": 91,
                              "numCardPresentPayments": 35,
                              "numCardNotPresentPayments": 241,
                              "totalCapturedAmount": 855681.77,
                              "totalRefundedAmount": 124636.06,
                              "totalNetCapturedAmount": 731045.71,
                              "averageNetCapturedAmount": 6706.84,
                              "minNetCapturedAmount": 34.82,
                              "maxNetCapturedAmount": 4891.66
                            },
                            {
                              "intervalStart": "2026-04-28T00:00:00+00:00",
                              "intervalEnd": "2026-04-29T00:00:00+00:00",
                              "numPaymentsCreated": 503,
                              "numPaymentsProcessed": 206,
                              "numPaymentsIncomplete": 297,
                              "numPaymentsWithRefunds": 107,
                              "numCardPresentPayments": 124,
                              "numCardNotPresentPayments": 173,
                              "totalCapturedAmount": 25061.15,
                              "totalRefundedAmount": 7435.25,
                              "totalNetCapturedAmount": 17625.9,
                              "averageNetCapturedAmount": 85.56,
                              "minNetCapturedAmount": 28.76,
                              "maxNetCapturedAmount": 5564.36
                            },
                            {
                              "intervalStart": "2026-04-29T00:00:00+00:00",
                              "intervalEnd": "2026-04-30T00:00:00+00:00",
                              "numPaymentsCreated": 171,
                              "numPaymentsProcessed": 57,
                              "numPaymentsIncomplete": 114,
                              "numPaymentsWithRefunds": 43,
                              "numCardPresentPayments": 38,
                              "numCardNotPresentPayments": 76,
                              "totalCapturedAmount": 783529.49,
                              "totalRefundedAmount": 33950.63,
                              "totalNetCapturedAmount": 749578.86,
                              "averageNetCapturedAmount": 13150.51,
                              "minNetCapturedAmount": 36.21,
                              "maxNetCapturedAmount": 3965.99
                            },
                            {
                              "intervalStart": "2026-04-30T00:00:00+00:00",
                              "intervalEnd": "2026-05-01T00:00:00+00:00",
                              "numPaymentsCreated": 622,
                              "numPaymentsProcessed": 169,
                              "numPaymentsIncomplete": 453,
                              "numPaymentsWithRefunds": 161,
                              "numCardPresentPayments": 138,
                              "numCardNotPresentPayments": 315,
                              "totalCapturedAmount": 451769.88,
                              "totalRefundedAmount": 118945.13,
                              "totalNetCapturedAmount": 332824.75,
                              "averageNetCapturedAmount": 1969.38,
                              "minNetCapturedAmount": 97.46,
                              "maxNetCapturedAmount": 5600.47
                            },
                            {
                              "intervalStart": "2026-05-01T00:00:00+00:00",
                              "intervalEnd": "2026-05-02T00:00:00+00:00",
                              "numPaymentsCreated": 253,
                              "numPaymentsProcessed": 109,
                              "numPaymentsIncomplete": 144,
                              "numPaymentsWithRefunds": 96,
                              "numCardPresentPayments": 18,
                              "numCardNotPresentPayments": 126,
                              "totalCapturedAmount": 150130.42,
                              "totalRefundedAmount": 42770.09,
                              "totalNetCapturedAmount": 107360.33,
                              "averageNetCapturedAmount": 984.96,
                              "minNetCapturedAmount": 13.01,
                              "maxNetCapturedAmount": 9614
                            },
                            {
                              "intervalStart": "2026-05-02T00:00:00+00:00",
                              "intervalEnd": "2026-05-03T00:00:00+00:00",
                              "numPaymentsCreated": 385,
                              "numPaymentsProcessed": 319,
                              "numPaymentsIncomplete": 66,
                              "numPaymentsWithRefunds": 22,
                              "numCardPresentPayments": 71,
                              "numCardNotPresentPayments": -5,
                              "totalCapturedAmount": 782171.04,
                              "totalRefundedAmount": 189713.74,
                              "totalNetCapturedAmount": 592457.3,
                              "averageNetCapturedAmount": 1857.23,
                              "minNetCapturedAmount": 35.15,
                              "maxNetCapturedAmount": 6715.9
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-04-26T00:00:00+00:00",
                                "description": "Start time of the PaymentAnalyticsData interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-04-27T00:00:00+00:00",
                                "description": "End time of the PaymentAnalyticsData interval",
                                "enum": []
                              },
                              "numPaymentsCreated": {
                                "type": "integer",
                                "example": 707,
                                "description": "Total number of payment records created in the interval",
                                "enum": []
                              },
                              "numPaymentsProcessed": {
                                "type": "integer",
                                "example": 246,
                                "description": "Number of payments that have successfully had funds captured (captured amount > 0)",
                                "enum": []
                              },
                              "numPaymentsIncomplete": {
                                "type": "integer",
                                "example": 461,
                                "description": "Number of payments which have been created but funds have not been captured yet (e.g. failures, declines, authorizations, etc.)",
                                "enum": []
                              },
                              "numPaymentsWithRefunds": {
                                "type": "integer",
                                "example": 225,
                                "description": "Number of payments that have had one or more refunds (refunded amount > 0)",
                                "enum": []
                              },
                              "numCardPresentPayments": {
                                "type": "integer",
                                "example": 145,
                                "description": "Number of payments made with card present (e.g. via terminal device)",
                                "enum": []
                              },
                              "numCardNotPresentPayments": {
                                "type": "integer",
                                "example": 316,
                                "description": "Number of payments made with card not present (e.g. online payments)",
                                "enum": []
                              },
                              "totalCapturedAmount": {
                                "type": "number",
                                "example": 301788.05,
                                "description": "Total amount captured across all payments in the interval",
                                "enum": []
                              },
                              "totalRefundedAmount": {
                                "type": "number",
                                "example": 58660.82,
                                "description": "Total amount refunded across all payments in the interval",
                                "enum": []
                              },
                              "totalNetCapturedAmount": {
                                "type": "number",
                                "example": 243127.23,
                                "description": "Net captured amount (captured - refunded) across all payments in the interval",
                                "enum": []
                              },
                              "averageNetCapturedAmount": {
                                "type": "number",
                                "example": 988.32,
                                "description": "Average net captured amount per payment in the interval",
                                "enum": []
                              },
                              "minNetCapturedAmount": {
                                "type": "number",
                                "example": 99.22,
                                "description": "Minimum net captured amount in the interval",
                                "enum": []
                              },
                              "maxNetCapturedAmount": {
                                "type": "number",
                                "example": 4641.47,
                                "description": "Maximum net captured amount in the interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-04-26T00:00:00+00:00",
                      "periodEnd": "2026-05-03T00:00:00+00:00",
                      "activeCustomers": 176,
                      "newCustomers": 194,
                      "returningCustomers": -18,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-04-26T00:00:00+00:00",
                          "intervalEnd": "2026-04-27T00:00:00+00:00",
                          "activeCustomers": 41,
                          "newCustomers": 26,
                          "returningCustomers": 15
                        },
                        {
                          "intervalStart": "2026-04-27T00:00:00+00:00",
                          "intervalEnd": "2026-04-28T00:00:00+00:00",
                          "activeCustomers": 72,
                          "newCustomers": 16,
                          "returningCustomers": 56
                        },
                        {
                          "intervalStart": "2026-04-28T00:00:00+00:00",
                          "intervalEnd": "2026-04-29T00:00:00+00:00",
                          "activeCustomers": 82,
                          "newCustomers": 14,
                          "returningCustomers": 68
                        },
                        {
                          "intervalStart": "2026-04-29T00:00:00+00:00",
                          "intervalEnd": "2026-04-30T00:00:00+00:00",
                          "activeCustomers": 61,
                          "newCustomers": 47,
                          "returningCustomers": 14
                        },
                        {
                          "intervalStart": "2026-04-30T00:00:00+00:00",
                          "intervalEnd": "2026-05-01T00:00:00+00:00",
                          "activeCustomers": 20,
                          "newCustomers": 14,
                          "returningCustomers": 6
                        },
                        {
                          "intervalStart": "2026-05-01T00:00:00+00:00",
                          "intervalEnd": "2026-05-02T00:00:00+00:00",
                          "activeCustomers": 15,
                          "newCustomers": 7,
                          "returningCustomers": 8
                        },
                        {
                          "intervalStart": "2026-05-02T00:00:00+00:00",
                          "intervalEnd": "2026-05-03T00:00:00+00:00",
                          "activeCustomers": 75,
                          "newCustomers": 70,
                          "returningCustomers": 5
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-04-26T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-05-03T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "activeCustomers": {
                          "type": "integer",
                          "example": 176,
                          "description": "number of customers who are associated with at least one payment which was created in the period",
                          "enum": []
                        },
                        "newCustomers": {
                          "type": "integer",
                          "example": 194,
                          "description": "number of new customers added in the period",
                          "enum": []
                        },
                        "returningCustomers": {
                          "type": "integer",
                          "example": -18,
                          "description": "number of customers who were active in the period but were created before the period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-04-26T00:00:00+00:00",
                              "intervalEnd": "2026-04-27T00:00:00+00:00",
                              "activeCustomers": 41,
                              "newCustomers": 26,
                              "returningCustomers": 15
                            },
                            {
                              "intervalStart": "2026-04-27T00:00:00+00:00",
                              "intervalEnd": "2026-04-28T00:00:00+00:00",
                              "activeCustomers": 72,
                              "newCustomers": 16,
                              "returningCustomers": 56
                            },
                            {
                              "intervalStart": "2026-04-28T00:00:00+00:00",
                              "intervalEnd": "2026-04-29T00:00:00+00:00",
                              "activeCustomers": 82,
                              "newCustomers": 14,
                              "returningCustomers": 68
                            },
                            {
                              "intervalStart": "2026-04-29T00:00:00+00:00",
                              "intervalEnd": "2026-04-30T00:00:00+00:00",
                              "activeCustomers": 61,
                              "newCustomers": 47,
                              "returningCustomers": 14
                            },
                            {
                              "intervalStart": "2026-04-30T00:00:00+00:00",
                              "intervalEnd": "2026-05-01T00:00:00+00:00",
                              "activeCustomers": 20,
                              "newCustomers": 14,
                              "returningCustomers": 6
                            },
                            {
                              "intervalStart": "2026-05-01T00:00:00+00:00",
                              "intervalEnd": "2026-05-02T00:00:00+00:00",
                              "activeCustomers": 15,
                              "newCustomers": 7,
                              "returningCustomers": 8
                            },
                            {
                              "intervalStart": "2026-05-02T00:00:00+00:00",
                              "intervalEnd": "2026-05-03T00:00:00+00:00",
                              "activeCustomers": 75,
                              "newCustomers": 70,
                              "returningCustomers": 5
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-04-26T00:00:00+00:00",
                                "description": "Start time of the analytics calculation interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-04-27T00:00:00+00:00",
                                "description": "End time of the analytics calculation interval",
                                "enum": []
                              },
                              "activeCustomers": {
                                "type": "integer",
                                "example": 41,
                                "description": "number of customers who are associated with at least one payment which was created in the interval",
                                "enum": []
                              },
                              "newCustomers": {
                                "type": "integer",
                                "example": 26,
                                "description": "number of new customers added in the interval",
                                "enum": []
                              },
                              "returningCustomers": {
                                "type": "integer",
                                "example": 15,
                                "description": "number of customers who were active in the interval but were created before the interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-04-26T00:00:00+00:00",
                      "periodEnd": "2026-05-03T00:00:00+00:00",
                      "totalTransactions": 3356,
                      "authorizeTransactions": 241,
                      "captureTransactions": 291,
                      "payTransactions": 987,
                      "refundTransactions": 1191,
                      "verifyTransactions": 313,
                      "voidTransactions": 333,
                      "successfulTransactions": 3016,
                      "failedTransactions": 248,
                      "declinedTransactions": 68,
                      "pendingTransactions": 24,
                      "unknownTransactions": 0,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-04-26T00:00:00+00:00",
                          "intervalEnd": "2026-04-27T00:00:00+00:00",
                          "totalTransactions": 106,
                          "authorizeTransactions": 13,
                          "captureTransactions": 16,
                          "payTransactions": 53,
                          "refundTransactions": 16,
                          "verifyTransactions": 6,
                          "voidTransactions": 2,
                          "successfulTransactions": 95,
                          "failedTransactions": 5,
                          "declinedTransactions": 5,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-27T00:00:00+00:00",
                          "intervalEnd": "2026-04-28T00:00:00+00:00",
                          "totalTransactions": 613,
                          "authorizeTransactions": 24,
                          "captureTransactions": 34,
                          "payTransactions": 47,
                          "refundTransactions": 444,
                          "verifyTransactions": 36,
                          "voidTransactions": 28,
                          "successfulTransactions": 551,
                          "failedTransactions": 51,
                          "declinedTransactions": 6,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-28T00:00:00+00:00",
                          "intervalEnd": "2026-04-29T00:00:00+00:00",
                          "totalTransactions": 394,
                          "authorizeTransactions": 44,
                          "captureTransactions": 53,
                          "payTransactions": 292,
                          "refundTransactions": 5,
                          "verifyTransactions": 1,
                          "voidTransactions": -1,
                          "successfulTransactions": 354,
                          "failedTransactions": 23,
                          "declinedTransactions": 14,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-29T00:00:00+00:00",
                          "intervalEnd": "2026-04-30T00:00:00+00:00",
                          "totalTransactions": 851,
                          "authorizeTransactions": 40,
                          "captureTransactions": 46,
                          "payTransactions": 277,
                          "refundTransactions": 268,
                          "verifyTransactions": 126,
                          "voidTransactions": 94,
                          "successfulTransactions": 765,
                          "failedTransactions": 69,
                          "declinedTransactions": 12,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-30T00:00:00+00:00",
                          "intervalEnd": "2026-05-01T00:00:00+00:00",
                          "totalTransactions": 353,
                          "authorizeTransactions": 21,
                          "captureTransactions": 26,
                          "payTransactions": 30,
                          "refundTransactions": 206,
                          "verifyTransactions": 25,
                          "voidTransactions": 45,
                          "successfulTransactions": 317,
                          "failedTransactions": 21,
                          "declinedTransactions": 13,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-05-01T00:00:00+00:00",
                          "intervalEnd": "2026-05-02T00:00:00+00:00",
                          "totalTransactions": 881,
                          "authorizeTransactions": 89,
                          "captureTransactions": 98,
                          "payTransactions": 246,
                          "refundTransactions": 221,
                          "verifyTransactions": 95,
                          "voidTransactions": 132,
                          "successfulTransactions": 792,
                          "failedTransactions": 67,
                          "declinedTransactions": 15,
                          "pendingTransactions": 7,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-05-02T00:00:00+00:00",
                          "intervalEnd": "2026-05-03T00:00:00+00:00",
                          "totalTransactions": 158,
                          "authorizeTransactions": 10,
                          "captureTransactions": 18,
                          "payTransactions": 42,
                          "refundTransactions": 31,
                          "verifyTransactions": 24,
                          "voidTransactions": 33,
                          "successfulTransactions": 142,
                          "failedTransactions": 12,
                          "declinedTransactions": 3,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-04-26T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-05-03T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "totalTransactions": {
                          "type": "integer",
                          "example": 3356,
                          "description": "Total number of transactions in the period",
                          "enum": []
                        },
                        "authorizeTransactions": {
                          "type": "integer",
                          "example": 241,
                          "description": "Number of authorize transactions in the period",
                          "enum": []
                        },
                        "captureTransactions": {
                          "type": "integer",
                          "example": 291,
                          "description": "Number of capture transactions in the period",
                          "enum": []
                        },
                        "payTransactions": {
                          "type": "integer",
                          "example": 987,
                          "description": "Number of pay transactions in the period",
                          "enum": []
                        },
                        "refundTransactions": {
                          "type": "integer",
                          "example": 1191,
                          "description": "Number of refund transactions in the period",
                          "enum": []
                        },
                        "verifyTransactions": {
                          "type": "integer",
                          "example": 313,
                          "description": "Number of verify transactions in the period",
                          "enum": []
                        },
                        "voidTransactions": {
                          "type": "integer",
                          "example": 333,
                          "description": "Number of void transactions in the period",
                          "enum": []
                        },
                        "successfulTransactions": {
                          "type": "integer",
                          "example": 3016,
                          "description": "Number of successful transactions in the period",
                          "enum": []
                        },
                        "failedTransactions": {
                          "type": "integer",
                          "example": 248,
                          "description": "Number of failed transactions in the period",
                          "enum": []
                        },
                        "declinedTransactions": {
                          "type": "integer",
                          "example": 68,
                          "description": "Number of declined transactions in the period",
                          "enum": []
                        },
                        "pendingTransactions": {
                          "type": "integer",
                          "example": 24,
                          "description": "Number of pending transactions in the period",
                          "enum": []
                        },
                        "unknownTransactions": {
                          "type": "integer",
                          "example": 0,
                          "description": "Number of transactions with unknown result in the period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-04-26T00:00:00+00:00",
                              "intervalEnd": "2026-04-27T00:00:00+00:00",
                              "totalTransactions": 106,
                              "authorizeTransactions": 13,
                              "captureTransactions": 16,
                              "payTransactions": 53,
                              "refundTransactions": 16,
                              "verifyTransactions": 6,
                              "voidTransactions": 2,
                              "successfulTransactions": 95,
                              "failedTransactions": 5,
                              "declinedTransactions": 5,
                              "pendingTransactions": 1,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-04-27T00:00:00+00:00",
                              "intervalEnd": "2026-04-28T00:00:00+00:00",
                              "totalTransactions": 613,
                              "authorizeTransactions": 24,
                              "captureTransactions": 34,
                              "payTransactions": 47,
                              "refundTransactions": 444,
                              "verifyTransactions": 36,
                              "voidTransactions": 28,
                              "successfulTransactions": 551,
                              "failedTransactions": 51,
                              "declinedTransactions": 6,
                              "pendingTransactions": 5,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-04-28T00:00:00+00:00",
                              "intervalEnd": "2026-04-29T00:00:00+00:00",
                              "totalTransactions": 394,
                              "authorizeTransactions": 44,
                              "captureTransactions": 53,
                              "payTransactions": 292,
                              "refundTransactions": 5,
                              "verifyTransactions": 1,
                              "voidTransactions": -1,
                              "successfulTransactions": 354,
                              "failedTransactions": 23,
                              "declinedTransactions": 14,
                              "pendingTransactions": 3,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-04-29T00:00:00+00:00",
                              "intervalEnd": "2026-04-30T00:00:00+00:00",
                              "totalTransactions": 851,
                              "authorizeTransactions": 40,
                              "captureTransactions": 46,
                              "payTransactions": 277,
                              "refundTransactions": 268,
                              "verifyTransactions": 126,
                              "voidTransactions": 94,
                              "successfulTransactions": 765,
                              "failedTransactions": 69,
                              "declinedTransactions": 12,
                              "pendingTransactions": 5,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-04-30T00:00:00+00:00",
                              "intervalEnd": "2026-05-01T00:00:00+00:00",
                              "totalTransactions": 353,
                              "authorizeTransactions": 21,
                              "captureTransactions": 26,
                              "payTransactions": 30,
                              "refundTransactions": 206,
                              "verifyTransactions": 25,
                              "voidTransactions": 45,
                              "successfulTransactions": 317,
                              "failedTransactions": 21,
                              "declinedTransactions": 13,
                              "pendingTransactions": 2,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-05-01T00:00:00+00:00",
                              "intervalEnd": "2026-05-02T00:00:00+00:00",
                              "totalTransactions": 881,
                              "authorizeTransactions": 89,
                              "captureTransactions": 98,
                              "payTransactions": 246,
                              "refundTransactions": 221,
                              "verifyTransactions": 95,
                              "voidTransactions": 132,
                              "successfulTransactions": 792,
                              "failedTransactions": 67,
                              "declinedTransactions": 15,
                              "pendingTransactions": 7,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-05-02T00:00:00+00:00",
                              "intervalEnd": "2026-05-03T00:00:00+00:00",
                              "totalTransactions": 158,
                              "authorizeTransactions": 10,
                              "captureTransactions": 18,
                              "payTransactions": 42,
                              "refundTransactions": 31,
                              "verifyTransactions": 24,
                              "voidTransactions": 33,
                              "successfulTransactions": 142,
                              "failedTransactions": 12,
                              "declinedTransactions": 3,
                              "pendingTransactions": 1,
                              "unknownTransactions": 0
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-04-26T00:00:00+00:00",
                                "description": "Start time of the analytics calculation interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-04-27T00:00:00+00:00",
                                "description": "End time of the analytics calculation interval",
                                "enum": []
                              },
                              "totalTransactions": {
                                "type": "integer",
                                "example": 106,
                                "description": "Total number of transactions in the interval",
                                "enum": []
                              },
                              "authorizeTransactions": {
                                "type": "integer",
                                "example": 13,
                                "description": "Number of authorize transactions in the interval",
                                "enum": []
                              },
                              "captureTransactions": {
                                "type": "integer",
                                "example": 16,
                                "description": "Number of capture transactions in the interval",
                                "enum": []
                              },
                              "payTransactions": {
                                "type": "integer",
                                "example": 53,
                                "description": "Number of pay transactions in the interval",
                                "enum": []
                              },
                              "refundTransactions": {
                                "type": "integer",
                                "example": 16,
                                "description": "Number of refund transactions in the interval",
                                "enum": []
                              },
                              "verifyTransactions": {
                                "type": "integer",
                                "example": 6,
                                "description": "Number of verify transactions in the interval",
                                "enum": []
                              },
                              "voidTransactions": {
                                "type": "integer",
                                "example": 2,
                                "description": "Number of void transactions in the interval",
                                "enum": []
                              },
                              "successfulTransactions": {
                                "type": "integer",
                                "example": 95,
                                "description": "Number of successful transactions in the interval",
                                "enum": []
                              },
                              "failedTransactions": {
                                "type": "integer",
                                "example": 5,
                                "description": "Number of failed transactions in the interval",
                                "enum": []
                              },
                              "declinedTransactions": {
                                "type": "integer",
                                "example": 5,
                                "description": "Number of declined transactions in the interval",
                                "enum": []
                              },
                              "pendingTransactions": {
                                "type": "integer",
                                "example": 1,
                                "description": "Number of pending transactions in the interval",
                                "enum": []
                              },
                              "unknownTransactions": {
                                "type": "integer",
                                "example": 0,
                                "description": "Number of transactions with unknown result in the interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-04-26T00:00:00+00:00",
                      "periodEnd": "2026-05-03T00:00:00+00:00",
                      "totalSettlementAmount": 29851.41,
                      "totalFeeAmount": 1462.71909,
                      "totalNetAmount": 28388.69091,
                      "totalTransactionsPending": 152,
                      "totalTransactionsSettled": 1407,
                      "totalTransactionsSettling": 707,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-04-26T00:00:00+00:00",
                          "intervalEnd": "2026-04-27T00:00:00+00:00",
                          "totalSettlementAmount": 3866.53,
                          "totalFeeAmount": 189.45997,
                          "totalNetAmount": 3677.07003,
                          "totalTransactionsPending": 16,
                          "totalTransactionsSettled": 271,
                          "totalTransactionsSettling": 166
                        },
                        {
                          "intervalStart": "2026-04-27T00:00:00+00:00",
                          "intervalEnd": "2026-04-28T00:00:00+00:00",
                          "totalSettlementAmount": 1382.1,
                          "totalFeeAmount": 67.7229,
                          "totalNetAmount": 1314.3771,
                          "totalTransactionsPending": 40,
                          "totalTransactionsSettled": 221,
                          "totalTransactionsSettling": 234
                        },
                        {
                          "intervalStart": "2026-04-28T00:00:00+00:00",
                          "intervalEnd": "2026-04-29T00:00:00+00:00",
                          "totalSettlementAmount": 9498.47,
                          "totalFeeAmount": 465.42503,
                          "totalNetAmount": 9033.04497,
                          "totalTransactionsPending": 17,
                          "totalTransactionsSettled": 393,
                          "totalTransactionsSettling": 46
                        },
                        {
                          "intervalStart": "2026-04-29T00:00:00+00:00",
                          "intervalEnd": "2026-04-30T00:00:00+00:00",
                          "totalSettlementAmount": 4684.08,
                          "totalFeeAmount": 229.51992,
                          "totalNetAmount": 4454.56008,
                          "totalTransactionsPending": 18,
                          "totalTransactionsSettled": 53,
                          "totalTransactionsSettling": 38
                        },
                        {
                          "intervalStart": "2026-04-30T00:00:00+00:00",
                          "intervalEnd": "2026-05-01T00:00:00+00:00",
                          "totalSettlementAmount": 7249.34,
                          "totalFeeAmount": 355.21766,
                          "totalNetAmount": 6894.12234,
                          "totalTransactionsPending": 17,
                          "totalTransactionsSettled": 136,
                          "totalTransactionsSettling": 94
                        },
                        {
                          "intervalStart": "2026-05-01T00:00:00+00:00",
                          "intervalEnd": "2026-05-02T00:00:00+00:00",
                          "totalSettlementAmount": 2395.8,
                          "totalFeeAmount": 117.3942,
                          "totalNetAmount": 2278.4058,
                          "totalTransactionsPending": 15,
                          "totalTransactionsSettled": 229,
                          "totalTransactionsSettling": 73
                        },
                        {
                          "intervalStart": "2026-05-02T00:00:00+00:00",
                          "intervalEnd": "2026-05-03T00:00:00+00:00",
                          "totalSettlementAmount": 775.09,
                          "totalFeeAmount": 37.97941,
                          "totalNetAmount": 737.11059,
                          "totalTransactionsPending": 29,
                          "totalTransactionsSettled": 104,
                          "totalTransactionsSettling": 56
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-04-26T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-05-03T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "totalSettlementAmount": {
                          "type": "number",
                          "example": 29851.41,
                          "description": "Total settled payout amount in this period",
                          "enum": []
                        },
                        "totalFeeAmount": {
                          "type": "number",
                          "example": 1462.71909,
                          "description": "Total amount of fees charged for the payouts in this period",
                          "enum": []
                        },
                        "totalNetAmount": {
                          "type": "number",
                          "example": 28388.69091,
                          "description": "Total net payout amount in this period",
                          "enum": []
                        },
                        "totalTransactionsPending": {
                          "type": "integer",
                          "example": 152,
                          "description": "Total number of transactions pending in this period",
                          "enum": []
                        },
                        "totalTransactionsSettled": {
                          "type": "integer",
                          "example": 1407,
                          "description": "Total number of transactions settled in this period",
                          "enum": []
                        },
                        "totalTransactionsSettling": {
                          "type": "integer",
                          "example": 707,
                          "description": "Total number of transactions settling in this period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-04-26T00:00:00+00:00",
                              "intervalEnd": "2026-04-27T00:00:00+00:00",
                              "totalSettlementAmount": 3866.53,
                              "totalFeeAmount": 189.45997,
                              "totalNetAmount": 3677.07003,
                              "totalTransactionsPending": 16,
                              "totalTransactionsSettled": 271,
                              "totalTransactionsSettling": 166
                            },
                            {
                              "intervalStart": "2026-04-27T00:00:00+00:00",
                              "intervalEnd": "2026-04-28T00:00:00+00:00",
                              "totalSettlementAmount": 1382.1,
                              "totalFeeAmount": 67.7229,
                              "totalNetAmount": 1314.3771,
                              "totalTransactionsPending": 40,
                              "totalTransactionsSettled": 221,
                              "totalTransactionsSettling": 234
                            },
                            {
                              "intervalStart": "2026-04-28T00:00:00+00:00",
                              "intervalEnd": "2026-04-29T00:00:00+00:00",
                              "totalSettlementAmount": 9498.47,
                              "totalFeeAmount": 465.42503,
                              "totalNetAmount": 9033.04497,
                              "totalTransactionsPending": 17,
                              "totalTransactionsSettled": 393,
                              "totalTransactionsSettling": 46
                            },
                            {
                              "intervalStart": "2026-04-29T00:00:00+00:00",
                              "intervalEnd": "2026-04-30T00:00:00+00:00",
                              "totalSettlementAmount": 4684.08,
                              "totalFeeAmount": 229.51992,
                              "totalNetAmount": 4454.56008,
                              "totalTransactionsPending": 18,
                              "totalTransactionsSettled": 53,
                              "totalTransactionsSettling": 38
                            },
                            {
                              "intervalStart": "2026-04-30T00:00:00+00:00",
                              "intervalEnd": "2026-05-01T00:00:00+00:00",
                              "totalSettlementAmount": 7249.34,
                              "totalFeeAmount": 355.21766,
                              "totalNetAmount": 6894.12234,
                              "totalTransactionsPending": 17,
                              "totalTransactionsSettled": 136,
                              "totalTransactionsSettling": 94
                            },
                            {
                              "intervalStart": "2026-05-01T00:00:00+00:00",
                              "intervalEnd": "2026-05-02T00:00:00+00:00",
                              "totalSettlementAmount": 2395.8,
                              "totalFeeAmount": 117.3942,
                              "totalNetAmount": 2278.4058,
                              "totalTransactionsPending": 15,
                              "totalTransactionsSettled": 229,
                              "totalTransactionsSettling": 73
                            },
                            {
                              "intervalStart": "2026-05-02T00:00:00+00:00",
                              "intervalEnd": "2026-05-03T00:00:00+00:00",
                              "totalSettlementAmount": 775.09,
                              "totalFeeAmount": 37.97941,
                              "totalNetAmount": 737.11059,
                              "totalTransactionsPending": 29,
                              "totalTransactionsSettled": 104,
                              "totalTransactionsSettling": 56
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-04-26T00:00:00+00:00",
                                "description": "Start time of the analytics calculation interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-04-27T00:00:00+00:00",
                                "description": "End time of the analytics calculation interval",
                                "enum": []
                              },
                              "totalSettlementAmount": {
                                "type": "number",
                                "example": 3866.53,
                                "description": "Total settled payout amount in this interval",
                                "enum": []
                              },
                              "totalFeeAmount": {
                                "type": "number",
                                "example": 189.45997,
                                "description": "Total amount of fees charged for the payouts in this interval",
                                "enum": []
                              },
                              "totalNetAmount": {
                                "type": "number",
                                "example": 3677.07003,
                                "description": "Total net payout amount in this interval",
                                "enum": []
                              },
                              "totalTransactionsPending": {
                                "type": "integer",
                                "example": 16,
                                "description": "Total number of transactions pending in this interval",
                                "enum": []
                              },
                              "totalTransactionsSettled": {
                                "type": "integer",
                                "example": 271,
                                "description": "Total number of transactions settled in this interval",
                                "enum": []
                              },
                              "totalTransactionsSettling": {
                                "type": "integer",
                                "example": 166,
                                "description": "Total number of transactions settling in this interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
[...]
