{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.74.0"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payout Exports",
      "description": "Create payout exports"
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-21T00:00:00+00:00",
                    "periodEnd": "2026-04-28T00:00:00+00:00",
                    "numPaymentsCreated": 3412,
                    "numPaymentsProcessed": 887,
                    "numPaymentsIncomplete": 2525,
                    "numPaymentsWithRefunds": 282,
                    "numCardPresentPayments": 346,
                    "numCardNotPresentPayments": 2179,
                    "totalCapturedAmount": 3139352.28,
                    "totalRefundedAmount": 414241.15,
                    "totalNetCapturedAmount": 2725111.13,
                    "averageNetCapturedAmount": 3498.35,
                    "minNetCapturedAmount": 77.77,
                    "maxNetCapturedAmount": 9876.52,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-21T00:00:00+00:00",
                        "intervalEnd": "2026-04-22T00:00:00+00:00",
                        "numPaymentsCreated": 523,
                        "numPaymentsProcessed": 101,
                        "numPaymentsIncomplete": 422,
                        "numPaymentsWithRefunds": 47,
                        "numCardPresentPayments": 6,
                        "numCardNotPresentPayments": 416,
                        "totalCapturedAmount": 884044.69,
                        "totalRefundedAmount": 136381.11,
                        "totalNetCapturedAmount": 747663.58,
                        "averageNetCapturedAmount": 7402.61,
                        "minNetCapturedAmount": 94.57,
                        "maxNetCapturedAmount": 4144.35
                      },
                      {
                        "intervalStart": "2026-04-22T00:00:00+00:00",
                        "intervalEnd": "2026-04-23T00:00:00+00:00",
                        "numPaymentsCreated": 985,
                        "numPaymentsProcessed": 188,
                        "numPaymentsIncomplete": 797,
                        "numPaymentsWithRefunds": 72,
                        "numCardPresentPayments": 29,
                        "numCardNotPresentPayments": 768,
                        "totalCapturedAmount": 465230.82,
                        "totalRefundedAmount": 39059.24,
                        "totalNetCapturedAmount": 426171.58,
                        "averageNetCapturedAmount": 2266.87,
                        "minNetCapturedAmount": 96.62,
                        "maxNetCapturedAmount": 9876.52
                      },
                      {
                        "intervalStart": "2026-04-23T00:00:00+00:00",
                        "intervalEnd": "2026-04-24T00:00:00+00:00",
                        "numPaymentsCreated": 344,
                        "numPaymentsProcessed": 124,
                        "numPaymentsIncomplete": 220,
                        "numPaymentsWithRefunds": 35,
                        "numCardPresentPayments": 30,
                        "numCardNotPresentPayments": 190,
                        "totalCapturedAmount": 121710.84,
                        "totalRefundedAmount": 26082.63,
                        "totalNetCapturedAmount": 95628.21,
                        "averageNetCapturedAmount": 771.2,
                        "minNetCapturedAmount": 96.91,
                        "maxNetCapturedAmount": 3609.65
                      },
                      {
                        "intervalStart": "2026-04-24T00:00:00+00:00",
                        "intervalEnd": "2026-04-25T00:00:00+00:00",
                        "numPaymentsCreated": 460,
                        "numPaymentsProcessed": 139,
                        "numPaymentsIncomplete": 321,
                        "numPaymentsWithRefunds": 2,
                        "numCardPresentPayments": 130,
                        "numCardNotPresentPayments": 191,
                        "totalCapturedAmount": 304232.9,
                        "totalRefundedAmount": 24608.73,
                        "totalNetCapturedAmount": 279624.17,
                        "averageNetCapturedAmount": 2011.68,
                        "minNetCapturedAmount": 77.77,
                        "maxNetCapturedAmount": 2270.64
                      },
                      {
                        "intervalStart": "2026-04-25T00:00:00+00:00",
                        "intervalEnd": "2026-04-26T00:00:00+00:00",
                        "numPaymentsCreated": 724,
                        "numPaymentsProcessed": 203,
                        "numPaymentsIncomplete": 521,
                        "numPaymentsWithRefunds": 45,
                        "numCardPresentPayments": 118,
                        "numCardNotPresentPayments": 403,
                        "totalCapturedAmount": 587986.07,
                        "totalRefundedAmount": 37776.07,
                        "totalNetCapturedAmount": 550210,
                        "averageNetCapturedAmount": 2710.39,
                        "minNetCapturedAmount": 96.75,
                        "maxNetCapturedAmount": 6828.83
                      },
                      {
                        "intervalStart": "2026-04-26T00:00:00+00:00",
                        "intervalEnd": "2026-04-27T00:00:00+00:00",
                        "numPaymentsCreated": 113,
                        "numPaymentsProcessed": 68,
                        "numPaymentsIncomplete": 45,
                        "numPaymentsWithRefunds": 39,
                        "numCardPresentPayments": 15,
                        "numCardNotPresentPayments": 30,
                        "totalCapturedAmount": 592937.08,
                        "totalRefundedAmount": 100467.74,
                        "totalNetCapturedAmount": 492469.34,
                        "averageNetCapturedAmount": 7242.2,
                        "minNetCapturedAmount": 94.56,
                        "maxNetCapturedAmount": 9559.87
                      },
                      {
                        "intervalStart": "2026-04-27T00:00:00+00:00",
                        "intervalEnd": "2026-04-28T00:00:00+00:00",
                        "numPaymentsCreated": 263,
                        "numPaymentsProcessed": 64,
                        "numPaymentsIncomplete": 199,
                        "numPaymentsWithRefunds": 42,
                        "numCardPresentPayments": 18,
                        "numCardNotPresentPayments": 181,
                        "totalCapturedAmount": 183209.88,
                        "totalRefundedAmount": 49865.63,
                        "totalNetCapturedAmount": 133344.25,
                        "averageNetCapturedAmount": 2083.5,
                        "minNetCapturedAmount": 78.42,
                        "maxNetCapturedAmount": 3155.12
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-21T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-28T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 3412
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 887
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 2525
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 282
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 346
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": 2179
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 3139352.28
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 414241.15
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 2725111.13
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 3498.35
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 77.77
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 9876.52
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-21T00:00:00+00:00",
                          "intervalEnd": "2026-04-22T00:00:00+00:00",
                          "numPaymentsCreated": 523,
                          "numPaymentsProcessed": 101,
                          "numPaymentsIncomplete": 422,
                          "numPaymentsWithRefunds": 47,
                          "numCardPresentPayments": 6,
                          "numCardNotPresentPayments": 416,
                          "totalCapturedAmount": 884044.69,
                          "totalRefundedAmount": 136381.11,
                          "totalNetCapturedAmount": 747663.58,
                          "averageNetCapturedAmount": 7402.61,
                          "minNetCapturedAmount": 94.57,
                          "maxNetCapturedAmount": 4144.35
                        },
                        {
                          "intervalStart": "2026-04-22T00:00:00+00:00",
                          "intervalEnd": "2026-04-23T00:00:00+00:00",
                          "numPaymentsCreated": 985,
                          "numPaymentsProcessed": 188,
                          "numPaymentsIncomplete": 797,
                          "numPaymentsWithRefunds": 72,
                          "numCardPresentPayments": 29,
                          "numCardNotPresentPayments": 768,
                          "totalCapturedAmount": 465230.82,
                          "totalRefundedAmount": 39059.24,
                          "totalNetCapturedAmount": 426171.58,
                          "averageNetCapturedAmount": 2266.87,
                          "minNetCapturedAmount": 96.62,
                          "maxNetCapturedAmount": 9876.52
                        },
                        {
                          "intervalStart": "2026-04-23T00:00:00+00:00",
                          "intervalEnd": "2026-04-24T00:00:00+00:00",
                          "numPaymentsCreated": 344,
                          "numPaymentsProcessed": 124,
                          "numPaymentsIncomplete": 220,
                          "numPaymentsWithRefunds": 35,
                          "numCardPresentPayments": 30,
                          "numCardNotPresentPayments": 190,
                          "totalCapturedAmount": 121710.84,
                          "totalRefundedAmount": 26082.63,
                          "totalNetCapturedAmount": 95628.21,
                          "averageNetCapturedAmount": 771.2,
                          "minNetCapturedAmount": 96.91,
                          "maxNetCapturedAmount": 3609.65
                        },
                        {
                          "intervalStart": "2026-04-24T00:00:00+00:00",
                          "intervalEnd": "2026-04-25T00:00:00+00:00",
                          "numPaymentsCreated": 460,
                          "numPaymentsProcessed": 139,
                          "numPaymentsIncomplete": 321,
                          "numPaymentsWithRefunds": 2,
                          "numCardPresentPayments": 130,
                          "numCardNotPresentPayments": 191,
                          "totalCapturedAmount": 304232.9,
                          "totalRefundedAmount": 24608.73,
                          "totalNetCapturedAmount": 279624.17,
                          "averageNetCapturedAmount": 2011.68,
                          "minNetCapturedAmount": 77.77,
                          "maxNetCapturedAmount": 2270.64
                        },
                        {
                          "intervalStart": "2026-04-25T00:00:00+00:00",
                          "intervalEnd": "2026-04-26T00:00:00+00:00",
                          "numPaymentsCreated": 724,
                          "numPaymentsProcessed": 203,
                          "numPaymentsIncomplete": 521,
                          "numPaymentsWithRefunds": 45,
                          "numCardPresentPayments": 118,
                          "numCardNotPresentPayments": 403,
                          "totalCapturedAmount": 587986.07,
                          "totalRefundedAmount": 37776.07,
                          "totalNetCapturedAmount": 550210,
                          "averageNetCapturedAmount": 2710.39,
                          "minNetCapturedAmount": 96.75,
                          "maxNetCapturedAmount": 6828.83
                        },
                        {
                          "intervalStart": "2026-04-26T00:00:00+00:00",
                          "intervalEnd": "2026-04-27T00:00:00+00:00",
                          "numPaymentsCreated": 113,
                          "numPaymentsProcessed": 68,
                          "numPaymentsIncomplete": 45,
                          "numPaymentsWithRefunds": 39,
                          "numCardPresentPayments": 15,
                          "numCardNotPresentPayments": 30,
                          "totalCapturedAmount": 592937.08,
                          "totalRefundedAmount": 100467.74,
                          "totalNetCapturedAmount": 492469.34,
                          "averageNetCapturedAmount": 7242.2,
                          "minNetCapturedAmount": 94.56,
                          "maxNetCapturedAmount": 9559.87
                        },
                        {
                          "intervalStart": "2026-04-27T00:00:00+00:00",
                          "intervalEnd": "2026-04-28T00:00:00+00:00",
                          "numPaymentsCreated": 263,
                          "numPaymentsProcessed": 64,
                          "numPaymentsIncomplete": 199,
                          "numPaymentsWithRefunds": 42,
                          "numCardPresentPayments": 18,
                          "numCardNotPresentPayments": 181,
                          "totalCapturedAmount": 183209.88,
                          "totalRefundedAmount": 49865.63,
                          "totalNetCapturedAmount": 133344.25,
                          "averageNetCapturedAmount": 2083.5,
                          "minNetCapturedAmount": 78.42,
                          "maxNetCapturedAmount": 3155.12
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-21T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-22T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 523
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 101
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 422
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 47
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 6
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": 416
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 884044.69
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 136381.11
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 747663.58
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 7402.61
                          },
                          "minNetCapturedAmount": {
                            "type": "number",
                            "example": 94.57
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 4144.35
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-21T00:00:00+00:00",
                    "periodEnd": "2026-04-28T00:00:00+00:00",
                    "activeCustomers": 133,
                    "newCustomers": 128,
                    "returningCustomers": 5,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-21T00:00:00+00:00",
                        "intervalEnd": "2026-04-22T00:00:00+00:00",
                        "activeCustomers": 68,
                        "newCustomers": 15,
                        "returningCustomers": 53
                      },
                      {
                        "intervalStart": "2026-04-22T00:00:00+00:00",
                        "intervalEnd": "2026-04-23T00:00:00+00:00",
                        "activeCustomers": 26,
                        "newCustomers": 19,
                        "returningCustomers": 7
                      },
                      {
                        "intervalStart": "2026-04-23T00:00:00+00:00",
                        "intervalEnd": "2026-04-24T00:00:00+00:00",
                        "activeCustomers": 11,
                        "newCustomers": 6,
                        "returningCustomers": 5
                      },
                      {
                        "intervalStart": "2026-04-24T00:00:00+00:00",
                        "intervalEnd": "2026-04-25T00:00:00+00:00",
                        "activeCustomers": 53,
                        "newCustomers": 41,
                        "returningCustomers": 12
                      },
                      {
                        "intervalStart": "2026-04-25T00:00:00+00:00",
                        "intervalEnd": "2026-04-26T00:00:00+00:00",
                        "activeCustomers": 12,
                        "newCustomers": 9,
                        "returningCustomers": 3
                      },
                      {
                        "intervalStart": "2026-04-26T00:00:00+00:00",
                        "intervalEnd": "2026-04-27T00:00:00+00:00",
                        "activeCustomers": 30,
                        "newCustomers": 24,
                        "returningCustomers": 6
                      },
                      {
                        "intervalStart": "2026-04-27T00:00:00+00:00",
                        "intervalEnd": "2026-04-28T00:00:00+00:00",
                        "activeCustomers": 20,
                        "newCustomers": 14,
                        "returningCustomers": 6
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-21T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-28T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 133
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 128
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": 5
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-21T00:00:00+00:00",
                          "intervalEnd": "2026-04-22T00:00:00+00:00",
                          "activeCustomers": 68,
                          "newCustomers": 15,
                          "returningCustomers": 53
                        },
                        {
                          "intervalStart": "2026-04-22T00:00:00+00:00",
                          "intervalEnd": "2026-04-23T00:00:00+00:00",
                          "activeCustomers": 26,
                          "newCustomers": 19,
                          "returningCustomers": 7
                        },
                        {
                          "intervalStart": "2026-04-23T00:00:00+00:00",
                          "intervalEnd": "2026-04-24T00:00:00+00:00",
                          "activeCustomers": 11,
                          "newCustomers": 6,
                          "returningCustomers": 5
                        },
                        {
                          "intervalStart": "2026-04-24T00:00:00+00:00",
                          "intervalEnd": "2026-04-25T00:00:00+00:00",
                          "activeCustomers": 53,
                          "newCustomers": 41,
                          "returningCustomers": 12
                        },
                        {
                          "intervalStart": "2026-04-25T00:00:00+00:00",
                          "intervalEnd": "2026-04-26T00:00:00+00:00",
                          "activeCustomers": 12,
                          "newCustomers": 9,
                          "returningCustomers": 3
                        },
                        {
                          "intervalStart": "2026-04-26T00:00:00+00:00",
                          "intervalEnd": "2026-04-27T00:00:00+00:00",
                          "activeCustomers": 30,
                          "newCustomers": 24,
                          "returningCustomers": 6
                        },
                        {
                          "intervalStart": "2026-04-27T00:00:00+00:00",
                          "intervalEnd": "2026-04-28T00:00:00+00:00",
                          "activeCustomers": 20,
                          "newCustomers": 14,
                          "returningCustomers": 6
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-21T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-22T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 68
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 15
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 53
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-21T00:00:00+00:00",
                    "periodEnd": "2026-04-28T00:00:00+00:00",
                    "totalTransactions": 2538,
                    "authorizeTransactions": 180,
                    "captureTransactions": 226,
                    "payTransactions": 1477,
                    "refundTransactions": 332,
                    "verifyTransactions": 202,
                    "voidTransactions": 121,
                    "successfulTransactions": 2280,
                    "failedTransactions": 181,
                    "declinedTransactions": 60,
                    "pendingTransactions": 17,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-21T00:00:00+00:00",
                        "intervalEnd": "2026-04-22T00:00:00+00:00",
                        "totalTransactions": 420,
                        "authorizeTransactions": 33,
                        "captureTransactions": 42,
                        "payTransactions": 307,
                        "refundTransactions": 13,
                        "verifyTransactions": 23,
                        "voidTransactions": 2,
                        "successfulTransactions": 378,
                        "failedTransactions": 33,
                        "declinedTransactions": 5,
                        "pendingTransactions": 4,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-22T00:00:00+00:00",
                        "intervalEnd": "2026-04-23T00:00:00+00:00",
                        "totalTransactions": 543,
                        "authorizeTransactions": 10,
                        "captureTransactions": 14,
                        "payTransactions": 411,
                        "refundTransactions": 104,
                        "verifyTransactions": 5,
                        "voidTransactions": -1,
                        "successfulTransactions": 488,
                        "failedTransactions": 45,
                        "declinedTransactions": 6,
                        "pendingTransactions": 4,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-23T00:00:00+00:00",
                        "intervalEnd": "2026-04-24T00:00:00+00:00",
                        "totalTransactions": 103,
                        "authorizeTransactions": 11,
                        "captureTransactions": 19,
                        "payTransactions": 58,
                        "refundTransactions": 5,
                        "verifyTransactions": 10,
                        "voidTransactions": 0,
                        "successfulTransactions": 92,
                        "failedTransactions": 7,
                        "declinedTransactions": 3,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-24T00:00:00+00:00",
                        "intervalEnd": "2026-04-25T00:00:00+00:00",
                        "totalTransactions": 292,
                        "authorizeTransactions": 24,
                        "captureTransactions": 26,
                        "payTransactions": 112,
                        "refundTransactions": 68,
                        "verifyTransactions": 21,
                        "voidTransactions": 41,
                        "successfulTransactions": 262,
                        "failedTransactions": 15,
                        "declinedTransactions": 13,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-25T00:00:00+00:00",
                        "intervalEnd": "2026-04-26T00:00:00+00:00",
                        "totalTransactions": 262,
                        "authorizeTransactions": 24,
                        "captureTransactions": 33,
                        "payTransactions": 109,
                        "refundTransactions": 60,
                        "verifyTransactions": 22,
                        "voidTransactions": 14,
                        "successfulTransactions": 235,
                        "failedTransactions": 19,
                        "declinedTransactions": 7,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-26T00:00:00+00:00",
                        "intervalEnd": "2026-04-27T00:00:00+00:00",
                        "totalTransactions": 515,
                        "authorizeTransactions": 63,
                        "captureTransactions": 73,
                        "payTransactions": 186,
                        "refundTransactions": 27,
                        "verifyTransactions": 104,
                        "voidTransactions": 62,
                        "successfulTransactions": 463,
                        "failedTransactions": 39,
                        "declinedTransactions": 10,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-27T00:00:00+00:00",
                        "intervalEnd": "2026-04-28T00:00:00+00:00",
                        "totalTransactions": 403,
                        "authorizeTransactions": 15,
                        "captureTransactions": 19,
                        "payTransactions": 294,
                        "refundTransactions": 55,
                        "verifyTransactions": 17,
                        "voidTransactions": 3,
                        "successfulTransactions": 362,
                        "failedTransactions": 23,
                        "declinedTransactions": 16,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-21T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-28T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 2538
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 180
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 226
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 1477
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 332
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 202
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 121
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 2280
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 181
                    },
                    "declinedTransactions": {
                      "type": "integer",
                      "example": 60
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 17
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-21T00:00:00+00:00",
                          "intervalEnd": "2026-04-22T00:00:00+00:00",
                          "totalTransactions": 420,
                          "authorizeTransactions": 33,
                          "captureTransactions": 42,
                          "payTransactions": 307,
                          "refundTransactions": 13,
                          "verifyTransactions": 23,
                          "voidTransactions": 2,
                          "successfulTransactions": 378,
                          "failedTransactions": 33,
                          "declinedTransactions": 5,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-22T00:00:00+00:00",
                          "intervalEnd": "2026-04-23T00:00:00+00:00",
                          "totalTransactions": 543,
                          "authorizeTransactions": 10,
                          "captureTransactions": 14,
                          "payTransactions": 411,
                          "refundTransactions": 104,
                          "verifyTransactions": 5,
                          "voidTransactions": -1,
                          "successfulTransactions": 488,
                          "failedTransactions": 45,
                          "declinedTransactions": 6,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-23T00:00:00+00:00",
                          "intervalEnd": "2026-04-24T00:00:00+00:00",
                          "totalTransactions": 103,
                          "authorizeTransactions": 11,
                          "captureTransactions": 19,
                          "payTransactions": 58,
                          "refundTransactions": 5,
                          "verifyTransactions": 10,
                          "voidTransactions": 0,
                          "successfulTransactions": 92,
                          "failedTransactions": 7,
                          "declinedTransactions": 3,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-24T00:00:00+00:00",
                          "intervalEnd": "2026-04-25T00:00:00+00:00",
                          "totalTransactions": 292,
                          "authorizeTransactions": 24,
                          "captureTransactions": 26,
                          "payTransactions": 112,
                          "refundTransactions": 68,
                          "verifyTransactions": 21,
                          "voidTransactions": 41,
                          "successfulTransactions": 262,
                          "failedTransactions": 15,
                          "declinedTransactions": 13,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-25T00:00:00+00:00",
                          "intervalEnd": "2026-04-26T00:00:00+00:00",
                          "totalTransactions": 262,
                          "authorizeTransactions": 24,
                          "captureTransactions": 33,
                          "payTransactions": 109,
                          "refundTransactions": 60,
                          "verifyTransactions": 22,
                          "voidTransactions": 14,
                          "successfulTransactions": 235,
                          "failedTransactions": 19,
                          "declinedTransactions": 7,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-26T00:00:00+00:00",
                          "intervalEnd": "2026-04-27T00:00:00+00:00",
                          "totalTransactions": 515,
                          "authorizeTransactions": 63,
                          "captureTransactions": 73,
                          "payTransactions": 186,
                          "refundTransactions": 27,
                          "verifyTransactions": 104,
                          "voidTransactions": 62,
                          "successfulTransactions": 463,
                          "failedTransactions": 39,
                          "declinedTransactions": 10,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-27T00:00:00+00:00",
                          "intervalEnd": "2026-04-28T00:00:00+00:00",
                          "totalTransactions": 403,
                          "authorizeTransactions": 15,
                          "captureTransactions": 19,
                          "payTransactions": 294,
                          "refundTransactions": 55,
                          "verifyTransactions": 17,
                          "voidTransactions": 3,
                          "successfulTransactions": 362,
                          "failedTransactions": 23,
                          "declinedTransactions": 16,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-21T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-22T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 420
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 33
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 42
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 307
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 13
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 23
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": 2
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 378
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 33
                          },
                          "declinedTransactions": {
                            "type": "integer",
                            "example": 5
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 4
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-21T00:00:00+00:00",
                    "periodEnd": "2026-04-28T00:00:00+00:00",
                    "totalSettlementAmount": 47577.83,
                    "totalFeeAmount": 2331.31367,
                    "totalNetAmount": 45246.51633,
                    "totalTransactionsPending": 188,
                    "totalTransactionsSettled": 976,
                    "totalTransactionsSettling": 923,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-21T00:00:00+00:00",
                        "intervalEnd": "2026-04-22T00:00:00+00:00",
                        "totalSettlementAmount": 8914.19,
                        "totalFeeAmount": 436.79531,
                        "totalNetAmount": 8477.39469,
                        "totalTransactionsPending": 37,
                        "totalTransactionsSettled": 298,
                        "totalTransactionsSettling": 108
                      },
                      {
                        "intervalStart": "2026-04-22T00:00:00+00:00",
                        "intervalEnd": "2026-04-23T00:00:00+00:00",
                        "totalSettlementAmount": 4822.81,
                        "totalFeeAmount": 236.31769,
                        "totalNetAmount": 4586.49231,
                        "totalTransactionsPending": 15,
                        "totalTransactionsSettled": 53,
                        "totalTransactionsSettling": 97
                      },
                      {
                        "intervalStart": "2026-04-23T00:00:00+00:00",
                        "intervalEnd": "2026-04-24T00:00:00+00:00",
                        "totalSettlementAmount": 6900.79,
                        "totalFeeAmount": 338.13871,
                        "totalNetAmount": 6562.65129,
                        "totalTransactionsPending": 31,
                        "totalTransactionsSettled": 100,
                        "totalTransactionsSettling": 127
                      },
                      {
                        "intervalStart": "2026-04-24T00:00:00+00:00",
                        "intervalEnd": "2026-04-25T00:00:00+00:00",
                        "totalSettlementAmount": 4698.93,
                        "totalFeeAmount": 230.24757,
                        "totalNetAmount": 4468.68243,
                        "totalTransactionsPending": 24,
                        "totalTransactionsSettled": 349,
                        "totalTransactionsSettling": 92
                      },
                      {
                        "intervalStart": "2026-04-25T00:00:00+00:00",
                        "intervalEnd": "2026-04-26T00:00:00+00:00",
                        "totalSettlementAmount": 9246.03,
                        "totalFeeAmount": 453.05547,
                        "totalNetAmount": 8792.97453,
                        "totalTransactionsPending": 18,
                        "totalTransactionsSettled": 71,
                        "totalTransactionsSettling": 20
                      },
                      {
                        "intervalStart": "2026-04-26T00:00:00+00:00",
                        "intervalEnd": "2026-04-27T00:00:00+00:00",
                        "totalSettlementAmount": 3152.05,
                        "totalFeeAmount": 154.45045,
                        "totalNetAmount": 2997.59955,
                        "totalTransactionsPending": 31,
                        "totalTransactionsSettled": 56,
                        "totalTransactionsSettling": 404
                      },
                      {
                        "intervalStart": "2026-04-27T00:00:00+00:00",
                        "intervalEnd": "2026-04-28T00:00:00+00:00",
                        "totalSettlementAmount": 9843.03,
                        "totalFeeAmount": 482.30847,
                        "totalNetAmount": 9360.72153,
                        "totalTransactionsPending": 32,
                        "totalTransactionsSettled": 49,
                        "totalTransactionsSettling": 75
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-21T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-28T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 47577.83
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 2331.31367
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 45246.51633
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 188
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 976
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 923
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-21T00:00:00+00:00",
                          "intervalEnd": "2026-04-22T00:00:00+00:00",
                          "totalSettlementAmount": 8914.19,
                          "totalFeeAmount": 436.79531,
                          "totalNetAmount": 8477.39469,
                          "totalTransactionsPending": 37,
                          "totalTransactionsSettled": 298,
                          "totalTransactionsSettling": 108
                        },
                        {
                          "intervalStart": "2026-04-22T00:00:00+00:00",
                          "intervalEnd": "2026-04-23T00:00:00+00:00",
                          "totalSettlementAmount": 4822.81,
                          "totalFeeAmount": 236.31769,
                          "totalNetAmount": 4586.49231,
                          "totalTransactionsPending": 15,
                          "totalTransactionsSettled": 53,
                          "totalTransactionsSettling": 97
                        },
                        {
                          "intervalStart": "2026-04-23T00:00:00+00:00",
                          "intervalEnd": "2026-04-24T00:00:00+00:00",
                          "totalSettlementAmount": 6900.79,
                          "totalFeeAmount": 338.13871,
                          "totalNetAmount": 6562.65129,
                          "totalTransactionsPending": 31,
                          "totalTransactionsSettled": 100,
                          "totalTransactionsSettling": 127
                        },
                        {
                          "intervalStart": "2026-04-24T00:00:00+00:00",
                          "intervalEnd": "2026-04-25T00:00:00+00:00",
                          "totalSettlementAmount": 4698.93,
                          "totalFeeAmount": 230.24757,
                          "totalNetAmount": 4468.68243,
                          "totalTransactionsPending": 24,
                          "totalTransactionsSettled": 349,
                          "totalTransactionsSettling": 92
                        },
                        {
                          "intervalStart": "2026-04-25T00:00:00+00:00",
                          "intervalEnd": "2026-04-26T00:00:00+00:00",
                          "totalSettlementAmount": 9246.03,
                          "totalFeeAmount": 453.05547,
                          "totalNetAmount": 8792.97453,
                          "totalTransactionsPending": 18,
                          "totalTransactionsSettled": 71,
                          "totalTransactionsSettling": 20
                        },
                        {
                          "intervalStart": "2026-04-26T00:00:00+00:00",
                          "intervalEnd": "2026-04-27T00:00:00+00:00",
                          "totalSettlementAmount": 3152.05,
                          "totalFeeAmount": 154.45045,
                          "totalNetAmount": 2997.59955,
                          "totalTransactionsPending": 31,
                          "totalTransactionsSettled": 56,
                          "totalTransactionsSettling": 404
                        },
                        {
                          "intervalStart": "2026-04-27T00:00:00+00:00",
                          "intervalEnd": "2026-04-28T00:00:00+00:00",
                          "totalSettlementAmount": 9843.03,
                          "totalFeeAmount": 482.30847,
                          "totalNetAmount": 9360.72153,
                          "totalTransactionsPending": 32,
                          "totalTransactionsSettled": 49,
                          "totalTransactionsSettling": 75
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-21T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-22T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 8914.19
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 436.79531
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 8477.39469
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 37
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 298
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 108
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 5,
                    "data": [
                      {
                        "email": "kautzer.sarai@weissnat.info",
                        "firstName": "Mathilde",
                        "lastName": "Jenkins",
                        "phone": "+15052539431",
                        "dateOfBirth": "1971-08-15"
                      },
                      {
                        "email": "shanon13@yahoo.com",
                        "firstName": "Columbus",
                        "lastName": "Weimann",
                        "phone": "+16508299119",
                        "dateOfBirth": "1980-11-16"
                      },
                      {
                        "email": "koss.herman@quigley.com",
                        "firstName": "Jocelyn",
                        "lastName": "Kassulke",
                        "phone": "+17255888086",
                        "dateOfBirth": "1980-08-11"
                      },
                      {
                        "email": "alba.bogisich@yahoo.com",
                        "firstName": "Joyce",
                        "lastName": "Douglas",
                        "phone": "+13256615055",
                        "dateOfBirth": "1992-03-19"
                      },
                      {
                        "email": "zena.rice@yahoo.com",
                        "firstName": "Frederique",
                        "lastName": "Little",
                        "phone": "+18439637003",
                        "dateOfBirth": "1991-06-08"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 5,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "kautzer.sarai@weissnat.info",
                          "firstName": "Mathilde",
                          "lastName": "Jenkins",
                          "phone": "+15052539431",
                          "dateOfBirth": "1971-08-15"
                        },
                        {
                          "email": "shanon13@yahoo.com",
                          "firstName": "Columbus",
                          "lastName": "Weimann",
                          "phone": "+16508299119",
                          "dateOfBirth": "1980-11-16"
                        },
                        {
                          "email": "koss.herman@quigley.com",
                          "firstName": "Jocelyn",
                          "lastName": "Kassulke",
                          "phone": "+17255888086",
                          "dateOfBirth": "1980-08-11"
                        },
                        {
                          "email": "alba.bogisich@yahoo.com",
                          "firstName": "Joyce",
                          "lastName": "Douglas",
                          "phone": "+13256615055",
                          "dateOfBirth": "1992-03-19"
                        },
                        {
                          "email": "zena.rice@yahoo.com",
                          "firstName": "Frederique",
                          "lastName": "Little",
                          "phone": "+18439637003",
                          "dateOfBirth": "1991-06-08"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "kautzer.sarai@weissnat.info"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Mathilde"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Jenkins"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+15052539431"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "1971-08-15"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customer/{customerIdOrEmail}": {
      "get": {
        "summary": "Get Customer",
        "operationId": "getCustomer",
        "description": "Returns a single customer by their ID, UUID, or email address.",
        "parameters": [
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date fields. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix) and abbreviations (e.g., MST).",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date fields. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix) and abbreviations (e.g., MST).",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The customer with their addresses and pay tokens",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "email": "leonor11@prosacco.net"
                  },
                  "properties": {
                    "email": {
                      "type": "string",
                      "example": "leonor11@prosacco.net"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "post": {
        "summary": "Update or Create Customer",
        "operationId": "updateOrCreateCustomer",
        "description": "Creates a customer if they do not exist, or updates an existing one.\nSupports setting `defaultPayToken` (by token value) and `defaultAddress` (by address UUID).",
        "parameters": [
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The upserted customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "email": "ianderson@gmail.com"
                  },
                  "properties": {
                    "email": {
                      "type": "string",
                      "example": "ianderson@gmail.com"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "path",
          "name": "customerIdOrEmail",
          "description": "The customer ID, UUID, or email address",
          "example": "customer_123",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers/{customerIdOrEmail}/addresses": {
      "get": {
        "summary": "List Customer Billing Addresses",
        "operationId": "listCustomerBillingAddresses",
        "description": "Returns all unique billing addresses that have been used by a customer across their payments.\nAddresses are deduplicated using case-insensitive and whitespace-insensitive comparison.",
        "parameters": [
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
            "example": "-city",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
              "example": "-city",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of unique billing addresses for the customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "company": "Bradtke, Hills and Little",
                        "street": "3677 Fahey Route",
                        "city": "West Jace",
                        "stateProvince": "SD",
                        "postcodeZip": "38556-0707",
                        "country": "USA"
                      },
                      {
                        "company": "Wintheiser and Sons",
                        "street": "1197 Nannie Courts",
                        "city": "Lake Brayanchester",
                        "stateProvince": "AZ",
                        "postcodeZip": "27602",
                        "country": "USA"
                      },
                      {
                        "company": "Sawayn, Bode and Lynch",
                        "street": "83389 Blair Forges Suite 109",
                        "city": "Littlemouth",
                        "stateProvince": "IL",
                        "postcodeZip": "71089-8608",
                        "country": "USA"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "company": "Bradtke, Hills and Little",
                          "street": "3677 Fahey Route",
                          "city": "West Jace",
                          "stateProvince": "SD",
                          "postcodeZip": "38556-0707",
                          "country": "USA"
                        },
                        {
                          "company": "Wintheiser and Sons",
                          "street": "1197 Nannie Courts",
                          "city": "Lake Brayanchester",
                          "stateProvince": "AZ",
                          "postcodeZip": "27602",
[...]
