{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.61.0"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payout Exports",
      "description": "Create payout exports"
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-01T00:00:00+00:00",
                    "periodEnd": "2026-04-08T00:00:00+00:00",
                    "numPaymentsCreated": 4260,
                    "numPaymentsProcessed": 2486,
                    "numPaymentsIncomplete": 1774,
                    "numPaymentsWithRefunds": 1208,
                    "numCardPresentPayments": 1421,
                    "numCardNotPresentPayments": 353,
                    "totalCapturedAmount": 3198897.91,
                    "totalRefundedAmount": 537597.24,
                    "totalNetCapturedAmount": 2661300.67,
                    "averageNetCapturedAmount": 1704.44,
                    "minNetCapturedAmount": 16.03,
                    "maxNetCapturedAmount": 6547.43,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-01T00:00:00+00:00",
                        "intervalEnd": "2026-04-02T00:00:00+00:00",
                        "numPaymentsCreated": 740,
                        "numPaymentsProcessed": 576,
                        "numPaymentsIncomplete": 164,
                        "numPaymentsWithRefunds": 498,
                        "numCardPresentPayments": 223,
                        "numCardNotPresentPayments": -59,
                        "totalCapturedAmount": 362156.04,
                        "totalRefundedAmount": 35030.46,
                        "totalNetCapturedAmount": 327125.58,
                        "averageNetCapturedAmount": 567.93,
                        "minNetCapturedAmount": 54.11,
                        "maxNetCapturedAmount": 4092.83
                      },
                      {
                        "intervalStart": "2026-04-02T00:00:00+00:00",
                        "intervalEnd": "2026-04-03T00:00:00+00:00",
                        "numPaymentsCreated": 244,
                        "numPaymentsProcessed": 127,
                        "numPaymentsIncomplete": 117,
                        "numPaymentsWithRefunds": 94,
                        "numCardPresentPayments": 116,
                        "numCardNotPresentPayments": 1,
                        "totalCapturedAmount": 752334.83,
                        "totalRefundedAmount": 117596.82,
                        "totalNetCapturedAmount": 634738.01,
                        "averageNetCapturedAmount": 4997.94,
                        "minNetCapturedAmount": 31.83,
                        "maxNetCapturedAmount": 4364.24
                      },
                      {
                        "intervalStart": "2026-04-03T00:00:00+00:00",
                        "intervalEnd": "2026-04-04T00:00:00+00:00",
                        "numPaymentsCreated": 608,
                        "numPaymentsProcessed": 239,
                        "numPaymentsIncomplete": 369,
                        "numPaymentsWithRefunds": 85,
                        "numCardPresentPayments": 166,
                        "numCardNotPresentPayments": 203,
                        "totalCapturedAmount": 141751.9,
                        "totalRefundedAmount": 3353.23,
                        "totalNetCapturedAmount": 138398.67,
                        "averageNetCapturedAmount": 579.07,
                        "minNetCapturedAmount": 79.01,
                        "maxNetCapturedAmount": 1694.33
                      },
                      {
                        "intervalStart": "2026-04-04T00:00:00+00:00",
                        "intervalEnd": "2026-04-05T00:00:00+00:00",
                        "numPaymentsCreated": 816,
                        "numPaymentsProcessed": 605,
                        "numPaymentsIncomplete": 211,
                        "numPaymentsWithRefunds": 237,
                        "numCardPresentPayments": 382,
                        "numCardNotPresentPayments": -171,
                        "totalCapturedAmount": 842441.82,
                        "totalRefundedAmount": 161742.94,
                        "totalNetCapturedAmount": 680698.88,
                        "averageNetCapturedAmount": 1125.12,
                        "minNetCapturedAmount": 59.66,
                        "maxNetCapturedAmount": 5190.16
                      },
                      {
                        "intervalStart": "2026-04-05T00:00:00+00:00",
                        "intervalEnd": "2026-04-06T00:00:00+00:00",
                        "numPaymentsCreated": 941,
                        "numPaymentsProcessed": 262,
                        "numPaymentsIncomplete": 679,
                        "numPaymentsWithRefunds": 173,
                        "numCardPresentPayments": 248,
                        "numCardNotPresentPayments": 431,
                        "totalCapturedAmount": 271272.22,
                        "totalRefundedAmount": 78217.11,
                        "totalNetCapturedAmount": 193055.11,
                        "averageNetCapturedAmount": 736.85,
                        "minNetCapturedAmount": 16.03,
                        "maxNetCapturedAmount": 4953.38
                      },
                      {
                        "intervalStart": "2026-04-06T00:00:00+00:00",
                        "intervalEnd": "2026-04-07T00:00:00+00:00",
                        "numPaymentsCreated": 132,
                        "numPaymentsProcessed": 101,
                        "numPaymentsIncomplete": 31,
                        "numPaymentsWithRefunds": 46,
                        "numCardPresentPayments": 11,
                        "numCardNotPresentPayments": 20,
                        "totalCapturedAmount": 450797.23,
                        "totalRefundedAmount": 116319.28,
                        "totalNetCapturedAmount": 334477.95,
                        "averageNetCapturedAmount": 3311.66,
                        "minNetCapturedAmount": 75.22,
                        "maxNetCapturedAmount": 2456.08
                      },
                      {
                        "intervalStart": "2026-04-07T00:00:00+00:00",
                        "intervalEnd": "2026-04-08T00:00:00+00:00",
                        "numPaymentsCreated": 779,
                        "numPaymentsProcessed": 576,
                        "numPaymentsIncomplete": 203,
                        "numPaymentsWithRefunds": 75,
                        "numCardPresentPayments": 275,
                        "numCardNotPresentPayments": -72,
                        "totalCapturedAmount": 378143.87,
                        "totalRefundedAmount": 25337.4,
                        "totalNetCapturedAmount": 352806.47,
                        "averageNetCapturedAmount": 612.51,
                        "minNetCapturedAmount": 22.36,
                        "maxNetCapturedAmount": 6547.43
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-01T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-08T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 4260
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 2486
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 1774
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 1208
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 1421
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": 353
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 3198897.91
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 537597.24
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 2661300.67
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 1704.44
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 16.03
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 6547.43
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-01T00:00:00+00:00",
                          "intervalEnd": "2026-04-02T00:00:00+00:00",
                          "numPaymentsCreated": 740,
                          "numPaymentsProcessed": 576,
                          "numPaymentsIncomplete": 164,
                          "numPaymentsWithRefunds": 498,
                          "numCardPresentPayments": 223,
                          "numCardNotPresentPayments": -59,
                          "totalCapturedAmount": 362156.04,
                          "totalRefundedAmount": 35030.46,
                          "totalNetCapturedAmount": 327125.58,
                          "averageNetCapturedAmount": 567.93,
                          "minNetCapturedAmount": 54.11,
                          "maxNetCapturedAmount": 4092.83
                        },
                        {
                          "intervalStart": "2026-04-02T00:00:00+00:00",
                          "intervalEnd": "2026-04-03T00:00:00+00:00",
                          "numPaymentsCreated": 244,
                          "numPaymentsProcessed": 127,
                          "numPaymentsIncomplete": 117,
                          "numPaymentsWithRefunds": 94,
                          "numCardPresentPayments": 116,
                          "numCardNotPresentPayments": 1,
                          "totalCapturedAmount": 752334.83,
                          "totalRefundedAmount": 117596.82,
                          "totalNetCapturedAmount": 634738.01,
                          "averageNetCapturedAmount": 4997.94,
                          "minNetCapturedAmount": 31.83,
                          "maxNetCapturedAmount": 4364.24
                        },
                        {
                          "intervalStart": "2026-04-03T00:00:00+00:00",
                          "intervalEnd": "2026-04-04T00:00:00+00:00",
                          "numPaymentsCreated": 608,
                          "numPaymentsProcessed": 239,
                          "numPaymentsIncomplete": 369,
                          "numPaymentsWithRefunds": 85,
                          "numCardPresentPayments": 166,
                          "numCardNotPresentPayments": 203,
                          "totalCapturedAmount": 141751.9,
                          "totalRefundedAmount": 3353.23,
                          "totalNetCapturedAmount": 138398.67,
                          "averageNetCapturedAmount": 579.07,
                          "minNetCapturedAmount": 79.01,
                          "maxNetCapturedAmount": 1694.33
                        },
                        {
                          "intervalStart": "2026-04-04T00:00:00+00:00",
                          "intervalEnd": "2026-04-05T00:00:00+00:00",
                          "numPaymentsCreated": 816,
                          "numPaymentsProcessed": 605,
                          "numPaymentsIncomplete": 211,
                          "numPaymentsWithRefunds": 237,
                          "numCardPresentPayments": 382,
                          "numCardNotPresentPayments": -171,
                          "totalCapturedAmount": 842441.82,
                          "totalRefundedAmount": 161742.94,
                          "totalNetCapturedAmount": 680698.88,
                          "averageNetCapturedAmount": 1125.12,
                          "minNetCapturedAmount": 59.66,
                          "maxNetCapturedAmount": 5190.16
                        },
                        {
                          "intervalStart": "2026-04-05T00:00:00+00:00",
                          "intervalEnd": "2026-04-06T00:00:00+00:00",
                          "numPaymentsCreated": 941,
                          "numPaymentsProcessed": 262,
                          "numPaymentsIncomplete": 679,
                          "numPaymentsWithRefunds": 173,
                          "numCardPresentPayments": 248,
                          "numCardNotPresentPayments": 431,
                          "totalCapturedAmount": 271272.22,
                          "totalRefundedAmount": 78217.11,
                          "totalNetCapturedAmount": 193055.11,
                          "averageNetCapturedAmount": 736.85,
                          "minNetCapturedAmount": 16.03,
                          "maxNetCapturedAmount": 4953.38
                        },
                        {
                          "intervalStart": "2026-04-06T00:00:00+00:00",
                          "intervalEnd": "2026-04-07T00:00:00+00:00",
                          "numPaymentsCreated": 132,
                          "numPaymentsProcessed": 101,
                          "numPaymentsIncomplete": 31,
                          "numPaymentsWithRefunds": 46,
                          "numCardPresentPayments": 11,
                          "numCardNotPresentPayments": 20,
                          "totalCapturedAmount": 450797.23,
                          "totalRefundedAmount": 116319.28,
                          "totalNetCapturedAmount": 334477.95,
                          "averageNetCapturedAmount": 3311.66,
                          "minNetCapturedAmount": 75.22,
                          "maxNetCapturedAmount": 2456.08
                        },
                        {
                          "intervalStart": "2026-04-07T00:00:00+00:00",
                          "intervalEnd": "2026-04-08T00:00:00+00:00",
                          "numPaymentsCreated": 779,
                          "numPaymentsProcessed": 576,
                          "numPaymentsIncomplete": 203,
                          "numPaymentsWithRefunds": 75,
                          "numCardPresentPayments": 275,
                          "numCardNotPresentPayments": -72,
                          "totalCapturedAmount": 378143.87,
                          "totalRefundedAmount": 25337.4,
                          "totalNetCapturedAmount": 352806.47,
                          "averageNetCapturedAmount": 612.51,
                          "minNetCapturedAmount": 22.36,
                          "maxNetCapturedAmount": 6547.43
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-01T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-02T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 740
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 576
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 164
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 498
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 223
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": -59
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 362156.04
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 35030.46
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 327125.58
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 567.93
                          },
                          "minNetCapturedAmount": {
                            "type": "number",
                            "example": 54.11
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 4092.83
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-01T00:00:00+00:00",
                    "periodEnd": "2026-04-08T00:00:00+00:00",
                    "activeCustomers": 205,
                    "newCustomers": 209,
                    "returningCustomers": -4,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-01T00:00:00+00:00",
                        "intervalEnd": "2026-04-02T00:00:00+00:00",
                        "activeCustomers": 81,
                        "newCustomers": 25,
                        "returningCustomers": 56
                      },
                      {
                        "intervalStart": "2026-04-02T00:00:00+00:00",
                        "intervalEnd": "2026-04-03T00:00:00+00:00",
                        "activeCustomers": 61,
                        "newCustomers": 35,
                        "returningCustomers": 26
                      },
                      {
                        "intervalStart": "2026-04-03T00:00:00+00:00",
                        "intervalEnd": "2026-04-04T00:00:00+00:00",
                        "activeCustomers": 89,
                        "newCustomers": 77,
                        "returningCustomers": 12
                      },
                      {
                        "intervalStart": "2026-04-04T00:00:00+00:00",
                        "intervalEnd": "2026-04-05T00:00:00+00:00",
                        "activeCustomers": 10,
                        "newCustomers": 7,
                        "returningCustomers": 3
                      },
                      {
                        "intervalStart": "2026-04-05T00:00:00+00:00",
                        "intervalEnd": "2026-04-06T00:00:00+00:00",
                        "activeCustomers": 36,
                        "newCustomers": 33,
                        "returningCustomers": 3
                      },
                      {
                        "intervalStart": "2026-04-06T00:00:00+00:00",
                        "intervalEnd": "2026-04-07T00:00:00+00:00",
                        "activeCustomers": 50,
                        "newCustomers": 16,
                        "returningCustomers": 34
                      },
                      {
                        "intervalStart": "2026-04-07T00:00:00+00:00",
                        "intervalEnd": "2026-04-08T00:00:00+00:00",
                        "activeCustomers": 20,
                        "newCustomers": 16,
                        "returningCustomers": 4
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-01T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-08T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 205
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 209
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": -4
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-01T00:00:00+00:00",
                          "intervalEnd": "2026-04-02T00:00:00+00:00",
                          "activeCustomers": 81,
                          "newCustomers": 25,
                          "returningCustomers": 56
                        },
                        {
                          "intervalStart": "2026-04-02T00:00:00+00:00",
                          "intervalEnd": "2026-04-03T00:00:00+00:00",
                          "activeCustomers": 61,
                          "newCustomers": 35,
                          "returningCustomers": 26
                        },
                        {
                          "intervalStart": "2026-04-03T00:00:00+00:00",
                          "intervalEnd": "2026-04-04T00:00:00+00:00",
                          "activeCustomers": 89,
                          "newCustomers": 77,
                          "returningCustomers": 12
                        },
                        {
                          "intervalStart": "2026-04-04T00:00:00+00:00",
                          "intervalEnd": "2026-04-05T00:00:00+00:00",
                          "activeCustomers": 10,
                          "newCustomers": 7,
                          "returningCustomers": 3
                        },
                        {
                          "intervalStart": "2026-04-05T00:00:00+00:00",
                          "intervalEnd": "2026-04-06T00:00:00+00:00",
                          "activeCustomers": 36,
                          "newCustomers": 33,
                          "returningCustomers": 3
                        },
                        {
                          "intervalStart": "2026-04-06T00:00:00+00:00",
                          "intervalEnd": "2026-04-07T00:00:00+00:00",
                          "activeCustomers": 50,
                          "newCustomers": 16,
                          "returningCustomers": 34
                        },
                        {
                          "intervalStart": "2026-04-07T00:00:00+00:00",
                          "intervalEnd": "2026-04-08T00:00:00+00:00",
                          "activeCustomers": 20,
                          "newCustomers": 16,
                          "returningCustomers": 4
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-01T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-02T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 81
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 25
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 56
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-01T00:00:00+00:00",
                    "periodEnd": "2026-04-08T00:00:00+00:00",
                    "totalTransactions": 3105,
                    "authorizeTransactions": 184,
                    "captureTransactions": 217,
                    "payTransactions": 1085,
                    "refundTransactions": 627,
                    "verifyTransactions": 290,
                    "voidTransactions": 702,
                    "successfulTransactions": 2792,
                    "failedTransactions": 176,
                    "declinedTransactions": 121,
                    "pendingTransactions": 16,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-01T00:00:00+00:00",
                        "intervalEnd": "2026-04-02T00:00:00+00:00",
                        "totalTransactions": 740,
                        "authorizeTransactions": 18,
                        "captureTransactions": 28,
                        "payTransactions": 295,
                        "refundTransactions": 29,
                        "verifyTransactions": 78,
                        "voidTransactions": 292,
                        "successfulTransactions": 666,
                        "failedTransactions": 45,
                        "declinedTransactions": 28,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-02T00:00:00+00:00",
                        "intervalEnd": "2026-04-03T00:00:00+00:00",
                        "totalTransactions": 243,
                        "authorizeTransactions": 17,
                        "captureTransactions": 18,
                        "payTransactions": 149,
                        "refundTransactions": 19,
                        "verifyTransactions": 40,
                        "voidTransactions": 0,
                        "successfulTransactions": 218,
                        "failedTransactions": 11,
                        "declinedTransactions": 12,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-03T00:00:00+00:00",
                        "intervalEnd": "2026-04-04T00:00:00+00:00",
                        "totalTransactions": 183,
                        "authorizeTransactions": 10,
                        "captureTransactions": 16,
                        "payTransactions": 143,
                        "refundTransactions": 10,
                        "verifyTransactions": 4,
                        "voidTransactions": 0,
                        "successfulTransactions": 164,
                        "failedTransactions": 12,
                        "declinedTransactions": 6,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-04T00:00:00+00:00",
                        "intervalEnd": "2026-04-05T00:00:00+00:00",
                        "totalTransactions": 366,
                        "authorizeTransactions": 11,
                        "captureTransactions": 13,
                        "payTransactions": 139,
                        "refundTransactions": 105,
                        "verifyTransactions": 11,
                        "voidTransactions": 87,
                        "successfulTransactions": 329,
                        "failedTransactions": 32,
                        "declinedTransactions": 4,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-05T00:00:00+00:00",
                        "intervalEnd": "2026-04-06T00:00:00+00:00",
                        "totalTransactions": 255,
                        "authorizeTransactions": 28,
                        "captureTransactions": 30,
                        "payTransactions": 37,
                        "refundTransactions": 45,
                        "verifyTransactions": 10,
                        "voidTransactions": 105,
                        "successfulTransactions": 229,
                        "failedTransactions": 18,
                        "declinedTransactions": 7,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-06T00:00:00+00:00",
                        "intervalEnd": "2026-04-07T00:00:00+00:00",
                        "totalTransactions": 578,
                        "authorizeTransactions": 47,
                        "captureTransactions": 53,
                        "payTransactions": 167,
                        "refundTransactions": 186,
                        "verifyTransactions": 13,
                        "voidTransactions": 112,
                        "successfulTransactions": 520,
                        "failedTransactions": 26,
                        "declinedTransactions": 27,
                        "pendingTransactions": 5,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-07T00:00:00+00:00",
                        "intervalEnd": "2026-04-08T00:00:00+00:00",
                        "totalTransactions": 740,
                        "authorizeTransactions": 53,
                        "captureTransactions": 59,
                        "payTransactions": 155,
                        "refundTransactions": 233,
                        "verifyTransactions": 134,
                        "voidTransactions": 106,
                        "successfulTransactions": 666,
                        "failedTransactions": 32,
                        "declinedTransactions": 37,
                        "pendingTransactions": 5,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-01T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-08T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 3105
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 184
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 217
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 1085
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 627
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 290
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 702
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 2792
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 176
                    },
                    "declinedTransactions": {
                      "type": "integer",
                      "example": 121
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 16
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-01T00:00:00+00:00",
                          "intervalEnd": "2026-04-02T00:00:00+00:00",
                          "totalTransactions": 740,
                          "authorizeTransactions": 18,
                          "captureTransactions": 28,
                          "payTransactions": 295,
                          "refundTransactions": 29,
                          "verifyTransactions": 78,
                          "voidTransactions": 292,
                          "successfulTransactions": 666,
                          "failedTransactions": 45,
                          "declinedTransactions": 28,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-02T00:00:00+00:00",
                          "intervalEnd": "2026-04-03T00:00:00+00:00",
                          "totalTransactions": 243,
                          "authorizeTransactions": 17,
                          "captureTransactions": 18,
                          "payTransactions": 149,
                          "refundTransactions": 19,
                          "verifyTransactions": 40,
                          "voidTransactions": 0,
                          "successfulTransactions": 218,
                          "failedTransactions": 11,
                          "declinedTransactions": 12,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-03T00:00:00+00:00",
                          "intervalEnd": "2026-04-04T00:00:00+00:00",
                          "totalTransactions": 183,
                          "authorizeTransactions": 10,
                          "captureTransactions": 16,
                          "payTransactions": 143,
                          "refundTransactions": 10,
                          "verifyTransactions": 4,
                          "voidTransactions": 0,
                          "successfulTransactions": 164,
                          "failedTransactions": 12,
                          "declinedTransactions": 6,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-04T00:00:00+00:00",
                          "intervalEnd": "2026-04-05T00:00:00+00:00",
                          "totalTransactions": 366,
                          "authorizeTransactions": 11,
                          "captureTransactions": 13,
                          "payTransactions": 139,
                          "refundTransactions": 105,
                          "verifyTransactions": 11,
                          "voidTransactions": 87,
                          "successfulTransactions": 329,
                          "failedTransactions": 32,
                          "declinedTransactions": 4,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-05T00:00:00+00:00",
                          "intervalEnd": "2026-04-06T00:00:00+00:00",
                          "totalTransactions": 255,
                          "authorizeTransactions": 28,
                          "captureTransactions": 30,
                          "payTransactions": 37,
                          "refundTransactions": 45,
                          "verifyTransactions": 10,
                          "voidTransactions": 105,
                          "successfulTransactions": 229,
                          "failedTransactions": 18,
                          "declinedTransactions": 7,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-06T00:00:00+00:00",
                          "intervalEnd": "2026-04-07T00:00:00+00:00",
                          "totalTransactions": 578,
                          "authorizeTransactions": 47,
                          "captureTransactions": 53,
                          "payTransactions": 167,
                          "refundTransactions": 186,
                          "verifyTransactions": 13,
                          "voidTransactions": 112,
                          "successfulTransactions": 520,
                          "failedTransactions": 26,
                          "declinedTransactions": 27,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-07T00:00:00+00:00",
                          "intervalEnd": "2026-04-08T00:00:00+00:00",
                          "totalTransactions": 740,
                          "authorizeTransactions": 53,
                          "captureTransactions": 59,
                          "payTransactions": 155,
                          "refundTransactions": 233,
                          "verifyTransactions": 134,
                          "voidTransactions": 106,
                          "successfulTransactions": 666,
                          "failedTransactions": 32,
                          "declinedTransactions": 37,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-01T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-02T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 740
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 18
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 28
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 295
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 29
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 78
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": 292
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 666
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 45
                          },
                          "declinedTransactions": {
                            "type": "integer",
                            "example": 28
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 1
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-01T00:00:00+00:00",
                    "periodEnd": "2026-04-08T00:00:00+00:00",
                    "totalSettlementAmount": 32676.02,
                    "totalFeeAmount": 1601.12498,
                    "totalNetAmount": 31074.89502,
                    "totalTransactionsPending": 167,
                    "totalTransactionsSettled": 880,
                    "totalTransactionsSettling": 893,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-01T00:00:00+00:00",
                        "intervalEnd": "2026-04-02T00:00:00+00:00",
                        "totalSettlementAmount": 3340.85,
                        "totalFeeAmount": 163.70165,
                        "totalNetAmount": 3177.14835,
                        "totalTransactionsPending": 7,
                        "totalTransactionsSettled": 166,
                        "totalTransactionsSettling": 55
                      },
                      {
                        "intervalStart": "2026-04-02T00:00:00+00:00",
                        "intervalEnd": "2026-04-03T00:00:00+00:00",
                        "totalSettlementAmount": 5484.61,
                        "totalFeeAmount": 268.74589,
                        "totalNetAmount": 5215.86411,
                        "totalTransactionsPending": 11,
                        "totalTransactionsSettled": 29,
                        "totalTransactionsSettling": 273
                      },
                      {
                        "intervalStart": "2026-04-03T00:00:00+00:00",
                        "intervalEnd": "2026-04-04T00:00:00+00:00",
                        "totalSettlementAmount": 7058.7,
                        "totalFeeAmount": 345.8763,
                        "totalNetAmount": 6712.8237,
                        "totalTransactionsPending": 37,
                        "totalTransactionsSettled": 105,
                        "totalTransactionsSettling": 169
                      },
                      {
                        "intervalStart": "2026-04-04T00:00:00+00:00",
                        "intervalEnd": "2026-04-05T00:00:00+00:00",
                        "totalSettlementAmount": 2084.54,
                        "totalFeeAmount": 102.14246,
                        "totalNetAmount": 1982.39754,
                        "totalTransactionsPending": 7,
                        "totalTransactionsSettled": 76,
                        "totalTransactionsSettling": 19
                      },
                      {
                        "intervalStart": "2026-04-05T00:00:00+00:00",
                        "intervalEnd": "2026-04-06T00:00:00+00:00",
                        "totalSettlementAmount": 8276.91,
                        "totalFeeAmount": 405.56859,
                        "totalNetAmount": 7871.34141,
                        "totalTransactionsPending": 37,
                        "totalTransactionsSettled": 98,
                        "totalTransactionsSettling": 98
                      },
                      {
                        "intervalStart": "2026-04-06T00:00:00+00:00",
                        "intervalEnd": "2026-04-07T00:00:00+00:00",
                        "totalSettlementAmount": 4572.51,
                        "totalFeeAmount": 224.05299,
                        "totalNetAmount": 4348.45701,
                        "totalTransactionsPending": 32,
                        "totalTransactionsSettled": 223,
                        "totalTransactionsSettling": 220
                      },
                      {
                        "intervalStart": "2026-04-07T00:00:00+00:00",
                        "intervalEnd": "2026-04-08T00:00:00+00:00",
                        "totalSettlementAmount": 1857.9,
                        "totalFeeAmount": 91.0371,
                        "totalNetAmount": 1766.8629,
                        "totalTransactionsPending": 36,
                        "totalTransactionsSettled": 183,
                        "totalTransactionsSettling": 59
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-01T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-08T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 32676.02
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 1601.12498
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 31074.89502
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 167
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 880
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 893
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-01T00:00:00+00:00",
                          "intervalEnd": "2026-04-02T00:00:00+00:00",
                          "totalSettlementAmount": 3340.85,
                          "totalFeeAmount": 163.70165,
                          "totalNetAmount": 3177.14835,
                          "totalTransactionsPending": 7,
                          "totalTransactionsSettled": 166,
                          "totalTransactionsSettling": 55
                        },
                        {
                          "intervalStart": "2026-04-02T00:00:00+00:00",
                          "intervalEnd": "2026-04-03T00:00:00+00:00",
                          "totalSettlementAmount": 5484.61,
                          "totalFeeAmount": 268.74589,
                          "totalNetAmount": 5215.86411,
                          "totalTransactionsPending": 11,
                          "totalTransactionsSettled": 29,
                          "totalTransactionsSettling": 273
                        },
                        {
                          "intervalStart": "2026-04-03T00:00:00+00:00",
                          "intervalEnd": "2026-04-04T00:00:00+00:00",
                          "totalSettlementAmount": 7058.7,
                          "totalFeeAmount": 345.8763,
                          "totalNetAmount": 6712.8237,
                          "totalTransactionsPending": 37,
                          "totalTransactionsSettled": 105,
                          "totalTransactionsSettling": 169
                        },
                        {
                          "intervalStart": "2026-04-04T00:00:00+00:00",
                          "intervalEnd": "2026-04-05T00:00:00+00:00",
                          "totalSettlementAmount": 2084.54,
                          "totalFeeAmount": 102.14246,
                          "totalNetAmount": 1982.39754,
                          "totalTransactionsPending": 7,
                          "totalTransactionsSettled": 76,
                          "totalTransactionsSettling": 19
                        },
                        {
                          "intervalStart": "2026-04-05T00:00:00+00:00",
                          "intervalEnd": "2026-04-06T00:00:00+00:00",
                          "totalSettlementAmount": 8276.91,
                          "totalFeeAmount": 405.56859,
                          "totalNetAmount": 7871.34141,
                          "totalTransactionsPending": 37,
                          "totalTransactionsSettled": 98,
                          "totalTransactionsSettling": 98
                        },
                        {
                          "intervalStart": "2026-04-06T00:00:00+00:00",
                          "intervalEnd": "2026-04-07T00:00:00+00:00",
                          "totalSettlementAmount": 4572.51,
                          "totalFeeAmount": 224.05299,
                          "totalNetAmount": 4348.45701,
                          "totalTransactionsPending": 32,
                          "totalTransactionsSettled": 223,
                          "totalTransactionsSettling": 220
                        },
                        {
                          "intervalStart": "2026-04-07T00:00:00+00:00",
                          "intervalEnd": "2026-04-08T00:00:00+00:00",
                          "totalSettlementAmount": 1857.9,
                          "totalFeeAmount": 91.0371,
                          "totalNetAmount": 1766.8629,
                          "totalTransactionsPending": 36,
                          "totalTransactionsSettled": 183,
                          "totalTransactionsSettling": 59
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-01T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-02T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 3340.85
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 163.70165
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 3177.14835
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 7
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 166
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 55
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 3,
                    "data": [
                      {
                        "email": "tobin84@gmail.com",
                        "firstName": "Melvina",
                        "lastName": "Streich",
                        "phone": "+17255410404",
                        "dateOfBirth": "1978-04-21"
                      },
                      {
                        "email": "keven.okeefe@yahoo.com",
                        "firstName": "Ismael",
                        "lastName": "Koelpin",
                        "phone": "+12167040919",
                        "dateOfBirth": "1972-08-27"
                      },
                      {
                        "email": "xdare@gmail.com",
                        "firstName": "Wilber",
                        "lastName": "Kuvalis",
                        "phone": "+17243928737",
                        "dateOfBirth": "1981-12-08"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 3,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "tobin84@gmail.com",
                          "firstName": "Melvina",
                          "lastName": "Streich",
                          "phone": "+17255410404",
                          "dateOfBirth": "1978-04-21"
                        },
                        {
                          "email": "keven.okeefe@yahoo.com",
                          "firstName": "Ismael",
                          "lastName": "Koelpin",
                          "phone": "+12167040919",
                          "dateOfBirth": "1972-08-27"
                        },
                        {
                          "email": "xdare@gmail.com",
                          "firstName": "Wilber",
                          "lastName": "Kuvalis",
                          "phone": "+17243928737",
                          "dateOfBirth": "1981-12-08"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "tobin84@gmail.com"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Melvina"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Streich"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+17255410404"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "1978-04-21"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers/{customerIdOrEmail}/addresses": {
      "get": {
        "summary": "List Customer Billing Addresses",
        "operationId": "listCustomerBillingAddresses",
        "description": "Returns all unique billing addresses that have been used by a customer across their payments.\nAddresses are deduplicated using case-insensitive and whitespace-insensitive comparison.",
        "parameters": [
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
            "example": "-city",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
              "example": "-city",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of unique billing addresses for the customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "company": "Feeney Ltd",
                        "street": "29631 Maymie Place Suite 461",
                        "city": "South Itzelville",
                        "stateProvince": "OK",
                        "postcodeZip": "28414",
                        "country": "USA"
                      },
                      {
                        "company": "Gutmann Inc",
                        "street": "214 Greenholt Estate Apt. 851",
                        "city": "Kelsieton",
                        "stateProvince": "SC",
                        "postcodeZip": "88680",
                        "country": "USA"
                      },
                      {
                        "company": "Corkery PLC",
                        "street": "370 Boehm Rapids",
                        "city": "Arthurberg",
                        "stateProvince": "NH",
                        "postcodeZip": "52074",
                        "country": "USA"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "company": "Feeney Ltd",
                          "street": "29631 Maymie Place Suite 461",
                          "city": "South Itzelville",
                          "stateProvince": "OK",
                          "postcodeZip": "28414",
                          "country": "USA"
                        },
                        {
                          "company": "Gutmann Inc",
                          "street": "214 Greenholt Estate Apt. 851",
                          "city": "Kelsieton",
                          "stateProvince": "SC",
                          "postcodeZip": "88680",
                          "country": "USA"
                        },
                        {
                          "company": "Corkery PLC",
                          "street": "370 Boehm Rapids",
                          "city": "Arthurberg",
                          "stateProvince": "NH",
                          "postcodeZip": "52074",
                          "country": "USA"
                        }
                      ],
                      "description": "The data returned from the request",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "company": {
                            "type": "string",
                            "example": "Feeney Ltd"
                          },
                          "street": {
                            "type": "string",
                            "example": "29631 Maymie Place Suite 461"
                          },
                          "city": {
                            "type": "string",
                            "example": "South Itzelville"
                          },
                          "stateProvince": {
                            "type": "string",
                            "example": "OK"
                          },
                          "postcodeZip": {
                            "type": "string",
                            "example": "28414"
                          },
                          "country": {
                            "type": "string",
                            "example": "USA"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "path",
          "name": "customerIdOrEmail",
          "description": "The customer ID, UUID, or email address",
          "example": "customer_123",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/simulated/terminals": {
      "get": {
        "summary": "Get all available simulated terminals.",
        "operationId": "getAllAvailableSimulatedTerminals",
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of available simulated terminals",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "title": "Success",
                        "description": "Approves all card present transactions successfully.",
                        "tid": "SUCCESS",
                        "readyForProcessing": true,
                        "provider": "SIMULATED",
                        "type": "CARD_PRESENT"
                      },
                      {
                        "title": "Transaction Declined",
                        "description": "Simulates a declined transaction.",
                        "tid": "TRANSACTION_DECLINED",
                        "readyForProcessing": true,
                        "provider": "SIMULATED",
                        "type": "CARD_PRESENT"
                      },
                      {
                        "title": "Card Present Timeout",
                        "description": "Simulates a card present timeout.",
                        "tid": "CARD_PRESENT_TIMEOUT",
                        "readyForProcessing": true,
                        "provider": "SIMULATED",
                        "type": "CARD_PRESENT"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "title": "Success",
[...]
