{
  "openapi": "3.1.0",
  "info": {
    "version": "1.20.0",
    "title": "Payments API"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "paths": {
    "/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalyticsPaymentsByOrganization",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2025-10-31T00:00:00+00:00",
                    "periodEnd": "2025-11-07T00:00:00+00:00",
                    "numPaymentsCreated": 5037,
                    "numPaymentsProcessed": 2396,
                    "numPaymentsIncomplete": 2641,
                    "numPaymentsWithRefunds": 780,
                    "numCardPresentPayments": 848,
                    "numCardNotPresentPayments": 1793,
                    "totalCapturedAmount": 3438279.38,
                    "totalRefundedAmount": 309957.68,
                    "totalNetCapturedAmount": 3128321.7,
                    "averageNetCapturedAmount": 1388.05,
                    "minNetCapturedAmount": 13.3,
                    "maxNetCapturedAmount": 7197.61,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2025-10-31T00:00:00+00:00",
                        "intervalEnd": "2025-11-01T00:00:00+00:00",
                        "numPaymentsCreated": 524,
                        "numPaymentsProcessed": 194,
                        "numPaymentsIncomplete": 330,
                        "numPaymentsWithRefunds": 159,
                        "numCardPresentPayments": 62,
                        "numCardNotPresentPayments": 268,
                        "totalCapturedAmount": 55598.41,
                        "totalRefundedAmount": 9623.55,
                        "totalNetCapturedAmount": 45974.86,
                        "averageNetCapturedAmount": 236.98,
                        "minNetCapturedAmount": 13.3,
                        "maxNetCapturedAmount": 4075.47
                      },
                      {
                        "intervalStart": "2025-11-01T00:00:00+00:00",
                        "intervalEnd": "2025-11-02T00:00:00+00:00",
                        "numPaymentsCreated": 821,
                        "numPaymentsProcessed": 612,
                        "numPaymentsIncomplete": 209,
                        "numPaymentsWithRefunds": 33,
                        "numCardPresentPayments": 211,
                        "numCardNotPresentPayments": -2,
                        "totalCapturedAmount": 396875.55,
                        "totalRefundedAmount": 53243.13,
                        "totalNetCapturedAmount": 343632.42,
                        "averageNetCapturedAmount": 561.49,
                        "minNetCapturedAmount": 71.54,
                        "maxNetCapturedAmount": 3780.03
                      },
                      {
                        "intervalStart": "2025-11-02T00:00:00+00:00",
                        "intervalEnd": "2025-11-03T00:00:00+00:00",
                        "numPaymentsCreated": 981,
                        "numPaymentsProcessed": 457,
                        "numPaymentsIncomplete": 524,
                        "numPaymentsWithRefunds": 87,
                        "numCardPresentPayments": 49,
                        "numCardNotPresentPayments": 475,
                        "totalCapturedAmount": 766209.25,
                        "totalRefundedAmount": 31290.74,
                        "totalNetCapturedAmount": 734918.51,
                        "averageNetCapturedAmount": 1608.14,
                        "minNetCapturedAmount": 41.4,
                        "maxNetCapturedAmount": 5211.28
                      },
                      {
                        "intervalStart": "2025-11-03T00:00:00+00:00",
                        "intervalEnd": "2025-11-04T00:00:00+00:00",
                        "numPaymentsCreated": 810,
                        "numPaymentsProcessed": 100,
                        "numPaymentsIncomplete": 710,
                        "numPaymentsWithRefunds": 98,
                        "numCardPresentPayments": 12,
                        "numCardNotPresentPayments": 698,
                        "totalCapturedAmount": 174134.79,
                        "totalRefundedAmount": 26512.34,
                        "totalNetCapturedAmount": 147622.45,
                        "averageNetCapturedAmount": 1476.22,
                        "minNetCapturedAmount": 77.76,
                        "maxNetCapturedAmount": 7197.61
                      },
                      {
                        "intervalStart": "2025-11-04T00:00:00+00:00",
                        "intervalEnd": "2025-11-05T00:00:00+00:00",
                        "numPaymentsCreated": 420,
                        "numPaymentsProcessed": 409,
                        "numPaymentsIncomplete": 11,
                        "numPaymentsWithRefunds": 10,
                        "numCardPresentPayments": 296,
                        "numCardNotPresentPayments": -285,
                        "totalCapturedAmount": 608641.31,
                        "totalRefundedAmount": 19453.9,
                        "totalNetCapturedAmount": 589187.41,
                        "averageNetCapturedAmount": 1440.56,
                        "minNetCapturedAmount": 36.63,
                        "maxNetCapturedAmount": 4653.04
                      },
                      {
                        "intervalStart": "2025-11-05T00:00:00+00:00",
                        "intervalEnd": "2025-11-06T00:00:00+00:00",
                        "numPaymentsCreated": 504,
                        "numPaymentsProcessed": 371,
                        "numPaymentsIncomplete": 133,
                        "numPaymentsWithRefunds": 270,
                        "numCardPresentPayments": 135,
                        "numCardNotPresentPayments": -2,
                        "totalCapturedAmount": 507307.52,
                        "totalRefundedAmount": 18206.69,
                        "totalNetCapturedAmount": 489100.83,
                        "averageNetCapturedAmount": 1318.33,
                        "minNetCapturedAmount": 51.51,
                        "maxNetCapturedAmount": 3130.94
                      },
                      {
                        "intervalStart": "2025-11-06T00:00:00+00:00",
                        "intervalEnd": "2025-11-07T00:00:00+00:00",
                        "numPaymentsCreated": 977,
                        "numPaymentsProcessed": 253,
                        "numPaymentsIncomplete": 724,
                        "numPaymentsWithRefunds": 123,
                        "numCardPresentPayments": 83,
                        "numCardNotPresentPayments": 641,
                        "totalCapturedAmount": 929512.55,
                        "totalRefundedAmount": 151627.33,
                        "totalNetCapturedAmount": 777885.22,
                        "averageNetCapturedAmount": 3074.65,
                        "minNetCapturedAmount": 25.45,
                        "maxNetCapturedAmount": 6969.19
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2025-10-31T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2025-11-07T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 5037
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 2396
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 2641
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 780
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 848
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": 1793
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 3438279.38
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 309957.68
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 3128321.7
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 1388.05
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 13.3
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 7197.61
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2025-10-31T00:00:00+00:00",
                          "intervalEnd": "2025-11-01T00:00:00+00:00",
                          "numPaymentsCreated": 524,
                          "numPaymentsProcessed": 194,
                          "numPaymentsIncomplete": 330,
                          "numPaymentsWithRefunds": 159,
                          "numCardPresentPayments": 62,
                          "numCardNotPresentPayments": 268,
                          "totalCapturedAmount": 55598.41,
                          "totalRefundedAmount": 9623.55,
                          "totalNetCapturedAmount": 45974.86,
                          "averageNetCapturedAmount": 236.98,
                          "minNetCapturedAmount": 13.3,
                          "maxNetCapturedAmount": 4075.47
                        },
                        {
                          "intervalStart": "2025-11-01T00:00:00+00:00",
                          "intervalEnd": "2025-11-02T00:00:00+00:00",
                          "numPaymentsCreated": 821,
                          "numPaymentsProcessed": 612,
                          "numPaymentsIncomplete": 209,
                          "numPaymentsWithRefunds": 33,
                          "numCardPresentPayments": 211,
                          "numCardNotPresentPayments": -2,
                          "totalCapturedAmount": 396875.55,
                          "totalRefundedAmount": 53243.13,
                          "totalNetCapturedAmount": 343632.42,
                          "averageNetCapturedAmount": 561.49,
                          "minNetCapturedAmount": 71.54,
                          "maxNetCapturedAmount": 3780.03
                        },
                        {
                          "intervalStart": "2025-11-02T00:00:00+00:00",
                          "intervalEnd": "2025-11-03T00:00:00+00:00",
                          "numPaymentsCreated": 981,
                          "numPaymentsProcessed": 457,
                          "numPaymentsIncomplete": 524,
                          "numPaymentsWithRefunds": 87,
                          "numCardPresentPayments": 49,
                          "numCardNotPresentPayments": 475,
                          "totalCapturedAmount": 766209.25,
                          "totalRefundedAmount": 31290.74,
                          "totalNetCapturedAmount": 734918.51,
                          "averageNetCapturedAmount": 1608.14,
                          "minNetCapturedAmount": 41.4,
                          "maxNetCapturedAmount": 5211.28
                        },
                        {
                          "intervalStart": "2025-11-03T00:00:00+00:00",
                          "intervalEnd": "2025-11-04T00:00:00+00:00",
                          "numPaymentsCreated": 810,
                          "numPaymentsProcessed": 100,
                          "numPaymentsIncomplete": 710,
                          "numPaymentsWithRefunds": 98,
                          "numCardPresentPayments": 12,
                          "numCardNotPresentPayments": 698,
                          "totalCapturedAmount": 174134.79,
                          "totalRefundedAmount": 26512.34,
                          "totalNetCapturedAmount": 147622.45,
                          "averageNetCapturedAmount": 1476.22,
                          "minNetCapturedAmount": 77.76,
                          "maxNetCapturedAmount": 7197.61
                        },
                        {
                          "intervalStart": "2025-11-04T00:00:00+00:00",
                          "intervalEnd": "2025-11-05T00:00:00+00:00",
                          "numPaymentsCreated": 420,
                          "numPaymentsProcessed": 409,
                          "numPaymentsIncomplete": 11,
                          "numPaymentsWithRefunds": 10,
                          "numCardPresentPayments": 296,
                          "numCardNotPresentPayments": -285,
                          "totalCapturedAmount": 608641.31,
                          "totalRefundedAmount": 19453.9,
                          "totalNetCapturedAmount": 589187.41,
                          "averageNetCapturedAmount": 1440.56,
                          "minNetCapturedAmount": 36.63,
                          "maxNetCapturedAmount": 4653.04
                        },
                        {
                          "intervalStart": "2025-11-05T00:00:00+00:00",
                          "intervalEnd": "2025-11-06T00:00:00+00:00",
                          "numPaymentsCreated": 504,
                          "numPaymentsProcessed": 371,
                          "numPaymentsIncomplete": 133,
                          "numPaymentsWithRefunds": 270,
                          "numCardPresentPayments": 135,
                          "numCardNotPresentPayments": -2,
                          "totalCapturedAmount": 507307.52,
                          "totalRefundedAmount": 18206.69,
                          "totalNetCapturedAmount": 489100.83,
                          "averageNetCapturedAmount": 1318.33,
                          "minNetCapturedAmount": 51.51,
                          "maxNetCapturedAmount": 3130.94
                        },
                        {
                          "intervalStart": "2025-11-06T00:00:00+00:00",
                          "intervalEnd": "2025-11-07T00:00:00+00:00",
                          "numPaymentsCreated": 977,
                          "numPaymentsProcessed": 253,
                          "numPaymentsIncomplete": 724,
                          "numPaymentsWithRefunds": 123,
                          "numCardPresentPayments": 83,
                          "numCardNotPresentPayments": 641,
                          "totalCapturedAmount": 929512.55,
                          "totalRefundedAmount": 151627.33,
                          "totalNetCapturedAmount": 777885.22,
                          "averageNetCapturedAmount": 3074.65,
                          "minNetCapturedAmount": 25.45,
                          "maxNetCapturedAmount": 6969.19
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2025-10-31T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2025-11-01T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 524
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 194
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 330
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 159
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 62
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": 268
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 55598.41
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 9623.55
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 45974.86
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 236.98
                          },
                          "minNetCapturedAmount": {
                            "type": "number",
                            "example": 13.3
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 4075.47
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalyticsCustomersByOrganization",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2025-10-31T00:00:00+00:00",
                    "periodEnd": "2025-11-07T00:00:00+00:00",
                    "activeCustomers": 94,
                    "newCustomers": 106,
                    "returningCustomers": -12,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2025-10-31T00:00:00+00:00",
                        "intervalEnd": "2025-11-01T00:00:00+00:00",
                        "activeCustomers": 41,
                        "newCustomers": 23,
                        "returningCustomers": 18
                      },
                      {
                        "intervalStart": "2025-11-01T00:00:00+00:00",
                        "intervalEnd": "2025-11-02T00:00:00+00:00",
                        "activeCustomers": 56,
                        "newCustomers": 17,
                        "returningCustomers": 39
                      },
                      {
                        "intervalStart": "2025-11-02T00:00:00+00:00",
                        "intervalEnd": "2025-11-03T00:00:00+00:00",
                        "activeCustomers": 84,
                        "newCustomers": 23,
                        "returningCustomers": 61
                      },
                      {
                        "intervalStart": "2025-11-03T00:00:00+00:00",
                        "intervalEnd": "2025-11-04T00:00:00+00:00",
                        "activeCustomers": 26,
                        "newCustomers": 7,
                        "returningCustomers": 19
                      },
                      {
                        "intervalStart": "2025-11-04T00:00:00+00:00",
                        "intervalEnd": "2025-11-05T00:00:00+00:00",
                        "activeCustomers": 25,
                        "newCustomers": 5,
                        "returningCustomers": 20
                      },
                      {
                        "intervalStart": "2025-11-05T00:00:00+00:00",
                        "intervalEnd": "2025-11-06T00:00:00+00:00",
                        "activeCustomers": 35,
                        "newCustomers": 22,
                        "returningCustomers": 13
                      },
                      {
                        "intervalStart": "2025-11-06T00:00:00+00:00",
                        "intervalEnd": "2025-11-07T00:00:00+00:00",
                        "activeCustomers": 48,
                        "newCustomers": 9,
                        "returningCustomers": 39
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2025-10-31T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2025-11-07T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 94
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 106
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": -12
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2025-10-31T00:00:00+00:00",
                          "intervalEnd": "2025-11-01T00:00:00+00:00",
                          "activeCustomers": 41,
                          "newCustomers": 23,
                          "returningCustomers": 18
                        },
                        {
                          "intervalStart": "2025-11-01T00:00:00+00:00",
                          "intervalEnd": "2025-11-02T00:00:00+00:00",
                          "activeCustomers": 56,
                          "newCustomers": 17,
                          "returningCustomers": 39
                        },
                        {
                          "intervalStart": "2025-11-02T00:00:00+00:00",
                          "intervalEnd": "2025-11-03T00:00:00+00:00",
                          "activeCustomers": 84,
                          "newCustomers": 23,
                          "returningCustomers": 61
                        },
                        {
                          "intervalStart": "2025-11-03T00:00:00+00:00",
                          "intervalEnd": "2025-11-04T00:00:00+00:00",
                          "activeCustomers": 26,
                          "newCustomers": 7,
                          "returningCustomers": 19
                        },
                        {
                          "intervalStart": "2025-11-04T00:00:00+00:00",
                          "intervalEnd": "2025-11-05T00:00:00+00:00",
                          "activeCustomers": 25,
                          "newCustomers": 5,
                          "returningCustomers": 20
                        },
                        {
                          "intervalStart": "2025-11-05T00:00:00+00:00",
                          "intervalEnd": "2025-11-06T00:00:00+00:00",
                          "activeCustomers": 35,
                          "newCustomers": 22,
                          "returningCustomers": 13
                        },
                        {
                          "intervalStart": "2025-11-06T00:00:00+00:00",
                          "intervalEnd": "2025-11-07T00:00:00+00:00",
                          "activeCustomers": 48,
                          "newCustomers": 9,
                          "returningCustomers": 39
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2025-10-31T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2025-11-01T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 41
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 23
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 18
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalyticsTransactionsByOrganization",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2025-10-31T00:00:00+00:00",
                    "periodEnd": "2025-11-07T00:00:00+00:00",
                    "totalTransactions": 2887,
                    "authorizeTransactions": 220,
                    "captureTransactions": 252,
                    "payTransactions": 1640,
                    "refundTransactions": 397,
                    "verifyTransactions": 178,
                    "voidTransactions": 200,
                    "successfulTransactions": 2596,
                    "failedTransactions": 274,
                    "pendingTransactions": 17,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2025-10-31T00:00:00+00:00",
                        "intervalEnd": "2025-11-01T00:00:00+00:00",
                        "totalTransactions": 106,
                        "authorizeTransactions": 13,
                        "captureTransactions": 21,
                        "payTransactions": 16,
                        "refundTransactions": 49,
                        "verifyTransactions": 5,
                        "voidTransactions": 2,
                        "successfulTransactions": 95,
                        "failedTransactions": 10,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-01T00:00:00+00:00",
                        "intervalEnd": "2025-11-02T00:00:00+00:00",
                        "totalTransactions": 780,
                        "authorizeTransactions": 45,
                        "captureTransactions": 54,
                        "payTransactions": 497,
                        "refundTransactions": 45,
                        "verifyTransactions": 89,
                        "voidTransactions": 50,
                        "successfulTransactions": 702,
                        "failedTransactions": 73,
                        "pendingTransactions": 5,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-02T00:00:00+00:00",
                        "intervalEnd": "2025-11-03T00:00:00+00:00",
                        "totalTransactions": 994,
                        "authorizeTransactions": 66,
                        "captureTransactions": 71,
                        "payTransactions": 702,
                        "refundTransactions": 113,
                        "verifyTransactions": 25,
                        "voidTransactions": 17,
                        "successfulTransactions": 894,
                        "failedTransactions": 96,
                        "pendingTransactions": 4,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-03T00:00:00+00:00",
                        "intervalEnd": "2025-11-04T00:00:00+00:00",
                        "totalTransactions": 245,
                        "authorizeTransactions": 13,
                        "captureTransactions": 16,
                        "payTransactions": 186,
                        "refundTransactions": 8,
                        "verifyTransactions": 22,
                        "voidTransactions": 0,
                        "successfulTransactions": 220,
                        "failedTransactions": 24,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-04T00:00:00+00:00",
                        "intervalEnd": "2025-11-05T00:00:00+00:00",
                        "totalTransactions": 124,
                        "authorizeTransactions": 14,
                        "captureTransactions": 19,
                        "payTransactions": 28,
                        "refundTransactions": 11,
                        "verifyTransactions": 19,
                        "voidTransactions": 33,
                        "successfulTransactions": 111,
                        "failedTransactions": 12,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-05T00:00:00+00:00",
                        "intervalEnd": "2025-11-06T00:00:00+00:00",
                        "totalTransactions": 459,
                        "authorizeTransactions": 56,
                        "captureTransactions": 57,
                        "payTransactions": 186,
                        "refundTransactions": 49,
                        "verifyTransactions": 13,
                        "voidTransactions": 98,
                        "successfulTransactions": 413,
                        "failedTransactions": 42,
                        "pendingTransactions": 4,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-06T00:00:00+00:00",
                        "intervalEnd": "2025-11-07T00:00:00+00:00",
                        "totalTransactions": 179,
                        "authorizeTransactions": 13,
                        "captureTransactions": 14,
                        "payTransactions": 25,
                        "refundTransactions": 122,
                        "verifyTransactions": 5,
                        "voidTransactions": 0,
                        "successfulTransactions": 161,
                        "failedTransactions": 17,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2025-10-31T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2025-11-07T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 2887
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 220
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 252
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 1640
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 397
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 178
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 200
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 2596
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 274
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 17
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2025-10-31T00:00:00+00:00",
                          "intervalEnd": "2025-11-01T00:00:00+00:00",
                          "totalTransactions": 106,
                          "authorizeTransactions": 13,
                          "captureTransactions": 21,
                          "payTransactions": 16,
                          "refundTransactions": 49,
                          "verifyTransactions": 5,
                          "voidTransactions": 2,
                          "successfulTransactions": 95,
                          "failedTransactions": 10,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-01T00:00:00+00:00",
                          "intervalEnd": "2025-11-02T00:00:00+00:00",
                          "totalTransactions": 780,
                          "authorizeTransactions": 45,
                          "captureTransactions": 54,
                          "payTransactions": 497,
                          "refundTransactions": 45,
                          "verifyTransactions": 89,
                          "voidTransactions": 50,
                          "successfulTransactions": 702,
                          "failedTransactions": 73,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-02T00:00:00+00:00",
                          "intervalEnd": "2025-11-03T00:00:00+00:00",
                          "totalTransactions": 994,
                          "authorizeTransactions": 66,
                          "captureTransactions": 71,
                          "payTransactions": 702,
                          "refundTransactions": 113,
                          "verifyTransactions": 25,
                          "voidTransactions": 17,
                          "successfulTransactions": 894,
                          "failedTransactions": 96,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-03T00:00:00+00:00",
                          "intervalEnd": "2025-11-04T00:00:00+00:00",
                          "totalTransactions": 245,
                          "authorizeTransactions": 13,
                          "captureTransactions": 16,
                          "payTransactions": 186,
                          "refundTransactions": 8,
                          "verifyTransactions": 22,
                          "voidTransactions": 0,
                          "successfulTransactions": 220,
                          "failedTransactions": 24,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-04T00:00:00+00:00",
                          "intervalEnd": "2025-11-05T00:00:00+00:00",
                          "totalTransactions": 124,
                          "authorizeTransactions": 14,
                          "captureTransactions": 19,
                          "payTransactions": 28,
                          "refundTransactions": 11,
                          "verifyTransactions": 19,
                          "voidTransactions": 33,
                          "successfulTransactions": 111,
                          "failedTransactions": 12,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-05T00:00:00+00:00",
                          "intervalEnd": "2025-11-06T00:00:00+00:00",
                          "totalTransactions": 459,
                          "authorizeTransactions": 56,
                          "captureTransactions": 57,
                          "payTransactions": 186,
                          "refundTransactions": 49,
                          "verifyTransactions": 13,
                          "voidTransactions": 98,
                          "successfulTransactions": 413,
                          "failedTransactions": 42,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-06T00:00:00+00:00",
                          "intervalEnd": "2025-11-07T00:00:00+00:00",
                          "totalTransactions": 179,
                          "authorizeTransactions": 13,
                          "captureTransactions": 14,
                          "payTransactions": 25,
                          "refundTransactions": 122,
                          "verifyTransactions": 5,
                          "voidTransactions": 0,
                          "successfulTransactions": 161,
                          "failedTransactions": 17,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2025-10-31T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2025-11-01T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 106
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 13
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 21
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 16
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 49
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 5
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": 2
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 95
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 10
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 1
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalyticsPayoutsByOrganization",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2025-10-31T00:00:00+00:00",
                    "periodEnd": "2025-11-07T00:00:00+00:00",
                    "totalSettlementAmount": 47994.36,
                    "totalFeeAmount": 2351.73,
                    "totalNetAmount": 45642.63,
                    "totalTransactionsPending": 182,
                    "totalTransactionsSettled": 1358,
                    "totalTransactionsSettling": 604,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2025-10-31T00:00:00+00:00",
                        "intervalEnd": "2025-11-01T00:00:00+00:00",
                        "totalSettlementAmount": 3595.3,
                        "totalFeeAmount": 176.17,
                        "totalNetAmount": 3419.13,
                        "totalTransactionsPending": 32,
                        "totalTransactionsSettled": 314,
                        "totalTransactionsSettling": 53
                      },
                      {
                        "intervalStart": "2025-11-01T00:00:00+00:00",
                        "intervalEnd": "2025-11-02T00:00:00+00:00",
                        "totalSettlementAmount": 9476.7,
                        "totalFeeAmount": 464.36,
                        "totalNetAmount": 9012.34,
                        "totalTransactionsPending": 25,
                        "totalTransactionsSettled": 32,
                        "totalTransactionsSettling": 373
                      },
                      {
                        "intervalStart": "2025-11-02T00:00:00+00:00",
                        "intervalEnd": "2025-11-03T00:00:00+00:00",
                        "totalSettlementAmount": 8715.31,
                        "totalFeeAmount": 427.05,
                        "totalNetAmount": 8288.26,
                        "totalTransactionsPending": 14,
                        "totalTransactionsSettled": 94,
                        "totalTransactionsSettling": 11
                      },
                      {
                        "intervalStart": "2025-11-03T00:00:00+00:00",
                        "intervalEnd": "2025-11-04T00:00:00+00:00",
                        "totalSettlementAmount": 2135.72,
                        "totalFeeAmount": 104.65,
                        "totalNetAmount": 2031.07,
                        "totalTransactionsPending": 37,
                        "totalTransactionsSettled": 72,
                        "totalTransactionsSettling": 18
                      },
                      {
                        "intervalStart": "2025-11-04T00:00:00+00:00",
                        "intervalEnd": "2025-11-05T00:00:00+00:00",
                        "totalSettlementAmount": 8916.5,
                        "totalFeeAmount": 436.91,
                        "totalNetAmount": 8479.59,
                        "totalTransactionsPending": 22,
                        "totalTransactionsSettled": 398,
                        "totalTransactionsSettling": 43
                      },
                      {
                        "intervalStart": "2025-11-05T00:00:00+00:00",
                        "intervalEnd": "2025-11-06T00:00:00+00:00",
                        "totalSettlementAmount": 7822.25,
                        "totalFeeAmount": 383.29,
                        "totalNetAmount": 7438.96,
                        "totalTransactionsPending": 17,
                        "totalTransactionsSettled": 125,
                        "totalTransactionsSettling": 92
                      },
                      {
                        "intervalStart": "2025-11-06T00:00:00+00:00",
                        "intervalEnd": "2025-11-07T00:00:00+00:00",
                        "totalSettlementAmount": 7332.58,
                        "totalFeeAmount": 359.3,
                        "totalNetAmount": 6973.28,
                        "totalTransactionsPending": 35,
                        "totalTransactionsSettled": 323,
                        "totalTransactionsSettling": 14
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2025-10-31T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2025-11-07T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 47994.36
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 2351.73
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 45642.63
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 182
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 1358
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 604
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2025-10-31T00:00:00+00:00",
                          "intervalEnd": "2025-11-01T00:00:00+00:00",
                          "totalSettlementAmount": 3595.3,
                          "totalFeeAmount": 176.17,
                          "totalNetAmount": 3419.13,
                          "totalTransactionsPending": 32,
                          "totalTransactionsSettled": 314,
                          "totalTransactionsSettling": 53
                        },
                        {
                          "intervalStart": "2025-11-01T00:00:00+00:00",
                          "intervalEnd": "2025-11-02T00:00:00+00:00",
                          "totalSettlementAmount": 9476.7,
                          "totalFeeAmount": 464.36,
                          "totalNetAmount": 9012.34,
                          "totalTransactionsPending": 25,
                          "totalTransactionsSettled": 32,
                          "totalTransactionsSettling": 373
                        },
                        {
                          "intervalStart": "2025-11-02T00:00:00+00:00",
                          "intervalEnd": "2025-11-03T00:00:00+00:00",
                          "totalSettlementAmount": 8715.31,
                          "totalFeeAmount": 427.05,
                          "totalNetAmount": 8288.26,
                          "totalTransactionsPending": 14,
                          "totalTransactionsSettled": 94,
                          "totalTransactionsSettling": 11
                        },
                        {
                          "intervalStart": "2025-11-03T00:00:00+00:00",
                          "intervalEnd": "2025-11-04T00:00:00+00:00",
                          "totalSettlementAmount": 2135.72,
                          "totalFeeAmount": 104.65,
                          "totalNetAmount": 2031.07,
                          "totalTransactionsPending": 37,
                          "totalTransactionsSettled": 72,
                          "totalTransactionsSettling": 18
                        },
                        {
                          "intervalStart": "2025-11-04T00:00:00+00:00",
                          "intervalEnd": "2025-11-05T00:00:00+00:00",
                          "totalSettlementAmount": 8916.5,
                          "totalFeeAmount": 436.91,
                          "totalNetAmount": 8479.59,
                          "totalTransactionsPending": 22,
                          "totalTransactionsSettled": 398,
                          "totalTransactionsSettling": 43
                        },
                        {
                          "intervalStart": "2025-11-05T00:00:00+00:00",
                          "intervalEnd": "2025-11-06T00:00:00+00:00",
                          "totalSettlementAmount": 7822.25,
                          "totalFeeAmount": 383.29,
                          "totalNetAmount": 7438.96,
                          "totalTransactionsPending": 17,
                          "totalTransactionsSettled": 125,
                          "totalTransactionsSettling": 92
                        },
                        {
                          "intervalStart": "2025-11-06T00:00:00+00:00",
                          "intervalEnd": "2025-11-07T00:00:00+00:00",
                          "totalSettlementAmount": 7332.58,
                          "totalFeeAmount": 359.3,
                          "totalNetAmount": 6973.28,
                          "totalTransactionsPending": 35,
                          "totalTransactionsSettled": 323,
                          "totalTransactionsSettling": 14
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2025-10-31T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2025-11-01T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 3595.3
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 176.17
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 3419.13
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 32
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 314
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 53
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomersByMerchant",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 5,
                    "data": [
                      {
                        "email": "hbalistreri@pollich.com",
                        "firstName": "Annamarie",
                        "lastName": "Mueller",
                        "phone": "+15202969230",
                        "dateOfBirth": "1993-10-11"
                      },
                      {
                        "email": "dickens.demarco@wolf.com",
                        "firstName": "Brigitte",
                        "lastName": "Kovacek",
                        "phone": "+13257671016",
                        "dateOfBirth": "1977-03-14"
                      },
                      {
                        "email": "tiana.bruen@daniel.com",
                        "firstName": "Harmony",
                        "lastName": "Senger",
                        "phone": "+18637298987",
                        "dateOfBirth": "1983-11-12"
                      },
                      {
                        "email": "lucie.mcclure@yahoo.com",
                        "firstName": "Mabelle",
                        "lastName": "Schuppe",
                        "phone": "+13194251174",
                        "dateOfBirth": "1999-09-16"
                      },
                      {
                        "email": "mlabadie@yahoo.com",
                        "firstName": "Noemy",
                        "lastName": "Davis",
                        "phone": "+16367020976",
                        "dateOfBirth": "1978-08-04"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 5,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "hbalistreri@pollich.com",
                          "firstName": "Annamarie",
                          "lastName": "Mueller",
                          "phone": "+15202969230",
                          "dateOfBirth": "1993-10-11"
                        },
                        {
                          "email": "dickens.demarco@wolf.com",
                          "firstName": "Brigitte",
                          "lastName": "Kovacek",
                          "phone": "+13257671016",
                          "dateOfBirth": "1977-03-14"
                        },
                        {
                          "email": "tiana.bruen@daniel.com",
                          "firstName": "Harmony",
                          "lastName": "Senger",
                          "phone": "+18637298987",
                          "dateOfBirth": "1983-11-12"
                        },
                        {
                          "email": "lucie.mcclure@yahoo.com",
                          "firstName": "Mabelle",
                          "lastName": "Schuppe",
                          "phone": "+13194251174",
                          "dateOfBirth": "1999-09-16"
                        },
                        {
                          "email": "mlabadie@yahoo.com",
                          "firstName": "Noemy",
                          "lastName": "Davis",
                          "phone": "+16367020976",
                          "dateOfBirth": "1978-08-04"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "hbalistreri@pollich.com"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Annamarie"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Mueller"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+15202969230"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "1993-10-11"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/purge": {
      "post": {
        "summary": "Purge Sandbox Data",
        "operationId": "purgeSandboxDataPurgeByMerchant",
        "description": "Delete **sandbox** data for the specified merchant. This endpoint allows deletion of different entity types related to merchants.\nThe operation is performed asynchronously and will trigger the \"payments.merchant.purge\" webhook upon completion.",
        "parameters": [
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sandbox purge job queued successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "payments": 5,
                    "customers": 3,
                    "sessions": 2,
                    "tokens": 1,
                    "merchantId": "MERCHANT123"
                  },
                  "properties": {
                    "payments": {
                      "type": "integer",
                      "example": 5
                    },
                    "customers": {
                      "type": "integer",
                      "example": 3
                    },
                    "sessions": {
                      "type": "integer",
                      "example": 2
                    },
                    "tokens": {
                      "type": "integer",
                      "example": 1
                    },
                    "merchantId": {
                      "type": "string",
                      "example": "MERCHANT123"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "The field1 is required (and one other error)",
                    "errors": {
                      "field1": [
                        "The field1 is required."
                      ],
                      "field2": [
                        "The field2 must be a valid value."
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "message": {
                      "type": "string",
                      "example": "The field1 is required (and one other error)",
                      "description": "A message describing the result of the request",
                      "enum": []
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "field1": {
                          "type": "array",
                          "example": [
                            "The field1 is required."
                          ],
                          "items": {
                            "type": "string"
                          }
                        },
                        "field2": {
                          "type": "array",
                          "example": [
                            "The field2 must be a valid value."
                          ],
                          "items": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Any errors that occurred during the request"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "Authentication is required"
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "message": {
                      "type": "string",
                      "example": "Authentication is required",
                      "description": "A message describing the result of the request",
                      "enum": []
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "Internal Server Error"
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error",
                      "description": "A message describing the result of the request",
                      "enum": []
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Merchant Purge"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$class": "App\\Data\\Api\\N1\\Merchant\\PurgeMerchantRequestBody",
                "type": "object",
                "description": null,
                "properties": {
                  "payments": {
                    "type": "boolean",
                    "nullable": true,
                    "example": true,
                    "description": "Delete all merchant payments"
                  },
                  "customers": {
                    "type": "boolean",
                    "nullable": true,
                    "example": true,
                    "description": "Delete all merchant customers"
                  },
                  "sessions": {
                    "type": "boolean",
                    "nullable": true,
                    "example": true,
                    "description": "Delete all merchant sessions"
                  },
                  "tokens": {
                    "type": "boolean",
                    "nullable": true,
                    "example": true,
                    "description": "Delete all merchant tokens"
                  }
                }
              },
              "examples": {
                "example": {
                  "summary": "Example",
                  "value": {
                    "payments": true,
                    "customers": true,
                    "sessions": true,
                    "tokens": true
                  }
                },
                "paymentsOnly": {
                  "summary": "Payments Only",
                  "value": {
                    "payments": true,
                    "customers": false,
                    "sessions": false,
                    "tokens": false
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/order/{orderId}": {
      "get": {
        "summary": "Get Order",
        "operationId": "getOrderByMerchant",
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving an order",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "description": "Test order",
                    "amount": 340.01,
                    "currency": "USD"
                  },
                  "properties": {
                    "description": {
                      "type": "string",
                      "example": "Test order"
                    },
                    "amount": {
                      "type": "number",
                      "example": 340.01
                    },
                    "currency": {
                      "type": "string",
                      "example": "USD"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "The field1 is required (and one other error)",
                    "errors": {
                      "field1": [
                        "The field1 is required."
                      ],
                      "field2": [
                        "The field2 must be a valid value."
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "message": {
                      "type": "string",
                      "example": "The field1 is required (and one other error)",
[...]
