{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.43.0"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-02-18T00:00:00+00:00",
                    "periodEnd": "2026-02-25T00:00:00+00:00",
                    "numPaymentsCreated": 3374,
                    "numPaymentsProcessed": 1623,
                    "numPaymentsIncomplete": 1751,
                    "numPaymentsWithRefunds": 1115,
                    "numCardPresentPayments": 826,
                    "numCardNotPresentPayments": 925,
                    "totalCapturedAmount": 2637357.83,
                    "totalRefundedAmount": 228828.83,
                    "totalNetCapturedAmount": 2408529,
                    "averageNetCapturedAmount": 1886.7828571429,
                    "minNetCapturedAmount": 34.7,
                    "maxNetCapturedAmount": 9855.67,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-02-18T00:00:00+00:00",
                        "intervalEnd": "2026-02-19T00:00:00+00:00",
                        "numPaymentsCreated": 535,
                        "numPaymentsProcessed": 210,
                        "numPaymentsIncomplete": 325,
                        "numPaymentsWithRefunds": 21,
                        "numCardPresentPayments": 56,
                        "numCardNotPresentPayments": 269,
                        "totalCapturedAmount": 634016.16,
                        "totalRefundedAmount": 5442.53,
                        "totalNetCapturedAmount": 628573.63,
                        "averageNetCapturedAmount": 2993.21,
                        "minNetCapturedAmount": 54.62,
                        "maxNetCapturedAmount": 1482.62
                      },
                      {
                        "intervalStart": "2026-02-19T00:00:00+00:00",
                        "intervalEnd": "2026-02-20T00:00:00+00:00",
                        "numPaymentsCreated": 486,
                        "numPaymentsProcessed": 99,
                        "numPaymentsIncomplete": 387,
                        "numPaymentsWithRefunds": 38,
                        "numCardPresentPayments": 4,
                        "numCardNotPresentPayments": 383,
                        "totalCapturedAmount": 203229.75,
                        "totalRefundedAmount": 15605.66,
                        "totalNetCapturedAmount": 187624.09,
                        "averageNetCapturedAmount": 1895.19,
                        "minNetCapturedAmount": 85.88,
                        "maxNetCapturedAmount": 9001.6
                      },
                      {
                        "intervalStart": "2026-02-20T00:00:00+00:00",
                        "intervalEnd": "2026-02-21T00:00:00+00:00",
                        "numPaymentsCreated": 137,
                        "numPaymentsProcessed": 108,
                        "numPaymentsIncomplete": 29,
                        "numPaymentsWithRefunds": 58,
                        "numCardPresentPayments": 56,
                        "numCardNotPresentPayments": -27,
                        "totalCapturedAmount": 358294.88,
                        "totalRefundedAmount": 96052.74,
                        "totalNetCapturedAmount": 262242.14,
                        "averageNetCapturedAmount": 2428.17,
                        "minNetCapturedAmount": 54.88,
                        "maxNetCapturedAmount": 6798.11
                      },
                      {
                        "intervalStart": "2026-02-21T00:00:00+00:00",
                        "intervalEnd": "2026-02-22T00:00:00+00:00",
                        "numPaymentsCreated": 641,
                        "numPaymentsProcessed": 89,
                        "numPaymentsIncomplete": 552,
                        "numPaymentsWithRefunds": 75,
                        "numCardPresentPayments": 13,
                        "numCardNotPresentPayments": 539,
                        "totalCapturedAmount": 237867.33,
                        "totalRefundedAmount": 8268.24,
                        "totalNetCapturedAmount": 229599.09,
                        "averageNetCapturedAmount": 2579.77,
                        "minNetCapturedAmount": 56.96,
                        "maxNetCapturedAmount": 9855.67
                      },
                      {
                        "intervalStart": "2026-02-22T00:00:00+00:00",
                        "intervalEnd": "2026-02-23T00:00:00+00:00",
                        "numPaymentsCreated": 615,
                        "numPaymentsProcessed": 469,
                        "numPaymentsIncomplete": 146,
                        "numPaymentsWithRefunds": 403,
                        "numCardPresentPayments": 446,
                        "numCardNotPresentPayments": -300,
                        "totalCapturedAmount": 254198.1,
                        "totalRefundedAmount": 40783.71,
                        "totalNetCapturedAmount": 213414.39,
                        "averageNetCapturedAmount": 455.04,
                        "minNetCapturedAmount": 82.62,
                        "maxNetCapturedAmount": 7818.5
                      },
                      {
                        "intervalStart": "2026-02-23T00:00:00+00:00",
                        "intervalEnd": "2026-02-24T00:00:00+00:00",
                        "numPaymentsCreated": 463,
                        "numPaymentsProcessed": 267,
                        "numPaymentsIncomplete": 196,
                        "numPaymentsWithRefunds": 159,
                        "numCardPresentPayments": 17,
                        "numCardNotPresentPayments": 179,
                        "totalCapturedAmount": 508219.74,
                        "totalRefundedAmount": 37229.17,
                        "totalNetCapturedAmount": 470990.57,
                        "averageNetCapturedAmount": 1764.01,
                        "minNetCapturedAmount": 96.24,
                        "maxNetCapturedAmount": 7477.6
                      },
                      {
                        "intervalStart": "2026-02-24T00:00:00+00:00",
                        "intervalEnd": "2026-02-25T00:00:00+00:00",
                        "numPaymentsCreated": 497,
                        "numPaymentsProcessed": 381,
                        "numPaymentsIncomplete": 116,
                        "numPaymentsWithRefunds": 361,
                        "numCardPresentPayments": 234,
                        "numCardNotPresentPayments": -118,
                        "totalCapturedAmount": 441531.87,
                        "totalRefundedAmount": 25446.78,
                        "totalNetCapturedAmount": 416085.09,
                        "averageNetCapturedAmount": 1092.09,
                        "minNetCapturedAmount": 34.7,
                        "maxNetCapturedAmount": 1556.62
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-02-18T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-02-25T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 3374
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 1623
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 1751
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 1115
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 826
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": 925
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 2637357.83
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 228828.83
                    },
                    "totalNetCapturedAmount": {
                      "type": "integer",
                      "example": 2408529
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 1886.7828571429
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 34.7
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 9855.67
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-02-18T00:00:00+00:00",
                          "intervalEnd": "2026-02-19T00:00:00+00:00",
                          "numPaymentsCreated": 535,
                          "numPaymentsProcessed": 210,
                          "numPaymentsIncomplete": 325,
                          "numPaymentsWithRefunds": 21,
                          "numCardPresentPayments": 56,
                          "numCardNotPresentPayments": 269,
                          "totalCapturedAmount": 634016.16,
                          "totalRefundedAmount": 5442.53,
                          "totalNetCapturedAmount": 628573.63,
                          "averageNetCapturedAmount": 2993.21,
                          "minNetCapturedAmount": 54.62,
                          "maxNetCapturedAmount": 1482.62
                        },
                        {
                          "intervalStart": "2026-02-19T00:00:00+00:00",
                          "intervalEnd": "2026-02-20T00:00:00+00:00",
                          "numPaymentsCreated": 486,
                          "numPaymentsProcessed": 99,
                          "numPaymentsIncomplete": 387,
                          "numPaymentsWithRefunds": 38,
                          "numCardPresentPayments": 4,
                          "numCardNotPresentPayments": 383,
                          "totalCapturedAmount": 203229.75,
                          "totalRefundedAmount": 15605.66,
                          "totalNetCapturedAmount": 187624.09,
                          "averageNetCapturedAmount": 1895.19,
                          "minNetCapturedAmount": 85.88,
                          "maxNetCapturedAmount": 9001.6
                        },
                        {
                          "intervalStart": "2026-02-20T00:00:00+00:00",
                          "intervalEnd": "2026-02-21T00:00:00+00:00",
                          "numPaymentsCreated": 137,
                          "numPaymentsProcessed": 108,
                          "numPaymentsIncomplete": 29,
                          "numPaymentsWithRefunds": 58,
                          "numCardPresentPayments": 56,
                          "numCardNotPresentPayments": -27,
                          "totalCapturedAmount": 358294.88,
                          "totalRefundedAmount": 96052.74,
                          "totalNetCapturedAmount": 262242.14,
                          "averageNetCapturedAmount": 2428.17,
                          "minNetCapturedAmount": 54.88,
                          "maxNetCapturedAmount": 6798.11
                        },
                        {
                          "intervalStart": "2026-02-21T00:00:00+00:00",
                          "intervalEnd": "2026-02-22T00:00:00+00:00",
                          "numPaymentsCreated": 641,
                          "numPaymentsProcessed": 89,
                          "numPaymentsIncomplete": 552,
                          "numPaymentsWithRefunds": 75,
                          "numCardPresentPayments": 13,
                          "numCardNotPresentPayments": 539,
                          "totalCapturedAmount": 237867.33,
                          "totalRefundedAmount": 8268.24,
                          "totalNetCapturedAmount": 229599.09,
                          "averageNetCapturedAmount": 2579.77,
                          "minNetCapturedAmount": 56.96,
                          "maxNetCapturedAmount": 9855.67
                        },
                        {
                          "intervalStart": "2026-02-22T00:00:00+00:00",
                          "intervalEnd": "2026-02-23T00:00:00+00:00",
                          "numPaymentsCreated": 615,
                          "numPaymentsProcessed": 469,
                          "numPaymentsIncomplete": 146,
                          "numPaymentsWithRefunds": 403,
                          "numCardPresentPayments": 446,
                          "numCardNotPresentPayments": -300,
                          "totalCapturedAmount": 254198.1,
                          "totalRefundedAmount": 40783.71,
                          "totalNetCapturedAmount": 213414.39,
                          "averageNetCapturedAmount": 455.04,
                          "minNetCapturedAmount": 82.62,
                          "maxNetCapturedAmount": 7818.5
                        },
                        {
                          "intervalStart": "2026-02-23T00:00:00+00:00",
                          "intervalEnd": "2026-02-24T00:00:00+00:00",
                          "numPaymentsCreated": 463,
                          "numPaymentsProcessed": 267,
                          "numPaymentsIncomplete": 196,
                          "numPaymentsWithRefunds": 159,
                          "numCardPresentPayments": 17,
                          "numCardNotPresentPayments": 179,
                          "totalCapturedAmount": 508219.74,
                          "totalRefundedAmount": 37229.17,
                          "totalNetCapturedAmount": 470990.57,
                          "averageNetCapturedAmount": 1764.01,
                          "minNetCapturedAmount": 96.24,
                          "maxNetCapturedAmount": 7477.6
                        },
                        {
                          "intervalStart": "2026-02-24T00:00:00+00:00",
                          "intervalEnd": "2026-02-25T00:00:00+00:00",
                          "numPaymentsCreated": 497,
                          "numPaymentsProcessed": 381,
                          "numPaymentsIncomplete": 116,
                          "numPaymentsWithRefunds": 361,
                          "numCardPresentPayments": 234,
                          "numCardNotPresentPayments": -118,
                          "totalCapturedAmount": 441531.87,
                          "totalRefundedAmount": 25446.78,
                          "totalNetCapturedAmount": 416085.09,
                          "averageNetCapturedAmount": 1092.09,
                          "minNetCapturedAmount": 34.7,
                          "maxNetCapturedAmount": 1556.62
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-02-18T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-02-19T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 535
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 210
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 325
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 21
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 56
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": 269
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 634016.16
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 5442.53
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 628573.63
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 2993.21
                          },
                          "minNetCapturedAmount": {
                            "type": "number",
                            "example": 54.62
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 1482.62
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-02-18T00:00:00+00:00",
                    "periodEnd": "2026-02-25T00:00:00+00:00",
                    "activeCustomers": 329,
                    "newCustomers": 209,
                    "returningCustomers": 120,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-02-18T00:00:00+00:00",
                        "intervalEnd": "2026-02-19T00:00:00+00:00",
                        "activeCustomers": 26,
                        "newCustomers": 9,
                        "returningCustomers": 17
                      },
                      {
                        "intervalStart": "2026-02-19T00:00:00+00:00",
                        "intervalEnd": "2026-02-20T00:00:00+00:00",
                        "activeCustomers": 65,
                        "newCustomers": 10,
                        "returningCustomers": 55
                      },
                      {
                        "intervalStart": "2026-02-20T00:00:00+00:00",
                        "intervalEnd": "2026-02-21T00:00:00+00:00",
                        "activeCustomers": 65,
                        "newCustomers": 38,
                        "returningCustomers": 27
                      },
                      {
                        "intervalStart": "2026-02-21T00:00:00+00:00",
                        "intervalEnd": "2026-02-22T00:00:00+00:00",
                        "activeCustomers": 76,
                        "newCustomers": 59,
                        "returningCustomers": 17
                      },
                      {
                        "intervalStart": "2026-02-22T00:00:00+00:00",
                        "intervalEnd": "2026-02-23T00:00:00+00:00",
                        "activeCustomers": 23,
                        "newCustomers": 16,
                        "returningCustomers": 7
                      },
                      {
                        "intervalStart": "2026-02-23T00:00:00+00:00",
                        "intervalEnd": "2026-02-24T00:00:00+00:00",
                        "activeCustomers": 51,
                        "newCustomers": 30,
                        "returningCustomers": 21
                      },
                      {
                        "intervalStart": "2026-02-24T00:00:00+00:00",
                        "intervalEnd": "2026-02-25T00:00:00+00:00",
                        "activeCustomers": 50,
                        "newCustomers": 47,
                        "returningCustomers": 3
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-02-18T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-02-25T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 329
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 209
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": 120
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-02-18T00:00:00+00:00",
                          "intervalEnd": "2026-02-19T00:00:00+00:00",
                          "activeCustomers": 26,
                          "newCustomers": 9,
                          "returningCustomers": 17
                        },
                        {
                          "intervalStart": "2026-02-19T00:00:00+00:00",
                          "intervalEnd": "2026-02-20T00:00:00+00:00",
                          "activeCustomers": 65,
                          "newCustomers": 10,
                          "returningCustomers": 55
                        },
                        {
                          "intervalStart": "2026-02-20T00:00:00+00:00",
                          "intervalEnd": "2026-02-21T00:00:00+00:00",
                          "activeCustomers": 65,
                          "newCustomers": 38,
                          "returningCustomers": 27
                        },
                        {
                          "intervalStart": "2026-02-21T00:00:00+00:00",
                          "intervalEnd": "2026-02-22T00:00:00+00:00",
                          "activeCustomers": 76,
                          "newCustomers": 59,
                          "returningCustomers": 17
                        },
                        {
                          "intervalStart": "2026-02-22T00:00:00+00:00",
                          "intervalEnd": "2026-02-23T00:00:00+00:00",
                          "activeCustomers": 23,
                          "newCustomers": 16,
                          "returningCustomers": 7
                        },
                        {
                          "intervalStart": "2026-02-23T00:00:00+00:00",
                          "intervalEnd": "2026-02-24T00:00:00+00:00",
                          "activeCustomers": 51,
                          "newCustomers": 30,
                          "returningCustomers": 21
                        },
                        {
                          "intervalStart": "2026-02-24T00:00:00+00:00",
                          "intervalEnd": "2026-02-25T00:00:00+00:00",
                          "activeCustomers": 50,
                          "newCustomers": 47,
                          "returningCustomers": 3
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-02-18T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-02-19T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 26
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 9
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 17
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-02-18T00:00:00+00:00",
                    "periodEnd": "2026-02-25T00:00:00+00:00",
                    "totalTransactions": 4165,
                    "authorizeTransactions": 303,
                    "captureTransactions": 348,
                    "payTransactions": 1522,
                    "refundTransactions": 740,
                    "verifyTransactions": 628,
                    "voidTransactions": 624,
                    "successfulTransactions": 3746,
                    "failedTransactions": 297,
                    "declinedTransactions": 101,
                    "pendingTransactions": 21,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-02-18T00:00:00+00:00",
                        "intervalEnd": "2026-02-19T00:00:00+00:00",
                        "totalTransactions": 602,
                        "authorizeTransactions": 71,
                        "captureTransactions": 77,
                        "payTransactions": 178,
                        "refundTransactions": 187,
                        "verifyTransactions": 16,
                        "voidTransactions": 73,
                        "successfulTransactions": 541,
                        "failedTransactions": 34,
                        "declinedTransactions": 24,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-02-19T00:00:00+00:00",
                        "intervalEnd": "2026-02-20T00:00:00+00:00",
                        "totalTransactions": 810,
                        "authorizeTransactions": 22,
                        "captureTransactions": 32,
                        "payTransactions": 211,
                        "refundTransactions": 242,
                        "verifyTransactions": 137,
                        "voidTransactions": 166,
                        "successfulTransactions": 729,
                        "failedTransactions": 44,
                        "declinedTransactions": 36,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-02-20T00:00:00+00:00",
                        "intervalEnd": "2026-02-21T00:00:00+00:00",
                        "totalTransactions": 493,
                        "authorizeTransactions": 58,
                        "captureTransactions": 64,
                        "payTransactions": 84,
                        "refundTransactions": 80,
                        "verifyTransactions": 44,
                        "voidTransactions": 163,
                        "successfulTransactions": 443,
                        "failedTransactions": 31,
                        "declinedTransactions": 15,
                        "pendingTransactions": 4,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-02-21T00:00:00+00:00",
                        "intervalEnd": "2026-02-22T00:00:00+00:00",
                        "totalTransactions": 489,
                        "authorizeTransactions": 25,
                        "captureTransactions": 32,
                        "payTransactions": 85,
                        "refundTransactions": 46,
                        "verifyTransactions": 217,
                        "voidTransactions": 84,
                        "successfulTransactions": 440,
                        "failedTransactions": 39,
                        "declinedTransactions": 7,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-02-22T00:00:00+00:00",
                        "intervalEnd": "2026-02-23T00:00:00+00:00",
                        "totalTransactions": 493,
                        "authorizeTransactions": 14,
                        "captureTransactions": 23,
                        "payTransactions": 80,
                        "refundTransactions": 106,
                        "verifyTransactions": 186,
                        "voidTransactions": 84,
                        "successfulTransactions": 443,
                        "failedTransactions": 35,
                        "declinedTransactions": 11,
                        "pendingTransactions": 4,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-02-23T00:00:00+00:00",
                        "intervalEnd": "2026-02-24T00:00:00+00:00",
                        "totalTransactions": 808,
                        "authorizeTransactions": 76,
                        "captureTransactions": 78,
                        "payTransactions": 544,
                        "refundTransactions": 33,
                        "verifyTransactions": 23,
                        "voidTransactions": 54,
                        "successfulTransactions": 727,
                        "failedTransactions": 75,
                        "declinedTransactions": 3,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-02-24T00:00:00+00:00",
                        "intervalEnd": "2026-02-25T00:00:00+00:00",
                        "totalTransactions": 470,
                        "authorizeTransactions": 37,
                        "captureTransactions": 42,
                        "payTransactions": 340,
                        "refundTransactions": 46,
                        "verifyTransactions": 5,
                        "voidTransactions": 0,
                        "successfulTransactions": 423,
                        "failedTransactions": 39,
                        "declinedTransactions": 5,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-02-18T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-02-25T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 4165
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 303
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 348
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 1522
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 740
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 628
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 624
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 3746
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 297
                    },
                    "declinedTransactions": {
                      "type": "integer",
                      "example": 101
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 21
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-02-18T00:00:00+00:00",
                          "intervalEnd": "2026-02-19T00:00:00+00:00",
                          "totalTransactions": 602,
                          "authorizeTransactions": 71,
                          "captureTransactions": 77,
                          "payTransactions": 178,
                          "refundTransactions": 187,
                          "verifyTransactions": 16,
                          "voidTransactions": 73,
                          "successfulTransactions": 541,
                          "failedTransactions": 34,
                          "declinedTransactions": 24,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-02-19T00:00:00+00:00",
                          "intervalEnd": "2026-02-20T00:00:00+00:00",
                          "totalTransactions": 810,
                          "authorizeTransactions": 22,
                          "captureTransactions": 32,
                          "payTransactions": 211,
                          "refundTransactions": 242,
                          "verifyTransactions": 137,
                          "voidTransactions": 166,
                          "successfulTransactions": 729,
                          "failedTransactions": 44,
                          "declinedTransactions": 36,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-02-20T00:00:00+00:00",
                          "intervalEnd": "2026-02-21T00:00:00+00:00",
                          "totalTransactions": 493,
                          "authorizeTransactions": 58,
                          "captureTransactions": 64,
                          "payTransactions": 84,
                          "refundTransactions": 80,
                          "verifyTransactions": 44,
                          "voidTransactions": 163,
                          "successfulTransactions": 443,
                          "failedTransactions": 31,
                          "declinedTransactions": 15,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-02-21T00:00:00+00:00",
                          "intervalEnd": "2026-02-22T00:00:00+00:00",
                          "totalTransactions": 489,
                          "authorizeTransactions": 25,
                          "captureTransactions": 32,
                          "payTransactions": 85,
                          "refundTransactions": 46,
                          "verifyTransactions": 217,
                          "voidTransactions": 84,
                          "successfulTransactions": 440,
                          "failedTransactions": 39,
                          "declinedTransactions": 7,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-02-22T00:00:00+00:00",
                          "intervalEnd": "2026-02-23T00:00:00+00:00",
                          "totalTransactions": 493,
                          "authorizeTransactions": 14,
                          "captureTransactions": 23,
                          "payTransactions": 80,
                          "refundTransactions": 106,
                          "verifyTransactions": 186,
                          "voidTransactions": 84,
                          "successfulTransactions": 443,
                          "failedTransactions": 35,
                          "declinedTransactions": 11,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-02-23T00:00:00+00:00",
                          "intervalEnd": "2026-02-24T00:00:00+00:00",
                          "totalTransactions": 808,
                          "authorizeTransactions": 76,
                          "captureTransactions": 78,
                          "payTransactions": 544,
                          "refundTransactions": 33,
                          "verifyTransactions": 23,
                          "voidTransactions": 54,
                          "successfulTransactions": 727,
                          "failedTransactions": 75,
                          "declinedTransactions": 3,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-02-24T00:00:00+00:00",
                          "intervalEnd": "2026-02-25T00:00:00+00:00",
                          "totalTransactions": 470,
                          "authorizeTransactions": 37,
                          "captureTransactions": 42,
                          "payTransactions": 340,
                          "refundTransactions": 46,
                          "verifyTransactions": 5,
                          "voidTransactions": 0,
                          "successfulTransactions": 423,
                          "failedTransactions": 39,
                          "declinedTransactions": 5,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-02-18T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-02-19T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 602
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 71
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 77
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 178
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 187
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 16
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": 73
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 541
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 34
                          },
                          "declinedTransactions": {
                            "type": "integer",
                            "example": 24
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 3
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-02-18T00:00:00+00:00",
                    "periodEnd": "2026-02-25T00:00:00+00:00",
                    "totalSettlementAmount": 31791.46,
                    "totalFeeAmount": 1557.78154,
                    "totalNetAmount": 30233.67846,
                    "totalTransactionsPending": 193,
                    "totalTransactionsSettled": 848,
                    "totalTransactionsSettling": 892,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-02-18T00:00:00+00:00",
                        "intervalEnd": "2026-02-19T00:00:00+00:00",
                        "totalSettlementAmount": 968.47,
                        "totalFeeAmount": 47.45503,
                        "totalNetAmount": 921.01497,
                        "totalTransactionsPending": 30,
                        "totalTransactionsSettled": 32,
                        "totalTransactionsSettling": 347
                      },
                      {
                        "intervalStart": "2026-02-19T00:00:00+00:00",
                        "intervalEnd": "2026-02-20T00:00:00+00:00",
                        "totalSettlementAmount": 8290.93,
                        "totalFeeAmount": 406.25557,
                        "totalNetAmount": 7884.67443,
                        "totalTransactionsPending": 25,
                        "totalTransactionsSettled": 109,
                        "totalTransactionsSettling": 75
                      },
                      {
                        "intervalStart": "2026-02-20T00:00:00+00:00",
                        "intervalEnd": "2026-02-21T00:00:00+00:00",
                        "totalSettlementAmount": 7637.6,
                        "totalFeeAmount": 374.2424,
                        "totalNetAmount": 7263.3576,
                        "totalTransactionsPending": 19,
                        "totalTransactionsSettled": 311,
                        "totalTransactionsSettling": 12
                      },
                      {
                        "intervalStart": "2026-02-21T00:00:00+00:00",
                        "intervalEnd": "2026-02-22T00:00:00+00:00",
                        "totalSettlementAmount": 1671.49,
                        "totalFeeAmount": 81.90301,
                        "totalNetAmount": 1589.58699,
                        "totalTransactionsPending": 40,
                        "totalTransactionsSettled": 36,
                        "totalTransactionsSettling": 116
                      },
                      {
                        "intervalStart": "2026-02-22T00:00:00+00:00",
                        "intervalEnd": "2026-02-23T00:00:00+00:00",
                        "totalSettlementAmount": 6928.92,
                        "totalFeeAmount": 339.51708,
                        "totalNetAmount": 6589.40292,
                        "totalTransactionsPending": 15,
                        "totalTransactionsSettled": 69,
                        "totalTransactionsSettling": 27
                      },
                      {
                        "intervalStart": "2026-02-23T00:00:00+00:00",
                        "intervalEnd": "2026-02-24T00:00:00+00:00",
                        "totalSettlementAmount": 3399.65,
                        "totalFeeAmount": 166.58285,
                        "totalNetAmount": 3233.06715,
                        "totalTransactionsPending": 30,
                        "totalTransactionsSettled": 35,
                        "totalTransactionsSettling": 217
                      },
                      {
                        "intervalStart": "2026-02-24T00:00:00+00:00",
                        "intervalEnd": "2026-02-25T00:00:00+00:00",
                        "totalSettlementAmount": 2894.4,
                        "totalFeeAmount": 141.8256,
                        "totalNetAmount": 2752.5744,
                        "totalTransactionsPending": 34,
                        "totalTransactionsSettled": 256,
                        "totalTransactionsSettling": 98
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-02-18T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-02-25T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 31791.46
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 1557.78154
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 30233.67846
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 193
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 848
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 892
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-02-18T00:00:00+00:00",
                          "intervalEnd": "2026-02-19T00:00:00+00:00",
                          "totalSettlementAmount": 968.47,
                          "totalFeeAmount": 47.45503,
                          "totalNetAmount": 921.01497,
                          "totalTransactionsPending": 30,
                          "totalTransactionsSettled": 32,
                          "totalTransactionsSettling": 347
                        },
                        {
                          "intervalStart": "2026-02-19T00:00:00+00:00",
                          "intervalEnd": "2026-02-20T00:00:00+00:00",
                          "totalSettlementAmount": 8290.93,
                          "totalFeeAmount": 406.25557,
                          "totalNetAmount": 7884.67443,
                          "totalTransactionsPending": 25,
                          "totalTransactionsSettled": 109,
                          "totalTransactionsSettling": 75
                        },
                        {
                          "intervalStart": "2026-02-20T00:00:00+00:00",
                          "intervalEnd": "2026-02-21T00:00:00+00:00",
                          "totalSettlementAmount": 7637.6,
                          "totalFeeAmount": 374.2424,
                          "totalNetAmount": 7263.3576,
                          "totalTransactionsPending": 19,
                          "totalTransactionsSettled": 311,
                          "totalTransactionsSettling": 12
                        },
                        {
                          "intervalStart": "2026-02-21T00:00:00+00:00",
                          "intervalEnd": "2026-02-22T00:00:00+00:00",
                          "totalSettlementAmount": 1671.49,
                          "totalFeeAmount": 81.90301,
                          "totalNetAmount": 1589.58699,
                          "totalTransactionsPending": 40,
                          "totalTransactionsSettled": 36,
                          "totalTransactionsSettling": 116
                        },
                        {
                          "intervalStart": "2026-02-22T00:00:00+00:00",
                          "intervalEnd": "2026-02-23T00:00:00+00:00",
                          "totalSettlementAmount": 6928.92,
                          "totalFeeAmount": 339.51708,
                          "totalNetAmount": 6589.40292,
                          "totalTransactionsPending": 15,
                          "totalTransactionsSettled": 69,
                          "totalTransactionsSettling": 27
                        },
                        {
                          "intervalStart": "2026-02-23T00:00:00+00:00",
                          "intervalEnd": "2026-02-24T00:00:00+00:00",
                          "totalSettlementAmount": 3399.65,
                          "totalFeeAmount": 166.58285,
                          "totalNetAmount": 3233.06715,
                          "totalTransactionsPending": 30,
                          "totalTransactionsSettled": 35,
                          "totalTransactionsSettling": 217
                        },
                        {
                          "intervalStart": "2026-02-24T00:00:00+00:00",
                          "intervalEnd": "2026-02-25T00:00:00+00:00",
                          "totalSettlementAmount": 2894.4,
                          "totalFeeAmount": 141.8256,
                          "totalNetAmount": 2752.5744,
                          "totalTransactionsPending": 34,
                          "totalTransactionsSettled": 256,
                          "totalTransactionsSettling": 98
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-02-18T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-02-19T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 968.47
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 47.45503
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 921.01497
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 30
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 32
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 347
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 4,
                    "data": [
                      {
                        "email": "laron91@yahoo.com",
                        "firstName": "Edd",
                        "lastName": "Bogisich",
                        "phone": "+14699327202",
                        "dateOfBirth": "1983-08-08"
                      },
                      {
                        "email": "rogelio.armstrong@fay.com",
                        "firstName": "Emie",
                        "lastName": "Murray",
                        "phone": "+12797767083",
                        "dateOfBirth": "1970-05-26"
                      },
                      {
                        "email": "jgrant@gmail.com",
                        "firstName": "June",
                        "lastName": "Beier",
                        "phone": "+17345392128",
                        "dateOfBirth": "1971-05-03"
                      },
                      {
                        "email": "iwyman@hartmann.org",
                        "firstName": "Luz",
                        "lastName": "Feil",
                        "phone": "+15186094687",
                        "dateOfBirth": "1971-03-12"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 4,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "laron91@yahoo.com",
                          "firstName": "Edd",
                          "lastName": "Bogisich",
                          "phone": "+14699327202",
                          "dateOfBirth": "1983-08-08"
                        },
                        {
                          "email": "rogelio.armstrong@fay.com",
                          "firstName": "Emie",
                          "lastName": "Murray",
                          "phone": "+12797767083",
                          "dateOfBirth": "1970-05-26"
                        },
                        {
                          "email": "jgrant@gmail.com",
                          "firstName": "June",
                          "lastName": "Beier",
                          "phone": "+17345392128",
                          "dateOfBirth": "1971-05-03"
                        },
                        {
                          "email": "iwyman@hartmann.org",
                          "firstName": "Luz",
                          "lastName": "Feil",
                          "phone": "+15186094687",
                          "dateOfBirth": "1971-03-12"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "laron91@yahoo.com"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Edd"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Bogisich"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+14699327202"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "1983-08-08"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers/{customerIdOrEmail}/addresses": {
      "get": {
        "summary": "List Customer Billing Addresses",
        "operationId": "listCustomerBillingAddresses",
        "description": "Returns all unique billing addresses that have been used by a customer across their payments.\nAddresses are deduplicated using case-insensitive and whitespace-insensitive comparison.",
        "parameters": [
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
            "example": "-city",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
              "example": "-city",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of unique billing addresses for the customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "company": "Goodwin, Nienow and Batz",
                        "street": "97594 Leslie Islands",
                        "city": "Lake Angelinaton",
                        "stateProvince": "ND",
                        "postcodeZip": "76551-1528",
                        "country": "USA"
                      },
                      {
                        "company": "Bailey LLC",
                        "street": "5564 Rodriguez Manors Suite 173",
                        "city": "West Arthurport",
                        "stateProvince": "AR",
                        "postcodeZip": "23919",
                        "country": "USA"
                      },
                      {
                        "company": "Hirthe-Ankunding",
                        "street": "704 Sharon Streets",
                        "city": "Marcellusmouth",
                        "stateProvince": "SC",
                        "postcodeZip": "00338",
                        "country": "USA"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "company": "Goodwin, Nienow and Batz",
                          "street": "97594 Leslie Islands",
                          "city": "Lake Angelinaton",
                          "stateProvince": "ND",
                          "postcodeZip": "76551-1528",
                          "country": "USA"
                        },
                        {
                          "company": "Bailey LLC",
                          "street": "5564 Rodriguez Manors Suite 173",
                          "city": "West Arthurport",
                          "stateProvince": "AR",
                          "postcodeZip": "23919",
                          "country": "USA"
                        },
                        {
                          "company": "Hirthe-Ankunding",
                          "street": "704 Sharon Streets",
                          "city": "Marcellusmouth",
                          "stateProvince": "SC",
                          "postcodeZip": "00338",
                          "country": "USA"
                        }
                      ],
                      "description": "The data returned from the request",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "company": {
                            "type": "string",
                            "example": "Goodwin, Nienow and Batz"
                          },
                          "street": {
                            "type": "string",
                            "example": "97594 Leslie Islands"
                          },
                          "city": {
                            "type": "string",
                            "example": "Lake Angelinaton"
                          },
                          "stateProvince": {
                            "type": "string",
                            "example": "ND"
                          },
                          "postcodeZip": {
                            "type": "string",
                            "example": "76551-1528"
                          },
                          "country": {
                            "type": "string",
                            "example": "USA"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "path",
          "name": "customerIdOrEmail",
          "description": "The customer ID, UUID, or email address",
          "example": "customer_123",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/exports": {
      "get": {
        "summary": "List Exports for Organization",
        "operationId": "listExportsForOrganization",
        "description": "Retrieve a list of exports for the organization with filtering, sorting, and pagination support.",
        "parameters": [
          {
            "in": "query",
            "name": "filter[type]",
            "description": "Filter by export type: TRANSACTION, MONTHLY_STATEMENT",
            "example": "TRANSACTION",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter by export type: TRANSACTION, MONTHLY_STATEMENT",
              "example": "TRANSACTION",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[status]",
            "description": "Filter by status: PENDING, PROCESSING, COMPLETED, FAILED",
            "example": "COMPLETED",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter by status: PENDING, PROCESSING, COMPLETED, FAILED",
              "example": "COMPLETED",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[format]",
            "description": "Filter by format: CSV, XLSX",
            "example": "CSV",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter by format: CSV, XLSX",
              "example": "CSV",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[createdBetween]",
            "description": "Filter by created date range (comma-separated): YYYY-MM-DD,YYYY-MM-DD",
            "example": "2026-01-01,2026-01-31",
            "required": true,
            "schema": {
[...]
