{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.76.2"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payout Exports",
      "description": "Create payout exports"
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/yments/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)\n\n### Tags:\n\nFilter by user-applied tags. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)\n\n### Tags:\n\nFilter by user-applied tags. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-05-14T00:00:00+00:00",
                      "periodEnd": "2026-05-21T00:00:00+00:00",
                      "numPaymentsCreated": 3003,
                      "numPaymentsProcessed": 1676,
                      "numPaymentsIncomplete": 1327,
                      "numPaymentsWithRefunds": 931,
                      "numCardPresentPayments": 711,
                      "numCardNotPresentPayments": 616,
                      "totalCapturedAmount": 4189235.15,
                      "totalRefundedAmount": 462000.64,
                      "totalNetCapturedAmount": 3727234.51,
                      "averageNetCapturedAmount": 3321.0742857143,
                      "minNetCapturedAmount": 24.49,
                      "maxNetCapturedAmount": 9034.48,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-05-14T00:00:00+00:00",
                          "intervalEnd": "2026-05-15T00:00:00+00:00",
                          "numPaymentsCreated": 279,
                          "numPaymentsProcessed": 246,
                          "numPaymentsIncomplete": 33,
                          "numPaymentsWithRefunds": 138,
                          "numCardPresentPayments": 25,
                          "numCardNotPresentPayments": 8,
                          "totalCapturedAmount": 328343.63,
                          "totalRefundedAmount": 39903.4,
                          "totalNetCapturedAmount": 288440.23,
                          "averageNetCapturedAmount": 1172.52,
                          "minNetCapturedAmount": 79.51,
                          "maxNetCapturedAmount": 8623.14
                        },
                        {
                          "intervalStart": "2026-05-15T00:00:00+00:00",
                          "intervalEnd": "2026-05-16T00:00:00+00:00",
                          "numPaymentsCreated": 106,
                          "numPaymentsProcessed": 65,
                          "numPaymentsIncomplete": 41,
                          "numPaymentsWithRefunds": 44,
                          "numCardPresentPayments": 58,
                          "numCardNotPresentPayments": -17,
                          "totalCapturedAmount": 688450.89,
                          "totalRefundedAmount": 34852.66,
                          "totalNetCapturedAmount": 653598.23,
                          "averageNetCapturedAmount": 10055.36,
                          "minNetCapturedAmount": 76.18,
                          "maxNetCapturedAmount": 3305.91
                        },
                        {
                          "intervalStart": "2026-05-16T00:00:00+00:00",
                          "intervalEnd": "2026-05-17T00:00:00+00:00",
                          "numPaymentsCreated": 178,
                          "numPaymentsProcessed": 174,
                          "numPaymentsIncomplete": 4,
                          "numPaymentsWithRefunds": 146,
                          "numCardPresentPayments": 125,
                          "numCardNotPresentPayments": -121,
                          "totalCapturedAmount": 184029.2,
                          "totalRefundedAmount": 9008.4,
                          "totalNetCapturedAmount": 175020.8,
                          "averageNetCapturedAmount": 1005.87,
                          "minNetCapturedAmount": 89.51,
                          "maxNetCapturedAmount": 5321.34
                        },
                        {
                          "intervalStart": "2026-05-17T00:00:00+00:00",
                          "intervalEnd": "2026-05-18T00:00:00+00:00",
                          "numPaymentsCreated": 670,
                          "numPaymentsProcessed": 518,
                          "numPaymentsIncomplete": 152,
                          "numPaymentsWithRefunds": 153,
                          "numCardPresentPayments": 4,
                          "numCardNotPresentPayments": 148,
                          "totalCapturedAmount": 474322.18,
                          "totalRefundedAmount": 129053.67,
                          "totalNetCapturedAmount": 345268.51,
                          "averageNetCapturedAmount": 666.54,
                          "minNetCapturedAmount": 49.11,
                          "maxNetCapturedAmount": 7700.2
                        },
                        {
                          "intervalStart": "2026-05-18T00:00:00+00:00",
                          "intervalEnd": "2026-05-19T00:00:00+00:00",
                          "numPaymentsCreated": 244,
                          "numPaymentsProcessed": 137,
                          "numPaymentsIncomplete": 107,
                          "numPaymentsWithRefunds": 40,
                          "numCardPresentPayments": 47,
                          "numCardNotPresentPayments": 60,
                          "totalCapturedAmount": 566876.51,
                          "totalRefundedAmount": 106142.25,
                          "totalNetCapturedAmount": 460734.26,
                          "averageNetCapturedAmount": 3363.02,
                          "minNetCapturedAmount": 65.83,
                          "maxNetCapturedAmount": 9034.48
                        },
                        {
                          "intervalStart": "2026-05-19T00:00:00+00:00",
                          "intervalEnd": "2026-05-20T00:00:00+00:00",
                          "numPaymentsCreated": 728,
                          "numPaymentsProcessed": 328,
                          "numPaymentsIncomplete": 400,
                          "numPaymentsWithRefunds": 212,
                          "numCardPresentPayments": 275,
                          "numCardNotPresentPayments": 125,
                          "totalCapturedAmount": 995077.19,
                          "totalRefundedAmount": 34425.41,
                          "totalNetCapturedAmount": 960651.78,
                          "averageNetCapturedAmount": 2928.82,
                          "minNetCapturedAmount": 24.49,
                          "maxNetCapturedAmount": 8436.8
                        },
                        {
                          "intervalStart": "2026-05-20T00:00:00+00:00",
                          "intervalEnd": "2026-05-21T00:00:00+00:00",
                          "numPaymentsCreated": 798,
                          "numPaymentsProcessed": 208,
                          "numPaymentsIncomplete": 590,
                          "numPaymentsWithRefunds": 198,
                          "numCardPresentPayments": 177,
                          "numCardNotPresentPayments": 413,
                          "totalCapturedAmount": 952135.55,
                          "totalRefundedAmount": 108614.85,
                          "totalNetCapturedAmount": 843520.7,
                          "averageNetCapturedAmount": 4055.39,
                          "minNetCapturedAmount": 89.76,
                          "maxNetCapturedAmount": 2643.75
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-05-14T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-05-21T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "numPaymentsCreated": {
                          "type": "integer",
                          "example": 3003,
                          "description": "Total number of payment records created in the period",
                          "enum": []
                        },
                        "numPaymentsProcessed": {
                          "type": "integer",
                          "example": 1676,
                          "description": "Number of payments that have successfully had funds captured (captured amount > 0)",
                          "enum": []
                        },
                        "numPaymentsIncomplete": {
                          "type": "integer",
                          "example": 1327,
                          "description": "Number of payments which have been created but funds have not been captured yet (e.g. failures, declines, authorizations, etc.)",
                          "enum": []
                        },
                        "numPaymentsWithRefunds": {
                          "type": "integer",
                          "example": 931,
                          "description": "Number of payments that have had one or more refunds (refunded amount > 0)",
                          "enum": []
                        },
                        "numCardPresentPayments": {
                          "type": "integer",
                          "example": 711,
                          "description": "Number of payments made with card present (e.g. via terminal device)",
                          "enum": []
                        },
                        "numCardNotPresentPayments": {
                          "type": "integer",
                          "example": 616,
                          "description": "Number of payments made with card not present (e.g. online payments)",
                          "enum": []
                        },
                        "totalCapturedAmount": {
                          "type": "number",
                          "example": 4189235.15,
                          "description": "Total amount captured across all payments in the period",
                          "enum": []
                        },
                        "totalRefundedAmount": {
                          "type": "number",
                          "example": 462000.64,
                          "description": "Total amount refunded across all payments in the period",
                          "enum": []
                        },
                        "totalNetCapturedAmount": {
                          "type": "number",
                          "example": 3727234.51,
                          "description": "Net captured amount (captured - refunded) across all payments in the period",
                          "enum": []
                        },
                        "averageNetCapturedAmount": {
                          "type": "number",
                          "example": 3321.0742857143,
                          "description": "Average net captured amount per payment in the period",
                          "enum": []
                        },
                        "minNetCapturedAmount": {
                          "type": "number",
                          "example": 24.49,
                          "description": "Minimum net captured amount in the period",
                          "enum": []
                        },
                        "maxNetCapturedAmount": {
                          "type": "number",
                          "example": 9034.48,
                          "description": "Maximum net captured amount in the period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-05-14T00:00:00+00:00",
                              "intervalEnd": "2026-05-15T00:00:00+00:00",
                              "numPaymentsCreated": 279,
                              "numPaymentsProcessed": 246,
                              "numPaymentsIncomplete": 33,
                              "numPaymentsWithRefunds": 138,
                              "numCardPresentPayments": 25,
                              "numCardNotPresentPayments": 8,
                              "totalCapturedAmount": 328343.63,
                              "totalRefundedAmount": 39903.4,
                              "totalNetCapturedAmount": 288440.23,
                              "averageNetCapturedAmount": 1172.52,
                              "minNetCapturedAmount": 79.51,
                              "maxNetCapturedAmount": 8623.14
                            },
                            {
                              "intervalStart": "2026-05-15T00:00:00+00:00",
                              "intervalEnd": "2026-05-16T00:00:00+00:00",
                              "numPaymentsCreated": 106,
                              "numPaymentsProcessed": 65,
                              "numPaymentsIncomplete": 41,
                              "numPaymentsWithRefunds": 44,
                              "numCardPresentPayments": 58,
                              "numCardNotPresentPayments": -17,
                              "totalCapturedAmount": 688450.89,
                              "totalRefundedAmount": 34852.66,
                              "totalNetCapturedAmount": 653598.23,
                              "averageNetCapturedAmount": 10055.36,
                              "minNetCapturedAmount": 76.18,
                              "maxNetCapturedAmount": 3305.91
                            },
                            {
                              "intervalStart": "2026-05-16T00:00:00+00:00",
                              "intervalEnd": "2026-05-17T00:00:00+00:00",
                              "numPaymentsCreated": 178,
                              "numPaymentsProcessed": 174,
                              "numPaymentsIncomplete": 4,
                              "numPaymentsWithRefunds": 146,
                              "numCardPresentPayments": 125,
                              "numCardNotPresentPayments": -121,
                              "totalCapturedAmount": 184029.2,
                              "totalRefundedAmount": 9008.4,
                              "totalNetCapturedAmount": 175020.8,
                              "averageNetCapturedAmount": 1005.87,
                              "minNetCapturedAmount": 89.51,
                              "maxNetCapturedAmount": 5321.34
                            },
                            {
                              "intervalStart": "2026-05-17T00:00:00+00:00",
                              "intervalEnd": "2026-05-18T00:00:00+00:00",
                              "numPaymentsCreated": 670,
                              "numPaymentsProcessed": 518,
                              "numPaymentsIncomplete": 152,
                              "numPaymentsWithRefunds": 153,
                              "numCardPresentPayments": 4,
                              "numCardNotPresentPayments": 148,
                              "totalCapturedAmount": 474322.18,
                              "totalRefundedAmount": 129053.67,
                              "totalNetCapturedAmount": 345268.51,
                              "averageNetCapturedAmount": 666.54,
                              "minNetCapturedAmount": 49.11,
                              "maxNetCapturedAmount": 7700.2
                            },
                            {
                              "intervalStart": "2026-05-18T00:00:00+00:00",
                              "intervalEnd": "2026-05-19T00:00:00+00:00",
                              "numPaymentsCreated": 244,
                              "numPaymentsProcessed": 137,
                              "numPaymentsIncomplete": 107,
                              "numPaymentsWithRefunds": 40,
                              "numCardPresentPayments": 47,
                              "numCardNotPresentPayments": 60,
                              "totalCapturedAmount": 566876.51,
                              "totalRefundedAmount": 106142.25,
                              "totalNetCapturedAmount": 460734.26,
                              "averageNetCapturedAmount": 3363.02,
                              "minNetCapturedAmount": 65.83,
                              "maxNetCapturedAmount": 9034.48
                            },
                            {
                              "intervalStart": "2026-05-19T00:00:00+00:00",
                              "intervalEnd": "2026-05-20T00:00:00+00:00",
                              "numPaymentsCreated": 728,
                              "numPaymentsProcessed": 328,
                              "numPaymentsIncomplete": 400,
                              "numPaymentsWithRefunds": 212,
                              "numCardPresentPayments": 275,
                              "numCardNotPresentPayments": 125,
                              "totalCapturedAmount": 995077.19,
                              "totalRefundedAmount": 34425.41,
                              "totalNetCapturedAmount": 960651.78,
                              "averageNetCapturedAmount": 2928.82,
                              "minNetCapturedAmount": 24.49,
                              "maxNetCapturedAmount": 8436.8
                            },
                            {
                              "intervalStart": "2026-05-20T00:00:00+00:00",
                              "intervalEnd": "2026-05-21T00:00:00+00:00",
                              "numPaymentsCreated": 798,
                              "numPaymentsProcessed": 208,
                              "numPaymentsIncomplete": 590,
                              "numPaymentsWithRefunds": 198,
                              "numCardPresentPayments": 177,
                              "numCardNotPresentPayments": 413,
                              "totalCapturedAmount": 952135.55,
                              "totalRefundedAmount": 108614.85,
                              "totalNetCapturedAmount": 843520.7,
                              "averageNetCapturedAmount": 4055.39,
                              "minNetCapturedAmount": 89.76,
                              "maxNetCapturedAmount": 2643.75
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-05-14T00:00:00+00:00",
                                "description": "Start time of the PaymentAnalyticsData interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-05-15T00:00:00+00:00",
                                "description": "End time of the PaymentAnalyticsData interval",
                                "enum": []
                              },
                              "numPaymentsCreated": {
                                "type": "integer",
                                "example": 279,
                                "description": "Total number of payment records created in the interval",
                                "enum": []
                              },
                              "numPaymentsProcessed": {
                                "type": "integer",
                                "example": 246,
                                "description": "Number of payments that have successfully had funds captured (captured amount > 0)",
                                "enum": []
                              },
                              "numPaymentsIncomplete": {
                                "type": "integer",
                                "example": 33,
                                "description": "Number of payments which have been created but funds have not been captured yet (e.g. failures, declines, authorizations, etc.)",
                                "enum": []
                              },
                              "numPaymentsWithRefunds": {
                                "type": "integer",
                                "example": 138,
                                "description": "Number of payments that have had one or more refunds (refunded amount > 0)",
                                "enum": []
                              },
                              "numCardPresentPayments": {
                                "type": "integer",
                                "example": 25,
                                "description": "Number of payments made with card present (e.g. via terminal device)",
                                "enum": []
                              },
                              "numCardNotPresentPayments": {
                                "type": "integer",
                                "example": 8,
                                "description": "Number of payments made with card not present (e.g. online payments)",
                                "enum": []
                              },
                              "totalCapturedAmount": {
                                "type": "number",
                                "example": 328343.63,
                                "description": "Total amount captured across all payments in the interval",
                                "enum": []
                              },
                              "totalRefundedAmount": {
                                "type": "number",
                                "example": 39903.4,
                                "description": "Total amount refunded across all payments in the interval",
                                "enum": []
                              },
                              "totalNetCapturedAmount": {
                                "type": "number",
                                "example": 288440.23,
                                "description": "Net captured amount (captured - refunded) across all payments in the interval",
                                "enum": []
                              },
                              "averageNetCapturedAmount": {
                                "type": "number",
                                "example": 1172.52,
                                "description": "Average net captured amount per payment in the interval",
                                "enum": []
                              },
                              "minNetCapturedAmount": {
                                "type": "number",
                                "example": 79.51,
                                "description": "Minimum net captured amount in the interval",
                                "enum": []
                              },
                              "maxNetCapturedAmount": {
                                "type": "number",
                                "example": 8623.14,
                                "description": "Maximum net captured amount in the interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/yments/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n\n### Tags:\n\nFilter by user-applied tags on the underlying payments. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n\n### Tags:\n\nFilter by user-applied tags on the underlying payments. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-05-14T00:00:00+00:00",
                      "periodEnd": "2026-05-21T00:00:00+00:00",
                      "activeCustomers": 297,
                      "newCustomers": 149,
                      "returningCustomers": 148,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-05-14T00:00:00+00:00",
                          "intervalEnd": "2026-05-15T00:00:00+00:00",
                          "activeCustomers": 82,
                          "newCustomers": 30,
                          "returningCustomers": 52
                        },
                        {
                          "intervalStart": "2026-05-15T00:00:00+00:00",
                          "intervalEnd": "2026-05-16T00:00:00+00:00",
                          "activeCustomers": 55,
                          "newCustomers": 19,
                          "returningCustomers": 36
                        },
                        {
                          "intervalStart": "2026-05-16T00:00:00+00:00",
                          "intervalEnd": "2026-05-17T00:00:00+00:00",
                          "activeCustomers": 57,
                          "newCustomers": 7,
                          "returningCustomers": 50
                        },
                        {
                          "intervalStart": "2026-05-17T00:00:00+00:00",
                          "intervalEnd": "2026-05-18T00:00:00+00:00",
                          "activeCustomers": 30,
                          "newCustomers": 21,
                          "returningCustomers": 9
                        },
                        {
                          "intervalStart": "2026-05-18T00:00:00+00:00",
                          "intervalEnd": "2026-05-19T00:00:00+00:00",
                          "activeCustomers": 23,
                          "newCustomers": 16,
                          "returningCustomers": 7
                        },
                        {
                          "intervalStart": "2026-05-19T00:00:00+00:00",
                          "intervalEnd": "2026-05-20T00:00:00+00:00",
                          "activeCustomers": 68,
                          "newCustomers": 43,
                          "returningCustomers": 25
                        },
                        {
                          "intervalStart": "2026-05-20T00:00:00+00:00",
                          "intervalEnd": "2026-05-21T00:00:00+00:00",
                          "activeCustomers": 48,
                          "newCustomers": 13,
                          "returningCustomers": 35
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-05-14T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-05-21T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "activeCustomers": {
                          "type": "integer",
                          "example": 297,
                          "description": "number of customers who are associated with at least one payment which was created in the period",
                          "enum": []
                        },
                        "newCustomers": {
                          "type": "integer",
                          "example": 149,
                          "description": "number of new customers added in the period",
                          "enum": []
                        },
                        "returningCustomers": {
                          "type": "integer",
                          "example": 148,
                          "description": "number of customers who were active in the period but were created before the period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-05-14T00:00:00+00:00",
                              "intervalEnd": "2026-05-15T00:00:00+00:00",
                              "activeCustomers": 82,
                              "newCustomers": 30,
                              "returningCustomers": 52
                            },
                            {
                              "intervalStart": "2026-05-15T00:00:00+00:00",
                              "intervalEnd": "2026-05-16T00:00:00+00:00",
                              "activeCustomers": 55,
                              "newCustomers": 19,
                              "returningCustomers": 36
                            },
                            {
                              "intervalStart": "2026-05-16T00:00:00+00:00",
                              "intervalEnd": "2026-05-17T00:00:00+00:00",
                              "activeCustomers": 57,
                              "newCustomers": 7,
                              "returningCustomers": 50
                            },
                            {
                              "intervalStart": "2026-05-17T00:00:00+00:00",
                              "intervalEnd": "2026-05-18T00:00:00+00:00",
                              "activeCustomers": 30,
                              "newCustomers": 21,
                              "returningCustomers": 9
                            },
                            {
                              "intervalStart": "2026-05-18T00:00:00+00:00",
                              "intervalEnd": "2026-05-19T00:00:00+00:00",
                              "activeCustomers": 23,
                              "newCustomers": 16,
                              "returningCustomers": 7
                            },
                            {
                              "intervalStart": "2026-05-19T00:00:00+00:00",
                              "intervalEnd": "2026-05-20T00:00:00+00:00",
                              "activeCustomers": 68,
                              "newCustomers": 43,
                              "returningCustomers": 25
                            },
                            {
                              "intervalStart": "2026-05-20T00:00:00+00:00",
                              "intervalEnd": "2026-05-21T00:00:00+00:00",
                              "activeCustomers": 48,
                              "newCustomers": 13,
                              "returningCustomers": 35
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-05-14T00:00:00+00:00",
                                "description": "Start time of the analytics calculation interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-05-15T00:00:00+00:00",
                                "description": "End time of the analytics calculation interval",
                                "enum": []
                              },
                              "activeCustomers": {
                                "type": "integer",
                                "example": 82,
                                "description": "number of customers who are associated with at least one payment which was created in the interval",
                                "enum": []
                              },
                              "newCustomers": {
                                "type": "integer",
                                "example": 30,
                                "description": "number of new customers added in the interval",
                                "enum": []
                              },
                              "returningCustomers": {
                                "type": "integer",
                                "example": 52,
                                "description": "number of customers who were active in the interval but were created before the interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/yments/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n\n### Tags:\n\nFilter by user-applied tags. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n\n### Tags:\n\nFilter by user-applied tags. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-05-14T00:00:00+00:00",
                      "periodEnd": "2026-05-21T00:00:00+00:00",
                      "totalTransactions": 5572,
                      "authorizeTransactions": 324,
                      "captureTransactions": 365,
                      "payTransactions": 2918,
                      "refundTransactions": 1053,
                      "verifyTransactions": 386,
                      "voidTransactions": 526,
                      "successfulTransactions": 5010,
                      "failedTransactions": 377,
                      "declinedTransactions": 162,
                      "pendingTransactions": 23,
                      "unknownTransactions": 0,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-05-14T00:00:00+00:00",
                          "intervalEnd": "2026-05-15T00:00:00+00:00",
                          "totalTransactions": 983,
                          "authorizeTransactions": 97,
                          "captureTransactions": 102,
                          "payTransactions": 557,
                          "refundTransactions": 224,
                          "verifyTransactions": 4,
                          "voidTransactions": -1,
                          "successfulTransactions": 884,
                          "failedTransactions": 62,
                          "declinedTransactions": 36,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-05-15T00:00:00+00:00",
                          "intervalEnd": "2026-05-16T00:00:00+00:00",
                          "totalTransactions": 861,
                          "authorizeTransactions": 21,
                          "captureTransactions": 30,
                          "payTransactions": 292,
                          "refundTransactions": 206,
                          "verifyTransactions": 171,
                          "voidTransactions": 141,
                          "successfulTransactions": 774,
                          "failedTransactions": 58,
                          "declinedTransactions": 28,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-05-16T00:00:00+00:00",
                          "intervalEnd": "2026-05-17T00:00:00+00:00",
                          "totalTransactions": 971,
                          "authorizeTransactions": 77,
                          "captureTransactions": 78,
                          "payTransactions": 642,
                          "refundTransactions": 27,
                          "verifyTransactions": 43,
                          "voidTransactions": 104,
                          "successfulTransactions": 873,
                          "failedTransactions": 75,
                          "declinedTransactions": 16,
                          "pendingTransactions": 7,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-05-17T00:00:00+00:00",
                          "intervalEnd": "2026-05-18T00:00:00+00:00",
                          "totalTransactions": 917,
                          "authorizeTransactions": 14,
                          "captureTransactions": 24,
                          "payTransactions": 574,
                          "refundTransactions": 95,
                          "verifyTransactions": 35,
                          "voidTransactions": 175,
                          "successfulTransactions": 825,
                          "failedTransactions": 41,
                          "declinedTransactions": 45,
                          "pendingTransactions": 6,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-05-18T00:00:00+00:00",
                          "intervalEnd": "2026-05-19T00:00:00+00:00",
                          "totalTransactions": 801,
                          "authorizeTransactions": 43,
                          "captureTransactions": 50,
                          "payTransactions": 438,
                          "refundTransactions": 97,
                          "verifyTransactions": 101,
                          "voidTransactions": 72,
                          "successfulTransactions": 720,
                          "failedTransactions": 73,
                          "declinedTransactions": 6,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-05-19T00:00:00+00:00",
                          "intervalEnd": "2026-05-20T00:00:00+00:00",
                          "totalTransactions": 433,
                          "authorizeTransactions": 16,
                          "captureTransactions": 21,
                          "payTransactions": 124,
                          "refundTransactions": 247,
                          "verifyTransactions": 18,
                          "voidTransactions": 7,
                          "successfulTransactions": 389,
                          "failedTransactions": 29,
                          "declinedTransactions": 14,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-05-20T00:00:00+00:00",
                          "intervalEnd": "2026-05-21T00:00:00+00:00",
                          "totalTransactions": 606,
                          "authorizeTransactions": 56,
                          "captureTransactions": 60,
                          "payTransactions": 291,
                          "refundTransactions": 157,
                          "verifyTransactions": 14,
                          "voidTransactions": 28,
                          "successfulTransactions": 545,
                          "failedTransactions": 39,
                          "declinedTransactions": 17,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-05-14T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-05-21T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "totalTransactions": {
                          "type": "integer",
                          "example": 5572,
                          "description": "Total number of transactions in the period",
                          "enum": []
                        },
                        "authorizeTransactions": {
                          "type": "integer",
                          "example": 324,
                          "description": "Number of authorize transactions in the period",
                          "enum": []
                        },
                        "captureTransactions": {
                          "type": "integer",
                          "example": 365,
                          "description": "Number of capture transactions in the period",
                          "enum": []
                        },
                        "payTransactions": {
                          "type": "integer",
                          "example": 2918,
                          "description": "Number of pay transactions in the period",
                          "enum": []
                        },
                        "refundTransactions": {
                          "type": "integer",
                          "example": 1053,
                          "description": "Number of refund transactions in the period",
                          "enum": []
                        },
                        "verifyTransactions": {
                          "type": "integer",
                          "example": 386,
                          "description": "Number of verify transactions in the period",
                          "enum": []
                        },
                        "voidTransactions": {
                          "type": "integer",
                          "example": 526,
                          "description": "Number of void transactions in the period",
                          "enum": []
                        },
                        "successfulTransactions": {
                          "type": "integer",
                          "example": 5010,
                          "description": "Number of successful transactions in the period",
                          "enum": []
                        },
                        "failedTransactions": {
                          "type": "integer",
                          "example": 377,
                          "description": "Number of failed transactions in the period",
                          "enum": []
                        },
                        "declinedTransactions": {
                          "type": "integer",
                          "example": 162,
                          "description": "Number of declined transactions in the period",
                          "enum": []
                        },
                        "pendingTransactions": {
                          "type": "integer",
                          "example": 23,
                          "description": "Number of pending transactions in the period",
                          "enum": []
                        },
                        "unknownTransactions": {
                          "type": "integer",
                          "example": 0,
                          "description": "Number of transactions with unknown result in the period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-05-14T00:00:00+00:00",
                              "intervalEnd": "2026-05-15T00:00:00+00:00",
                              "totalTransactions": 983,
                              "authorizeTransactions": 97,
                              "captureTransactions": 102,
                              "payTransactions": 557,
                              "refundTransactions": 224,
                              "verifyTransactions": 4,
                              "voidTransactions": -1,
                              "successfulTransactions": 884,
                              "failedTransactions": 62,
                              "declinedTransactions": 36,
                              "pendingTransactions": 1,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-05-15T00:00:00+00:00",
                              "intervalEnd": "2026-05-16T00:00:00+00:00",
                              "totalTransactions": 861,
                              "authorizeTransactions": 21,
                              "captureTransactions": 30,
                              "payTransactions": 292,
                              "refundTransactions": 206,
                              "verifyTransactions": 171,
                              "voidTransactions": 141,
                              "successfulTransactions": 774,
                              "failedTransactions": 58,
                              "declinedTransactions": 28,
                              "pendingTransactions": 1,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-05-16T00:00:00+00:00",
                              "intervalEnd": "2026-05-17T00:00:00+00:00",
                              "totalTransactions": 971,
                              "authorizeTransactions": 77,
                              "captureTransactions": 78,
                              "payTransactions": 642,
                              "refundTransactions": 27,
                              "verifyTransactions": 43,
                              "voidTransactions": 104,
                              "successfulTransactions": 873,
                              "failedTransactions": 75,
                              "declinedTransactions": 16,
                              "pendingTransactions": 7,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-05-17T00:00:00+00:00",
                              "intervalEnd": "2026-05-18T00:00:00+00:00",
                              "totalTransactions": 917,
                              "authorizeTransactions": 14,
                              "captureTransactions": 24,
                              "payTransactions": 574,
                              "refundTransactions": 95,
                              "verifyTransactions": 35,
                              "voidTransactions": 175,
                              "successfulTransactions": 825,
                              "failedTransactions": 41,
                              "declinedTransactions": 45,
                              "pendingTransactions": 6,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-05-18T00:00:00+00:00",
                              "intervalEnd": "2026-05-19T00:00:00+00:00",
                              "totalTransactions": 801,
                              "authorizeTransactions": 43,
                              "captureTransactions": 50,
                              "payTransactions": 438,
                              "refundTransactions": 97,
                              "verifyTransactions": 101,
                              "voidTransactions": 72,
                              "successfulTransactions": 720,
                              "failedTransactions": 73,
                              "declinedTransactions": 6,
                              "pendingTransactions": 2,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-05-19T00:00:00+00:00",
                              "intervalEnd": "2026-05-20T00:00:00+00:00",
                              "totalTransactions": 433,
                              "authorizeTransactions": 16,
                              "captureTransactions": 21,
                              "payTransactions": 124,
                              "refundTransactions": 247,
                              "verifyTransactions": 18,
                              "voidTransactions": 7,
                              "successfulTransactions": 389,
                              "failedTransactions": 29,
                              "declinedTransactions": 14,
                              "pendingTransactions": 1,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-05-20T00:00:00+00:00",
                              "intervalEnd": "2026-05-21T00:00:00+00:00",
                              "totalTransactions": 606,
                              "authorizeTransactions": 56,
                              "captureTransactions": 60,
                              "payTransactions": 291,
                              "refundTransactions": 157,
                              "verifyTransactions": 14,
                              "voidTransactions": 28,
                              "successfulTransactions": 545,
                              "failedTransactions": 39,
                              "declinedTransactions": 17,
                              "pendingTransactions": 5,
                              "unknownTransactions": 0
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-05-14T00:00:00+00:00",
                                "description": "Start time of the analytics calculation interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-05-15T00:00:00+00:00",
                                "description": "End time of the analytics calculation interval",
                                "enum": []
                              },
                              "totalTransactions": {
                                "type": "integer",
                                "example": 983,
                                "description": "Total number of transactions in the interval",
                                "enum": []
                              },
                              "authorizeTransactions": {
                                "type": "integer",
                                "example": 97,
                                "description": "Number of authorize transactions in the interval",
                                "enum": []
                              },
                              "captureTransactions": {
                                "type": "integer",
                                "example": 102,
                                "description": "Number of capture transactions in the interval",
                                "enum": []
                              },
                              "payTransactions": {
                                "type": "integer",
                                "example": 557,
                                "description": "Number of pay transactions in the interval",
                                "enum": []
                              },
                              "refundTransactions": {
                                "type": "integer",
                                "example": 224,
                                "description": "Number of refund transactions in the interval",
                                "enum": []
                              },
                              "verifyTransactions": {
                                "type": "integer",
                                "example": 4,
                                "description": "Number of verify transactions in the interval",
                                "enum": []
                              },
                              "voidTransactions": {
                                "type": "integer",
                                "example": -1,
                                "description": "Number of void transactions in the interval",
                                "enum": []
                              },
                              "successfulTransactions": {
                                "type": "integer",
                                "example": 884,
                                "description": "Number of successful transactions in the interval",
                                "enum": []
                              },
                              "failedTransactions": {
                                "type": "integer",
                                "example": 62,
                                "description": "Number of failed transactions in the interval",
                                "enum": []
                              },
                              "declinedTransactions": {
                                "type": "integer",
                                "example": 36,
                                "description": "Number of declined transactions in the interval",
                                "enum": []
                              },
                              "pendingTransactions": {
                                "type": "integer",
                                "example": 1,
                                "description": "Number of pending transactions in the interval",
                                "enum": []
                              },
                              "unknownTransactions": {
                                "type": "integer",
                                "example": 0,
                                "description": "Number of transactions with unknown result in the interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/yments/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n\n### Tags:\n\nFilter by user-applied tags. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n\n### Tags:\n\nFilter by user-applied tags. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-05-14T00:00:00+00:00",
                      "periodEnd": "2026-05-21T00:00:00+00:00",
                      "totalSettlementAmount": 34175.82,
                      "totalFeeAmount": 1674.61518,
                      "totalNetAmount": 32501.20482,
                      "totalTransactionsPending": 129,
                      "totalTransactionsSettled": 749,
                      "totalTransactionsSettling": 1123,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-05-14T00:00:00+00:00",
                          "intervalEnd": "2026-05-15T00:00:00+00:00",
                          "totalSettlementAmount": 3240.43,
                          "totalFeeAmount": 158.78107,
                          "totalNetAmount": 3081.64893,
                          "totalTransactionsPending": 36,
                          "totalTransactionsSettled": 39,
                          "totalTransactionsSettling": 231
                        },
                        {
                          "intervalStart": "2026-05-15T00:00:00+00:00",
                          "intervalEnd": "2026-05-16T00:00:00+00:00",
                          "totalSettlementAmount": 8588.01,
                          "totalFeeAmount": 420.81249,
                          "totalNetAmount": 8167.19751,
                          "totalTransactionsPending": 29,
                          "totalTransactionsSettled": 96,
                          "totalTransactionsSettling": 77
                        },
                        {
                          "intervalStart": "2026-05-16T00:00:00+00:00",
                          "intervalEnd": "2026-05-17T00:00:00+00:00",
                          "totalSettlementAmount": 704.57,
                          "totalFeeAmount": 34.52393,
                          "totalNetAmount": 670.04607,
                          "totalTransactionsPending": 8,
                          "totalTransactionsSettled": 139,
                          "totalTransactionsSettling": 284
                        },
                        {
                          "intervalStart": "2026-05-17T00:00:00+00:00",
                          "intervalEnd": "2026-05-18T00:00:00+00:00",
                          "totalSettlementAmount": 8133.28,
                          "totalFeeAmount": 398.53072,
                          "totalNetAmount": 7734.74928,
                          "totalTransactionsPending": 7,
                          "totalTransactionsSettled": 272,
                          "totalTransactionsSettling": 124
                        },
                        {
                          "intervalStart": "2026-05-18T00:00:00+00:00",
                          "intervalEnd": "2026-05-19T00:00:00+00:00",
                          "totalSettlementAmount": 4428.22,
                          "totalFeeAmount": 216.98278,
                          "totalNetAmount": 4211.23722,
                          "totalTransactionsPending": 17,
                          "totalTransactionsSettled": 54,
                          "totalTransactionsSettling": 33
                        },
                        {
                          "intervalStart": "2026-05-19T00:00:00+00:00",
                          "intervalEnd": "2026-05-20T00:00:00+00:00",
                          "totalSettlementAmount": 5848.31,
                          "totalFeeAmount": 286.56719,
                          "totalNetAmount": 5561.74281,
                          "totalTransactionsPending": 17,
                          "totalTransactionsSettled": 45,
                          "totalTransactionsSettling": 106
                        },
                        {
                          "intervalStart": "2026-05-20T00:00:00+00:00",
                          "intervalEnd": "2026-05-21T00:00:00+00:00",
                          "totalSettlementAmount": 3233,
                          "totalFeeAmount": 158.417,
                          "totalNetAmount": 3074.583,
                          "totalTransactionsPending": 15,
                          "totalTransactionsSettled": 104,
                          "totalTransactionsSettling": 268
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-05-14T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-05-21T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "totalSettlementAmount": {
                          "type": "number",
                          "example": 34175.82,
                          "description": "Total settled payout amount in this period",
                          "enum": []
                        },
                        "totalFeeAmount": {
                          "type": "number",
                          "example": 1674.61518,
                          "description": "Total amount of fees charged for the payouts in this period",
                          "enum": []
                        },
                        "totalNetAmount": {
                          "type": "number",
                          "example": 32501.20482,
                          "description": "Total net payout amount in this period",
                          "enum": []
                        },
                        "totalTransactionsPending": {
                          "type": "integer",
                          "example": 129,
                          "description": "Total number of transactions pending in this period",
                          "enum": []
                        },
                        "totalTransactionsSettled": {
                          "type": "integer",
                          "example": 749,
                          "description": "Total number of transactions settled in this period",
                          "enum": []
                        },
                        "totalTransactionsSettling": {
                          "type": "integer",
                          "example": 1123,
                          "description": "Total number of transactions settling in this period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-05-14T00:00:00+00:00",
                              "intervalEnd": "2026-05-15T00:00:00+00:00",
                              "totalSettlementAmount": 3240.43,
                              "totalFeeAmount": 158.78107,
                              "totalNetAmount": 3081.64893,
                              "totalTransactionsPending": 36,
                              "totalTransactionsSettled": 39,
                              "totalTransactionsSettling": 231
                            },
                            {
                              "intervalStart": "2026-05-15T00:00:00+00:00",
                              "intervalEnd": "2026-05-16T00:00:00+00:00",
                              "totalSettlementAmount": 8588.01,
                              "totalFeeAmount": 420.81249,
                              "totalNetAmount": 8167.19751,
                              "totalTransactionsPending": 29,
                              "totalTransactionsSettled": 96,
                              "totalTransactionsSettling": 77
                            },
                            {
                              "intervalStart": "2026-05-16T00:00:00+00:00",
                              "intervalEnd": "2026-05-17T00:00:00+00:00",
                              "totalSettlementAmount": 704.57,
                              "totalFeeAmount": 34.52393,
                              "totalNetAmount": 670.04607,
                              "totalTransactionsPending": 8,
                              "totalTransactionsSettled": 139,
                              "totalTransactionsSettling": 284
                            },
                            {
                              "intervalStart": "2026-05-17T00:00:00+00:00",
                              "intervalEnd": "2026-05-18T00:00:00+00:00",
                              "totalSettlementAmount": 8133.28,
                              "totalFeeAmount": 398.53072,
                              "totalNetAmount": 7734.74928,
                              "totalTransactionsPending": 7,
                              "totalTransactionsSettled": 272,
                              "totalTransactionsSettling": 124
                            },
                            {
                              "intervalStart": "2026-05-18T00:00:00+00:00",
                              "intervalEnd": "2026-05-19T00:00:00+00:00",
                              "totalSettlementAmount": 4428.22,
                              "totalFeeAmount": 216.98278,
                              "totalNetAmount": 4211.23722,
                              "totalTransactionsPending": 17,
                              "totalTransactionsSettled": 54,
                              "totalTransactionsSettling": 33
                            },
                            {
                              "intervalStart": "2026-05-19T00:00:00+00:00",
                              "intervalEnd": "2026-05-20T00:00:00+00:00",
                              "totalSettlementAmount": 5848.31,
                              "totalFeeAmount": 286.56719,
                              "totalNetAmount": 5561.74281,
                              "totalTransactionsPending": 17,
                              "totalTransactionsSettled": 45,
                              "totalTransactionsSettling": 106
                            },
                            {
                              "intervalStart": "2026-05-20T00:00:00+00:00",
                              "intervalEnd": "2026-05-21T00:00:00+00:00",
                              "totalSettlementAmount": 3233,
                              "totalFeeAmount": 158.417,
                              "totalNetAmount": 3074.583,
                              "totalTransactionsPending": 15,
                              "totalTransactionsSettled": 104,
                              "totalTransactionsSettling": 268
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-05-14T00:00:00+00:00",
                                "description": "Start time of the analytics calculation interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-05-15T00:00:00+00:00",
                                "description": "End time of the analytics calculation interval",
                                "enum": []
                              },
                              "totalSettlementAmount": {
                                "type": "number",
                                "example": 3240.43,
                                "description": "Total settled payout amount in this interval",
                                "enum": []
                              },
                              "totalFeeAmount": {
                                "type": "number",
                                "example": 158.78107,
                                "description": "Total amount of fees charged for the payouts in this interval",
                                "enum": []
                              },
                              "totalNetAmount": {
                                "type": "number",
                                "example": 3081.64893,
                                "description": "Total net payout amount in this interval",
                                "enum": []
                              },
                              "totalTransactionsPending": {
                                "type": "integer",
                                "example": 36,
                                "description": "Total number of transactions pending in this interval",
                                "enum": []
                              },
                              "totalTransactionsSettled": {
                                "type": "integer",
                                "example": 39,
[...]
