{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.66.0"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payout Exports",
      "description": "Create payout exports"
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-15T00:00:00+00:00",
                    "periodEnd": "2026-04-22T00:00:00+00:00",
                    "numPaymentsCreated": 3447,
                    "numPaymentsProcessed": 2155,
                    "numPaymentsIncomplete": 1292,
                    "numPaymentsWithRefunds": 1377,
                    "numCardPresentPayments": 756,
                    "numCardNotPresentPayments": 536,
                    "totalCapturedAmount": 4506152.45,
                    "totalRefundedAmount": 549503.76,
                    "totalNetCapturedAmount": 3956648.69,
                    "averageNetCapturedAmount": 2765.2885714286,
                    "minNetCapturedAmount": 10.46,
                    "maxNetCapturedAmount": 7653.11,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-15T00:00:00+00:00",
                        "intervalEnd": "2026-04-16T00:00:00+00:00",
                        "numPaymentsCreated": 782,
                        "numPaymentsProcessed": 589,
                        "numPaymentsIncomplete": 193,
                        "numPaymentsWithRefunds": 260,
                        "numCardPresentPayments": 11,
                        "numCardNotPresentPayments": 182,
                        "totalCapturedAmount": 938849.23,
                        "totalRefundedAmount": 68478.51,
                        "totalNetCapturedAmount": 870370.72,
                        "averageNetCapturedAmount": 1477.71,
                        "minNetCapturedAmount": 33.32,
                        "maxNetCapturedAmount": 4361.33
                      },
                      {
                        "intervalStart": "2026-04-16T00:00:00+00:00",
                        "intervalEnd": "2026-04-17T00:00:00+00:00",
                        "numPaymentsCreated": 692,
                        "numPaymentsProcessed": 209,
                        "numPaymentsIncomplete": 483,
                        "numPaymentsWithRefunds": 127,
                        "numCardPresentPayments": 93,
                        "numCardNotPresentPayments": 390,
                        "totalCapturedAmount": 663034.84,
                        "totalRefundedAmount": 134706.13,
                        "totalNetCapturedAmount": 528328.71,
                        "averageNetCapturedAmount": 2527.89,
                        "minNetCapturedAmount": 70.35,
                        "maxNetCapturedAmount": 7326.96
                      },
                      {
                        "intervalStart": "2026-04-17T00:00:00+00:00",
                        "intervalEnd": "2026-04-18T00:00:00+00:00",
                        "numPaymentsCreated": 354,
                        "numPaymentsProcessed": 318,
                        "numPaymentsIncomplete": 36,
                        "numPaymentsWithRefunds": 214,
                        "numCardPresentPayments": 39,
                        "numCardNotPresentPayments": -3,
                        "totalCapturedAmount": 527953.24,
                        "totalRefundedAmount": 149773.94,
                        "totalNetCapturedAmount": 378179.3,
                        "averageNetCapturedAmount": 1189.24,
                        "minNetCapturedAmount": 48.54,
                        "maxNetCapturedAmount": 7653.11
                      },
                      {
                        "intervalStart": "2026-04-18T00:00:00+00:00",
                        "intervalEnd": "2026-04-19T00:00:00+00:00",
                        "numPaymentsCreated": 306,
                        "numPaymentsProcessed": 190,
                        "numPaymentsIncomplete": 116,
                        "numPaymentsWithRefunds": 38,
                        "numCardPresentPayments": 28,
                        "numCardNotPresentPayments": 88,
                        "totalCapturedAmount": 192046.74,
                        "totalRefundedAmount": 19383.04,
                        "totalNetCapturedAmount": 172663.7,
                        "averageNetCapturedAmount": 908.76,
                        "minNetCapturedAmount": 59.82,
                        "maxNetCapturedAmount": 3297.5
                      },
                      {
                        "intervalStart": "2026-04-19T00:00:00+00:00",
                        "intervalEnd": "2026-04-20T00:00:00+00:00",
                        "numPaymentsCreated": 447,
                        "numPaymentsProcessed": 150,
                        "numPaymentsIncomplete": 297,
                        "numPaymentsWithRefunds": 146,
                        "numCardPresentPayments": 64,
                        "numCardNotPresentPayments": 233,
                        "totalCapturedAmount": 341473.54,
                        "totalRefundedAmount": 96658.3,
                        "totalNetCapturedAmount": 244815.24,
                        "averageNetCapturedAmount": 1632.1,
                        "minNetCapturedAmount": 93.42,
                        "maxNetCapturedAmount": 4691.48
                      },
                      {
                        "intervalStart": "2026-04-20T00:00:00+00:00",
                        "intervalEnd": "2026-04-21T00:00:00+00:00",
                        "numPaymentsCreated": 138,
                        "numPaymentsProcessed": 90,
                        "numPaymentsIncomplete": 48,
                        "numPaymentsWithRefunds": 62,
                        "numCardPresentPayments": 4,
                        "numCardNotPresentPayments": 44,
                        "totalCapturedAmount": 993263.56,
                        "totalRefundedAmount": 71570.67,
                        "totalNetCapturedAmount": 921692.89,
                        "averageNetCapturedAmount": 10241.03,
                        "minNetCapturedAmount": 10.46,
                        "maxNetCapturedAmount": 3128.2
                      },
                      {
                        "intervalStart": "2026-04-21T00:00:00+00:00",
                        "intervalEnd": "2026-04-22T00:00:00+00:00",
                        "numPaymentsCreated": 728,
                        "numPaymentsProcessed": 609,
                        "numPaymentsIncomplete": 119,
                        "numPaymentsWithRefunds": 530,
                        "numCardPresentPayments": 517,
                        "numCardNotPresentPayments": -398,
                        "totalCapturedAmount": 849531.3,
                        "totalRefundedAmount": 8933.17,
                        "totalNetCapturedAmount": 840598.13,
                        "averageNetCapturedAmount": 1380.29,
                        "minNetCapturedAmount": 72.94,
                        "maxNetCapturedAmount": 2892.56
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-15T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-22T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 3447
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 2155
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 1292
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 1377
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 756
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": 536
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 4506152.45
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 549503.76
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 3956648.69
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 2765.2885714286
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 10.46
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 7653.11
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-15T00:00:00+00:00",
                          "intervalEnd": "2026-04-16T00:00:00+00:00",
                          "numPaymentsCreated": 782,
                          "numPaymentsProcessed": 589,
                          "numPaymentsIncomplete": 193,
                          "numPaymentsWithRefunds": 260,
                          "numCardPresentPayments": 11,
                          "numCardNotPresentPayments": 182,
                          "totalCapturedAmount": 938849.23,
                          "totalRefundedAmount": 68478.51,
                          "totalNetCapturedAmount": 870370.72,
                          "averageNetCapturedAmount": 1477.71,
                          "minNetCapturedAmount": 33.32,
                          "maxNetCapturedAmount": 4361.33
                        },
                        {
                          "intervalStart": "2026-04-16T00:00:00+00:00",
                          "intervalEnd": "2026-04-17T00:00:00+00:00",
                          "numPaymentsCreated": 692,
                          "numPaymentsProcessed": 209,
                          "numPaymentsIncomplete": 483,
                          "numPaymentsWithRefunds": 127,
                          "numCardPresentPayments": 93,
                          "numCardNotPresentPayments": 390,
                          "totalCapturedAmount": 663034.84,
                          "totalRefundedAmount": 134706.13,
                          "totalNetCapturedAmount": 528328.71,
                          "averageNetCapturedAmount": 2527.89,
                          "minNetCapturedAmount": 70.35,
                          "maxNetCapturedAmount": 7326.96
                        },
                        {
                          "intervalStart": "2026-04-17T00:00:00+00:00",
                          "intervalEnd": "2026-04-18T00:00:00+00:00",
                          "numPaymentsCreated": 354,
                          "numPaymentsProcessed": 318,
                          "numPaymentsIncomplete": 36,
                          "numPaymentsWithRefunds": 214,
                          "numCardPresentPayments": 39,
                          "numCardNotPresentPayments": -3,
                          "totalCapturedAmount": 527953.24,
                          "totalRefundedAmount": 149773.94,
                          "totalNetCapturedAmount": 378179.3,
                          "averageNetCapturedAmount": 1189.24,
                          "minNetCapturedAmount": 48.54,
                          "maxNetCapturedAmount": 7653.11
                        },
                        {
                          "intervalStart": "2026-04-18T00:00:00+00:00",
                          "intervalEnd": "2026-04-19T00:00:00+00:00",
                          "numPaymentsCreated": 306,
                          "numPaymentsProcessed": 190,
                          "numPaymentsIncomplete": 116,
                          "numPaymentsWithRefunds": 38,
                          "numCardPresentPayments": 28,
                          "numCardNotPresentPayments": 88,
                          "totalCapturedAmount": 192046.74,
                          "totalRefundedAmount": 19383.04,
                          "totalNetCapturedAmount": 172663.7,
                          "averageNetCapturedAmount": 908.76,
                          "minNetCapturedAmount": 59.82,
                          "maxNetCapturedAmount": 3297.5
                        },
                        {
                          "intervalStart": "2026-04-19T00:00:00+00:00",
                          "intervalEnd": "2026-04-20T00:00:00+00:00",
                          "numPaymentsCreated": 447,
                          "numPaymentsProcessed": 150,
                          "numPaymentsIncomplete": 297,
                          "numPaymentsWithRefunds": 146,
                          "numCardPresentPayments": 64,
                          "numCardNotPresentPayments": 233,
                          "totalCapturedAmount": 341473.54,
                          "totalRefundedAmount": 96658.3,
                          "totalNetCapturedAmount": 244815.24,
                          "averageNetCapturedAmount": 1632.1,
                          "minNetCapturedAmount": 93.42,
                          "maxNetCapturedAmount": 4691.48
                        },
                        {
                          "intervalStart": "2026-04-20T00:00:00+00:00",
                          "intervalEnd": "2026-04-21T00:00:00+00:00",
                          "numPaymentsCreated": 138,
                          "numPaymentsProcessed": 90,
                          "numPaymentsIncomplete": 48,
                          "numPaymentsWithRefunds": 62,
                          "numCardPresentPayments": 4,
                          "numCardNotPresentPayments": 44,
                          "totalCapturedAmount": 993263.56,
                          "totalRefundedAmount": 71570.67,
                          "totalNetCapturedAmount": 921692.89,
                          "averageNetCapturedAmount": 10241.03,
                          "minNetCapturedAmount": 10.46,
                          "maxNetCapturedAmount": 3128.2
                        },
                        {
                          "intervalStart": "2026-04-21T00:00:00+00:00",
                          "intervalEnd": "2026-04-22T00:00:00+00:00",
                          "numPaymentsCreated": 728,
                          "numPaymentsProcessed": 609,
                          "numPaymentsIncomplete": 119,
                          "numPaymentsWithRefunds": 530,
                          "numCardPresentPayments": 517,
                          "numCardNotPresentPayments": -398,
                          "totalCapturedAmount": 849531.3,
                          "totalRefundedAmount": 8933.17,
                          "totalNetCapturedAmount": 840598.13,
                          "averageNetCapturedAmount": 1380.29,
                          "minNetCapturedAmount": 72.94,
                          "maxNetCapturedAmount": 2892.56
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-15T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-16T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 782
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 589
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 193
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 260
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 11
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": 182
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 938849.23
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 68478.51
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 870370.72
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 1477.71
                          },
                          "minNetCapturedAmount": {
                            "type": "number",
                            "example": 33.32
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 4361.33
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-15T00:00:00+00:00",
                    "periodEnd": "2026-04-22T00:00:00+00:00",
                    "activeCustomers": 372,
                    "newCustomers": 245,
                    "returningCustomers": 127,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-15T00:00:00+00:00",
                        "intervalEnd": "2026-04-16T00:00:00+00:00",
                        "activeCustomers": 43,
                        "newCustomers": 31,
                        "returningCustomers": 12
                      },
                      {
                        "intervalStart": "2026-04-16T00:00:00+00:00",
                        "intervalEnd": "2026-04-17T00:00:00+00:00",
                        "activeCustomers": 32,
                        "newCustomers": 19,
                        "returningCustomers": 13
                      },
                      {
                        "intervalStart": "2026-04-17T00:00:00+00:00",
                        "intervalEnd": "2026-04-18T00:00:00+00:00",
                        "activeCustomers": 97,
                        "newCustomers": 62,
                        "returningCustomers": 35
                      },
                      {
                        "intervalStart": "2026-04-18T00:00:00+00:00",
                        "intervalEnd": "2026-04-19T00:00:00+00:00",
                        "activeCustomers": 57,
                        "newCustomers": 28,
                        "returningCustomers": 29
                      },
                      {
                        "intervalStart": "2026-04-19T00:00:00+00:00",
                        "intervalEnd": "2026-04-20T00:00:00+00:00",
                        "activeCustomers": 99,
                        "newCustomers": 11,
                        "returningCustomers": 88
                      },
                      {
                        "intervalStart": "2026-04-20T00:00:00+00:00",
                        "intervalEnd": "2026-04-21T00:00:00+00:00",
                        "activeCustomers": 67,
                        "newCustomers": 63,
                        "returningCustomers": 4
                      },
                      {
                        "intervalStart": "2026-04-21T00:00:00+00:00",
                        "intervalEnd": "2026-04-22T00:00:00+00:00",
                        "activeCustomers": 81,
                        "newCustomers": 31,
                        "returningCustomers": 50
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-15T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-22T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 372
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 245
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": 127
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-15T00:00:00+00:00",
                          "intervalEnd": "2026-04-16T00:00:00+00:00",
                          "activeCustomers": 43,
                          "newCustomers": 31,
                          "returningCustomers": 12
                        },
                        {
                          "intervalStart": "2026-04-16T00:00:00+00:00",
                          "intervalEnd": "2026-04-17T00:00:00+00:00",
                          "activeCustomers": 32,
                          "newCustomers": 19,
                          "returningCustomers": 13
                        },
                        {
                          "intervalStart": "2026-04-17T00:00:00+00:00",
                          "intervalEnd": "2026-04-18T00:00:00+00:00",
                          "activeCustomers": 97,
                          "newCustomers": 62,
                          "returningCustomers": 35
                        },
                        {
                          "intervalStart": "2026-04-18T00:00:00+00:00",
                          "intervalEnd": "2026-04-19T00:00:00+00:00",
                          "activeCustomers": 57,
                          "newCustomers": 28,
                          "returningCustomers": 29
                        },
                        {
                          "intervalStart": "2026-04-19T00:00:00+00:00",
                          "intervalEnd": "2026-04-20T00:00:00+00:00",
                          "activeCustomers": 99,
                          "newCustomers": 11,
                          "returningCustomers": 88
                        },
                        {
                          "intervalStart": "2026-04-20T00:00:00+00:00",
                          "intervalEnd": "2026-04-21T00:00:00+00:00",
                          "activeCustomers": 67,
                          "newCustomers": 63,
                          "returningCustomers": 4
                        },
                        {
                          "intervalStart": "2026-04-21T00:00:00+00:00",
                          "intervalEnd": "2026-04-22T00:00:00+00:00",
                          "activeCustomers": 81,
                          "newCustomers": 31,
                          "returningCustomers": 50
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-15T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-16T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 43
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 31
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 12
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-15T00:00:00+00:00",
                    "periodEnd": "2026-04-22T00:00:00+00:00",
                    "totalTransactions": 5662,
                    "authorizeTransactions": 360,
                    "captureTransactions": 400,
                    "payTransactions": 1809,
                    "refundTransactions": 2240,
                    "verifyTransactions": 290,
                    "voidTransactions": 563,
                    "successfulTransactions": 5092,
                    "failedTransactions": 373,
                    "declinedTransactions": 167,
                    "pendingTransactions": 30,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-15T00:00:00+00:00",
                        "intervalEnd": "2026-04-16T00:00:00+00:00",
                        "totalTransactions": 992,
                        "authorizeTransactions": 23,
                        "captureTransactions": 24,
                        "payTransactions": 217,
                        "refundTransactions": 714,
                        "verifyTransactions": 9,
                        "voidTransactions": 5,
                        "successfulTransactions": 892,
                        "failedTransactions": 61,
                        "declinedTransactions": 32,
                        "pendingTransactions": 7,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-16T00:00:00+00:00",
                        "intervalEnd": "2026-04-17T00:00:00+00:00",
                        "totalTransactions": 896,
                        "authorizeTransactions": 40,
                        "captureTransactions": 41,
                        "payTransactions": 208,
                        "refundTransactions": 336,
                        "verifyTransactions": 115,
                        "voidTransactions": 156,
                        "successfulTransactions": 806,
                        "failedTransactions": 52,
                        "declinedTransactions": 33,
                        "pendingTransactions": 5,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-17T00:00:00+00:00",
                        "intervalEnd": "2026-04-18T00:00:00+00:00",
                        "totalTransactions": 812,
                        "authorizeTransactions": 67,
                        "captureTransactions": 74,
                        "payTransactions": 218,
                        "refundTransactions": 290,
                        "verifyTransactions": 70,
                        "voidTransactions": 93,
                        "successfulTransactions": 730,
                        "failedTransactions": 76,
                        "declinedTransactions": 3,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-18T00:00:00+00:00",
                        "intervalEnd": "2026-04-19T00:00:00+00:00",
                        "totalTransactions": 759,
                        "authorizeTransactions": 64,
                        "captureTransactions": 70,
                        "payTransactions": 578,
                        "refundTransactions": 35,
                        "verifyTransactions": 11,
                        "voidTransactions": 1,
                        "successfulTransactions": 683,
                        "failedTransactions": 63,
                        "declinedTransactions": 8,
                        "pendingTransactions": 5,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-19T00:00:00+00:00",
                        "intervalEnd": "2026-04-20T00:00:00+00:00",
                        "totalTransactions": 996,
                        "authorizeTransactions": 104,
                        "captureTransactions": 111,
                        "payTransactions": 166,
                        "refundTransactions": 312,
                        "verifyTransactions": 8,
                        "voidTransactions": 295,
                        "successfulTransactions": 896,
                        "failedTransactions": 54,
                        "declinedTransactions": 45,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-20T00:00:00+00:00",
                        "intervalEnd": "2026-04-21T00:00:00+00:00",
                        "totalTransactions": 424,
                        "authorizeTransactions": 16,
                        "captureTransactions": 26,
                        "payTransactions": 370,
                        "refundTransactions": 5,
                        "verifyTransactions": 6,
                        "voidTransactions": 1,
                        "successfulTransactions": 381,
                        "failedTransactions": 28,
                        "declinedTransactions": 13,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-21T00:00:00+00:00",
                        "intervalEnd": "2026-04-22T00:00:00+00:00",
                        "totalTransactions": 783,
                        "authorizeTransactions": 46,
                        "captureTransactions": 54,
                        "payTransactions": 52,
                        "refundTransactions": 548,
                        "verifyTransactions": 71,
                        "voidTransactions": 12,
                        "successfulTransactions": 704,
                        "failedTransactions": 39,
                        "declinedTransactions": 33,
                        "pendingTransactions": 7,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-15T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-22T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 5662
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 360
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 400
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 1809
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 2240
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 290
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 563
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 5092
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 373
                    },
                    "declinedTransactions": {
                      "type": "integer",
                      "example": 167
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 30
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-15T00:00:00+00:00",
                          "intervalEnd": "2026-04-16T00:00:00+00:00",
                          "totalTransactions": 992,
                          "authorizeTransactions": 23,
                          "captureTransactions": 24,
                          "payTransactions": 217,
                          "refundTransactions": 714,
                          "verifyTransactions": 9,
                          "voidTransactions": 5,
                          "successfulTransactions": 892,
                          "failedTransactions": 61,
                          "declinedTransactions": 32,
                          "pendingTransactions": 7,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-16T00:00:00+00:00",
                          "intervalEnd": "2026-04-17T00:00:00+00:00",
                          "totalTransactions": 896,
                          "authorizeTransactions": 40,
                          "captureTransactions": 41,
                          "payTransactions": 208,
                          "refundTransactions": 336,
                          "verifyTransactions": 115,
                          "voidTransactions": 156,
                          "successfulTransactions": 806,
                          "failedTransactions": 52,
                          "declinedTransactions": 33,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-17T00:00:00+00:00",
                          "intervalEnd": "2026-04-18T00:00:00+00:00",
                          "totalTransactions": 812,
                          "authorizeTransactions": 67,
                          "captureTransactions": 74,
                          "payTransactions": 218,
                          "refundTransactions": 290,
                          "verifyTransactions": 70,
                          "voidTransactions": 93,
                          "successfulTransactions": 730,
                          "failedTransactions": 76,
                          "declinedTransactions": 3,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-18T00:00:00+00:00",
                          "intervalEnd": "2026-04-19T00:00:00+00:00",
                          "totalTransactions": 759,
                          "authorizeTransactions": 64,
                          "captureTransactions": 70,
                          "payTransactions": 578,
                          "refundTransactions": 35,
                          "verifyTransactions": 11,
                          "voidTransactions": 1,
                          "successfulTransactions": 683,
                          "failedTransactions": 63,
                          "declinedTransactions": 8,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-19T00:00:00+00:00",
                          "intervalEnd": "2026-04-20T00:00:00+00:00",
                          "totalTransactions": 996,
                          "authorizeTransactions": 104,
                          "captureTransactions": 111,
                          "payTransactions": 166,
                          "refundTransactions": 312,
                          "verifyTransactions": 8,
                          "voidTransactions": 295,
                          "successfulTransactions": 896,
                          "failedTransactions": 54,
                          "declinedTransactions": 45,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-20T00:00:00+00:00",
                          "intervalEnd": "2026-04-21T00:00:00+00:00",
                          "totalTransactions": 424,
                          "authorizeTransactions": 16,
                          "captureTransactions": 26,
                          "payTransactions": 370,
                          "refundTransactions": 5,
                          "verifyTransactions": 6,
                          "voidTransactions": 1,
                          "successfulTransactions": 381,
                          "failedTransactions": 28,
                          "declinedTransactions": 13,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-21T00:00:00+00:00",
                          "intervalEnd": "2026-04-22T00:00:00+00:00",
                          "totalTransactions": 783,
                          "authorizeTransactions": 46,
                          "captureTransactions": 54,
                          "payTransactions": 52,
                          "refundTransactions": 548,
                          "verifyTransactions": 71,
                          "voidTransactions": 12,
                          "successfulTransactions": 704,
                          "failedTransactions": 39,
                          "declinedTransactions": 33,
                          "pendingTransactions": 7,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-15T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-16T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 992
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 23
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 24
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 217
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 714
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 9
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": 5
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 892
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 61
                          },
                          "declinedTransactions": {
                            "type": "integer",
                            "example": 32
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 7
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-15T00:00:00+00:00",
                    "periodEnd": "2026-04-22T00:00:00+00:00",
                    "totalSettlementAmount": 44727.08,
                    "totalFeeAmount": 2191.62692,
                    "totalNetAmount": 42535.45308,
                    "totalTransactionsPending": 142,
                    "totalTransactionsSettled": 891,
                    "totalTransactionsSettling": 837,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-15T00:00:00+00:00",
                        "intervalEnd": "2026-04-16T00:00:00+00:00",
                        "totalSettlementAmount": 9718.93,
                        "totalFeeAmount": 476.22757,
                        "totalNetAmount": 9242.70243,
                        "totalTransactionsPending": 10,
                        "totalTransactionsSettled": 320,
                        "totalTransactionsSettling": 96
                      },
                      {
                        "intervalStart": "2026-04-16T00:00:00+00:00",
                        "intervalEnd": "2026-04-17T00:00:00+00:00",
                        "totalSettlementAmount": 6984.79,
                        "totalFeeAmount": 342.25471,
                        "totalNetAmount": 6642.53529,
                        "totalTransactionsPending": 33,
                        "totalTransactionsSettled": 67,
                        "totalTransactionsSettling": 39
                      },
                      {
                        "intervalStart": "2026-04-17T00:00:00+00:00",
                        "intervalEnd": "2026-04-18T00:00:00+00:00",
                        "totalSettlementAmount": 4127.88,
                        "totalFeeAmount": 202.26612,
                        "totalNetAmount": 3925.61388,
                        "totalTransactionsPending": 7,
                        "totalTransactionsSettled": 83,
                        "totalTransactionsSettling": 293
                      },
                      {
                        "intervalStart": "2026-04-18T00:00:00+00:00",
                        "intervalEnd": "2026-04-19T00:00:00+00:00",
                        "totalSettlementAmount": 6800.85,
                        "totalFeeAmount": 333.24165,
                        "totalNetAmount": 6467.60835,
                        "totalTransactionsPending": 8,
                        "totalTransactionsSettled": 78,
                        "totalTransactionsSettling": 29
                      },
                      {
                        "intervalStart": "2026-04-19T00:00:00+00:00",
                        "intervalEnd": "2026-04-20T00:00:00+00:00",
                        "totalSettlementAmount": 9336.92,
                        "totalFeeAmount": 457.50908,
                        "totalNetAmount": 8879.41092,
                        "totalTransactionsPending": 26,
                        "totalTransactionsSettled": 169,
                        "totalTransactionsSettling": 82
                      },
                      {
                        "intervalStart": "2026-04-20T00:00:00+00:00",
                        "intervalEnd": "2026-04-21T00:00:00+00:00",
                        "totalSettlementAmount": 2517.23,
                        "totalFeeAmount": 123.34427,
                        "totalNetAmount": 2393.88573,
                        "totalTransactionsPending": 39,
                        "totalTransactionsSettled": 143,
                        "totalTransactionsSettling": 89
                      },
                      {
                        "intervalStart": "2026-04-21T00:00:00+00:00",
                        "intervalEnd": "2026-04-22T00:00:00+00:00",
                        "totalSettlementAmount": 5240.48,
                        "totalFeeAmount": 256.78352,
                        "totalNetAmount": 4983.69648,
                        "totalTransactionsPending": 19,
                        "totalTransactionsSettled": 31,
                        "totalTransactionsSettling": 209
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-15T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-22T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 44727.08
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 2191.62692
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 42535.45308
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 142
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 891
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 837
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-15T00:00:00+00:00",
                          "intervalEnd": "2026-04-16T00:00:00+00:00",
                          "totalSettlementAmount": 9718.93,
                          "totalFeeAmount": 476.22757,
                          "totalNetAmount": 9242.70243,
                          "totalTransactionsPending": 10,
                          "totalTransactionsSettled": 320,
                          "totalTransactionsSettling": 96
                        },
                        {
                          "intervalStart": "2026-04-16T00:00:00+00:00",
                          "intervalEnd": "2026-04-17T00:00:00+00:00",
                          "totalSettlementAmount": 6984.79,
                          "totalFeeAmount": 342.25471,
                          "totalNetAmount": 6642.53529,
                          "totalTransactionsPending": 33,
                          "totalTransactionsSettled": 67,
                          "totalTransactionsSettling": 39
                        },
                        {
                          "intervalStart": "2026-04-17T00:00:00+00:00",
                          "intervalEnd": "2026-04-18T00:00:00+00:00",
                          "totalSettlementAmount": 4127.88,
                          "totalFeeAmount": 202.26612,
                          "totalNetAmount": 3925.61388,
                          "totalTransactionsPending": 7,
                          "totalTransactionsSettled": 83,
                          "totalTransactionsSettling": 293
                        },
                        {
                          "intervalStart": "2026-04-18T00:00:00+00:00",
                          "intervalEnd": "2026-04-19T00:00:00+00:00",
                          "totalSettlementAmount": 6800.85,
                          "totalFeeAmount": 333.24165,
                          "totalNetAmount": 6467.60835,
                          "totalTransactionsPending": 8,
                          "totalTransactionsSettled": 78,
                          "totalTransactionsSettling": 29
                        },
                        {
                          "intervalStart": "2026-04-19T00:00:00+00:00",
                          "intervalEnd": "2026-04-20T00:00:00+00:00",
                          "totalSettlementAmount": 9336.92,
                          "totalFeeAmount": 457.50908,
                          "totalNetAmount": 8879.41092,
                          "totalTransactionsPending": 26,
                          "totalTransactionsSettled": 169,
                          "totalTransactionsSettling": 82
                        },
                        {
                          "intervalStart": "2026-04-20T00:00:00+00:00",
                          "intervalEnd": "2026-04-21T00:00:00+00:00",
                          "totalSettlementAmount": 2517.23,
                          "totalFeeAmount": 123.34427,
                          "totalNetAmount": 2393.88573,
                          "totalTransactionsPending": 39,
                          "totalTransactionsSettled": 143,
                          "totalTransactionsSettling": 89
                        },
                        {
                          "intervalStart": "2026-04-21T00:00:00+00:00",
                          "intervalEnd": "2026-04-22T00:00:00+00:00",
                          "totalSettlementAmount": 5240.48,
                          "totalFeeAmount": 256.78352,
                          "totalNetAmount": 4983.69648,
                          "totalTransactionsPending": 19,
                          "totalTransactionsSettled": 31,
                          "totalTransactionsSettling": 209
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-15T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-16T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 9718.93
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 476.22757
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 9242.70243
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 10
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 320
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 96
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 5,
                    "data": [
                      {
                        "email": "vlubowitz@yahoo.com",
                        "firstName": "Rubye",
                        "lastName": "Shanahan",
                        "phone": "+16512958856",
                        "dateOfBirth": "1991-03-16"
                      },
                      {
                        "email": "assunta.roberts@yahoo.com",
                        "firstName": "Loma",
                        "lastName": "Schneider",
                        "phone": "+14327872204",
                        "dateOfBirth": "1979-12-17"
                      },
                      {
                        "email": "ekutch@abshire.com",
                        "firstName": "Adeline",
                        "lastName": "Bins",
                        "phone": "+15807041833",
                        "dateOfBirth": "2004-07-27"
                      },
                      {
                        "email": "zupton@rosenbaum.com",
                        "firstName": "Rylee",
                        "lastName": "Rice",
                        "phone": "+19416876953",
                        "dateOfBirth": "1989-04-02"
                      },
                      {
                        "email": "tlarson@mckenzie.com",
                        "firstName": "Lysanne",
                        "lastName": "Bauch",
                        "phone": "+19076956545",
                        "dateOfBirth": "1994-03-12"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 5,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "vlubowitz@yahoo.com",
                          "firstName": "Rubye",
                          "lastName": "Shanahan",
                          "phone": "+16512958856",
                          "dateOfBirth": "1991-03-16"
                        },
                        {
                          "email": "assunta.roberts@yahoo.com",
                          "firstName": "Loma",
                          "lastName": "Schneider",
                          "phone": "+14327872204",
                          "dateOfBirth": "1979-12-17"
                        },
                        {
                          "email": "ekutch@abshire.com",
                          "firstName": "Adeline",
                          "lastName": "Bins",
                          "phone": "+15807041833",
                          "dateOfBirth": "2004-07-27"
                        },
                        {
                          "email": "zupton@rosenbaum.com",
                          "firstName": "Rylee",
                          "lastName": "Rice",
                          "phone": "+19416876953",
                          "dateOfBirth": "1989-04-02"
                        },
                        {
                          "email": "tlarson@mckenzie.com",
                          "firstName": "Lysanne",
                          "lastName": "Bauch",
                          "phone": "+19076956545",
                          "dateOfBirth": "1994-03-12"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "vlubowitz@yahoo.com"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Rubye"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Shanahan"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+16512958856"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "1991-03-16"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers/{customerIdOrEmail}/addresses": {
      "get": {
        "summary": "List Customer Billing Addresses",
        "operationId": "listCustomerBillingAddresses",
        "description": "Returns all unique billing addresses that have been used by a customer across their payments.\nAddresses are deduplicated using case-insensitive and whitespace-insensitive comparison.",
        "parameters": [
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
            "example": "-city",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
              "example": "-city",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of unique billing addresses for the customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "company": "Collier Inc",
                        "street": "60316 Domingo Locks",
                        "city": "Leilanimouth",
                        "stateProvince": "HI",
                        "postcodeZip": "99815",
                        "country": "USA"
                      },
                      {
                        "company": "Rogahn Group",
                        "street": "9174 Roob Curve Apt. 306",
                        "city": "Roobton",
                        "stateProvince": "RI",
                        "postcodeZip": "91359-4989",
                        "country": "USA"
                      },
                      {
                        "company": "Hauck-Bernhard",
                        "street": "263 Cartwright Mall",
                        "city": "Littelberg",
                        "stateProvince": "WY",
                        "postcodeZip": "47809",
                        "country": "USA"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "company": "Collier Inc",
                          "street": "60316 Domingo Locks",
                          "city": "Leilanimouth",
                          "stateProvince": "HI",
                          "postcodeZip": "99815",
                          "country": "USA"
                        },
                        {
                          "company": "Rogahn Group",
                          "street": "9174 Roob Curve Apt. 306",
                          "city": "Roobton",
                          "stateProvince": "RI",
                          "postcodeZip": "91359-4989",
                          "country": "USA"
                        },
                        {
                          "company": "Hauck-Bernhard",
                          "street": "263 Cartwright Mall",
                          "city": "Littelberg",
                          "stateProvince": "WY",
                          "postcodeZip": "47809",
                          "country": "USA"
                        }
                      ],
                      "description": "The data returned from the request",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "company": {
                            "type": "string",
                            "example": "Collier Inc"
                          },
                          "street": {
                            "type": "string",
                            "example": "60316 Domingo Locks"
                          },
                          "city": {
                            "type": "string",
                            "example": "Leilanimouth"
                          },
                          "stateProvince": {
                            "type": "string",
                            "example": "HI"
                          },
                          "postcodeZip": {
                            "type": "string",
                            "example": "99815"
                          },
                          "country": {
                            "type": "string",
                            "example": "USA"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "path",
          "name": "customerIdOrEmail",
          "description": "The customer ID, UUID, or email address",
          "example": "customer_123",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/simulated/terminals": {
      "get": {
        "summary": "Get all available simulated terminals.",
        "operationId": "getAllAvailableSimulatedTerminals",
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of available simulated terminals",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "title": "Success",
                        "description": "Approves all card present transactions successfully.",
                        "tid": "SUCCESS",
                        "readyForProcessing": true,
                        "provider": "SIMULATED",
                        "type": "CARD_PRESENT"
                      },
                      {
[...]
