{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.74.0"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payout Exports",
      "description": "Create payout exports"
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/api/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-04-25T00:00:00+00:00",
                      "periodEnd": "2026-05-02T00:00:00+00:00",
                      "numPaymentsCreated": 2789,
                      "numPaymentsProcessed": 901,
                      "numPaymentsIncomplete": 1888,
                      "numPaymentsWithRefunds": 401,
                      "numCardPresentPayments": 214,
                      "numCardNotPresentPayments": 1674,
                      "totalCapturedAmount": 3138279.94,
                      "totalRefundedAmount": 538284.97,
                      "totalNetCapturedAmount": 2599994.97,
                      "averageNetCapturedAmount": 3707.2842857143,
                      "minNetCapturedAmount": 40.31,
                      "maxNetCapturedAmount": 9336.01,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-04-25T00:00:00+00:00",
                          "intervalEnd": "2026-04-26T00:00:00+00:00",
                          "numPaymentsCreated": 393,
                          "numPaymentsProcessed": 134,
                          "numPaymentsIncomplete": 259,
                          "numPaymentsWithRefunds": 115,
                          "numCardPresentPayments": 16,
                          "numCardNotPresentPayments": 243,
                          "totalCapturedAmount": 94830.75,
                          "totalRefundedAmount": 1198.02,
                          "totalNetCapturedAmount": 93632.73,
                          "averageNetCapturedAmount": 698.75,
                          "minNetCapturedAmount": 83.31,
                          "maxNetCapturedAmount": 8181.73
                        },
                        {
                          "intervalStart": "2026-04-26T00:00:00+00:00",
                          "intervalEnd": "2026-04-27T00:00:00+00:00",
                          "numPaymentsCreated": 257,
                          "numPaymentsProcessed": 56,
                          "numPaymentsIncomplete": 201,
                          "numPaymentsWithRefunds": 14,
                          "numCardPresentPayments": 6,
                          "numCardNotPresentPayments": 195,
                          "totalCapturedAmount": 293718.58,
                          "totalRefundedAmount": 24300.53,
                          "totalNetCapturedAmount": 269418.05,
                          "averageNetCapturedAmount": 4811.04,
                          "minNetCapturedAmount": 92.89,
                          "maxNetCapturedAmount": 8818.61
                        },
                        {
                          "intervalStart": "2026-04-27T00:00:00+00:00",
                          "intervalEnd": "2026-04-28T00:00:00+00:00",
                          "numPaymentsCreated": 742,
                          "numPaymentsProcessed": 250,
                          "numPaymentsIncomplete": 492,
                          "numPaymentsWithRefunds": 170,
                          "numCardPresentPayments": 156,
                          "numCardNotPresentPayments": 336,
                          "totalCapturedAmount": 686211.53,
                          "totalRefundedAmount": 174452.93,
                          "totalNetCapturedAmount": 511758.6,
                          "averageNetCapturedAmount": 2047.03,
                          "minNetCapturedAmount": 47.43,
                          "maxNetCapturedAmount": 9336.01
                        },
                        {
                          "intervalStart": "2026-04-28T00:00:00+00:00",
                          "intervalEnd": "2026-04-29T00:00:00+00:00",
                          "numPaymentsCreated": 136,
                          "numPaymentsProcessed": 59,
                          "numPaymentsIncomplete": 77,
                          "numPaymentsWithRefunds": 0,
                          "numCardPresentPayments": 3,
                          "numCardNotPresentPayments": 74,
                          "totalCapturedAmount": 696230.88,
                          "totalRefundedAmount": 112033,
                          "totalNetCapturedAmount": 584197.88,
                          "averageNetCapturedAmount": 9901.66,
                          "minNetCapturedAmount": 40.31,
                          "maxNetCapturedAmount": 3836.68
                        },
                        {
                          "intervalStart": "2026-04-29T00:00:00+00:00",
                          "intervalEnd": "2026-04-30T00:00:00+00:00",
                          "numPaymentsCreated": 320,
                          "numPaymentsProcessed": 115,
                          "numPaymentsIncomplete": 205,
                          "numPaymentsWithRefunds": 29,
                          "numCardPresentPayments": 20,
                          "numCardNotPresentPayments": 185,
                          "totalCapturedAmount": 57701.65,
                          "totalRefundedAmount": 3621.22,
                          "totalNetCapturedAmount": 54080.43,
                          "averageNetCapturedAmount": 470.26,
                          "minNetCapturedAmount": 71.73,
                          "maxNetCapturedAmount": 6727.77
                        },
                        {
                          "intervalStart": "2026-04-30T00:00:00+00:00",
                          "intervalEnd": "2026-05-01T00:00:00+00:00",
                          "numPaymentsCreated": 144,
                          "numPaymentsProcessed": 130,
                          "numPaymentsIncomplete": 14,
                          "numPaymentsWithRefunds": 19,
                          "numCardPresentPayments": 11,
                          "numCardNotPresentPayments": 3,
                          "totalCapturedAmount": 970276.19,
                          "totalRefundedAmount": 139311.43,
                          "totalNetCapturedAmount": 830964.76,
                          "averageNetCapturedAmount": 6392.04,
                          "minNetCapturedAmount": 92.3,
                          "maxNetCapturedAmount": 7633.28
                        },
                        {
                          "intervalStart": "2026-05-01T00:00:00+00:00",
                          "intervalEnd": "2026-05-02T00:00:00+00:00",
                          "numPaymentsCreated": 797,
                          "numPaymentsProcessed": 157,
                          "numPaymentsIncomplete": 640,
                          "numPaymentsWithRefunds": 54,
                          "numCardPresentPayments": 2,
                          "numCardNotPresentPayments": 638,
                          "totalCapturedAmount": 339310.36,
                          "totalRefundedAmount": 83367.84,
                          "totalNetCapturedAmount": 255942.52,
                          "averageNetCapturedAmount": 1630.21,
                          "minNetCapturedAmount": 75.26,
                          "maxNetCapturedAmount": 3755.05
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-04-25T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-05-02T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "numPaymentsCreated": {
                          "type": "integer",
                          "example": 2789,
                          "description": "Total number of payment records created in the period",
                          "enum": []
                        },
                        "numPaymentsProcessed": {
                          "type": "integer",
                          "example": 901,
                          "description": "Number of payments that have successfully had funds captured (captured amount > 0)",
                          "enum": []
                        },
                        "numPaymentsIncomplete": {
                          "type": "integer",
                          "example": 1888,
                          "description": "Number of payments which have been created but funds have not been captured yet (e.g. failures, declines, authorizations, etc.)",
                          "enum": []
                        },
                        "numPaymentsWithRefunds": {
                          "type": "integer",
                          "example": 401,
                          "description": "Number of payments that have had one or more refunds (refunded amount > 0)",
                          "enum": []
                        },
                        "numCardPresentPayments": {
                          "type": "integer",
                          "example": 214,
                          "description": "Number of payments made with card present (e.g. via terminal device)",
                          "enum": []
                        },
                        "numCardNotPresentPayments": {
                          "type": "integer",
                          "example": 1674,
                          "description": "Number of payments made with card not present (e.g. online payments)",
                          "enum": []
                        },
                        "totalCapturedAmount": {
                          "type": "number",
                          "example": 3138279.94,
                          "description": "Total amount captured across all payments in the period",
                          "enum": []
                        },
                        "totalRefundedAmount": {
                          "type": "number",
                          "example": 538284.97,
                          "description": "Total amount refunded across all payments in the period",
                          "enum": []
                        },
                        "totalNetCapturedAmount": {
                          "type": "number",
                          "example": 2599994.97,
                          "description": "Net captured amount (captured - refunded) across all payments in the period",
                          "enum": []
                        },
                        "averageNetCapturedAmount": {
                          "type": "number",
                          "example": 3707.2842857143,
                          "description": "Average net captured amount per payment in the period",
                          "enum": []
                        },
                        "minNetCapturedAmount": {
                          "type": "number",
                          "example": 40.31,
                          "description": "Minimum net captured amount in the period",
                          "enum": []
                        },
                        "maxNetCapturedAmount": {
                          "type": "number",
                          "example": 9336.01,
                          "description": "Maximum net captured amount in the period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-04-25T00:00:00+00:00",
                              "intervalEnd": "2026-04-26T00:00:00+00:00",
                              "numPaymentsCreated": 393,
                              "numPaymentsProcessed": 134,
                              "numPaymentsIncomplete": 259,
                              "numPaymentsWithRefunds": 115,
                              "numCardPresentPayments": 16,
                              "numCardNotPresentPayments": 243,
                              "totalCapturedAmount": 94830.75,
                              "totalRefundedAmount": 1198.02,
                              "totalNetCapturedAmount": 93632.73,
                              "averageNetCapturedAmount": 698.75,
                              "minNetCapturedAmount": 83.31,
                              "maxNetCapturedAmount": 8181.73
                            },
                            {
                              "intervalStart": "2026-04-26T00:00:00+00:00",
                              "intervalEnd": "2026-04-27T00:00:00+00:00",
                              "numPaymentsCreated": 257,
                              "numPaymentsProcessed": 56,
                              "numPaymentsIncomplete": 201,
                              "numPaymentsWithRefunds": 14,
                              "numCardPresentPayments": 6,
                              "numCardNotPresentPayments": 195,
                              "totalCapturedAmount": 293718.58,
                              "totalRefundedAmount": 24300.53,
                              "totalNetCapturedAmount": 269418.05,
                              "averageNetCapturedAmount": 4811.04,
                              "minNetCapturedAmount": 92.89,
                              "maxNetCapturedAmount": 8818.61
                            },
                            {
                              "intervalStart": "2026-04-27T00:00:00+00:00",
                              "intervalEnd": "2026-04-28T00:00:00+00:00",
                              "numPaymentsCreated": 742,
                              "numPaymentsProcessed": 250,
                              "numPaymentsIncomplete": 492,
                              "numPaymentsWithRefunds": 170,
                              "numCardPresentPayments": 156,
                              "numCardNotPresentPayments": 336,
                              "totalCapturedAmount": 686211.53,
                              "totalRefundedAmount": 174452.93,
                              "totalNetCapturedAmount": 511758.6,
                              "averageNetCapturedAmount": 2047.03,
                              "minNetCapturedAmount": 47.43,
                              "maxNetCapturedAmount": 9336.01
                            },
                            {
                              "intervalStart": "2026-04-28T00:00:00+00:00",
                              "intervalEnd": "2026-04-29T00:00:00+00:00",
                              "numPaymentsCreated": 136,
                              "numPaymentsProcessed": 59,
                              "numPaymentsIncomplete": 77,
                              "numPaymentsWithRefunds": 0,
                              "numCardPresentPayments": 3,
                              "numCardNotPresentPayments": 74,
                              "totalCapturedAmount": 696230.88,
                              "totalRefundedAmount": 112033,
                              "totalNetCapturedAmount": 584197.88,
                              "averageNetCapturedAmount": 9901.66,
                              "minNetCapturedAmount": 40.31,
                              "maxNetCapturedAmount": 3836.68
                            },
                            {
                              "intervalStart": "2026-04-29T00:00:00+00:00",
                              "intervalEnd": "2026-04-30T00:00:00+00:00",
                              "numPaymentsCreated": 320,
                              "numPaymentsProcessed": 115,
                              "numPaymentsIncomplete": 205,
                              "numPaymentsWithRefunds": 29,
                              "numCardPresentPayments": 20,
                              "numCardNotPresentPayments": 185,
                              "totalCapturedAmount": 57701.65,
                              "totalRefundedAmount": 3621.22,
                              "totalNetCapturedAmount": 54080.43,
                              "averageNetCapturedAmount": 470.26,
                              "minNetCapturedAmount": 71.73,
                              "maxNetCapturedAmount": 6727.77
                            },
                            {
                              "intervalStart": "2026-04-30T00:00:00+00:00",
                              "intervalEnd": "2026-05-01T00:00:00+00:00",
                              "numPaymentsCreated": 144,
                              "numPaymentsProcessed": 130,
                              "numPaymentsIncomplete": 14,
                              "numPaymentsWithRefunds": 19,
                              "numCardPresentPayments": 11,
                              "numCardNotPresentPayments": 3,
                              "totalCapturedAmount": 970276.19,
                              "totalRefundedAmount": 139311.43,
                              "totalNetCapturedAmount": 830964.76,
                              "averageNetCapturedAmount": 6392.04,
                              "minNetCapturedAmount": 92.3,
                              "maxNetCapturedAmount": 7633.28
                            },
                            {
                              "intervalStart": "2026-05-01T00:00:00+00:00",
                              "intervalEnd": "2026-05-02T00:00:00+00:00",
                              "numPaymentsCreated": 797,
                              "numPaymentsProcessed": 157,
                              "numPaymentsIncomplete": 640,
                              "numPaymentsWithRefunds": 54,
                              "numCardPresentPayments": 2,
                              "numCardNotPresentPayments": 638,
                              "totalCapturedAmount": 339310.36,
                              "totalRefundedAmount": 83367.84,
                              "totalNetCapturedAmount": 255942.52,
                              "averageNetCapturedAmount": 1630.21,
                              "minNetCapturedAmount": 75.26,
                              "maxNetCapturedAmount": 3755.05
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-04-25T00:00:00+00:00",
                                "description": "Start time of the PaymentAnalyticsData interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-04-26T00:00:00+00:00",
                                "description": "End time of the PaymentAnalyticsData interval",
                                "enum": []
                              },
                              "numPaymentsCreated": {
                                "type": "integer",
                                "example": 393,
                                "description": "Total number of payment records created in the interval",
                                "enum": []
                              },
                              "numPaymentsProcessed": {
                                "type": "integer",
                                "example": 134,
                                "description": "Number of payments that have successfully had funds captured (captured amount > 0)",
                                "enum": []
                              },
                              "numPaymentsIncomplete": {
                                "type": "integer",
                                "example": 259,
                                "description": "Number of payments which have been created but funds have not been captured yet (e.g. failures, declines, authorizations, etc.)",
                                "enum": []
                              },
                              "numPaymentsWithRefunds": {
                                "type": "integer",
                                "example": 115,
                                "description": "Number of payments that have had one or more refunds (refunded amount > 0)",
                                "enum": []
                              },
                              "numCardPresentPayments": {
                                "type": "integer",
                                "example": 16,
                                "description": "Number of payments made with card present (e.g. via terminal device)",
                                "enum": []
                              },
                              "numCardNotPresentPayments": {
                                "type": "integer",
                                "example": 243,
                                "description": "Number of payments made with card not present (e.g. online payments)",
                                "enum": []
                              },
                              "totalCapturedAmount": {
                                "type": "number",
                                "example": 94830.75,
                                "description": "Total amount captured across all payments in the interval",
                                "enum": []
                              },
                              "totalRefundedAmount": {
                                "type": "number",
                                "example": 1198.02,
                                "description": "Total amount refunded across all payments in the interval",
                                "enum": []
                              },
                              "totalNetCapturedAmount": {
                                "type": "number",
                                "example": 93632.73,
                                "description": "Net captured amount (captured - refunded) across all payments in the interval",
                                "enum": []
                              },
                              "averageNetCapturedAmount": {
                                "type": "number",
                                "example": 698.75,
                                "description": "Average net captured amount per payment in the interval",
                                "enum": []
                              },
                              "minNetCapturedAmount": {
                                "type": "number",
                                "example": 83.31,
                                "description": "Minimum net captured amount in the interval",
                                "enum": []
                              },
                              "maxNetCapturedAmount": {
                                "type": "number",
                                "example": 8181.73,
                                "description": "Maximum net captured amount in the interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-04-25T00:00:00+00:00",
                      "periodEnd": "2026-05-02T00:00:00+00:00",
                      "activeCustomers": 371,
                      "newCustomers": 222,
                      "returningCustomers": 149,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-04-25T00:00:00+00:00",
                          "intervalEnd": "2026-04-26T00:00:00+00:00",
                          "activeCustomers": 33,
                          "newCustomers": 19,
                          "returningCustomers": 14
                        },
                        {
                          "intervalStart": "2026-04-26T00:00:00+00:00",
                          "intervalEnd": "2026-04-27T00:00:00+00:00",
                          "activeCustomers": 44,
                          "newCustomers": 33,
                          "returningCustomers": 11
                        },
                        {
                          "intervalStart": "2026-04-27T00:00:00+00:00",
                          "intervalEnd": "2026-04-28T00:00:00+00:00",
                          "activeCustomers": 98,
                          "newCustomers": 54,
                          "returningCustomers": 44
                        },
                        {
                          "intervalStart": "2026-04-28T00:00:00+00:00",
                          "intervalEnd": "2026-04-29T00:00:00+00:00",
                          "activeCustomers": 27,
                          "newCustomers": 18,
                          "returningCustomers": 9
                        },
                        {
                          "intervalStart": "2026-04-29T00:00:00+00:00",
                          "intervalEnd": "2026-04-30T00:00:00+00:00",
                          "activeCustomers": 71,
                          "newCustomers": 25,
                          "returningCustomers": 46
                        },
                        {
                          "intervalStart": "2026-04-30T00:00:00+00:00",
                          "intervalEnd": "2026-05-01T00:00:00+00:00",
                          "activeCustomers": 46,
                          "newCustomers": 6,
                          "returningCustomers": 40
                        },
                        {
                          "intervalStart": "2026-05-01T00:00:00+00:00",
                          "intervalEnd": "2026-05-02T00:00:00+00:00",
                          "activeCustomers": 80,
                          "newCustomers": 67,
                          "returningCustomers": 13
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-04-25T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-05-02T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "activeCustomers": {
                          "type": "integer",
                          "example": 371,
                          "description": "number of customers who are associated with at least one payment which was created in the period",
                          "enum": []
                        },
                        "newCustomers": {
                          "type": "integer",
                          "example": 222,
                          "description": "number of new customers added in the period",
                          "enum": []
                        },
                        "returningCustomers": {
                          "type": "integer",
                          "example": 149,
                          "description": "number of customers who were active in the period but were created before the period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-04-25T00:00:00+00:00",
                              "intervalEnd": "2026-04-26T00:00:00+00:00",
                              "activeCustomers": 33,
                              "newCustomers": 19,
                              "returningCustomers": 14
                            },
                            {
                              "intervalStart": "2026-04-26T00:00:00+00:00",
                              "intervalEnd": "2026-04-27T00:00:00+00:00",
                              "activeCustomers": 44,
                              "newCustomers": 33,
                              "returningCustomers": 11
                            },
                            {
                              "intervalStart": "2026-04-27T00:00:00+00:00",
                              "intervalEnd": "2026-04-28T00:00:00+00:00",
                              "activeCustomers": 98,
                              "newCustomers": 54,
                              "returningCustomers": 44
                            },
                            {
                              "intervalStart": "2026-04-28T00:00:00+00:00",
                              "intervalEnd": "2026-04-29T00:00:00+00:00",
                              "activeCustomers": 27,
                              "newCustomers": 18,
                              "returningCustomers": 9
                            },
                            {
                              "intervalStart": "2026-04-29T00:00:00+00:00",
                              "intervalEnd": "2026-04-30T00:00:00+00:00",
                              "activeCustomers": 71,
                              "newCustomers": 25,
                              "returningCustomers": 46
                            },
                            {
                              "intervalStart": "2026-04-30T00:00:00+00:00",
                              "intervalEnd": "2026-05-01T00:00:00+00:00",
                              "activeCustomers": 46,
                              "newCustomers": 6,
                              "returningCustomers": 40
                            },
                            {
                              "intervalStart": "2026-05-01T00:00:00+00:00",
                              "intervalEnd": "2026-05-02T00:00:00+00:00",
                              "activeCustomers": 80,
                              "newCustomers": 67,
                              "returningCustomers": 13
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-04-25T00:00:00+00:00",
                                "description": "Start time of the analytics calculation interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-04-26T00:00:00+00:00",
                                "description": "End time of the analytics calculation interval",
                                "enum": []
                              },
                              "activeCustomers": {
                                "type": "integer",
                                "example": 33,
                                "description": "number of customers who are associated with at least one payment which was created in the interval",
                                "enum": []
                              },
                              "newCustomers": {
                                "type": "integer",
                                "example": 19,
                                "description": "number of new customers added in the interval",
                                "enum": []
                              },
                              "returningCustomers": {
                                "type": "integer",
                                "example": 14,
                                "description": "number of customers who were active in the interval but were created before the interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-04-25T00:00:00+00:00",
                      "periodEnd": "2026-05-02T00:00:00+00:00",
                      "totalTransactions": 3425,
                      "authorizeTransactions": 254,
                      "captureTransactions": 297,
                      "payTransactions": 1919,
                      "refundTransactions": 414,
                      "verifyTransactions": 226,
                      "voidTransactions": 315,
                      "successfulTransactions": 3078,
                      "failedTransactions": 223,
                      "declinedTransactions": 102,
                      "pendingTransactions": 22,
                      "unknownTransactions": 0,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-04-25T00:00:00+00:00",
                          "intervalEnd": "2026-04-26T00:00:00+00:00",
                          "totalTransactions": 512,
                          "authorizeTransactions": 27,
                          "captureTransactions": 31,
                          "payTransactions": 336,
                          "refundTransactions": 38,
                          "verifyTransactions": 68,
                          "voidTransactions": 12,
                          "successfulTransactions": 460,
                          "failedTransactions": 45,
                          "declinedTransactions": 6,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-26T00:00:00+00:00",
                          "intervalEnd": "2026-04-27T00:00:00+00:00",
                          "totalTransactions": 602,
                          "authorizeTransactions": 51,
                          "captureTransactions": 61,
                          "payTransactions": 209,
                          "refundTransactions": 36,
                          "verifyTransactions": 67,
                          "voidTransactions": 178,
                          "successfulTransactions": 541,
                          "failedTransactions": 38,
                          "declinedTransactions": 17,
                          "pendingTransactions": 6,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-27T00:00:00+00:00",
                          "intervalEnd": "2026-04-28T00:00:00+00:00",
                          "totalTransactions": 842,
                          "authorizeTransactions": 75,
                          "captureTransactions": 79,
                          "payTransactions": 575,
                          "refundTransactions": 41,
                          "verifyTransactions": 9,
                          "voidTransactions": 63,
                          "successfulTransactions": 757,
                          "failedTransactions": 54,
                          "declinedTransactions": 25,
                          "pendingTransactions": 6,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-28T00:00:00+00:00",
                          "intervalEnd": "2026-04-29T00:00:00+00:00",
                          "totalTransactions": 388,
                          "authorizeTransactions": 10,
                          "captureTransactions": 19,
                          "payTransactions": 101,
                          "refundTransactions": 226,
                          "verifyTransactions": 31,
                          "voidTransactions": 1,
                          "successfulTransactions": 349,
                          "failedTransactions": 22,
                          "declinedTransactions": 16,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-29T00:00:00+00:00",
                          "intervalEnd": "2026-04-30T00:00:00+00:00",
                          "totalTransactions": 191,
                          "authorizeTransactions": 11,
                          "captureTransactions": 16,
                          "payTransactions": 147,
                          "refundTransactions": 10,
                          "verifyTransactions": 6,
                          "voidTransactions": 1,
                          "successfulTransactions": 171,
                          "failedTransactions": 12,
                          "declinedTransactions": 7,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-30T00:00:00+00:00",
                          "intervalEnd": "2026-05-01T00:00:00+00:00",
                          "totalTransactions": 642,
                          "authorizeTransactions": 59,
                          "captureTransactions": 63,
                          "payTransactions": 473,
                          "refundTransactions": 18,
                          "verifyTransactions": 23,
                          "voidTransactions": 6,
                          "successfulTransactions": 577,
                          "failedTransactions": 34,
                          "declinedTransactions": 25,
                          "pendingTransactions": 6,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-05-01T00:00:00+00:00",
                          "intervalEnd": "2026-05-02T00:00:00+00:00",
                          "totalTransactions": 248,
                          "authorizeTransactions": 21,
                          "captureTransactions": 28,
                          "payTransactions": 78,
                          "refundTransactions": 45,
                          "verifyTransactions": 22,
                          "voidTransactions": 54,
                          "successfulTransactions": 223,
                          "failedTransactions": 18,
                          "declinedTransactions": 6,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-04-25T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-05-02T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "totalTransactions": {
                          "type": "integer",
                          "example": 3425,
                          "description": "Total number of transactions in the period",
                          "enum": []
                        },
                        "authorizeTransactions": {
                          "type": "integer",
                          "example": 254,
                          "description": "Number of authorize transactions in the period",
                          "enum": []
                        },
                        "captureTransactions": {
                          "type": "integer",
                          "example": 297,
                          "description": "Number of capture transactions in the period",
                          "enum": []
                        },
                        "payTransactions": {
                          "type": "integer",
                          "example": 1919,
                          "description": "Number of pay transactions in the period",
                          "enum": []
                        },
                        "refundTransactions": {
                          "type": "integer",
                          "example": 414,
                          "description": "Number of refund transactions in the period",
                          "enum": []
                        },
                        "verifyTransactions": {
                          "type": "integer",
                          "example": 226,
                          "description": "Number of verify transactions in the period",
                          "enum": []
                        },
                        "voidTransactions": {
                          "type": "integer",
                          "example": 315,
                          "description": "Number of void transactions in the period",
                          "enum": []
                        },
                        "successfulTransactions": {
                          "type": "integer",
                          "example": 3078,
                          "description": "Number of successful transactions in the period",
                          "enum": []
                        },
                        "failedTransactions": {
                          "type": "integer",
                          "example": 223,
                          "description": "Number of failed transactions in the period",
                          "enum": []
                        },
                        "declinedTransactions": {
                          "type": "integer",
                          "example": 102,
                          "description": "Number of declined transactions in the period",
                          "enum": []
                        },
                        "pendingTransactions": {
                          "type": "integer",
                          "example": 22,
                          "description": "Number of pending transactions in the period",
                          "enum": []
                        },
                        "unknownTransactions": {
                          "type": "integer",
                          "example": 0,
                          "description": "Number of transactions with unknown result in the period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-04-25T00:00:00+00:00",
                              "intervalEnd": "2026-04-26T00:00:00+00:00",
                              "totalTransactions": 512,
                              "authorizeTransactions": 27,
                              "captureTransactions": 31,
                              "payTransactions": 336,
                              "refundTransactions": 38,
                              "verifyTransactions": 68,
                              "voidTransactions": 12,
                              "successfulTransactions": 460,
                              "failedTransactions": 45,
                              "declinedTransactions": 6,
                              "pendingTransactions": 1,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-04-26T00:00:00+00:00",
                              "intervalEnd": "2026-04-27T00:00:00+00:00",
                              "totalTransactions": 602,
                              "authorizeTransactions": 51,
                              "captureTransactions": 61,
                              "payTransactions": 209,
                              "refundTransactions": 36,
                              "verifyTransactions": 67,
                              "voidTransactions": 178,
                              "successfulTransactions": 541,
                              "failedTransactions": 38,
                              "declinedTransactions": 17,
                              "pendingTransactions": 6,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-04-27T00:00:00+00:00",
                              "intervalEnd": "2026-04-28T00:00:00+00:00",
                              "totalTransactions": 842,
                              "authorizeTransactions": 75,
                              "captureTransactions": 79,
                              "payTransactions": 575,
                              "refundTransactions": 41,
                              "verifyTransactions": 9,
                              "voidTransactions": 63,
                              "successfulTransactions": 757,
                              "failedTransactions": 54,
                              "declinedTransactions": 25,
                              "pendingTransactions": 6,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-04-28T00:00:00+00:00",
                              "intervalEnd": "2026-04-29T00:00:00+00:00",
                              "totalTransactions": 388,
                              "authorizeTransactions": 10,
                              "captureTransactions": 19,
                              "payTransactions": 101,
                              "refundTransactions": 226,
                              "verifyTransactions": 31,
                              "voidTransactions": 1,
                              "successfulTransactions": 349,
                              "failedTransactions": 22,
                              "declinedTransactions": 16,
                              "pendingTransactions": 1,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-04-29T00:00:00+00:00",
                              "intervalEnd": "2026-04-30T00:00:00+00:00",
                              "totalTransactions": 191,
                              "authorizeTransactions": 11,
                              "captureTransactions": 16,
                              "payTransactions": 147,
                              "refundTransactions": 10,
                              "verifyTransactions": 6,
                              "voidTransactions": 1,
                              "successfulTransactions": 171,
                              "failedTransactions": 12,
                              "declinedTransactions": 7,
                              "pendingTransactions": 1,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-04-30T00:00:00+00:00",
                              "intervalEnd": "2026-05-01T00:00:00+00:00",
                              "totalTransactions": 642,
                              "authorizeTransactions": 59,
                              "captureTransactions": 63,
                              "payTransactions": 473,
                              "refundTransactions": 18,
                              "verifyTransactions": 23,
                              "voidTransactions": 6,
                              "successfulTransactions": 577,
                              "failedTransactions": 34,
                              "declinedTransactions": 25,
                              "pendingTransactions": 6,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-05-01T00:00:00+00:00",
                              "intervalEnd": "2026-05-02T00:00:00+00:00",
                              "totalTransactions": 248,
                              "authorizeTransactions": 21,
                              "captureTransactions": 28,
                              "payTransactions": 78,
                              "refundTransactions": 45,
                              "verifyTransactions": 22,
                              "voidTransactions": 54,
                              "successfulTransactions": 223,
                              "failedTransactions": 18,
                              "declinedTransactions": 6,
                              "pendingTransactions": 1,
                              "unknownTransactions": 0
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-04-25T00:00:00+00:00",
                                "description": "Start time of the analytics calculation interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-04-26T00:00:00+00:00",
                                "description": "End time of the analytics calculation interval",
                                "enum": []
                              },
                              "totalTransactions": {
                                "type": "integer",
                                "example": 512,
                                "description": "Total number of transactions in the interval",
                                "enum": []
                              },
                              "authorizeTransactions": {
                                "type": "integer",
                                "example": 27,
                                "description": "Number of authorize transactions in the interval",
                                "enum": []
                              },
                              "captureTransactions": {
                                "type": "integer",
                                "example": 31,
                                "description": "Number of capture transactions in the interval",
                                "enum": []
                              },
                              "payTransactions": {
                                "type": "integer",
                                "example": 336,
                                "description": "Number of pay transactions in the interval",
                                "enum": []
                              },
                              "refundTransactions": {
                                "type": "integer",
                                "example": 38,
                                "description": "Number of refund transactions in the interval",
                                "enum": []
                              },
                              "verifyTransactions": {
                                "type": "integer",
                                "example": 68,
                                "description": "Number of verify transactions in the interval",
                                "enum": []
                              },
                              "voidTransactions": {
                                "type": "integer",
                                "example": 12,
                                "description": "Number of void transactions in the interval",
                                "enum": []
                              },
                              "successfulTransactions": {
                                "type": "integer",
                                "example": 460,
                                "description": "Number of successful transactions in the interval",
                                "enum": []
                              },
                              "failedTransactions": {
                                "type": "integer",
                                "example": 45,
                                "description": "Number of failed transactions in the interval",
                                "enum": []
                              },
                              "declinedTransactions": {
                                "type": "integer",
                                "example": 6,
                                "description": "Number of declined transactions in the interval",
                                "enum": []
                              },
                              "pendingTransactions": {
                                "type": "integer",
                                "example": 1,
                                "description": "Number of pending transactions in the interval",
                                "enum": []
                              },
                              "unknownTransactions": {
                                "type": "integer",
                                "example": 0,
                                "description": "Number of transactions with unknown result in the interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-04-25T00:00:00+00:00",
                      "periodEnd": "2026-05-02T00:00:00+00:00",
                      "totalSettlementAmount": 35915.44,
                      "totalFeeAmount": 1759.85656,
                      "totalNetAmount": 34155.58344,
                      "totalTransactionsPending": 126,
                      "totalTransactionsSettled": 699,
                      "totalTransactionsSettling": 1171,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-04-25T00:00:00+00:00",
                          "intervalEnd": "2026-04-26T00:00:00+00:00",
                          "totalSettlementAmount": 6012.97,
                          "totalFeeAmount": 294.63553,
                          "totalNetAmount": 5718.33447,
                          "totalTransactionsPending": 17,
                          "totalTransactionsSettled": 55,
                          "totalTransactionsSettling": 69
                        },
                        {
                          "intervalStart": "2026-04-26T00:00:00+00:00",
                          "intervalEnd": "2026-04-27T00:00:00+00:00",
                          "totalSettlementAmount": 5900.74,
                          "totalFeeAmount": 289.13626,
                          "totalNetAmount": 5611.60374,
                          "totalTransactionsPending": 19,
                          "totalTransactionsSettled": 88,
                          "totalTransactionsSettling": 271
                        },
                        {
                          "intervalStart": "2026-04-27T00:00:00+00:00",
                          "intervalEnd": "2026-04-28T00:00:00+00:00",
                          "totalSettlementAmount": 3191.88,
                          "totalFeeAmount": 156.40212,
                          "totalNetAmount": 3035.47788,
                          "totalTransactionsPending": 18,
                          "totalTransactionsSettled": 24,
                          "totalTransactionsSettling": 354
                        },
                        {
                          "intervalStart": "2026-04-28T00:00:00+00:00",
                          "intervalEnd": "2026-04-29T00:00:00+00:00",
                          "totalSettlementAmount": 7167.91,
                          "totalFeeAmount": 351.22759,
                          "totalNetAmount": 6816.68241,
                          "totalTransactionsPending": 19,
                          "totalTransactionsSettled": 88,
                          "totalTransactionsSettling": 328
                        },
                        {
                          "intervalStart": "2026-04-29T00:00:00+00:00",
                          "intervalEnd": "2026-04-30T00:00:00+00:00",
                          "totalSettlementAmount": 4205.26,
                          "totalFeeAmount": 206.05774,
                          "totalNetAmount": 3999.20226,
                          "totalTransactionsPending": 24,
                          "totalTransactionsSettled": 44,
                          "totalTransactionsSettling": 32
                        },
                        {
                          "intervalStart": "2026-04-30T00:00:00+00:00",
                          "intervalEnd": "2026-05-01T00:00:00+00:00",
                          "totalSettlementAmount": 5352.66,
                          "totalFeeAmount": 262.28034,
                          "totalNetAmount": 5090.37966,
                          "totalTransactionsPending": 18,
                          "totalTransactionsSettled": 366,
                          "totalTransactionsSettling": 51
                        },
                        {
                          "intervalStart": "2026-05-01T00:00:00+00:00",
                          "intervalEnd": "2026-05-02T00:00:00+00:00",
                          "totalSettlementAmount": 4084.02,
                          "totalFeeAmount": 200.11698,
                          "totalNetAmount": 3883.90302,
                          "totalTransactionsPending": 11,
                          "totalTransactionsSettled": 34,
                          "totalTransactionsSettling": 66
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-04-25T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-05-02T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "totalSettlementAmount": {
                          "type": "number",
                          "example": 35915.44,
                          "description": "Total settled payout amount in this period",
                          "enum": []
                        },
                        "totalFeeAmount": {
                          "type": "number",
                          "example": 1759.85656,
                          "description": "Total amount of fees charged for the payouts in this period",
                          "enum": []
                        },
                        "totalNetAmount": {
                          "type": "number",
                          "example": 34155.58344,
                          "description": "Total net payout amount in this period",
                          "enum": []
                        },
                        "totalTransactionsPending": {
                          "type": "integer",
                          "example": 126,
                          "description": "Total number of transactions pending in this period",
                          "enum": []
                        },
                        "totalTransactionsSettled": {
                          "type": "integer",
                          "example": 699,
                          "description": "Total number of transactions settled in this period",
                          "enum": []
                        },
                        "totalTransactionsSettling": {
                          "type": "integer",
                          "example": 1171,
                          "description": "Total number of transactions settling in this period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-04-25T00:00:00+00:00",
                              "intervalEnd": "2026-04-26T00:00:00+00:00",
                              "totalSettlementAmount": 6012.97,
                              "totalFeeAmount": 294.63553,
                              "totalNetAmount": 5718.33447,
                              "totalTransactionsPending": 17,
                              "totalTransactionsSettled": 55,
                              "totalTransactionsSettling": 69
                            },
                            {
                              "intervalStart": "2026-04-26T00:00:00+00:00",
                              "intervalEnd": "2026-04-27T00:00:00+00:00",
                              "totalSettlementAmount": 5900.74,
                              "totalFeeAmount": 289.13626,
                              "totalNetAmount": 5611.60374,
                              "totalTransactionsPending": 19,
                              "totalTransactionsSettled": 88,
                              "totalTransactionsSettling": 271
                            },
                            {
                              "intervalStart": "2026-04-27T00:00:00+00:00",
                              "intervalEnd": "2026-04-28T00:00:00+00:00",
                              "totalSettlementAmount": 3191.88,
                              "totalFeeAmount": 156.40212,
                              "totalNetAmount": 3035.47788,
                              "totalTransactionsPending": 18,
                              "totalTransactionsSettled": 24,
                              "totalTransactionsSettling": 354
                            },
                            {
                              "intervalStart": "2026-04-28T00:00:00+00:00",
                              "intervalEnd": "2026-04-29T00:00:00+00:00",
                              "totalSettlementAmount": 7167.91,
                              "totalFeeAmount": 351.22759,
                              "totalNetAmount": 6816.68241,
                              "totalTransactionsPending": 19,
                              "totalTransactionsSettled": 88,
                              "totalTransactionsSettling": 328
                            },
                            {
                              "intervalStart": "2026-04-29T00:00:00+00:00",
                              "intervalEnd": "2026-04-30T00:00:00+00:00",
                              "totalSettlementAmount": 4205.26,
                              "totalFeeAmount": 206.05774,
                              "totalNetAmount": 3999.20226,
                              "totalTransactionsPending": 24,
                              "totalTransactionsSettled": 44,
                              "totalTransactionsSettling": 32
                            },
                            {
                              "intervalStart": "2026-04-30T00:00:00+00:00",
                              "intervalEnd": "2026-05-01T00:00:00+00:00",
                              "totalSettlementAmount": 5352.66,
                              "totalFeeAmount": 262.28034,
                              "totalNetAmount": 5090.37966,
                              "totalTransactionsPending": 18,
                              "totalTransactionsSettled": 366,
                              "totalTransactionsSettling": 51
                            },
                            {
                              "intervalStart": "2026-05-01T00:00:00+00:00",
                              "intervalEnd": "2026-05-02T00:00:00+00:00",
                              "totalSettlementAmount": 4084.02,
                              "totalFeeAmount": 200.11698,
                              "totalNetAmount": 3883.90302,
                              "totalTransactionsPending": 11,
                              "totalTransactionsSettled": 34,
                              "totalTransactionsSettling": 66
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-04-25T00:00:00+00:00",
                                "description": "Start time of the analytics calculation interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-04-26T00:00:00+00:00",
                                "description": "End time of the analytics calculation interval",
                                "enum": []
                              },
                              "totalSettlementAmount": {
                                "type": "number",
                                "example": 6012.97,
                                "description": "Total settled payout amount in this interval",
                                "enum": []
                              },
                              "totalFeeAmount": {
                                "type": "number",
                                "example": 294.63553,
                                "description": "Total amount of fees charged for the payouts in this interval",
                                "enum": []
                              },
                              "totalNetAmount": {
                                "type": "number",
                                "example": 5718.33447,
                                "description": "Total net payout amount in this interval",
                                "enum": []
                              },
                              "totalTransactionsPending": {
                                "type": "integer",
                                "example": 17,
                                "description": "Total number of transactions pending in this interval",
                                "enum": []
                              },
                              "totalTransactionsSettled": {
                                "type": "integer",
                                "example": 55,
                                "description": "Total number of transactions settled in this interval",
                                "enum": []
                              },
                              "totalTransactionsSettling": {
                                "type": "integer",
                                "example": 69,
                                "description": "Total number of transactions settling in this interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
[...]
