{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.48.1"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-02-27T00:00:00+00:00",
                    "periodEnd": "2026-03-06T00:00:00+00:00",
                    "numPaymentsCreated": 4162,
                    "numPaymentsProcessed": 1737,
                    "numPaymentsIncomplete": 2425,
                    "numPaymentsWithRefunds": 718,
                    "numCardPresentPayments": 791,
                    "numCardNotPresentPayments": 1634,
                    "totalCapturedAmount": 3498116.88,
                    "totalRefundedAmount": 484885.27,
                    "totalNetCapturedAmount": 3013231.61,
                    "averageNetCapturedAmount": 3077.4057142857,
                    "minNetCapturedAmount": 16.55,
                    "maxNetCapturedAmount": 9437.04,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-02-27T00:00:00+00:00",
                        "intervalEnd": "2026-02-28T00:00:00+00:00",
                        "numPaymentsCreated": 217,
                        "numPaymentsProcessed": 198,
                        "numPaymentsIncomplete": 19,
                        "numPaymentsWithRefunds": 87,
                        "numCardPresentPayments": 64,
                        "numCardNotPresentPayments": -45,
                        "totalCapturedAmount": 167640.14,
                        "totalRefundedAmount": 48784.97,
                        "totalNetCapturedAmount": 118855.17,
                        "averageNetCapturedAmount": 600.28,
                        "minNetCapturedAmount": 16.55,
                        "maxNetCapturedAmount": 8240.03
                      },
                      {
                        "intervalStart": "2026-02-28T00:00:00+00:00",
                        "intervalEnd": "2026-03-01T00:00:00+00:00",
                        "numPaymentsCreated": 147,
                        "numPaymentsProcessed": 88,
                        "numPaymentsIncomplete": 59,
                        "numPaymentsWithRefunds": 51,
                        "numCardPresentPayments": 5,
                        "numCardNotPresentPayments": 54,
                        "totalCapturedAmount": 761470.67,
                        "totalRefundedAmount": 141387.35,
                        "totalNetCapturedAmount": 620083.32,
                        "averageNetCapturedAmount": 7046.4,
                        "minNetCapturedAmount": 42.78,
                        "maxNetCapturedAmount": 6013.67
                      },
                      {
                        "intervalStart": "2026-03-01T00:00:00+00:00",
                        "intervalEnd": "2026-03-02T00:00:00+00:00",
                        "numPaymentsCreated": 709,
                        "numPaymentsProcessed": 113,
                        "numPaymentsIncomplete": 596,
                        "numPaymentsWithRefunds": 91,
                        "numCardPresentPayments": 104,
                        "numCardNotPresentPayments": 492,
                        "totalCapturedAmount": 534052.51,
                        "totalRefundedAmount": 79902.83,
                        "totalNetCapturedAmount": 454149.68,
                        "averageNetCapturedAmount": 4019.02,
                        "minNetCapturedAmount": 20.12,
                        "maxNetCapturedAmount": 5935.77
                      },
                      {
                        "intervalStart": "2026-03-02T00:00:00+00:00",
                        "intervalEnd": "2026-03-03T00:00:00+00:00",
                        "numPaymentsCreated": 781,
                        "numPaymentsProcessed": 147,
                        "numPaymentsIncomplete": 634,
                        "numPaymentsWithRefunds": 99,
                        "numCardPresentPayments": 54,
                        "numCardNotPresentPayments": 580,
                        "totalCapturedAmount": 790229.4,
                        "totalRefundedAmount": 77192.94,
                        "totalNetCapturedAmount": 713036.46,
                        "averageNetCapturedAmount": 4850.59,
                        "minNetCapturedAmount": 46.58,
                        "maxNetCapturedAmount": 6783.23
                      },
                      {
                        "intervalStart": "2026-03-03T00:00:00+00:00",
                        "intervalEnd": "2026-03-04T00:00:00+00:00",
                        "numPaymentsCreated": 676,
                        "numPaymentsProcessed": 317,
                        "numPaymentsIncomplete": 359,
                        "numPaymentsWithRefunds": 66,
                        "numCardPresentPayments": 255,
                        "numCardNotPresentPayments": 104,
                        "totalCapturedAmount": 273076.17,
                        "totalRefundedAmount": 13248.94,
                        "totalNetCapturedAmount": 259827.23,
                        "averageNetCapturedAmount": 819.64,
                        "minNetCapturedAmount": 40.15,
                        "maxNetCapturedAmount": 7931.48
                      },
                      {
                        "intervalStart": "2026-03-04T00:00:00+00:00",
                        "intervalEnd": "2026-03-05T00:00:00+00:00",
                        "numPaymentsCreated": 662,
                        "numPaymentsProcessed": 137,
                        "numPaymentsIncomplete": 525,
                        "numPaymentsWithRefunds": 131,
                        "numCardPresentPayments": 122,
                        "numCardNotPresentPayments": 403,
                        "totalCapturedAmount": 598022.08,
                        "totalRefundedAmount": 83706.02,
                        "totalNetCapturedAmount": 514316.06,
                        "averageNetCapturedAmount": 3754.13,
                        "minNetCapturedAmount": 51.49,
                        "maxNetCapturedAmount": 9437.04
                      },
                      {
                        "intervalStart": "2026-03-05T00:00:00+00:00",
                        "intervalEnd": "2026-03-06T00:00:00+00:00",
                        "numPaymentsCreated": 970,
                        "numPaymentsProcessed": 737,
                        "numPaymentsIncomplete": 233,
                        "numPaymentsWithRefunds": 193,
                        "numCardPresentPayments": 187,
                        "numCardNotPresentPayments": 46,
                        "totalCapturedAmount": 373625.91,
                        "totalRefundedAmount": 40662.22,
                        "totalNetCapturedAmount": 332963.69,
                        "averageNetCapturedAmount": 451.78,
                        "minNetCapturedAmount": 59.86,
                        "maxNetCapturedAmount": 6822.75
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-02-27T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-06T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 4162
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 1737
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 2425
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 718
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 791
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": 1634
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 3498116.88
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 484885.27
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 3013231.61
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 3077.4057142857
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 16.55
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 9437.04
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-02-27T00:00:00+00:00",
                          "intervalEnd": "2026-02-28T00:00:00+00:00",
                          "numPaymentsCreated": 217,
                          "numPaymentsProcessed": 198,
                          "numPaymentsIncomplete": 19,
                          "numPaymentsWithRefunds": 87,
                          "numCardPresentPayments": 64,
                          "numCardNotPresentPayments": -45,
                          "totalCapturedAmount": 167640.14,
                          "totalRefundedAmount": 48784.97,
                          "totalNetCapturedAmount": 118855.17,
                          "averageNetCapturedAmount": 600.28,
                          "minNetCapturedAmount": 16.55,
                          "maxNetCapturedAmount": 8240.03
                        },
                        {
                          "intervalStart": "2026-02-28T00:00:00+00:00",
                          "intervalEnd": "2026-03-01T00:00:00+00:00",
                          "numPaymentsCreated": 147,
                          "numPaymentsProcessed": 88,
                          "numPaymentsIncomplete": 59,
                          "numPaymentsWithRefunds": 51,
                          "numCardPresentPayments": 5,
                          "numCardNotPresentPayments": 54,
                          "totalCapturedAmount": 761470.67,
                          "totalRefundedAmount": 141387.35,
                          "totalNetCapturedAmount": 620083.32,
                          "averageNetCapturedAmount": 7046.4,
                          "minNetCapturedAmount": 42.78,
                          "maxNetCapturedAmount": 6013.67
                        },
                        {
                          "intervalStart": "2026-03-01T00:00:00+00:00",
                          "intervalEnd": "2026-03-02T00:00:00+00:00",
                          "numPaymentsCreated": 709,
                          "numPaymentsProcessed": 113,
                          "numPaymentsIncomplete": 596,
                          "numPaymentsWithRefunds": 91,
                          "numCardPresentPayments": 104,
                          "numCardNotPresentPayments": 492,
                          "totalCapturedAmount": 534052.51,
                          "totalRefundedAmount": 79902.83,
                          "totalNetCapturedAmount": 454149.68,
                          "averageNetCapturedAmount": 4019.02,
                          "minNetCapturedAmount": 20.12,
                          "maxNetCapturedAmount": 5935.77
                        },
                        {
                          "intervalStart": "2026-03-02T00:00:00+00:00",
                          "intervalEnd": "2026-03-03T00:00:00+00:00",
                          "numPaymentsCreated": 781,
                          "numPaymentsProcessed": 147,
                          "numPaymentsIncomplete": 634,
                          "numPaymentsWithRefunds": 99,
                          "numCardPresentPayments": 54,
                          "numCardNotPresentPayments": 580,
                          "totalCapturedAmount": 790229.4,
                          "totalRefundedAmount": 77192.94,
                          "totalNetCapturedAmount": 713036.46,
                          "averageNetCapturedAmount": 4850.59,
                          "minNetCapturedAmount": 46.58,
                          "maxNetCapturedAmount": 6783.23
                        },
                        {
                          "intervalStart": "2026-03-03T00:00:00+00:00",
                          "intervalEnd": "2026-03-04T00:00:00+00:00",
                          "numPaymentsCreated": 676,
                          "numPaymentsProcessed": 317,
                          "numPaymentsIncomplete": 359,
                          "numPaymentsWithRefunds": 66,
                          "numCardPresentPayments": 255,
                          "numCardNotPresentPayments": 104,
                          "totalCapturedAmount": 273076.17,
                          "totalRefundedAmount": 13248.94,
                          "totalNetCapturedAmount": 259827.23,
                          "averageNetCapturedAmount": 819.64,
                          "minNetCapturedAmount": 40.15,
                          "maxNetCapturedAmount": 7931.48
                        },
                        {
                          "intervalStart": "2026-03-04T00:00:00+00:00",
                          "intervalEnd": "2026-03-05T00:00:00+00:00",
                          "numPaymentsCreated": 662,
                          "numPaymentsProcessed": 137,
                          "numPaymentsIncomplete": 525,
                          "numPaymentsWithRefunds": 131,
                          "numCardPresentPayments": 122,
                          "numCardNotPresentPayments": 403,
                          "totalCapturedAmount": 598022.08,
                          "totalRefundedAmount": 83706.02,
                          "totalNetCapturedAmount": 514316.06,
                          "averageNetCapturedAmount": 3754.13,
                          "minNetCapturedAmount": 51.49,
                          "maxNetCapturedAmount": 9437.04
                        },
                        {
                          "intervalStart": "2026-03-05T00:00:00+00:00",
                          "intervalEnd": "2026-03-06T00:00:00+00:00",
                          "numPaymentsCreated": 970,
                          "numPaymentsProcessed": 737,
                          "numPaymentsIncomplete": 233,
                          "numPaymentsWithRefunds": 193,
                          "numCardPresentPayments": 187,
                          "numCardNotPresentPayments": 46,
                          "totalCapturedAmount": 373625.91,
                          "totalRefundedAmount": 40662.22,
                          "totalNetCapturedAmount": 332963.69,
                          "averageNetCapturedAmount": 451.78,
                          "minNetCapturedAmount": 59.86,
                          "maxNetCapturedAmount": 6822.75
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-02-27T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-02-28T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 217
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 198
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 19
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 87
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 64
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": -45
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 167640.14
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 48784.97
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 118855.17
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 600.28
                          },
                          "minNetCapturedAmount": {
                            "type": "number",
                            "example": 16.55
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 8240.03
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-02-27T00:00:00+00:00",
                    "periodEnd": "2026-03-06T00:00:00+00:00",
                    "activeCustomers": 392,
                    "newCustomers": 222,
                    "returningCustomers": 170,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-02-27T00:00:00+00:00",
                        "intervalEnd": "2026-02-28T00:00:00+00:00",
                        "activeCustomers": 92,
                        "newCustomers": 65,
                        "returningCustomers": 27
                      },
                      {
                        "intervalStart": "2026-02-28T00:00:00+00:00",
                        "intervalEnd": "2026-03-01T00:00:00+00:00",
                        "activeCustomers": 66,
                        "newCustomers": 13,
                        "returningCustomers": 53
                      },
                      {
                        "intervalStart": "2026-03-01T00:00:00+00:00",
                        "intervalEnd": "2026-03-02T00:00:00+00:00",
                        "activeCustomers": 28,
                        "newCustomers": 7,
                        "returningCustomers": 21
                      },
                      {
                        "intervalStart": "2026-03-02T00:00:00+00:00",
                        "intervalEnd": "2026-03-03T00:00:00+00:00",
                        "activeCustomers": 49,
                        "newCustomers": 28,
                        "returningCustomers": 21
                      },
                      {
                        "intervalStart": "2026-03-03T00:00:00+00:00",
                        "intervalEnd": "2026-03-04T00:00:00+00:00",
                        "activeCustomers": 78,
                        "newCustomers": 31,
                        "returningCustomers": 47
                      },
                      {
                        "intervalStart": "2026-03-04T00:00:00+00:00",
                        "intervalEnd": "2026-03-05T00:00:00+00:00",
                        "activeCustomers": 22,
                        "newCustomers": 11,
                        "returningCustomers": 11
                      },
                      {
                        "intervalStart": "2026-03-05T00:00:00+00:00",
                        "intervalEnd": "2026-03-06T00:00:00+00:00",
                        "activeCustomers": 72,
                        "newCustomers": 67,
                        "returningCustomers": 5
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-02-27T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-06T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 392
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 222
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": 170
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-02-27T00:00:00+00:00",
                          "intervalEnd": "2026-02-28T00:00:00+00:00",
                          "activeCustomers": 92,
                          "newCustomers": 65,
                          "returningCustomers": 27
                        },
                        {
                          "intervalStart": "2026-02-28T00:00:00+00:00",
                          "intervalEnd": "2026-03-01T00:00:00+00:00",
                          "activeCustomers": 66,
                          "newCustomers": 13,
                          "returningCustomers": 53
                        },
                        {
                          "intervalStart": "2026-03-01T00:00:00+00:00",
                          "intervalEnd": "2026-03-02T00:00:00+00:00",
                          "activeCustomers": 28,
                          "newCustomers": 7,
                          "returningCustomers": 21
                        },
                        {
                          "intervalStart": "2026-03-02T00:00:00+00:00",
                          "intervalEnd": "2026-03-03T00:00:00+00:00",
                          "activeCustomers": 49,
                          "newCustomers": 28,
                          "returningCustomers": 21
                        },
                        {
                          "intervalStart": "2026-03-03T00:00:00+00:00",
                          "intervalEnd": "2026-03-04T00:00:00+00:00",
                          "activeCustomers": 78,
                          "newCustomers": 31,
                          "returningCustomers": 47
                        },
                        {
                          "intervalStart": "2026-03-04T00:00:00+00:00",
                          "intervalEnd": "2026-03-05T00:00:00+00:00",
                          "activeCustomers": 22,
                          "newCustomers": 11,
                          "returningCustomers": 11
                        },
                        {
                          "intervalStart": "2026-03-05T00:00:00+00:00",
                          "intervalEnd": "2026-03-06T00:00:00+00:00",
                          "activeCustomers": 72,
                          "newCustomers": 67,
                          "returningCustomers": 5
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-02-27T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-02-28T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 92
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 65
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 27
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-02-27T00:00:00+00:00",
                    "periodEnd": "2026-03-06T00:00:00+00:00",
                    "totalTransactions": 4431,
                    "authorizeTransactions": 321,
                    "captureTransactions": 361,
                    "payTransactions": 2085,
                    "refundTransactions": 769,
                    "verifyTransactions": 233,
                    "voidTransactions": 662,
                    "successfulTransactions": 3984,
                    "failedTransactions": 328,
                    "declinedTransactions": 89,
                    "pendingTransactions": 30,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-02-27T00:00:00+00:00",
                        "intervalEnd": "2026-02-28T00:00:00+00:00",
                        "totalTransactions": 601,
                        "authorizeTransactions": 10,
                        "captureTransactions": 18,
                        "payTransactions": 525,
                        "refundTransactions": 33,
                        "verifyTransactions": 6,
                        "voidTransactions": 9,
                        "successfulTransactions": 540,
                        "failedTransactions": 46,
                        "declinedTransactions": 11,
                        "pendingTransactions": 4,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-02-28T00:00:00+00:00",
                        "intervalEnd": "2026-03-01T00:00:00+00:00",
                        "totalTransactions": 572,
                        "authorizeTransactions": 35,
                        "captureTransactions": 40,
                        "payTransactions": 288,
                        "refundTransactions": 126,
                        "verifyTransactions": 64,
                        "voidTransactions": 19,
                        "successfulTransactions": 514,
                        "failedTransactions": 52,
                        "declinedTransactions": 2,
                        "pendingTransactions": 4,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-01T00:00:00+00:00",
                        "intervalEnd": "2026-03-02T00:00:00+00:00",
                        "totalTransactions": 877,
                        "authorizeTransactions": 49,
                        "captureTransactions": 53,
                        "payTransactions": 233,
                        "refundTransactions": 146,
                        "verifyTransactions": 73,
                        "voidTransactions": 323,
                        "successfulTransactions": 789,
                        "failedTransactions": 54,
                        "declinedTransactions": 29,
                        "pendingTransactions": 5,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-02T00:00:00+00:00",
                        "intervalEnd": "2026-03-03T00:00:00+00:00",
                        "totalTransactions": 265,
                        "authorizeTransactions": 33,
                        "captureTransactions": 35,
                        "payTransactions": 131,
                        "refundTransactions": 25,
                        "verifyTransactions": 40,
                        "voidTransactions": 1,
                        "successfulTransactions": 238,
                        "failedTransactions": 22,
                        "declinedTransactions": 3,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-03T00:00:00+00:00",
                        "intervalEnd": "2026-03-04T00:00:00+00:00",
                        "totalTransactions": 704,
                        "authorizeTransactions": 87,
                        "captureTransactions": 92,
                        "payTransactions": 245,
                        "refundTransactions": 73,
                        "verifyTransactions": 6,
                        "voidTransactions": 201,
                        "successfulTransactions": 633,
                        "failedTransactions": 64,
                        "declinedTransactions": 3,
                        "pendingTransactions": 4,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-04T00:00:00+00:00",
                        "intervalEnd": "2026-03-05T00:00:00+00:00",
                        "totalTransactions": 526,
                        "authorizeTransactions": 30,
                        "captureTransactions": 38,
                        "payTransactions": 317,
                        "refundTransactions": 38,
                        "verifyTransactions": 36,
                        "voidTransactions": 67,
                        "successfulTransactions": 473,
                        "failedTransactions": 34,
                        "declinedTransactions": 14,
                        "pendingTransactions": 5,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-05T00:00:00+00:00",
                        "intervalEnd": "2026-03-06T00:00:00+00:00",
                        "totalTransactions": 886,
                        "authorizeTransactions": 77,
                        "captureTransactions": 85,
                        "payTransactions": 346,
                        "refundTransactions": 328,
                        "verifyTransactions": 8,
                        "voidTransactions": 42,
                        "successfulTransactions": 797,
                        "failedTransactions": 56,
                        "declinedTransactions": 27,
                        "pendingTransactions": 6,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-02-27T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-06T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 4431
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 321
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 361
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 2085
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 769
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 233
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 662
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 3984
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 328
                    },
                    "declinedTransactions": {
                      "type": "integer",
                      "example": 89
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 30
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-02-27T00:00:00+00:00",
                          "intervalEnd": "2026-02-28T00:00:00+00:00",
                          "totalTransactions": 601,
                          "authorizeTransactions": 10,
                          "captureTransactions": 18,
                          "payTransactions": 525,
                          "refundTransactions": 33,
                          "verifyTransactions": 6,
                          "voidTransactions": 9,
                          "successfulTransactions": 540,
                          "failedTransactions": 46,
                          "declinedTransactions": 11,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-02-28T00:00:00+00:00",
                          "intervalEnd": "2026-03-01T00:00:00+00:00",
                          "totalTransactions": 572,
                          "authorizeTransactions": 35,
                          "captureTransactions": 40,
                          "payTransactions": 288,
                          "refundTransactions": 126,
                          "verifyTransactions": 64,
                          "voidTransactions": 19,
                          "successfulTransactions": 514,
                          "failedTransactions": 52,
                          "declinedTransactions": 2,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-01T00:00:00+00:00",
                          "intervalEnd": "2026-03-02T00:00:00+00:00",
                          "totalTransactions": 877,
                          "authorizeTransactions": 49,
                          "captureTransactions": 53,
                          "payTransactions": 233,
                          "refundTransactions": 146,
                          "verifyTransactions": 73,
                          "voidTransactions": 323,
                          "successfulTransactions": 789,
                          "failedTransactions": 54,
                          "declinedTransactions": 29,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-02T00:00:00+00:00",
                          "intervalEnd": "2026-03-03T00:00:00+00:00",
                          "totalTransactions": 265,
                          "authorizeTransactions": 33,
                          "captureTransactions": 35,
                          "payTransactions": 131,
                          "refundTransactions": 25,
                          "verifyTransactions": 40,
                          "voidTransactions": 1,
                          "successfulTransactions": 238,
                          "failedTransactions": 22,
                          "declinedTransactions": 3,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-03T00:00:00+00:00",
                          "intervalEnd": "2026-03-04T00:00:00+00:00",
                          "totalTransactions": 704,
                          "authorizeTransactions": 87,
                          "captureTransactions": 92,
                          "payTransactions": 245,
                          "refundTransactions": 73,
                          "verifyTransactions": 6,
                          "voidTransactions": 201,
                          "successfulTransactions": 633,
                          "failedTransactions": 64,
                          "declinedTransactions": 3,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-04T00:00:00+00:00",
                          "intervalEnd": "2026-03-05T00:00:00+00:00",
                          "totalTransactions": 526,
                          "authorizeTransactions": 30,
                          "captureTransactions": 38,
                          "payTransactions": 317,
                          "refundTransactions": 38,
                          "verifyTransactions": 36,
                          "voidTransactions": 67,
                          "successfulTransactions": 473,
                          "failedTransactions": 34,
                          "declinedTransactions": 14,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-05T00:00:00+00:00",
                          "intervalEnd": "2026-03-06T00:00:00+00:00",
                          "totalTransactions": 886,
                          "authorizeTransactions": 77,
                          "captureTransactions": 85,
                          "payTransactions": 346,
                          "refundTransactions": 328,
                          "verifyTransactions": 8,
                          "voidTransactions": 42,
                          "successfulTransactions": 797,
                          "failedTransactions": 56,
                          "declinedTransactions": 27,
                          "pendingTransactions": 6,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-02-27T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-02-28T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 601
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 10
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 18
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 525
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 33
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 6
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": 9
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 540
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 46
                          },
                          "declinedTransactions": {
                            "type": "integer",
                            "example": 11
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 4
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-02-27T00:00:00+00:00",
                    "periodEnd": "2026-03-06T00:00:00+00:00",
                    "totalSettlementAmount": 29909.66,
                    "totalFeeAmount": 1465.57334,
                    "totalNetAmount": 28444.08666,
                    "totalTransactionsPending": 231,
                    "totalTransactionsSettled": 745,
                    "totalTransactionsSettling": 942,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-02-27T00:00:00+00:00",
                        "intervalEnd": "2026-02-28T00:00:00+00:00",
                        "totalSettlementAmount": 9715.12,
                        "totalFeeAmount": 476.04088,
                        "totalNetAmount": 9239.07912,
                        "totalTransactionsPending": 35,
                        "totalTransactionsSettled": 39,
                        "totalTransactionsSettling": 62
                      },
                      {
                        "intervalStart": "2026-02-28T00:00:00+00:00",
                        "intervalEnd": "2026-03-01T00:00:00+00:00",
                        "totalSettlementAmount": 750.12,
                        "totalFeeAmount": 36.75588,
                        "totalNetAmount": 713.36412,
                        "totalTransactionsPending": 38,
                        "totalTransactionsSettled": 36,
                        "totalTransactionsSettling": 151
                      },
                      {
                        "intervalStart": "2026-03-01T00:00:00+00:00",
                        "intervalEnd": "2026-03-02T00:00:00+00:00",
                        "totalSettlementAmount": 3677.76,
                        "totalFeeAmount": 180.21024,
                        "totalNetAmount": 3497.54976,
                        "totalTransactionsPending": 40,
                        "totalTransactionsSettled": 132,
                        "totalTransactionsSettling": 319
                      },
                      {
                        "intervalStart": "2026-03-02T00:00:00+00:00",
                        "intervalEnd": "2026-03-03T00:00:00+00:00",
                        "totalSettlementAmount": 5379.11,
                        "totalFeeAmount": 263.57639,
                        "totalNetAmount": 5115.53361,
                        "totalTransactionsPending": 39,
                        "totalTransactionsSettled": 110,
                        "totalTransactionsSettling": 54
                      },
                      {
                        "intervalStart": "2026-03-03T00:00:00+00:00",
                        "intervalEnd": "2026-03-04T00:00:00+00:00",
                        "totalSettlementAmount": 6224.83,
                        "totalFeeAmount": 305.01667,
                        "totalNetAmount": 5919.81333,
                        "totalTransactionsPending": 16,
                        "totalTransactionsSettled": 202,
                        "totalTransactionsSettling": 85
                      },
                      {
                        "intervalStart": "2026-03-04T00:00:00+00:00",
                        "intervalEnd": "2026-03-05T00:00:00+00:00",
                        "totalSettlementAmount": 2988.58,
                        "totalFeeAmount": 146.44042,
                        "totalNetAmount": 2842.13958,
                        "totalTransactionsPending": 37,
                        "totalTransactionsSettled": 78,
                        "totalTransactionsSettling": 56
                      },
                      {
                        "intervalStart": "2026-03-05T00:00:00+00:00",
                        "intervalEnd": "2026-03-06T00:00:00+00:00",
                        "totalSettlementAmount": 1174.14,
                        "totalFeeAmount": 57.53286,
                        "totalNetAmount": 1116.60714,
                        "totalTransactionsPending": 26,
                        "totalTransactionsSettled": 148,
                        "totalTransactionsSettling": 215
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-02-27T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-06T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 29909.66
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 1465.57334
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 28444.08666
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 231
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 745
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 942
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-02-27T00:00:00+00:00",
                          "intervalEnd": "2026-02-28T00:00:00+00:00",
                          "totalSettlementAmount": 9715.12,
                          "totalFeeAmount": 476.04088,
                          "totalNetAmount": 9239.07912,
                          "totalTransactionsPending": 35,
                          "totalTransactionsSettled": 39,
                          "totalTransactionsSettling": 62
                        },
                        {
                          "intervalStart": "2026-02-28T00:00:00+00:00",
                          "intervalEnd": "2026-03-01T00:00:00+00:00",
                          "totalSettlementAmount": 750.12,
                          "totalFeeAmount": 36.75588,
                          "totalNetAmount": 713.36412,
                          "totalTransactionsPending": 38,
                          "totalTransactionsSettled": 36,
                          "totalTransactionsSettling": 151
                        },
                        {
                          "intervalStart": "2026-03-01T00:00:00+00:00",
                          "intervalEnd": "2026-03-02T00:00:00+00:00",
                          "totalSettlementAmount": 3677.76,
                          "totalFeeAmount": 180.21024,
                          "totalNetAmount": 3497.54976,
                          "totalTransactionsPending": 40,
                          "totalTransactionsSettled": 132,
                          "totalTransactionsSettling": 319
                        },
                        {
                          "intervalStart": "2026-03-02T00:00:00+00:00",
                          "intervalEnd": "2026-03-03T00:00:00+00:00",
                          "totalSettlementAmount": 5379.11,
                          "totalFeeAmount": 263.57639,
                          "totalNetAmount": 5115.53361,
                          "totalTransactionsPending": 39,
                          "totalTransactionsSettled": 110,
                          "totalTransactionsSettling": 54
                        },
                        {
                          "intervalStart": "2026-03-03T00:00:00+00:00",
                          "intervalEnd": "2026-03-04T00:00:00+00:00",
                          "totalSettlementAmount": 6224.83,
                          "totalFeeAmount": 305.01667,
                          "totalNetAmount": 5919.81333,
                          "totalTransactionsPending": 16,
                          "totalTransactionsSettled": 202,
                          "totalTransactionsSettling": 85
                        },
                        {
                          "intervalStart": "2026-03-04T00:00:00+00:00",
                          "intervalEnd": "2026-03-05T00:00:00+00:00",
                          "totalSettlementAmount": 2988.58,
                          "totalFeeAmount": 146.44042,
                          "totalNetAmount": 2842.13958,
                          "totalTransactionsPending": 37,
                          "totalTransactionsSettled": 78,
                          "totalTransactionsSettling": 56
                        },
                        {
                          "intervalStart": "2026-03-05T00:00:00+00:00",
                          "intervalEnd": "2026-03-06T00:00:00+00:00",
                          "totalSettlementAmount": 1174.14,
                          "totalFeeAmount": 57.53286,
                          "totalNetAmount": 1116.60714,
                          "totalTransactionsPending": 26,
                          "totalTransactionsSettled": 148,
                          "totalTransactionsSettling": 215
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-02-27T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-02-28T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 9715.12
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 476.04088
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 9239.07912
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 35
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 39
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 62
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 3,
                    "data": [
                      {
                        "email": "quinten73@harris.com",
                        "firstName": "Aaliyah",
                        "lastName": "Swaniawski",
                        "phone": "+16785707576",
                        "dateOfBirth": "1979-02-06"
                      },
                      {
                        "email": "xglover@abbott.info",
                        "firstName": "Angelita",
                        "lastName": "Wyman",
                        "phone": "+17859654179",
                        "dateOfBirth": "1997-10-29"
                      },
                      {
                        "email": "maximillia88@yahoo.com",
                        "firstName": "Liana",
                        "lastName": "Smith",
                        "phone": "+15808360304",
                        "dateOfBirth": "1976-03-03"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 3,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "quinten73@harris.com",
                          "firstName": "Aaliyah",
                          "lastName": "Swaniawski",
                          "phone": "+16785707576",
                          "dateOfBirth": "1979-02-06"
                        },
                        {
                          "email": "xglover@abbott.info",
                          "firstName": "Angelita",
                          "lastName": "Wyman",
                          "phone": "+17859654179",
                          "dateOfBirth": "1997-10-29"
                        },
                        {
                          "email": "maximillia88@yahoo.com",
                          "firstName": "Liana",
                          "lastName": "Smith",
                          "phone": "+15808360304",
                          "dateOfBirth": "1976-03-03"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "quinten73@harris.com"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Aaliyah"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Swaniawski"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+16785707576"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "1979-02-06"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers/{customerIdOrEmail}/addresses": {
      "get": {
        "summary": "List Customer Billing Addresses",
        "operationId": "listCustomerBillingAddresses",
        "description": "Returns all unique billing addresses that have been used by a customer across their payments.\nAddresses are deduplicated using case-insensitive and whitespace-insensitive comparison.",
        "parameters": [
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
            "example": "-city",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
              "example": "-city",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of unique billing addresses for the customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "company": "Bartoletti-King",
                        "street": "512 Morissette Way Suite 329",
                        "city": "Roxaneberg",
                        "stateProvince": "CO",
                        "postcodeZip": "24569",
                        "country": "USA"
                      },
                      {
                        "company": "Schiller, Ernser and Kemmer",
                        "street": "622 Arne Neck",
                        "city": "East Gaylord",
                        "stateProvince": "OH",
                        "postcodeZip": "59667",
                        "country": "USA"
                      },
                      {
                        "company": "Simonis-Ortiz",
                        "street": "188 Jeanne Lodge",
                        "city": "Alyciahaven",
                        "stateProvince": "HI",
                        "postcodeZip": "91216-1616",
                        "country": "USA"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "company": "Bartoletti-King",
                          "street": "512 Morissette Way Suite 329",
                          "city": "Roxaneberg",
                          "stateProvince": "CO",
                          "postcodeZip": "24569",
                          "country": "USA"
                        },
                        {
                          "company": "Schiller, Ernser and Kemmer",
                          "street": "622 Arne Neck",
                          "city": "East Gaylord",
                          "stateProvince": "OH",
                          "postcodeZip": "59667",
                          "country": "USA"
                        },
                        {
                          "company": "Simonis-Ortiz",
                          "street": "188 Jeanne Lodge",
                          "city": "Alyciahaven",
                          "stateProvince": "HI",
                          "postcodeZip": "91216-1616",
                          "country": "USA"
                        }
                      ],
                      "description": "The data returned from the request",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "company": {
                            "type": "string",
                            "example": "Bartoletti-King"
                          },
                          "street": {
                            "type": "string",
                            "example": "512 Morissette Way Suite 329"
                          },
                          "city": {
                            "type": "string",
                            "example": "Roxaneberg"
                          },
                          "stateProvince": {
                            "type": "string",
                            "example": "CO"
                          },
                          "postcodeZip": {
                            "type": "string",
                            "example": "24569"
                          },
                          "country": {
                            "type": "string",
                            "example": "USA"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "path",
          "name": "customerIdOrEmail",
          "description": "The customer ID, UUID, or email address",
          "example": "customer_123",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/simulated/terminals": {
      "get": {
        "summary": "Get all available simulated terminals.",
        "operationId": "getAllAvailableSimulatedTerminals",
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of available simulated terminals",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "title": "Success",
                        "description": "Approves all card present transactions successfully.",
                        "tid": "SUCCESS",
                        "readyForProcessing": true,
                        "provider": "SIMULATED",
                        "type": "CARD_PRESENT"
                      },
                      {
                        "title": "Transaction Declined",
                        "description": "Simulates a declined transaction.",
                        "tid": "TRANSACTION_DECLINED",
                        "readyForProcessing": true,
                        "provider": "SIMULATED",
                        "type": "CARD_PRESENT"
                      },
                      {
                        "title": "Card Present Timeout",
                        "description": "Simulates a card present timeout.",
                        "tid": "CARD_PRESENT_TIMEOUT",
                        "readyForProcessing": true,
                        "provider": "SIMULATED",
                        "type": "CARD_PRESENT"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "title": "Success",
[...]
