{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.52.0"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-12T00:00:00+00:00",
                    "periodEnd": "2026-03-19T00:00:00+00:00",
                    "numPaymentsCreated": 3627,
                    "numPaymentsProcessed": 1848,
                    "numPaymentsIncomplete": 1779,
                    "numPaymentsWithRefunds": 949,
                    "numCardPresentPayments": 1600,
                    "numCardNotPresentPayments": 179,
                    "totalCapturedAmount": 3711812.23,
                    "totalRefundedAmount": 591226.25,
                    "totalNetCapturedAmount": 3120585.98,
                    "averageNetCapturedAmount": 2669.46,
                    "minNetCapturedAmount": 24.41,
                    "maxNetCapturedAmount": 8065.33,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-12T00:00:00+00:00",
                        "intervalEnd": "2026-03-13T00:00:00+00:00",
                        "numPaymentsCreated": 529,
                        "numPaymentsProcessed": 106,
                        "numPaymentsIncomplete": 423,
                        "numPaymentsWithRefunds": 92,
                        "numCardPresentPayments": 69,
                        "numCardNotPresentPayments": 354,
                        "totalCapturedAmount": 787009.01,
                        "totalRefundedAmount": 225072.16,
                        "totalNetCapturedAmount": 561936.85,
                        "averageNetCapturedAmount": 5301.29,
                        "minNetCapturedAmount": 86.22,
                        "maxNetCapturedAmount": 4899.38
                      },
                      {
                        "intervalStart": "2026-03-13T00:00:00+00:00",
                        "intervalEnd": "2026-03-14T00:00:00+00:00",
                        "numPaymentsCreated": 752,
                        "numPaymentsProcessed": 314,
                        "numPaymentsIncomplete": 438,
                        "numPaymentsWithRefunds": 27,
                        "numCardPresentPayments": 307,
                        "numCardNotPresentPayments": 131,
                        "totalCapturedAmount": 417340.74,
                        "totalRefundedAmount": 48966.25,
                        "totalNetCapturedAmount": 368374.49,
                        "averageNetCapturedAmount": 1173.17,
                        "minNetCapturedAmount": 30.27,
                        "maxNetCapturedAmount": 1828.2
                      },
                      {
                        "intervalStart": "2026-03-14T00:00:00+00:00",
                        "intervalEnd": "2026-03-15T00:00:00+00:00",
                        "numPaymentsCreated": 192,
                        "numPaymentsProcessed": 153,
                        "numPaymentsIncomplete": 39,
                        "numPaymentsWithRefunds": 31,
                        "numCardPresentPayments": 134,
                        "numCardNotPresentPayments": -95,
                        "totalCapturedAmount": 97868.55,
                        "totalRefundedAmount": 5552.37,
                        "totalNetCapturedAmount": 92316.18,
                        "averageNetCapturedAmount": 603.37,
                        "minNetCapturedAmount": 24.41,
                        "maxNetCapturedAmount": 7884.28
                      },
                      {
                        "intervalStart": "2026-03-15T00:00:00+00:00",
                        "intervalEnd": "2026-03-16T00:00:00+00:00",
                        "numPaymentsCreated": 631,
                        "numPaymentsProcessed": 573,
                        "numPaymentsIncomplete": 58,
                        "numPaymentsWithRefunds": 389,
                        "numCardPresentPayments": 529,
                        "numCardNotPresentPayments": -471,
                        "totalCapturedAmount": 154305.99,
                        "totalRefundedAmount": 36148.13,
                        "totalNetCapturedAmount": 118157.86,
                        "averageNetCapturedAmount": 206.21,
                        "minNetCapturedAmount": 27.44,
                        "maxNetCapturedAmount": 6609.83
                      },
                      {
                        "intervalStart": "2026-03-16T00:00:00+00:00",
                        "intervalEnd": "2026-03-17T00:00:00+00:00",
                        "numPaymentsCreated": 524,
                        "numPaymentsProcessed": 375,
                        "numPaymentsIncomplete": 149,
                        "numPaymentsWithRefunds": 261,
                        "numCardPresentPayments": 323,
                        "numCardNotPresentPayments": -174,
                        "totalCapturedAmount": 557148.04,
                        "totalRefundedAmount": 42391.51,
                        "totalNetCapturedAmount": 514756.53,
                        "averageNetCapturedAmount": 1372.68,
                        "minNetCapturedAmount": 87.58,
                        "maxNetCapturedAmount": 5599.93
                      },
                      {
                        "intervalStart": "2026-03-17T00:00:00+00:00",
                        "intervalEnd": "2026-03-18T00:00:00+00:00",
                        "numPaymentsCreated": 786,
                        "numPaymentsProcessed": 223,
                        "numPaymentsIncomplete": 563,
                        "numPaymentsWithRefunds": 127,
                        "numCardPresentPayments": 157,
                        "numCardNotPresentPayments": 406,
                        "totalCapturedAmount": 981671.1,
                        "totalRefundedAmount": 190910.44,
                        "totalNetCapturedAmount": 790760.66,
                        "averageNetCapturedAmount": 3546.01,
                        "minNetCapturedAmount": 70.88,
                        "maxNetCapturedAmount": 8065.33
                      },
                      {
                        "intervalStart": "2026-03-18T00:00:00+00:00",
                        "intervalEnd": "2026-03-19T00:00:00+00:00",
                        "numPaymentsCreated": 213,
                        "numPaymentsProcessed": 104,
                        "numPaymentsIncomplete": 109,
                        "numPaymentsWithRefunds": 22,
                        "numCardPresentPayments": 81,
                        "numCardNotPresentPayments": 28,
                        "totalCapturedAmount": 716468.8,
                        "totalRefundedAmount": 42185.39,
                        "totalNetCapturedAmount": 674283.41,
                        "averageNetCapturedAmount": 6483.49,
                        "minNetCapturedAmount": 61.8,
                        "maxNetCapturedAmount": 4866.59
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-12T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-19T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 3627
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 1848
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 1779
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 949
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 1600
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": 179
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 3711812.23
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 591226.25
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 3120585.98
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 2669.46
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 24.41
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 8065.33
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-12T00:00:00+00:00",
                          "intervalEnd": "2026-03-13T00:00:00+00:00",
                          "numPaymentsCreated": 529,
                          "numPaymentsProcessed": 106,
                          "numPaymentsIncomplete": 423,
                          "numPaymentsWithRefunds": 92,
                          "numCardPresentPayments": 69,
                          "numCardNotPresentPayments": 354,
                          "totalCapturedAmount": 787009.01,
                          "totalRefundedAmount": 225072.16,
                          "totalNetCapturedAmount": 561936.85,
                          "averageNetCapturedAmount": 5301.29,
                          "minNetCapturedAmount": 86.22,
                          "maxNetCapturedAmount": 4899.38
                        },
                        {
                          "intervalStart": "2026-03-13T00:00:00+00:00",
                          "intervalEnd": "2026-03-14T00:00:00+00:00",
                          "numPaymentsCreated": 752,
                          "numPaymentsProcessed": 314,
                          "numPaymentsIncomplete": 438,
                          "numPaymentsWithRefunds": 27,
                          "numCardPresentPayments": 307,
                          "numCardNotPresentPayments": 131,
                          "totalCapturedAmount": 417340.74,
                          "totalRefundedAmount": 48966.25,
                          "totalNetCapturedAmount": 368374.49,
                          "averageNetCapturedAmount": 1173.17,
                          "minNetCapturedAmount": 30.27,
                          "maxNetCapturedAmount": 1828.2
                        },
                        {
                          "intervalStart": "2026-03-14T00:00:00+00:00",
                          "intervalEnd": "2026-03-15T00:00:00+00:00",
                          "numPaymentsCreated": 192,
                          "numPaymentsProcessed": 153,
                          "numPaymentsIncomplete": 39,
                          "numPaymentsWithRefunds": 31,
                          "numCardPresentPayments": 134,
                          "numCardNotPresentPayments": -95,
                          "totalCapturedAmount": 97868.55,
                          "totalRefundedAmount": 5552.37,
                          "totalNetCapturedAmount": 92316.18,
                          "averageNetCapturedAmount": 603.37,
                          "minNetCapturedAmount": 24.41,
                          "maxNetCapturedAmount": 7884.28
                        },
                        {
                          "intervalStart": "2026-03-15T00:00:00+00:00",
                          "intervalEnd": "2026-03-16T00:00:00+00:00",
                          "numPaymentsCreated": 631,
                          "numPaymentsProcessed": 573,
                          "numPaymentsIncomplete": 58,
                          "numPaymentsWithRefunds": 389,
                          "numCardPresentPayments": 529,
                          "numCardNotPresentPayments": -471,
                          "totalCapturedAmount": 154305.99,
                          "totalRefundedAmount": 36148.13,
                          "totalNetCapturedAmount": 118157.86,
                          "averageNetCapturedAmount": 206.21,
                          "minNetCapturedAmount": 27.44,
                          "maxNetCapturedAmount": 6609.83
                        },
                        {
                          "intervalStart": "2026-03-16T00:00:00+00:00",
                          "intervalEnd": "2026-03-17T00:00:00+00:00",
                          "numPaymentsCreated": 524,
                          "numPaymentsProcessed": 375,
                          "numPaymentsIncomplete": 149,
                          "numPaymentsWithRefunds": 261,
                          "numCardPresentPayments": 323,
                          "numCardNotPresentPayments": -174,
                          "totalCapturedAmount": 557148.04,
                          "totalRefundedAmount": 42391.51,
                          "totalNetCapturedAmount": 514756.53,
                          "averageNetCapturedAmount": 1372.68,
                          "minNetCapturedAmount": 87.58,
                          "maxNetCapturedAmount": 5599.93
                        },
                        {
                          "intervalStart": "2026-03-17T00:00:00+00:00",
                          "intervalEnd": "2026-03-18T00:00:00+00:00",
                          "numPaymentsCreated": 786,
                          "numPaymentsProcessed": 223,
                          "numPaymentsIncomplete": 563,
                          "numPaymentsWithRefunds": 127,
                          "numCardPresentPayments": 157,
                          "numCardNotPresentPayments": 406,
                          "totalCapturedAmount": 981671.1,
                          "totalRefundedAmount": 190910.44,
                          "totalNetCapturedAmount": 790760.66,
                          "averageNetCapturedAmount": 3546.01,
                          "minNetCapturedAmount": 70.88,
                          "maxNetCapturedAmount": 8065.33
                        },
                        {
                          "intervalStart": "2026-03-18T00:00:00+00:00",
                          "intervalEnd": "2026-03-19T00:00:00+00:00",
                          "numPaymentsCreated": 213,
                          "numPaymentsProcessed": 104,
                          "numPaymentsIncomplete": 109,
                          "numPaymentsWithRefunds": 22,
                          "numCardPresentPayments": 81,
                          "numCardNotPresentPayments": 28,
                          "totalCapturedAmount": 716468.8,
                          "totalRefundedAmount": 42185.39,
                          "totalNetCapturedAmount": 674283.41,
                          "averageNetCapturedAmount": 6483.49,
                          "minNetCapturedAmount": 61.8,
                          "maxNetCapturedAmount": 4866.59
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-12T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-13T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 529
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 106
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 423
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 92
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 69
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": 354
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 787009.01
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 225072.16
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 561936.85
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 5301.29
                          },
                          "minNetCapturedAmount": {
                            "type": "number",
                            "example": 86.22
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 4899.38
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-12T00:00:00+00:00",
                    "periodEnd": "2026-03-19T00:00:00+00:00",
                    "activeCustomers": 100,
                    "newCustomers": 205,
                    "returningCustomers": -105,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-12T00:00:00+00:00",
                        "intervalEnd": "2026-03-13T00:00:00+00:00",
                        "activeCustomers": 34,
                        "newCustomers": 18,
                        "returningCustomers": 16
                      },
                      {
                        "intervalStart": "2026-03-13T00:00:00+00:00",
                        "intervalEnd": "2026-03-14T00:00:00+00:00",
                        "activeCustomers": 67,
                        "newCustomers": 39,
                        "returningCustomers": 28
                      },
                      {
                        "intervalStart": "2026-03-14T00:00:00+00:00",
                        "intervalEnd": "2026-03-15T00:00:00+00:00",
                        "activeCustomers": 67,
                        "newCustomers": 32,
                        "returningCustomers": 35
                      },
                      {
                        "intervalStart": "2026-03-15T00:00:00+00:00",
                        "intervalEnd": "2026-03-16T00:00:00+00:00",
                        "activeCustomers": 35,
                        "newCustomers": 8,
                        "returningCustomers": 27
                      },
                      {
                        "intervalStart": "2026-03-16T00:00:00+00:00",
                        "intervalEnd": "2026-03-17T00:00:00+00:00",
                        "activeCustomers": 61,
                        "newCustomers": 39,
                        "returningCustomers": 22
                      },
                      {
                        "intervalStart": "2026-03-17T00:00:00+00:00",
                        "intervalEnd": "2026-03-18T00:00:00+00:00",
                        "activeCustomers": 24,
                        "newCustomers": 7,
                        "returningCustomers": 17
                      },
                      {
                        "intervalStart": "2026-03-18T00:00:00+00:00",
                        "intervalEnd": "2026-03-19T00:00:00+00:00",
                        "activeCustomers": 88,
                        "newCustomers": 62,
                        "returningCustomers": 26
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-12T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-19T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 100
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 205
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": -105
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-12T00:00:00+00:00",
                          "intervalEnd": "2026-03-13T00:00:00+00:00",
                          "activeCustomers": 34,
                          "newCustomers": 18,
                          "returningCustomers": 16
                        },
                        {
                          "intervalStart": "2026-03-13T00:00:00+00:00",
                          "intervalEnd": "2026-03-14T00:00:00+00:00",
                          "activeCustomers": 67,
                          "newCustomers": 39,
                          "returningCustomers": 28
                        },
                        {
                          "intervalStart": "2026-03-14T00:00:00+00:00",
                          "intervalEnd": "2026-03-15T00:00:00+00:00",
                          "activeCustomers": 67,
                          "newCustomers": 32,
                          "returningCustomers": 35
                        },
                        {
                          "intervalStart": "2026-03-15T00:00:00+00:00",
                          "intervalEnd": "2026-03-16T00:00:00+00:00",
                          "activeCustomers": 35,
                          "newCustomers": 8,
                          "returningCustomers": 27
                        },
                        {
                          "intervalStart": "2026-03-16T00:00:00+00:00",
                          "intervalEnd": "2026-03-17T00:00:00+00:00",
                          "activeCustomers": 61,
                          "newCustomers": 39,
                          "returningCustomers": 22
                        },
                        {
                          "intervalStart": "2026-03-17T00:00:00+00:00",
                          "intervalEnd": "2026-03-18T00:00:00+00:00",
                          "activeCustomers": 24,
                          "newCustomers": 7,
                          "returningCustomers": 17
                        },
                        {
                          "intervalStart": "2026-03-18T00:00:00+00:00",
                          "intervalEnd": "2026-03-19T00:00:00+00:00",
                          "activeCustomers": 88,
                          "newCustomers": 62,
                          "returningCustomers": 26
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-12T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-13T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 34
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 18
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 16
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-12T00:00:00+00:00",
                    "periodEnd": "2026-03-19T00:00:00+00:00",
                    "totalTransactions": 3485,
                    "authorizeTransactions": 259,
                    "captureTransactions": 287,
                    "payTransactions": 1984,
                    "refundTransactions": 482,
                    "verifyTransactions": 264,
                    "voidTransactions": 209,
                    "successfulTransactions": 3133,
                    "failedTransactions": 266,
                    "declinedTransactions": 61,
                    "pendingTransactions": 25,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-12T00:00:00+00:00",
                        "intervalEnd": "2026-03-13T00:00:00+00:00",
                        "totalTransactions": 753,
                        "authorizeTransactions": 16,
                        "captureTransactions": 18,
                        "payTransactions": 717,
                        "refundTransactions": 4,
                        "verifyTransactions": 0,
                        "voidTransactions": -2,
                        "successfulTransactions": 677,
                        "failedTransactions": 62,
                        "declinedTransactions": 7,
                        "pendingTransactions": 7,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-13T00:00:00+00:00",
                        "intervalEnd": "2026-03-14T00:00:00+00:00",
                        "totalTransactions": 411,
                        "authorizeTransactions": 17,
                        "captureTransactions": 26,
                        "payTransactions": 340,
                        "refundTransactions": 8,
                        "verifyTransactions": 6,
                        "voidTransactions": 14,
                        "successfulTransactions": 369,
                        "failedTransactions": 31,
                        "declinedTransactions": 8,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-14T00:00:00+00:00",
                        "intervalEnd": "2026-03-15T00:00:00+00:00",
                        "totalTransactions": 127,
                        "authorizeTransactions": 13,
                        "captureTransactions": 16,
                        "payTransactions": 38,
                        "refundTransactions": 25,
                        "verifyTransactions": 6,
                        "voidTransactions": 29,
                        "successfulTransactions": 114,
                        "failedTransactions": 11,
                        "declinedTransactions": 1,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-15T00:00:00+00:00",
                        "intervalEnd": "2026-03-16T00:00:00+00:00",
                        "totalTransactions": 482,
                        "authorizeTransactions": 55,
                        "captureTransactions": 57,
                        "payTransactions": 313,
                        "refundTransactions": 20,
                        "verifyTransactions": 36,
                        "voidTransactions": 1,
                        "successfulTransactions": 433,
                        "failedTransactions": 23,
                        "declinedTransactions": 22,
                        "pendingTransactions": 4,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-16T00:00:00+00:00",
                        "intervalEnd": "2026-03-17T00:00:00+00:00",
                        "totalTransactions": 767,
                        "authorizeTransactions": 90,
                        "captureTransactions": 91,
                        "payTransactions": 271,
                        "refundTransactions": 275,
                        "verifyTransactions": 29,
                        "voidTransactions": 11,
                        "successfulTransactions": 690,
                        "failedTransactions": 64,
                        "declinedTransactions": 7,
                        "pendingTransactions": 6,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-17T00:00:00+00:00",
                        "intervalEnd": "2026-03-18T00:00:00+00:00",
                        "totalTransactions": 826,
                        "authorizeTransactions": 55,
                        "captureTransactions": 62,
                        "payTransactions": 285,
                        "refundTransactions": 123,
                        "verifyTransactions": 172,
                        "voidTransactions": 129,
                        "successfulTransactions": 743,
                        "failedTransactions": 69,
                        "declinedTransactions": 11,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-18T00:00:00+00:00",
                        "intervalEnd": "2026-03-19T00:00:00+00:00",
                        "totalTransactions": 119,
                        "authorizeTransactions": 13,
                        "captureTransactions": 17,
                        "payTransactions": 20,
                        "refundTransactions": 27,
                        "verifyTransactions": 15,
                        "voidTransactions": 27,
                        "successfulTransactions": 107,
                        "failedTransactions": 6,
                        "declinedTransactions": 5,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-12T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-19T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 3485
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 259
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 287
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 1984
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 482
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 264
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 209
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 3133
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 266
                    },
                    "declinedTransactions": {
                      "type": "integer",
                      "example": 61
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 25
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-12T00:00:00+00:00",
                          "intervalEnd": "2026-03-13T00:00:00+00:00",
                          "totalTransactions": 753,
                          "authorizeTransactions": 16,
                          "captureTransactions": 18,
                          "payTransactions": 717,
                          "refundTransactions": 4,
                          "verifyTransactions": 0,
                          "voidTransactions": -2,
                          "successfulTransactions": 677,
                          "failedTransactions": 62,
                          "declinedTransactions": 7,
                          "pendingTransactions": 7,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-13T00:00:00+00:00",
                          "intervalEnd": "2026-03-14T00:00:00+00:00",
                          "totalTransactions": 411,
                          "authorizeTransactions": 17,
                          "captureTransactions": 26,
                          "payTransactions": 340,
                          "refundTransactions": 8,
                          "verifyTransactions": 6,
                          "voidTransactions": 14,
                          "successfulTransactions": 369,
                          "failedTransactions": 31,
                          "declinedTransactions": 8,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-14T00:00:00+00:00",
                          "intervalEnd": "2026-03-15T00:00:00+00:00",
                          "totalTransactions": 127,
                          "authorizeTransactions": 13,
                          "captureTransactions": 16,
                          "payTransactions": 38,
                          "refundTransactions": 25,
                          "verifyTransactions": 6,
                          "voidTransactions": 29,
                          "successfulTransactions": 114,
                          "failedTransactions": 11,
                          "declinedTransactions": 1,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-15T00:00:00+00:00",
                          "intervalEnd": "2026-03-16T00:00:00+00:00",
                          "totalTransactions": 482,
                          "authorizeTransactions": 55,
                          "captureTransactions": 57,
                          "payTransactions": 313,
                          "refundTransactions": 20,
                          "verifyTransactions": 36,
                          "voidTransactions": 1,
                          "successfulTransactions": 433,
                          "failedTransactions": 23,
                          "declinedTransactions": 22,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-16T00:00:00+00:00",
                          "intervalEnd": "2026-03-17T00:00:00+00:00",
                          "totalTransactions": 767,
                          "authorizeTransactions": 90,
                          "captureTransactions": 91,
                          "payTransactions": 271,
                          "refundTransactions": 275,
                          "verifyTransactions": 29,
                          "voidTransactions": 11,
                          "successfulTransactions": 690,
                          "failedTransactions": 64,
                          "declinedTransactions": 7,
                          "pendingTransactions": 6,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-17T00:00:00+00:00",
                          "intervalEnd": "2026-03-18T00:00:00+00:00",
                          "totalTransactions": 826,
                          "authorizeTransactions": 55,
                          "captureTransactions": 62,
                          "payTransactions": 285,
                          "refundTransactions": 123,
                          "verifyTransactions": 172,
                          "voidTransactions": 129,
                          "successfulTransactions": 743,
                          "failedTransactions": 69,
                          "declinedTransactions": 11,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-18T00:00:00+00:00",
                          "intervalEnd": "2026-03-19T00:00:00+00:00",
                          "totalTransactions": 119,
                          "authorizeTransactions": 13,
                          "captureTransactions": 17,
                          "payTransactions": 20,
                          "refundTransactions": 27,
                          "verifyTransactions": 15,
                          "voidTransactions": 27,
                          "successfulTransactions": 107,
                          "failedTransactions": 6,
                          "declinedTransactions": 5,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-12T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-13T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 753
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 16
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 18
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 717
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 4
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 0
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": -2
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 677
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 62
                          },
                          "declinedTransactions": {
                            "type": "integer",
                            "example": 7
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 7
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-12T00:00:00+00:00",
                    "periodEnd": "2026-03-19T00:00:00+00:00",
                    "totalSettlementAmount": 40696,
                    "totalFeeAmount": 1994.104,
                    "totalNetAmount": 38701.896,
                    "totalTransactionsPending": 143,
                    "totalTransactionsSettled": 1160,
                    "totalTransactionsSettling": 651,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-12T00:00:00+00:00",
                        "intervalEnd": "2026-03-13T00:00:00+00:00",
                        "totalSettlementAmount": 3604.48,
                        "totalFeeAmount": 176.61952,
                        "totalNetAmount": 3427.86048,
                        "totalTransactionsPending": 5,
                        "totalTransactionsSettled": 192,
                        "totalTransactionsSettling": 37
                      },
                      {
                        "intervalStart": "2026-03-13T00:00:00+00:00",
                        "intervalEnd": "2026-03-14T00:00:00+00:00",
                        "totalSettlementAmount": 5311.7,
                        "totalFeeAmount": 260.2733,
                        "totalNetAmount": 5051.4267,
                        "totalTransactionsPending": 6,
                        "totalTransactionsSettled": 207,
                        "totalTransactionsSettling": 70
                      },
                      {
                        "intervalStart": "2026-03-14T00:00:00+00:00",
                        "intervalEnd": "2026-03-15T00:00:00+00:00",
                        "totalSettlementAmount": 5935.56,
                        "totalFeeAmount": 290.84244,
                        "totalNetAmount": 5644.71756,
                        "totalTransactionsPending": 6,
                        "totalTransactionsSettled": 86,
                        "totalTransactionsSettling": 33
                      },
                      {
                        "intervalStart": "2026-03-15T00:00:00+00:00",
                        "intervalEnd": "2026-03-16T00:00:00+00:00",
                        "totalSettlementAmount": 7613.17,
                        "totalFeeAmount": 373.04533,
                        "totalNetAmount": 7240.12467,
                        "totalTransactionsPending": 40,
                        "totalTransactionsSettled": 186,
                        "totalTransactionsSettling": 63
                      },
                      {
                        "intervalStart": "2026-03-16T00:00:00+00:00",
                        "intervalEnd": "2026-03-17T00:00:00+00:00",
                        "totalSettlementAmount": 898.23,
                        "totalFeeAmount": 44.01327,
                        "totalNetAmount": 854.21673,
                        "totalTransactionsPending": 34,
                        "totalTransactionsSettled": 149,
                        "totalTransactionsSettling": 200
                      },
                      {
                        "intervalStart": "2026-03-17T00:00:00+00:00",
                        "intervalEnd": "2026-03-18T00:00:00+00:00",
                        "totalSettlementAmount": 7912.59,
                        "totalFeeAmount": 387.71691,
                        "totalNetAmount": 7524.87309,
                        "totalTransactionsPending": 17,
                        "totalTransactionsSettled": 69,
                        "totalTransactionsSettling": 67
                      },
                      {
                        "intervalStart": "2026-03-18T00:00:00+00:00",
                        "intervalEnd": "2026-03-19T00:00:00+00:00",
                        "totalSettlementAmount": 9420.27,
                        "totalFeeAmount": 461.59323,
                        "totalNetAmount": 8958.67677,
                        "totalTransactionsPending": 35,
                        "totalTransactionsSettled": 271,
                        "totalTransactionsSettling": 181
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-12T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-19T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "integer",
                      "example": 40696
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 1994.104
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 38701.896
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 143
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 1160
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 651
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-12T00:00:00+00:00",
                          "intervalEnd": "2026-03-13T00:00:00+00:00",
                          "totalSettlementAmount": 3604.48,
                          "totalFeeAmount": 176.61952,
                          "totalNetAmount": 3427.86048,
                          "totalTransactionsPending": 5,
                          "totalTransactionsSettled": 192,
                          "totalTransactionsSettling": 37
                        },
                        {
                          "intervalStart": "2026-03-13T00:00:00+00:00",
                          "intervalEnd": "2026-03-14T00:00:00+00:00",
                          "totalSettlementAmount": 5311.7,
                          "totalFeeAmount": 260.2733,
                          "totalNetAmount": 5051.4267,
                          "totalTransactionsPending": 6,
                          "totalTransactionsSettled": 207,
                          "totalTransactionsSettling": 70
                        },
                        {
                          "intervalStart": "2026-03-14T00:00:00+00:00",
                          "intervalEnd": "2026-03-15T00:00:00+00:00",
                          "totalSettlementAmount": 5935.56,
                          "totalFeeAmount": 290.84244,
                          "totalNetAmount": 5644.71756,
                          "totalTransactionsPending": 6,
                          "totalTransactionsSettled": 86,
                          "totalTransactionsSettling": 33
                        },
                        {
                          "intervalStart": "2026-03-15T00:00:00+00:00",
                          "intervalEnd": "2026-03-16T00:00:00+00:00",
                          "totalSettlementAmount": 7613.17,
                          "totalFeeAmount": 373.04533,
                          "totalNetAmount": 7240.12467,
                          "totalTransactionsPending": 40,
                          "totalTransactionsSettled": 186,
                          "totalTransactionsSettling": 63
                        },
                        {
                          "intervalStart": "2026-03-16T00:00:00+00:00",
                          "intervalEnd": "2026-03-17T00:00:00+00:00",
                          "totalSettlementAmount": 898.23,
                          "totalFeeAmount": 44.01327,
                          "totalNetAmount": 854.21673,
                          "totalTransactionsPending": 34,
                          "totalTransactionsSettled": 149,
                          "totalTransactionsSettling": 200
                        },
                        {
                          "intervalStart": "2026-03-17T00:00:00+00:00",
                          "intervalEnd": "2026-03-18T00:00:00+00:00",
                          "totalSettlementAmount": 7912.59,
                          "totalFeeAmount": 387.71691,
                          "totalNetAmount": 7524.87309,
                          "totalTransactionsPending": 17,
                          "totalTransactionsSettled": 69,
                          "totalTransactionsSettling": 67
                        },
                        {
                          "intervalStart": "2026-03-18T00:00:00+00:00",
                          "intervalEnd": "2026-03-19T00:00:00+00:00",
                          "totalSettlementAmount": 9420.27,
                          "totalFeeAmount": 461.59323,
                          "totalNetAmount": 8958.67677,
                          "totalTransactionsPending": 35,
                          "totalTransactionsSettled": 271,
                          "totalTransactionsSettling": 181
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-12T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-13T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 3604.48
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 176.61952
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 3427.86048
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 5
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 192
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 37
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 6,
                    "data": [
                      {
                        "email": "okey.kuhic@hotmail.com",
                        "firstName": "Jett",
                        "lastName": "Hills",
                        "phone": "+15679455780",
                        "dateOfBirth": "2001-02-18"
                      },
                      {
                        "email": "marietta.schaefer@gmail.com",
                        "firstName": "Michale",
                        "lastName": "Gerhold",
                        "phone": "+15419575010",
                        "dateOfBirth": "2000-05-20"
                      },
                      {
                        "email": "yessenia83@damore.com",
                        "firstName": "Isaac",
                        "lastName": "Pagac",
                        "phone": "+12626029638",
                        "dateOfBirth": "1979-07-02"
                      },
                      {
                        "email": "okeefe.marques@schneider.com",
                        "firstName": "Cloyd",
                        "lastName": "Koch",
                        "phone": "+19842822434",
                        "dateOfBirth": "1992-08-03"
                      },
                      {
                        "email": "ruth.kuhn@hotmail.com",
                        "firstName": "Louie",
                        "lastName": "Casper",
                        "phone": "+18644858446",
                        "dateOfBirth": "1987-04-13"
                      },
                      {
                        "email": "marcella28@yahoo.com",
                        "firstName": "Emmet",
                        "lastName": "Williamson",
                        "phone": "+17267059480",
                        "dateOfBirth": "1991-06-10"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 6,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "okey.kuhic@hotmail.com",
                          "firstName": "Jett",
                          "lastName": "Hills",
                          "phone": "+15679455780",
                          "dateOfBirth": "2001-02-18"
                        },
                        {
                          "email": "marietta.schaefer@gmail.com",
                          "firstName": "Michale",
                          "lastName": "Gerhold",
                          "phone": "+15419575010",
                          "dateOfBirth": "2000-05-20"
                        },
                        {
                          "email": "yessenia83@damore.com",
                          "firstName": "Isaac",
                          "lastName": "Pagac",
                          "phone": "+12626029638",
                          "dateOfBirth": "1979-07-02"
                        },
                        {
                          "email": "okeefe.marques@schneider.com",
                          "firstName": "Cloyd",
                          "lastName": "Koch",
                          "phone": "+19842822434",
                          "dateOfBirth": "1992-08-03"
                        },
                        {
                          "email": "ruth.kuhn@hotmail.com",
                          "firstName": "Louie",
                          "lastName": "Casper",
                          "phone": "+18644858446",
                          "dateOfBirth": "1987-04-13"
                        },
                        {
                          "email": "marcella28@yahoo.com",
                          "firstName": "Emmet",
                          "lastName": "Williamson",
                          "phone": "+17267059480",
                          "dateOfBirth": "1991-06-10"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "okey.kuhic@hotmail.com"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Jett"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Hills"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+15679455780"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "2001-02-18"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers/{customerIdOrEmail}/addresses": {
      "get": {
        "summary": "List Customer Billing Addresses",
        "operationId": "listCustomerBillingAddresses",
        "description": "Returns all unique billing addresses that have been used by a customer across their payments.\nAddresses are deduplicated using case-insensitive and whitespace-insensitive comparison.",
        "parameters": [
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
            "example": "-city",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
              "example": "-city",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of unique billing addresses for the customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "company": "Nicolas Ltd",
                        "street": "5464 Milo Stream Suite 838",
                        "city": "Nelsontown",
                        "stateProvince": "CT",
                        "postcodeZip": "56830-0026",
                        "country": "USA"
                      },
                      {
                        "company": "VonRueden, McGlynn and Gulgowski",
                        "street": "235 Effertz Ramp",
                        "city": "Meghanfurt",
                        "stateProvince": "NM",
                        "postcodeZip": "73926",
                        "country": "USA"
                      },
                      {
                        "company": "Emmerich-Powlowski",
                        "street": "7896 Mose Forks",
                        "city": "Dooleyshire",
                        "stateProvince": "HI",
                        "postcodeZip": "56429",
                        "country": "USA"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "company": "Nicolas Ltd",
                          "street": "5464 Milo Stream Suite 838",
                          "city": "Nelsontown",
                          "stateProvince": "CT",
                          "postcodeZip": "56830-0026",
                          "country": "USA"
                        },
                        {
                          "company": "VonRueden, McGlynn and Gulgowski",
                          "street": "235 Effertz Ramp",
                          "city": "Meghanfurt",
                          "stateProvince": "NM",
                          "postcodeZip": "73926",
                          "country": "USA"
                        },
                        {
                          "company": "Emmerich-Powlowski",
                          "street": "7896 Mose Forks",
                          "city": "Dooleyshire",
                          "stateProvince": "HI",
                          "postcodeZip": "56429",
                          "country": "USA"
                        }
                      ],
                      "description": "The data returned from the request",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "company": {
                            "type": "string",
                            "example": "Nicolas Ltd"
                          },
                          "street": {
                            "type": "string",
                            "example": "5464 Milo Stream Suite 838"
                          },
                          "city": {
                            "type": "string",
                            "example": "Nelsontown"
                          },
                          "stateProvince": {
                            "type": "string",
                            "example": "CT"
                          },
                          "postcodeZip": {
                            "type": "string",
                            "example": "56830-0026"
                          },
                          "country": {
                            "type": "string",
                            "example": "USA"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "path",
          "name": "customerIdOrEmail",
          "description": "The customer ID, UUID, or email address",
          "example": "customer_123",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/simulated/terminals": {
      "get": {
        "summary": "Get all available simulated terminals.",
        "operationId": "getAllAvailableSimulatedTerminals",
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of available simulated terminals",
            "content": {
              "application/json": {
                "schema": {
[...]
