{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.59.1"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payout Exports",
      "description": "Create payout exports"
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-24T00:00:00+00:00",
                    "periodEnd": "2026-03-31T00:00:00+00:00",
                    "numPaymentsCreated": 5089,
                    "numPaymentsProcessed": 2031,
                    "numPaymentsIncomplete": 3058,
                    "numPaymentsWithRefunds": 977,
                    "numCardPresentPayments": 775,
                    "numCardNotPresentPayments": 2283,
                    "totalCapturedAmount": 3334004.15,
                    "totalRefundedAmount": 299416.42,
                    "totalNetCapturedAmount": 3034587.73,
                    "averageNetCapturedAmount": 2015.3414285714,
                    "minNetCapturedAmount": 11.97,
                    "maxNetCapturedAmount": 8658.36,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-24T00:00:00+00:00",
                        "intervalEnd": "2026-03-25T00:00:00+00:00",
                        "numPaymentsCreated": 758,
                        "numPaymentsProcessed": 146,
                        "numPaymentsIncomplete": 612,
                        "numPaymentsWithRefunds": 112,
                        "numCardPresentPayments": 80,
                        "numCardNotPresentPayments": 532,
                        "totalCapturedAmount": 407143.7,
                        "totalRefundedAmount": 8378.75,
                        "totalNetCapturedAmount": 398764.95,
                        "averageNetCapturedAmount": 2731.27,
                        "minNetCapturedAmount": 50.75,
                        "maxNetCapturedAmount": 6677.82
                      },
                      {
                        "intervalStart": "2026-03-25T00:00:00+00:00",
                        "intervalEnd": "2026-03-26T00:00:00+00:00",
                        "numPaymentsCreated": 456,
                        "numPaymentsProcessed": 144,
                        "numPaymentsIncomplete": 312,
                        "numPaymentsWithRefunds": 2,
                        "numCardPresentPayments": 72,
                        "numCardNotPresentPayments": 240,
                        "totalCapturedAmount": 590712.55,
                        "totalRefundedAmount": 66926.27,
                        "totalNetCapturedAmount": 523786.28,
                        "averageNetCapturedAmount": 3637.4,
                        "minNetCapturedAmount": 97,
                        "maxNetCapturedAmount": 7903.18
                      },
                      {
                        "intervalStart": "2026-03-26T00:00:00+00:00",
                        "intervalEnd": "2026-03-27T00:00:00+00:00",
                        "numPaymentsCreated": 911,
                        "numPaymentsProcessed": 468,
                        "numPaymentsIncomplete": 443,
                        "numPaymentsWithRefunds": 165,
                        "numCardPresentPayments": 151,
                        "numCardNotPresentPayments": 292,
                        "totalCapturedAmount": 116020.08,
                        "totalRefundedAmount": 24233.85,
                        "totalNetCapturedAmount": 91786.23,
                        "averageNetCapturedAmount": 196.12,
                        "minNetCapturedAmount": 80.92,
                        "maxNetCapturedAmount": 5540.66
                      },
                      {
                        "intervalStart": "2026-03-27T00:00:00+00:00",
                        "intervalEnd": "2026-03-28T00:00:00+00:00",
                        "numPaymentsCreated": 600,
                        "numPaymentsProcessed": 136,
                        "numPaymentsIncomplete": 464,
                        "numPaymentsWithRefunds": 58,
                        "numCardPresentPayments": 1,
                        "numCardNotPresentPayments": 463,
                        "totalCapturedAmount": 177803.07,
                        "totalRefundedAmount": 23841.39,
                        "totalNetCapturedAmount": 153961.68,
                        "averageNetCapturedAmount": 1132.07,
                        "minNetCapturedAmount": 11.99,
                        "maxNetCapturedAmount": 3939.88
                      },
                      {
                        "intervalStart": "2026-03-28T00:00:00+00:00",
                        "intervalEnd": "2026-03-29T00:00:00+00:00",
                        "numPaymentsCreated": 789,
                        "numPaymentsProcessed": 263,
                        "numPaymentsIncomplete": 526,
                        "numPaymentsWithRefunds": 243,
                        "numCardPresentPayments": 208,
                        "numCardNotPresentPayments": 318,
                        "totalCapturedAmount": 826989.9,
                        "totalRefundedAmount": 57627.94,
                        "totalNetCapturedAmount": 769361.96,
                        "averageNetCapturedAmount": 2925.33,
                        "minNetCapturedAmount": 65.65,
                        "maxNetCapturedAmount": 6738.63
                      },
                      {
                        "intervalStart": "2026-03-29T00:00:00+00:00",
                        "intervalEnd": "2026-03-30T00:00:00+00:00",
                        "numPaymentsCreated": 782,
                        "numPaymentsProcessed": 170,
                        "numPaymentsIncomplete": 612,
                        "numPaymentsWithRefunds": 11,
                        "numCardPresentPayments": 70,
                        "numCardNotPresentPayments": 542,
                        "totalCapturedAmount": 523841.72,
                        "totalRefundedAmount": 91947.77,
                        "totalNetCapturedAmount": 431893.95,
                        "averageNetCapturedAmount": 2540.55,
                        "minNetCapturedAmount": 11.97,
                        "maxNetCapturedAmount": 7107.06
                      },
                      {
                        "intervalStart": "2026-03-30T00:00:00+00:00",
                        "intervalEnd": "2026-03-31T00:00:00+00:00",
                        "numPaymentsCreated": 793,
                        "numPaymentsProcessed": 704,
                        "numPaymentsIncomplete": 89,
                        "numPaymentsWithRefunds": 386,
                        "numCardPresentPayments": 193,
                        "numCardNotPresentPayments": -104,
                        "totalCapturedAmount": 691493.13,
                        "totalRefundedAmount": 26460.45,
                        "totalNetCapturedAmount": 665032.68,
                        "averageNetCapturedAmount": 944.65,
                        "minNetCapturedAmount": 52.69,
                        "maxNetCapturedAmount": 8658.36
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-24T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-31T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 5089
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 2031
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 3058
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 977
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 775
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": 2283
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 3334004.15
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 299416.42
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 3034587.73
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 2015.3414285714
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 11.97
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 8658.36
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-24T00:00:00+00:00",
                          "intervalEnd": "2026-03-25T00:00:00+00:00",
                          "numPaymentsCreated": 758,
                          "numPaymentsProcessed": 146,
                          "numPaymentsIncomplete": 612,
                          "numPaymentsWithRefunds": 112,
                          "numCardPresentPayments": 80,
                          "numCardNotPresentPayments": 532,
                          "totalCapturedAmount": 407143.7,
                          "totalRefundedAmount": 8378.75,
                          "totalNetCapturedAmount": 398764.95,
                          "averageNetCapturedAmount": 2731.27,
                          "minNetCapturedAmount": 50.75,
                          "maxNetCapturedAmount": 6677.82
                        },
                        {
                          "intervalStart": "2026-03-25T00:00:00+00:00",
                          "intervalEnd": "2026-03-26T00:00:00+00:00",
                          "numPaymentsCreated": 456,
                          "numPaymentsProcessed": 144,
                          "numPaymentsIncomplete": 312,
                          "numPaymentsWithRefunds": 2,
                          "numCardPresentPayments": 72,
                          "numCardNotPresentPayments": 240,
                          "totalCapturedAmount": 590712.55,
                          "totalRefundedAmount": 66926.27,
                          "totalNetCapturedAmount": 523786.28,
                          "averageNetCapturedAmount": 3637.4,
                          "minNetCapturedAmount": 97,
                          "maxNetCapturedAmount": 7903.18
                        },
                        {
                          "intervalStart": "2026-03-26T00:00:00+00:00",
                          "intervalEnd": "2026-03-27T00:00:00+00:00",
                          "numPaymentsCreated": 911,
                          "numPaymentsProcessed": 468,
                          "numPaymentsIncomplete": 443,
                          "numPaymentsWithRefunds": 165,
                          "numCardPresentPayments": 151,
                          "numCardNotPresentPayments": 292,
                          "totalCapturedAmount": 116020.08,
                          "totalRefundedAmount": 24233.85,
                          "totalNetCapturedAmount": 91786.23,
                          "averageNetCapturedAmount": 196.12,
                          "minNetCapturedAmount": 80.92,
                          "maxNetCapturedAmount": 5540.66
                        },
                        {
                          "intervalStart": "2026-03-27T00:00:00+00:00",
                          "intervalEnd": "2026-03-28T00:00:00+00:00",
                          "numPaymentsCreated": 600,
                          "numPaymentsProcessed": 136,
                          "numPaymentsIncomplete": 464,
                          "numPaymentsWithRefunds": 58,
                          "numCardPresentPayments": 1,
                          "numCardNotPresentPayments": 463,
                          "totalCapturedAmount": 177803.07,
                          "totalRefundedAmount": 23841.39,
                          "totalNetCapturedAmount": 153961.68,
                          "averageNetCapturedAmount": 1132.07,
                          "minNetCapturedAmount": 11.99,
                          "maxNetCapturedAmount": 3939.88
                        },
                        {
                          "intervalStart": "2026-03-28T00:00:00+00:00",
                          "intervalEnd": "2026-03-29T00:00:00+00:00",
                          "numPaymentsCreated": 789,
                          "numPaymentsProcessed": 263,
                          "numPaymentsIncomplete": 526,
                          "numPaymentsWithRefunds": 243,
                          "numCardPresentPayments": 208,
                          "numCardNotPresentPayments": 318,
                          "totalCapturedAmount": 826989.9,
                          "totalRefundedAmount": 57627.94,
                          "totalNetCapturedAmount": 769361.96,
                          "averageNetCapturedAmount": 2925.33,
                          "minNetCapturedAmount": 65.65,
                          "maxNetCapturedAmount": 6738.63
                        },
                        {
                          "intervalStart": "2026-03-29T00:00:00+00:00",
                          "intervalEnd": "2026-03-30T00:00:00+00:00",
                          "numPaymentsCreated": 782,
                          "numPaymentsProcessed": 170,
                          "numPaymentsIncomplete": 612,
                          "numPaymentsWithRefunds": 11,
                          "numCardPresentPayments": 70,
                          "numCardNotPresentPayments": 542,
                          "totalCapturedAmount": 523841.72,
                          "totalRefundedAmount": 91947.77,
                          "totalNetCapturedAmount": 431893.95,
                          "averageNetCapturedAmount": 2540.55,
                          "minNetCapturedAmount": 11.97,
                          "maxNetCapturedAmount": 7107.06
                        },
                        {
                          "intervalStart": "2026-03-30T00:00:00+00:00",
                          "intervalEnd": "2026-03-31T00:00:00+00:00",
                          "numPaymentsCreated": 793,
                          "numPaymentsProcessed": 704,
                          "numPaymentsIncomplete": 89,
                          "numPaymentsWithRefunds": 386,
                          "numCardPresentPayments": 193,
                          "numCardNotPresentPayments": -104,
                          "totalCapturedAmount": 691493.13,
                          "totalRefundedAmount": 26460.45,
                          "totalNetCapturedAmount": 665032.68,
                          "averageNetCapturedAmount": 944.65,
                          "minNetCapturedAmount": 52.69,
                          "maxNetCapturedAmount": 8658.36
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-24T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-25T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 758
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 146
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 612
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 112
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 80
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": 532
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 407143.7
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 8378.75
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 398764.95
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 2731.27
                          },
                          "minNetCapturedAmount": {
                            "type": "number",
                            "example": 50.75
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 6677.82
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-24T00:00:00+00:00",
                    "periodEnd": "2026-03-31T00:00:00+00:00",
                    "activeCustomers": 274,
                    "newCustomers": 127,
                    "returningCustomers": 147,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-24T00:00:00+00:00",
                        "intervalEnd": "2026-03-25T00:00:00+00:00",
                        "activeCustomers": 83,
                        "newCustomers": 32,
                        "returningCustomers": 51
                      },
                      {
                        "intervalStart": "2026-03-25T00:00:00+00:00",
                        "intervalEnd": "2026-03-26T00:00:00+00:00",
                        "activeCustomers": 20,
                        "newCustomers": 6,
                        "returningCustomers": 14
                      },
                      {
                        "intervalStart": "2026-03-26T00:00:00+00:00",
                        "intervalEnd": "2026-03-27T00:00:00+00:00",
                        "activeCustomers": 45,
                        "newCustomers": 8,
                        "returningCustomers": 37
                      },
                      {
                        "intervalStart": "2026-03-27T00:00:00+00:00",
                        "intervalEnd": "2026-03-28T00:00:00+00:00",
                        "activeCustomers": 23,
                        "newCustomers": 12,
                        "returningCustomers": 11
                      },
                      {
                        "intervalStart": "2026-03-28T00:00:00+00:00",
                        "intervalEnd": "2026-03-29T00:00:00+00:00",
                        "activeCustomers": 74,
                        "newCustomers": 36,
                        "returningCustomers": 38
                      },
                      {
                        "intervalStart": "2026-03-29T00:00:00+00:00",
                        "intervalEnd": "2026-03-30T00:00:00+00:00",
                        "activeCustomers": 35,
                        "newCustomers": 6,
                        "returningCustomers": 29
                      },
                      {
                        "intervalStart": "2026-03-30T00:00:00+00:00",
                        "intervalEnd": "2026-03-31T00:00:00+00:00",
                        "activeCustomers": 52,
                        "newCustomers": 27,
                        "returningCustomers": 25
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-24T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-31T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 274
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 127
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": 147
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-24T00:00:00+00:00",
                          "intervalEnd": "2026-03-25T00:00:00+00:00",
                          "activeCustomers": 83,
                          "newCustomers": 32,
                          "returningCustomers": 51
                        },
                        {
                          "intervalStart": "2026-03-25T00:00:00+00:00",
                          "intervalEnd": "2026-03-26T00:00:00+00:00",
                          "activeCustomers": 20,
                          "newCustomers": 6,
                          "returningCustomers": 14
                        },
                        {
                          "intervalStart": "2026-03-26T00:00:00+00:00",
                          "intervalEnd": "2026-03-27T00:00:00+00:00",
                          "activeCustomers": 45,
                          "newCustomers": 8,
                          "returningCustomers": 37
                        },
                        {
                          "intervalStart": "2026-03-27T00:00:00+00:00",
                          "intervalEnd": "2026-03-28T00:00:00+00:00",
                          "activeCustomers": 23,
                          "newCustomers": 12,
                          "returningCustomers": 11
                        },
                        {
                          "intervalStart": "2026-03-28T00:00:00+00:00",
                          "intervalEnd": "2026-03-29T00:00:00+00:00",
                          "activeCustomers": 74,
                          "newCustomers": 36,
                          "returningCustomers": 38
                        },
                        {
                          "intervalStart": "2026-03-29T00:00:00+00:00",
                          "intervalEnd": "2026-03-30T00:00:00+00:00",
                          "activeCustomers": 35,
                          "newCustomers": 6,
                          "returningCustomers": 29
                        },
                        {
                          "intervalStart": "2026-03-30T00:00:00+00:00",
                          "intervalEnd": "2026-03-31T00:00:00+00:00",
                          "activeCustomers": 52,
                          "newCustomers": 27,
                          "returningCustomers": 25
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-24T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-25T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 83
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 32
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 51
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-24T00:00:00+00:00",
                    "periodEnd": "2026-03-31T00:00:00+00:00",
                    "totalTransactions": 4000,
                    "authorizeTransactions": 231,
                    "captureTransactions": 277,
                    "payTransactions": 2119,
                    "refundTransactions": 363,
                    "verifyTransactions": 539,
                    "voidTransactions": 471,
                    "successfulTransactions": 3596,
                    "failedTransactions": 310,
                    "declinedTransactions": 71,
                    "pendingTransactions": 23,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-24T00:00:00+00:00",
                        "intervalEnd": "2026-03-25T00:00:00+00:00",
                        "totalTransactions": 776,
                        "authorizeTransactions": 49,
                        "captureTransactions": 53,
                        "payTransactions": 380,
                        "refundTransactions": 152,
                        "verifyTransactions": 140,
                        "voidTransactions": 2,
                        "successfulTransactions": 698,
                        "failedTransactions": 49,
                        "declinedTransactions": 22,
                        "pendingTransactions": 7,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-25T00:00:00+00:00",
                        "intervalEnd": "2026-03-26T00:00:00+00:00",
                        "totalTransactions": 771,
                        "authorizeTransactions": 36,
                        "captureTransactions": 44,
                        "payTransactions": 586,
                        "refundTransactions": 17,
                        "verifyTransactions": 54,
                        "voidTransactions": 34,
                        "successfulTransactions": 693,
                        "failedTransactions": 46,
                        "declinedTransactions": 26,
                        "pendingTransactions": 6,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-26T00:00:00+00:00",
                        "intervalEnd": "2026-03-27T00:00:00+00:00",
                        "totalTransactions": 188,
                        "authorizeTransactions": 22,
                        "captureTransactions": 26,
                        "payTransactions": 98,
                        "refundTransactions": 10,
                        "verifyTransactions": 19,
                        "voidTransactions": 13,
                        "successfulTransactions": 169,
                        "failedTransactions": 11,
                        "declinedTransactions": 7,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-27T00:00:00+00:00",
                        "intervalEnd": "2026-03-28T00:00:00+00:00",
                        "totalTransactions": 576,
                        "authorizeTransactions": 34,
                        "captureTransactions": 39,
                        "payTransactions": 364,
                        "refundTransactions": 117,
                        "verifyTransactions": 14,
                        "voidTransactions": 8,
                        "successfulTransactions": 518,
                        "failedTransactions": 55,
                        "declinedTransactions": 2,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-28T00:00:00+00:00",
                        "intervalEnd": "2026-03-29T00:00:00+00:00",
                        "totalTransactions": 854,
                        "authorizeTransactions": 36,
                        "captureTransactions": 45,
                        "payTransactions": 163,
                        "refundTransactions": 26,
                        "verifyTransactions": 304,
                        "voidTransactions": 280,
                        "successfulTransactions": 768,
                        "failedTransactions": 73,
                        "declinedTransactions": 9,
                        "pendingTransactions": 4,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-29T00:00:00+00:00",
                        "intervalEnd": "2026-03-30T00:00:00+00:00",
                        "totalTransactions": 374,
                        "authorizeTransactions": 32,
                        "captureTransactions": 40,
                        "payTransactions": 143,
                        "refundTransactions": 17,
                        "verifyTransactions": 5,
                        "voidTransactions": 137,
                        "successfulTransactions": 336,
                        "failedTransactions": 34,
                        "declinedTransactions": 2,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-30T00:00:00+00:00",
                        "intervalEnd": "2026-03-31T00:00:00+00:00",
                        "totalTransactions": 461,
                        "authorizeTransactions": 22,
                        "captureTransactions": 30,
                        "payTransactions": 385,
                        "refundTransactions": 24,
                        "verifyTransactions": 3,
                        "voidTransactions": -3,
                        "successfulTransactions": 414,
                        "failedTransactions": 42,
                        "declinedTransactions": 3,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-24T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-31T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 4000
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 231
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 277
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 2119
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 363
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 539
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 471
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 3596
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 310
                    },
                    "declinedTransactions": {
                      "type": "integer",
                      "example": 71
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 23
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-24T00:00:00+00:00",
                          "intervalEnd": "2026-03-25T00:00:00+00:00",
                          "totalTransactions": 776,
                          "authorizeTransactions": 49,
                          "captureTransactions": 53,
                          "payTransactions": 380,
                          "refundTransactions": 152,
                          "verifyTransactions": 140,
                          "voidTransactions": 2,
                          "successfulTransactions": 698,
                          "failedTransactions": 49,
                          "declinedTransactions": 22,
                          "pendingTransactions": 7,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-25T00:00:00+00:00",
                          "intervalEnd": "2026-03-26T00:00:00+00:00",
                          "totalTransactions": 771,
                          "authorizeTransactions": 36,
                          "captureTransactions": 44,
                          "payTransactions": 586,
                          "refundTransactions": 17,
                          "verifyTransactions": 54,
                          "voidTransactions": 34,
                          "successfulTransactions": 693,
                          "failedTransactions": 46,
                          "declinedTransactions": 26,
                          "pendingTransactions": 6,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-26T00:00:00+00:00",
                          "intervalEnd": "2026-03-27T00:00:00+00:00",
                          "totalTransactions": 188,
                          "authorizeTransactions": 22,
                          "captureTransactions": 26,
                          "payTransactions": 98,
                          "refundTransactions": 10,
                          "verifyTransactions": 19,
                          "voidTransactions": 13,
                          "successfulTransactions": 169,
                          "failedTransactions": 11,
                          "declinedTransactions": 7,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-27T00:00:00+00:00",
                          "intervalEnd": "2026-03-28T00:00:00+00:00",
                          "totalTransactions": 576,
                          "authorizeTransactions": 34,
                          "captureTransactions": 39,
                          "payTransactions": 364,
                          "refundTransactions": 117,
                          "verifyTransactions": 14,
                          "voidTransactions": 8,
                          "successfulTransactions": 518,
                          "failedTransactions": 55,
                          "declinedTransactions": 2,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-28T00:00:00+00:00",
                          "intervalEnd": "2026-03-29T00:00:00+00:00",
                          "totalTransactions": 854,
                          "authorizeTransactions": 36,
                          "captureTransactions": 45,
                          "payTransactions": 163,
                          "refundTransactions": 26,
                          "verifyTransactions": 304,
                          "voidTransactions": 280,
                          "successfulTransactions": 768,
                          "failedTransactions": 73,
                          "declinedTransactions": 9,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-29T00:00:00+00:00",
                          "intervalEnd": "2026-03-30T00:00:00+00:00",
                          "totalTransactions": 374,
                          "authorizeTransactions": 32,
                          "captureTransactions": 40,
                          "payTransactions": 143,
                          "refundTransactions": 17,
                          "verifyTransactions": 5,
                          "voidTransactions": 137,
                          "successfulTransactions": 336,
                          "failedTransactions": 34,
                          "declinedTransactions": 2,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-30T00:00:00+00:00",
                          "intervalEnd": "2026-03-31T00:00:00+00:00",
                          "totalTransactions": 461,
                          "authorizeTransactions": 22,
                          "captureTransactions": 30,
                          "payTransactions": 385,
                          "refundTransactions": 24,
                          "verifyTransactions": 3,
                          "voidTransactions": -3,
                          "successfulTransactions": 414,
                          "failedTransactions": 42,
                          "declinedTransactions": 3,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-24T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-25T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 776
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 49
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 53
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 380
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 152
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 140
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": 2
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 698
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 49
                          },
                          "declinedTransactions": {
                            "type": "integer",
                            "example": 22
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 7
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-24T00:00:00+00:00",
                    "periodEnd": "2026-03-31T00:00:00+00:00",
                    "totalSettlementAmount": 43619.32,
                    "totalFeeAmount": 2137.34668,
                    "totalNetAmount": 41481.97332,
                    "totalTransactionsPending": 126,
                    "totalTransactionsSettled": 1564,
                    "totalTransactionsSettling": 637,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-24T00:00:00+00:00",
                        "intervalEnd": "2026-03-25T00:00:00+00:00",
                        "totalSettlementAmount": 7021.2,
                        "totalFeeAmount": 344.0388,
                        "totalNetAmount": 6677.1612,
                        "totalTransactionsPending": 9,
                        "totalTransactionsSettled": 140,
                        "totalTransactionsSettling": 132
                      },
                      {
                        "intervalStart": "2026-03-25T00:00:00+00:00",
                        "intervalEnd": "2026-03-26T00:00:00+00:00",
                        "totalSettlementAmount": 3947.33,
                        "totalFeeAmount": 193.41917,
                        "totalNetAmount": 3753.91083,
                        "totalTransactionsPending": 8,
                        "totalTransactionsSettled": 300,
                        "totalTransactionsSettling": 15
                      },
                      {
                        "intervalStart": "2026-03-26T00:00:00+00:00",
                        "intervalEnd": "2026-03-27T00:00:00+00:00",
                        "totalSettlementAmount": 5385.82,
                        "totalFeeAmount": 263.90518,
                        "totalNetAmount": 5121.91482,
                        "totalTransactionsPending": 18,
                        "totalTransactionsSettled": 339,
                        "totalTransactionsSettling": 109
                      },
                      {
                        "intervalStart": "2026-03-27T00:00:00+00:00",
                        "intervalEnd": "2026-03-28T00:00:00+00:00",
                        "totalSettlementAmount": 7523.9,
                        "totalFeeAmount": 368.6711,
                        "totalNetAmount": 7155.2289,
                        "totalTransactionsPending": 21,
                        "totalTransactionsSettled": 155,
                        "totalTransactionsSettling": 166
                      },
                      {
                        "intervalStart": "2026-03-28T00:00:00+00:00",
                        "intervalEnd": "2026-03-29T00:00:00+00:00",
                        "totalSettlementAmount": 9438.85,
                        "totalFeeAmount": 462.50365,
                        "totalNetAmount": 8976.34635,
                        "totalTransactionsPending": 40,
                        "totalTransactionsSettled": 205,
                        "totalTransactionsSettling": 21
                      },
                      {
                        "intervalStart": "2026-03-29T00:00:00+00:00",
                        "intervalEnd": "2026-03-30T00:00:00+00:00",
                        "totalSettlementAmount": 1487.53,
                        "totalFeeAmount": 72.88897,
                        "totalNetAmount": 1414.64103,
                        "totalTransactionsPending": 13,
                        "totalTransactionsSettled": 394,
                        "totalTransactionsSettling": 58
                      },
                      {
                        "intervalStart": "2026-03-30T00:00:00+00:00",
                        "intervalEnd": "2026-03-31T00:00:00+00:00",
                        "totalSettlementAmount": 8814.69,
                        "totalFeeAmount": 431.91981,
                        "totalNetAmount": 8382.77019,
                        "totalTransactionsPending": 17,
                        "totalTransactionsSettled": 31,
                        "totalTransactionsSettling": 136
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-24T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-31T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 43619.32
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 2137.34668
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 41481.97332
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 126
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 1564
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 637
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-24T00:00:00+00:00",
                          "intervalEnd": "2026-03-25T00:00:00+00:00",
                          "totalSettlementAmount": 7021.2,
                          "totalFeeAmount": 344.0388,
                          "totalNetAmount": 6677.1612,
                          "totalTransactionsPending": 9,
                          "totalTransactionsSettled": 140,
                          "totalTransactionsSettling": 132
                        },
                        {
                          "intervalStart": "2026-03-25T00:00:00+00:00",
                          "intervalEnd": "2026-03-26T00:00:00+00:00",
                          "totalSettlementAmount": 3947.33,
                          "totalFeeAmount": 193.41917,
                          "totalNetAmount": 3753.91083,
                          "totalTransactionsPending": 8,
                          "totalTransactionsSettled": 300,
                          "totalTransactionsSettling": 15
                        },
                        {
                          "intervalStart": "2026-03-26T00:00:00+00:00",
                          "intervalEnd": "2026-03-27T00:00:00+00:00",
                          "totalSettlementAmount": 5385.82,
                          "totalFeeAmount": 263.90518,
                          "totalNetAmount": 5121.91482,
                          "totalTransactionsPending": 18,
                          "totalTransactionsSettled": 339,
                          "totalTransactionsSettling": 109
                        },
                        {
                          "intervalStart": "2026-03-27T00:00:00+00:00",
                          "intervalEnd": "2026-03-28T00:00:00+00:00",
                          "totalSettlementAmount": 7523.9,
                          "totalFeeAmount": 368.6711,
                          "totalNetAmount": 7155.2289,
                          "totalTransactionsPending": 21,
                          "totalTransactionsSettled": 155,
                          "totalTransactionsSettling": 166
                        },
                        {
                          "intervalStart": "2026-03-28T00:00:00+00:00",
                          "intervalEnd": "2026-03-29T00:00:00+00:00",
                          "totalSettlementAmount": 9438.85,
                          "totalFeeAmount": 462.50365,
                          "totalNetAmount": 8976.34635,
                          "totalTransactionsPending": 40,
                          "totalTransactionsSettled": 205,
                          "totalTransactionsSettling": 21
                        },
                        {
                          "intervalStart": "2026-03-29T00:00:00+00:00",
                          "intervalEnd": "2026-03-30T00:00:00+00:00",
                          "totalSettlementAmount": 1487.53,
                          "totalFeeAmount": 72.88897,
                          "totalNetAmount": 1414.64103,
                          "totalTransactionsPending": 13,
                          "totalTransactionsSettled": 394,
                          "totalTransactionsSettling": 58
                        },
                        {
                          "intervalStart": "2026-03-30T00:00:00+00:00",
                          "intervalEnd": "2026-03-31T00:00:00+00:00",
                          "totalSettlementAmount": 8814.69,
                          "totalFeeAmount": 431.91981,
                          "totalNetAmount": 8382.77019,
                          "totalTransactionsPending": 17,
                          "totalTransactionsSettled": 31,
                          "totalTransactionsSettling": 136
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-24T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-25T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 7021.2
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 344.0388
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 6677.1612
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 9
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 140
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 132
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 5,
                    "data": [
                      {
                        "email": "hollie45@kreiger.info",
                        "firstName": "Una",
                        "lastName": "Sipes",
                        "phone": "+15645395262",
                        "dateOfBirth": "1976-01-14"
                      },
                      {
                        "email": "gheller@hotmail.com",
                        "firstName": "Timothy",
                        "lastName": "Senger",
                        "phone": "+15636615388",
                        "dateOfBirth": "1985-02-16"
                      },
                      {
                        "email": "lgoodwin@damore.info",
                        "firstName": "Gerry",
                        "lastName": "Kessler",
                        "phone": "+18472155642",
                        "dateOfBirth": "2008-03-17"
                      },
                      {
                        "email": "annabel.schiller@gmail.com",
                        "firstName": "Newton",
                        "lastName": "Howe",
                        "phone": "+19895509622",
                        "dateOfBirth": "1980-11-30"
                      },
                      {
                        "email": "leonor99@hotmail.com",
                        "firstName": "Eino",
                        "lastName": "Bernier",
                        "phone": "+16203340109",
                        "dateOfBirth": "1997-04-08"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 5,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "hollie45@kreiger.info",
                          "firstName": "Una",
                          "lastName": "Sipes",
                          "phone": "+15645395262",
                          "dateOfBirth": "1976-01-14"
                        },
                        {
                          "email": "gheller@hotmail.com",
                          "firstName": "Timothy",
                          "lastName": "Senger",
                          "phone": "+15636615388",
                          "dateOfBirth": "1985-02-16"
                        },
                        {
                          "email": "lgoodwin@damore.info",
                          "firstName": "Gerry",
                          "lastName": "Kessler",
                          "phone": "+18472155642",
                          "dateOfBirth": "2008-03-17"
                        },
                        {
                          "email": "annabel.schiller@gmail.com",
                          "firstName": "Newton",
                          "lastName": "Howe",
                          "phone": "+19895509622",
                          "dateOfBirth": "1980-11-30"
                        },
                        {
                          "email": "leonor99@hotmail.com",
                          "firstName": "Eino",
                          "lastName": "Bernier",
                          "phone": "+16203340109",
                          "dateOfBirth": "1997-04-08"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "hollie45@kreiger.info"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Una"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Sipes"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+15645395262"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "1976-01-14"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers/{customerIdOrEmail}/addresses": {
      "get": {
        "summary": "List Customer Billing Addresses",
        "operationId": "listCustomerBillingAddresses",
        "description": "Returns all unique billing addresses that have been used by a customer across their payments.\nAddresses are deduplicated using case-insensitive and whitespace-insensitive comparison.",
        "parameters": [
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
            "example": "-city",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
              "example": "-city",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of unique billing addresses for the customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "company": "Ruecker-Jacobson",
                        "street": "5651 Nitzsche Springs Apt. 652",
                        "city": "Port Marianafurt",
                        "stateProvince": "MN",
                        "postcodeZip": "13262-6964",
                        "country": "USA"
                      },
                      {
                        "company": "Green LLC",
                        "street": "2743 Aubree River Suite 637",
                        "city": "South Elsa",
                        "stateProvince": "AR",
                        "postcodeZip": "23314-7027",
                        "country": "USA"
                      },
                      {
                        "company": "Botsford Ltd",
                        "street": "6525 Waylon Curve",
                        "city": "Rettaville",
                        "stateProvince": "ID",
                        "postcodeZip": "79757-5846",
                        "country": "USA"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "company": "Ruecker-Jacobson",
                          "street": "5651 Nitzsche Springs Apt. 652",
                          "city": "Port Marianafurt",
                          "stateProvince": "MN",
                          "postcodeZip": "13262-6964",
                          "country": "USA"
                        },
                        {
                          "company": "Green LLC",
                          "street": "2743 Aubree River Suite 637",
                          "city": "South Elsa",
                          "stateProvince": "AR",
                          "postcodeZip": "23314-7027",
                          "country": "USA"
                        },
                        {
                          "company": "Botsford Ltd",
                          "street": "6525 Waylon Curve",
                          "city": "Rettaville",
                          "stateProvince": "ID",
                          "postcodeZip": "79757-5846",
                          "country": "USA"
                        }
                      ],
                      "description": "The data returned from the request",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "company": {
                            "type": "string",
                            "example": "Ruecker-Jacobson"
                          },
                          "street": {
                            "type": "string",
                            "example": "5651 Nitzsche Springs Apt. 652"
                          },
                          "city": {
                            "type": "string",
                            "example": "Port Marianafurt"
                          },
                          "stateProvince": {
                            "type": "string",
                            "example": "MN"
                          },
                          "postcodeZip": {
                            "type": "string",
                            "example": "13262-6964"
                          },
                          "country": {
                            "type": "string",
                            "example": "USA"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "path",
          "name": "customerIdOrEmail",
          "description": "The customer ID, UUID, or email address",
          "example": "customer_123",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/simulated/terminals": {
      "get": {
        "summary": "Get all available simulated terminals.",
        "operationId": "getAllAvailableSimulatedTerminals",
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of available simulated terminals",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "title": "Success",
                        "description": "Approves all card present transactions successfully.",
                        "tid": "SUCCESS",
                        "readyForProcessing": true,
                        "provider": "SIMULATED",
                        "type": "CARD_PRESENT"
[...]
