{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.71.1"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payout Exports",
      "description": "Create payout exports"
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-17T00:00:00+00:00",
                    "periodEnd": "2026-04-24T00:00:00+00:00",
                    "numPaymentsCreated": 3886,
                    "numPaymentsProcessed": 2482,
                    "numPaymentsIncomplete": 1404,
                    "numPaymentsWithRefunds": 1063,
                    "numCardPresentPayments": 1202,
                    "numCardNotPresentPayments": 202,
                    "totalCapturedAmount": 3360140.72,
                    "totalRefundedAmount": 371505.99,
                    "totalNetCapturedAmount": 2988634.73,
                    "averageNetCapturedAmount": 3116.1,
                    "minNetCapturedAmount": 16.13,
                    "maxNetCapturedAmount": 9722.33,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-17T00:00:00+00:00",
                        "intervalEnd": "2026-04-18T00:00:00+00:00",
                        "numPaymentsCreated": 358,
                        "numPaymentsProcessed": 242,
                        "numPaymentsIncomplete": 116,
                        "numPaymentsWithRefunds": 183,
                        "numCardPresentPayments": 159,
                        "numCardNotPresentPayments": -43,
                        "totalCapturedAmount": 752545.17,
                        "totalRefundedAmount": 68620.74,
                        "totalNetCapturedAmount": 683924.43,
                        "averageNetCapturedAmount": 2826.13,
                        "minNetCapturedAmount": 92.48,
                        "maxNetCapturedAmount": 9722.33
                      },
                      {
                        "intervalStart": "2026-04-18T00:00:00+00:00",
                        "intervalEnd": "2026-04-19T00:00:00+00:00",
                        "numPaymentsCreated": 967,
                        "numPaymentsProcessed": 600,
                        "numPaymentsIncomplete": 367,
                        "numPaymentsWithRefunds": 511,
                        "numCardPresentPayments": 130,
                        "numCardNotPresentPayments": 237,
                        "totalCapturedAmount": 759951.24,
                        "totalRefundedAmount": 152850.91,
                        "totalNetCapturedAmount": 607100.33,
                        "averageNetCapturedAmount": 1011.83,
                        "minNetCapturedAmount": 16.13,
                        "maxNetCapturedAmount": 7318.13
                      },
                      {
                        "intervalStart": "2026-04-19T00:00:00+00:00",
                        "intervalEnd": "2026-04-20T00:00:00+00:00",
                        "numPaymentsCreated": 990,
                        "numPaymentsProcessed": 781,
                        "numPaymentsIncomplete": 209,
                        "numPaymentsWithRefunds": 20,
                        "numCardPresentPayments": 500,
                        "numCardNotPresentPayments": -291,
                        "totalCapturedAmount": 188455.72,
                        "totalRefundedAmount": 44719.71,
                        "totalNetCapturedAmount": 143736.01,
                        "averageNetCapturedAmount": 184.04,
                        "minNetCapturedAmount": 52.24,
                        "maxNetCapturedAmount": 2836.85
                      },
                      {
                        "intervalStart": "2026-04-20T00:00:00+00:00",
                        "intervalEnd": "2026-04-21T00:00:00+00:00",
                        "numPaymentsCreated": 204,
                        "numPaymentsProcessed": 60,
                        "numPaymentsIncomplete": 144,
                        "numPaymentsWithRefunds": 50,
                        "numCardPresentPayments": 2,
                        "numCardNotPresentPayments": 142,
                        "totalCapturedAmount": 981828.5,
                        "totalRefundedAmount": 22843.93,
                        "totalNetCapturedAmount": 958984.57,
                        "averageNetCapturedAmount": 15983.08,
                        "minNetCapturedAmount": 59.65,
                        "maxNetCapturedAmount": 8078.12
                      },
                      {
                        "intervalStart": "2026-04-21T00:00:00+00:00",
                        "intervalEnd": "2026-04-22T00:00:00+00:00",
                        "numPaymentsCreated": 457,
                        "numPaymentsProcessed": 429,
                        "numPaymentsIncomplete": 28,
                        "numPaymentsWithRefunds": 168,
                        "numCardPresentPayments": 231,
                        "numCardNotPresentPayments": -203,
                        "totalCapturedAmount": 474002.61,
                        "totalRefundedAmount": 77584.1,
                        "totalNetCapturedAmount": 396418.51,
                        "averageNetCapturedAmount": 924.05,
                        "minNetCapturedAmount": 59.74,
                        "maxNetCapturedAmount": 3276.15
                      },
                      {
                        "intervalStart": "2026-04-22T00:00:00+00:00",
                        "intervalEnd": "2026-04-23T00:00:00+00:00",
                        "numPaymentsCreated": 233,
                        "numPaymentsProcessed": 78,
                        "numPaymentsIncomplete": 155,
                        "numPaymentsWithRefunds": 10,
                        "numCardPresentPayments": 77,
                        "numCardNotPresentPayments": 78,
                        "totalCapturedAmount": 21815.98,
                        "totalRefundedAmount": 118.22,
                        "totalNetCapturedAmount": 21697.76,
                        "averageNetCapturedAmount": 278.18,
                        "minNetCapturedAmount": 43.06,
                        "maxNetCapturedAmount": 9038.02
                      },
                      {
                        "intervalStart": "2026-04-23T00:00:00+00:00",
                        "intervalEnd": "2026-04-24T00:00:00+00:00",
                        "numPaymentsCreated": 677,
                        "numPaymentsProcessed": 292,
                        "numPaymentsIncomplete": 385,
                        "numPaymentsWithRefunds": 121,
                        "numCardPresentPayments": 103,
                        "numCardNotPresentPayments": 282,
                        "totalCapturedAmount": 181541.5,
                        "totalRefundedAmount": 4768.38,
                        "totalNetCapturedAmount": 176773.12,
                        "averageNetCapturedAmount": 605.39,
                        "minNetCapturedAmount": 85.57,
                        "maxNetCapturedAmount": 5696.68
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-17T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-24T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 3886
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 2482
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 1404
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 1063
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 1202
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": 202
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 3360140.72
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 371505.99
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 2988634.73
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 3116.1
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 16.13
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 9722.33
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-17T00:00:00+00:00",
                          "intervalEnd": "2026-04-18T00:00:00+00:00",
                          "numPaymentsCreated": 358,
                          "numPaymentsProcessed": 242,
                          "numPaymentsIncomplete": 116,
                          "numPaymentsWithRefunds": 183,
                          "numCardPresentPayments": 159,
                          "numCardNotPresentPayments": -43,
                          "totalCapturedAmount": 752545.17,
                          "totalRefundedAmount": 68620.74,
                          "totalNetCapturedAmount": 683924.43,
                          "averageNetCapturedAmount": 2826.13,
                          "minNetCapturedAmount": 92.48,
                          "maxNetCapturedAmount": 9722.33
                        },
                        {
                          "intervalStart": "2026-04-18T00:00:00+00:00",
                          "intervalEnd": "2026-04-19T00:00:00+00:00",
                          "numPaymentsCreated": 967,
                          "numPaymentsProcessed": 600,
                          "numPaymentsIncomplete": 367,
                          "numPaymentsWithRefunds": 511,
                          "numCardPresentPayments": 130,
                          "numCardNotPresentPayments": 237,
                          "totalCapturedAmount": 759951.24,
                          "totalRefundedAmount": 152850.91,
                          "totalNetCapturedAmount": 607100.33,
                          "averageNetCapturedAmount": 1011.83,
                          "minNetCapturedAmount": 16.13,
                          "maxNetCapturedAmount": 7318.13
                        },
                        {
                          "intervalStart": "2026-04-19T00:00:00+00:00",
                          "intervalEnd": "2026-04-20T00:00:00+00:00",
                          "numPaymentsCreated": 990,
                          "numPaymentsProcessed": 781,
                          "numPaymentsIncomplete": 209,
                          "numPaymentsWithRefunds": 20,
                          "numCardPresentPayments": 500,
                          "numCardNotPresentPayments": -291,
                          "totalCapturedAmount": 188455.72,
                          "totalRefundedAmount": 44719.71,
                          "totalNetCapturedAmount": 143736.01,
                          "averageNetCapturedAmount": 184.04,
                          "minNetCapturedAmount": 52.24,
                          "maxNetCapturedAmount": 2836.85
                        },
                        {
                          "intervalStart": "2026-04-20T00:00:00+00:00",
                          "intervalEnd": "2026-04-21T00:00:00+00:00",
                          "numPaymentsCreated": 204,
                          "numPaymentsProcessed": 60,
                          "numPaymentsIncomplete": 144,
                          "numPaymentsWithRefunds": 50,
                          "numCardPresentPayments": 2,
                          "numCardNotPresentPayments": 142,
                          "totalCapturedAmount": 981828.5,
                          "totalRefundedAmount": 22843.93,
                          "totalNetCapturedAmount": 958984.57,
                          "averageNetCapturedAmount": 15983.08,
                          "minNetCapturedAmount": 59.65,
                          "maxNetCapturedAmount": 8078.12
                        },
                        {
                          "intervalStart": "2026-04-21T00:00:00+00:00",
                          "intervalEnd": "2026-04-22T00:00:00+00:00",
                          "numPaymentsCreated": 457,
                          "numPaymentsProcessed": 429,
                          "numPaymentsIncomplete": 28,
                          "numPaymentsWithRefunds": 168,
                          "numCardPresentPayments": 231,
                          "numCardNotPresentPayments": -203,
                          "totalCapturedAmount": 474002.61,
                          "totalRefundedAmount": 77584.1,
                          "totalNetCapturedAmount": 396418.51,
                          "averageNetCapturedAmount": 924.05,
                          "minNetCapturedAmount": 59.74,
                          "maxNetCapturedAmount": 3276.15
                        },
                        {
                          "intervalStart": "2026-04-22T00:00:00+00:00",
                          "intervalEnd": "2026-04-23T00:00:00+00:00",
                          "numPaymentsCreated": 233,
                          "numPaymentsProcessed": 78,
                          "numPaymentsIncomplete": 155,
                          "numPaymentsWithRefunds": 10,
                          "numCardPresentPayments": 77,
                          "numCardNotPresentPayments": 78,
                          "totalCapturedAmount": 21815.98,
                          "totalRefundedAmount": 118.22,
                          "totalNetCapturedAmount": 21697.76,
                          "averageNetCapturedAmount": 278.18,
                          "minNetCapturedAmount": 43.06,
                          "maxNetCapturedAmount": 9038.02
                        },
                        {
                          "intervalStart": "2026-04-23T00:00:00+00:00",
                          "intervalEnd": "2026-04-24T00:00:00+00:00",
                          "numPaymentsCreated": 677,
                          "numPaymentsProcessed": 292,
                          "numPaymentsIncomplete": 385,
                          "numPaymentsWithRefunds": 121,
                          "numCardPresentPayments": 103,
                          "numCardNotPresentPayments": 282,
                          "totalCapturedAmount": 181541.5,
                          "totalRefundedAmount": 4768.38,
                          "totalNetCapturedAmount": 176773.12,
                          "averageNetCapturedAmount": 605.39,
                          "minNetCapturedAmount": 85.57,
                          "maxNetCapturedAmount": 5696.68
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-17T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-18T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 358
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 242
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 116
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 183
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 159
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": -43
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 752545.17
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 68620.74
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 683924.43
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 2826.13
                          },
                          "minNetCapturedAmount": {
                            "type": "number",
                            "example": 92.48
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 9722.33
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-17T00:00:00+00:00",
                    "periodEnd": "2026-04-24T00:00:00+00:00",
                    "activeCustomers": 226,
                    "newCustomers": 226,
                    "returningCustomers": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-17T00:00:00+00:00",
                        "intervalEnd": "2026-04-18T00:00:00+00:00",
                        "activeCustomers": 83,
                        "newCustomers": 33,
                        "returningCustomers": 50
                      },
                      {
                        "intervalStart": "2026-04-18T00:00:00+00:00",
                        "intervalEnd": "2026-04-19T00:00:00+00:00",
                        "activeCustomers": 66,
                        "newCustomers": 14,
                        "returningCustomers": 52
                      },
                      {
                        "intervalStart": "2026-04-19T00:00:00+00:00",
                        "intervalEnd": "2026-04-20T00:00:00+00:00",
                        "activeCustomers": 67,
                        "newCustomers": 30,
                        "returningCustomers": 37
                      },
                      {
                        "intervalStart": "2026-04-20T00:00:00+00:00",
                        "intervalEnd": "2026-04-21T00:00:00+00:00",
                        "activeCustomers": 100,
                        "newCustomers": 81,
                        "returningCustomers": 19
                      },
                      {
                        "intervalStart": "2026-04-21T00:00:00+00:00",
                        "intervalEnd": "2026-04-22T00:00:00+00:00",
                        "activeCustomers": 10,
                        "newCustomers": 5,
                        "returningCustomers": 5
                      },
                      {
                        "intervalStart": "2026-04-22T00:00:00+00:00",
                        "intervalEnd": "2026-04-23T00:00:00+00:00",
                        "activeCustomers": 70,
                        "newCustomers": 29,
                        "returningCustomers": 41
                      },
                      {
                        "intervalStart": "2026-04-23T00:00:00+00:00",
                        "intervalEnd": "2026-04-24T00:00:00+00:00",
                        "activeCustomers": 66,
                        "newCustomers": 34,
                        "returningCustomers": 32
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-17T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-24T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 226
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 226
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-17T00:00:00+00:00",
                          "intervalEnd": "2026-04-18T00:00:00+00:00",
                          "activeCustomers": 83,
                          "newCustomers": 33,
                          "returningCustomers": 50
                        },
                        {
                          "intervalStart": "2026-04-18T00:00:00+00:00",
                          "intervalEnd": "2026-04-19T00:00:00+00:00",
                          "activeCustomers": 66,
                          "newCustomers": 14,
                          "returningCustomers": 52
                        },
                        {
                          "intervalStart": "2026-04-19T00:00:00+00:00",
                          "intervalEnd": "2026-04-20T00:00:00+00:00",
                          "activeCustomers": 67,
                          "newCustomers": 30,
                          "returningCustomers": 37
                        },
                        {
                          "intervalStart": "2026-04-20T00:00:00+00:00",
                          "intervalEnd": "2026-04-21T00:00:00+00:00",
                          "activeCustomers": 100,
                          "newCustomers": 81,
                          "returningCustomers": 19
                        },
                        {
                          "intervalStart": "2026-04-21T00:00:00+00:00",
                          "intervalEnd": "2026-04-22T00:00:00+00:00",
                          "activeCustomers": 10,
                          "newCustomers": 5,
                          "returningCustomers": 5
                        },
                        {
                          "intervalStart": "2026-04-22T00:00:00+00:00",
                          "intervalEnd": "2026-04-23T00:00:00+00:00",
                          "activeCustomers": 70,
                          "newCustomers": 29,
                          "returningCustomers": 41
                        },
                        {
                          "intervalStart": "2026-04-23T00:00:00+00:00",
                          "intervalEnd": "2026-04-24T00:00:00+00:00",
                          "activeCustomers": 66,
                          "newCustomers": 34,
                          "returningCustomers": 32
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-17T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-18T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 83
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 33
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 50
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-17T00:00:00+00:00",
                    "periodEnd": "2026-04-24T00:00:00+00:00",
                    "totalTransactions": 3855,
                    "authorizeTransactions": 307,
                    "captureTransactions": 345,
                    "payTransactions": 1933,
                    "refundTransactions": 706,
                    "verifyTransactions": 279,
                    "voidTransactions": 285,
                    "successfulTransactions": 3467,
                    "failedTransactions": 263,
                    "declinedTransactions": 107,
                    "pendingTransactions": 18,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-17T00:00:00+00:00",
                        "intervalEnd": "2026-04-18T00:00:00+00:00",
                        "totalTransactions": 960,
                        "authorizeTransactions": 87,
                        "captureTransactions": 92,
                        "payTransactions": 565,
                        "refundTransactions": 92,
                        "verifyTransactions": 79,
                        "voidTransactions": 45,
                        "successfulTransactions": 864,
                        "failedTransactions": 73,
                        "declinedTransactions": 18,
                        "pendingTransactions": 5,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-18T00:00:00+00:00",
                        "intervalEnd": "2026-04-19T00:00:00+00:00",
                        "totalTransactions": 159,
                        "authorizeTransactions": 13,
                        "captureTransactions": 20,
                        "payTransactions": 108,
                        "refundTransactions": 6,
                        "verifyTransactions": 7,
                        "voidTransactions": 5,
                        "successfulTransactions": 143,
                        "failedTransactions": 12,
                        "declinedTransactions": 3,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-19T00:00:00+00:00",
                        "intervalEnd": "2026-04-20T00:00:00+00:00",
                        "totalTransactions": 515,
                        "authorizeTransactions": 41,
                        "captureTransactions": 43,
                        "payTransactions": 292,
                        "refundTransactions": 122,
                        "verifyTransactions": 11,
                        "voidTransactions": 6,
                        "successfulTransactions": 463,
                        "failedTransactions": 41,
                        "declinedTransactions": 9,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-20T00:00:00+00:00",
                        "intervalEnd": "2026-04-21T00:00:00+00:00",
                        "totalTransactions": 842,
                        "authorizeTransactions": 65,
                        "captureTransactions": 66,
                        "payTransactions": 433,
                        "refundTransactions": 140,
                        "verifyTransactions": 62,
                        "voidTransactions": 76,
                        "successfulTransactions": 757,
                        "failedTransactions": 41,
                        "declinedTransactions": 42,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-21T00:00:00+00:00",
                        "intervalEnd": "2026-04-22T00:00:00+00:00",
                        "totalTransactions": 495,
                        "authorizeTransactions": 14,
                        "captureTransactions": 24,
                        "payTransactions": 86,
                        "refundTransactions": 191,
                        "verifyTransactions": 59,
                        "voidTransactions": 121,
                        "successfulTransactions": 445,
                        "failedTransactions": 40,
                        "declinedTransactions": 9,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-22T00:00:00+00:00",
                        "intervalEnd": "2026-04-23T00:00:00+00:00",
                        "totalTransactions": 270,
                        "authorizeTransactions": 15,
                        "captureTransactions": 20,
                        "payTransactions": 93,
                        "refundTransactions": 100,
                        "verifyTransactions": 25,
                        "voidTransactions": 17,
                        "successfulTransactions": 243,
                        "failedTransactions": 25,
                        "declinedTransactions": 1,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-23T00:00:00+00:00",
                        "intervalEnd": "2026-04-24T00:00:00+00:00",
                        "totalTransactions": 614,
                        "authorizeTransactions": 72,
                        "captureTransactions": 80,
                        "payTransactions": 356,
                        "refundTransactions": 55,
                        "verifyTransactions": 36,
                        "voidTransactions": 15,
                        "successfulTransactions": 552,
                        "failedTransactions": 31,
                        "declinedTransactions": 25,
                        "pendingTransactions": 6,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-17T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-24T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 3855
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 307
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 345
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 1933
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 706
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 279
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 285
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 3467
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 263
                    },
                    "declinedTransactions": {
                      "type": "integer",
                      "example": 107
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 18
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-17T00:00:00+00:00",
                          "intervalEnd": "2026-04-18T00:00:00+00:00",
                          "totalTransactions": 960,
                          "authorizeTransactions": 87,
                          "captureTransactions": 92,
                          "payTransactions": 565,
                          "refundTransactions": 92,
                          "verifyTransactions": 79,
                          "voidTransactions": 45,
                          "successfulTransactions": 864,
                          "failedTransactions": 73,
                          "declinedTransactions": 18,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-18T00:00:00+00:00",
                          "intervalEnd": "2026-04-19T00:00:00+00:00",
                          "totalTransactions": 159,
                          "authorizeTransactions": 13,
                          "captureTransactions": 20,
                          "payTransactions": 108,
                          "refundTransactions": 6,
                          "verifyTransactions": 7,
                          "voidTransactions": 5,
                          "successfulTransactions": 143,
                          "failedTransactions": 12,
                          "declinedTransactions": 3,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-19T00:00:00+00:00",
                          "intervalEnd": "2026-04-20T00:00:00+00:00",
                          "totalTransactions": 515,
                          "authorizeTransactions": 41,
                          "captureTransactions": 43,
                          "payTransactions": 292,
                          "refundTransactions": 122,
                          "verifyTransactions": 11,
                          "voidTransactions": 6,
                          "successfulTransactions": 463,
                          "failedTransactions": 41,
                          "declinedTransactions": 9,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-20T00:00:00+00:00",
                          "intervalEnd": "2026-04-21T00:00:00+00:00",
                          "totalTransactions": 842,
                          "authorizeTransactions": 65,
                          "captureTransactions": 66,
                          "payTransactions": 433,
                          "refundTransactions": 140,
                          "verifyTransactions": 62,
                          "voidTransactions": 76,
                          "successfulTransactions": 757,
                          "failedTransactions": 41,
                          "declinedTransactions": 42,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-21T00:00:00+00:00",
                          "intervalEnd": "2026-04-22T00:00:00+00:00",
                          "totalTransactions": 495,
                          "authorizeTransactions": 14,
                          "captureTransactions": 24,
                          "payTransactions": 86,
                          "refundTransactions": 191,
                          "verifyTransactions": 59,
                          "voidTransactions": 121,
                          "successfulTransactions": 445,
                          "failedTransactions": 40,
                          "declinedTransactions": 9,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-22T00:00:00+00:00",
                          "intervalEnd": "2026-04-23T00:00:00+00:00",
                          "totalTransactions": 270,
                          "authorizeTransactions": 15,
                          "captureTransactions": 20,
                          "payTransactions": 93,
                          "refundTransactions": 100,
                          "verifyTransactions": 25,
                          "voidTransactions": 17,
                          "successfulTransactions": 243,
                          "failedTransactions": 25,
                          "declinedTransactions": 1,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-23T00:00:00+00:00",
                          "intervalEnd": "2026-04-24T00:00:00+00:00",
                          "totalTransactions": 614,
                          "authorizeTransactions": 72,
                          "captureTransactions": 80,
                          "payTransactions": 356,
                          "refundTransactions": 55,
                          "verifyTransactions": 36,
                          "voidTransactions": 15,
                          "successfulTransactions": 552,
                          "failedTransactions": 31,
                          "declinedTransactions": 25,
                          "pendingTransactions": 6,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-17T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-18T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 960
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 87
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 92
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 565
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 92
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 79
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": 45
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 864
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 73
                          },
                          "declinedTransactions": {
                            "type": "integer",
                            "example": 18
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 5
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-17T00:00:00+00:00",
                    "periodEnd": "2026-04-24T00:00:00+00:00",
                    "totalSettlementAmount": 38867.95,
                    "totalFeeAmount": 1904.52955,
                    "totalNetAmount": 36963.42045,
                    "totalTransactionsPending": 191,
                    "totalTransactionsSettled": 1275,
                    "totalTransactionsSettling": 639,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-17T00:00:00+00:00",
                        "intervalEnd": "2026-04-18T00:00:00+00:00",
                        "totalSettlementAmount": 6579.75,
                        "totalFeeAmount": 322.40775,
                        "totalNetAmount": 6257.34225,
                        "totalTransactionsPending": 30,
                        "totalTransactionsSettled": 120,
                        "totalTransactionsSettling": 211
                      },
                      {
                        "intervalStart": "2026-04-18T00:00:00+00:00",
                        "intervalEnd": "2026-04-19T00:00:00+00:00",
                        "totalSettlementAmount": 4847.81,
                        "totalFeeAmount": 237.54269,
                        "totalNetAmount": 4610.26731,
                        "totalTransactionsPending": 26,
                        "totalTransactionsSettled": 100,
                        "totalTransactionsSettling": 78
                      },
                      {
                        "intervalStart": "2026-04-19T00:00:00+00:00",
                        "intervalEnd": "2026-04-20T00:00:00+00:00",
                        "totalSettlementAmount": 8744.22,
                        "totalFeeAmount": 428.46678,
                        "totalNetAmount": 8315.75322,
                        "totalTransactionsPending": 28,
                        "totalTransactionsSettled": 90,
                        "totalTransactionsSettling": 21
                      },
                      {
                        "intervalStart": "2026-04-20T00:00:00+00:00",
                        "intervalEnd": "2026-04-21T00:00:00+00:00",
                        "totalSettlementAmount": 6998.62,
                        "totalFeeAmount": 342.93238,
                        "totalNetAmount": 6655.68762,
                        "totalTransactionsPending": 12,
                        "totalTransactionsSettled": 368,
                        "totalTransactionsSettling": 98
                      },
                      {
                        "intervalStart": "2026-04-21T00:00:00+00:00",
                        "intervalEnd": "2026-04-22T00:00:00+00:00",
                        "totalSettlementAmount": 6021.68,
                        "totalFeeAmount": 295.06232,
                        "totalNetAmount": 5726.61768,
                        "totalTransactionsPending": 32,
                        "totalTransactionsSettled": 260,
                        "totalTransactionsSettling": 50
                      },
                      {
                        "intervalStart": "2026-04-22T00:00:00+00:00",
                        "intervalEnd": "2026-04-23T00:00:00+00:00",
                        "totalSettlementAmount": 1860.95,
                        "totalFeeAmount": 91.18655,
                        "totalNetAmount": 1769.76345,
                        "totalTransactionsPending": 25,
                        "totalTransactionsSettled": 230,
                        "totalTransactionsSettling": 170
                      },
                      {
                        "intervalStart": "2026-04-23T00:00:00+00:00",
                        "intervalEnd": "2026-04-24T00:00:00+00:00",
                        "totalSettlementAmount": 3814.92,
                        "totalFeeAmount": 186.93108,
                        "totalNetAmount": 3627.98892,
                        "totalTransactionsPending": 38,
                        "totalTransactionsSettled": 107,
                        "totalTransactionsSettling": 11
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-17T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-24T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 38867.95
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 1904.52955
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 36963.42045
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 191
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 1275
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 639
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-17T00:00:00+00:00",
                          "intervalEnd": "2026-04-18T00:00:00+00:00",
                          "totalSettlementAmount": 6579.75,
                          "totalFeeAmount": 322.40775,
                          "totalNetAmount": 6257.34225,
                          "totalTransactionsPending": 30,
                          "totalTransactionsSettled": 120,
                          "totalTransactionsSettling": 211
                        },
                        {
                          "intervalStart": "2026-04-18T00:00:00+00:00",
                          "intervalEnd": "2026-04-19T00:00:00+00:00",
                          "totalSettlementAmount": 4847.81,
                          "totalFeeAmount": 237.54269,
                          "totalNetAmount": 4610.26731,
                          "totalTransactionsPending": 26,
                          "totalTransactionsSettled": 100,
                          "totalTransactionsSettling": 78
                        },
                        {
                          "intervalStart": "2026-04-19T00:00:00+00:00",
                          "intervalEnd": "2026-04-20T00:00:00+00:00",
                          "totalSettlementAmount": 8744.22,
                          "totalFeeAmount": 428.46678,
                          "totalNetAmount": 8315.75322,
                          "totalTransactionsPending": 28,
                          "totalTransactionsSettled": 90,
                          "totalTransactionsSettling": 21
                        },
                        {
                          "intervalStart": "2026-04-20T00:00:00+00:00",
                          "intervalEnd": "2026-04-21T00:00:00+00:00",
                          "totalSettlementAmount": 6998.62,
                          "totalFeeAmount": 342.93238,
                          "totalNetAmount": 6655.68762,
                          "totalTransactionsPending": 12,
                          "totalTransactionsSettled": 368,
                          "totalTransactionsSettling": 98
                        },
                        {
                          "intervalStart": "2026-04-21T00:00:00+00:00",
                          "intervalEnd": "2026-04-22T00:00:00+00:00",
                          "totalSettlementAmount": 6021.68,
                          "totalFeeAmount": 295.06232,
                          "totalNetAmount": 5726.61768,
                          "totalTransactionsPending": 32,
                          "totalTransactionsSettled": 260,
                          "totalTransactionsSettling": 50
                        },
                        {
                          "intervalStart": "2026-04-22T00:00:00+00:00",
                          "intervalEnd": "2026-04-23T00:00:00+00:00",
                          "totalSettlementAmount": 1860.95,
                          "totalFeeAmount": 91.18655,
                          "totalNetAmount": 1769.76345,
                          "totalTransactionsPending": 25,
                          "totalTransactionsSettled": 230,
                          "totalTransactionsSettling": 170
                        },
                        {
                          "intervalStart": "2026-04-23T00:00:00+00:00",
                          "intervalEnd": "2026-04-24T00:00:00+00:00",
                          "totalSettlementAmount": 3814.92,
                          "totalFeeAmount": 186.93108,
                          "totalNetAmount": 3627.98892,
                          "totalTransactionsPending": 38,
                          "totalTransactionsSettled": 107,
                          "totalTransactionsSettling": 11
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-17T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-18T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 6579.75
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 322.40775
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 6257.34225
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 30
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 120
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 211
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 3,
                    "data": [
                      {
                        "email": "sanford.jamie@yahoo.com",
                        "firstName": "Maxwell",
                        "lastName": "Hegmann",
                        "phone": "+16783757054",
                        "dateOfBirth": "1988-02-20"
                      },
                      {
                        "email": "gcronin@oconner.com",
                        "firstName": "Allison",
                        "lastName": "Smitham",
                        "phone": "+19416946458",
                        "dateOfBirth": "1973-10-02"
                      },
                      {
                        "email": "dhermann@friesen.com",
                        "firstName": "Madge",
                        "lastName": "Glover",
                        "phone": "+16783215157",
                        "dateOfBirth": "2002-04-15"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 3,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "sanford.jamie@yahoo.com",
                          "firstName": "Maxwell",
                          "lastName": "Hegmann",
                          "phone": "+16783757054",
                          "dateOfBirth": "1988-02-20"
                        },
                        {
                          "email": "gcronin@oconner.com",
                          "firstName": "Allison",
                          "lastName": "Smitham",
                          "phone": "+19416946458",
                          "dateOfBirth": "1973-10-02"
                        },
                        {
                          "email": "dhermann@friesen.com",
                          "firstName": "Madge",
                          "lastName": "Glover",
                          "phone": "+16783215157",
                          "dateOfBirth": "2002-04-15"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "sanford.jamie@yahoo.com"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Maxwell"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Hegmann"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+16783757054"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "1988-02-20"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customer/{customerIdOrEmail}": {
      "get": {
        "summary": "Get Customer",
        "operationId": "getCustomer",
        "description": "Returns a single customer by their ID, UUID, or email address.",
        "parameters": [
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date fields. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix) and abbreviations (e.g., MST).",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date fields. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix) and abbreviations (e.g., MST).",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The customer with their addresses and pay tokens",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "email": "smuller@grant.com"
                  },
                  "properties": {
                    "email": {
                      "type": "string",
                      "example": "smuller@grant.com"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "post": {
        "summary": "Update or Create Customer",
        "operationId": "updateOrCreateCustomer",
        "description": "Creates a customer if they do not exist, or updates an existing one.\nSupports setting `defaultPayToken` (by token value) and `defaultAddress` (by address UUID).",
        "parameters": [
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The upserted customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "email": "hgrady@russel.com"
                  },
                  "properties": {
                    "email": {
                      "type": "string",
                      "example": "hgrady@russel.com"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "path",
          "name": "customerIdOrEmail",
          "description": "The customer ID, UUID, or email address",
          "example": "customer_123",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers/{customerIdOrEmail}/addresses": {
      "get": {
        "summary": "List Customer Billing Addresses",
        "operationId": "listCustomerBillingAddresses",
        "description": "Returns all unique billing addresses that have been used by a customer across their payments.\nAddresses are deduplicated using case-insensitive and whitespace-insensitive comparison.",
        "parameters": [
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
            "example": "-city",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
              "example": "-city",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of unique billing addresses for the customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "company": "Nolan Group",
                        "street": "169 Yundt Wells Suite 307",
                        "city": "New Jamison",
                        "stateProvince": "TN",
                        "postcodeZip": "02286-1331",
                        "country": "USA"
                      },
                      {
                        "company": "Casper-Bayer",
                        "street": "1750 Oberbrunner Point",
                        "city": "Beahanfort",
                        "stateProvince": "OK",
                        "postcodeZip": "11104-5940",
                        "country": "USA"
                      },
                      {
                        "company": "VonRueden-Stamm",
                        "street": "61997 Savannah Manor",
                        "city": "East Enaville",
                        "stateProvince": "OR",
                        "postcodeZip": "36464",
                        "country": "USA"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "company": "Nolan Group",
                          "street": "169 Yundt Wells Suite 307",
                          "city": "New Jamison",
                          "stateProvince": "TN",
                          "postcodeZip": "02286-1331",
                          "country": "USA"
                        },
                        {
                          "company": "Casper-Bayer",
                          "street": "1750 Oberbrunner Point",
                          "city": "Beahanfort",
                          "stateProvince": "OK",
                          "postcodeZip": "11104-5940",
                          "country": "USA"
                        },
                        {
                          "company": "VonRueden-Stamm",
                          "street": "61997 Savannah Manor",
                          "city": "East Enaville",
                          "stateProvince": "OR",
                          "postcodeZip": "36464",
                          "country": "USA"
                        }
                      ],
                      "description": "The data returned from the request",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "company": {
                            "type": "string",
                            "example": "Nolan Group"
                          },
                          "street": {
                            "type": "string",
                            "example": "169 Yundt Wells Suite 307"
                          },
                          "city": {
                            "type": "string",
                            "example": "New Jamison"
                          },
                          "stateProvince": {
[...]
