{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.65.1"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payout Exports",
      "description": "Create payout exports"
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-14T00:00:00+00:00",
                    "periodEnd": "2026-04-21T00:00:00+00:00",
                    "numPaymentsCreated": 4843,
                    "numPaymentsProcessed": 2750,
                    "numPaymentsIncomplete": 2093,
                    "numPaymentsWithRefunds": 1239,
                    "numCardPresentPayments": 1786,
                    "numCardNotPresentPayments": 307,
                    "totalCapturedAmount": 2446131.82,
                    "totalRefundedAmount": 453526.43,
                    "totalNetCapturedAmount": 1992605.39,
                    "averageNetCapturedAmount": 859.14,
                    "minNetCapturedAmount": 13.4,
                    "maxNetCapturedAmount": 8442.12,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-14T00:00:00+00:00",
                        "intervalEnd": "2026-04-15T00:00:00+00:00",
                        "numPaymentsCreated": 673,
                        "numPaymentsProcessed": 410,
                        "numPaymentsIncomplete": 263,
                        "numPaymentsWithRefunds": 251,
                        "numCardPresentPayments": 201,
                        "numCardNotPresentPayments": 62,
                        "totalCapturedAmount": 128294.52,
                        "totalRefundedAmount": 33321.59,
                        "totalNetCapturedAmount": 94972.93,
                        "averageNetCapturedAmount": 231.64,
                        "minNetCapturedAmount": 27.68,
                        "maxNetCapturedAmount": 7384.7
                      },
                      {
                        "intervalStart": "2026-04-15T00:00:00+00:00",
                        "intervalEnd": "2026-04-16T00:00:00+00:00",
                        "numPaymentsCreated": 700,
                        "numPaymentsProcessed": 684,
                        "numPaymentsIncomplete": 16,
                        "numPaymentsWithRefunds": 9,
                        "numCardPresentPayments": 622,
                        "numCardNotPresentPayments": -606,
                        "totalCapturedAmount": 973868.57,
                        "totalRefundedAmount": 279131.1,
                        "totalNetCapturedAmount": 694737.47,
                        "averageNetCapturedAmount": 1015.7,
                        "minNetCapturedAmount": 90.93,
                        "maxNetCapturedAmount": 8442.12
                      },
                      {
                        "intervalStart": "2026-04-16T00:00:00+00:00",
                        "intervalEnd": "2026-04-17T00:00:00+00:00",
                        "numPaymentsCreated": 525,
                        "numPaymentsProcessed": 180,
                        "numPaymentsIncomplete": 345,
                        "numPaymentsWithRefunds": 11,
                        "numCardPresentPayments": 162,
                        "numCardNotPresentPayments": 183,
                        "totalCapturedAmount": 171273.29,
                        "totalRefundedAmount": 4329.17,
                        "totalNetCapturedAmount": 166944.12,
                        "averageNetCapturedAmount": 927.47,
                        "minNetCapturedAmount": 27.84,
                        "maxNetCapturedAmount": 4786.95
                      },
                      {
                        "intervalStart": "2026-04-17T00:00:00+00:00",
                        "intervalEnd": "2026-04-18T00:00:00+00:00",
                        "numPaymentsCreated": 971,
                        "numPaymentsProcessed": 571,
                        "numPaymentsIncomplete": 400,
                        "numPaymentsWithRefunds": 208,
                        "numCardPresentPayments": 290,
                        "numCardNotPresentPayments": 110,
                        "totalCapturedAmount": 128837.8,
                        "totalRefundedAmount": 18028.79,
                        "totalNetCapturedAmount": 110809.01,
                        "averageNetCapturedAmount": 194.06,
                        "minNetCapturedAmount": 30.32,
                        "maxNetCapturedAmount": 7817.93
                      },
                      {
                        "intervalStart": "2026-04-18T00:00:00+00:00",
                        "intervalEnd": "2026-04-19T00:00:00+00:00",
                        "numPaymentsCreated": 905,
                        "numPaymentsProcessed": 446,
                        "numPaymentsIncomplete": 459,
                        "numPaymentsWithRefunds": 388,
                        "numCardPresentPayments": 177,
                        "numCardNotPresentPayments": 282,
                        "totalCapturedAmount": 438263.01,
                        "totalRefundedAmount": 27308.34,
                        "totalNetCapturedAmount": 410954.67,
                        "averageNetCapturedAmount": 921.42,
                        "minNetCapturedAmount": 95.13,
                        "maxNetCapturedAmount": 3872.58
                      },
                      {
                        "intervalStart": "2026-04-19T00:00:00+00:00",
                        "intervalEnd": "2026-04-20T00:00:00+00:00",
                        "numPaymentsCreated": 252,
                        "numPaymentsProcessed": 183,
                        "numPaymentsIncomplete": 69,
                        "numPaymentsWithRefunds": 115,
                        "numCardPresentPayments": 132,
                        "numCardNotPresentPayments": -63,
                        "totalCapturedAmount": 551049.81,
                        "totalRefundedAmount": 83610.01,
                        "totalNetCapturedAmount": 467439.8,
                        "averageNetCapturedAmount": 2554.32,
                        "minNetCapturedAmount": 59.77,
                        "maxNetCapturedAmount": 3602.62
                      },
                      {
                        "intervalStart": "2026-04-20T00:00:00+00:00",
                        "intervalEnd": "2026-04-21T00:00:00+00:00",
                        "numPaymentsCreated": 817,
                        "numPaymentsProcessed": 276,
                        "numPaymentsIncomplete": 541,
                        "numPaymentsWithRefunds": 257,
                        "numCardPresentPayments": 202,
                        "numCardNotPresentPayments": 339,
                        "totalCapturedAmount": 54544.82,
                        "totalRefundedAmount": 7797.43,
                        "totalNetCapturedAmount": 46747.39,
                        "averageNetCapturedAmount": 169.37,
                        "minNetCapturedAmount": 13.4,
                        "maxNetCapturedAmount": 4209.57
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-14T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-21T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 4843
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 2750
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 2093
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 1239
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 1786
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": 307
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 2446131.82
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 453526.43
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 1992605.39
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 859.14
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 13.4
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 8442.12
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-14T00:00:00+00:00",
                          "intervalEnd": "2026-04-15T00:00:00+00:00",
                          "numPaymentsCreated": 673,
                          "numPaymentsProcessed": 410,
                          "numPaymentsIncomplete": 263,
                          "numPaymentsWithRefunds": 251,
                          "numCardPresentPayments": 201,
                          "numCardNotPresentPayments": 62,
                          "totalCapturedAmount": 128294.52,
                          "totalRefundedAmount": 33321.59,
                          "totalNetCapturedAmount": 94972.93,
                          "averageNetCapturedAmount": 231.64,
                          "minNetCapturedAmount": 27.68,
                          "maxNetCapturedAmount": 7384.7
                        },
                        {
                          "intervalStart": "2026-04-15T00:00:00+00:00",
                          "intervalEnd": "2026-04-16T00:00:00+00:00",
                          "numPaymentsCreated": 700,
                          "numPaymentsProcessed": 684,
                          "numPaymentsIncomplete": 16,
                          "numPaymentsWithRefunds": 9,
                          "numCardPresentPayments": 622,
                          "numCardNotPresentPayments": -606,
                          "totalCapturedAmount": 973868.57,
                          "totalRefundedAmount": 279131.1,
                          "totalNetCapturedAmount": 694737.47,
                          "averageNetCapturedAmount": 1015.7,
                          "minNetCapturedAmount": 90.93,
                          "maxNetCapturedAmount": 8442.12
                        },
                        {
                          "intervalStart": "2026-04-16T00:00:00+00:00",
                          "intervalEnd": "2026-04-17T00:00:00+00:00",
                          "numPaymentsCreated": 525,
                          "numPaymentsProcessed": 180,
                          "numPaymentsIncomplete": 345,
                          "numPaymentsWithRefunds": 11,
                          "numCardPresentPayments": 162,
                          "numCardNotPresentPayments": 183,
                          "totalCapturedAmount": 171273.29,
                          "totalRefundedAmount": 4329.17,
                          "totalNetCapturedAmount": 166944.12,
                          "averageNetCapturedAmount": 927.47,
                          "minNetCapturedAmount": 27.84,
                          "maxNetCapturedAmount": 4786.95
                        },
                        {
                          "intervalStart": "2026-04-17T00:00:00+00:00",
                          "intervalEnd": "2026-04-18T00:00:00+00:00",
                          "numPaymentsCreated": 971,
                          "numPaymentsProcessed": 571,
                          "numPaymentsIncomplete": 400,
                          "numPaymentsWithRefunds": 208,
                          "numCardPresentPayments": 290,
                          "numCardNotPresentPayments": 110,
                          "totalCapturedAmount": 128837.8,
                          "totalRefundedAmount": 18028.79,
                          "totalNetCapturedAmount": 110809.01,
                          "averageNetCapturedAmount": 194.06,
                          "minNetCapturedAmount": 30.32,
                          "maxNetCapturedAmount": 7817.93
                        },
                        {
                          "intervalStart": "2026-04-18T00:00:00+00:00",
                          "intervalEnd": "2026-04-19T00:00:00+00:00",
                          "numPaymentsCreated": 905,
                          "numPaymentsProcessed": 446,
                          "numPaymentsIncomplete": 459,
                          "numPaymentsWithRefunds": 388,
                          "numCardPresentPayments": 177,
                          "numCardNotPresentPayments": 282,
                          "totalCapturedAmount": 438263.01,
                          "totalRefundedAmount": 27308.34,
                          "totalNetCapturedAmount": 410954.67,
                          "averageNetCapturedAmount": 921.42,
                          "minNetCapturedAmount": 95.13,
                          "maxNetCapturedAmount": 3872.58
                        },
                        {
                          "intervalStart": "2026-04-19T00:00:00+00:00",
                          "intervalEnd": "2026-04-20T00:00:00+00:00",
                          "numPaymentsCreated": 252,
                          "numPaymentsProcessed": 183,
                          "numPaymentsIncomplete": 69,
                          "numPaymentsWithRefunds": 115,
                          "numCardPresentPayments": 132,
                          "numCardNotPresentPayments": -63,
                          "totalCapturedAmount": 551049.81,
                          "totalRefundedAmount": 83610.01,
                          "totalNetCapturedAmount": 467439.8,
                          "averageNetCapturedAmount": 2554.32,
                          "minNetCapturedAmount": 59.77,
                          "maxNetCapturedAmount": 3602.62
                        },
                        {
                          "intervalStart": "2026-04-20T00:00:00+00:00",
                          "intervalEnd": "2026-04-21T00:00:00+00:00",
                          "numPaymentsCreated": 817,
                          "numPaymentsProcessed": 276,
                          "numPaymentsIncomplete": 541,
                          "numPaymentsWithRefunds": 257,
                          "numCardPresentPayments": 202,
                          "numCardNotPresentPayments": 339,
                          "totalCapturedAmount": 54544.82,
                          "totalRefundedAmount": 7797.43,
                          "totalNetCapturedAmount": 46747.39,
                          "averageNetCapturedAmount": 169.37,
                          "minNetCapturedAmount": 13.4,
                          "maxNetCapturedAmount": 4209.57
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-14T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-15T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 673
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 410
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 263
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 251
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 201
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": 62
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 128294.52
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 33321.59
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 94972.93
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 231.64
                          },
                          "minNetCapturedAmount": {
                            "type": "number",
                            "example": 27.68
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 7384.7
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-14T00:00:00+00:00",
                    "periodEnd": "2026-04-21T00:00:00+00:00",
                    "activeCustomers": 204,
                    "newCustomers": 244,
                    "returningCustomers": -40,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-14T00:00:00+00:00",
                        "intervalEnd": "2026-04-15T00:00:00+00:00",
                        "activeCustomers": 52,
                        "newCustomers": 32,
                        "returningCustomers": 20
                      },
                      {
                        "intervalStart": "2026-04-15T00:00:00+00:00",
                        "intervalEnd": "2026-04-16T00:00:00+00:00",
                        "activeCustomers": 40,
                        "newCustomers": 28,
                        "returningCustomers": 12
                      },
                      {
                        "intervalStart": "2026-04-16T00:00:00+00:00",
                        "intervalEnd": "2026-04-17T00:00:00+00:00",
                        "activeCustomers": 44,
                        "newCustomers": 40,
                        "returningCustomers": 4
                      },
                      {
                        "intervalStart": "2026-04-17T00:00:00+00:00",
                        "intervalEnd": "2026-04-18T00:00:00+00:00",
                        "activeCustomers": 51,
                        "newCustomers": 39,
                        "returningCustomers": 12
                      },
                      {
                        "intervalStart": "2026-04-18T00:00:00+00:00",
                        "intervalEnd": "2026-04-19T00:00:00+00:00",
                        "activeCustomers": 74,
                        "newCustomers": 63,
                        "returningCustomers": 11
                      },
                      {
                        "intervalStart": "2026-04-19T00:00:00+00:00",
                        "intervalEnd": "2026-04-20T00:00:00+00:00",
                        "activeCustomers": 37,
                        "newCustomers": 12,
                        "returningCustomers": 25
                      },
                      {
                        "intervalStart": "2026-04-20T00:00:00+00:00",
                        "intervalEnd": "2026-04-21T00:00:00+00:00",
                        "activeCustomers": 41,
                        "newCustomers": 30,
                        "returningCustomers": 11
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-14T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-21T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 204
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 244
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": -40
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-14T00:00:00+00:00",
                          "intervalEnd": "2026-04-15T00:00:00+00:00",
                          "activeCustomers": 52,
                          "newCustomers": 32,
                          "returningCustomers": 20
                        },
                        {
                          "intervalStart": "2026-04-15T00:00:00+00:00",
                          "intervalEnd": "2026-04-16T00:00:00+00:00",
                          "activeCustomers": 40,
                          "newCustomers": 28,
                          "returningCustomers": 12
                        },
                        {
                          "intervalStart": "2026-04-16T00:00:00+00:00",
                          "intervalEnd": "2026-04-17T00:00:00+00:00",
                          "activeCustomers": 44,
                          "newCustomers": 40,
                          "returningCustomers": 4
                        },
                        {
                          "intervalStart": "2026-04-17T00:00:00+00:00",
                          "intervalEnd": "2026-04-18T00:00:00+00:00",
                          "activeCustomers": 51,
                          "newCustomers": 39,
                          "returningCustomers": 12
                        },
                        {
                          "intervalStart": "2026-04-18T00:00:00+00:00",
                          "intervalEnd": "2026-04-19T00:00:00+00:00",
                          "activeCustomers": 74,
                          "newCustomers": 63,
                          "returningCustomers": 11
                        },
                        {
                          "intervalStart": "2026-04-19T00:00:00+00:00",
                          "intervalEnd": "2026-04-20T00:00:00+00:00",
                          "activeCustomers": 37,
                          "newCustomers": 12,
                          "returningCustomers": 25
                        },
                        {
                          "intervalStart": "2026-04-20T00:00:00+00:00",
                          "intervalEnd": "2026-04-21T00:00:00+00:00",
                          "activeCustomers": 41,
                          "newCustomers": 30,
                          "returningCustomers": 11
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-14T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-15T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 52
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 32
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 20
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-14T00:00:00+00:00",
                    "periodEnd": "2026-04-21T00:00:00+00:00",
                    "totalTransactions": 3402,
                    "authorizeTransactions": 134,
                    "captureTransactions": 177,
                    "payTransactions": 1243,
                    "refundTransactions": 446,
                    "verifyTransactions": 1156,
                    "voidTransactions": 246,
                    "successfulTransactions": 3059,
                    "failedTransactions": 252,
                    "declinedTransactions": 74,
                    "pendingTransactions": 17,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-14T00:00:00+00:00",
                        "intervalEnd": "2026-04-15T00:00:00+00:00",
                        "totalTransactions": 123,
                        "authorizeTransactions": 13,
                        "captureTransactions": 14,
                        "payTransactions": 34,
                        "refundTransactions": 48,
                        "verifyTransactions": 8,
                        "voidTransactions": 6,
                        "successfulTransactions": 110,
                        "failedTransactions": 11,
                        "declinedTransactions": 1,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-15T00:00:00+00:00",
                        "intervalEnd": "2026-04-16T00:00:00+00:00",
                        "totalTransactions": 464,
                        "authorizeTransactions": 21,
                        "captureTransactions": 25,
                        "payTransactions": 37,
                        "refundTransactions": 130,
                        "verifyTransactions": 214,
                        "voidTransactions": 37,
                        "successfulTransactions": 417,
                        "failedTransactions": 40,
                        "declinedTransactions": 4,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-16T00:00:00+00:00",
                        "intervalEnd": "2026-04-17T00:00:00+00:00",
                        "totalTransactions": 230,
                        "authorizeTransactions": 10,
                        "captureTransactions": 18,
                        "payTransactions": 86,
                        "refundTransactions": 37,
                        "verifyTransactions": 48,
                        "voidTransactions": 31,
                        "successfulTransactions": 207,
                        "failedTransactions": 19,
                        "declinedTransactions": 2,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-17T00:00:00+00:00",
                        "intervalEnd": "2026-04-18T00:00:00+00:00",
                        "totalTransactions": 217,
                        "authorizeTransactions": 11,
                        "captureTransactions": 19,
                        "payTransactions": 184,
                        "refundTransactions": 5,
                        "verifyTransactions": -1,
                        "voidTransactions": -1,
                        "successfulTransactions": 195,
                        "failedTransactions": 16,
                        "declinedTransactions": 4,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-18T00:00:00+00:00",
                        "intervalEnd": "2026-04-19T00:00:00+00:00",
                        "totalTransactions": 405,
                        "authorizeTransactions": 22,
                        "captureTransactions": 27,
                        "payTransactions": 265,
                        "refundTransactions": 15,
                        "verifyTransactions": 59,
                        "voidTransactions": 17,
                        "successfulTransactions": 364,
                        "failedTransactions": 31,
                        "declinedTransactions": 9,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-19T00:00:00+00:00",
                        "intervalEnd": "2026-04-20T00:00:00+00:00",
                        "totalTransactions": 994,
                        "authorizeTransactions": 40,
                        "captureTransactions": 48,
                        "payTransactions": 314,
                        "refundTransactions": 164,
                        "verifyTransactions": 385,
                        "voidTransactions": 43,
                        "successfulTransactions": 894,
                        "failedTransactions": 88,
                        "declinedTransactions": 6,
                        "pendingTransactions": 6,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-20T00:00:00+00:00",
                        "intervalEnd": "2026-04-21T00:00:00+00:00",
                        "totalTransactions": 969,
                        "authorizeTransactions": 17,
                        "captureTransactions": 26,
                        "payTransactions": 323,
                        "refundTransactions": 47,
                        "verifyTransactions": 443,
                        "voidTransactions": 113,
                        "successfulTransactions": 872,
                        "failedTransactions": 47,
                        "declinedTransactions": 48,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-14T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-21T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 3402
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 134
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 177
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 1243
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 446
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 1156
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 246
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 3059
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 252
                    },
                    "declinedTransactions": {
                      "type": "integer",
                      "example": 74
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 17
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-14T00:00:00+00:00",
                          "intervalEnd": "2026-04-15T00:00:00+00:00",
                          "totalTransactions": 123,
                          "authorizeTransactions": 13,
                          "captureTransactions": 14,
                          "payTransactions": 34,
                          "refundTransactions": 48,
                          "verifyTransactions": 8,
                          "voidTransactions": 6,
                          "successfulTransactions": 110,
                          "failedTransactions": 11,
                          "declinedTransactions": 1,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-15T00:00:00+00:00",
                          "intervalEnd": "2026-04-16T00:00:00+00:00",
                          "totalTransactions": 464,
                          "authorizeTransactions": 21,
                          "captureTransactions": 25,
                          "payTransactions": 37,
                          "refundTransactions": 130,
                          "verifyTransactions": 214,
                          "voidTransactions": 37,
                          "successfulTransactions": 417,
                          "failedTransactions": 40,
                          "declinedTransactions": 4,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-16T00:00:00+00:00",
                          "intervalEnd": "2026-04-17T00:00:00+00:00",
                          "totalTransactions": 230,
                          "authorizeTransactions": 10,
                          "captureTransactions": 18,
                          "payTransactions": 86,
                          "refundTransactions": 37,
                          "verifyTransactions": 48,
                          "voidTransactions": 31,
                          "successfulTransactions": 207,
                          "failedTransactions": 19,
                          "declinedTransactions": 2,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-17T00:00:00+00:00",
                          "intervalEnd": "2026-04-18T00:00:00+00:00",
                          "totalTransactions": 217,
                          "authorizeTransactions": 11,
                          "captureTransactions": 19,
                          "payTransactions": 184,
                          "refundTransactions": 5,
                          "verifyTransactions": -1,
                          "voidTransactions": -1,
                          "successfulTransactions": 195,
                          "failedTransactions": 16,
                          "declinedTransactions": 4,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-18T00:00:00+00:00",
                          "intervalEnd": "2026-04-19T00:00:00+00:00",
                          "totalTransactions": 405,
                          "authorizeTransactions": 22,
                          "captureTransactions": 27,
                          "payTransactions": 265,
                          "refundTransactions": 15,
                          "verifyTransactions": 59,
                          "voidTransactions": 17,
                          "successfulTransactions": 364,
                          "failedTransactions": 31,
                          "declinedTransactions": 9,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-19T00:00:00+00:00",
                          "intervalEnd": "2026-04-20T00:00:00+00:00",
                          "totalTransactions": 994,
                          "authorizeTransactions": 40,
                          "captureTransactions": 48,
                          "payTransactions": 314,
                          "refundTransactions": 164,
                          "verifyTransactions": 385,
                          "voidTransactions": 43,
                          "successfulTransactions": 894,
                          "failedTransactions": 88,
                          "declinedTransactions": 6,
                          "pendingTransactions": 6,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-20T00:00:00+00:00",
                          "intervalEnd": "2026-04-21T00:00:00+00:00",
                          "totalTransactions": 969,
                          "authorizeTransactions": 17,
                          "captureTransactions": 26,
                          "payTransactions": 323,
                          "refundTransactions": 47,
                          "verifyTransactions": 443,
                          "voidTransactions": 113,
                          "successfulTransactions": 872,
                          "failedTransactions": 47,
                          "declinedTransactions": 48,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-14T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-15T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 123
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 13
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 14
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 34
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 48
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 8
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": 6
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 110
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 11
                          },
                          "declinedTransactions": {
                            "type": "integer",
                            "example": 1
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 1
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-14T00:00:00+00:00",
                    "periodEnd": "2026-04-21T00:00:00+00:00",
                    "totalSettlementAmount": 23761.55,
                    "totalFeeAmount": 1164.31595,
                    "totalNetAmount": 22597.23405,
                    "totalTransactionsPending": 123,
                    "totalTransactionsSettled": 1031,
                    "totalTransactionsSettling": 624,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-14T00:00:00+00:00",
                        "intervalEnd": "2026-04-15T00:00:00+00:00",
                        "totalSettlementAmount": 6076.53,
                        "totalFeeAmount": 297.74997,
                        "totalNetAmount": 5778.78003,
                        "totalTransactionsPending": 29,
                        "totalTransactionsSettled": 23,
                        "totalTransactionsSettling": 60
                      },
                      {
                        "intervalStart": "2026-04-15T00:00:00+00:00",
                        "intervalEnd": "2026-04-16T00:00:00+00:00",
                        "totalSettlementAmount": 563.67,
                        "totalFeeAmount": 27.61983,
                        "totalNetAmount": 536.05017,
                        "totalTransactionsPending": 18,
                        "totalTransactionsSettled": 67,
                        "totalTransactionsSettling": 115
                      },
                      {
                        "intervalStart": "2026-04-16T00:00:00+00:00",
                        "intervalEnd": "2026-04-17T00:00:00+00:00",
                        "totalSettlementAmount": 9808.61,
                        "totalFeeAmount": 480.62189,
                        "totalNetAmount": 9327.98811,
                        "totalTransactionsPending": 23,
                        "totalTransactionsSettled": 84,
                        "totalTransactionsSettling": 271
                      },
                      {
                        "intervalStart": "2026-04-17T00:00:00+00:00",
                        "intervalEnd": "2026-04-18T00:00:00+00:00",
                        "totalSettlementAmount": 1288.22,
                        "totalFeeAmount": 63.12278,
                        "totalNetAmount": 1225.09722,
                        "totalTransactionsPending": 31,
                        "totalTransactionsSettled": 46,
                        "totalTransactionsSettling": 35
                      },
                      {
                        "intervalStart": "2026-04-18T00:00:00+00:00",
                        "intervalEnd": "2026-04-19T00:00:00+00:00",
                        "totalSettlementAmount": 980.19,
                        "totalFeeAmount": 48.02931,
                        "totalNetAmount": 932.16069,
                        "totalTransactionsPending": 7,
                        "totalTransactionsSettled": 110,
                        "totalTransactionsSettling": 34
                      },
                      {
                        "intervalStart": "2026-04-19T00:00:00+00:00",
                        "intervalEnd": "2026-04-20T00:00:00+00:00",
                        "totalSettlementAmount": 868.43,
                        "totalFeeAmount": 42.55307,
                        "totalNetAmount": 825.87693,
                        "totalTransactionsPending": 8,
                        "totalTransactionsSettled": 364,
                        "totalTransactionsSettling": 55
                      },
                      {
                        "intervalStart": "2026-04-20T00:00:00+00:00",
                        "intervalEnd": "2026-04-21T00:00:00+00:00",
                        "totalSettlementAmount": 4175.9,
                        "totalFeeAmount": 204.6191,
                        "totalNetAmount": 3971.2809,
                        "totalTransactionsPending": 7,
                        "totalTransactionsSettled": 337,
                        "totalTransactionsSettling": 54
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-14T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-21T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 23761.55
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 1164.31595
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 22597.23405
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 123
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 1031
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 624
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-14T00:00:00+00:00",
                          "intervalEnd": "2026-04-15T00:00:00+00:00",
                          "totalSettlementAmount": 6076.53,
                          "totalFeeAmount": 297.74997,
                          "totalNetAmount": 5778.78003,
                          "totalTransactionsPending": 29,
                          "totalTransactionsSettled": 23,
                          "totalTransactionsSettling": 60
                        },
                        {
                          "intervalStart": "2026-04-15T00:00:00+00:00",
                          "intervalEnd": "2026-04-16T00:00:00+00:00",
                          "totalSettlementAmount": 563.67,
                          "totalFeeAmount": 27.61983,
                          "totalNetAmount": 536.05017,
                          "totalTransactionsPending": 18,
                          "totalTransactionsSettled": 67,
                          "totalTransactionsSettling": 115
                        },
                        {
                          "intervalStart": "2026-04-16T00:00:00+00:00",
                          "intervalEnd": "2026-04-17T00:00:00+00:00",
                          "totalSettlementAmount": 9808.61,
                          "totalFeeAmount": 480.62189,
                          "totalNetAmount": 9327.98811,
                          "totalTransactionsPending": 23,
                          "totalTransactionsSettled": 84,
                          "totalTransactionsSettling": 271
                        },
                        {
                          "intervalStart": "2026-04-17T00:00:00+00:00",
                          "intervalEnd": "2026-04-18T00:00:00+00:00",
                          "totalSettlementAmount": 1288.22,
                          "totalFeeAmount": 63.12278,
                          "totalNetAmount": 1225.09722,
                          "totalTransactionsPending": 31,
                          "totalTransactionsSettled": 46,
                          "totalTransactionsSettling": 35
                        },
                        {
                          "intervalStart": "2026-04-18T00:00:00+00:00",
                          "intervalEnd": "2026-04-19T00:00:00+00:00",
                          "totalSettlementAmount": 980.19,
                          "totalFeeAmount": 48.02931,
                          "totalNetAmount": 932.16069,
                          "totalTransactionsPending": 7,
                          "totalTransactionsSettled": 110,
                          "totalTransactionsSettling": 34
                        },
                        {
                          "intervalStart": "2026-04-19T00:00:00+00:00",
                          "intervalEnd": "2026-04-20T00:00:00+00:00",
                          "totalSettlementAmount": 868.43,
                          "totalFeeAmount": 42.55307,
                          "totalNetAmount": 825.87693,
                          "totalTransactionsPending": 8,
                          "totalTransactionsSettled": 364,
                          "totalTransactionsSettling": 55
                        },
                        {
                          "intervalStart": "2026-04-20T00:00:00+00:00",
                          "intervalEnd": "2026-04-21T00:00:00+00:00",
                          "totalSettlementAmount": 4175.9,
                          "totalFeeAmount": 204.6191,
                          "totalNetAmount": 3971.2809,
                          "totalTransactionsPending": 7,
                          "totalTransactionsSettled": 337,
                          "totalTransactionsSettling": 54
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-14T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-15T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 6076.53
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 297.74997
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 5778.78003
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 29
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 23
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 60
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 3,
                    "data": [
                      {
                        "email": "ybauch@gmail.com",
                        "firstName": "Edna",
                        "lastName": "Prosacco",
                        "phone": "+17147369295",
                        "dateOfBirth": "2005-08-15"
                      },
                      {
                        "email": "fdaugherty@bogan.com",
                        "firstName": "Wendell",
                        "lastName": "Mayer",
                        "phone": "+13864689362",
                        "dateOfBirth": "1997-01-27"
                      },
                      {
                        "email": "schowalter.cordia@predovic.biz",
                        "firstName": "Maida",
                        "lastName": "McCullough",
                        "phone": "+16817820206",
                        "dateOfBirth": "1976-06-28"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 3,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "ybauch@gmail.com",
                          "firstName": "Edna",
                          "lastName": "Prosacco",
                          "phone": "+17147369295",
                          "dateOfBirth": "2005-08-15"
                        },
                        {
                          "email": "fdaugherty@bogan.com",
                          "firstName": "Wendell",
                          "lastName": "Mayer",
                          "phone": "+13864689362",
                          "dateOfBirth": "1997-01-27"
                        },
                        {
                          "email": "schowalter.cordia@predovic.biz",
                          "firstName": "Maida",
                          "lastName": "McCullough",
                          "phone": "+16817820206",
                          "dateOfBirth": "1976-06-28"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "ybauch@gmail.com"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Edna"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Prosacco"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+17147369295"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "2005-08-15"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers/{customerIdOrEmail}/addresses": {
      "get": {
        "summary": "List Customer Billing Addresses",
        "operationId": "listCustomerBillingAddresses",
        "description": "Returns all unique billing addresses that have been used by a customer across their payments.\nAddresses are deduplicated using case-insensitive and whitespace-insensitive comparison.",
        "parameters": [
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
            "example": "-city",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
              "example": "-city",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of unique billing addresses for the customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "company": "Streich, Parisian and Buckridge",
                        "street": "468 Margie Ranch",
                        "city": "Port Sadiemouth",
                        "stateProvince": "CT",
                        "postcodeZip": "74176-8580",
                        "country": "USA"
                      },
                      {
                        "company": "Buckridge, Wolff and Schuppe",
                        "street": "199 Opal Village Suite 318",
                        "city": "Jerdefurt",
                        "stateProvince": "ND",
                        "postcodeZip": "20331",
                        "country": "USA"
                      },
                      {
                        "company": "Cruickshank-Koss",
                        "street": "5584 Isabell Way",
                        "city": "North Rozellatown",
                        "stateProvince": "LA",
                        "postcodeZip": "07729-8410",
                        "country": "USA"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "company": "Streich, Parisian and Buckridge",
                          "street": "468 Margie Ranch",
                          "city": "Port Sadiemouth",
                          "stateProvince": "CT",
                          "postcodeZip": "74176-8580",
                          "country": "USA"
                        },
                        {
                          "company": "Buckridge, Wolff and Schuppe",
                          "street": "199 Opal Village Suite 318",
                          "city": "Jerdefurt",
                          "stateProvince": "ND",
                          "postcodeZip": "20331",
                          "country": "USA"
                        },
                        {
                          "company": "Cruickshank-Koss",
                          "street": "5584 Isabell Way",
                          "city": "North Rozellatown",
                          "stateProvince": "LA",
                          "postcodeZip": "07729-8410",
                          "country": "USA"
                        }
                      ],
                      "description": "The data returned from the request",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "company": {
                            "type": "string",
                            "example": "Streich, Parisian and Buckridge"
                          },
                          "street": {
                            "type": "string",
                            "example": "468 Margie Ranch"
                          },
                          "city": {
                            "type": "string",
                            "example": "Port Sadiemouth"
                          },
                          "stateProvince": {
                            "type": "string",
                            "example": "CT"
                          },
                          "postcodeZip": {
                            "type": "string",
                            "example": "74176-8580"
                          },
                          "country": {
                            "type": "string",
                            "example": "USA"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "path",
          "name": "customerIdOrEmail",
          "description": "The customer ID, UUID, or email address",
          "example": "customer_123",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/simulated/terminals": {
      "get": {
        "summary": "Get all available simulated terminals.",
        "operationId": "getAllAvailableSimulatedTerminals",
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of available simulated terminals",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "title": "Success",
                        "description": "Approves all card present transactions successfully.",
                        "tid": "SUCCESS",
                        "readyForProcessing": true,
                        "provider": "SIMULATED",
                        "type": "CARD_PRESENT"
                      },
                      {
                        "title": "Transaction Declined",
                        "description": "Simulates a declined transaction.",
                        "tid": "TRANSACTION_DECLINED",
                        "readyForProcessing": true,
                        "provider": "SIMULATED",
                        "type": "CARD_PRESENT"
                      },
                      {
                        "title": "Card Present Timeout",
                        "description": "Simulates a card present timeout.",
                        "tid": "CARD_PRESENT_TIMEOUT",
                        "readyForProcessing": true,
                        "provider": "SIMULATED",
                        "type": "CARD_PRESENT"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
[...]
