{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.44.0"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-02-19T00:00:00+00:00",
                    "periodEnd": "2026-02-26T00:00:00+00:00",
                    "numPaymentsCreated": 3573,
                    "numPaymentsProcessed": 2032,
                    "numPaymentsIncomplete": 1541,
                    "numPaymentsWithRefunds": 1013,
                    "numCardPresentPayments": 1075,
                    "numCardNotPresentPayments": 466,
                    "totalCapturedAmount": 3495015.06,
                    "totalRefundedAmount": 450501.44,
                    "totalNetCapturedAmount": 3044513.62,
                    "averageNetCapturedAmount": 1861.7614285714,
                    "minNetCapturedAmount": 27.86,
                    "maxNetCapturedAmount": 9687.4,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-02-19T00:00:00+00:00",
                        "intervalEnd": "2026-02-20T00:00:00+00:00",
                        "numPaymentsCreated": 557,
                        "numPaymentsProcessed": 327,
                        "numPaymentsIncomplete": 230,
                        "numPaymentsWithRefunds": 279,
                        "numCardPresentPayments": 293,
                        "numCardNotPresentPayments": -63,
                        "totalCapturedAmount": 886483.19,
                        "totalRefundedAmount": 34205.01,
                        "totalNetCapturedAmount": 852278.18,
                        "averageNetCapturedAmount": 2606.36,
                        "minNetCapturedAmount": 58.48,
                        "maxNetCapturedAmount": 7829.64
                      },
                      {
                        "intervalStart": "2026-02-20T00:00:00+00:00",
                        "intervalEnd": "2026-02-21T00:00:00+00:00",
                        "numPaymentsCreated": 393,
                        "numPaymentsProcessed": 168,
                        "numPaymentsIncomplete": 225,
                        "numPaymentsWithRefunds": 120,
                        "numCardPresentPayments": 76,
                        "numCardNotPresentPayments": 149,
                        "totalCapturedAmount": 624296.43,
                        "totalRefundedAmount": 134214.66,
                        "totalNetCapturedAmount": 490081.77,
                        "averageNetCapturedAmount": 2917.15,
                        "minNetCapturedAmount": 29.74,
                        "maxNetCapturedAmount": 5677.97
                      },
                      {
                        "intervalStart": "2026-02-21T00:00:00+00:00",
                        "intervalEnd": "2026-02-22T00:00:00+00:00",
                        "numPaymentsCreated": 814,
                        "numPaymentsProcessed": 600,
                        "numPaymentsIncomplete": 214,
                        "numPaymentsWithRefunds": 269,
                        "numCardPresentPayments": 112,
                        "numCardNotPresentPayments": 102,
                        "totalCapturedAmount": 256301.87,
                        "totalRefundedAmount": 22902.36,
                        "totalNetCapturedAmount": 233399.51,
                        "averageNetCapturedAmount": 389,
                        "minNetCapturedAmount": 68.26,
                        "maxNetCapturedAmount": 9687.4
                      },
                      {
                        "intervalStart": "2026-02-22T00:00:00+00:00",
                        "intervalEnd": "2026-02-23T00:00:00+00:00",
                        "numPaymentsCreated": 728,
                        "numPaymentsProcessed": 371,
                        "numPaymentsIncomplete": 357,
                        "numPaymentsWithRefunds": 24,
                        "numCardPresentPayments": 272,
                        "numCardNotPresentPayments": 85,
                        "totalCapturedAmount": 773320.09,
                        "totalRefundedAmount": 207002.73,
                        "totalNetCapturedAmount": 566317.36,
                        "averageNetCapturedAmount": 1526.46,
                        "minNetCapturedAmount": 54.81,
                        "maxNetCapturedAmount": 8781.47
                      },
                      {
                        "intervalStart": "2026-02-23T00:00:00+00:00",
                        "intervalEnd": "2026-02-24T00:00:00+00:00",
                        "numPaymentsCreated": 205,
                        "numPaymentsProcessed": 154,
                        "numPaymentsIncomplete": 51,
                        "numPaymentsWithRefunds": 143,
                        "numCardPresentPayments": 96,
                        "numCardNotPresentPayments": -45,
                        "totalCapturedAmount": 674237.92,
                        "totalRefundedAmount": 39006.03,
                        "totalNetCapturedAmount": 635231.89,
                        "averageNetCapturedAmount": 4124.88,
                        "minNetCapturedAmount": 43.83,
                        "maxNetCapturedAmount": 1850.03
                      },
                      {
                        "intervalStart": "2026-02-24T00:00:00+00:00",
                        "intervalEnd": "2026-02-25T00:00:00+00:00",
                        "numPaymentsCreated": 497,
                        "numPaymentsProcessed": 287,
                        "numPaymentsIncomplete": 210,
                        "numPaymentsWithRefunds": 54,
                        "numCardPresentPayments": 117,
                        "numCardNotPresentPayments": 93,
                        "totalCapturedAmount": 151292.11,
                        "totalRefundedAmount": 3107.56,
                        "totalNetCapturedAmount": 148184.55,
                        "averageNetCapturedAmount": 516.32,
                        "minNetCapturedAmount": 39.47,
                        "maxNetCapturedAmount": 3896.27
                      },
                      {
                        "intervalStart": "2026-02-25T00:00:00+00:00",
                        "intervalEnd": "2026-02-26T00:00:00+00:00",
                        "numPaymentsCreated": 379,
                        "numPaymentsProcessed": 125,
                        "numPaymentsIncomplete": 254,
                        "numPaymentsWithRefunds": 124,
                        "numCardPresentPayments": 109,
                        "numCardNotPresentPayments": 145,
                        "totalCapturedAmount": 129083.45,
                        "totalRefundedAmount": 10063.09,
                        "totalNetCapturedAmount": 119020.36,
                        "averageNetCapturedAmount": 952.16,
                        "minNetCapturedAmount": 27.86,
                        "maxNetCapturedAmount": 7833.67
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-02-19T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-02-26T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 3573
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 2032
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 1541
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 1013
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 1075
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": 466
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 3495015.06
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 450501.44
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 3044513.62
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 1861.7614285714
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 27.86
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 9687.4
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-02-19T00:00:00+00:00",
                          "intervalEnd": "2026-02-20T00:00:00+00:00",
                          "numPaymentsCreated": 557,
                          "numPaymentsProcessed": 327,
                          "numPaymentsIncomplete": 230,
                          "numPaymentsWithRefunds": 279,
                          "numCardPresentPayments": 293,
                          "numCardNotPresentPayments": -63,
                          "totalCapturedAmount": 886483.19,
                          "totalRefundedAmount": 34205.01,
                          "totalNetCapturedAmount": 852278.18,
                          "averageNetCapturedAmount": 2606.36,
                          "minNetCapturedAmount": 58.48,
                          "maxNetCapturedAmount": 7829.64
                        },
                        {
                          "intervalStart": "2026-02-20T00:00:00+00:00",
                          "intervalEnd": "2026-02-21T00:00:00+00:00",
                          "numPaymentsCreated": 393,
                          "numPaymentsProcessed": 168,
                          "numPaymentsIncomplete": 225,
                          "numPaymentsWithRefunds": 120,
                          "numCardPresentPayments": 76,
                          "numCardNotPresentPayments": 149,
                          "totalCapturedAmount": 624296.43,
                          "totalRefundedAmount": 134214.66,
                          "totalNetCapturedAmount": 490081.77,
                          "averageNetCapturedAmount": 2917.15,
                          "minNetCapturedAmount": 29.74,
                          "maxNetCapturedAmount": 5677.97
                        },
                        {
                          "intervalStart": "2026-02-21T00:00:00+00:00",
                          "intervalEnd": "2026-02-22T00:00:00+00:00",
                          "numPaymentsCreated": 814,
                          "numPaymentsProcessed": 600,
                          "numPaymentsIncomplete": 214,
                          "numPaymentsWithRefunds": 269,
                          "numCardPresentPayments": 112,
                          "numCardNotPresentPayments": 102,
                          "totalCapturedAmount": 256301.87,
                          "totalRefundedAmount": 22902.36,
                          "totalNetCapturedAmount": 233399.51,
                          "averageNetCapturedAmount": 389,
                          "minNetCapturedAmount": 68.26,
                          "maxNetCapturedAmount": 9687.4
                        },
                        {
                          "intervalStart": "2026-02-22T00:00:00+00:00",
                          "intervalEnd": "2026-02-23T00:00:00+00:00",
                          "numPaymentsCreated": 728,
                          "numPaymentsProcessed": 371,
                          "numPaymentsIncomplete": 357,
                          "numPaymentsWithRefunds": 24,
                          "numCardPresentPayments": 272,
                          "numCardNotPresentPayments": 85,
                          "totalCapturedAmount": 773320.09,
                          "totalRefundedAmount": 207002.73,
                          "totalNetCapturedAmount": 566317.36,
                          "averageNetCapturedAmount": 1526.46,
                          "minNetCapturedAmount": 54.81,
                          "maxNetCapturedAmount": 8781.47
                        },
                        {
                          "intervalStart": "2026-02-23T00:00:00+00:00",
                          "intervalEnd": "2026-02-24T00:00:00+00:00",
                          "numPaymentsCreated": 205,
                          "numPaymentsProcessed": 154,
                          "numPaymentsIncomplete": 51,
                          "numPaymentsWithRefunds": 143,
                          "numCardPresentPayments": 96,
                          "numCardNotPresentPayments": -45,
                          "totalCapturedAmount": 674237.92,
                          "totalRefundedAmount": 39006.03,
                          "totalNetCapturedAmount": 635231.89,
                          "averageNetCapturedAmount": 4124.88,
                          "minNetCapturedAmount": 43.83,
                          "maxNetCapturedAmount": 1850.03
                        },
                        {
                          "intervalStart": "2026-02-24T00:00:00+00:00",
                          "intervalEnd": "2026-02-25T00:00:00+00:00",
                          "numPaymentsCreated": 497,
                          "numPaymentsProcessed": 287,
                          "numPaymentsIncomplete": 210,
                          "numPaymentsWithRefunds": 54,
                          "numCardPresentPayments": 117,
                          "numCardNotPresentPayments": 93,
                          "totalCapturedAmount": 151292.11,
                          "totalRefundedAmount": 3107.56,
                          "totalNetCapturedAmount": 148184.55,
                          "averageNetCapturedAmount": 516.32,
                          "minNetCapturedAmount": 39.47,
                          "maxNetCapturedAmount": 3896.27
                        },
                        {
                          "intervalStart": "2026-02-25T00:00:00+00:00",
                          "intervalEnd": "2026-02-26T00:00:00+00:00",
                          "numPaymentsCreated": 379,
                          "numPaymentsProcessed": 125,
                          "numPaymentsIncomplete": 254,
                          "numPaymentsWithRefunds": 124,
                          "numCardPresentPayments": 109,
                          "numCardNotPresentPayments": 145,
                          "totalCapturedAmount": 129083.45,
                          "totalRefundedAmount": 10063.09,
                          "totalNetCapturedAmount": 119020.36,
                          "averageNetCapturedAmount": 952.16,
                          "minNetCapturedAmount": 27.86,
                          "maxNetCapturedAmount": 7833.67
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-02-19T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-02-20T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 557
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 327
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 230
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 279
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 293
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": -63
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 886483.19
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 34205.01
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 852278.18
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 2606.36
                          },
                          "minNetCapturedAmount": {
                            "type": "number",
                            "example": 58.48
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 7829.64
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-02-19T00:00:00+00:00",
                    "periodEnd": "2026-02-26T00:00:00+00:00",
                    "activeCustomers": 222,
                    "newCustomers": 106,
                    "returningCustomers": 116,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-02-19T00:00:00+00:00",
                        "intervalEnd": "2026-02-20T00:00:00+00:00",
                        "activeCustomers": 14,
                        "newCustomers": 7,
                        "returningCustomers": 7
                      },
                      {
                        "intervalStart": "2026-02-20T00:00:00+00:00",
                        "intervalEnd": "2026-02-21T00:00:00+00:00",
                        "activeCustomers": 40,
                        "newCustomers": 14,
                        "returningCustomers": 26
                      },
                      {
                        "intervalStart": "2026-02-21T00:00:00+00:00",
                        "intervalEnd": "2026-02-22T00:00:00+00:00",
                        "activeCustomers": 25,
                        "newCustomers": 19,
                        "returningCustomers": 6
                      },
                      {
                        "intervalStart": "2026-02-22T00:00:00+00:00",
                        "intervalEnd": "2026-02-23T00:00:00+00:00",
                        "activeCustomers": 29,
                        "newCustomers": 24,
                        "returningCustomers": 5
                      },
                      {
                        "intervalStart": "2026-02-23T00:00:00+00:00",
                        "intervalEnd": "2026-02-24T00:00:00+00:00",
                        "activeCustomers": 12,
                        "newCustomers": 9,
                        "returningCustomers": 3
                      },
                      {
                        "intervalStart": "2026-02-24T00:00:00+00:00",
                        "intervalEnd": "2026-02-25T00:00:00+00:00",
                        "activeCustomers": 90,
                        "newCustomers": 14,
                        "returningCustomers": 76
                      },
                      {
                        "intervalStart": "2026-02-25T00:00:00+00:00",
                        "intervalEnd": "2026-02-26T00:00:00+00:00",
                        "activeCustomers": 36,
                        "newCustomers": 19,
                        "returningCustomers": 17
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-02-19T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-02-26T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 222
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 106
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": 116
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-02-19T00:00:00+00:00",
                          "intervalEnd": "2026-02-20T00:00:00+00:00",
                          "activeCustomers": 14,
                          "newCustomers": 7,
                          "returningCustomers": 7
                        },
                        {
                          "intervalStart": "2026-02-20T00:00:00+00:00",
                          "intervalEnd": "2026-02-21T00:00:00+00:00",
                          "activeCustomers": 40,
                          "newCustomers": 14,
                          "returningCustomers": 26
                        },
                        {
                          "intervalStart": "2026-02-21T00:00:00+00:00",
                          "intervalEnd": "2026-02-22T00:00:00+00:00",
                          "activeCustomers": 25,
                          "newCustomers": 19,
                          "returningCustomers": 6
                        },
                        {
                          "intervalStart": "2026-02-22T00:00:00+00:00",
                          "intervalEnd": "2026-02-23T00:00:00+00:00",
                          "activeCustomers": 29,
                          "newCustomers": 24,
                          "returningCustomers": 5
                        },
                        {
                          "intervalStart": "2026-02-23T00:00:00+00:00",
                          "intervalEnd": "2026-02-24T00:00:00+00:00",
                          "activeCustomers": 12,
                          "newCustomers": 9,
                          "returningCustomers": 3
                        },
                        {
                          "intervalStart": "2026-02-24T00:00:00+00:00",
                          "intervalEnd": "2026-02-25T00:00:00+00:00",
                          "activeCustomers": 90,
                          "newCustomers": 14,
                          "returningCustomers": 76
                        },
                        {
                          "intervalStart": "2026-02-25T00:00:00+00:00",
                          "intervalEnd": "2026-02-26T00:00:00+00:00",
                          "activeCustomers": 36,
                          "newCustomers": 19,
                          "returningCustomers": 17
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-02-19T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-02-20T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 14
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 7
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 7
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-02-19T00:00:00+00:00",
                    "periodEnd": "2026-02-26T00:00:00+00:00",
                    "totalTransactions": 4104,
                    "authorizeTransactions": 300,
                    "captureTransactions": 355,
                    "payTransactions": 2124,
                    "refundTransactions": 652,
                    "verifyTransactions": 162,
                    "voidTransactions": 511,
                    "successfulTransactions": 3691,
                    "failedTransactions": 267,
                    "declinedTransactions": 118,
                    "pendingTransactions": 28,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-02-19T00:00:00+00:00",
                        "intervalEnd": "2026-02-20T00:00:00+00:00",
                        "totalTransactions": 249,
                        "authorizeTransactions": 23,
                        "captureTransactions": 31,
                        "payTransactions": 104,
                        "refundTransactions": 46,
                        "verifyTransactions": 16,
                        "voidTransactions": 29,
                        "successfulTransactions": 224,
                        "failedTransactions": 12,
                        "declinedTransactions": 11,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-02-20T00:00:00+00:00",
                        "intervalEnd": "2026-02-21T00:00:00+00:00",
                        "totalTransactions": 780,
                        "authorizeTransactions": 13,
                        "captureTransactions": 21,
                        "payTransactions": 652,
                        "refundTransactions": 41,
                        "verifyTransactions": 38,
                        "voidTransactions": 15,
                        "successfulTransactions": 702,
                        "failedTransactions": 38,
                        "declinedTransactions": 38,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-02-21T00:00:00+00:00",
                        "intervalEnd": "2026-02-22T00:00:00+00:00",
                        "totalTransactions": 143,
                        "authorizeTransactions": 13,
                        "captureTransactions": 16,
                        "payTransactions": 88,
                        "refundTransactions": 21,
                        "verifyTransactions": 5,
                        "voidTransactions": 0,
                        "successfulTransactions": 128,
                        "failedTransactions": 9,
                        "declinedTransactions": 5,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-02-22T00:00:00+00:00",
                        "intervalEnd": "2026-02-23T00:00:00+00:00",
                        "totalTransactions": 862,
                        "authorizeTransactions": 41,
                        "captureTransactions": 51,
                        "payTransactions": 274,
                        "refundTransactions": 171,
                        "verifyTransactions": 55,
                        "voidTransactions": 270,
                        "successfulTransactions": 775,
                        "failedTransactions": 36,
                        "declinedTransactions": 43,
                        "pendingTransactions": 8,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-02-23T00:00:00+00:00",
                        "intervalEnd": "2026-02-24T00:00:00+00:00",
                        "totalTransactions": 959,
                        "authorizeTransactions": 91,
                        "captureTransactions": 101,
                        "payTransactions": 761,
                        "refundTransactions": 6,
                        "verifyTransactions": 4,
                        "voidTransactions": -4,
                        "successfulTransactions": 863,
                        "failedTransactions": 81,
                        "declinedTransactions": 10,
                        "pendingTransactions": 5,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-02-24T00:00:00+00:00",
                        "intervalEnd": "2026-02-25T00:00:00+00:00",
                        "totalTransactions": 974,
                        "authorizeTransactions": 105,
                        "captureTransactions": 112,
                        "payTransactions": 162,
                        "refundTransactions": 350,
                        "verifyTransactions": 40,
                        "voidTransactions": 205,
                        "successfulTransactions": 876,
                        "failedTransactions": 83,
                        "declinedTransactions": 6,
                        "pendingTransactions": 9,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-02-25T00:00:00+00:00",
                        "intervalEnd": "2026-02-26T00:00:00+00:00",
                        "totalTransactions": 137,
                        "authorizeTransactions": 14,
                        "captureTransactions": 23,
                        "payTransactions": 83,
                        "refundTransactions": 17,
                        "verifyTransactions": 4,
                        "voidTransactions": -4,
                        "successfulTransactions": 123,
                        "failedTransactions": 8,
                        "declinedTransactions": 5,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-02-19T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-02-26T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 4104
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 300
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 355
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 2124
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 652
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 162
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 511
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 3691
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 267
                    },
                    "declinedTransactions": {
                      "type": "integer",
                      "example": 118
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 28
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-02-19T00:00:00+00:00",
                          "intervalEnd": "2026-02-20T00:00:00+00:00",
                          "totalTransactions": 249,
                          "authorizeTransactions": 23,
                          "captureTransactions": 31,
                          "payTransactions": 104,
                          "refundTransactions": 46,
                          "verifyTransactions": 16,
                          "voidTransactions": 29,
                          "successfulTransactions": 224,
                          "failedTransactions": 12,
                          "declinedTransactions": 11,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-02-20T00:00:00+00:00",
                          "intervalEnd": "2026-02-21T00:00:00+00:00",
                          "totalTransactions": 780,
                          "authorizeTransactions": 13,
                          "captureTransactions": 21,
                          "payTransactions": 652,
                          "refundTransactions": 41,
                          "verifyTransactions": 38,
                          "voidTransactions": 15,
                          "successfulTransactions": 702,
                          "failedTransactions": 38,
                          "declinedTransactions": 38,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-02-21T00:00:00+00:00",
                          "intervalEnd": "2026-02-22T00:00:00+00:00",
                          "totalTransactions": 143,
                          "authorizeTransactions": 13,
                          "captureTransactions": 16,
                          "payTransactions": 88,
                          "refundTransactions": 21,
                          "verifyTransactions": 5,
                          "voidTransactions": 0,
                          "successfulTransactions": 128,
                          "failedTransactions": 9,
                          "declinedTransactions": 5,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-02-22T00:00:00+00:00",
                          "intervalEnd": "2026-02-23T00:00:00+00:00",
                          "totalTransactions": 862,
                          "authorizeTransactions": 41,
                          "captureTransactions": 51,
                          "payTransactions": 274,
                          "refundTransactions": 171,
                          "verifyTransactions": 55,
                          "voidTransactions": 270,
                          "successfulTransactions": 775,
                          "failedTransactions": 36,
                          "declinedTransactions": 43,
                          "pendingTransactions": 8,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-02-23T00:00:00+00:00",
                          "intervalEnd": "2026-02-24T00:00:00+00:00",
                          "totalTransactions": 959,
                          "authorizeTransactions": 91,
                          "captureTransactions": 101,
                          "payTransactions": 761,
                          "refundTransactions": 6,
                          "verifyTransactions": 4,
                          "voidTransactions": -4,
                          "successfulTransactions": 863,
                          "failedTransactions": 81,
                          "declinedTransactions": 10,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-02-24T00:00:00+00:00",
                          "intervalEnd": "2026-02-25T00:00:00+00:00",
                          "totalTransactions": 974,
                          "authorizeTransactions": 105,
                          "captureTransactions": 112,
                          "payTransactions": 162,
                          "refundTransactions": 350,
                          "verifyTransactions": 40,
                          "voidTransactions": 205,
                          "successfulTransactions": 876,
                          "failedTransactions": 83,
                          "declinedTransactions": 6,
                          "pendingTransactions": 9,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-02-25T00:00:00+00:00",
                          "intervalEnd": "2026-02-26T00:00:00+00:00",
                          "totalTransactions": 137,
                          "authorizeTransactions": 14,
                          "captureTransactions": 23,
                          "payTransactions": 83,
                          "refundTransactions": 17,
                          "verifyTransactions": 4,
                          "voidTransactions": -4,
                          "successfulTransactions": 123,
                          "failedTransactions": 8,
                          "declinedTransactions": 5,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-02-19T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-02-20T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 249
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 23
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 31
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 104
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 46
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 16
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": 29
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 224
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 12
                          },
                          "declinedTransactions": {
                            "type": "integer",
                            "example": 11
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 2
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-02-19T00:00:00+00:00",
                    "periodEnd": "2026-02-26T00:00:00+00:00",
                    "totalSettlementAmount": 30921.67,
                    "totalFeeAmount": 1515.16183,
                    "totalNetAmount": 29406.50817,
                    "totalTransactionsPending": 166,
                    "totalTransactionsSettled": 1042,
                    "totalTransactionsSettling": 1432,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-02-19T00:00:00+00:00",
                        "intervalEnd": "2026-02-20T00:00:00+00:00",
                        "totalSettlementAmount": 5934.54,
                        "totalFeeAmount": 290.79246,
                        "totalNetAmount": 5643.74754,
                        "totalTransactionsPending": 35,
                        "totalTransactionsSettled": 102,
                        "totalTransactionsSettling": 192
                      },
                      {
                        "intervalStart": "2026-02-20T00:00:00+00:00",
                        "intervalEnd": "2026-02-21T00:00:00+00:00",
                        "totalSettlementAmount": 1719.24,
                        "totalFeeAmount": 84.24276,
                        "totalNetAmount": 1634.99724,
                        "totalTransactionsPending": 14,
                        "totalTransactionsSettled": 87,
                        "totalTransactionsSettling": 138
                      },
                      {
                        "intervalStart": "2026-02-21T00:00:00+00:00",
                        "intervalEnd": "2026-02-22T00:00:00+00:00",
                        "totalSettlementAmount": 6644.38,
                        "totalFeeAmount": 325.57462,
                        "totalNetAmount": 6318.80538,
                        "totalTransactionsPending": 32,
                        "totalTransactionsSettled": 24,
                        "totalTransactionsSettling": 298
                      },
                      {
                        "intervalStart": "2026-02-22T00:00:00+00:00",
                        "intervalEnd": "2026-02-23T00:00:00+00:00",
                        "totalSettlementAmount": 1738.93,
                        "totalFeeAmount": 85.20757,
                        "totalNetAmount": 1653.72243,
                        "totalTransactionsPending": 8,
                        "totalTransactionsSettled": 238,
                        "totalTransactionsSettling": 170
                      },
                      {
                        "intervalStart": "2026-02-23T00:00:00+00:00",
                        "intervalEnd": "2026-02-24T00:00:00+00:00",
                        "totalSettlementAmount": 5358.63,
                        "totalFeeAmount": 262.57287,
                        "totalNetAmount": 5096.05713,
                        "totalTransactionsPending": 30,
                        "totalTransactionsSettled": 191,
                        "totalTransactionsSettling": 238
                      },
                      {
                        "intervalStart": "2026-02-24T00:00:00+00:00",
                        "intervalEnd": "2026-02-25T00:00:00+00:00",
                        "totalSettlementAmount": 1346.85,
                        "totalFeeAmount": 65.99565,
                        "totalNetAmount": 1280.85435,
                        "totalTransactionsPending": 28,
                        "totalTransactionsSettled": 98,
                        "totalTransactionsSettling": 311
                      },
                      {
                        "intervalStart": "2026-02-25T00:00:00+00:00",
                        "intervalEnd": "2026-02-26T00:00:00+00:00",
                        "totalSettlementAmount": 8179.1,
                        "totalFeeAmount": 400.7759,
                        "totalNetAmount": 7778.3241,
                        "totalTransactionsPending": 19,
                        "totalTransactionsSettled": 302,
                        "totalTransactionsSettling": 85
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-02-19T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-02-26T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 30921.67
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 1515.16183
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 29406.50817
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 166
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 1042
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 1432
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-02-19T00:00:00+00:00",
                          "intervalEnd": "2026-02-20T00:00:00+00:00",
                          "totalSettlementAmount": 5934.54,
                          "totalFeeAmount": 290.79246,
                          "totalNetAmount": 5643.74754,
                          "totalTransactionsPending": 35,
                          "totalTransactionsSettled": 102,
                          "totalTransactionsSettling": 192
                        },
                        {
                          "intervalStart": "2026-02-20T00:00:00+00:00",
                          "intervalEnd": "2026-02-21T00:00:00+00:00",
                          "totalSettlementAmount": 1719.24,
                          "totalFeeAmount": 84.24276,
                          "totalNetAmount": 1634.99724,
                          "totalTransactionsPending": 14,
                          "totalTransactionsSettled": 87,
                          "totalTransactionsSettling": 138
                        },
                        {
                          "intervalStart": "2026-02-21T00:00:00+00:00",
                          "intervalEnd": "2026-02-22T00:00:00+00:00",
                          "totalSettlementAmount": 6644.38,
                          "totalFeeAmount": 325.57462,
                          "totalNetAmount": 6318.80538,
                          "totalTransactionsPending": 32,
                          "totalTransactionsSettled": 24,
                          "totalTransactionsSettling": 298
                        },
                        {
                          "intervalStart": "2026-02-22T00:00:00+00:00",
                          "intervalEnd": "2026-02-23T00:00:00+00:00",
                          "totalSettlementAmount": 1738.93,
                          "totalFeeAmount": 85.20757,
                          "totalNetAmount": 1653.72243,
                          "totalTransactionsPending": 8,
                          "totalTransactionsSettled": 238,
                          "totalTransactionsSettling": 170
                        },
                        {
                          "intervalStart": "2026-02-23T00:00:00+00:00",
                          "intervalEnd": "2026-02-24T00:00:00+00:00",
                          "totalSettlementAmount": 5358.63,
                          "totalFeeAmount": 262.57287,
                          "totalNetAmount": 5096.05713,
                          "totalTransactionsPending": 30,
                          "totalTransactionsSettled": 191,
                          "totalTransactionsSettling": 238
                        },
                        {
                          "intervalStart": "2026-02-24T00:00:00+00:00",
                          "intervalEnd": "2026-02-25T00:00:00+00:00",
                          "totalSettlementAmount": 1346.85,
                          "totalFeeAmount": 65.99565,
                          "totalNetAmount": 1280.85435,
                          "totalTransactionsPending": 28,
                          "totalTransactionsSettled": 98,
                          "totalTransactionsSettling": 311
                        },
                        {
                          "intervalStart": "2026-02-25T00:00:00+00:00",
                          "intervalEnd": "2026-02-26T00:00:00+00:00",
                          "totalSettlementAmount": 8179.1,
                          "totalFeeAmount": 400.7759,
                          "totalNetAmount": 7778.3241,
                          "totalTransactionsPending": 19,
                          "totalTransactionsSettled": 302,
                          "totalTransactionsSettling": 85
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-02-19T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-02-20T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 5934.54
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 290.79246
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 5643.74754
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 35
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 102
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 192
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 3,
                    "data": [
                      {
                        "email": "wkoepp@hackett.org",
                        "firstName": "Sam",
                        "lastName": "Farrell",
                        "phone": "+19067461653",
                        "dateOfBirth": "2002-02-07"
                      },
                      {
                        "email": "pparisian@gmail.com",
                        "firstName": "Dominique",
                        "lastName": "Cronin",
                        "phone": "+16038475754",
                        "dateOfBirth": "1990-07-14"
                      },
                      {
                        "email": "clarabelle64@yahoo.com",
                        "firstName": "Zachary",
                        "lastName": "Murray",
                        "phone": "+19412365683",
                        "dateOfBirth": "2002-06-17"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 3,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "wkoepp@hackett.org",
                          "firstName": "Sam",
                          "lastName": "Farrell",
                          "phone": "+19067461653",
                          "dateOfBirth": "2002-02-07"
                        },
                        {
                          "email": "pparisian@gmail.com",
                          "firstName": "Dominique",
                          "lastName": "Cronin",
                          "phone": "+16038475754",
                          "dateOfBirth": "1990-07-14"
                        },
                        {
                          "email": "clarabelle64@yahoo.com",
                          "firstName": "Zachary",
                          "lastName": "Murray",
                          "phone": "+19412365683",
                          "dateOfBirth": "2002-06-17"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "wkoepp@hackett.org"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Sam"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Farrell"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+19067461653"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "2002-02-07"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers/{customerIdOrEmail}/addresses": {
      "get": {
        "summary": "List Customer Billing Addresses",
        "operationId": "listCustomerBillingAddresses",
        "description": "Returns all unique billing addresses that have been used by a customer across their payments.\nAddresses are deduplicated using case-insensitive and whitespace-insensitive comparison.",
        "parameters": [
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
            "example": "-city",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
              "example": "-city",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of unique billing addresses for the customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "company": "Willms-Dicki",
                        "street": "45514 Janessa Mill Apt. 542",
                        "city": "Javontehaven",
                        "stateProvince": "WY",
                        "postcodeZip": "83639-9063",
                        "country": "USA"
                      },
                      {
                        "company": "Russel-Fadel",
                        "street": "5096 Abbie Extension",
                        "city": "Wilbertfort",
                        "stateProvince": "TX",
                        "postcodeZip": "08332",
                        "country": "USA"
                      },
                      {
                        "company": "Lubowitz PLC",
                        "street": "648 Corbin Via",
                        "city": "Brianaland",
                        "stateProvince": "CT",
                        "postcodeZip": "29496-9758",
                        "country": "USA"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "company": "Willms-Dicki",
                          "street": "45514 Janessa Mill Apt. 542",
                          "city": "Javontehaven",
                          "stateProvince": "WY",
                          "postcodeZip": "83639-9063",
                          "country": "USA"
                        },
                        {
                          "company": "Russel-Fadel",
                          "street": "5096 Abbie Extension",
                          "city": "Wilbertfort",
                          "stateProvince": "TX",
                          "postcodeZip": "08332",
                          "country": "USA"
                        },
                        {
                          "company": "Lubowitz PLC",
                          "street": "648 Corbin Via",
                          "city": "Brianaland",
                          "stateProvince": "CT",
                          "postcodeZip": "29496-9758",
                          "country": "USA"
                        }
                      ],
                      "description": "The data returned from the request",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "company": {
                            "type": "string",
                            "example": "Willms-Dicki"
                          },
                          "street": {
                            "type": "string",
                            "example": "45514 Janessa Mill Apt. 542"
                          },
                          "city": {
                            "type": "string",
                            "example": "Javontehaven"
                          },
                          "stateProvince": {
                            "type": "string",
                            "example": "WY"
                          },
                          "postcodeZip": {
                            "type": "string",
                            "example": "83639-9063"
                          },
                          "country": {
                            "type": "string",
                            "example": "USA"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "path",
          "name": "customerIdOrEmail",
          "description": "The customer ID, UUID, or email address",
          "example": "customer_123",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/exports": {
      "get": {
        "summary": "List Exports for Organization",
        "operationId": "listExportsForOrganization",
        "description": "Retrieve a list of exports for the organization with filtering, sorting, and pagination support.",
        "parameters": [
          {
            "in": "query",
            "name": "filter[type]",
            "description": "Filter by export type: TRANSACTION, MONTHLY_STATEMENT",
            "example": "TRANSACTION",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter by export type: TRANSACTION, MONTHLY_STATEMENT",
              "example": "TRANSACTION",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[status]",
            "description": "Filter by status: PENDING, PROCESSING, COMPLETED, FAILED",
            "example": "COMPLETED",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter by status: PENDING, PROCESSING, COMPLETED, FAILED",
              "example": "COMPLETED",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[format]",
            "description": "Filter by format: CSV, XLSX",
            "example": "CSV",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter by format: CSV, XLSX",
              "example": "CSV",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[createdBetween]",
            "description": "Filter by created date range (comma-separated): YYYY-MM-DD,YYYY-MM-DD",
            "example": "2026-01-01,2026-01-31",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter by created date range (comma-separated): YYYY-MM-DD,YYYY-MM-DD",
              "example": "2026-01-01,2026-01-31",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[completedBetween]",
            "description": "Filter by completed date range (comma-separated): YYYY-MM-DD,YYYY-MM-DD",
            "example": "2026-01-01,2026-01-31",
            "required": true,
            "schema": {
              "type": "string",
[...]
