{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.76.3"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payout Exports",
      "description": "Create payout exports"
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/payments/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)\n\n### Tags:\n\nFilter by user-applied tags. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)\n\n### Tags:\n\nFilter by user-applied tags. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-05-29T00:00:00+00:00",
                      "periodEnd": "2026-06-05T00:00:00+00:00",
                      "numPaymentsCreated": 4073,
                      "numPaymentsProcessed": 2117,
                      "numPaymentsIncomplete": 1956,
                      "numPaymentsWithRefunds": 1279,
                      "numCardPresentPayments": 969,
                      "numCardNotPresentPayments": 987,
                      "totalCapturedAmount": 4285686.12,
                      "totalRefundedAmount": 659982.94,
                      "totalNetCapturedAmount": 3625703.18,
                      "averageNetCapturedAmount": 2790.9314285714,
                      "minNetCapturedAmount": 59.29,
                      "maxNetCapturedAmount": 9700.71,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-05-29T00:00:00+00:00",
                          "intervalEnd": "2026-05-30T00:00:00+00:00",
                          "numPaymentsCreated": 397,
                          "numPaymentsProcessed": 96,
                          "numPaymentsIncomplete": 301,
                          "numPaymentsWithRefunds": 76,
                          "numCardPresentPayments": 15,
                          "numCardNotPresentPayments": 286,
                          "totalCapturedAmount": 527908.86,
                          "totalRefundedAmount": 16735.76,
                          "totalNetCapturedAmount": 511173.1,
                          "averageNetCapturedAmount": 5324.72,
                          "minNetCapturedAmount": 72.42,
                          "maxNetCapturedAmount": 9596.45
                        },
                        {
                          "intervalStart": "2026-05-30T00:00:00+00:00",
                          "intervalEnd": "2026-05-31T00:00:00+00:00",
                          "numPaymentsCreated": 757,
                          "numPaymentsProcessed": 108,
                          "numPaymentsIncomplete": 649,
                          "numPaymentsWithRefunds": 71,
                          "numCardPresentPayments": 82,
                          "numCardNotPresentPayments": 567,
                          "totalCapturedAmount": 971803.19,
                          "totalRefundedAmount": 157612.91,
                          "totalNetCapturedAmount": 814190.28,
                          "averageNetCapturedAmount": 7538.8,
                          "minNetCapturedAmount": 78.2,
                          "maxNetCapturedAmount": 1280.19
                        },
                        {
                          "intervalStart": "2026-05-31T00:00:00+00:00",
                          "intervalEnd": "2026-06-01T00:00:00+00:00",
                          "numPaymentsCreated": 804,
                          "numPaymentsProcessed": 562,
                          "numPaymentsIncomplete": 242,
                          "numPaymentsWithRefunds": 542,
                          "numCardPresentPayments": 433,
                          "numCardNotPresentPayments": -191,
                          "totalCapturedAmount": 917439.78,
                          "totalRefundedAmount": 225064.78,
                          "totalNetCapturedAmount": 692375,
                          "averageNetCapturedAmount": 1231.98,
                          "minNetCapturedAmount": 59.29,
                          "maxNetCapturedAmount": 8124.17
                        },
                        {
                          "intervalStart": "2026-06-01T00:00:00+00:00",
                          "intervalEnd": "2026-06-02T00:00:00+00:00",
                          "numPaymentsCreated": 558,
                          "numPaymentsProcessed": 335,
                          "numPaymentsIncomplete": 223,
                          "numPaymentsWithRefunds": 138,
                          "numCardPresentPayments": 32,
                          "numCardNotPresentPayments": 191,
                          "totalCapturedAmount": 315984.35,
                          "totalRefundedAmount": 67043.79,
                          "totalNetCapturedAmount": 248940.56,
                          "averageNetCapturedAmount": 743.11,
                          "minNetCapturedAmount": 75.54,
                          "maxNetCapturedAmount": 6076.83
                        },
                        {
                          "intervalStart": "2026-06-02T00:00:00+00:00",
                          "intervalEnd": "2026-06-03T00:00:00+00:00",
                          "numPaymentsCreated": 512,
                          "numPaymentsProcessed": 244,
                          "numPaymentsIncomplete": 268,
                          "numPaymentsWithRefunds": 124,
                          "numCardPresentPayments": 107,
                          "numCardNotPresentPayments": 161,
                          "totalCapturedAmount": 981167.67,
                          "totalRefundedAmount": 162089.19,
                          "totalNetCapturedAmount": 819078.48,
                          "averageNetCapturedAmount": 3356.88,
                          "minNetCapturedAmount": 93.24,
                          "maxNetCapturedAmount": 6077.23
                        },
                        {
                          "intervalStart": "2026-06-03T00:00:00+00:00",
                          "intervalEnd": "2026-06-04T00:00:00+00:00",
                          "numPaymentsCreated": 590,
                          "numPaymentsProcessed": 405,
                          "numPaymentsIncomplete": 185,
                          "numPaymentsWithRefunds": 221,
                          "numCardPresentPayments": 5,
                          "numCardNotPresentPayments": 180,
                          "totalCapturedAmount": 529389.07,
                          "totalRefundedAmount": 20057.63,
                          "totalNetCapturedAmount": 509331.44,
                          "averageNetCapturedAmount": 1257.61,
                          "minNetCapturedAmount": 76.85,
                          "maxNetCapturedAmount": 7338.12
                        },
                        {
                          "intervalStart": "2026-06-04T00:00:00+00:00",
                          "intervalEnd": "2026-06-05T00:00:00+00:00",
                          "numPaymentsCreated": 455,
                          "numPaymentsProcessed": 367,
                          "numPaymentsIncomplete": 88,
                          "numPaymentsWithRefunds": 107,
                          "numCardPresentPayments": 295,
                          "numCardNotPresentPayments": -207,
                          "totalCapturedAmount": 41993.2,
                          "totalRefundedAmount": 11378.88,
                          "totalNetCapturedAmount": 30614.32,
                          "averageNetCapturedAmount": 83.42,
                          "minNetCapturedAmount": 90.41,
                          "maxNetCapturedAmount": 9700.71
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-05-29T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-06-05T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "numPaymentsCreated": {
                          "type": "integer",
                          "example": 4073,
                          "description": "Total number of payment records created in the period",
                          "enum": []
                        },
                        "numPaymentsProcessed": {
                          "type": "integer",
                          "example": 2117,
                          "description": "Number of payments that have successfully had funds captured (captured amount > 0)",
                          "enum": []
                        },
                        "numPaymentsIncomplete": {
                          "type": "integer",
                          "example": 1956,
                          "description": "Number of payments which have been created but funds have not been captured yet (e.g. failures, declines, authorizations, etc.)",
                          "enum": []
                        },
                        "numPaymentsWithRefunds": {
                          "type": "integer",
                          "example": 1279,
                          "description": "Number of payments that have had one or more refunds (refunded amount > 0)",
                          "enum": []
                        },
                        "numCardPresentPayments": {
                          "type": "integer",
                          "example": 969,
                          "description": "Number of payments made with card present (e.g. via terminal device)",
                          "enum": []
                        },
                        "numCardNotPresentPayments": {
                          "type": "integer",
                          "example": 987,
                          "description": "Number of payments made with card not present (e.g. online payments)",
                          "enum": []
                        },
                        "totalCapturedAmount": {
                          "type": "number",
                          "example": 4285686.12,
                          "description": "Total amount captured across all payments in the period",
                          "enum": []
                        },
                        "totalRefundedAmount": {
                          "type": "number",
                          "example": 659982.94,
                          "description": "Total amount refunded across all payments in the period",
                          "enum": []
                        },
                        "totalNetCapturedAmount": {
                          "type": "number",
                          "example": 3625703.18,
                          "description": "Net captured amount (captured - refunded) across all payments in the period",
                          "enum": []
                        },
                        "averageNetCapturedAmount": {
                          "type": "number",
                          "example": 2790.9314285714,
                          "description": "Average net captured amount per payment in the period",
                          "enum": []
                        },
                        "minNetCapturedAmount": {
                          "type": "number",
                          "example": 59.29,
                          "description": "Minimum net captured amount in the period",
                          "enum": []
                        },
                        "maxNetCapturedAmount": {
                          "type": "number",
                          "example": 9700.71,
                          "description": "Maximum net captured amount in the period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-05-29T00:00:00+00:00",
                              "intervalEnd": "2026-05-30T00:00:00+00:00",
                              "numPaymentsCreated": 397,
                              "numPaymentsProcessed": 96,
                              "numPaymentsIncomplete": 301,
                              "numPaymentsWithRefunds": 76,
                              "numCardPresentPayments": 15,
                              "numCardNotPresentPayments": 286,
                              "totalCapturedAmount": 527908.86,
                              "totalRefundedAmount": 16735.76,
                              "totalNetCapturedAmount": 511173.1,
                              "averageNetCapturedAmount": 5324.72,
                              "minNetCapturedAmount": 72.42,
                              "maxNetCapturedAmount": 9596.45
                            },
                            {
                              "intervalStart": "2026-05-30T00:00:00+00:00",
                              "intervalEnd": "2026-05-31T00:00:00+00:00",
                              "numPaymentsCreated": 757,
                              "numPaymentsProcessed": 108,
                              "numPaymentsIncomplete": 649,
                              "numPaymentsWithRefunds": 71,
                              "numCardPresentPayments": 82,
                              "numCardNotPresentPayments": 567,
                              "totalCapturedAmount": 971803.19,
                              "totalRefundedAmount": 157612.91,
                              "totalNetCapturedAmount": 814190.28,
                              "averageNetCapturedAmount": 7538.8,
                              "minNetCapturedAmount": 78.2,
                              "maxNetCapturedAmount": 1280.19
                            },
                            {
                              "intervalStart": "2026-05-31T00:00:00+00:00",
                              "intervalEnd": "2026-06-01T00:00:00+00:00",
                              "numPaymentsCreated": 804,
                              "numPaymentsProcessed": 562,
                              "numPaymentsIncomplete": 242,
                              "numPaymentsWithRefunds": 542,
                              "numCardPresentPayments": 433,
                              "numCardNotPresentPayments": -191,
                              "totalCapturedAmount": 917439.78,
                              "totalRefundedAmount": 225064.78,
                              "totalNetCapturedAmount": 692375,
                              "averageNetCapturedAmount": 1231.98,
                              "minNetCapturedAmount": 59.29,
                              "maxNetCapturedAmount": 8124.17
                            },
                            {
                              "intervalStart": "2026-06-01T00:00:00+00:00",
                              "intervalEnd": "2026-06-02T00:00:00+00:00",
                              "numPaymentsCreated": 558,
                              "numPaymentsProcessed": 335,
                              "numPaymentsIncomplete": 223,
                              "numPaymentsWithRefunds": 138,
                              "numCardPresentPayments": 32,
                              "numCardNotPresentPayments": 191,
                              "totalCapturedAmount": 315984.35,
                              "totalRefundedAmount": 67043.79,
                              "totalNetCapturedAmount": 248940.56,
                              "averageNetCapturedAmount": 743.11,
                              "minNetCapturedAmount": 75.54,
                              "maxNetCapturedAmount": 6076.83
                            },
                            {
                              "intervalStart": "2026-06-02T00:00:00+00:00",
                              "intervalEnd": "2026-06-03T00:00:00+00:00",
                              "numPaymentsCreated": 512,
                              "numPaymentsProcessed": 244,
                              "numPaymentsIncomplete": 268,
                              "numPaymentsWithRefunds": 124,
                              "numCardPresentPayments": 107,
                              "numCardNotPresentPayments": 161,
                              "totalCapturedAmount": 981167.67,
                              "totalRefundedAmount": 162089.19,
                              "totalNetCapturedAmount": 819078.48,
                              "averageNetCapturedAmount": 3356.88,
                              "minNetCapturedAmount": 93.24,
                              "maxNetCapturedAmount": 6077.23
                            },
                            {
                              "intervalStart": "2026-06-03T00:00:00+00:00",
                              "intervalEnd": "2026-06-04T00:00:00+00:00",
                              "numPaymentsCreated": 590,
                              "numPaymentsProcessed": 405,
                              "numPaymentsIncomplete": 185,
                              "numPaymentsWithRefunds": 221,
                              "numCardPresentPayments": 5,
                              "numCardNotPresentPayments": 180,
                              "totalCapturedAmount": 529389.07,
                              "totalRefundedAmount": 20057.63,
                              "totalNetCapturedAmount": 509331.44,
                              "averageNetCapturedAmount": 1257.61,
                              "minNetCapturedAmount": 76.85,
                              "maxNetCapturedAmount": 7338.12
                            },
                            {
                              "intervalStart": "2026-06-04T00:00:00+00:00",
                              "intervalEnd": "2026-06-05T00:00:00+00:00",
                              "numPaymentsCreated": 455,
                              "numPaymentsProcessed": 367,
                              "numPaymentsIncomplete": 88,
                              "numPaymentsWithRefunds": 107,
                              "numCardPresentPayments": 295,
                              "numCardNotPresentPayments": -207,
                              "totalCapturedAmount": 41993.2,
                              "totalRefundedAmount": 11378.88,
                              "totalNetCapturedAmount": 30614.32,
                              "averageNetCapturedAmount": 83.42,
                              "minNetCapturedAmount": 90.41,
                              "maxNetCapturedAmount": 9700.71
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-05-29T00:00:00+00:00",
                                "description": "Start time of the PaymentAnalyticsData interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-05-30T00:00:00+00:00",
                                "description": "End time of the PaymentAnalyticsData interval",
                                "enum": []
                              },
                              "numPaymentsCreated": {
                                "type": "integer",
                                "example": 397,
                                "description": "Total number of payment records created in the interval",
                                "enum": []
                              },
                              "numPaymentsProcessed": {
                                "type": "integer",
                                "example": 96,
                                "description": "Number of payments that have successfully had funds captured (captured amount > 0)",
                                "enum": []
                              },
                              "numPaymentsIncomplete": {
                                "type": "integer",
                                "example": 301,
                                "description": "Number of payments which have been created but funds have not been captured yet (e.g. failures, declines, authorizations, etc.)",
                                "enum": []
                              },
                              "numPaymentsWithRefunds": {
                                "type": "integer",
                                "example": 76,
                                "description": "Number of payments that have had one or more refunds (refunded amount > 0)",
                                "enum": []
                              },
                              "numCardPresentPayments": {
                                "type": "integer",
                                "example": 15,
                                "description": "Number of payments made with card present (e.g. via terminal device)",
                                "enum": []
                              },
                              "numCardNotPresentPayments": {
                                "type": "integer",
                                "example": 286,
                                "description": "Number of payments made with card not present (e.g. online payments)",
                                "enum": []
                              },
                              "totalCapturedAmount": {
                                "type": "number",
                                "example": 527908.86,
                                "description": "Total amount captured across all payments in the interval",
                                "enum": []
                              },
                              "totalRefundedAmount": {
                                "type": "number",
                                "example": 16735.76,
                                "description": "Total amount refunded across all payments in the interval",
                                "enum": []
                              },
                              "totalNetCapturedAmount": {
                                "type": "number",
                                "example": 511173.1,
                                "description": "Net captured amount (captured - refunded) across all payments in the interval",
                                "enum": []
                              },
                              "averageNetCapturedAmount": {
                                "type": "number",
                                "example": 5324.72,
                                "description": "Average net captured amount per payment in the interval",
                                "enum": []
                              },
                              "minNetCapturedAmount": {
                                "type": "number",
                                "example": 72.42,
                                "description": "Minimum net captured amount in the interval",
                                "enum": []
                              },
                              "maxNetCapturedAmount": {
                                "type": "number",
                                "example": 9596.45,
                                "description": "Maximum net captured amount in the interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/payments/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n\n### Tags:\n\nFilter by user-applied tags on the underlying payments. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n\n### Tags:\n\nFilter by user-applied tags on the underlying payments. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-05-29T00:00:00+00:00",
                      "periodEnd": "2026-06-05T00:00:00+00:00",
                      "activeCustomers": 172,
                      "newCustomers": 208,
                      "returningCustomers": -36,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-05-29T00:00:00+00:00",
                          "intervalEnd": "2026-05-30T00:00:00+00:00",
                          "activeCustomers": 34,
                          "newCustomers": 15,
                          "returningCustomers": 19
                        },
                        {
                          "intervalStart": "2026-05-30T00:00:00+00:00",
                          "intervalEnd": "2026-05-31T00:00:00+00:00",
                          "activeCustomers": 31,
                          "newCustomers": 25,
                          "returningCustomers": 6
                        },
                        {
                          "intervalStart": "2026-05-31T00:00:00+00:00",
                          "intervalEnd": "2026-06-01T00:00:00+00:00",
                          "activeCustomers": 13,
                          "newCustomers": 7,
                          "returningCustomers": 6
                        },
                        {
                          "intervalStart": "2026-06-01T00:00:00+00:00",
                          "intervalEnd": "2026-06-02T00:00:00+00:00",
                          "activeCustomers": 87,
                          "newCustomers": 73,
                          "returningCustomers": 14
                        },
                        {
                          "intervalStart": "2026-06-02T00:00:00+00:00",
                          "intervalEnd": "2026-06-03T00:00:00+00:00",
                          "activeCustomers": 71,
                          "newCustomers": 67,
                          "returningCustomers": 4
                        },
                        {
                          "intervalStart": "2026-06-03T00:00:00+00:00",
                          "intervalEnd": "2026-06-04T00:00:00+00:00",
                          "activeCustomers": 15,
                          "newCustomers": 11,
                          "returningCustomers": 4
                        },
                        {
                          "intervalStart": "2026-06-04T00:00:00+00:00",
                          "intervalEnd": "2026-06-05T00:00:00+00:00",
                          "activeCustomers": 71,
                          "newCustomers": 10,
                          "returningCustomers": 61
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-05-29T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-06-05T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "activeCustomers": {
                          "type": "integer",
                          "example": 172,
                          "description": "number of customers who are associated with at least one payment which was created in the period",
                          "enum": []
                        },
                        "newCustomers": {
                          "type": "integer",
                          "example": 208,
                          "description": "number of new customers added in the period",
                          "enum": []
                        },
                        "returningCustomers": {
                          "type": "integer",
                          "example": -36,
                          "description": "number of customers who were active in the period but were created before the period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-05-29T00:00:00+00:00",
                              "intervalEnd": "2026-05-30T00:00:00+00:00",
                              "activeCustomers": 34,
                              "newCustomers": 15,
                              "returningCustomers": 19
                            },
                            {
                              "intervalStart": "2026-05-30T00:00:00+00:00",
                              "intervalEnd": "2026-05-31T00:00:00+00:00",
                              "activeCustomers": 31,
                              "newCustomers": 25,
                              "returningCustomers": 6
                            },
                            {
                              "intervalStart": "2026-05-31T00:00:00+00:00",
                              "intervalEnd": "2026-06-01T00:00:00+00:00",
                              "activeCustomers": 13,
                              "newCustomers": 7,
                              "returningCustomers": 6
                            },
                            {
                              "intervalStart": "2026-06-01T00:00:00+00:00",
                              "intervalEnd": "2026-06-02T00:00:00+00:00",
                              "activeCustomers": 87,
                              "newCustomers": 73,
                              "returningCustomers": 14
                            },
                            {
                              "intervalStart": "2026-06-02T00:00:00+00:00",
                              "intervalEnd": "2026-06-03T00:00:00+00:00",
                              "activeCustomers": 71,
                              "newCustomers": 67,
                              "returningCustomers": 4
                            },
                            {
                              "intervalStart": "2026-06-03T00:00:00+00:00",
                              "intervalEnd": "2026-06-04T00:00:00+00:00",
                              "activeCustomers": 15,
                              "newCustomers": 11,
                              "returningCustomers": 4
                            },
                            {
                              "intervalStart": "2026-06-04T00:00:00+00:00",
                              "intervalEnd": "2026-06-05T00:00:00+00:00",
                              "activeCustomers": 71,
                              "newCustomers": 10,
                              "returningCustomers": 61
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-05-29T00:00:00+00:00",
                                "description": "Start time of the analytics calculation interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-05-30T00:00:00+00:00",
                                "description": "End time of the analytics calculation interval",
                                "enum": []
                              },
                              "activeCustomers": {
                                "type": "integer",
                                "example": 34,
                                "description": "number of customers who are associated with at least one payment which was created in the interval",
                                "enum": []
                              },
                              "newCustomers": {
                                "type": "integer",
                                "example": 15,
                                "description": "number of new customers added in the interval",
                                "enum": []
                              },
                              "returningCustomers": {
                                "type": "integer",
                                "example": 19,
                                "description": "number of customers who were active in the interval but were created before the interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/payments/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n\n### Tags:\n\nFilter by user-applied tags. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n\n### Tags:\n\nFilter by user-applied tags. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-05-29T00:00:00+00:00",
                      "periodEnd": "2026-06-05T00:00:00+00:00",
                      "totalTransactions": 2941,
                      "authorizeTransactions": 211,
                      "captureTransactions": 254,
                      "payTransactions": 1349,
                      "refundTransactions": 697,
                      "verifyTransactions": 184,
                      "voidTransactions": 246,
                      "successfulTransactions": 2643,
                      "failedTransactions": 186,
                      "declinedTransactions": 91,
                      "pendingTransactions": 21,
                      "unknownTransactions": 0,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-05-29T00:00:00+00:00",
                          "intervalEnd": "2026-05-30T00:00:00+00:00",
                          "totalTransactions": 897,
                          "authorizeTransactions": 69,
                          "captureTransactions": 71,
                          "payTransactions": 696,
                          "refundTransactions": 5,
                          "verifyTransactions": 18,
                          "voidTransactions": 38,
                          "successfulTransactions": 807,
                          "failedTransactions": 47,
                          "declinedTransactions": 36,
                          "pendingTransactions": 7,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-05-30T00:00:00+00:00",
                          "intervalEnd": "2026-05-31T00:00:00+00:00",
                          "totalTransactions": 106,
                          "authorizeTransactions": 12,
                          "captureTransactions": 14,
                          "payTransactions": 70,
                          "refundTransactions": 7,
                          "verifyTransactions": 3,
                          "voidTransactions": 0,
                          "successfulTransactions": 95,
                          "failedTransactions": 6,
                          "declinedTransactions": 4,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-05-31T00:00:00+00:00",
                          "intervalEnd": "2026-06-01T00:00:00+00:00",
                          "totalTransactions": 345,
                          "authorizeTransactions": 26,
                          "captureTransactions": 33,
                          "payTransactions": 123,
                          "refundTransactions": 48,
                          "verifyTransactions": 5,
                          "voidTransactions": 110,
                          "successfulTransactions": 310,
                          "failedTransactions": 33,
                          "declinedTransactions": 1,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-06-01T00:00:00+00:00",
                          "intervalEnd": "2026-06-02T00:00:00+00:00",
                          "totalTransactions": 813,
                          "authorizeTransactions": 36,
                          "captureTransactions": 45,
                          "payTransactions": 85,
                          "refundTransactions": 523,
                          "verifyTransactions": 81,
                          "voidTransactions": 43,
                          "successfulTransactions": 731,
                          "failedTransactions": 36,
                          "declinedTransactions": 38,
                          "pendingTransactions": 8,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-06-02T00:00:00+00:00",
                          "intervalEnd": "2026-06-03T00:00:00+00:00",
                          "totalTransactions": 358,
                          "authorizeTransactions": 27,
                          "captureTransactions": 35,
                          "payTransactions": 284,
                          "refundTransactions": 8,
                          "verifyTransactions": 5,
                          "voidTransactions": -1,
                          "successfulTransactions": 322,
                          "failedTransactions": 27,
                          "declinedTransactions": 7,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-06-03T00:00:00+00:00",
                          "intervalEnd": "2026-06-04T00:00:00+00:00",
                          "totalTransactions": 181,
                          "authorizeTransactions": 11,
                          "captureTransactions": 19,
                          "payTransactions": 55,
                          "refundTransactions": 32,
                          "verifyTransactions": 59,
                          "voidTransactions": 5,
                          "successfulTransactions": 162,
                          "failedTransactions": 17,
                          "declinedTransactions": 1,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-06-04T00:00:00+00:00",
                          "intervalEnd": "2026-06-05T00:00:00+00:00",
                          "totalTransactions": 241,
                          "authorizeTransactions": 30,
                          "captureTransactions": 37,
                          "payTransactions": 36,
                          "refundTransactions": 74,
                          "verifyTransactions": 13,
                          "voidTransactions": 51,
                          "successfulTransactions": 216,
                          "failedTransactions": 20,
                          "declinedTransactions": 4,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-05-29T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-06-05T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "totalTransactions": {
                          "type": "integer",
                          "example": 2941,
                          "description": "Total number of transactions in the period",
                          "enum": []
                        },
                        "authorizeTransactions": {
                          "type": "integer",
                          "example": 211,
                          "description": "Number of authorize transactions in the period",
                          "enum": []
                        },
                        "captureTransactions": {
                          "type": "integer",
                          "example": 254,
                          "description": "Number of capture transactions in the period",
                          "enum": []
                        },
                        "payTransactions": {
                          "type": "integer",
                          "example": 1349,
                          "description": "Number of pay transactions in the period",
                          "enum": []
                        },
                        "refundTransactions": {
                          "type": "integer",
                          "example": 697,
                          "description": "Number of refund transactions in the period",
                          "enum": []
                        },
                        "verifyTransactions": {
                          "type": "integer",
                          "example": 184,
                          "description": "Number of verify transactions in the period",
                          "enum": []
                        },
                        "voidTransactions": {
                          "type": "integer",
                          "example": 246,
                          "description": "Number of void transactions in the period",
                          "enum": []
                        },
                        "successfulTransactions": {
                          "type": "integer",
                          "example": 2643,
                          "description": "Number of successful transactions in the period",
                          "enum": []
                        },
                        "failedTransactions": {
                          "type": "integer",
                          "example": 186,
                          "description": "Number of failed transactions in the period",
                          "enum": []
                        },
                        "declinedTransactions": {
                          "type": "integer",
                          "example": 91,
                          "description": "Number of declined transactions in the period",
                          "enum": []
                        },
                        "pendingTransactions": {
                          "type": "integer",
                          "example": 21,
                          "description": "Number of pending transactions in the period",
                          "enum": []
                        },
                        "unknownTransactions": {
                          "type": "integer",
                          "example": 0,
                          "description": "Number of transactions with unknown result in the period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-05-29T00:00:00+00:00",
                              "intervalEnd": "2026-05-30T00:00:00+00:00",
                              "totalTransactions": 897,
                              "authorizeTransactions": 69,
                              "captureTransactions": 71,
                              "payTransactions": 696,
                              "refundTransactions": 5,
                              "verifyTransactions": 18,
                              "voidTransactions": 38,
                              "successfulTransactions": 807,
                              "failedTransactions": 47,
                              "declinedTransactions": 36,
                              "pendingTransactions": 7,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-05-30T00:00:00+00:00",
                              "intervalEnd": "2026-05-31T00:00:00+00:00",
                              "totalTransactions": 106,
                              "authorizeTransactions": 12,
                              "captureTransactions": 14,
                              "payTransactions": 70,
                              "refundTransactions": 7,
                              "verifyTransactions": 3,
                              "voidTransactions": 0,
                              "successfulTransactions": 95,
                              "failedTransactions": 6,
                              "declinedTransactions": 4,
                              "pendingTransactions": 1,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-05-31T00:00:00+00:00",
                              "intervalEnd": "2026-06-01T00:00:00+00:00",
                              "totalTransactions": 345,
                              "authorizeTransactions": 26,
                              "captureTransactions": 33,
                              "payTransactions": 123,
                              "refundTransactions": 48,
                              "verifyTransactions": 5,
                              "voidTransactions": 110,
                              "successfulTransactions": 310,
                              "failedTransactions": 33,
                              "declinedTransactions": 1,
                              "pendingTransactions": 1,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-06-01T00:00:00+00:00",
                              "intervalEnd": "2026-06-02T00:00:00+00:00",
                              "totalTransactions": 813,
                              "authorizeTransactions": 36,
                              "captureTransactions": 45,
                              "payTransactions": 85,
                              "refundTransactions": 523,
                              "verifyTransactions": 81,
                              "voidTransactions": 43,
                              "successfulTransactions": 731,
                              "failedTransactions": 36,
                              "declinedTransactions": 38,
                              "pendingTransactions": 8,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-06-02T00:00:00+00:00",
                              "intervalEnd": "2026-06-03T00:00:00+00:00",
                              "totalTransactions": 358,
                              "authorizeTransactions": 27,
                              "captureTransactions": 35,
                              "payTransactions": 284,
                              "refundTransactions": 8,
                              "verifyTransactions": 5,
                              "voidTransactions": -1,
                              "successfulTransactions": 322,
                              "failedTransactions": 27,
                              "declinedTransactions": 7,
                              "pendingTransactions": 2,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-06-03T00:00:00+00:00",
                              "intervalEnd": "2026-06-04T00:00:00+00:00",
                              "totalTransactions": 181,
                              "authorizeTransactions": 11,
                              "captureTransactions": 19,
                              "payTransactions": 55,
                              "refundTransactions": 32,
                              "verifyTransactions": 59,
                              "voidTransactions": 5,
                              "successfulTransactions": 162,
                              "failedTransactions": 17,
                              "declinedTransactions": 1,
                              "pendingTransactions": 1,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-06-04T00:00:00+00:00",
                              "intervalEnd": "2026-06-05T00:00:00+00:00",
                              "totalTransactions": 241,
                              "authorizeTransactions": 30,
                              "captureTransactions": 37,
                              "payTransactions": 36,
                              "refundTransactions": 74,
                              "verifyTransactions": 13,
                              "voidTransactions": 51,
                              "successfulTransactions": 216,
                              "failedTransactions": 20,
                              "declinedTransactions": 4,
                              "pendingTransactions": 1,
                              "unknownTransactions": 0
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-05-29T00:00:00+00:00",
                                "description": "Start time of the analytics calculation interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-05-30T00:00:00+00:00",
                                "description": "End time of the analytics calculation interval",
                                "enum": []
                              },
                              "totalTransactions": {
                                "type": "integer",
                                "example": 897,
                                "description": "Total number of transactions in the interval",
                                "enum": []
                              },
                              "authorizeTransactions": {
                                "type": "integer",
                                "example": 69,
                                "description": "Number of authorize transactions in the interval",
                                "enum": []
                              },
                              "captureTransactions": {
                                "type": "integer",
                                "example": 71,
                                "description": "Number of capture transactions in the interval",
                                "enum": []
                              },
                              "payTransactions": {
                                "type": "integer",
                                "example": 696,
                                "description": "Number of pay transactions in the interval",
                                "enum": []
                              },
                              "refundTransactions": {
                                "type": "integer",
                                "example": 5,
                                "description": "Number of refund transactions in the interval",
                                "enum": []
                              },
                              "verifyTransactions": {
                                "type": "integer",
                                "example": 18,
                                "description": "Number of verify transactions in the interval",
                                "enum": []
                              },
                              "voidTransactions": {
                                "type": "integer",
                                "example": 38,
                                "description": "Number of void transactions in the interval",
                                "enum": []
                              },
                              "successfulTransactions": {
                                "type": "integer",
                                "example": 807,
                                "description": "Number of successful transactions in the interval",
                                "enum": []
                              },
                              "failedTransactions": {
                                "type": "integer",
                                "example": 47,
                                "description": "Number of failed transactions in the interval",
                                "enum": []
                              },
                              "declinedTransactions": {
                                "type": "integer",
                                "example": 36,
                                "description": "Number of declined transactions in the interval",
                                "enum": []
                              },
                              "pendingTransactions": {
                                "type": "integer",
                                "example": 7,
                                "description": "Number of pending transactions in the interval",
                                "enum": []
                              },
                              "unknownTransactions": {
                                "type": "integer",
                                "example": 0,
                                "description": "Number of transactions with unknown result in the interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/payments/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n\n### Tags:\n\nFilter by user-applied tags. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n\n### Tags:\n\nFilter by user-applied tags. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-05-29T00:00:00+00:00",
                      "periodEnd": "2026-06-05T00:00:00+00:00",
                      "totalSettlementAmount": 36002.52,
                      "totalFeeAmount": 1764.12348,
                      "totalNetAmount": 34238.39652,
                      "totalTransactionsPending": 223,
                      "totalTransactionsSettled": 1241,
                      "totalTransactionsSettling": 767,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-05-29T00:00:00+00:00",
                          "intervalEnd": "2026-05-30T00:00:00+00:00",
                          "totalSettlementAmount": 1368,
                          "totalFeeAmount": 67.032,
                          "totalNetAmount": 1300.968,
                          "totalTransactionsPending": 18,
                          "totalTransactionsSettled": 78,
                          "totalTransactionsSettling": 194
                        },
                        {
                          "intervalStart": "2026-05-30T00:00:00+00:00",
                          "intervalEnd": "2026-05-31T00:00:00+00:00",
                          "totalSettlementAmount": 7637.6,
                          "totalFeeAmount": 374.2424,
                          "totalNetAmount": 7263.3576,
                          "totalTransactionsPending": 33,
                          "totalTransactionsSettled": 290,
                          "totalTransactionsSettling": 64
                        },
                        {
                          "intervalStart": "2026-05-31T00:00:00+00:00",
                          "intervalEnd": "2026-06-01T00:00:00+00:00",
                          "totalSettlementAmount": 6098.54,
                          "totalFeeAmount": 298.82846,
                          "totalNetAmount": 5799.71154,
                          "totalTransactionsPending": 35,
                          "totalTransactionsSettled": 196,
                          "totalTransactionsSettling": 257
                        },
                        {
                          "intervalStart": "2026-06-01T00:00:00+00:00",
                          "intervalEnd": "2026-06-02T00:00:00+00:00",
                          "totalSettlementAmount": 6419.17,
                          "totalFeeAmount": 314.53933,
                          "totalNetAmount": 6104.63067,
                          "totalTransactionsPending": 39,
                          "totalTransactionsSettled": 96,
                          "totalTransactionsSettling": 24
                        },
                        {
                          "intervalStart": "2026-06-02T00:00:00+00:00",
                          "intervalEnd": "2026-06-03T00:00:00+00:00",
                          "totalSettlementAmount": 2871.53,
                          "totalFeeAmount": 140.70497,
                          "totalNetAmount": 2730.82503,
                          "totalTransactionsPending": 36,
                          "totalTransactionsSettled": 304,
                          "totalTransactionsSettling": 25
                        },
                        {
                          "intervalStart": "2026-06-03T00:00:00+00:00",
                          "intervalEnd": "2026-06-04T00:00:00+00:00",
                          "totalSettlementAmount": 8443.63,
                          "totalFeeAmount": 413.73787,
                          "totalNetAmount": 8029.89213,
                          "totalTransactionsPending": 24,
                          "totalTransactionsSettled": 36,
                          "totalTransactionsSettling": 89
                        },
                        {
                          "intervalStart": "2026-06-04T00:00:00+00:00",
                          "intervalEnd": "2026-06-05T00:00:00+00:00",
                          "totalSettlementAmount": 3164.05,
                          "totalFeeAmount": 155.03845,
                          "totalNetAmount": 3009.01155,
                          "totalTransactionsPending": 38,
                          "totalTransactionsSettled": 241,
                          "totalTransactionsSettling": 114
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-05-29T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-06-05T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "totalSettlementAmount": {
                          "type": "number",
                          "example": 36002.52,
                          "description": "Total settled payout amount in this period",
                          "enum": []
                        },
                        "totalFeeAmount": {
                          "type": "number",
                          "example": 1764.12348,
                          "description": "Total amount of fees charged for the payouts in this period",
                          "enum": []
                        },
                        "totalNetAmount": {
                          "type": "number",
                          "example": 34238.39652,
                          "description": "Total net payout amount in this period",
                          "enum": []
                        },
                        "totalTransactionsPending": {
                          "type": "integer",
                          "example": 223,
                          "description": "Total number of transactions pending in this period",
                          "enum": []
                        },
                        "totalTransactionsSettled": {
                          "type": "integer",
                          "example": 1241,
                          "description": "Total number of transactions settled in this period",
                          "enum": []
                        },
                        "totalTransactionsSettling": {
                          "type": "integer",
                          "example": 767,
                          "description": "Total number of transactions settling in this period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-05-29T00:00:00+00:00",
                              "intervalEnd": "2026-05-30T00:00:00+00:00",
                              "totalSettlementAmount": 1368,
                              "totalFeeAmount": 67.032,
                              "totalNetAmount": 1300.968,
                              "totalTransactionsPending": 18,
                              "totalTransactionsSettled": 78,
                              "totalTransactionsSettling": 194
                            },
                            {
                              "intervalStart": "2026-05-30T00:00:00+00:00",
                              "intervalEnd": "2026-05-31T00:00:00+00:00",
                              "totalSettlementAmount": 7637.6,
                              "totalFeeAmount": 374.2424,
                              "totalNetAmount": 7263.3576,
                              "totalTransactionsPending": 33,
                              "totalTransactionsSettled": 290,
                              "totalTransactionsSettling": 64
                            },
                            {
                              "intervalStart": "2026-05-31T00:00:00+00:00",
                              "intervalEnd": "2026-06-01T00:00:00+00:00",
                              "totalSettlementAmount": 6098.54,
                              "totalFeeAmount": 298.82846,
                              "totalNetAmount": 5799.71154,
                              "totalTransactionsPending": 35,
                              "totalTransactionsSettled": 196,
                              "totalTransactionsSettling": 257
                            },
                            {
                              "intervalStart": "2026-06-01T00:00:00+00:00",
                              "intervalEnd": "2026-06-02T00:00:00+00:00",
                              "totalSettlementAmount": 6419.17,
                              "totalFeeAmount": 314.53933,
                              "totalNetAmount": 6104.63067,
                              "totalTransactionsPending": 39,
                              "totalTransactionsSettled": 96,
                              "totalTransactionsSettling": 24
                            },
                            {
                              "intervalStart": "2026-06-02T00:00:00+00:00",
                              "intervalEnd": "2026-06-03T00:00:00+00:00",
                              "totalSettlementAmount": 2871.53,
                              "totalFeeAmount": 140.70497,
                              "totalNetAmount": 2730.82503,
                              "totalTransactionsPending": 36,
                              "totalTransactionsSettled": 304,
                              "totalTransactionsSettling": 25
                            },
                            {
                              "intervalStart": "2026-06-03T00:00:00+00:00",
                              "intervalEnd": "2026-06-04T00:00:00+00:00",
                              "totalSettlementAmount": 8443.63,
                              "totalFeeAmount": 413.73787,
                              "totalNetAmount": 8029.89213,
                              "totalTransactionsPending": 24,
                              "totalTransactionsSettled": 36,
                              "totalTransactionsSettling": 89
                            },
                            {
                              "intervalStart": "2026-06-04T00:00:00+00:00",
                              "intervalEnd": "2026-06-05T00:00:00+00:00",
                              "totalSettlementAmount": 3164.05,
                              "totalFeeAmount": 155.03845,
                              "totalNetAmount": 3009.01155,
                              "totalTransactionsPending": 38,
                              "totalTransactionsSettled": 241,
                              "totalTransactionsSettling": 114
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-05-29T00:00:00+00:00",
                                "description": "Start time of the analytics calculation interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-05-30T00:00:00+00:00",
                                "description": "End time of the analytics calculation interval",
                                "enum": []
                              },
                              "totalSettlementAmount": {
                                "type": "integer",
                                "example": 1368,
                                "description": "Total settled payout amount in this interval",
                                "enum": []
                              },
                              "totalFeeAmount": {
                                "type": "number",
                                "example": 67.032,
                                "description": "Total amount of fees charged for the payouts in this interval",
                                "enum": []
                              },
                              "totalNetAmount": {
                                "type": "number",
                                "example": 1300.968,
                                "description": "Total net payout amount in this interval",
                                "enum": []
                              },
                              "totalTransactionsPending": {
                                "type": "integer",
                                "example": 18,
                                "description": "Total number of transactions pending in this interval",
                                "enum": []
                              },
                              "totalTransactionsSettled": {
                                "type": "integer",
                                "example": 78,
                                "description": "Total number of transactions settled in this interval",
[...]
