{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.51.0"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-10T00:00:00+00:00",
                    "periodEnd": "2026-03-17T00:00:00+00:00",
                    "numPaymentsCreated": 3917,
                    "numPaymentsProcessed": 2037,
                    "numPaymentsIncomplete": 1880,
                    "numPaymentsWithRefunds": 985,
                    "numCardPresentPayments": 767,
                    "numCardNotPresentPayments": 1113,
                    "totalCapturedAmount": 2649099.94,
                    "totalRefundedAmount": 335917.44,
                    "totalNetCapturedAmount": 2313182.5,
                    "averageNetCapturedAmount": 1831.3014285714,
                    "minNetCapturedAmount": 18.57,
                    "maxNetCapturedAmount": 8703.93,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-10T00:00:00+00:00",
                        "intervalEnd": "2026-03-11T00:00:00+00:00",
                        "numPaymentsCreated": 847,
                        "numPaymentsProcessed": 624,
                        "numPaymentsIncomplete": 223,
                        "numPaymentsWithRefunds": 474,
                        "numCardPresentPayments": 57,
                        "numCardNotPresentPayments": 166,
                        "totalCapturedAmount": 241234.25,
                        "totalRefundedAmount": 66697.5,
                        "totalNetCapturedAmount": 174536.75,
                        "averageNetCapturedAmount": 279.71,
                        "minNetCapturedAmount": 18.57,
                        "maxNetCapturedAmount": 3870.99
                      },
                      {
                        "intervalStart": "2026-03-11T00:00:00+00:00",
                        "intervalEnd": "2026-03-12T00:00:00+00:00",
                        "numPaymentsCreated": 163,
                        "numPaymentsProcessed": 158,
                        "numPaymentsIncomplete": 5,
                        "numPaymentsWithRefunds": 2,
                        "numCardPresentPayments": 57,
                        "numCardNotPresentPayments": -52,
                        "totalCapturedAmount": 48478.69,
                        "totalRefundedAmount": 10639.05,
                        "totalNetCapturedAmount": 37839.64,
                        "averageNetCapturedAmount": 239.49,
                        "minNetCapturedAmount": 94.75,
                        "maxNetCapturedAmount": 8703.93
                      },
                      {
                        "intervalStart": "2026-03-12T00:00:00+00:00",
                        "intervalEnd": "2026-03-13T00:00:00+00:00",
                        "numPaymentsCreated": 859,
                        "numPaymentsProcessed": 511,
                        "numPaymentsIncomplete": 348,
                        "numPaymentsWithRefunds": 42,
                        "numCardPresentPayments": 211,
                        "numCardNotPresentPayments": 137,
                        "totalCapturedAmount": 238743.54,
                        "totalRefundedAmount": 16047.32,
                        "totalNetCapturedAmount": 222696.22,
                        "averageNetCapturedAmount": 435.8,
                        "minNetCapturedAmount": 50.83,
                        "maxNetCapturedAmount": 4779.21
                      },
                      {
                        "intervalStart": "2026-03-13T00:00:00+00:00",
                        "intervalEnd": "2026-03-14T00:00:00+00:00",
                        "numPaymentsCreated": 857,
                        "numPaymentsProcessed": 315,
                        "numPaymentsIncomplete": 542,
                        "numPaymentsWithRefunds": 235,
                        "numCardPresentPayments": 145,
                        "numCardNotPresentPayments": 397,
                        "totalCapturedAmount": 343544.12,
                        "totalRefundedAmount": 38905.62,
                        "totalNetCapturedAmount": 304638.5,
                        "averageNetCapturedAmount": 967.11,
                        "minNetCapturedAmount": 54.43,
                        "maxNetCapturedAmount": 3729.08
                      },
                      {
                        "intervalStart": "2026-03-14T00:00:00+00:00",
                        "intervalEnd": "2026-03-15T00:00:00+00:00",
                        "numPaymentsCreated": 195,
                        "numPaymentsProcessed": 150,
                        "numPaymentsIncomplete": 45,
                        "numPaymentsWithRefunds": 7,
                        "numCardPresentPayments": 113,
                        "numCardNotPresentPayments": -68,
                        "totalCapturedAmount": 705629.06,
                        "totalRefundedAmount": 78992.12,
                        "totalNetCapturedAmount": 626636.94,
                        "averageNetCapturedAmount": 4177.58,
                        "minNetCapturedAmount": 18.9,
                        "maxNetCapturedAmount": 1757.87
                      },
                      {
                        "intervalStart": "2026-03-15T00:00:00+00:00",
                        "intervalEnd": "2026-03-16T00:00:00+00:00",
                        "numPaymentsCreated": 507,
                        "numPaymentsProcessed": 174,
                        "numPaymentsIncomplete": 333,
                        "numPaymentsWithRefunds": 131,
                        "numCardPresentPayments": 91,
                        "numCardNotPresentPayments": 242,
                        "totalCapturedAmount": 648591.66,
                        "totalRefundedAmount": 40105.8,
                        "totalNetCapturedAmount": 608485.86,
                        "averageNetCapturedAmount": 3497.05,
                        "minNetCapturedAmount": 39.18,
                        "maxNetCapturedAmount": 2038.61
                      },
                      {
                        "intervalStart": "2026-03-16T00:00:00+00:00",
                        "intervalEnd": "2026-03-17T00:00:00+00:00",
                        "numPaymentsCreated": 489,
                        "numPaymentsProcessed": 105,
                        "numPaymentsIncomplete": 384,
                        "numPaymentsWithRefunds": 94,
                        "numCardPresentPayments": 93,
                        "numCardNotPresentPayments": 291,
                        "totalCapturedAmount": 422878.62,
                        "totalRefundedAmount": 84530.03,
                        "totalNetCapturedAmount": 338348.59,
                        "averageNetCapturedAmount": 3222.37,
                        "minNetCapturedAmount": 36.15,
                        "maxNetCapturedAmount": 8324.56
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-10T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-17T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 3917
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 2037
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 1880
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 985
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 767
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": 1113
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 2649099.94
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 335917.44
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 2313182.5
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 1831.3014285714
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 18.57
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 8703.93
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-10T00:00:00+00:00",
                          "intervalEnd": "2026-03-11T00:00:00+00:00",
                          "numPaymentsCreated": 847,
                          "numPaymentsProcessed": 624,
                          "numPaymentsIncomplete": 223,
                          "numPaymentsWithRefunds": 474,
                          "numCardPresentPayments": 57,
                          "numCardNotPresentPayments": 166,
                          "totalCapturedAmount": 241234.25,
                          "totalRefundedAmount": 66697.5,
                          "totalNetCapturedAmount": 174536.75,
                          "averageNetCapturedAmount": 279.71,
                          "minNetCapturedAmount": 18.57,
                          "maxNetCapturedAmount": 3870.99
                        },
                        {
                          "intervalStart": "2026-03-11T00:00:00+00:00",
                          "intervalEnd": "2026-03-12T00:00:00+00:00",
                          "numPaymentsCreated": 163,
                          "numPaymentsProcessed": 158,
                          "numPaymentsIncomplete": 5,
                          "numPaymentsWithRefunds": 2,
                          "numCardPresentPayments": 57,
                          "numCardNotPresentPayments": -52,
                          "totalCapturedAmount": 48478.69,
                          "totalRefundedAmount": 10639.05,
                          "totalNetCapturedAmount": 37839.64,
                          "averageNetCapturedAmount": 239.49,
                          "minNetCapturedAmount": 94.75,
                          "maxNetCapturedAmount": 8703.93
                        },
                        {
                          "intervalStart": "2026-03-12T00:00:00+00:00",
                          "intervalEnd": "2026-03-13T00:00:00+00:00",
                          "numPaymentsCreated": 859,
                          "numPaymentsProcessed": 511,
                          "numPaymentsIncomplete": 348,
                          "numPaymentsWithRefunds": 42,
                          "numCardPresentPayments": 211,
                          "numCardNotPresentPayments": 137,
                          "totalCapturedAmount": 238743.54,
                          "totalRefundedAmount": 16047.32,
                          "totalNetCapturedAmount": 222696.22,
                          "averageNetCapturedAmount": 435.8,
                          "minNetCapturedAmount": 50.83,
                          "maxNetCapturedAmount": 4779.21
                        },
                        {
                          "intervalStart": "2026-03-13T00:00:00+00:00",
                          "intervalEnd": "2026-03-14T00:00:00+00:00",
                          "numPaymentsCreated": 857,
                          "numPaymentsProcessed": 315,
                          "numPaymentsIncomplete": 542,
                          "numPaymentsWithRefunds": 235,
                          "numCardPresentPayments": 145,
                          "numCardNotPresentPayments": 397,
                          "totalCapturedAmount": 343544.12,
                          "totalRefundedAmount": 38905.62,
                          "totalNetCapturedAmount": 304638.5,
                          "averageNetCapturedAmount": 967.11,
                          "minNetCapturedAmount": 54.43,
                          "maxNetCapturedAmount": 3729.08
                        },
                        {
                          "intervalStart": "2026-03-14T00:00:00+00:00",
                          "intervalEnd": "2026-03-15T00:00:00+00:00",
                          "numPaymentsCreated": 195,
                          "numPaymentsProcessed": 150,
                          "numPaymentsIncomplete": 45,
                          "numPaymentsWithRefunds": 7,
                          "numCardPresentPayments": 113,
                          "numCardNotPresentPayments": -68,
                          "totalCapturedAmount": 705629.06,
                          "totalRefundedAmount": 78992.12,
                          "totalNetCapturedAmount": 626636.94,
                          "averageNetCapturedAmount": 4177.58,
                          "minNetCapturedAmount": 18.9,
                          "maxNetCapturedAmount": 1757.87
                        },
                        {
                          "intervalStart": "2026-03-15T00:00:00+00:00",
                          "intervalEnd": "2026-03-16T00:00:00+00:00",
                          "numPaymentsCreated": 507,
                          "numPaymentsProcessed": 174,
                          "numPaymentsIncomplete": 333,
                          "numPaymentsWithRefunds": 131,
                          "numCardPresentPayments": 91,
                          "numCardNotPresentPayments": 242,
                          "totalCapturedAmount": 648591.66,
                          "totalRefundedAmount": 40105.8,
                          "totalNetCapturedAmount": 608485.86,
                          "averageNetCapturedAmount": 3497.05,
                          "minNetCapturedAmount": 39.18,
                          "maxNetCapturedAmount": 2038.61
                        },
                        {
                          "intervalStart": "2026-03-16T00:00:00+00:00",
                          "intervalEnd": "2026-03-17T00:00:00+00:00",
                          "numPaymentsCreated": 489,
                          "numPaymentsProcessed": 105,
                          "numPaymentsIncomplete": 384,
                          "numPaymentsWithRefunds": 94,
                          "numCardPresentPayments": 93,
                          "numCardNotPresentPayments": 291,
                          "totalCapturedAmount": 422878.62,
                          "totalRefundedAmount": 84530.03,
                          "totalNetCapturedAmount": 338348.59,
                          "averageNetCapturedAmount": 3222.37,
                          "minNetCapturedAmount": 36.15,
                          "maxNetCapturedAmount": 8324.56
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-10T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-11T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 847
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 624
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 223
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 474
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 57
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": 166
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 241234.25
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 66697.5
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 174536.75
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 279.71
                          },
                          "minNetCapturedAmount": {
                            "type": "number",
                            "example": 18.57
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 3870.99
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-10T00:00:00+00:00",
                    "periodEnd": "2026-03-17T00:00:00+00:00",
                    "activeCustomers": 115,
                    "newCustomers": 232,
                    "returningCustomers": -117,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-10T00:00:00+00:00",
                        "intervalEnd": "2026-03-11T00:00:00+00:00",
                        "activeCustomers": 60,
                        "newCustomers": 14,
                        "returningCustomers": 46
                      },
                      {
                        "intervalStart": "2026-03-11T00:00:00+00:00",
                        "intervalEnd": "2026-03-12T00:00:00+00:00",
                        "activeCustomers": 70,
                        "newCustomers": 24,
                        "returningCustomers": 46
                      },
                      {
                        "intervalStart": "2026-03-12T00:00:00+00:00",
                        "intervalEnd": "2026-03-13T00:00:00+00:00",
                        "activeCustomers": 57,
                        "newCustomers": 21,
                        "returningCustomers": 36
                      },
                      {
                        "intervalStart": "2026-03-13T00:00:00+00:00",
                        "intervalEnd": "2026-03-14T00:00:00+00:00",
                        "activeCustomers": 77,
                        "newCustomers": 46,
                        "returningCustomers": 31
                      },
                      {
                        "intervalStart": "2026-03-14T00:00:00+00:00",
                        "intervalEnd": "2026-03-15T00:00:00+00:00",
                        "activeCustomers": 67,
                        "newCustomers": 5,
                        "returningCustomers": 62
                      },
                      {
                        "intervalStart": "2026-03-15T00:00:00+00:00",
                        "intervalEnd": "2026-03-16T00:00:00+00:00",
                        "activeCustomers": 90,
                        "newCustomers": 71,
                        "returningCustomers": 19
                      },
                      {
                        "intervalStart": "2026-03-16T00:00:00+00:00",
                        "intervalEnd": "2026-03-17T00:00:00+00:00",
                        "activeCustomers": 61,
                        "newCustomers": 51,
                        "returningCustomers": 10
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-10T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-17T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 115
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 232
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": -117
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-10T00:00:00+00:00",
                          "intervalEnd": "2026-03-11T00:00:00+00:00",
                          "activeCustomers": 60,
                          "newCustomers": 14,
                          "returningCustomers": 46
                        },
                        {
                          "intervalStart": "2026-03-11T00:00:00+00:00",
                          "intervalEnd": "2026-03-12T00:00:00+00:00",
                          "activeCustomers": 70,
                          "newCustomers": 24,
                          "returningCustomers": 46
                        },
                        {
                          "intervalStart": "2026-03-12T00:00:00+00:00",
                          "intervalEnd": "2026-03-13T00:00:00+00:00",
                          "activeCustomers": 57,
                          "newCustomers": 21,
                          "returningCustomers": 36
                        },
                        {
                          "intervalStart": "2026-03-13T00:00:00+00:00",
                          "intervalEnd": "2026-03-14T00:00:00+00:00",
                          "activeCustomers": 77,
                          "newCustomers": 46,
                          "returningCustomers": 31
                        },
                        {
                          "intervalStart": "2026-03-14T00:00:00+00:00",
                          "intervalEnd": "2026-03-15T00:00:00+00:00",
                          "activeCustomers": 67,
                          "newCustomers": 5,
                          "returningCustomers": 62
                        },
                        {
                          "intervalStart": "2026-03-15T00:00:00+00:00",
                          "intervalEnd": "2026-03-16T00:00:00+00:00",
                          "activeCustomers": 90,
                          "newCustomers": 71,
                          "returningCustomers": 19
                        },
                        {
                          "intervalStart": "2026-03-16T00:00:00+00:00",
                          "intervalEnd": "2026-03-17T00:00:00+00:00",
                          "activeCustomers": 61,
                          "newCustomers": 51,
                          "returningCustomers": 10
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-10T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-11T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 60
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 14
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 46
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-10T00:00:00+00:00",
                    "periodEnd": "2026-03-17T00:00:00+00:00",
                    "totalTransactions": 3403,
                    "authorizeTransactions": 266,
                    "captureTransactions": 294,
                    "payTransactions": 1522,
                    "refundTransactions": 541,
                    "verifyTransactions": 261,
                    "voidTransactions": 519,
                    "successfulTransactions": 3060,
                    "failedTransactions": 206,
                    "declinedTransactions": 115,
                    "pendingTransactions": 22,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-10T00:00:00+00:00",
                        "intervalEnd": "2026-03-11T00:00:00+00:00",
                        "totalTransactions": 389,
                        "authorizeTransactions": 19,
                        "captureTransactions": 24,
                        "payTransactions": 253,
                        "refundTransactions": 6,
                        "verifyTransactions": 80,
                        "voidTransactions": 7,
                        "successfulTransactions": 350,
                        "failedTransactions": 24,
                        "declinedTransactions": 13,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-11T00:00:00+00:00",
                        "intervalEnd": "2026-03-12T00:00:00+00:00",
                        "totalTransactions": 236,
                        "authorizeTransactions": 19,
                        "captureTransactions": 21,
                        "payTransactions": 69,
                        "refundTransactions": 5,
                        "verifyTransactions": 63,
                        "voidTransactions": 59,
                        "successfulTransactions": 212,
                        "failedTransactions": 13,
                        "declinedTransactions": 10,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-12T00:00:00+00:00",
                        "intervalEnd": "2026-03-13T00:00:00+00:00",
                        "totalTransactions": 454,
                        "authorizeTransactions": 52,
                        "captureTransactions": 56,
                        "payTransactions": 81,
                        "refundTransactions": 99,
                        "verifyTransactions": 68,
                        "voidTransactions": 98,
                        "successfulTransactions": 408,
                        "failedTransactions": 28,
                        "declinedTransactions": 15,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-13T00:00:00+00:00",
                        "intervalEnd": "2026-03-14T00:00:00+00:00",
                        "totalTransactions": 634,
                        "authorizeTransactions": 22,
                        "captureTransactions": 24,
                        "payTransactions": 138,
                        "refundTransactions": 297,
                        "verifyTransactions": 11,
                        "voidTransactions": 142,
                        "successfulTransactions": 570,
                        "failedTransactions": 57,
                        "declinedTransactions": 2,
                        "pendingTransactions": 5,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-14T00:00:00+00:00",
                        "intervalEnd": "2026-03-15T00:00:00+00:00",
                        "totalTransactions": 666,
                        "authorizeTransactions": 77,
                        "captureTransactions": 78,
                        "payTransactions": 253,
                        "refundTransactions": 100,
                        "verifyTransactions": 27,
                        "voidTransactions": 131,
                        "successfulTransactions": 599,
                        "failedTransactions": 34,
                        "declinedTransactions": 31,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-15T00:00:00+00:00",
                        "intervalEnd": "2026-03-16T00:00:00+00:00",
                        "totalTransactions": 409,
                        "authorizeTransactions": 37,
                        "captureTransactions": 42,
                        "payTransactions": 210,
                        "refundTransactions": 28,
                        "verifyTransactions": 9,
                        "voidTransactions": 83,
                        "successfulTransactions": 368,
                        "failedTransactions": 18,
                        "declinedTransactions": 19,
                        "pendingTransactions": 4,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-16T00:00:00+00:00",
                        "intervalEnd": "2026-03-17T00:00:00+00:00",
                        "totalTransactions": 615,
                        "authorizeTransactions": 40,
                        "captureTransactions": 49,
                        "payTransactions": 518,
                        "refundTransactions": 6,
                        "verifyTransactions": 3,
                        "voidTransactions": -1,
                        "successfulTransactions": 553,
                        "failedTransactions": 32,
                        "declinedTransactions": 25,
                        "pendingTransactions": 5,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-10T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-17T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 3403
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 266
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 294
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 1522
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 541
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 261
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 519
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 3060
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 206
                    },
                    "declinedTransactions": {
                      "type": "integer",
                      "example": 115
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 22
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-10T00:00:00+00:00",
                          "intervalEnd": "2026-03-11T00:00:00+00:00",
                          "totalTransactions": 389,
                          "authorizeTransactions": 19,
                          "captureTransactions": 24,
                          "payTransactions": 253,
                          "refundTransactions": 6,
                          "verifyTransactions": 80,
                          "voidTransactions": 7,
                          "successfulTransactions": 350,
                          "failedTransactions": 24,
                          "declinedTransactions": 13,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-11T00:00:00+00:00",
                          "intervalEnd": "2026-03-12T00:00:00+00:00",
                          "totalTransactions": 236,
                          "authorizeTransactions": 19,
                          "captureTransactions": 21,
                          "payTransactions": 69,
                          "refundTransactions": 5,
                          "verifyTransactions": 63,
                          "voidTransactions": 59,
                          "successfulTransactions": 212,
                          "failedTransactions": 13,
                          "declinedTransactions": 10,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-12T00:00:00+00:00",
                          "intervalEnd": "2026-03-13T00:00:00+00:00",
                          "totalTransactions": 454,
                          "authorizeTransactions": 52,
                          "captureTransactions": 56,
                          "payTransactions": 81,
                          "refundTransactions": 99,
                          "verifyTransactions": 68,
                          "voidTransactions": 98,
                          "successfulTransactions": 408,
                          "failedTransactions": 28,
                          "declinedTransactions": 15,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-13T00:00:00+00:00",
                          "intervalEnd": "2026-03-14T00:00:00+00:00",
                          "totalTransactions": 634,
                          "authorizeTransactions": 22,
                          "captureTransactions": 24,
                          "payTransactions": 138,
                          "refundTransactions": 297,
                          "verifyTransactions": 11,
                          "voidTransactions": 142,
                          "successfulTransactions": 570,
                          "failedTransactions": 57,
                          "declinedTransactions": 2,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-14T00:00:00+00:00",
                          "intervalEnd": "2026-03-15T00:00:00+00:00",
                          "totalTransactions": 666,
                          "authorizeTransactions": 77,
                          "captureTransactions": 78,
                          "payTransactions": 253,
                          "refundTransactions": 100,
                          "verifyTransactions": 27,
                          "voidTransactions": 131,
                          "successfulTransactions": 599,
                          "failedTransactions": 34,
                          "declinedTransactions": 31,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-15T00:00:00+00:00",
                          "intervalEnd": "2026-03-16T00:00:00+00:00",
                          "totalTransactions": 409,
                          "authorizeTransactions": 37,
                          "captureTransactions": 42,
                          "payTransactions": 210,
                          "refundTransactions": 28,
                          "verifyTransactions": 9,
                          "voidTransactions": 83,
                          "successfulTransactions": 368,
                          "failedTransactions": 18,
                          "declinedTransactions": 19,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-16T00:00:00+00:00",
                          "intervalEnd": "2026-03-17T00:00:00+00:00",
                          "totalTransactions": 615,
                          "authorizeTransactions": 40,
                          "captureTransactions": 49,
                          "payTransactions": 518,
                          "refundTransactions": 6,
                          "verifyTransactions": 3,
                          "voidTransactions": -1,
                          "successfulTransactions": 553,
                          "failedTransactions": 32,
                          "declinedTransactions": 25,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-10T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-11T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 389
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 19
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 24
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 253
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 6
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 80
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": 7
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 350
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 24
                          },
                          "declinedTransactions": {
                            "type": "integer",
                            "example": 13
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 2
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-10T00:00:00+00:00",
                    "periodEnd": "2026-03-17T00:00:00+00:00",
                    "totalSettlementAmount": 32263.83,
                    "totalFeeAmount": 1580.92767,
                    "totalNetAmount": 30682.90233,
                    "totalTransactionsPending": 115,
                    "totalTransactionsSettled": 983,
                    "totalTransactionsSettling": 1318,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-10T00:00:00+00:00",
                        "intervalEnd": "2026-03-11T00:00:00+00:00",
                        "totalSettlementAmount": 4622.13,
                        "totalFeeAmount": 226.48437,
                        "totalNetAmount": 4395.64563,
                        "totalTransactionsPending": 35,
                        "totalTransactionsSettled": 112,
                        "totalTransactionsSettling": 266
                      },
                      {
                        "intervalStart": "2026-03-11T00:00:00+00:00",
                        "intervalEnd": "2026-03-12T00:00:00+00:00",
                        "totalSettlementAmount": 5863.45,
                        "totalFeeAmount": 287.30905,
                        "totalNetAmount": 5576.14095,
                        "totalTransactionsPending": 28,
                        "totalTransactionsSettled": 59,
                        "totalTransactionsSettling": 283
                      },
                      {
                        "intervalStart": "2026-03-12T00:00:00+00:00",
                        "intervalEnd": "2026-03-13T00:00:00+00:00",
                        "totalSettlementAmount": 1155.66,
                        "totalFeeAmount": 56.62734,
                        "totalNetAmount": 1099.03266,
                        "totalTransactionsPending": 5,
                        "totalTransactionsSettled": 85,
                        "totalTransactionsSettling": 205
                      },
                      {
                        "intervalStart": "2026-03-13T00:00:00+00:00",
                        "intervalEnd": "2026-03-14T00:00:00+00:00",
                        "totalSettlementAmount": 4362.5,
                        "totalFeeAmount": 213.7625,
                        "totalNetAmount": 4148.7375,
                        "totalTransactionsPending": 9,
                        "totalTransactionsSettled": 402,
                        "totalTransactionsSettling": 37
                      },
                      {
                        "intervalStart": "2026-03-14T00:00:00+00:00",
                        "intervalEnd": "2026-03-15T00:00:00+00:00",
                        "totalSettlementAmount": 6404.07,
                        "totalFeeAmount": 313.79943,
                        "totalNetAmount": 6090.27057,
                        "totalTransactionsPending": 18,
                        "totalTransactionsSettled": 73,
                        "totalTransactionsSettling": 228
                      },
                      {
                        "intervalStart": "2026-03-15T00:00:00+00:00",
                        "intervalEnd": "2026-03-16T00:00:00+00:00",
                        "totalSettlementAmount": 7632.16,
                        "totalFeeAmount": 373.97584,
                        "totalNetAmount": 7258.18416,
                        "totalTransactionsPending": 14,
                        "totalTransactionsSettled": 120,
                        "totalTransactionsSettling": 144
                      },
                      {
                        "intervalStart": "2026-03-16T00:00:00+00:00",
                        "intervalEnd": "2026-03-17T00:00:00+00:00",
                        "totalSettlementAmount": 2223.86,
                        "totalFeeAmount": 108.96914,
                        "totalNetAmount": 2114.89086,
                        "totalTransactionsPending": 6,
                        "totalTransactionsSettled": 132,
                        "totalTransactionsSettling": 155
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-10T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-17T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 32263.83
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 1580.92767
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 30682.90233
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 115
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 983
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 1318
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-10T00:00:00+00:00",
                          "intervalEnd": "2026-03-11T00:00:00+00:00",
                          "totalSettlementAmount": 4622.13,
                          "totalFeeAmount": 226.48437,
                          "totalNetAmount": 4395.64563,
                          "totalTransactionsPending": 35,
                          "totalTransactionsSettled": 112,
                          "totalTransactionsSettling": 266
                        },
                        {
                          "intervalStart": "2026-03-11T00:00:00+00:00",
                          "intervalEnd": "2026-03-12T00:00:00+00:00",
                          "totalSettlementAmount": 5863.45,
                          "totalFeeAmount": 287.30905,
                          "totalNetAmount": 5576.14095,
                          "totalTransactionsPending": 28,
                          "totalTransactionsSettled": 59,
                          "totalTransactionsSettling": 283
                        },
                        {
                          "intervalStart": "2026-03-12T00:00:00+00:00",
                          "intervalEnd": "2026-03-13T00:00:00+00:00",
                          "totalSettlementAmount": 1155.66,
                          "totalFeeAmount": 56.62734,
                          "totalNetAmount": 1099.03266,
                          "totalTransactionsPending": 5,
                          "totalTransactionsSettled": 85,
                          "totalTransactionsSettling": 205
                        },
                        {
                          "intervalStart": "2026-03-13T00:00:00+00:00",
                          "intervalEnd": "2026-03-14T00:00:00+00:00",
                          "totalSettlementAmount": 4362.5,
                          "totalFeeAmount": 213.7625,
                          "totalNetAmount": 4148.7375,
                          "totalTransactionsPending": 9,
                          "totalTransactionsSettled": 402,
                          "totalTransactionsSettling": 37
                        },
                        {
                          "intervalStart": "2026-03-14T00:00:00+00:00",
                          "intervalEnd": "2026-03-15T00:00:00+00:00",
                          "totalSettlementAmount": 6404.07,
                          "totalFeeAmount": 313.79943,
                          "totalNetAmount": 6090.27057,
                          "totalTransactionsPending": 18,
                          "totalTransactionsSettled": 73,
                          "totalTransactionsSettling": 228
                        },
                        {
                          "intervalStart": "2026-03-15T00:00:00+00:00",
                          "intervalEnd": "2026-03-16T00:00:00+00:00",
                          "totalSettlementAmount": 7632.16,
                          "totalFeeAmount": 373.97584,
                          "totalNetAmount": 7258.18416,
                          "totalTransactionsPending": 14,
                          "totalTransactionsSettled": 120,
                          "totalTransactionsSettling": 144
                        },
                        {
                          "intervalStart": "2026-03-16T00:00:00+00:00",
                          "intervalEnd": "2026-03-17T00:00:00+00:00",
                          "totalSettlementAmount": 2223.86,
                          "totalFeeAmount": 108.96914,
                          "totalNetAmount": 2114.89086,
                          "totalTransactionsPending": 6,
                          "totalTransactionsSettled": 132,
                          "totalTransactionsSettling": 155
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-10T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-11T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 4622.13
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 226.48437
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 4395.64563
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 35
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 112
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 266
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 7,
                    "data": [
                      {
                        "email": "glennie.stanton@yahoo.com",
                        "firstName": "Marilou",
                        "lastName": "Cummings",
                        "phone": "+16124249873",
                        "dateOfBirth": "1989-10-23"
                      },
                      {
                        "email": "nschaefer@hotmail.com",
                        "firstName": "Kenneth",
                        "lastName": "Kuhlman",
                        "phone": "+17258053979",
                        "dateOfBirth": "1999-02-08"
                      },
                      {
                        "email": "mona.paucek@hotmail.com",
                        "firstName": "Gudrun",
                        "lastName": "Farrell",
                        "phone": "+16788159035",
                        "dateOfBirth": "1991-01-19"
                      },
                      {
                        "email": "vjakubowski@paucek.com",
                        "firstName": "Liliane",
                        "lastName": "Mitchell",
                        "phone": "+13466199407",
                        "dateOfBirth": "1990-07-19"
                      },
                      {
                        "email": "nestor04@wolff.com",
                        "firstName": "Ruthe",
                        "lastName": "Becker",
                        "phone": "+12027103156",
                        "dateOfBirth": "1998-01-26"
                      },
                      {
                        "email": "zoie52@leannon.biz",
                        "firstName": "Pearlie",
                        "lastName": "Johnson",
                        "phone": "+16892087964",
                        "dateOfBirth": "1975-11-17"
                      },
                      {
                        "email": "deonte.douglas@gmail.com",
                        "firstName": "Valentin",
                        "lastName": "Mueller",
                        "phone": "+12763463829",
                        "dateOfBirth": "1996-04-15"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 7,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "glennie.stanton@yahoo.com",
                          "firstName": "Marilou",
                          "lastName": "Cummings",
                          "phone": "+16124249873",
                          "dateOfBirth": "1989-10-23"
                        },
                        {
                          "email": "nschaefer@hotmail.com",
                          "firstName": "Kenneth",
                          "lastName": "Kuhlman",
                          "phone": "+17258053979",
                          "dateOfBirth": "1999-02-08"
                        },
                        {
                          "email": "mona.paucek@hotmail.com",
                          "firstName": "Gudrun",
                          "lastName": "Farrell",
                          "phone": "+16788159035",
                          "dateOfBirth": "1991-01-19"
                        },
                        {
                          "email": "vjakubowski@paucek.com",
                          "firstName": "Liliane",
                          "lastName": "Mitchell",
                          "phone": "+13466199407",
                          "dateOfBirth": "1990-07-19"
                        },
                        {
                          "email": "nestor04@wolff.com",
                          "firstName": "Ruthe",
                          "lastName": "Becker",
                          "phone": "+12027103156",
                          "dateOfBirth": "1998-01-26"
                        },
                        {
                          "email": "zoie52@leannon.biz",
                          "firstName": "Pearlie",
                          "lastName": "Johnson",
                          "phone": "+16892087964",
                          "dateOfBirth": "1975-11-17"
                        },
                        {
                          "email": "deonte.douglas@gmail.com",
                          "firstName": "Valentin",
                          "lastName": "Mueller",
                          "phone": "+12763463829",
                          "dateOfBirth": "1996-04-15"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "glennie.stanton@yahoo.com"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Marilou"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Cummings"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+16124249873"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "1989-10-23"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers/{customerIdOrEmail}/addresses": {
      "get": {
        "summary": "List Customer Billing Addresses",
        "operationId": "listCustomerBillingAddresses",
        "description": "Returns all unique billing addresses that have been used by a customer across their payments.\nAddresses are deduplicated using case-insensitive and whitespace-insensitive comparison.",
        "parameters": [
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
            "example": "-city",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
              "example": "-city",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of unique billing addresses for the customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "company": "Kris, Gottlieb and Haag",
                        "street": "2879 Nelson Streets Suite 062",
                        "city": "Isabelhaven",
                        "stateProvince": "DE",
                        "postcodeZip": "06600-8093",
                        "country": "USA"
                      },
                      {
                        "company": "Kunde, Satterfield and Pouros",
                        "street": "1531 Seamus Ville Suite 124",
                        "city": "Nathanberg",
                        "stateProvince": "TN",
                        "postcodeZip": "68642",
                        "country": "USA"
                      },
                      {
                        "company": "Stehr-Friesen",
                        "street": "8839 Erling Unions",
                        "city": "Hansenchester",
                        "stateProvince": "MO",
                        "postcodeZip": "63798",
                        "country": "USA"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "company": "Kris, Gottlieb and Haag",
                          "street": "2879 Nelson Streets Suite 062",
                          "city": "Isabelhaven",
                          "stateProvince": "DE",
                          "postcodeZip": "06600-8093",
                          "country": "USA"
                        },
                        {
                          "company": "Kunde, Satterfield and Pouros",
                          "street": "1531 Seamus Ville Suite 124",
                          "city": "Nathanberg",
                          "stateProvince": "TN",
                          "postcodeZip": "68642",
                          "country": "USA"
                        },
                        {
                          "company": "Stehr-Friesen",
                          "street": "8839 Erling Unions",
                          "city": "Hansenchester",
                          "stateProvince": "MO",
                          "postcodeZip": "63798",
                          "country": "USA"
                        }
                      ],
                      "description": "The data returned from the request",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "company": {
                            "type": "string",
                            "example": "Kris, Gottlieb and Haag"
                          },
                          "street": {
                            "type": "string",
                            "example": "2879 Nelson Streets Suite 062"
                          },
                          "city": {
                            "type": "string",
                            "example": "Isabelhaven"
                          },
                          "stateProvince": {
                            "type": "string",
                            "example": "DE"
                          },
                          "postcodeZip": {
                            "type": "string",
                            "example": "06600-8093"
                          },
                          "country": {
                            "type": "string",
                            "example": "USA"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "path",
          "name": "customerIdOrEmail",
          "description": "The customer ID, UUID, or email address",
          "example": "customer_123",
          "required": true,
[...]
