{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.65.4"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payout Exports",
      "description": "Create payout exports"
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-15T00:00:00+00:00",
                    "periodEnd": "2026-04-22T00:00:00+00:00",
                    "numPaymentsCreated": 6130,
                    "numPaymentsProcessed": 1804,
                    "numPaymentsIncomplete": 4326,
                    "numPaymentsWithRefunds": 1065,
                    "numCardPresentPayments": 609,
                    "numCardNotPresentPayments": 3717,
                    "totalCapturedAmount": 3717256.74,
                    "totalRefundedAmount": 554522.59,
                    "totalNetCapturedAmount": 3162734.15,
                    "averageNetCapturedAmount": 3008.4071428571,
                    "minNetCapturedAmount": 26.19,
                    "maxNetCapturedAmount": 9937.96,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-15T00:00:00+00:00",
                        "intervalEnd": "2026-04-16T00:00:00+00:00",
                        "numPaymentsCreated": 783,
                        "numPaymentsProcessed": 134,
                        "numPaymentsIncomplete": 649,
                        "numPaymentsWithRefunds": 105,
                        "numCardPresentPayments": 124,
                        "numCardNotPresentPayments": 525,
                        "totalCapturedAmount": 367325.55,
                        "totalRefundedAmount": 11251.11,
                        "totalNetCapturedAmount": 356074.44,
                        "averageNetCapturedAmount": 2657.27,
                        "minNetCapturedAmount": 26.19,
                        "maxNetCapturedAmount": 1989.31
                      },
                      {
                        "intervalStart": "2026-04-16T00:00:00+00:00",
                        "intervalEnd": "2026-04-17T00:00:00+00:00",
                        "numPaymentsCreated": 688,
                        "numPaymentsProcessed": 255,
                        "numPaymentsIncomplete": 433,
                        "numPaymentsWithRefunds": 151,
                        "numCardPresentPayments": 96,
                        "numCardNotPresentPayments": 337,
                        "totalCapturedAmount": 938605.5,
                        "totalRefundedAmount": 104431.22,
                        "totalNetCapturedAmount": 834174.28,
                        "averageNetCapturedAmount": 3271.27,
                        "minNetCapturedAmount": 60.75,
                        "maxNetCapturedAmount": 9937.96
                      },
                      {
                        "intervalStart": "2026-04-17T00:00:00+00:00",
                        "intervalEnd": "2026-04-18T00:00:00+00:00",
                        "numPaymentsCreated": 954,
                        "numPaymentsProcessed": 646,
                        "numPaymentsIncomplete": 308,
                        "numPaymentsWithRefunds": 484,
                        "numCardPresentPayments": 124,
                        "numCardNotPresentPayments": 184,
                        "totalCapturedAmount": 351563.88,
                        "totalRefundedAmount": 70936.46,
                        "totalNetCapturedAmount": 280627.42,
                        "averageNetCapturedAmount": 434.41,
                        "minNetCapturedAmount": 40.59,
                        "maxNetCapturedAmount": 4387.42
                      },
                      {
                        "intervalStart": "2026-04-18T00:00:00+00:00",
                        "intervalEnd": "2026-04-19T00:00:00+00:00",
                        "numPaymentsCreated": 925,
                        "numPaymentsProcessed": 337,
                        "numPaymentsIncomplete": 588,
                        "numPaymentsWithRefunds": 107,
                        "numCardPresentPayments": 50,
                        "numCardNotPresentPayments": 538,
                        "totalCapturedAmount": 765502.69,
                        "totalRefundedAmount": 77112.6,
                        "totalNetCapturedAmount": 688390.09,
                        "averageNetCapturedAmount": 2042.7,
                        "minNetCapturedAmount": 85.45,
                        "maxNetCapturedAmount": 9597.25
                      },
                      {
                        "intervalStart": "2026-04-19T00:00:00+00:00",
                        "intervalEnd": "2026-04-20T00:00:00+00:00",
                        "numPaymentsCreated": 999,
                        "numPaymentsProcessed": 257,
                        "numPaymentsIncomplete": 742,
                        "numPaymentsWithRefunds": 150,
                        "numCardPresentPayments": 146,
                        "numCardNotPresentPayments": 596,
                        "totalCapturedAmount": 14799.65,
                        "totalRefundedAmount": 161.03,
                        "totalNetCapturedAmount": 14638.62,
                        "averageNetCapturedAmount": 56.96,
                        "minNetCapturedAmount": 29.85,
                        "maxNetCapturedAmount": 5845.25
                      },
                      {
                        "intervalStart": "2026-04-20T00:00:00+00:00",
                        "intervalEnd": "2026-04-21T00:00:00+00:00",
                        "numPaymentsCreated": 867,
                        "numPaymentsProcessed": 110,
                        "numPaymentsIncomplete": 757,
                        "numPaymentsWithRefunds": 35,
                        "numCardPresentPayments": 10,
                        "numCardNotPresentPayments": 747,
                        "totalCapturedAmount": 487572.68,
                        "totalRefundedAmount": 71837.52,
                        "totalNetCapturedAmount": 415735.16,
                        "averageNetCapturedAmount": 3779.41,
                        "minNetCapturedAmount": 76.06,
                        "maxNetCapturedAmount": 9118.13
                      },
                      {
                        "intervalStart": "2026-04-21T00:00:00+00:00",
                        "intervalEnd": "2026-04-22T00:00:00+00:00",
                        "numPaymentsCreated": 914,
                        "numPaymentsProcessed": 65,
                        "numPaymentsIncomplete": 849,
                        "numPaymentsWithRefunds": 33,
                        "numCardPresentPayments": 59,
                        "numCardNotPresentPayments": 790,
                        "totalCapturedAmount": 791886.79,
                        "totalRefundedAmount": 218792.65,
                        "totalNetCapturedAmount": 573094.14,
                        "averageNetCapturedAmount": 8816.83,
                        "minNetCapturedAmount": 59.09,
                        "maxNetCapturedAmount": 6877.72
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-15T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-22T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 6130
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 1804
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 4326
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 1065
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 609
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": 3717
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 3717256.74
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 554522.59
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 3162734.15
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 3008.4071428571
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 26.19
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 9937.96
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-15T00:00:00+00:00",
                          "intervalEnd": "2026-04-16T00:00:00+00:00",
                          "numPaymentsCreated": 783,
                          "numPaymentsProcessed": 134,
                          "numPaymentsIncomplete": 649,
                          "numPaymentsWithRefunds": 105,
                          "numCardPresentPayments": 124,
                          "numCardNotPresentPayments": 525,
                          "totalCapturedAmount": 367325.55,
                          "totalRefundedAmount": 11251.11,
                          "totalNetCapturedAmount": 356074.44,
                          "averageNetCapturedAmount": 2657.27,
                          "minNetCapturedAmount": 26.19,
                          "maxNetCapturedAmount": 1989.31
                        },
                        {
                          "intervalStart": "2026-04-16T00:00:00+00:00",
                          "intervalEnd": "2026-04-17T00:00:00+00:00",
                          "numPaymentsCreated": 688,
                          "numPaymentsProcessed": 255,
                          "numPaymentsIncomplete": 433,
                          "numPaymentsWithRefunds": 151,
                          "numCardPresentPayments": 96,
                          "numCardNotPresentPayments": 337,
                          "totalCapturedAmount": 938605.5,
                          "totalRefundedAmount": 104431.22,
                          "totalNetCapturedAmount": 834174.28,
                          "averageNetCapturedAmount": 3271.27,
                          "minNetCapturedAmount": 60.75,
                          "maxNetCapturedAmount": 9937.96
                        },
                        {
                          "intervalStart": "2026-04-17T00:00:00+00:00",
                          "intervalEnd": "2026-04-18T00:00:00+00:00",
                          "numPaymentsCreated": 954,
                          "numPaymentsProcessed": 646,
                          "numPaymentsIncomplete": 308,
                          "numPaymentsWithRefunds": 484,
                          "numCardPresentPayments": 124,
                          "numCardNotPresentPayments": 184,
                          "totalCapturedAmount": 351563.88,
                          "totalRefundedAmount": 70936.46,
                          "totalNetCapturedAmount": 280627.42,
                          "averageNetCapturedAmount": 434.41,
                          "minNetCapturedAmount": 40.59,
                          "maxNetCapturedAmount": 4387.42
                        },
                        {
                          "intervalStart": "2026-04-18T00:00:00+00:00",
                          "intervalEnd": "2026-04-19T00:00:00+00:00",
                          "numPaymentsCreated": 925,
                          "numPaymentsProcessed": 337,
                          "numPaymentsIncomplete": 588,
                          "numPaymentsWithRefunds": 107,
                          "numCardPresentPayments": 50,
                          "numCardNotPresentPayments": 538,
                          "totalCapturedAmount": 765502.69,
                          "totalRefundedAmount": 77112.6,
                          "totalNetCapturedAmount": 688390.09,
                          "averageNetCapturedAmount": 2042.7,
                          "minNetCapturedAmount": 85.45,
                          "maxNetCapturedAmount": 9597.25
                        },
                        {
                          "intervalStart": "2026-04-19T00:00:00+00:00",
                          "intervalEnd": "2026-04-20T00:00:00+00:00",
                          "numPaymentsCreated": 999,
                          "numPaymentsProcessed": 257,
                          "numPaymentsIncomplete": 742,
                          "numPaymentsWithRefunds": 150,
                          "numCardPresentPayments": 146,
                          "numCardNotPresentPayments": 596,
                          "totalCapturedAmount": 14799.65,
                          "totalRefundedAmount": 161.03,
                          "totalNetCapturedAmount": 14638.62,
                          "averageNetCapturedAmount": 56.96,
                          "minNetCapturedAmount": 29.85,
                          "maxNetCapturedAmount": 5845.25
                        },
                        {
                          "intervalStart": "2026-04-20T00:00:00+00:00",
                          "intervalEnd": "2026-04-21T00:00:00+00:00",
                          "numPaymentsCreated": 867,
                          "numPaymentsProcessed": 110,
                          "numPaymentsIncomplete": 757,
                          "numPaymentsWithRefunds": 35,
                          "numCardPresentPayments": 10,
                          "numCardNotPresentPayments": 747,
                          "totalCapturedAmount": 487572.68,
                          "totalRefundedAmount": 71837.52,
                          "totalNetCapturedAmount": 415735.16,
                          "averageNetCapturedAmount": 3779.41,
                          "minNetCapturedAmount": 76.06,
                          "maxNetCapturedAmount": 9118.13
                        },
                        {
                          "intervalStart": "2026-04-21T00:00:00+00:00",
                          "intervalEnd": "2026-04-22T00:00:00+00:00",
                          "numPaymentsCreated": 914,
                          "numPaymentsProcessed": 65,
                          "numPaymentsIncomplete": 849,
                          "numPaymentsWithRefunds": 33,
                          "numCardPresentPayments": 59,
                          "numCardNotPresentPayments": 790,
                          "totalCapturedAmount": 791886.79,
                          "totalRefundedAmount": 218792.65,
                          "totalNetCapturedAmount": 573094.14,
                          "averageNetCapturedAmount": 8816.83,
                          "minNetCapturedAmount": 59.09,
                          "maxNetCapturedAmount": 6877.72
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-15T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-16T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 783
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 134
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 649
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 105
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 124
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": 525
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 367325.55
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 11251.11
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 356074.44
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 2657.27
                          },
                          "minNetCapturedAmount": {
                            "type": "number",
                            "example": 26.19
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 1989.31
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-15T00:00:00+00:00",
                    "periodEnd": "2026-04-22T00:00:00+00:00",
                    "activeCustomers": 147,
                    "newCustomers": 210,
                    "returningCustomers": -63,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-15T00:00:00+00:00",
                        "intervalEnd": "2026-04-16T00:00:00+00:00",
                        "activeCustomers": 81,
                        "newCustomers": 46,
                        "returningCustomers": 35
                      },
                      {
                        "intervalStart": "2026-04-16T00:00:00+00:00",
                        "intervalEnd": "2026-04-17T00:00:00+00:00",
                        "activeCustomers": 56,
                        "newCustomers": 48,
                        "returningCustomers": 8
                      },
                      {
                        "intervalStart": "2026-04-17T00:00:00+00:00",
                        "intervalEnd": "2026-04-18T00:00:00+00:00",
                        "activeCustomers": 28,
                        "newCustomers": 5,
                        "returningCustomers": 23
                      },
                      {
                        "intervalStart": "2026-04-18T00:00:00+00:00",
                        "intervalEnd": "2026-04-19T00:00:00+00:00",
                        "activeCustomers": 56,
                        "newCustomers": 9,
                        "returningCustomers": 47
                      },
                      {
                        "intervalStart": "2026-04-19T00:00:00+00:00",
                        "intervalEnd": "2026-04-20T00:00:00+00:00",
                        "activeCustomers": 100,
                        "newCustomers": 83,
                        "returningCustomers": 17
                      },
                      {
                        "intervalStart": "2026-04-20T00:00:00+00:00",
                        "intervalEnd": "2026-04-21T00:00:00+00:00",
                        "activeCustomers": 96,
                        "newCustomers": 8,
                        "returningCustomers": 88
                      },
                      {
                        "intervalStart": "2026-04-21T00:00:00+00:00",
                        "intervalEnd": "2026-04-22T00:00:00+00:00",
                        "activeCustomers": 77,
                        "newCustomers": 11,
                        "returningCustomers": 66
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-15T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-22T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 147
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 210
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": -63
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-15T00:00:00+00:00",
                          "intervalEnd": "2026-04-16T00:00:00+00:00",
                          "activeCustomers": 81,
                          "newCustomers": 46,
                          "returningCustomers": 35
                        },
                        {
                          "intervalStart": "2026-04-16T00:00:00+00:00",
                          "intervalEnd": "2026-04-17T00:00:00+00:00",
                          "activeCustomers": 56,
                          "newCustomers": 48,
                          "returningCustomers": 8
                        },
                        {
                          "intervalStart": "2026-04-17T00:00:00+00:00",
                          "intervalEnd": "2026-04-18T00:00:00+00:00",
                          "activeCustomers": 28,
                          "newCustomers": 5,
                          "returningCustomers": 23
                        },
                        {
                          "intervalStart": "2026-04-18T00:00:00+00:00",
                          "intervalEnd": "2026-04-19T00:00:00+00:00",
                          "activeCustomers": 56,
                          "newCustomers": 9,
                          "returningCustomers": 47
                        },
                        {
                          "intervalStart": "2026-04-19T00:00:00+00:00",
                          "intervalEnd": "2026-04-20T00:00:00+00:00",
                          "activeCustomers": 100,
                          "newCustomers": 83,
                          "returningCustomers": 17
                        },
                        {
                          "intervalStart": "2026-04-20T00:00:00+00:00",
                          "intervalEnd": "2026-04-21T00:00:00+00:00",
                          "activeCustomers": 96,
                          "newCustomers": 8,
                          "returningCustomers": 88
                        },
                        {
                          "intervalStart": "2026-04-21T00:00:00+00:00",
                          "intervalEnd": "2026-04-22T00:00:00+00:00",
                          "activeCustomers": 77,
                          "newCustomers": 11,
                          "returningCustomers": 66
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-15T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-16T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 81
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 46
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 35
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-15T00:00:00+00:00",
                    "periodEnd": "2026-04-22T00:00:00+00:00",
                    "totalTransactions": 3839,
                    "authorizeTransactions": 283,
                    "captureTransactions": 333,
                    "payTransactions": 1998,
                    "refundTransactions": 419,
                    "verifyTransactions": 424,
                    "voidTransactions": 382,
                    "successfulTransactions": 3452,
                    "failedTransactions": 273,
                    "declinedTransactions": 99,
                    "pendingTransactions": 15,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-15T00:00:00+00:00",
                        "intervalEnd": "2026-04-16T00:00:00+00:00",
                        "totalTransactions": 437,
                        "authorizeTransactions": 45,
                        "captureTransactions": 55,
                        "payTransactions": 209,
                        "refundTransactions": 128,
                        "verifyTransactions": 2,
                        "voidTransactions": -2,
                        "successfulTransactions": 393,
                        "failedTransactions": 36,
                        "declinedTransactions": 7,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-16T00:00:00+00:00",
                        "intervalEnd": "2026-04-17T00:00:00+00:00",
                        "totalTransactions": 379,
                        "authorizeTransactions": 34,
                        "captureTransactions": 35,
                        "payTransactions": 218,
                        "refundTransactions": 51,
                        "verifyTransactions": 13,
                        "voidTransactions": 28,
                        "successfulTransactions": 341,
                        "failedTransactions": 25,
                        "declinedTransactions": 10,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-17T00:00:00+00:00",
                        "intervalEnd": "2026-04-18T00:00:00+00:00",
                        "totalTransactions": 822,
                        "authorizeTransactions": 60,
                        "captureTransactions": 67,
                        "payTransactions": 517,
                        "refundTransactions": 43,
                        "verifyTransactions": 52,
                        "voidTransactions": 83,
                        "successfulTransactions": 739,
                        "failedTransactions": 62,
                        "declinedTransactions": 16,
                        "pendingTransactions": 5,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-18T00:00:00+00:00",
                        "intervalEnd": "2026-04-19T00:00:00+00:00",
                        "totalTransactions": 906,
                        "authorizeTransactions": 61,
                        "captureTransactions": 70,
                        "payTransactions": 148,
                        "refundTransactions": 60,
                        "verifyTransactions": 311,
                        "voidTransactions": 256,
                        "successfulTransactions": 815,
                        "failedTransactions": 50,
                        "declinedTransactions": 40,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-19T00:00:00+00:00",
                        "intervalEnd": "2026-04-20T00:00:00+00:00",
                        "totalTransactions": 472,
                        "authorizeTransactions": 32,
                        "captureTransactions": 42,
                        "payTransactions": 226,
                        "refundTransactions": 121,
                        "verifyTransactions": 34,
                        "voidTransactions": 17,
                        "successfulTransactions": 424,
                        "failedTransactions": 43,
                        "declinedTransactions": 4,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-20T00:00:00+00:00",
                        "intervalEnd": "2026-04-21T00:00:00+00:00",
                        "totalTransactions": 624,
                        "authorizeTransactions": 32,
                        "captureTransactions": 38,
                        "payTransactions": 533,
                        "refundTransactions": 10,
                        "verifyTransactions": 9,
                        "voidTransactions": 2,
                        "successfulTransactions": 561,
                        "failedTransactions": 40,
                        "declinedTransactions": 20,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-21T00:00:00+00:00",
                        "intervalEnd": "2026-04-22T00:00:00+00:00",
                        "totalTransactions": 199,
                        "authorizeTransactions": 19,
                        "captureTransactions": 26,
                        "payTransactions": 147,
                        "refundTransactions": 6,
                        "verifyTransactions": 3,
                        "voidTransactions": -2,
                        "successfulTransactions": 179,
                        "failedTransactions": 17,
                        "declinedTransactions": 2,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-15T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-22T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 3839
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 283
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 333
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 1998
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 419
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 424
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 382
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 3452
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 273
                    },
                    "declinedTransactions": {
                      "type": "integer",
                      "example": 99
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 15
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-15T00:00:00+00:00",
                          "intervalEnd": "2026-04-16T00:00:00+00:00",
                          "totalTransactions": 437,
                          "authorizeTransactions": 45,
                          "captureTransactions": 55,
                          "payTransactions": 209,
                          "refundTransactions": 128,
                          "verifyTransactions": 2,
                          "voidTransactions": -2,
                          "successfulTransactions": 393,
                          "failedTransactions": 36,
                          "declinedTransactions": 7,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-16T00:00:00+00:00",
                          "intervalEnd": "2026-04-17T00:00:00+00:00",
                          "totalTransactions": 379,
                          "authorizeTransactions": 34,
                          "captureTransactions": 35,
                          "payTransactions": 218,
                          "refundTransactions": 51,
                          "verifyTransactions": 13,
                          "voidTransactions": 28,
                          "successfulTransactions": 341,
                          "failedTransactions": 25,
                          "declinedTransactions": 10,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-17T00:00:00+00:00",
                          "intervalEnd": "2026-04-18T00:00:00+00:00",
                          "totalTransactions": 822,
                          "authorizeTransactions": 60,
                          "captureTransactions": 67,
                          "payTransactions": 517,
                          "refundTransactions": 43,
                          "verifyTransactions": 52,
                          "voidTransactions": 83,
                          "successfulTransactions": 739,
                          "failedTransactions": 62,
                          "declinedTransactions": 16,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-18T00:00:00+00:00",
                          "intervalEnd": "2026-04-19T00:00:00+00:00",
                          "totalTransactions": 906,
                          "authorizeTransactions": 61,
                          "captureTransactions": 70,
                          "payTransactions": 148,
                          "refundTransactions": 60,
                          "verifyTransactions": 311,
                          "voidTransactions": 256,
                          "successfulTransactions": 815,
                          "failedTransactions": 50,
                          "declinedTransactions": 40,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-19T00:00:00+00:00",
                          "intervalEnd": "2026-04-20T00:00:00+00:00",
                          "totalTransactions": 472,
                          "authorizeTransactions": 32,
                          "captureTransactions": 42,
                          "payTransactions": 226,
                          "refundTransactions": 121,
                          "verifyTransactions": 34,
                          "voidTransactions": 17,
                          "successfulTransactions": 424,
                          "failedTransactions": 43,
                          "declinedTransactions": 4,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-20T00:00:00+00:00",
                          "intervalEnd": "2026-04-21T00:00:00+00:00",
                          "totalTransactions": 624,
                          "authorizeTransactions": 32,
                          "captureTransactions": 38,
                          "payTransactions": 533,
                          "refundTransactions": 10,
                          "verifyTransactions": 9,
                          "voidTransactions": 2,
                          "successfulTransactions": 561,
                          "failedTransactions": 40,
                          "declinedTransactions": 20,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-21T00:00:00+00:00",
                          "intervalEnd": "2026-04-22T00:00:00+00:00",
                          "totalTransactions": 199,
                          "authorizeTransactions": 19,
                          "captureTransactions": 26,
                          "payTransactions": 147,
                          "refundTransactions": 6,
                          "verifyTransactions": 3,
                          "voidTransactions": -2,
                          "successfulTransactions": 179,
                          "failedTransactions": 17,
                          "declinedTransactions": 2,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-15T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-16T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 437
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 45
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 55
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 209
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 128
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 2
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": -2
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 393
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 36
                          },
                          "declinedTransactions": {
                            "type": "integer",
                            "example": 7
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 1
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-15T00:00:00+00:00",
                    "periodEnd": "2026-04-22T00:00:00+00:00",
                    "totalSettlementAmount": 32935.23,
                    "totalFeeAmount": 1613.82627,
                    "totalNetAmount": 31321.40373,
                    "totalTransactionsPending": 95,
                    "totalTransactionsSettled": 823,
                    "totalTransactionsSettling": 1297,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-15T00:00:00+00:00",
                        "intervalEnd": "2026-04-16T00:00:00+00:00",
                        "totalSettlementAmount": 1202.13,
                        "totalFeeAmount": 58.90437,
                        "totalNetAmount": 1143.22563,
                        "totalTransactionsPending": 10,
                        "totalTransactionsSettled": 220,
                        "totalTransactionsSettling": 39
                      },
                      {
                        "intervalStart": "2026-04-16T00:00:00+00:00",
                        "intervalEnd": "2026-04-17T00:00:00+00:00",
                        "totalSettlementAmount": 4165.36,
                        "totalFeeAmount": 204.10264,
                        "totalNetAmount": 3961.25736,
                        "totalTransactionsPending": 6,
                        "totalTransactionsSettled": 29,
                        "totalTransactionsSettling": 347
                      },
                      {
                        "intervalStart": "2026-04-17T00:00:00+00:00",
                        "intervalEnd": "2026-04-18T00:00:00+00:00",
                        "totalSettlementAmount": 715.2,
                        "totalFeeAmount": 35.0448,
                        "totalNetAmount": 680.1552,
                        "totalTransactionsPending": 15,
                        "totalTransactionsSettled": 48,
                        "totalTransactionsSettling": 181
                      },
                      {
                        "intervalStart": "2026-04-18T00:00:00+00:00",
                        "intervalEnd": "2026-04-19T00:00:00+00:00",
                        "totalSettlementAmount": 9410.96,
                        "totalFeeAmount": 461.13704,
                        "totalNetAmount": 8949.82296,
                        "totalTransactionsPending": 11,
                        "totalTransactionsSettled": 203,
                        "totalTransactionsSettling": 272
                      },
                      {
                        "intervalStart": "2026-04-19T00:00:00+00:00",
                        "intervalEnd": "2026-04-20T00:00:00+00:00",
                        "totalSettlementAmount": 6345.75,
                        "totalFeeAmount": 310.94175,
                        "totalNetAmount": 6034.80825,
                        "totalTransactionsPending": 6,
                        "totalTransactionsSettled": 204,
                        "totalTransactionsSettling": 258
                      },
                      {
                        "intervalStart": "2026-04-20T00:00:00+00:00",
                        "intervalEnd": "2026-04-21T00:00:00+00:00",
                        "totalSettlementAmount": 8779.72,
                        "totalFeeAmount": 430.20628,
                        "totalNetAmount": 8349.51372,
                        "totalTransactionsPending": 25,
                        "totalTransactionsSettled": 56,
                        "totalTransactionsSettling": 23
                      },
                      {
                        "intervalStart": "2026-04-21T00:00:00+00:00",
                        "intervalEnd": "2026-04-22T00:00:00+00:00",
                        "totalSettlementAmount": 2316.11,
                        "totalFeeAmount": 113.48939,
                        "totalNetAmount": 2202.62061,
                        "totalTransactionsPending": 22,
                        "totalTransactionsSettled": 63,
                        "totalTransactionsSettling": 177
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-15T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-22T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 32935.23
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 1613.82627
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 31321.40373
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 95
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 823
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 1297
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-15T00:00:00+00:00",
                          "intervalEnd": "2026-04-16T00:00:00+00:00",
                          "totalSettlementAmount": 1202.13,
                          "totalFeeAmount": 58.90437,
                          "totalNetAmount": 1143.22563,
                          "totalTransactionsPending": 10,
                          "totalTransactionsSettled": 220,
                          "totalTransactionsSettling": 39
                        },
                        {
                          "intervalStart": "2026-04-16T00:00:00+00:00",
                          "intervalEnd": "2026-04-17T00:00:00+00:00",
                          "totalSettlementAmount": 4165.36,
                          "totalFeeAmount": 204.10264,
                          "totalNetAmount": 3961.25736,
                          "totalTransactionsPending": 6,
                          "totalTransactionsSettled": 29,
                          "totalTransactionsSettling": 347
                        },
                        {
                          "intervalStart": "2026-04-17T00:00:00+00:00",
                          "intervalEnd": "2026-04-18T00:00:00+00:00",
                          "totalSettlementAmount": 715.2,
                          "totalFeeAmount": 35.0448,
                          "totalNetAmount": 680.1552,
                          "totalTransactionsPending": 15,
                          "totalTransactionsSettled": 48,
                          "totalTransactionsSettling": 181
                        },
                        {
                          "intervalStart": "2026-04-18T00:00:00+00:00",
                          "intervalEnd": "2026-04-19T00:00:00+00:00",
                          "totalSettlementAmount": 9410.96,
                          "totalFeeAmount": 461.13704,
                          "totalNetAmount": 8949.82296,
                          "totalTransactionsPending": 11,
                          "totalTransactionsSettled": 203,
                          "totalTransactionsSettling": 272
                        },
                        {
                          "intervalStart": "2026-04-19T00:00:00+00:00",
                          "intervalEnd": "2026-04-20T00:00:00+00:00",
                          "totalSettlementAmount": 6345.75,
                          "totalFeeAmount": 310.94175,
                          "totalNetAmount": 6034.80825,
                          "totalTransactionsPending": 6,
                          "totalTransactionsSettled": 204,
                          "totalTransactionsSettling": 258
                        },
                        {
                          "intervalStart": "2026-04-20T00:00:00+00:00",
                          "intervalEnd": "2026-04-21T00:00:00+00:00",
                          "totalSettlementAmount": 8779.72,
                          "totalFeeAmount": 430.20628,
                          "totalNetAmount": 8349.51372,
                          "totalTransactionsPending": 25,
                          "totalTransactionsSettled": 56,
                          "totalTransactionsSettling": 23
                        },
                        {
                          "intervalStart": "2026-04-21T00:00:00+00:00",
                          "intervalEnd": "2026-04-22T00:00:00+00:00",
                          "totalSettlementAmount": 2316.11,
                          "totalFeeAmount": 113.48939,
                          "totalNetAmount": 2202.62061,
                          "totalTransactionsPending": 22,
                          "totalTransactionsSettled": 63,
                          "totalTransactionsSettling": 177
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-15T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-16T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 1202.13
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 58.90437
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 1143.22563
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 10
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 220
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 39
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 5,
                    "data": [
                      {
                        "email": "conroy.chadrick@greenfelder.com",
                        "firstName": "Thomas",
                        "lastName": "Smith",
                        "phone": "+17265804850",
                        "dateOfBirth": "1971-12-21"
                      },
                      {
                        "email": "jjakubowski@kris.com",
                        "firstName": "Elisabeth",
                        "lastName": "O'Keefe",
                        "phone": "+14244089546",
                        "dateOfBirth": "1983-01-12"
                      },
                      {
                        "email": "abbie.oconnell@yahoo.com",
                        "firstName": "Mae",
                        "lastName": "Reynolds",
                        "phone": "+13014965472",
                        "dateOfBirth": "1977-02-16"
                      },
                      {
                        "email": "cummings.nestor@vonrueden.com",
                        "firstName": "Josiah",
                        "lastName": "Streich",
                        "phone": "+13258241476",
                        "dateOfBirth": "1984-03-17"
                      },
                      {
                        "email": "melisa.gaylord@beier.biz",
                        "firstName": "Lorna",
                        "lastName": "Volkman",
                        "phone": "+13469743541",
                        "dateOfBirth": "1973-10-23"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 5,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "conroy.chadrick@greenfelder.com",
                          "firstName": "Thomas",
                          "lastName": "Smith",
                          "phone": "+17265804850",
                          "dateOfBirth": "1971-12-21"
                        },
                        {
                          "email": "jjakubowski@kris.com",
                          "firstName": "Elisabeth",
                          "lastName": "O'Keefe",
                          "phone": "+14244089546",
                          "dateOfBirth": "1983-01-12"
                        },
                        {
                          "email": "abbie.oconnell@yahoo.com",
                          "firstName": "Mae",
                          "lastName": "Reynolds",
                          "phone": "+13014965472",
                          "dateOfBirth": "1977-02-16"
                        },
                        {
                          "email": "cummings.nestor@vonrueden.com",
                          "firstName": "Josiah",
                          "lastName": "Streich",
                          "phone": "+13258241476",
                          "dateOfBirth": "1984-03-17"
                        },
                        {
                          "email": "melisa.gaylord@beier.biz",
                          "firstName": "Lorna",
                          "lastName": "Volkman",
                          "phone": "+13469743541",
                          "dateOfBirth": "1973-10-23"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "conroy.chadrick@greenfelder.com"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Thomas"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Smith"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+17265804850"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "1971-12-21"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers/{customerIdOrEmail}/addresses": {
      "get": {
        "summary": "List Customer Billing Addresses",
        "operationId": "listCustomerBillingAddresses",
        "description": "Returns all unique billing addresses that have been used by a customer across their payments.\nAddresses are deduplicated using case-insensitive and whitespace-insensitive comparison.",
        "parameters": [
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
            "example": "-city",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
              "example": "-city",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of unique billing addresses for the customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "company": "Rippin Inc",
                        "street": "810 Nathanael Island",
                        "city": "Waltermouth",
                        "stateProvince": "WY",
                        "postcodeZip": "79789",
                        "country": "USA"
                      },
                      {
                        "company": "Buckridge-Gutkowski",
                        "street": "231 Nick Coves",
                        "city": "South Titus",
                        "stateProvince": "NE",
                        "postcodeZip": "23407-1559",
                        "country": "USA"
                      },
                      {
                        "company": "Gibson, Cummerata and Murazik",
                        "street": "978 Powlowski Neck Suite 047",
                        "city": "East Jan",
                        "stateProvince": "NE",
                        "postcodeZip": "45070",
                        "country": "USA"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "company": "Rippin Inc",
                          "street": "810 Nathanael Island",
                          "city": "Waltermouth",
                          "stateProvince": "WY",
                          "postcodeZip": "79789",
                          "country": "USA"
                        },
                        {
                          "company": "Buckridge-Gutkowski",
                          "street": "231 Nick Coves",
                          "city": "South Titus",
                          "stateProvince": "NE",
                          "postcodeZip": "23407-1559",
                          "country": "USA"
                        },
                        {
                          "company": "Gibson, Cummerata and Murazik",
                          "street": "978 Powlowski Neck Suite 047",
                          "city": "East Jan",
                          "stateProvince": "NE",
                          "postcodeZip": "45070",
                          "country": "USA"
                        }
                      ],
                      "description": "The data returned from the request",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "company": {
                            "type": "string",
                            "example": "Rippin Inc"
                          },
                          "street": {
                            "type": "string",
                            "example": "810 Nathanael Island"
                          },
                          "city": {
                            "type": "string",
                            "example": "Waltermouth"
                          },
                          "stateProvince": {
                            "type": "string",
                            "example": "WY"
                          },
                          "postcodeZip": {
                            "type": "string",
                            "example": "79789"
                          },
                          "country": {
                            "type": "string",
                            "example": "USA"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "path",
          "name": "customerIdOrEmail",
          "description": "The customer ID, UUID, or email address",
          "example": "customer_123",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/simulated/terminals": {
      "get": {
        "summary": "Get all available simulated terminals.",
        "operationId": "getAllAvailableSimulatedTerminals",
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of available simulated terminals",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "title": "Success",
                        "description": "Approves all card present transactions successfully.",
                        "tid": "SUCCESS",
                        "readyForProcessing": true,
                        "provider": "SIMULATED",
[...]
