{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.72.1"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payout Exports",
      "description": "Create payout exports"
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-18T00:00:00+00:00",
                    "periodEnd": "2026-04-25T00:00:00+00:00",
                    "numPaymentsCreated": 3977,
                    "numPaymentsProcessed": 1596,
                    "numPaymentsIncomplete": 2381,
                    "numPaymentsWithRefunds": 691,
                    "numCardPresentPayments": 519,
                    "numCardNotPresentPayments": 1862,
                    "totalCapturedAmount": 3379687.3,
                    "totalRefundedAmount": 338340.45,
                    "totalNetCapturedAmount": 3041346.85,
                    "averageNetCapturedAmount": 3485.98,
                    "minNetCapturedAmount": 10.49,
                    "maxNetCapturedAmount": 9449.63,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-18T00:00:00+00:00",
                        "intervalEnd": "2026-04-19T00:00:00+00:00",
                        "numPaymentsCreated": 933,
                        "numPaymentsProcessed": 112,
                        "numPaymentsIncomplete": 821,
                        "numPaymentsWithRefunds": 92,
                        "numCardPresentPayments": 110,
                        "numCardNotPresentPayments": 711,
                        "totalCapturedAmount": 607526.56,
                        "totalRefundedAmount": 1669.43,
                        "totalNetCapturedAmount": 605857.13,
                        "averageNetCapturedAmount": 5409.44,
                        "minNetCapturedAmount": 52.68,
                        "maxNetCapturedAmount": 2179.58
                      },
                      {
                        "intervalStart": "2026-04-19T00:00:00+00:00",
                        "intervalEnd": "2026-04-20T00:00:00+00:00",
                        "numPaymentsCreated": 840,
                        "numPaymentsProcessed": 275,
                        "numPaymentsIncomplete": 565,
                        "numPaymentsWithRefunds": 65,
                        "numCardPresentPayments": 57,
                        "numCardNotPresentPayments": 508,
                        "totalCapturedAmount": 226974.42,
                        "totalRefundedAmount": 68039.26,
                        "totalNetCapturedAmount": 158935.16,
                        "averageNetCapturedAmount": 577.95,
                        "minNetCapturedAmount": 84.01,
                        "maxNetCapturedAmount": 1214.55
                      },
                      {
                        "intervalStart": "2026-04-20T00:00:00+00:00",
                        "intervalEnd": "2026-04-21T00:00:00+00:00",
                        "numPaymentsCreated": 475,
                        "numPaymentsProcessed": 110,
                        "numPaymentsIncomplete": 365,
                        "numPaymentsWithRefunds": 52,
                        "numCardPresentPayments": 59,
                        "numCardNotPresentPayments": 306,
                        "totalCapturedAmount": 525145.11,
                        "totalRefundedAmount": 65882.55,
                        "totalNetCapturedAmount": 459262.56,
                        "averageNetCapturedAmount": 4175.11,
                        "minNetCapturedAmount": 93.97,
                        "maxNetCapturedAmount": 2667.9
                      },
                      {
                        "intervalStart": "2026-04-21T00:00:00+00:00",
                        "intervalEnd": "2026-04-22T00:00:00+00:00",
                        "numPaymentsCreated": 352,
                        "numPaymentsProcessed": 94,
                        "numPaymentsIncomplete": 258,
                        "numPaymentsWithRefunds": 27,
                        "numCardPresentPayments": 9,
                        "numCardNotPresentPayments": 249,
                        "totalCapturedAmount": 569029.81,
                        "totalRefundedAmount": 84019.33,
                        "totalNetCapturedAmount": 485010.48,
                        "averageNetCapturedAmount": 5159.69,
                        "minNetCapturedAmount": 78.39,
                        "maxNetCapturedAmount": 9449.63
                      },
                      {
                        "intervalStart": "2026-04-22T00:00:00+00:00",
                        "intervalEnd": "2026-04-23T00:00:00+00:00",
                        "numPaymentsCreated": 998,
                        "numPaymentsProcessed": 719,
                        "numPaymentsIncomplete": 279,
                        "numPaymentsWithRefunds": 336,
                        "numCardPresentPayments": 202,
                        "numCardNotPresentPayments": 77,
                        "totalCapturedAmount": 494930.12,
                        "totalRefundedAmount": 71223.66,
                        "totalNetCapturedAmount": 423706.46,
                        "averageNetCapturedAmount": 589.3,
                        "minNetCapturedAmount": 60.13,
                        "maxNetCapturedAmount": 6419.75
                      },
                      {
                        "intervalStart": "2026-04-23T00:00:00+00:00",
                        "intervalEnd": "2026-04-24T00:00:00+00:00",
                        "numPaymentsCreated": 128,
                        "numPaymentsProcessed": 74,
                        "numPaymentsIncomplete": 54,
                        "numPaymentsWithRefunds": 48,
                        "numCardPresentPayments": 9,
                        "numCardNotPresentPayments": 45,
                        "totalCapturedAmount": 501434.55,
                        "totalRefundedAmount": 23446.03,
                        "totalNetCapturedAmount": 477988.52,
                        "averageNetCapturedAmount": 6459.3,
                        "minNetCapturedAmount": 10.49,
                        "maxNetCapturedAmount": 8064.17
                      },
                      {
                        "intervalStart": "2026-04-24T00:00:00+00:00",
                        "intervalEnd": "2026-04-25T00:00:00+00:00",
                        "numPaymentsCreated": 251,
                        "numPaymentsProcessed": 212,
                        "numPaymentsIncomplete": 39,
                        "numPaymentsWithRefunds": 71,
                        "numCardPresentPayments": 73,
                        "numCardNotPresentPayments": -34,
                        "totalCapturedAmount": 454646.73,
                        "totalRefundedAmount": 24060.19,
                        "totalNetCapturedAmount": 430586.54,
                        "averageNetCapturedAmount": 2031.07,
                        "minNetCapturedAmount": 77.11,
                        "maxNetCapturedAmount": 4953.2
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-18T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-25T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 3977
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 1596
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 2381
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 691
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 519
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": 1862
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 3379687.3
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 338340.45
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 3041346.85
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 3485.98
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 10.49
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 9449.63
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-18T00:00:00+00:00",
                          "intervalEnd": "2026-04-19T00:00:00+00:00",
                          "numPaymentsCreated": 933,
                          "numPaymentsProcessed": 112,
                          "numPaymentsIncomplete": 821,
                          "numPaymentsWithRefunds": 92,
                          "numCardPresentPayments": 110,
                          "numCardNotPresentPayments": 711,
                          "totalCapturedAmount": 607526.56,
                          "totalRefundedAmount": 1669.43,
                          "totalNetCapturedAmount": 605857.13,
                          "averageNetCapturedAmount": 5409.44,
                          "minNetCapturedAmount": 52.68,
                          "maxNetCapturedAmount": 2179.58
                        },
                        {
                          "intervalStart": "2026-04-19T00:00:00+00:00",
                          "intervalEnd": "2026-04-20T00:00:00+00:00",
                          "numPaymentsCreated": 840,
                          "numPaymentsProcessed": 275,
                          "numPaymentsIncomplete": 565,
                          "numPaymentsWithRefunds": 65,
                          "numCardPresentPayments": 57,
                          "numCardNotPresentPayments": 508,
                          "totalCapturedAmount": 226974.42,
                          "totalRefundedAmount": 68039.26,
                          "totalNetCapturedAmount": 158935.16,
                          "averageNetCapturedAmount": 577.95,
                          "minNetCapturedAmount": 84.01,
                          "maxNetCapturedAmount": 1214.55
                        },
                        {
                          "intervalStart": "2026-04-20T00:00:00+00:00",
                          "intervalEnd": "2026-04-21T00:00:00+00:00",
                          "numPaymentsCreated": 475,
                          "numPaymentsProcessed": 110,
                          "numPaymentsIncomplete": 365,
                          "numPaymentsWithRefunds": 52,
                          "numCardPresentPayments": 59,
                          "numCardNotPresentPayments": 306,
                          "totalCapturedAmount": 525145.11,
                          "totalRefundedAmount": 65882.55,
                          "totalNetCapturedAmount": 459262.56,
                          "averageNetCapturedAmount": 4175.11,
                          "minNetCapturedAmount": 93.97,
                          "maxNetCapturedAmount": 2667.9
                        },
                        {
                          "intervalStart": "2026-04-21T00:00:00+00:00",
                          "intervalEnd": "2026-04-22T00:00:00+00:00",
                          "numPaymentsCreated": 352,
                          "numPaymentsProcessed": 94,
                          "numPaymentsIncomplete": 258,
                          "numPaymentsWithRefunds": 27,
                          "numCardPresentPayments": 9,
                          "numCardNotPresentPayments": 249,
                          "totalCapturedAmount": 569029.81,
                          "totalRefundedAmount": 84019.33,
                          "totalNetCapturedAmount": 485010.48,
                          "averageNetCapturedAmount": 5159.69,
                          "minNetCapturedAmount": 78.39,
                          "maxNetCapturedAmount": 9449.63
                        },
                        {
                          "intervalStart": "2026-04-22T00:00:00+00:00",
                          "intervalEnd": "2026-04-23T00:00:00+00:00",
                          "numPaymentsCreated": 998,
                          "numPaymentsProcessed": 719,
                          "numPaymentsIncomplete": 279,
                          "numPaymentsWithRefunds": 336,
                          "numCardPresentPayments": 202,
                          "numCardNotPresentPayments": 77,
                          "totalCapturedAmount": 494930.12,
                          "totalRefundedAmount": 71223.66,
                          "totalNetCapturedAmount": 423706.46,
                          "averageNetCapturedAmount": 589.3,
                          "minNetCapturedAmount": 60.13,
                          "maxNetCapturedAmount": 6419.75
                        },
                        {
                          "intervalStart": "2026-04-23T00:00:00+00:00",
                          "intervalEnd": "2026-04-24T00:00:00+00:00",
                          "numPaymentsCreated": 128,
                          "numPaymentsProcessed": 74,
                          "numPaymentsIncomplete": 54,
                          "numPaymentsWithRefunds": 48,
                          "numCardPresentPayments": 9,
                          "numCardNotPresentPayments": 45,
                          "totalCapturedAmount": 501434.55,
                          "totalRefundedAmount": 23446.03,
                          "totalNetCapturedAmount": 477988.52,
                          "averageNetCapturedAmount": 6459.3,
                          "minNetCapturedAmount": 10.49,
                          "maxNetCapturedAmount": 8064.17
                        },
                        {
                          "intervalStart": "2026-04-24T00:00:00+00:00",
                          "intervalEnd": "2026-04-25T00:00:00+00:00",
                          "numPaymentsCreated": 251,
                          "numPaymentsProcessed": 212,
                          "numPaymentsIncomplete": 39,
                          "numPaymentsWithRefunds": 71,
                          "numCardPresentPayments": 73,
                          "numCardNotPresentPayments": -34,
                          "totalCapturedAmount": 454646.73,
                          "totalRefundedAmount": 24060.19,
                          "totalNetCapturedAmount": 430586.54,
                          "averageNetCapturedAmount": 2031.07,
                          "minNetCapturedAmount": 77.11,
                          "maxNetCapturedAmount": 4953.2
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-18T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-19T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 933
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 112
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 821
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 92
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 110
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": 711
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 607526.56
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 1669.43
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 605857.13
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 5409.44
                          },
                          "minNetCapturedAmount": {
                            "type": "number",
                            "example": 52.68
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 2179.58
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-18T00:00:00+00:00",
                    "periodEnd": "2026-04-25T00:00:00+00:00",
                    "activeCustomers": 330,
                    "newCustomers": 216,
                    "returningCustomers": 114,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-18T00:00:00+00:00",
                        "intervalEnd": "2026-04-19T00:00:00+00:00",
                        "activeCustomers": 55,
                        "newCustomers": 49,
                        "returningCustomers": 6
                      },
                      {
                        "intervalStart": "2026-04-19T00:00:00+00:00",
                        "intervalEnd": "2026-04-20T00:00:00+00:00",
                        "activeCustomers": 12,
                        "newCustomers": 7,
                        "returningCustomers": 5
                      },
                      {
                        "intervalStart": "2026-04-20T00:00:00+00:00",
                        "intervalEnd": "2026-04-21T00:00:00+00:00",
                        "activeCustomers": 15,
                        "newCustomers": 6,
                        "returningCustomers": 9
                      },
                      {
                        "intervalStart": "2026-04-21T00:00:00+00:00",
                        "intervalEnd": "2026-04-22T00:00:00+00:00",
                        "activeCustomers": 65,
                        "newCustomers": 21,
                        "returningCustomers": 44
                      },
                      {
                        "intervalStart": "2026-04-22T00:00:00+00:00",
                        "intervalEnd": "2026-04-23T00:00:00+00:00",
                        "activeCustomers": 91,
                        "newCustomers": 87,
                        "returningCustomers": 4
                      },
                      {
                        "intervalStart": "2026-04-23T00:00:00+00:00",
                        "intervalEnd": "2026-04-24T00:00:00+00:00",
                        "activeCustomers": 77,
                        "newCustomers": 31,
                        "returningCustomers": 46
                      },
                      {
                        "intervalStart": "2026-04-24T00:00:00+00:00",
                        "intervalEnd": "2026-04-25T00:00:00+00:00",
                        "activeCustomers": 59,
                        "newCustomers": 15,
                        "returningCustomers": 44
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-18T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-25T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 330
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 216
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": 114
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-18T00:00:00+00:00",
                          "intervalEnd": "2026-04-19T00:00:00+00:00",
                          "activeCustomers": 55,
                          "newCustomers": 49,
                          "returningCustomers": 6
                        },
                        {
                          "intervalStart": "2026-04-19T00:00:00+00:00",
                          "intervalEnd": "2026-04-20T00:00:00+00:00",
                          "activeCustomers": 12,
                          "newCustomers": 7,
                          "returningCustomers": 5
                        },
                        {
                          "intervalStart": "2026-04-20T00:00:00+00:00",
                          "intervalEnd": "2026-04-21T00:00:00+00:00",
                          "activeCustomers": 15,
                          "newCustomers": 6,
                          "returningCustomers": 9
                        },
                        {
                          "intervalStart": "2026-04-21T00:00:00+00:00",
                          "intervalEnd": "2026-04-22T00:00:00+00:00",
                          "activeCustomers": 65,
                          "newCustomers": 21,
                          "returningCustomers": 44
                        },
                        {
                          "intervalStart": "2026-04-22T00:00:00+00:00",
                          "intervalEnd": "2026-04-23T00:00:00+00:00",
                          "activeCustomers": 91,
                          "newCustomers": 87,
                          "returningCustomers": 4
                        },
                        {
                          "intervalStart": "2026-04-23T00:00:00+00:00",
                          "intervalEnd": "2026-04-24T00:00:00+00:00",
                          "activeCustomers": 77,
                          "newCustomers": 31,
                          "returningCustomers": 46
                        },
                        {
                          "intervalStart": "2026-04-24T00:00:00+00:00",
                          "intervalEnd": "2026-04-25T00:00:00+00:00",
                          "activeCustomers": 59,
                          "newCustomers": 15,
                          "returningCustomers": 44
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-18T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-19T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 55
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 49
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 6
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-18T00:00:00+00:00",
                    "periodEnd": "2026-04-25T00:00:00+00:00",
                    "totalTransactions": 4114,
                    "authorizeTransactions": 242,
                    "captureTransactions": 282,
                    "payTransactions": 1722,
                    "refundTransactions": 514,
                    "verifyTransactions": 722,
                    "voidTransactions": 632,
                    "successfulTransactions": 3700,
                    "failedTransactions": 311,
                    "declinedTransactions": 89,
                    "pendingTransactions": 14,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-18T00:00:00+00:00",
                        "intervalEnd": "2026-04-19T00:00:00+00:00",
                        "totalTransactions": 1000,
                        "authorizeTransactions": 38,
                        "captureTransactions": 42,
                        "payTransactions": 365,
                        "refundTransactions": 175,
                        "verifyTransactions": 216,
                        "voidTransactions": 164,
                        "successfulTransactions": 900,
                        "failedTransactions": 93,
                        "declinedTransactions": 5,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-19T00:00:00+00:00",
                        "intervalEnd": "2026-04-20T00:00:00+00:00",
                        "totalTransactions": 257,
                        "authorizeTransactions": 17,
                        "captureTransactions": 19,
                        "payTransactions": 180,
                        "refundTransactions": 30,
                        "verifyTransactions": 11,
                        "voidTransactions": 0,
                        "successfulTransactions": 231,
                        "failedTransactions": 23,
                        "declinedTransactions": 2,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-20T00:00:00+00:00",
                        "intervalEnd": "2026-04-21T00:00:00+00:00",
                        "totalTransactions": 935,
                        "authorizeTransactions": 104,
                        "captureTransactions": 113,
                        "payTransactions": 165,
                        "refundTransactions": 49,
                        "verifyTransactions": 207,
                        "voidTransactions": 297,
                        "successfulTransactions": 841,
                        "failedTransactions": 68,
                        "declinedTransactions": 22,
                        "pendingTransactions": 4,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-21T00:00:00+00:00",
                        "intervalEnd": "2026-04-22T00:00:00+00:00",
                        "totalTransactions": 775,
                        "authorizeTransactions": 34,
                        "captureTransactions": 38,
                        "payTransactions": 627,
                        "refundTransactions": 22,
                        "verifyTransactions": 13,
                        "voidTransactions": 41,
                        "successfulTransactions": 697,
                        "failedTransactions": 64,
                        "declinedTransactions": 13,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-22T00:00:00+00:00",
                        "intervalEnd": "2026-04-23T00:00:00+00:00",
                        "totalTransactions": 933,
                        "authorizeTransactions": 26,
                        "captureTransactions": 35,
                        "payTransactions": 323,
                        "refundTransactions": 199,
                        "verifyTransactions": 253,
                        "voidTransactions": 97,
                        "successfulTransactions": 839,
                        "failedTransactions": 49,
                        "declinedTransactions": 41,
                        "pendingTransactions": 4,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-23T00:00:00+00:00",
                        "intervalEnd": "2026-04-24T00:00:00+00:00",
                        "totalTransactions": 110,
                        "authorizeTransactions": 13,
                        "captureTransactions": 16,
                        "payTransactions": 14,
                        "refundTransactions": 31,
                        "verifyTransactions": 15,
                        "voidTransactions": 21,
                        "successfulTransactions": 99,
                        "failedTransactions": 6,
                        "declinedTransactions": 4,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-24T00:00:00+00:00",
                        "intervalEnd": "2026-04-25T00:00:00+00:00",
                        "totalTransactions": 104,
                        "authorizeTransactions": 10,
                        "captureTransactions": 19,
                        "payTransactions": 48,
                        "refundTransactions": 8,
                        "verifyTransactions": 7,
                        "voidTransactions": 12,
                        "successfulTransactions": 93,
                        "failedTransactions": 8,
                        "declinedTransactions": 2,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-18T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-25T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 4114
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 242
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 282
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 1722
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 514
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 722
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 632
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 3700
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 311
                    },
                    "declinedTransactions": {
                      "type": "integer",
                      "example": 89
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 14
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-18T00:00:00+00:00",
                          "intervalEnd": "2026-04-19T00:00:00+00:00",
                          "totalTransactions": 1000,
                          "authorizeTransactions": 38,
                          "captureTransactions": 42,
                          "payTransactions": 365,
                          "refundTransactions": 175,
                          "verifyTransactions": 216,
                          "voidTransactions": 164,
                          "successfulTransactions": 900,
                          "failedTransactions": 93,
                          "declinedTransactions": 5,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-19T00:00:00+00:00",
                          "intervalEnd": "2026-04-20T00:00:00+00:00",
                          "totalTransactions": 257,
                          "authorizeTransactions": 17,
                          "captureTransactions": 19,
                          "payTransactions": 180,
                          "refundTransactions": 30,
                          "verifyTransactions": 11,
                          "voidTransactions": 0,
                          "successfulTransactions": 231,
                          "failedTransactions": 23,
                          "declinedTransactions": 2,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-20T00:00:00+00:00",
                          "intervalEnd": "2026-04-21T00:00:00+00:00",
                          "totalTransactions": 935,
                          "authorizeTransactions": 104,
                          "captureTransactions": 113,
                          "payTransactions": 165,
                          "refundTransactions": 49,
                          "verifyTransactions": 207,
                          "voidTransactions": 297,
                          "successfulTransactions": 841,
                          "failedTransactions": 68,
                          "declinedTransactions": 22,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-21T00:00:00+00:00",
                          "intervalEnd": "2026-04-22T00:00:00+00:00",
                          "totalTransactions": 775,
                          "authorizeTransactions": 34,
                          "captureTransactions": 38,
                          "payTransactions": 627,
                          "refundTransactions": 22,
                          "verifyTransactions": 13,
                          "voidTransactions": 41,
                          "successfulTransactions": 697,
                          "failedTransactions": 64,
                          "declinedTransactions": 13,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-22T00:00:00+00:00",
                          "intervalEnd": "2026-04-23T00:00:00+00:00",
                          "totalTransactions": 933,
                          "authorizeTransactions": 26,
                          "captureTransactions": 35,
                          "payTransactions": 323,
                          "refundTransactions": 199,
                          "verifyTransactions": 253,
                          "voidTransactions": 97,
                          "successfulTransactions": 839,
                          "failedTransactions": 49,
                          "declinedTransactions": 41,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-23T00:00:00+00:00",
                          "intervalEnd": "2026-04-24T00:00:00+00:00",
                          "totalTransactions": 110,
                          "authorizeTransactions": 13,
                          "captureTransactions": 16,
                          "payTransactions": 14,
                          "refundTransactions": 31,
                          "verifyTransactions": 15,
                          "voidTransactions": 21,
                          "successfulTransactions": 99,
                          "failedTransactions": 6,
                          "declinedTransactions": 4,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-24T00:00:00+00:00",
                          "intervalEnd": "2026-04-25T00:00:00+00:00",
                          "totalTransactions": 104,
                          "authorizeTransactions": 10,
                          "captureTransactions": 19,
                          "payTransactions": 48,
                          "refundTransactions": 8,
                          "verifyTransactions": 7,
                          "voidTransactions": 12,
                          "successfulTransactions": 93,
                          "failedTransactions": 8,
                          "declinedTransactions": 2,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-18T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-19T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 1000
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 38
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 42
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 365
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 175
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 216
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": 164
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 900
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 93
                          },
                          "declinedTransactions": {
                            "type": "integer",
                            "example": 5
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 2
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-18T00:00:00+00:00",
                    "periodEnd": "2026-04-25T00:00:00+00:00",
                    "totalSettlementAmount": 49108.74,
                    "totalFeeAmount": 2406.32826,
                    "totalNetAmount": 46702.41174,
                    "totalTransactionsPending": 181,
                    "totalTransactionsSettled": 714,
                    "totalTransactionsSettling": 636,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-18T00:00:00+00:00",
                        "intervalEnd": "2026-04-19T00:00:00+00:00",
                        "totalSettlementAmount": 5344.89,
                        "totalFeeAmount": 261.89961,
                        "totalNetAmount": 5082.99039,
                        "totalTransactionsPending": 18,
                        "totalTransactionsSettled": 132,
                        "totalTransactionsSettling": 237
                      },
                      {
                        "intervalStart": "2026-04-19T00:00:00+00:00",
                        "intervalEnd": "2026-04-20T00:00:00+00:00",
                        "totalSettlementAmount": 6478.89,
                        "totalFeeAmount": 317.46561,
                        "totalNetAmount": 6161.42439,
                        "totalTransactionsPending": 16,
                        "totalTransactionsSettled": 100,
                        "totalTransactionsSettling": 27
                      },
                      {
                        "intervalStart": "2026-04-20T00:00:00+00:00",
                        "intervalEnd": "2026-04-21T00:00:00+00:00",
                        "totalSettlementAmount": 7326.72,
                        "totalFeeAmount": 359.00928,
                        "totalNetAmount": 6967.71072,
                        "totalTransactionsPending": 9,
                        "totalTransactionsSettled": 120,
                        "totalTransactionsSettling": 54
                      },
                      {
                        "intervalStart": "2026-04-21T00:00:00+00:00",
                        "intervalEnd": "2026-04-22T00:00:00+00:00",
                        "totalSettlementAmount": 4012.46,
                        "totalFeeAmount": 196.61054,
                        "totalNetAmount": 3815.84946,
                        "totalTransactionsPending": 40,
                        "totalTransactionsSettled": 52,
                        "totalTransactionsSettling": 101
                      },
                      {
                        "intervalStart": "2026-04-22T00:00:00+00:00",
                        "intervalEnd": "2026-04-23T00:00:00+00:00",
                        "totalSettlementAmount": 8610,
                        "totalFeeAmount": 421.89,
                        "totalNetAmount": 8188.11,
                        "totalTransactionsPending": 39,
                        "totalTransactionsSettled": 135,
                        "totalTransactionsSettling": 38
                      },
                      {
                        "intervalStart": "2026-04-23T00:00:00+00:00",
                        "intervalEnd": "2026-04-24T00:00:00+00:00",
                        "totalSettlementAmount": 8136.07,
                        "totalFeeAmount": 398.66743,
                        "totalNetAmount": 7737.40257,
                        "totalTransactionsPending": 20,
                        "totalTransactionsSettled": 91,
                        "totalTransactionsSettling": 135
                      },
                      {
                        "intervalStart": "2026-04-24T00:00:00+00:00",
                        "intervalEnd": "2026-04-25T00:00:00+00:00",
                        "totalSettlementAmount": 9199.71,
                        "totalFeeAmount": 450.78579,
                        "totalNetAmount": 8748.92421,
                        "totalTransactionsPending": 39,
                        "totalTransactionsSettled": 84,
                        "totalTransactionsSettling": 44
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-18T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-25T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 49108.74
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 2406.32826
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 46702.41174
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 181
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 714
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 636
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-18T00:00:00+00:00",
                          "intervalEnd": "2026-04-19T00:00:00+00:00",
                          "totalSettlementAmount": 5344.89,
                          "totalFeeAmount": 261.89961,
                          "totalNetAmount": 5082.99039,
                          "totalTransactionsPending": 18,
                          "totalTransactionsSettled": 132,
                          "totalTransactionsSettling": 237
                        },
                        {
                          "intervalStart": "2026-04-19T00:00:00+00:00",
                          "intervalEnd": "2026-04-20T00:00:00+00:00",
                          "totalSettlementAmount": 6478.89,
                          "totalFeeAmount": 317.46561,
                          "totalNetAmount": 6161.42439,
                          "totalTransactionsPending": 16,
                          "totalTransactionsSettled": 100,
                          "totalTransactionsSettling": 27
                        },
                        {
                          "intervalStart": "2026-04-20T00:00:00+00:00",
                          "intervalEnd": "2026-04-21T00:00:00+00:00",
                          "totalSettlementAmount": 7326.72,
                          "totalFeeAmount": 359.00928,
                          "totalNetAmount": 6967.71072,
                          "totalTransactionsPending": 9,
                          "totalTransactionsSettled": 120,
                          "totalTransactionsSettling": 54
                        },
                        {
                          "intervalStart": "2026-04-21T00:00:00+00:00",
                          "intervalEnd": "2026-04-22T00:00:00+00:00",
                          "totalSettlementAmount": 4012.46,
                          "totalFeeAmount": 196.61054,
                          "totalNetAmount": 3815.84946,
                          "totalTransactionsPending": 40,
                          "totalTransactionsSettled": 52,
                          "totalTransactionsSettling": 101
                        },
                        {
                          "intervalStart": "2026-04-22T00:00:00+00:00",
                          "intervalEnd": "2026-04-23T00:00:00+00:00",
                          "totalSettlementAmount": 8610,
                          "totalFeeAmount": 421.89,
                          "totalNetAmount": 8188.11,
                          "totalTransactionsPending": 39,
                          "totalTransactionsSettled": 135,
                          "totalTransactionsSettling": 38
                        },
                        {
                          "intervalStart": "2026-04-23T00:00:00+00:00",
                          "intervalEnd": "2026-04-24T00:00:00+00:00",
                          "totalSettlementAmount": 8136.07,
                          "totalFeeAmount": 398.66743,
                          "totalNetAmount": 7737.40257,
                          "totalTransactionsPending": 20,
                          "totalTransactionsSettled": 91,
                          "totalTransactionsSettling": 135
                        },
                        {
                          "intervalStart": "2026-04-24T00:00:00+00:00",
                          "intervalEnd": "2026-04-25T00:00:00+00:00",
                          "totalSettlementAmount": 9199.71,
                          "totalFeeAmount": 450.78579,
                          "totalNetAmount": 8748.92421,
                          "totalTransactionsPending": 39,
                          "totalTransactionsSettled": 84,
                          "totalTransactionsSettling": 44
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-18T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-19T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 5344.89
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 261.89961
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 5082.99039
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 18
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 132
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 237
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 6,
                    "data": [
                      {
                        "email": "rhoda.runolfsson@yahoo.com",
                        "firstName": "Sven",
                        "lastName": "Spinka",
                        "phone": "+16405764561",
                        "dateOfBirth": "2003-02-04"
                      },
                      {
                        "email": "casper.ziemann@torp.net",
                        "firstName": "Kristopher",
                        "lastName": "Rippin",
                        "phone": "+13307334950",
                        "dateOfBirth": "2007-12-22"
                      },
                      {
                        "email": "wade.smith@yahoo.com",
                        "firstName": "Bonita",
                        "lastName": "Leffler",
                        "phone": "+19018197114",
                        "dateOfBirth": "1986-02-17"
                      },
                      {
                        "email": "marcella.schmeler@yahoo.com",
                        "firstName": "Tate",
                        "lastName": "Gutkowski",
                        "phone": "+13465672506",
                        "dateOfBirth": "1991-01-10"
                      },
                      {
                        "email": "beahan.gloria@von.com",
                        "firstName": "Rosalia",
                        "lastName": "Kuhic",
                        "phone": "+12316878297",
                        "dateOfBirth": "1998-07-17"
                      },
                      {
                        "email": "eldridge93@stanton.info",
                        "firstName": "Maya",
                        "lastName": "Daugherty",
                        "phone": "+12204547407",
                        "dateOfBirth": "1999-02-17"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 6,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "rhoda.runolfsson@yahoo.com",
                          "firstName": "Sven",
                          "lastName": "Spinka",
                          "phone": "+16405764561",
                          "dateOfBirth": "2003-02-04"
                        },
                        {
                          "email": "casper.ziemann@torp.net",
                          "firstName": "Kristopher",
                          "lastName": "Rippin",
                          "phone": "+13307334950",
                          "dateOfBirth": "2007-12-22"
                        },
                        {
                          "email": "wade.smith@yahoo.com",
                          "firstName": "Bonita",
                          "lastName": "Leffler",
                          "phone": "+19018197114",
                          "dateOfBirth": "1986-02-17"
                        },
                        {
                          "email": "marcella.schmeler@yahoo.com",
                          "firstName": "Tate",
                          "lastName": "Gutkowski",
                          "phone": "+13465672506",
                          "dateOfBirth": "1991-01-10"
                        },
                        {
                          "email": "beahan.gloria@von.com",
                          "firstName": "Rosalia",
                          "lastName": "Kuhic",
                          "phone": "+12316878297",
                          "dateOfBirth": "1998-07-17"
                        },
                        {
                          "email": "eldridge93@stanton.info",
                          "firstName": "Maya",
                          "lastName": "Daugherty",
                          "phone": "+12204547407",
                          "dateOfBirth": "1999-02-17"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "rhoda.runolfsson@yahoo.com"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Sven"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Spinka"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+16405764561"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "2003-02-04"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customer/{customerIdOrEmail}": {
      "get": {
        "summary": "Get Customer",
        "operationId": "getCustomer",
        "description": "Returns a single customer by their ID, UUID, or email address.",
        "parameters": [
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date fields. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix) and abbreviations (e.g., MST).",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date fields. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix) and abbreviations (e.g., MST).",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The customer with their addresses and pay tokens",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "email": "hbode@hotmail.com"
                  },
                  "properties": {
                    "email": {
                      "type": "string",
                      "example": "hbode@hotmail.com"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "post": {
        "summary": "Update or Create Customer",
        "operationId": "updateOrCreateCustomer",
        "description": "Creates a customer if they do not exist, or updates an existing one.\nSupports setting `defaultPayToken` (by token value) and `defaultAddress` (by address UUID).",
        "parameters": [
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The upserted customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "email": "arowe@gmail.com"
                  },
                  "properties": {
                    "email": {
                      "type": "string",
                      "example": "arowe@gmail.com"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "path",
          "name": "customerIdOrEmail",
          "description": "The customer ID, UUID, or email address",
          "example": "customer_123",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers/{customerIdOrEmail}/addresses": {
      "get": {
        "summary": "List Customer Billing Addresses",
        "operationId": "listCustomerBillingAddresses",
        "description": "Returns all unique billing addresses that have been used by a customer across their payments.\nAddresses are deduplicated using case-insensitive and whitespace-insensitive comparison.",
        "parameters": [
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
            "example": "-city",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
              "example": "-city",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of unique billing addresses for the customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "company": "Gorczany, Lang and Romaguera",
                        "street": "52133 Zoila Radial Suite 049",
                        "city": "Dulcehaven",
                        "stateProvince": "MS",
                        "postcodeZip": "16884",
                        "country": "USA"
                      },
                      {
                        "company": "Pacocha Group",
                        "street": "421 Florine Isle",
                        "city": "Goldnerfurt",
                        "stateProvince": "ME",
                        "postcodeZip": "91189",
                        "country": "USA"
                      },
                      {
                        "company": "Kuvalis, Stroman and Goodwin",
                        "street": "71419 Gretchen Canyon Apt. 763",
                        "city": "Fabianfort",
                        "stateProvince": "KY",
                        "postcodeZip": "23112",
                        "country": "USA"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
[...]
