{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.75.1"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payout Exports",
      "description": "Create payout exports"
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/payments/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-04-30T00:00:00+00:00",
                      "periodEnd": "2026-05-07T00:00:00+00:00",
                      "numPaymentsCreated": 3946,
                      "numPaymentsProcessed": 2886,
                      "numPaymentsIncomplete": 1060,
                      "numPaymentsWithRefunds": 1845,
                      "numCardPresentPayments": 1723,
                      "numCardNotPresentPayments": -663,
                      "totalCapturedAmount": 3894616.45,
                      "totalRefundedAmount": 843428.21,
                      "totalNetCapturedAmount": 3051188.24,
                      "averageNetCapturedAmount": 2658.99,
                      "minNetCapturedAmount": 10.18,
                      "maxNetCapturedAmount": 9511.88,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-04-30T00:00:00+00:00",
                          "intervalEnd": "2026-05-01T00:00:00+00:00",
                          "numPaymentsCreated": 198,
                          "numPaymentsProcessed": 165,
                          "numPaymentsIncomplete": 33,
                          "numPaymentsWithRefunds": 135,
                          "numCardPresentPayments": 133,
                          "numCardNotPresentPayments": -100,
                          "totalCapturedAmount": 212975.77,
                          "totalRefundedAmount": 33010.95,
                          "totalNetCapturedAmount": 179964.82,
                          "averageNetCapturedAmount": 1090.7,
                          "minNetCapturedAmount": 91.22,
                          "maxNetCapturedAmount": 8547.95
                        },
                        {
                          "intervalStart": "2026-05-01T00:00:00+00:00",
                          "intervalEnd": "2026-05-02T00:00:00+00:00",
                          "numPaymentsCreated": 598,
                          "numPaymentsProcessed": 446,
                          "numPaymentsIncomplete": 152,
                          "numPaymentsWithRefunds": 105,
                          "numCardPresentPayments": 367,
                          "numCardNotPresentPayments": -215,
                          "totalCapturedAmount": 671588.48,
                          "totalRefundedAmount": 145628.84,
                          "totalNetCapturedAmount": 525959.64,
                          "averageNetCapturedAmount": 1179.28,
                          "minNetCapturedAmount": 59.05,
                          "maxNetCapturedAmount": 6180.39
                        },
                        {
                          "intervalStart": "2026-05-02T00:00:00+00:00",
                          "intervalEnd": "2026-05-03T00:00:00+00:00",
                          "numPaymentsCreated": 997,
                          "numPaymentsProcessed": 937,
                          "numPaymentsIncomplete": 60,
                          "numPaymentsWithRefunds": 909,
                          "numCardPresentPayments": 379,
                          "numCardNotPresentPayments": -319,
                          "totalCapturedAmount": 432925.2,
                          "totalRefundedAmount": 101212.19,
                          "totalNetCapturedAmount": 331713.01,
                          "averageNetCapturedAmount": 354.02,
                          "minNetCapturedAmount": 18.85,
                          "maxNetCapturedAmount": 9511.88
                        },
                        {
                          "intervalStart": "2026-05-03T00:00:00+00:00",
                          "intervalEnd": "2026-05-04T00:00:00+00:00",
                          "numPaymentsCreated": 210,
                          "numPaymentsProcessed": 178,
                          "numPaymentsIncomplete": 32,
                          "numPaymentsWithRefunds": 32,
                          "numCardPresentPayments": 138,
                          "numCardNotPresentPayments": -106,
                          "totalCapturedAmount": 671411.45,
                          "totalRefundedAmount": 156827.76,
                          "totalNetCapturedAmount": 514583.69,
                          "averageNetCapturedAmount": 2890.92,
                          "minNetCapturedAmount": 82.28,
                          "maxNetCapturedAmount": 1529.72
                        },
                        {
                          "intervalStart": "2026-05-04T00:00:00+00:00",
                          "intervalEnd": "2026-05-05T00:00:00+00:00",
                          "numPaymentsCreated": 678,
                          "numPaymentsProcessed": 478,
                          "numPaymentsIncomplete": 200,
                          "numPaymentsWithRefunds": 437,
                          "numCardPresentPayments": 171,
                          "numCardNotPresentPayments": 29,
                          "totalCapturedAmount": 870193.26,
                          "totalRefundedAmount": 235029.43,
                          "totalNetCapturedAmount": 635163.83,
                          "averageNetCapturedAmount": 1328.79,
                          "minNetCapturedAmount": 10.18,
                          "maxNetCapturedAmount": 8949.22
                        },
                        {
                          "intervalStart": "2026-05-05T00:00:00+00:00",
                          "intervalEnd": "2026-05-06T00:00:00+00:00",
                          "numPaymentsCreated": 955,
                          "numPaymentsProcessed": 625,
                          "numPaymentsIncomplete": 330,
                          "numPaymentsWithRefunds": 198,
                          "numCardPresentPayments": 492,
                          "numCardNotPresentPayments": -162,
                          "totalCapturedAmount": 221329.55,
                          "totalRefundedAmount": 9008.12,
                          "totalNetCapturedAmount": 212321.43,
                          "averageNetCapturedAmount": 339.71,
                          "minNetCapturedAmount": 85.81,
                          "maxNetCapturedAmount": 2600.28
                        },
                        {
                          "intervalStart": "2026-05-06T00:00:00+00:00",
                          "intervalEnd": "2026-05-07T00:00:00+00:00",
                          "numPaymentsCreated": 310,
                          "numPaymentsProcessed": 57,
                          "numPaymentsIncomplete": 253,
                          "numPaymentsWithRefunds": 29,
                          "numCardPresentPayments": 43,
                          "numCardNotPresentPayments": 210,
                          "totalCapturedAmount": 814192.74,
                          "totalRefundedAmount": 162710.92,
                          "totalNetCapturedAmount": 651481.82,
                          "averageNetCapturedAmount": 11429.51,
                          "minNetCapturedAmount": 17.07,
                          "maxNetCapturedAmount": 7720.52
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-04-30T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-05-07T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "numPaymentsCreated": {
                          "type": "integer",
                          "example": 3946,
                          "description": "Total number of payment records created in the period",
                          "enum": []
                        },
                        "numPaymentsProcessed": {
                          "type": "integer",
                          "example": 2886,
                          "description": "Number of payments that have successfully had funds captured (captured amount > 0)",
                          "enum": []
                        },
                        "numPaymentsIncomplete": {
                          "type": "integer",
                          "example": 1060,
                          "description": "Number of payments which have been created but funds have not been captured yet (e.g. failures, declines, authorizations, etc.)",
                          "enum": []
                        },
                        "numPaymentsWithRefunds": {
                          "type": "integer",
                          "example": 1845,
                          "description": "Number of payments that have had one or more refunds (refunded amount > 0)",
                          "enum": []
                        },
                        "numCardPresentPayments": {
                          "type": "integer",
                          "example": 1723,
                          "description": "Number of payments made with card present (e.g. via terminal device)",
                          "enum": []
                        },
                        "numCardNotPresentPayments": {
                          "type": "integer",
                          "example": -663,
                          "description": "Number of payments made with card not present (e.g. online payments)",
                          "enum": []
                        },
                        "totalCapturedAmount": {
                          "type": "number",
                          "example": 3894616.45,
                          "description": "Total amount captured across all payments in the period",
                          "enum": []
                        },
                        "totalRefundedAmount": {
                          "type": "number",
                          "example": 843428.21,
                          "description": "Total amount refunded across all payments in the period",
                          "enum": []
                        },
                        "totalNetCapturedAmount": {
                          "type": "number",
                          "example": 3051188.24,
                          "description": "Net captured amount (captured - refunded) across all payments in the period",
                          "enum": []
                        },
                        "averageNetCapturedAmount": {
                          "type": "number",
                          "example": 2658.99,
                          "description": "Average net captured amount per payment in the period",
                          "enum": []
                        },
                        "minNetCapturedAmount": {
                          "type": "number",
                          "example": 10.18,
                          "description": "Minimum net captured amount in the period",
                          "enum": []
                        },
                        "maxNetCapturedAmount": {
                          "type": "number",
                          "example": 9511.88,
                          "description": "Maximum net captured amount in the period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-04-30T00:00:00+00:00",
                              "intervalEnd": "2026-05-01T00:00:00+00:00",
                              "numPaymentsCreated": 198,
                              "numPaymentsProcessed": 165,
                              "numPaymentsIncomplete": 33,
                              "numPaymentsWithRefunds": 135,
                              "numCardPresentPayments": 133,
                              "numCardNotPresentPayments": -100,
                              "totalCapturedAmount": 212975.77,
                              "totalRefundedAmount": 33010.95,
                              "totalNetCapturedAmount": 179964.82,
                              "averageNetCapturedAmount": 1090.7,
                              "minNetCapturedAmount": 91.22,
                              "maxNetCapturedAmount": 8547.95
                            },
                            {
                              "intervalStart": "2026-05-01T00:00:00+00:00",
                              "intervalEnd": "2026-05-02T00:00:00+00:00",
                              "numPaymentsCreated": 598,
                              "numPaymentsProcessed": 446,
                              "numPaymentsIncomplete": 152,
                              "numPaymentsWithRefunds": 105,
                              "numCardPresentPayments": 367,
                              "numCardNotPresentPayments": -215,
                              "totalCapturedAmount": 671588.48,
                              "totalRefundedAmount": 145628.84,
                              "totalNetCapturedAmount": 525959.64,
                              "averageNetCapturedAmount": 1179.28,
                              "minNetCapturedAmount": 59.05,
                              "maxNetCapturedAmount": 6180.39
                            },
                            {
                              "intervalStart": "2026-05-02T00:00:00+00:00",
                              "intervalEnd": "2026-05-03T00:00:00+00:00",
                              "numPaymentsCreated": 997,
                              "numPaymentsProcessed": 937,
                              "numPaymentsIncomplete": 60,
                              "numPaymentsWithRefunds": 909,
                              "numCardPresentPayments": 379,
                              "numCardNotPresentPayments": -319,
                              "totalCapturedAmount": 432925.2,
                              "totalRefundedAmount": 101212.19,
                              "totalNetCapturedAmount": 331713.01,
                              "averageNetCapturedAmount": 354.02,
                              "minNetCapturedAmount": 18.85,
                              "maxNetCapturedAmount": 9511.88
                            },
                            {
                              "intervalStart": "2026-05-03T00:00:00+00:00",
                              "intervalEnd": "2026-05-04T00:00:00+00:00",
                              "numPaymentsCreated": 210,
                              "numPaymentsProcessed": 178,
                              "numPaymentsIncomplete": 32,
                              "numPaymentsWithRefunds": 32,
                              "numCardPresentPayments": 138,
                              "numCardNotPresentPayments": -106,
                              "totalCapturedAmount": 671411.45,
                              "totalRefundedAmount": 156827.76,
                              "totalNetCapturedAmount": 514583.69,
                              "averageNetCapturedAmount": 2890.92,
                              "minNetCapturedAmount": 82.28,
                              "maxNetCapturedAmount": 1529.72
                            },
                            {
                              "intervalStart": "2026-05-04T00:00:00+00:00",
                              "intervalEnd": "2026-05-05T00:00:00+00:00",
                              "numPaymentsCreated": 678,
                              "numPaymentsProcessed": 478,
                              "numPaymentsIncomplete": 200,
                              "numPaymentsWithRefunds": 437,
                              "numCardPresentPayments": 171,
                              "numCardNotPresentPayments": 29,
                              "totalCapturedAmount": 870193.26,
                              "totalRefundedAmount": 235029.43,
                              "totalNetCapturedAmount": 635163.83,
                              "averageNetCapturedAmount": 1328.79,
                              "minNetCapturedAmount": 10.18,
                              "maxNetCapturedAmount": 8949.22
                            },
                            {
                              "intervalStart": "2026-05-05T00:00:00+00:00",
                              "intervalEnd": "2026-05-06T00:00:00+00:00",
                              "numPaymentsCreated": 955,
                              "numPaymentsProcessed": 625,
                              "numPaymentsIncomplete": 330,
                              "numPaymentsWithRefunds": 198,
                              "numCardPresentPayments": 492,
                              "numCardNotPresentPayments": -162,
                              "totalCapturedAmount": 221329.55,
                              "totalRefundedAmount": 9008.12,
                              "totalNetCapturedAmount": 212321.43,
                              "averageNetCapturedAmount": 339.71,
                              "minNetCapturedAmount": 85.81,
                              "maxNetCapturedAmount": 2600.28
                            },
                            {
                              "intervalStart": "2026-05-06T00:00:00+00:00",
                              "intervalEnd": "2026-05-07T00:00:00+00:00",
                              "numPaymentsCreated": 310,
                              "numPaymentsProcessed": 57,
                              "numPaymentsIncomplete": 253,
                              "numPaymentsWithRefunds": 29,
                              "numCardPresentPayments": 43,
                              "numCardNotPresentPayments": 210,
                              "totalCapturedAmount": 814192.74,
                              "totalRefundedAmount": 162710.92,
                              "totalNetCapturedAmount": 651481.82,
                              "averageNetCapturedAmount": 11429.51,
                              "minNetCapturedAmount": 17.07,
                              "maxNetCapturedAmount": 7720.52
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-04-30T00:00:00+00:00",
                                "description": "Start time of the PaymentAnalyticsData interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-05-01T00:00:00+00:00",
                                "description": "End time of the PaymentAnalyticsData interval",
                                "enum": []
                              },
                              "numPaymentsCreated": {
                                "type": "integer",
                                "example": 198,
                                "description": "Total number of payment records created in the interval",
                                "enum": []
                              },
                              "numPaymentsProcessed": {
                                "type": "integer",
                                "example": 165,
                                "description": "Number of payments that have successfully had funds captured (captured amount > 0)",
                                "enum": []
                              },
                              "numPaymentsIncomplete": {
                                "type": "integer",
                                "example": 33,
                                "description": "Number of payments which have been created but funds have not been captured yet (e.g. failures, declines, authorizations, etc.)",
                                "enum": []
                              },
                              "numPaymentsWithRefunds": {
                                "type": "integer",
                                "example": 135,
                                "description": "Number of payments that have had one or more refunds (refunded amount > 0)",
                                "enum": []
                              },
                              "numCardPresentPayments": {
                                "type": "integer",
                                "example": 133,
                                "description": "Number of payments made with card present (e.g. via terminal device)",
                                "enum": []
                              },
                              "numCardNotPresentPayments": {
                                "type": "integer",
                                "example": -100,
                                "description": "Number of payments made with card not present (e.g. online payments)",
                                "enum": []
                              },
                              "totalCapturedAmount": {
                                "type": "number",
                                "example": 212975.77,
                                "description": "Total amount captured across all payments in the interval",
                                "enum": []
                              },
                              "totalRefundedAmount": {
                                "type": "number",
                                "example": 33010.95,
                                "description": "Total amount refunded across all payments in the interval",
                                "enum": []
                              },
                              "totalNetCapturedAmount": {
                                "type": "number",
                                "example": 179964.82,
                                "description": "Net captured amount (captured - refunded) across all payments in the interval",
                                "enum": []
                              },
                              "averageNetCapturedAmount": {
                                "type": "number",
                                "example": 1090.7,
                                "description": "Average net captured amount per payment in the interval",
                                "enum": []
                              },
                              "minNetCapturedAmount": {
                                "type": "number",
                                "example": 91.22,
                                "description": "Minimum net captured amount in the interval",
                                "enum": []
                              },
                              "maxNetCapturedAmount": {
                                "type": "number",
                                "example": 8547.95,
                                "description": "Maximum net captured amount in the interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/payments/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-04-30T00:00:00+00:00",
                      "periodEnd": "2026-05-07T00:00:00+00:00",
                      "activeCustomers": 152,
                      "newCustomers": 241,
                      "returningCustomers": -89,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-04-30T00:00:00+00:00",
                          "intervalEnd": "2026-05-01T00:00:00+00:00",
                          "activeCustomers": 75,
                          "newCustomers": 15,
                          "returningCustomers": 60
                        },
                        {
                          "intervalStart": "2026-05-01T00:00:00+00:00",
                          "intervalEnd": "2026-05-02T00:00:00+00:00",
                          "activeCustomers": 62,
                          "newCustomers": 32,
                          "returningCustomers": 30
                        },
                        {
                          "intervalStart": "2026-05-02T00:00:00+00:00",
                          "intervalEnd": "2026-05-03T00:00:00+00:00",
                          "activeCustomers": 11,
                          "newCustomers": 6,
                          "returningCustomers": 5
                        },
                        {
                          "intervalStart": "2026-05-03T00:00:00+00:00",
                          "intervalEnd": "2026-05-04T00:00:00+00:00",
                          "activeCustomers": 56,
                          "newCustomers": 15,
                          "returningCustomers": 41
                        },
                        {
                          "intervalStart": "2026-05-04T00:00:00+00:00",
                          "intervalEnd": "2026-05-05T00:00:00+00:00",
                          "activeCustomers": 36,
                          "newCustomers": 26,
                          "returningCustomers": 10
                        },
                        {
                          "intervalStart": "2026-05-05T00:00:00+00:00",
                          "intervalEnd": "2026-05-06T00:00:00+00:00",
                          "activeCustomers": 90,
                          "newCustomers": 82,
                          "returningCustomers": 8
                        },
                        {
                          "intervalStart": "2026-05-06T00:00:00+00:00",
                          "intervalEnd": "2026-05-07T00:00:00+00:00",
                          "activeCustomers": 97,
                          "newCustomers": 65,
                          "returningCustomers": 32
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-04-30T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-05-07T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "activeCustomers": {
                          "type": "integer",
                          "example": 152,
                          "description": "number of customers who are associated with at least one payment which was created in the period",
                          "enum": []
                        },
                        "newCustomers": {
                          "type": "integer",
                          "example": 241,
                          "description": "number of new customers added in the period",
                          "enum": []
                        },
                        "returningCustomers": {
                          "type": "integer",
                          "example": -89,
                          "description": "number of customers who were active in the period but were created before the period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-04-30T00:00:00+00:00",
                              "intervalEnd": "2026-05-01T00:00:00+00:00",
                              "activeCustomers": 75,
                              "newCustomers": 15,
                              "returningCustomers": 60
                            },
                            {
                              "intervalStart": "2026-05-01T00:00:00+00:00",
                              "intervalEnd": "2026-05-02T00:00:00+00:00",
                              "activeCustomers": 62,
                              "newCustomers": 32,
                              "returningCustomers": 30
                            },
                            {
                              "intervalStart": "2026-05-02T00:00:00+00:00",
                              "intervalEnd": "2026-05-03T00:00:00+00:00",
                              "activeCustomers": 11,
                              "newCustomers": 6,
                              "returningCustomers": 5
                            },
                            {
                              "intervalStart": "2026-05-03T00:00:00+00:00",
                              "intervalEnd": "2026-05-04T00:00:00+00:00",
                              "activeCustomers": 56,
                              "newCustomers": 15,
                              "returningCustomers": 41
                            },
                            {
                              "intervalStart": "2026-05-04T00:00:00+00:00",
                              "intervalEnd": "2026-05-05T00:00:00+00:00",
                              "activeCustomers": 36,
                              "newCustomers": 26,
                              "returningCustomers": 10
                            },
                            {
                              "intervalStart": "2026-05-05T00:00:00+00:00",
                              "intervalEnd": "2026-05-06T00:00:00+00:00",
                              "activeCustomers": 90,
                              "newCustomers": 82,
                              "returningCustomers": 8
                            },
                            {
                              "intervalStart": "2026-05-06T00:00:00+00:00",
                              "intervalEnd": "2026-05-07T00:00:00+00:00",
                              "activeCustomers": 97,
                              "newCustomers": 65,
                              "returningCustomers": 32
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-04-30T00:00:00+00:00",
                                "description": "Start time of the analytics calculation interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-05-01T00:00:00+00:00",
                                "description": "End time of the analytics calculation interval",
                                "enum": []
                              },
                              "activeCustomers": {
                                "type": "integer",
                                "example": 75,
                                "description": "number of customers who are associated with at least one payment which was created in the interval",
                                "enum": []
                              },
                              "newCustomers": {
                                "type": "integer",
                                "example": 15,
                                "description": "number of new customers added in the interval",
                                "enum": []
                              },
                              "returningCustomers": {
                                "type": "integer",
                                "example": 60,
                                "description": "number of customers who were active in the interval but were created before the interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/payments/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-04-30T00:00:00+00:00",
                      "periodEnd": "2026-05-07T00:00:00+00:00",
                      "totalTransactions": 3159,
                      "authorizeTransactions": 209,
                      "captureTransactions": 238,
                      "payTransactions": 1167,
                      "refundTransactions": 974,
                      "verifyTransactions": 295,
                      "voidTransactions": 276,
                      "successfulTransactions": 2841,
                      "failedTransactions": 255,
                      "declinedTransactions": 46,
                      "pendingTransactions": 17,
                      "unknownTransactions": 0,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-04-30T00:00:00+00:00",
                          "intervalEnd": "2026-05-01T00:00:00+00:00",
                          "totalTransactions": 689,
                          "authorizeTransactions": 79,
                          "captureTransactions": 88,
                          "payTransactions": 145,
                          "refundTransactions": 283,
                          "verifyTransactions": 39,
                          "voidTransactions": 55,
                          "successfulTransactions": 620,
                          "failedTransactions": 63,
                          "declinedTransactions": 4,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-05-01T00:00:00+00:00",
                          "intervalEnd": "2026-05-02T00:00:00+00:00",
                          "totalTransactions": 234,
                          "authorizeTransactions": 18,
                          "captureTransactions": 19,
                          "payTransactions": 35,
                          "refundTransactions": 60,
                          "verifyTransactions": 36,
                          "voidTransactions": 66,
                          "successfulTransactions": 210,
                          "failedTransactions": 17,
                          "declinedTransactions": 6,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-05-02T00:00:00+00:00",
                          "intervalEnd": "2026-05-03T00:00:00+00:00",
                          "totalTransactions": 489,
                          "authorizeTransactions": 29,
                          "captureTransactions": 33,
                          "payTransactions": 298,
                          "refundTransactions": 16,
                          "verifyTransactions": 67,
                          "voidTransactions": 46,
                          "successfulTransactions": 440,
                          "failedTransactions": 38,
                          "declinedTransactions": 7,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-05-03T00:00:00+00:00",
                          "intervalEnd": "2026-05-04T00:00:00+00:00",
                          "totalTransactions": 657,
                          "authorizeTransactions": 20,
                          "captureTransactions": 26,
                          "payTransactions": 114,
                          "refundTransactions": 374,
                          "verifyTransactions": 26,
                          "voidTransactions": 97,
                          "successfulTransactions": 591,
                          "failedTransactions": 48,
                          "declinedTransactions": 12,
                          "pendingTransactions": 6,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-05-04T00:00:00+00:00",
                          "intervalEnd": "2026-05-05T00:00:00+00:00",
                          "totalTransactions": 266,
                          "authorizeTransactions": 32,
                          "captureTransactions": 35,
                          "payTransactions": 63,
                          "refundTransactions": 111,
                          "verifyTransactions": 21,
                          "voidTransactions": 4,
                          "successfulTransactions": 239,
                          "failedTransactions": 23,
                          "declinedTransactions": 2,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-05-05T00:00:00+00:00",
                          "intervalEnd": "2026-05-06T00:00:00+00:00",
                          "totalTransactions": 658,
                          "authorizeTransactions": 11,
                          "captureTransactions": 12,
                          "payTransactions": 432,
                          "refundTransactions": 104,
                          "verifyTransactions": 94,
                          "voidTransactions": 5,
                          "successfulTransactions": 592,
                          "failedTransactions": 54,
                          "declinedTransactions": 11,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-05-06T00:00:00+00:00",
                          "intervalEnd": "2026-05-07T00:00:00+00:00",
                          "totalTransactions": 166,
                          "authorizeTransactions": 20,
                          "captureTransactions": 25,
                          "payTransactions": 80,
                          "refundTransactions": 26,
                          "verifyTransactions": 12,
                          "voidTransactions": 3,
                          "successfulTransactions": 149,
                          "failedTransactions": 12,
                          "declinedTransactions": 4,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-04-30T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-05-07T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "totalTransactions": {
                          "type": "integer",
                          "example": 3159,
                          "description": "Total number of transactions in the period",
                          "enum": []
                        },
                        "authorizeTransactions": {
                          "type": "integer",
                          "example": 209,
                          "description": "Number of authorize transactions in the period",
                          "enum": []
                        },
                        "captureTransactions": {
                          "type": "integer",
                          "example": 238,
                          "description": "Number of capture transactions in the period",
                          "enum": []
                        },
                        "payTransactions": {
                          "type": "integer",
                          "example": 1167,
                          "description": "Number of pay transactions in the period",
                          "enum": []
                        },
                        "refundTransactions": {
                          "type": "integer",
                          "example": 974,
                          "description": "Number of refund transactions in the period",
                          "enum": []
                        },
                        "verifyTransactions": {
                          "type": "integer",
                          "example": 295,
                          "description": "Number of verify transactions in the period",
                          "enum": []
                        },
                        "voidTransactions": {
                          "type": "integer",
                          "example": 276,
                          "description": "Number of void transactions in the period",
                          "enum": []
                        },
                        "successfulTransactions": {
                          "type": "integer",
                          "example": 2841,
                          "description": "Number of successful transactions in the period",
                          "enum": []
                        },
                        "failedTransactions": {
                          "type": "integer",
                          "example": 255,
                          "description": "Number of failed transactions in the period",
                          "enum": []
                        },
                        "declinedTransactions": {
                          "type": "integer",
                          "example": 46,
                          "description": "Number of declined transactions in the period",
                          "enum": []
                        },
                        "pendingTransactions": {
                          "type": "integer",
                          "example": 17,
                          "description": "Number of pending transactions in the period",
                          "enum": []
                        },
                        "unknownTransactions": {
                          "type": "integer",
                          "example": 0,
                          "description": "Number of transactions with unknown result in the period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-04-30T00:00:00+00:00",
                              "intervalEnd": "2026-05-01T00:00:00+00:00",
                              "totalTransactions": 689,
                              "authorizeTransactions": 79,
                              "captureTransactions": 88,
                              "payTransactions": 145,
                              "refundTransactions": 283,
                              "verifyTransactions": 39,
                              "voidTransactions": 55,
                              "successfulTransactions": 620,
                              "failedTransactions": 63,
                              "declinedTransactions": 4,
                              "pendingTransactions": 2,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-05-01T00:00:00+00:00",
                              "intervalEnd": "2026-05-02T00:00:00+00:00",
                              "totalTransactions": 234,
                              "authorizeTransactions": 18,
                              "captureTransactions": 19,
                              "payTransactions": 35,
                              "refundTransactions": 60,
                              "verifyTransactions": 36,
                              "voidTransactions": 66,
                              "successfulTransactions": 210,
                              "failedTransactions": 17,
                              "declinedTransactions": 6,
                              "pendingTransactions": 1,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-05-02T00:00:00+00:00",
                              "intervalEnd": "2026-05-03T00:00:00+00:00",
                              "totalTransactions": 489,
                              "authorizeTransactions": 29,
                              "captureTransactions": 33,
                              "payTransactions": 298,
                              "refundTransactions": 16,
                              "verifyTransactions": 67,
                              "voidTransactions": 46,
                              "successfulTransactions": 440,
                              "failedTransactions": 38,
                              "declinedTransactions": 7,
                              "pendingTransactions": 4,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-05-03T00:00:00+00:00",
                              "intervalEnd": "2026-05-04T00:00:00+00:00",
                              "totalTransactions": 657,
                              "authorizeTransactions": 20,
                              "captureTransactions": 26,
                              "payTransactions": 114,
                              "refundTransactions": 374,
                              "verifyTransactions": 26,
                              "voidTransactions": 97,
                              "successfulTransactions": 591,
                              "failedTransactions": 48,
                              "declinedTransactions": 12,
                              "pendingTransactions": 6,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-05-04T00:00:00+00:00",
                              "intervalEnd": "2026-05-05T00:00:00+00:00",
                              "totalTransactions": 266,
                              "authorizeTransactions": 32,
                              "captureTransactions": 35,
                              "payTransactions": 63,
                              "refundTransactions": 111,
                              "verifyTransactions": 21,
                              "voidTransactions": 4,
                              "successfulTransactions": 239,
                              "failedTransactions": 23,
                              "declinedTransactions": 2,
                              "pendingTransactions": 2,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-05-05T00:00:00+00:00",
                              "intervalEnd": "2026-05-06T00:00:00+00:00",
                              "totalTransactions": 658,
                              "authorizeTransactions": 11,
                              "captureTransactions": 12,
                              "payTransactions": 432,
                              "refundTransactions": 104,
                              "verifyTransactions": 94,
                              "voidTransactions": 5,
                              "successfulTransactions": 592,
                              "failedTransactions": 54,
                              "declinedTransactions": 11,
                              "pendingTransactions": 1,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-05-06T00:00:00+00:00",
                              "intervalEnd": "2026-05-07T00:00:00+00:00",
                              "totalTransactions": 166,
                              "authorizeTransactions": 20,
                              "captureTransactions": 25,
                              "payTransactions": 80,
                              "refundTransactions": 26,
                              "verifyTransactions": 12,
                              "voidTransactions": 3,
                              "successfulTransactions": 149,
                              "failedTransactions": 12,
                              "declinedTransactions": 4,
                              "pendingTransactions": 1,
                              "unknownTransactions": 0
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-04-30T00:00:00+00:00",
                                "description": "Start time of the analytics calculation interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-05-01T00:00:00+00:00",
                                "description": "End time of the analytics calculation interval",
                                "enum": []
                              },
                              "totalTransactions": {
                                "type": "integer",
                                "example": 689,
                                "description": "Total number of transactions in the interval",
                                "enum": []
                              },
                              "authorizeTransactions": {
                                "type": "integer",
                                "example": 79,
                                "description": "Number of authorize transactions in the interval",
                                "enum": []
                              },
                              "captureTransactions": {
                                "type": "integer",
                                "example": 88,
                                "description": "Number of capture transactions in the interval",
                                "enum": []
                              },
                              "payTransactions": {
                                "type": "integer",
                                "example": 145,
                                "description": "Number of pay transactions in the interval",
                                "enum": []
                              },
                              "refundTransactions": {
                                "type": "integer",
                                "example": 283,
                                "description": "Number of refund transactions in the interval",
                                "enum": []
                              },
                              "verifyTransactions": {
                                "type": "integer",
                                "example": 39,
                                "description": "Number of verify transactions in the interval",
                                "enum": []
                              },
                              "voidTransactions": {
                                "type": "integer",
                                "example": 55,
                                "description": "Number of void transactions in the interval",
                                "enum": []
                              },
                              "successfulTransactions": {
                                "type": "integer",
                                "example": 620,
                                "description": "Number of successful transactions in the interval",
                                "enum": []
                              },
                              "failedTransactions": {
                                "type": "integer",
                                "example": 63,
                                "description": "Number of failed transactions in the interval",
                                "enum": []
                              },
                              "declinedTransactions": {
                                "type": "integer",
                                "example": 4,
                                "description": "Number of declined transactions in the interval",
                                "enum": []
                              },
                              "pendingTransactions": {
                                "type": "integer",
                                "example": 2,
                                "description": "Number of pending transactions in the interval",
                                "enum": []
                              },
                              "unknownTransactions": {
                                "type": "integer",
                                "example": 0,
                                "description": "Number of transactions with unknown result in the interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/payments/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-04-30T00:00:00+00:00",
                      "periodEnd": "2026-05-07T00:00:00+00:00",
                      "totalSettlementAmount": 44633.95,
                      "totalFeeAmount": 2187.06355,
                      "totalNetAmount": 42446.88645,
                      "totalTransactionsPending": 146,
                      "totalTransactionsSettled": 536,
                      "totalTransactionsSettling": 1238,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-04-30T00:00:00+00:00",
                          "intervalEnd": "2026-05-01T00:00:00+00:00",
                          "totalSettlementAmount": 7277.01,
                          "totalFeeAmount": 356.57349,
                          "totalNetAmount": 6920.43651,
                          "totalTransactionsPending": 33,
                          "totalTransactionsSettled": 95,
                          "totalTransactionsSettling": 178
                        },
                        {
                          "intervalStart": "2026-05-01T00:00:00+00:00",
                          "intervalEnd": "2026-05-02T00:00:00+00:00",
                          "totalSettlementAmount": 7269.69,
                          "totalFeeAmount": 356.21481,
                          "totalNetAmount": 6913.47519,
                          "totalTransactionsPending": 12,
                          "totalTransactionsSettled": 97,
                          "totalTransactionsSettling": 53
                        },
                        {
                          "intervalStart": "2026-05-02T00:00:00+00:00",
                          "intervalEnd": "2026-05-03T00:00:00+00:00",
                          "totalSettlementAmount": 5960.21,
                          "totalFeeAmount": 292.05029,
                          "totalNetAmount": 5668.15971,
                          "totalTransactionsPending": 19,
                          "totalTransactionsSettled": 44,
                          "totalTransactionsSettling": 51
                        },
                        {
                          "intervalStart": "2026-05-03T00:00:00+00:00",
                          "intervalEnd": "2026-05-04T00:00:00+00:00",
                          "totalSettlementAmount": 8050.93,
                          "totalFeeAmount": 394.49557,
                          "totalNetAmount": 7656.43443,
                          "totalTransactionsPending": 27,
                          "totalTransactionsSettled": 43,
                          "totalTransactionsSettling": 243
                        },
                        {
                          "intervalStart": "2026-05-04T00:00:00+00:00",
                          "intervalEnd": "2026-05-05T00:00:00+00:00",
                          "totalSettlementAmount": 4034.71,
                          "totalFeeAmount": 197.70079,
                          "totalNetAmount": 3837.00921,
                          "totalTransactionsPending": 9,
                          "totalTransactionsSettled": 142,
                          "totalTransactionsSettling": 67
                        },
                        {
                          "intervalStart": "2026-05-05T00:00:00+00:00",
                          "intervalEnd": "2026-05-06T00:00:00+00:00",
                          "totalSettlementAmount": 5309.76,
                          "totalFeeAmount": 260.17824,
                          "totalNetAmount": 5049.58176,
                          "totalTransactionsPending": 20,
                          "totalTransactionsSettled": 64,
                          "totalTransactionsSettling": 360
                        },
                        {
                          "intervalStart": "2026-05-06T00:00:00+00:00",
                          "intervalEnd": "2026-05-07T00:00:00+00:00",
                          "totalSettlementAmount": 6731.64,
                          "totalFeeAmount": 329.85036,
                          "totalNetAmount": 6401.78964,
                          "totalTransactionsPending": 26,
                          "totalTransactionsSettled": 51,
                          "totalTransactionsSettling": 286
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-04-30T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-05-07T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "totalSettlementAmount": {
                          "type": "number",
                          "example": 44633.95,
                          "description": "Total settled payout amount in this period",
                          "enum": []
                        },
                        "totalFeeAmount": {
                          "type": "number",
                          "example": 2187.06355,
                          "description": "Total amount of fees charged for the payouts in this period",
                          "enum": []
                        },
                        "totalNetAmount": {
                          "type": "number",
                          "example": 42446.88645,
                          "description": "Total net payout amount in this period",
                          "enum": []
                        },
                        "totalTransactionsPending": {
                          "type": "integer",
                          "example": 146,
                          "description": "Total number of transactions pending in this period",
                          "enum": []
                        },
                        "totalTransactionsSettled": {
                          "type": "integer",
                          "example": 536,
                          "description": "Total number of transactions settled in this period",
                          "enum": []
                        },
                        "totalTransactionsSettling": {
                          "type": "integer",
                          "example": 1238,
                          "description": "Total number of transactions settling in this period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-04-30T00:00:00+00:00",
                              "intervalEnd": "2026-05-01T00:00:00+00:00",
                              "totalSettlementAmount": 7277.01,
                              "totalFeeAmount": 356.57349,
                              "totalNetAmount": 6920.43651,
                              "totalTransactionsPending": 33,
                              "totalTransactionsSettled": 95,
                              "totalTransactionsSettling": 178
                            },
                            {
                              "intervalStart": "2026-05-01T00:00:00+00:00",
                              "intervalEnd": "2026-05-02T00:00:00+00:00",
                              "totalSettlementAmount": 7269.69,
                              "totalFeeAmount": 356.21481,
                              "totalNetAmount": 6913.47519,
                              "totalTransactionsPending": 12,
                              "totalTransactionsSettled": 97,
                              "totalTransactionsSettling": 53
                            },
                            {
                              "intervalStart": "2026-05-02T00:00:00+00:00",
                              "intervalEnd": "2026-05-03T00:00:00+00:00",
                              "totalSettlementAmount": 5960.21,
                              "totalFeeAmount": 292.05029,
                              "totalNetAmount": 5668.15971,
                              "totalTransactionsPending": 19,
                              "totalTransactionsSettled": 44,
                              "totalTransactionsSettling": 51
                            },
                            {
                              "intervalStart": "2026-05-03T00:00:00+00:00",
                              "intervalEnd": "2026-05-04T00:00:00+00:00",
                              "totalSettlementAmount": 8050.93,
                              "totalFeeAmount": 394.49557,
                              "totalNetAmount": 7656.43443,
                              "totalTransactionsPending": 27,
                              "totalTransactionsSettled": 43,
                              "totalTransactionsSettling": 243
                            },
                            {
                              "intervalStart": "2026-05-04T00:00:00+00:00",
                              "intervalEnd": "2026-05-05T00:00:00+00:00",
                              "totalSettlementAmount": 4034.71,
                              "totalFeeAmount": 197.70079,
                              "totalNetAmount": 3837.00921,
                              "totalTransactionsPending": 9,
                              "totalTransactionsSettled": 142,
                              "totalTransactionsSettling": 67
                            },
                            {
                              "intervalStart": "2026-05-05T00:00:00+00:00",
                              "intervalEnd": "2026-05-06T00:00:00+00:00",
                              "totalSettlementAmount": 5309.76,
                              "totalFeeAmount": 260.17824,
                              "totalNetAmount": 5049.58176,
                              "totalTransactionsPending": 20,
                              "totalTransactionsSettled": 64,
                              "totalTransactionsSettling": 360
                            },
                            {
                              "intervalStart": "2026-05-06T00:00:00+00:00",
                              "intervalEnd": "2026-05-07T00:00:00+00:00",
                              "totalSettlementAmount": 6731.64,
                              "totalFeeAmount": 329.85036,
                              "totalNetAmount": 6401.78964,
                              "totalTransactionsPending": 26,
                              "totalTransactionsSettled": 51,
                              "totalTransactionsSettling": 286
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-04-30T00:00:00+00:00",
                                "description": "Start time of the analytics calculation interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-05-01T00:00:00+00:00",
                                "description": "End time of the analytics calculation interval",
                                "enum": []
                              },
                              "totalSettlementAmount": {
                                "type": "number",
                                "example": 7277.01,
                                "description": "Total settled payout amount in this interval",
                                "enum": []
                              },
                              "totalFeeAmount": {
                                "type": "number",
                                "example": 356.57349,
                                "description": "Total amount of fees charged for the payouts in this interval",
                                "enum": []
                              },
                              "totalNetAmount": {
                                "type": "number",
                                "example": 6920.43651,
                                "description": "Total net payout amount in this interval",
                                "enum": []
                              },
                              "totalTransactionsPending": {
                                "type": "integer",
                                "example": 33,
                                "description": "Total number of transactions pending in this interval",
                                "enum": []
                              },
                              "totalTransactionsSettled": {
                                "type": "integer",
                                "example": 95,
                                "description": "Total number of transactions settled in this interval",
                                "enum": []
                              },
                              "totalTransactionsSettling": {
                                "type": "integer",
                                "example": 178,
                                "description": "Total number of transactions settling in this interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/payments/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
[...]
