{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.49.0"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-01T00:00:00+00:00",
                    "periodEnd": "2026-03-08T00:00:00+00:00",
                    "numPaymentsCreated": 3772,
                    "numPaymentsProcessed": 2810,
                    "numPaymentsIncomplete": 962,
                    "numPaymentsWithRefunds": 1696,
                    "numCardPresentPayments": 1528,
                    "numCardNotPresentPayments": -566,
                    "totalCapturedAmount": 3802598.42,
                    "totalRefundedAmount": 398942.84,
                    "totalNetCapturedAmount": 3403655.58,
                    "averageNetCapturedAmount": 1983.8385714286,
                    "minNetCapturedAmount": 36.4,
                    "maxNetCapturedAmount": 8458.18,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-01T00:00:00+00:00",
                        "intervalEnd": "2026-03-02T00:00:00+00:00",
                        "numPaymentsCreated": 342,
                        "numPaymentsProcessed": 341,
                        "numPaymentsIncomplete": 1,
                        "numPaymentsWithRefunds": 195,
                        "numCardPresentPayments": 214,
                        "numCardNotPresentPayments": -213,
                        "totalCapturedAmount": 660930.78,
                        "totalRefundedAmount": 164696.15,
                        "totalNetCapturedAmount": 496234.63,
                        "averageNetCapturedAmount": 1455.23,
                        "minNetCapturedAmount": 84.3,
                        "maxNetCapturedAmount": 8458.18
                      },
                      {
                        "intervalStart": "2026-03-02T00:00:00+00:00",
                        "intervalEnd": "2026-03-03T00:00:00+00:00",
                        "numPaymentsCreated": 526,
                        "numPaymentsProcessed": 218,
                        "numPaymentsIncomplete": 308,
                        "numPaymentsWithRefunds": 0,
                        "numCardPresentPayments": 54,
                        "numCardNotPresentPayments": 254,
                        "totalCapturedAmount": 70602.34,
                        "totalRefundedAmount": 8711.91,
                        "totalNetCapturedAmount": 61890.43,
                        "averageNetCapturedAmount": 283.9,
                        "minNetCapturedAmount": 92.12,
                        "maxNetCapturedAmount": 7895.71
                      },
                      {
                        "intervalStart": "2026-03-03T00:00:00+00:00",
                        "intervalEnd": "2026-03-04T00:00:00+00:00",
                        "numPaymentsCreated": 783,
                        "numPaymentsProcessed": 775,
                        "numPaymentsIncomplete": 8,
                        "numPaymentsWithRefunds": 769,
                        "numCardPresentPayments": 627,
                        "numCardNotPresentPayments": -619,
                        "totalCapturedAmount": 770074.47,
                        "totalRefundedAmount": 49867.17,
                        "totalNetCapturedAmount": 720207.3,
                        "averageNetCapturedAmount": 929.3,
                        "minNetCapturedAmount": 43.25,
                        "maxNetCapturedAmount": 7266.06
                      },
                      {
                        "intervalStart": "2026-03-04T00:00:00+00:00",
                        "intervalEnd": "2026-03-05T00:00:00+00:00",
                        "numPaymentsCreated": 874,
                        "numPaymentsProcessed": 638,
                        "numPaymentsIncomplete": 236,
                        "numPaymentsWithRefunds": 596,
                        "numCardPresentPayments": 34,
                        "numCardNotPresentPayments": 202,
                        "totalCapturedAmount": 82388.72,
                        "totalRefundedAmount": 8865.31,
                        "totalNetCapturedAmount": 73523.41,
                        "averageNetCapturedAmount": 115.24,
                        "minNetCapturedAmount": 40.02,
                        "maxNetCapturedAmount": 6628.34
                      },
                      {
                        "intervalStart": "2026-03-05T00:00:00+00:00",
                        "intervalEnd": "2026-03-06T00:00:00+00:00",
                        "numPaymentsCreated": 239,
                        "numPaymentsProcessed": 178,
                        "numPaymentsIncomplete": 61,
                        "numPaymentsWithRefunds": 30,
                        "numCardPresentPayments": 120,
                        "numCardNotPresentPayments": -59,
                        "totalCapturedAmount": 851363.58,
                        "totalRefundedAmount": 37787.28,
                        "totalNetCapturedAmount": 813576.3,
                        "averageNetCapturedAmount": 4570.65,
                        "minNetCapturedAmount": 64.53,
                        "maxNetCapturedAmount": 3598.32
                      },
                      {
                        "intervalStart": "2026-03-06T00:00:00+00:00",
                        "intervalEnd": "2026-03-07T00:00:00+00:00",
                        "numPaymentsCreated": 475,
                        "numPaymentsProcessed": 138,
                        "numPaymentsIncomplete": 337,
                        "numPaymentsWithRefunds": 65,
                        "numCardPresentPayments": 99,
                        "numCardNotPresentPayments": 238,
                        "totalCapturedAmount": 883781.83,
                        "totalRefundedAmount": 103301.6,
                        "totalNetCapturedAmount": 780480.23,
                        "averageNetCapturedAmount": 5655.65,
                        "minNetCapturedAmount": 56.14,
                        "maxNetCapturedAmount": 3764.45
                      },
                      {
                        "intervalStart": "2026-03-07T00:00:00+00:00",
                        "intervalEnd": "2026-03-08T00:00:00+00:00",
                        "numPaymentsCreated": 533,
                        "numPaymentsProcessed": 522,
                        "numPaymentsIncomplete": 11,
                        "numPaymentsWithRefunds": 41,
                        "numCardPresentPayments": 380,
                        "numCardNotPresentPayments": -369,
                        "totalCapturedAmount": 483456.7,
                        "totalRefundedAmount": 25713.42,
                        "totalNetCapturedAmount": 457743.28,
                        "averageNetCapturedAmount": 876.9,
                        "minNetCapturedAmount": 36.4,
                        "maxNetCapturedAmount": 6075.43
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-01T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-08T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 3772
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 2810
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 962
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 1696
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 1528
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": -566
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 3802598.42
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 398942.84
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 3403655.58
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 1983.8385714286
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 36.4
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 8458.18
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-01T00:00:00+00:00",
                          "intervalEnd": "2026-03-02T00:00:00+00:00",
                          "numPaymentsCreated": 342,
                          "numPaymentsProcessed": 341,
                          "numPaymentsIncomplete": 1,
                          "numPaymentsWithRefunds": 195,
                          "numCardPresentPayments": 214,
                          "numCardNotPresentPayments": -213,
                          "totalCapturedAmount": 660930.78,
                          "totalRefundedAmount": 164696.15,
                          "totalNetCapturedAmount": 496234.63,
                          "averageNetCapturedAmount": 1455.23,
                          "minNetCapturedAmount": 84.3,
                          "maxNetCapturedAmount": 8458.18
                        },
                        {
                          "intervalStart": "2026-03-02T00:00:00+00:00",
                          "intervalEnd": "2026-03-03T00:00:00+00:00",
                          "numPaymentsCreated": 526,
                          "numPaymentsProcessed": 218,
                          "numPaymentsIncomplete": 308,
                          "numPaymentsWithRefunds": 0,
                          "numCardPresentPayments": 54,
                          "numCardNotPresentPayments": 254,
                          "totalCapturedAmount": 70602.34,
                          "totalRefundedAmount": 8711.91,
                          "totalNetCapturedAmount": 61890.43,
                          "averageNetCapturedAmount": 283.9,
                          "minNetCapturedAmount": 92.12,
                          "maxNetCapturedAmount": 7895.71
                        },
                        {
                          "intervalStart": "2026-03-03T00:00:00+00:00",
                          "intervalEnd": "2026-03-04T00:00:00+00:00",
                          "numPaymentsCreated": 783,
                          "numPaymentsProcessed": 775,
                          "numPaymentsIncomplete": 8,
                          "numPaymentsWithRefunds": 769,
                          "numCardPresentPayments": 627,
                          "numCardNotPresentPayments": -619,
                          "totalCapturedAmount": 770074.47,
                          "totalRefundedAmount": 49867.17,
                          "totalNetCapturedAmount": 720207.3,
                          "averageNetCapturedAmount": 929.3,
                          "minNetCapturedAmount": 43.25,
                          "maxNetCapturedAmount": 7266.06
                        },
                        {
                          "intervalStart": "2026-03-04T00:00:00+00:00",
                          "intervalEnd": "2026-03-05T00:00:00+00:00",
                          "numPaymentsCreated": 874,
                          "numPaymentsProcessed": 638,
                          "numPaymentsIncomplete": 236,
                          "numPaymentsWithRefunds": 596,
                          "numCardPresentPayments": 34,
                          "numCardNotPresentPayments": 202,
                          "totalCapturedAmount": 82388.72,
                          "totalRefundedAmount": 8865.31,
                          "totalNetCapturedAmount": 73523.41,
                          "averageNetCapturedAmount": 115.24,
                          "minNetCapturedAmount": 40.02,
                          "maxNetCapturedAmount": 6628.34
                        },
                        {
                          "intervalStart": "2026-03-05T00:00:00+00:00",
                          "intervalEnd": "2026-03-06T00:00:00+00:00",
                          "numPaymentsCreated": 239,
                          "numPaymentsProcessed": 178,
                          "numPaymentsIncomplete": 61,
                          "numPaymentsWithRefunds": 30,
                          "numCardPresentPayments": 120,
                          "numCardNotPresentPayments": -59,
                          "totalCapturedAmount": 851363.58,
                          "totalRefundedAmount": 37787.28,
                          "totalNetCapturedAmount": 813576.3,
                          "averageNetCapturedAmount": 4570.65,
                          "minNetCapturedAmount": 64.53,
                          "maxNetCapturedAmount": 3598.32
                        },
                        {
                          "intervalStart": "2026-03-06T00:00:00+00:00",
                          "intervalEnd": "2026-03-07T00:00:00+00:00",
                          "numPaymentsCreated": 475,
                          "numPaymentsProcessed": 138,
                          "numPaymentsIncomplete": 337,
                          "numPaymentsWithRefunds": 65,
                          "numCardPresentPayments": 99,
                          "numCardNotPresentPayments": 238,
                          "totalCapturedAmount": 883781.83,
                          "totalRefundedAmount": 103301.6,
                          "totalNetCapturedAmount": 780480.23,
                          "averageNetCapturedAmount": 5655.65,
                          "minNetCapturedAmount": 56.14,
                          "maxNetCapturedAmount": 3764.45
                        },
                        {
                          "intervalStart": "2026-03-07T00:00:00+00:00",
                          "intervalEnd": "2026-03-08T00:00:00+00:00",
                          "numPaymentsCreated": 533,
                          "numPaymentsProcessed": 522,
                          "numPaymentsIncomplete": 11,
                          "numPaymentsWithRefunds": 41,
                          "numCardPresentPayments": 380,
                          "numCardNotPresentPayments": -369,
                          "totalCapturedAmount": 483456.7,
                          "totalRefundedAmount": 25713.42,
                          "totalNetCapturedAmount": 457743.28,
                          "averageNetCapturedAmount": 876.9,
                          "minNetCapturedAmount": 36.4,
                          "maxNetCapturedAmount": 6075.43
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-01T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-02T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 342
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 341
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 1
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 195
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 214
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": -213
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 660930.78
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 164696.15
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 496234.63
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 1455.23
                          },
                          "minNetCapturedAmount": {
                            "type": "number",
                            "example": 84.3
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 8458.18
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-01T00:00:00+00:00",
                    "periodEnd": "2026-03-08T00:00:00+00:00",
                    "activeCustomers": 171,
                    "newCustomers": 273,
                    "returningCustomers": -102,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-01T00:00:00+00:00",
                        "intervalEnd": "2026-03-02T00:00:00+00:00",
                        "activeCustomers": 12,
                        "newCustomers": 6,
                        "returningCustomers": 6
                      },
                      {
                        "intervalStart": "2026-03-02T00:00:00+00:00",
                        "intervalEnd": "2026-03-03T00:00:00+00:00",
                        "activeCustomers": 87,
                        "newCustomers": 48,
                        "returningCustomers": 39
                      },
                      {
                        "intervalStart": "2026-03-03T00:00:00+00:00",
                        "intervalEnd": "2026-03-04T00:00:00+00:00",
                        "activeCustomers": 45,
                        "newCustomers": 40,
                        "returningCustomers": 5
                      },
                      {
                        "intervalStart": "2026-03-04T00:00:00+00:00",
                        "intervalEnd": "2026-03-05T00:00:00+00:00",
                        "activeCustomers": 67,
                        "newCustomers": 38,
                        "returningCustomers": 29
                      },
                      {
                        "intervalStart": "2026-03-05T00:00:00+00:00",
                        "intervalEnd": "2026-03-06T00:00:00+00:00",
                        "activeCustomers": 87,
                        "newCustomers": 53,
                        "returningCustomers": 34
                      },
                      {
                        "intervalStart": "2026-03-06T00:00:00+00:00",
                        "intervalEnd": "2026-03-07T00:00:00+00:00",
                        "activeCustomers": 44,
                        "newCustomers": 35,
                        "returningCustomers": 9
                      },
                      {
                        "intervalStart": "2026-03-07T00:00:00+00:00",
                        "intervalEnd": "2026-03-08T00:00:00+00:00",
                        "activeCustomers": 94,
                        "newCustomers": 53,
                        "returningCustomers": 41
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-01T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-08T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 171
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 273
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": -102
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-01T00:00:00+00:00",
                          "intervalEnd": "2026-03-02T00:00:00+00:00",
                          "activeCustomers": 12,
                          "newCustomers": 6,
                          "returningCustomers": 6
                        },
                        {
                          "intervalStart": "2026-03-02T00:00:00+00:00",
                          "intervalEnd": "2026-03-03T00:00:00+00:00",
                          "activeCustomers": 87,
                          "newCustomers": 48,
                          "returningCustomers": 39
                        },
                        {
                          "intervalStart": "2026-03-03T00:00:00+00:00",
                          "intervalEnd": "2026-03-04T00:00:00+00:00",
                          "activeCustomers": 45,
                          "newCustomers": 40,
                          "returningCustomers": 5
                        },
                        {
                          "intervalStart": "2026-03-04T00:00:00+00:00",
                          "intervalEnd": "2026-03-05T00:00:00+00:00",
                          "activeCustomers": 67,
                          "newCustomers": 38,
                          "returningCustomers": 29
                        },
                        {
                          "intervalStart": "2026-03-05T00:00:00+00:00",
                          "intervalEnd": "2026-03-06T00:00:00+00:00",
                          "activeCustomers": 87,
                          "newCustomers": 53,
                          "returningCustomers": 34
                        },
                        {
                          "intervalStart": "2026-03-06T00:00:00+00:00",
                          "intervalEnd": "2026-03-07T00:00:00+00:00",
                          "activeCustomers": 44,
                          "newCustomers": 35,
                          "returningCustomers": 9
                        },
                        {
                          "intervalStart": "2026-03-07T00:00:00+00:00",
                          "intervalEnd": "2026-03-08T00:00:00+00:00",
                          "activeCustomers": 94,
                          "newCustomers": 53,
                          "returningCustomers": 41
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-01T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-02T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 12
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 6
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 6
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-01T00:00:00+00:00",
                    "periodEnd": "2026-03-08T00:00:00+00:00",
                    "totalTransactions": 3434,
                    "authorizeTransactions": 206,
                    "captureTransactions": 252,
                    "payTransactions": 1760,
                    "refundTransactions": 497,
                    "verifyTransactions": 389,
                    "voidTransactions": 330,
                    "successfulTransactions": 3087,
                    "failedTransactions": 226,
                    "declinedTransactions": 103,
                    "pendingTransactions": 18,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-01T00:00:00+00:00",
                        "intervalEnd": "2026-03-02T00:00:00+00:00",
                        "totalTransactions": 443,
                        "authorizeTransactions": 16,
                        "captureTransactions": 23,
                        "payTransactions": 290,
                        "refundTransactions": 103,
                        "verifyTransactions": 6,
                        "voidTransactions": 5,
                        "successfulTransactions": 398,
                        "failedTransactions": 32,
                        "declinedTransactions": 11,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-02T00:00:00+00:00",
                        "intervalEnd": "2026-03-03T00:00:00+00:00",
                        "totalTransactions": 496,
                        "authorizeTransactions": 31,
                        "captureTransactions": 32,
                        "payTransactions": 159,
                        "refundTransactions": 136,
                        "verifyTransactions": 128,
                        "voidTransactions": 10,
                        "successfulTransactions": 446,
                        "failedTransactions": 28,
                        "declinedTransactions": 18,
                        "pendingTransactions": 4,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-03T00:00:00+00:00",
                        "intervalEnd": "2026-03-04T00:00:00+00:00",
                        "totalTransactions": 727,
                        "authorizeTransactions": 82,
                        "captureTransactions": 92,
                        "payTransactions": 381,
                        "refundTransactions": 43,
                        "verifyTransactions": 19,
                        "voidTransactions": 110,
                        "successfulTransactions": 654,
                        "failedTransactions": 50,
                        "declinedTransactions": 18,
                        "pendingTransactions": 5,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-04T00:00:00+00:00",
                        "intervalEnd": "2026-03-05T00:00:00+00:00",
                        "totalTransactions": 765,
                        "authorizeTransactions": 26,
                        "captureTransactions": 32,
                        "payTransactions": 518,
                        "refundTransactions": 74,
                        "verifyTransactions": 98,
                        "voidTransactions": 17,
                        "successfulTransactions": 688,
                        "failedTransactions": 54,
                        "declinedTransactions": 20,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-05T00:00:00+00:00",
                        "intervalEnd": "2026-03-06T00:00:00+00:00",
                        "totalTransactions": 392,
                        "authorizeTransactions": 18,
                        "captureTransactions": 26,
                        "payTransactions": 219,
                        "refundTransactions": 33,
                        "verifyTransactions": 67,
                        "voidTransactions": 29,
                        "successfulTransactions": 352,
                        "failedTransactions": 28,
                        "declinedTransactions": 11,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-06T00:00:00+00:00",
                        "intervalEnd": "2026-03-07T00:00:00+00:00",
                        "totalTransactions": 400,
                        "authorizeTransactions": 19,
                        "captureTransactions": 25,
                        "payTransactions": 86,
                        "refundTransactions": 79,
                        "verifyTransactions": 54,
                        "voidTransactions": 137,
                        "successfulTransactions": 360,
                        "failedTransactions": 20,
                        "declinedTransactions": 19,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-07T00:00:00+00:00",
                        "intervalEnd": "2026-03-08T00:00:00+00:00",
                        "totalTransactions": 211,
                        "authorizeTransactions": 14,
                        "captureTransactions": 22,
                        "payTransactions": 107,
                        "refundTransactions": 29,
                        "verifyTransactions": 17,
                        "voidTransactions": 22,
                        "successfulTransactions": 189,
                        "failedTransactions": 14,
                        "declinedTransactions": 6,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-01T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-08T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 3434
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 206
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 252
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 1760
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 497
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 389
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 330
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 3087
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 226
                    },
                    "declinedTransactions": {
                      "type": "integer",
                      "example": 103
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 18
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-01T00:00:00+00:00",
                          "intervalEnd": "2026-03-02T00:00:00+00:00",
                          "totalTransactions": 443,
                          "authorizeTransactions": 16,
                          "captureTransactions": 23,
                          "payTransactions": 290,
                          "refundTransactions": 103,
                          "verifyTransactions": 6,
                          "voidTransactions": 5,
                          "successfulTransactions": 398,
                          "failedTransactions": 32,
                          "declinedTransactions": 11,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-02T00:00:00+00:00",
                          "intervalEnd": "2026-03-03T00:00:00+00:00",
                          "totalTransactions": 496,
                          "authorizeTransactions": 31,
                          "captureTransactions": 32,
                          "payTransactions": 159,
                          "refundTransactions": 136,
                          "verifyTransactions": 128,
                          "voidTransactions": 10,
                          "successfulTransactions": 446,
                          "failedTransactions": 28,
                          "declinedTransactions": 18,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-03T00:00:00+00:00",
                          "intervalEnd": "2026-03-04T00:00:00+00:00",
                          "totalTransactions": 727,
                          "authorizeTransactions": 82,
                          "captureTransactions": 92,
                          "payTransactions": 381,
                          "refundTransactions": 43,
                          "verifyTransactions": 19,
                          "voidTransactions": 110,
                          "successfulTransactions": 654,
                          "failedTransactions": 50,
                          "declinedTransactions": 18,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-04T00:00:00+00:00",
                          "intervalEnd": "2026-03-05T00:00:00+00:00",
                          "totalTransactions": 765,
                          "authorizeTransactions": 26,
                          "captureTransactions": 32,
                          "payTransactions": 518,
                          "refundTransactions": 74,
                          "verifyTransactions": 98,
                          "voidTransactions": 17,
                          "successfulTransactions": 688,
                          "failedTransactions": 54,
                          "declinedTransactions": 20,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-05T00:00:00+00:00",
                          "intervalEnd": "2026-03-06T00:00:00+00:00",
                          "totalTransactions": 392,
                          "authorizeTransactions": 18,
                          "captureTransactions": 26,
                          "payTransactions": 219,
                          "refundTransactions": 33,
                          "verifyTransactions": 67,
                          "voidTransactions": 29,
                          "successfulTransactions": 352,
                          "failedTransactions": 28,
                          "declinedTransactions": 11,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-06T00:00:00+00:00",
                          "intervalEnd": "2026-03-07T00:00:00+00:00",
                          "totalTransactions": 400,
                          "authorizeTransactions": 19,
                          "captureTransactions": 25,
                          "payTransactions": 86,
                          "refundTransactions": 79,
                          "verifyTransactions": 54,
                          "voidTransactions": 137,
                          "successfulTransactions": 360,
                          "failedTransactions": 20,
                          "declinedTransactions": 19,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-07T00:00:00+00:00",
                          "intervalEnd": "2026-03-08T00:00:00+00:00",
                          "totalTransactions": 211,
                          "authorizeTransactions": 14,
                          "captureTransactions": 22,
                          "payTransactions": 107,
                          "refundTransactions": 29,
                          "verifyTransactions": 17,
                          "voidTransactions": 22,
                          "successfulTransactions": 189,
                          "failedTransactions": 14,
                          "declinedTransactions": 6,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-01T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-02T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 443
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 16
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 23
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 290
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 103
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 6
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": 5
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 398
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 32
                          },
                          "declinedTransactions": {
                            "type": "integer",
                            "example": 11
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 2
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-01T00:00:00+00:00",
                    "periodEnd": "2026-03-08T00:00:00+00:00",
                    "totalSettlementAmount": 35357.27,
                    "totalFeeAmount": 1732.50623,
                    "totalNetAmount": 33624.76377,
                    "totalTransactionsPending": 143,
                    "totalTransactionsSettled": 1581,
                    "totalTransactionsSettling": 876,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-01T00:00:00+00:00",
                        "intervalEnd": "2026-03-02T00:00:00+00:00",
                        "totalSettlementAmount": 7401.09,
                        "totalFeeAmount": 362.65341,
                        "totalNetAmount": 7038.43659,
                        "totalTransactionsPending": 19,
                        "totalTransactionsSettled": 55,
                        "totalTransactionsSettling": 152
                      },
                      {
                        "intervalStart": "2026-03-02T00:00:00+00:00",
                        "intervalEnd": "2026-03-03T00:00:00+00:00",
                        "totalSettlementAmount": 3627.41,
                        "totalFeeAmount": 177.74309,
                        "totalNetAmount": 3449.66691,
                        "totalTransactionsPending": 8,
                        "totalTransactionsSettled": 170,
                        "totalTransactionsSettling": 72
                      },
                      {
                        "intervalStart": "2026-03-03T00:00:00+00:00",
                        "intervalEnd": "2026-03-04T00:00:00+00:00",
                        "totalSettlementAmount": 1565.31,
                        "totalFeeAmount": 76.70019,
                        "totalNetAmount": 1488.60981,
                        "totalTransactionsPending": 10,
                        "totalTransactionsSettled": 326,
                        "totalTransactionsSettling": 156
                      },
                      {
                        "intervalStart": "2026-03-04T00:00:00+00:00",
                        "intervalEnd": "2026-03-05T00:00:00+00:00",
                        "totalSettlementAmount": 8035.08,
                        "totalFeeAmount": 393.71892,
                        "totalNetAmount": 7641.36108,
                        "totalTransactionsPending": 29,
                        "totalTransactionsSettled": 150,
                        "totalTransactionsSettling": 158
                      },
                      {
                        "intervalStart": "2026-03-05T00:00:00+00:00",
                        "intervalEnd": "2026-03-06T00:00:00+00:00",
                        "totalSettlementAmount": 5275.49,
                        "totalFeeAmount": 258.49901,
                        "totalNetAmount": 5016.99099,
                        "totalTransactionsPending": 32,
                        "totalTransactionsSettled": 294,
                        "totalTransactionsSettling": 114
                      },
                      {
                        "intervalStart": "2026-03-06T00:00:00+00:00",
                        "intervalEnd": "2026-03-07T00:00:00+00:00",
                        "totalSettlementAmount": 1495.62,
                        "totalFeeAmount": 73.28538,
                        "totalNetAmount": 1422.33462,
                        "totalTransactionsPending": 32,
                        "totalTransactionsSettled": 219,
                        "totalTransactionsSettling": 112
                      },
                      {
                        "intervalStart": "2026-03-07T00:00:00+00:00",
                        "intervalEnd": "2026-03-08T00:00:00+00:00",
                        "totalSettlementAmount": 7957.27,
                        "totalFeeAmount": 389.90623,
                        "totalNetAmount": 7567.36377,
                        "totalTransactionsPending": 13,
                        "totalTransactionsSettled": 367,
                        "totalTransactionsSettling": 112
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-01T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-08T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 35357.27
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 1732.50623
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 33624.76377
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 143
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 1581
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 876
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-01T00:00:00+00:00",
                          "intervalEnd": "2026-03-02T00:00:00+00:00",
                          "totalSettlementAmount": 7401.09,
                          "totalFeeAmount": 362.65341,
                          "totalNetAmount": 7038.43659,
                          "totalTransactionsPending": 19,
                          "totalTransactionsSettled": 55,
                          "totalTransactionsSettling": 152
                        },
                        {
                          "intervalStart": "2026-03-02T00:00:00+00:00",
                          "intervalEnd": "2026-03-03T00:00:00+00:00",
                          "totalSettlementAmount": 3627.41,
                          "totalFeeAmount": 177.74309,
                          "totalNetAmount": 3449.66691,
                          "totalTransactionsPending": 8,
                          "totalTransactionsSettled": 170,
                          "totalTransactionsSettling": 72
                        },
                        {
                          "intervalStart": "2026-03-03T00:00:00+00:00",
                          "intervalEnd": "2026-03-04T00:00:00+00:00",
                          "totalSettlementAmount": 1565.31,
                          "totalFeeAmount": 76.70019,
                          "totalNetAmount": 1488.60981,
                          "totalTransactionsPending": 10,
                          "totalTransactionsSettled": 326,
                          "totalTransactionsSettling": 156
                        },
                        {
                          "intervalStart": "2026-03-04T00:00:00+00:00",
                          "intervalEnd": "2026-03-05T00:00:00+00:00",
                          "totalSettlementAmount": 8035.08,
                          "totalFeeAmount": 393.71892,
                          "totalNetAmount": 7641.36108,
                          "totalTransactionsPending": 29,
                          "totalTransactionsSettled": 150,
                          "totalTransactionsSettling": 158
                        },
                        {
                          "intervalStart": "2026-03-05T00:00:00+00:00",
                          "intervalEnd": "2026-03-06T00:00:00+00:00",
                          "totalSettlementAmount": 5275.49,
                          "totalFeeAmount": 258.49901,
                          "totalNetAmount": 5016.99099,
                          "totalTransactionsPending": 32,
                          "totalTransactionsSettled": 294,
                          "totalTransactionsSettling": 114
                        },
                        {
                          "intervalStart": "2026-03-06T00:00:00+00:00",
                          "intervalEnd": "2026-03-07T00:00:00+00:00",
                          "totalSettlementAmount": 1495.62,
                          "totalFeeAmount": 73.28538,
                          "totalNetAmount": 1422.33462,
                          "totalTransactionsPending": 32,
                          "totalTransactionsSettled": 219,
                          "totalTransactionsSettling": 112
                        },
                        {
                          "intervalStart": "2026-03-07T00:00:00+00:00",
                          "intervalEnd": "2026-03-08T00:00:00+00:00",
                          "totalSettlementAmount": 7957.27,
                          "totalFeeAmount": 389.90623,
                          "totalNetAmount": 7567.36377,
                          "totalTransactionsPending": 13,
                          "totalTransactionsSettled": 367,
                          "totalTransactionsSettling": 112
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-01T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-02T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 7401.09
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 362.65341
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 7038.43659
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 19
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 55
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 152
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 3,
                    "data": [
                      {
                        "email": "pasquale41@champlin.com",
                        "firstName": "Molly",
                        "lastName": "Luettgen",
                        "phone": "+15678403052",
                        "dateOfBirth": "2004-03-31"
                      },
                      {
                        "email": "kilback.freda@becker.net",
                        "firstName": "Heather",
                        "lastName": "Denesik",
                        "phone": "+16235766358",
                        "dateOfBirth": "1974-04-14"
                      },
                      {
                        "email": "ncole@gmail.com",
                        "firstName": "Imogene",
                        "lastName": "Rutherford",
                        "phone": "+17473505324",
                        "dateOfBirth": "1985-04-26"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 3,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "pasquale41@champlin.com",
                          "firstName": "Molly",
                          "lastName": "Luettgen",
                          "phone": "+15678403052",
                          "dateOfBirth": "2004-03-31"
                        },
                        {
                          "email": "kilback.freda@becker.net",
                          "firstName": "Heather",
                          "lastName": "Denesik",
                          "phone": "+16235766358",
                          "dateOfBirth": "1974-04-14"
                        },
                        {
                          "email": "ncole@gmail.com",
                          "firstName": "Imogene",
                          "lastName": "Rutherford",
                          "phone": "+17473505324",
                          "dateOfBirth": "1985-04-26"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "pasquale41@champlin.com"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Molly"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Luettgen"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+15678403052"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "2004-03-31"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers/{customerIdOrEmail}/addresses": {
      "get": {
        "summary": "List Customer Billing Addresses",
        "operationId": "listCustomerBillingAddresses",
        "description": "Returns all unique billing addresses that have been used by a customer across their payments.\nAddresses are deduplicated using case-insensitive and whitespace-insensitive comparison.",
        "parameters": [
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
            "example": "-city",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
              "example": "-city",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of unique billing addresses for the customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "company": "Dickens, Huel and Gaylord",
                        "street": "3958 Adams Ridge Apt. 296",
                        "city": "Hellerfort",
                        "stateProvince": "DE",
                        "postcodeZip": "13749",
                        "country": "USA"
                      },
                      {
                        "company": "Ziemann, Fahey and Corwin",
                        "street": "17080 Jadyn Spring",
                        "city": "Carolinechester",
                        "stateProvince": "MS",
                        "postcodeZip": "21860",
                        "country": "USA"
                      },
                      {
                        "company": "Johns and Sons",
                        "street": "49357 Cleta Ford Apt. 435",
                        "city": "Wolffmouth",
                        "stateProvince": "TN",
                        "postcodeZip": "39118-8484",
                        "country": "USA"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "company": "Dickens, Huel and Gaylord",
                          "street": "3958 Adams Ridge Apt. 296",
                          "city": "Hellerfort",
                          "stateProvince": "DE",
                          "postcodeZip": "13749",
                          "country": "USA"
                        },
                        {
                          "company": "Ziemann, Fahey and Corwin",
                          "street": "17080 Jadyn Spring",
                          "city": "Carolinechester",
                          "stateProvince": "MS",
                          "postcodeZip": "21860",
                          "country": "USA"
                        },
                        {
                          "company": "Johns and Sons",
                          "street": "49357 Cleta Ford Apt. 435",
                          "city": "Wolffmouth",
                          "stateProvince": "TN",
                          "postcodeZip": "39118-8484",
                          "country": "USA"
                        }
                      ],
                      "description": "The data returned from the request",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "company": {
                            "type": "string",
                            "example": "Dickens, Huel and Gaylord"
                          },
                          "street": {
                            "type": "string",
                            "example": "3958 Adams Ridge Apt. 296"
                          },
                          "city": {
                            "type": "string",
                            "example": "Hellerfort"
                          },
                          "stateProvince": {
                            "type": "string",
                            "example": "DE"
                          },
                          "postcodeZip": {
                            "type": "string",
                            "example": "13749"
                          },
                          "country": {
                            "type": "string",
                            "example": "USA"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "path",
          "name": "customerIdOrEmail",
          "description": "The customer ID, UUID, or email address",
          "example": "customer_123",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/simulated/terminals": {
      "get": {
        "summary": "Get all available simulated terminals.",
        "operationId": "getAllAvailableSimulatedTerminals",
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of available simulated terminals",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "title": "Success",
                        "description": "Approves all card present transactions successfully.",
                        "tid": "SUCCESS",
                        "readyForProcessing": true,
                        "provider": "SIMULATED",
                        "type": "CARD_PRESENT"
                      },
                      {
                        "title": "Transaction Declined",
                        "description": "Simulates a declined transaction.",
                        "tid": "TRANSACTION_DECLINED",
                        "readyForProcessing": true,
                        "provider": "SIMULATED",
                        "type": "CARD_PRESENT"
                      },
                      {
                        "title": "Card Present Timeout",
                        "description": "Simulates a card present timeout.",
                        "tid": "CARD_PRESENT_TIMEOUT",
                        "readyForProcessing": true,
                        "provider": "SIMULATED",
                        "type": "CARD_PRESENT"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
[...]
