{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.54.1"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-18T00:00:00+00:00",
                    "periodEnd": "2026-03-25T00:00:00+00:00",
                    "numPaymentsCreated": 3844,
                    "numPaymentsProcessed": 1890,
                    "numPaymentsIncomplete": 1954,
                    "numPaymentsWithRefunds": 1334,
                    "numCardPresentPayments": 1289,
                    "numCardNotPresentPayments": 665,
                    "totalCapturedAmount": 2832631.05,
                    "totalRefundedAmount": 265339.44,
                    "totalNetCapturedAmount": 2567291.61,
                    "averageNetCapturedAmount": 2421.7342857143,
                    "minNetCapturedAmount": 13.09,
                    "maxNetCapturedAmount": 8312.54,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-18T00:00:00+00:00",
                        "intervalEnd": "2026-03-19T00:00:00+00:00",
                        "numPaymentsCreated": 986,
                        "numPaymentsProcessed": 710,
                        "numPaymentsIncomplete": 276,
                        "numPaymentsWithRefunds": 699,
                        "numCardPresentPayments": 444,
                        "numCardNotPresentPayments": -168,
                        "totalCapturedAmount": 551035.42,
                        "totalRefundedAmount": 22197.03,
                        "totalNetCapturedAmount": 528838.39,
                        "averageNetCapturedAmount": 744.84,
                        "minNetCapturedAmount": 13.09,
                        "maxNetCapturedAmount": 8312.54
                      },
                      {
                        "intervalStart": "2026-03-19T00:00:00+00:00",
                        "intervalEnd": "2026-03-20T00:00:00+00:00",
                        "numPaymentsCreated": 618,
                        "numPaymentsProcessed": 281,
                        "numPaymentsIncomplete": 337,
                        "numPaymentsWithRefunds": 155,
                        "numCardPresentPayments": 268,
                        "numCardNotPresentPayments": 69,
                        "totalCapturedAmount": 76238.68,
                        "totalRefundedAmount": 562.04,
                        "totalNetCapturedAmount": 75676.64,
                        "averageNetCapturedAmount": 269.31,
                        "minNetCapturedAmount": 39.18,
                        "maxNetCapturedAmount": 2910.08
                      },
                      {
                        "intervalStart": "2026-03-20T00:00:00+00:00",
                        "intervalEnd": "2026-03-21T00:00:00+00:00",
                        "numPaymentsCreated": 178,
                        "numPaymentsProcessed": 105,
                        "numPaymentsIncomplete": 73,
                        "numPaymentsWithRefunds": 12,
                        "numCardPresentPayments": 74,
                        "numCardNotPresentPayments": -1,
                        "totalCapturedAmount": 942824.03,
                        "totalRefundedAmount": 90559.72,
                        "totalNetCapturedAmount": 852264.31,
                        "averageNetCapturedAmount": 8116.8,
                        "minNetCapturedAmount": 94.25,
                        "maxNetCapturedAmount": 2654.03
                      },
                      {
                        "intervalStart": "2026-03-21T00:00:00+00:00",
                        "intervalEnd": "2026-03-22T00:00:00+00:00",
                        "numPaymentsCreated": 267,
                        "numPaymentsProcessed": 167,
                        "numPaymentsIncomplete": 100,
                        "numPaymentsWithRefunds": 7,
                        "numCardPresentPayments": 102,
                        "numCardNotPresentPayments": -2,
                        "totalCapturedAmount": 305145.61,
                        "totalRefundedAmount": 65076.67,
                        "totalNetCapturedAmount": 240068.94,
                        "averageNetCapturedAmount": 1437.54,
                        "minNetCapturedAmount": 83.98,
                        "maxNetCapturedAmount": 5422.61
                      },
                      {
                        "intervalStart": "2026-03-22T00:00:00+00:00",
                        "intervalEnd": "2026-03-23T00:00:00+00:00",
                        "numPaymentsCreated": 776,
                        "numPaymentsProcessed": 111,
                        "numPaymentsIncomplete": 665,
                        "numPaymentsWithRefunds": 38,
                        "numCardPresentPayments": 63,
                        "numCardNotPresentPayments": 602,
                        "totalCapturedAmount": 594157.15,
                        "totalRefundedAmount": 11080.41,
                        "totalNetCapturedAmount": 583076.74,
                        "averageNetCapturedAmount": 5252.94,
                        "minNetCapturedAmount": 97.13,
                        "maxNetCapturedAmount": 3538.17
                      },
                      {
                        "intervalStart": "2026-03-23T00:00:00+00:00",
                        "intervalEnd": "2026-03-24T00:00:00+00:00",
                        "numPaymentsCreated": 548,
                        "numPaymentsProcessed": 283,
                        "numPaymentsIncomplete": 265,
                        "numPaymentsWithRefunds": 232,
                        "numCardPresentPayments": 166,
                        "numCardNotPresentPayments": 99,
                        "totalCapturedAmount": 186945.3,
                        "totalRefundedAmount": 51607.5,
                        "totalNetCapturedAmount": 135337.8,
                        "averageNetCapturedAmount": 478.23,
                        "minNetCapturedAmount": 27.4,
                        "maxNetCapturedAmount": 2777.79
                      },
                      {
                        "intervalStart": "2026-03-24T00:00:00+00:00",
                        "intervalEnd": "2026-03-25T00:00:00+00:00",
                        "numPaymentsCreated": 471,
                        "numPaymentsProcessed": 233,
                        "numPaymentsIncomplete": 238,
                        "numPaymentsWithRefunds": 191,
                        "numCardPresentPayments": 172,
                        "numCardNotPresentPayments": 66,
                        "totalCapturedAmount": 176284.86,
                        "totalRefundedAmount": 24256.07,
                        "totalNetCapturedAmount": 152028.79,
                        "averageNetCapturedAmount": 652.48,
                        "minNetCapturedAmount": 94.13,
                        "maxNetCapturedAmount": 5918.51
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-18T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-25T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 3844
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 1890
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 1954
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 1334
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 1289
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": 665
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 2832631.05
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 265339.44
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 2567291.61
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 2421.7342857143
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 13.09
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 8312.54
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-18T00:00:00+00:00",
                          "intervalEnd": "2026-03-19T00:00:00+00:00",
                          "numPaymentsCreated": 986,
                          "numPaymentsProcessed": 710,
                          "numPaymentsIncomplete": 276,
                          "numPaymentsWithRefunds": 699,
                          "numCardPresentPayments": 444,
                          "numCardNotPresentPayments": -168,
                          "totalCapturedAmount": 551035.42,
                          "totalRefundedAmount": 22197.03,
                          "totalNetCapturedAmount": 528838.39,
                          "averageNetCapturedAmount": 744.84,
                          "minNetCapturedAmount": 13.09,
                          "maxNetCapturedAmount": 8312.54
                        },
                        {
                          "intervalStart": "2026-03-19T00:00:00+00:00",
                          "intervalEnd": "2026-03-20T00:00:00+00:00",
                          "numPaymentsCreated": 618,
                          "numPaymentsProcessed": 281,
                          "numPaymentsIncomplete": 337,
                          "numPaymentsWithRefunds": 155,
                          "numCardPresentPayments": 268,
                          "numCardNotPresentPayments": 69,
                          "totalCapturedAmount": 76238.68,
                          "totalRefundedAmount": 562.04,
                          "totalNetCapturedAmount": 75676.64,
                          "averageNetCapturedAmount": 269.31,
                          "minNetCapturedAmount": 39.18,
                          "maxNetCapturedAmount": 2910.08
                        },
                        {
                          "intervalStart": "2026-03-20T00:00:00+00:00",
                          "intervalEnd": "2026-03-21T00:00:00+00:00",
                          "numPaymentsCreated": 178,
                          "numPaymentsProcessed": 105,
                          "numPaymentsIncomplete": 73,
                          "numPaymentsWithRefunds": 12,
                          "numCardPresentPayments": 74,
                          "numCardNotPresentPayments": -1,
                          "totalCapturedAmount": 942824.03,
                          "totalRefundedAmount": 90559.72,
                          "totalNetCapturedAmount": 852264.31,
                          "averageNetCapturedAmount": 8116.8,
                          "minNetCapturedAmount": 94.25,
                          "maxNetCapturedAmount": 2654.03
                        },
                        {
                          "intervalStart": "2026-03-21T00:00:00+00:00",
                          "intervalEnd": "2026-03-22T00:00:00+00:00",
                          "numPaymentsCreated": 267,
                          "numPaymentsProcessed": 167,
                          "numPaymentsIncomplete": 100,
                          "numPaymentsWithRefunds": 7,
                          "numCardPresentPayments": 102,
                          "numCardNotPresentPayments": -2,
                          "totalCapturedAmount": 305145.61,
                          "totalRefundedAmount": 65076.67,
                          "totalNetCapturedAmount": 240068.94,
                          "averageNetCapturedAmount": 1437.54,
                          "minNetCapturedAmount": 83.98,
                          "maxNetCapturedAmount": 5422.61
                        },
                        {
                          "intervalStart": "2026-03-22T00:00:00+00:00",
                          "intervalEnd": "2026-03-23T00:00:00+00:00",
                          "numPaymentsCreated": 776,
                          "numPaymentsProcessed": 111,
                          "numPaymentsIncomplete": 665,
                          "numPaymentsWithRefunds": 38,
                          "numCardPresentPayments": 63,
                          "numCardNotPresentPayments": 602,
                          "totalCapturedAmount": 594157.15,
                          "totalRefundedAmount": 11080.41,
                          "totalNetCapturedAmount": 583076.74,
                          "averageNetCapturedAmount": 5252.94,
                          "minNetCapturedAmount": 97.13,
                          "maxNetCapturedAmount": 3538.17
                        },
                        {
                          "intervalStart": "2026-03-23T00:00:00+00:00",
                          "intervalEnd": "2026-03-24T00:00:00+00:00",
                          "numPaymentsCreated": 548,
                          "numPaymentsProcessed": 283,
                          "numPaymentsIncomplete": 265,
                          "numPaymentsWithRefunds": 232,
                          "numCardPresentPayments": 166,
                          "numCardNotPresentPayments": 99,
                          "totalCapturedAmount": 186945.3,
                          "totalRefundedAmount": 51607.5,
                          "totalNetCapturedAmount": 135337.8,
                          "averageNetCapturedAmount": 478.23,
                          "minNetCapturedAmount": 27.4,
                          "maxNetCapturedAmount": 2777.79
                        },
                        {
                          "intervalStart": "2026-03-24T00:00:00+00:00",
                          "intervalEnd": "2026-03-25T00:00:00+00:00",
                          "numPaymentsCreated": 471,
                          "numPaymentsProcessed": 233,
                          "numPaymentsIncomplete": 238,
                          "numPaymentsWithRefunds": 191,
                          "numCardPresentPayments": 172,
                          "numCardNotPresentPayments": 66,
                          "totalCapturedAmount": 176284.86,
                          "totalRefundedAmount": 24256.07,
                          "totalNetCapturedAmount": 152028.79,
                          "averageNetCapturedAmount": 652.48,
                          "minNetCapturedAmount": 94.13,
                          "maxNetCapturedAmount": 5918.51
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-18T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-19T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 986
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 710
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 276
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 699
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 444
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": -168
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 551035.42
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 22197.03
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 528838.39
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 744.84
                          },
                          "minNetCapturedAmount": {
                            "type": "number",
                            "example": 13.09
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 8312.54
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-18T00:00:00+00:00",
                    "periodEnd": "2026-03-25T00:00:00+00:00",
                    "activeCustomers": 217,
                    "newCustomers": 141,
                    "returningCustomers": 76,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-18T00:00:00+00:00",
                        "intervalEnd": "2026-03-19T00:00:00+00:00",
                        "activeCustomers": 87,
                        "newCustomers": 37,
                        "returningCustomers": 50
                      },
                      {
                        "intervalStart": "2026-03-19T00:00:00+00:00",
                        "intervalEnd": "2026-03-20T00:00:00+00:00",
                        "activeCustomers": 21,
                        "newCustomers": 18,
                        "returningCustomers": 3
                      },
                      {
                        "intervalStart": "2026-03-20T00:00:00+00:00",
                        "intervalEnd": "2026-03-21T00:00:00+00:00",
                        "activeCustomers": 63,
                        "newCustomers": 29,
                        "returningCustomers": 34
                      },
                      {
                        "intervalStart": "2026-03-21T00:00:00+00:00",
                        "intervalEnd": "2026-03-22T00:00:00+00:00",
                        "activeCustomers": 38,
                        "newCustomers": 17,
                        "returningCustomers": 21
                      },
                      {
                        "intervalStart": "2026-03-22T00:00:00+00:00",
                        "intervalEnd": "2026-03-23T00:00:00+00:00",
                        "activeCustomers": 23,
                        "newCustomers": 16,
                        "returningCustomers": 7
                      },
                      {
                        "intervalStart": "2026-03-23T00:00:00+00:00",
                        "intervalEnd": "2026-03-24T00:00:00+00:00",
                        "activeCustomers": 39,
                        "newCustomers": 6,
                        "returningCustomers": 33
                      },
                      {
                        "intervalStart": "2026-03-24T00:00:00+00:00",
                        "intervalEnd": "2026-03-25T00:00:00+00:00",
                        "activeCustomers": 41,
                        "newCustomers": 18,
                        "returningCustomers": 23
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-18T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-25T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 217
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 141
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": 76
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-18T00:00:00+00:00",
                          "intervalEnd": "2026-03-19T00:00:00+00:00",
                          "activeCustomers": 87,
                          "newCustomers": 37,
                          "returningCustomers": 50
                        },
                        {
                          "intervalStart": "2026-03-19T00:00:00+00:00",
                          "intervalEnd": "2026-03-20T00:00:00+00:00",
                          "activeCustomers": 21,
                          "newCustomers": 18,
                          "returningCustomers": 3
                        },
                        {
                          "intervalStart": "2026-03-20T00:00:00+00:00",
                          "intervalEnd": "2026-03-21T00:00:00+00:00",
                          "activeCustomers": 63,
                          "newCustomers": 29,
                          "returningCustomers": 34
                        },
                        {
                          "intervalStart": "2026-03-21T00:00:00+00:00",
                          "intervalEnd": "2026-03-22T00:00:00+00:00",
                          "activeCustomers": 38,
                          "newCustomers": 17,
                          "returningCustomers": 21
                        },
                        {
                          "intervalStart": "2026-03-22T00:00:00+00:00",
                          "intervalEnd": "2026-03-23T00:00:00+00:00",
                          "activeCustomers": 23,
                          "newCustomers": 16,
                          "returningCustomers": 7
                        },
                        {
                          "intervalStart": "2026-03-23T00:00:00+00:00",
                          "intervalEnd": "2026-03-24T00:00:00+00:00",
                          "activeCustomers": 39,
                          "newCustomers": 6,
                          "returningCustomers": 33
                        },
                        {
                          "intervalStart": "2026-03-24T00:00:00+00:00",
                          "intervalEnd": "2026-03-25T00:00:00+00:00",
                          "activeCustomers": 41,
                          "newCustomers": 18,
                          "returningCustomers": 23
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-18T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-19T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 87
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 37
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 50
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-18T00:00:00+00:00",
                    "periodEnd": "2026-03-25T00:00:00+00:00",
                    "totalTransactions": 4405,
                    "authorizeTransactions": 278,
                    "captureTransactions": 310,
                    "payTransactions": 2283,
                    "refundTransactions": 809,
                    "verifyTransactions": 574,
                    "voidTransactions": 151,
                    "successfulTransactions": 3962,
                    "failedTransactions": 268,
                    "declinedTransactions": 149,
                    "pendingTransactions": 26,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-18T00:00:00+00:00",
                        "intervalEnd": "2026-03-19T00:00:00+00:00",
                        "totalTransactions": 186,
                        "authorizeTransactions": 15,
                        "captureTransactions": 17,
                        "payTransactions": 134,
                        "refundTransactions": 14,
                        "verifyTransactions": 5,
                        "voidTransactions": 1,
                        "successfulTransactions": 167,
                        "failedTransactions": 17,
                        "declinedTransactions": 1,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-19T00:00:00+00:00",
                        "intervalEnd": "2026-03-20T00:00:00+00:00",
                        "totalTransactions": 331,
                        "authorizeTransactions": 23,
                        "captureTransactions": 33,
                        "payTransactions": 240,
                        "refundTransactions": 31,
                        "verifyTransactions": 5,
                        "voidTransactions": -1,
                        "successfulTransactions": 297,
                        "failedTransactions": 29,
                        "declinedTransactions": 4,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-20T00:00:00+00:00",
                        "intervalEnd": "2026-03-21T00:00:00+00:00",
                        "totalTransactions": 867,
                        "authorizeTransactions": 49,
                        "captureTransactions": 50,
                        "payTransactions": 355,
                        "refundTransactions": 252,
                        "verifyTransactions": 157,
                        "voidTransactions": 4,
                        "successfulTransactions": 780,
                        "failedTransactions": 49,
                        "declinedTransactions": 30,
                        "pendingTransactions": 8,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-21T00:00:00+00:00",
                        "intervalEnd": "2026-03-22T00:00:00+00:00",
                        "totalTransactions": 937,
                        "authorizeTransactions": 25,
                        "captureTransactions": 35,
                        "payTransactions": 663,
                        "refundTransactions": 51,
                        "verifyTransactions": 152,
                        "voidTransactions": 11,
                        "successfulTransactions": 843,
                        "failedTransactions": 52,
                        "declinedTransactions": 38,
                        "pendingTransactions": 4,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-22T00:00:00+00:00",
                        "intervalEnd": "2026-03-23T00:00:00+00:00",
                        "totalTransactions": 909,
                        "authorizeTransactions": 47,
                        "captureTransactions": 52,
                        "payTransactions": 324,
                        "refundTransactions": 150,
                        "verifyTransactions": 214,
                        "voidTransactions": 122,
                        "successfulTransactions": 818,
                        "failedTransactions": 41,
                        "declinedTransactions": 44,
                        "pendingTransactions": 6,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-23T00:00:00+00:00",
                        "intervalEnd": "2026-03-24T00:00:00+00:00",
                        "totalTransactions": 388,
                        "authorizeTransactions": 36,
                        "captureTransactions": 37,
                        "payTransactions": 241,
                        "refundTransactions": 66,
                        "verifyTransactions": 8,
                        "voidTransactions": 0,
                        "successfulTransactions": 349,
                        "failedTransactions": 18,
                        "declinedTransactions": 18,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-24T00:00:00+00:00",
                        "intervalEnd": "2026-03-25T00:00:00+00:00",
                        "totalTransactions": 787,
                        "authorizeTransactions": 83,
                        "captureTransactions": 86,
                        "payTransactions": 326,
                        "refundTransactions": 245,
                        "verifyTransactions": 33,
                        "voidTransactions": 14,
                        "successfulTransactions": 708,
                        "failedTransactions": 62,
                        "declinedTransactions": 14,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-18T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-25T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 4405
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 278
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 310
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 2283
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 809
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 574
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 151
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 3962
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 268
                    },
                    "declinedTransactions": {
                      "type": "integer",
                      "example": 149
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 26
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-18T00:00:00+00:00",
                          "intervalEnd": "2026-03-19T00:00:00+00:00",
                          "totalTransactions": 186,
                          "authorizeTransactions": 15,
                          "captureTransactions": 17,
                          "payTransactions": 134,
                          "refundTransactions": 14,
                          "verifyTransactions": 5,
                          "voidTransactions": 1,
                          "successfulTransactions": 167,
                          "failedTransactions": 17,
                          "declinedTransactions": 1,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-19T00:00:00+00:00",
                          "intervalEnd": "2026-03-20T00:00:00+00:00",
                          "totalTransactions": 331,
                          "authorizeTransactions": 23,
                          "captureTransactions": 33,
                          "payTransactions": 240,
                          "refundTransactions": 31,
                          "verifyTransactions": 5,
                          "voidTransactions": -1,
                          "successfulTransactions": 297,
                          "failedTransactions": 29,
                          "declinedTransactions": 4,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-20T00:00:00+00:00",
                          "intervalEnd": "2026-03-21T00:00:00+00:00",
                          "totalTransactions": 867,
                          "authorizeTransactions": 49,
                          "captureTransactions": 50,
                          "payTransactions": 355,
                          "refundTransactions": 252,
                          "verifyTransactions": 157,
                          "voidTransactions": 4,
                          "successfulTransactions": 780,
                          "failedTransactions": 49,
                          "declinedTransactions": 30,
                          "pendingTransactions": 8,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-21T00:00:00+00:00",
                          "intervalEnd": "2026-03-22T00:00:00+00:00",
                          "totalTransactions": 937,
                          "authorizeTransactions": 25,
                          "captureTransactions": 35,
                          "payTransactions": 663,
                          "refundTransactions": 51,
                          "verifyTransactions": 152,
                          "voidTransactions": 11,
                          "successfulTransactions": 843,
                          "failedTransactions": 52,
                          "declinedTransactions": 38,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-22T00:00:00+00:00",
                          "intervalEnd": "2026-03-23T00:00:00+00:00",
                          "totalTransactions": 909,
                          "authorizeTransactions": 47,
                          "captureTransactions": 52,
                          "payTransactions": 324,
                          "refundTransactions": 150,
                          "verifyTransactions": 214,
                          "voidTransactions": 122,
                          "successfulTransactions": 818,
                          "failedTransactions": 41,
                          "declinedTransactions": 44,
                          "pendingTransactions": 6,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-23T00:00:00+00:00",
                          "intervalEnd": "2026-03-24T00:00:00+00:00",
                          "totalTransactions": 388,
                          "authorizeTransactions": 36,
                          "captureTransactions": 37,
                          "payTransactions": 241,
                          "refundTransactions": 66,
                          "verifyTransactions": 8,
                          "voidTransactions": 0,
                          "successfulTransactions": 349,
                          "failedTransactions": 18,
                          "declinedTransactions": 18,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-24T00:00:00+00:00",
                          "intervalEnd": "2026-03-25T00:00:00+00:00",
                          "totalTransactions": 787,
                          "authorizeTransactions": 83,
                          "captureTransactions": 86,
                          "payTransactions": 326,
                          "refundTransactions": 245,
                          "verifyTransactions": 33,
                          "voidTransactions": 14,
                          "successfulTransactions": 708,
                          "failedTransactions": 62,
                          "declinedTransactions": 14,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-18T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-19T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 186
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 15
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 17
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 134
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 14
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 5
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": 1
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 167
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 17
                          },
                          "declinedTransactions": {
                            "type": "integer",
                            "example": 1
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 1
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-18T00:00:00+00:00",
                    "periodEnd": "2026-03-25T00:00:00+00:00",
                    "totalSettlementAmount": 25247.81,
                    "totalFeeAmount": 1237.14269,
                    "totalNetAmount": 24010.66731,
                    "totalTransactionsPending": 131,
                    "totalTransactionsSettled": 1473,
                    "totalTransactionsSettling": 597,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-18T00:00:00+00:00",
                        "intervalEnd": "2026-03-19T00:00:00+00:00",
                        "totalSettlementAmount": 2110.06,
                        "totalFeeAmount": 103.39294,
                        "totalNetAmount": 2006.66706,
                        "totalTransactionsPending": 24,
                        "totalTransactionsSettled": 137,
                        "totalTransactionsSettling": 174
                      },
                      {
                        "intervalStart": "2026-03-19T00:00:00+00:00",
                        "intervalEnd": "2026-03-20T00:00:00+00:00",
                        "totalSettlementAmount": 6465.21,
                        "totalFeeAmount": 316.79529,
                        "totalNetAmount": 6148.41471,
                        "totalTransactionsPending": 12,
                        "totalTransactionsSettled": 293,
                        "totalTransactionsSettling": 74
                      },
                      {
                        "intervalStart": "2026-03-20T00:00:00+00:00",
                        "intervalEnd": "2026-03-21T00:00:00+00:00",
                        "totalSettlementAmount": 1701.85,
                        "totalFeeAmount": 83.39065,
                        "totalNetAmount": 1618.45935,
                        "totalTransactionsPending": 7,
                        "totalTransactionsSettled": 44,
                        "totalTransactionsSettling": 148
                      },
                      {
                        "intervalStart": "2026-03-21T00:00:00+00:00",
                        "intervalEnd": "2026-03-22T00:00:00+00:00",
                        "totalSettlementAmount": 683.28,
                        "totalFeeAmount": 33.48072,
                        "totalNetAmount": 649.79928,
                        "totalTransactionsPending": 18,
                        "totalTransactionsSettled": 391,
                        "totalTransactionsSettling": 36
                      },
                      {
                        "intervalStart": "2026-03-22T00:00:00+00:00",
                        "intervalEnd": "2026-03-23T00:00:00+00:00",
                        "totalSettlementAmount": 6360.29,
                        "totalFeeAmount": 311.65421,
                        "totalNetAmount": 6048.63579,
                        "totalTransactionsPending": 37,
                        "totalTransactionsSettled": 208,
                        "totalTransactionsSettling": 15
                      },
                      {
                        "intervalStart": "2026-03-23T00:00:00+00:00",
                        "intervalEnd": "2026-03-24T00:00:00+00:00",
                        "totalSettlementAmount": 1011.86,
                        "totalFeeAmount": 49.58114,
                        "totalNetAmount": 962.27886,
                        "totalTransactionsPending": 21,
                        "totalTransactionsSettled": 284,
                        "totalTransactionsSettling": 38
                      },
                      {
                        "intervalStart": "2026-03-24T00:00:00+00:00",
                        "intervalEnd": "2026-03-25T00:00:00+00:00",
                        "totalSettlementAmount": 6915.26,
                        "totalFeeAmount": 338.84774,
                        "totalNetAmount": 6576.41226,
                        "totalTransactionsPending": 12,
                        "totalTransactionsSettled": 116,
                        "totalTransactionsSettling": 112
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-18T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-25T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 25247.81
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 1237.14269
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 24010.66731
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 131
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 1473
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 597
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-18T00:00:00+00:00",
                          "intervalEnd": "2026-03-19T00:00:00+00:00",
                          "totalSettlementAmount": 2110.06,
                          "totalFeeAmount": 103.39294,
                          "totalNetAmount": 2006.66706,
                          "totalTransactionsPending": 24,
                          "totalTransactionsSettled": 137,
                          "totalTransactionsSettling": 174
                        },
                        {
                          "intervalStart": "2026-03-19T00:00:00+00:00",
                          "intervalEnd": "2026-03-20T00:00:00+00:00",
                          "totalSettlementAmount": 6465.21,
                          "totalFeeAmount": 316.79529,
                          "totalNetAmount": 6148.41471,
                          "totalTransactionsPending": 12,
                          "totalTransactionsSettled": 293,
                          "totalTransactionsSettling": 74
                        },
                        {
                          "intervalStart": "2026-03-20T00:00:00+00:00",
                          "intervalEnd": "2026-03-21T00:00:00+00:00",
                          "totalSettlementAmount": 1701.85,
                          "totalFeeAmount": 83.39065,
                          "totalNetAmount": 1618.45935,
                          "totalTransactionsPending": 7,
                          "totalTransactionsSettled": 44,
                          "totalTransactionsSettling": 148
                        },
                        {
                          "intervalStart": "2026-03-21T00:00:00+00:00",
                          "intervalEnd": "2026-03-22T00:00:00+00:00",
                          "totalSettlementAmount": 683.28,
                          "totalFeeAmount": 33.48072,
                          "totalNetAmount": 649.79928,
                          "totalTransactionsPending": 18,
                          "totalTransactionsSettled": 391,
                          "totalTransactionsSettling": 36
                        },
                        {
                          "intervalStart": "2026-03-22T00:00:00+00:00",
                          "intervalEnd": "2026-03-23T00:00:00+00:00",
                          "totalSettlementAmount": 6360.29,
                          "totalFeeAmount": 311.65421,
                          "totalNetAmount": 6048.63579,
                          "totalTransactionsPending": 37,
                          "totalTransactionsSettled": 208,
                          "totalTransactionsSettling": 15
                        },
                        {
                          "intervalStart": "2026-03-23T00:00:00+00:00",
                          "intervalEnd": "2026-03-24T00:00:00+00:00",
                          "totalSettlementAmount": 1011.86,
                          "totalFeeAmount": 49.58114,
                          "totalNetAmount": 962.27886,
                          "totalTransactionsPending": 21,
                          "totalTransactionsSettled": 284,
                          "totalTransactionsSettling": 38
                        },
                        {
                          "intervalStart": "2026-03-24T00:00:00+00:00",
                          "intervalEnd": "2026-03-25T00:00:00+00:00",
                          "totalSettlementAmount": 6915.26,
                          "totalFeeAmount": 338.84774,
                          "totalNetAmount": 6576.41226,
                          "totalTransactionsPending": 12,
                          "totalTransactionsSettled": 116,
                          "totalTransactionsSettling": 112
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-18T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-19T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 2110.06
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 103.39294
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 2006.66706
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 24
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 137
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 174
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 10,
                    "data": [
                      {
                        "email": "maynard.little@powlowski.com",
                        "firstName": "Madelyn",
                        "lastName": "Littel",
                        "phone": "+12245090779",
                        "dateOfBirth": "1971-06-10"
                      },
                      {
                        "email": "russel77@yahoo.com",
                        "firstName": "Adell",
                        "lastName": "Jones",
                        "phone": "+17074376978",
                        "dateOfBirth": "1971-04-30"
                      },
                      {
                        "email": "kozey.ebony@cummings.com",
                        "firstName": "Pascale",
                        "lastName": "Huels",
                        "phone": "+13089170704",
                        "dateOfBirth": "1997-09-09"
                      },
                      {
                        "email": "champlin.kenton@bergnaum.com",
                        "firstName": "Eudora",
                        "lastName": "Weimann",
                        "phone": "+16019532838",
                        "dateOfBirth": "1972-10-24"
                      },
                      {
                        "email": "anna.thiel@roberts.net",
                        "firstName": "Raymond",
                        "lastName": "Stoltenberg",
                        "phone": "+14086076551",
                        "dateOfBirth": "1974-05-21"
                      },
                      {
                        "email": "fadel.berniece@block.biz",
                        "firstName": "Margarette",
                        "lastName": "Blanda",
                        "phone": "+13464495933",
                        "dateOfBirth": "1983-11-19"
                      },
                      {
                        "email": "jdaniel@hane.com",
                        "firstName": "Ruby",
                        "lastName": "Weimann",
                        "phone": "+17182708519",
                        "dateOfBirth": "1989-12-01"
                      },
                      {
                        "email": "cwunsch@feest.net",
                        "firstName": "Leora",
                        "lastName": "Ullrich",
                        "phone": "+19185822433",
                        "dateOfBirth": "1995-09-25"
                      },
                      {
                        "email": "fconroy@yahoo.com",
                        "firstName": "Anne",
                        "lastName": "Bernier",
                        "phone": "+17078877604",
                        "dateOfBirth": "1973-09-27"
                      },
                      {
                        "email": "inienow@hagenes.com",
                        "firstName": "Maximilian",
                        "lastName": "Lindgren",
                        "phone": "+17623009714",
                        "dateOfBirth": "1985-12-18"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 10,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "maynard.little@powlowski.com",
                          "firstName": "Madelyn",
                          "lastName": "Littel",
                          "phone": "+12245090779",
                          "dateOfBirth": "1971-06-10"
                        },
                        {
                          "email": "russel77@yahoo.com",
                          "firstName": "Adell",
                          "lastName": "Jones",
                          "phone": "+17074376978",
                          "dateOfBirth": "1971-04-30"
                        },
                        {
                          "email": "kozey.ebony@cummings.com",
                          "firstName": "Pascale",
                          "lastName": "Huels",
                          "phone": "+13089170704",
                          "dateOfBirth": "1997-09-09"
                        },
                        {
                          "email": "champlin.kenton@bergnaum.com",
                          "firstName": "Eudora",
                          "lastName": "Weimann",
                          "phone": "+16019532838",
                          "dateOfBirth": "1972-10-24"
                        },
                        {
                          "email": "anna.thiel@roberts.net",
                          "firstName": "Raymond",
                          "lastName": "Stoltenberg",
                          "phone": "+14086076551",
                          "dateOfBirth": "1974-05-21"
                        },
                        {
                          "email": "fadel.berniece@block.biz",
                          "firstName": "Margarette",
                          "lastName": "Blanda",
                          "phone": "+13464495933",
                          "dateOfBirth": "1983-11-19"
                        },
                        {
                          "email": "jdaniel@hane.com",
                          "firstName": "Ruby",
                          "lastName": "Weimann",
                          "phone": "+17182708519",
                          "dateOfBirth": "1989-12-01"
                        },
                        {
                          "email": "cwunsch@feest.net",
                          "firstName": "Leora",
                          "lastName": "Ullrich",
                          "phone": "+19185822433",
                          "dateOfBirth": "1995-09-25"
                        },
                        {
                          "email": "fconroy@yahoo.com",
                          "firstName": "Anne",
                          "lastName": "Bernier",
                          "phone": "+17078877604",
                          "dateOfBirth": "1973-09-27"
                        },
                        {
                          "email": "inienow@hagenes.com",
                          "firstName": "Maximilian",
                          "lastName": "Lindgren",
                          "phone": "+17623009714",
                          "dateOfBirth": "1985-12-18"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "maynard.little@powlowski.com"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Madelyn"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Littel"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+12245090779"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "1971-06-10"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers/{customerIdOrEmail}/addresses": {
      "get": {
        "summary": "List Customer Billing Addresses",
        "operationId": "listCustomerBillingAddresses",
        "description": "Returns all unique billing addresses that have been used by a customer across their payments.\nAddresses are deduplicated using case-insensitive and whitespace-insensitive comparison.",
        "parameters": [
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
            "example": "-city",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
              "example": "-city",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of unique billing addresses for the customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "company": "Jast-Hegmann",
                        "street": "227 Conroy Stream",
                        "city": "Jeramystad",
                        "stateProvince": "SC",
                        "postcodeZip": "43853-2166",
                        "country": "USA"
                      },
                      {
                        "company": "Botsford-Spinka",
                        "street": "2235 Kuvalis Circles Suite 193",
                        "city": "East Ardithport",
                        "stateProvince": "NH",
                        "postcodeZip": "41916-6523",
                        "country": "USA"
                      },
                      {
                        "company": "Parisian, Abshire and Runolfsson",
                        "street": "9319 Kuhlman Pines",
                        "city": "East Kristinshire",
                        "stateProvince": "SD",
                        "postcodeZip": "72212-8225",
                        "country": "USA"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "company": "Jast-Hegmann",
                          "street": "227 Conroy Stream",
                          "city": "Jeramystad",
                          "stateProvince": "SC",
                          "postcodeZip": "43853-2166",
                          "country": "USA"
                        },
                        {
                          "company": "Botsford-Spinka",
                          "street": "2235 Kuvalis Circles Suite 193",
                          "city": "East Ardithport",
                          "stateProvince": "NH",
                          "postcodeZip": "41916-6523",
                          "country": "USA"
                        },
                        {
                          "company": "Parisian, Abshire and Runolfsson",
                          "street": "9319 Kuhlman Pines",
                          "city": "East Kristinshire",
                          "stateProvince": "SD",
                          "postcodeZip": "72212-8225",
                          "country": "USA"
                        }
                      ],
                      "description": "The data returned from the request",
[...]
