{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.57.1"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payout Exports",
      "description": "Create payout exports"
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-20T00:00:00+00:00",
                    "periodEnd": "2026-03-27T00:00:00+00:00",
                    "numPaymentsCreated": 3909,
                    "numPaymentsProcessed": 2770,
                    "numPaymentsIncomplete": 1139,
                    "numPaymentsWithRefunds": 1677,
                    "numCardPresentPayments": 893,
                    "numCardNotPresentPayments": 246,
                    "totalCapturedAmount": 3095429,
                    "totalRefundedAmount": 372184.93,
                    "totalNetCapturedAmount": 2723244.07,
                    "averageNetCapturedAmount": 1574.8914285714,
                    "minNetCapturedAmount": 33.43,
                    "maxNetCapturedAmount": 9436.89,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-20T00:00:00+00:00",
                        "intervalEnd": "2026-03-21T00:00:00+00:00",
                        "numPaymentsCreated": 269,
                        "numPaymentsProcessed": 260,
                        "numPaymentsIncomplete": 9,
                        "numPaymentsWithRefunds": 196,
                        "numCardPresentPayments": 108,
                        "numCardNotPresentPayments": -99,
                        "totalCapturedAmount": 411736.28,
                        "totalRefundedAmount": 50310.67,
                        "totalNetCapturedAmount": 361425.61,
                        "averageNetCapturedAmount": 1390.1,
                        "minNetCapturedAmount": 99.49,
                        "maxNetCapturedAmount": 2419.97
                      },
                      {
                        "intervalStart": "2026-03-21T00:00:00+00:00",
                        "intervalEnd": "2026-03-22T00:00:00+00:00",
                        "numPaymentsCreated": 229,
                        "numPaymentsProcessed": 202,
                        "numPaymentsIncomplete": 27,
                        "numPaymentsWithRefunds": 65,
                        "numCardPresentPayments": 181,
                        "numCardNotPresentPayments": -154,
                        "totalCapturedAmount": 447423.87,
                        "totalRefundedAmount": 98931.44,
                        "totalNetCapturedAmount": 348492.43,
                        "averageNetCapturedAmount": 1725.21,
                        "minNetCapturedAmount": 36.66,
                        "maxNetCapturedAmount": 7210.47
                      },
                      {
                        "intervalStart": "2026-03-22T00:00:00+00:00",
                        "intervalEnd": "2026-03-23T00:00:00+00:00",
                        "numPaymentsCreated": 692,
                        "numPaymentsProcessed": 457,
                        "numPaymentsIncomplete": 235,
                        "numPaymentsWithRefunds": 389,
                        "numCardPresentPayments": 109,
                        "numCardNotPresentPayments": 126,
                        "totalCapturedAmount": 153612.11,
                        "totalRefundedAmount": 30024.4,
                        "totalNetCapturedAmount": 123587.71,
                        "averageNetCapturedAmount": 270.43,
                        "minNetCapturedAmount": 98.99,
                        "maxNetCapturedAmount": 2847.7
                      },
                      {
                        "intervalStart": "2026-03-23T00:00:00+00:00",
                        "intervalEnd": "2026-03-24T00:00:00+00:00",
                        "numPaymentsCreated": 265,
                        "numPaymentsProcessed": 240,
                        "numPaymentsIncomplete": 25,
                        "numPaymentsWithRefunds": 111,
                        "numCardPresentPayments": 15,
                        "numCardNotPresentPayments": 10,
                        "totalCapturedAmount": 579792.47,
                        "totalRefundedAmount": 99135.43,
                        "totalNetCapturedAmount": 480657.04,
                        "averageNetCapturedAmount": 2002.74,
                        "minNetCapturedAmount": 71.66,
                        "maxNetCapturedAmount": 8138.61
                      },
                      {
                        "intervalStart": "2026-03-24T00:00:00+00:00",
                        "intervalEnd": "2026-03-25T00:00:00+00:00",
                        "numPaymentsCreated": 812,
                        "numPaymentsProcessed": 769,
                        "numPaymentsIncomplete": 43,
                        "numPaymentsWithRefunds": 711,
                        "numCardPresentPayments": 403,
                        "numCardNotPresentPayments": -360,
                        "totalCapturedAmount": 300332.71,
                        "totalRefundedAmount": 360.07,
                        "totalNetCapturedAmount": 299972.64,
                        "averageNetCapturedAmount": 390.08,
                        "minNetCapturedAmount": 86.34,
                        "maxNetCapturedAmount": 1837.58
                      },
                      {
                        "intervalStart": "2026-03-25T00:00:00+00:00",
                        "intervalEnd": "2026-03-26T00:00:00+00:00",
                        "numPaymentsCreated": 841,
                        "numPaymentsProcessed": 175,
                        "numPaymentsIncomplete": 666,
                        "numPaymentsWithRefunds": 54,
                        "numCardPresentPayments": 17,
                        "numCardNotPresentPayments": 649,
                        "totalCapturedAmount": 879334.85,
                        "totalRefundedAmount": 29317.06,
                        "totalNetCapturedAmount": 850017.79,
                        "averageNetCapturedAmount": 4857.24,
                        "minNetCapturedAmount": 67.55,
                        "maxNetCapturedAmount": 9436.89
                      },
                      {
                        "intervalStart": "2026-03-26T00:00:00+00:00",
                        "intervalEnd": "2026-03-27T00:00:00+00:00",
                        "numPaymentsCreated": 801,
                        "numPaymentsProcessed": 667,
                        "numPaymentsIncomplete": 134,
                        "numPaymentsWithRefunds": 151,
                        "numCardPresentPayments": 60,
                        "numCardNotPresentPayments": 74,
                        "totalCapturedAmount": 323196.71,
                        "totalRefundedAmount": 64105.86,
                        "totalNetCapturedAmount": 259090.85,
                        "averageNetCapturedAmount": 388.44,
                        "minNetCapturedAmount": 33.43,
                        "maxNetCapturedAmount": 2254.61
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-20T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-27T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 3909
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 2770
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 1139
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 1677
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 893
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": 246
                    },
                    "totalCapturedAmount": {
                      "type": "integer",
                      "example": 3095429
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 372184.93
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 2723244.07
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 1574.8914285714
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 33.43
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 9436.89
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-20T00:00:00+00:00",
                          "intervalEnd": "2026-03-21T00:00:00+00:00",
                          "numPaymentsCreated": 269,
                          "numPaymentsProcessed": 260,
                          "numPaymentsIncomplete": 9,
                          "numPaymentsWithRefunds": 196,
                          "numCardPresentPayments": 108,
                          "numCardNotPresentPayments": -99,
                          "totalCapturedAmount": 411736.28,
                          "totalRefundedAmount": 50310.67,
                          "totalNetCapturedAmount": 361425.61,
                          "averageNetCapturedAmount": 1390.1,
                          "minNetCapturedAmount": 99.49,
                          "maxNetCapturedAmount": 2419.97
                        },
                        {
                          "intervalStart": "2026-03-21T00:00:00+00:00",
                          "intervalEnd": "2026-03-22T00:00:00+00:00",
                          "numPaymentsCreated": 229,
                          "numPaymentsProcessed": 202,
                          "numPaymentsIncomplete": 27,
                          "numPaymentsWithRefunds": 65,
                          "numCardPresentPayments": 181,
                          "numCardNotPresentPayments": -154,
                          "totalCapturedAmount": 447423.87,
                          "totalRefundedAmount": 98931.44,
                          "totalNetCapturedAmount": 348492.43,
                          "averageNetCapturedAmount": 1725.21,
                          "minNetCapturedAmount": 36.66,
                          "maxNetCapturedAmount": 7210.47
                        },
                        {
                          "intervalStart": "2026-03-22T00:00:00+00:00",
                          "intervalEnd": "2026-03-23T00:00:00+00:00",
                          "numPaymentsCreated": 692,
                          "numPaymentsProcessed": 457,
                          "numPaymentsIncomplete": 235,
                          "numPaymentsWithRefunds": 389,
                          "numCardPresentPayments": 109,
                          "numCardNotPresentPayments": 126,
                          "totalCapturedAmount": 153612.11,
                          "totalRefundedAmount": 30024.4,
                          "totalNetCapturedAmount": 123587.71,
                          "averageNetCapturedAmount": 270.43,
                          "minNetCapturedAmount": 98.99,
                          "maxNetCapturedAmount": 2847.7
                        },
                        {
                          "intervalStart": "2026-03-23T00:00:00+00:00",
                          "intervalEnd": "2026-03-24T00:00:00+00:00",
                          "numPaymentsCreated": 265,
                          "numPaymentsProcessed": 240,
                          "numPaymentsIncomplete": 25,
                          "numPaymentsWithRefunds": 111,
                          "numCardPresentPayments": 15,
                          "numCardNotPresentPayments": 10,
                          "totalCapturedAmount": 579792.47,
                          "totalRefundedAmount": 99135.43,
                          "totalNetCapturedAmount": 480657.04,
                          "averageNetCapturedAmount": 2002.74,
                          "minNetCapturedAmount": 71.66,
                          "maxNetCapturedAmount": 8138.61
                        },
                        {
                          "intervalStart": "2026-03-24T00:00:00+00:00",
                          "intervalEnd": "2026-03-25T00:00:00+00:00",
                          "numPaymentsCreated": 812,
                          "numPaymentsProcessed": 769,
                          "numPaymentsIncomplete": 43,
                          "numPaymentsWithRefunds": 711,
                          "numCardPresentPayments": 403,
                          "numCardNotPresentPayments": -360,
                          "totalCapturedAmount": 300332.71,
                          "totalRefundedAmount": 360.07,
                          "totalNetCapturedAmount": 299972.64,
                          "averageNetCapturedAmount": 390.08,
                          "minNetCapturedAmount": 86.34,
                          "maxNetCapturedAmount": 1837.58
                        },
                        {
                          "intervalStart": "2026-03-25T00:00:00+00:00",
                          "intervalEnd": "2026-03-26T00:00:00+00:00",
                          "numPaymentsCreated": 841,
                          "numPaymentsProcessed": 175,
                          "numPaymentsIncomplete": 666,
                          "numPaymentsWithRefunds": 54,
                          "numCardPresentPayments": 17,
                          "numCardNotPresentPayments": 649,
                          "totalCapturedAmount": 879334.85,
                          "totalRefundedAmount": 29317.06,
                          "totalNetCapturedAmount": 850017.79,
                          "averageNetCapturedAmount": 4857.24,
                          "minNetCapturedAmount": 67.55,
                          "maxNetCapturedAmount": 9436.89
                        },
                        {
                          "intervalStart": "2026-03-26T00:00:00+00:00",
                          "intervalEnd": "2026-03-27T00:00:00+00:00",
                          "numPaymentsCreated": 801,
                          "numPaymentsProcessed": 667,
                          "numPaymentsIncomplete": 134,
                          "numPaymentsWithRefunds": 151,
                          "numCardPresentPayments": 60,
                          "numCardNotPresentPayments": 74,
                          "totalCapturedAmount": 323196.71,
                          "totalRefundedAmount": 64105.86,
                          "totalNetCapturedAmount": 259090.85,
                          "averageNetCapturedAmount": 388.44,
                          "minNetCapturedAmount": 33.43,
                          "maxNetCapturedAmount": 2254.61
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-20T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-21T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 269
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 260
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 9
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 196
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 108
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": -99
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 411736.28
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 50310.67
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 361425.61
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 1390.1
                          },
                          "minNetCapturedAmount": {
                            "type": "number",
                            "example": 99.49
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 2419.97
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-20T00:00:00+00:00",
                    "periodEnd": "2026-03-27T00:00:00+00:00",
                    "activeCustomers": 379,
                    "newCustomers": 260,
                    "returningCustomers": 119,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-20T00:00:00+00:00",
                        "intervalEnd": "2026-03-21T00:00:00+00:00",
                        "activeCustomers": 94,
                        "newCustomers": 86,
                        "returningCustomers": 8
                      },
                      {
                        "intervalStart": "2026-03-21T00:00:00+00:00",
                        "intervalEnd": "2026-03-22T00:00:00+00:00",
                        "activeCustomers": 48,
                        "newCustomers": 26,
                        "returningCustomers": 22
                      },
                      {
                        "intervalStart": "2026-03-22T00:00:00+00:00",
                        "intervalEnd": "2026-03-23T00:00:00+00:00",
                        "activeCustomers": 48,
                        "newCustomers": 44,
                        "returningCustomers": 4
                      },
                      {
                        "intervalStart": "2026-03-23T00:00:00+00:00",
                        "intervalEnd": "2026-03-24T00:00:00+00:00",
                        "activeCustomers": 70,
                        "newCustomers": 11,
                        "returningCustomers": 59
                      },
                      {
                        "intervalStart": "2026-03-24T00:00:00+00:00",
                        "intervalEnd": "2026-03-25T00:00:00+00:00",
                        "activeCustomers": 97,
                        "newCustomers": 76,
                        "returningCustomers": 21
                      },
                      {
                        "intervalStart": "2026-03-25T00:00:00+00:00",
                        "intervalEnd": "2026-03-26T00:00:00+00:00",
                        "activeCustomers": 88,
                        "newCustomers": 11,
                        "returningCustomers": 77
                      },
                      {
                        "intervalStart": "2026-03-26T00:00:00+00:00",
                        "intervalEnd": "2026-03-27T00:00:00+00:00",
                        "activeCustomers": 33,
                        "newCustomers": 6,
                        "returningCustomers": 27
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-20T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-27T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 379
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 260
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": 119
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-20T00:00:00+00:00",
                          "intervalEnd": "2026-03-21T00:00:00+00:00",
                          "activeCustomers": 94,
                          "newCustomers": 86,
                          "returningCustomers": 8
                        },
                        {
                          "intervalStart": "2026-03-21T00:00:00+00:00",
                          "intervalEnd": "2026-03-22T00:00:00+00:00",
                          "activeCustomers": 48,
                          "newCustomers": 26,
                          "returningCustomers": 22
                        },
                        {
                          "intervalStart": "2026-03-22T00:00:00+00:00",
                          "intervalEnd": "2026-03-23T00:00:00+00:00",
                          "activeCustomers": 48,
                          "newCustomers": 44,
                          "returningCustomers": 4
                        },
                        {
                          "intervalStart": "2026-03-23T00:00:00+00:00",
                          "intervalEnd": "2026-03-24T00:00:00+00:00",
                          "activeCustomers": 70,
                          "newCustomers": 11,
                          "returningCustomers": 59
                        },
                        {
                          "intervalStart": "2026-03-24T00:00:00+00:00",
                          "intervalEnd": "2026-03-25T00:00:00+00:00",
                          "activeCustomers": 97,
                          "newCustomers": 76,
                          "returningCustomers": 21
                        },
                        {
                          "intervalStart": "2026-03-25T00:00:00+00:00",
                          "intervalEnd": "2026-03-26T00:00:00+00:00",
                          "activeCustomers": 88,
                          "newCustomers": 11,
                          "returningCustomers": 77
                        },
                        {
                          "intervalStart": "2026-03-26T00:00:00+00:00",
                          "intervalEnd": "2026-03-27T00:00:00+00:00",
                          "activeCustomers": 33,
                          "newCustomers": 6,
                          "returningCustomers": 27
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-20T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-21T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 94
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 86
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 8
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-20T00:00:00+00:00",
                    "periodEnd": "2026-03-27T00:00:00+00:00",
                    "totalTransactions": 3879,
                    "authorizeTransactions": 247,
                    "captureTransactions": 290,
                    "payTransactions": 1604,
                    "refundTransactions": 984,
                    "verifyTransactions": 377,
                    "voidTransactions": 377,
                    "successfulTransactions": 3489,
                    "failedTransactions": 253,
                    "declinedTransactions": 114,
                    "pendingTransactions": 23,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-20T00:00:00+00:00",
                        "intervalEnd": "2026-03-21T00:00:00+00:00",
                        "totalTransactions": 409,
                        "authorizeTransactions": 10,
                        "captureTransactions": 18,
                        "payTransactions": 153,
                        "refundTransactions": 65,
                        "verifyTransactions": 35,
                        "voidTransactions": 128,
                        "successfulTransactions": 368,
                        "failedTransactions": 25,
                        "declinedTransactions": 15,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-21T00:00:00+00:00",
                        "intervalEnd": "2026-03-22T00:00:00+00:00",
                        "totalTransactions": 530,
                        "authorizeTransactions": 41,
                        "captureTransactions": 42,
                        "payTransactions": 93,
                        "refundTransactions": 322,
                        "verifyTransactions": 23,
                        "voidTransactions": 9,
                        "successfulTransactions": 477,
                        "failedTransactions": 26,
                        "declinedTransactions": 23,
                        "pendingTransactions": 4,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-22T00:00:00+00:00",
                        "intervalEnd": "2026-03-23T00:00:00+00:00",
                        "totalTransactions": 587,
                        "authorizeTransactions": 65,
                        "captureTransactions": 73,
                        "payTransactions": 125,
                        "refundTransactions": 57,
                        "verifyTransactions": 211,
                        "voidTransactions": 56,
                        "successfulTransactions": 528,
                        "failedTransactions": 44,
                        "declinedTransactions": 12,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-23T00:00:00+00:00",
                        "intervalEnd": "2026-03-24T00:00:00+00:00",
                        "totalTransactions": 535,
                        "authorizeTransactions": 34,
                        "captureTransactions": 35,
                        "payTransactions": 330,
                        "refundTransactions": 42,
                        "verifyTransactions": 45,
                        "voidTransactions": 49,
                        "successfulTransactions": 481,
                        "failedTransactions": 44,
                        "declinedTransactions": 7,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-24T00:00:00+00:00",
                        "intervalEnd": "2026-03-25T00:00:00+00:00",
                        "totalTransactions": 948,
                        "authorizeTransactions": 12,
                        "captureTransactions": 21,
                        "payTransactions": 765,
                        "refundTransactions": 61,
                        "verifyTransactions": 30,
                        "voidTransactions": 59,
                        "successfulTransactions": 853,
                        "failedTransactions": 67,
                        "declinedTransactions": 22,
                        "pendingTransactions": 6,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-25T00:00:00+00:00",
                        "intervalEnd": "2026-03-26T00:00:00+00:00",
                        "totalTransactions": 202,
                        "authorizeTransactions": 20,
                        "captureTransactions": 27,
                        "payTransactions": 71,
                        "refundTransactions": 29,
                        "verifyTransactions": 13,
                        "voidTransactions": 42,
                        "successfulTransactions": 181,
                        "failedTransactions": 17,
                        "declinedTransactions": 3,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-26T00:00:00+00:00",
                        "intervalEnd": "2026-03-27T00:00:00+00:00",
                        "totalTransactions": 668,
                        "authorizeTransactions": 65,
                        "captureTransactions": 74,
                        "payTransactions": 67,
                        "refundTransactions": 408,
                        "verifyTransactions": 20,
                        "voidTransactions": 34,
                        "successfulTransactions": 601,
                        "failedTransactions": 30,
                        "declinedTransactions": 32,
                        "pendingTransactions": 5,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-20T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-27T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 3879
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 247
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 290
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 1604
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 984
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 377
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 377
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 3489
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 253
                    },
                    "declinedTransactions": {
                      "type": "integer",
                      "example": 114
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 23
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-20T00:00:00+00:00",
                          "intervalEnd": "2026-03-21T00:00:00+00:00",
                          "totalTransactions": 409,
                          "authorizeTransactions": 10,
                          "captureTransactions": 18,
                          "payTransactions": 153,
                          "refundTransactions": 65,
                          "verifyTransactions": 35,
                          "voidTransactions": 128,
                          "successfulTransactions": 368,
                          "failedTransactions": 25,
                          "declinedTransactions": 15,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-21T00:00:00+00:00",
                          "intervalEnd": "2026-03-22T00:00:00+00:00",
                          "totalTransactions": 530,
                          "authorizeTransactions": 41,
                          "captureTransactions": 42,
                          "payTransactions": 93,
                          "refundTransactions": 322,
                          "verifyTransactions": 23,
                          "voidTransactions": 9,
                          "successfulTransactions": 477,
                          "failedTransactions": 26,
                          "declinedTransactions": 23,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-22T00:00:00+00:00",
                          "intervalEnd": "2026-03-23T00:00:00+00:00",
                          "totalTransactions": 587,
                          "authorizeTransactions": 65,
                          "captureTransactions": 73,
                          "payTransactions": 125,
                          "refundTransactions": 57,
                          "verifyTransactions": 211,
                          "voidTransactions": 56,
                          "successfulTransactions": 528,
                          "failedTransactions": 44,
                          "declinedTransactions": 12,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-23T00:00:00+00:00",
                          "intervalEnd": "2026-03-24T00:00:00+00:00",
                          "totalTransactions": 535,
                          "authorizeTransactions": 34,
                          "captureTransactions": 35,
                          "payTransactions": 330,
                          "refundTransactions": 42,
                          "verifyTransactions": 45,
                          "voidTransactions": 49,
                          "successfulTransactions": 481,
                          "failedTransactions": 44,
                          "declinedTransactions": 7,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-24T00:00:00+00:00",
                          "intervalEnd": "2026-03-25T00:00:00+00:00",
                          "totalTransactions": 948,
                          "authorizeTransactions": 12,
                          "captureTransactions": 21,
                          "payTransactions": 765,
                          "refundTransactions": 61,
                          "verifyTransactions": 30,
                          "voidTransactions": 59,
                          "successfulTransactions": 853,
                          "failedTransactions": 67,
                          "declinedTransactions": 22,
                          "pendingTransactions": 6,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-25T00:00:00+00:00",
                          "intervalEnd": "2026-03-26T00:00:00+00:00",
                          "totalTransactions": 202,
                          "authorizeTransactions": 20,
                          "captureTransactions": 27,
                          "payTransactions": 71,
                          "refundTransactions": 29,
                          "verifyTransactions": 13,
                          "voidTransactions": 42,
                          "successfulTransactions": 181,
                          "failedTransactions": 17,
                          "declinedTransactions": 3,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-26T00:00:00+00:00",
                          "intervalEnd": "2026-03-27T00:00:00+00:00",
                          "totalTransactions": 668,
                          "authorizeTransactions": 65,
                          "captureTransactions": 74,
                          "payTransactions": 67,
                          "refundTransactions": 408,
                          "verifyTransactions": 20,
                          "voidTransactions": 34,
                          "successfulTransactions": 601,
                          "failedTransactions": 30,
                          "declinedTransactions": 32,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-20T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-21T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 409
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 10
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 18
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 153
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 65
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 35
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": 128
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 368
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 25
                          },
                          "declinedTransactions": {
                            "type": "integer",
                            "example": 15
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 1
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-20T00:00:00+00:00",
                    "periodEnd": "2026-03-27T00:00:00+00:00",
                    "totalSettlementAmount": 39583.36,
                    "totalFeeAmount": 1939.58464,
                    "totalNetAmount": 37643.77536,
                    "totalTransactionsPending": 124,
                    "totalTransactionsSettled": 1098,
                    "totalTransactionsSettling": 852,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-20T00:00:00+00:00",
                        "intervalEnd": "2026-03-21T00:00:00+00:00",
                        "totalSettlementAmount": 6078.5,
                        "totalFeeAmount": 297.8465,
                        "totalNetAmount": 5780.6535,
                        "totalTransactionsPending": 34,
                        "totalTransactionsSettled": 65,
                        "totalTransactionsSettling": 71
                      },
                      {
                        "intervalStart": "2026-03-21T00:00:00+00:00",
                        "intervalEnd": "2026-03-22T00:00:00+00:00",
                        "totalSettlementAmount": 7935.65,
                        "totalFeeAmount": 388.84685,
                        "totalNetAmount": 7546.80315,
                        "totalTransactionsPending": 11,
                        "totalTransactionsSettled": 84,
                        "totalTransactionsSettling": 404
                      },
                      {
                        "intervalStart": "2026-03-22T00:00:00+00:00",
                        "intervalEnd": "2026-03-23T00:00:00+00:00",
                        "totalSettlementAmount": 7775.61,
                        "totalFeeAmount": 381.00489,
                        "totalNetAmount": 7394.60511,
                        "totalTransactionsPending": 11,
                        "totalTransactionsSettled": 335,
                        "totalTransactionsSettling": 24
                      },
                      {
                        "intervalStart": "2026-03-23T00:00:00+00:00",
                        "intervalEnd": "2026-03-24T00:00:00+00:00",
                        "totalSettlementAmount": 1081.07,
                        "totalFeeAmount": 52.97243,
                        "totalNetAmount": 1028.09757,
                        "totalTransactionsPending": 11,
                        "totalTransactionsSettled": 111,
                        "totalTransactionsSettling": 10
                      },
                      {
                        "intervalStart": "2026-03-24T00:00:00+00:00",
                        "intervalEnd": "2026-03-25T00:00:00+00:00",
                        "totalSettlementAmount": 2837.81,
                        "totalFeeAmount": 139.05269,
                        "totalNetAmount": 2698.75731,
                        "totalTransactionsPending": 6,
                        "totalTransactionsSettled": 259,
                        "totalTransactionsSettling": 162
                      },
                      {
                        "intervalStart": "2026-03-25T00:00:00+00:00",
                        "intervalEnd": "2026-03-26T00:00:00+00:00",
                        "totalSettlementAmount": 9254.34,
                        "totalFeeAmount": 453.46266,
                        "totalNetAmount": 8800.87734,
                        "totalTransactionsPending": 12,
                        "totalTransactionsSettled": 160,
                        "totalTransactionsSettling": 133
                      },
                      {
                        "intervalStart": "2026-03-26T00:00:00+00:00",
                        "intervalEnd": "2026-03-27T00:00:00+00:00",
                        "totalSettlementAmount": 4620.38,
                        "totalFeeAmount": 226.39862,
                        "totalNetAmount": 4393.98138,
                        "totalTransactionsPending": 39,
                        "totalTransactionsSettled": 84,
                        "totalTransactionsSettling": 48
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-20T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-27T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 39583.36
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 1939.58464
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 37643.77536
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 124
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 1098
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 852
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-20T00:00:00+00:00",
                          "intervalEnd": "2026-03-21T00:00:00+00:00",
                          "totalSettlementAmount": 6078.5,
                          "totalFeeAmount": 297.8465,
                          "totalNetAmount": 5780.6535,
                          "totalTransactionsPending": 34,
                          "totalTransactionsSettled": 65,
                          "totalTransactionsSettling": 71
                        },
                        {
                          "intervalStart": "2026-03-21T00:00:00+00:00",
                          "intervalEnd": "2026-03-22T00:00:00+00:00",
                          "totalSettlementAmount": 7935.65,
                          "totalFeeAmount": 388.84685,
                          "totalNetAmount": 7546.80315,
                          "totalTransactionsPending": 11,
                          "totalTransactionsSettled": 84,
                          "totalTransactionsSettling": 404
                        },
                        {
                          "intervalStart": "2026-03-22T00:00:00+00:00",
                          "intervalEnd": "2026-03-23T00:00:00+00:00",
                          "totalSettlementAmount": 7775.61,
                          "totalFeeAmount": 381.00489,
                          "totalNetAmount": 7394.60511,
                          "totalTransactionsPending": 11,
                          "totalTransactionsSettled": 335,
                          "totalTransactionsSettling": 24
                        },
                        {
                          "intervalStart": "2026-03-23T00:00:00+00:00",
                          "intervalEnd": "2026-03-24T00:00:00+00:00",
                          "totalSettlementAmount": 1081.07,
                          "totalFeeAmount": 52.97243,
                          "totalNetAmount": 1028.09757,
                          "totalTransactionsPending": 11,
                          "totalTransactionsSettled": 111,
                          "totalTransactionsSettling": 10
                        },
                        {
                          "intervalStart": "2026-03-24T00:00:00+00:00",
                          "intervalEnd": "2026-03-25T00:00:00+00:00",
                          "totalSettlementAmount": 2837.81,
                          "totalFeeAmount": 139.05269,
                          "totalNetAmount": 2698.75731,
                          "totalTransactionsPending": 6,
                          "totalTransactionsSettled": 259,
                          "totalTransactionsSettling": 162
                        },
                        {
                          "intervalStart": "2026-03-25T00:00:00+00:00",
                          "intervalEnd": "2026-03-26T00:00:00+00:00",
                          "totalSettlementAmount": 9254.34,
                          "totalFeeAmount": 453.46266,
                          "totalNetAmount": 8800.87734,
                          "totalTransactionsPending": 12,
                          "totalTransactionsSettled": 160,
                          "totalTransactionsSettling": 133
                        },
                        {
                          "intervalStart": "2026-03-26T00:00:00+00:00",
                          "intervalEnd": "2026-03-27T00:00:00+00:00",
                          "totalSettlementAmount": 4620.38,
                          "totalFeeAmount": 226.39862,
                          "totalNetAmount": 4393.98138,
                          "totalTransactionsPending": 39,
                          "totalTransactionsSettled": 84,
                          "totalTransactionsSettling": 48
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-20T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-21T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 6078.5
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 297.8465
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 5780.6535
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 34
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 65
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 71
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 5,
                    "data": [
                      {
                        "email": "ahmad.funk@runolfsdottir.com",
                        "firstName": "Rubie",
                        "lastName": "Kilback",
                        "phone": "+14354785567",
                        "dateOfBirth": "1992-12-22"
                      },
                      {
                        "email": "ashley.grant@hotmail.com",
                        "firstName": "Asha",
                        "lastName": "Ullrich",
                        "phone": "+13465071466",
                        "dateOfBirth": "1991-07-17"
                      },
                      {
                        "email": "unique.corwin@lynch.org",
                        "firstName": "Alvina",
                        "lastName": "Larson",
                        "phone": "+14406430968",
                        "dateOfBirth": "2000-10-21"
                      },
                      {
                        "email": "juvenal24@ullrich.com",
                        "firstName": "Hosea",
                        "lastName": "Powlowski",
                        "phone": "+13214587783",
                        "dateOfBirth": "2007-03-16"
                      },
                      {
                        "email": "kreiger.euna@bernier.com",
                        "firstName": "Elody",
                        "lastName": "Halvorson",
                        "phone": "+15637595236",
                        "dateOfBirth": "1975-07-27"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 5,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "ahmad.funk@runolfsdottir.com",
                          "firstName": "Rubie",
                          "lastName": "Kilback",
                          "phone": "+14354785567",
                          "dateOfBirth": "1992-12-22"
                        },
                        {
                          "email": "ashley.grant@hotmail.com",
                          "firstName": "Asha",
                          "lastName": "Ullrich",
                          "phone": "+13465071466",
                          "dateOfBirth": "1991-07-17"
                        },
                        {
                          "email": "unique.corwin@lynch.org",
                          "firstName": "Alvina",
                          "lastName": "Larson",
                          "phone": "+14406430968",
                          "dateOfBirth": "2000-10-21"
                        },
                        {
                          "email": "juvenal24@ullrich.com",
                          "firstName": "Hosea",
                          "lastName": "Powlowski",
                          "phone": "+13214587783",
                          "dateOfBirth": "2007-03-16"
                        },
                        {
                          "email": "kreiger.euna@bernier.com",
                          "firstName": "Elody",
                          "lastName": "Halvorson",
                          "phone": "+15637595236",
                          "dateOfBirth": "1975-07-27"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "ahmad.funk@runolfsdottir.com"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Rubie"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Kilback"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+14354785567"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "1992-12-22"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers/{customerIdOrEmail}/addresses": {
      "get": {
        "summary": "List Customer Billing Addresses",
        "operationId": "listCustomerBillingAddresses",
        "description": "Returns all unique billing addresses that have been used by a customer across their payments.\nAddresses are deduplicated using case-insensitive and whitespace-insensitive comparison.",
        "parameters": [
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
            "example": "-city",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
              "example": "-city",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of unique billing addresses for the customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "company": "Quigley, Klocko and Waelchi",
                        "street": "252 Rosenbaum Trail Suite 681",
                        "city": "South Anita",
                        "stateProvince": "DE",
                        "postcodeZip": "03513-7874",
                        "country": "USA"
                      },
                      {
                        "company": "Feeney-Dickinson",
                        "street": "3221 Luna Street",
                        "city": "South Soledadmouth",
                        "stateProvince": "NJ",
                        "postcodeZip": "96026",
                        "country": "USA"
                      },
                      {
                        "company": "Walker, Lemke and Kirlin",
                        "street": "895 Sheila Drive",
                        "city": "New Magdalenachester",
                        "stateProvince": "AR",
                        "postcodeZip": "81740",
                        "country": "USA"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "company": "Quigley, Klocko and Waelchi",
                          "street": "252 Rosenbaum Trail Suite 681",
                          "city": "South Anita",
                          "stateProvince": "DE",
                          "postcodeZip": "03513-7874",
                          "country": "USA"
                        },
                        {
                          "company": "Feeney-Dickinson",
                          "street": "3221 Luna Street",
                          "city": "South Soledadmouth",
                          "stateProvince": "NJ",
                          "postcodeZip": "96026",
                          "country": "USA"
                        },
                        {
                          "company": "Walker, Lemke and Kirlin",
                          "street": "895 Sheila Drive",
                          "city": "New Magdalenachester",
                          "stateProvince": "AR",
                          "postcodeZip": "81740",
                          "country": "USA"
                        }
                      ],
                      "description": "The data returned from the request",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "company": {
                            "type": "string",
                            "example": "Quigley, Klocko and Waelchi"
                          },
                          "street": {
                            "type": "string",
                            "example": "252 Rosenbaum Trail Suite 681"
                          },
                          "city": {
                            "type": "string",
                            "example": "South Anita"
                          },
                          "stateProvince": {
                            "type": "string",
                            "example": "DE"
                          },
                          "postcodeZip": {
                            "type": "string",
                            "example": "03513-7874"
                          },
                          "country": {
                            "type": "string",
                            "example": "USA"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "path",
          "name": "customerIdOrEmail",
          "description": "The customer ID, UUID, or email address",
          "example": "customer_123",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/simulated/terminals": {
      "get": {
        "summary": "Get all available simulated terminals.",
        "operationId": "getAllAvailableSimulatedTerminals",
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of available simulated terminals",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "title": "Success",
                        "description": "Approves all card present transactions successfully.",
                        "tid": "SUCCESS",
                        "readyForProcessing": true,
[...]
