{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.67.4"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payout Exports",
      "description": "Create payout exports"
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-15T00:00:00+00:00",
                    "periodEnd": "2026-04-22T00:00:00+00:00",
                    "numPaymentsCreated": 4394,
                    "numPaymentsProcessed": 2790,
                    "numPaymentsIncomplete": 1604,
                    "numPaymentsWithRefunds": 2011,
                    "numCardPresentPayments": 1182,
                    "numCardNotPresentPayments": 422,
                    "totalCapturedAmount": 3594905.04,
                    "totalRefundedAmount": 567274.28,
                    "totalNetCapturedAmount": 3027630.76,
                    "averageNetCapturedAmount": 1474.6557142857,
                    "minNetCapturedAmount": 22.44,
                    "maxNetCapturedAmount": 8463.17,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-15T00:00:00+00:00",
                        "intervalEnd": "2026-04-16T00:00:00+00:00",
                        "numPaymentsCreated": 781,
                        "numPaymentsProcessed": 566,
                        "numPaymentsIncomplete": 215,
                        "numPaymentsWithRefunds": 546,
                        "numCardPresentPayments": 314,
                        "numCardNotPresentPayments": -99,
                        "totalCapturedAmount": 520573.59,
                        "totalRefundedAmount": 110605.94,
                        "totalNetCapturedAmount": 409967.65,
                        "averageNetCapturedAmount": 724.32,
                        "minNetCapturedAmount": 33.21,
                        "maxNetCapturedAmount": 3182.54
                      },
                      {
                        "intervalStart": "2026-04-16T00:00:00+00:00",
                        "intervalEnd": "2026-04-17T00:00:00+00:00",
                        "numPaymentsCreated": 925,
                        "numPaymentsProcessed": 562,
                        "numPaymentsIncomplete": 363,
                        "numPaymentsWithRefunds": 535,
                        "numCardPresentPayments": 326,
                        "numCardNotPresentPayments": 37,
                        "totalCapturedAmount": 304497.91,
                        "totalRefundedAmount": 29256.73,
                        "totalNetCapturedAmount": 275241.18,
                        "averageNetCapturedAmount": 489.75,
                        "minNetCapturedAmount": 22.44,
                        "maxNetCapturedAmount": 6498.96
                      },
                      {
                        "intervalStart": "2026-04-17T00:00:00+00:00",
                        "intervalEnd": "2026-04-18T00:00:00+00:00",
                        "numPaymentsCreated": 538,
                        "numPaymentsProcessed": 496,
                        "numPaymentsIncomplete": 42,
                        "numPaymentsWithRefunds": 61,
                        "numCardPresentPayments": 34,
                        "numCardNotPresentPayments": 8,
                        "totalCapturedAmount": 17628.29,
                        "totalRefundedAmount": 4464.96,
                        "totalNetCapturedAmount": 13163.33,
                        "averageNetCapturedAmount": 26.54,
                        "minNetCapturedAmount": 56.05,
                        "maxNetCapturedAmount": 7961.35
                      },
                      {
                        "intervalStart": "2026-04-18T00:00:00+00:00",
                        "intervalEnd": "2026-04-19T00:00:00+00:00",
                        "numPaymentsCreated": 376,
                        "numPaymentsProcessed": 316,
                        "numPaymentsIncomplete": 60,
                        "numPaymentsWithRefunds": 286,
                        "numCardPresentPayments": 247,
                        "numCardNotPresentPayments": -187,
                        "totalCapturedAmount": 642153.08,
                        "totalRefundedAmount": 14514.65,
                        "totalNetCapturedAmount": 627638.43,
                        "averageNetCapturedAmount": 1986.2,
                        "minNetCapturedAmount": 91.93,
                        "maxNetCapturedAmount": 4097.37
                      },
                      {
                        "intervalStart": "2026-04-19T00:00:00+00:00",
                        "intervalEnd": "2026-04-20T00:00:00+00:00",
                        "numPaymentsCreated": 573,
                        "numPaymentsProcessed": 338,
                        "numPaymentsIncomplete": 235,
                        "numPaymentsWithRefunds": 153,
                        "numCardPresentPayments": 154,
                        "numCardNotPresentPayments": 81,
                        "totalCapturedAmount": 394045.94,
                        "totalRefundedAmount": 116114.09,
                        "totalNetCapturedAmount": 277931.85,
                        "averageNetCapturedAmount": 822.28,
                        "minNetCapturedAmount": 72.42,
                        "maxNetCapturedAmount": 4089.06
                      },
                      {
                        "intervalStart": "2026-04-20T00:00:00+00:00",
                        "intervalEnd": "2026-04-21T00:00:00+00:00",
                        "numPaymentsCreated": 542,
                        "numPaymentsProcessed": 165,
                        "numPaymentsIncomplete": 377,
                        "numPaymentsWithRefunds": 159,
                        "numCardPresentPayments": 21,
                        "numCardNotPresentPayments": 356,
                        "totalCapturedAmount": 824747.38,
                        "totalRefundedAmount": 141884.61,
                        "totalNetCapturedAmount": 682862.77,
                        "averageNetCapturedAmount": 4138.56,
                        "minNetCapturedAmount": 59.52,
                        "maxNetCapturedAmount": 8463.17
                      },
                      {
                        "intervalStart": "2026-04-21T00:00:00+00:00",
                        "intervalEnd": "2026-04-22T00:00:00+00:00",
                        "numPaymentsCreated": 659,
                        "numPaymentsProcessed": 347,
                        "numPaymentsIncomplete": 312,
                        "numPaymentsWithRefunds": 271,
                        "numCardPresentPayments": 86,
                        "numCardNotPresentPayments": 226,
                        "totalCapturedAmount": 891258.85,
                        "totalRefundedAmount": 150433.3,
                        "totalNetCapturedAmount": 740825.55,
                        "averageNetCapturedAmount": 2134.94,
                        "minNetCapturedAmount": 98.53,
                        "maxNetCapturedAmount": 7389.99
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-15T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-22T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 4394
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 2790
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 1604
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 2011
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 1182
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": 422
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 3594905.04
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 567274.28
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 3027630.76
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 1474.6557142857
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 22.44
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 8463.17
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-15T00:00:00+00:00",
                          "intervalEnd": "2026-04-16T00:00:00+00:00",
                          "numPaymentsCreated": 781,
                          "numPaymentsProcessed": 566,
                          "numPaymentsIncomplete": 215,
                          "numPaymentsWithRefunds": 546,
                          "numCardPresentPayments": 314,
                          "numCardNotPresentPayments": -99,
                          "totalCapturedAmount": 520573.59,
                          "totalRefundedAmount": 110605.94,
                          "totalNetCapturedAmount": 409967.65,
                          "averageNetCapturedAmount": 724.32,
                          "minNetCapturedAmount": 33.21,
                          "maxNetCapturedAmount": 3182.54
                        },
                        {
                          "intervalStart": "2026-04-16T00:00:00+00:00",
                          "intervalEnd": "2026-04-17T00:00:00+00:00",
                          "numPaymentsCreated": 925,
                          "numPaymentsProcessed": 562,
                          "numPaymentsIncomplete": 363,
                          "numPaymentsWithRefunds": 535,
                          "numCardPresentPayments": 326,
                          "numCardNotPresentPayments": 37,
                          "totalCapturedAmount": 304497.91,
                          "totalRefundedAmount": 29256.73,
                          "totalNetCapturedAmount": 275241.18,
                          "averageNetCapturedAmount": 489.75,
                          "minNetCapturedAmount": 22.44,
                          "maxNetCapturedAmount": 6498.96
                        },
                        {
                          "intervalStart": "2026-04-17T00:00:00+00:00",
                          "intervalEnd": "2026-04-18T00:00:00+00:00",
                          "numPaymentsCreated": 538,
                          "numPaymentsProcessed": 496,
                          "numPaymentsIncomplete": 42,
                          "numPaymentsWithRefunds": 61,
                          "numCardPresentPayments": 34,
                          "numCardNotPresentPayments": 8,
                          "totalCapturedAmount": 17628.29,
                          "totalRefundedAmount": 4464.96,
                          "totalNetCapturedAmount": 13163.33,
                          "averageNetCapturedAmount": 26.54,
                          "minNetCapturedAmount": 56.05,
                          "maxNetCapturedAmount": 7961.35
                        },
                        {
                          "intervalStart": "2026-04-18T00:00:00+00:00",
                          "intervalEnd": "2026-04-19T00:00:00+00:00",
                          "numPaymentsCreated": 376,
                          "numPaymentsProcessed": 316,
                          "numPaymentsIncomplete": 60,
                          "numPaymentsWithRefunds": 286,
                          "numCardPresentPayments": 247,
                          "numCardNotPresentPayments": -187,
                          "totalCapturedAmount": 642153.08,
                          "totalRefundedAmount": 14514.65,
                          "totalNetCapturedAmount": 627638.43,
                          "averageNetCapturedAmount": 1986.2,
                          "minNetCapturedAmount": 91.93,
                          "maxNetCapturedAmount": 4097.37
                        },
                        {
                          "intervalStart": "2026-04-19T00:00:00+00:00",
                          "intervalEnd": "2026-04-20T00:00:00+00:00",
                          "numPaymentsCreated": 573,
                          "numPaymentsProcessed": 338,
                          "numPaymentsIncomplete": 235,
                          "numPaymentsWithRefunds": 153,
                          "numCardPresentPayments": 154,
                          "numCardNotPresentPayments": 81,
                          "totalCapturedAmount": 394045.94,
                          "totalRefundedAmount": 116114.09,
                          "totalNetCapturedAmount": 277931.85,
                          "averageNetCapturedAmount": 822.28,
                          "minNetCapturedAmount": 72.42,
                          "maxNetCapturedAmount": 4089.06
                        },
                        {
                          "intervalStart": "2026-04-20T00:00:00+00:00",
                          "intervalEnd": "2026-04-21T00:00:00+00:00",
                          "numPaymentsCreated": 542,
                          "numPaymentsProcessed": 165,
                          "numPaymentsIncomplete": 377,
                          "numPaymentsWithRefunds": 159,
                          "numCardPresentPayments": 21,
                          "numCardNotPresentPayments": 356,
                          "totalCapturedAmount": 824747.38,
                          "totalRefundedAmount": 141884.61,
                          "totalNetCapturedAmount": 682862.77,
                          "averageNetCapturedAmount": 4138.56,
                          "minNetCapturedAmount": 59.52,
                          "maxNetCapturedAmount": 8463.17
                        },
                        {
                          "intervalStart": "2026-04-21T00:00:00+00:00",
                          "intervalEnd": "2026-04-22T00:00:00+00:00",
                          "numPaymentsCreated": 659,
                          "numPaymentsProcessed": 347,
                          "numPaymentsIncomplete": 312,
                          "numPaymentsWithRefunds": 271,
                          "numCardPresentPayments": 86,
                          "numCardNotPresentPayments": 226,
                          "totalCapturedAmount": 891258.85,
                          "totalRefundedAmount": 150433.3,
                          "totalNetCapturedAmount": 740825.55,
                          "averageNetCapturedAmount": 2134.94,
                          "minNetCapturedAmount": 98.53,
                          "maxNetCapturedAmount": 7389.99
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-15T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-16T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 781
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 566
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 215
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 546
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 314
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": -99
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 520573.59
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 110605.94
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 409967.65
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 724.32
                          },
                          "minNetCapturedAmount": {
                            "type": "number",
                            "example": 33.21
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 3182.54
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-15T00:00:00+00:00",
                    "periodEnd": "2026-04-22T00:00:00+00:00",
                    "activeCustomers": 163,
                    "newCustomers": 146,
                    "returningCustomers": 17,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-15T00:00:00+00:00",
                        "intervalEnd": "2026-04-16T00:00:00+00:00",
                        "activeCustomers": 97,
                        "newCustomers": 8,
                        "returningCustomers": 89
                      },
                      {
                        "intervalStart": "2026-04-16T00:00:00+00:00",
                        "intervalEnd": "2026-04-17T00:00:00+00:00",
                        "activeCustomers": 99,
                        "newCustomers": 25,
                        "returningCustomers": 74
                      },
                      {
                        "intervalStart": "2026-04-17T00:00:00+00:00",
                        "intervalEnd": "2026-04-18T00:00:00+00:00",
                        "activeCustomers": 24,
                        "newCustomers": 10,
                        "returningCustomers": 14
                      },
                      {
                        "intervalStart": "2026-04-18T00:00:00+00:00",
                        "intervalEnd": "2026-04-19T00:00:00+00:00",
                        "activeCustomers": 66,
                        "newCustomers": 38,
                        "returningCustomers": 28
                      },
                      {
                        "intervalStart": "2026-04-19T00:00:00+00:00",
                        "intervalEnd": "2026-04-20T00:00:00+00:00",
                        "activeCustomers": 18,
                        "newCustomers": 8,
                        "returningCustomers": 10
                      },
                      {
                        "intervalStart": "2026-04-20T00:00:00+00:00",
                        "intervalEnd": "2026-04-21T00:00:00+00:00",
                        "activeCustomers": 65,
                        "newCustomers": 29,
                        "returningCustomers": 36
                      },
                      {
                        "intervalStart": "2026-04-21T00:00:00+00:00",
                        "intervalEnd": "2026-04-22T00:00:00+00:00",
                        "activeCustomers": 42,
                        "newCustomers": 28,
                        "returningCustomers": 14
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-15T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-22T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 163
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 146
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": 17
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-15T00:00:00+00:00",
                          "intervalEnd": "2026-04-16T00:00:00+00:00",
                          "activeCustomers": 97,
                          "newCustomers": 8,
                          "returningCustomers": 89
                        },
                        {
                          "intervalStart": "2026-04-16T00:00:00+00:00",
                          "intervalEnd": "2026-04-17T00:00:00+00:00",
                          "activeCustomers": 99,
                          "newCustomers": 25,
                          "returningCustomers": 74
                        },
                        {
                          "intervalStart": "2026-04-17T00:00:00+00:00",
                          "intervalEnd": "2026-04-18T00:00:00+00:00",
                          "activeCustomers": 24,
                          "newCustomers": 10,
                          "returningCustomers": 14
                        },
                        {
                          "intervalStart": "2026-04-18T00:00:00+00:00",
                          "intervalEnd": "2026-04-19T00:00:00+00:00",
                          "activeCustomers": 66,
                          "newCustomers": 38,
                          "returningCustomers": 28
                        },
                        {
                          "intervalStart": "2026-04-19T00:00:00+00:00",
                          "intervalEnd": "2026-04-20T00:00:00+00:00",
                          "activeCustomers": 18,
                          "newCustomers": 8,
                          "returningCustomers": 10
                        },
                        {
                          "intervalStart": "2026-04-20T00:00:00+00:00",
                          "intervalEnd": "2026-04-21T00:00:00+00:00",
                          "activeCustomers": 65,
                          "newCustomers": 29,
                          "returningCustomers": 36
                        },
                        {
                          "intervalStart": "2026-04-21T00:00:00+00:00",
                          "intervalEnd": "2026-04-22T00:00:00+00:00",
                          "activeCustomers": 42,
                          "newCustomers": 28,
                          "returningCustomers": 14
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-15T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-16T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 97
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 8
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 89
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-15T00:00:00+00:00",
                    "periodEnd": "2026-04-22T00:00:00+00:00",
                    "totalTransactions": 2863,
                    "authorizeTransactions": 174,
                    "captureTransactions": 204,
                    "payTransactions": 1264,
                    "refundTransactions": 659,
                    "verifyTransactions": 138,
                    "voidTransactions": 424,
                    "successfulTransactions": 2573,
                    "failedTransactions": 209,
                    "declinedTransactions": 66,
                    "pendingTransactions": 15,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-15T00:00:00+00:00",
                        "intervalEnd": "2026-04-16T00:00:00+00:00",
                        "totalTransactions": 215,
                        "authorizeTransactions": 26,
                        "captureTransactions": 28,
                        "payTransactions": 128,
                        "refundTransactions": 14,
                        "verifyTransactions": 16,
                        "voidTransactions": 3,
                        "successfulTransactions": 193,
                        "failedTransactions": 16,
                        "declinedTransactions": 5,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-16T00:00:00+00:00",
                        "intervalEnd": "2026-04-17T00:00:00+00:00",
                        "totalTransactions": 111,
                        "authorizeTransactions": 12,
                        "captureTransactions": 16,
                        "payTransactions": 25,
                        "refundTransactions": 55,
                        "verifyTransactions": 4,
                        "voidTransactions": -1,
                        "successfulTransactions": 99,
                        "failedTransactions": 8,
                        "declinedTransactions": 3,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-17T00:00:00+00:00",
                        "intervalEnd": "2026-04-18T00:00:00+00:00",
                        "totalTransactions": 786,
                        "authorizeTransactions": 15,
                        "captureTransactions": 18,
                        "payTransactions": 552,
                        "refundTransactions": 38,
                        "verifyTransactions": 14,
                        "voidTransactions": 149,
                        "successfulTransactions": 707,
                        "failedTransactions": 65,
                        "declinedTransactions": 12,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-18T00:00:00+00:00",
                        "intervalEnd": "2026-04-19T00:00:00+00:00",
                        "totalTransactions": 105,
                        "authorizeTransactions": 12,
                        "captureTransactions": 22,
                        "payTransactions": 51,
                        "refundTransactions": 12,
                        "verifyTransactions": 7,
                        "voidTransactions": 1,
                        "successfulTransactions": 94,
                        "failedTransactions": 9,
                        "declinedTransactions": 1,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-19T00:00:00+00:00",
                        "intervalEnd": "2026-04-20T00:00:00+00:00",
                        "totalTransactions": 280,
                        "authorizeTransactions": 12,
                        "captureTransactions": 15,
                        "payTransactions": 195,
                        "refundTransactions": 52,
                        "verifyTransactions": 5,
                        "voidTransactions": 1,
                        "successfulTransactions": 252,
                        "failedTransactions": 22,
                        "declinedTransactions": 4,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-20T00:00:00+00:00",
                        "intervalEnd": "2026-04-21T00:00:00+00:00",
                        "totalTransactions": 895,
                        "authorizeTransactions": 63,
                        "captureTransactions": 65,
                        "payTransactions": 230,
                        "refundTransactions": 451,
                        "verifyTransactions": 62,
                        "voidTransactions": 24,
                        "successfulTransactions": 805,
                        "failedTransactions": 62,
                        "declinedTransactions": 24,
                        "pendingTransactions": 4,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-21T00:00:00+00:00",
                        "intervalEnd": "2026-04-22T00:00:00+00:00",
                        "totalTransactions": 471,
                        "authorizeTransactions": 34,
                        "captureTransactions": 40,
                        "payTransactions": 83,
                        "refundTransactions": 37,
                        "verifyTransactions": 30,
                        "voidTransactions": 247,
                        "successfulTransactions": 423,
                        "failedTransactions": 27,
                        "declinedTransactions": 17,
                        "pendingTransactions": 4,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-15T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-22T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 2863
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 174
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 204
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 1264
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 659
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 138
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 424
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 2573
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 209
                    },
                    "declinedTransactions": {
                      "type": "integer",
                      "example": 66
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 15
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-15T00:00:00+00:00",
                          "intervalEnd": "2026-04-16T00:00:00+00:00",
                          "totalTransactions": 215,
                          "authorizeTransactions": 26,
                          "captureTransactions": 28,
                          "payTransactions": 128,
                          "refundTransactions": 14,
                          "verifyTransactions": 16,
                          "voidTransactions": 3,
                          "successfulTransactions": 193,
                          "failedTransactions": 16,
                          "declinedTransactions": 5,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-16T00:00:00+00:00",
                          "intervalEnd": "2026-04-17T00:00:00+00:00",
                          "totalTransactions": 111,
                          "authorizeTransactions": 12,
                          "captureTransactions": 16,
                          "payTransactions": 25,
                          "refundTransactions": 55,
                          "verifyTransactions": 4,
                          "voidTransactions": -1,
                          "successfulTransactions": 99,
                          "failedTransactions": 8,
                          "declinedTransactions": 3,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-17T00:00:00+00:00",
                          "intervalEnd": "2026-04-18T00:00:00+00:00",
                          "totalTransactions": 786,
                          "authorizeTransactions": 15,
                          "captureTransactions": 18,
                          "payTransactions": 552,
                          "refundTransactions": 38,
                          "verifyTransactions": 14,
                          "voidTransactions": 149,
                          "successfulTransactions": 707,
                          "failedTransactions": 65,
                          "declinedTransactions": 12,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-18T00:00:00+00:00",
                          "intervalEnd": "2026-04-19T00:00:00+00:00",
                          "totalTransactions": 105,
                          "authorizeTransactions": 12,
                          "captureTransactions": 22,
                          "payTransactions": 51,
                          "refundTransactions": 12,
                          "verifyTransactions": 7,
                          "voidTransactions": 1,
                          "successfulTransactions": 94,
                          "failedTransactions": 9,
                          "declinedTransactions": 1,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-19T00:00:00+00:00",
                          "intervalEnd": "2026-04-20T00:00:00+00:00",
                          "totalTransactions": 280,
                          "authorizeTransactions": 12,
                          "captureTransactions": 15,
                          "payTransactions": 195,
                          "refundTransactions": 52,
                          "verifyTransactions": 5,
                          "voidTransactions": 1,
                          "successfulTransactions": 252,
                          "failedTransactions": 22,
                          "declinedTransactions": 4,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-20T00:00:00+00:00",
                          "intervalEnd": "2026-04-21T00:00:00+00:00",
                          "totalTransactions": 895,
                          "authorizeTransactions": 63,
                          "captureTransactions": 65,
                          "payTransactions": 230,
                          "refundTransactions": 451,
                          "verifyTransactions": 62,
                          "voidTransactions": 24,
                          "successfulTransactions": 805,
                          "failedTransactions": 62,
                          "declinedTransactions": 24,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-21T00:00:00+00:00",
                          "intervalEnd": "2026-04-22T00:00:00+00:00",
                          "totalTransactions": 471,
                          "authorizeTransactions": 34,
                          "captureTransactions": 40,
                          "payTransactions": 83,
                          "refundTransactions": 37,
                          "verifyTransactions": 30,
                          "voidTransactions": 247,
                          "successfulTransactions": 423,
                          "failedTransactions": 27,
                          "declinedTransactions": 17,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-15T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-16T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 215
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 26
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 28
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 128
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 14
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 16
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": 3
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 193
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 16
                          },
                          "declinedTransactions": {
                            "type": "integer",
                            "example": 5
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 1
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-15T00:00:00+00:00",
                    "periodEnd": "2026-04-22T00:00:00+00:00",
                    "totalSettlementAmount": 31647.06,
                    "totalFeeAmount": 1550.70594,
                    "totalNetAmount": 30096.35406,
                    "totalTransactionsPending": 139,
                    "totalTransactionsSettled": 1631,
                    "totalTransactionsSettling": 530,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-15T00:00:00+00:00",
                        "intervalEnd": "2026-04-16T00:00:00+00:00",
                        "totalSettlementAmount": 2982.79,
                        "totalFeeAmount": 146.15671,
                        "totalNetAmount": 2836.63329,
                        "totalTransactionsPending": 35,
                        "totalTransactionsSettled": 70,
                        "totalTransactionsSettling": 26
                      },
                      {
                        "intervalStart": "2026-04-16T00:00:00+00:00",
                        "intervalEnd": "2026-04-17T00:00:00+00:00",
                        "totalSettlementAmount": 4691.85,
                        "totalFeeAmount": 229.90065,
                        "totalNetAmount": 4461.94935,
                        "totalTransactionsPending": 17,
                        "totalTransactionsSettled": 436,
                        "totalTransactionsSettling": 24
                      },
                      {
                        "intervalStart": "2026-04-17T00:00:00+00:00",
                        "intervalEnd": "2026-04-18T00:00:00+00:00",
                        "totalSettlementAmount": 2255.9,
                        "totalFeeAmount": 110.5391,
                        "totalNetAmount": 2145.3609,
                        "totalTransactionsPending": 33,
                        "totalTransactionsSettled": 254,
                        "totalTransactionsSettling": 42
                      },
                      {
                        "intervalStart": "2026-04-18T00:00:00+00:00",
                        "intervalEnd": "2026-04-19T00:00:00+00:00",
                        "totalSettlementAmount": 5602.09,
                        "totalFeeAmount": 274.50241,
                        "totalNetAmount": 5327.58759,
                        "totalTransactionsPending": 12,
                        "totalTransactionsSettled": 254,
                        "totalTransactionsSettling": 169
                      },
                      {
                        "intervalStart": "2026-04-19T00:00:00+00:00",
                        "intervalEnd": "2026-04-20T00:00:00+00:00",
                        "totalSettlementAmount": 4351.88,
                        "totalFeeAmount": 213.24212,
                        "totalNetAmount": 4138.63788,
                        "totalTransactionsPending": 20,
                        "totalTransactionsSettled": 230,
                        "totalTransactionsSettling": 167
                      },
                      {
                        "intervalStart": "2026-04-20T00:00:00+00:00",
                        "intervalEnd": "2026-04-21T00:00:00+00:00",
                        "totalSettlementAmount": 4370.22,
                        "totalFeeAmount": 214.14078,
                        "totalNetAmount": 4156.07922,
                        "totalTransactionsPending": 7,
                        "totalTransactionsSettled": 128,
                        "totalTransactionsSettling": 26
                      },
                      {
                        "intervalStart": "2026-04-21T00:00:00+00:00",
                        "intervalEnd": "2026-04-22T00:00:00+00:00",
                        "totalSettlementAmount": 7392.33,
                        "totalFeeAmount": 362.22417,
                        "totalNetAmount": 7030.10583,
                        "totalTransactionsPending": 15,
                        "totalTransactionsSettled": 259,
                        "totalTransactionsSettling": 76
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-15T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-22T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 31647.06
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 1550.70594
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 30096.35406
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 139
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 1631
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 530
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-15T00:00:00+00:00",
                          "intervalEnd": "2026-04-16T00:00:00+00:00",
                          "totalSettlementAmount": 2982.79,
                          "totalFeeAmount": 146.15671,
                          "totalNetAmount": 2836.63329,
                          "totalTransactionsPending": 35,
                          "totalTransactionsSettled": 70,
                          "totalTransactionsSettling": 26
                        },
                        {
                          "intervalStart": "2026-04-16T00:00:00+00:00",
                          "intervalEnd": "2026-04-17T00:00:00+00:00",
                          "totalSettlementAmount": 4691.85,
                          "totalFeeAmount": 229.90065,
                          "totalNetAmount": 4461.94935,
                          "totalTransactionsPending": 17,
                          "totalTransactionsSettled": 436,
                          "totalTransactionsSettling": 24
                        },
                        {
                          "intervalStart": "2026-04-17T00:00:00+00:00",
                          "intervalEnd": "2026-04-18T00:00:00+00:00",
                          "totalSettlementAmount": 2255.9,
                          "totalFeeAmount": 110.5391,
                          "totalNetAmount": 2145.3609,
                          "totalTransactionsPending": 33,
                          "totalTransactionsSettled": 254,
                          "totalTransactionsSettling": 42
                        },
                        {
                          "intervalStart": "2026-04-18T00:00:00+00:00",
                          "intervalEnd": "2026-04-19T00:00:00+00:00",
                          "totalSettlementAmount": 5602.09,
                          "totalFeeAmount": 274.50241,
                          "totalNetAmount": 5327.58759,
                          "totalTransactionsPending": 12,
                          "totalTransactionsSettled": 254,
                          "totalTransactionsSettling": 169
                        },
                        {
                          "intervalStart": "2026-04-19T00:00:00+00:00",
                          "intervalEnd": "2026-04-20T00:00:00+00:00",
                          "totalSettlementAmount": 4351.88,
                          "totalFeeAmount": 213.24212,
                          "totalNetAmount": 4138.63788,
                          "totalTransactionsPending": 20,
                          "totalTransactionsSettled": 230,
                          "totalTransactionsSettling": 167
                        },
                        {
                          "intervalStart": "2026-04-20T00:00:00+00:00",
                          "intervalEnd": "2026-04-21T00:00:00+00:00",
                          "totalSettlementAmount": 4370.22,
                          "totalFeeAmount": 214.14078,
                          "totalNetAmount": 4156.07922,
                          "totalTransactionsPending": 7,
                          "totalTransactionsSettled": 128,
                          "totalTransactionsSettling": 26
                        },
                        {
                          "intervalStart": "2026-04-21T00:00:00+00:00",
                          "intervalEnd": "2026-04-22T00:00:00+00:00",
                          "totalSettlementAmount": 7392.33,
                          "totalFeeAmount": 362.22417,
                          "totalNetAmount": 7030.10583,
                          "totalTransactionsPending": 15,
                          "totalTransactionsSettled": 259,
                          "totalTransactionsSettling": 76
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-15T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-16T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 2982.79
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 146.15671
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 2836.63329
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 35
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 70
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 26
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 6,
                    "data": [
                      {
                        "email": "keeling.miles@yahoo.com",
                        "firstName": "Tiara",
                        "lastName": "Stoltenberg",
                        "phone": "+19808967831",
                        "dateOfBirth": "1987-08-15"
                      },
                      {
                        "email": "trenton69@greenholt.info",
                        "firstName": "Stanton",
                        "lastName": "Friesen",
                        "phone": "+19862969842",
                        "dateOfBirth": "1972-12-10"
                      },
                      {
                        "email": "savannah73@harris.com",
                        "firstName": "Charity",
                        "lastName": "Casper",
                        "phone": "+17698290324",
                        "dateOfBirth": "1994-07-16"
                      },
                      {
                        "email": "yvandervort@quitzon.com",
                        "firstName": "Selina",
                        "lastName": "Bernier",
                        "phone": "+13516379368",
                        "dateOfBirth": "1984-12-30"
                      },
                      {
                        "email": "smitham.cicero@gmail.com",
                        "firstName": "Tessie",
                        "lastName": "Kuvalis",
                        "phone": "+13517225433",
                        "dateOfBirth": "2004-04-03"
                      },
                      {
                        "email": "reyna.marvin@hessel.biz",
                        "firstName": "Jerel",
                        "lastName": "Keebler",
                        "phone": "+14057695564",
                        "dateOfBirth": "1993-02-28"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 6,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "keeling.miles@yahoo.com",
                          "firstName": "Tiara",
                          "lastName": "Stoltenberg",
                          "phone": "+19808967831",
                          "dateOfBirth": "1987-08-15"
                        },
                        {
                          "email": "trenton69@greenholt.info",
                          "firstName": "Stanton",
                          "lastName": "Friesen",
                          "phone": "+19862969842",
                          "dateOfBirth": "1972-12-10"
                        },
                        {
                          "email": "savannah73@harris.com",
                          "firstName": "Charity",
                          "lastName": "Casper",
                          "phone": "+17698290324",
                          "dateOfBirth": "1994-07-16"
                        },
                        {
                          "email": "yvandervort@quitzon.com",
                          "firstName": "Selina",
                          "lastName": "Bernier",
                          "phone": "+13516379368",
                          "dateOfBirth": "1984-12-30"
                        },
                        {
                          "email": "smitham.cicero@gmail.com",
                          "firstName": "Tessie",
                          "lastName": "Kuvalis",
                          "phone": "+13517225433",
                          "dateOfBirth": "2004-04-03"
                        },
                        {
                          "email": "reyna.marvin@hessel.biz",
                          "firstName": "Jerel",
                          "lastName": "Keebler",
                          "phone": "+14057695564",
                          "dateOfBirth": "1993-02-28"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "keeling.miles@yahoo.com"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Tiara"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Stoltenberg"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+19808967831"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "1987-08-15"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers/{customerIdOrEmail}/addresses": {
      "get": {
        "summary": "List Customer Billing Addresses",
        "operationId": "listCustomerBillingAddresses",
        "description": "Returns all unique billing addresses that have been used by a customer across their payments.\nAddresses are deduplicated using case-insensitive and whitespace-insensitive comparison.",
        "parameters": [
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
            "example": "-city",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
              "example": "-city",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of unique billing addresses for the customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "company": "Shanahan Ltd",
                        "street": "157 Glover Run Apt. 618",
                        "city": "Crooksburgh",
                        "stateProvince": "NM",
                        "postcodeZip": "39934-4332",
                        "country": "USA"
                      },
                      {
                        "company": "Ritchie PLC",
                        "street": "2390 Johns Shores",
                        "city": "New Ariannamouth",
                        "stateProvince": "ME",
                        "postcodeZip": "00872",
                        "country": "USA"
                      },
                      {
                        "company": "Schmidt, McGlynn and Kunze",
                        "street": "2272 Isom Lodge Suite 504",
                        "city": "East Angus",
                        "stateProvince": "WA",
                        "postcodeZip": "65073",
                        "country": "USA"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "company": "Shanahan Ltd",
                          "street": "157 Glover Run Apt. 618",
                          "city": "Crooksburgh",
                          "stateProvince": "NM",
                          "postcodeZip": "39934-4332",
                          "country": "USA"
                        },
                        {
                          "company": "Ritchie PLC",
                          "street": "2390 Johns Shores",
                          "city": "New Ariannamouth",
                          "stateProvince": "ME",
                          "postcodeZip": "00872",
                          "country": "USA"
                        },
                        {
                          "company": "Schmidt, McGlynn and Kunze",
                          "street": "2272 Isom Lodge Suite 504",
                          "city": "East Angus",
                          "stateProvince": "WA",
                          "postcodeZip": "65073",
                          "country": "USA"
                        }
                      ],
                      "description": "The data returned from the request",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "company": {
                            "type": "string",
                            "example": "Shanahan Ltd"
                          },
                          "street": {
                            "type": "string",
                            "example": "157 Glover Run Apt. 618"
                          },
                          "city": {
                            "type": "string",
                            "example": "Crooksburgh"
                          },
                          "stateProvince": {
                            "type": "string",
                            "example": "NM"
                          },
                          "postcodeZip": {
                            "type": "string",
                            "example": "39934-4332"
                          },
                          "country": {
                            "type": "string",
                            "example": "USA"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "path",
          "name": "customerIdOrEmail",
          "description": "The customer ID, UUID, or email address",
          "example": "customer_123",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/simulated/terminals": {
      "get": {
        "summary": "Get all available simulated terminals.",
        "operationId": "getAllAvailableSimulatedTerminals",
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
[...]
