{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.42.0"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-02-14T00:00:00+00:00",
                    "periodEnd": "2026-02-21T00:00:00+00:00",
                    "numPaymentsCreated": 4373,
                    "numPaymentsProcessed": 2701,
                    "numPaymentsIncomplete": 1672,
                    "numPaymentsWithRefunds": 1767,
                    "numCardPresentPayments": 1239,
                    "numCardNotPresentPayments": 433,
                    "totalCapturedAmount": 4153542.79,
                    "totalRefundedAmount": 489042.21,
                    "totalNetCapturedAmount": 3664500.58,
                    "averageNetCapturedAmount": 2593.1114285714,
                    "minNetCapturedAmount": 19.03,
                    "maxNetCapturedAmount": 9010.64,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-02-14T00:00:00+00:00",
                        "intervalEnd": "2026-02-15T00:00:00+00:00",
                        "numPaymentsCreated": 706,
                        "numPaymentsProcessed": 132,
                        "numPaymentsIncomplete": 574,
                        "numPaymentsWithRefunds": 79,
                        "numCardPresentPayments": 15,
                        "numCardNotPresentPayments": 559,
                        "totalCapturedAmount": 416570.04,
                        "totalRefundedAmount": 28370.25,
                        "totalNetCapturedAmount": 388199.79,
                        "averageNetCapturedAmount": 2940.91,
                        "minNetCapturedAmount": 75.48,
                        "maxNetCapturedAmount": 1236.99
                      },
                      {
                        "intervalStart": "2026-02-15T00:00:00+00:00",
                        "intervalEnd": "2026-02-16T00:00:00+00:00",
                        "numPaymentsCreated": 525,
                        "numPaymentsProcessed": 408,
                        "numPaymentsIncomplete": 117,
                        "numPaymentsWithRefunds": 378,
                        "numCardPresentPayments": 115,
                        "numCardNotPresentPayments": 2,
                        "totalCapturedAmount": 84657.73,
                        "totalRefundedAmount": 8281.76,
                        "totalNetCapturedAmount": 76375.97,
                        "averageNetCapturedAmount": 187.2,
                        "minNetCapturedAmount": 75.33,
                        "maxNetCapturedAmount": 9010.64
                      },
                      {
                        "intervalStart": "2026-02-16T00:00:00+00:00",
                        "intervalEnd": "2026-02-17T00:00:00+00:00",
                        "numPaymentsCreated": 975,
                        "numPaymentsProcessed": 781,
                        "numPaymentsIncomplete": 194,
                        "numPaymentsWithRefunds": 43,
                        "numCardPresentPayments": 132,
                        "numCardNotPresentPayments": 62,
                        "totalCapturedAmount": 815780.63,
                        "totalRefundedAmount": 64258.12,
                        "totalNetCapturedAmount": 751522.51,
                        "averageNetCapturedAmount": 962.26,
                        "minNetCapturedAmount": 64.79,
                        "maxNetCapturedAmount": 7855.03
                      },
                      {
                        "intervalStart": "2026-02-17T00:00:00+00:00",
                        "intervalEnd": "2026-02-18T00:00:00+00:00",
                        "numPaymentsCreated": 699,
                        "numPaymentsProcessed": 417,
                        "numPaymentsIncomplete": 282,
                        "numPaymentsWithRefunds": 397,
                        "numCardPresentPayments": 375,
                        "numCardNotPresentPayments": -93,
                        "totalCapturedAmount": 674369.38,
                        "totalRefundedAmount": 66036.24,
                        "totalNetCapturedAmount": 608333.14,
                        "averageNetCapturedAmount": 1458.83,
                        "minNetCapturedAmount": 74.59,
                        "maxNetCapturedAmount": 1798.53
                      },
                      {
                        "intervalStart": "2026-02-18T00:00:00+00:00",
                        "intervalEnd": "2026-02-19T00:00:00+00:00",
                        "numPaymentsCreated": 726,
                        "numPaymentsProcessed": 529,
                        "numPaymentsIncomplete": 197,
                        "numPaymentsWithRefunds": 515,
                        "numCardPresentPayments": 378,
                        "numCardNotPresentPayments": -181,
                        "totalCapturedAmount": 674986,
                        "totalRefundedAmount": 54260.92,
                        "totalNetCapturedAmount": 620725.08,
                        "averageNetCapturedAmount": 1173.39,
                        "minNetCapturedAmount": 38.1,
                        "maxNetCapturedAmount": 5216.11
                      },
                      {
                        "intervalStart": "2026-02-19T00:00:00+00:00",
                        "intervalEnd": "2026-02-20T00:00:00+00:00",
                        "numPaymentsCreated": 570,
                        "numPaymentsProcessed": 383,
                        "numPaymentsIncomplete": 187,
                        "numPaymentsWithRefunds": 348,
                        "numCardPresentPayments": 196,
                        "numCardNotPresentPayments": -9,
                        "totalCapturedAmount": 956694.1,
                        "totalRefundedAmount": 222470.42,
                        "totalNetCapturedAmount": 734223.68,
                        "averageNetCapturedAmount": 1917.03,
                        "minNetCapturedAmount": 99.77,
                        "maxNetCapturedAmount": 7389.53
                      },
                      {
                        "intervalStart": "2026-02-20T00:00:00+00:00",
                        "intervalEnd": "2026-02-21T00:00:00+00:00",
                        "numPaymentsCreated": 172,
                        "numPaymentsProcessed": 51,
                        "numPaymentsIncomplete": 121,
                        "numPaymentsWithRefunds": 7,
                        "numCardPresentPayments": 28,
                        "numCardNotPresentPayments": 93,
                        "totalCapturedAmount": 530484.91,
                        "totalRefundedAmount": 45364.5,
                        "totalNetCapturedAmount": 485120.41,
                        "averageNetCapturedAmount": 9512.16,
                        "minNetCapturedAmount": 19.03,
                        "maxNetCapturedAmount": 5099.29
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-02-14T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-02-21T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 4373
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 2701
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 1672
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 1767
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 1239
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": 433
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 4153542.79
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 489042.21
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 3664500.58
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 2593.1114285714
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 19.03
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 9010.64
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-02-14T00:00:00+00:00",
                          "intervalEnd": "2026-02-15T00:00:00+00:00",
                          "numPaymentsCreated": 706,
                          "numPaymentsProcessed": 132,
                          "numPaymentsIncomplete": 574,
                          "numPaymentsWithRefunds": 79,
                          "numCardPresentPayments": 15,
                          "numCardNotPresentPayments": 559,
                          "totalCapturedAmount": 416570.04,
                          "totalRefundedAmount": 28370.25,
                          "totalNetCapturedAmount": 388199.79,
                          "averageNetCapturedAmount": 2940.91,
                          "minNetCapturedAmount": 75.48,
                          "maxNetCapturedAmount": 1236.99
                        },
                        {
                          "intervalStart": "2026-02-15T00:00:00+00:00",
                          "intervalEnd": "2026-02-16T00:00:00+00:00",
                          "numPaymentsCreated": 525,
                          "numPaymentsProcessed": 408,
                          "numPaymentsIncomplete": 117,
                          "numPaymentsWithRefunds": 378,
                          "numCardPresentPayments": 115,
                          "numCardNotPresentPayments": 2,
                          "totalCapturedAmount": 84657.73,
                          "totalRefundedAmount": 8281.76,
                          "totalNetCapturedAmount": 76375.97,
                          "averageNetCapturedAmount": 187.2,
                          "minNetCapturedAmount": 75.33,
                          "maxNetCapturedAmount": 9010.64
                        },
                        {
                          "intervalStart": "2026-02-16T00:00:00+00:00",
                          "intervalEnd": "2026-02-17T00:00:00+00:00",
                          "numPaymentsCreated": 975,
                          "numPaymentsProcessed": 781,
                          "numPaymentsIncomplete": 194,
                          "numPaymentsWithRefunds": 43,
                          "numCardPresentPayments": 132,
                          "numCardNotPresentPayments": 62,
                          "totalCapturedAmount": 815780.63,
                          "totalRefundedAmount": 64258.12,
                          "totalNetCapturedAmount": 751522.51,
                          "averageNetCapturedAmount": 962.26,
                          "minNetCapturedAmount": 64.79,
                          "maxNetCapturedAmount": 7855.03
                        },
                        {
                          "intervalStart": "2026-02-17T00:00:00+00:00",
                          "intervalEnd": "2026-02-18T00:00:00+00:00",
                          "numPaymentsCreated": 699,
                          "numPaymentsProcessed": 417,
                          "numPaymentsIncomplete": 282,
                          "numPaymentsWithRefunds": 397,
                          "numCardPresentPayments": 375,
                          "numCardNotPresentPayments": -93,
                          "totalCapturedAmount": 674369.38,
                          "totalRefundedAmount": 66036.24,
                          "totalNetCapturedAmount": 608333.14,
                          "averageNetCapturedAmount": 1458.83,
                          "minNetCapturedAmount": 74.59,
                          "maxNetCapturedAmount": 1798.53
                        },
                        {
                          "intervalStart": "2026-02-18T00:00:00+00:00",
                          "intervalEnd": "2026-02-19T00:00:00+00:00",
                          "numPaymentsCreated": 726,
                          "numPaymentsProcessed": 529,
                          "numPaymentsIncomplete": 197,
                          "numPaymentsWithRefunds": 515,
                          "numCardPresentPayments": 378,
                          "numCardNotPresentPayments": -181,
                          "totalCapturedAmount": 674986,
                          "totalRefundedAmount": 54260.92,
                          "totalNetCapturedAmount": 620725.08,
                          "averageNetCapturedAmount": 1173.39,
                          "minNetCapturedAmount": 38.1,
                          "maxNetCapturedAmount": 5216.11
                        },
                        {
                          "intervalStart": "2026-02-19T00:00:00+00:00",
                          "intervalEnd": "2026-02-20T00:00:00+00:00",
                          "numPaymentsCreated": 570,
                          "numPaymentsProcessed": 383,
                          "numPaymentsIncomplete": 187,
                          "numPaymentsWithRefunds": 348,
                          "numCardPresentPayments": 196,
                          "numCardNotPresentPayments": -9,
                          "totalCapturedAmount": 956694.1,
                          "totalRefundedAmount": 222470.42,
                          "totalNetCapturedAmount": 734223.68,
                          "averageNetCapturedAmount": 1917.03,
                          "minNetCapturedAmount": 99.77,
                          "maxNetCapturedAmount": 7389.53
                        },
                        {
                          "intervalStart": "2026-02-20T00:00:00+00:00",
                          "intervalEnd": "2026-02-21T00:00:00+00:00",
                          "numPaymentsCreated": 172,
                          "numPaymentsProcessed": 51,
                          "numPaymentsIncomplete": 121,
                          "numPaymentsWithRefunds": 7,
                          "numCardPresentPayments": 28,
                          "numCardNotPresentPayments": 93,
                          "totalCapturedAmount": 530484.91,
                          "totalRefundedAmount": 45364.5,
                          "totalNetCapturedAmount": 485120.41,
                          "averageNetCapturedAmount": 9512.16,
                          "minNetCapturedAmount": 19.03,
                          "maxNetCapturedAmount": 5099.29
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-02-14T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-02-15T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 706
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 132
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 574
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 79
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 15
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": 559
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 416570.04
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 28370.25
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 388199.79
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 2940.91
                          },
                          "minNetCapturedAmount": {
                            "type": "number",
                            "example": 75.48
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 1236.99
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-02-14T00:00:00+00:00",
                    "periodEnd": "2026-02-21T00:00:00+00:00",
                    "activeCustomers": 342,
                    "newCustomers": 194,
                    "returningCustomers": 148,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-02-14T00:00:00+00:00",
                        "intervalEnd": "2026-02-15T00:00:00+00:00",
                        "activeCustomers": 56,
                        "newCustomers": 30,
                        "returningCustomers": 26
                      },
                      {
                        "intervalStart": "2026-02-15T00:00:00+00:00",
                        "intervalEnd": "2026-02-16T00:00:00+00:00",
                        "activeCustomers": 77,
                        "newCustomers": 19,
                        "returningCustomers": 58
                      },
                      {
                        "intervalStart": "2026-02-16T00:00:00+00:00",
                        "intervalEnd": "2026-02-17T00:00:00+00:00",
                        "activeCustomers": 57,
                        "newCustomers": 26,
                        "returningCustomers": 31
                      },
                      {
                        "intervalStart": "2026-02-17T00:00:00+00:00",
                        "intervalEnd": "2026-02-18T00:00:00+00:00",
                        "activeCustomers": 60,
                        "newCustomers": 26,
                        "returningCustomers": 34
                      },
                      {
                        "intervalStart": "2026-02-18T00:00:00+00:00",
                        "intervalEnd": "2026-02-19T00:00:00+00:00",
                        "activeCustomers": 14,
                        "newCustomers": 7,
                        "returningCustomers": 7
                      },
                      {
                        "intervalStart": "2026-02-19T00:00:00+00:00",
                        "intervalEnd": "2026-02-20T00:00:00+00:00",
                        "activeCustomers": 72,
                        "newCustomers": 43,
                        "returningCustomers": 29
                      },
                      {
                        "intervalStart": "2026-02-20T00:00:00+00:00",
                        "intervalEnd": "2026-02-21T00:00:00+00:00",
                        "activeCustomers": 48,
                        "newCustomers": 43,
                        "returningCustomers": 5
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-02-14T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-02-21T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 342
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 194
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": 148
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-02-14T00:00:00+00:00",
                          "intervalEnd": "2026-02-15T00:00:00+00:00",
                          "activeCustomers": 56,
                          "newCustomers": 30,
                          "returningCustomers": 26
                        },
                        {
                          "intervalStart": "2026-02-15T00:00:00+00:00",
                          "intervalEnd": "2026-02-16T00:00:00+00:00",
                          "activeCustomers": 77,
                          "newCustomers": 19,
                          "returningCustomers": 58
                        },
                        {
                          "intervalStart": "2026-02-16T00:00:00+00:00",
                          "intervalEnd": "2026-02-17T00:00:00+00:00",
                          "activeCustomers": 57,
                          "newCustomers": 26,
                          "returningCustomers": 31
                        },
                        {
                          "intervalStart": "2026-02-17T00:00:00+00:00",
                          "intervalEnd": "2026-02-18T00:00:00+00:00",
                          "activeCustomers": 60,
                          "newCustomers": 26,
                          "returningCustomers": 34
                        },
                        {
                          "intervalStart": "2026-02-18T00:00:00+00:00",
                          "intervalEnd": "2026-02-19T00:00:00+00:00",
                          "activeCustomers": 14,
                          "newCustomers": 7,
                          "returningCustomers": 7
                        },
                        {
                          "intervalStart": "2026-02-19T00:00:00+00:00",
                          "intervalEnd": "2026-02-20T00:00:00+00:00",
                          "activeCustomers": 72,
                          "newCustomers": 43,
                          "returningCustomers": 29
                        },
                        {
                          "intervalStart": "2026-02-20T00:00:00+00:00",
                          "intervalEnd": "2026-02-21T00:00:00+00:00",
                          "activeCustomers": 48,
                          "newCustomers": 43,
                          "returningCustomers": 5
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-02-14T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-02-15T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 56
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 30
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 26
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-02-14T00:00:00+00:00",
                    "periodEnd": "2026-02-21T00:00:00+00:00",
                    "totalTransactions": 4097,
                    "authorizeTransactions": 244,
                    "captureTransactions": 283,
                    "payTransactions": 1332,
                    "refundTransactions": 1038,
                    "verifyTransactions": 816,
                    "voidTransactions": 384,
                    "successfulTransactions": 3683,
                    "failedTransactions": 261,
                    "declinedTransactions": 122,
                    "pendingTransactions": 31,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-02-14T00:00:00+00:00",
                        "intervalEnd": "2026-02-15T00:00:00+00:00",
                        "totalTransactions": 823,
                        "authorizeTransactions": 52,
                        "captureTransactions": 53,
                        "payTransactions": 159,
                        "refundTransactions": 202,
                        "verifyTransactions": 258,
                        "voidTransactions": 99,
                        "successfulTransactions": 740,
                        "failedTransactions": 71,
                        "declinedTransactions": 5,
                        "pendingTransactions": 7,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-02-15T00:00:00+00:00",
                        "intervalEnd": "2026-02-16T00:00:00+00:00",
                        "totalTransactions": 726,
                        "authorizeTransactions": 41,
                        "captureTransactions": 50,
                        "payTransactions": 41,
                        "refundTransactions": 77,
                        "verifyTransactions": 285,
                        "voidTransactions": 232,
                        "successfulTransactions": 653,
                        "failedTransactions": 45,
                        "declinedTransactions": 22,
                        "pendingTransactions": 6,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-02-16T00:00:00+00:00",
                        "intervalEnd": "2026-02-17T00:00:00+00:00",
                        "totalTransactions": 251,
                        "authorizeTransactions": 16,
                        "captureTransactions": 26,
                        "payTransactions": 133,
                        "refundTransactions": 58,
                        "verifyTransactions": 18,
                        "voidTransactions": 0,
                        "successfulTransactions": 225,
                        "failedTransactions": 16,
                        "declinedTransactions": 8,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-02-17T00:00:00+00:00",
                        "intervalEnd": "2026-02-18T00:00:00+00:00",
                        "totalTransactions": 513,
                        "authorizeTransactions": 50,
                        "captureTransactions": 52,
                        "payTransactions": 356,
                        "refundTransactions": 12,
                        "verifyTransactions": 25,
                        "voidTransactions": 18,
                        "successfulTransactions": 461,
                        "failedTransactions": 38,
                        "declinedTransactions": 10,
                        "pendingTransactions": 4,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-02-18T00:00:00+00:00",
                        "intervalEnd": "2026-02-19T00:00:00+00:00",
                        "totalTransactions": 118,
                        "authorizeTransactions": 11,
                        "captureTransactions": 18,
                        "payTransactions": 85,
                        "refundTransactions": 5,
                        "verifyTransactions": 0,
                        "voidTransactions": -1,
                        "successfulTransactions": 106,
                        "failedTransactions": 7,
                        "declinedTransactions": 4,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-02-19T00:00:00+00:00",
                        "intervalEnd": "2026-02-20T00:00:00+00:00",
                        "totalTransactions": 942,
                        "authorizeTransactions": 32,
                        "captureTransactions": 38,
                        "payTransactions": 234,
                        "refundTransactions": 477,
                        "verifyTransactions": 128,
                        "voidTransactions": 33,
                        "successfulTransactions": 847,
                        "failedTransactions": 46,
                        "declinedTransactions": 40,
                        "pendingTransactions": 9,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-02-20T00:00:00+00:00",
                        "intervalEnd": "2026-02-21T00:00:00+00:00",
                        "totalTransactions": 724,
                        "authorizeTransactions": 42,
                        "captureTransactions": 46,
                        "payTransactions": 324,
                        "refundTransactions": 207,
                        "verifyTransactions": 102,
                        "voidTransactions": 3,
                        "successfulTransactions": 651,
                        "failedTransactions": 38,
                        "declinedTransactions": 33,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-02-14T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-02-21T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 4097
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 244
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 283
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 1332
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 1038
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 816
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 384
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 3683
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 261
                    },
                    "declinedTransactions": {
                      "type": "integer",
                      "example": 122
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 31
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-02-14T00:00:00+00:00",
                          "intervalEnd": "2026-02-15T00:00:00+00:00",
                          "totalTransactions": 823,
                          "authorizeTransactions": 52,
                          "captureTransactions": 53,
                          "payTransactions": 159,
                          "refundTransactions": 202,
                          "verifyTransactions": 258,
                          "voidTransactions": 99,
                          "successfulTransactions": 740,
                          "failedTransactions": 71,
                          "declinedTransactions": 5,
                          "pendingTransactions": 7,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-02-15T00:00:00+00:00",
                          "intervalEnd": "2026-02-16T00:00:00+00:00",
                          "totalTransactions": 726,
                          "authorizeTransactions": 41,
                          "captureTransactions": 50,
                          "payTransactions": 41,
                          "refundTransactions": 77,
                          "verifyTransactions": 285,
                          "voidTransactions": 232,
                          "successfulTransactions": 653,
                          "failedTransactions": 45,
                          "declinedTransactions": 22,
                          "pendingTransactions": 6,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-02-16T00:00:00+00:00",
                          "intervalEnd": "2026-02-17T00:00:00+00:00",
                          "totalTransactions": 251,
                          "authorizeTransactions": 16,
                          "captureTransactions": 26,
                          "payTransactions": 133,
                          "refundTransactions": 58,
                          "verifyTransactions": 18,
                          "voidTransactions": 0,
                          "successfulTransactions": 225,
                          "failedTransactions": 16,
                          "declinedTransactions": 8,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-02-17T00:00:00+00:00",
                          "intervalEnd": "2026-02-18T00:00:00+00:00",
                          "totalTransactions": 513,
                          "authorizeTransactions": 50,
                          "captureTransactions": 52,
                          "payTransactions": 356,
                          "refundTransactions": 12,
                          "verifyTransactions": 25,
                          "voidTransactions": 18,
                          "successfulTransactions": 461,
                          "failedTransactions": 38,
                          "declinedTransactions": 10,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-02-18T00:00:00+00:00",
                          "intervalEnd": "2026-02-19T00:00:00+00:00",
                          "totalTransactions": 118,
                          "authorizeTransactions": 11,
                          "captureTransactions": 18,
                          "payTransactions": 85,
                          "refundTransactions": 5,
                          "verifyTransactions": 0,
                          "voidTransactions": -1,
                          "successfulTransactions": 106,
                          "failedTransactions": 7,
                          "declinedTransactions": 4,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-02-19T00:00:00+00:00",
                          "intervalEnd": "2026-02-20T00:00:00+00:00",
                          "totalTransactions": 942,
                          "authorizeTransactions": 32,
                          "captureTransactions": 38,
                          "payTransactions": 234,
                          "refundTransactions": 477,
                          "verifyTransactions": 128,
                          "voidTransactions": 33,
                          "successfulTransactions": 847,
                          "failedTransactions": 46,
                          "declinedTransactions": 40,
                          "pendingTransactions": 9,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-02-20T00:00:00+00:00",
                          "intervalEnd": "2026-02-21T00:00:00+00:00",
                          "totalTransactions": 724,
                          "authorizeTransactions": 42,
                          "captureTransactions": 46,
                          "payTransactions": 324,
                          "refundTransactions": 207,
                          "verifyTransactions": 102,
                          "voidTransactions": 3,
                          "successfulTransactions": 651,
                          "failedTransactions": 38,
                          "declinedTransactions": 33,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-02-14T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-02-15T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 823
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 52
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 53
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 159
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 202
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 258
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": 99
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 740
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 71
                          },
                          "declinedTransactions": {
                            "type": "integer",
                            "example": 5
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 7
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-02-14T00:00:00+00:00",
                    "periodEnd": "2026-02-21T00:00:00+00:00",
                    "totalSettlementAmount": 36747.54,
                    "totalFeeAmount": 1800.62946,
                    "totalNetAmount": 34946.91054,
                    "totalTransactionsPending": 202,
                    "totalTransactionsSettled": 1344,
                    "totalTransactionsSettling": 902,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-02-14T00:00:00+00:00",
                        "intervalEnd": "2026-02-15T00:00:00+00:00",
                        "totalSettlementAmount": 5766.84,
                        "totalFeeAmount": 282.57516,
                        "totalNetAmount": 5484.26484,
                        "totalTransactionsPending": 36,
                        "totalTransactionsSettled": 130,
                        "totalTransactionsSettling": 75
                      },
                      {
                        "intervalStart": "2026-02-15T00:00:00+00:00",
                        "intervalEnd": "2026-02-16T00:00:00+00:00",
                        "totalSettlementAmount": 6191.28,
                        "totalFeeAmount": 303.37272,
                        "totalNetAmount": 5887.90728,
                        "totalTransactionsPending": 11,
                        "totalTransactionsSettled": 276,
                        "totalTransactionsSettling": 10
                      },
                      {
                        "intervalStart": "2026-02-16T00:00:00+00:00",
                        "intervalEnd": "2026-02-17T00:00:00+00:00",
                        "totalSettlementAmount": 5041.5,
                        "totalFeeAmount": 247.0335,
                        "totalNetAmount": 4794.4665,
                        "totalTransactionsPending": 29,
                        "totalTransactionsSettled": 22,
                        "totalTransactionsSettling": 388
                      },
                      {
                        "intervalStart": "2026-02-17T00:00:00+00:00",
                        "intervalEnd": "2026-02-18T00:00:00+00:00",
                        "totalSettlementAmount": 1844.55,
                        "totalFeeAmount": 90.38295,
                        "totalNetAmount": 1754.16705,
                        "totalTransactionsPending": 38,
                        "totalTransactionsSettled": 272,
                        "totalTransactionsSettling": 72
                      },
                      {
                        "intervalStart": "2026-02-18T00:00:00+00:00",
                        "intervalEnd": "2026-02-19T00:00:00+00:00",
                        "totalSettlementAmount": 9814.11,
                        "totalFeeAmount": 480.89139,
                        "totalNetAmount": 9333.21861,
                        "totalTransactionsPending": 38,
                        "totalTransactionsSettled": 208,
                        "totalTransactionsSettling": 65
                      },
                      {
                        "intervalStart": "2026-02-19T00:00:00+00:00",
                        "intervalEnd": "2026-02-20T00:00:00+00:00",
                        "totalSettlementAmount": 5655.72,
                        "totalFeeAmount": 277.13028,
                        "totalNetAmount": 5378.58972,
                        "totalTransactionsPending": 38,
                        "totalTransactionsSettled": 247,
                        "totalTransactionsSettling": 78
                      },
                      {
                        "intervalStart": "2026-02-20T00:00:00+00:00",
                        "intervalEnd": "2026-02-21T00:00:00+00:00",
                        "totalSettlementAmount": 2433.54,
                        "totalFeeAmount": 119.24346,
                        "totalNetAmount": 2314.29654,
                        "totalTransactionsPending": 12,
                        "totalTransactionsSettled": 189,
                        "totalTransactionsSettling": 214
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-02-14T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-02-21T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 36747.54
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 1800.62946
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 34946.91054
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 202
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 1344
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 902
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-02-14T00:00:00+00:00",
                          "intervalEnd": "2026-02-15T00:00:00+00:00",
                          "totalSettlementAmount": 5766.84,
                          "totalFeeAmount": 282.57516,
                          "totalNetAmount": 5484.26484,
                          "totalTransactionsPending": 36,
                          "totalTransactionsSettled": 130,
                          "totalTransactionsSettling": 75
                        },
                        {
                          "intervalStart": "2026-02-15T00:00:00+00:00",
                          "intervalEnd": "2026-02-16T00:00:00+00:00",
                          "totalSettlementAmount": 6191.28,
                          "totalFeeAmount": 303.37272,
                          "totalNetAmount": 5887.90728,
                          "totalTransactionsPending": 11,
                          "totalTransactionsSettled": 276,
                          "totalTransactionsSettling": 10
                        },
                        {
                          "intervalStart": "2026-02-16T00:00:00+00:00",
                          "intervalEnd": "2026-02-17T00:00:00+00:00",
                          "totalSettlementAmount": 5041.5,
                          "totalFeeAmount": 247.0335,
                          "totalNetAmount": 4794.4665,
                          "totalTransactionsPending": 29,
                          "totalTransactionsSettled": 22,
                          "totalTransactionsSettling": 388
                        },
                        {
                          "intervalStart": "2026-02-17T00:00:00+00:00",
                          "intervalEnd": "2026-02-18T00:00:00+00:00",
                          "totalSettlementAmount": 1844.55,
                          "totalFeeAmount": 90.38295,
                          "totalNetAmount": 1754.16705,
                          "totalTransactionsPending": 38,
                          "totalTransactionsSettled": 272,
                          "totalTransactionsSettling": 72
                        },
                        {
                          "intervalStart": "2026-02-18T00:00:00+00:00",
                          "intervalEnd": "2026-02-19T00:00:00+00:00",
                          "totalSettlementAmount": 9814.11,
                          "totalFeeAmount": 480.89139,
                          "totalNetAmount": 9333.21861,
                          "totalTransactionsPending": 38,
                          "totalTransactionsSettled": 208,
                          "totalTransactionsSettling": 65
                        },
                        {
                          "intervalStart": "2026-02-19T00:00:00+00:00",
                          "intervalEnd": "2026-02-20T00:00:00+00:00",
                          "totalSettlementAmount": 5655.72,
                          "totalFeeAmount": 277.13028,
                          "totalNetAmount": 5378.58972,
                          "totalTransactionsPending": 38,
                          "totalTransactionsSettled": 247,
                          "totalTransactionsSettling": 78
                        },
                        {
                          "intervalStart": "2026-02-20T00:00:00+00:00",
                          "intervalEnd": "2026-02-21T00:00:00+00:00",
                          "totalSettlementAmount": 2433.54,
                          "totalFeeAmount": 119.24346,
                          "totalNetAmount": 2314.29654,
                          "totalTransactionsPending": 12,
                          "totalTransactionsSettled": 189,
                          "totalTransactionsSettling": 214
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-02-14T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-02-15T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 5766.84
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 282.57516
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 5484.26484
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 36
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 130
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 75
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 10,
                    "data": [
                      {
                        "email": "norval.white@yahoo.com",
                        "firstName": "Keagan",
                        "lastName": "Schaefer",
                        "phone": "+13804493785",
                        "dateOfBirth": "1998-09-12"
                      },
                      {
                        "email": "hermiston.arjun@berge.com",
                        "firstName": "Hayden",
                        "lastName": "Zboncak",
                        "phone": "+17163194133",
                        "dateOfBirth": "2003-04-05"
                      },
                      {
                        "email": "scassin@effertz.info",
                        "firstName": "Jordan",
                        "lastName": "Howell",
                        "phone": "+12016759773",
                        "dateOfBirth": "1989-06-30"
                      },
                      {
                        "email": "stanton.kenya@schiller.com",
                        "firstName": "Rose",
                        "lastName": "Kertzmann",
                        "phone": "+13868638802",
                        "dateOfBirth": "1987-03-05"
                      },
                      {
                        "email": "wkoelpin@yahoo.com",
                        "firstName": "Willie",
                        "lastName": "O'Conner",
                        "phone": "+19169828116",
                        "dateOfBirth": "2006-02-19"
                      },
                      {
                        "email": "rosario.jacobi@ortiz.info",
                        "firstName": "Era",
                        "lastName": "Champlin",
                        "phone": "+16405730317",
                        "dateOfBirth": "2004-02-06"
                      },
                      {
                        "email": "manley63@crooks.org",
                        "firstName": "Reta",
                        "lastName": "Schmitt",
                        "phone": "+16129729122",
                        "dateOfBirth": "1989-01-26"
                      },
                      {
                        "email": "genevieve60@yahoo.com",
                        "firstName": "Lou",
                        "lastName": "Willms",
                        "phone": "+12157256382",
                        "dateOfBirth": "1972-06-19"
                      },
                      {
                        "email": "trantow.harvey@yahoo.com",
                        "firstName": "Marjory",
                        "lastName": "Kreiger",
                        "phone": "+19419825983",
                        "dateOfBirth": "2001-11-13"
                      },
                      {
                        "email": "maeve.jaskolski@lueilwitz.org",
                        "firstName": "Lauryn",
                        "lastName": "Oberbrunner",
                        "phone": "+18024754086",
                        "dateOfBirth": "1991-05-13"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 10,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "norval.white@yahoo.com",
                          "firstName": "Keagan",
                          "lastName": "Schaefer",
                          "phone": "+13804493785",
                          "dateOfBirth": "1998-09-12"
                        },
                        {
                          "email": "hermiston.arjun@berge.com",
                          "firstName": "Hayden",
                          "lastName": "Zboncak",
                          "phone": "+17163194133",
                          "dateOfBirth": "2003-04-05"
                        },
                        {
                          "email": "scassin@effertz.info",
                          "firstName": "Jordan",
                          "lastName": "Howell",
                          "phone": "+12016759773",
                          "dateOfBirth": "1989-06-30"
                        },
                        {
                          "email": "stanton.kenya@schiller.com",
                          "firstName": "Rose",
                          "lastName": "Kertzmann",
                          "phone": "+13868638802",
                          "dateOfBirth": "1987-03-05"
                        },
                        {
                          "email": "wkoelpin@yahoo.com",
                          "firstName": "Willie",
                          "lastName": "O'Conner",
                          "phone": "+19169828116",
                          "dateOfBirth": "2006-02-19"
                        },
                        {
                          "email": "rosario.jacobi@ortiz.info",
                          "firstName": "Era",
                          "lastName": "Champlin",
                          "phone": "+16405730317",
                          "dateOfBirth": "2004-02-06"
                        },
                        {
                          "email": "manley63@crooks.org",
                          "firstName": "Reta",
                          "lastName": "Schmitt",
                          "phone": "+16129729122",
                          "dateOfBirth": "1989-01-26"
                        },
                        {
                          "email": "genevieve60@yahoo.com",
                          "firstName": "Lou",
                          "lastName": "Willms",
                          "phone": "+12157256382",
                          "dateOfBirth": "1972-06-19"
                        },
                        {
                          "email": "trantow.harvey@yahoo.com",
                          "firstName": "Marjory",
                          "lastName": "Kreiger",
                          "phone": "+19419825983",
                          "dateOfBirth": "2001-11-13"
                        },
                        {
                          "email": "maeve.jaskolski@lueilwitz.org",
                          "firstName": "Lauryn",
                          "lastName": "Oberbrunner",
                          "phone": "+18024754086",
                          "dateOfBirth": "1991-05-13"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "norval.white@yahoo.com"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Keagan"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Schaefer"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+13804493785"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "1998-09-12"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers/{customerIdOrEmail}/addresses": {
      "get": {
        "summary": "List Customer Billing Addresses",
        "operationId": "listCustomerBillingAddresses",
        "description": "Returns all unique billing addresses that have been used by a customer across their payments.\nAddresses are deduplicated using case-insensitive and whitespace-insensitive comparison.",
        "parameters": [
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
            "example": "-city",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
              "example": "-city",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of unique billing addresses for the customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "company": "Cummerata Ltd",
                        "street": "6047 Kunde Course Apt. 113",
                        "city": "Krisberg",
                        "stateProvince": "GA",
                        "postcodeZip": "58780-4163",
                        "country": "USA"
                      },
                      {
                        "company": "Keebler-Hackett",
                        "street": "5691 Kamryn Viaduct Suite 943",
                        "city": "Irmahaven",
                        "stateProvince": "NC",
                        "postcodeZip": "03283-7563",
                        "country": "USA"
                      },
                      {
                        "company": "Kirlin Ltd",
                        "street": "703 Beer Alley Suite 597",
                        "city": "Schuppemouth",
                        "stateProvince": "PA",
                        "postcodeZip": "20701",
                        "country": "USA"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "company": "Cummerata Ltd",
                          "street": "6047 Kunde Course Apt. 113",
                          "city": "Krisberg",
                          "stateProvince": "GA",
                          "postcodeZip": "58780-4163",
                          "country": "USA"
                        },
                        {
                          "company": "Keebler-Hackett",
                          "street": "5691 Kamryn Viaduct Suite 943",
                          "city": "Irmahaven",
                          "stateProvince": "NC",
                          "postcodeZip": "03283-7563",
                          "country": "USA"
                        },
                        {
                          "company": "Kirlin Ltd",
                          "street": "703 Beer Alley Suite 597",
                          "city": "Schuppemouth",
                          "stateProvince": "PA",
                          "postcodeZip": "20701",
                          "country": "USA"
                        }
                      ],
                      "description": "The data returned from the request",
                      "enum": [],
[...]
