{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.70.0"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payout Exports",
      "description": "Create payout exports"
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-17T00:00:00+00:00",
                    "periodEnd": "2026-04-24T00:00:00+00:00",
                    "numPaymentsCreated": 3783,
                    "numPaymentsProcessed": 2007,
                    "numPaymentsIncomplete": 1776,
                    "numPaymentsWithRefunds": 1137,
                    "numCardPresentPayments": 1169,
                    "numCardNotPresentPayments": 607,
                    "totalCapturedAmount": 3650714.99,
                    "totalRefundedAmount": 343313.06,
                    "totalNetCapturedAmount": 3307401.93,
                    "averageNetCapturedAmount": 2398.3971428571,
                    "minNetCapturedAmount": 26.19,
                    "maxNetCapturedAmount": 9964.03,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-17T00:00:00+00:00",
                        "intervalEnd": "2026-04-18T00:00:00+00:00",
                        "numPaymentsCreated": 447,
                        "numPaymentsProcessed": 232,
                        "numPaymentsIncomplete": 215,
                        "numPaymentsWithRefunds": 60,
                        "numCardPresentPayments": 184,
                        "numCardNotPresentPayments": 31,
                        "totalCapturedAmount": 685503.08,
                        "totalRefundedAmount": 17135.03,
                        "totalNetCapturedAmount": 668368.05,
                        "averageNetCapturedAmount": 2880.9,
                        "minNetCapturedAmount": 33.58,
                        "maxNetCapturedAmount": 9964.03
                      },
                      {
                        "intervalStart": "2026-04-18T00:00:00+00:00",
                        "intervalEnd": "2026-04-19T00:00:00+00:00",
                        "numPaymentsCreated": 258,
                        "numPaymentsProcessed": 153,
                        "numPaymentsIncomplete": 105,
                        "numPaymentsWithRefunds": 12,
                        "numCardPresentPayments": 9,
                        "numCardNotPresentPayments": 96,
                        "totalCapturedAmount": 160615.58,
                        "totalRefundedAmount": 45107.62,
                        "totalNetCapturedAmount": 115507.96,
                        "averageNetCapturedAmount": 754.95,
                        "minNetCapturedAmount": 65.54,
                        "maxNetCapturedAmount": 6118.14
                      },
                      {
                        "intervalStart": "2026-04-19T00:00:00+00:00",
                        "intervalEnd": "2026-04-20T00:00:00+00:00",
                        "numPaymentsCreated": 779,
                        "numPaymentsProcessed": 629,
                        "numPaymentsIncomplete": 150,
                        "numPaymentsWithRefunds": 454,
                        "numCardPresentPayments": 584,
                        "numCardNotPresentPayments": -434,
                        "totalCapturedAmount": 461787.76,
                        "totalRefundedAmount": 16858.01,
                        "totalNetCapturedAmount": 444929.75,
                        "averageNetCapturedAmount": 707.36,
                        "minNetCapturedAmount": 26.19,
                        "maxNetCapturedAmount": 3551.61
                      },
                      {
                        "intervalStart": "2026-04-20T00:00:00+00:00",
                        "intervalEnd": "2026-04-21T00:00:00+00:00",
                        "numPaymentsCreated": 518,
                        "numPaymentsProcessed": 394,
                        "numPaymentsIncomplete": 124,
                        "numPaymentsWithRefunds": 226,
                        "numCardPresentPayments": 264,
                        "numCardNotPresentPayments": -140,
                        "totalCapturedAmount": 843110.09,
                        "totalRefundedAmount": 15075.62,
                        "totalNetCapturedAmount": 828034.47,
                        "averageNetCapturedAmount": 2101.61,
                        "minNetCapturedAmount": 72.87,
                        "maxNetCapturedAmount": 6963.24
                      },
                      {
                        "intervalStart": "2026-04-21T00:00:00+00:00",
                        "intervalEnd": "2026-04-22T00:00:00+00:00",
                        "numPaymentsCreated": 525,
                        "numPaymentsProcessed": 60,
                        "numPaymentsIncomplete": 465,
                        "numPaymentsWithRefunds": 49,
                        "numCardPresentPayments": 11,
                        "numCardNotPresentPayments": 454,
                        "totalCapturedAmount": 538978.45,
                        "totalRefundedAmount": 91652.36,
                        "totalNetCapturedAmount": 447326.09,
                        "averageNetCapturedAmount": 7455.43,
                        "minNetCapturedAmount": 95.8,
                        "maxNetCapturedAmount": 1243.23
                      },
                      {
                        "intervalStart": "2026-04-22T00:00:00+00:00",
                        "intervalEnd": "2026-04-23T00:00:00+00:00",
                        "numPaymentsCreated": 653,
                        "numPaymentsProcessed": 235,
                        "numPaymentsIncomplete": 418,
                        "numPaymentsWithRefunds": 153,
                        "numCardPresentPayments": 63,
                        "numCardNotPresentPayments": 355,
                        "totalCapturedAmount": 351236.39,
                        "totalRefundedAmount": 96226.96,
                        "totalNetCapturedAmount": 255009.43,
                        "averageNetCapturedAmount": 1085.15,
                        "minNetCapturedAmount": 93.86,
                        "maxNetCapturedAmount": 3175.91
                      },
                      {
                        "intervalStart": "2026-04-23T00:00:00+00:00",
                        "intervalEnd": "2026-04-24T00:00:00+00:00",
                        "numPaymentsCreated": 603,
                        "numPaymentsProcessed": 304,
                        "numPaymentsIncomplete": 299,
                        "numPaymentsWithRefunds": 183,
                        "numCardPresentPayments": 54,
                        "numCardNotPresentPayments": 245,
                        "totalCapturedAmount": 609483.64,
                        "totalRefundedAmount": 61257.46,
                        "totalNetCapturedAmount": 548226.18,
                        "averageNetCapturedAmount": 1803.38,
                        "minNetCapturedAmount": 36.9,
                        "maxNetCapturedAmount": 4809.95
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-17T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-24T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 3783
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 2007
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 1776
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 1137
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 1169
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": 607
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 3650714.99
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 343313.06
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 3307401.93
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 2398.3971428571
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 26.19
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 9964.03
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-17T00:00:00+00:00",
                          "intervalEnd": "2026-04-18T00:00:00+00:00",
                          "numPaymentsCreated": 447,
                          "numPaymentsProcessed": 232,
                          "numPaymentsIncomplete": 215,
                          "numPaymentsWithRefunds": 60,
                          "numCardPresentPayments": 184,
                          "numCardNotPresentPayments": 31,
                          "totalCapturedAmount": 685503.08,
                          "totalRefundedAmount": 17135.03,
                          "totalNetCapturedAmount": 668368.05,
                          "averageNetCapturedAmount": 2880.9,
                          "minNetCapturedAmount": 33.58,
                          "maxNetCapturedAmount": 9964.03
                        },
                        {
                          "intervalStart": "2026-04-18T00:00:00+00:00",
                          "intervalEnd": "2026-04-19T00:00:00+00:00",
                          "numPaymentsCreated": 258,
                          "numPaymentsProcessed": 153,
                          "numPaymentsIncomplete": 105,
                          "numPaymentsWithRefunds": 12,
                          "numCardPresentPayments": 9,
                          "numCardNotPresentPayments": 96,
                          "totalCapturedAmount": 160615.58,
                          "totalRefundedAmount": 45107.62,
                          "totalNetCapturedAmount": 115507.96,
                          "averageNetCapturedAmount": 754.95,
                          "minNetCapturedAmount": 65.54,
                          "maxNetCapturedAmount": 6118.14
                        },
                        {
                          "intervalStart": "2026-04-19T00:00:00+00:00",
                          "intervalEnd": "2026-04-20T00:00:00+00:00",
                          "numPaymentsCreated": 779,
                          "numPaymentsProcessed": 629,
                          "numPaymentsIncomplete": 150,
                          "numPaymentsWithRefunds": 454,
                          "numCardPresentPayments": 584,
                          "numCardNotPresentPayments": -434,
                          "totalCapturedAmount": 461787.76,
                          "totalRefundedAmount": 16858.01,
                          "totalNetCapturedAmount": 444929.75,
                          "averageNetCapturedAmount": 707.36,
                          "minNetCapturedAmount": 26.19,
                          "maxNetCapturedAmount": 3551.61
                        },
                        {
                          "intervalStart": "2026-04-20T00:00:00+00:00",
                          "intervalEnd": "2026-04-21T00:00:00+00:00",
                          "numPaymentsCreated": 518,
                          "numPaymentsProcessed": 394,
                          "numPaymentsIncomplete": 124,
                          "numPaymentsWithRefunds": 226,
                          "numCardPresentPayments": 264,
                          "numCardNotPresentPayments": -140,
                          "totalCapturedAmount": 843110.09,
                          "totalRefundedAmount": 15075.62,
                          "totalNetCapturedAmount": 828034.47,
                          "averageNetCapturedAmount": 2101.61,
                          "minNetCapturedAmount": 72.87,
                          "maxNetCapturedAmount": 6963.24
                        },
                        {
                          "intervalStart": "2026-04-21T00:00:00+00:00",
                          "intervalEnd": "2026-04-22T00:00:00+00:00",
                          "numPaymentsCreated": 525,
                          "numPaymentsProcessed": 60,
                          "numPaymentsIncomplete": 465,
                          "numPaymentsWithRefunds": 49,
                          "numCardPresentPayments": 11,
                          "numCardNotPresentPayments": 454,
                          "totalCapturedAmount": 538978.45,
                          "totalRefundedAmount": 91652.36,
                          "totalNetCapturedAmount": 447326.09,
                          "averageNetCapturedAmount": 7455.43,
                          "minNetCapturedAmount": 95.8,
                          "maxNetCapturedAmount": 1243.23
                        },
                        {
                          "intervalStart": "2026-04-22T00:00:00+00:00",
                          "intervalEnd": "2026-04-23T00:00:00+00:00",
                          "numPaymentsCreated": 653,
                          "numPaymentsProcessed": 235,
                          "numPaymentsIncomplete": 418,
                          "numPaymentsWithRefunds": 153,
                          "numCardPresentPayments": 63,
                          "numCardNotPresentPayments": 355,
                          "totalCapturedAmount": 351236.39,
                          "totalRefundedAmount": 96226.96,
                          "totalNetCapturedAmount": 255009.43,
                          "averageNetCapturedAmount": 1085.15,
                          "minNetCapturedAmount": 93.86,
                          "maxNetCapturedAmount": 3175.91
                        },
                        {
                          "intervalStart": "2026-04-23T00:00:00+00:00",
                          "intervalEnd": "2026-04-24T00:00:00+00:00",
                          "numPaymentsCreated": 603,
                          "numPaymentsProcessed": 304,
                          "numPaymentsIncomplete": 299,
                          "numPaymentsWithRefunds": 183,
                          "numCardPresentPayments": 54,
                          "numCardNotPresentPayments": 245,
                          "totalCapturedAmount": 609483.64,
                          "totalRefundedAmount": 61257.46,
                          "totalNetCapturedAmount": 548226.18,
                          "averageNetCapturedAmount": 1803.38,
                          "minNetCapturedAmount": 36.9,
                          "maxNetCapturedAmount": 4809.95
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-17T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-18T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 447
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 232
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 215
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 60
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 184
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": 31
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 685503.08
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 17135.03
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 668368.05
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 2880.9
                          },
                          "minNetCapturedAmount": {
                            "type": "number",
                            "example": 33.58
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 9964.03
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-17T00:00:00+00:00",
                    "periodEnd": "2026-04-24T00:00:00+00:00",
                    "activeCustomers": 165,
                    "newCustomers": 143,
                    "returningCustomers": 22,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-17T00:00:00+00:00",
                        "intervalEnd": "2026-04-18T00:00:00+00:00",
                        "activeCustomers": 82,
                        "newCustomers": 46,
                        "returningCustomers": 36
                      },
                      {
                        "intervalStart": "2026-04-18T00:00:00+00:00",
                        "intervalEnd": "2026-04-19T00:00:00+00:00",
                        "activeCustomers": 24,
                        "newCustomers": 16,
                        "returningCustomers": 8
                      },
                      {
                        "intervalStart": "2026-04-19T00:00:00+00:00",
                        "intervalEnd": "2026-04-20T00:00:00+00:00",
                        "activeCustomers": 28,
                        "newCustomers": 13,
                        "returningCustomers": 15
                      },
                      {
                        "intervalStart": "2026-04-20T00:00:00+00:00",
                        "intervalEnd": "2026-04-21T00:00:00+00:00",
                        "activeCustomers": 38,
                        "newCustomers": 12,
                        "returningCustomers": 26
                      },
                      {
                        "intervalStart": "2026-04-21T00:00:00+00:00",
                        "intervalEnd": "2026-04-22T00:00:00+00:00",
                        "activeCustomers": 44,
                        "newCustomers": 23,
                        "returningCustomers": 21
                      },
                      {
                        "intervalStart": "2026-04-22T00:00:00+00:00",
                        "intervalEnd": "2026-04-23T00:00:00+00:00",
                        "activeCustomers": 25,
                        "newCustomers": 15,
                        "returningCustomers": 10
                      },
                      {
                        "intervalStart": "2026-04-23T00:00:00+00:00",
                        "intervalEnd": "2026-04-24T00:00:00+00:00",
                        "activeCustomers": 43,
                        "newCustomers": 18,
                        "returningCustomers": 25
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-17T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-24T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 165
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 143
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": 22
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-17T00:00:00+00:00",
                          "intervalEnd": "2026-04-18T00:00:00+00:00",
                          "activeCustomers": 82,
                          "newCustomers": 46,
                          "returningCustomers": 36
                        },
                        {
                          "intervalStart": "2026-04-18T00:00:00+00:00",
                          "intervalEnd": "2026-04-19T00:00:00+00:00",
                          "activeCustomers": 24,
                          "newCustomers": 16,
                          "returningCustomers": 8
                        },
                        {
                          "intervalStart": "2026-04-19T00:00:00+00:00",
                          "intervalEnd": "2026-04-20T00:00:00+00:00",
                          "activeCustomers": 28,
                          "newCustomers": 13,
                          "returningCustomers": 15
                        },
                        {
                          "intervalStart": "2026-04-20T00:00:00+00:00",
                          "intervalEnd": "2026-04-21T00:00:00+00:00",
                          "activeCustomers": 38,
                          "newCustomers": 12,
                          "returningCustomers": 26
                        },
                        {
                          "intervalStart": "2026-04-21T00:00:00+00:00",
                          "intervalEnd": "2026-04-22T00:00:00+00:00",
                          "activeCustomers": 44,
                          "newCustomers": 23,
                          "returningCustomers": 21
                        },
                        {
                          "intervalStart": "2026-04-22T00:00:00+00:00",
                          "intervalEnd": "2026-04-23T00:00:00+00:00",
                          "activeCustomers": 25,
                          "newCustomers": 15,
                          "returningCustomers": 10
                        },
                        {
                          "intervalStart": "2026-04-23T00:00:00+00:00",
                          "intervalEnd": "2026-04-24T00:00:00+00:00",
                          "activeCustomers": 43,
                          "newCustomers": 18,
                          "returningCustomers": 25
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-17T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-18T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 82
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 46
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 36
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-17T00:00:00+00:00",
                    "periodEnd": "2026-04-24T00:00:00+00:00",
                    "totalTransactions": 4195,
                    "authorizeTransactions": 260,
                    "captureTransactions": 306,
                    "payTransactions": 1553,
                    "refundTransactions": 1138,
                    "verifyTransactions": 307,
                    "voidTransactions": 631,
                    "successfulTransactions": 3773,
                    "failedTransactions": 287,
                    "declinedTransactions": 106,
                    "pendingTransactions": 29,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-17T00:00:00+00:00",
                        "intervalEnd": "2026-04-18T00:00:00+00:00",
                        "totalTransactions": 338,
                        "authorizeTransactions": 27,
                        "captureTransactions": 37,
                        "payTransactions": 258,
                        "refundTransactions": 14,
                        "verifyTransactions": 2,
                        "voidTransactions": 0,
                        "successfulTransactions": 304,
                        "failedTransactions": 30,
                        "declinedTransactions": 2,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-18T00:00:00+00:00",
                        "intervalEnd": "2026-04-19T00:00:00+00:00",
                        "totalTransactions": 920,
                        "authorizeTransactions": 113,
                        "captureTransactions": 118,
                        "payTransactions": 560,
                        "refundTransactions": 90,
                        "verifyTransactions": 15,
                        "voidTransactions": 24,
                        "successfulTransactions": 828,
                        "failedTransactions": 67,
                        "declinedTransactions": 19,
                        "pendingTransactions": 6,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-19T00:00:00+00:00",
                        "intervalEnd": "2026-04-20T00:00:00+00:00",
                        "totalTransactions": 714,
                        "authorizeTransactions": 10,
                        "captureTransactions": 19,
                        "payTransactions": 120,
                        "refundTransactions": 555,
                        "verifyTransactions": 10,
                        "voidTransactions": 0,
                        "successfulTransactions": 642,
                        "failedTransactions": 54,
                        "declinedTransactions": 11,
                        "pendingTransactions": 7,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-20T00:00:00+00:00",
                        "intervalEnd": "2026-04-21T00:00:00+00:00",
                        "totalTransactions": 944,
                        "authorizeTransactions": 39,
                        "captureTransactions": 44,
                        "payTransactions": 131,
                        "refundTransactions": 191,
                        "verifyTransactions": 11,
                        "voidTransactions": 528,
                        "successfulTransactions": 849,
                        "failedTransactions": 46,
                        "declinedTransactions": 40,
                        "pendingTransactions": 9,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-21T00:00:00+00:00",
                        "intervalEnd": "2026-04-22T00:00:00+00:00",
                        "totalTransactions": 279,
                        "authorizeTransactions": 27,
                        "captureTransactions": 28,
                        "payTransactions": 33,
                        "refundTransactions": 69,
                        "verifyTransactions": 110,
                        "voidTransactions": 12,
                        "successfulTransactions": 251,
                        "failedTransactions": 16,
                        "declinedTransactions": 11,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-22T00:00:00+00:00",
                        "intervalEnd": "2026-04-23T00:00:00+00:00",
                        "totalTransactions": 655,
                        "authorizeTransactions": 20,
                        "captureTransactions": 28,
                        "payTransactions": 386,
                        "refundTransactions": 158,
                        "verifyTransactions": 60,
                        "voidTransactions": 3,
                        "successfulTransactions": 589,
                        "failedTransactions": 46,
                        "declinedTransactions": 19,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-23T00:00:00+00:00",
                        "intervalEnd": "2026-04-24T00:00:00+00:00",
                        "totalTransactions": 345,
                        "authorizeTransactions": 24,
                        "captureTransactions": 32,
                        "payTransactions": 65,
                        "refundTransactions": 61,
                        "verifyTransactions": 99,
                        "voidTransactions": 64,
                        "successfulTransactions": 310,
                        "failedTransactions": 28,
                        "declinedTransactions": 4,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-17T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-24T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 4195
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 260
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 306
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 1553
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 1138
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 307
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 631
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 3773
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 287
                    },
                    "declinedTransactions": {
                      "type": "integer",
                      "example": 106
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 29
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-17T00:00:00+00:00",
                          "intervalEnd": "2026-04-18T00:00:00+00:00",
                          "totalTransactions": 338,
                          "authorizeTransactions": 27,
                          "captureTransactions": 37,
                          "payTransactions": 258,
                          "refundTransactions": 14,
                          "verifyTransactions": 2,
                          "voidTransactions": 0,
                          "successfulTransactions": 304,
                          "failedTransactions": 30,
                          "declinedTransactions": 2,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-18T00:00:00+00:00",
                          "intervalEnd": "2026-04-19T00:00:00+00:00",
                          "totalTransactions": 920,
                          "authorizeTransactions": 113,
                          "captureTransactions": 118,
                          "payTransactions": 560,
                          "refundTransactions": 90,
                          "verifyTransactions": 15,
                          "voidTransactions": 24,
                          "successfulTransactions": 828,
                          "failedTransactions": 67,
                          "declinedTransactions": 19,
                          "pendingTransactions": 6,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-19T00:00:00+00:00",
                          "intervalEnd": "2026-04-20T00:00:00+00:00",
                          "totalTransactions": 714,
                          "authorizeTransactions": 10,
                          "captureTransactions": 19,
                          "payTransactions": 120,
                          "refundTransactions": 555,
                          "verifyTransactions": 10,
                          "voidTransactions": 0,
                          "successfulTransactions": 642,
                          "failedTransactions": 54,
                          "declinedTransactions": 11,
                          "pendingTransactions": 7,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-20T00:00:00+00:00",
                          "intervalEnd": "2026-04-21T00:00:00+00:00",
                          "totalTransactions": 944,
                          "authorizeTransactions": 39,
                          "captureTransactions": 44,
                          "payTransactions": 131,
                          "refundTransactions": 191,
                          "verifyTransactions": 11,
                          "voidTransactions": 528,
                          "successfulTransactions": 849,
                          "failedTransactions": 46,
                          "declinedTransactions": 40,
                          "pendingTransactions": 9,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-21T00:00:00+00:00",
                          "intervalEnd": "2026-04-22T00:00:00+00:00",
                          "totalTransactions": 279,
                          "authorizeTransactions": 27,
                          "captureTransactions": 28,
                          "payTransactions": 33,
                          "refundTransactions": 69,
                          "verifyTransactions": 110,
                          "voidTransactions": 12,
                          "successfulTransactions": 251,
                          "failedTransactions": 16,
                          "declinedTransactions": 11,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-22T00:00:00+00:00",
                          "intervalEnd": "2026-04-23T00:00:00+00:00",
                          "totalTransactions": 655,
                          "authorizeTransactions": 20,
                          "captureTransactions": 28,
                          "payTransactions": 386,
                          "refundTransactions": 158,
                          "verifyTransactions": 60,
                          "voidTransactions": 3,
                          "successfulTransactions": 589,
                          "failedTransactions": 46,
                          "declinedTransactions": 19,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-23T00:00:00+00:00",
                          "intervalEnd": "2026-04-24T00:00:00+00:00",
                          "totalTransactions": 345,
                          "authorizeTransactions": 24,
                          "captureTransactions": 32,
                          "payTransactions": 65,
                          "refundTransactions": 61,
                          "verifyTransactions": 99,
                          "voidTransactions": 64,
                          "successfulTransactions": 310,
                          "failedTransactions": 28,
                          "declinedTransactions": 4,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-17T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-18T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 338
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 27
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 37
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 258
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 14
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 2
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": 0
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 304
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 30
                          },
                          "declinedTransactions": {
                            "type": "integer",
                            "example": 2
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 2
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-17T00:00:00+00:00",
                    "periodEnd": "2026-04-24T00:00:00+00:00",
                    "totalSettlementAmount": 29186.46,
                    "totalFeeAmount": 1430.13654,
                    "totalNetAmount": 27756.32346,
                    "totalTransactionsPending": 152,
                    "totalTransactionsSettled": 1095,
                    "totalTransactionsSettling": 620,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-17T00:00:00+00:00",
                        "intervalEnd": "2026-04-18T00:00:00+00:00",
                        "totalSettlementAmount": 2558.13,
                        "totalFeeAmount": 125.34837,
                        "totalNetAmount": 2432.78163,
                        "totalTransactionsPending": 25,
                        "totalTransactionsSettled": 224,
                        "totalTransactionsSettling": 122
                      },
                      {
                        "intervalStart": "2026-04-18T00:00:00+00:00",
                        "intervalEnd": "2026-04-19T00:00:00+00:00",
                        "totalSettlementAmount": 662.97,
                        "totalFeeAmount": 32.48553,
                        "totalNetAmount": 630.48447,
                        "totalTransactionsPending": 9,
                        "totalTransactionsSettled": 249,
                        "totalTransactionsSettling": 14
                      },
                      {
                        "intervalStart": "2026-04-19T00:00:00+00:00",
                        "intervalEnd": "2026-04-20T00:00:00+00:00",
                        "totalSettlementAmount": 3771.71,
                        "totalFeeAmount": 184.81379,
                        "totalNetAmount": 3586.89621,
                        "totalTransactionsPending": 30,
                        "totalTransactionsSettled": 153,
                        "totalTransactionsSettling": 56
                      },
                      {
                        "intervalStart": "2026-04-20T00:00:00+00:00",
                        "intervalEnd": "2026-04-21T00:00:00+00:00",
                        "totalSettlementAmount": 9015.21,
                        "totalFeeAmount": 441.74529,
                        "totalNetAmount": 8573.46471,
                        "totalTransactionsPending": 18,
                        "totalTransactionsSettled": 46,
                        "totalTransactionsSettling": 107
                      },
                      {
                        "intervalStart": "2026-04-21T00:00:00+00:00",
                        "intervalEnd": "2026-04-22T00:00:00+00:00",
                        "totalSettlementAmount": 6758.26,
                        "totalFeeAmount": 331.15474,
                        "totalNetAmount": 6427.10526,
                        "totalTransactionsPending": 21,
                        "totalTransactionsSettled": 185,
                        "totalTransactionsSettling": 58
                      },
                      {
                        "intervalStart": "2026-04-22T00:00:00+00:00",
                        "intervalEnd": "2026-04-23T00:00:00+00:00",
                        "totalSettlementAmount": 3568.45,
                        "totalFeeAmount": 174.85405,
                        "totalNetAmount": 3393.59595,
                        "totalTransactionsPending": 24,
                        "totalTransactionsSettled": 151,
                        "totalTransactionsSettling": 201
                      },
                      {
                        "intervalStart": "2026-04-23T00:00:00+00:00",
                        "intervalEnd": "2026-04-24T00:00:00+00:00",
                        "totalSettlementAmount": 2851.73,
                        "totalFeeAmount": 139.73477,
                        "totalNetAmount": 2711.99523,
                        "totalTransactionsPending": 25,
                        "totalTransactionsSettled": 87,
                        "totalTransactionsSettling": 62
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-17T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-24T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 29186.46
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 1430.13654
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 27756.32346
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 152
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 1095
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 620
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-17T00:00:00+00:00",
                          "intervalEnd": "2026-04-18T00:00:00+00:00",
                          "totalSettlementAmount": 2558.13,
                          "totalFeeAmount": 125.34837,
                          "totalNetAmount": 2432.78163,
                          "totalTransactionsPending": 25,
                          "totalTransactionsSettled": 224,
                          "totalTransactionsSettling": 122
                        },
                        {
                          "intervalStart": "2026-04-18T00:00:00+00:00",
                          "intervalEnd": "2026-04-19T00:00:00+00:00",
                          "totalSettlementAmount": 662.97,
                          "totalFeeAmount": 32.48553,
                          "totalNetAmount": 630.48447,
                          "totalTransactionsPending": 9,
                          "totalTransactionsSettled": 249,
                          "totalTransactionsSettling": 14
                        },
                        {
                          "intervalStart": "2026-04-19T00:00:00+00:00",
                          "intervalEnd": "2026-04-20T00:00:00+00:00",
                          "totalSettlementAmount": 3771.71,
                          "totalFeeAmount": 184.81379,
                          "totalNetAmount": 3586.89621,
                          "totalTransactionsPending": 30,
                          "totalTransactionsSettled": 153,
                          "totalTransactionsSettling": 56
                        },
                        {
                          "intervalStart": "2026-04-20T00:00:00+00:00",
                          "intervalEnd": "2026-04-21T00:00:00+00:00",
                          "totalSettlementAmount": 9015.21,
                          "totalFeeAmount": 441.74529,
                          "totalNetAmount": 8573.46471,
                          "totalTransactionsPending": 18,
                          "totalTransactionsSettled": 46,
                          "totalTransactionsSettling": 107
                        },
                        {
                          "intervalStart": "2026-04-21T00:00:00+00:00",
                          "intervalEnd": "2026-04-22T00:00:00+00:00",
                          "totalSettlementAmount": 6758.26,
                          "totalFeeAmount": 331.15474,
                          "totalNetAmount": 6427.10526,
                          "totalTransactionsPending": 21,
                          "totalTransactionsSettled": 185,
                          "totalTransactionsSettling": 58
                        },
                        {
                          "intervalStart": "2026-04-22T00:00:00+00:00",
                          "intervalEnd": "2026-04-23T00:00:00+00:00",
                          "totalSettlementAmount": 3568.45,
                          "totalFeeAmount": 174.85405,
                          "totalNetAmount": 3393.59595,
                          "totalTransactionsPending": 24,
                          "totalTransactionsSettled": 151,
                          "totalTransactionsSettling": 201
                        },
                        {
                          "intervalStart": "2026-04-23T00:00:00+00:00",
                          "intervalEnd": "2026-04-24T00:00:00+00:00",
                          "totalSettlementAmount": 2851.73,
                          "totalFeeAmount": 139.73477,
                          "totalNetAmount": 2711.99523,
                          "totalTransactionsPending": 25,
                          "totalTransactionsSettled": 87,
                          "totalTransactionsSettling": 62
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-17T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-18T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 2558.13
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 125.34837
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 2432.78163
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 25
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 224
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 122
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 9,
                    "data": [
                      {
                        "email": "zwyman@hotmail.com",
                        "firstName": "Wyman",
                        "lastName": "Osinski",
                        "phone": "+16034002045",
                        "dateOfBirth": "1986-06-21"
                      },
                      {
                        "email": "ypaucek@lubowitz.com",
                        "firstName": "Mellie",
                        "lastName": "Gottlieb",
                        "phone": "+14424955130",
                        "dateOfBirth": "1999-10-14"
                      },
                      {
                        "email": "xsawayn@hotmail.com",
                        "firstName": "Demetrius",
                        "lastName": "Boehm",
                        "phone": "+18143670176",
                        "dateOfBirth": "1990-03-05"
                      },
                      {
                        "email": "ghermiston@waelchi.com",
                        "firstName": "Carley",
                        "lastName": "Hand",
                        "phone": "+19499541949",
                        "dateOfBirth": "1984-02-01"
                      },
                      {
                        "email": "fschmidt@koelpin.info",
                        "firstName": "Lindsey",
                        "lastName": "Rodriguez",
                        "phone": "+19565350415",
                        "dateOfBirth": "1990-09-26"
                      },
                      {
                        "email": "lesch.deanna@renner.com",
                        "firstName": "Gerardo",
                        "lastName": "Bartoletti",
                        "phone": "+17854007800",
                        "dateOfBirth": "2004-04-22"
                      },
                      {
                        "email": "marilie.witting@gmail.com",
                        "firstName": "Vivien",
                        "lastName": "Hettinger",
                        "phone": "+13523306530",
                        "dateOfBirth": "1988-03-28"
                      },
                      {
                        "email": "macejkovic.london@yahoo.com",
                        "firstName": "Edyth",
                        "lastName": "Kling",
                        "phone": "+13364052790",
                        "dateOfBirth": "1981-07-25"
                      },
                      {
                        "email": "barton.giuseppe@jast.com",
                        "firstName": "Franco",
                        "lastName": "Weissnat",
                        "phone": "+16513356042",
                        "dateOfBirth": "1974-06-29"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 9,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "zwyman@hotmail.com",
                          "firstName": "Wyman",
                          "lastName": "Osinski",
                          "phone": "+16034002045",
                          "dateOfBirth": "1986-06-21"
                        },
                        {
                          "email": "ypaucek@lubowitz.com",
                          "firstName": "Mellie",
                          "lastName": "Gottlieb",
                          "phone": "+14424955130",
                          "dateOfBirth": "1999-10-14"
                        },
                        {
                          "email": "xsawayn@hotmail.com",
                          "firstName": "Demetrius",
                          "lastName": "Boehm",
                          "phone": "+18143670176",
                          "dateOfBirth": "1990-03-05"
                        },
                        {
                          "email": "ghermiston@waelchi.com",
                          "firstName": "Carley",
                          "lastName": "Hand",
                          "phone": "+19499541949",
                          "dateOfBirth": "1984-02-01"
                        },
                        {
                          "email": "fschmidt@koelpin.info",
                          "firstName": "Lindsey",
                          "lastName": "Rodriguez",
                          "phone": "+19565350415",
                          "dateOfBirth": "1990-09-26"
                        },
                        {
                          "email": "lesch.deanna@renner.com",
                          "firstName": "Gerardo",
                          "lastName": "Bartoletti",
                          "phone": "+17854007800",
                          "dateOfBirth": "2004-04-22"
                        },
                        {
                          "email": "marilie.witting@gmail.com",
                          "firstName": "Vivien",
                          "lastName": "Hettinger",
                          "phone": "+13523306530",
                          "dateOfBirth": "1988-03-28"
                        },
                        {
                          "email": "macejkovic.london@yahoo.com",
                          "firstName": "Edyth",
                          "lastName": "Kling",
                          "phone": "+13364052790",
                          "dateOfBirth": "1981-07-25"
                        },
                        {
                          "email": "barton.giuseppe@jast.com",
                          "firstName": "Franco",
                          "lastName": "Weissnat",
                          "phone": "+16513356042",
                          "dateOfBirth": "1974-06-29"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "zwyman@hotmail.com"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Wyman"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Osinski"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+16034002045"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "1986-06-21"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customer/{customerIdOrEmail}": {
      "get": {
        "summary": "Get Customer",
        "operationId": "getCustomer",
        "description": "Returns a single customer by their ID, UUID, or email address.",
        "parameters": [
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date fields. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix) and abbreviations (e.g., MST).",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date fields. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix) and abbreviations (e.g., MST).",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The customer with their addresses and pay tokens",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "email": "amaya86@lebsack.net"
                  },
                  "properties": {
                    "email": {
                      "type": "string",
                      "example": "amaya86@lebsack.net"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "post": {
        "summary": "Update or Create Customer",
        "operationId": "updateOrCreateCustomer",
        "description": "Creates a customer if they do not exist, or updates an existing one.\nSupports setting `defaultPayToken` (by token value) and `defaultAddress` (by address UUID).",
        "parameters": [
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The upserted customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "email": "britney.kassulke@gmail.com"
                  },
                  "properties": {
                    "email": {
                      "type": "string",
                      "example": "britney.kassulke@gmail.com"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "path",
          "name": "customerIdOrEmail",
          "description": "The customer ID, UUID, or email address",
          "example": "customer_123",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers/{customerIdOrEmail}/addresses": {
      "get": {
        "summary": "List Customer Billing Addresses",
        "operationId": "listCustomerBillingAddresses",
        "description": "Returns all unique billing addresses that have been used by a customer across their payments.\nAddresses are deduplicated using case-insensitive and whitespace-insensitive comparison.",
        "parameters": [
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
            "example": "-city",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
              "example": "-city",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
[...]
