{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.75.1"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payout Exports",
      "description": "Create payout exports"
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/payments/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-04-30T00:00:00+00:00",
                      "periodEnd": "2026-05-07T00:00:00+00:00",
                      "numPaymentsCreated": 2222,
                      "numPaymentsProcessed": 1355,
                      "numPaymentsIncomplete": 867,
                      "numPaymentsWithRefunds": 794,
                      "numCardPresentPayments": 526,
                      "numCardNotPresentPayments": 341,
                      "totalCapturedAmount": 3751315.29,
                      "totalRefundedAmount": 335446,
                      "totalNetCapturedAmount": 3415869.29,
                      "averageNetCapturedAmount": 3748.9057142857,
                      "minNetCapturedAmount": 34.39,
                      "maxNetCapturedAmount": 7877.99,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-04-30T00:00:00+00:00",
                          "intervalEnd": "2026-05-01T00:00:00+00:00",
                          "numPaymentsCreated": 253,
                          "numPaymentsProcessed": 228,
                          "numPaymentsIncomplete": 25,
                          "numPaymentsWithRefunds": 78,
                          "numCardPresentPayments": 85,
                          "numCardNotPresentPayments": -60,
                          "totalCapturedAmount": 93142.3,
                          "totalRefundedAmount": 22000.3,
                          "totalNetCapturedAmount": 71142,
                          "averageNetCapturedAmount": 312.03,
                          "minNetCapturedAmount": 63.83,
                          "maxNetCapturedAmount": 7602.96
                        },
                        {
                          "intervalStart": "2026-05-01T00:00:00+00:00",
                          "intervalEnd": "2026-05-02T00:00:00+00:00",
                          "numPaymentsCreated": 102,
                          "numPaymentsProcessed": 63,
                          "numPaymentsIncomplete": 39,
                          "numPaymentsWithRefunds": 25,
                          "numCardPresentPayments": 54,
                          "numCardNotPresentPayments": -15,
                          "totalCapturedAmount": 707461.59,
                          "totalRefundedAmount": 99947.77,
                          "totalNetCapturedAmount": 607513.82,
                          "averageNetCapturedAmount": 9643.08,
                          "minNetCapturedAmount": 60.39,
                          "maxNetCapturedAmount": 2372.76
                        },
                        {
                          "intervalStart": "2026-05-02T00:00:00+00:00",
                          "intervalEnd": "2026-05-03T00:00:00+00:00",
                          "numPaymentsCreated": 570,
                          "numPaymentsProcessed": 138,
                          "numPaymentsIncomplete": 432,
                          "numPaymentsWithRefunds": 65,
                          "numCardPresentPayments": 41,
                          "numCardNotPresentPayments": 391,
                          "totalCapturedAmount": 901206.35,
                          "totalRefundedAmount": 32521.9,
                          "totalNetCapturedAmount": 868684.45,
                          "averageNetCapturedAmount": 6294.81,
                          "minNetCapturedAmount": 34.39,
                          "maxNetCapturedAmount": 2215.4
                        },
                        {
                          "intervalStart": "2026-05-03T00:00:00+00:00",
                          "intervalEnd": "2026-05-04T00:00:00+00:00",
                          "numPaymentsCreated": 297,
                          "numPaymentsProcessed": 135,
                          "numPaymentsIncomplete": 162,
                          "numPaymentsWithRefunds": 13,
                          "numCardPresentPayments": 5,
                          "numCardNotPresentPayments": 157,
                          "totalCapturedAmount": 548065.79,
                          "totalRefundedAmount": 1511.77,
                          "totalNetCapturedAmount": 546554.02,
                          "averageNetCapturedAmount": 4048.55,
                          "minNetCapturedAmount": 70.78,
                          "maxNetCapturedAmount": 4468.68
                        },
                        {
                          "intervalStart": "2026-05-04T00:00:00+00:00",
                          "intervalEnd": "2026-05-05T00:00:00+00:00",
                          "numPaymentsCreated": 133,
                          "numPaymentsProcessed": 115,
                          "numPaymentsIncomplete": 18,
                          "numPaymentsWithRefunds": 99,
                          "numCardPresentPayments": 101,
                          "numCardNotPresentPayments": -83,
                          "totalCapturedAmount": 235356.99,
                          "totalRefundedAmount": 12243.52,
                          "totalNetCapturedAmount": 223113.47,
                          "averageNetCapturedAmount": 1940.12,
                          "minNetCapturedAmount": 81.81,
                          "maxNetCapturedAmount": 6676.43
                        },
                        {
                          "intervalStart": "2026-05-05T00:00:00+00:00",
                          "intervalEnd": "2026-05-06T00:00:00+00:00",
                          "numPaymentsCreated": 281,
                          "numPaymentsProcessed": 208,
                          "numPaymentsIncomplete": 73,
                          "numPaymentsWithRefunds": 143,
                          "numCardPresentPayments": 64,
                          "numCardNotPresentPayments": 9,
                          "totalCapturedAmount": 704307.22,
                          "totalRefundedAmount": 84394.93,
                          "totalNetCapturedAmount": 619912.29,
                          "averageNetCapturedAmount": 2980.35,
                          "minNetCapturedAmount": 55.63,
                          "maxNetCapturedAmount": 1352.22
                        },
                        {
                          "intervalStart": "2026-05-06T00:00:00+00:00",
                          "intervalEnd": "2026-05-07T00:00:00+00:00",
                          "numPaymentsCreated": 586,
                          "numPaymentsProcessed": 468,
                          "numPaymentsIncomplete": 118,
                          "numPaymentsWithRefunds": 371,
                          "numCardPresentPayments": 176,
                          "numCardNotPresentPayments": -58,
                          "totalCapturedAmount": 561775.05,
                          "totalRefundedAmount": 82825.81,
                          "totalNetCapturedAmount": 478949.24,
                          "averageNetCapturedAmount": 1023.4,
                          "minNetCapturedAmount": 82.32,
                          "maxNetCapturedAmount": 7877.99
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-04-30T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-05-07T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "numPaymentsCreated": {
                          "type": "integer",
                          "example": 2222,
                          "description": "Total number of payment records created in the period",
                          "enum": []
                        },
                        "numPaymentsProcessed": {
                          "type": "integer",
                          "example": 1355,
                          "description": "Number of payments that have successfully had funds captured (captured amount > 0)",
                          "enum": []
                        },
                        "numPaymentsIncomplete": {
                          "type": "integer",
                          "example": 867,
                          "description": "Number of payments which have been created but funds have not been captured yet (e.g. failures, declines, authorizations, etc.)",
                          "enum": []
                        },
                        "numPaymentsWithRefunds": {
                          "type": "integer",
                          "example": 794,
                          "description": "Number of payments that have had one or more refunds (refunded amount > 0)",
                          "enum": []
                        },
                        "numCardPresentPayments": {
                          "type": "integer",
                          "example": 526,
                          "description": "Number of payments made with card present (e.g. via terminal device)",
                          "enum": []
                        },
                        "numCardNotPresentPayments": {
                          "type": "integer",
                          "example": 341,
                          "description": "Number of payments made with card not present (e.g. online payments)",
                          "enum": []
                        },
                        "totalCapturedAmount": {
                          "type": "number",
                          "example": 3751315.29,
                          "description": "Total amount captured across all payments in the period",
                          "enum": []
                        },
                        "totalRefundedAmount": {
                          "type": "integer",
                          "example": 335446,
                          "description": "Total amount refunded across all payments in the period",
                          "enum": []
                        },
                        "totalNetCapturedAmount": {
                          "type": "number",
                          "example": 3415869.29,
                          "description": "Net captured amount (captured - refunded) across all payments in the period",
                          "enum": []
                        },
                        "averageNetCapturedAmount": {
                          "type": "number",
                          "example": 3748.9057142857,
                          "description": "Average net captured amount per payment in the period",
                          "enum": []
                        },
                        "minNetCapturedAmount": {
                          "type": "number",
                          "example": 34.39,
                          "description": "Minimum net captured amount in the period",
                          "enum": []
                        },
                        "maxNetCapturedAmount": {
                          "type": "number",
                          "example": 7877.99,
                          "description": "Maximum net captured amount in the period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-04-30T00:00:00+00:00",
                              "intervalEnd": "2026-05-01T00:00:00+00:00",
                              "numPaymentsCreated": 253,
                              "numPaymentsProcessed": 228,
                              "numPaymentsIncomplete": 25,
                              "numPaymentsWithRefunds": 78,
                              "numCardPresentPayments": 85,
                              "numCardNotPresentPayments": -60,
                              "totalCapturedAmount": 93142.3,
                              "totalRefundedAmount": 22000.3,
                              "totalNetCapturedAmount": 71142,
                              "averageNetCapturedAmount": 312.03,
                              "minNetCapturedAmount": 63.83,
                              "maxNetCapturedAmount": 7602.96
                            },
                            {
                              "intervalStart": "2026-05-01T00:00:00+00:00",
                              "intervalEnd": "2026-05-02T00:00:00+00:00",
                              "numPaymentsCreated": 102,
                              "numPaymentsProcessed": 63,
                              "numPaymentsIncomplete": 39,
                              "numPaymentsWithRefunds": 25,
                              "numCardPresentPayments": 54,
                              "numCardNotPresentPayments": -15,
                              "totalCapturedAmount": 707461.59,
                              "totalRefundedAmount": 99947.77,
                              "totalNetCapturedAmount": 607513.82,
                              "averageNetCapturedAmount": 9643.08,
                              "minNetCapturedAmount": 60.39,
                              "maxNetCapturedAmount": 2372.76
                            },
                            {
                              "intervalStart": "2026-05-02T00:00:00+00:00",
                              "intervalEnd": "2026-05-03T00:00:00+00:00",
                              "numPaymentsCreated": 570,
                              "numPaymentsProcessed": 138,
                              "numPaymentsIncomplete": 432,
                              "numPaymentsWithRefunds": 65,
                              "numCardPresentPayments": 41,
                              "numCardNotPresentPayments": 391,
                              "totalCapturedAmount": 901206.35,
                              "totalRefundedAmount": 32521.9,
                              "totalNetCapturedAmount": 868684.45,
                              "averageNetCapturedAmount": 6294.81,
                              "minNetCapturedAmount": 34.39,
                              "maxNetCapturedAmount": 2215.4
                            },
                            {
                              "intervalStart": "2026-05-03T00:00:00+00:00",
                              "intervalEnd": "2026-05-04T00:00:00+00:00",
                              "numPaymentsCreated": 297,
                              "numPaymentsProcessed": 135,
                              "numPaymentsIncomplete": 162,
                              "numPaymentsWithRefunds": 13,
                              "numCardPresentPayments": 5,
                              "numCardNotPresentPayments": 157,
                              "totalCapturedAmount": 548065.79,
                              "totalRefundedAmount": 1511.77,
                              "totalNetCapturedAmount": 546554.02,
                              "averageNetCapturedAmount": 4048.55,
                              "minNetCapturedAmount": 70.78,
                              "maxNetCapturedAmount": 4468.68
                            },
                            {
                              "intervalStart": "2026-05-04T00:00:00+00:00",
                              "intervalEnd": "2026-05-05T00:00:00+00:00",
                              "numPaymentsCreated": 133,
                              "numPaymentsProcessed": 115,
                              "numPaymentsIncomplete": 18,
                              "numPaymentsWithRefunds": 99,
                              "numCardPresentPayments": 101,
                              "numCardNotPresentPayments": -83,
                              "totalCapturedAmount": 235356.99,
                              "totalRefundedAmount": 12243.52,
                              "totalNetCapturedAmount": 223113.47,
                              "averageNetCapturedAmount": 1940.12,
                              "minNetCapturedAmount": 81.81,
                              "maxNetCapturedAmount": 6676.43
                            },
                            {
                              "intervalStart": "2026-05-05T00:00:00+00:00",
                              "intervalEnd": "2026-05-06T00:00:00+00:00",
                              "numPaymentsCreated": 281,
                              "numPaymentsProcessed": 208,
                              "numPaymentsIncomplete": 73,
                              "numPaymentsWithRefunds": 143,
                              "numCardPresentPayments": 64,
                              "numCardNotPresentPayments": 9,
                              "totalCapturedAmount": 704307.22,
                              "totalRefundedAmount": 84394.93,
                              "totalNetCapturedAmount": 619912.29,
                              "averageNetCapturedAmount": 2980.35,
                              "minNetCapturedAmount": 55.63,
                              "maxNetCapturedAmount": 1352.22
                            },
                            {
                              "intervalStart": "2026-05-06T00:00:00+00:00",
                              "intervalEnd": "2026-05-07T00:00:00+00:00",
                              "numPaymentsCreated": 586,
                              "numPaymentsProcessed": 468,
                              "numPaymentsIncomplete": 118,
                              "numPaymentsWithRefunds": 371,
                              "numCardPresentPayments": 176,
                              "numCardNotPresentPayments": -58,
                              "totalCapturedAmount": 561775.05,
                              "totalRefundedAmount": 82825.81,
                              "totalNetCapturedAmount": 478949.24,
                              "averageNetCapturedAmount": 1023.4,
                              "minNetCapturedAmount": 82.32,
                              "maxNetCapturedAmount": 7877.99
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-04-30T00:00:00+00:00",
                                "description": "Start time of the PaymentAnalyticsData interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-05-01T00:00:00+00:00",
                                "description": "End time of the PaymentAnalyticsData interval",
                                "enum": []
                              },
                              "numPaymentsCreated": {
                                "type": "integer",
                                "example": 253,
                                "description": "Total number of payment records created in the interval",
                                "enum": []
                              },
                              "numPaymentsProcessed": {
                                "type": "integer",
                                "example": 228,
                                "description": "Number of payments that have successfully had funds captured (captured amount > 0)",
                                "enum": []
                              },
                              "numPaymentsIncomplete": {
                                "type": "integer",
                                "example": 25,
                                "description": "Number of payments which have been created but funds have not been captured yet (e.g. failures, declines, authorizations, etc.)",
                                "enum": []
                              },
                              "numPaymentsWithRefunds": {
                                "type": "integer",
                                "example": 78,
                                "description": "Number of payments that have had one or more refunds (refunded amount > 0)",
                                "enum": []
                              },
                              "numCardPresentPayments": {
                                "type": "integer",
                                "example": 85,
                                "description": "Number of payments made with card present (e.g. via terminal device)",
                                "enum": []
                              },
                              "numCardNotPresentPayments": {
                                "type": "integer",
                                "example": -60,
                                "description": "Number of payments made with card not present (e.g. online payments)",
                                "enum": []
                              },
                              "totalCapturedAmount": {
                                "type": "number",
                                "example": 93142.3,
                                "description": "Total amount captured across all payments in the interval",
                                "enum": []
                              },
                              "totalRefundedAmount": {
                                "type": "number",
                                "example": 22000.3,
                                "description": "Total amount refunded across all payments in the interval",
                                "enum": []
                              },
                              "totalNetCapturedAmount": {
                                "type": "integer",
                                "example": 71142,
                                "description": "Net captured amount (captured - refunded) across all payments in the interval",
                                "enum": []
                              },
                              "averageNetCapturedAmount": {
                                "type": "number",
                                "example": 312.03,
                                "description": "Average net captured amount per payment in the interval",
                                "enum": []
                              },
                              "minNetCapturedAmount": {
                                "type": "number",
                                "example": 63.83,
                                "description": "Minimum net captured amount in the interval",
                                "enum": []
                              },
                              "maxNetCapturedAmount": {
                                "type": "number",
                                "example": 7602.96,
                                "description": "Maximum net captured amount in the interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/payments/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-04-30T00:00:00+00:00",
                      "periodEnd": "2026-05-07T00:00:00+00:00",
                      "activeCustomers": 420,
                      "newCustomers": 220,
                      "returningCustomers": 200,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-04-30T00:00:00+00:00",
                          "intervalEnd": "2026-05-01T00:00:00+00:00",
                          "activeCustomers": 98,
                          "newCustomers": 24,
                          "returningCustomers": 74
                        },
                        {
                          "intervalStart": "2026-05-01T00:00:00+00:00",
                          "intervalEnd": "2026-05-02T00:00:00+00:00",
                          "activeCustomers": 58,
                          "newCustomers": 44,
                          "returningCustomers": 14
                        },
                        {
                          "intervalStart": "2026-05-02T00:00:00+00:00",
                          "intervalEnd": "2026-05-03T00:00:00+00:00",
                          "activeCustomers": 72,
                          "newCustomers": 41,
                          "returningCustomers": 31
                        },
                        {
                          "intervalStart": "2026-05-03T00:00:00+00:00",
                          "intervalEnd": "2026-05-04T00:00:00+00:00",
                          "activeCustomers": 77,
                          "newCustomers": 21,
                          "returningCustomers": 56
                        },
                        {
                          "intervalStart": "2026-05-04T00:00:00+00:00",
                          "intervalEnd": "2026-05-05T00:00:00+00:00",
                          "activeCustomers": 80,
                          "newCustomers": 51,
                          "returningCustomers": 29
                        },
                        {
                          "intervalStart": "2026-05-05T00:00:00+00:00",
                          "intervalEnd": "2026-05-06T00:00:00+00:00",
                          "activeCustomers": 72,
                          "newCustomers": 33,
                          "returningCustomers": 39
                        },
                        {
                          "intervalStart": "2026-05-06T00:00:00+00:00",
                          "intervalEnd": "2026-05-07T00:00:00+00:00",
                          "activeCustomers": 89,
                          "newCustomers": 6,
                          "returningCustomers": 83
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-04-30T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-05-07T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "activeCustomers": {
                          "type": "integer",
                          "example": 420,
                          "description": "number of customers who are associated with at least one payment which was created in the period",
                          "enum": []
                        },
                        "newCustomers": {
                          "type": "integer",
                          "example": 220,
                          "description": "number of new customers added in the period",
                          "enum": []
                        },
                        "returningCustomers": {
                          "type": "integer",
                          "example": 200,
                          "description": "number of customers who were active in the period but were created before the period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-04-30T00:00:00+00:00",
                              "intervalEnd": "2026-05-01T00:00:00+00:00",
                              "activeCustomers": 98,
                              "newCustomers": 24,
                              "returningCustomers": 74
                            },
                            {
                              "intervalStart": "2026-05-01T00:00:00+00:00",
                              "intervalEnd": "2026-05-02T00:00:00+00:00",
                              "activeCustomers": 58,
                              "newCustomers": 44,
                              "returningCustomers": 14
                            },
                            {
                              "intervalStart": "2026-05-02T00:00:00+00:00",
                              "intervalEnd": "2026-05-03T00:00:00+00:00",
                              "activeCustomers": 72,
                              "newCustomers": 41,
                              "returningCustomers": 31
                            },
                            {
                              "intervalStart": "2026-05-03T00:00:00+00:00",
                              "intervalEnd": "2026-05-04T00:00:00+00:00",
                              "activeCustomers": 77,
                              "newCustomers": 21,
                              "returningCustomers": 56
                            },
                            {
                              "intervalStart": "2026-05-04T00:00:00+00:00",
                              "intervalEnd": "2026-05-05T00:00:00+00:00",
                              "activeCustomers": 80,
                              "newCustomers": 51,
                              "returningCustomers": 29
                            },
                            {
                              "intervalStart": "2026-05-05T00:00:00+00:00",
                              "intervalEnd": "2026-05-06T00:00:00+00:00",
                              "activeCustomers": 72,
                              "newCustomers": 33,
                              "returningCustomers": 39
                            },
                            {
                              "intervalStart": "2026-05-06T00:00:00+00:00",
                              "intervalEnd": "2026-05-07T00:00:00+00:00",
                              "activeCustomers": 89,
                              "newCustomers": 6,
                              "returningCustomers": 83
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-04-30T00:00:00+00:00",
                                "description": "Start time of the analytics calculation interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-05-01T00:00:00+00:00",
                                "description": "End time of the analytics calculation interval",
                                "enum": []
                              },
                              "activeCustomers": {
                                "type": "integer",
                                "example": 98,
                                "description": "number of customers who are associated with at least one payment which was created in the interval",
                                "enum": []
                              },
                              "newCustomers": {
                                "type": "integer",
                                "example": 24,
                                "description": "number of new customers added in the interval",
                                "enum": []
                              },
                              "returningCustomers": {
                                "type": "integer",
                                "example": 74,
                                "description": "number of customers who were active in the interval but were created before the interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/payments/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-04-30T00:00:00+00:00",
                      "periodEnd": "2026-05-07T00:00:00+00:00",
                      "totalTransactions": 4471,
                      "authorizeTransactions": 394,
                      "captureTransactions": 424,
                      "payTransactions": 1816,
                      "refundTransactions": 970,
                      "verifyTransactions": 542,
                      "voidTransactions": 325,
                      "successfulTransactions": 4020,
                      "failedTransactions": 300,
                      "declinedTransactions": 119,
                      "pendingTransactions": 32,
                      "unknownTransactions": 0,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-04-30T00:00:00+00:00",
                          "intervalEnd": "2026-05-01T00:00:00+00:00",
                          "totalTransactions": 115,
                          "authorizeTransactions": 13,
                          "captureTransactions": 15,
                          "payTransactions": 21,
                          "refundTransactions": 46,
                          "verifyTransactions": 19,
                          "voidTransactions": 1,
                          "successfulTransactions": 103,
                          "failedTransactions": 6,
                          "declinedTransactions": 5,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-05-01T00:00:00+00:00",
                          "intervalEnd": "2026-05-02T00:00:00+00:00",
                          "totalTransactions": 779,
                          "authorizeTransactions": 96,
                          "captureTransactions": 97,
                          "payTransactions": 535,
                          "refundTransactions": 11,
                          "verifyTransactions": 26,
                          "voidTransactions": 14,
                          "successfulTransactions": 701,
                          "failedTransactions": 42,
                          "declinedTransactions": 32,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-05-02T00:00:00+00:00",
                          "intervalEnd": "2026-05-03T00:00:00+00:00",
                          "totalTransactions": 755,
                          "authorizeTransactions": 20,
                          "captureTransactions": 26,
                          "payTransactions": 116,
                          "refundTransactions": 230,
                          "verifyTransactions": 252,
                          "voidTransactions": 111,
                          "successfulTransactions": 679,
                          "failedTransactions": 67,
                          "declinedTransactions": 6,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-05-03T00:00:00+00:00",
                          "intervalEnd": "2026-05-04T00:00:00+00:00",
                          "totalTransactions": 851,
                          "authorizeTransactions": 81,
                          "captureTransactions": 91,
                          "payTransactions": 347,
                          "refundTransactions": 258,
                          "verifyTransactions": 26,
                          "voidTransactions": 48,
                          "successfulTransactions": 765,
                          "failedTransactions": 59,
                          "declinedTransactions": 20,
                          "pendingTransactions": 7,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-05-04T00:00:00+00:00",
                          "intervalEnd": "2026-05-05T00:00:00+00:00",
                          "totalTransactions": 957,
                          "authorizeTransactions": 74,
                          "captureTransactions": 77,
                          "payTransactions": 511,
                          "refundTransactions": 101,
                          "verifyTransactions": 100,
                          "voidTransactions": 94,
                          "successfulTransactions": 861,
                          "failedTransactions": 59,
                          "declinedTransactions": 28,
                          "pendingTransactions": 9,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-05-05T00:00:00+00:00",
                          "intervalEnd": "2026-05-06T00:00:00+00:00",
                          "totalTransactions": 433,
                          "authorizeTransactions": 40,
                          "captureTransactions": 44,
                          "payTransactions": 69,
                          "refundTransactions": 137,
                          "verifyTransactions": 100,
                          "voidTransactions": 43,
                          "successfulTransactions": 389,
                          "failedTransactions": 37,
                          "declinedTransactions": 3,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-05-06T00:00:00+00:00",
                          "intervalEnd": "2026-05-07T00:00:00+00:00",
                          "totalTransactions": 581,
                          "authorizeTransactions": 70,
                          "captureTransactions": 74,
                          "payTransactions": 217,
                          "refundTransactions": 187,
                          "verifyTransactions": 19,
                          "voidTransactions": 14,
                          "successfulTransactions": 522,
                          "failedTransactions": 30,
                          "declinedTransactions": 25,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-04-30T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-05-07T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "totalTransactions": {
                          "type": "integer",
                          "example": 4471,
                          "description": "Total number of transactions in the period",
                          "enum": []
                        },
                        "authorizeTransactions": {
                          "type": "integer",
                          "example": 394,
                          "description": "Number of authorize transactions in the period",
                          "enum": []
                        },
                        "captureTransactions": {
                          "type": "integer",
                          "example": 424,
                          "description": "Number of capture transactions in the period",
                          "enum": []
                        },
                        "payTransactions": {
                          "type": "integer",
                          "example": 1816,
                          "description": "Number of pay transactions in the period",
                          "enum": []
                        },
                        "refundTransactions": {
                          "type": "integer",
                          "example": 970,
                          "description": "Number of refund transactions in the period",
                          "enum": []
                        },
                        "verifyTransactions": {
                          "type": "integer",
                          "example": 542,
                          "description": "Number of verify transactions in the period",
                          "enum": []
                        },
                        "voidTransactions": {
                          "type": "integer",
                          "example": 325,
                          "description": "Number of void transactions in the period",
                          "enum": []
                        },
                        "successfulTransactions": {
                          "type": "integer",
                          "example": 4020,
                          "description": "Number of successful transactions in the period",
                          "enum": []
                        },
                        "failedTransactions": {
                          "type": "integer",
                          "example": 300,
                          "description": "Number of failed transactions in the period",
                          "enum": []
                        },
                        "declinedTransactions": {
                          "type": "integer",
                          "example": 119,
                          "description": "Number of declined transactions in the period",
                          "enum": []
                        },
                        "pendingTransactions": {
                          "type": "integer",
                          "example": 32,
                          "description": "Number of pending transactions in the period",
                          "enum": []
                        },
                        "unknownTransactions": {
                          "type": "integer",
                          "example": 0,
                          "description": "Number of transactions with unknown result in the period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-04-30T00:00:00+00:00",
                              "intervalEnd": "2026-05-01T00:00:00+00:00",
                              "totalTransactions": 115,
                              "authorizeTransactions": 13,
                              "captureTransactions": 15,
                              "payTransactions": 21,
                              "refundTransactions": 46,
                              "verifyTransactions": 19,
                              "voidTransactions": 1,
                              "successfulTransactions": 103,
                              "failedTransactions": 6,
                              "declinedTransactions": 5,
                              "pendingTransactions": 1,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-05-01T00:00:00+00:00",
                              "intervalEnd": "2026-05-02T00:00:00+00:00",
                              "totalTransactions": 779,
                              "authorizeTransactions": 96,
                              "captureTransactions": 97,
                              "payTransactions": 535,
                              "refundTransactions": 11,
                              "verifyTransactions": 26,
                              "voidTransactions": 14,
                              "successfulTransactions": 701,
                              "failedTransactions": 42,
                              "declinedTransactions": 32,
                              "pendingTransactions": 4,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-05-02T00:00:00+00:00",
                              "intervalEnd": "2026-05-03T00:00:00+00:00",
                              "totalTransactions": 755,
                              "authorizeTransactions": 20,
                              "captureTransactions": 26,
                              "payTransactions": 116,
                              "refundTransactions": 230,
                              "verifyTransactions": 252,
                              "voidTransactions": 111,
                              "successfulTransactions": 679,
                              "failedTransactions": 67,
                              "declinedTransactions": 6,
                              "pendingTransactions": 3,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-05-03T00:00:00+00:00",
                              "intervalEnd": "2026-05-04T00:00:00+00:00",
                              "totalTransactions": 851,
                              "authorizeTransactions": 81,
                              "captureTransactions": 91,
                              "payTransactions": 347,
                              "refundTransactions": 258,
                              "verifyTransactions": 26,
                              "voidTransactions": 48,
                              "successfulTransactions": 765,
                              "failedTransactions": 59,
                              "declinedTransactions": 20,
                              "pendingTransactions": 7,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-05-04T00:00:00+00:00",
                              "intervalEnd": "2026-05-05T00:00:00+00:00",
                              "totalTransactions": 957,
                              "authorizeTransactions": 74,
                              "captureTransactions": 77,
                              "payTransactions": 511,
                              "refundTransactions": 101,
                              "verifyTransactions": 100,
                              "voidTransactions": 94,
                              "successfulTransactions": 861,
                              "failedTransactions": 59,
                              "declinedTransactions": 28,
                              "pendingTransactions": 9,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-05-05T00:00:00+00:00",
                              "intervalEnd": "2026-05-06T00:00:00+00:00",
                              "totalTransactions": 433,
                              "authorizeTransactions": 40,
                              "captureTransactions": 44,
                              "payTransactions": 69,
                              "refundTransactions": 137,
                              "verifyTransactions": 100,
                              "voidTransactions": 43,
                              "successfulTransactions": 389,
                              "failedTransactions": 37,
                              "declinedTransactions": 3,
                              "pendingTransactions": 4,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-05-06T00:00:00+00:00",
                              "intervalEnd": "2026-05-07T00:00:00+00:00",
                              "totalTransactions": 581,
                              "authorizeTransactions": 70,
                              "captureTransactions": 74,
                              "payTransactions": 217,
                              "refundTransactions": 187,
                              "verifyTransactions": 19,
                              "voidTransactions": 14,
                              "successfulTransactions": 522,
                              "failedTransactions": 30,
                              "declinedTransactions": 25,
                              "pendingTransactions": 4,
                              "unknownTransactions": 0
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-04-30T00:00:00+00:00",
                                "description": "Start time of the analytics calculation interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-05-01T00:00:00+00:00",
                                "description": "End time of the analytics calculation interval",
                                "enum": []
                              },
                              "totalTransactions": {
                                "type": "integer",
                                "example": 115,
                                "description": "Total number of transactions in the interval",
                                "enum": []
                              },
                              "authorizeTransactions": {
                                "type": "integer",
                                "example": 13,
                                "description": "Number of authorize transactions in the interval",
                                "enum": []
                              },
                              "captureTransactions": {
                                "type": "integer",
                                "example": 15,
                                "description": "Number of capture transactions in the interval",
                                "enum": []
                              },
                              "payTransactions": {
                                "type": "integer",
                                "example": 21,
                                "description": "Number of pay transactions in the interval",
                                "enum": []
                              },
                              "refundTransactions": {
                                "type": "integer",
                                "example": 46,
                                "description": "Number of refund transactions in the interval",
                                "enum": []
                              },
                              "verifyTransactions": {
                                "type": "integer",
                                "example": 19,
                                "description": "Number of verify transactions in the interval",
                                "enum": []
                              },
                              "voidTransactions": {
                                "type": "integer",
                                "example": 1,
                                "description": "Number of void transactions in the interval",
                                "enum": []
                              },
                              "successfulTransactions": {
                                "type": "integer",
                                "example": 103,
                                "description": "Number of successful transactions in the interval",
                                "enum": []
                              },
                              "failedTransactions": {
                                "type": "integer",
                                "example": 6,
                                "description": "Number of failed transactions in the interval",
                                "enum": []
                              },
                              "declinedTransactions": {
                                "type": "integer",
                                "example": 5,
                                "description": "Number of declined transactions in the interval",
                                "enum": []
                              },
                              "pendingTransactions": {
                                "type": "integer",
                                "example": 1,
                                "description": "Number of pending transactions in the interval",
                                "enum": []
                              },
                              "unknownTransactions": {
                                "type": "integer",
                                "example": 0,
                                "description": "Number of transactions with unknown result in the interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/payments/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-04-30T00:00:00+00:00",
                      "periodEnd": "2026-05-07T00:00:00+00:00",
                      "totalSettlementAmount": 32984.48,
                      "totalFeeAmount": 1616.23952,
                      "totalNetAmount": 31368.24048,
                      "totalTransactionsPending": 129,
                      "totalTransactionsSettled": 1228,
                      "totalTransactionsSettling": 998,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-04-30T00:00:00+00:00",
                          "intervalEnd": "2026-05-01T00:00:00+00:00",
                          "totalSettlementAmount": 4106.06,
                          "totalFeeAmount": 201.19694,
                          "totalNetAmount": 3904.86306,
                          "totalTransactionsPending": 15,
                          "totalTransactionsSettled": 250,
                          "totalTransactionsSettling": 208
                        },
                        {
                          "intervalStart": "2026-05-01T00:00:00+00:00",
                          "intervalEnd": "2026-05-02T00:00:00+00:00",
                          "totalSettlementAmount": 5702.46,
                          "totalFeeAmount": 279.42054,
                          "totalNetAmount": 5423.03946,
                          "totalTransactionsPending": 5,
                          "totalTransactionsSettled": 49,
                          "totalTransactionsSettling": 298
                        },
                        {
                          "intervalStart": "2026-05-02T00:00:00+00:00",
                          "intervalEnd": "2026-05-03T00:00:00+00:00",
                          "totalSettlementAmount": 8969.08,
                          "totalFeeAmount": 439.48492,
                          "totalNetAmount": 8529.59508,
                          "totalTransactionsPending": 34,
                          "totalTransactionsSettled": 54,
                          "totalTransactionsSettling": 15
                        },
                        {
                          "intervalStart": "2026-05-03T00:00:00+00:00",
                          "intervalEnd": "2026-05-04T00:00:00+00:00",
                          "totalSettlementAmount": 980.16,
                          "totalFeeAmount": 48.02784,
                          "totalNetAmount": 932.13216,
                          "totalTransactionsPending": 18,
                          "totalTransactionsSettled": 152,
                          "totalTransactionsSettling": 252
                        },
                        {
                          "intervalStart": "2026-05-04T00:00:00+00:00",
                          "intervalEnd": "2026-05-05T00:00:00+00:00",
                          "totalSettlementAmount": 8885.03,
                          "totalFeeAmount": 435.36647,
                          "totalNetAmount": 8449.66353,
                          "totalTransactionsPending": 12,
                          "totalTransactionsSettled": 132,
                          "totalTransactionsSettling": 37
                        },
                        {
                          "intervalStart": "2026-05-05T00:00:00+00:00",
                          "intervalEnd": "2026-05-06T00:00:00+00:00",
                          "totalSettlementAmount": 937.15,
                          "totalFeeAmount": 45.92035,
                          "totalNetAmount": 891.22965,
                          "totalTransactionsPending": 14,
                          "totalTransactionsSettled": 243,
                          "totalTransactionsSettling": 131
                        },
                        {
                          "intervalStart": "2026-05-06T00:00:00+00:00",
                          "intervalEnd": "2026-05-07T00:00:00+00:00",
                          "totalSettlementAmount": 3404.54,
                          "totalFeeAmount": 166.82246,
                          "totalNetAmount": 3237.71754,
                          "totalTransactionsPending": 31,
                          "totalTransactionsSettled": 348,
                          "totalTransactionsSettling": 57
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-04-30T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-05-07T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "totalSettlementAmount": {
                          "type": "number",
                          "example": 32984.48,
                          "description": "Total settled payout amount in this period",
                          "enum": []
                        },
                        "totalFeeAmount": {
                          "type": "number",
                          "example": 1616.23952,
                          "description": "Total amount of fees charged for the payouts in this period",
                          "enum": []
                        },
                        "totalNetAmount": {
                          "type": "number",
                          "example": 31368.24048,
                          "description": "Total net payout amount in this period",
                          "enum": []
                        },
                        "totalTransactionsPending": {
                          "type": "integer",
                          "example": 129,
                          "description": "Total number of transactions pending in this period",
                          "enum": []
                        },
                        "totalTransactionsSettled": {
                          "type": "integer",
                          "example": 1228,
                          "description": "Total number of transactions settled in this period",
                          "enum": []
                        },
                        "totalTransactionsSettling": {
                          "type": "integer",
                          "example": 998,
                          "description": "Total number of transactions settling in this period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-04-30T00:00:00+00:00",
                              "intervalEnd": "2026-05-01T00:00:00+00:00",
                              "totalSettlementAmount": 4106.06,
                              "totalFeeAmount": 201.19694,
                              "totalNetAmount": 3904.86306,
                              "totalTransactionsPending": 15,
                              "totalTransactionsSettled": 250,
                              "totalTransactionsSettling": 208
                            },
                            {
                              "intervalStart": "2026-05-01T00:00:00+00:00",
                              "intervalEnd": "2026-05-02T00:00:00+00:00",
                              "totalSettlementAmount": 5702.46,
                              "totalFeeAmount": 279.42054,
                              "totalNetAmount": 5423.03946,
                              "totalTransactionsPending": 5,
                              "totalTransactionsSettled": 49,
                              "totalTransactionsSettling": 298
                            },
                            {
                              "intervalStart": "2026-05-02T00:00:00+00:00",
                              "intervalEnd": "2026-05-03T00:00:00+00:00",
                              "totalSettlementAmount": 8969.08,
                              "totalFeeAmount": 439.48492,
                              "totalNetAmount": 8529.59508,
                              "totalTransactionsPending": 34,
                              "totalTransactionsSettled": 54,
                              "totalTransactionsSettling": 15
                            },
                            {
                              "intervalStart": "2026-05-03T00:00:00+00:00",
                              "intervalEnd": "2026-05-04T00:00:00+00:00",
                              "totalSettlementAmount": 980.16,
                              "totalFeeAmount": 48.02784,
                              "totalNetAmount": 932.13216,
                              "totalTransactionsPending": 18,
                              "totalTransactionsSettled": 152,
                              "totalTransactionsSettling": 252
                            },
                            {
                              "intervalStart": "2026-05-04T00:00:00+00:00",
                              "intervalEnd": "2026-05-05T00:00:00+00:00",
                              "totalSettlementAmount": 8885.03,
                              "totalFeeAmount": 435.36647,
                              "totalNetAmount": 8449.66353,
                              "totalTransactionsPending": 12,
                              "totalTransactionsSettled": 132,
                              "totalTransactionsSettling": 37
                            },
                            {
                              "intervalStart": "2026-05-05T00:00:00+00:00",
                              "intervalEnd": "2026-05-06T00:00:00+00:00",
                              "totalSettlementAmount": 937.15,
                              "totalFeeAmount": 45.92035,
                              "totalNetAmount": 891.22965,
                              "totalTransactionsPending": 14,
                              "totalTransactionsSettled": 243,
                              "totalTransactionsSettling": 131
                            },
                            {
                              "intervalStart": "2026-05-06T00:00:00+00:00",
                              "intervalEnd": "2026-05-07T00:00:00+00:00",
                              "totalSettlementAmount": 3404.54,
                              "totalFeeAmount": 166.82246,
                              "totalNetAmount": 3237.71754,
                              "totalTransactionsPending": 31,
                              "totalTransactionsSettled": 348,
                              "totalTransactionsSettling": 57
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-04-30T00:00:00+00:00",
                                "description": "Start time of the analytics calculation interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-05-01T00:00:00+00:00",
                                "description": "End time of the analytics calculation interval",
                                "enum": []
                              },
                              "totalSettlementAmount": {
                                "type": "number",
                                "example": 4106.06,
                                "description": "Total settled payout amount in this interval",
                                "enum": []
                              },
                              "totalFeeAmount": {
                                "type": "number",
                                "example": 201.19694,
                                "description": "Total amount of fees charged for the payouts in this interval",
                                "enum": []
                              },
                              "totalNetAmount": {
                                "type": "number",
                                "example": 3904.86306,
                                "description": "Total net payout amount in this interval",
                                "enum": []
                              },
                              "totalTransactionsPending": {
                                "type": "integer",
                                "example": 15,
                                "description": "Total number of transactions pending in this interval",
                                "enum": []
                              },
                              "totalTransactionsSettled": {
                                "type": "integer",
                                "example": 250,
                                "description": "Total number of transactions settled in this interval",
                                "enum": []
                              },
                              "totalTransactionsSettling": {
                                "type": "integer",
                                "example": 208,
                                "description": "Total number of transactions settling in this interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/payments/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
[...]
