{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.73.0"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payout Exports",
      "description": "Create payout exports"
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-21T00:00:00+00:00",
                    "periodEnd": "2026-04-28T00:00:00+00:00",
                    "numPaymentsCreated": 4872,
                    "numPaymentsProcessed": 2526,
                    "numPaymentsIncomplete": 2346,
                    "numPaymentsWithRefunds": 1122,
                    "numCardPresentPayments": 1066,
                    "numCardNotPresentPayments": 1280,
                    "totalCapturedAmount": 4360330.04,
                    "totalRefundedAmount": 695035.62,
                    "totalNetCapturedAmount": 3665294.42,
                    "averageNetCapturedAmount": 2469.1342857143,
                    "minNetCapturedAmount": 10.76,
                    "maxNetCapturedAmount": 8149.64,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-21T00:00:00+00:00",
                        "intervalEnd": "2026-04-22T00:00:00+00:00",
                        "numPaymentsCreated": 558,
                        "numPaymentsProcessed": 166,
                        "numPaymentsIncomplete": 392,
                        "numPaymentsWithRefunds": 7,
                        "numCardPresentPayments": 24,
                        "numCardNotPresentPayments": 368,
                        "totalCapturedAmount": 66738.69,
                        "totalRefundedAmount": 8507.78,
                        "totalNetCapturedAmount": 58230.91,
                        "averageNetCapturedAmount": 350.79,
                        "minNetCapturedAmount": 30.13,
                        "maxNetCapturedAmount": 8149.64
                      },
                      {
                        "intervalStart": "2026-04-22T00:00:00+00:00",
                        "intervalEnd": "2026-04-23T00:00:00+00:00",
                        "numPaymentsCreated": 638,
                        "numPaymentsProcessed": 79,
                        "numPaymentsIncomplete": 559,
                        "numPaymentsWithRefunds": 48,
                        "numCardPresentPayments": 45,
                        "numCardNotPresentPayments": 514,
                        "totalCapturedAmount": 649703.81,
                        "totalRefundedAmount": 88621.32,
                        "totalNetCapturedAmount": 561082.49,
                        "averageNetCapturedAmount": 7102.31,
                        "minNetCapturedAmount": 88.95,
                        "maxNetCapturedAmount": 7526.58
                      },
                      {
                        "intervalStart": "2026-04-23T00:00:00+00:00",
                        "intervalEnd": "2026-04-24T00:00:00+00:00",
                        "numPaymentsCreated": 976,
                        "numPaymentsProcessed": 796,
                        "numPaymentsIncomplete": 180,
                        "numPaymentsWithRefunds": 70,
                        "numCardPresentPayments": 398,
                        "numCardNotPresentPayments": -218,
                        "totalCapturedAmount": 758855.23,
                        "totalRefundedAmount": 69922.53,
                        "totalNetCapturedAmount": 688932.7,
                        "averageNetCapturedAmount": 865.49,
                        "minNetCapturedAmount": 22.15,
                        "maxNetCapturedAmount": 1572.96
                      },
                      {
                        "intervalStart": "2026-04-24T00:00:00+00:00",
                        "intervalEnd": "2026-04-25T00:00:00+00:00",
                        "numPaymentsCreated": 469,
                        "numPaymentsProcessed": 161,
                        "numPaymentsIncomplete": 308,
                        "numPaymentsWithRefunds": 155,
                        "numCardPresentPayments": 98,
                        "numCardNotPresentPayments": 210,
                        "totalCapturedAmount": 954062.84,
                        "totalRefundedAmount": 24986.88,
                        "totalNetCapturedAmount": 929075.96,
                        "averageNetCapturedAmount": 5770.66,
                        "minNetCapturedAmount": 10.76,
                        "maxNetCapturedAmount": 6358.5
                      },
                      {
                        "intervalStart": "2026-04-25T00:00:00+00:00",
                        "intervalEnd": "2026-04-26T00:00:00+00:00",
                        "numPaymentsCreated": 656,
                        "numPaymentsProcessed": 525,
                        "numPaymentsIncomplete": 131,
                        "numPaymentsWithRefunds": 459,
                        "numCardPresentPayments": 419,
                        "numCardNotPresentPayments": -288,
                        "totalCapturedAmount": 868075.08,
                        "totalRefundedAmount": 251201.82,
                        "totalNetCapturedAmount": 616873.26,
                        "averageNetCapturedAmount": 1175,
                        "minNetCapturedAmount": 13.46,
                        "maxNetCapturedAmount": 3638.41
                      },
                      {
                        "intervalStart": "2026-04-26T00:00:00+00:00",
                        "intervalEnd": "2026-04-27T00:00:00+00:00",
                        "numPaymentsCreated": 975,
                        "numPaymentsProcessed": 382,
                        "numPaymentsIncomplete": 593,
                        "numPaymentsWithRefunds": 269,
                        "numCardPresentPayments": 39,
                        "numCardNotPresentPayments": 554,
                        "totalCapturedAmount": 411203.33,
                        "totalRefundedAmount": 71639.48,
                        "totalNetCapturedAmount": 339563.85,
                        "averageNetCapturedAmount": 888.91,
                        "minNetCapturedAmount": 84.71,
                        "maxNetCapturedAmount": 3330.62
                      },
                      {
                        "intervalStart": "2026-04-27T00:00:00+00:00",
                        "intervalEnd": "2026-04-28T00:00:00+00:00",
                        "numPaymentsCreated": 600,
                        "numPaymentsProcessed": 417,
                        "numPaymentsIncomplete": 183,
                        "numPaymentsWithRefunds": 114,
                        "numCardPresentPayments": 43,
                        "numCardNotPresentPayments": 140,
                        "totalCapturedAmount": 651691.06,
                        "totalRefundedAmount": 180155.81,
                        "totalNetCapturedAmount": 471535.25,
                        "averageNetCapturedAmount": 1130.78,
                        "minNetCapturedAmount": 20.05,
                        "maxNetCapturedAmount": 1219.79
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-21T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-28T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 4872
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 2526
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 2346
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 1122
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 1066
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": 1280
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 4360330.04
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 695035.62
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 3665294.42
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 2469.1342857143
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 10.76
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 8149.64
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-21T00:00:00+00:00",
                          "intervalEnd": "2026-04-22T00:00:00+00:00",
                          "numPaymentsCreated": 558,
                          "numPaymentsProcessed": 166,
                          "numPaymentsIncomplete": 392,
                          "numPaymentsWithRefunds": 7,
                          "numCardPresentPayments": 24,
                          "numCardNotPresentPayments": 368,
                          "totalCapturedAmount": 66738.69,
                          "totalRefundedAmount": 8507.78,
                          "totalNetCapturedAmount": 58230.91,
                          "averageNetCapturedAmount": 350.79,
                          "minNetCapturedAmount": 30.13,
                          "maxNetCapturedAmount": 8149.64
                        },
                        {
                          "intervalStart": "2026-04-22T00:00:00+00:00",
                          "intervalEnd": "2026-04-23T00:00:00+00:00",
                          "numPaymentsCreated": 638,
                          "numPaymentsProcessed": 79,
                          "numPaymentsIncomplete": 559,
                          "numPaymentsWithRefunds": 48,
                          "numCardPresentPayments": 45,
                          "numCardNotPresentPayments": 514,
                          "totalCapturedAmount": 649703.81,
                          "totalRefundedAmount": 88621.32,
                          "totalNetCapturedAmount": 561082.49,
                          "averageNetCapturedAmount": 7102.31,
                          "minNetCapturedAmount": 88.95,
                          "maxNetCapturedAmount": 7526.58
                        },
                        {
                          "intervalStart": "2026-04-23T00:00:00+00:00",
                          "intervalEnd": "2026-04-24T00:00:00+00:00",
                          "numPaymentsCreated": 976,
                          "numPaymentsProcessed": 796,
                          "numPaymentsIncomplete": 180,
                          "numPaymentsWithRefunds": 70,
                          "numCardPresentPayments": 398,
                          "numCardNotPresentPayments": -218,
                          "totalCapturedAmount": 758855.23,
                          "totalRefundedAmount": 69922.53,
                          "totalNetCapturedAmount": 688932.7,
                          "averageNetCapturedAmount": 865.49,
                          "minNetCapturedAmount": 22.15,
                          "maxNetCapturedAmount": 1572.96
                        },
                        {
                          "intervalStart": "2026-04-24T00:00:00+00:00",
                          "intervalEnd": "2026-04-25T00:00:00+00:00",
                          "numPaymentsCreated": 469,
                          "numPaymentsProcessed": 161,
                          "numPaymentsIncomplete": 308,
                          "numPaymentsWithRefunds": 155,
                          "numCardPresentPayments": 98,
                          "numCardNotPresentPayments": 210,
                          "totalCapturedAmount": 954062.84,
                          "totalRefundedAmount": 24986.88,
                          "totalNetCapturedAmount": 929075.96,
                          "averageNetCapturedAmount": 5770.66,
                          "minNetCapturedAmount": 10.76,
                          "maxNetCapturedAmount": 6358.5
                        },
                        {
                          "intervalStart": "2026-04-25T00:00:00+00:00",
                          "intervalEnd": "2026-04-26T00:00:00+00:00",
                          "numPaymentsCreated": 656,
                          "numPaymentsProcessed": 525,
                          "numPaymentsIncomplete": 131,
                          "numPaymentsWithRefunds": 459,
                          "numCardPresentPayments": 419,
                          "numCardNotPresentPayments": -288,
                          "totalCapturedAmount": 868075.08,
                          "totalRefundedAmount": 251201.82,
                          "totalNetCapturedAmount": 616873.26,
                          "averageNetCapturedAmount": 1175,
                          "minNetCapturedAmount": 13.46,
                          "maxNetCapturedAmount": 3638.41
                        },
                        {
                          "intervalStart": "2026-04-26T00:00:00+00:00",
                          "intervalEnd": "2026-04-27T00:00:00+00:00",
                          "numPaymentsCreated": 975,
                          "numPaymentsProcessed": 382,
                          "numPaymentsIncomplete": 593,
                          "numPaymentsWithRefunds": 269,
                          "numCardPresentPayments": 39,
                          "numCardNotPresentPayments": 554,
                          "totalCapturedAmount": 411203.33,
                          "totalRefundedAmount": 71639.48,
                          "totalNetCapturedAmount": 339563.85,
                          "averageNetCapturedAmount": 888.91,
                          "minNetCapturedAmount": 84.71,
                          "maxNetCapturedAmount": 3330.62
                        },
                        {
                          "intervalStart": "2026-04-27T00:00:00+00:00",
                          "intervalEnd": "2026-04-28T00:00:00+00:00",
                          "numPaymentsCreated": 600,
                          "numPaymentsProcessed": 417,
                          "numPaymentsIncomplete": 183,
                          "numPaymentsWithRefunds": 114,
                          "numCardPresentPayments": 43,
                          "numCardNotPresentPayments": 140,
                          "totalCapturedAmount": 651691.06,
                          "totalRefundedAmount": 180155.81,
                          "totalNetCapturedAmount": 471535.25,
                          "averageNetCapturedAmount": 1130.78,
                          "minNetCapturedAmount": 20.05,
                          "maxNetCapturedAmount": 1219.79
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-21T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-22T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 558
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 166
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 392
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 7
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 24
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": 368
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 66738.69
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 8507.78
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 58230.91
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 350.79
                          },
                          "minNetCapturedAmount": {
                            "type": "number",
                            "example": 30.13
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 8149.64
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-21T00:00:00+00:00",
                    "periodEnd": "2026-04-28T00:00:00+00:00",
                    "activeCustomers": 208,
                    "newCustomers": 151,
                    "returningCustomers": 57,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-21T00:00:00+00:00",
                        "intervalEnd": "2026-04-22T00:00:00+00:00",
                        "activeCustomers": 17,
                        "newCustomers": 10,
                        "returningCustomers": 7
                      },
                      {
                        "intervalStart": "2026-04-22T00:00:00+00:00",
                        "intervalEnd": "2026-04-23T00:00:00+00:00",
                        "activeCustomers": 26,
                        "newCustomers": 23,
                        "returningCustomers": 3
                      },
                      {
                        "intervalStart": "2026-04-23T00:00:00+00:00",
                        "intervalEnd": "2026-04-24T00:00:00+00:00",
                        "activeCustomers": 61,
                        "newCustomers": 7,
                        "returningCustomers": 54
                      },
                      {
                        "intervalStart": "2026-04-24T00:00:00+00:00",
                        "intervalEnd": "2026-04-25T00:00:00+00:00",
                        "activeCustomers": 69,
                        "newCustomers": 41,
                        "returningCustomers": 28
                      },
                      {
                        "intervalStart": "2026-04-25T00:00:00+00:00",
                        "intervalEnd": "2026-04-26T00:00:00+00:00",
                        "activeCustomers": 78,
                        "newCustomers": 21,
                        "returningCustomers": 57
                      },
                      {
                        "intervalStart": "2026-04-26T00:00:00+00:00",
                        "intervalEnd": "2026-04-27T00:00:00+00:00",
                        "activeCustomers": 77,
                        "newCustomers": 23,
                        "returningCustomers": 54
                      },
                      {
                        "intervalStart": "2026-04-27T00:00:00+00:00",
                        "intervalEnd": "2026-04-28T00:00:00+00:00",
                        "activeCustomers": 53,
                        "newCustomers": 26,
                        "returningCustomers": 27
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-21T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-28T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 208
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 151
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": 57
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-21T00:00:00+00:00",
                          "intervalEnd": "2026-04-22T00:00:00+00:00",
                          "activeCustomers": 17,
                          "newCustomers": 10,
                          "returningCustomers": 7
                        },
                        {
                          "intervalStart": "2026-04-22T00:00:00+00:00",
                          "intervalEnd": "2026-04-23T00:00:00+00:00",
                          "activeCustomers": 26,
                          "newCustomers": 23,
                          "returningCustomers": 3
                        },
                        {
                          "intervalStart": "2026-04-23T00:00:00+00:00",
                          "intervalEnd": "2026-04-24T00:00:00+00:00",
                          "activeCustomers": 61,
                          "newCustomers": 7,
                          "returningCustomers": 54
                        },
                        {
                          "intervalStart": "2026-04-24T00:00:00+00:00",
                          "intervalEnd": "2026-04-25T00:00:00+00:00",
                          "activeCustomers": 69,
                          "newCustomers": 41,
                          "returningCustomers": 28
                        },
                        {
                          "intervalStart": "2026-04-25T00:00:00+00:00",
                          "intervalEnd": "2026-04-26T00:00:00+00:00",
                          "activeCustomers": 78,
                          "newCustomers": 21,
                          "returningCustomers": 57
                        },
                        {
                          "intervalStart": "2026-04-26T00:00:00+00:00",
                          "intervalEnd": "2026-04-27T00:00:00+00:00",
                          "activeCustomers": 77,
                          "newCustomers": 23,
                          "returningCustomers": 54
                        },
                        {
                          "intervalStart": "2026-04-27T00:00:00+00:00",
                          "intervalEnd": "2026-04-28T00:00:00+00:00",
                          "activeCustomers": 53,
                          "newCustomers": 26,
                          "returningCustomers": 27
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-21T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-22T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 17
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 10
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 7
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-21T00:00:00+00:00",
                    "periodEnd": "2026-04-28T00:00:00+00:00",
                    "totalTransactions": 5476,
                    "authorizeTransactions": 411,
                    "captureTransactions": 452,
                    "payTransactions": 2513,
                    "refundTransactions": 1898,
                    "verifyTransactions": 89,
                    "voidTransactions": 113,
                    "successfulTransactions": 4924,
                    "failedTransactions": 387,
                    "declinedTransactions": 138,
                    "pendingTransactions": 27,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-21T00:00:00+00:00",
                        "intervalEnd": "2026-04-22T00:00:00+00:00",
                        "totalTransactions": 956,
                        "authorizeTransactions": 74,
                        "captureTransactions": 77,
                        "payTransactions": 736,
                        "refundTransactions": 31,
                        "verifyTransactions": 27,
                        "voidTransactions": 11,
                        "successfulTransactions": 860,
                        "failedTransactions": 58,
                        "declinedTransactions": 34,
                        "pendingTransactions": 4,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-22T00:00:00+00:00",
                        "intervalEnd": "2026-04-23T00:00:00+00:00",
                        "totalTransactions": 975,
                        "authorizeTransactions": 68,
                        "captureTransactions": 76,
                        "payTransactions": 184,
                        "refundTransactions": 628,
                        "verifyTransactions": 19,
                        "voidTransactions": 0,
                        "successfulTransactions": 877,
                        "failedTransactions": 75,
                        "declinedTransactions": 19,
                        "pendingTransactions": 4,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-23T00:00:00+00:00",
                        "intervalEnd": "2026-04-24T00:00:00+00:00",
                        "totalTransactions": 711,
                        "authorizeTransactions": 83,
                        "captureTransactions": 91,
                        "payTransactions": 457,
                        "refundTransactions": 65,
                        "verifyTransactions": 8,
                        "voidTransactions": 7,
                        "successfulTransactions": 639,
                        "failedTransactions": 47,
                        "declinedTransactions": 23,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-24T00:00:00+00:00",
                        "intervalEnd": "2026-04-25T00:00:00+00:00",
                        "totalTransactions": 452,
                        "authorizeTransactions": 55,
                        "captureTransactions": 61,
                        "payTransactions": 259,
                        "refundTransactions": 39,
                        "verifyTransactions": 8,
                        "voidTransactions": 30,
                        "successfulTransactions": 406,
                        "failedTransactions": 24,
                        "declinedTransactions": 18,
                        "pendingTransactions": 4,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-25T00:00:00+00:00",
                        "intervalEnd": "2026-04-26T00:00:00+00:00",
                        "totalTransactions": 686,
                        "authorizeTransactions": 27,
                        "captureTransactions": 37,
                        "payTransactions": 454,
                        "refundTransactions": 102,
                        "verifyTransactions": 6,
                        "voidTransactions": 60,
                        "successfulTransactions": 617,
                        "failedTransactions": 51,
                        "declinedTransactions": 16,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-26T00:00:00+00:00",
                        "intervalEnd": "2026-04-27T00:00:00+00:00",
                        "totalTransactions": 712,
                        "authorizeTransactions": 20,
                        "captureTransactions": 22,
                        "payTransactions": 262,
                        "refundTransactions": 391,
                        "verifyTransactions": 16,
                        "voidTransactions": 1,
                        "successfulTransactions": 640,
                        "failedTransactions": 56,
                        "declinedTransactions": 14,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-27T00:00:00+00:00",
                        "intervalEnd": "2026-04-28T00:00:00+00:00",
                        "totalTransactions": 984,
                        "authorizeTransactions": 84,
                        "captureTransactions": 88,
                        "payTransactions": 161,
                        "refundTransactions": 642,
                        "verifyTransactions": 5,
                        "voidTransactions": 4,
                        "successfulTransactions": 885,
                        "failedTransactions": 76,
                        "declinedTransactions": 14,
                        "pendingTransactions": 9,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-21T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-28T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 5476
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 411
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 452
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 2513
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 1898
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 89
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 113
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 4924
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 387
                    },
                    "declinedTransactions": {
                      "type": "integer",
                      "example": 138
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 27
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-21T00:00:00+00:00",
                          "intervalEnd": "2026-04-22T00:00:00+00:00",
                          "totalTransactions": 956,
                          "authorizeTransactions": 74,
                          "captureTransactions": 77,
                          "payTransactions": 736,
                          "refundTransactions": 31,
                          "verifyTransactions": 27,
                          "voidTransactions": 11,
                          "successfulTransactions": 860,
                          "failedTransactions": 58,
                          "declinedTransactions": 34,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-22T00:00:00+00:00",
                          "intervalEnd": "2026-04-23T00:00:00+00:00",
                          "totalTransactions": 975,
                          "authorizeTransactions": 68,
                          "captureTransactions": 76,
                          "payTransactions": 184,
                          "refundTransactions": 628,
                          "verifyTransactions": 19,
                          "voidTransactions": 0,
                          "successfulTransactions": 877,
                          "failedTransactions": 75,
                          "declinedTransactions": 19,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-23T00:00:00+00:00",
                          "intervalEnd": "2026-04-24T00:00:00+00:00",
                          "totalTransactions": 711,
                          "authorizeTransactions": 83,
                          "captureTransactions": 91,
                          "payTransactions": 457,
                          "refundTransactions": 65,
                          "verifyTransactions": 8,
                          "voidTransactions": 7,
                          "successfulTransactions": 639,
                          "failedTransactions": 47,
                          "declinedTransactions": 23,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-24T00:00:00+00:00",
                          "intervalEnd": "2026-04-25T00:00:00+00:00",
                          "totalTransactions": 452,
                          "authorizeTransactions": 55,
                          "captureTransactions": 61,
                          "payTransactions": 259,
                          "refundTransactions": 39,
                          "verifyTransactions": 8,
                          "voidTransactions": 30,
                          "successfulTransactions": 406,
                          "failedTransactions": 24,
                          "declinedTransactions": 18,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-25T00:00:00+00:00",
                          "intervalEnd": "2026-04-26T00:00:00+00:00",
                          "totalTransactions": 686,
                          "authorizeTransactions": 27,
                          "captureTransactions": 37,
                          "payTransactions": 454,
                          "refundTransactions": 102,
                          "verifyTransactions": 6,
                          "voidTransactions": 60,
                          "successfulTransactions": 617,
                          "failedTransactions": 51,
                          "declinedTransactions": 16,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-26T00:00:00+00:00",
                          "intervalEnd": "2026-04-27T00:00:00+00:00",
                          "totalTransactions": 712,
                          "authorizeTransactions": 20,
                          "captureTransactions": 22,
                          "payTransactions": 262,
                          "refundTransactions": 391,
                          "verifyTransactions": 16,
                          "voidTransactions": 1,
                          "successfulTransactions": 640,
                          "failedTransactions": 56,
                          "declinedTransactions": 14,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-27T00:00:00+00:00",
                          "intervalEnd": "2026-04-28T00:00:00+00:00",
                          "totalTransactions": 984,
                          "authorizeTransactions": 84,
                          "captureTransactions": 88,
                          "payTransactions": 161,
                          "refundTransactions": 642,
                          "verifyTransactions": 5,
                          "voidTransactions": 4,
                          "successfulTransactions": 885,
                          "failedTransactions": 76,
                          "declinedTransactions": 14,
                          "pendingTransactions": 9,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-21T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-22T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 956
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 74
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 77
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 736
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 31
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 27
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": 11
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 860
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 58
                          },
                          "declinedTransactions": {
                            "type": "integer",
                            "example": 34
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 4
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-21T00:00:00+00:00",
                    "periodEnd": "2026-04-28T00:00:00+00:00",
                    "totalSettlementAmount": 33847.11,
                    "totalFeeAmount": 1658.50839,
                    "totalNetAmount": 32188.60161,
                    "totalTransactionsPending": 107,
                    "totalTransactionsSettled": 1499,
                    "totalTransactionsSettling": 787,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-21T00:00:00+00:00",
                        "intervalEnd": "2026-04-22T00:00:00+00:00",
                        "totalSettlementAmount": 3527.8,
                        "totalFeeAmount": 172.8622,
                        "totalNetAmount": 3354.9378,
                        "totalTransactionsPending": 9,
                        "totalTransactionsSettled": 254,
                        "totalTransactionsSettling": 157
                      },
                      {
                        "intervalStart": "2026-04-22T00:00:00+00:00",
                        "intervalEnd": "2026-04-23T00:00:00+00:00",
                        "totalSettlementAmount": 9184.91,
                        "totalFeeAmount": 450.06059,
                        "totalNetAmount": 8734.84941,
                        "totalTransactionsPending": 6,
                        "totalTransactionsSettled": 422,
                        "totalTransactionsSettling": 33
                      },
                      {
                        "intervalStart": "2026-04-23T00:00:00+00:00",
                        "intervalEnd": "2026-04-24T00:00:00+00:00",
                        "totalSettlementAmount": 649.11,
                        "totalFeeAmount": 31.80639,
                        "totalNetAmount": 617.30361,
                        "totalTransactionsPending": 6,
                        "totalTransactionsSettled": 306,
                        "totalTransactionsSettling": 76
                      },
                      {
                        "intervalStart": "2026-04-24T00:00:00+00:00",
                        "intervalEnd": "2026-04-25T00:00:00+00:00",
                        "totalSettlementAmount": 1189.82,
                        "totalFeeAmount": 58.30118,
                        "totalNetAmount": 1131.51882,
                        "totalTransactionsPending": 15,
                        "totalTransactionsSettled": 29,
                        "totalTransactionsSettling": 184
                      },
                      {
                        "intervalStart": "2026-04-25T00:00:00+00:00",
                        "intervalEnd": "2026-04-26T00:00:00+00:00",
                        "totalSettlementAmount": 6590.69,
                        "totalFeeAmount": 322.94381,
                        "totalNetAmount": 6267.74619,
                        "totalTransactionsPending": 38,
                        "totalTransactionsSettled": 282,
                        "totalTransactionsSettling": 111
                      },
                      {
                        "intervalStart": "2026-04-26T00:00:00+00:00",
                        "intervalEnd": "2026-04-27T00:00:00+00:00",
                        "totalSettlementAmount": 8631.9,
                        "totalFeeAmount": 422.9631,
                        "totalNetAmount": 8208.9369,
                        "totalTransactionsPending": 23,
                        "totalTransactionsSettled": 124,
                        "totalTransactionsSettling": 147
                      },
                      {
                        "intervalStart": "2026-04-27T00:00:00+00:00",
                        "intervalEnd": "2026-04-28T00:00:00+00:00",
                        "totalSettlementAmount": 4072.88,
                        "totalFeeAmount": 199.57112,
                        "totalNetAmount": 3873.30888,
                        "totalTransactionsPending": 10,
                        "totalTransactionsSettled": 82,
                        "totalTransactionsSettling": 79
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-21T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-28T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 33847.11
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 1658.50839
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 32188.60161
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 107
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 1499
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 787
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-21T00:00:00+00:00",
                          "intervalEnd": "2026-04-22T00:00:00+00:00",
                          "totalSettlementAmount": 3527.8,
                          "totalFeeAmount": 172.8622,
                          "totalNetAmount": 3354.9378,
                          "totalTransactionsPending": 9,
                          "totalTransactionsSettled": 254,
                          "totalTransactionsSettling": 157
                        },
                        {
                          "intervalStart": "2026-04-22T00:00:00+00:00",
                          "intervalEnd": "2026-04-23T00:00:00+00:00",
                          "totalSettlementAmount": 9184.91,
                          "totalFeeAmount": 450.06059,
                          "totalNetAmount": 8734.84941,
                          "totalTransactionsPending": 6,
                          "totalTransactionsSettled": 422,
                          "totalTransactionsSettling": 33
                        },
                        {
                          "intervalStart": "2026-04-23T00:00:00+00:00",
                          "intervalEnd": "2026-04-24T00:00:00+00:00",
                          "totalSettlementAmount": 649.11,
                          "totalFeeAmount": 31.80639,
                          "totalNetAmount": 617.30361,
                          "totalTransactionsPending": 6,
                          "totalTransactionsSettled": 306,
                          "totalTransactionsSettling": 76
                        },
                        {
                          "intervalStart": "2026-04-24T00:00:00+00:00",
                          "intervalEnd": "2026-04-25T00:00:00+00:00",
                          "totalSettlementAmount": 1189.82,
                          "totalFeeAmount": 58.30118,
                          "totalNetAmount": 1131.51882,
                          "totalTransactionsPending": 15,
                          "totalTransactionsSettled": 29,
                          "totalTransactionsSettling": 184
                        },
                        {
                          "intervalStart": "2026-04-25T00:00:00+00:00",
                          "intervalEnd": "2026-04-26T00:00:00+00:00",
                          "totalSettlementAmount": 6590.69,
                          "totalFeeAmount": 322.94381,
                          "totalNetAmount": 6267.74619,
                          "totalTransactionsPending": 38,
                          "totalTransactionsSettled": 282,
                          "totalTransactionsSettling": 111
                        },
                        {
                          "intervalStart": "2026-04-26T00:00:00+00:00",
                          "intervalEnd": "2026-04-27T00:00:00+00:00",
                          "totalSettlementAmount": 8631.9,
                          "totalFeeAmount": 422.9631,
                          "totalNetAmount": 8208.9369,
                          "totalTransactionsPending": 23,
                          "totalTransactionsSettled": 124,
                          "totalTransactionsSettling": 147
                        },
                        {
                          "intervalStart": "2026-04-27T00:00:00+00:00",
                          "intervalEnd": "2026-04-28T00:00:00+00:00",
                          "totalSettlementAmount": 4072.88,
                          "totalFeeAmount": 199.57112,
                          "totalNetAmount": 3873.30888,
                          "totalTransactionsPending": 10,
                          "totalTransactionsSettled": 82,
                          "totalTransactionsSettling": 79
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-21T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-22T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 3527.8
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 172.8622
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 3354.9378
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 9
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 254
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 157
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 5,
                    "data": [
                      {
                        "email": "hahn.taylor@gmail.com",
                        "firstName": "Reid",
                        "lastName": "Toy",
                        "phone": "+17576985026",
                        "dateOfBirth": "2002-04-26"
                      },
                      {
                        "email": "russel.talia@gmail.com",
                        "firstName": "Leland",
                        "lastName": "Koepp",
                        "phone": "+12695517925",
                        "dateOfBirth": "1979-10-13"
                      },
                      {
                        "email": "grimes.eloy@kutch.com",
                        "firstName": "Garnet",
                        "lastName": "Schinner",
                        "phone": "+19284041353",
                        "dateOfBirth": "1994-07-20"
                      },
                      {
                        "email": "wyman.mathias@yahoo.com",
                        "firstName": "Octavia",
                        "lastName": "Rice",
                        "phone": "+12677714179",
                        "dateOfBirth": "1985-11-29"
                      },
                      {
                        "email": "cjast@johns.biz",
                        "firstName": "Claudia",
                        "lastName": "Koepp",
                        "phone": "+15616949113",
                        "dateOfBirth": "1976-08-24"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 5,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "hahn.taylor@gmail.com",
                          "firstName": "Reid",
                          "lastName": "Toy",
                          "phone": "+17576985026",
                          "dateOfBirth": "2002-04-26"
                        },
                        {
                          "email": "russel.talia@gmail.com",
                          "firstName": "Leland",
                          "lastName": "Koepp",
                          "phone": "+12695517925",
                          "dateOfBirth": "1979-10-13"
                        },
                        {
                          "email": "grimes.eloy@kutch.com",
                          "firstName": "Garnet",
                          "lastName": "Schinner",
                          "phone": "+19284041353",
                          "dateOfBirth": "1994-07-20"
                        },
                        {
                          "email": "wyman.mathias@yahoo.com",
                          "firstName": "Octavia",
                          "lastName": "Rice",
                          "phone": "+12677714179",
                          "dateOfBirth": "1985-11-29"
                        },
                        {
                          "email": "cjast@johns.biz",
                          "firstName": "Claudia",
                          "lastName": "Koepp",
                          "phone": "+15616949113",
                          "dateOfBirth": "1976-08-24"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "hahn.taylor@gmail.com"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Reid"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Toy"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+17576985026"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "2002-04-26"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customer/{customerIdOrEmail}": {
      "get": {
        "summary": "Get Customer",
        "operationId": "getCustomer",
        "description": "Returns a single customer by their ID, UUID, or email address.",
        "parameters": [
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date fields. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix) and abbreviations (e.g., MST).",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date fields. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix) and abbreviations (e.g., MST).",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The customer with their addresses and pay tokens",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "email": "ikilback@hotmail.com"
                  },
                  "properties": {
                    "email": {
                      "type": "string",
                      "example": "ikilback@hotmail.com"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "post": {
        "summary": "Update or Create Customer",
        "operationId": "updateOrCreateCustomer",
        "description": "Creates a customer if they do not exist, or updates an existing one.\nSupports setting `defaultPayToken` (by token value) and `defaultAddress` (by address UUID).",
        "parameters": [
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The upserted customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "email": "melody.hermann@jacobson.com"
                  },
                  "properties": {
                    "email": {
                      "type": "string",
                      "example": "melody.hermann@jacobson.com"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "path",
          "name": "customerIdOrEmail",
          "description": "The customer ID, UUID, or email address",
          "example": "customer_123",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers/{customerIdOrEmail}/addresses": {
      "get": {
        "summary": "List Customer Billing Addresses",
        "operationId": "listCustomerBillingAddresses",
        "description": "Returns all unique billing addresses that have been used by a customer across their payments.\nAddresses are deduplicated using case-insensitive and whitespace-insensitive comparison.",
        "parameters": [
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
            "example": "-city",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
              "example": "-city",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of unique billing addresses for the customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "company": "Boyle and Sons",
                        "street": "6588 Nikki Meadows Apt. 034",
                        "city": "West Troystad",
                        "stateProvince": "KS",
                        "postcodeZip": "15689-0735",
                        "country": "USA"
                      },
                      {
                        "company": "Adams, Quitzon and Hauck",
                        "street": "8397 Gregg Row Apt. 029",
                        "city": "South Caleb",
                        "stateProvince": "NC",
                        "postcodeZip": "45756",
                        "country": "USA"
                      },
                      {
                        "company": "Kerluke LLC",
                        "street": "6332 Christiansen Drives",
                        "city": "Winnifredmouth",
                        "stateProvince": "NM",
                        "postcodeZip": "12510-8142",
                        "country": "USA"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "company": "Boyle and Sons",
                          "street": "6588 Nikki Meadows Apt. 034",
                          "city": "West Troystad",
                          "stateProvince": "KS",
                          "postcodeZip": "15689-0735",
                          "country": "USA"
                        },
                        {
                          "company": "Adams, Quitzon and Hauck",
                          "street": "8397 Gregg Row Apt. 029",
                          "city": "South Caleb",
                          "stateProvince": "NC",
                          "postcodeZip": "45756",
[...]
