{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.46.0"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-02-24T00:00:00+00:00",
                    "periodEnd": "2026-03-03T00:00:00+00:00",
                    "numPaymentsCreated": 4080,
                    "numPaymentsProcessed": 2155,
                    "numPaymentsIncomplete": 1925,
                    "numPaymentsWithRefunds": 919,
                    "numCardPresentPayments": 1488,
                    "numCardNotPresentPayments": 437,
                    "totalCapturedAmount": 3791440.13,
                    "totalRefundedAmount": 736997.65,
                    "totalNetCapturedAmount": 3054442.48,
                    "averageNetCapturedAmount": 1953.4385714286,
                    "minNetCapturedAmount": 18.09,
                    "maxNetCapturedAmount": 8621.34,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-02-24T00:00:00+00:00",
                        "intervalEnd": "2026-02-25T00:00:00+00:00",
                        "numPaymentsCreated": 906,
                        "numPaymentsProcessed": 323,
                        "numPaymentsIncomplete": 583,
                        "numPaymentsWithRefunds": 148,
                        "numCardPresentPayments": 64,
                        "numCardNotPresentPayments": 519,
                        "totalCapturedAmount": 237103.93,
                        "totalRefundedAmount": 24877.55,
                        "totalNetCapturedAmount": 212226.38,
                        "averageNetCapturedAmount": 657.05,
                        "minNetCapturedAmount": 68.86,
                        "maxNetCapturedAmount": 8275.4
                      },
                      {
                        "intervalStart": "2026-02-25T00:00:00+00:00",
                        "intervalEnd": "2026-02-26T00:00:00+00:00",
                        "numPaymentsCreated": 784,
                        "numPaymentsProcessed": 620,
                        "numPaymentsIncomplete": 164,
                        "numPaymentsWithRefunds": 115,
                        "numCardPresentPayments": 496,
                        "numCardNotPresentPayments": -332,
                        "totalCapturedAmount": 714921.09,
                        "totalRefundedAmount": 201282.07,
                        "totalNetCapturedAmount": 513639.02,
                        "averageNetCapturedAmount": 828.45,
                        "minNetCapturedAmount": 18.09,
                        "maxNetCapturedAmount": 6079.18
                      },
                      {
                        "intervalStart": "2026-02-26T00:00:00+00:00",
                        "intervalEnd": "2026-02-27T00:00:00+00:00",
                        "numPaymentsCreated": 509,
                        "numPaymentsProcessed": 359,
                        "numPaymentsIncomplete": 150,
                        "numPaymentsWithRefunds": 232,
                        "numCardPresentPayments": 305,
                        "numCardNotPresentPayments": -155,
                        "totalCapturedAmount": 325107.58,
                        "totalRefundedAmount": 78691.92,
                        "totalNetCapturedAmount": 246415.66,
                        "averageNetCapturedAmount": 686.39,
                        "minNetCapturedAmount": 88.42,
                        "maxNetCapturedAmount": 3930.87
                      },
                      {
                        "intervalStart": "2026-02-27T00:00:00+00:00",
                        "intervalEnd": "2026-02-28T00:00:00+00:00",
                        "numPaymentsCreated": 637,
                        "numPaymentsProcessed": 162,
                        "numPaymentsIncomplete": 475,
                        "numPaymentsWithRefunds": 105,
                        "numCardPresentPayments": 128,
                        "numCardNotPresentPayments": 347,
                        "totalCapturedAmount": 783993.84,
                        "totalRefundedAmount": 146017.45,
                        "totalNetCapturedAmount": 637976.39,
                        "averageNetCapturedAmount": 3938.13,
                        "minNetCapturedAmount": 65.7,
                        "maxNetCapturedAmount": 6901.82
                      },
                      {
                        "intervalStart": "2026-02-28T00:00:00+00:00",
                        "intervalEnd": "2026-03-01T00:00:00+00:00",
                        "numPaymentsCreated": 462,
                        "numPaymentsProcessed": 367,
                        "numPaymentsIncomplete": 95,
                        "numPaymentsWithRefunds": 234,
                        "numCardPresentPayments": 268,
                        "numCardNotPresentPayments": -173,
                        "totalCapturedAmount": 750422.19,
                        "totalRefundedAmount": 146708.26,
                        "totalNetCapturedAmount": 603713.93,
                        "averageNetCapturedAmount": 1645,
                        "minNetCapturedAmount": 44.36,
                        "maxNetCapturedAmount": 2605.46
                      },
                      {
                        "intervalStart": "2026-03-01T00:00:00+00:00",
                        "intervalEnd": "2026-03-02T00:00:00+00:00",
                        "numPaymentsCreated": 397,
                        "numPaymentsProcessed": 230,
                        "numPaymentsIncomplete": 167,
                        "numPaymentsWithRefunds": 11,
                        "numCardPresentPayments": 163,
                        "numCardNotPresentPayments": 4,
                        "totalCapturedAmount": 579188.37,
                        "totalRefundedAmount": 98758.85,
                        "totalNetCapturedAmount": 480429.52,
                        "averageNetCapturedAmount": 2088.82,
                        "minNetCapturedAmount": 36.85,
                        "maxNetCapturedAmount": 6488
                      },
                      {
                        "intervalStart": "2026-03-02T00:00:00+00:00",
                        "intervalEnd": "2026-03-03T00:00:00+00:00",
                        "numPaymentsCreated": 385,
                        "numPaymentsProcessed": 94,
                        "numPaymentsIncomplete": 291,
                        "numPaymentsWithRefunds": 74,
                        "numCardPresentPayments": 64,
                        "numCardNotPresentPayments": 227,
                        "totalCapturedAmount": 400703.13,
                        "totalRefundedAmount": 40661.55,
                        "totalNetCapturedAmount": 360041.58,
                        "averageNetCapturedAmount": 3830.23,
                        "minNetCapturedAmount": 64.91,
                        "maxNetCapturedAmount": 8621.34
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-02-24T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-03T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 4080
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 2155
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 1925
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 919
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 1488
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": 437
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 3791440.13
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 736997.65
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 3054442.48
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 1953.4385714286
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 18.09
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 8621.34
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-02-24T00:00:00+00:00",
                          "intervalEnd": "2026-02-25T00:00:00+00:00",
                          "numPaymentsCreated": 906,
                          "numPaymentsProcessed": 323,
                          "numPaymentsIncomplete": 583,
                          "numPaymentsWithRefunds": 148,
                          "numCardPresentPayments": 64,
                          "numCardNotPresentPayments": 519,
                          "totalCapturedAmount": 237103.93,
                          "totalRefundedAmount": 24877.55,
                          "totalNetCapturedAmount": 212226.38,
                          "averageNetCapturedAmount": 657.05,
                          "minNetCapturedAmount": 68.86,
                          "maxNetCapturedAmount": 8275.4
                        },
                        {
                          "intervalStart": "2026-02-25T00:00:00+00:00",
                          "intervalEnd": "2026-02-26T00:00:00+00:00",
                          "numPaymentsCreated": 784,
                          "numPaymentsProcessed": 620,
                          "numPaymentsIncomplete": 164,
                          "numPaymentsWithRefunds": 115,
                          "numCardPresentPayments": 496,
                          "numCardNotPresentPayments": -332,
                          "totalCapturedAmount": 714921.09,
                          "totalRefundedAmount": 201282.07,
                          "totalNetCapturedAmount": 513639.02,
                          "averageNetCapturedAmount": 828.45,
                          "minNetCapturedAmount": 18.09,
                          "maxNetCapturedAmount": 6079.18
                        },
                        {
                          "intervalStart": "2026-02-26T00:00:00+00:00",
                          "intervalEnd": "2026-02-27T00:00:00+00:00",
                          "numPaymentsCreated": 509,
                          "numPaymentsProcessed": 359,
                          "numPaymentsIncomplete": 150,
                          "numPaymentsWithRefunds": 232,
                          "numCardPresentPayments": 305,
                          "numCardNotPresentPayments": -155,
                          "totalCapturedAmount": 325107.58,
                          "totalRefundedAmount": 78691.92,
                          "totalNetCapturedAmount": 246415.66,
                          "averageNetCapturedAmount": 686.39,
                          "minNetCapturedAmount": 88.42,
                          "maxNetCapturedAmount": 3930.87
                        },
                        {
                          "intervalStart": "2026-02-27T00:00:00+00:00",
                          "intervalEnd": "2026-02-28T00:00:00+00:00",
                          "numPaymentsCreated": 637,
                          "numPaymentsProcessed": 162,
                          "numPaymentsIncomplete": 475,
                          "numPaymentsWithRefunds": 105,
                          "numCardPresentPayments": 128,
                          "numCardNotPresentPayments": 347,
                          "totalCapturedAmount": 783993.84,
                          "totalRefundedAmount": 146017.45,
                          "totalNetCapturedAmount": 637976.39,
                          "averageNetCapturedAmount": 3938.13,
                          "minNetCapturedAmount": 65.7,
                          "maxNetCapturedAmount": 6901.82
                        },
                        {
                          "intervalStart": "2026-02-28T00:00:00+00:00",
                          "intervalEnd": "2026-03-01T00:00:00+00:00",
                          "numPaymentsCreated": 462,
                          "numPaymentsProcessed": 367,
                          "numPaymentsIncomplete": 95,
                          "numPaymentsWithRefunds": 234,
                          "numCardPresentPayments": 268,
                          "numCardNotPresentPayments": -173,
                          "totalCapturedAmount": 750422.19,
                          "totalRefundedAmount": 146708.26,
                          "totalNetCapturedAmount": 603713.93,
                          "averageNetCapturedAmount": 1645,
                          "minNetCapturedAmount": 44.36,
                          "maxNetCapturedAmount": 2605.46
                        },
                        {
                          "intervalStart": "2026-03-01T00:00:00+00:00",
                          "intervalEnd": "2026-03-02T00:00:00+00:00",
                          "numPaymentsCreated": 397,
                          "numPaymentsProcessed": 230,
                          "numPaymentsIncomplete": 167,
                          "numPaymentsWithRefunds": 11,
                          "numCardPresentPayments": 163,
                          "numCardNotPresentPayments": 4,
                          "totalCapturedAmount": 579188.37,
                          "totalRefundedAmount": 98758.85,
                          "totalNetCapturedAmount": 480429.52,
                          "averageNetCapturedAmount": 2088.82,
                          "minNetCapturedAmount": 36.85,
                          "maxNetCapturedAmount": 6488
                        },
                        {
                          "intervalStart": "2026-03-02T00:00:00+00:00",
                          "intervalEnd": "2026-03-03T00:00:00+00:00",
                          "numPaymentsCreated": 385,
                          "numPaymentsProcessed": 94,
                          "numPaymentsIncomplete": 291,
                          "numPaymentsWithRefunds": 74,
                          "numCardPresentPayments": 64,
                          "numCardNotPresentPayments": 227,
                          "totalCapturedAmount": 400703.13,
                          "totalRefundedAmount": 40661.55,
                          "totalNetCapturedAmount": 360041.58,
                          "averageNetCapturedAmount": 3830.23,
                          "minNetCapturedAmount": 64.91,
                          "maxNetCapturedAmount": 8621.34
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-02-24T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-02-25T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 906
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 323
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 583
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 148
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 64
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": 519
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 237103.93
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 24877.55
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 212226.38
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 657.05
                          },
                          "minNetCapturedAmount": {
                            "type": "number",
                            "example": 68.86
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 8275.4
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-02-24T00:00:00+00:00",
                    "periodEnd": "2026-03-03T00:00:00+00:00",
                    "activeCustomers": 300,
                    "newCustomers": 244,
                    "returningCustomers": 56,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-02-24T00:00:00+00:00",
                        "intervalEnd": "2026-02-25T00:00:00+00:00",
                        "activeCustomers": 20,
                        "newCustomers": 12,
                        "returningCustomers": 8
                      },
                      {
                        "intervalStart": "2026-02-25T00:00:00+00:00",
                        "intervalEnd": "2026-02-26T00:00:00+00:00",
                        "activeCustomers": 90,
                        "newCustomers": 87,
                        "returningCustomers": 3
                      },
                      {
                        "intervalStart": "2026-02-26T00:00:00+00:00",
                        "intervalEnd": "2026-02-27T00:00:00+00:00",
                        "activeCustomers": 20,
                        "newCustomers": 7,
                        "returningCustomers": 13
                      },
                      {
                        "intervalStart": "2026-02-27T00:00:00+00:00",
                        "intervalEnd": "2026-02-28T00:00:00+00:00",
                        "activeCustomers": 46,
                        "newCustomers": 8,
                        "returningCustomers": 38
                      },
                      {
                        "intervalStart": "2026-02-28T00:00:00+00:00",
                        "intervalEnd": "2026-03-01T00:00:00+00:00",
                        "activeCustomers": 66,
                        "newCustomers": 48,
                        "returningCustomers": 18
                      },
                      {
                        "intervalStart": "2026-03-01T00:00:00+00:00",
                        "intervalEnd": "2026-03-02T00:00:00+00:00",
                        "activeCustomers": 36,
                        "newCustomers": 33,
                        "returningCustomers": 3
                      },
                      {
                        "intervalStart": "2026-03-02T00:00:00+00:00",
                        "intervalEnd": "2026-03-03T00:00:00+00:00",
                        "activeCustomers": 94,
                        "newCustomers": 49,
                        "returningCustomers": 45
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-02-24T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-03T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 300
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 244
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": 56
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-02-24T00:00:00+00:00",
                          "intervalEnd": "2026-02-25T00:00:00+00:00",
                          "activeCustomers": 20,
                          "newCustomers": 12,
                          "returningCustomers": 8
                        },
                        {
                          "intervalStart": "2026-02-25T00:00:00+00:00",
                          "intervalEnd": "2026-02-26T00:00:00+00:00",
                          "activeCustomers": 90,
                          "newCustomers": 87,
                          "returningCustomers": 3
                        },
                        {
                          "intervalStart": "2026-02-26T00:00:00+00:00",
                          "intervalEnd": "2026-02-27T00:00:00+00:00",
                          "activeCustomers": 20,
                          "newCustomers": 7,
                          "returningCustomers": 13
                        },
                        {
                          "intervalStart": "2026-02-27T00:00:00+00:00",
                          "intervalEnd": "2026-02-28T00:00:00+00:00",
                          "activeCustomers": 46,
                          "newCustomers": 8,
                          "returningCustomers": 38
                        },
                        {
                          "intervalStart": "2026-02-28T00:00:00+00:00",
                          "intervalEnd": "2026-03-01T00:00:00+00:00",
                          "activeCustomers": 66,
                          "newCustomers": 48,
                          "returningCustomers": 18
                        },
                        {
                          "intervalStart": "2026-03-01T00:00:00+00:00",
                          "intervalEnd": "2026-03-02T00:00:00+00:00",
                          "activeCustomers": 36,
                          "newCustomers": 33,
                          "returningCustomers": 3
                        },
                        {
                          "intervalStart": "2026-03-02T00:00:00+00:00",
                          "intervalEnd": "2026-03-03T00:00:00+00:00",
                          "activeCustomers": 94,
                          "newCustomers": 49,
                          "returningCustomers": 45
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-02-24T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-02-25T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 20
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 12
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 8
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-02-24T00:00:00+00:00",
                    "periodEnd": "2026-03-03T00:00:00+00:00",
                    "totalTransactions": 3478,
                    "authorizeTransactions": 211,
                    "captureTransactions": 240,
                    "payTransactions": 1652,
                    "refundTransactions": 599,
                    "verifyTransactions": 314,
                    "voidTransactions": 462,
                    "successfulTransactions": 3128,
                    "failedTransactions": 269,
                    "declinedTransactions": 69,
                    "pendingTransactions": 12,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-02-24T00:00:00+00:00",
                        "intervalEnd": "2026-02-25T00:00:00+00:00",
                        "totalTransactions": 568,
                        "authorizeTransactions": 36,
                        "captureTransactions": 37,
                        "payTransactions": 334,
                        "refundTransactions": 24,
                        "verifyTransactions": 80,
                        "voidTransactions": 57,
                        "successfulTransactions": 511,
                        "failedTransactions": 47,
                        "declinedTransactions": 9,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-02-25T00:00:00+00:00",
                        "intervalEnd": "2026-02-26T00:00:00+00:00",
                        "totalTransactions": 568,
                        "authorizeTransactions": 20,
                        "captureTransactions": 22,
                        "payTransactions": 237,
                        "refundTransactions": 208,
                        "verifyTransactions": 60,
                        "voidTransactions": 21,
                        "successfulTransactions": 511,
                        "failedTransactions": 46,
                        "declinedTransactions": 7,
                        "pendingTransactions": 4,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-02-26T00:00:00+00:00",
                        "intervalEnd": "2026-02-27T00:00:00+00:00",
                        "totalTransactions": 490,
                        "authorizeTransactions": 19,
                        "captureTransactions": 28,
                        "payTransactions": 432,
                        "refundTransactions": 9,
                        "verifyTransactions": 5,
                        "voidTransactions": -3,
                        "successfulTransactions": 441,
                        "failedTransactions": 39,
                        "declinedTransactions": 9,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-02-27T00:00:00+00:00",
                        "intervalEnd": "2026-02-28T00:00:00+00:00",
                        "totalTransactions": 226,
                        "authorizeTransactions": 15,
                        "captureTransactions": 22,
                        "payTransactions": 50,
                        "refundTransactions": 13,
                        "verifyTransactions": 123,
                        "voidTransactions": 3,
                        "successfulTransactions": 203,
                        "failedTransactions": 17,
                        "declinedTransactions": 5,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-02-28T00:00:00+00:00",
                        "intervalEnd": "2026-03-01T00:00:00+00:00",
                        "totalTransactions": 548,
                        "authorizeTransactions": 52,
                        "captureTransactions": 53,
                        "payTransactions": 329,
                        "refundTransactions": 79,
                        "verifyTransactions": 14,
                        "voidTransactions": 21,
                        "successfulTransactions": 493,
                        "failedTransactions": 44,
                        "declinedTransactions": 10,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-01T00:00:00+00:00",
                        "intervalEnd": "2026-03-02T00:00:00+00:00",
                        "totalTransactions": 173,
                        "authorizeTransactions": 15,
                        "captureTransactions": 18,
                        "payTransactions": 106,
                        "refundTransactions": 32,
                        "verifyTransactions": 5,
                        "voidTransactions": -3,
                        "successfulTransactions": 155,
                        "failedTransactions": 13,
                        "declinedTransactions": 4,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-02T00:00:00+00:00",
                        "intervalEnd": "2026-03-03T00:00:00+00:00",
                        "totalTransactions": 905,
                        "authorizeTransactions": 54,
                        "captureTransactions": 60,
                        "payTransactions": 164,
                        "refundTransactions": 234,
                        "verifyTransactions": 27,
                        "voidTransactions": 366,
                        "successfulTransactions": 814,
                        "failedTransactions": 63,
                        "declinedTransactions": 25,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-02-24T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-03T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 3478
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 211
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 240
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 1652
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 599
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 314
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 462
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 3128
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 269
                    },
                    "declinedTransactions": {
                      "type": "integer",
                      "example": 69
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 12
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-02-24T00:00:00+00:00",
                          "intervalEnd": "2026-02-25T00:00:00+00:00",
                          "totalTransactions": 568,
                          "authorizeTransactions": 36,
                          "captureTransactions": 37,
                          "payTransactions": 334,
                          "refundTransactions": 24,
                          "verifyTransactions": 80,
                          "voidTransactions": 57,
                          "successfulTransactions": 511,
                          "failedTransactions": 47,
                          "declinedTransactions": 9,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-02-25T00:00:00+00:00",
                          "intervalEnd": "2026-02-26T00:00:00+00:00",
                          "totalTransactions": 568,
                          "authorizeTransactions": 20,
                          "captureTransactions": 22,
                          "payTransactions": 237,
                          "refundTransactions": 208,
                          "verifyTransactions": 60,
                          "voidTransactions": 21,
                          "successfulTransactions": 511,
                          "failedTransactions": 46,
                          "declinedTransactions": 7,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-02-26T00:00:00+00:00",
                          "intervalEnd": "2026-02-27T00:00:00+00:00",
                          "totalTransactions": 490,
                          "authorizeTransactions": 19,
                          "captureTransactions": 28,
                          "payTransactions": 432,
                          "refundTransactions": 9,
                          "verifyTransactions": 5,
                          "voidTransactions": -3,
                          "successfulTransactions": 441,
                          "failedTransactions": 39,
                          "declinedTransactions": 9,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-02-27T00:00:00+00:00",
                          "intervalEnd": "2026-02-28T00:00:00+00:00",
                          "totalTransactions": 226,
                          "authorizeTransactions": 15,
                          "captureTransactions": 22,
                          "payTransactions": 50,
                          "refundTransactions": 13,
                          "verifyTransactions": 123,
                          "voidTransactions": 3,
                          "successfulTransactions": 203,
                          "failedTransactions": 17,
                          "declinedTransactions": 5,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-02-28T00:00:00+00:00",
                          "intervalEnd": "2026-03-01T00:00:00+00:00",
                          "totalTransactions": 548,
                          "authorizeTransactions": 52,
                          "captureTransactions": 53,
                          "payTransactions": 329,
                          "refundTransactions": 79,
                          "verifyTransactions": 14,
                          "voidTransactions": 21,
                          "successfulTransactions": 493,
                          "failedTransactions": 44,
                          "declinedTransactions": 10,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-01T00:00:00+00:00",
                          "intervalEnd": "2026-03-02T00:00:00+00:00",
                          "totalTransactions": 173,
                          "authorizeTransactions": 15,
                          "captureTransactions": 18,
                          "payTransactions": 106,
                          "refundTransactions": 32,
                          "verifyTransactions": 5,
                          "voidTransactions": -3,
                          "successfulTransactions": 155,
                          "failedTransactions": 13,
                          "declinedTransactions": 4,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-02T00:00:00+00:00",
                          "intervalEnd": "2026-03-03T00:00:00+00:00",
                          "totalTransactions": 905,
                          "authorizeTransactions": 54,
                          "captureTransactions": 60,
                          "payTransactions": 164,
                          "refundTransactions": 234,
                          "verifyTransactions": 27,
                          "voidTransactions": 366,
                          "successfulTransactions": 814,
                          "failedTransactions": 63,
                          "declinedTransactions": 25,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-02-24T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-02-25T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 568
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 36
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 37
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 334
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 24
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 80
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": 57
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 511
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 47
                          },
                          "declinedTransactions": {
                            "type": "integer",
                            "example": 9
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 1
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-02-24T00:00:00+00:00",
                    "periodEnd": "2026-03-03T00:00:00+00:00",
                    "totalSettlementAmount": 45217.51,
                    "totalFeeAmount": 2215.65799,
                    "totalNetAmount": 43001.85201,
                    "totalTransactionsPending": 174,
                    "totalTransactionsSettled": 868,
                    "totalTransactionsSettling": 1092,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-02-24T00:00:00+00:00",
                        "intervalEnd": "2026-02-25T00:00:00+00:00",
                        "totalSettlementAmount": 4398.83,
                        "totalFeeAmount": 215.54267,
                        "totalNetAmount": 4183.28733,
                        "totalTransactionsPending": 34,
                        "totalTransactionsSettled": 172,
                        "totalTransactionsSettling": 111
                      },
                      {
                        "intervalStart": "2026-02-25T00:00:00+00:00",
                        "intervalEnd": "2026-02-26T00:00:00+00:00",
                        "totalSettlementAmount": 3035.13,
                        "totalFeeAmount": 148.72137,
                        "totalNetAmount": 2886.40863,
                        "totalTransactionsPending": 10,
                        "totalTransactionsSettled": 160,
                        "totalTransactionsSettling": 190
                      },
                      {
                        "intervalStart": "2026-02-26T00:00:00+00:00",
                        "intervalEnd": "2026-02-27T00:00:00+00:00",
                        "totalSettlementAmount": 7927.03,
                        "totalFeeAmount": 388.42447,
                        "totalNetAmount": 7538.60553,
                        "totalTransactionsPending": 16,
                        "totalTransactionsSettled": 171,
                        "totalTransactionsSettling": 71
                      },
                      {
                        "intervalStart": "2026-02-27T00:00:00+00:00",
                        "intervalEnd": "2026-02-28T00:00:00+00:00",
                        "totalSettlementAmount": 9070.01,
                        "totalFeeAmount": 444.43049,
                        "totalNetAmount": 8625.57951,
                        "totalTransactionsPending": 22,
                        "totalTransactionsSettled": 217,
                        "totalTransactionsSettling": 110
                      },
                      {
                        "intervalStart": "2026-02-28T00:00:00+00:00",
                        "intervalEnd": "2026-03-01T00:00:00+00:00",
                        "totalSettlementAmount": 9496.94,
                        "totalFeeAmount": 465.35006,
                        "totalNetAmount": 9031.58994,
                        "totalTransactionsPending": 27,
                        "totalTransactionsSettled": 49,
                        "totalTransactionsSettling": 402
                      },
                      {
                        "intervalStart": "2026-03-01T00:00:00+00:00",
                        "intervalEnd": "2026-03-02T00:00:00+00:00",
                        "totalSettlementAmount": 3454.35,
                        "totalFeeAmount": 169.26315,
                        "totalNetAmount": 3285.08685,
                        "totalTransactionsPending": 34,
                        "totalTransactionsSettled": 48,
                        "totalTransactionsSettling": 29
                      },
                      {
                        "intervalStart": "2026-03-02T00:00:00+00:00",
                        "intervalEnd": "2026-03-03T00:00:00+00:00",
                        "totalSettlementAmount": 7835.22,
                        "totalFeeAmount": 383.92578,
                        "totalNetAmount": 7451.29422,
                        "totalTransactionsPending": 31,
                        "totalTransactionsSettled": 51,
                        "totalTransactionsSettling": 179
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-02-24T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-03T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 45217.51
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 2215.65799
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 43001.85201
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 174
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 868
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 1092
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-02-24T00:00:00+00:00",
                          "intervalEnd": "2026-02-25T00:00:00+00:00",
                          "totalSettlementAmount": 4398.83,
                          "totalFeeAmount": 215.54267,
                          "totalNetAmount": 4183.28733,
                          "totalTransactionsPending": 34,
                          "totalTransactionsSettled": 172,
                          "totalTransactionsSettling": 111
                        },
                        {
                          "intervalStart": "2026-02-25T00:00:00+00:00",
                          "intervalEnd": "2026-02-26T00:00:00+00:00",
                          "totalSettlementAmount": 3035.13,
                          "totalFeeAmount": 148.72137,
                          "totalNetAmount": 2886.40863,
                          "totalTransactionsPending": 10,
                          "totalTransactionsSettled": 160,
                          "totalTransactionsSettling": 190
                        },
                        {
                          "intervalStart": "2026-02-26T00:00:00+00:00",
                          "intervalEnd": "2026-02-27T00:00:00+00:00",
                          "totalSettlementAmount": 7927.03,
                          "totalFeeAmount": 388.42447,
                          "totalNetAmount": 7538.60553,
                          "totalTransactionsPending": 16,
                          "totalTransactionsSettled": 171,
                          "totalTransactionsSettling": 71
                        },
                        {
                          "intervalStart": "2026-02-27T00:00:00+00:00",
                          "intervalEnd": "2026-02-28T00:00:00+00:00",
                          "totalSettlementAmount": 9070.01,
                          "totalFeeAmount": 444.43049,
                          "totalNetAmount": 8625.57951,
                          "totalTransactionsPending": 22,
                          "totalTransactionsSettled": 217,
                          "totalTransactionsSettling": 110
                        },
                        {
                          "intervalStart": "2026-02-28T00:00:00+00:00",
                          "intervalEnd": "2026-03-01T00:00:00+00:00",
                          "totalSettlementAmount": 9496.94,
                          "totalFeeAmount": 465.35006,
                          "totalNetAmount": 9031.58994,
                          "totalTransactionsPending": 27,
                          "totalTransactionsSettled": 49,
                          "totalTransactionsSettling": 402
                        },
                        {
                          "intervalStart": "2026-03-01T00:00:00+00:00",
                          "intervalEnd": "2026-03-02T00:00:00+00:00",
                          "totalSettlementAmount": 3454.35,
                          "totalFeeAmount": 169.26315,
                          "totalNetAmount": 3285.08685,
                          "totalTransactionsPending": 34,
                          "totalTransactionsSettled": 48,
                          "totalTransactionsSettling": 29
                        },
                        {
                          "intervalStart": "2026-03-02T00:00:00+00:00",
                          "intervalEnd": "2026-03-03T00:00:00+00:00",
                          "totalSettlementAmount": 7835.22,
                          "totalFeeAmount": 383.92578,
                          "totalNetAmount": 7451.29422,
                          "totalTransactionsPending": 31,
                          "totalTransactionsSettled": 51,
                          "totalTransactionsSettling": 179
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-02-24T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-02-25T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 4398.83
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 215.54267
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 4183.28733
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 34
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 172
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 111
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 5,
                    "data": [
                      {
                        "email": "rodriguez.marquis@cassin.info",
                        "firstName": "Justice",
                        "lastName": "Adams",
                        "phone": "+14199200111",
                        "dateOfBirth": "1989-09-08"
                      },
                      {
                        "email": "marcia.cole@kilback.com",
                        "firstName": "Cristobal",
                        "lastName": "Conn",
                        "phone": "+12282316882",
                        "dateOfBirth": "2003-01-18"
                      },
                      {
                        "email": "deckow.lavonne@yahoo.com",
                        "firstName": "Maymie",
                        "lastName": "Stamm",
                        "phone": "+15104793367",
                        "dateOfBirth": "1994-04-27"
                      },
                      {
                        "email": "stacey31@hotmail.com",
                        "firstName": "Helena",
                        "lastName": "Ullrich",
                        "phone": "+14589095920",
                        "dateOfBirth": "1991-01-08"
                      },
                      {
                        "email": "norma.spinka@yahoo.com",
                        "firstName": "Eli",
                        "lastName": "Dooley",
                        "phone": "+19549270427",
                        "dateOfBirth": "2000-03-27"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 5,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "rodriguez.marquis@cassin.info",
                          "firstName": "Justice",
                          "lastName": "Adams",
                          "phone": "+14199200111",
                          "dateOfBirth": "1989-09-08"
                        },
                        {
                          "email": "marcia.cole@kilback.com",
                          "firstName": "Cristobal",
                          "lastName": "Conn",
                          "phone": "+12282316882",
                          "dateOfBirth": "2003-01-18"
                        },
                        {
                          "email": "deckow.lavonne@yahoo.com",
                          "firstName": "Maymie",
                          "lastName": "Stamm",
                          "phone": "+15104793367",
                          "dateOfBirth": "1994-04-27"
                        },
                        {
                          "email": "stacey31@hotmail.com",
                          "firstName": "Helena",
                          "lastName": "Ullrich",
                          "phone": "+14589095920",
                          "dateOfBirth": "1991-01-08"
                        },
                        {
                          "email": "norma.spinka@yahoo.com",
                          "firstName": "Eli",
                          "lastName": "Dooley",
                          "phone": "+19549270427",
                          "dateOfBirth": "2000-03-27"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "rodriguez.marquis@cassin.info"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Justice"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Adams"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+14199200111"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "1989-09-08"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers/{customerIdOrEmail}/addresses": {
      "get": {
        "summary": "List Customer Billing Addresses",
        "operationId": "listCustomerBillingAddresses",
        "description": "Returns all unique billing addresses that have been used by a customer across their payments.\nAddresses are deduplicated using case-insensitive and whitespace-insensitive comparison.",
        "parameters": [
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
            "example": "-city",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
              "example": "-city",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of unique billing addresses for the customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "company": "Parker-Moore",
                        "street": "662 Will Junctions",
                        "city": "East Saige",
                        "stateProvince": "MT",
                        "postcodeZip": "41474-3170",
                        "country": "USA"
                      },
                      {
                        "company": "Berge LLC",
                        "street": "9218 Boyer Cape",
                        "city": "Hahnport",
                        "stateProvince": "IA",
                        "postcodeZip": "03875",
                        "country": "USA"
                      },
                      {
                        "company": "Mayer-Carroll",
                        "street": "5513 Garfield Mountain Apt. 351",
                        "city": "Rowenaburgh",
                        "stateProvince": "AR",
                        "postcodeZip": "81446-1526",
                        "country": "USA"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "company": "Parker-Moore",
                          "street": "662 Will Junctions",
                          "city": "East Saige",
                          "stateProvince": "MT",
                          "postcodeZip": "41474-3170",
                          "country": "USA"
                        },
                        {
                          "company": "Berge LLC",
                          "street": "9218 Boyer Cape",
                          "city": "Hahnport",
                          "stateProvince": "IA",
                          "postcodeZip": "03875",
                          "country": "USA"
                        },
                        {
                          "company": "Mayer-Carroll",
                          "street": "5513 Garfield Mountain Apt. 351",
                          "city": "Rowenaburgh",
                          "stateProvince": "AR",
                          "postcodeZip": "81446-1526",
                          "country": "USA"
                        }
                      ],
                      "description": "The data returned from the request",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "company": {
                            "type": "string",
                            "example": "Parker-Moore"
                          },
                          "street": {
                            "type": "string",
                            "example": "662 Will Junctions"
                          },
                          "city": {
                            "type": "string",
                            "example": "East Saige"
                          },
                          "stateProvince": {
                            "type": "string",
                            "example": "MT"
                          },
                          "postcodeZip": {
                            "type": "string",
                            "example": "41474-3170"
                          },
                          "country": {
                            "type": "string",
                            "example": "USA"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "path",
          "name": "customerIdOrEmail",
          "description": "The customer ID, UUID, or email address",
          "example": "customer_123",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/simulated/terminals": {
      "get": {
        "summary": "Get all available simulated terminals.",
        "operationId": "getAllAvailableSimulatedTerminals",
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of available simulated terminals",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "title": "Success",
                        "description": "Approves all card present transactions successfully.",
                        "tid": "SUCCESS",
                        "readyForProcessing": true,
                        "provider": "SIMULATED",
                        "type": "CARD_PRESENT"
                      },
                      {
                        "title": "Transaction Declined",
[...]
