{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.65.2"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payout Exports",
      "description": "Create payout exports"
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-15T00:00:00+00:00",
                    "periodEnd": "2026-04-22T00:00:00+00:00",
                    "numPaymentsCreated": 4244,
                    "numPaymentsProcessed": 2253,
                    "numPaymentsIncomplete": 1991,
                    "numPaymentsWithRefunds": 471,
                    "numCardPresentPayments": 1028,
                    "numCardNotPresentPayments": 963,
                    "totalCapturedAmount": 3646849.83,
                    "totalRefundedAmount": 701199.56,
                    "totalNetCapturedAmount": 2945650.27,
                    "averageNetCapturedAmount": 2215.5785714286,
                    "minNetCapturedAmount": 26.24,
                    "maxNetCapturedAmount": 8832.83,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-15T00:00:00+00:00",
                        "intervalEnd": "2026-04-16T00:00:00+00:00",
                        "numPaymentsCreated": 649,
                        "numPaymentsProcessed": 470,
                        "numPaymentsIncomplete": 179,
                        "numPaymentsWithRefunds": 93,
                        "numCardPresentPayments": 154,
                        "numCardNotPresentPayments": 25,
                        "totalCapturedAmount": 259982.77,
                        "totalRefundedAmount": 62778.44,
                        "totalNetCapturedAmount": 197204.33,
                        "averageNetCapturedAmount": 419.58,
                        "minNetCapturedAmount": 68.07,
                        "maxNetCapturedAmount": 3873.97
                      },
                      {
                        "intervalStart": "2026-04-16T00:00:00+00:00",
                        "intervalEnd": "2026-04-17T00:00:00+00:00",
                        "numPaymentsCreated": 779,
                        "numPaymentsProcessed": 685,
                        "numPaymentsIncomplete": 94,
                        "numPaymentsWithRefunds": 47,
                        "numCardPresentPayments": 480,
                        "numCardNotPresentPayments": -386,
                        "totalCapturedAmount": 782715.06,
                        "totalRefundedAmount": 194058.35,
                        "totalNetCapturedAmount": 588656.71,
                        "averageNetCapturedAmount": 859.35,
                        "minNetCapturedAmount": 60.16,
                        "maxNetCapturedAmount": 8432.51
                      },
                      {
                        "intervalStart": "2026-04-17T00:00:00+00:00",
                        "intervalEnd": "2026-04-18T00:00:00+00:00",
                        "numPaymentsCreated": 900,
                        "numPaymentsProcessed": 238,
                        "numPaymentsIncomplete": 662,
                        "numPaymentsWithRefunds": 43,
                        "numCardPresentPayments": 71,
                        "numCardNotPresentPayments": 591,
                        "totalCapturedAmount": 588477.36,
                        "totalRefundedAmount": 164984.45,
                        "totalNetCapturedAmount": 423492.91,
                        "averageNetCapturedAmount": 1779.38,
                        "minNetCapturedAmount": 97.32,
                        "maxNetCapturedAmount": 8832.83
                      },
                      {
                        "intervalStart": "2026-04-18T00:00:00+00:00",
                        "intervalEnd": "2026-04-19T00:00:00+00:00",
                        "numPaymentsCreated": 435,
                        "numPaymentsProcessed": 123,
                        "numPaymentsIncomplete": 312,
                        "numPaymentsWithRefunds": 91,
                        "numCardPresentPayments": 13,
                        "numCardNotPresentPayments": 299,
                        "totalCapturedAmount": 695387.69,
                        "totalRefundedAmount": 43106.25,
                        "totalNetCapturedAmount": 652281.44,
                        "averageNetCapturedAmount": 5303.1,
                        "minNetCapturedAmount": 84.3,
                        "maxNetCapturedAmount": 7846.87
                      },
                      {
                        "intervalStart": "2026-04-19T00:00:00+00:00",
                        "intervalEnd": "2026-04-20T00:00:00+00:00",
                        "numPaymentsCreated": 225,
                        "numPaymentsProcessed": 124,
                        "numPaymentsIncomplete": 101,
                        "numPaymentsWithRefunds": 10,
                        "numCardPresentPayments": 19,
                        "numCardNotPresentPayments": 82,
                        "totalCapturedAmount": 193135.97,
                        "totalRefundedAmount": 39521.77,
                        "totalNetCapturedAmount": 153614.2,
                        "averageNetCapturedAmount": 1238.82,
                        "minNetCapturedAmount": 26.3,
                        "maxNetCapturedAmount": 5010.34
                      },
                      {
                        "intervalStart": "2026-04-20T00:00:00+00:00",
                        "intervalEnd": "2026-04-21T00:00:00+00:00",
                        "numPaymentsCreated": 708,
                        "numPaymentsProcessed": 126,
                        "numPaymentsIncomplete": 582,
                        "numPaymentsWithRefunds": 65,
                        "numCardPresentPayments": 75,
                        "numCardNotPresentPayments": 507,
                        "totalCapturedAmount": 850009.18,
                        "totalRefundedAmount": 170378.68,
                        "totalNetCapturedAmount": 679630.5,
                        "averageNetCapturedAmount": 5393.89,
                        "minNetCapturedAmount": 26.24,
                        "maxNetCapturedAmount": 1687.77
                      },
                      {
                        "intervalStart": "2026-04-21T00:00:00+00:00",
                        "intervalEnd": "2026-04-22T00:00:00+00:00",
                        "numPaymentsCreated": 548,
                        "numPaymentsProcessed": 487,
                        "numPaymentsIncomplete": 61,
                        "numPaymentsWithRefunds": 122,
                        "numCardPresentPayments": 216,
                        "numCardNotPresentPayments": -155,
                        "totalCapturedAmount": 277141.8,
                        "totalRefundedAmount": 26371.62,
                        "totalNetCapturedAmount": 250770.18,
                        "averageNetCapturedAmount": 514.93,
                        "minNetCapturedAmount": 43.89,
                        "maxNetCapturedAmount": 3292.19
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-15T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-22T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 4244
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 2253
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 1991
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 471
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 1028
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": 963
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 3646849.83
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 701199.56
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 2945650.27
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 2215.5785714286
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 26.24
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 8832.83
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-15T00:00:00+00:00",
                          "intervalEnd": "2026-04-16T00:00:00+00:00",
                          "numPaymentsCreated": 649,
                          "numPaymentsProcessed": 470,
                          "numPaymentsIncomplete": 179,
                          "numPaymentsWithRefunds": 93,
                          "numCardPresentPayments": 154,
                          "numCardNotPresentPayments": 25,
                          "totalCapturedAmount": 259982.77,
                          "totalRefundedAmount": 62778.44,
                          "totalNetCapturedAmount": 197204.33,
                          "averageNetCapturedAmount": 419.58,
                          "minNetCapturedAmount": 68.07,
                          "maxNetCapturedAmount": 3873.97
                        },
                        {
                          "intervalStart": "2026-04-16T00:00:00+00:00",
                          "intervalEnd": "2026-04-17T00:00:00+00:00",
                          "numPaymentsCreated": 779,
                          "numPaymentsProcessed": 685,
                          "numPaymentsIncomplete": 94,
                          "numPaymentsWithRefunds": 47,
                          "numCardPresentPayments": 480,
                          "numCardNotPresentPayments": -386,
                          "totalCapturedAmount": 782715.06,
                          "totalRefundedAmount": 194058.35,
                          "totalNetCapturedAmount": 588656.71,
                          "averageNetCapturedAmount": 859.35,
                          "minNetCapturedAmount": 60.16,
                          "maxNetCapturedAmount": 8432.51
                        },
                        {
                          "intervalStart": "2026-04-17T00:00:00+00:00",
                          "intervalEnd": "2026-04-18T00:00:00+00:00",
                          "numPaymentsCreated": 900,
                          "numPaymentsProcessed": 238,
                          "numPaymentsIncomplete": 662,
                          "numPaymentsWithRefunds": 43,
                          "numCardPresentPayments": 71,
                          "numCardNotPresentPayments": 591,
                          "totalCapturedAmount": 588477.36,
                          "totalRefundedAmount": 164984.45,
                          "totalNetCapturedAmount": 423492.91,
                          "averageNetCapturedAmount": 1779.38,
                          "minNetCapturedAmount": 97.32,
                          "maxNetCapturedAmount": 8832.83
                        },
                        {
                          "intervalStart": "2026-04-18T00:00:00+00:00",
                          "intervalEnd": "2026-04-19T00:00:00+00:00",
                          "numPaymentsCreated": 435,
                          "numPaymentsProcessed": 123,
                          "numPaymentsIncomplete": 312,
                          "numPaymentsWithRefunds": 91,
                          "numCardPresentPayments": 13,
                          "numCardNotPresentPayments": 299,
                          "totalCapturedAmount": 695387.69,
                          "totalRefundedAmount": 43106.25,
                          "totalNetCapturedAmount": 652281.44,
                          "averageNetCapturedAmount": 5303.1,
                          "minNetCapturedAmount": 84.3,
                          "maxNetCapturedAmount": 7846.87
                        },
                        {
                          "intervalStart": "2026-04-19T00:00:00+00:00",
                          "intervalEnd": "2026-04-20T00:00:00+00:00",
                          "numPaymentsCreated": 225,
                          "numPaymentsProcessed": 124,
                          "numPaymentsIncomplete": 101,
                          "numPaymentsWithRefunds": 10,
                          "numCardPresentPayments": 19,
                          "numCardNotPresentPayments": 82,
                          "totalCapturedAmount": 193135.97,
                          "totalRefundedAmount": 39521.77,
                          "totalNetCapturedAmount": 153614.2,
                          "averageNetCapturedAmount": 1238.82,
                          "minNetCapturedAmount": 26.3,
                          "maxNetCapturedAmount": 5010.34
                        },
                        {
                          "intervalStart": "2026-04-20T00:00:00+00:00",
                          "intervalEnd": "2026-04-21T00:00:00+00:00",
                          "numPaymentsCreated": 708,
                          "numPaymentsProcessed": 126,
                          "numPaymentsIncomplete": 582,
                          "numPaymentsWithRefunds": 65,
                          "numCardPresentPayments": 75,
                          "numCardNotPresentPayments": 507,
                          "totalCapturedAmount": 850009.18,
                          "totalRefundedAmount": 170378.68,
                          "totalNetCapturedAmount": 679630.5,
                          "averageNetCapturedAmount": 5393.89,
                          "minNetCapturedAmount": 26.24,
                          "maxNetCapturedAmount": 1687.77
                        },
                        {
                          "intervalStart": "2026-04-21T00:00:00+00:00",
                          "intervalEnd": "2026-04-22T00:00:00+00:00",
                          "numPaymentsCreated": 548,
                          "numPaymentsProcessed": 487,
                          "numPaymentsIncomplete": 61,
                          "numPaymentsWithRefunds": 122,
                          "numCardPresentPayments": 216,
                          "numCardNotPresentPayments": -155,
                          "totalCapturedAmount": 277141.8,
                          "totalRefundedAmount": 26371.62,
                          "totalNetCapturedAmount": 250770.18,
                          "averageNetCapturedAmount": 514.93,
                          "minNetCapturedAmount": 43.89,
                          "maxNetCapturedAmount": 3292.19
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-15T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-16T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 649
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 470
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 179
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 93
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 154
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": 25
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 259982.77
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 62778.44
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 197204.33
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 419.58
                          },
                          "minNetCapturedAmount": {
                            "type": "number",
                            "example": 68.07
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 3873.97
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-15T00:00:00+00:00",
                    "periodEnd": "2026-04-22T00:00:00+00:00",
                    "activeCustomers": 122,
                    "newCustomers": 231,
                    "returningCustomers": -109,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-15T00:00:00+00:00",
                        "intervalEnd": "2026-04-16T00:00:00+00:00",
                        "activeCustomers": 54,
                        "newCustomers": 23,
                        "returningCustomers": 31
                      },
                      {
                        "intervalStart": "2026-04-16T00:00:00+00:00",
                        "intervalEnd": "2026-04-17T00:00:00+00:00",
                        "activeCustomers": 78,
                        "newCustomers": 63,
                        "returningCustomers": 15
                      },
                      {
                        "intervalStart": "2026-04-17T00:00:00+00:00",
                        "intervalEnd": "2026-04-18T00:00:00+00:00",
                        "activeCustomers": 53,
                        "newCustomers": 20,
                        "returningCustomers": 33
                      },
                      {
                        "intervalStart": "2026-04-18T00:00:00+00:00",
                        "intervalEnd": "2026-04-19T00:00:00+00:00",
                        "activeCustomers": 49,
                        "newCustomers": 44,
                        "returningCustomers": 5
                      },
                      {
                        "intervalStart": "2026-04-19T00:00:00+00:00",
                        "intervalEnd": "2026-04-20T00:00:00+00:00",
                        "activeCustomers": 81,
                        "newCustomers": 33,
                        "returningCustomers": 48
                      },
                      {
                        "intervalStart": "2026-04-20T00:00:00+00:00",
                        "intervalEnd": "2026-04-21T00:00:00+00:00",
                        "activeCustomers": 25,
                        "newCustomers": 13,
                        "returningCustomers": 12
                      },
                      {
                        "intervalStart": "2026-04-21T00:00:00+00:00",
                        "intervalEnd": "2026-04-22T00:00:00+00:00",
                        "activeCustomers": 39,
                        "newCustomers": 35,
                        "returningCustomers": 4
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-15T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-22T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 122
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 231
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": -109
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-15T00:00:00+00:00",
                          "intervalEnd": "2026-04-16T00:00:00+00:00",
                          "activeCustomers": 54,
                          "newCustomers": 23,
                          "returningCustomers": 31
                        },
                        {
                          "intervalStart": "2026-04-16T00:00:00+00:00",
                          "intervalEnd": "2026-04-17T00:00:00+00:00",
                          "activeCustomers": 78,
                          "newCustomers": 63,
                          "returningCustomers": 15
                        },
                        {
                          "intervalStart": "2026-04-17T00:00:00+00:00",
                          "intervalEnd": "2026-04-18T00:00:00+00:00",
                          "activeCustomers": 53,
                          "newCustomers": 20,
                          "returningCustomers": 33
                        },
                        {
                          "intervalStart": "2026-04-18T00:00:00+00:00",
                          "intervalEnd": "2026-04-19T00:00:00+00:00",
                          "activeCustomers": 49,
                          "newCustomers": 44,
                          "returningCustomers": 5
                        },
                        {
                          "intervalStart": "2026-04-19T00:00:00+00:00",
                          "intervalEnd": "2026-04-20T00:00:00+00:00",
                          "activeCustomers": 81,
                          "newCustomers": 33,
                          "returningCustomers": 48
                        },
                        {
                          "intervalStart": "2026-04-20T00:00:00+00:00",
                          "intervalEnd": "2026-04-21T00:00:00+00:00",
                          "activeCustomers": 25,
                          "newCustomers": 13,
                          "returningCustomers": 12
                        },
                        {
                          "intervalStart": "2026-04-21T00:00:00+00:00",
                          "intervalEnd": "2026-04-22T00:00:00+00:00",
                          "activeCustomers": 39,
                          "newCustomers": 35,
                          "returningCustomers": 4
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-15T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-16T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 54
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 23
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 31
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-15T00:00:00+00:00",
                    "periodEnd": "2026-04-22T00:00:00+00:00",
                    "totalTransactions": 4141,
                    "authorizeTransactions": 262,
                    "captureTransactions": 308,
                    "payTransactions": 1723,
                    "refundTransactions": 645,
                    "verifyTransactions": 600,
                    "voidTransactions": 603,
                    "successfulTransactions": 3723,
                    "failedTransactions": 326,
                    "declinedTransactions": 77,
                    "pendingTransactions": 15,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-15T00:00:00+00:00",
                        "intervalEnd": "2026-04-16T00:00:00+00:00",
                        "totalTransactions": 636,
                        "authorizeTransactions": 28,
                        "captureTransactions": 34,
                        "payTransactions": 559,
                        "refundTransactions": 12,
                        "verifyTransactions": 5,
                        "voidTransactions": -2,
                        "successfulTransactions": 572,
                        "failedTransactions": 49,
                        "declinedTransactions": 14,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-16T00:00:00+00:00",
                        "intervalEnd": "2026-04-17T00:00:00+00:00",
                        "totalTransactions": 571,
                        "authorizeTransactions": 49,
                        "captureTransactions": 59,
                        "payTransactions": 211,
                        "refundTransactions": 42,
                        "verifyTransactions": 189,
                        "voidTransactions": 21,
                        "successfulTransactions": 513,
                        "failedTransactions": 43,
                        "declinedTransactions": 14,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-17T00:00:00+00:00",
                        "intervalEnd": "2026-04-18T00:00:00+00:00",
                        "totalTransactions": 932,
                        "authorizeTransactions": 78,
                        "captureTransactions": 81,
                        "payTransactions": 232,
                        "refundTransactions": 154,
                        "verifyTransactions": 112,
                        "voidTransactions": 275,
                        "successfulTransactions": 838,
                        "failedTransactions": 73,
                        "declinedTransactions": 18,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-18T00:00:00+00:00",
                        "intervalEnd": "2026-04-19T00:00:00+00:00",
                        "totalTransactions": 971,
                        "authorizeTransactions": 39,
                        "captureTransactions": 44,
                        "payTransactions": 423,
                        "refundTransactions": 371,
                        "verifyTransactions": 31,
                        "voidTransactions": 63,
                        "successfulTransactions": 873,
                        "failedTransactions": 91,
                        "declinedTransactions": 1,
                        "pendingTransactions": 6,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-19T00:00:00+00:00",
                        "intervalEnd": "2026-04-20T00:00:00+00:00",
                        "totalTransactions": 266,
                        "authorizeTransactions": 11,
                        "captureTransactions": 14,
                        "payTransactions": 220,
                        "refundTransactions": 16,
                        "verifyTransactions": 5,
                        "voidTransactions": 0,
                        "successfulTransactions": 239,
                        "failedTransactions": 16,
                        "declinedTransactions": 10,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-20T00:00:00+00:00",
                        "intervalEnd": "2026-04-21T00:00:00+00:00",
                        "totalTransactions": 598,
                        "authorizeTransactions": 47,
                        "captureTransactions": 57,
                        "payTransactions": 47,
                        "refundTransactions": 11,
                        "verifyTransactions": 196,
                        "voidTransactions": 240,
                        "successfulTransactions": 538,
                        "failedTransactions": 42,
                        "declinedTransactions": 16,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-21T00:00:00+00:00",
                        "intervalEnd": "2026-04-22T00:00:00+00:00",
                        "totalTransactions": 167,
                        "authorizeTransactions": 10,
                        "captureTransactions": 19,
                        "payTransactions": 31,
                        "refundTransactions": 39,
                        "verifyTransactions": 62,
                        "voidTransactions": 6,
                        "successfulTransactions": 150,
                        "failedTransactions": 12,
                        "declinedTransactions": 4,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-15T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-22T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 4141
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 262
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 308
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 1723
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 645
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 600
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 603
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 3723
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 326
                    },
                    "declinedTransactions": {
                      "type": "integer",
                      "example": 77
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 15
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-15T00:00:00+00:00",
                          "intervalEnd": "2026-04-16T00:00:00+00:00",
                          "totalTransactions": 636,
                          "authorizeTransactions": 28,
                          "captureTransactions": 34,
                          "payTransactions": 559,
                          "refundTransactions": 12,
                          "verifyTransactions": 5,
                          "voidTransactions": -2,
                          "successfulTransactions": 572,
                          "failedTransactions": 49,
                          "declinedTransactions": 14,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-16T00:00:00+00:00",
                          "intervalEnd": "2026-04-17T00:00:00+00:00",
                          "totalTransactions": 571,
                          "authorizeTransactions": 49,
                          "captureTransactions": 59,
                          "payTransactions": 211,
                          "refundTransactions": 42,
                          "verifyTransactions": 189,
                          "voidTransactions": 21,
                          "successfulTransactions": 513,
                          "failedTransactions": 43,
                          "declinedTransactions": 14,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-17T00:00:00+00:00",
                          "intervalEnd": "2026-04-18T00:00:00+00:00",
                          "totalTransactions": 932,
                          "authorizeTransactions": 78,
                          "captureTransactions": 81,
                          "payTransactions": 232,
                          "refundTransactions": 154,
                          "verifyTransactions": 112,
                          "voidTransactions": 275,
                          "successfulTransactions": 838,
                          "failedTransactions": 73,
                          "declinedTransactions": 18,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-18T00:00:00+00:00",
                          "intervalEnd": "2026-04-19T00:00:00+00:00",
                          "totalTransactions": 971,
                          "authorizeTransactions": 39,
                          "captureTransactions": 44,
                          "payTransactions": 423,
                          "refundTransactions": 371,
                          "verifyTransactions": 31,
                          "voidTransactions": 63,
                          "successfulTransactions": 873,
                          "failedTransactions": 91,
                          "declinedTransactions": 1,
                          "pendingTransactions": 6,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-19T00:00:00+00:00",
                          "intervalEnd": "2026-04-20T00:00:00+00:00",
                          "totalTransactions": 266,
                          "authorizeTransactions": 11,
                          "captureTransactions": 14,
                          "payTransactions": 220,
                          "refundTransactions": 16,
                          "verifyTransactions": 5,
                          "voidTransactions": 0,
                          "successfulTransactions": 239,
                          "failedTransactions": 16,
                          "declinedTransactions": 10,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-20T00:00:00+00:00",
                          "intervalEnd": "2026-04-21T00:00:00+00:00",
                          "totalTransactions": 598,
                          "authorizeTransactions": 47,
                          "captureTransactions": 57,
                          "payTransactions": 47,
                          "refundTransactions": 11,
                          "verifyTransactions": 196,
                          "voidTransactions": 240,
                          "successfulTransactions": 538,
                          "failedTransactions": 42,
                          "declinedTransactions": 16,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-21T00:00:00+00:00",
                          "intervalEnd": "2026-04-22T00:00:00+00:00",
                          "totalTransactions": 167,
                          "authorizeTransactions": 10,
                          "captureTransactions": 19,
                          "payTransactions": 31,
                          "refundTransactions": 39,
                          "verifyTransactions": 62,
                          "voidTransactions": 6,
                          "successfulTransactions": 150,
                          "failedTransactions": 12,
                          "declinedTransactions": 4,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-15T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-16T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 636
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 28
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 34
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 559
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 12
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 5
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": -2
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 572
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 49
                          },
                          "declinedTransactions": {
                            "type": "integer",
                            "example": 14
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 1
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-15T00:00:00+00:00",
                    "periodEnd": "2026-04-22T00:00:00+00:00",
                    "totalSettlementAmount": 31328.8,
                    "totalFeeAmount": 1535.1112,
                    "totalNetAmount": 29793.6888,
                    "totalTransactionsPending": 169,
                    "totalTransactionsSettled": 905,
                    "totalTransactionsSettling": 507,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-15T00:00:00+00:00",
                        "intervalEnd": "2026-04-16T00:00:00+00:00",
                        "totalSettlementAmount": 2286.85,
                        "totalFeeAmount": 112.05565,
                        "totalNetAmount": 2174.79435,
                        "totalTransactionsPending": 30,
                        "totalTransactionsSettled": 22,
                        "totalTransactionsSettling": 177
                      },
                      {
                        "intervalStart": "2026-04-16T00:00:00+00:00",
                        "intervalEnd": "2026-04-17T00:00:00+00:00",
                        "totalSettlementAmount": 8649.73,
                        "totalFeeAmount": 423.83677,
                        "totalNetAmount": 8225.89323,
                        "totalTransactionsPending": 10,
                        "totalTransactionsSettled": 119,
                        "totalTransactionsSettling": 19
                      },
                      {
                        "intervalStart": "2026-04-17T00:00:00+00:00",
                        "intervalEnd": "2026-04-18T00:00:00+00:00",
                        "totalSettlementAmount": 2883.66,
                        "totalFeeAmount": 141.29934,
                        "totalNetAmount": 2742.36066,
                        "totalTransactionsPending": 29,
                        "totalTransactionsSettled": 105,
                        "totalTransactionsSettling": 24
                      },
                      {
                        "intervalStart": "2026-04-18T00:00:00+00:00",
                        "intervalEnd": "2026-04-19T00:00:00+00:00",
                        "totalSettlementAmount": 1770.57,
                        "totalFeeAmount": 86.75793,
                        "totalNetAmount": 1683.81207,
                        "totalTransactionsPending": 19,
                        "totalTransactionsSettled": 133,
                        "totalTransactionsSettling": 26
                      },
                      {
                        "intervalStart": "2026-04-19T00:00:00+00:00",
                        "intervalEnd": "2026-04-20T00:00:00+00:00",
                        "totalSettlementAmount": 7956.39,
                        "totalFeeAmount": 389.86311,
                        "totalNetAmount": 7566.52689,
                        "totalTransactionsPending": 6,
                        "totalTransactionsSettled": 164,
                        "totalTransactionsSettling": 140
                      },
                      {
                        "intervalStart": "2026-04-20T00:00:00+00:00",
                        "intervalEnd": "2026-04-21T00:00:00+00:00",
                        "totalSettlementAmount": 3352.23,
                        "totalFeeAmount": 164.25927,
                        "totalNetAmount": 3187.97073,
                        "totalTransactionsPending": 38,
                        "totalTransactionsSettled": 325,
                        "totalTransactionsSettling": 29
                      },
                      {
                        "intervalStart": "2026-04-21T00:00:00+00:00",
                        "intervalEnd": "2026-04-22T00:00:00+00:00",
                        "totalSettlementAmount": 4429.37,
                        "totalFeeAmount": 217.03913,
                        "totalNetAmount": 4212.33087,
                        "totalTransactionsPending": 37,
                        "totalTransactionsSettled": 37,
                        "totalTransactionsSettling": 92
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-15T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-22T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 31328.8
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 1535.1112
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 29793.6888
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 169
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 905
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 507
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-15T00:00:00+00:00",
                          "intervalEnd": "2026-04-16T00:00:00+00:00",
                          "totalSettlementAmount": 2286.85,
                          "totalFeeAmount": 112.05565,
                          "totalNetAmount": 2174.79435,
                          "totalTransactionsPending": 30,
                          "totalTransactionsSettled": 22,
                          "totalTransactionsSettling": 177
                        },
                        {
                          "intervalStart": "2026-04-16T00:00:00+00:00",
                          "intervalEnd": "2026-04-17T00:00:00+00:00",
                          "totalSettlementAmount": 8649.73,
                          "totalFeeAmount": 423.83677,
                          "totalNetAmount": 8225.89323,
                          "totalTransactionsPending": 10,
                          "totalTransactionsSettled": 119,
                          "totalTransactionsSettling": 19
                        },
                        {
                          "intervalStart": "2026-04-17T00:00:00+00:00",
                          "intervalEnd": "2026-04-18T00:00:00+00:00",
                          "totalSettlementAmount": 2883.66,
                          "totalFeeAmount": 141.29934,
                          "totalNetAmount": 2742.36066,
                          "totalTransactionsPending": 29,
                          "totalTransactionsSettled": 105,
                          "totalTransactionsSettling": 24
                        },
                        {
                          "intervalStart": "2026-04-18T00:00:00+00:00",
                          "intervalEnd": "2026-04-19T00:00:00+00:00",
                          "totalSettlementAmount": 1770.57,
                          "totalFeeAmount": 86.75793,
                          "totalNetAmount": 1683.81207,
                          "totalTransactionsPending": 19,
                          "totalTransactionsSettled": 133,
                          "totalTransactionsSettling": 26
                        },
                        {
                          "intervalStart": "2026-04-19T00:00:00+00:00",
                          "intervalEnd": "2026-04-20T00:00:00+00:00",
                          "totalSettlementAmount": 7956.39,
                          "totalFeeAmount": 389.86311,
                          "totalNetAmount": 7566.52689,
                          "totalTransactionsPending": 6,
                          "totalTransactionsSettled": 164,
                          "totalTransactionsSettling": 140
                        },
                        {
                          "intervalStart": "2026-04-20T00:00:00+00:00",
                          "intervalEnd": "2026-04-21T00:00:00+00:00",
                          "totalSettlementAmount": 3352.23,
                          "totalFeeAmount": 164.25927,
                          "totalNetAmount": 3187.97073,
                          "totalTransactionsPending": 38,
                          "totalTransactionsSettled": 325,
                          "totalTransactionsSettling": 29
                        },
                        {
                          "intervalStart": "2026-04-21T00:00:00+00:00",
                          "intervalEnd": "2026-04-22T00:00:00+00:00",
                          "totalSettlementAmount": 4429.37,
                          "totalFeeAmount": 217.03913,
                          "totalNetAmount": 4212.33087,
                          "totalTransactionsPending": 37,
                          "totalTransactionsSettled": 37,
                          "totalTransactionsSettling": 92
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-15T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-16T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 2286.85
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 112.05565
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 2174.79435
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 30
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 22
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 177
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 4,
                    "data": [
                      {
                        "email": "bernadine.schowalter@okon.biz",
                        "firstName": "Hollie",
                        "lastName": "Hegmann",
                        "phone": "+16672993442",
                        "dateOfBirth": "1983-09-19"
                      },
                      {
                        "email": "keshawn.homenick@swift.com",
                        "firstName": "Kaya",
                        "lastName": "Hermann",
                        "phone": "+15804079825",
                        "dateOfBirth": "1972-10-02"
                      },
                      {
                        "email": "bertha66@yahoo.com",
                        "firstName": "Dameon",
                        "lastName": "Murazik",
                        "phone": "+15703389526",
                        "dateOfBirth": "1982-03-10"
                      },
                      {
                        "email": "karen95@kovacek.info",
                        "firstName": "Fae",
                        "lastName": "Feest",
                        "phone": "+13514885817",
                        "dateOfBirth": "1999-03-25"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 4,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "bernadine.schowalter@okon.biz",
                          "firstName": "Hollie",
                          "lastName": "Hegmann",
                          "phone": "+16672993442",
                          "dateOfBirth": "1983-09-19"
                        },
                        {
                          "email": "keshawn.homenick@swift.com",
                          "firstName": "Kaya",
                          "lastName": "Hermann",
                          "phone": "+15804079825",
                          "dateOfBirth": "1972-10-02"
                        },
                        {
                          "email": "bertha66@yahoo.com",
                          "firstName": "Dameon",
                          "lastName": "Murazik",
                          "phone": "+15703389526",
                          "dateOfBirth": "1982-03-10"
                        },
                        {
                          "email": "karen95@kovacek.info",
                          "firstName": "Fae",
                          "lastName": "Feest",
                          "phone": "+13514885817",
                          "dateOfBirth": "1999-03-25"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "bernadine.schowalter@okon.biz"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Hollie"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Hegmann"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+16672993442"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "1983-09-19"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers/{customerIdOrEmail}/addresses": {
      "get": {
        "summary": "List Customer Billing Addresses",
        "operationId": "listCustomerBillingAddresses",
        "description": "Returns all unique billing addresses that have been used by a customer across their payments.\nAddresses are deduplicated using case-insensitive and whitespace-insensitive comparison.",
        "parameters": [
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
            "example": "-city",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
              "example": "-city",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of unique billing addresses for the customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "company": "Kuhlman-McGlynn",
                        "street": "2060 Shakira Village Suite 934",
                        "city": "Lake Rose",
                        "stateProvince": "MD",
                        "postcodeZip": "11827-9231",
                        "country": "USA"
                      },
                      {
                        "company": "Stamm, Jaskolski and Roob",
                        "street": "2844 McCullough Ridges Apt. 175",
                        "city": "Casperport",
                        "stateProvince": "MN",
                        "postcodeZip": "24746",
                        "country": "USA"
                      },
                      {
                        "company": "Conroy-Johns",
                        "street": "31023 Franz Bridge",
                        "city": "East Albin",
                        "stateProvince": "IN",
                        "postcodeZip": "09928",
                        "country": "USA"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "company": "Kuhlman-McGlynn",
                          "street": "2060 Shakira Village Suite 934",
                          "city": "Lake Rose",
                          "stateProvince": "MD",
                          "postcodeZip": "11827-9231",
                          "country": "USA"
                        },
                        {
                          "company": "Stamm, Jaskolski and Roob",
                          "street": "2844 McCullough Ridges Apt. 175",
                          "city": "Casperport",
                          "stateProvince": "MN",
                          "postcodeZip": "24746",
                          "country": "USA"
                        },
                        {
                          "company": "Conroy-Johns",
                          "street": "31023 Franz Bridge",
                          "city": "East Albin",
                          "stateProvince": "IN",
                          "postcodeZip": "09928",
                          "country": "USA"
                        }
                      ],
                      "description": "The data returned from the request",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "company": {
                            "type": "string",
                            "example": "Kuhlman-McGlynn"
                          },
                          "street": {
                            "type": "string",
                            "example": "2060 Shakira Village Suite 934"
                          },
                          "city": {
                            "type": "string",
                            "example": "Lake Rose"
                          },
                          "stateProvince": {
                            "type": "string",
                            "example": "MD"
                          },
                          "postcodeZip": {
                            "type": "string",
                            "example": "11827-9231"
                          },
                          "country": {
                            "type": "string",
                            "example": "USA"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "path",
          "name": "customerIdOrEmail",
          "description": "The customer ID, UUID, or email address",
          "example": "customer_123",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/simulated/terminals": {
      "get": {
        "summary": "Get all available simulated terminals.",
        "operationId": "getAllAvailableSimulatedTerminals",
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of available simulated terminals",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "title": "Success",
                        "description": "Approves all card present transactions successfully.",
                        "tid": "SUCCESS",
                        "readyForProcessing": true,
                        "provider": "SIMULATED",
                        "type": "CARD_PRESENT"
                      },
                      {
                        "title": "Transaction Declined",
                        "description": "Simulates a declined transaction.",
                        "tid": "TRANSACTION_DECLINED",
                        "readyForProcessing": true,
                        "provider": "SIMULATED",
                        "type": "CARD_PRESENT"
                      },
                      {
                        "title": "Card Present Timeout",
                        "description": "Simulates a card present timeout.",
[...]
