{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.81.0"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Order Templates",
      "description": ""
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/payments/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)\n\n### Tags:\n\nFilter by user-applied tags. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)\n\n### Tags:\n\nFilter by user-applied tags. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-07-15T00:00:00+00:00",
                      "periodEnd": "2026-07-22T00:00:00+00:00",
                      "numPaymentsCreated": 3580,
                      "numPaymentsProcessed": 2081,
                      "numPaymentsIncomplete": 1499,
                      "numPaymentsWithRefunds": 809,
                      "numCardPresentPayments": 1099,
                      "numCardNotPresentPayments": 400,
                      "numAchPayments": 587,
                      "totalCapturedAmount": 3501010.52,
                      "totalRefundedAmount": 698355.38,
                      "totalNetCapturedAmount": 2802655.14,
                      "averageNetCapturedAmount": 1652.2614285714,
                      "minNetCapturedAmount": 52.07,
                      "maxNetCapturedAmount": 7152.23,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-07-15T00:00:00+00:00",
                          "intervalEnd": "2026-07-16T00:00:00+00:00",
                          "numPaymentsCreated": 520,
                          "numPaymentsProcessed": 129,
                          "numPaymentsIncomplete": 391,
                          "numPaymentsWithRefunds": 41,
                          "numCardPresentPayments": 16,
                          "numCardNotPresentPayments": 375,
                          "numAchPayments": 103,
                          "totalCapturedAmount": 177996.17,
                          "totalRefundedAmount": 15510.23,
                          "totalNetCapturedAmount": 162485.94,
                          "averageNetCapturedAmount": 1259.58,
                          "minNetCapturedAmount": 52.07,
                          "maxNetCapturedAmount": 4409.72
                        },
                        {
                          "intervalStart": "2026-07-16T00:00:00+00:00",
                          "intervalEnd": "2026-07-17T00:00:00+00:00",
                          "numPaymentsCreated": 415,
                          "numPaymentsProcessed": 305,
                          "numPaymentsIncomplete": 110,
                          "numPaymentsWithRefunds": 252,
                          "numCardPresentPayments": 263,
                          "numCardNotPresentPayments": -153,
                          "numAchPayments": 41,
                          "totalCapturedAmount": 229777.87,
                          "totalRefundedAmount": 60375.4,
                          "totalNetCapturedAmount": 169402.47,
                          "averageNetCapturedAmount": 555.42,
                          "minNetCapturedAmount": 84.53,
                          "maxNetCapturedAmount": 4916.08
                        },
                        {
                          "intervalStart": "2026-07-17T00:00:00+00:00",
                          "intervalEnd": "2026-07-18T00:00:00+00:00",
                          "numPaymentsCreated": 210,
                          "numPaymentsProcessed": 158,
                          "numPaymentsIncomplete": 52,
                          "numPaymentsWithRefunds": 135,
                          "numCardPresentPayments": 142,
                          "numCardNotPresentPayments": -90,
                          "numAchPayments": 3,
                          "totalCapturedAmount": 922318.73,
                          "totalRefundedAmount": 234696.62,
                          "totalNetCapturedAmount": 687622.11,
                          "averageNetCapturedAmount": 4352.04,
                          "minNetCapturedAmount": 73.59,
                          "maxNetCapturedAmount": 5428.61
                        },
                        {
                          "intervalStart": "2026-07-18T00:00:00+00:00",
                          "intervalEnd": "2026-07-19T00:00:00+00:00",
                          "numPaymentsCreated": 549,
                          "numPaymentsProcessed": 414,
                          "numPaymentsIncomplete": 135,
                          "numPaymentsWithRefunds": 59,
                          "numCardPresentPayments": 297,
                          "numCardNotPresentPayments": -162,
                          "numAchPayments": 98,
                          "totalCapturedAmount": 94003.01,
                          "totalRefundedAmount": 23179.44,
                          "totalNetCapturedAmount": 70823.57,
                          "averageNetCapturedAmount": 171.07,
                          "minNetCapturedAmount": 66.07,
                          "maxNetCapturedAmount": 5514.5
                        },
                        {
                          "intervalStart": "2026-07-19T00:00:00+00:00",
                          "intervalEnd": "2026-07-20T00:00:00+00:00",
                          "numPaymentsCreated": 588,
                          "numPaymentsProcessed": 228,
                          "numPaymentsIncomplete": 360,
                          "numPaymentsWithRefunds": 59,
                          "numCardPresentPayments": 129,
                          "numCardNotPresentPayments": 231,
                          "numAchPayments": 92,
                          "totalCapturedAmount": 336124.18,
                          "totalRefundedAmount": 32943.96,
                          "totalNetCapturedAmount": 303180.22,
                          "averageNetCapturedAmount": 1329.74,
                          "minNetCapturedAmount": 92.09,
                          "maxNetCapturedAmount": 7152.23
                        },
                        {
                          "intervalStart": "2026-07-20T00:00:00+00:00",
                          "intervalEnd": "2026-07-21T00:00:00+00:00",
                          "numPaymentsCreated": 903,
                          "numPaymentsProcessed": 581,
                          "numPaymentsIncomplete": 322,
                          "numPaymentsWithRefunds": 171,
                          "numCardPresentPayments": 0,
                          "numCardNotPresentPayments": 322,
                          "numAchPayments": 237,
                          "totalCapturedAmount": 975599.95,
                          "totalRefundedAmount": 288951.09,
                          "totalNetCapturedAmount": 686648.86,
                          "averageNetCapturedAmount": 1181.84,
                          "minNetCapturedAmount": 80.43,
                          "maxNetCapturedAmount": 6634.44
                        },
                        {
                          "intervalStart": "2026-07-21T00:00:00+00:00",
                          "intervalEnd": "2026-07-22T00:00:00+00:00",
                          "numPaymentsCreated": 395,
                          "numPaymentsProcessed": 266,
                          "numPaymentsIncomplete": 129,
                          "numPaymentsWithRefunds": 92,
                          "numCardPresentPayments": 252,
                          "numCardNotPresentPayments": -123,
                          "numAchPayments": 13,
                          "totalCapturedAmount": 765190.61,
                          "totalRefundedAmount": 42698.64,
                          "totalNetCapturedAmount": 722491.97,
                          "averageNetCapturedAmount": 2716.14,
                          "minNetCapturedAmount": 52.69,
                          "maxNetCapturedAmount": 6647.53
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-07-15T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-07-22T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "numPaymentsCreated": {
                          "type": "integer",
                          "example": 3580,
                          "description": "Total number of payment records created in the period",
                          "enum": []
                        },
                        "numPaymentsProcessed": {
                          "type": "integer",
                          "example": 2081,
                          "description": "Number of payments that have successfully had funds captured (captured amount > 0)",
                          "enum": []
                        },
                        "numPaymentsIncomplete": {
                          "type": "integer",
                          "example": 1499,
                          "description": "Number of payments which have been created but funds have not been captured yet (e.g. failures, declines, authorizations, etc.)",
                          "enum": []
                        },
                        "numPaymentsWithRefunds": {
                          "type": "integer",
                          "example": 809,
                          "description": "Number of payments that have had one or more refunds (refunded amount > 0)",
                          "enum": []
                        },
                        "numCardPresentPayments": {
                          "type": "integer",
                          "example": 1099,
                          "description": "Number of payments made with card present (e.g. via terminal device)",
                          "enum": []
                        },
                        "numCardNotPresentPayments": {
                          "type": "integer",
                          "example": 400,
                          "description": "Number of payments made with card not present (e.g. online payments)",
                          "enum": []
                        },
                        "numAchPayments": {
                          "type": "integer",
                          "example": 587,
                          "description": "Number of payments made via ACH bank debit",
                          "enum": []
                        },
                        "totalCapturedAmount": {
                          "type": "number",
                          "example": 3501010.52,
                          "description": "Total amount captured across all payments in the period",
                          "enum": []
                        },
                        "totalRefundedAmount": {
                          "type": "number",
                          "example": 698355.38,
                          "description": "Total amount refunded across all payments in the period",
                          "enum": []
                        },
                        "totalNetCapturedAmount": {
                          "type": "number",
                          "example": 2802655.14,
                          "description": "Net captured amount (captured - refunded) across all payments in the period",
                          "enum": []
                        },
                        "averageNetCapturedAmount": {
                          "type": "number",
                          "example": 1652.2614285714,
                          "description": "Average net captured amount per payment in the period",
                          "enum": []
                        },
                        "minNetCapturedAmount": {
                          "type": "number",
                          "example": 52.07,
                          "description": "Minimum net captured amount in the period",
                          "enum": []
                        },
                        "maxNetCapturedAmount": {
                          "type": "number",
                          "example": 7152.23,
                          "description": "Maximum net captured amount in the period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-07-15T00:00:00+00:00",
                              "intervalEnd": "2026-07-16T00:00:00+00:00",
                              "numPaymentsCreated": 520,
                              "numPaymentsProcessed": 129,
                              "numPaymentsIncomplete": 391,
                              "numPaymentsWithRefunds": 41,
                              "numCardPresentPayments": 16,
                              "numCardNotPresentPayments": 375,
                              "numAchPayments": 103,
                              "totalCapturedAmount": 177996.17,
                              "totalRefundedAmount": 15510.23,
                              "totalNetCapturedAmount": 162485.94,
                              "averageNetCapturedAmount": 1259.58,
                              "minNetCapturedAmount": 52.07,
                              "maxNetCapturedAmount": 4409.72
                            },
                            {
                              "intervalStart": "2026-07-16T00:00:00+00:00",
                              "intervalEnd": "2026-07-17T00:00:00+00:00",
                              "numPaymentsCreated": 415,
                              "numPaymentsProcessed": 305,
                              "numPaymentsIncomplete": 110,
                              "numPaymentsWithRefunds": 252,
                              "numCardPresentPayments": 263,
                              "numCardNotPresentPayments": -153,
                              "numAchPayments": 41,
                              "totalCapturedAmount": 229777.87,
                              "totalRefundedAmount": 60375.4,
                              "totalNetCapturedAmount": 169402.47,
                              "averageNetCapturedAmount": 555.42,
                              "minNetCapturedAmount": 84.53,
                              "maxNetCapturedAmount": 4916.08
                            },
                            {
                              "intervalStart": "2026-07-17T00:00:00+00:00",
                              "intervalEnd": "2026-07-18T00:00:00+00:00",
                              "numPaymentsCreated": 210,
                              "numPaymentsProcessed": 158,
                              "numPaymentsIncomplete": 52,
                              "numPaymentsWithRefunds": 135,
                              "numCardPresentPayments": 142,
                              "numCardNotPresentPayments": -90,
                              "numAchPayments": 3,
                              "totalCapturedAmount": 922318.73,
                              "totalRefundedAmount": 234696.62,
                              "totalNetCapturedAmount": 687622.11,
                              "averageNetCapturedAmount": 4352.04,
                              "minNetCapturedAmount": 73.59,
                              "maxNetCapturedAmount": 5428.61
                            },
                            {
                              "intervalStart": "2026-07-18T00:00:00+00:00",
                              "intervalEnd": "2026-07-19T00:00:00+00:00",
                              "numPaymentsCreated": 549,
                              "numPaymentsProcessed": 414,
                              "numPaymentsIncomplete": 135,
                              "numPaymentsWithRefunds": 59,
                              "numCardPresentPayments": 297,
                              "numCardNotPresentPayments": -162,
                              "numAchPayments": 98,
                              "totalCapturedAmount": 94003.01,
                              "totalRefundedAmount": 23179.44,
                              "totalNetCapturedAmount": 70823.57,
                              "averageNetCapturedAmount": 171.07,
                              "minNetCapturedAmount": 66.07,
                              "maxNetCapturedAmount": 5514.5
                            },
                            {
                              "intervalStart": "2026-07-19T00:00:00+00:00",
                              "intervalEnd": "2026-07-20T00:00:00+00:00",
                              "numPaymentsCreated": 588,
                              "numPaymentsProcessed": 228,
                              "numPaymentsIncomplete": 360,
                              "numPaymentsWithRefunds": 59,
                              "numCardPresentPayments": 129,
                              "numCardNotPresentPayments": 231,
                              "numAchPayments": 92,
                              "totalCapturedAmount": 336124.18,
                              "totalRefundedAmount": 32943.96,
                              "totalNetCapturedAmount": 303180.22,
                              "averageNetCapturedAmount": 1329.74,
                              "minNetCapturedAmount": 92.09,
                              "maxNetCapturedAmount": 7152.23
                            },
                            {
                              "intervalStart": "2026-07-20T00:00:00+00:00",
                              "intervalEnd": "2026-07-21T00:00:00+00:00",
                              "numPaymentsCreated": 903,
                              "numPaymentsProcessed": 581,
                              "numPaymentsIncomplete": 322,
                              "numPaymentsWithRefunds": 171,
                              "numCardPresentPayments": 0,
                              "numCardNotPresentPayments": 322,
                              "numAchPayments": 237,
                              "totalCapturedAmount": 975599.95,
                              "totalRefundedAmount": 288951.09,
                              "totalNetCapturedAmount": 686648.86,
                              "averageNetCapturedAmount": 1181.84,
                              "minNetCapturedAmount": 80.43,
                              "maxNetCapturedAmount": 6634.44
                            },
                            {
                              "intervalStart": "2026-07-21T00:00:00+00:00",
                              "intervalEnd": "2026-07-22T00:00:00+00:00",
                              "numPaymentsCreated": 395,
                              "numPaymentsProcessed": 266,
                              "numPaymentsIncomplete": 129,
                              "numPaymentsWithRefunds": 92,
                              "numCardPresentPayments": 252,
                              "numCardNotPresentPayments": -123,
                              "numAchPayments": 13,
                              "totalCapturedAmount": 765190.61,
                              "totalRefundedAmount": 42698.64,
                              "totalNetCapturedAmount": 722491.97,
                              "averageNetCapturedAmount": 2716.14,
                              "minNetCapturedAmount": 52.69,
                              "maxNetCapturedAmount": 6647.53
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-07-15T00:00:00+00:00",
                                "description": "Start time of the PaymentAnalyticsData interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-07-16T00:00:00+00:00",
                                "description": "End time of the PaymentAnalyticsData interval",
                                "enum": []
                              },
                              "numPaymentsCreated": {
                                "type": "integer",
                                "example": 520,
                                "description": "Total number of payment records created in the interval",
                                "enum": []
                              },
                              "numPaymentsProcessed": {
                                "type": "integer",
                                "example": 129,
                                "description": "Number of payments that have successfully had funds captured (captured amount > 0)",
                                "enum": []
                              },
                              "numPaymentsIncomplete": {
                                "type": "integer",
                                "example": 391,
                                "description": "Number of payments which have been created but funds have not been captured yet (e.g. failures, declines, authorizations, etc.)",
                                "enum": []
                              },
                              "numPaymentsWithRefunds": {
                                "type": "integer",
                                "example": 41,
                                "description": "Number of payments that have had one or more refunds (refunded amount > 0)",
                                "enum": []
                              },
                              "numCardPresentPayments": {
                                "type": "integer",
                                "example": 16,
                                "description": "Number of payments made with card present (e.g. via terminal device)",
                                "enum": []
                              },
                              "numCardNotPresentPayments": {
                                "type": "integer",
                                "example": 375,
                                "description": "Number of payments made with card not present (e.g. online payments)",
                                "enum": []
                              },
                              "numAchPayments": {
                                "type": "integer",
                                "example": 103,
                                "description": "Number of payments made via ACH bank debit",
                                "enum": []
                              },
                              "totalCapturedAmount": {
                                "type": "number",
                                "example": 177996.17,
                                "description": "Total amount captured across all payments in the interval",
                                "enum": []
                              },
                              "totalRefundedAmount": {
                                "type": "number",
                                "example": 15510.23,
                                "description": "Total amount refunded across all payments in the interval",
                                "enum": []
                              },
                              "totalNetCapturedAmount": {
                                "type": "number",
                                "example": 162485.94,
                                "description": "Net captured amount (captured - refunded) across all payments in the interval",
                                "enum": []
                              },
                              "averageNetCapturedAmount": {
                                "type": "number",
                                "example": 1259.58,
                                "description": "Average net captured amount per payment in the interval",
                                "enum": []
                              },
                              "minNetCapturedAmount": {
                                "type": "number",
                                "example": 52.07,
                                "description": "Minimum net captured amount in the interval",
                                "enum": []
                              },
                              "maxNetCapturedAmount": {
                                "type": "number",
                                "example": 4409.72,
                                "description": "Maximum net captured amount in the interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/payments/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n\n### Tags:\n\nFilter by user-applied tags on the underlying payments. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n\n### Tags:\n\nFilter by user-applied tags on the underlying payments. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-07-15T00:00:00+00:00",
                      "periodEnd": "2026-07-22T00:00:00+00:00",
                      "activeCustomers": 321,
                      "newCustomers": 120,
                      "returningCustomers": 201,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-07-15T00:00:00+00:00",
                          "intervalEnd": "2026-07-16T00:00:00+00:00",
                          "activeCustomers": 27,
                          "newCustomers": 11,
                          "returningCustomers": 16
                        },
                        {
                          "intervalStart": "2026-07-16T00:00:00+00:00",
                          "intervalEnd": "2026-07-17T00:00:00+00:00",
                          "activeCustomers": 41,
                          "newCustomers": 27,
                          "returningCustomers": 14
                        },
                        {
                          "intervalStart": "2026-07-17T00:00:00+00:00",
                          "intervalEnd": "2026-07-18T00:00:00+00:00",
                          "activeCustomers": 95,
                          "newCustomers": 10,
                          "returningCustomers": 85
                        },
                        {
                          "intervalStart": "2026-07-18T00:00:00+00:00",
                          "intervalEnd": "2026-07-19T00:00:00+00:00",
                          "activeCustomers": 64,
                          "newCustomers": 33,
                          "returningCustomers": 31
                        },
                        {
                          "intervalStart": "2026-07-19T00:00:00+00:00",
                          "intervalEnd": "2026-07-20T00:00:00+00:00",
                          "activeCustomers": 71,
                          "newCustomers": 10,
                          "returningCustomers": 61
                        },
                        {
                          "intervalStart": "2026-07-20T00:00:00+00:00",
                          "intervalEnd": "2026-07-21T00:00:00+00:00",
                          "activeCustomers": 94,
                          "newCustomers": 18,
                          "returningCustomers": 76
                        },
                        {
                          "intervalStart": "2026-07-21T00:00:00+00:00",
                          "intervalEnd": "2026-07-22T00:00:00+00:00",
                          "activeCustomers": 37,
                          "newCustomers": 11,
                          "returningCustomers": 26
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-07-15T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-07-22T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "activeCustomers": {
                          "type": "integer",
                          "example": 321,
                          "description": "number of customers who are associated with at least one payment which was created in the period",
                          "enum": []
                        },
                        "newCustomers": {
                          "type": "integer",
                          "example": 120,
                          "description": "number of new customers added in the period",
                          "enum": []
                        },
                        "returningCustomers": {
                          "type": "integer",
                          "example": 201,
                          "description": "number of customers who were active in the period but were created before the period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-07-15T00:00:00+00:00",
                              "intervalEnd": "2026-07-16T00:00:00+00:00",
                              "activeCustomers": 27,
                              "newCustomers": 11,
                              "returningCustomers": 16
                            },
                            {
                              "intervalStart": "2026-07-16T00:00:00+00:00",
                              "intervalEnd": "2026-07-17T00:00:00+00:00",
                              "activeCustomers": 41,
                              "newCustomers": 27,
                              "returningCustomers": 14
                            },
                            {
                              "intervalStart": "2026-07-17T00:00:00+00:00",
                              "intervalEnd": "2026-07-18T00:00:00+00:00",
                              "activeCustomers": 95,
                              "newCustomers": 10,
                              "returningCustomers": 85
                            },
                            {
                              "intervalStart": "2026-07-18T00:00:00+00:00",
                              "intervalEnd": "2026-07-19T00:00:00+00:00",
                              "activeCustomers": 64,
                              "newCustomers": 33,
                              "returningCustomers": 31
                            },
                            {
                              "intervalStart": "2026-07-19T00:00:00+00:00",
                              "intervalEnd": "2026-07-20T00:00:00+00:00",
                              "activeCustomers": 71,
                              "newCustomers": 10,
                              "returningCustomers": 61
                            },
                            {
                              "intervalStart": "2026-07-20T00:00:00+00:00",
                              "intervalEnd": "2026-07-21T00:00:00+00:00",
                              "activeCustomers": 94,
                              "newCustomers": 18,
                              "returningCustomers": 76
                            },
                            {
                              "intervalStart": "2026-07-21T00:00:00+00:00",
                              "intervalEnd": "2026-07-22T00:00:00+00:00",
                              "activeCustomers": 37,
                              "newCustomers": 11,
                              "returningCustomers": 26
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-07-15T00:00:00+00:00",
                                "description": "Start time of the analytics calculation interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-07-16T00:00:00+00:00",
                                "description": "End time of the analytics calculation interval",
                                "enum": []
                              },
                              "activeCustomers": {
                                "type": "integer",
                                "example": 27,
                                "description": "number of customers who are associated with at least one payment which was created in the interval",
                                "enum": []
                              },
                              "newCustomers": {
                                "type": "integer",
                                "example": 11,
                                "description": "number of new customers added in the interval",
                                "enum": []
                              },
                              "returningCustomers": {
                                "type": "integer",
                                "example": 16,
                                "description": "number of customers who were active in the interval but were created before the interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/payments/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n\n### Tags:\n\nFilter by user-applied tags. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n\n### Tags:\n\nFilter by user-applied tags. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-07-15T00:00:00+00:00",
                      "periodEnd": "2026-07-22T00:00:00+00:00",
                      "totalTransactions": 3882,
                      "authorizeTransactions": 285,
                      "captureTransactions": 336,
                      "payTransactions": 1654,
                      "refundTransactions": 610,
                      "verifyTransactions": 695,
                      "voidTransactions": 302,
                      "successfulTransactions": 3491,
                      "failedTransactions": 327,
                      "declinedTransactions": 41,
                      "pendingTransactions": 23,
                      "unknownTransactions": 0,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-07-15T00:00:00+00:00",
                          "intervalEnd": "2026-07-16T00:00:00+00:00",
                          "totalTransactions": 858,
                          "authorizeTransactions": 99,
                          "captureTransactions": 108,
                          "payTransactions": 597,
                          "refundTransactions": 39,
                          "verifyTransactions": 8,
                          "voidTransactions": 7,
                          "successfulTransactions": 772,
                          "failedTransactions": 64,
                          "declinedTransactions": 18,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-07-16T00:00:00+00:00",
                          "intervalEnd": "2026-07-17T00:00:00+00:00",
                          "totalTransactions": 525,
                          "authorizeTransactions": 64,
                          "captureTransactions": 71,
                          "payTransactions": 69,
                          "refundTransactions": 46,
                          "verifyTransactions": 248,
                          "voidTransactions": 27,
                          "successfulTransactions": 472,
                          "failedTransactions": 42,
                          "declinedTransactions": 8,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-07-17T00:00:00+00:00",
                          "intervalEnd": "2026-07-18T00:00:00+00:00",
                          "totalTransactions": 615,
                          "authorizeTransactions": 62,
                          "captureTransactions": 71,
                          "payTransactions": 224,
                          "refundTransactions": 20,
                          "verifyTransactions": 184,
                          "voidTransactions": 54,
                          "successfulTransactions": 553,
                          "failedTransactions": 54,
                          "declinedTransactions": 7,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-07-18T00:00:00+00:00",
                          "intervalEnd": "2026-07-19T00:00:00+00:00",
                          "totalTransactions": 253,
                          "authorizeTransactions": 16,
                          "captureTransactions": 17,
                          "payTransactions": 55,
                          "refundTransactions": 66,
                          "verifyTransactions": 18,
                          "voidTransactions": 81,
                          "successfulTransactions": 227,
                          "failedTransactions": 23,
                          "declinedTransactions": 1,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-07-19T00:00:00+00:00",
                          "intervalEnd": "2026-07-20T00:00:00+00:00",
                          "totalTransactions": 557,
                          "authorizeTransactions": 13,
                          "captureTransactions": 21,
                          "payTransactions": 242,
                          "refundTransactions": 88,
                          "verifyTransactions": 158,
                          "voidTransactions": 35,
                          "successfulTransactions": 501,
                          "failedTransactions": 49,
                          "declinedTransactions": 2,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-07-20T00:00:00+00:00",
                          "intervalEnd": "2026-07-21T00:00:00+00:00",
                          "totalTransactions": 378,
                          "authorizeTransactions": 21,
                          "captureTransactions": 31,
                          "payTransactions": 76,
                          "refundTransactions": 90,
                          "verifyTransactions": 71,
                          "voidTransactions": 89,
                          "successfulTransactions": 340,
                          "failedTransactions": 32,
                          "declinedTransactions": 3,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-07-21T00:00:00+00:00",
                          "intervalEnd": "2026-07-22T00:00:00+00:00",
                          "totalTransactions": 696,
                          "authorizeTransactions": 10,
                          "captureTransactions": 17,
                          "payTransactions": 391,
                          "refundTransactions": 261,
                          "verifyTransactions": 8,
                          "voidTransactions": 9,
                          "successfulTransactions": 626,
                          "failedTransactions": 63,
                          "declinedTransactions": 2,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-07-15T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-07-22T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "totalTransactions": {
                          "type": "integer",
                          "example": 3882,
                          "description": "Total number of transactions in the period",
                          "enum": []
                        },
                        "authorizeTransactions": {
                          "type": "integer",
                          "example": 285,
                          "description": "Number of authorize transactions in the period",
                          "enum": []
                        },
                        "captureTransactions": {
                          "type": "integer",
                          "example": 336,
                          "description": "Number of capture transactions in the period",
                          "enum": []
                        },
                        "payTransactions": {
                          "type": "integer",
                          "example": 1654,
                          "description": "Number of pay transactions in the period",
                          "enum": []
                        },
                        "refundTransactions": {
                          "type": "integer",
                          "example": 610,
                          "description": "Number of refund transactions in the period",
                          "enum": []
                        },
                        "verifyTransactions": {
                          "type": "integer",
                          "example": 695,
                          "description": "Number of verify transactions in the period",
                          "enum": []
                        },
                        "voidTransactions": {
                          "type": "integer",
                          "example": 302,
                          "description": "Number of void transactions in the period",
                          "enum": []
                        },
                        "successfulTransactions": {
                          "type": "integer",
                          "example": 3491,
                          "description": "Number of successful transactions in the period",
                          "enum": []
                        },
                        "failedTransactions": {
                          "type": "integer",
                          "example": 327,
                          "description": "Number of failed transactions in the period",
                          "enum": []
                        },
                        "declinedTransactions": {
                          "type": "integer",
                          "example": 41,
                          "description": "Number of declined transactions in the period",
                          "enum": []
                        },
                        "pendingTransactions": {
                          "type": "integer",
                          "example": 23,
                          "description": "Number of pending transactions in the period",
                          "enum": []
                        },
                        "unknownTransactions": {
                          "type": "integer",
                          "example": 0,
                          "description": "Number of transactions with unknown result in the period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-07-15T00:00:00+00:00",
                              "intervalEnd": "2026-07-16T00:00:00+00:00",
                              "totalTransactions": 858,
                              "authorizeTransactions": 99,
                              "captureTransactions": 108,
                              "payTransactions": 597,
                              "refundTransactions": 39,
                              "verifyTransactions": 8,
                              "voidTransactions": 7,
                              "successfulTransactions": 772,
                              "failedTransactions": 64,
                              "declinedTransactions": 18,
                              "pendingTransactions": 4,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-07-16T00:00:00+00:00",
                              "intervalEnd": "2026-07-17T00:00:00+00:00",
                              "totalTransactions": 525,
                              "authorizeTransactions": 64,
                              "captureTransactions": 71,
                              "payTransactions": 69,
                              "refundTransactions": 46,
                              "verifyTransactions": 248,
                              "voidTransactions": 27,
                              "successfulTransactions": 472,
                              "failedTransactions": 42,
                              "declinedTransactions": 8,
                              "pendingTransactions": 3,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-07-17T00:00:00+00:00",
                              "intervalEnd": "2026-07-18T00:00:00+00:00",
                              "totalTransactions": 615,
                              "authorizeTransactions": 62,
                              "captureTransactions": 71,
                              "payTransactions": 224,
                              "refundTransactions": 20,
                              "verifyTransactions": 184,
                              "voidTransactions": 54,
                              "successfulTransactions": 553,
                              "failedTransactions": 54,
                              "declinedTransactions": 7,
                              "pendingTransactions": 1,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-07-18T00:00:00+00:00",
                              "intervalEnd": "2026-07-19T00:00:00+00:00",
                              "totalTransactions": 253,
                              "authorizeTransactions": 16,
                              "captureTransactions": 17,
                              "payTransactions": 55,
                              "refundTransactions": 66,
                              "verifyTransactions": 18,
                              "voidTransactions": 81,
                              "successfulTransactions": 227,
                              "failedTransactions": 23,
                              "declinedTransactions": 1,
                              "pendingTransactions": 2,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-07-19T00:00:00+00:00",
                              "intervalEnd": "2026-07-20T00:00:00+00:00",
                              "totalTransactions": 557,
                              "authorizeTransactions": 13,
                              "captureTransactions": 21,
                              "payTransactions": 242,
                              "refundTransactions": 88,
                              "verifyTransactions": 158,
                              "voidTransactions": 35,
                              "successfulTransactions": 501,
                              "failedTransactions": 49,
                              "declinedTransactions": 2,
                              "pendingTransactions": 5,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-07-20T00:00:00+00:00",
                              "intervalEnd": "2026-07-21T00:00:00+00:00",
                              "totalTransactions": 378,
                              "authorizeTransactions": 21,
                              "captureTransactions": 31,
                              "payTransactions": 76,
                              "refundTransactions": 90,
                              "verifyTransactions": 71,
                              "voidTransactions": 89,
                              "successfulTransactions": 340,
                              "failedTransactions": 32,
                              "declinedTransactions": 3,
                              "pendingTransactions": 3,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-07-21T00:00:00+00:00",
                              "intervalEnd": "2026-07-22T00:00:00+00:00",
                              "totalTransactions": 696,
                              "authorizeTransactions": 10,
                              "captureTransactions": 17,
                              "payTransactions": 391,
                              "refundTransactions": 261,
                              "verifyTransactions": 8,
                              "voidTransactions": 9,
                              "successfulTransactions": 626,
                              "failedTransactions": 63,
                              "declinedTransactions": 2,
                              "pendingTransactions": 5,
                              "unknownTransactions": 0
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-07-15T00:00:00+00:00",
                                "description": "Start time of the analytics calculation interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-07-16T00:00:00+00:00",
                                "description": "End time of the analytics calculation interval",
                                "enum": []
                              },
                              "totalTransactions": {
                                "type": "integer",
                                "example": 858,
                                "description": "Total number of transactions in the interval",
                                "enum": []
                              },
                              "authorizeTransactions": {
                                "type": "integer",
                                "example": 99,
                                "description": "Number of authorize transactions in the interval",
                                "enum": []
                              },
                              "captureTransactions": {
                                "type": "integer",
                                "example": 108,
                                "description": "Number of capture transactions in the interval",
                                "enum": []
                              },
                              "payTransactions": {
                                "type": "integer",
                                "example": 597,
                                "description": "Number of pay transactions in the interval",
                                "enum": []
                              },
                              "refundTransactions": {
                                "type": "integer",
                                "example": 39,
                                "description": "Number of refund transactions in the interval",
                                "enum": []
                              },
                              "verifyTransactions": {
                                "type": "integer",
                                "example": 8,
                                "description": "Number of verify transactions in the interval",
                                "enum": []
                              },
                              "voidTransactions": {
                                "type": "integer",
                                "example": 7,
                                "description": "Number of void transactions in the interval",
                                "enum": []
                              },
                              "successfulTransactions": {
                                "type": "integer",
                                "example": 772,
                                "description": "Number of successful transactions in the interval",
                                "enum": []
                              },
                              "failedTransactions": {
                                "type": "integer",
                                "example": 64,
                                "description": "Number of failed transactions in the interval",
                                "enum": []
                              },
                              "declinedTransactions": {
                                "type": "integer",
                                "example": 18,
                                "description": "Number of declined transactions in the interval",
                                "enum": []
                              },
                              "pendingTransactions": {
                                "type": "integer",
                                "example": 4,
                                "description": "Number of pending transactions in the interval",
                                "enum": []
                              },
                              "unknownTransactions": {
                                "type": "integer",
                                "example": 0,
                                "description": "Number of transactions with unknown result in the interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/payments/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`\n\n### Tags:\n\nFilter by user-applied tags. Use a leading `!` to exclude a tag.\n\n- **Example:** `?filter[tag]=vip,priority`\n- **Example:** `?filter[tag]=!internal-test`\n- **Example:** `?filter[tag]=vip,!internal-test`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`\n\n### Tags:\n\nFilter by user-applied tags. Use a leading `!` to exclude a tag.\n\n- **Example:** `?filter[tag]=vip,priority`\n- **Example:** `?filter[tag]=!internal-test`\n- **Example:** `?filter[tag]=vip,!internal-test`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 3,
                    "data": [
                      {
                        "id": "customer_bv96ah21iu",
                        "email": "grimes.miles@yahoo.com",
                        "firstName": "Alexa",
                        "lastName": "Satterfield",
                        "phone": "+18205336965",
                        "dateOfBirth": "1987-11-20",
                        "creationTime": "2026-01-12T06:24:06.079+00:00",
                        "lastUpdatedTime": "2026-07-16T06:24:06.079+00:00"
                      },
                      {
                        "id": "customer_ug86us25fs",
                        "email": "mueller.oren@walter.biz",
                        "firstName": "Kali",
                        "lastName": "Quigley",
                        "phone": "+12409436479",
                        "dateOfBirth": "1992-06-11",
                        "creationTime": "2025-08-17T06:24:06.079+00:00",
                        "lastUpdatedTime": "2026-07-19T06:24:06.079+00:00"
                      },
                      {
                        "id": "customer_pm46yq70jx",
                        "email": "albin.upton@gutmann.biz",
                        "firstName": "Ernestine",
                        "lastName": "Sawayn",
                        "phone": "+18706755548",
                        "dateOfBirth": "1999-02-19",
                        "creationTime": "2026-06-02T06:24:06.080+00:00",
                        "lastUpdatedTime": "2026-07-14T06:24:06.080+00:00"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 3,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "id": "customer_bv96ah21iu",
                          "email": "grimes.miles@yahoo.com",
                          "firstName": "Alexa",
                          "lastName": "Satterfield",
                          "phone": "+18205336965",
                          "dateOfBirth": "1987-11-20",
                          "creationTime": "2026-01-12T06:24:06.079+00:00",
                          "lastUpdatedTime": "2026-07-16T06:24:06.079+00:00"
                        },
                        {
                          "id": "customer_ug86us25fs",
                          "email": "mueller.oren@walter.biz",
                          "firstName": "Kali",
                          "lastName": "Quigley",
                          "phone": "+12409436479",
                          "dateOfBirth": "1992-06-11",
                          "creationTime": "2025-08-17T06:24:06.079+00:00",
                          "lastUpdatedTime": "2026-07-19T06:24:06.079+00:00"
                        },
                        {
                          "id": "customer_pm46yq70jx",
                          "email": "albin.upton@gutmann.biz",
                          "firstName": "Ernestine",
                          "lastName": "Sawayn",
                          "phone": "+18706755548",
                          "dateOfBirth": "1999-02-19",
                          "creationTime": "2026-06-02T06:24:06.080+00:00",
                          "lastUpdatedTime": "2026-07-14T06:24:06.080+00:00"
                        }
                      ],
                      "description": "The data returned from the request",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "customer_bv96ah21iu",
                            "description": "Prahsys's unique identifier for the customer",
                            "enum": []
                          },
                          "email": {
                            "type": "string",
                            "example": "grimes.miles@yahoo.com",
                            "description": "The email address of the customer. Must be longer than 3 characters and conform to RFC 2822.",
                            "enum": []
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Alexa",
                            "description": "The customer's first name.",
                            "enum": []
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Satterfield",
                            "description": "The customer's last name.",
                            "enum": []
                          },
                          "phone": {
                            "type": "string",
                            "example": "+18205336965",
                            "description": "The customer's phone number in E.164 format.",
                            "enum": []
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "1987-11-20",
                            "description": "The customer's date of birth. Must be in YYYY-MM-DD format.",
                            "enum": []
                          },
                          "creationTime": {
                            "type": "string",
                            "example": "2026-01-12T06:24:06.079+00:00",
                            "description": "Time when the customer was created",
                            "enum": []
                          },
                          "lastUpdatedTime": {
                            "type": "string",
                            "example": "2026-07-16T06:24:06.079+00:00",
                            "description": "Time when the customer was last updated",
                            "enum": []
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/payments/n1/merchant/{merchantId}/customer/{customerIdOrEmail}": {
      "get": {
        "summary": "Get Customer",
        "operationId": "getCustomer",
        "description": "Returns a single customer by their ID, UUID, or email address.",
        "parameters": [
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date fields. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix) and abbreviations (e.g., MST).",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date fields. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix) and abbreviations (e.g., MST).",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The customer with their addresses and pay tokens (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "id": "customer_uv18ek71pq",
                      "email": "wjohns@cummerata.com",
                      "firstName": "Leanne",
                      "lastName": "Green",
                      "phone": "+12792294816",
                      "dateOfBirth": "2006-07-09",
                      "tokens": [
                        {
                          "token": "9228651664439141",
                          "type": "CARD",
                          "card": {
                            "nameOnCard": "John Doe",
                            "number": "424242xxxxxx4242",
                            "expiry": {
                              "month": 1,
                              "year": 39
                            },
                            "brand": "VISA",
                            "fundingMethod": "DEBIT",
                            "storedOnFile": "NOT_STORED"
                          },
                          "address": {
                            "company": "Rogahn Inc",
                            "street": "77209 Royce Shore",
                            "city": "Balistreriton",
                            "stateProvince": "LA",
                            "postcodeZip": "73971",
                            "country": "USA"
                          },
                          "repositoryId": "EARUM",
                          "response": {
                            "gatewayCode": "BASIC_VERIFICATION_SUCCESSFUL"
                          },
                          "result": "SUCCESS",
                          "status": "VALID",
                          "usage": {
                            "lastUpdated": {
                              "merchantId": "cfdeeba5-6d97-3718-86bd-57a3a94059f5",
                              "time": "2026-06-01T16:23:17+00:00"
                            },
                            "lastUsedTime": "2026-06-14T11:53:17+00:00"
                          },
                          "customer": {
                            "email": "test.customer@example.com"
                          },
                          "isDefault": true,
                          "avsCode": "FULL_MATCH"
                        }
                      ],
                      "addresses": [
                        {
                          "id": "dcd04a2b-a1d4-3b30-82d8-de5f85784ba1",
                          "isDefault": true,
                          "company": "Sauer, Feest and Mayer",
[...]
