{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.64.0"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payout Exports",
      "description": "Create payout exports"
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-11T00:00:00+00:00",
                    "periodEnd": "2026-04-18T00:00:00+00:00",
                    "numPaymentsCreated": 3483,
                    "numPaymentsProcessed": 2187,
                    "numPaymentsIncomplete": 1296,
                    "numPaymentsWithRefunds": 773,
                    "numCardPresentPayments": 1034,
                    "numCardNotPresentPayments": 262,
                    "totalCapturedAmount": 1972265.2,
                    "totalRefundedAmount": 264721.67,
                    "totalNetCapturedAmount": 1707543.53,
                    "averageNetCapturedAmount": 1197.7942857143,
                    "minNetCapturedAmount": 38.64,
                    "maxNetCapturedAmount": 8582.08,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-11T00:00:00+00:00",
                        "intervalEnd": "2026-04-12T00:00:00+00:00",
                        "numPaymentsCreated": 166,
                        "numPaymentsProcessed": 115,
                        "numPaymentsIncomplete": 51,
                        "numPaymentsWithRefunds": 0,
                        "numCardPresentPayments": 68,
                        "numCardNotPresentPayments": -17,
                        "totalCapturedAmount": 161636.82,
                        "totalRefundedAmount": 16044.93,
                        "totalNetCapturedAmount": 145591.89,
                        "averageNetCapturedAmount": 1266.02,
                        "minNetCapturedAmount": 38.64,
                        "maxNetCapturedAmount": 6118.61
                      },
                      {
                        "intervalStart": "2026-04-12T00:00:00+00:00",
                        "intervalEnd": "2026-04-13T00:00:00+00:00",
                        "numPaymentsCreated": 751,
                        "numPaymentsProcessed": 393,
                        "numPaymentsIncomplete": 358,
                        "numPaymentsWithRefunds": 220,
                        "numCardPresentPayments": 368,
                        "numCardNotPresentPayments": -10,
                        "totalCapturedAmount": 259420.55,
                        "totalRefundedAmount": 36708.46,
                        "totalNetCapturedAmount": 222712.09,
                        "averageNetCapturedAmount": 566.7,
                        "minNetCapturedAmount": 74.6,
                        "maxNetCapturedAmount": 8582.08
                      },
                      {
                        "intervalStart": "2026-04-13T00:00:00+00:00",
                        "intervalEnd": "2026-04-14T00:00:00+00:00",
                        "numPaymentsCreated": 951,
                        "numPaymentsProcessed": 532,
                        "numPaymentsIncomplete": 419,
                        "numPaymentsWithRefunds": 257,
                        "numCardPresentPayments": 154,
                        "numCardNotPresentPayments": 265,
                        "totalCapturedAmount": 653281.85,
                        "totalRefundedAmount": 77789.49,
                        "totalNetCapturedAmount": 575492.36,
                        "averageNetCapturedAmount": 1081.75,
                        "minNetCapturedAmount": 57.42,
                        "maxNetCapturedAmount": 2218.58
                      },
                      {
                        "intervalStart": "2026-04-14T00:00:00+00:00",
                        "intervalEnd": "2026-04-15T00:00:00+00:00",
                        "numPaymentsCreated": 118,
                        "numPaymentsProcessed": 58,
                        "numPaymentsIncomplete": 60,
                        "numPaymentsWithRefunds": 20,
                        "numCardPresentPayments": 15,
                        "numCardNotPresentPayments": 45,
                        "totalCapturedAmount": 160242.32,
                        "totalRefundedAmount": 8096.96,
                        "totalNetCapturedAmount": 152145.36,
                        "averageNetCapturedAmount": 2623.2,
                        "minNetCapturedAmount": 57.5,
                        "maxNetCapturedAmount": 8006.99
                      },
                      {
                        "intervalStart": "2026-04-15T00:00:00+00:00",
                        "intervalEnd": "2026-04-16T00:00:00+00:00",
                        "numPaymentsCreated": 392,
                        "numPaymentsProcessed": 223,
                        "numPaymentsIncomplete": 169,
                        "numPaymentsWithRefunds": 42,
                        "numCardPresentPayments": 173,
                        "numCardNotPresentPayments": -4,
                        "totalCapturedAmount": 488552.41,
                        "totalRefundedAmount": 68138.45,
                        "totalNetCapturedAmount": 420413.96,
                        "averageNetCapturedAmount": 1885.26,
                        "minNetCapturedAmount": 61.27,
                        "maxNetCapturedAmount": 7902.83
                      },
                      {
                        "intervalStart": "2026-04-16T00:00:00+00:00",
                        "intervalEnd": "2026-04-17T00:00:00+00:00",
                        "numPaymentsCreated": 968,
                        "numPaymentsProcessed": 796,
                        "numPaymentsIncomplete": 172,
                        "numPaymentsWithRefunds": 212,
                        "numCardPresentPayments": 233,
                        "numCardNotPresentPayments": -61,
                        "totalCapturedAmount": 192018.44,
                        "totalRefundedAmount": 56200.51,
                        "totalNetCapturedAmount": 135817.93,
                        "averageNetCapturedAmount": 170.63,
                        "minNetCapturedAmount": 60.43,
                        "maxNetCapturedAmount": 4663.37
                      },
                      {
                        "intervalStart": "2026-04-17T00:00:00+00:00",
                        "intervalEnd": "2026-04-18T00:00:00+00:00",
                        "numPaymentsCreated": 137,
                        "numPaymentsProcessed": 70,
                        "numPaymentsIncomplete": 67,
                        "numPaymentsWithRefunds": 22,
                        "numCardPresentPayments": 23,
                        "numCardNotPresentPayments": 44,
                        "totalCapturedAmount": 57112.81,
                        "totalRefundedAmount": 1742.87,
                        "totalNetCapturedAmount": 55369.94,
                        "averageNetCapturedAmount": 791,
                        "minNetCapturedAmount": 85.46,
                        "maxNetCapturedAmount": 6981.37
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-11T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-18T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 3483
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 2187
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 1296
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 773
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 1034
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": 262
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 1972265.2
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 264721.67
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 1707543.53
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 1197.7942857143
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 38.64
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 8582.08
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-11T00:00:00+00:00",
                          "intervalEnd": "2026-04-12T00:00:00+00:00",
                          "numPaymentsCreated": 166,
                          "numPaymentsProcessed": 115,
                          "numPaymentsIncomplete": 51,
                          "numPaymentsWithRefunds": 0,
                          "numCardPresentPayments": 68,
                          "numCardNotPresentPayments": -17,
                          "totalCapturedAmount": 161636.82,
                          "totalRefundedAmount": 16044.93,
                          "totalNetCapturedAmount": 145591.89,
                          "averageNetCapturedAmount": 1266.02,
                          "minNetCapturedAmount": 38.64,
                          "maxNetCapturedAmount": 6118.61
                        },
                        {
                          "intervalStart": "2026-04-12T00:00:00+00:00",
                          "intervalEnd": "2026-04-13T00:00:00+00:00",
                          "numPaymentsCreated": 751,
                          "numPaymentsProcessed": 393,
                          "numPaymentsIncomplete": 358,
                          "numPaymentsWithRefunds": 220,
                          "numCardPresentPayments": 368,
                          "numCardNotPresentPayments": -10,
                          "totalCapturedAmount": 259420.55,
                          "totalRefundedAmount": 36708.46,
                          "totalNetCapturedAmount": 222712.09,
                          "averageNetCapturedAmount": 566.7,
                          "minNetCapturedAmount": 74.6,
                          "maxNetCapturedAmount": 8582.08
                        },
                        {
                          "intervalStart": "2026-04-13T00:00:00+00:00",
                          "intervalEnd": "2026-04-14T00:00:00+00:00",
                          "numPaymentsCreated": 951,
                          "numPaymentsProcessed": 532,
                          "numPaymentsIncomplete": 419,
                          "numPaymentsWithRefunds": 257,
                          "numCardPresentPayments": 154,
                          "numCardNotPresentPayments": 265,
                          "totalCapturedAmount": 653281.85,
                          "totalRefundedAmount": 77789.49,
                          "totalNetCapturedAmount": 575492.36,
                          "averageNetCapturedAmount": 1081.75,
                          "minNetCapturedAmount": 57.42,
                          "maxNetCapturedAmount": 2218.58
                        },
                        {
                          "intervalStart": "2026-04-14T00:00:00+00:00",
                          "intervalEnd": "2026-04-15T00:00:00+00:00",
                          "numPaymentsCreated": 118,
                          "numPaymentsProcessed": 58,
                          "numPaymentsIncomplete": 60,
                          "numPaymentsWithRefunds": 20,
                          "numCardPresentPayments": 15,
                          "numCardNotPresentPayments": 45,
                          "totalCapturedAmount": 160242.32,
                          "totalRefundedAmount": 8096.96,
                          "totalNetCapturedAmount": 152145.36,
                          "averageNetCapturedAmount": 2623.2,
                          "minNetCapturedAmount": 57.5,
                          "maxNetCapturedAmount": 8006.99
                        },
                        {
                          "intervalStart": "2026-04-15T00:00:00+00:00",
                          "intervalEnd": "2026-04-16T00:00:00+00:00",
                          "numPaymentsCreated": 392,
                          "numPaymentsProcessed": 223,
                          "numPaymentsIncomplete": 169,
                          "numPaymentsWithRefunds": 42,
                          "numCardPresentPayments": 173,
                          "numCardNotPresentPayments": -4,
                          "totalCapturedAmount": 488552.41,
                          "totalRefundedAmount": 68138.45,
                          "totalNetCapturedAmount": 420413.96,
                          "averageNetCapturedAmount": 1885.26,
                          "minNetCapturedAmount": 61.27,
                          "maxNetCapturedAmount": 7902.83
                        },
                        {
                          "intervalStart": "2026-04-16T00:00:00+00:00",
                          "intervalEnd": "2026-04-17T00:00:00+00:00",
                          "numPaymentsCreated": 968,
                          "numPaymentsProcessed": 796,
                          "numPaymentsIncomplete": 172,
                          "numPaymentsWithRefunds": 212,
                          "numCardPresentPayments": 233,
                          "numCardNotPresentPayments": -61,
                          "totalCapturedAmount": 192018.44,
                          "totalRefundedAmount": 56200.51,
                          "totalNetCapturedAmount": 135817.93,
                          "averageNetCapturedAmount": 170.63,
                          "minNetCapturedAmount": 60.43,
                          "maxNetCapturedAmount": 4663.37
                        },
                        {
                          "intervalStart": "2026-04-17T00:00:00+00:00",
                          "intervalEnd": "2026-04-18T00:00:00+00:00",
                          "numPaymentsCreated": 137,
                          "numPaymentsProcessed": 70,
                          "numPaymentsIncomplete": 67,
                          "numPaymentsWithRefunds": 22,
                          "numCardPresentPayments": 23,
                          "numCardNotPresentPayments": 44,
                          "totalCapturedAmount": 57112.81,
                          "totalRefundedAmount": 1742.87,
                          "totalNetCapturedAmount": 55369.94,
                          "averageNetCapturedAmount": 791,
                          "minNetCapturedAmount": 85.46,
                          "maxNetCapturedAmount": 6981.37
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-11T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-12T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 166
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 115
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 51
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 0
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 68
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": -17
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 161636.82
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 16044.93
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 145591.89
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 1266.02
                          },
                          "minNetCapturedAmount": {
                            "type": "number",
                            "example": 38.64
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 6118.61
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-11T00:00:00+00:00",
                    "periodEnd": "2026-04-18T00:00:00+00:00",
                    "activeCustomers": 363,
                    "newCustomers": 229,
                    "returningCustomers": 134,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-11T00:00:00+00:00",
                        "intervalEnd": "2026-04-12T00:00:00+00:00",
                        "activeCustomers": 61,
                        "newCustomers": 22,
                        "returningCustomers": 39
                      },
                      {
                        "intervalStart": "2026-04-12T00:00:00+00:00",
                        "intervalEnd": "2026-04-13T00:00:00+00:00",
                        "activeCustomers": 60,
                        "newCustomers": 47,
                        "returningCustomers": 13
                      },
                      {
                        "intervalStart": "2026-04-13T00:00:00+00:00",
                        "intervalEnd": "2026-04-14T00:00:00+00:00",
                        "activeCustomers": 52,
                        "newCustomers": 40,
                        "returningCustomers": 12
                      },
                      {
                        "intervalStart": "2026-04-14T00:00:00+00:00",
                        "intervalEnd": "2026-04-15T00:00:00+00:00",
                        "activeCustomers": 79,
                        "newCustomers": 48,
                        "returningCustomers": 31
                      },
                      {
                        "intervalStart": "2026-04-15T00:00:00+00:00",
                        "intervalEnd": "2026-04-16T00:00:00+00:00",
                        "activeCustomers": 63,
                        "newCustomers": 15,
                        "returningCustomers": 48
                      },
                      {
                        "intervalStart": "2026-04-16T00:00:00+00:00",
                        "intervalEnd": "2026-04-17T00:00:00+00:00",
                        "activeCustomers": 88,
                        "newCustomers": 49,
                        "returningCustomers": 39
                      },
                      {
                        "intervalStart": "2026-04-17T00:00:00+00:00",
                        "intervalEnd": "2026-04-18T00:00:00+00:00",
                        "activeCustomers": 11,
                        "newCustomers": 8,
                        "returningCustomers": 3
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-11T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-18T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 363
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 229
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": 134
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-11T00:00:00+00:00",
                          "intervalEnd": "2026-04-12T00:00:00+00:00",
                          "activeCustomers": 61,
                          "newCustomers": 22,
                          "returningCustomers": 39
                        },
                        {
                          "intervalStart": "2026-04-12T00:00:00+00:00",
                          "intervalEnd": "2026-04-13T00:00:00+00:00",
                          "activeCustomers": 60,
                          "newCustomers": 47,
                          "returningCustomers": 13
                        },
                        {
                          "intervalStart": "2026-04-13T00:00:00+00:00",
                          "intervalEnd": "2026-04-14T00:00:00+00:00",
                          "activeCustomers": 52,
                          "newCustomers": 40,
                          "returningCustomers": 12
                        },
                        {
                          "intervalStart": "2026-04-14T00:00:00+00:00",
                          "intervalEnd": "2026-04-15T00:00:00+00:00",
                          "activeCustomers": 79,
                          "newCustomers": 48,
                          "returningCustomers": 31
                        },
                        {
                          "intervalStart": "2026-04-15T00:00:00+00:00",
                          "intervalEnd": "2026-04-16T00:00:00+00:00",
                          "activeCustomers": 63,
                          "newCustomers": 15,
                          "returningCustomers": 48
                        },
                        {
                          "intervalStart": "2026-04-16T00:00:00+00:00",
                          "intervalEnd": "2026-04-17T00:00:00+00:00",
                          "activeCustomers": 88,
                          "newCustomers": 49,
                          "returningCustomers": 39
                        },
                        {
                          "intervalStart": "2026-04-17T00:00:00+00:00",
                          "intervalEnd": "2026-04-18T00:00:00+00:00",
                          "activeCustomers": 11,
                          "newCustomers": 8,
                          "returningCustomers": 3
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-11T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-12T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 61
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 22
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 39
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-11T00:00:00+00:00",
                    "periodEnd": "2026-04-18T00:00:00+00:00",
                    "totalTransactions": 4369,
                    "authorizeTransactions": 304,
                    "captureTransactions": 332,
                    "payTransactions": 2029,
                    "refundTransactions": 536,
                    "verifyTransactions": 776,
                    "voidTransactions": 392,
                    "successfulTransactions": 3929,
                    "failedTransactions": 331,
                    "declinedTransactions": 88,
                    "pendingTransactions": 21,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-11T00:00:00+00:00",
                        "intervalEnd": "2026-04-12T00:00:00+00:00",
                        "totalTransactions": 850,
                        "authorizeTransactions": 30,
                        "captureTransactions": 33,
                        "payTransactions": 116,
                        "refundTransactions": 29,
                        "verifyTransactions": 569,
                        "voidTransactions": 73,
                        "successfulTransactions": 765,
                        "failedTransactions": 67,
                        "declinedTransactions": 15,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-12T00:00:00+00:00",
                        "intervalEnd": "2026-04-13T00:00:00+00:00",
                        "totalTransactions": 653,
                        "authorizeTransactions": 58,
                        "captureTransactions": 61,
                        "payTransactions": 386,
                        "refundTransactions": 25,
                        "verifyTransactions": 31,
                        "voidTransactions": 92,
                        "successfulTransactions": 587,
                        "failedTransactions": 30,
                        "declinedTransactions": 31,
                        "pendingTransactions": 5,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-13T00:00:00+00:00",
                        "intervalEnd": "2026-04-14T00:00:00+00:00",
                        "totalTransactions": 781,
                        "authorizeTransactions": 15,
                        "captureTransactions": 18,
                        "payTransactions": 744,
                        "refundTransactions": 5,
                        "verifyTransactions": 3,
                        "voidTransactions": -4,
                        "successfulTransactions": 702,
                        "failedTransactions": 69,
                        "declinedTransactions": 7,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-14T00:00:00+00:00",
                        "intervalEnd": "2026-04-15T00:00:00+00:00",
                        "totalTransactions": 790,
                        "authorizeTransactions": 87,
                        "captureTransactions": 96,
                        "payTransactions": 425,
                        "refundTransactions": 83,
                        "verifyTransactions": 47,
                        "voidTransactions": 52,
                        "successfulTransactions": 711,
                        "failedTransactions": 48,
                        "declinedTransactions": 28,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-15T00:00:00+00:00",
                        "intervalEnd": "2026-04-16T00:00:00+00:00",
                        "totalTransactions": 291,
                        "authorizeTransactions": 24,
                        "captureTransactions": 28,
                        "payTransactions": 56,
                        "refundTransactions": 30,
                        "verifyTransactions": 27,
                        "voidTransactions": 126,
                        "successfulTransactions": 261,
                        "failedTransactions": 25,
                        "declinedTransactions": 4,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-16T00:00:00+00:00",
                        "intervalEnd": "2026-04-17T00:00:00+00:00",
                        "totalTransactions": 545,
                        "authorizeTransactions": 53,
                        "captureTransactions": 57,
                        "payTransactions": 174,
                        "refundTransactions": 233,
                        "verifyTransactions": 20,
                        "voidTransactions": 8,
                        "successfulTransactions": 490,
                        "failedTransactions": 49,
                        "declinedTransactions": 1,
                        "pendingTransactions": 5,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-17T00:00:00+00:00",
                        "intervalEnd": "2026-04-18T00:00:00+00:00",
                        "totalTransactions": 459,
                        "authorizeTransactions": 37,
                        "captureTransactions": 39,
                        "payTransactions": 128,
                        "refundTransactions": 131,
                        "verifyTransactions": 79,
                        "voidTransactions": 45,
                        "successfulTransactions": 413,
                        "failedTransactions": 43,
                        "declinedTransactions": 2,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-11T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-18T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 4369
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 304
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 332
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 2029
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 536
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 776
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 392
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 3929
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 331
                    },
                    "declinedTransactions": {
                      "type": "integer",
                      "example": 88
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 21
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-11T00:00:00+00:00",
                          "intervalEnd": "2026-04-12T00:00:00+00:00",
                          "totalTransactions": 850,
                          "authorizeTransactions": 30,
                          "captureTransactions": 33,
                          "payTransactions": 116,
                          "refundTransactions": 29,
                          "verifyTransactions": 569,
                          "voidTransactions": 73,
                          "successfulTransactions": 765,
                          "failedTransactions": 67,
                          "declinedTransactions": 15,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-12T00:00:00+00:00",
                          "intervalEnd": "2026-04-13T00:00:00+00:00",
                          "totalTransactions": 653,
                          "authorizeTransactions": 58,
                          "captureTransactions": 61,
                          "payTransactions": 386,
                          "refundTransactions": 25,
                          "verifyTransactions": 31,
                          "voidTransactions": 92,
                          "successfulTransactions": 587,
                          "failedTransactions": 30,
                          "declinedTransactions": 31,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-13T00:00:00+00:00",
                          "intervalEnd": "2026-04-14T00:00:00+00:00",
                          "totalTransactions": 781,
                          "authorizeTransactions": 15,
                          "captureTransactions": 18,
                          "payTransactions": 744,
                          "refundTransactions": 5,
                          "verifyTransactions": 3,
                          "voidTransactions": -4,
                          "successfulTransactions": 702,
                          "failedTransactions": 69,
                          "declinedTransactions": 7,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-14T00:00:00+00:00",
                          "intervalEnd": "2026-04-15T00:00:00+00:00",
                          "totalTransactions": 790,
                          "authorizeTransactions": 87,
                          "captureTransactions": 96,
                          "payTransactions": 425,
                          "refundTransactions": 83,
                          "verifyTransactions": 47,
                          "voidTransactions": 52,
                          "successfulTransactions": 711,
                          "failedTransactions": 48,
                          "declinedTransactions": 28,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-15T00:00:00+00:00",
                          "intervalEnd": "2026-04-16T00:00:00+00:00",
                          "totalTransactions": 291,
                          "authorizeTransactions": 24,
                          "captureTransactions": 28,
                          "payTransactions": 56,
                          "refundTransactions": 30,
                          "verifyTransactions": 27,
                          "voidTransactions": 126,
                          "successfulTransactions": 261,
                          "failedTransactions": 25,
                          "declinedTransactions": 4,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-16T00:00:00+00:00",
                          "intervalEnd": "2026-04-17T00:00:00+00:00",
                          "totalTransactions": 545,
                          "authorizeTransactions": 53,
                          "captureTransactions": 57,
                          "payTransactions": 174,
                          "refundTransactions": 233,
                          "verifyTransactions": 20,
                          "voidTransactions": 8,
                          "successfulTransactions": 490,
                          "failedTransactions": 49,
                          "declinedTransactions": 1,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-17T00:00:00+00:00",
                          "intervalEnd": "2026-04-18T00:00:00+00:00",
                          "totalTransactions": 459,
                          "authorizeTransactions": 37,
                          "captureTransactions": 39,
                          "payTransactions": 128,
                          "refundTransactions": 131,
                          "verifyTransactions": 79,
                          "voidTransactions": 45,
                          "successfulTransactions": 413,
                          "failedTransactions": 43,
                          "declinedTransactions": 2,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-11T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-12T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 850
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 30
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 33
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 116
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 29
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 569
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": 73
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 765
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 67
                          },
                          "declinedTransactions": {
                            "type": "integer",
                            "example": 15
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 3
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-11T00:00:00+00:00",
                    "periodEnd": "2026-04-18T00:00:00+00:00",
                    "totalSettlementAmount": 41089.06,
                    "totalFeeAmount": 2013.36394,
                    "totalNetAmount": 39075.69606,
                    "totalTransactionsPending": 149,
                    "totalTransactionsSettled": 772,
                    "totalTransactionsSettling": 859,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-11T00:00:00+00:00",
                        "intervalEnd": "2026-04-12T00:00:00+00:00",
                        "totalSettlementAmount": 3685.58,
                        "totalFeeAmount": 180.59342,
                        "totalNetAmount": 3504.98658,
                        "totalTransactionsPending": 8,
                        "totalTransactionsSettled": 30,
                        "totalTransactionsSettling": 94
                      },
                      {
                        "intervalStart": "2026-04-12T00:00:00+00:00",
                        "intervalEnd": "2026-04-13T00:00:00+00:00",
                        "totalSettlementAmount": 9030.45,
                        "totalFeeAmount": 442.49205,
                        "totalNetAmount": 8587.95795,
                        "totalTransactionsPending": 35,
                        "totalTransactionsSettled": 90,
                        "totalTransactionsSettling": 58
                      },
                      {
                        "intervalStart": "2026-04-13T00:00:00+00:00",
                        "intervalEnd": "2026-04-14T00:00:00+00:00",
                        "totalSettlementAmount": 9957.54,
                        "totalFeeAmount": 487.91946,
                        "totalNetAmount": 9469.62054,
                        "totalTransactionsPending": 33,
                        "totalTransactionsSettled": 82,
                        "totalTransactionsSettling": 129
                      },
                      {
                        "intervalStart": "2026-04-14T00:00:00+00:00",
                        "intervalEnd": "2026-04-15T00:00:00+00:00",
                        "totalSettlementAmount": 6385,
                        "totalFeeAmount": 312.865,
                        "totalNetAmount": 6072.135,
                        "totalTransactionsPending": 15,
                        "totalTransactionsSettled": 30,
                        "totalTransactionsSettling": 182
                      },
                      {
                        "intervalStart": "2026-04-15T00:00:00+00:00",
                        "intervalEnd": "2026-04-16T00:00:00+00:00",
                        "totalSettlementAmount": 9501.06,
                        "totalFeeAmount": 465.55194,
                        "totalNetAmount": 9035.50806,
                        "totalTransactionsPending": 9,
                        "totalTransactionsSettled": 143,
                        "totalTransactionsSettling": 106
                      },
                      {
                        "intervalStart": "2026-04-16T00:00:00+00:00",
                        "intervalEnd": "2026-04-17T00:00:00+00:00",
                        "totalSettlementAmount": 1657.02,
                        "totalFeeAmount": 81.19398,
                        "totalNetAmount": 1575.82602,
                        "totalTransactionsPending": 16,
                        "totalTransactionsSettled": 208,
                        "totalTransactionsSettling": 87
                      },
                      {
                        "intervalStart": "2026-04-17T00:00:00+00:00",
                        "intervalEnd": "2026-04-18T00:00:00+00:00",
                        "totalSettlementAmount": 872.41,
                        "totalFeeAmount": 42.74809,
                        "totalNetAmount": 829.66191,
                        "totalTransactionsPending": 33,
                        "totalTransactionsSettled": 189,
                        "totalTransactionsSettling": 203
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-11T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-18T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 41089.06
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 2013.36394
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 39075.69606
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 149
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 772
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 859
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-11T00:00:00+00:00",
                          "intervalEnd": "2026-04-12T00:00:00+00:00",
                          "totalSettlementAmount": 3685.58,
                          "totalFeeAmount": 180.59342,
                          "totalNetAmount": 3504.98658,
                          "totalTransactionsPending": 8,
                          "totalTransactionsSettled": 30,
                          "totalTransactionsSettling": 94
                        },
                        {
                          "intervalStart": "2026-04-12T00:00:00+00:00",
                          "intervalEnd": "2026-04-13T00:00:00+00:00",
                          "totalSettlementAmount": 9030.45,
                          "totalFeeAmount": 442.49205,
                          "totalNetAmount": 8587.95795,
                          "totalTransactionsPending": 35,
                          "totalTransactionsSettled": 90,
                          "totalTransactionsSettling": 58
                        },
                        {
                          "intervalStart": "2026-04-13T00:00:00+00:00",
                          "intervalEnd": "2026-04-14T00:00:00+00:00",
                          "totalSettlementAmount": 9957.54,
                          "totalFeeAmount": 487.91946,
                          "totalNetAmount": 9469.62054,
                          "totalTransactionsPending": 33,
                          "totalTransactionsSettled": 82,
                          "totalTransactionsSettling": 129
                        },
                        {
                          "intervalStart": "2026-04-14T00:00:00+00:00",
                          "intervalEnd": "2026-04-15T00:00:00+00:00",
                          "totalSettlementAmount": 6385,
                          "totalFeeAmount": 312.865,
                          "totalNetAmount": 6072.135,
                          "totalTransactionsPending": 15,
                          "totalTransactionsSettled": 30,
                          "totalTransactionsSettling": 182
                        },
                        {
                          "intervalStart": "2026-04-15T00:00:00+00:00",
                          "intervalEnd": "2026-04-16T00:00:00+00:00",
                          "totalSettlementAmount": 9501.06,
                          "totalFeeAmount": 465.55194,
                          "totalNetAmount": 9035.50806,
                          "totalTransactionsPending": 9,
                          "totalTransactionsSettled": 143,
                          "totalTransactionsSettling": 106
                        },
                        {
                          "intervalStart": "2026-04-16T00:00:00+00:00",
                          "intervalEnd": "2026-04-17T00:00:00+00:00",
                          "totalSettlementAmount": 1657.02,
                          "totalFeeAmount": 81.19398,
                          "totalNetAmount": 1575.82602,
                          "totalTransactionsPending": 16,
                          "totalTransactionsSettled": 208,
                          "totalTransactionsSettling": 87
                        },
                        {
                          "intervalStart": "2026-04-17T00:00:00+00:00",
                          "intervalEnd": "2026-04-18T00:00:00+00:00",
                          "totalSettlementAmount": 872.41,
                          "totalFeeAmount": 42.74809,
                          "totalNetAmount": 829.66191,
                          "totalTransactionsPending": 33,
                          "totalTransactionsSettled": 189,
                          "totalTransactionsSettling": 203
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-11T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-12T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 3685.58
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 180.59342
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 3504.98658
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 8
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 30
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 94
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 7,
                    "data": [
                      {
                        "email": "theresia.muller@keebler.com",
                        "firstName": "Ines",
                        "lastName": "Konopelski",
                        "phone": "+18603190471",
                        "dateOfBirth": "1993-09-06"
                      },
                      {
                        "email": "alec.cronin@yahoo.com",
                        "firstName": "August",
                        "lastName": "Kuhlman",
                        "phone": "+12237274869",
                        "dateOfBirth": "1994-06-13"
                      },
                      {
                        "email": "orval.lockman@barton.com",
                        "firstName": "Bud",
                        "lastName": "Sanford",
                        "phone": "+16579606031",
                        "dateOfBirth": "2005-07-26"
                      },
                      {
                        "email": "schiller.narciso@hotmail.com",
                        "firstName": "Francesca",
                        "lastName": "Weimann",
                        "phone": "+13869180796",
                        "dateOfBirth": "1978-03-30"
                      },
                      {
                        "email": "rosetta.rodriguez@hotmail.com",
                        "firstName": "Shanny",
                        "lastName": "Lynch",
                        "phone": "+17474450353",
                        "dateOfBirth": "1971-01-09"
                      },
                      {
                        "email": "jaylin95@stiedemann.com",
                        "firstName": "Norene",
                        "lastName": "Kutch",
                        "phone": "+15059319670",
                        "dateOfBirth": "1990-03-18"
                      },
                      {
                        "email": "schmidt.yasmeen@gmail.com",
                        "firstName": "Davion",
                        "lastName": "Watsica",
                        "phone": "+15866665501",
                        "dateOfBirth": "1984-10-02"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 7,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "theresia.muller@keebler.com",
                          "firstName": "Ines",
                          "lastName": "Konopelski",
                          "phone": "+18603190471",
                          "dateOfBirth": "1993-09-06"
                        },
                        {
                          "email": "alec.cronin@yahoo.com",
                          "firstName": "August",
                          "lastName": "Kuhlman",
                          "phone": "+12237274869",
                          "dateOfBirth": "1994-06-13"
                        },
                        {
                          "email": "orval.lockman@barton.com",
                          "firstName": "Bud",
                          "lastName": "Sanford",
                          "phone": "+16579606031",
                          "dateOfBirth": "2005-07-26"
                        },
                        {
                          "email": "schiller.narciso@hotmail.com",
                          "firstName": "Francesca",
                          "lastName": "Weimann",
                          "phone": "+13869180796",
                          "dateOfBirth": "1978-03-30"
                        },
                        {
                          "email": "rosetta.rodriguez@hotmail.com",
                          "firstName": "Shanny",
                          "lastName": "Lynch",
                          "phone": "+17474450353",
                          "dateOfBirth": "1971-01-09"
                        },
                        {
                          "email": "jaylin95@stiedemann.com",
                          "firstName": "Norene",
                          "lastName": "Kutch",
                          "phone": "+15059319670",
                          "dateOfBirth": "1990-03-18"
                        },
                        {
                          "email": "schmidt.yasmeen@gmail.com",
                          "firstName": "Davion",
                          "lastName": "Watsica",
                          "phone": "+15866665501",
                          "dateOfBirth": "1984-10-02"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "theresia.muller@keebler.com"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Ines"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Konopelski"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+18603190471"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "1993-09-06"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers/{customerIdOrEmail}/addresses": {
      "get": {
        "summary": "List Customer Billing Addresses",
        "operationId": "listCustomerBillingAddresses",
        "description": "Returns all unique billing addresses that have been used by a customer across their payments.\nAddresses are deduplicated using case-insensitive and whitespace-insensitive comparison.",
        "parameters": [
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
            "example": "-city",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
              "example": "-city",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of unique billing addresses for the customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "company": "Hintz-Corkery",
                        "street": "42381 Reinger Vista Apt. 022",
                        "city": "South Kaseyshire",
                        "stateProvince": "UT",
                        "postcodeZip": "29227",
                        "country": "USA"
                      },
                      {
                        "company": "Schroeder Group",
                        "street": "7269 Grady Station",
                        "city": "West Buddyville",
                        "stateProvince": "OK",
                        "postcodeZip": "30926",
                        "country": "USA"
                      },
                      {
                        "company": "Schuppe, O'Conner and Schowalter",
                        "street": "639 Claire Junction",
                        "city": "Gleichnerton",
                        "stateProvince": "KS",
                        "postcodeZip": "24447-8142",
                        "country": "USA"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "company": "Hintz-Corkery",
                          "street": "42381 Reinger Vista Apt. 022",
                          "city": "South Kaseyshire",
                          "stateProvince": "UT",
                          "postcodeZip": "29227",
                          "country": "USA"
                        },
                        {
                          "company": "Schroeder Group",
                          "street": "7269 Grady Station",
                          "city": "West Buddyville",
                          "stateProvince": "OK",
                          "postcodeZip": "30926",
                          "country": "USA"
                        },
                        {
                          "company": "Schuppe, O'Conner and Schowalter",
                          "street": "639 Claire Junction",
                          "city": "Gleichnerton",
                          "stateProvince": "KS",
                          "postcodeZip": "24447-8142",
                          "country": "USA"
                        }
                      ],
                      "description": "The data returned from the request",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "company": {
                            "type": "string",
                            "example": "Hintz-Corkery"
                          },
                          "street": {
                            "type": "string",
                            "example": "42381 Reinger Vista Apt. 022"
                          },
                          "city": {
                            "type": "string",
                            "example": "South Kaseyshire"
                          },
                          "stateProvince": {
                            "type": "string",
                            "example": "UT"
                          },
                          "postcodeZip": {
                            "type": "string",
                            "example": "29227"
                          },
                          "country": {
                            "type": "string",
                            "example": "USA"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "path",
          "name": "customerIdOrEmail",
          "description": "The customer ID, UUID, or email address",
[...]
