{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.76.1"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payout Exports",
      "description": "Create payout exports"
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/yments/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)\n\n### Tags:\n\nFilter by user-applied tags. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)\n\n### Tags:\n\nFilter by user-applied tags. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-05-05T00:00:00+00:00",
                      "periodEnd": "2026-05-12T00:00:00+00:00",
                      "numPaymentsCreated": 4046,
                      "numPaymentsProcessed": 2557,
                      "numPaymentsIncomplete": 1489,
                      "numPaymentsWithRefunds": 1245,
                      "numCardPresentPayments": 1499,
                      "numCardNotPresentPayments": -10,
                      "totalCapturedAmount": 4859963.62,
                      "totalRefundedAmount": 848111.37,
                      "totalNetCapturedAmount": 4011852.25,
                      "averageNetCapturedAmount": 3483.9728571429,
                      "minNetCapturedAmount": 14.58,
                      "maxNetCapturedAmount": 8355.38,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-05-05T00:00:00+00:00",
                          "intervalEnd": "2026-05-06T00:00:00+00:00",
                          "numPaymentsCreated": 958,
                          "numPaymentsProcessed": 658,
                          "numPaymentsIncomplete": 300,
                          "numPaymentsWithRefunds": 71,
                          "numCardPresentPayments": 557,
                          "numCardNotPresentPayments": -257,
                          "totalCapturedAmount": 817491.89,
                          "totalRefundedAmount": 195906.15,
                          "totalNetCapturedAmount": 621585.74,
                          "averageNetCapturedAmount": 944.66,
                          "minNetCapturedAmount": 54.12,
                          "maxNetCapturedAmount": 7029.84
                        },
                        {
                          "intervalStart": "2026-05-06T00:00:00+00:00",
                          "intervalEnd": "2026-05-07T00:00:00+00:00",
                          "numPaymentsCreated": 357,
                          "numPaymentsProcessed": 68,
                          "numPaymentsIncomplete": 289,
                          "numPaymentsWithRefunds": 6,
                          "numCardPresentPayments": 1,
                          "numCardNotPresentPayments": 288,
                          "totalCapturedAmount": 751073.12,
                          "totalRefundedAmount": 183670.33,
                          "totalNetCapturedAmount": 567402.79,
                          "averageNetCapturedAmount": 8344.16,
                          "minNetCapturedAmount": 99.66,
                          "maxNetCapturedAmount": 3285.58
                        },
                        {
                          "intervalStart": "2026-05-07T00:00:00+00:00",
                          "intervalEnd": "2026-05-08T00:00:00+00:00",
                          "numPaymentsCreated": 919,
                          "numPaymentsProcessed": 581,
                          "numPaymentsIncomplete": 338,
                          "numPaymentsWithRefunds": 301,
                          "numCardPresentPayments": 475,
                          "numCardNotPresentPayments": -137,
                          "totalCapturedAmount": 569704.6,
                          "totalRefundedAmount": 90425.28,
                          "totalNetCapturedAmount": 479279.32,
                          "averageNetCapturedAmount": 824.92,
                          "minNetCapturedAmount": 14.58,
                          "maxNetCapturedAmount": 3994.73
                        },
                        {
                          "intervalStart": "2026-05-08T00:00:00+00:00",
                          "intervalEnd": "2026-05-09T00:00:00+00:00",
                          "numPaymentsCreated": 886,
                          "numPaymentsProcessed": 614,
                          "numPaymentsIncomplete": 272,
                          "numPaymentsWithRefunds": 362,
                          "numCardPresentPayments": 210,
                          "numCardNotPresentPayments": 62,
                          "totalCapturedAmount": 591631.17,
                          "totalRefundedAmount": 76813.22,
                          "totalNetCapturedAmount": 514817.95,
                          "averageNetCapturedAmount": 838.47,
                          "minNetCapturedAmount": 20.88,
                          "maxNetCapturedAmount": 8355.38
                        },
                        {
                          "intervalStart": "2026-05-09T00:00:00+00:00",
                          "intervalEnd": "2026-05-10T00:00:00+00:00",
                          "numPaymentsCreated": 119,
                          "numPaymentsProcessed": 86,
                          "numPaymentsIncomplete": 33,
                          "numPaymentsWithRefunds": 33,
                          "numCardPresentPayments": 63,
                          "numCardNotPresentPayments": -30,
                          "totalCapturedAmount": 999172.13,
                          "totalRefundedAmount": 132643.92,
                          "totalNetCapturedAmount": 866528.21,
                          "averageNetCapturedAmount": 10075.91,
                          "minNetCapturedAmount": 15.98,
                          "maxNetCapturedAmount": 5675.66
                        },
                        {
                          "intervalStart": "2026-05-10T00:00:00+00:00",
                          "intervalEnd": "2026-05-11T00:00:00+00:00",
                          "numPaymentsCreated": 491,
                          "numPaymentsProcessed": 302,
                          "numPaymentsIncomplete": 189,
                          "numPaymentsWithRefunds": 253,
                          "numCardPresentPayments": 52,
                          "numCardNotPresentPayments": 137,
                          "totalCapturedAmount": 792508.1,
                          "totalRefundedAmount": 70864.76,
                          "totalNetCapturedAmount": 721643.34,
                          "averageNetCapturedAmount": 2389.55,
                          "minNetCapturedAmount": 39.82,
                          "maxNetCapturedAmount": 5462.58
                        },
                        {
                          "intervalStart": "2026-05-11T00:00:00+00:00",
                          "intervalEnd": "2026-05-12T00:00:00+00:00",
                          "numPaymentsCreated": 316,
                          "numPaymentsProcessed": 248,
                          "numPaymentsIncomplete": 68,
                          "numPaymentsWithRefunds": 219,
                          "numCardPresentPayments": 141,
                          "numCardNotPresentPayments": -73,
                          "totalCapturedAmount": 338382.61,
                          "totalRefundedAmount": 97787.71,
                          "totalNetCapturedAmount": 240594.9,
                          "averageNetCapturedAmount": 970.14,
                          "minNetCapturedAmount": 40.54,
                          "maxNetCapturedAmount": 1864.27
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-05-05T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-05-12T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "numPaymentsCreated": {
                          "type": "integer",
                          "example": 4046,
                          "description": "Total number of payment records created in the period",
                          "enum": []
                        },
                        "numPaymentsProcessed": {
                          "type": "integer",
                          "example": 2557,
                          "description": "Number of payments that have successfully had funds captured (captured amount > 0)",
                          "enum": []
                        },
                        "numPaymentsIncomplete": {
                          "type": "integer",
                          "example": 1489,
                          "description": "Number of payments which have been created but funds have not been captured yet (e.g. failures, declines, authorizations, etc.)",
                          "enum": []
                        },
                        "numPaymentsWithRefunds": {
                          "type": "integer",
                          "example": 1245,
                          "description": "Number of payments that have had one or more refunds (refunded amount > 0)",
                          "enum": []
                        },
                        "numCardPresentPayments": {
                          "type": "integer",
                          "example": 1499,
                          "description": "Number of payments made with card present (e.g. via terminal device)",
                          "enum": []
                        },
                        "numCardNotPresentPayments": {
                          "type": "integer",
                          "example": -10,
                          "description": "Number of payments made with card not present (e.g. online payments)",
                          "enum": []
                        },
                        "totalCapturedAmount": {
                          "type": "number",
                          "example": 4859963.62,
                          "description": "Total amount captured across all payments in the period",
                          "enum": []
                        },
                        "totalRefundedAmount": {
                          "type": "number",
                          "example": 848111.37,
                          "description": "Total amount refunded across all payments in the period",
                          "enum": []
                        },
                        "totalNetCapturedAmount": {
                          "type": "number",
                          "example": 4011852.25,
                          "description": "Net captured amount (captured - refunded) across all payments in the period",
                          "enum": []
                        },
                        "averageNetCapturedAmount": {
                          "type": "number",
                          "example": 3483.9728571429,
                          "description": "Average net captured amount per payment in the period",
                          "enum": []
                        },
                        "minNetCapturedAmount": {
                          "type": "number",
                          "example": 14.58,
                          "description": "Minimum net captured amount in the period",
                          "enum": []
                        },
                        "maxNetCapturedAmount": {
                          "type": "number",
                          "example": 8355.38,
                          "description": "Maximum net captured amount in the period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-05-05T00:00:00+00:00",
                              "intervalEnd": "2026-05-06T00:00:00+00:00",
                              "numPaymentsCreated": 958,
                              "numPaymentsProcessed": 658,
                              "numPaymentsIncomplete": 300,
                              "numPaymentsWithRefunds": 71,
                              "numCardPresentPayments": 557,
                              "numCardNotPresentPayments": -257,
                              "totalCapturedAmount": 817491.89,
                              "totalRefundedAmount": 195906.15,
                              "totalNetCapturedAmount": 621585.74,
                              "averageNetCapturedAmount": 944.66,
                              "minNetCapturedAmount": 54.12,
                              "maxNetCapturedAmount": 7029.84
                            },
                            {
                              "intervalStart": "2026-05-06T00:00:00+00:00",
                              "intervalEnd": "2026-05-07T00:00:00+00:00",
                              "numPaymentsCreated": 357,
                              "numPaymentsProcessed": 68,
                              "numPaymentsIncomplete": 289,
                              "numPaymentsWithRefunds": 6,
                              "numCardPresentPayments": 1,
                              "numCardNotPresentPayments": 288,
                              "totalCapturedAmount": 751073.12,
                              "totalRefundedAmount": 183670.33,
                              "totalNetCapturedAmount": 567402.79,
                              "averageNetCapturedAmount": 8344.16,
                              "minNetCapturedAmount": 99.66,
                              "maxNetCapturedAmount": 3285.58
                            },
                            {
                              "intervalStart": "2026-05-07T00:00:00+00:00",
                              "intervalEnd": "2026-05-08T00:00:00+00:00",
                              "numPaymentsCreated": 919,
                              "numPaymentsProcessed": 581,
                              "numPaymentsIncomplete": 338,
                              "numPaymentsWithRefunds": 301,
                              "numCardPresentPayments": 475,
                              "numCardNotPresentPayments": -137,
                              "totalCapturedAmount": 569704.6,
                              "totalRefundedAmount": 90425.28,
                              "totalNetCapturedAmount": 479279.32,
                              "averageNetCapturedAmount": 824.92,
                              "minNetCapturedAmount": 14.58,
                              "maxNetCapturedAmount": 3994.73
                            },
                            {
                              "intervalStart": "2026-05-08T00:00:00+00:00",
                              "intervalEnd": "2026-05-09T00:00:00+00:00",
                              "numPaymentsCreated": 886,
                              "numPaymentsProcessed": 614,
                              "numPaymentsIncomplete": 272,
                              "numPaymentsWithRefunds": 362,
                              "numCardPresentPayments": 210,
                              "numCardNotPresentPayments": 62,
                              "totalCapturedAmount": 591631.17,
                              "totalRefundedAmount": 76813.22,
                              "totalNetCapturedAmount": 514817.95,
                              "averageNetCapturedAmount": 838.47,
                              "minNetCapturedAmount": 20.88,
                              "maxNetCapturedAmount": 8355.38
                            },
                            {
                              "intervalStart": "2026-05-09T00:00:00+00:00",
                              "intervalEnd": "2026-05-10T00:00:00+00:00",
                              "numPaymentsCreated": 119,
                              "numPaymentsProcessed": 86,
                              "numPaymentsIncomplete": 33,
                              "numPaymentsWithRefunds": 33,
                              "numCardPresentPayments": 63,
                              "numCardNotPresentPayments": -30,
                              "totalCapturedAmount": 999172.13,
                              "totalRefundedAmount": 132643.92,
                              "totalNetCapturedAmount": 866528.21,
                              "averageNetCapturedAmount": 10075.91,
                              "minNetCapturedAmount": 15.98,
                              "maxNetCapturedAmount": 5675.66
                            },
                            {
                              "intervalStart": "2026-05-10T00:00:00+00:00",
                              "intervalEnd": "2026-05-11T00:00:00+00:00",
                              "numPaymentsCreated": 491,
                              "numPaymentsProcessed": 302,
                              "numPaymentsIncomplete": 189,
                              "numPaymentsWithRefunds": 253,
                              "numCardPresentPayments": 52,
                              "numCardNotPresentPayments": 137,
                              "totalCapturedAmount": 792508.1,
                              "totalRefundedAmount": 70864.76,
                              "totalNetCapturedAmount": 721643.34,
                              "averageNetCapturedAmount": 2389.55,
                              "minNetCapturedAmount": 39.82,
                              "maxNetCapturedAmount": 5462.58
                            },
                            {
                              "intervalStart": "2026-05-11T00:00:00+00:00",
                              "intervalEnd": "2026-05-12T00:00:00+00:00",
                              "numPaymentsCreated": 316,
                              "numPaymentsProcessed": 248,
                              "numPaymentsIncomplete": 68,
                              "numPaymentsWithRefunds": 219,
                              "numCardPresentPayments": 141,
                              "numCardNotPresentPayments": -73,
                              "totalCapturedAmount": 338382.61,
                              "totalRefundedAmount": 97787.71,
                              "totalNetCapturedAmount": 240594.9,
                              "averageNetCapturedAmount": 970.14,
                              "minNetCapturedAmount": 40.54,
                              "maxNetCapturedAmount": 1864.27
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-05-05T00:00:00+00:00",
                                "description": "Start time of the PaymentAnalyticsData interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-05-06T00:00:00+00:00",
                                "description": "End time of the PaymentAnalyticsData interval",
                                "enum": []
                              },
                              "numPaymentsCreated": {
                                "type": "integer",
                                "example": 958,
                                "description": "Total number of payment records created in the interval",
                                "enum": []
                              },
                              "numPaymentsProcessed": {
                                "type": "integer",
                                "example": 658,
                                "description": "Number of payments that have successfully had funds captured (captured amount > 0)",
                                "enum": []
                              },
                              "numPaymentsIncomplete": {
                                "type": "integer",
                                "example": 300,
                                "description": "Number of payments which have been created but funds have not been captured yet (e.g. failures, declines, authorizations, etc.)",
                                "enum": []
                              },
                              "numPaymentsWithRefunds": {
                                "type": "integer",
                                "example": 71,
                                "description": "Number of payments that have had one or more refunds (refunded amount > 0)",
                                "enum": []
                              },
                              "numCardPresentPayments": {
                                "type": "integer",
                                "example": 557,
                                "description": "Number of payments made with card present (e.g. via terminal device)",
                                "enum": []
                              },
                              "numCardNotPresentPayments": {
                                "type": "integer",
                                "example": -257,
                                "description": "Number of payments made with card not present (e.g. online payments)",
                                "enum": []
                              },
                              "totalCapturedAmount": {
                                "type": "number",
                                "example": 817491.89,
                                "description": "Total amount captured across all payments in the interval",
                                "enum": []
                              },
                              "totalRefundedAmount": {
                                "type": "number",
                                "example": 195906.15,
                                "description": "Total amount refunded across all payments in the interval",
                                "enum": []
                              },
                              "totalNetCapturedAmount": {
                                "type": "number",
                                "example": 621585.74,
                                "description": "Net captured amount (captured - refunded) across all payments in the interval",
                                "enum": []
                              },
                              "averageNetCapturedAmount": {
                                "type": "number",
                                "example": 944.66,
                                "description": "Average net captured amount per payment in the interval",
                                "enum": []
                              },
                              "minNetCapturedAmount": {
                                "type": "number",
                                "example": 54.12,
                                "description": "Minimum net captured amount in the interval",
                                "enum": []
                              },
                              "maxNetCapturedAmount": {
                                "type": "number",
                                "example": 7029.84,
                                "description": "Maximum net captured amount in the interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/yments/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n\n### Tags:\n\nFilter by user-applied tags on the underlying payments. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n\n### Tags:\n\nFilter by user-applied tags on the underlying payments. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-05-05T00:00:00+00:00",
                      "periodEnd": "2026-05-12T00:00:00+00:00",
                      "activeCustomers": 229,
                      "newCustomers": 161,
                      "returningCustomers": 68,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-05-05T00:00:00+00:00",
                          "intervalEnd": "2026-05-06T00:00:00+00:00",
                          "activeCustomers": 54,
                          "newCustomers": 9,
                          "returningCustomers": 45
                        },
                        {
                          "intervalStart": "2026-05-06T00:00:00+00:00",
                          "intervalEnd": "2026-05-07T00:00:00+00:00",
                          "activeCustomers": 21,
                          "newCustomers": 8,
                          "returningCustomers": 13
                        },
                        {
                          "intervalStart": "2026-05-07T00:00:00+00:00",
                          "intervalEnd": "2026-05-08T00:00:00+00:00",
                          "activeCustomers": 84,
                          "newCustomers": 14,
                          "returningCustomers": 70
                        },
                        {
                          "intervalStart": "2026-05-08T00:00:00+00:00",
                          "intervalEnd": "2026-05-09T00:00:00+00:00",
                          "activeCustomers": 42,
                          "newCustomers": 31,
                          "returningCustomers": 11
                        },
                        {
                          "intervalStart": "2026-05-09T00:00:00+00:00",
                          "intervalEnd": "2026-05-10T00:00:00+00:00",
                          "activeCustomers": 70,
                          "newCustomers": 62,
                          "returningCustomers": 8
                        },
                        {
                          "intervalStart": "2026-05-10T00:00:00+00:00",
                          "intervalEnd": "2026-05-11T00:00:00+00:00",
                          "activeCustomers": 69,
                          "newCustomers": 17,
                          "returningCustomers": 52
                        },
                        {
                          "intervalStart": "2026-05-11T00:00:00+00:00",
                          "intervalEnd": "2026-05-12T00:00:00+00:00",
                          "activeCustomers": 58,
                          "newCustomers": 20,
                          "returningCustomers": 38
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-05-05T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-05-12T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "activeCustomers": {
                          "type": "integer",
                          "example": 229,
                          "description": "number of customers who are associated with at least one payment which was created in the period",
                          "enum": []
                        },
                        "newCustomers": {
                          "type": "integer",
                          "example": 161,
                          "description": "number of new customers added in the period",
                          "enum": []
                        },
                        "returningCustomers": {
                          "type": "integer",
                          "example": 68,
                          "description": "number of customers who were active in the period but were created before the period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-05-05T00:00:00+00:00",
                              "intervalEnd": "2026-05-06T00:00:00+00:00",
                              "activeCustomers": 54,
                              "newCustomers": 9,
                              "returningCustomers": 45
                            },
                            {
                              "intervalStart": "2026-05-06T00:00:00+00:00",
                              "intervalEnd": "2026-05-07T00:00:00+00:00",
                              "activeCustomers": 21,
                              "newCustomers": 8,
                              "returningCustomers": 13
                            },
                            {
                              "intervalStart": "2026-05-07T00:00:00+00:00",
                              "intervalEnd": "2026-05-08T00:00:00+00:00",
                              "activeCustomers": 84,
                              "newCustomers": 14,
                              "returningCustomers": 70
                            },
                            {
                              "intervalStart": "2026-05-08T00:00:00+00:00",
                              "intervalEnd": "2026-05-09T00:00:00+00:00",
                              "activeCustomers": 42,
                              "newCustomers": 31,
                              "returningCustomers": 11
                            },
                            {
                              "intervalStart": "2026-05-09T00:00:00+00:00",
                              "intervalEnd": "2026-05-10T00:00:00+00:00",
                              "activeCustomers": 70,
                              "newCustomers": 62,
                              "returningCustomers": 8
                            },
                            {
                              "intervalStart": "2026-05-10T00:00:00+00:00",
                              "intervalEnd": "2026-05-11T00:00:00+00:00",
                              "activeCustomers": 69,
                              "newCustomers": 17,
                              "returningCustomers": 52
                            },
                            {
                              "intervalStart": "2026-05-11T00:00:00+00:00",
                              "intervalEnd": "2026-05-12T00:00:00+00:00",
                              "activeCustomers": 58,
                              "newCustomers": 20,
                              "returningCustomers": 38
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-05-05T00:00:00+00:00",
                                "description": "Start time of the analytics calculation interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-05-06T00:00:00+00:00",
                                "description": "End time of the analytics calculation interval",
                                "enum": []
                              },
                              "activeCustomers": {
                                "type": "integer",
                                "example": 54,
                                "description": "number of customers who are associated with at least one payment which was created in the interval",
                                "enum": []
                              },
                              "newCustomers": {
                                "type": "integer",
                                "example": 9,
                                "description": "number of new customers added in the interval",
                                "enum": []
                              },
                              "returningCustomers": {
                                "type": "integer",
                                "example": 45,
                                "description": "number of customers who were active in the interval but were created before the interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/yments/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n\n### Tags:\n\nFilter by user-applied tags. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n\n### Tags:\n\nFilter by user-applied tags. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-05-05T00:00:00+00:00",
                      "periodEnd": "2026-05-12T00:00:00+00:00",
                      "totalTransactions": 4598,
                      "authorizeTransactions": 356,
                      "captureTransactions": 399,
                      "payTransactions": 2442,
                      "refundTransactions": 589,
                      "verifyTransactions": 435,
                      "voidTransactions": 377,
                      "successfulTransactions": 4134,
                      "failedTransactions": 369,
                      "declinedTransactions": 75,
                      "pendingTransactions": 20,
                      "unknownTransactions": 0,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-05-05T00:00:00+00:00",
                          "intervalEnd": "2026-05-06T00:00:00+00:00",
                          "totalTransactions": 667,
                          "authorizeTransactions": 72,
                          "captureTransactions": 80,
                          "payTransactions": 124,
                          "refundTransactions": 148,
                          "verifyTransactions": 221,
                          "voidTransactions": 22,
                          "successfulTransactions": 600,
                          "failedTransactions": 61,
                          "declinedTransactions": 3,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-05-06T00:00:00+00:00",
                          "intervalEnd": "2026-05-07T00:00:00+00:00",
                          "totalTransactions": 372,
                          "authorizeTransactions": 24,
                          "captureTransactions": 33,
                          "payTransactions": 263,
                          "refundTransactions": 21,
                          "verifyTransactions": 24,
                          "voidTransactions": 7,
                          "successfulTransactions": 334,
                          "failedTransactions": 19,
                          "declinedTransactions": 18,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-05-07T00:00:00+00:00",
                          "intervalEnd": "2026-05-08T00:00:00+00:00",
                          "totalTransactions": 597,
                          "authorizeTransactions": 52,
                          "captureTransactions": 53,
                          "payTransactions": 184,
                          "refundTransactions": 118,
                          "verifyTransactions": 10,
                          "voidTransactions": 180,
                          "successfulTransactions": 537,
                          "failedTransactions": 47,
                          "declinedTransactions": 12,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-05-08T00:00:00+00:00",
                          "intervalEnd": "2026-05-09T00:00:00+00:00",
                          "totalTransactions": 574,
                          "authorizeTransactions": 61,
                          "captureTransactions": 63,
                          "payTransactions": 387,
                          "refundTransactions": 34,
                          "verifyTransactions": 24,
                          "voidTransactions": 5,
                          "successfulTransactions": 516,
                          "failedTransactions": 27,
                          "declinedTransactions": 28,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-05-09T00:00:00+00:00",
                          "intervalEnd": "2026-05-10T00:00:00+00:00",
                          "totalTransactions": 981,
                          "authorizeTransactions": 63,
                          "captureTransactions": 66,
                          "payTransactions": 601,
                          "refundTransactions": 16,
                          "verifyTransactions": 100,
                          "voidTransactions": 135,
                          "successfulTransactions": 882,
                          "failedTransactions": 91,
                          "declinedTransactions": 5,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-05-10T00:00:00+00:00",
                          "intervalEnd": "2026-05-11T00:00:00+00:00",
                          "totalTransactions": 511,
                          "authorizeTransactions": 50,
                          "captureTransactions": 60,
                          "payTransactions": 224,
                          "refundTransactions": 158,
                          "verifyTransactions": 12,
                          "voidTransactions": 7,
                          "successfulTransactions": 459,
                          "failedTransactions": 44,
                          "declinedTransactions": 6,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-05-11T00:00:00+00:00",
                          "intervalEnd": "2026-05-12T00:00:00+00:00",
                          "totalTransactions": 896,
                          "authorizeTransactions": 34,
                          "captureTransactions": 44,
                          "payTransactions": 659,
                          "refundTransactions": 94,
                          "verifyTransactions": 44,
                          "voidTransactions": 21,
                          "successfulTransactions": 806,
                          "failedTransactions": 80,
                          "declinedTransactions": 3,
                          "pendingTransactions": 7,
                          "unknownTransactions": 0
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-05-05T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-05-12T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "totalTransactions": {
                          "type": "integer",
                          "example": 4598,
                          "description": "Total number of transactions in the period",
                          "enum": []
                        },
                        "authorizeTransactions": {
                          "type": "integer",
                          "example": 356,
                          "description": "Number of authorize transactions in the period",
                          "enum": []
                        },
                        "captureTransactions": {
                          "type": "integer",
                          "example": 399,
                          "description": "Number of capture transactions in the period",
                          "enum": []
                        },
                        "payTransactions": {
                          "type": "integer",
                          "example": 2442,
                          "description": "Number of pay transactions in the period",
                          "enum": []
                        },
                        "refundTransactions": {
                          "type": "integer",
                          "example": 589,
                          "description": "Number of refund transactions in the period",
                          "enum": []
                        },
                        "verifyTransactions": {
                          "type": "integer",
                          "example": 435,
                          "description": "Number of verify transactions in the period",
                          "enum": []
                        },
                        "voidTransactions": {
                          "type": "integer",
                          "example": 377,
                          "description": "Number of void transactions in the period",
                          "enum": []
                        },
                        "successfulTransactions": {
                          "type": "integer",
                          "example": 4134,
                          "description": "Number of successful transactions in the period",
                          "enum": []
                        },
                        "failedTransactions": {
                          "type": "integer",
                          "example": 369,
                          "description": "Number of failed transactions in the period",
                          "enum": []
                        },
                        "declinedTransactions": {
                          "type": "integer",
                          "example": 75,
                          "description": "Number of declined transactions in the period",
                          "enum": []
                        },
                        "pendingTransactions": {
                          "type": "integer",
                          "example": 20,
                          "description": "Number of pending transactions in the period",
                          "enum": []
                        },
                        "unknownTransactions": {
                          "type": "integer",
                          "example": 0,
                          "description": "Number of transactions with unknown result in the period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-05-05T00:00:00+00:00",
                              "intervalEnd": "2026-05-06T00:00:00+00:00",
                              "totalTransactions": 667,
                              "authorizeTransactions": 72,
                              "captureTransactions": 80,
                              "payTransactions": 124,
                              "refundTransactions": 148,
                              "verifyTransactions": 221,
                              "voidTransactions": 22,
                              "successfulTransactions": 600,
                              "failedTransactions": 61,
                              "declinedTransactions": 3,
                              "pendingTransactions": 3,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-05-06T00:00:00+00:00",
                              "intervalEnd": "2026-05-07T00:00:00+00:00",
                              "totalTransactions": 372,
                              "authorizeTransactions": 24,
                              "captureTransactions": 33,
                              "payTransactions": 263,
                              "refundTransactions": 21,
                              "verifyTransactions": 24,
                              "voidTransactions": 7,
                              "successfulTransactions": 334,
                              "failedTransactions": 19,
                              "declinedTransactions": 18,
                              "pendingTransactions": 1,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-05-07T00:00:00+00:00",
                              "intervalEnd": "2026-05-08T00:00:00+00:00",
                              "totalTransactions": 597,
                              "authorizeTransactions": 52,
                              "captureTransactions": 53,
                              "payTransactions": 184,
                              "refundTransactions": 118,
                              "verifyTransactions": 10,
                              "voidTransactions": 180,
                              "successfulTransactions": 537,
                              "failedTransactions": 47,
                              "declinedTransactions": 12,
                              "pendingTransactions": 1,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-05-08T00:00:00+00:00",
                              "intervalEnd": "2026-05-09T00:00:00+00:00",
                              "totalTransactions": 574,
                              "authorizeTransactions": 61,
                              "captureTransactions": 63,
                              "payTransactions": 387,
                              "refundTransactions": 34,
                              "verifyTransactions": 24,
                              "voidTransactions": 5,
                              "successfulTransactions": 516,
                              "failedTransactions": 27,
                              "declinedTransactions": 28,
                              "pendingTransactions": 3,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-05-09T00:00:00+00:00",
                              "intervalEnd": "2026-05-10T00:00:00+00:00",
                              "totalTransactions": 981,
                              "authorizeTransactions": 63,
                              "captureTransactions": 66,
                              "payTransactions": 601,
                              "refundTransactions": 16,
                              "verifyTransactions": 100,
                              "voidTransactions": 135,
                              "successfulTransactions": 882,
                              "failedTransactions": 91,
                              "declinedTransactions": 5,
                              "pendingTransactions": 3,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-05-10T00:00:00+00:00",
                              "intervalEnd": "2026-05-11T00:00:00+00:00",
                              "totalTransactions": 511,
                              "authorizeTransactions": 50,
                              "captureTransactions": 60,
                              "payTransactions": 224,
                              "refundTransactions": 158,
                              "verifyTransactions": 12,
                              "voidTransactions": 7,
                              "successfulTransactions": 459,
                              "failedTransactions": 44,
                              "declinedTransactions": 6,
                              "pendingTransactions": 2,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-05-11T00:00:00+00:00",
                              "intervalEnd": "2026-05-12T00:00:00+00:00",
                              "totalTransactions": 896,
                              "authorizeTransactions": 34,
                              "captureTransactions": 44,
                              "payTransactions": 659,
                              "refundTransactions": 94,
                              "verifyTransactions": 44,
                              "voidTransactions": 21,
                              "successfulTransactions": 806,
                              "failedTransactions": 80,
                              "declinedTransactions": 3,
                              "pendingTransactions": 7,
                              "unknownTransactions": 0
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-05-05T00:00:00+00:00",
                                "description": "Start time of the analytics calculation interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-05-06T00:00:00+00:00",
                                "description": "End time of the analytics calculation interval",
                                "enum": []
                              },
                              "totalTransactions": {
                                "type": "integer",
                                "example": 667,
                                "description": "Total number of transactions in the interval",
                                "enum": []
                              },
                              "authorizeTransactions": {
                                "type": "integer",
                                "example": 72,
                                "description": "Number of authorize transactions in the interval",
                                "enum": []
                              },
                              "captureTransactions": {
                                "type": "integer",
                                "example": 80,
                                "description": "Number of capture transactions in the interval",
                                "enum": []
                              },
                              "payTransactions": {
                                "type": "integer",
                                "example": 124,
                                "description": "Number of pay transactions in the interval",
                                "enum": []
                              },
                              "refundTransactions": {
                                "type": "integer",
                                "example": 148,
                                "description": "Number of refund transactions in the interval",
                                "enum": []
                              },
                              "verifyTransactions": {
                                "type": "integer",
                                "example": 221,
                                "description": "Number of verify transactions in the interval",
                                "enum": []
                              },
                              "voidTransactions": {
                                "type": "integer",
                                "example": 22,
                                "description": "Number of void transactions in the interval",
                                "enum": []
                              },
                              "successfulTransactions": {
                                "type": "integer",
                                "example": 600,
                                "description": "Number of successful transactions in the interval",
                                "enum": []
                              },
                              "failedTransactions": {
                                "type": "integer",
                                "example": 61,
                                "description": "Number of failed transactions in the interval",
                                "enum": []
                              },
                              "declinedTransactions": {
                                "type": "integer",
                                "example": 3,
                                "description": "Number of declined transactions in the interval",
                                "enum": []
                              },
                              "pendingTransactions": {
                                "type": "integer",
                                "example": 3,
                                "description": "Number of pending transactions in the interval",
                                "enum": []
                              },
                              "unknownTransactions": {
                                "type": "integer",
                                "example": 0,
                                "description": "Number of transactions with unknown result in the interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/yments/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n\n### Tags:\n\nFilter by user-applied tags. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n\n### Tags:\n\nFilter by user-applied tags. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-05-05T00:00:00+00:00",
                      "periodEnd": "2026-05-12T00:00:00+00:00",
                      "totalSettlementAmount": 45383.36,
                      "totalFeeAmount": 2223.78464,
                      "totalNetAmount": 43159.57536,
                      "totalTransactionsPending": 184,
                      "totalTransactionsSettled": 1173,
                      "totalTransactionsSettling": 1033,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-05-05T00:00:00+00:00",
                          "intervalEnd": "2026-05-06T00:00:00+00:00",
                          "totalSettlementAmount": 6871.27,
                          "totalFeeAmount": 336.69223,
                          "totalNetAmount": 6534.57777,
                          "totalTransactionsPending": 30,
                          "totalTransactionsSettled": 160,
                          "totalTransactionsSettling": 81
                        },
                        {
                          "intervalStart": "2026-05-06T00:00:00+00:00",
                          "intervalEnd": "2026-05-07T00:00:00+00:00",
                          "totalSettlementAmount": 5893.22,
                          "totalFeeAmount": 288.76778,
                          "totalNetAmount": 5604.45222,
                          "totalTransactionsPending": 28,
                          "totalTransactionsSettled": 324,
                          "totalTransactionsSettling": 73
                        },
                        {
                          "intervalStart": "2026-05-07T00:00:00+00:00",
                          "intervalEnd": "2026-05-08T00:00:00+00:00",
                          "totalSettlementAmount": 7532.47,
                          "totalFeeAmount": 369.09103,
                          "totalNetAmount": 7163.37897,
                          "totalTransactionsPending": 23,
                          "totalTransactionsSettled": 123,
                          "totalTransactionsSettling": 231
                        },
                        {
                          "intervalStart": "2026-05-08T00:00:00+00:00",
                          "intervalEnd": "2026-05-09T00:00:00+00:00",
                          "totalSettlementAmount": 9526.61,
                          "totalFeeAmount": 466.80389,
                          "totalNetAmount": 9059.80611,
                          "totalTransactionsPending": 22,
                          "totalTransactionsSettled": 203,
                          "totalTransactionsSettling": 242
                        },
                        {
                          "intervalStart": "2026-05-09T00:00:00+00:00",
                          "intervalEnd": "2026-05-10T00:00:00+00:00",
                          "totalSettlementAmount": 7675.8,
                          "totalFeeAmount": 376.1142,
                          "totalNetAmount": 7299.6858,
                          "totalTransactionsPending": 29,
                          "totalTransactionsSettled": 55,
                          "totalTransactionsSettling": 20
                        },
                        {
                          "intervalStart": "2026-05-10T00:00:00+00:00",
                          "intervalEnd": "2026-05-11T00:00:00+00:00",
                          "totalSettlementAmount": 3961.99,
                          "totalFeeAmount": 194.13751,
                          "totalNetAmount": 3767.85249,
                          "totalTransactionsPending": 24,
                          "totalTransactionsSettled": 44,
                          "totalTransactionsSettling": 189
                        },
                        {
                          "intervalStart": "2026-05-11T00:00:00+00:00",
                          "intervalEnd": "2026-05-12T00:00:00+00:00",
                          "totalSettlementAmount": 3922,
                          "totalFeeAmount": 192.178,
                          "totalNetAmount": 3729.822,
                          "totalTransactionsPending": 28,
                          "totalTransactionsSettled": 264,
                          "totalTransactionsSettling": 197
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-05-05T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-05-12T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "totalSettlementAmount": {
                          "type": "number",
                          "example": 45383.36,
                          "description": "Total settled payout amount in this period",
                          "enum": []
                        },
                        "totalFeeAmount": {
                          "type": "number",
                          "example": 2223.78464,
                          "description": "Total amount of fees charged for the payouts in this period",
                          "enum": []
                        },
                        "totalNetAmount": {
                          "type": "number",
                          "example": 43159.57536,
                          "description": "Total net payout amount in this period",
                          "enum": []
                        },
                        "totalTransactionsPending": {
                          "type": "integer",
                          "example": 184,
                          "description": "Total number of transactions pending in this period",
                          "enum": []
                        },
                        "totalTransactionsSettled": {
                          "type": "integer",
                          "example": 1173,
                          "description": "Total number of transactions settled in this period",
                          "enum": []
                        },
                        "totalTransactionsSettling": {
                          "type": "integer",
                          "example": 1033,
                          "description": "Total number of transactions settling in this period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-05-05T00:00:00+00:00",
                              "intervalEnd": "2026-05-06T00:00:00+00:00",
                              "totalSettlementAmount": 6871.27,
                              "totalFeeAmount": 336.69223,
                              "totalNetAmount": 6534.57777,
                              "totalTransactionsPending": 30,
                              "totalTransactionsSettled": 160,
                              "totalTransactionsSettling": 81
                            },
                            {
                              "intervalStart": "2026-05-06T00:00:00+00:00",
                              "intervalEnd": "2026-05-07T00:00:00+00:00",
                              "totalSettlementAmount": 5893.22,
                              "totalFeeAmount": 288.76778,
                              "totalNetAmount": 5604.45222,
                              "totalTransactionsPending": 28,
                              "totalTransactionsSettled": 324,
                              "totalTransactionsSettling": 73
                            },
                            {
                              "intervalStart": "2026-05-07T00:00:00+00:00",
                              "intervalEnd": "2026-05-08T00:00:00+00:00",
                              "totalSettlementAmount": 7532.47,
                              "totalFeeAmount": 369.09103,
                              "totalNetAmount": 7163.37897,
                              "totalTransactionsPending": 23,
                              "totalTransactionsSettled": 123,
                              "totalTransactionsSettling": 231
                            },
                            {
                              "intervalStart": "2026-05-08T00:00:00+00:00",
                              "intervalEnd": "2026-05-09T00:00:00+00:00",
                              "totalSettlementAmount": 9526.61,
                              "totalFeeAmount": 466.80389,
                              "totalNetAmount": 9059.80611,
                              "totalTransactionsPending": 22,
                              "totalTransactionsSettled": 203,
                              "totalTransactionsSettling": 242
                            },
                            {
                              "intervalStart": "2026-05-09T00:00:00+00:00",
                              "intervalEnd": "2026-05-10T00:00:00+00:00",
                              "totalSettlementAmount": 7675.8,
                              "totalFeeAmount": 376.1142,
                              "totalNetAmount": 7299.6858,
                              "totalTransactionsPending": 29,
                              "totalTransactionsSettled": 55,
                              "totalTransactionsSettling": 20
                            },
                            {
                              "intervalStart": "2026-05-10T00:00:00+00:00",
                              "intervalEnd": "2026-05-11T00:00:00+00:00",
                              "totalSettlementAmount": 3961.99,
                              "totalFeeAmount": 194.13751,
                              "totalNetAmount": 3767.85249,
                              "totalTransactionsPending": 24,
                              "totalTransactionsSettled": 44,
                              "totalTransactionsSettling": 189
                            },
                            {
                              "intervalStart": "2026-05-11T00:00:00+00:00",
                              "intervalEnd": "2026-05-12T00:00:00+00:00",
                              "totalSettlementAmount": 3922,
                              "totalFeeAmount": 192.178,
                              "totalNetAmount": 3729.822,
                              "totalTransactionsPending": 28,
                              "totalTransactionsSettled": 264,
                              "totalTransactionsSettling": 197
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-05-05T00:00:00+00:00",
                                "description": "Start time of the analytics calculation interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-05-06T00:00:00+00:00",
                                "description": "End time of the analytics calculation interval",
                                "enum": []
                              },
                              "totalSettlementAmount": {
                                "type": "number",
                                "example": 6871.27,
                                "description": "Total settled payout amount in this interval",
                                "enum": []
                              },
                              "totalFeeAmount": {
                                "type": "number",
                                "example": 336.69223,
                                "description": "Total amount of fees charged for the payouts in this interval",
                                "enum": []
                              },
                              "totalNetAmount": {
                                "type": "number",
                                "example": 6534.57777,
                                "description": "Total net payout amount in this interval",
                                "enum": []
                              },
                              "totalTransactionsPending": {
                                "type": "integer",
                                "example": 30,
                                "description": "Total number of transactions pending in this interval",
                                "enum": []
                              },
                              "totalTransactionsSettled": {
                                "type": "integer",
                                "example": 160,
[...]
