{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.65.0"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payout Exports",
      "description": "Create payout exports"
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-14T00:00:00+00:00",
                    "periodEnd": "2026-04-21T00:00:00+00:00",
                    "numPaymentsCreated": 4163,
                    "numPaymentsProcessed": 2309,
                    "numPaymentsIncomplete": 1854,
                    "numPaymentsWithRefunds": 1454,
                    "numCardPresentPayments": 1146,
                    "numCardNotPresentPayments": 708,
                    "totalCapturedAmount": 3313596.46,
                    "totalRefundedAmount": 580401.34,
                    "totalNetCapturedAmount": 2733195.12,
                    "averageNetCapturedAmount": 1904.9885714286,
                    "minNetCapturedAmount": 18.84,
                    "maxNetCapturedAmount": 9801.95,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-14T00:00:00+00:00",
                        "intervalEnd": "2026-04-15T00:00:00+00:00",
                        "numPaymentsCreated": 476,
                        "numPaymentsProcessed": 305,
                        "numPaymentsIncomplete": 171,
                        "numPaymentsWithRefunds": 199,
                        "numCardPresentPayments": 205,
                        "numCardNotPresentPayments": -34,
                        "totalCapturedAmount": 261527.33,
                        "totalRefundedAmount": 68418.62,
                        "totalNetCapturedAmount": 193108.71,
                        "averageNetCapturedAmount": 633.14,
                        "minNetCapturedAmount": 88.65,
                        "maxNetCapturedAmount": 2291.48
                      },
                      {
                        "intervalStart": "2026-04-15T00:00:00+00:00",
                        "intervalEnd": "2026-04-16T00:00:00+00:00",
                        "numPaymentsCreated": 755,
                        "numPaymentsProcessed": 426,
                        "numPaymentsIncomplete": 329,
                        "numPaymentsWithRefunds": 306,
                        "numCardPresentPayments": 49,
                        "numCardNotPresentPayments": 280,
                        "totalCapturedAmount": 64619.45,
                        "totalRefundedAmount": 9279.32,
                        "totalNetCapturedAmount": 55340.13,
                        "averageNetCapturedAmount": 129.91,
                        "minNetCapturedAmount": 18.84,
                        "maxNetCapturedAmount": 6790.78
                      },
                      {
                        "intervalStart": "2026-04-16T00:00:00+00:00",
                        "intervalEnd": "2026-04-17T00:00:00+00:00",
                        "numPaymentsCreated": 881,
                        "numPaymentsProcessed": 810,
                        "numPaymentsIncomplete": 71,
                        "numPaymentsWithRefunds": 673,
                        "numCardPresentPayments": 392,
                        "numCardNotPresentPayments": -321,
                        "totalCapturedAmount": 653522.18,
                        "totalRefundedAmount": 71497.05,
                        "totalNetCapturedAmount": 582025.13,
                        "averageNetCapturedAmount": 718.55,
                        "minNetCapturedAmount": 33.92,
                        "maxNetCapturedAmount": 7236.06
                      },
                      {
                        "intervalStart": "2026-04-17T00:00:00+00:00",
                        "intervalEnd": "2026-04-18T00:00:00+00:00",
                        "numPaymentsCreated": 109,
                        "numPaymentsProcessed": 91,
                        "numPaymentsIncomplete": 18,
                        "numPaymentsWithRefunds": 83,
                        "numCardPresentPayments": 62,
                        "numCardNotPresentPayments": -44,
                        "totalCapturedAmount": 651193.48,
                        "totalRefundedAmount": 117833.32,
                        "totalNetCapturedAmount": 533360.16,
                        "averageNetCapturedAmount": 5861.1,
                        "minNetCapturedAmount": 70.33,
                        "maxNetCapturedAmount": 9801.95
                      },
                      {
                        "intervalStart": "2026-04-18T00:00:00+00:00",
                        "intervalEnd": "2026-04-19T00:00:00+00:00",
                        "numPaymentsCreated": 841,
                        "numPaymentsProcessed": 335,
                        "numPaymentsIncomplete": 506,
                        "numPaymentsWithRefunds": 1,
                        "numCardPresentPayments": 283,
                        "numCardNotPresentPayments": 223,
                        "totalCapturedAmount": 878819.32,
                        "totalRefundedAmount": 164201.56,
                        "totalNetCapturedAmount": 714617.76,
                        "averageNetCapturedAmount": 2133.19,
                        "minNetCapturedAmount": 62.44,
                        "maxNetCapturedAmount": 6093.6
                      },
                      {
                        "intervalStart": "2026-04-19T00:00:00+00:00",
                        "intervalEnd": "2026-04-20T00:00:00+00:00",
                        "numPaymentsCreated": 329,
                        "numPaymentsProcessed": 165,
                        "numPaymentsIncomplete": 164,
                        "numPaymentsWithRefunds": 104,
                        "numCardPresentPayments": 1,
                        "numCardNotPresentPayments": 163,
                        "totalCapturedAmount": 533435.88,
                        "totalRefundedAmount": 144233.63,
                        "totalNetCapturedAmount": 389202.25,
                        "averageNetCapturedAmount": 2358.8,
                        "minNetCapturedAmount": 59.01,
                        "maxNetCapturedAmount": 4779.32
                      },
                      {
                        "intervalStart": "2026-04-20T00:00:00+00:00",
                        "intervalEnd": "2026-04-21T00:00:00+00:00",
                        "numPaymentsCreated": 772,
                        "numPaymentsProcessed": 177,
                        "numPaymentsIncomplete": 595,
                        "numPaymentsWithRefunds": 88,
                        "numCardPresentPayments": 154,
                        "numCardNotPresentPayments": 441,
                        "totalCapturedAmount": 270478.82,
                        "totalRefundedAmount": 4937.84,
                        "totalNetCapturedAmount": 265540.98,
                        "averageNetCapturedAmount": 1500.23,
                        "minNetCapturedAmount": 95.07,
                        "maxNetCapturedAmount": 7420.66
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-14T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-21T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 4163
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 2309
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 1854
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 1454
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 1146
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": 708
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 3313596.46
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 580401.34
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 2733195.12
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 1904.9885714286
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 18.84
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 9801.95
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-14T00:00:00+00:00",
                          "intervalEnd": "2026-04-15T00:00:00+00:00",
                          "numPaymentsCreated": 476,
                          "numPaymentsProcessed": 305,
                          "numPaymentsIncomplete": 171,
                          "numPaymentsWithRefunds": 199,
                          "numCardPresentPayments": 205,
                          "numCardNotPresentPayments": -34,
                          "totalCapturedAmount": 261527.33,
                          "totalRefundedAmount": 68418.62,
                          "totalNetCapturedAmount": 193108.71,
                          "averageNetCapturedAmount": 633.14,
                          "minNetCapturedAmount": 88.65,
                          "maxNetCapturedAmount": 2291.48
                        },
                        {
                          "intervalStart": "2026-04-15T00:00:00+00:00",
                          "intervalEnd": "2026-04-16T00:00:00+00:00",
                          "numPaymentsCreated": 755,
                          "numPaymentsProcessed": 426,
                          "numPaymentsIncomplete": 329,
                          "numPaymentsWithRefunds": 306,
                          "numCardPresentPayments": 49,
                          "numCardNotPresentPayments": 280,
                          "totalCapturedAmount": 64619.45,
                          "totalRefundedAmount": 9279.32,
                          "totalNetCapturedAmount": 55340.13,
                          "averageNetCapturedAmount": 129.91,
                          "minNetCapturedAmount": 18.84,
                          "maxNetCapturedAmount": 6790.78
                        },
                        {
                          "intervalStart": "2026-04-16T00:00:00+00:00",
                          "intervalEnd": "2026-04-17T00:00:00+00:00",
                          "numPaymentsCreated": 881,
                          "numPaymentsProcessed": 810,
                          "numPaymentsIncomplete": 71,
                          "numPaymentsWithRefunds": 673,
                          "numCardPresentPayments": 392,
                          "numCardNotPresentPayments": -321,
                          "totalCapturedAmount": 653522.18,
                          "totalRefundedAmount": 71497.05,
                          "totalNetCapturedAmount": 582025.13,
                          "averageNetCapturedAmount": 718.55,
                          "minNetCapturedAmount": 33.92,
                          "maxNetCapturedAmount": 7236.06
                        },
                        {
                          "intervalStart": "2026-04-17T00:00:00+00:00",
                          "intervalEnd": "2026-04-18T00:00:00+00:00",
                          "numPaymentsCreated": 109,
                          "numPaymentsProcessed": 91,
                          "numPaymentsIncomplete": 18,
                          "numPaymentsWithRefunds": 83,
                          "numCardPresentPayments": 62,
                          "numCardNotPresentPayments": -44,
                          "totalCapturedAmount": 651193.48,
                          "totalRefundedAmount": 117833.32,
                          "totalNetCapturedAmount": 533360.16,
                          "averageNetCapturedAmount": 5861.1,
                          "minNetCapturedAmount": 70.33,
                          "maxNetCapturedAmount": 9801.95
                        },
                        {
                          "intervalStart": "2026-04-18T00:00:00+00:00",
                          "intervalEnd": "2026-04-19T00:00:00+00:00",
                          "numPaymentsCreated": 841,
                          "numPaymentsProcessed": 335,
                          "numPaymentsIncomplete": 506,
                          "numPaymentsWithRefunds": 1,
                          "numCardPresentPayments": 283,
                          "numCardNotPresentPayments": 223,
                          "totalCapturedAmount": 878819.32,
                          "totalRefundedAmount": 164201.56,
                          "totalNetCapturedAmount": 714617.76,
                          "averageNetCapturedAmount": 2133.19,
                          "minNetCapturedAmount": 62.44,
                          "maxNetCapturedAmount": 6093.6
                        },
                        {
                          "intervalStart": "2026-04-19T00:00:00+00:00",
                          "intervalEnd": "2026-04-20T00:00:00+00:00",
                          "numPaymentsCreated": 329,
                          "numPaymentsProcessed": 165,
                          "numPaymentsIncomplete": 164,
                          "numPaymentsWithRefunds": 104,
                          "numCardPresentPayments": 1,
                          "numCardNotPresentPayments": 163,
                          "totalCapturedAmount": 533435.88,
                          "totalRefundedAmount": 144233.63,
                          "totalNetCapturedAmount": 389202.25,
                          "averageNetCapturedAmount": 2358.8,
                          "minNetCapturedAmount": 59.01,
                          "maxNetCapturedAmount": 4779.32
                        },
                        {
                          "intervalStart": "2026-04-20T00:00:00+00:00",
                          "intervalEnd": "2026-04-21T00:00:00+00:00",
                          "numPaymentsCreated": 772,
                          "numPaymentsProcessed": 177,
                          "numPaymentsIncomplete": 595,
                          "numPaymentsWithRefunds": 88,
                          "numCardPresentPayments": 154,
                          "numCardNotPresentPayments": 441,
                          "totalCapturedAmount": 270478.82,
                          "totalRefundedAmount": 4937.84,
                          "totalNetCapturedAmount": 265540.98,
                          "averageNetCapturedAmount": 1500.23,
                          "minNetCapturedAmount": 95.07,
                          "maxNetCapturedAmount": 7420.66
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-14T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-15T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 476
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 305
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 171
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 199
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 205
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": -34
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 261527.33
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 68418.62
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 193108.71
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 633.14
                          },
                          "minNetCapturedAmount": {
                            "type": "number",
                            "example": 88.65
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 2291.48
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-14T00:00:00+00:00",
                    "periodEnd": "2026-04-21T00:00:00+00:00",
                    "activeCustomers": 257,
                    "newCustomers": 84,
                    "returningCustomers": 173,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-14T00:00:00+00:00",
                        "intervalEnd": "2026-04-15T00:00:00+00:00",
                        "activeCustomers": 23,
                        "newCustomers": 11,
                        "returningCustomers": 12
                      },
                      {
                        "intervalStart": "2026-04-15T00:00:00+00:00",
                        "intervalEnd": "2026-04-16T00:00:00+00:00",
                        "activeCustomers": 23,
                        "newCustomers": 15,
                        "returningCustomers": 8
                      },
                      {
                        "intervalStart": "2026-04-16T00:00:00+00:00",
                        "intervalEnd": "2026-04-17T00:00:00+00:00",
                        "activeCustomers": 23,
                        "newCustomers": 17,
                        "returningCustomers": 6
                      },
                      {
                        "intervalStart": "2026-04-17T00:00:00+00:00",
                        "intervalEnd": "2026-04-18T00:00:00+00:00",
                        "activeCustomers": 93,
                        "newCustomers": 10,
                        "returningCustomers": 83
                      },
                      {
                        "intervalStart": "2026-04-18T00:00:00+00:00",
                        "intervalEnd": "2026-04-19T00:00:00+00:00",
                        "activeCustomers": 31,
                        "newCustomers": 11,
                        "returningCustomers": 20
                      },
                      {
                        "intervalStart": "2026-04-19T00:00:00+00:00",
                        "intervalEnd": "2026-04-20T00:00:00+00:00",
                        "activeCustomers": 36,
                        "newCustomers": 13,
                        "returningCustomers": 23
                      },
                      {
                        "intervalStart": "2026-04-20T00:00:00+00:00",
                        "intervalEnd": "2026-04-21T00:00:00+00:00",
                        "activeCustomers": 35,
                        "newCustomers": 7,
                        "returningCustomers": 28
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-14T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-21T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 257
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 84
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": 173
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-14T00:00:00+00:00",
                          "intervalEnd": "2026-04-15T00:00:00+00:00",
                          "activeCustomers": 23,
                          "newCustomers": 11,
                          "returningCustomers": 12
                        },
                        {
                          "intervalStart": "2026-04-15T00:00:00+00:00",
                          "intervalEnd": "2026-04-16T00:00:00+00:00",
                          "activeCustomers": 23,
                          "newCustomers": 15,
                          "returningCustomers": 8
                        },
                        {
                          "intervalStart": "2026-04-16T00:00:00+00:00",
                          "intervalEnd": "2026-04-17T00:00:00+00:00",
                          "activeCustomers": 23,
                          "newCustomers": 17,
                          "returningCustomers": 6
                        },
                        {
                          "intervalStart": "2026-04-17T00:00:00+00:00",
                          "intervalEnd": "2026-04-18T00:00:00+00:00",
                          "activeCustomers": 93,
                          "newCustomers": 10,
                          "returningCustomers": 83
                        },
                        {
                          "intervalStart": "2026-04-18T00:00:00+00:00",
                          "intervalEnd": "2026-04-19T00:00:00+00:00",
                          "activeCustomers": 31,
                          "newCustomers": 11,
                          "returningCustomers": 20
                        },
                        {
                          "intervalStart": "2026-04-19T00:00:00+00:00",
                          "intervalEnd": "2026-04-20T00:00:00+00:00",
                          "activeCustomers": 36,
                          "newCustomers": 13,
                          "returningCustomers": 23
                        },
                        {
                          "intervalStart": "2026-04-20T00:00:00+00:00",
                          "intervalEnd": "2026-04-21T00:00:00+00:00",
                          "activeCustomers": 35,
                          "newCustomers": 7,
                          "returningCustomers": 28
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-14T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-15T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 23
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 11
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 12
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-14T00:00:00+00:00",
                    "periodEnd": "2026-04-21T00:00:00+00:00",
                    "totalTransactions": 3940,
                    "authorizeTransactions": 237,
                    "captureTransactions": 258,
                    "payTransactions": 1845,
                    "refundTransactions": 870,
                    "verifyTransactions": 278,
                    "voidTransactions": 452,
                    "successfulTransactions": 3542,
                    "failedTransactions": 263,
                    "declinedTransactions": 112,
                    "pendingTransactions": 23,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-14T00:00:00+00:00",
                        "intervalEnd": "2026-04-15T00:00:00+00:00",
                        "totalTransactions": 549,
                        "authorizeTransactions": 61,
                        "captureTransactions": 63,
                        "payTransactions": 259,
                        "refundTransactions": 81,
                        "verifyTransactions": 41,
                        "voidTransactions": 44,
                        "successfulTransactions": 494,
                        "failedTransactions": 46,
                        "declinedTransactions": 5,
                        "pendingTransactions": 4,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-15T00:00:00+00:00",
                        "intervalEnd": "2026-04-16T00:00:00+00:00",
                        "totalTransactions": 691,
                        "authorizeTransactions": 25,
                        "captureTransactions": 27,
                        "payTransactions": 67,
                        "refundTransactions": 349,
                        "verifyTransactions": 83,
                        "voidTransactions": 140,
                        "successfulTransactions": 621,
                        "failedTransactions": 34,
                        "declinedTransactions": 34,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-16T00:00:00+00:00",
                        "intervalEnd": "2026-04-17T00:00:00+00:00",
                        "totalTransactions": 494,
                        "authorizeTransactions": 30,
                        "captureTransactions": 36,
                        "payTransactions": 334,
                        "refundTransactions": 29,
                        "verifyTransactions": 13,
                        "voidTransactions": 52,
                        "successfulTransactions": 444,
                        "failedTransactions": 30,
                        "declinedTransactions": 16,
                        "pendingTransactions": 4,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-17T00:00:00+00:00",
                        "intervalEnd": "2026-04-18T00:00:00+00:00",
                        "totalTransactions": 407,
                        "authorizeTransactions": 20,
                        "captureTransactions": 21,
                        "payTransactions": 143,
                        "refundTransactions": 214,
                        "verifyTransactions": 5,
                        "voidTransactions": 4,
                        "successfulTransactions": 366,
                        "failedTransactions": 28,
                        "declinedTransactions": 11,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-18T00:00:00+00:00",
                        "intervalEnd": "2026-04-19T00:00:00+00:00",
                        "totalTransactions": 542,
                        "authorizeTransactions": 40,
                        "captureTransactions": 41,
                        "payTransactions": 215,
                        "refundTransactions": 112,
                        "verifyTransactions": 14,
                        "voidTransactions": 120,
                        "successfulTransactions": 487,
                        "failedTransactions": 31,
                        "declinedTransactions": 23,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-19T00:00:00+00:00",
                        "intervalEnd": "2026-04-20T00:00:00+00:00",
                        "totalTransactions": 751,
                        "authorizeTransactions": 19,
                        "captureTransactions": 21,
                        "payTransactions": 605,
                        "refundTransactions": 66,
                        "verifyTransactions": 33,
                        "voidTransactions": 7,
                        "successfulTransactions": 675,
                        "failedTransactions": 52,
                        "declinedTransactions": 19,
                        "pendingTransactions": 5,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-20T00:00:00+00:00",
                        "intervalEnd": "2026-04-21T00:00:00+00:00",
                        "totalTransactions": 506,
                        "authorizeTransactions": 42,
                        "captureTransactions": 49,
                        "payTransactions": 222,
                        "refundTransactions": 19,
                        "verifyTransactions": 89,
                        "voidTransactions": 85,
                        "successfulTransactions": 455,
                        "failedTransactions": 42,
                        "declinedTransactions": 4,
                        "pendingTransactions": 5,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-14T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-21T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 3940
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 237
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 258
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 1845
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 870
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 278
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 452
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 3542
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 263
                    },
                    "declinedTransactions": {
                      "type": "integer",
                      "example": 112
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 23
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-14T00:00:00+00:00",
                          "intervalEnd": "2026-04-15T00:00:00+00:00",
                          "totalTransactions": 549,
                          "authorizeTransactions": 61,
                          "captureTransactions": 63,
                          "payTransactions": 259,
                          "refundTransactions": 81,
                          "verifyTransactions": 41,
                          "voidTransactions": 44,
                          "successfulTransactions": 494,
                          "failedTransactions": 46,
                          "declinedTransactions": 5,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-15T00:00:00+00:00",
                          "intervalEnd": "2026-04-16T00:00:00+00:00",
                          "totalTransactions": 691,
                          "authorizeTransactions": 25,
                          "captureTransactions": 27,
                          "payTransactions": 67,
                          "refundTransactions": 349,
                          "verifyTransactions": 83,
                          "voidTransactions": 140,
                          "successfulTransactions": 621,
                          "failedTransactions": 34,
                          "declinedTransactions": 34,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-16T00:00:00+00:00",
                          "intervalEnd": "2026-04-17T00:00:00+00:00",
                          "totalTransactions": 494,
                          "authorizeTransactions": 30,
                          "captureTransactions": 36,
                          "payTransactions": 334,
                          "refundTransactions": 29,
                          "verifyTransactions": 13,
                          "voidTransactions": 52,
                          "successfulTransactions": 444,
                          "failedTransactions": 30,
                          "declinedTransactions": 16,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-17T00:00:00+00:00",
                          "intervalEnd": "2026-04-18T00:00:00+00:00",
                          "totalTransactions": 407,
                          "authorizeTransactions": 20,
                          "captureTransactions": 21,
                          "payTransactions": 143,
                          "refundTransactions": 214,
                          "verifyTransactions": 5,
                          "voidTransactions": 4,
                          "successfulTransactions": 366,
                          "failedTransactions": 28,
                          "declinedTransactions": 11,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-18T00:00:00+00:00",
                          "intervalEnd": "2026-04-19T00:00:00+00:00",
                          "totalTransactions": 542,
                          "authorizeTransactions": 40,
                          "captureTransactions": 41,
                          "payTransactions": 215,
                          "refundTransactions": 112,
                          "verifyTransactions": 14,
                          "voidTransactions": 120,
                          "successfulTransactions": 487,
                          "failedTransactions": 31,
                          "declinedTransactions": 23,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-19T00:00:00+00:00",
                          "intervalEnd": "2026-04-20T00:00:00+00:00",
                          "totalTransactions": 751,
                          "authorizeTransactions": 19,
                          "captureTransactions": 21,
                          "payTransactions": 605,
                          "refundTransactions": 66,
                          "verifyTransactions": 33,
                          "voidTransactions": 7,
                          "successfulTransactions": 675,
                          "failedTransactions": 52,
                          "declinedTransactions": 19,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-20T00:00:00+00:00",
                          "intervalEnd": "2026-04-21T00:00:00+00:00",
                          "totalTransactions": 506,
                          "authorizeTransactions": 42,
                          "captureTransactions": 49,
                          "payTransactions": 222,
                          "refundTransactions": 19,
                          "verifyTransactions": 89,
                          "voidTransactions": 85,
                          "successfulTransactions": 455,
                          "failedTransactions": 42,
                          "declinedTransactions": 4,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-14T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-15T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 549
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 61
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 63
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 259
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 81
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 41
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": 44
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 494
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 46
                          },
                          "declinedTransactions": {
                            "type": "integer",
                            "example": 5
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 4
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-14T00:00:00+00:00",
                    "periodEnd": "2026-04-21T00:00:00+00:00",
                    "totalSettlementAmount": 39283.56,
                    "totalFeeAmount": 1924.89444,
                    "totalNetAmount": 37358.66556,
                    "totalTransactionsPending": 171,
                    "totalTransactionsSettled": 1082,
                    "totalTransactionsSettling": 709,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-14T00:00:00+00:00",
                        "intervalEnd": "2026-04-15T00:00:00+00:00",
                        "totalSettlementAmount": 7662.1,
                        "totalFeeAmount": 375.4429,
                        "totalNetAmount": 7286.6571,
                        "totalTransactionsPending": 27,
                        "totalTransactionsSettled": 160,
                        "totalTransactionsSettling": 98
                      },
                      {
                        "intervalStart": "2026-04-15T00:00:00+00:00",
                        "intervalEnd": "2026-04-16T00:00:00+00:00",
                        "totalSettlementAmount": 9704.96,
                        "totalFeeAmount": 475.54304,
                        "totalNetAmount": 9229.41696,
                        "totalTransactionsPending": 28,
                        "totalTransactionsSettled": 129,
                        "totalTransactionsSettling": 145
                      },
                      {
                        "intervalStart": "2026-04-16T00:00:00+00:00",
                        "intervalEnd": "2026-04-17T00:00:00+00:00",
                        "totalSettlementAmount": 3510.7,
                        "totalFeeAmount": 172.0243,
                        "totalNetAmount": 3338.6757,
                        "totalTransactionsPending": 36,
                        "totalTransactionsSettled": 185,
                        "totalTransactionsSettling": 79
                      },
                      {
                        "intervalStart": "2026-04-17T00:00:00+00:00",
                        "intervalEnd": "2026-04-18T00:00:00+00:00",
                        "totalSettlementAmount": 1624.72,
                        "totalFeeAmount": 79.61128,
                        "totalNetAmount": 1545.10872,
                        "totalTransactionsPending": 21,
                        "totalTransactionsSettled": 152,
                        "totalTransactionsSettling": 145
                      },
                      {
                        "intervalStart": "2026-04-18T00:00:00+00:00",
                        "intervalEnd": "2026-04-19T00:00:00+00:00",
                        "totalSettlementAmount": 9256.72,
                        "totalFeeAmount": 453.57928,
                        "totalNetAmount": 8803.14072,
                        "totalTransactionsPending": 12,
                        "totalTransactionsSettled": 338,
                        "totalTransactionsSettling": 74
                      },
                      {
                        "intervalStart": "2026-04-19T00:00:00+00:00",
                        "intervalEnd": "2026-04-20T00:00:00+00:00",
                        "totalSettlementAmount": 3068.31,
                        "totalFeeAmount": 150.34719,
                        "totalNetAmount": 2917.96281,
                        "totalTransactionsPending": 35,
                        "totalTransactionsSettled": 42,
                        "totalTransactionsSettling": 150
                      },
                      {
                        "intervalStart": "2026-04-20T00:00:00+00:00",
                        "intervalEnd": "2026-04-21T00:00:00+00:00",
                        "totalSettlementAmount": 4456.05,
                        "totalFeeAmount": 218.34645,
                        "totalNetAmount": 4237.70355,
                        "totalTransactionsPending": 12,
                        "totalTransactionsSettled": 76,
                        "totalTransactionsSettling": 18
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-14T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-21T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 39283.56
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 1924.89444
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 37358.66556
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 171
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 1082
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 709
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-14T00:00:00+00:00",
                          "intervalEnd": "2026-04-15T00:00:00+00:00",
                          "totalSettlementAmount": 7662.1,
                          "totalFeeAmount": 375.4429,
                          "totalNetAmount": 7286.6571,
                          "totalTransactionsPending": 27,
                          "totalTransactionsSettled": 160,
                          "totalTransactionsSettling": 98
                        },
                        {
                          "intervalStart": "2026-04-15T00:00:00+00:00",
                          "intervalEnd": "2026-04-16T00:00:00+00:00",
                          "totalSettlementAmount": 9704.96,
                          "totalFeeAmount": 475.54304,
                          "totalNetAmount": 9229.41696,
                          "totalTransactionsPending": 28,
                          "totalTransactionsSettled": 129,
                          "totalTransactionsSettling": 145
                        },
                        {
                          "intervalStart": "2026-04-16T00:00:00+00:00",
                          "intervalEnd": "2026-04-17T00:00:00+00:00",
                          "totalSettlementAmount": 3510.7,
                          "totalFeeAmount": 172.0243,
                          "totalNetAmount": 3338.6757,
                          "totalTransactionsPending": 36,
                          "totalTransactionsSettled": 185,
                          "totalTransactionsSettling": 79
                        },
                        {
                          "intervalStart": "2026-04-17T00:00:00+00:00",
                          "intervalEnd": "2026-04-18T00:00:00+00:00",
                          "totalSettlementAmount": 1624.72,
                          "totalFeeAmount": 79.61128,
                          "totalNetAmount": 1545.10872,
                          "totalTransactionsPending": 21,
                          "totalTransactionsSettled": 152,
                          "totalTransactionsSettling": 145
                        },
                        {
                          "intervalStart": "2026-04-18T00:00:00+00:00",
                          "intervalEnd": "2026-04-19T00:00:00+00:00",
                          "totalSettlementAmount": 9256.72,
                          "totalFeeAmount": 453.57928,
                          "totalNetAmount": 8803.14072,
                          "totalTransactionsPending": 12,
                          "totalTransactionsSettled": 338,
                          "totalTransactionsSettling": 74
                        },
                        {
                          "intervalStart": "2026-04-19T00:00:00+00:00",
                          "intervalEnd": "2026-04-20T00:00:00+00:00",
                          "totalSettlementAmount": 3068.31,
                          "totalFeeAmount": 150.34719,
                          "totalNetAmount": 2917.96281,
                          "totalTransactionsPending": 35,
                          "totalTransactionsSettled": 42,
                          "totalTransactionsSettling": 150
                        },
                        {
                          "intervalStart": "2026-04-20T00:00:00+00:00",
                          "intervalEnd": "2026-04-21T00:00:00+00:00",
                          "totalSettlementAmount": 4456.05,
                          "totalFeeAmount": 218.34645,
                          "totalNetAmount": 4237.70355,
                          "totalTransactionsPending": 12,
                          "totalTransactionsSettled": 76,
                          "totalTransactionsSettling": 18
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-14T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-15T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 7662.1
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 375.4429
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 7286.6571
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 27
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 160
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 98
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 3,
                    "data": [
                      {
                        "email": "bartoletti.carson@buckridge.net",
                        "firstName": "Mark",
                        "lastName": "Rice",
                        "phone": "+12288087244",
                        "dateOfBirth": "1989-12-30"
                      },
                      {
                        "email": "delpha16@gmail.com",
                        "firstName": "Lacey",
                        "lastName": "Kilback",
                        "phone": "+17544461110",
                        "dateOfBirth": "1981-09-28"
                      },
                      {
                        "email": "pprice@hayes.com",
                        "firstName": "Tremayne",
                        "lastName": "O'Reilly",
                        "phone": "+17658267199",
                        "dateOfBirth": "1980-08-22"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 3,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "bartoletti.carson@buckridge.net",
                          "firstName": "Mark",
                          "lastName": "Rice",
                          "phone": "+12288087244",
                          "dateOfBirth": "1989-12-30"
                        },
                        {
                          "email": "delpha16@gmail.com",
                          "firstName": "Lacey",
                          "lastName": "Kilback",
                          "phone": "+17544461110",
                          "dateOfBirth": "1981-09-28"
                        },
                        {
                          "email": "pprice@hayes.com",
                          "firstName": "Tremayne",
                          "lastName": "O'Reilly",
                          "phone": "+17658267199",
                          "dateOfBirth": "1980-08-22"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "bartoletti.carson@buckridge.net"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Mark"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Rice"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+12288087244"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "1989-12-30"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers/{customerIdOrEmail}/addresses": {
      "get": {
        "summary": "List Customer Billing Addresses",
        "operationId": "listCustomerBillingAddresses",
        "description": "Returns all unique billing addresses that have been used by a customer across their payments.\nAddresses are deduplicated using case-insensitive and whitespace-insensitive comparison.",
        "parameters": [
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
            "example": "-city",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
              "example": "-city",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of unique billing addresses for the customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "company": "Toy, Barrows and Roob",
                        "street": "729 Abernathy Rapid",
                        "city": "North Kane",
                        "stateProvince": "AK",
                        "postcodeZip": "85757-4570",
                        "country": "USA"
                      },
                      {
                        "company": "Metz LLC",
                        "street": "7645 Thompson Springs",
                        "city": "South Ernamouth",
                        "stateProvince": "MA",
                        "postcodeZip": "11618",
                        "country": "USA"
                      },
                      {
                        "company": "Kris, Kilback and Rice",
                        "street": "5379 Alvena Crossroad Suite 056",
                        "city": "Emmyview",
                        "stateProvince": "IA",
                        "postcodeZip": "50204-5864",
                        "country": "USA"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "company": "Toy, Barrows and Roob",
                          "street": "729 Abernathy Rapid",
                          "city": "North Kane",
                          "stateProvince": "AK",
                          "postcodeZip": "85757-4570",
                          "country": "USA"
                        },
                        {
                          "company": "Metz LLC",
                          "street": "7645 Thompson Springs",
                          "city": "South Ernamouth",
                          "stateProvince": "MA",
                          "postcodeZip": "11618",
                          "country": "USA"
                        },
                        {
                          "company": "Kris, Kilback and Rice",
                          "street": "5379 Alvena Crossroad Suite 056",
                          "city": "Emmyview",
                          "stateProvince": "IA",
                          "postcodeZip": "50204-5864",
                          "country": "USA"
                        }
                      ],
                      "description": "The data returned from the request",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "company": {
                            "type": "string",
                            "example": "Toy, Barrows and Roob"
                          },
                          "street": {
                            "type": "string",
                            "example": "729 Abernathy Rapid"
                          },
                          "city": {
                            "type": "string",
                            "example": "North Kane"
                          },
                          "stateProvince": {
                            "type": "string",
                            "example": "AK"
                          },
                          "postcodeZip": {
                            "type": "string",
                            "example": "85757-4570"
                          },
                          "country": {
                            "type": "string",
                            "example": "USA"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "path",
          "name": "customerIdOrEmail",
          "description": "The customer ID, UUID, or email address",
          "example": "customer_123",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/simulated/terminals": {
      "get": {
        "summary": "Get all available simulated terminals.",
        "operationId": "getAllAvailableSimulatedTerminals",
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of available simulated terminals",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "title": "Success",
                        "description": "Approves all card present transactions successfully.",
                        "tid": "SUCCESS",
                        "readyForProcessing": true,
                        "provider": "SIMULATED",
                        "type": "CARD_PRESENT"
                      },
                      {
                        "title": "Transaction Declined",
                        "description": "Simulates a declined transaction.",
                        "tid": "TRANSACTION_DECLINED",
                        "readyForProcessing": true,
                        "provider": "SIMULATED",
                        "type": "CARD_PRESENT"
                      },
                      {
                        "title": "Card Present Timeout",
                        "description": "Simulates a card present timeout.",
                        "tid": "CARD_PRESENT_TIMEOUT",
                        "readyForProcessing": true,
                        "provider": "SIMULATED",
                        "type": "CARD_PRESENT"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
[...]
