{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.58.0"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payout Exports",
      "description": "Create payout exports"
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-24T00:00:00+00:00",
                    "periodEnd": "2026-03-31T00:00:00+00:00",
                    "numPaymentsCreated": 3010,
                    "numPaymentsProcessed": 1686,
                    "numPaymentsIncomplete": 1324,
                    "numPaymentsWithRefunds": 1147,
                    "numCardPresentPayments": 955,
                    "numCardNotPresentPayments": 369,
                    "totalCapturedAmount": 2266356.47,
                    "totalRefundedAmount": 248854.02,
                    "totalNetCapturedAmount": 2017502.45,
                    "averageNetCapturedAmount": 2011.2842857143,
                    "minNetCapturedAmount": 18.76,
                    "maxNetCapturedAmount": 9086.18,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-24T00:00:00+00:00",
                        "intervalEnd": "2026-03-25T00:00:00+00:00",
                        "numPaymentsCreated": 126,
                        "numPaymentsProcessed": 95,
                        "numPaymentsIncomplete": 31,
                        "numPaymentsWithRefunds": 43,
                        "numCardPresentPayments": 89,
                        "numCardNotPresentPayments": -58,
                        "totalCapturedAmount": 138284,
                        "totalRefundedAmount": 9236.02,
                        "totalNetCapturedAmount": 129047.98,
                        "averageNetCapturedAmount": 1358.4,
                        "minNetCapturedAmount": 33.69,
                        "maxNetCapturedAmount": 2690.45
                      },
                      {
                        "intervalStart": "2026-03-25T00:00:00+00:00",
                        "intervalEnd": "2026-03-26T00:00:00+00:00",
                        "numPaymentsCreated": 100,
                        "numPaymentsProcessed": 86,
                        "numPaymentsIncomplete": 14,
                        "numPaymentsWithRefunds": 21,
                        "numCardPresentPayments": 11,
                        "numCardNotPresentPayments": 3,
                        "totalCapturedAmount": 857278.17,
                        "totalRefundedAmount": 106538.05,
                        "totalNetCapturedAmount": 750740.12,
                        "averageNetCapturedAmount": 8729.54,
                        "minNetCapturedAmount": 93.55,
                        "maxNetCapturedAmount": 1041.62
                      },
                      {
                        "intervalStart": "2026-03-26T00:00:00+00:00",
                        "intervalEnd": "2026-03-27T00:00:00+00:00",
                        "numPaymentsCreated": 981,
                        "numPaymentsProcessed": 199,
                        "numPaymentsIncomplete": 782,
                        "numPaymentsWithRefunds": 128,
                        "numCardPresentPayments": 30,
                        "numCardNotPresentPayments": 752,
                        "totalCapturedAmount": 198431.36,
                        "totalRefundedAmount": 9365.54,
                        "totalNetCapturedAmount": 189065.82,
                        "averageNetCapturedAmount": 950.08,
                        "minNetCapturedAmount": 54.57,
                        "maxNetCapturedAmount": 1556.74
                      },
                      {
                        "intervalStart": "2026-03-27T00:00:00+00:00",
                        "intervalEnd": "2026-03-28T00:00:00+00:00",
                        "numPaymentsCreated": 314,
                        "numPaymentsProcessed": 223,
                        "numPaymentsIncomplete": 91,
                        "numPaymentsWithRefunds": 55,
                        "numCardPresentPayments": 177,
                        "numCardNotPresentPayments": -86,
                        "totalCapturedAmount": 85964.94,
                        "totalRefundedAmount": 2060.12,
                        "totalNetCapturedAmount": 83904.82,
                        "averageNetCapturedAmount": 376.25,
                        "minNetCapturedAmount": 43.87,
                        "maxNetCapturedAmount": 5162
                      },
                      {
                        "intervalStart": "2026-03-28T00:00:00+00:00",
                        "intervalEnd": "2026-03-29T00:00:00+00:00",
                        "numPaymentsCreated": 281,
                        "numPaymentsProcessed": 105,
                        "numPaymentsIncomplete": 176,
                        "numPaymentsWithRefunds": 85,
                        "numCardPresentPayments": 41,
                        "numCardNotPresentPayments": 135,
                        "totalCapturedAmount": 204397.63,
                        "totalRefundedAmount": 56810.09,
                        "totalNetCapturedAmount": 147587.54,
                        "averageNetCapturedAmount": 1405.6,
                        "minNetCapturedAmount": 18.76,
                        "maxNetCapturedAmount": 9086.18
                      },
                      {
                        "intervalStart": "2026-03-29T00:00:00+00:00",
                        "intervalEnd": "2026-03-30T00:00:00+00:00",
                        "numPaymentsCreated": 684,
                        "numPaymentsProcessed": 638,
                        "numPaymentsIncomplete": 46,
                        "numPaymentsWithRefunds": 521,
                        "numCardPresentPayments": 341,
                        "numCardNotPresentPayments": -295,
                        "totalCapturedAmount": 669069.28,
                        "totalRefundedAmount": 50221.09,
                        "totalNetCapturedAmount": 618848.19,
                        "averageNetCapturedAmount": 969.98,
                        "minNetCapturedAmount": 52.67,
                        "maxNetCapturedAmount": 1822.29
                      },
                      {
                        "intervalStart": "2026-03-30T00:00:00+00:00",
                        "intervalEnd": "2026-03-31T00:00:00+00:00",
                        "numPaymentsCreated": 524,
                        "numPaymentsProcessed": 340,
                        "numPaymentsIncomplete": 184,
                        "numPaymentsWithRefunds": 294,
                        "numCardPresentPayments": 266,
                        "numCardNotPresentPayments": -82,
                        "totalCapturedAmount": 112931.09,
                        "totalRefundedAmount": 14623.11,
                        "totalNetCapturedAmount": 98307.98,
                        "averageNetCapturedAmount": 289.14,
                        "minNetCapturedAmount": 98.15,
                        "maxNetCapturedAmount": 1639.46
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-24T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-31T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 3010
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 1686
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 1324
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 1147
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 955
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": 369
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 2266356.47
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 248854.02
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 2017502.45
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 2011.2842857143
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 18.76
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 9086.18
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-24T00:00:00+00:00",
                          "intervalEnd": "2026-03-25T00:00:00+00:00",
                          "numPaymentsCreated": 126,
                          "numPaymentsProcessed": 95,
                          "numPaymentsIncomplete": 31,
                          "numPaymentsWithRefunds": 43,
                          "numCardPresentPayments": 89,
                          "numCardNotPresentPayments": -58,
                          "totalCapturedAmount": 138284,
                          "totalRefundedAmount": 9236.02,
                          "totalNetCapturedAmount": 129047.98,
                          "averageNetCapturedAmount": 1358.4,
                          "minNetCapturedAmount": 33.69,
                          "maxNetCapturedAmount": 2690.45
                        },
                        {
                          "intervalStart": "2026-03-25T00:00:00+00:00",
                          "intervalEnd": "2026-03-26T00:00:00+00:00",
                          "numPaymentsCreated": 100,
                          "numPaymentsProcessed": 86,
                          "numPaymentsIncomplete": 14,
                          "numPaymentsWithRefunds": 21,
                          "numCardPresentPayments": 11,
                          "numCardNotPresentPayments": 3,
                          "totalCapturedAmount": 857278.17,
                          "totalRefundedAmount": 106538.05,
                          "totalNetCapturedAmount": 750740.12,
                          "averageNetCapturedAmount": 8729.54,
                          "minNetCapturedAmount": 93.55,
                          "maxNetCapturedAmount": 1041.62
                        },
                        {
                          "intervalStart": "2026-03-26T00:00:00+00:00",
                          "intervalEnd": "2026-03-27T00:00:00+00:00",
                          "numPaymentsCreated": 981,
                          "numPaymentsProcessed": 199,
                          "numPaymentsIncomplete": 782,
                          "numPaymentsWithRefunds": 128,
                          "numCardPresentPayments": 30,
                          "numCardNotPresentPayments": 752,
                          "totalCapturedAmount": 198431.36,
                          "totalRefundedAmount": 9365.54,
                          "totalNetCapturedAmount": 189065.82,
                          "averageNetCapturedAmount": 950.08,
                          "minNetCapturedAmount": 54.57,
                          "maxNetCapturedAmount": 1556.74
                        },
                        {
                          "intervalStart": "2026-03-27T00:00:00+00:00",
                          "intervalEnd": "2026-03-28T00:00:00+00:00",
                          "numPaymentsCreated": 314,
                          "numPaymentsProcessed": 223,
                          "numPaymentsIncomplete": 91,
                          "numPaymentsWithRefunds": 55,
                          "numCardPresentPayments": 177,
                          "numCardNotPresentPayments": -86,
                          "totalCapturedAmount": 85964.94,
                          "totalRefundedAmount": 2060.12,
                          "totalNetCapturedAmount": 83904.82,
                          "averageNetCapturedAmount": 376.25,
                          "minNetCapturedAmount": 43.87,
                          "maxNetCapturedAmount": 5162
                        },
                        {
                          "intervalStart": "2026-03-28T00:00:00+00:00",
                          "intervalEnd": "2026-03-29T00:00:00+00:00",
                          "numPaymentsCreated": 281,
                          "numPaymentsProcessed": 105,
                          "numPaymentsIncomplete": 176,
                          "numPaymentsWithRefunds": 85,
                          "numCardPresentPayments": 41,
                          "numCardNotPresentPayments": 135,
                          "totalCapturedAmount": 204397.63,
                          "totalRefundedAmount": 56810.09,
                          "totalNetCapturedAmount": 147587.54,
                          "averageNetCapturedAmount": 1405.6,
                          "minNetCapturedAmount": 18.76,
                          "maxNetCapturedAmount": 9086.18
                        },
                        {
                          "intervalStart": "2026-03-29T00:00:00+00:00",
                          "intervalEnd": "2026-03-30T00:00:00+00:00",
                          "numPaymentsCreated": 684,
                          "numPaymentsProcessed": 638,
                          "numPaymentsIncomplete": 46,
                          "numPaymentsWithRefunds": 521,
                          "numCardPresentPayments": 341,
                          "numCardNotPresentPayments": -295,
                          "totalCapturedAmount": 669069.28,
                          "totalRefundedAmount": 50221.09,
                          "totalNetCapturedAmount": 618848.19,
                          "averageNetCapturedAmount": 969.98,
                          "minNetCapturedAmount": 52.67,
                          "maxNetCapturedAmount": 1822.29
                        },
                        {
                          "intervalStart": "2026-03-30T00:00:00+00:00",
                          "intervalEnd": "2026-03-31T00:00:00+00:00",
                          "numPaymentsCreated": 524,
                          "numPaymentsProcessed": 340,
                          "numPaymentsIncomplete": 184,
                          "numPaymentsWithRefunds": 294,
                          "numCardPresentPayments": 266,
                          "numCardNotPresentPayments": -82,
                          "totalCapturedAmount": 112931.09,
                          "totalRefundedAmount": 14623.11,
                          "totalNetCapturedAmount": 98307.98,
                          "averageNetCapturedAmount": 289.14,
                          "minNetCapturedAmount": 98.15,
                          "maxNetCapturedAmount": 1639.46
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-24T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-25T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 126
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 95
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 31
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 43
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 89
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": -58
                          },
                          "totalCapturedAmount": {
                            "type": "integer",
                            "example": 138284
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 9236.02
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 129047.98
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 1358.4
                          },
                          "minNetCapturedAmount": {
                            "type": "number",
                            "example": 33.69
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 2690.45
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-24T00:00:00+00:00",
                    "periodEnd": "2026-03-31T00:00:00+00:00",
                    "activeCustomers": 94,
                    "newCustomers": 229,
                    "returningCustomers": -135,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-24T00:00:00+00:00",
                        "intervalEnd": "2026-03-25T00:00:00+00:00",
                        "activeCustomers": 21,
                        "newCustomers": 6,
                        "returningCustomers": 15
                      },
                      {
                        "intervalStart": "2026-03-25T00:00:00+00:00",
                        "intervalEnd": "2026-03-26T00:00:00+00:00",
                        "activeCustomers": 50,
                        "newCustomers": 43,
                        "returningCustomers": 7
                      },
                      {
                        "intervalStart": "2026-03-26T00:00:00+00:00",
                        "intervalEnd": "2026-03-27T00:00:00+00:00",
                        "activeCustomers": 72,
                        "newCustomers": 69,
                        "returningCustomers": 3
                      },
                      {
                        "intervalStart": "2026-03-27T00:00:00+00:00",
                        "intervalEnd": "2026-03-28T00:00:00+00:00",
                        "activeCustomers": 28,
                        "newCustomers": 12,
                        "returningCustomers": 16
                      },
                      {
                        "intervalStart": "2026-03-28T00:00:00+00:00",
                        "intervalEnd": "2026-03-29T00:00:00+00:00",
                        "activeCustomers": 59,
                        "newCustomers": 17,
                        "returningCustomers": 42
                      },
                      {
                        "intervalStart": "2026-03-29T00:00:00+00:00",
                        "intervalEnd": "2026-03-30T00:00:00+00:00",
                        "activeCustomers": 11,
                        "newCustomers": 7,
                        "returningCustomers": 4
                      },
                      {
                        "intervalStart": "2026-03-30T00:00:00+00:00",
                        "intervalEnd": "2026-03-31T00:00:00+00:00",
                        "activeCustomers": 86,
                        "newCustomers": 75,
                        "returningCustomers": 11
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-24T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-31T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 94
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 229
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": -135
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-24T00:00:00+00:00",
                          "intervalEnd": "2026-03-25T00:00:00+00:00",
                          "activeCustomers": 21,
                          "newCustomers": 6,
                          "returningCustomers": 15
                        },
                        {
                          "intervalStart": "2026-03-25T00:00:00+00:00",
                          "intervalEnd": "2026-03-26T00:00:00+00:00",
                          "activeCustomers": 50,
                          "newCustomers": 43,
                          "returningCustomers": 7
                        },
                        {
                          "intervalStart": "2026-03-26T00:00:00+00:00",
                          "intervalEnd": "2026-03-27T00:00:00+00:00",
                          "activeCustomers": 72,
                          "newCustomers": 69,
                          "returningCustomers": 3
                        },
                        {
                          "intervalStart": "2026-03-27T00:00:00+00:00",
                          "intervalEnd": "2026-03-28T00:00:00+00:00",
                          "activeCustomers": 28,
                          "newCustomers": 12,
                          "returningCustomers": 16
                        },
                        {
                          "intervalStart": "2026-03-28T00:00:00+00:00",
                          "intervalEnd": "2026-03-29T00:00:00+00:00",
                          "activeCustomers": 59,
                          "newCustomers": 17,
                          "returningCustomers": 42
                        },
                        {
                          "intervalStart": "2026-03-29T00:00:00+00:00",
                          "intervalEnd": "2026-03-30T00:00:00+00:00",
                          "activeCustomers": 11,
                          "newCustomers": 7,
                          "returningCustomers": 4
                        },
                        {
                          "intervalStart": "2026-03-30T00:00:00+00:00",
                          "intervalEnd": "2026-03-31T00:00:00+00:00",
                          "activeCustomers": 86,
                          "newCustomers": 75,
                          "returningCustomers": 11
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-24T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-25T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 21
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 6
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 15
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-24T00:00:00+00:00",
                    "periodEnd": "2026-03-31T00:00:00+00:00",
                    "totalTransactions": 3841,
                    "authorizeTransactions": 275,
                    "captureTransactions": 308,
                    "payTransactions": 2082,
                    "refundTransactions": 824,
                    "verifyTransactions": 216,
                    "voidTransactions": 136,
                    "successfulTransactions": 3453,
                    "failedTransactions": 273,
                    "declinedTransactions": 94,
                    "pendingTransactions": 21,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-24T00:00:00+00:00",
                        "intervalEnd": "2026-03-25T00:00:00+00:00",
                        "totalTransactions": 721,
                        "authorizeTransactions": 40,
                        "captureTransactions": 48,
                        "payTransactions": 544,
                        "refundTransactions": 38,
                        "verifyTransactions": 42,
                        "voidTransactions": 9,
                        "successfulTransactions": 648,
                        "failedTransactions": 42,
                        "declinedTransactions": 28,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-25T00:00:00+00:00",
                        "intervalEnd": "2026-03-26T00:00:00+00:00",
                        "totalTransactions": 517,
                        "authorizeTransactions": 18,
                        "captureTransactions": 20,
                        "payTransactions": 476,
                        "refundTransactions": 5,
                        "verifyTransactions": 5,
                        "voidTransactions": -7,
                        "successfulTransactions": 465,
                        "failedTransactions": 38,
                        "declinedTransactions": 9,
                        "pendingTransactions": 5,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-26T00:00:00+00:00",
                        "intervalEnd": "2026-03-27T00:00:00+00:00",
                        "totalTransactions": 134,
                        "authorizeTransactions": 15,
                        "captureTransactions": 21,
                        "payTransactions": 64,
                        "refundTransactions": 22,
                        "verifyTransactions": 5,
                        "voidTransactions": 7,
                        "successfulTransactions": 120,
                        "failedTransactions": 7,
                        "declinedTransactions": 6,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-27T00:00:00+00:00",
                        "intervalEnd": "2026-03-28T00:00:00+00:00",
                        "totalTransactions": 436,
                        "authorizeTransactions": 26,
                        "captureTransactions": 30,
                        "payTransactions": 355,
                        "refundTransactions": 21,
                        "verifyTransactions": 4,
                        "voidTransactions": 0,
                        "successfulTransactions": 392,
                        "failedTransactions": 40,
                        "declinedTransactions": 1,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-28T00:00:00+00:00",
                        "intervalEnd": "2026-03-29T00:00:00+00:00",
                        "totalTransactions": 377,
                        "authorizeTransactions": 25,
                        "captureTransactions": 34,
                        "payTransactions": 110,
                        "refundTransactions": 190,
                        "verifyTransactions": 13,
                        "voidTransactions": 5,
                        "successfulTransactions": 339,
                        "failedTransactions": 27,
                        "declinedTransactions": 9,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-29T00:00:00+00:00",
                        "intervalEnd": "2026-03-30T00:00:00+00:00",
                        "totalTransactions": 923,
                        "authorizeTransactions": 81,
                        "captureTransactions": 84,
                        "payTransactions": 294,
                        "refundTransactions": 380,
                        "verifyTransactions": 34,
                        "voidTransactions": 50,
                        "successfulTransactions": 830,
                        "failedTransactions": 75,
                        "declinedTransactions": 12,
                        "pendingTransactions": 6,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-30T00:00:00+00:00",
                        "intervalEnd": "2026-03-31T00:00:00+00:00",
                        "totalTransactions": 733,
                        "authorizeTransactions": 70,
                        "captureTransactions": 71,
                        "payTransactions": 239,
                        "refundTransactions": 168,
                        "verifyTransactions": 113,
                        "voidTransactions": 72,
                        "successfulTransactions": 659,
                        "failedTransactions": 44,
                        "declinedTransactions": 29,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-24T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-31T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 3841
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 275
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 308
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 2082
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 824
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 216
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 136
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 3453
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 273
                    },
                    "declinedTransactions": {
                      "type": "integer",
                      "example": 94
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 21
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-24T00:00:00+00:00",
                          "intervalEnd": "2026-03-25T00:00:00+00:00",
                          "totalTransactions": 721,
                          "authorizeTransactions": 40,
                          "captureTransactions": 48,
                          "payTransactions": 544,
                          "refundTransactions": 38,
                          "verifyTransactions": 42,
                          "voidTransactions": 9,
                          "successfulTransactions": 648,
                          "failedTransactions": 42,
                          "declinedTransactions": 28,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-25T00:00:00+00:00",
                          "intervalEnd": "2026-03-26T00:00:00+00:00",
                          "totalTransactions": 517,
                          "authorizeTransactions": 18,
                          "captureTransactions": 20,
                          "payTransactions": 476,
                          "refundTransactions": 5,
                          "verifyTransactions": 5,
                          "voidTransactions": -7,
                          "successfulTransactions": 465,
                          "failedTransactions": 38,
                          "declinedTransactions": 9,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-26T00:00:00+00:00",
                          "intervalEnd": "2026-03-27T00:00:00+00:00",
                          "totalTransactions": 134,
                          "authorizeTransactions": 15,
                          "captureTransactions": 21,
                          "payTransactions": 64,
                          "refundTransactions": 22,
                          "verifyTransactions": 5,
                          "voidTransactions": 7,
                          "successfulTransactions": 120,
                          "failedTransactions": 7,
                          "declinedTransactions": 6,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-27T00:00:00+00:00",
                          "intervalEnd": "2026-03-28T00:00:00+00:00",
                          "totalTransactions": 436,
                          "authorizeTransactions": 26,
                          "captureTransactions": 30,
                          "payTransactions": 355,
                          "refundTransactions": 21,
                          "verifyTransactions": 4,
                          "voidTransactions": 0,
                          "successfulTransactions": 392,
                          "failedTransactions": 40,
                          "declinedTransactions": 1,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-28T00:00:00+00:00",
                          "intervalEnd": "2026-03-29T00:00:00+00:00",
                          "totalTransactions": 377,
                          "authorizeTransactions": 25,
                          "captureTransactions": 34,
                          "payTransactions": 110,
                          "refundTransactions": 190,
                          "verifyTransactions": 13,
                          "voidTransactions": 5,
                          "successfulTransactions": 339,
                          "failedTransactions": 27,
                          "declinedTransactions": 9,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-29T00:00:00+00:00",
                          "intervalEnd": "2026-03-30T00:00:00+00:00",
                          "totalTransactions": 923,
                          "authorizeTransactions": 81,
                          "captureTransactions": 84,
                          "payTransactions": 294,
                          "refundTransactions": 380,
                          "verifyTransactions": 34,
                          "voidTransactions": 50,
                          "successfulTransactions": 830,
                          "failedTransactions": 75,
                          "declinedTransactions": 12,
                          "pendingTransactions": 6,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-30T00:00:00+00:00",
                          "intervalEnd": "2026-03-31T00:00:00+00:00",
                          "totalTransactions": 733,
                          "authorizeTransactions": 70,
                          "captureTransactions": 71,
                          "payTransactions": 239,
                          "refundTransactions": 168,
                          "verifyTransactions": 113,
                          "voidTransactions": 72,
                          "successfulTransactions": 659,
                          "failedTransactions": 44,
                          "declinedTransactions": 29,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-24T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-25T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 721
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 40
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 48
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 544
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 38
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 42
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": 9
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 648
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 42
                          },
                          "declinedTransactions": {
                            "type": "integer",
                            "example": 28
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 3
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-24T00:00:00+00:00",
                    "periodEnd": "2026-03-31T00:00:00+00:00",
                    "totalSettlementAmount": 58362.2,
                    "totalFeeAmount": 2859.7478,
                    "totalNetAmount": 55502.4522,
                    "totalTransactionsPending": 103,
                    "totalTransactionsSettled": 886,
                    "totalTransactionsSettling": 951,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-24T00:00:00+00:00",
                        "intervalEnd": "2026-03-25T00:00:00+00:00",
                        "totalSettlementAmount": 8221.99,
                        "totalFeeAmount": 402.87751,
                        "totalNetAmount": 7819.11249,
                        "totalTransactionsPending": 6,
                        "totalTransactionsSettled": 86,
                        "totalTransactionsSettling": 23
                      },
                      {
                        "intervalStart": "2026-03-25T00:00:00+00:00",
                        "intervalEnd": "2026-03-26T00:00:00+00:00",
                        "totalSettlementAmount": 9194.47,
                        "totalFeeAmount": 450.52903,
                        "totalNetAmount": 8743.94097,
                        "totalTransactionsPending": 5,
                        "totalTransactionsSettled": 216,
                        "totalTransactionsSettling": 175
                      },
                      {
                        "intervalStart": "2026-03-26T00:00:00+00:00",
                        "intervalEnd": "2026-03-27T00:00:00+00:00",
                        "totalSettlementAmount": 9849.67,
                        "totalFeeAmount": 482.63383,
                        "totalNetAmount": 9367.03617,
                        "totalTransactionsPending": 36,
                        "totalTransactionsSettled": 34,
                        "totalTransactionsSettling": 34
                      },
                      {
                        "intervalStart": "2026-03-27T00:00:00+00:00",
                        "intervalEnd": "2026-03-28T00:00:00+00:00",
                        "totalSettlementAmount": 9018.7,
                        "totalFeeAmount": 441.9163,
                        "totalNetAmount": 8576.7837,
                        "totalTransactionsPending": 6,
                        "totalTransactionsSettled": 123,
                        "totalTransactionsSettling": 286
                      },
                      {
                        "intervalStart": "2026-03-28T00:00:00+00:00",
                        "intervalEnd": "2026-03-29T00:00:00+00:00",
                        "totalSettlementAmount": 6411.47,
                        "totalFeeAmount": 314.16203,
                        "totalNetAmount": 6097.30797,
                        "totalTransactionsPending": 5,
                        "totalTransactionsSettled": 42,
                        "totalTransactionsSettling": 283
                      },
                      {
                        "intervalStart": "2026-03-29T00:00:00+00:00",
                        "intervalEnd": "2026-03-30T00:00:00+00:00",
                        "totalSettlementAmount": 5957.66,
                        "totalFeeAmount": 291.92534,
                        "totalNetAmount": 5665.73466,
                        "totalTransactionsPending": 19,
                        "totalTransactionsSettled": 63,
                        "totalTransactionsSettling": 75
                      },
                      {
                        "intervalStart": "2026-03-30T00:00:00+00:00",
                        "intervalEnd": "2026-03-31T00:00:00+00:00",
                        "totalSettlementAmount": 9708.24,
                        "totalFeeAmount": 475.70376,
                        "totalNetAmount": 9232.53624,
                        "totalTransactionsPending": 26,
                        "totalTransactionsSettled": 322,
                        "totalTransactionsSettling": 75
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-24T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-31T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 58362.2
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 2859.7478
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 55502.4522
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 103
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 886
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 951
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-24T00:00:00+00:00",
                          "intervalEnd": "2026-03-25T00:00:00+00:00",
                          "totalSettlementAmount": 8221.99,
                          "totalFeeAmount": 402.87751,
                          "totalNetAmount": 7819.11249,
                          "totalTransactionsPending": 6,
                          "totalTransactionsSettled": 86,
                          "totalTransactionsSettling": 23
                        },
                        {
                          "intervalStart": "2026-03-25T00:00:00+00:00",
                          "intervalEnd": "2026-03-26T00:00:00+00:00",
                          "totalSettlementAmount": 9194.47,
                          "totalFeeAmount": 450.52903,
                          "totalNetAmount": 8743.94097,
                          "totalTransactionsPending": 5,
                          "totalTransactionsSettled": 216,
                          "totalTransactionsSettling": 175
                        },
                        {
                          "intervalStart": "2026-03-26T00:00:00+00:00",
                          "intervalEnd": "2026-03-27T00:00:00+00:00",
                          "totalSettlementAmount": 9849.67,
                          "totalFeeAmount": 482.63383,
                          "totalNetAmount": 9367.03617,
                          "totalTransactionsPending": 36,
                          "totalTransactionsSettled": 34,
                          "totalTransactionsSettling": 34
                        },
                        {
                          "intervalStart": "2026-03-27T00:00:00+00:00",
                          "intervalEnd": "2026-03-28T00:00:00+00:00",
                          "totalSettlementAmount": 9018.7,
                          "totalFeeAmount": 441.9163,
                          "totalNetAmount": 8576.7837,
                          "totalTransactionsPending": 6,
                          "totalTransactionsSettled": 123,
                          "totalTransactionsSettling": 286
                        },
                        {
                          "intervalStart": "2026-03-28T00:00:00+00:00",
                          "intervalEnd": "2026-03-29T00:00:00+00:00",
                          "totalSettlementAmount": 6411.47,
                          "totalFeeAmount": 314.16203,
                          "totalNetAmount": 6097.30797,
                          "totalTransactionsPending": 5,
                          "totalTransactionsSettled": 42,
                          "totalTransactionsSettling": 283
                        },
                        {
                          "intervalStart": "2026-03-29T00:00:00+00:00",
                          "intervalEnd": "2026-03-30T00:00:00+00:00",
                          "totalSettlementAmount": 5957.66,
                          "totalFeeAmount": 291.92534,
                          "totalNetAmount": 5665.73466,
                          "totalTransactionsPending": 19,
                          "totalTransactionsSettled": 63,
                          "totalTransactionsSettling": 75
                        },
                        {
                          "intervalStart": "2026-03-30T00:00:00+00:00",
                          "intervalEnd": "2026-03-31T00:00:00+00:00",
                          "totalSettlementAmount": 9708.24,
                          "totalFeeAmount": 475.70376,
                          "totalNetAmount": 9232.53624,
                          "totalTransactionsPending": 26,
                          "totalTransactionsSettled": 322,
                          "totalTransactionsSettling": 75
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-24T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-25T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 8221.99
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 402.87751
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 7819.11249
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 6
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 86
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 23
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 7,
                    "data": [
                      {
                        "email": "bbeier@kunde.com",
                        "firstName": "Nella",
                        "lastName": "Gleichner",
                        "phone": "+18659768016",
                        "dateOfBirth": "1993-11-15"
                      },
                      {
                        "email": "bemard@hilpert.biz",
                        "firstName": "Dante",
                        "lastName": "Howe",
                        "phone": "+12813395626",
                        "dateOfBirth": "1993-07-15"
                      },
                      {
                        "email": "josiah68@yahoo.com",
                        "firstName": "Aubree",
                        "lastName": "Kuhic",
                        "phone": "+16622085414",
                        "dateOfBirth": "2001-09-20"
                      },
                      {
                        "email": "babshire@yahoo.com",
                        "firstName": "Christian",
                        "lastName": "Wisozk",
                        "phone": "+12127646218",
                        "dateOfBirth": "1974-08-30"
                      },
                      {
                        "email": "oberbrunner.eulah@herzog.com",
                        "firstName": "Kade",
                        "lastName": "Schmidt",
                        "phone": "+14795691564",
                        "dateOfBirth": "2007-07-08"
                      },
                      {
                        "email": "ochamplin@langosh.com",
                        "firstName": "Moises",
                        "lastName": "Langosh",
                        "phone": "+14583543556",
                        "dateOfBirth": "2004-12-29"
                      },
                      {
                        "email": "loraine.hill@douglas.biz",
                        "firstName": "Rosanna",
                        "lastName": "Grady",
                        "phone": "+14129930600",
                        "dateOfBirth": "2003-02-27"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 7,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "bbeier@kunde.com",
                          "firstName": "Nella",
                          "lastName": "Gleichner",
                          "phone": "+18659768016",
                          "dateOfBirth": "1993-11-15"
                        },
                        {
                          "email": "bemard@hilpert.biz",
                          "firstName": "Dante",
                          "lastName": "Howe",
                          "phone": "+12813395626",
                          "dateOfBirth": "1993-07-15"
                        },
                        {
                          "email": "josiah68@yahoo.com",
                          "firstName": "Aubree",
                          "lastName": "Kuhic",
                          "phone": "+16622085414",
                          "dateOfBirth": "2001-09-20"
                        },
                        {
                          "email": "babshire@yahoo.com",
                          "firstName": "Christian",
                          "lastName": "Wisozk",
                          "phone": "+12127646218",
                          "dateOfBirth": "1974-08-30"
                        },
                        {
                          "email": "oberbrunner.eulah@herzog.com",
                          "firstName": "Kade",
                          "lastName": "Schmidt",
                          "phone": "+14795691564",
                          "dateOfBirth": "2007-07-08"
                        },
                        {
                          "email": "ochamplin@langosh.com",
                          "firstName": "Moises",
                          "lastName": "Langosh",
                          "phone": "+14583543556",
                          "dateOfBirth": "2004-12-29"
                        },
                        {
                          "email": "loraine.hill@douglas.biz",
                          "firstName": "Rosanna",
                          "lastName": "Grady",
                          "phone": "+14129930600",
                          "dateOfBirth": "2003-02-27"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "bbeier@kunde.com"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Nella"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Gleichner"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+18659768016"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "1993-11-15"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers/{customerIdOrEmail}/addresses": {
      "get": {
        "summary": "List Customer Billing Addresses",
        "operationId": "listCustomerBillingAddresses",
        "description": "Returns all unique billing addresses that have been used by a customer across their payments.\nAddresses are deduplicated using case-insensitive and whitespace-insensitive comparison.",
        "parameters": [
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
            "example": "-city",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
              "example": "-city",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of unique billing addresses for the customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "company": "Ondricka, Green and Smith",
                        "street": "19514 Stiedemann Turnpike",
                        "city": "Lake Charitychester",
                        "stateProvince": "PA",
                        "postcodeZip": "06923-2617",
                        "country": "USA"
                      },
                      {
                        "company": "Cruickshank Inc",
                        "street": "4123 Wisozk Meadow Apt. 460",
                        "city": "Port Darion",
                        "stateProvince": "ME",
                        "postcodeZip": "32138-4762",
                        "country": "USA"
                      },
                      {
                        "company": "Wolff-Bogisich",
                        "street": "65264 Felicity Court",
                        "city": "New Johan",
                        "stateProvince": "TX",
                        "postcodeZip": "06234-2583",
                        "country": "USA"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "company": "Ondricka, Green and Smith",
                          "street": "19514 Stiedemann Turnpike",
                          "city": "Lake Charitychester",
                          "stateProvince": "PA",
                          "postcodeZip": "06923-2617",
                          "country": "USA"
                        },
                        {
                          "company": "Cruickshank Inc",
                          "street": "4123 Wisozk Meadow Apt. 460",
                          "city": "Port Darion",
                          "stateProvince": "ME",
                          "postcodeZip": "32138-4762",
                          "country": "USA"
                        },
                        {
                          "company": "Wolff-Bogisich",
                          "street": "65264 Felicity Court",
                          "city": "New Johan",
                          "stateProvince": "TX",
                          "postcodeZip": "06234-2583",
                          "country": "USA"
                        }
                      ],
                      "description": "The data returned from the request",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "company": {
                            "type": "string",
                            "example": "Ondricka, Green and Smith"
                          },
                          "street": {
                            "type": "string",
                            "example": "19514 Stiedemann Turnpike"
                          },
                          "city": {
                            "type": "string",
                            "example": "Lake Charitychester"
                          },
                          "stateProvince": {
                            "type": "string",
                            "example": "PA"
                          },
                          "postcodeZip": {
                            "type": "string",
                            "example": "06923-2617"
                          },
                          "country": {
                            "type": "string",
                            "example": "USA"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "path",
          "name": "customerIdOrEmail",
          "description": "The customer ID, UUID, or email address",
          "example": "customer_123",
          "required": true,
          "schema": {
[...]
