{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.74.0"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payout Exports",
      "description": "Create payout exports"
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/api/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-04-28T00:00:00+00:00",
                      "periodEnd": "2026-05-05T00:00:00+00:00",
                      "numPaymentsCreated": 4715,
                      "numPaymentsProcessed": 1445,
                      "numPaymentsIncomplete": 3270,
                      "numPaymentsWithRefunds": 472,
                      "numCardPresentPayments": 886,
                      "numCardNotPresentPayments": 2384,
                      "totalCapturedAmount": 2519316.73,
                      "totalRefundedAmount": 361160.55,
                      "totalNetCapturedAmount": 2158156.18,
                      "averageNetCapturedAmount": 1841.37,
                      "minNetCapturedAmount": 14.71,
                      "maxNetCapturedAmount": 9157.88,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-04-28T00:00:00+00:00",
                          "intervalEnd": "2026-04-29T00:00:00+00:00",
                          "numPaymentsCreated": 647,
                          "numPaymentsProcessed": 105,
                          "numPaymentsIncomplete": 542,
                          "numPaymentsWithRefunds": 67,
                          "numCardPresentPayments": 96,
                          "numCardNotPresentPayments": 446,
                          "totalCapturedAmount": 90061.36,
                          "totalRefundedAmount": 11149.38,
                          "totalNetCapturedAmount": 78911.98,
                          "averageNetCapturedAmount": 751.54,
                          "minNetCapturedAmount": 84.64,
                          "maxNetCapturedAmount": 5435.47
                        },
                        {
                          "intervalStart": "2026-04-29T00:00:00+00:00",
                          "intervalEnd": "2026-04-30T00:00:00+00:00",
                          "numPaymentsCreated": 756,
                          "numPaymentsProcessed": 583,
                          "numPaymentsIncomplete": 173,
                          "numPaymentsWithRefunds": 123,
                          "numCardPresentPayments": 473,
                          "numCardNotPresentPayments": -300,
                          "totalCapturedAmount": 270596.39,
                          "totalRefundedAmount": 6848.15,
                          "totalNetCapturedAmount": 263748.24,
                          "averageNetCapturedAmount": 452.4,
                          "minNetCapturedAmount": 81.7,
                          "maxNetCapturedAmount": 9157.88
                        },
                        {
                          "intervalStart": "2026-04-30T00:00:00+00:00",
                          "intervalEnd": "2026-05-01T00:00:00+00:00",
                          "numPaymentsCreated": 672,
                          "numPaymentsProcessed": 181,
                          "numPaymentsIncomplete": 491,
                          "numPaymentsWithRefunds": 24,
                          "numCardPresentPayments": 94,
                          "numCardNotPresentPayments": 397,
                          "totalCapturedAmount": 604529.54,
                          "totalRefundedAmount": 32494.2,
                          "totalNetCapturedAmount": 572035.34,
                          "averageNetCapturedAmount": 3160.42,
                          "minNetCapturedAmount": 76.88,
                          "maxNetCapturedAmount": 7697.52
                        },
                        {
                          "intervalStart": "2026-05-01T00:00:00+00:00",
                          "intervalEnd": "2026-05-02T00:00:00+00:00",
                          "numPaymentsCreated": 704,
                          "numPaymentsProcessed": 101,
                          "numPaymentsIncomplete": 603,
                          "numPaymentsWithRefunds": 71,
                          "numCardPresentPayments": 41,
                          "numCardNotPresentPayments": 562,
                          "totalCapturedAmount": 192137.89,
                          "totalRefundedAmount": 20970.3,
                          "totalNetCapturedAmount": 171167.59,
                          "averageNetCapturedAmount": 1694.73,
                          "minNetCapturedAmount": 48.33,
                          "maxNetCapturedAmount": 7531.34
                        },
                        {
                          "intervalStart": "2026-05-02T00:00:00+00:00",
                          "intervalEnd": "2026-05-03T00:00:00+00:00",
                          "numPaymentsCreated": 552,
                          "numPaymentsProcessed": 158,
                          "numPaymentsIncomplete": 394,
                          "numPaymentsWithRefunds": 11,
                          "numCardPresentPayments": 51,
                          "numCardNotPresentPayments": 343,
                          "totalCapturedAmount": 550040.42,
                          "totalRefundedAmount": 77969.59,
                          "totalNetCapturedAmount": 472070.83,
                          "averageNetCapturedAmount": 2987.79,
                          "minNetCapturedAmount": 75.55,
                          "maxNetCapturedAmount": 4916.08
                        },
                        {
                          "intervalStart": "2026-05-03T00:00:00+00:00",
                          "intervalEnd": "2026-05-04T00:00:00+00:00",
                          "numPaymentsCreated": 884,
                          "numPaymentsProcessed": 200,
                          "numPaymentsIncomplete": 684,
                          "numPaymentsWithRefunds": 114,
                          "numCardPresentPayments": 36,
                          "numCardNotPresentPayments": 648,
                          "totalCapturedAmount": 511868.74,
                          "totalRefundedAmount": 148918.3,
                          "totalNetCapturedAmount": 362950.44,
                          "averageNetCapturedAmount": 1814.75,
                          "minNetCapturedAmount": 14.71,
                          "maxNetCapturedAmount": 8869.4
                        },
                        {
                          "intervalStart": "2026-05-04T00:00:00+00:00",
                          "intervalEnd": "2026-05-05T00:00:00+00:00",
                          "numPaymentsCreated": 500,
                          "numPaymentsProcessed": 117,
                          "numPaymentsIncomplete": 383,
                          "numPaymentsWithRefunds": 62,
                          "numCardPresentPayments": 95,
                          "numCardNotPresentPayments": 288,
                          "totalCapturedAmount": 300082.39,
                          "totalRefundedAmount": 62810.63,
                          "totalNetCapturedAmount": 237271.76,
                          "averageNetCapturedAmount": 2027.96,
                          "minNetCapturedAmount": 66.71,
                          "maxNetCapturedAmount": 4953.18
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-04-28T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-05-05T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "numPaymentsCreated": {
                          "type": "integer",
                          "example": 4715,
                          "description": "Total number of payment records created in the period",
                          "enum": []
                        },
                        "numPaymentsProcessed": {
                          "type": "integer",
                          "example": 1445,
                          "description": "Number of payments that have successfully had funds captured (captured amount > 0)",
                          "enum": []
                        },
                        "numPaymentsIncomplete": {
                          "type": "integer",
                          "example": 3270,
                          "description": "Number of payments which have been created but funds have not been captured yet (e.g. failures, declines, authorizations, etc.)",
                          "enum": []
                        },
                        "numPaymentsWithRefunds": {
                          "type": "integer",
                          "example": 472,
                          "description": "Number of payments that have had one or more refunds (refunded amount > 0)",
                          "enum": []
                        },
                        "numCardPresentPayments": {
                          "type": "integer",
                          "example": 886,
                          "description": "Number of payments made with card present (e.g. via terminal device)",
                          "enum": []
                        },
                        "numCardNotPresentPayments": {
                          "type": "integer",
                          "example": 2384,
                          "description": "Number of payments made with card not present (e.g. online payments)",
                          "enum": []
                        },
                        "totalCapturedAmount": {
                          "type": "number",
                          "example": 2519316.73,
                          "description": "Total amount captured across all payments in the period",
                          "enum": []
                        },
                        "totalRefundedAmount": {
                          "type": "number",
                          "example": 361160.55,
                          "description": "Total amount refunded across all payments in the period",
                          "enum": []
                        },
                        "totalNetCapturedAmount": {
                          "type": "number",
                          "example": 2158156.18,
                          "description": "Net captured amount (captured - refunded) across all payments in the period",
                          "enum": []
                        },
                        "averageNetCapturedAmount": {
                          "type": "number",
                          "example": 1841.37,
                          "description": "Average net captured amount per payment in the period",
                          "enum": []
                        },
                        "minNetCapturedAmount": {
                          "type": "number",
                          "example": 14.71,
                          "description": "Minimum net captured amount in the period",
                          "enum": []
                        },
                        "maxNetCapturedAmount": {
                          "type": "number",
                          "example": 9157.88,
                          "description": "Maximum net captured amount in the period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-04-28T00:00:00+00:00",
                              "intervalEnd": "2026-04-29T00:00:00+00:00",
                              "numPaymentsCreated": 647,
                              "numPaymentsProcessed": 105,
                              "numPaymentsIncomplete": 542,
                              "numPaymentsWithRefunds": 67,
                              "numCardPresentPayments": 96,
                              "numCardNotPresentPayments": 446,
                              "totalCapturedAmount": 90061.36,
                              "totalRefundedAmount": 11149.38,
                              "totalNetCapturedAmount": 78911.98,
                              "averageNetCapturedAmount": 751.54,
                              "minNetCapturedAmount": 84.64,
                              "maxNetCapturedAmount": 5435.47
                            },
                            {
                              "intervalStart": "2026-04-29T00:00:00+00:00",
                              "intervalEnd": "2026-04-30T00:00:00+00:00",
                              "numPaymentsCreated": 756,
                              "numPaymentsProcessed": 583,
                              "numPaymentsIncomplete": 173,
                              "numPaymentsWithRefunds": 123,
                              "numCardPresentPayments": 473,
                              "numCardNotPresentPayments": -300,
                              "totalCapturedAmount": 270596.39,
                              "totalRefundedAmount": 6848.15,
                              "totalNetCapturedAmount": 263748.24,
                              "averageNetCapturedAmount": 452.4,
                              "minNetCapturedAmount": 81.7,
                              "maxNetCapturedAmount": 9157.88
                            },
                            {
                              "intervalStart": "2026-04-30T00:00:00+00:00",
                              "intervalEnd": "2026-05-01T00:00:00+00:00",
                              "numPaymentsCreated": 672,
                              "numPaymentsProcessed": 181,
                              "numPaymentsIncomplete": 491,
                              "numPaymentsWithRefunds": 24,
                              "numCardPresentPayments": 94,
                              "numCardNotPresentPayments": 397,
                              "totalCapturedAmount": 604529.54,
                              "totalRefundedAmount": 32494.2,
                              "totalNetCapturedAmount": 572035.34,
                              "averageNetCapturedAmount": 3160.42,
                              "minNetCapturedAmount": 76.88,
                              "maxNetCapturedAmount": 7697.52
                            },
                            {
                              "intervalStart": "2026-05-01T00:00:00+00:00",
                              "intervalEnd": "2026-05-02T00:00:00+00:00",
                              "numPaymentsCreated": 704,
                              "numPaymentsProcessed": 101,
                              "numPaymentsIncomplete": 603,
                              "numPaymentsWithRefunds": 71,
                              "numCardPresentPayments": 41,
                              "numCardNotPresentPayments": 562,
                              "totalCapturedAmount": 192137.89,
                              "totalRefundedAmount": 20970.3,
                              "totalNetCapturedAmount": 171167.59,
                              "averageNetCapturedAmount": 1694.73,
                              "minNetCapturedAmount": 48.33,
                              "maxNetCapturedAmount": 7531.34
                            },
                            {
                              "intervalStart": "2026-05-02T00:00:00+00:00",
                              "intervalEnd": "2026-05-03T00:00:00+00:00",
                              "numPaymentsCreated": 552,
                              "numPaymentsProcessed": 158,
                              "numPaymentsIncomplete": 394,
                              "numPaymentsWithRefunds": 11,
                              "numCardPresentPayments": 51,
                              "numCardNotPresentPayments": 343,
                              "totalCapturedAmount": 550040.42,
                              "totalRefundedAmount": 77969.59,
                              "totalNetCapturedAmount": 472070.83,
                              "averageNetCapturedAmount": 2987.79,
                              "minNetCapturedAmount": 75.55,
                              "maxNetCapturedAmount": 4916.08
                            },
                            {
                              "intervalStart": "2026-05-03T00:00:00+00:00",
                              "intervalEnd": "2026-05-04T00:00:00+00:00",
                              "numPaymentsCreated": 884,
                              "numPaymentsProcessed": 200,
                              "numPaymentsIncomplete": 684,
                              "numPaymentsWithRefunds": 114,
                              "numCardPresentPayments": 36,
                              "numCardNotPresentPayments": 648,
                              "totalCapturedAmount": 511868.74,
                              "totalRefundedAmount": 148918.3,
                              "totalNetCapturedAmount": 362950.44,
                              "averageNetCapturedAmount": 1814.75,
                              "minNetCapturedAmount": 14.71,
                              "maxNetCapturedAmount": 8869.4
                            },
                            {
                              "intervalStart": "2026-05-04T00:00:00+00:00",
                              "intervalEnd": "2026-05-05T00:00:00+00:00",
                              "numPaymentsCreated": 500,
                              "numPaymentsProcessed": 117,
                              "numPaymentsIncomplete": 383,
                              "numPaymentsWithRefunds": 62,
                              "numCardPresentPayments": 95,
                              "numCardNotPresentPayments": 288,
                              "totalCapturedAmount": 300082.39,
                              "totalRefundedAmount": 62810.63,
                              "totalNetCapturedAmount": 237271.76,
                              "averageNetCapturedAmount": 2027.96,
                              "minNetCapturedAmount": 66.71,
                              "maxNetCapturedAmount": 4953.18
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-04-28T00:00:00+00:00",
                                "description": "Start time of the PaymentAnalyticsData interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-04-29T00:00:00+00:00",
                                "description": "End time of the PaymentAnalyticsData interval",
                                "enum": []
                              },
                              "numPaymentsCreated": {
                                "type": "integer",
                                "example": 647,
                                "description": "Total number of payment records created in the interval",
                                "enum": []
                              },
                              "numPaymentsProcessed": {
                                "type": "integer",
                                "example": 105,
                                "description": "Number of payments that have successfully had funds captured (captured amount > 0)",
                                "enum": []
                              },
                              "numPaymentsIncomplete": {
                                "type": "integer",
                                "example": 542,
                                "description": "Number of payments which have been created but funds have not been captured yet (e.g. failures, declines, authorizations, etc.)",
                                "enum": []
                              },
                              "numPaymentsWithRefunds": {
                                "type": "integer",
                                "example": 67,
                                "description": "Number of payments that have had one or more refunds (refunded amount > 0)",
                                "enum": []
                              },
                              "numCardPresentPayments": {
                                "type": "integer",
                                "example": 96,
                                "description": "Number of payments made with card present (e.g. via terminal device)",
                                "enum": []
                              },
                              "numCardNotPresentPayments": {
                                "type": "integer",
                                "example": 446,
                                "description": "Number of payments made with card not present (e.g. online payments)",
                                "enum": []
                              },
                              "totalCapturedAmount": {
                                "type": "number",
                                "example": 90061.36,
                                "description": "Total amount captured across all payments in the interval",
                                "enum": []
                              },
                              "totalRefundedAmount": {
                                "type": "number",
                                "example": 11149.38,
                                "description": "Total amount refunded across all payments in the interval",
                                "enum": []
                              },
                              "totalNetCapturedAmount": {
                                "type": "number",
                                "example": 78911.98,
                                "description": "Net captured amount (captured - refunded) across all payments in the interval",
                                "enum": []
                              },
                              "averageNetCapturedAmount": {
                                "type": "number",
                                "example": 751.54,
                                "description": "Average net captured amount per payment in the interval",
                                "enum": []
                              },
                              "minNetCapturedAmount": {
                                "type": "number",
                                "example": 84.64,
                                "description": "Minimum net captured amount in the interval",
                                "enum": []
                              },
                              "maxNetCapturedAmount": {
                                "type": "number",
                                "example": 5435.47,
                                "description": "Maximum net captured amount in the interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-04-28T00:00:00+00:00",
                      "periodEnd": "2026-05-05T00:00:00+00:00",
                      "activeCustomers": 335,
                      "newCustomers": 187,
                      "returningCustomers": 148,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-04-28T00:00:00+00:00",
                          "intervalEnd": "2026-04-29T00:00:00+00:00",
                          "activeCustomers": 49,
                          "newCustomers": 27,
                          "returningCustomers": 22
                        },
                        {
                          "intervalStart": "2026-04-29T00:00:00+00:00",
                          "intervalEnd": "2026-04-30T00:00:00+00:00",
                          "activeCustomers": 82,
                          "newCustomers": 77,
                          "returningCustomers": 5
                        },
                        {
                          "intervalStart": "2026-04-30T00:00:00+00:00",
                          "intervalEnd": "2026-05-01T00:00:00+00:00",
                          "activeCustomers": 17,
                          "newCustomers": 11,
                          "returningCustomers": 6
                        },
                        {
                          "intervalStart": "2026-05-01T00:00:00+00:00",
                          "intervalEnd": "2026-05-02T00:00:00+00:00",
                          "activeCustomers": 48,
                          "newCustomers": 13,
                          "returningCustomers": 35
                        },
                        {
                          "intervalStart": "2026-05-02T00:00:00+00:00",
                          "intervalEnd": "2026-05-03T00:00:00+00:00",
                          "activeCustomers": 42,
                          "newCustomers": 19,
                          "returningCustomers": 23
                        },
                        {
                          "intervalStart": "2026-05-03T00:00:00+00:00",
                          "intervalEnd": "2026-05-04T00:00:00+00:00",
                          "activeCustomers": 80,
                          "newCustomers": 11,
                          "returningCustomers": 69
                        },
                        {
                          "intervalStart": "2026-05-04T00:00:00+00:00",
                          "intervalEnd": "2026-05-05T00:00:00+00:00",
                          "activeCustomers": 56,
                          "newCustomers": 29,
                          "returningCustomers": 27
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-04-28T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-05-05T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "activeCustomers": {
                          "type": "integer",
                          "example": 335,
                          "description": "number of customers who are associated with at least one payment which was created in the period",
                          "enum": []
                        },
                        "newCustomers": {
                          "type": "integer",
                          "example": 187,
                          "description": "number of new customers added in the period",
                          "enum": []
                        },
                        "returningCustomers": {
                          "type": "integer",
                          "example": 148,
                          "description": "number of customers who were active in the period but were created before the period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-04-28T00:00:00+00:00",
                              "intervalEnd": "2026-04-29T00:00:00+00:00",
                              "activeCustomers": 49,
                              "newCustomers": 27,
                              "returningCustomers": 22
                            },
                            {
                              "intervalStart": "2026-04-29T00:00:00+00:00",
                              "intervalEnd": "2026-04-30T00:00:00+00:00",
                              "activeCustomers": 82,
                              "newCustomers": 77,
                              "returningCustomers": 5
                            },
                            {
                              "intervalStart": "2026-04-30T00:00:00+00:00",
                              "intervalEnd": "2026-05-01T00:00:00+00:00",
                              "activeCustomers": 17,
                              "newCustomers": 11,
                              "returningCustomers": 6
                            },
                            {
                              "intervalStart": "2026-05-01T00:00:00+00:00",
                              "intervalEnd": "2026-05-02T00:00:00+00:00",
                              "activeCustomers": 48,
                              "newCustomers": 13,
                              "returningCustomers": 35
                            },
                            {
                              "intervalStart": "2026-05-02T00:00:00+00:00",
                              "intervalEnd": "2026-05-03T00:00:00+00:00",
                              "activeCustomers": 42,
                              "newCustomers": 19,
                              "returningCustomers": 23
                            },
                            {
                              "intervalStart": "2026-05-03T00:00:00+00:00",
                              "intervalEnd": "2026-05-04T00:00:00+00:00",
                              "activeCustomers": 80,
                              "newCustomers": 11,
                              "returningCustomers": 69
                            },
                            {
                              "intervalStart": "2026-05-04T00:00:00+00:00",
                              "intervalEnd": "2026-05-05T00:00:00+00:00",
                              "activeCustomers": 56,
                              "newCustomers": 29,
                              "returningCustomers": 27
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-04-28T00:00:00+00:00",
                                "description": "Start time of the analytics calculation interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-04-29T00:00:00+00:00",
                                "description": "End time of the analytics calculation interval",
                                "enum": []
                              },
                              "activeCustomers": {
                                "type": "integer",
                                "example": 49,
                                "description": "number of customers who are associated with at least one payment which was created in the interval",
                                "enum": []
                              },
                              "newCustomers": {
                                "type": "integer",
                                "example": 27,
                                "description": "number of new customers added in the interval",
                                "enum": []
                              },
                              "returningCustomers": {
                                "type": "integer",
                                "example": 22,
                                "description": "number of customers who were active in the interval but were created before the interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-04-28T00:00:00+00:00",
                      "periodEnd": "2026-05-05T00:00:00+00:00",
                      "totalTransactions": 4450,
                      "authorizeTransactions": 391,
                      "captureTransactions": 426,
                      "payTransactions": 1846,
                      "refundTransactions": 913,
                      "verifyTransactions": 677,
                      "voidTransactions": 197,
                      "successfulTransactions": 4001,
                      "failedTransactions": 322,
                      "declinedTransactions": 100,
                      "pendingTransactions": 27,
                      "unknownTransactions": 0,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-04-28T00:00:00+00:00",
                          "intervalEnd": "2026-04-29T00:00:00+00:00",
                          "totalTransactions": 656,
                          "authorizeTransactions": 59,
                          "captureTransactions": 62,
                          "payTransactions": 71,
                          "refundTransactions": 355,
                          "verifyTransactions": 76,
                          "voidTransactions": 33,
                          "successfulTransactions": 590,
                          "failedTransactions": 48,
                          "declinedTransactions": 15,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-29T00:00:00+00:00",
                          "intervalEnd": "2026-04-30T00:00:00+00:00",
                          "totalTransactions": 334,
                          "authorizeTransactions": 19,
                          "captureTransactions": 28,
                          "payTransactions": 20,
                          "refundTransactions": 61,
                          "verifyTransactions": 193,
                          "voidTransactions": 13,
                          "successfulTransactions": 300,
                          "failedTransactions": 30,
                          "declinedTransactions": 1,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-30T00:00:00+00:00",
                          "intervalEnd": "2026-05-01T00:00:00+00:00",
                          "totalTransactions": 906,
                          "authorizeTransactions": 39,
                          "captureTransactions": 44,
                          "payTransactions": 569,
                          "refundTransactions": 237,
                          "verifyTransactions": 11,
                          "voidTransactions": 6,
                          "successfulTransactions": 815,
                          "failedTransactions": 72,
                          "declinedTransactions": 14,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-05-01T00:00:00+00:00",
                          "intervalEnd": "2026-05-02T00:00:00+00:00",
                          "totalTransactions": 708,
                          "authorizeTransactions": 87,
                          "captureTransactions": 90,
                          "payTransactions": 308,
                          "refundTransactions": 149,
                          "verifyTransactions": 16,
                          "voidTransactions": 58,
                          "successfulTransactions": 637,
                          "failedTransactions": 60,
                          "declinedTransactions": 8,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-05-02T00:00:00+00:00",
                          "intervalEnd": "2026-05-03T00:00:00+00:00",
                          "totalTransactions": 232,
                          "authorizeTransactions": 26,
                          "captureTransactions": 35,
                          "payTransactions": 147,
                          "refundTransactions": 13,
                          "verifyTransactions": 11,
                          "voidTransactions": 0,
                          "successfulTransactions": 208,
                          "failedTransactions": 13,
                          "declinedTransactions": 9,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-05-03T00:00:00+00:00",
                          "intervalEnd": "2026-05-04T00:00:00+00:00",
                          "totalTransactions": 883,
                          "authorizeTransactions": 93,
                          "captureTransactions": 97,
                          "payTransactions": 624,
                          "refundTransactions": 61,
                          "verifyTransactions": 6,
                          "voidTransactions": 2,
                          "successfulTransactions": 794,
                          "failedTransactions": 63,
                          "declinedTransactions": 21,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-05-04T00:00:00+00:00",
                          "intervalEnd": "2026-05-05T00:00:00+00:00",
                          "totalTransactions": 731,
                          "authorizeTransactions": 68,
                          "captureTransactions": 70,
                          "payTransactions": 107,
                          "refundTransactions": 37,
                          "verifyTransactions": 364,
                          "voidTransactions": 85,
                          "successfulTransactions": 657,
                          "failedTransactions": 36,
                          "declinedTransactions": 32,
                          "pendingTransactions": 6,
                          "unknownTransactions": 0
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-04-28T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-05-05T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "totalTransactions": {
                          "type": "integer",
                          "example": 4450,
                          "description": "Total number of transactions in the period",
                          "enum": []
                        },
                        "authorizeTransactions": {
                          "type": "integer",
                          "example": 391,
                          "description": "Number of authorize transactions in the period",
                          "enum": []
                        },
                        "captureTransactions": {
                          "type": "integer",
                          "example": 426,
                          "description": "Number of capture transactions in the period",
                          "enum": []
                        },
                        "payTransactions": {
                          "type": "integer",
                          "example": 1846,
                          "description": "Number of pay transactions in the period",
                          "enum": []
                        },
                        "refundTransactions": {
                          "type": "integer",
                          "example": 913,
                          "description": "Number of refund transactions in the period",
                          "enum": []
                        },
                        "verifyTransactions": {
                          "type": "integer",
                          "example": 677,
                          "description": "Number of verify transactions in the period",
                          "enum": []
                        },
                        "voidTransactions": {
                          "type": "integer",
                          "example": 197,
                          "description": "Number of void transactions in the period",
                          "enum": []
                        },
                        "successfulTransactions": {
                          "type": "integer",
                          "example": 4001,
                          "description": "Number of successful transactions in the period",
                          "enum": []
                        },
                        "failedTransactions": {
                          "type": "integer",
                          "example": 322,
                          "description": "Number of failed transactions in the period",
                          "enum": []
                        },
                        "declinedTransactions": {
                          "type": "integer",
                          "example": 100,
                          "description": "Number of declined transactions in the period",
                          "enum": []
                        },
                        "pendingTransactions": {
                          "type": "integer",
                          "example": 27,
                          "description": "Number of pending transactions in the period",
                          "enum": []
                        },
                        "unknownTransactions": {
                          "type": "integer",
                          "example": 0,
                          "description": "Number of transactions with unknown result in the period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-04-28T00:00:00+00:00",
                              "intervalEnd": "2026-04-29T00:00:00+00:00",
                              "totalTransactions": 656,
                              "authorizeTransactions": 59,
                              "captureTransactions": 62,
                              "payTransactions": 71,
                              "refundTransactions": 355,
                              "verifyTransactions": 76,
                              "voidTransactions": 33,
                              "successfulTransactions": 590,
                              "failedTransactions": 48,
                              "declinedTransactions": 15,
                              "pendingTransactions": 3,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-04-29T00:00:00+00:00",
                              "intervalEnd": "2026-04-30T00:00:00+00:00",
                              "totalTransactions": 334,
                              "authorizeTransactions": 19,
                              "captureTransactions": 28,
                              "payTransactions": 20,
                              "refundTransactions": 61,
                              "verifyTransactions": 193,
                              "voidTransactions": 13,
                              "successfulTransactions": 300,
                              "failedTransactions": 30,
                              "declinedTransactions": 1,
                              "pendingTransactions": 3,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-04-30T00:00:00+00:00",
                              "intervalEnd": "2026-05-01T00:00:00+00:00",
                              "totalTransactions": 906,
                              "authorizeTransactions": 39,
                              "captureTransactions": 44,
                              "payTransactions": 569,
                              "refundTransactions": 237,
                              "verifyTransactions": 11,
                              "voidTransactions": 6,
                              "successfulTransactions": 815,
                              "failedTransactions": 72,
                              "declinedTransactions": 14,
                              "pendingTransactions": 5,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-05-01T00:00:00+00:00",
                              "intervalEnd": "2026-05-02T00:00:00+00:00",
                              "totalTransactions": 708,
                              "authorizeTransactions": 87,
                              "captureTransactions": 90,
                              "payTransactions": 308,
                              "refundTransactions": 149,
                              "verifyTransactions": 16,
                              "voidTransactions": 58,
                              "successfulTransactions": 637,
                              "failedTransactions": 60,
                              "declinedTransactions": 8,
                              "pendingTransactions": 3,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-05-02T00:00:00+00:00",
                              "intervalEnd": "2026-05-03T00:00:00+00:00",
                              "totalTransactions": 232,
                              "authorizeTransactions": 26,
                              "captureTransactions": 35,
                              "payTransactions": 147,
                              "refundTransactions": 13,
                              "verifyTransactions": 11,
                              "voidTransactions": 0,
                              "successfulTransactions": 208,
                              "failedTransactions": 13,
                              "declinedTransactions": 9,
                              "pendingTransactions": 2,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-05-03T00:00:00+00:00",
                              "intervalEnd": "2026-05-04T00:00:00+00:00",
                              "totalTransactions": 883,
                              "authorizeTransactions": 93,
                              "captureTransactions": 97,
                              "payTransactions": 624,
                              "refundTransactions": 61,
                              "verifyTransactions": 6,
                              "voidTransactions": 2,
                              "successfulTransactions": 794,
                              "failedTransactions": 63,
                              "declinedTransactions": 21,
                              "pendingTransactions": 5,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-05-04T00:00:00+00:00",
                              "intervalEnd": "2026-05-05T00:00:00+00:00",
                              "totalTransactions": 731,
                              "authorizeTransactions": 68,
                              "captureTransactions": 70,
                              "payTransactions": 107,
                              "refundTransactions": 37,
                              "verifyTransactions": 364,
                              "voidTransactions": 85,
                              "successfulTransactions": 657,
                              "failedTransactions": 36,
                              "declinedTransactions": 32,
                              "pendingTransactions": 6,
                              "unknownTransactions": 0
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-04-28T00:00:00+00:00",
                                "description": "Start time of the analytics calculation interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-04-29T00:00:00+00:00",
                                "description": "End time of the analytics calculation interval",
                                "enum": []
                              },
                              "totalTransactions": {
                                "type": "integer",
                                "example": 656,
                                "description": "Total number of transactions in the interval",
                                "enum": []
                              },
                              "authorizeTransactions": {
                                "type": "integer",
                                "example": 59,
                                "description": "Number of authorize transactions in the interval",
                                "enum": []
                              },
                              "captureTransactions": {
                                "type": "integer",
                                "example": 62,
                                "description": "Number of capture transactions in the interval",
                                "enum": []
                              },
                              "payTransactions": {
                                "type": "integer",
                                "example": 71,
                                "description": "Number of pay transactions in the interval",
                                "enum": []
                              },
                              "refundTransactions": {
                                "type": "integer",
                                "example": 355,
                                "description": "Number of refund transactions in the interval",
                                "enum": []
                              },
                              "verifyTransactions": {
                                "type": "integer",
                                "example": 76,
                                "description": "Number of verify transactions in the interval",
                                "enum": []
                              },
                              "voidTransactions": {
                                "type": "integer",
                                "example": 33,
                                "description": "Number of void transactions in the interval",
                                "enum": []
                              },
                              "successfulTransactions": {
                                "type": "integer",
                                "example": 590,
                                "description": "Number of successful transactions in the interval",
                                "enum": []
                              },
                              "failedTransactions": {
                                "type": "integer",
                                "example": 48,
                                "description": "Number of failed transactions in the interval",
                                "enum": []
                              },
                              "declinedTransactions": {
                                "type": "integer",
                                "example": 15,
                                "description": "Number of declined transactions in the interval",
                                "enum": []
                              },
                              "pendingTransactions": {
                                "type": "integer",
                                "example": 3,
                                "description": "Number of pending transactions in the interval",
                                "enum": []
                              },
                              "unknownTransactions": {
                                "type": "integer",
                                "example": 0,
                                "description": "Number of transactions with unknown result in the interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-04-28T00:00:00+00:00",
                      "periodEnd": "2026-05-05T00:00:00+00:00",
                      "totalSettlementAmount": 41925.6,
                      "totalFeeAmount": 2054.3544,
                      "totalNetAmount": 39871.2456,
                      "totalTransactionsPending": 138,
                      "totalTransactionsSettled": 820,
                      "totalTransactionsSettling": 915,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-04-28T00:00:00+00:00",
                          "intervalEnd": "2026-04-29T00:00:00+00:00",
                          "totalSettlementAmount": 3990.74,
                          "totalFeeAmount": 195.54626,
                          "totalNetAmount": 3795.19374,
                          "totalTransactionsPending": 9,
                          "totalTransactionsSettled": 79,
                          "totalTransactionsSettling": 232
                        },
                        {
                          "intervalStart": "2026-04-29T00:00:00+00:00",
                          "intervalEnd": "2026-04-30T00:00:00+00:00",
                          "totalSettlementAmount": 1244.87,
                          "totalFeeAmount": 60.99863,
                          "totalNetAmount": 1183.87137,
                          "totalTransactionsPending": 17,
                          "totalTransactionsSettled": 24,
                          "totalTransactionsSettling": 103
                        },
                        {
                          "intervalStart": "2026-04-30T00:00:00+00:00",
                          "intervalEnd": "2026-05-01T00:00:00+00:00",
                          "totalSettlementAmount": 4635.45,
                          "totalFeeAmount": 227.13705,
                          "totalNetAmount": 4408.31295,
                          "totalTransactionsPending": 16,
                          "totalTransactionsSettled": 50,
                          "totalTransactionsSettling": 65
                        },
                        {
                          "intervalStart": "2026-05-01T00:00:00+00:00",
                          "intervalEnd": "2026-05-02T00:00:00+00:00",
                          "totalSettlementAmount": 5950.37,
                          "totalFeeAmount": 291.56813,
                          "totalNetAmount": 5658.80187,
                          "totalTransactionsPending": 30,
                          "totalTransactionsSettled": 102,
                          "totalTransactionsSettling": 86
                        },
                        {
                          "intervalStart": "2026-05-02T00:00:00+00:00",
                          "intervalEnd": "2026-05-03T00:00:00+00:00",
                          "totalSettlementAmount": 8283.68,
                          "totalFeeAmount": 405.90032,
                          "totalNetAmount": 7877.77968,
                          "totalTransactionsPending": 23,
                          "totalTransactionsSettled": 37,
                          "totalTransactionsSettling": 360
                        },
                        {
                          "intervalStart": "2026-05-03T00:00:00+00:00",
                          "intervalEnd": "2026-05-04T00:00:00+00:00",
                          "totalSettlementAmount": 8063.29,
                          "totalFeeAmount": 395.10121,
                          "totalNetAmount": 7668.18879,
                          "totalTransactionsPending": 8,
                          "totalTransactionsSettled": 180,
                          "totalTransactionsSettling": 46
                        },
                        {
                          "intervalStart": "2026-05-04T00:00:00+00:00",
                          "intervalEnd": "2026-05-05T00:00:00+00:00",
                          "totalSettlementAmount": 9757.2,
                          "totalFeeAmount": 478.1028,
                          "totalNetAmount": 9279.0972,
                          "totalTransactionsPending": 35,
                          "totalTransactionsSettled": 348,
                          "totalTransactionsSettling": 23
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-04-28T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-05-05T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "totalSettlementAmount": {
                          "type": "number",
                          "example": 41925.6,
                          "description": "Total settled payout amount in this period",
                          "enum": []
                        },
                        "totalFeeAmount": {
                          "type": "number",
                          "example": 2054.3544,
                          "description": "Total amount of fees charged for the payouts in this period",
                          "enum": []
                        },
                        "totalNetAmount": {
                          "type": "number",
                          "example": 39871.2456,
                          "description": "Total net payout amount in this period",
                          "enum": []
                        },
                        "totalTransactionsPending": {
                          "type": "integer",
                          "example": 138,
                          "description": "Total number of transactions pending in this period",
                          "enum": []
                        },
                        "totalTransactionsSettled": {
                          "type": "integer",
                          "example": 820,
                          "description": "Total number of transactions settled in this period",
                          "enum": []
                        },
                        "totalTransactionsSettling": {
                          "type": "integer",
                          "example": 915,
                          "description": "Total number of transactions settling in this period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-04-28T00:00:00+00:00",
                              "intervalEnd": "2026-04-29T00:00:00+00:00",
                              "totalSettlementAmount": 3990.74,
                              "totalFeeAmount": 195.54626,
                              "totalNetAmount": 3795.19374,
                              "totalTransactionsPending": 9,
                              "totalTransactionsSettled": 79,
                              "totalTransactionsSettling": 232
                            },
                            {
                              "intervalStart": "2026-04-29T00:00:00+00:00",
                              "intervalEnd": "2026-04-30T00:00:00+00:00",
                              "totalSettlementAmount": 1244.87,
                              "totalFeeAmount": 60.99863,
                              "totalNetAmount": 1183.87137,
                              "totalTransactionsPending": 17,
                              "totalTransactionsSettled": 24,
                              "totalTransactionsSettling": 103
                            },
                            {
                              "intervalStart": "2026-04-30T00:00:00+00:00",
                              "intervalEnd": "2026-05-01T00:00:00+00:00",
                              "totalSettlementAmount": 4635.45,
                              "totalFeeAmount": 227.13705,
                              "totalNetAmount": 4408.31295,
                              "totalTransactionsPending": 16,
                              "totalTransactionsSettled": 50,
                              "totalTransactionsSettling": 65
                            },
                            {
                              "intervalStart": "2026-05-01T00:00:00+00:00",
                              "intervalEnd": "2026-05-02T00:00:00+00:00",
                              "totalSettlementAmount": 5950.37,
                              "totalFeeAmount": 291.56813,
                              "totalNetAmount": 5658.80187,
                              "totalTransactionsPending": 30,
                              "totalTransactionsSettled": 102,
                              "totalTransactionsSettling": 86
                            },
                            {
                              "intervalStart": "2026-05-02T00:00:00+00:00",
                              "intervalEnd": "2026-05-03T00:00:00+00:00",
                              "totalSettlementAmount": 8283.68,
                              "totalFeeAmount": 405.90032,
                              "totalNetAmount": 7877.77968,
                              "totalTransactionsPending": 23,
                              "totalTransactionsSettled": 37,
                              "totalTransactionsSettling": 360
                            },
                            {
                              "intervalStart": "2026-05-03T00:00:00+00:00",
                              "intervalEnd": "2026-05-04T00:00:00+00:00",
                              "totalSettlementAmount": 8063.29,
                              "totalFeeAmount": 395.10121,
                              "totalNetAmount": 7668.18879,
                              "totalTransactionsPending": 8,
                              "totalTransactionsSettled": 180,
                              "totalTransactionsSettling": 46
                            },
                            {
                              "intervalStart": "2026-05-04T00:00:00+00:00",
                              "intervalEnd": "2026-05-05T00:00:00+00:00",
                              "totalSettlementAmount": 9757.2,
                              "totalFeeAmount": 478.1028,
                              "totalNetAmount": 9279.0972,
                              "totalTransactionsPending": 35,
                              "totalTransactionsSettled": 348,
                              "totalTransactionsSettling": 23
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-04-28T00:00:00+00:00",
                                "description": "Start time of the analytics calculation interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-04-29T00:00:00+00:00",
                                "description": "End time of the analytics calculation interval",
                                "enum": []
                              },
                              "totalSettlementAmount": {
                                "type": "number",
                                "example": 3990.74,
                                "description": "Total settled payout amount in this interval",
                                "enum": []
                              },
                              "totalFeeAmount": {
                                "type": "number",
                                "example": 195.54626,
                                "description": "Total amount of fees charged for the payouts in this interval",
                                "enum": []
                              },
                              "totalNetAmount": {
                                "type": "number",
                                "example": 3795.19374,
                                "description": "Total net payout amount in this interval",
                                "enum": []
                              },
                              "totalTransactionsPending": {
                                "type": "integer",
                                "example": 9,
                                "description": "Total number of transactions pending in this interval",
                                "enum": []
                              },
                              "totalTransactionsSettled": {
                                "type": "integer",
                                "example": 79,
                                "description": "Total number of transactions settled in this interval",
                                "enum": []
                              },
                              "totalTransactionsSettling": {
                                "type": "integer",
                                "example": 232,
                                "description": "Total number of transactions settling in this interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
[...]
