{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.45.0"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-02-20T00:00:00+00:00",
                    "periodEnd": "2026-02-27T00:00:00+00:00",
                    "numPaymentsCreated": 3047,
                    "numPaymentsProcessed": 1224,
                    "numPaymentsIncomplete": 1823,
                    "numPaymentsWithRefunds": 915,
                    "numCardPresentPayments": 332,
                    "numCardNotPresentPayments": 1491,
                    "totalCapturedAmount": 4413650.26,
                    "totalRefundedAmount": 543626.37,
                    "totalNetCapturedAmount": 3870023.89,
                    "averageNetCapturedAmount": 4316.7571428571,
                    "minNetCapturedAmount": 16.23,
                    "maxNetCapturedAmount": 9375.54,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-02-20T00:00:00+00:00",
                        "intervalEnd": "2026-02-21T00:00:00+00:00",
                        "numPaymentsCreated": 713,
                        "numPaymentsProcessed": 160,
                        "numPaymentsIncomplete": 553,
                        "numPaymentsWithRefunds": 115,
                        "numCardPresentPayments": 0,
                        "numCardNotPresentPayments": 553,
                        "totalCapturedAmount": 988096.8,
                        "totalRefundedAmount": 99272.35,
                        "totalNetCapturedAmount": 888824.45,
                        "averageNetCapturedAmount": 5555.15,
                        "minNetCapturedAmount": 75.63,
                        "maxNetCapturedAmount": 1199.82
                      },
                      {
                        "intervalStart": "2026-02-21T00:00:00+00:00",
                        "intervalEnd": "2026-02-22T00:00:00+00:00",
                        "numPaymentsCreated": 134,
                        "numPaymentsProcessed": 85,
                        "numPaymentsIncomplete": 49,
                        "numPaymentsWithRefunds": 70,
                        "numCardPresentPayments": 0,
                        "numCardNotPresentPayments": 49,
                        "totalCapturedAmount": 370531.96,
                        "totalRefundedAmount": 16625.81,
                        "totalNetCapturedAmount": 353906.15,
                        "averageNetCapturedAmount": 4163.6,
                        "minNetCapturedAmount": 39.46,
                        "maxNetCapturedAmount": 4558.38
                      },
                      {
                        "intervalStart": "2026-02-22T00:00:00+00:00",
                        "intervalEnd": "2026-02-23T00:00:00+00:00",
                        "numPaymentsCreated": 652,
                        "numPaymentsProcessed": 179,
                        "numPaymentsIncomplete": 473,
                        "numPaymentsWithRefunds": 175,
                        "numCardPresentPayments": 1,
                        "numCardNotPresentPayments": 472,
                        "totalCapturedAmount": 371850.63,
                        "totalRefundedAmount": 5663.2,
                        "totalNetCapturedAmount": 366187.43,
                        "averageNetCapturedAmount": 2045.74,
                        "minNetCapturedAmount": 27.06,
                        "maxNetCapturedAmount": 9375.54
                      },
                      {
                        "intervalStart": "2026-02-23T00:00:00+00:00",
                        "intervalEnd": "2026-02-24T00:00:00+00:00",
                        "numPaymentsCreated": 606,
                        "numPaymentsProcessed": 365,
                        "numPaymentsIncomplete": 241,
                        "numPaymentsWithRefunds": 315,
                        "numCardPresentPayments": 82,
                        "numCardNotPresentPayments": 159,
                        "totalCapturedAmount": 456634.76,
                        "totalRefundedAmount": 74422.48,
                        "totalNetCapturedAmount": 382212.28,
                        "averageNetCapturedAmount": 1047.16,
                        "minNetCapturedAmount": 16.23,
                        "maxNetCapturedAmount": 2609.18
                      },
                      {
                        "intervalStart": "2026-02-24T00:00:00+00:00",
                        "intervalEnd": "2026-02-25T00:00:00+00:00",
                        "numPaymentsCreated": 382,
                        "numPaymentsProcessed": 185,
                        "numPaymentsIncomplete": 197,
                        "numPaymentsWithRefunds": 140,
                        "numCardPresentPayments": 180,
                        "numCardNotPresentPayments": 17,
                        "totalCapturedAmount": 496115.18,
                        "totalRefundedAmount": 4662.86,
                        "totalNetCapturedAmount": 491452.32,
                        "averageNetCapturedAmount": 2656.5,
                        "minNetCapturedAmount": 71.95,
                        "maxNetCapturedAmount": 3952.75
                      },
                      {
                        "intervalStart": "2026-02-25T00:00:00+00:00",
                        "intervalEnd": "2026-02-26T00:00:00+00:00",
                        "numPaymentsCreated": 132,
                        "numPaymentsProcessed": 58,
                        "numPaymentsIncomplete": 74,
                        "numPaymentsWithRefunds": 11,
                        "numCardPresentPayments": 9,
                        "numCardNotPresentPayments": 65,
                        "totalCapturedAmount": 817850.13,
                        "totalRefundedAmount": 192663.97,
                        "totalNetCapturedAmount": 625186.16,
                        "averageNetCapturedAmount": 10779.07,
                        "minNetCapturedAmount": 74.34,
                        "maxNetCapturedAmount": 9157.34
                      },
                      {
                        "intervalStart": "2026-02-26T00:00:00+00:00",
                        "intervalEnd": "2026-02-27T00:00:00+00:00",
                        "numPaymentsCreated": 428,
                        "numPaymentsProcessed": 192,
                        "numPaymentsIncomplete": 236,
                        "numPaymentsWithRefunds": 89,
                        "numCardPresentPayments": 60,
                        "numCardNotPresentPayments": 176,
                        "totalCapturedAmount": 912570.8,
                        "totalRefundedAmount": 150315.7,
                        "totalNetCapturedAmount": 762255.1,
                        "averageNetCapturedAmount": 3970.08,
                        "minNetCapturedAmount": 73.98,
                        "maxNetCapturedAmount": 8462.51
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-02-20T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-02-27T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 3047
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 1224
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 1823
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 915
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 332
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": 1491
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 4413650.26
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 543626.37
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 3870023.89
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 4316.7571428571
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 16.23
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 9375.54
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-02-20T00:00:00+00:00",
                          "intervalEnd": "2026-02-21T00:00:00+00:00",
                          "numPaymentsCreated": 713,
                          "numPaymentsProcessed": 160,
                          "numPaymentsIncomplete": 553,
                          "numPaymentsWithRefunds": 115,
                          "numCardPresentPayments": 0,
                          "numCardNotPresentPayments": 553,
                          "totalCapturedAmount": 988096.8,
                          "totalRefundedAmount": 99272.35,
                          "totalNetCapturedAmount": 888824.45,
                          "averageNetCapturedAmount": 5555.15,
                          "minNetCapturedAmount": 75.63,
                          "maxNetCapturedAmount": 1199.82
                        },
                        {
                          "intervalStart": "2026-02-21T00:00:00+00:00",
                          "intervalEnd": "2026-02-22T00:00:00+00:00",
                          "numPaymentsCreated": 134,
                          "numPaymentsProcessed": 85,
                          "numPaymentsIncomplete": 49,
                          "numPaymentsWithRefunds": 70,
                          "numCardPresentPayments": 0,
                          "numCardNotPresentPayments": 49,
                          "totalCapturedAmount": 370531.96,
                          "totalRefundedAmount": 16625.81,
                          "totalNetCapturedAmount": 353906.15,
                          "averageNetCapturedAmount": 4163.6,
                          "minNetCapturedAmount": 39.46,
                          "maxNetCapturedAmount": 4558.38
                        },
                        {
                          "intervalStart": "2026-02-22T00:00:00+00:00",
                          "intervalEnd": "2026-02-23T00:00:00+00:00",
                          "numPaymentsCreated": 652,
                          "numPaymentsProcessed": 179,
                          "numPaymentsIncomplete": 473,
                          "numPaymentsWithRefunds": 175,
                          "numCardPresentPayments": 1,
                          "numCardNotPresentPayments": 472,
                          "totalCapturedAmount": 371850.63,
                          "totalRefundedAmount": 5663.2,
                          "totalNetCapturedAmount": 366187.43,
                          "averageNetCapturedAmount": 2045.74,
                          "minNetCapturedAmount": 27.06,
                          "maxNetCapturedAmount": 9375.54
                        },
                        {
                          "intervalStart": "2026-02-23T00:00:00+00:00",
                          "intervalEnd": "2026-02-24T00:00:00+00:00",
                          "numPaymentsCreated": 606,
                          "numPaymentsProcessed": 365,
                          "numPaymentsIncomplete": 241,
                          "numPaymentsWithRefunds": 315,
                          "numCardPresentPayments": 82,
                          "numCardNotPresentPayments": 159,
                          "totalCapturedAmount": 456634.76,
                          "totalRefundedAmount": 74422.48,
                          "totalNetCapturedAmount": 382212.28,
                          "averageNetCapturedAmount": 1047.16,
                          "minNetCapturedAmount": 16.23,
                          "maxNetCapturedAmount": 2609.18
                        },
                        {
                          "intervalStart": "2026-02-24T00:00:00+00:00",
                          "intervalEnd": "2026-02-25T00:00:00+00:00",
                          "numPaymentsCreated": 382,
                          "numPaymentsProcessed": 185,
                          "numPaymentsIncomplete": 197,
                          "numPaymentsWithRefunds": 140,
                          "numCardPresentPayments": 180,
                          "numCardNotPresentPayments": 17,
                          "totalCapturedAmount": 496115.18,
                          "totalRefundedAmount": 4662.86,
                          "totalNetCapturedAmount": 491452.32,
                          "averageNetCapturedAmount": 2656.5,
                          "minNetCapturedAmount": 71.95,
                          "maxNetCapturedAmount": 3952.75
                        },
                        {
                          "intervalStart": "2026-02-25T00:00:00+00:00",
                          "intervalEnd": "2026-02-26T00:00:00+00:00",
                          "numPaymentsCreated": 132,
                          "numPaymentsProcessed": 58,
                          "numPaymentsIncomplete": 74,
                          "numPaymentsWithRefunds": 11,
                          "numCardPresentPayments": 9,
                          "numCardNotPresentPayments": 65,
                          "totalCapturedAmount": 817850.13,
                          "totalRefundedAmount": 192663.97,
                          "totalNetCapturedAmount": 625186.16,
                          "averageNetCapturedAmount": 10779.07,
                          "minNetCapturedAmount": 74.34,
                          "maxNetCapturedAmount": 9157.34
                        },
                        {
                          "intervalStart": "2026-02-26T00:00:00+00:00",
                          "intervalEnd": "2026-02-27T00:00:00+00:00",
                          "numPaymentsCreated": 428,
                          "numPaymentsProcessed": 192,
                          "numPaymentsIncomplete": 236,
                          "numPaymentsWithRefunds": 89,
                          "numCardPresentPayments": 60,
                          "numCardNotPresentPayments": 176,
                          "totalCapturedAmount": 912570.8,
                          "totalRefundedAmount": 150315.7,
                          "totalNetCapturedAmount": 762255.1,
                          "averageNetCapturedAmount": 3970.08,
                          "minNetCapturedAmount": 73.98,
                          "maxNetCapturedAmount": 8462.51
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-02-20T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-02-21T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 713
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 160
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 553
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 115
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 0
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": 553
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 988096.8
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 99272.35
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 888824.45
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 5555.15
                          },
                          "minNetCapturedAmount": {
                            "type": "number",
                            "example": 75.63
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 1199.82
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-02-20T00:00:00+00:00",
                    "periodEnd": "2026-02-27T00:00:00+00:00",
                    "activeCustomers": 298,
                    "newCustomers": 142,
                    "returningCustomers": 156,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-02-20T00:00:00+00:00",
                        "intervalEnd": "2026-02-21T00:00:00+00:00",
                        "activeCustomers": 38,
                        "newCustomers": 16,
                        "returningCustomers": 22
                      },
                      {
                        "intervalStart": "2026-02-21T00:00:00+00:00",
                        "intervalEnd": "2026-02-22T00:00:00+00:00",
                        "activeCustomers": 30,
                        "newCustomers": 15,
                        "returningCustomers": 15
                      },
                      {
                        "intervalStart": "2026-02-22T00:00:00+00:00",
                        "intervalEnd": "2026-02-23T00:00:00+00:00",
                        "activeCustomers": 51,
                        "newCustomers": 27,
                        "returningCustomers": 24
                      },
                      {
                        "intervalStart": "2026-02-23T00:00:00+00:00",
                        "intervalEnd": "2026-02-24T00:00:00+00:00",
                        "activeCustomers": 77,
                        "newCustomers": 44,
                        "returningCustomers": 33
                      },
                      {
                        "intervalStart": "2026-02-24T00:00:00+00:00",
                        "intervalEnd": "2026-02-25T00:00:00+00:00",
                        "activeCustomers": 63,
                        "newCustomers": 8,
                        "returningCustomers": 55
                      },
                      {
                        "intervalStart": "2026-02-25T00:00:00+00:00",
                        "intervalEnd": "2026-02-26T00:00:00+00:00",
                        "activeCustomers": 45,
                        "newCustomers": 26,
                        "returningCustomers": 19
                      },
                      {
                        "intervalStart": "2026-02-26T00:00:00+00:00",
                        "intervalEnd": "2026-02-27T00:00:00+00:00",
                        "activeCustomers": 20,
                        "newCustomers": 6,
                        "returningCustomers": 14
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-02-20T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-02-27T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 298
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 142
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": 156
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-02-20T00:00:00+00:00",
                          "intervalEnd": "2026-02-21T00:00:00+00:00",
                          "activeCustomers": 38,
                          "newCustomers": 16,
                          "returningCustomers": 22
                        },
                        {
                          "intervalStart": "2026-02-21T00:00:00+00:00",
                          "intervalEnd": "2026-02-22T00:00:00+00:00",
                          "activeCustomers": 30,
                          "newCustomers": 15,
                          "returningCustomers": 15
                        },
                        {
                          "intervalStart": "2026-02-22T00:00:00+00:00",
                          "intervalEnd": "2026-02-23T00:00:00+00:00",
                          "activeCustomers": 51,
                          "newCustomers": 27,
                          "returningCustomers": 24
                        },
                        {
                          "intervalStart": "2026-02-23T00:00:00+00:00",
                          "intervalEnd": "2026-02-24T00:00:00+00:00",
                          "activeCustomers": 77,
                          "newCustomers": 44,
                          "returningCustomers": 33
                        },
                        {
                          "intervalStart": "2026-02-24T00:00:00+00:00",
                          "intervalEnd": "2026-02-25T00:00:00+00:00",
                          "activeCustomers": 63,
                          "newCustomers": 8,
                          "returningCustomers": 55
                        },
                        {
                          "intervalStart": "2026-02-25T00:00:00+00:00",
                          "intervalEnd": "2026-02-26T00:00:00+00:00",
                          "activeCustomers": 45,
                          "newCustomers": 26,
                          "returningCustomers": 19
                        },
                        {
                          "intervalStart": "2026-02-26T00:00:00+00:00",
                          "intervalEnd": "2026-02-27T00:00:00+00:00",
                          "activeCustomers": 20,
                          "newCustomers": 6,
                          "returningCustomers": 14
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-02-20T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-02-21T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 38
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 16
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 22
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-02-20T00:00:00+00:00",
                    "periodEnd": "2026-02-27T00:00:00+00:00",
                    "totalTransactions": 4292,
                    "authorizeTransactions": 316,
                    "captureTransactions": 366,
                    "payTransactions": 1956,
                    "refundTransactions": 642,
                    "verifyTransactions": 523,
                    "voidTransactions": 489,
                    "successfulTransactions": 3860,
                    "failedTransactions": 290,
                    "declinedTransactions": 113,
                    "pendingTransactions": 29,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-02-20T00:00:00+00:00",
                        "intervalEnd": "2026-02-21T00:00:00+00:00",
                        "totalTransactions": 505,
                        "authorizeTransactions": 38,
                        "captureTransactions": 44,
                        "payTransactions": 211,
                        "refundTransactions": 31,
                        "verifyTransactions": 134,
                        "voidTransactions": 47,
                        "successfulTransactions": 454,
                        "failedTransactions": 25,
                        "declinedTransactions": 21,
                        "pendingTransactions": 5,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-02-21T00:00:00+00:00",
                        "intervalEnd": "2026-02-22T00:00:00+00:00",
                        "totalTransactions": 359,
                        "authorizeTransactions": 23,
                        "captureTransactions": 30,
                        "payTransactions": 70,
                        "refundTransactions": 192,
                        "verifyTransactions": 10,
                        "voidTransactions": 34,
                        "successfulTransactions": 323,
                        "failedTransactions": 24,
                        "declinedTransactions": 9,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-02-22T00:00:00+00:00",
                        "intervalEnd": "2026-02-23T00:00:00+00:00",
                        "totalTransactions": 844,
                        "authorizeTransactions": 100,
                        "captureTransactions": 108,
                        "payTransactions": 265,
                        "refundTransactions": 154,
                        "verifyTransactions": 154,
                        "voidTransactions": 63,
                        "successfulTransactions": 759,
                        "failedTransactions": 72,
                        "declinedTransactions": 10,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-02-23T00:00:00+00:00",
                        "intervalEnd": "2026-02-24T00:00:00+00:00",
                        "totalTransactions": 850,
                        "authorizeTransactions": 25,
                        "captureTransactions": 31,
                        "payTransactions": 666,
                        "refundTransactions": 39,
                        "verifyTransactions": 75,
                        "voidTransactions": 14,
                        "successfulTransactions": 765,
                        "failedTransactions": 73,
                        "declinedTransactions": 7,
                        "pendingTransactions": 5,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-02-24T00:00:00+00:00",
                        "intervalEnd": "2026-02-25T00:00:00+00:00",
                        "totalTransactions": 215,
                        "authorizeTransactions": 13,
                        "captureTransactions": 23,
                        "payTransactions": 176,
                        "refundTransactions": 5,
                        "verifyTransactions": 4,
                        "voidTransactions": -6,
                        "successfulTransactions": 193,
                        "failedTransactions": 12,
                        "declinedTransactions": 8,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-02-25T00:00:00+00:00",
                        "intervalEnd": "2026-02-26T00:00:00+00:00",
                        "totalTransactions": 785,
                        "authorizeTransactions": 47,
                        "captureTransactions": 52,
                        "payTransactions": 309,
                        "refundTransactions": 168,
                        "verifyTransactions": 19,
                        "voidTransactions": 190,
                        "successfulTransactions": 706,
                        "failedTransactions": 37,
                        "declinedTransactions": 36,
                        "pendingTransactions": 6,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-02-26T00:00:00+00:00",
                        "intervalEnd": "2026-02-27T00:00:00+00:00",
                        "totalTransactions": 734,
                        "authorizeTransactions": 70,
                        "captureTransactions": 78,
                        "payTransactions": 259,
                        "refundTransactions": 53,
                        "verifyTransactions": 127,
                        "voidTransactions": 147,
                        "successfulTransactions": 660,
                        "failedTransactions": 47,
                        "declinedTransactions": 22,
                        "pendingTransactions": 5,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-02-20T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-02-27T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 4292
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 316
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 366
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 1956
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 642
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 523
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 489
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 3860
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 290
                    },
                    "declinedTransactions": {
                      "type": "integer",
                      "example": 113
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 29
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-02-20T00:00:00+00:00",
                          "intervalEnd": "2026-02-21T00:00:00+00:00",
                          "totalTransactions": 505,
                          "authorizeTransactions": 38,
                          "captureTransactions": 44,
                          "payTransactions": 211,
                          "refundTransactions": 31,
                          "verifyTransactions": 134,
                          "voidTransactions": 47,
                          "successfulTransactions": 454,
                          "failedTransactions": 25,
                          "declinedTransactions": 21,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-02-21T00:00:00+00:00",
                          "intervalEnd": "2026-02-22T00:00:00+00:00",
                          "totalTransactions": 359,
                          "authorizeTransactions": 23,
                          "captureTransactions": 30,
                          "payTransactions": 70,
                          "refundTransactions": 192,
                          "verifyTransactions": 10,
                          "voidTransactions": 34,
                          "successfulTransactions": 323,
                          "failedTransactions": 24,
                          "declinedTransactions": 9,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-02-22T00:00:00+00:00",
                          "intervalEnd": "2026-02-23T00:00:00+00:00",
                          "totalTransactions": 844,
                          "authorizeTransactions": 100,
                          "captureTransactions": 108,
                          "payTransactions": 265,
                          "refundTransactions": 154,
                          "verifyTransactions": 154,
                          "voidTransactions": 63,
                          "successfulTransactions": 759,
                          "failedTransactions": 72,
                          "declinedTransactions": 10,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-02-23T00:00:00+00:00",
                          "intervalEnd": "2026-02-24T00:00:00+00:00",
                          "totalTransactions": 850,
                          "authorizeTransactions": 25,
                          "captureTransactions": 31,
                          "payTransactions": 666,
                          "refundTransactions": 39,
                          "verifyTransactions": 75,
                          "voidTransactions": 14,
                          "successfulTransactions": 765,
                          "failedTransactions": 73,
                          "declinedTransactions": 7,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-02-24T00:00:00+00:00",
                          "intervalEnd": "2026-02-25T00:00:00+00:00",
                          "totalTransactions": 215,
                          "authorizeTransactions": 13,
                          "captureTransactions": 23,
                          "payTransactions": 176,
                          "refundTransactions": 5,
                          "verifyTransactions": 4,
                          "voidTransactions": -6,
                          "successfulTransactions": 193,
                          "failedTransactions": 12,
                          "declinedTransactions": 8,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-02-25T00:00:00+00:00",
                          "intervalEnd": "2026-02-26T00:00:00+00:00",
                          "totalTransactions": 785,
                          "authorizeTransactions": 47,
                          "captureTransactions": 52,
                          "payTransactions": 309,
                          "refundTransactions": 168,
                          "verifyTransactions": 19,
                          "voidTransactions": 190,
                          "successfulTransactions": 706,
                          "failedTransactions": 37,
                          "declinedTransactions": 36,
                          "pendingTransactions": 6,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-02-26T00:00:00+00:00",
                          "intervalEnd": "2026-02-27T00:00:00+00:00",
                          "totalTransactions": 734,
                          "authorizeTransactions": 70,
                          "captureTransactions": 78,
                          "payTransactions": 259,
                          "refundTransactions": 53,
                          "verifyTransactions": 127,
                          "voidTransactions": 147,
                          "successfulTransactions": 660,
                          "failedTransactions": 47,
                          "declinedTransactions": 22,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-02-20T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-02-21T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 505
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 38
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 44
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 211
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 31
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 134
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": 47
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 454
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 25
                          },
                          "declinedTransactions": {
                            "type": "integer",
                            "example": 21
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 5
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-02-20T00:00:00+00:00",
                    "periodEnd": "2026-02-27T00:00:00+00:00",
                    "totalSettlementAmount": 38937.22,
                    "totalFeeAmount": 1907.92378,
                    "totalNetAmount": 37029.29622,
                    "totalTransactionsPending": 95,
                    "totalTransactionsSettled": 972,
                    "totalTransactionsSettling": 698,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-02-20T00:00:00+00:00",
                        "intervalEnd": "2026-02-21T00:00:00+00:00",
                        "totalSettlementAmount": 4706.93,
                        "totalFeeAmount": 230.63957,
                        "totalNetAmount": 4476.29043,
                        "totalTransactionsPending": 25,
                        "totalTransactionsSettled": 79,
                        "totalTransactionsSettling": 145
                      },
                      {
                        "intervalStart": "2026-02-21T00:00:00+00:00",
                        "intervalEnd": "2026-02-22T00:00:00+00:00",
                        "totalSettlementAmount": 6757.19,
                        "totalFeeAmount": 331.10231,
                        "totalNetAmount": 6426.08769,
                        "totalTransactionsPending": 5,
                        "totalTransactionsSettled": 78,
                        "totalTransactionsSettling": 73
                      },
                      {
                        "intervalStart": "2026-02-22T00:00:00+00:00",
                        "intervalEnd": "2026-02-23T00:00:00+00:00",
                        "totalSettlementAmount": 3638.12,
                        "totalFeeAmount": 178.26788,
                        "totalNetAmount": 3459.85212,
                        "totalTransactionsPending": 16,
                        "totalTransactionsSettled": 35,
                        "totalTransactionsSettling": 56
                      },
                      {
                        "intervalStart": "2026-02-23T00:00:00+00:00",
                        "intervalEnd": "2026-02-24T00:00:00+00:00",
                        "totalSettlementAmount": 4819.96,
                        "totalFeeAmount": 236.17804,
                        "totalNetAmount": 4583.78196,
                        "totalTransactionsPending": 7,
                        "totalTransactionsSettled": 85,
                        "totalTransactionsSettling": 106
                      },
                      {
                        "intervalStart": "2026-02-24T00:00:00+00:00",
                        "intervalEnd": "2026-02-25T00:00:00+00:00",
                        "totalSettlementAmount": 6522.09,
                        "totalFeeAmount": 319.58241,
                        "totalNetAmount": 6202.50759,
                        "totalTransactionsPending": 9,
                        "totalTransactionsSettled": 217,
                        "totalTransactionsSettling": 269
                      },
                      {
                        "intervalStart": "2026-02-25T00:00:00+00:00",
                        "intervalEnd": "2026-02-26T00:00:00+00:00",
                        "totalSettlementAmount": 3158.19,
                        "totalFeeAmount": 154.75131,
                        "totalNetAmount": 3003.43869,
                        "totalTransactionsPending": 14,
                        "totalTransactionsSettled": 265,
                        "totalTransactionsSettling": 11
                      },
                      {
                        "intervalStart": "2026-02-26T00:00:00+00:00",
                        "intervalEnd": "2026-02-27T00:00:00+00:00",
                        "totalSettlementAmount": 9334.74,
                        "totalFeeAmount": 457.40226,
                        "totalNetAmount": 8877.33774,
                        "totalTransactionsPending": 19,
                        "totalTransactionsSettled": 213,
                        "totalTransactionsSettling": 38
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-02-20T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-02-27T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 38937.22
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 1907.92378
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 37029.29622
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 95
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 972
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 698
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-02-20T00:00:00+00:00",
                          "intervalEnd": "2026-02-21T00:00:00+00:00",
                          "totalSettlementAmount": 4706.93,
                          "totalFeeAmount": 230.63957,
                          "totalNetAmount": 4476.29043,
                          "totalTransactionsPending": 25,
                          "totalTransactionsSettled": 79,
                          "totalTransactionsSettling": 145
                        },
                        {
                          "intervalStart": "2026-02-21T00:00:00+00:00",
                          "intervalEnd": "2026-02-22T00:00:00+00:00",
                          "totalSettlementAmount": 6757.19,
                          "totalFeeAmount": 331.10231,
                          "totalNetAmount": 6426.08769,
                          "totalTransactionsPending": 5,
                          "totalTransactionsSettled": 78,
                          "totalTransactionsSettling": 73
                        },
                        {
                          "intervalStart": "2026-02-22T00:00:00+00:00",
                          "intervalEnd": "2026-02-23T00:00:00+00:00",
                          "totalSettlementAmount": 3638.12,
                          "totalFeeAmount": 178.26788,
                          "totalNetAmount": 3459.85212,
                          "totalTransactionsPending": 16,
                          "totalTransactionsSettled": 35,
                          "totalTransactionsSettling": 56
                        },
                        {
                          "intervalStart": "2026-02-23T00:00:00+00:00",
                          "intervalEnd": "2026-02-24T00:00:00+00:00",
                          "totalSettlementAmount": 4819.96,
                          "totalFeeAmount": 236.17804,
                          "totalNetAmount": 4583.78196,
                          "totalTransactionsPending": 7,
                          "totalTransactionsSettled": 85,
                          "totalTransactionsSettling": 106
                        },
                        {
                          "intervalStart": "2026-02-24T00:00:00+00:00",
                          "intervalEnd": "2026-02-25T00:00:00+00:00",
                          "totalSettlementAmount": 6522.09,
                          "totalFeeAmount": 319.58241,
                          "totalNetAmount": 6202.50759,
                          "totalTransactionsPending": 9,
                          "totalTransactionsSettled": 217,
                          "totalTransactionsSettling": 269
                        },
                        {
                          "intervalStart": "2026-02-25T00:00:00+00:00",
                          "intervalEnd": "2026-02-26T00:00:00+00:00",
                          "totalSettlementAmount": 3158.19,
                          "totalFeeAmount": 154.75131,
                          "totalNetAmount": 3003.43869,
                          "totalTransactionsPending": 14,
                          "totalTransactionsSettled": 265,
                          "totalTransactionsSettling": 11
                        },
                        {
                          "intervalStart": "2026-02-26T00:00:00+00:00",
                          "intervalEnd": "2026-02-27T00:00:00+00:00",
                          "totalSettlementAmount": 9334.74,
                          "totalFeeAmount": 457.40226,
                          "totalNetAmount": 8877.33774,
                          "totalTransactionsPending": 19,
                          "totalTransactionsSettled": 213,
                          "totalTransactionsSettling": 38
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-02-20T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-02-21T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 4706.93
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 230.63957
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 4476.29043
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 25
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 79
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 145
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 7,
                    "data": [
                      {
                        "email": "garret.goodwin@becker.com",
                        "firstName": "Tremaine",
                        "lastName": "Koepp",
                        "phone": "+17135492372",
                        "dateOfBirth": "1976-02-04"
                      },
                      {
                        "email": "gerhold.jairo@smitham.biz",
                        "firstName": "Heaven",
                        "lastName": "Leffler",
                        "phone": "+13528304760",
                        "dateOfBirth": "2000-06-30"
                      },
                      {
                        "email": "lgraham@yahoo.com",
                        "firstName": "Cristian",
                        "lastName": "Jerde",
                        "phone": "+16825782119",
                        "dateOfBirth": "2008-02-06"
                      },
                      {
                        "email": "lhaag@hotmail.com",
                        "firstName": "Maynard",
                        "lastName": "Swaniawski",
                        "phone": "+16268019841",
                        "dateOfBirth": "2002-06-07"
                      },
                      {
                        "email": "verona.graham@conn.com",
                        "firstName": "Gisselle",
                        "lastName": "Fay",
                        "phone": "+19714108092",
                        "dateOfBirth": "1994-09-20"
                      },
                      {
                        "email": "germaine23@gmail.com",
                        "firstName": "Deondre",
                        "lastName": "Effertz",
                        "phone": "+17693597334",
                        "dateOfBirth": "2001-07-04"
                      },
                      {
                        "email": "dereck.tillman@hotmail.com",
                        "firstName": "Cade",
                        "lastName": "Kuhn",
                        "phone": "+19706639620",
                        "dateOfBirth": "1991-03-31"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 7,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "garret.goodwin@becker.com",
                          "firstName": "Tremaine",
                          "lastName": "Koepp",
                          "phone": "+17135492372",
                          "dateOfBirth": "1976-02-04"
                        },
                        {
                          "email": "gerhold.jairo@smitham.biz",
                          "firstName": "Heaven",
                          "lastName": "Leffler",
                          "phone": "+13528304760",
                          "dateOfBirth": "2000-06-30"
                        },
                        {
                          "email": "lgraham@yahoo.com",
                          "firstName": "Cristian",
                          "lastName": "Jerde",
                          "phone": "+16825782119",
                          "dateOfBirth": "2008-02-06"
                        },
                        {
                          "email": "lhaag@hotmail.com",
                          "firstName": "Maynard",
                          "lastName": "Swaniawski",
                          "phone": "+16268019841",
                          "dateOfBirth": "2002-06-07"
                        },
                        {
                          "email": "verona.graham@conn.com",
                          "firstName": "Gisselle",
                          "lastName": "Fay",
                          "phone": "+19714108092",
                          "dateOfBirth": "1994-09-20"
                        },
                        {
                          "email": "germaine23@gmail.com",
                          "firstName": "Deondre",
                          "lastName": "Effertz",
                          "phone": "+17693597334",
                          "dateOfBirth": "2001-07-04"
                        },
                        {
                          "email": "dereck.tillman@hotmail.com",
                          "firstName": "Cade",
                          "lastName": "Kuhn",
                          "phone": "+19706639620",
                          "dateOfBirth": "1991-03-31"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "garret.goodwin@becker.com"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Tremaine"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Koepp"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+17135492372"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "1976-02-04"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers/{customerIdOrEmail}/addresses": {
      "get": {
        "summary": "List Customer Billing Addresses",
        "operationId": "listCustomerBillingAddresses",
        "description": "Returns all unique billing addresses that have been used by a customer across their payments.\nAddresses are deduplicated using case-insensitive and whitespace-insensitive comparison.",
        "parameters": [
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
            "example": "-city",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
              "example": "-city",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of unique billing addresses for the customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "company": "Frami Inc",
                        "street": "1818 Bednar Hill Suite 105",
                        "city": "South Mackenzie",
                        "stateProvince": "VA",
                        "postcodeZip": "58192-8076",
                        "country": "USA"
                      },
                      {
                        "company": "Medhurst, Huels and Greenholt",
                        "street": "777 Cameron Gardens",
                        "city": "Abbigailside",
                        "stateProvince": "RI",
                        "postcodeZip": "71439-7502",
                        "country": "USA"
                      },
                      {
                        "company": "Bartell, Runolfsson and Simonis",
                        "street": "49241 Davis Square",
                        "city": "North Maximillian",
                        "stateProvince": "UT",
                        "postcodeZip": "29411-0499",
                        "country": "USA"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "company": "Frami Inc",
                          "street": "1818 Bednar Hill Suite 105",
                          "city": "South Mackenzie",
                          "stateProvince": "VA",
                          "postcodeZip": "58192-8076",
                          "country": "USA"
                        },
                        {
                          "company": "Medhurst, Huels and Greenholt",
                          "street": "777 Cameron Gardens",
                          "city": "Abbigailside",
                          "stateProvince": "RI",
                          "postcodeZip": "71439-7502",
                          "country": "USA"
                        },
                        {
                          "company": "Bartell, Runolfsson and Simonis",
                          "street": "49241 Davis Square",
                          "city": "North Maximillian",
                          "stateProvince": "UT",
                          "postcodeZip": "29411-0499",
                          "country": "USA"
                        }
                      ],
                      "description": "The data returned from the request",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "company": {
                            "type": "string",
                            "example": "Frami Inc"
                          },
                          "street": {
                            "type": "string",
                            "example": "1818 Bednar Hill Suite 105"
                          },
                          "city": {
                            "type": "string",
                            "example": "South Mackenzie"
                          },
                          "stateProvince": {
                            "type": "string",
                            "example": "VA"
                          },
                          "postcodeZip": {
                            "type": "string",
                            "example": "58192-8076"
                          },
                          "country": {
                            "type": "string",
                            "example": "USA"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "path",
          "name": "customerIdOrEmail",
          "description": "The customer ID, UUID, or email address",
          "example": "customer_123",
          "required": true,
          "schema": {
            "type": "string"
          }
[...]
