{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.60.0"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payout Exports",
      "description": "Create payout exports"
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-25T00:00:00+00:00",
                    "periodEnd": "2026-04-01T00:00:00+00:00",
                    "numPaymentsCreated": 4826,
                    "numPaymentsProcessed": 2674,
                    "numPaymentsIncomplete": 2152,
                    "numPaymentsWithRefunds": 1014,
                    "numCardPresentPayments": 1736,
                    "numCardNotPresentPayments": 416,
                    "totalCapturedAmount": 2539830.25,
                    "totalRefundedAmount": 267000.64,
                    "totalNetCapturedAmount": 2272829.61,
                    "averageNetCapturedAmount": 1239.8142857143,
                    "minNetCapturedAmount": 23.81,
                    "maxNetCapturedAmount": 9112.81,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-25T00:00:00+00:00",
                        "intervalEnd": "2026-03-26T00:00:00+00:00",
                        "numPaymentsCreated": 720,
                        "numPaymentsProcessed": 125,
                        "numPaymentsIncomplete": 595,
                        "numPaymentsWithRefunds": 8,
                        "numCardPresentPayments": 4,
                        "numCardNotPresentPayments": 591,
                        "totalCapturedAmount": 521474.75,
                        "totalRefundedAmount": 81389.42,
                        "totalNetCapturedAmount": 440085.33,
                        "averageNetCapturedAmount": 3520.68,
                        "minNetCapturedAmount": 98.47,
                        "maxNetCapturedAmount": 2812.42
                      },
                      {
                        "intervalStart": "2026-03-26T00:00:00+00:00",
                        "intervalEnd": "2026-03-27T00:00:00+00:00",
                        "numPaymentsCreated": 735,
                        "numPaymentsProcessed": 352,
                        "numPaymentsIncomplete": 383,
                        "numPaymentsWithRefunds": 22,
                        "numCardPresentPayments": 76,
                        "numCardNotPresentPayments": 307,
                        "totalCapturedAmount": 135541.15,
                        "totalRefundedAmount": 17982.13,
                        "totalNetCapturedAmount": 117559.02,
                        "averageNetCapturedAmount": 333.97,
                        "minNetCapturedAmount": 73.76,
                        "maxNetCapturedAmount": 9112.81
                      },
                      {
                        "intervalStart": "2026-03-27T00:00:00+00:00",
                        "intervalEnd": "2026-03-28T00:00:00+00:00",
                        "numPaymentsCreated": 297,
                        "numPaymentsProcessed": 150,
                        "numPaymentsIncomplete": 147,
                        "numPaymentsWithRefunds": 128,
                        "numCardPresentPayments": 146,
                        "numCardNotPresentPayments": 1,
                        "totalCapturedAmount": 132514.43,
                        "totalRefundedAmount": 30230.7,
                        "totalNetCapturedAmount": 102283.73,
                        "averageNetCapturedAmount": 681.89,
                        "minNetCapturedAmount": 23.81,
                        "maxNetCapturedAmount": 4797.59
                      },
                      {
                        "intervalStart": "2026-03-28T00:00:00+00:00",
                        "intervalEnd": "2026-03-29T00:00:00+00:00",
                        "numPaymentsCreated": 903,
                        "numPaymentsProcessed": 653,
                        "numPaymentsIncomplete": 250,
                        "numPaymentsWithRefunds": 549,
                        "numCardPresentPayments": 420,
                        "numCardNotPresentPayments": -170,
                        "totalCapturedAmount": 113240.07,
                        "totalRefundedAmount": 20224.18,
                        "totalNetCapturedAmount": 93015.89,
                        "averageNetCapturedAmount": 142.44,
                        "minNetCapturedAmount": 63.94,
                        "maxNetCapturedAmount": 3044.66
                      },
                      {
                        "intervalStart": "2026-03-29T00:00:00+00:00",
                        "intervalEnd": "2026-03-30T00:00:00+00:00",
                        "numPaymentsCreated": 515,
                        "numPaymentsProcessed": 198,
                        "numPaymentsIncomplete": 317,
                        "numPaymentsWithRefunds": 123,
                        "numCardPresentPayments": 162,
                        "numCardNotPresentPayments": 155,
                        "totalCapturedAmount": 331851.13,
                        "totalRefundedAmount": 16361.21,
                        "totalNetCapturedAmount": 315489.92,
                        "averageNetCapturedAmount": 1593.38,
                        "minNetCapturedAmount": 37.18,
                        "maxNetCapturedAmount": 7051.02
                      },
                      {
                        "intervalStart": "2026-03-30T00:00:00+00:00",
                        "intervalEnd": "2026-03-31T00:00:00+00:00",
                        "numPaymentsCreated": 948,
                        "numPaymentsProcessed": 858,
                        "numPaymentsIncomplete": 90,
                        "numPaymentsWithRefunds": 22,
                        "numCardPresentPayments": 828,
                        "numCardNotPresentPayments": -738,
                        "totalCapturedAmount": 655800.45,
                        "totalRefundedAmount": 10561.26,
                        "totalNetCapturedAmount": 645239.19,
                        "averageNetCapturedAmount": 752.03,
                        "minNetCapturedAmount": 26.1,
                        "maxNetCapturedAmount": 6252.67
                      },
                      {
                        "intervalStart": "2026-03-31T00:00:00+00:00",
                        "intervalEnd": "2026-04-01T00:00:00+00:00",
                        "numPaymentsCreated": 708,
                        "numPaymentsProcessed": 338,
                        "numPaymentsIncomplete": 370,
                        "numPaymentsWithRefunds": 162,
                        "numCardPresentPayments": 100,
                        "numCardNotPresentPayments": 270,
                        "totalCapturedAmount": 649408.27,
                        "totalRefundedAmount": 90251.74,
                        "totalNetCapturedAmount": 559156.53,
                        "averageNetCapturedAmount": 1654.31,
                        "minNetCapturedAmount": 34.18,
                        "maxNetCapturedAmount": 8144.66
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-25T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-01T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 4826
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 2674
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 2152
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 1014
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 1736
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": 416
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 2539830.25
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 267000.64
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 2272829.61
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 1239.8142857143
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 23.81
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 9112.81
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-25T00:00:00+00:00",
                          "intervalEnd": "2026-03-26T00:00:00+00:00",
                          "numPaymentsCreated": 720,
                          "numPaymentsProcessed": 125,
                          "numPaymentsIncomplete": 595,
                          "numPaymentsWithRefunds": 8,
                          "numCardPresentPayments": 4,
                          "numCardNotPresentPayments": 591,
                          "totalCapturedAmount": 521474.75,
                          "totalRefundedAmount": 81389.42,
                          "totalNetCapturedAmount": 440085.33,
                          "averageNetCapturedAmount": 3520.68,
                          "minNetCapturedAmount": 98.47,
                          "maxNetCapturedAmount": 2812.42
                        },
                        {
                          "intervalStart": "2026-03-26T00:00:00+00:00",
                          "intervalEnd": "2026-03-27T00:00:00+00:00",
                          "numPaymentsCreated": 735,
                          "numPaymentsProcessed": 352,
                          "numPaymentsIncomplete": 383,
                          "numPaymentsWithRefunds": 22,
                          "numCardPresentPayments": 76,
                          "numCardNotPresentPayments": 307,
                          "totalCapturedAmount": 135541.15,
                          "totalRefundedAmount": 17982.13,
                          "totalNetCapturedAmount": 117559.02,
                          "averageNetCapturedAmount": 333.97,
                          "minNetCapturedAmount": 73.76,
                          "maxNetCapturedAmount": 9112.81
                        },
                        {
                          "intervalStart": "2026-03-27T00:00:00+00:00",
                          "intervalEnd": "2026-03-28T00:00:00+00:00",
                          "numPaymentsCreated": 297,
                          "numPaymentsProcessed": 150,
                          "numPaymentsIncomplete": 147,
                          "numPaymentsWithRefunds": 128,
                          "numCardPresentPayments": 146,
                          "numCardNotPresentPayments": 1,
                          "totalCapturedAmount": 132514.43,
                          "totalRefundedAmount": 30230.7,
                          "totalNetCapturedAmount": 102283.73,
                          "averageNetCapturedAmount": 681.89,
                          "minNetCapturedAmount": 23.81,
                          "maxNetCapturedAmount": 4797.59
                        },
                        {
                          "intervalStart": "2026-03-28T00:00:00+00:00",
                          "intervalEnd": "2026-03-29T00:00:00+00:00",
                          "numPaymentsCreated": 903,
                          "numPaymentsProcessed": 653,
                          "numPaymentsIncomplete": 250,
                          "numPaymentsWithRefunds": 549,
                          "numCardPresentPayments": 420,
                          "numCardNotPresentPayments": -170,
                          "totalCapturedAmount": 113240.07,
                          "totalRefundedAmount": 20224.18,
                          "totalNetCapturedAmount": 93015.89,
                          "averageNetCapturedAmount": 142.44,
                          "minNetCapturedAmount": 63.94,
                          "maxNetCapturedAmount": 3044.66
                        },
                        {
                          "intervalStart": "2026-03-29T00:00:00+00:00",
                          "intervalEnd": "2026-03-30T00:00:00+00:00",
                          "numPaymentsCreated": 515,
                          "numPaymentsProcessed": 198,
                          "numPaymentsIncomplete": 317,
                          "numPaymentsWithRefunds": 123,
                          "numCardPresentPayments": 162,
                          "numCardNotPresentPayments": 155,
                          "totalCapturedAmount": 331851.13,
                          "totalRefundedAmount": 16361.21,
                          "totalNetCapturedAmount": 315489.92,
                          "averageNetCapturedAmount": 1593.38,
                          "minNetCapturedAmount": 37.18,
                          "maxNetCapturedAmount": 7051.02
                        },
                        {
                          "intervalStart": "2026-03-30T00:00:00+00:00",
                          "intervalEnd": "2026-03-31T00:00:00+00:00",
                          "numPaymentsCreated": 948,
                          "numPaymentsProcessed": 858,
                          "numPaymentsIncomplete": 90,
                          "numPaymentsWithRefunds": 22,
                          "numCardPresentPayments": 828,
                          "numCardNotPresentPayments": -738,
                          "totalCapturedAmount": 655800.45,
                          "totalRefundedAmount": 10561.26,
                          "totalNetCapturedAmount": 645239.19,
                          "averageNetCapturedAmount": 752.03,
                          "minNetCapturedAmount": 26.1,
                          "maxNetCapturedAmount": 6252.67
                        },
                        {
                          "intervalStart": "2026-03-31T00:00:00+00:00",
                          "intervalEnd": "2026-04-01T00:00:00+00:00",
                          "numPaymentsCreated": 708,
                          "numPaymentsProcessed": 338,
                          "numPaymentsIncomplete": 370,
                          "numPaymentsWithRefunds": 162,
                          "numCardPresentPayments": 100,
                          "numCardNotPresentPayments": 270,
                          "totalCapturedAmount": 649408.27,
                          "totalRefundedAmount": 90251.74,
                          "totalNetCapturedAmount": 559156.53,
                          "averageNetCapturedAmount": 1654.31,
                          "minNetCapturedAmount": 34.18,
                          "maxNetCapturedAmount": 8144.66
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-25T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-26T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 720
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 125
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 595
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 8
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 4
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": 591
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 521474.75
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 81389.42
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 440085.33
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 3520.68
                          },
                          "minNetCapturedAmount": {
                            "type": "number",
                            "example": 98.47
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 2812.42
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-25T00:00:00+00:00",
                    "periodEnd": "2026-04-01T00:00:00+00:00",
                    "activeCustomers": 253,
                    "newCustomers": 116,
                    "returningCustomers": 137,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-25T00:00:00+00:00",
                        "intervalEnd": "2026-03-26T00:00:00+00:00",
                        "activeCustomers": 75,
                        "newCustomers": 12,
                        "returningCustomers": 63
                      },
                      {
                        "intervalStart": "2026-03-26T00:00:00+00:00",
                        "intervalEnd": "2026-03-27T00:00:00+00:00",
                        "activeCustomers": 33,
                        "newCustomers": 17,
                        "returningCustomers": 16
                      },
                      {
                        "intervalStart": "2026-03-27T00:00:00+00:00",
                        "intervalEnd": "2026-03-28T00:00:00+00:00",
                        "activeCustomers": 21,
                        "newCustomers": 11,
                        "returningCustomers": 10
                      },
                      {
                        "intervalStart": "2026-03-28T00:00:00+00:00",
                        "intervalEnd": "2026-03-29T00:00:00+00:00",
                        "activeCustomers": 86,
                        "newCustomers": 7,
                        "returningCustomers": 79
                      },
                      {
                        "intervalStart": "2026-03-29T00:00:00+00:00",
                        "intervalEnd": "2026-03-30T00:00:00+00:00",
                        "activeCustomers": 12,
                        "newCustomers": 7,
                        "returningCustomers": 5
                      },
                      {
                        "intervalStart": "2026-03-30T00:00:00+00:00",
                        "intervalEnd": "2026-03-31T00:00:00+00:00",
                        "activeCustomers": 48,
                        "newCustomers": 7,
                        "returningCustomers": 41
                      },
                      {
                        "intervalStart": "2026-03-31T00:00:00+00:00",
                        "intervalEnd": "2026-04-01T00:00:00+00:00",
                        "activeCustomers": 58,
                        "newCustomers": 55,
                        "returningCustomers": 3
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-25T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-01T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 253
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 116
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": 137
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-25T00:00:00+00:00",
                          "intervalEnd": "2026-03-26T00:00:00+00:00",
                          "activeCustomers": 75,
                          "newCustomers": 12,
                          "returningCustomers": 63
                        },
                        {
                          "intervalStart": "2026-03-26T00:00:00+00:00",
                          "intervalEnd": "2026-03-27T00:00:00+00:00",
                          "activeCustomers": 33,
                          "newCustomers": 17,
                          "returningCustomers": 16
                        },
                        {
                          "intervalStart": "2026-03-27T00:00:00+00:00",
                          "intervalEnd": "2026-03-28T00:00:00+00:00",
                          "activeCustomers": 21,
                          "newCustomers": 11,
                          "returningCustomers": 10
                        },
                        {
                          "intervalStart": "2026-03-28T00:00:00+00:00",
                          "intervalEnd": "2026-03-29T00:00:00+00:00",
                          "activeCustomers": 86,
                          "newCustomers": 7,
                          "returningCustomers": 79
                        },
                        {
                          "intervalStart": "2026-03-29T00:00:00+00:00",
                          "intervalEnd": "2026-03-30T00:00:00+00:00",
                          "activeCustomers": 12,
                          "newCustomers": 7,
                          "returningCustomers": 5
                        },
                        {
                          "intervalStart": "2026-03-30T00:00:00+00:00",
                          "intervalEnd": "2026-03-31T00:00:00+00:00",
                          "activeCustomers": 48,
                          "newCustomers": 7,
                          "returningCustomers": 41
                        },
                        {
                          "intervalStart": "2026-03-31T00:00:00+00:00",
                          "intervalEnd": "2026-04-01T00:00:00+00:00",
                          "activeCustomers": 58,
                          "newCustomers": 55,
                          "returningCustomers": 3
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-25T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-26T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 75
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 12
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 63
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-25T00:00:00+00:00",
                    "periodEnd": "2026-04-01T00:00:00+00:00",
                    "totalTransactions": 2867,
                    "authorizeTransactions": 180,
                    "captureTransactions": 220,
                    "payTransactions": 1475,
                    "refundTransactions": 428,
                    "verifyTransactions": 316,
                    "voidTransactions": 248,
                    "successfulTransactions": 2578,
                    "failedTransactions": 196,
                    "declinedTransactions": 82,
                    "pendingTransactions": 11,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-25T00:00:00+00:00",
                        "intervalEnd": "2026-03-26T00:00:00+00:00",
                        "totalTransactions": 248,
                        "authorizeTransactions": 31,
                        "captureTransactions": 33,
                        "payTransactions": 59,
                        "refundTransactions": 28,
                        "verifyTransactions": 90,
                        "voidTransactions": 7,
                        "successfulTransactions": 223,
                        "failedTransactions": 12,
                        "declinedTransactions": 12,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-26T00:00:00+00:00",
                        "intervalEnd": "2026-03-27T00:00:00+00:00",
                        "totalTransactions": 733,
                        "authorizeTransactions": 20,
                        "captureTransactions": 24,
                        "payTransactions": 445,
                        "refundTransactions": 35,
                        "verifyTransactions": 102,
                        "voidTransactions": 107,
                        "successfulTransactions": 659,
                        "failedTransactions": 52,
                        "declinedTransactions": 19,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-27T00:00:00+00:00",
                        "intervalEnd": "2026-03-28T00:00:00+00:00",
                        "totalTransactions": 257,
                        "authorizeTransactions": 19,
                        "captureTransactions": 28,
                        "payTransactions": 86,
                        "refundTransactions": 85,
                        "verifyTransactions": 5,
                        "voidTransactions": 34,
                        "successfulTransactions": 231,
                        "failedTransactions": 17,
                        "declinedTransactions": 8,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-28T00:00:00+00:00",
                        "intervalEnd": "2026-03-29T00:00:00+00:00",
                        "totalTransactions": 468,
                        "authorizeTransactions": 19,
                        "captureTransactions": 29,
                        "payTransactions": 225,
                        "refundTransactions": 89,
                        "verifyTransactions": 57,
                        "voidTransactions": 49,
                        "successfulTransactions": 421,
                        "failedTransactions": 30,
                        "declinedTransactions": 16,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-29T00:00:00+00:00",
                        "intervalEnd": "2026-03-30T00:00:00+00:00",
                        "totalTransactions": 475,
                        "authorizeTransactions": 23,
                        "captureTransactions": 24,
                        "payTransactions": 423,
                        "refundTransactions": 5,
                        "verifyTransactions": 4,
                        "voidTransactions": -4,
                        "successfulTransactions": 427,
                        "failedTransactions": 44,
                        "declinedTransactions": 3,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-30T00:00:00+00:00",
                        "intervalEnd": "2026-03-31T00:00:00+00:00",
                        "totalTransactions": 318,
                        "authorizeTransactions": 28,
                        "captureTransactions": 34,
                        "payTransactions": 118,
                        "refundTransactions": 28,
                        "verifyTransactions": 54,
                        "voidTransactions": 56,
                        "successfulTransactions": 286,
                        "failedTransactions": 23,
                        "declinedTransactions": 8,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-31T00:00:00+00:00",
                        "intervalEnd": "2026-04-01T00:00:00+00:00",
                        "totalTransactions": 368,
                        "authorizeTransactions": 40,
                        "captureTransactions": 48,
                        "payTransactions": 119,
                        "refundTransactions": 158,
                        "verifyTransactions": 4,
                        "voidTransactions": -1,
                        "successfulTransactions": 331,
                        "failedTransactions": 18,
                        "declinedTransactions": 16,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-25T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-01T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 2867
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 180
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 220
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 1475
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 428
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 316
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 248
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 2578
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 196
                    },
                    "declinedTransactions": {
                      "type": "integer",
                      "example": 82
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 11
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-25T00:00:00+00:00",
                          "intervalEnd": "2026-03-26T00:00:00+00:00",
                          "totalTransactions": 248,
                          "authorizeTransactions": 31,
                          "captureTransactions": 33,
                          "payTransactions": 59,
                          "refundTransactions": 28,
                          "verifyTransactions": 90,
                          "voidTransactions": 7,
                          "successfulTransactions": 223,
                          "failedTransactions": 12,
                          "declinedTransactions": 12,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-26T00:00:00+00:00",
                          "intervalEnd": "2026-03-27T00:00:00+00:00",
                          "totalTransactions": 733,
                          "authorizeTransactions": 20,
                          "captureTransactions": 24,
                          "payTransactions": 445,
                          "refundTransactions": 35,
                          "verifyTransactions": 102,
                          "voidTransactions": 107,
                          "successfulTransactions": 659,
                          "failedTransactions": 52,
                          "declinedTransactions": 19,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-27T00:00:00+00:00",
                          "intervalEnd": "2026-03-28T00:00:00+00:00",
                          "totalTransactions": 257,
                          "authorizeTransactions": 19,
                          "captureTransactions": 28,
                          "payTransactions": 86,
                          "refundTransactions": 85,
                          "verifyTransactions": 5,
                          "voidTransactions": 34,
                          "successfulTransactions": 231,
                          "failedTransactions": 17,
                          "declinedTransactions": 8,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-28T00:00:00+00:00",
                          "intervalEnd": "2026-03-29T00:00:00+00:00",
                          "totalTransactions": 468,
                          "authorizeTransactions": 19,
                          "captureTransactions": 29,
                          "payTransactions": 225,
                          "refundTransactions": 89,
                          "verifyTransactions": 57,
                          "voidTransactions": 49,
                          "successfulTransactions": 421,
                          "failedTransactions": 30,
                          "declinedTransactions": 16,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-29T00:00:00+00:00",
                          "intervalEnd": "2026-03-30T00:00:00+00:00",
                          "totalTransactions": 475,
                          "authorizeTransactions": 23,
                          "captureTransactions": 24,
                          "payTransactions": 423,
                          "refundTransactions": 5,
                          "verifyTransactions": 4,
                          "voidTransactions": -4,
                          "successfulTransactions": 427,
                          "failedTransactions": 44,
                          "declinedTransactions": 3,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-30T00:00:00+00:00",
                          "intervalEnd": "2026-03-31T00:00:00+00:00",
                          "totalTransactions": 318,
                          "authorizeTransactions": 28,
                          "captureTransactions": 34,
                          "payTransactions": 118,
                          "refundTransactions": 28,
                          "verifyTransactions": 54,
                          "voidTransactions": 56,
                          "successfulTransactions": 286,
                          "failedTransactions": 23,
                          "declinedTransactions": 8,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-31T00:00:00+00:00",
                          "intervalEnd": "2026-04-01T00:00:00+00:00",
                          "totalTransactions": 368,
                          "authorizeTransactions": 40,
                          "captureTransactions": 48,
                          "payTransactions": 119,
                          "refundTransactions": 158,
                          "verifyTransactions": 4,
                          "voidTransactions": -1,
                          "successfulTransactions": 331,
                          "failedTransactions": 18,
                          "declinedTransactions": 16,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-25T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-26T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 248
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 31
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 33
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 59
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 28
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 90
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": 7
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 223
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 12
                          },
                          "declinedTransactions": {
                            "type": "integer",
                            "example": 12
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 1
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-25T00:00:00+00:00",
                    "periodEnd": "2026-04-01T00:00:00+00:00",
                    "totalSettlementAmount": 37750.02,
                    "totalFeeAmount": 1849.75098,
                    "totalNetAmount": 35900.26902,
                    "totalTransactionsPending": 135,
                    "totalTransactionsSettled": 1235,
                    "totalTransactionsSettling": 716,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-25T00:00:00+00:00",
                        "intervalEnd": "2026-03-26T00:00:00+00:00",
                        "totalSettlementAmount": 5481.64,
                        "totalFeeAmount": 268.60036,
                        "totalNetAmount": 5213.03964,
                        "totalTransactionsPending": 18,
                        "totalTransactionsSettled": 198,
                        "totalTransactionsSettling": 183
                      },
                      {
                        "intervalStart": "2026-03-26T00:00:00+00:00",
                        "intervalEnd": "2026-03-27T00:00:00+00:00",
                        "totalSettlementAmount": 3736.42,
                        "totalFeeAmount": 183.08458,
                        "totalNetAmount": 3553.33542,
                        "totalTransactionsPending": 32,
                        "totalTransactionsSettled": 286,
                        "totalTransactionsSettling": 90
                      },
                      {
                        "intervalStart": "2026-03-27T00:00:00+00:00",
                        "intervalEnd": "2026-03-28T00:00:00+00:00",
                        "totalSettlementAmount": 8083.14,
                        "totalFeeAmount": 396.07386,
                        "totalNetAmount": 7687.06614,
                        "totalTransactionsPending": 15,
                        "totalTransactionsSettled": 163,
                        "totalTransactionsSettling": 110
                      },
                      {
                        "intervalStart": "2026-03-28T00:00:00+00:00",
                        "intervalEnd": "2026-03-29T00:00:00+00:00",
                        "totalSettlementAmount": 4691.68,
                        "totalFeeAmount": 229.89232,
                        "totalNetAmount": 4461.78768,
                        "totalTransactionsPending": 7,
                        "totalTransactionsSettled": 121,
                        "totalTransactionsSettling": 15
                      },
                      {
                        "intervalStart": "2026-03-29T00:00:00+00:00",
                        "intervalEnd": "2026-03-30T00:00:00+00:00",
                        "totalSettlementAmount": 5472.7,
                        "totalFeeAmount": 268.1623,
                        "totalNetAmount": 5204.5377,
                        "totalTransactionsPending": 32,
                        "totalTransactionsSettled": 171,
                        "totalTransactionsSettling": 258
                      },
                      {
                        "intervalStart": "2026-03-30T00:00:00+00:00",
                        "intervalEnd": "2026-03-31T00:00:00+00:00",
                        "totalSettlementAmount": 7881.68,
                        "totalFeeAmount": 386.20232,
                        "totalNetAmount": 7495.47768,
                        "totalTransactionsPending": 20,
                        "totalTransactionsSettled": 71,
                        "totalTransactionsSettling": 16
                      },
                      {
                        "intervalStart": "2026-03-31T00:00:00+00:00",
                        "intervalEnd": "2026-04-01T00:00:00+00:00",
                        "totalSettlementAmount": 2402.76,
                        "totalFeeAmount": 117.73524,
                        "totalNetAmount": 2285.02476,
                        "totalTransactionsPending": 11,
                        "totalTransactionsSettled": 225,
                        "totalTransactionsSettling": 44
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-25T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-01T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 37750.02
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 1849.75098
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 35900.26902
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 135
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 1235
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 716
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-25T00:00:00+00:00",
                          "intervalEnd": "2026-03-26T00:00:00+00:00",
                          "totalSettlementAmount": 5481.64,
                          "totalFeeAmount": 268.60036,
                          "totalNetAmount": 5213.03964,
                          "totalTransactionsPending": 18,
                          "totalTransactionsSettled": 198,
                          "totalTransactionsSettling": 183
                        },
                        {
                          "intervalStart": "2026-03-26T00:00:00+00:00",
                          "intervalEnd": "2026-03-27T00:00:00+00:00",
                          "totalSettlementAmount": 3736.42,
                          "totalFeeAmount": 183.08458,
                          "totalNetAmount": 3553.33542,
                          "totalTransactionsPending": 32,
                          "totalTransactionsSettled": 286,
                          "totalTransactionsSettling": 90
                        },
                        {
                          "intervalStart": "2026-03-27T00:00:00+00:00",
                          "intervalEnd": "2026-03-28T00:00:00+00:00",
                          "totalSettlementAmount": 8083.14,
                          "totalFeeAmount": 396.07386,
                          "totalNetAmount": 7687.06614,
                          "totalTransactionsPending": 15,
                          "totalTransactionsSettled": 163,
                          "totalTransactionsSettling": 110
                        },
                        {
                          "intervalStart": "2026-03-28T00:00:00+00:00",
                          "intervalEnd": "2026-03-29T00:00:00+00:00",
                          "totalSettlementAmount": 4691.68,
                          "totalFeeAmount": 229.89232,
                          "totalNetAmount": 4461.78768,
                          "totalTransactionsPending": 7,
                          "totalTransactionsSettled": 121,
                          "totalTransactionsSettling": 15
                        },
                        {
                          "intervalStart": "2026-03-29T00:00:00+00:00",
                          "intervalEnd": "2026-03-30T00:00:00+00:00",
                          "totalSettlementAmount": 5472.7,
                          "totalFeeAmount": 268.1623,
                          "totalNetAmount": 5204.5377,
                          "totalTransactionsPending": 32,
                          "totalTransactionsSettled": 171,
                          "totalTransactionsSettling": 258
                        },
                        {
                          "intervalStart": "2026-03-30T00:00:00+00:00",
                          "intervalEnd": "2026-03-31T00:00:00+00:00",
                          "totalSettlementAmount": 7881.68,
                          "totalFeeAmount": 386.20232,
                          "totalNetAmount": 7495.47768,
                          "totalTransactionsPending": 20,
                          "totalTransactionsSettled": 71,
                          "totalTransactionsSettling": 16
                        },
                        {
                          "intervalStart": "2026-03-31T00:00:00+00:00",
                          "intervalEnd": "2026-04-01T00:00:00+00:00",
                          "totalSettlementAmount": 2402.76,
                          "totalFeeAmount": 117.73524,
                          "totalNetAmount": 2285.02476,
                          "totalTransactionsPending": 11,
                          "totalTransactionsSettled": 225,
                          "totalTransactionsSettling": 44
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-25T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-26T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 5481.64
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 268.60036
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 5213.03964
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 18
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 198
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 183
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 8,
                    "data": [
                      {
                        "email": "lorena.crona@kunde.com",
                        "firstName": "Jillian",
                        "lastName": "Bednar",
                        "phone": "+14694753480",
                        "dateOfBirth": "1974-07-18"
                      },
                      {
                        "email": "tremblay.anabelle@witting.org",
                        "firstName": "Loma",
                        "lastName": "Gusikowski",
                        "phone": "+13199186275",
                        "dateOfBirth": "1976-02-26"
                      },
                      {
                        "email": "gislason.kaya@gmail.com",
                        "firstName": "Toby",
                        "lastName": "Murazik",
                        "phone": "+15343456555",
                        "dateOfBirth": "1974-05-10"
                      },
                      {
                        "email": "lang.jacinthe@yahoo.com",
                        "firstName": "Bernardo",
                        "lastName": "Toy",
                        "phone": "+15512079095",
                        "dateOfBirth": "1977-02-15"
                      },
                      {
                        "email": "kilback.billy@harris.com",
                        "firstName": "Grant",
                        "lastName": "Lemke",
                        "phone": "+17635270993",
                        "dateOfBirth": "2007-02-23"
                      },
                      {
                        "email": "gunnar58@kilback.com",
                        "firstName": "Nicola",
                        "lastName": "Hartmann",
                        "phone": "+18048231660",
                        "dateOfBirth": "1995-08-18"
                      },
                      {
                        "email": "amraz@hotmail.com",
                        "firstName": "Lesly",
                        "lastName": "Kreiger",
                        "phone": "+15078895894",
                        "dateOfBirth": "2003-06-19"
                      },
                      {
                        "email": "kirlin.assunta@yahoo.com",
                        "firstName": "Ivy",
                        "lastName": "Bauch",
                        "phone": "+12089076831",
                        "dateOfBirth": "1989-01-29"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 8,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "lorena.crona@kunde.com",
                          "firstName": "Jillian",
                          "lastName": "Bednar",
                          "phone": "+14694753480",
                          "dateOfBirth": "1974-07-18"
                        },
                        {
                          "email": "tremblay.anabelle@witting.org",
                          "firstName": "Loma",
                          "lastName": "Gusikowski",
                          "phone": "+13199186275",
                          "dateOfBirth": "1976-02-26"
                        },
                        {
                          "email": "gislason.kaya@gmail.com",
                          "firstName": "Toby",
                          "lastName": "Murazik",
                          "phone": "+15343456555",
                          "dateOfBirth": "1974-05-10"
                        },
                        {
                          "email": "lang.jacinthe@yahoo.com",
                          "firstName": "Bernardo",
                          "lastName": "Toy",
                          "phone": "+15512079095",
                          "dateOfBirth": "1977-02-15"
                        },
                        {
                          "email": "kilback.billy@harris.com",
                          "firstName": "Grant",
                          "lastName": "Lemke",
                          "phone": "+17635270993",
                          "dateOfBirth": "2007-02-23"
                        },
                        {
                          "email": "gunnar58@kilback.com",
                          "firstName": "Nicola",
                          "lastName": "Hartmann",
                          "phone": "+18048231660",
                          "dateOfBirth": "1995-08-18"
                        },
                        {
                          "email": "amraz@hotmail.com",
                          "firstName": "Lesly",
                          "lastName": "Kreiger",
                          "phone": "+15078895894",
                          "dateOfBirth": "2003-06-19"
                        },
                        {
                          "email": "kirlin.assunta@yahoo.com",
                          "firstName": "Ivy",
                          "lastName": "Bauch",
                          "phone": "+12089076831",
                          "dateOfBirth": "1989-01-29"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "lorena.crona@kunde.com"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Jillian"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Bednar"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+14694753480"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "1974-07-18"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers/{customerIdOrEmail}/addresses": {
      "get": {
        "summary": "List Customer Billing Addresses",
        "operationId": "listCustomerBillingAddresses",
        "description": "Returns all unique billing addresses that have been used by a customer across their payments.\nAddresses are deduplicated using case-insensitive and whitespace-insensitive comparison.",
        "parameters": [
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
            "example": "-city",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
              "example": "-city",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of unique billing addresses for the customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "company": "Block Group",
                        "street": "592 Veum Mountains",
                        "city": "East Sid",
                        "stateProvince": "NV",
                        "postcodeZip": "83036-4209",
                        "country": "USA"
                      },
                      {
                        "company": "Rippin, Durgan and Grady",
                        "street": "713 Kadin Locks Apt. 016",
                        "city": "Lylaborough",
                        "stateProvince": "AL",
                        "postcodeZip": "82776",
                        "country": "USA"
                      },
                      {
                        "company": "West-Zboncak",
                        "street": "220 Monty River Suite 251",
                        "city": "East Royce",
                        "stateProvince": "VA",
                        "postcodeZip": "66298-3899",
                        "country": "USA"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "company": "Block Group",
                          "street": "592 Veum Mountains",
                          "city": "East Sid",
                          "stateProvince": "NV",
                          "postcodeZip": "83036-4209",
                          "country": "USA"
                        },
                        {
                          "company": "Rippin, Durgan and Grady",
                          "street": "713 Kadin Locks Apt. 016",
                          "city": "Lylaborough",
                          "stateProvince": "AL",
                          "postcodeZip": "82776",
                          "country": "USA"
                        },
                        {
                          "company": "West-Zboncak",
                          "street": "220 Monty River Suite 251",
                          "city": "East Royce",
                          "stateProvince": "VA",
                          "postcodeZip": "66298-3899",
                          "country": "USA"
                        }
                      ],
                      "description": "The data returned from the request",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "company": {
                            "type": "string",
                            "example": "Block Group"
                          },
                          "street": {
                            "type": "string",
                            "example": "592 Veum Mountains"
                          },
                          "city": {
                            "type": "string",
                            "example": "East Sid"
                          },
                          "stateProvince": {
                            "type": "string",
                            "example": "NV"
                          },
                          "postcodeZip": {
                            "type": "string",
                            "example": "83036-4209"
                          },
                          "country": {
                            "type": "string",
                            "example": "USA"
                          }
                        }
                      }
                    }
[...]
