{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.69.0"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payout Exports",
      "description": "Create payout exports"
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-16T00:00:00+00:00",
                    "periodEnd": "2026-04-23T00:00:00+00:00",
                    "numPaymentsCreated": 4791,
                    "numPaymentsProcessed": 2504,
                    "numPaymentsIncomplete": 2287,
                    "numPaymentsWithRefunds": 1082,
                    "numCardPresentPayments": 1752,
                    "numCardNotPresentPayments": 535,
                    "totalCapturedAmount": 3025060.12,
                    "totalRefundedAmount": 293295.22,
                    "totalNetCapturedAmount": 2731764.9,
                    "averageNetCapturedAmount": 1434.9285714286,
                    "minNetCapturedAmount": 13.36,
                    "maxNetCapturedAmount": 9163.19,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-16T00:00:00+00:00",
                        "intervalEnd": "2026-04-17T00:00:00+00:00",
                        "numPaymentsCreated": 816,
                        "numPaymentsProcessed": 733,
                        "numPaymentsIncomplete": 83,
                        "numPaymentsWithRefunds": 518,
                        "numCardPresentPayments": 550,
                        "numCardNotPresentPayments": -467,
                        "totalCapturedAmount": 746476.67,
                        "totalRefundedAmount": 13857.14,
                        "totalNetCapturedAmount": 732619.53,
                        "averageNetCapturedAmount": 999.48,
                        "minNetCapturedAmount": 52.45,
                        "maxNetCapturedAmount": 9163.19
                      },
                      {
                        "intervalStart": "2026-04-17T00:00:00+00:00",
                        "intervalEnd": "2026-04-18T00:00:00+00:00",
                        "numPaymentsCreated": 821,
                        "numPaymentsProcessed": 334,
                        "numPaymentsIncomplete": 487,
                        "numPaymentsWithRefunds": 77,
                        "numCardPresentPayments": 225,
                        "numCardNotPresentPayments": 262,
                        "totalCapturedAmount": 297718.07,
                        "totalRefundedAmount": 49406.07,
                        "totalNetCapturedAmount": 248312,
                        "averageNetCapturedAmount": 743.45,
                        "minNetCapturedAmount": 37.08,
                        "maxNetCapturedAmount": 3543.54
                      },
                      {
                        "intervalStart": "2026-04-18T00:00:00+00:00",
                        "intervalEnd": "2026-04-19T00:00:00+00:00",
                        "numPaymentsCreated": 703,
                        "numPaymentsProcessed": 394,
                        "numPaymentsIncomplete": 309,
                        "numPaymentsWithRefunds": 132,
                        "numCardPresentPayments": 257,
                        "numCardNotPresentPayments": 52,
                        "totalCapturedAmount": 321183.88,
                        "totalRefundedAmount": 86492.18,
                        "totalNetCapturedAmount": 234691.7,
                        "averageNetCapturedAmount": 595.66,
                        "minNetCapturedAmount": 74.25,
                        "maxNetCapturedAmount": 3583.72
                      },
                      {
                        "intervalStart": "2026-04-19T00:00:00+00:00",
                        "intervalEnd": "2026-04-20T00:00:00+00:00",
                        "numPaymentsCreated": 997,
                        "numPaymentsProcessed": 524,
                        "numPaymentsIncomplete": 473,
                        "numPaymentsWithRefunds": 268,
                        "numCardPresentPayments": 383,
                        "numCardNotPresentPayments": 90,
                        "totalCapturedAmount": 578095.88,
                        "totalRefundedAmount": 5533.88,
                        "totalNetCapturedAmount": 572562,
                        "averageNetCapturedAmount": 1092.68,
                        "minNetCapturedAmount": 97.22,
                        "maxNetCapturedAmount": 4610.39
                      },
                      {
                        "intervalStart": "2026-04-20T00:00:00+00:00",
                        "intervalEnd": "2026-04-21T00:00:00+00:00",
                        "numPaymentsCreated": 144,
                        "numPaymentsProcessed": 58,
                        "numPaymentsIncomplete": 86,
                        "numPaymentsWithRefunds": 6,
                        "numCardPresentPayments": 52,
                        "numCardNotPresentPayments": 34,
                        "totalCapturedAmount": 252354.29,
                        "totalRefundedAmount": 132.44,
                        "totalNetCapturedAmount": 252221.85,
                        "averageNetCapturedAmount": 4348.65,
                        "minNetCapturedAmount": 84.83,
                        "maxNetCapturedAmount": 4165.42
                      },
                      {
                        "intervalStart": "2026-04-21T00:00:00+00:00",
                        "intervalEnd": "2026-04-22T00:00:00+00:00",
                        "numPaymentsCreated": 391,
                        "numPaymentsProcessed": 109,
                        "numPaymentsIncomplete": 282,
                        "numPaymentsWithRefunds": 69,
                        "numCardPresentPayments": 64,
                        "numCardNotPresentPayments": 218,
                        "totalCapturedAmount": 53429.61,
                        "totalRefundedAmount": 5983.17,
                        "totalNetCapturedAmount": 47446.44,
                        "averageNetCapturedAmount": 435.29,
                        "minNetCapturedAmount": 13.36,
                        "maxNetCapturedAmount": 2304.22
                      },
                      {
                        "intervalStart": "2026-04-22T00:00:00+00:00",
                        "intervalEnd": "2026-04-23T00:00:00+00:00",
                        "numPaymentsCreated": 919,
                        "numPaymentsProcessed": 352,
                        "numPaymentsIncomplete": 567,
                        "numPaymentsWithRefunds": 12,
                        "numCardPresentPayments": 221,
                        "numCardNotPresentPayments": 346,
                        "totalCapturedAmount": 775801.72,
                        "totalRefundedAmount": 131890.34,
                        "totalNetCapturedAmount": 643911.38,
                        "averageNetCapturedAmount": 1829.29,
                        "minNetCapturedAmount": 14.63,
                        "maxNetCapturedAmount": 5280.53
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-16T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-23T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 4791
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 2504
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 2287
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 1082
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 1752
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": 535
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 3025060.12
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 293295.22
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 2731764.9
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 1434.9285714286
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 13.36
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 9163.19
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-16T00:00:00+00:00",
                          "intervalEnd": "2026-04-17T00:00:00+00:00",
                          "numPaymentsCreated": 816,
                          "numPaymentsProcessed": 733,
                          "numPaymentsIncomplete": 83,
                          "numPaymentsWithRefunds": 518,
                          "numCardPresentPayments": 550,
                          "numCardNotPresentPayments": -467,
                          "totalCapturedAmount": 746476.67,
                          "totalRefundedAmount": 13857.14,
                          "totalNetCapturedAmount": 732619.53,
                          "averageNetCapturedAmount": 999.48,
                          "minNetCapturedAmount": 52.45,
                          "maxNetCapturedAmount": 9163.19
                        },
                        {
                          "intervalStart": "2026-04-17T00:00:00+00:00",
                          "intervalEnd": "2026-04-18T00:00:00+00:00",
                          "numPaymentsCreated": 821,
                          "numPaymentsProcessed": 334,
                          "numPaymentsIncomplete": 487,
                          "numPaymentsWithRefunds": 77,
                          "numCardPresentPayments": 225,
                          "numCardNotPresentPayments": 262,
                          "totalCapturedAmount": 297718.07,
                          "totalRefundedAmount": 49406.07,
                          "totalNetCapturedAmount": 248312,
                          "averageNetCapturedAmount": 743.45,
                          "minNetCapturedAmount": 37.08,
                          "maxNetCapturedAmount": 3543.54
                        },
                        {
                          "intervalStart": "2026-04-18T00:00:00+00:00",
                          "intervalEnd": "2026-04-19T00:00:00+00:00",
                          "numPaymentsCreated": 703,
                          "numPaymentsProcessed": 394,
                          "numPaymentsIncomplete": 309,
                          "numPaymentsWithRefunds": 132,
                          "numCardPresentPayments": 257,
                          "numCardNotPresentPayments": 52,
                          "totalCapturedAmount": 321183.88,
                          "totalRefundedAmount": 86492.18,
                          "totalNetCapturedAmount": 234691.7,
                          "averageNetCapturedAmount": 595.66,
                          "minNetCapturedAmount": 74.25,
                          "maxNetCapturedAmount": 3583.72
                        },
                        {
                          "intervalStart": "2026-04-19T00:00:00+00:00",
                          "intervalEnd": "2026-04-20T00:00:00+00:00",
                          "numPaymentsCreated": 997,
                          "numPaymentsProcessed": 524,
                          "numPaymentsIncomplete": 473,
                          "numPaymentsWithRefunds": 268,
                          "numCardPresentPayments": 383,
                          "numCardNotPresentPayments": 90,
                          "totalCapturedAmount": 578095.88,
                          "totalRefundedAmount": 5533.88,
                          "totalNetCapturedAmount": 572562,
                          "averageNetCapturedAmount": 1092.68,
                          "minNetCapturedAmount": 97.22,
                          "maxNetCapturedAmount": 4610.39
                        },
                        {
                          "intervalStart": "2026-04-20T00:00:00+00:00",
                          "intervalEnd": "2026-04-21T00:00:00+00:00",
                          "numPaymentsCreated": 144,
                          "numPaymentsProcessed": 58,
                          "numPaymentsIncomplete": 86,
                          "numPaymentsWithRefunds": 6,
                          "numCardPresentPayments": 52,
                          "numCardNotPresentPayments": 34,
                          "totalCapturedAmount": 252354.29,
                          "totalRefundedAmount": 132.44,
                          "totalNetCapturedAmount": 252221.85,
                          "averageNetCapturedAmount": 4348.65,
                          "minNetCapturedAmount": 84.83,
                          "maxNetCapturedAmount": 4165.42
                        },
                        {
                          "intervalStart": "2026-04-21T00:00:00+00:00",
                          "intervalEnd": "2026-04-22T00:00:00+00:00",
                          "numPaymentsCreated": 391,
                          "numPaymentsProcessed": 109,
                          "numPaymentsIncomplete": 282,
                          "numPaymentsWithRefunds": 69,
                          "numCardPresentPayments": 64,
                          "numCardNotPresentPayments": 218,
                          "totalCapturedAmount": 53429.61,
                          "totalRefundedAmount": 5983.17,
                          "totalNetCapturedAmount": 47446.44,
                          "averageNetCapturedAmount": 435.29,
                          "minNetCapturedAmount": 13.36,
                          "maxNetCapturedAmount": 2304.22
                        },
                        {
                          "intervalStart": "2026-04-22T00:00:00+00:00",
                          "intervalEnd": "2026-04-23T00:00:00+00:00",
                          "numPaymentsCreated": 919,
                          "numPaymentsProcessed": 352,
                          "numPaymentsIncomplete": 567,
                          "numPaymentsWithRefunds": 12,
                          "numCardPresentPayments": 221,
                          "numCardNotPresentPayments": 346,
                          "totalCapturedAmount": 775801.72,
                          "totalRefundedAmount": 131890.34,
                          "totalNetCapturedAmount": 643911.38,
                          "averageNetCapturedAmount": 1829.29,
                          "minNetCapturedAmount": 14.63,
                          "maxNetCapturedAmount": 5280.53
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-16T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-17T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 816
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 733
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 83
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 518
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 550
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": -467
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 746476.67
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 13857.14
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 732619.53
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 999.48
                          },
                          "minNetCapturedAmount": {
                            "type": "number",
                            "example": 52.45
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 9163.19
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-16T00:00:00+00:00",
                    "periodEnd": "2026-04-23T00:00:00+00:00",
                    "activeCustomers": 359,
                    "newCustomers": 164,
                    "returningCustomers": 195,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-16T00:00:00+00:00",
                        "intervalEnd": "2026-04-17T00:00:00+00:00",
                        "activeCustomers": 63,
                        "newCustomers": 45,
                        "returningCustomers": 18
                      },
                      {
                        "intervalStart": "2026-04-17T00:00:00+00:00",
                        "intervalEnd": "2026-04-18T00:00:00+00:00",
                        "activeCustomers": 57,
                        "newCustomers": 44,
                        "returningCustomers": 13
                      },
                      {
                        "intervalStart": "2026-04-18T00:00:00+00:00",
                        "intervalEnd": "2026-04-19T00:00:00+00:00",
                        "activeCustomers": 18,
                        "newCustomers": 11,
                        "returningCustomers": 7
                      },
                      {
                        "intervalStart": "2026-04-19T00:00:00+00:00",
                        "intervalEnd": "2026-04-20T00:00:00+00:00",
                        "activeCustomers": 72,
                        "newCustomers": 7,
                        "returningCustomers": 65
                      },
                      {
                        "intervalStart": "2026-04-20T00:00:00+00:00",
                        "intervalEnd": "2026-04-21T00:00:00+00:00",
                        "activeCustomers": 29,
                        "newCustomers": 7,
                        "returningCustomers": 22
                      },
                      {
                        "intervalStart": "2026-04-21T00:00:00+00:00",
                        "intervalEnd": "2026-04-22T00:00:00+00:00",
                        "activeCustomers": 44,
                        "newCustomers": 16,
                        "returningCustomers": 28
                      },
                      {
                        "intervalStart": "2026-04-22T00:00:00+00:00",
                        "intervalEnd": "2026-04-23T00:00:00+00:00",
                        "activeCustomers": 79,
                        "newCustomers": 34,
                        "returningCustomers": 45
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-16T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-23T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 359
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 164
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": 195
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-16T00:00:00+00:00",
                          "intervalEnd": "2026-04-17T00:00:00+00:00",
                          "activeCustomers": 63,
                          "newCustomers": 45,
                          "returningCustomers": 18
                        },
                        {
                          "intervalStart": "2026-04-17T00:00:00+00:00",
                          "intervalEnd": "2026-04-18T00:00:00+00:00",
                          "activeCustomers": 57,
                          "newCustomers": 44,
                          "returningCustomers": 13
                        },
                        {
                          "intervalStart": "2026-04-18T00:00:00+00:00",
                          "intervalEnd": "2026-04-19T00:00:00+00:00",
                          "activeCustomers": 18,
                          "newCustomers": 11,
                          "returningCustomers": 7
                        },
                        {
                          "intervalStart": "2026-04-19T00:00:00+00:00",
                          "intervalEnd": "2026-04-20T00:00:00+00:00",
                          "activeCustomers": 72,
                          "newCustomers": 7,
                          "returningCustomers": 65
                        },
                        {
                          "intervalStart": "2026-04-20T00:00:00+00:00",
                          "intervalEnd": "2026-04-21T00:00:00+00:00",
                          "activeCustomers": 29,
                          "newCustomers": 7,
                          "returningCustomers": 22
                        },
                        {
                          "intervalStart": "2026-04-21T00:00:00+00:00",
                          "intervalEnd": "2026-04-22T00:00:00+00:00",
                          "activeCustomers": 44,
                          "newCustomers": 16,
                          "returningCustomers": 28
                        },
                        {
                          "intervalStart": "2026-04-22T00:00:00+00:00",
                          "intervalEnd": "2026-04-23T00:00:00+00:00",
                          "activeCustomers": 79,
                          "newCustomers": 34,
                          "returningCustomers": 45
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-16T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-17T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 63
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 45
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 18
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-16T00:00:00+00:00",
                    "periodEnd": "2026-04-23T00:00:00+00:00",
                    "totalTransactions": 4432,
                    "authorizeTransactions": 391,
                    "captureTransactions": 424,
                    "payTransactions": 2034,
                    "refundTransactions": 801,
                    "verifyTransactions": 423,
                    "voidTransactions": 359,
                    "successfulTransactions": 3985,
                    "failedTransactions": 294,
                    "declinedTransactions": 126,
                    "pendingTransactions": 27,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-16T00:00:00+00:00",
                        "intervalEnd": "2026-04-17T00:00:00+00:00",
                        "totalTransactions": 131,
                        "authorizeTransactions": 15,
                        "captureTransactions": 16,
                        "payTransactions": 59,
                        "refundTransactions": 34,
                        "verifyTransactions": 7,
                        "voidTransactions": 0,
                        "successfulTransactions": 117,
                        "failedTransactions": 10,
                        "declinedTransactions": 3,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-17T00:00:00+00:00",
                        "intervalEnd": "2026-04-18T00:00:00+00:00",
                        "totalTransactions": 703,
                        "authorizeTransactions": 55,
                        "captureTransactions": 59,
                        "payTransactions": 354,
                        "refundTransactions": 66,
                        "verifyTransactions": 104,
                        "voidTransactions": 65,
                        "successfulTransactions": 632,
                        "failedTransactions": 63,
                        "declinedTransactions": 4,
                        "pendingTransactions": 4,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-18T00:00:00+00:00",
                        "intervalEnd": "2026-04-19T00:00:00+00:00",
                        "totalTransactions": 734,
                        "authorizeTransactions": 79,
                        "captureTransactions": 85,
                        "payTransactions": 156,
                        "refundTransactions": 327,
                        "verifyTransactions": 82,
                        "voidTransactions": 5,
                        "successfulTransactions": 660,
                        "failedTransactions": 60,
                        "declinedTransactions": 12,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-19T00:00:00+00:00",
                        "intervalEnd": "2026-04-20T00:00:00+00:00",
                        "totalTransactions": 732,
                        "authorizeTransactions": 64,
                        "captureTransactions": 67,
                        "payTransactions": 381,
                        "refundTransactions": 184,
                        "verifyTransactions": 19,
                        "voidTransactions": 17,
                        "successfulTransactions": 658,
                        "failedTransactions": 35,
                        "declinedTransactions": 33,
                        "pendingTransactions": 6,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-20T00:00:00+00:00",
                        "intervalEnd": "2026-04-21T00:00:00+00:00",
                        "totalTransactions": 555,
                        "authorizeTransactions": 35,
                        "captureTransactions": 42,
                        "payTransactions": 291,
                        "refundTransactions": 20,
                        "verifyTransactions": 115,
                        "voidTransactions": 52,
                        "successfulTransactions": 499,
                        "failedTransactions": 39,
                        "declinedTransactions": 14,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-21T00:00:00+00:00",
                        "intervalEnd": "2026-04-22T00:00:00+00:00",
                        "totalTransactions": 977,
                        "authorizeTransactions": 104,
                        "captureTransactions": 107,
                        "payTransactions": 327,
                        "refundTransactions": 135,
                        "verifyTransactions": 85,
                        "voidTransactions": 219,
                        "successfulTransactions": 879,
                        "failedTransactions": 51,
                        "declinedTransactions": 41,
                        "pendingTransactions": 6,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-22T00:00:00+00:00",
                        "intervalEnd": "2026-04-23T00:00:00+00:00",
                        "totalTransactions": 600,
                        "authorizeTransactions": 39,
                        "captureTransactions": 48,
                        "payTransactions": 466,
                        "refundTransactions": 35,
                        "verifyTransactions": 11,
                        "voidTransactions": 1,
                        "successfulTransactions": 540,
                        "failedTransactions": 36,
                        "declinedTransactions": 19,
                        "pendingTransactions": 5,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-16T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-23T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 4432
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 391
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 424
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 2034
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 801
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 423
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 359
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 3985
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 294
                    },
                    "declinedTransactions": {
                      "type": "integer",
                      "example": 126
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 27
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-16T00:00:00+00:00",
                          "intervalEnd": "2026-04-17T00:00:00+00:00",
                          "totalTransactions": 131,
                          "authorizeTransactions": 15,
                          "captureTransactions": 16,
                          "payTransactions": 59,
                          "refundTransactions": 34,
                          "verifyTransactions": 7,
                          "voidTransactions": 0,
                          "successfulTransactions": 117,
                          "failedTransactions": 10,
                          "declinedTransactions": 3,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-17T00:00:00+00:00",
                          "intervalEnd": "2026-04-18T00:00:00+00:00",
                          "totalTransactions": 703,
                          "authorizeTransactions": 55,
                          "captureTransactions": 59,
                          "payTransactions": 354,
                          "refundTransactions": 66,
                          "verifyTransactions": 104,
                          "voidTransactions": 65,
                          "successfulTransactions": 632,
                          "failedTransactions": 63,
                          "declinedTransactions": 4,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-18T00:00:00+00:00",
                          "intervalEnd": "2026-04-19T00:00:00+00:00",
                          "totalTransactions": 734,
                          "authorizeTransactions": 79,
                          "captureTransactions": 85,
                          "payTransactions": 156,
                          "refundTransactions": 327,
                          "verifyTransactions": 82,
                          "voidTransactions": 5,
                          "successfulTransactions": 660,
                          "failedTransactions": 60,
                          "declinedTransactions": 12,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-19T00:00:00+00:00",
                          "intervalEnd": "2026-04-20T00:00:00+00:00",
                          "totalTransactions": 732,
                          "authorizeTransactions": 64,
                          "captureTransactions": 67,
                          "payTransactions": 381,
                          "refundTransactions": 184,
                          "verifyTransactions": 19,
                          "voidTransactions": 17,
                          "successfulTransactions": 658,
                          "failedTransactions": 35,
                          "declinedTransactions": 33,
                          "pendingTransactions": 6,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-20T00:00:00+00:00",
                          "intervalEnd": "2026-04-21T00:00:00+00:00",
                          "totalTransactions": 555,
                          "authorizeTransactions": 35,
                          "captureTransactions": 42,
                          "payTransactions": 291,
                          "refundTransactions": 20,
                          "verifyTransactions": 115,
                          "voidTransactions": 52,
                          "successfulTransactions": 499,
                          "failedTransactions": 39,
                          "declinedTransactions": 14,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-21T00:00:00+00:00",
                          "intervalEnd": "2026-04-22T00:00:00+00:00",
                          "totalTransactions": 977,
                          "authorizeTransactions": 104,
                          "captureTransactions": 107,
                          "payTransactions": 327,
                          "refundTransactions": 135,
                          "verifyTransactions": 85,
                          "voidTransactions": 219,
                          "successfulTransactions": 879,
                          "failedTransactions": 51,
                          "declinedTransactions": 41,
                          "pendingTransactions": 6,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-22T00:00:00+00:00",
                          "intervalEnd": "2026-04-23T00:00:00+00:00",
                          "totalTransactions": 600,
                          "authorizeTransactions": 39,
                          "captureTransactions": 48,
                          "payTransactions": 466,
                          "refundTransactions": 35,
                          "verifyTransactions": 11,
                          "voidTransactions": 1,
                          "successfulTransactions": 540,
                          "failedTransactions": 36,
                          "declinedTransactions": 19,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-16T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-17T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 131
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 15
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 16
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 59
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 34
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 7
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": 0
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 117
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 10
                          },
                          "declinedTransactions": {
                            "type": "integer",
                            "example": 3
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 1
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-16T00:00:00+00:00",
                    "periodEnd": "2026-04-23T00:00:00+00:00",
                    "totalSettlementAmount": 30307.63,
                    "totalFeeAmount": 1485.07387,
                    "totalNetAmount": 28822.55613,
                    "totalTransactionsPending": 168,
                    "totalTransactionsSettled": 1341,
                    "totalTransactionsSettling": 1442,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-16T00:00:00+00:00",
                        "intervalEnd": "2026-04-17T00:00:00+00:00",
                        "totalSettlementAmount": 3610.03,
                        "totalFeeAmount": 176.89147,
                        "totalNetAmount": 3433.13853,
                        "totalTransactionsPending": 28,
                        "totalTransactionsSettled": 319,
                        "totalTransactionsSettling": 123
                      },
                      {
                        "intervalStart": "2026-04-17T00:00:00+00:00",
                        "intervalEnd": "2026-04-18T00:00:00+00:00",
                        "totalSettlementAmount": 5997.25,
                        "totalFeeAmount": 293.86525,
                        "totalNetAmount": 5703.38475,
                        "totalTransactionsPending": 26,
                        "totalTransactionsSettled": 83,
                        "totalTransactionsSettling": 270
                      },
                      {
                        "intervalStart": "2026-04-18T00:00:00+00:00",
                        "intervalEnd": "2026-04-19T00:00:00+00:00",
                        "totalSettlementAmount": 2113.15,
                        "totalFeeAmount": 103.54435,
                        "totalNetAmount": 2009.60565,
                        "totalTransactionsPending": 38,
                        "totalTransactionsSettled": 312,
                        "totalTransactionsSettling": 53
                      },
                      {
                        "intervalStart": "2026-04-19T00:00:00+00:00",
                        "intervalEnd": "2026-04-20T00:00:00+00:00",
                        "totalSettlementAmount": 1006.36,
                        "totalFeeAmount": 49.31164,
                        "totalNetAmount": 957.04836,
                        "totalTransactionsPending": 7,
                        "totalTransactionsSettled": 92,
                        "totalTransactionsSettling": 385
                      },
                      {
                        "intervalStart": "2026-04-20T00:00:00+00:00",
                        "intervalEnd": "2026-04-21T00:00:00+00:00",
                        "totalSettlementAmount": 7665.19,
                        "totalFeeAmount": 375.59431,
                        "totalNetAmount": 7289.59569,
                        "totalTransactionsPending": 28,
                        "totalTransactionsSettled": 208,
                        "totalTransactionsSettling": 204
                      },
                      {
                        "intervalStart": "2026-04-21T00:00:00+00:00",
                        "intervalEnd": "2026-04-22T00:00:00+00:00",
                        "totalSettlementAmount": 1750.52,
                        "totalFeeAmount": 85.77548,
                        "totalNetAmount": 1664.74452,
                        "totalTransactionsPending": 6,
                        "totalTransactionsSettled": 192,
                        "totalTransactionsSettling": 121
                      },
                      {
                        "intervalStart": "2026-04-22T00:00:00+00:00",
                        "intervalEnd": "2026-04-23T00:00:00+00:00",
                        "totalSettlementAmount": 8165.13,
                        "totalFeeAmount": 400.09137,
                        "totalNetAmount": 7765.03863,
                        "totalTransactionsPending": 35,
                        "totalTransactionsSettled": 135,
                        "totalTransactionsSettling": 286
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-16T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-23T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 30307.63
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 1485.07387
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 28822.55613
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 168
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 1341
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 1442
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-16T00:00:00+00:00",
                          "intervalEnd": "2026-04-17T00:00:00+00:00",
                          "totalSettlementAmount": 3610.03,
                          "totalFeeAmount": 176.89147,
                          "totalNetAmount": 3433.13853,
                          "totalTransactionsPending": 28,
                          "totalTransactionsSettled": 319,
                          "totalTransactionsSettling": 123
                        },
                        {
                          "intervalStart": "2026-04-17T00:00:00+00:00",
                          "intervalEnd": "2026-04-18T00:00:00+00:00",
                          "totalSettlementAmount": 5997.25,
                          "totalFeeAmount": 293.86525,
                          "totalNetAmount": 5703.38475,
                          "totalTransactionsPending": 26,
                          "totalTransactionsSettled": 83,
                          "totalTransactionsSettling": 270
                        },
                        {
                          "intervalStart": "2026-04-18T00:00:00+00:00",
                          "intervalEnd": "2026-04-19T00:00:00+00:00",
                          "totalSettlementAmount": 2113.15,
                          "totalFeeAmount": 103.54435,
                          "totalNetAmount": 2009.60565,
                          "totalTransactionsPending": 38,
                          "totalTransactionsSettled": 312,
                          "totalTransactionsSettling": 53
                        },
                        {
                          "intervalStart": "2026-04-19T00:00:00+00:00",
                          "intervalEnd": "2026-04-20T00:00:00+00:00",
                          "totalSettlementAmount": 1006.36,
                          "totalFeeAmount": 49.31164,
                          "totalNetAmount": 957.04836,
                          "totalTransactionsPending": 7,
                          "totalTransactionsSettled": 92,
                          "totalTransactionsSettling": 385
                        },
                        {
                          "intervalStart": "2026-04-20T00:00:00+00:00",
                          "intervalEnd": "2026-04-21T00:00:00+00:00",
                          "totalSettlementAmount": 7665.19,
                          "totalFeeAmount": 375.59431,
                          "totalNetAmount": 7289.59569,
                          "totalTransactionsPending": 28,
                          "totalTransactionsSettled": 208,
                          "totalTransactionsSettling": 204
                        },
                        {
                          "intervalStart": "2026-04-21T00:00:00+00:00",
                          "intervalEnd": "2026-04-22T00:00:00+00:00",
                          "totalSettlementAmount": 1750.52,
                          "totalFeeAmount": 85.77548,
                          "totalNetAmount": 1664.74452,
                          "totalTransactionsPending": 6,
                          "totalTransactionsSettled": 192,
                          "totalTransactionsSettling": 121
                        },
                        {
                          "intervalStart": "2026-04-22T00:00:00+00:00",
                          "intervalEnd": "2026-04-23T00:00:00+00:00",
                          "totalSettlementAmount": 8165.13,
                          "totalFeeAmount": 400.09137,
                          "totalNetAmount": 7765.03863,
                          "totalTransactionsPending": 35,
                          "totalTransactionsSettled": 135,
                          "totalTransactionsSettling": 286
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-16T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-17T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 3610.03
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 176.89147
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 3433.13853
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 28
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 319
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 123
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 10,
                    "data": [
                      {
                        "email": "ulises.hyatt@wintheiser.com",
                        "firstName": "Sonny",
                        "lastName": "Koch",
                        "phone": "+14235389586",
                        "dateOfBirth": "1981-03-12"
                      },
                      {
                        "email": "king.cassin@gmail.com",
                        "firstName": "Brittany",
                        "lastName": "Becker",
                        "phone": "+13469387712",
                        "dateOfBirth": "1987-02-02"
                      },
                      {
                        "email": "etillman@yahoo.com",
                        "firstName": "Claudie",
                        "lastName": "Williamson",
                        "phone": "+15515836663",
                        "dateOfBirth": "1970-10-10"
                      },
                      {
                        "email": "mzulauf@hotmail.com",
                        "firstName": "Webster",
                        "lastName": "Pouros",
                        "phone": "+19734430574",
                        "dateOfBirth": "2006-09-17"
                      },
                      {
                        "email": "carlo.kozey@nolan.com",
                        "firstName": "Nathanial",
                        "lastName": "Corwin",
                        "phone": "+17707462673",
                        "dateOfBirth": "1973-05-20"
                      },
                      {
                        "email": "jonathon.terry@wyman.com",
                        "firstName": "Margarette",
                        "lastName": "Little",
                        "phone": "+19137751403",
                        "dateOfBirth": "2002-09-02"
                      },
                      {
                        "email": "sauer.melany@lang.com",
                        "firstName": "Nash",
                        "lastName": "Kilback",
                        "phone": "+19289572961",
                        "dateOfBirth": "1994-03-25"
                      },
                      {
                        "email": "murl66@yahoo.com",
                        "firstName": "Eudora",
                        "lastName": "Considine",
                        "phone": "+14345231846",
                        "dateOfBirth": "1992-04-15"
                      },
                      {
                        "email": "kassulke.dagmar@hotmail.com",
                        "firstName": "Wilson",
                        "lastName": "Kuhlman",
                        "phone": "+12673271176",
                        "dateOfBirth": "1997-02-06"
                      },
                      {
                        "email": "jacinthe.heathcote@waelchi.biz",
                        "firstName": "Felipa",
                        "lastName": "Dicki",
                        "phone": "+12796243135",
                        "dateOfBirth": "2007-01-31"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 10,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "ulises.hyatt@wintheiser.com",
                          "firstName": "Sonny",
                          "lastName": "Koch",
                          "phone": "+14235389586",
                          "dateOfBirth": "1981-03-12"
                        },
                        {
                          "email": "king.cassin@gmail.com",
                          "firstName": "Brittany",
                          "lastName": "Becker",
                          "phone": "+13469387712",
                          "dateOfBirth": "1987-02-02"
                        },
                        {
                          "email": "etillman@yahoo.com",
                          "firstName": "Claudie",
                          "lastName": "Williamson",
                          "phone": "+15515836663",
                          "dateOfBirth": "1970-10-10"
                        },
                        {
                          "email": "mzulauf@hotmail.com",
                          "firstName": "Webster",
                          "lastName": "Pouros",
                          "phone": "+19734430574",
                          "dateOfBirth": "2006-09-17"
                        },
                        {
                          "email": "carlo.kozey@nolan.com",
                          "firstName": "Nathanial",
                          "lastName": "Corwin",
                          "phone": "+17707462673",
                          "dateOfBirth": "1973-05-20"
                        },
                        {
                          "email": "jonathon.terry@wyman.com",
                          "firstName": "Margarette",
                          "lastName": "Little",
                          "phone": "+19137751403",
                          "dateOfBirth": "2002-09-02"
                        },
                        {
                          "email": "sauer.melany@lang.com",
                          "firstName": "Nash",
                          "lastName": "Kilback",
                          "phone": "+19289572961",
                          "dateOfBirth": "1994-03-25"
                        },
                        {
                          "email": "murl66@yahoo.com",
                          "firstName": "Eudora",
                          "lastName": "Considine",
                          "phone": "+14345231846",
                          "dateOfBirth": "1992-04-15"
                        },
                        {
                          "email": "kassulke.dagmar@hotmail.com",
                          "firstName": "Wilson",
                          "lastName": "Kuhlman",
                          "phone": "+12673271176",
                          "dateOfBirth": "1997-02-06"
                        },
                        {
                          "email": "jacinthe.heathcote@waelchi.biz",
                          "firstName": "Felipa",
                          "lastName": "Dicki",
                          "phone": "+12796243135",
                          "dateOfBirth": "2007-01-31"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "ulises.hyatt@wintheiser.com"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Sonny"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Koch"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+14235389586"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "1981-03-12"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers/{customerIdOrEmail}/addresses": {
      "get": {
        "summary": "List Customer Billing Addresses",
        "operationId": "listCustomerBillingAddresses",
        "description": "Returns all unique billing addresses that have been used by a customer across their payments.\nAddresses are deduplicated using case-insensitive and whitespace-insensitive comparison.",
        "parameters": [
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
            "example": "-city",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
              "example": "-city",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of unique billing addresses for the customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "company": "Turcotte Group",
                        "street": "39682 Walter Lodge Suite 684",
                        "city": "North Madisyn",
                        "stateProvince": "PA",
                        "postcodeZip": "41845",
                        "country": "USA"
                      },
                      {
                        "company": "Bruen-Green",
                        "street": "6769 Gillian Ports Apt. 606",
                        "city": "Antoinettehaven",
                        "stateProvince": "PA",
                        "postcodeZip": "43768-2006",
                        "country": "USA"
                      },
                      {
                        "company": "Franecki, Sporer and Boehm",
                        "street": "63978 Jordi Manor",
                        "city": "Reichertbury",
                        "stateProvince": "WV",
                        "postcodeZip": "54135-1943",
                        "country": "USA"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "company": "Turcotte Group",
                          "street": "39682 Walter Lodge Suite 684",
                          "city": "North Madisyn",
                          "stateProvince": "PA",
                          "postcodeZip": "41845",
                          "country": "USA"
                        },
                        {
                          "company": "Bruen-Green",
                          "street": "6769 Gillian Ports Apt. 606",
                          "city": "Antoinettehaven",
                          "stateProvince": "PA",
                          "postcodeZip": "43768-2006",
                          "country": "USA"
                        },
                        {
                          "company": "Franecki, Sporer and Boehm",
                          "street": "63978 Jordi Manor",
                          "city": "Reichertbury",
                          "stateProvince": "WV",
                          "postcodeZip": "54135-1943",
                          "country": "USA"
                        }
                      ],
[...]
