{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.77.0"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payout Exports",
      "description": "Create payout exports"
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/payments/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)\n\n### Tags:\n\nFilter by user-applied tags. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)\n\n### Tags:\n\nFilter by user-applied tags. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-06-17T00:00:00+00:00",
                      "periodEnd": "2026-06-24T00:00:00+00:00",
                      "numPaymentsCreated": 4594,
                      "numPaymentsProcessed": 1695,
                      "numPaymentsIncomplete": 2899,
                      "numPaymentsWithRefunds": 1088,
                      "numCardPresentPayments": 714,
                      "numCardNotPresentPayments": 2185,
                      "totalCapturedAmount": 3890591,
                      "totalRefundedAmount": 613428.08,
                      "totalNetCapturedAmount": 3277162.92,
                      "averageNetCapturedAmount": 2870.7128571429,
                      "minNetCapturedAmount": 12.37,
                      "maxNetCapturedAmount": 8334,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-06-17T00:00:00+00:00",
                          "intervalEnd": "2026-06-18T00:00:00+00:00",
                          "numPaymentsCreated": 217,
                          "numPaymentsProcessed": 73,
                          "numPaymentsIncomplete": 144,
                          "numPaymentsWithRefunds": 21,
                          "numCardPresentPayments": 66,
                          "numCardNotPresentPayments": 78,
                          "totalCapturedAmount": 482496.61,
                          "totalRefundedAmount": 72042.31,
                          "totalNetCapturedAmount": 410454.3,
                          "averageNetCapturedAmount": 5622.66,
                          "minNetCapturedAmount": 53.08,
                          "maxNetCapturedAmount": 5494.19
                        },
                        {
                          "intervalStart": "2026-06-18T00:00:00+00:00",
                          "intervalEnd": "2026-06-19T00:00:00+00:00",
                          "numPaymentsCreated": 255,
                          "numPaymentsProcessed": 53,
                          "numPaymentsIncomplete": 202,
                          "numPaymentsWithRefunds": 10,
                          "numCardPresentPayments": 41,
                          "numCardNotPresentPayments": 161,
                          "totalCapturedAmount": 55689.05,
                          "totalRefundedAmount": 42.02,
                          "totalNetCapturedAmount": 55647.03,
                          "averageNetCapturedAmount": 1049.94,
                          "minNetCapturedAmount": 50.25,
                          "maxNetCapturedAmount": 3709.79
                        },
                        {
                          "intervalStart": "2026-06-19T00:00:00+00:00",
                          "intervalEnd": "2026-06-20T00:00:00+00:00",
                          "numPaymentsCreated": 964,
                          "numPaymentsProcessed": 105,
                          "numPaymentsIncomplete": 859,
                          "numPaymentsWithRefunds": 2,
                          "numCardPresentPayments": 88,
                          "numCardNotPresentPayments": 771,
                          "totalCapturedAmount": 88628.7,
                          "totalRefundedAmount": 14592.69,
                          "totalNetCapturedAmount": 74036.01,
                          "averageNetCapturedAmount": 705.1,
                          "minNetCapturedAmount": 23.1,
                          "maxNetCapturedAmount": 2159.18
                        },
                        {
                          "intervalStart": "2026-06-20T00:00:00+00:00",
                          "intervalEnd": "2026-06-21T00:00:00+00:00",
                          "numPaymentsCreated": 875,
                          "numPaymentsProcessed": 543,
                          "numPaymentsIncomplete": 332,
                          "numPaymentsWithRefunds": 482,
                          "numCardPresentPayments": 78,
                          "numCardNotPresentPayments": 254,
                          "totalCapturedAmount": 739197.67,
                          "totalRefundedAmount": 158624.19,
                          "totalNetCapturedAmount": 580573.48,
                          "averageNetCapturedAmount": 1069.2,
                          "minNetCapturedAmount": 86.55,
                          "maxNetCapturedAmount": 8334
                        },
                        {
                          "intervalStart": "2026-06-21T00:00:00+00:00",
                          "intervalEnd": "2026-06-22T00:00:00+00:00",
                          "numPaymentsCreated": 506,
                          "numPaymentsProcessed": 87,
                          "numPaymentsIncomplete": 419,
                          "numPaymentsWithRefunds": 46,
                          "numCardPresentPayments": 79,
                          "numCardNotPresentPayments": 340,
                          "totalCapturedAmount": 713870.43,
                          "totalRefundedAmount": 10759.08,
                          "totalNetCapturedAmount": 703111.35,
                          "averageNetCapturedAmount": 8081.74,
                          "minNetCapturedAmount": 43.61,
                          "maxNetCapturedAmount": 1839.45
                        },
                        {
                          "intervalStart": "2026-06-22T00:00:00+00:00",
                          "intervalEnd": "2026-06-23T00:00:00+00:00",
                          "numPaymentsCreated": 929,
                          "numPaymentsProcessed": 495,
                          "numPaymentsIncomplete": 434,
                          "numPaymentsWithRefunds": 292,
                          "numCardPresentPayments": 338,
                          "numCardNotPresentPayments": 96,
                          "totalCapturedAmount": 945823.29,
                          "totalRefundedAmount": 170477.55,
                          "totalNetCapturedAmount": 775345.74,
                          "averageNetCapturedAmount": 1566.36,
                          "minNetCapturedAmount": 76.27,
                          "maxNetCapturedAmount": 3092.87
                        },
                        {
                          "intervalStart": "2026-06-23T00:00:00+00:00",
                          "intervalEnd": "2026-06-24T00:00:00+00:00",
                          "numPaymentsCreated": 848,
                          "numPaymentsProcessed": 339,
                          "numPaymentsIncomplete": 509,
                          "numPaymentsWithRefunds": 235,
                          "numCardPresentPayments": 24,
                          "numCardNotPresentPayments": 485,
                          "totalCapturedAmount": 864885.25,
                          "totalRefundedAmount": 186890.24,
                          "totalNetCapturedAmount": 677995.01,
                          "averageNetCapturedAmount": 1999.99,
                          "minNetCapturedAmount": 12.37,
                          "maxNetCapturedAmount": 3146.48
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-06-17T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-06-24T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "numPaymentsCreated": {
                          "type": "integer",
                          "example": 4594,
                          "description": "Total number of payment records created in the period",
                          "enum": []
                        },
                        "numPaymentsProcessed": {
                          "type": "integer",
                          "example": 1695,
                          "description": "Number of payments that have successfully had funds captured (captured amount > 0)",
                          "enum": []
                        },
                        "numPaymentsIncomplete": {
                          "type": "integer",
                          "example": 2899,
                          "description": "Number of payments which have been created but funds have not been captured yet (e.g. failures, declines, authorizations, etc.)",
                          "enum": []
                        },
                        "numPaymentsWithRefunds": {
                          "type": "integer",
                          "example": 1088,
                          "description": "Number of payments that have had one or more refunds (refunded amount > 0)",
                          "enum": []
                        },
                        "numCardPresentPayments": {
                          "type": "integer",
                          "example": 714,
                          "description": "Number of payments made with card present (e.g. via terminal device)",
                          "enum": []
                        },
                        "numCardNotPresentPayments": {
                          "type": "integer",
                          "example": 2185,
                          "description": "Number of payments made with card not present (e.g. online payments)",
                          "enum": []
                        },
                        "totalCapturedAmount": {
                          "type": "integer",
                          "example": 3890591,
                          "description": "Total amount captured across all payments in the period",
                          "enum": []
                        },
                        "totalRefundedAmount": {
                          "type": "number",
                          "example": 613428.08,
                          "description": "Total amount refunded across all payments in the period",
                          "enum": []
                        },
                        "totalNetCapturedAmount": {
                          "type": "number",
                          "example": 3277162.92,
                          "description": "Net captured amount (captured - refunded) across all payments in the period",
                          "enum": []
                        },
                        "averageNetCapturedAmount": {
                          "type": "number",
                          "example": 2870.7128571429,
                          "description": "Average net captured amount per payment in the period",
                          "enum": []
                        },
                        "minNetCapturedAmount": {
                          "type": "number",
                          "example": 12.37,
                          "description": "Minimum net captured amount in the period",
                          "enum": []
                        },
                        "maxNetCapturedAmount": {
                          "type": "integer",
                          "example": 8334,
                          "description": "Maximum net captured amount in the period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-06-17T00:00:00+00:00",
                              "intervalEnd": "2026-06-18T00:00:00+00:00",
                              "numPaymentsCreated": 217,
                              "numPaymentsProcessed": 73,
                              "numPaymentsIncomplete": 144,
                              "numPaymentsWithRefunds": 21,
                              "numCardPresentPayments": 66,
                              "numCardNotPresentPayments": 78,
                              "totalCapturedAmount": 482496.61,
                              "totalRefundedAmount": 72042.31,
                              "totalNetCapturedAmount": 410454.3,
                              "averageNetCapturedAmount": 5622.66,
                              "minNetCapturedAmount": 53.08,
                              "maxNetCapturedAmount": 5494.19
                            },
                            {
                              "intervalStart": "2026-06-18T00:00:00+00:00",
                              "intervalEnd": "2026-06-19T00:00:00+00:00",
                              "numPaymentsCreated": 255,
                              "numPaymentsProcessed": 53,
                              "numPaymentsIncomplete": 202,
                              "numPaymentsWithRefunds": 10,
                              "numCardPresentPayments": 41,
                              "numCardNotPresentPayments": 161,
                              "totalCapturedAmount": 55689.05,
                              "totalRefundedAmount": 42.02,
                              "totalNetCapturedAmount": 55647.03,
                              "averageNetCapturedAmount": 1049.94,
                              "minNetCapturedAmount": 50.25,
                              "maxNetCapturedAmount": 3709.79
                            },
                            {
                              "intervalStart": "2026-06-19T00:00:00+00:00",
                              "intervalEnd": "2026-06-20T00:00:00+00:00",
                              "numPaymentsCreated": 964,
                              "numPaymentsProcessed": 105,
                              "numPaymentsIncomplete": 859,
                              "numPaymentsWithRefunds": 2,
                              "numCardPresentPayments": 88,
                              "numCardNotPresentPayments": 771,
                              "totalCapturedAmount": 88628.7,
                              "totalRefundedAmount": 14592.69,
                              "totalNetCapturedAmount": 74036.01,
                              "averageNetCapturedAmount": 705.1,
                              "minNetCapturedAmount": 23.1,
                              "maxNetCapturedAmount": 2159.18
                            },
                            {
                              "intervalStart": "2026-06-20T00:00:00+00:00",
                              "intervalEnd": "2026-06-21T00:00:00+00:00",
                              "numPaymentsCreated": 875,
                              "numPaymentsProcessed": 543,
                              "numPaymentsIncomplete": 332,
                              "numPaymentsWithRefunds": 482,
                              "numCardPresentPayments": 78,
                              "numCardNotPresentPayments": 254,
                              "totalCapturedAmount": 739197.67,
                              "totalRefundedAmount": 158624.19,
                              "totalNetCapturedAmount": 580573.48,
                              "averageNetCapturedAmount": 1069.2,
                              "minNetCapturedAmount": 86.55,
                              "maxNetCapturedAmount": 8334
                            },
                            {
                              "intervalStart": "2026-06-21T00:00:00+00:00",
                              "intervalEnd": "2026-06-22T00:00:00+00:00",
                              "numPaymentsCreated": 506,
                              "numPaymentsProcessed": 87,
                              "numPaymentsIncomplete": 419,
                              "numPaymentsWithRefunds": 46,
                              "numCardPresentPayments": 79,
                              "numCardNotPresentPayments": 340,
                              "totalCapturedAmount": 713870.43,
                              "totalRefundedAmount": 10759.08,
                              "totalNetCapturedAmount": 703111.35,
                              "averageNetCapturedAmount": 8081.74,
                              "minNetCapturedAmount": 43.61,
                              "maxNetCapturedAmount": 1839.45
                            },
                            {
                              "intervalStart": "2026-06-22T00:00:00+00:00",
                              "intervalEnd": "2026-06-23T00:00:00+00:00",
                              "numPaymentsCreated": 929,
                              "numPaymentsProcessed": 495,
                              "numPaymentsIncomplete": 434,
                              "numPaymentsWithRefunds": 292,
                              "numCardPresentPayments": 338,
                              "numCardNotPresentPayments": 96,
                              "totalCapturedAmount": 945823.29,
                              "totalRefundedAmount": 170477.55,
                              "totalNetCapturedAmount": 775345.74,
                              "averageNetCapturedAmount": 1566.36,
                              "minNetCapturedAmount": 76.27,
                              "maxNetCapturedAmount": 3092.87
                            },
                            {
                              "intervalStart": "2026-06-23T00:00:00+00:00",
                              "intervalEnd": "2026-06-24T00:00:00+00:00",
                              "numPaymentsCreated": 848,
                              "numPaymentsProcessed": 339,
                              "numPaymentsIncomplete": 509,
                              "numPaymentsWithRefunds": 235,
                              "numCardPresentPayments": 24,
                              "numCardNotPresentPayments": 485,
                              "totalCapturedAmount": 864885.25,
                              "totalRefundedAmount": 186890.24,
                              "totalNetCapturedAmount": 677995.01,
                              "averageNetCapturedAmount": 1999.99,
                              "minNetCapturedAmount": 12.37,
                              "maxNetCapturedAmount": 3146.48
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-06-17T00:00:00+00:00",
                                "description": "Start time of the PaymentAnalyticsData interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-06-18T00:00:00+00:00",
                                "description": "End time of the PaymentAnalyticsData interval",
                                "enum": []
                              },
                              "numPaymentsCreated": {
                                "type": "integer",
                                "example": 217,
                                "description": "Total number of payment records created in the interval",
                                "enum": []
                              },
                              "numPaymentsProcessed": {
                                "type": "integer",
                                "example": 73,
                                "description": "Number of payments that have successfully had funds captured (captured amount > 0)",
                                "enum": []
                              },
                              "numPaymentsIncomplete": {
                                "type": "integer",
                                "example": 144,
                                "description": "Number of payments which have been created but funds have not been captured yet (e.g. failures, declines, authorizations, etc.)",
                                "enum": []
                              },
                              "numPaymentsWithRefunds": {
                                "type": "integer",
                                "example": 21,
                                "description": "Number of payments that have had one or more refunds (refunded amount > 0)",
                                "enum": []
                              },
                              "numCardPresentPayments": {
                                "type": "integer",
                                "example": 66,
                                "description": "Number of payments made with card present (e.g. via terminal device)",
                                "enum": []
                              },
                              "numCardNotPresentPayments": {
                                "type": "integer",
                                "example": 78,
                                "description": "Number of payments made with card not present (e.g. online payments)",
                                "enum": []
                              },
                              "totalCapturedAmount": {
                                "type": "number",
                                "example": 482496.61,
                                "description": "Total amount captured across all payments in the interval",
                                "enum": []
                              },
                              "totalRefundedAmount": {
                                "type": "number",
                                "example": 72042.31,
                                "description": "Total amount refunded across all payments in the interval",
                                "enum": []
                              },
                              "totalNetCapturedAmount": {
                                "type": "number",
                                "example": 410454.3,
                                "description": "Net captured amount (captured - refunded) across all payments in the interval",
                                "enum": []
                              },
                              "averageNetCapturedAmount": {
                                "type": "number",
                                "example": 5622.66,
                                "description": "Average net captured amount per payment in the interval",
                                "enum": []
                              },
                              "minNetCapturedAmount": {
                                "type": "number",
                                "example": 53.08,
                                "description": "Minimum net captured amount in the interval",
                                "enum": []
                              },
                              "maxNetCapturedAmount": {
                                "type": "number",
                                "example": 5494.19,
                                "description": "Maximum net captured amount in the interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/payments/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n\n### Tags:\n\nFilter by user-applied tags on the underlying payments. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n\n### Tags:\n\nFilter by user-applied tags on the underlying payments. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-06-17T00:00:00+00:00",
                      "periodEnd": "2026-06-24T00:00:00+00:00",
                      "activeCustomers": 152,
                      "newCustomers": 181,
                      "returningCustomers": -29,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-06-17T00:00:00+00:00",
                          "intervalEnd": "2026-06-18T00:00:00+00:00",
                          "activeCustomers": 87,
                          "newCustomers": 44,
                          "returningCustomers": 43
                        },
                        {
                          "intervalStart": "2026-06-18T00:00:00+00:00",
                          "intervalEnd": "2026-06-19T00:00:00+00:00",
                          "activeCustomers": 81,
                          "newCustomers": 56,
                          "returningCustomers": 25
                        },
                        {
                          "intervalStart": "2026-06-19T00:00:00+00:00",
                          "intervalEnd": "2026-06-20T00:00:00+00:00",
                          "activeCustomers": 16,
                          "newCustomers": 7,
                          "returningCustomers": 9
                        },
                        {
                          "intervalStart": "2026-06-20T00:00:00+00:00",
                          "intervalEnd": "2026-06-21T00:00:00+00:00",
                          "activeCustomers": 58,
                          "newCustomers": 23,
                          "returningCustomers": 35
                        },
                        {
                          "intervalStart": "2026-06-21T00:00:00+00:00",
                          "intervalEnd": "2026-06-22T00:00:00+00:00",
                          "activeCustomers": 95,
                          "newCustomers": 34,
                          "returningCustomers": 61
                        },
                        {
                          "intervalStart": "2026-06-22T00:00:00+00:00",
                          "intervalEnd": "2026-06-23T00:00:00+00:00",
                          "activeCustomers": 25,
                          "newCustomers": 8,
                          "returningCustomers": 17
                        },
                        {
                          "intervalStart": "2026-06-23T00:00:00+00:00",
                          "intervalEnd": "2026-06-24T00:00:00+00:00",
                          "activeCustomers": 31,
                          "newCustomers": 9,
                          "returningCustomers": 22
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-06-17T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-06-24T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "activeCustomers": {
                          "type": "integer",
                          "example": 152,
                          "description": "number of customers who are associated with at least one payment which was created in the period",
                          "enum": []
                        },
                        "newCustomers": {
                          "type": "integer",
                          "example": 181,
                          "description": "number of new customers added in the period",
                          "enum": []
                        },
                        "returningCustomers": {
                          "type": "integer",
                          "example": -29,
                          "description": "number of customers who were active in the period but were created before the period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-06-17T00:00:00+00:00",
                              "intervalEnd": "2026-06-18T00:00:00+00:00",
                              "activeCustomers": 87,
                              "newCustomers": 44,
                              "returningCustomers": 43
                            },
                            {
                              "intervalStart": "2026-06-18T00:00:00+00:00",
                              "intervalEnd": "2026-06-19T00:00:00+00:00",
                              "activeCustomers": 81,
                              "newCustomers": 56,
                              "returningCustomers": 25
                            },
                            {
                              "intervalStart": "2026-06-19T00:00:00+00:00",
                              "intervalEnd": "2026-06-20T00:00:00+00:00",
                              "activeCustomers": 16,
                              "newCustomers": 7,
                              "returningCustomers": 9
                            },
                            {
                              "intervalStart": "2026-06-20T00:00:00+00:00",
                              "intervalEnd": "2026-06-21T00:00:00+00:00",
                              "activeCustomers": 58,
                              "newCustomers": 23,
                              "returningCustomers": 35
                            },
                            {
                              "intervalStart": "2026-06-21T00:00:00+00:00",
                              "intervalEnd": "2026-06-22T00:00:00+00:00",
                              "activeCustomers": 95,
                              "newCustomers": 34,
                              "returningCustomers": 61
                            },
                            {
                              "intervalStart": "2026-06-22T00:00:00+00:00",
                              "intervalEnd": "2026-06-23T00:00:00+00:00",
                              "activeCustomers": 25,
                              "newCustomers": 8,
                              "returningCustomers": 17
                            },
                            {
                              "intervalStart": "2026-06-23T00:00:00+00:00",
                              "intervalEnd": "2026-06-24T00:00:00+00:00",
                              "activeCustomers": 31,
                              "newCustomers": 9,
                              "returningCustomers": 22
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-06-17T00:00:00+00:00",
                                "description": "Start time of the analytics calculation interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-06-18T00:00:00+00:00",
                                "description": "End time of the analytics calculation interval",
                                "enum": []
                              },
                              "activeCustomers": {
                                "type": "integer",
                                "example": 87,
                                "description": "number of customers who are associated with at least one payment which was created in the interval",
                                "enum": []
                              },
                              "newCustomers": {
                                "type": "integer",
                                "example": 44,
                                "description": "number of new customers added in the interval",
                                "enum": []
                              },
                              "returningCustomers": {
                                "type": "integer",
                                "example": 43,
                                "description": "number of customers who were active in the interval but were created before the interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/payments/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n\n### Tags:\n\nFilter by user-applied tags. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n\n### Tags:\n\nFilter by user-applied tags. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-06-17T00:00:00+00:00",
                      "periodEnd": "2026-06-24T00:00:00+00:00",
                      "totalTransactions": 4594,
                      "authorizeTransactions": 411,
                      "captureTransactions": 448,
                      "payTransactions": 1677,
                      "refundTransactions": 1428,
                      "verifyTransactions": 473,
                      "voidTransactions": 157,
                      "successfulTransactions": 4132,
                      "failedTransactions": 326,
                      "declinedTransactions": 111,
                      "pendingTransactions": 25,
                      "unknownTransactions": 0,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-06-17T00:00:00+00:00",
                          "intervalEnd": "2026-06-18T00:00:00+00:00",
                          "totalTransactions": 898,
                          "authorizeTransactions": 79,
                          "captureTransactions": 83,
                          "payTransactions": 131,
                          "refundTransactions": 209,
                          "verifyTransactions": 343,
                          "voidTransactions": 53,
                          "successfulTransactions": 808,
                          "failedTransactions": 54,
                          "declinedTransactions": 31,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-06-18T00:00:00+00:00",
                          "intervalEnd": "2026-06-19T00:00:00+00:00",
                          "totalTransactions": 380,
                          "authorizeTransactions": 11,
                          "captureTransactions": 20,
                          "payTransactions": 282,
                          "refundTransactions": 39,
                          "verifyTransactions": 12,
                          "voidTransactions": 16,
                          "successfulTransactions": 342,
                          "failedTransactions": 31,
                          "declinedTransactions": 6,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-06-19T00:00:00+00:00",
                          "intervalEnd": "2026-06-20T00:00:00+00:00",
                          "totalTransactions": 898,
                          "authorizeTransactions": 65,
                          "captureTransactions": 67,
                          "payTransactions": 178,
                          "refundTransactions": 512,
                          "verifyTransactions": 32,
                          "voidTransactions": 44,
                          "successfulTransactions": 808,
                          "failedTransactions": 55,
                          "declinedTransactions": 27,
                          "pendingTransactions": 8,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-06-20T00:00:00+00:00",
                          "intervalEnd": "2026-06-21T00:00:00+00:00",
                          "totalTransactions": 758,
                          "authorizeTransactions": 83,
                          "captureTransactions": 88,
                          "payTransactions": 128,
                          "refundTransactions": 380,
                          "verifyTransactions": 51,
                          "voidTransactions": 28,
                          "successfulTransactions": 682,
                          "failedTransactions": 46,
                          "declinedTransactions": 28,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-06-21T00:00:00+00:00",
                          "intervalEnd": "2026-06-22T00:00:00+00:00",
                          "totalTransactions": 446,
                          "authorizeTransactions": 37,
                          "captureTransactions": 42,
                          "payTransactions": 348,
                          "refundTransactions": 15,
                          "verifyTransactions": 5,
                          "voidTransactions": -1,
                          "successfulTransactions": 401,
                          "failedTransactions": 26,
                          "declinedTransactions": 16,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-06-22T00:00:00+00:00",
                          "intervalEnd": "2026-06-23T00:00:00+00:00",
                          "totalTransactions": 292,
                          "authorizeTransactions": 23,
                          "captureTransactions": 27,
                          "payTransactions": 230,
                          "refundTransactions": 5,
                          "verifyTransactions": 5,
                          "voidTransactions": 2,
                          "successfulTransactions": 262,
                          "failedTransactions": 28,
                          "declinedTransactions": 1,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-06-23T00:00:00+00:00",
                          "intervalEnd": "2026-06-24T00:00:00+00:00",
                          "totalTransactions": 922,
                          "authorizeTransactions": 113,
                          "captureTransactions": 121,
                          "payTransactions": 380,
                          "refundTransactions": 268,
                          "verifyTransactions": 25,
                          "voidTransactions": 15,
                          "successfulTransactions": 829,
                          "failedTransactions": 86,
                          "declinedTransactions": 2,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-06-17T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-06-24T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "totalTransactions": {
                          "type": "integer",
                          "example": 4594,
                          "description": "Total number of transactions in the period",
                          "enum": []
                        },
                        "authorizeTransactions": {
                          "type": "integer",
                          "example": 411,
                          "description": "Number of authorize transactions in the period",
                          "enum": []
                        },
                        "captureTransactions": {
                          "type": "integer",
                          "example": 448,
                          "description": "Number of capture transactions in the period",
                          "enum": []
                        },
                        "payTransactions": {
                          "type": "integer",
                          "example": 1677,
                          "description": "Number of pay transactions in the period",
                          "enum": []
                        },
                        "refundTransactions": {
                          "type": "integer",
                          "example": 1428,
                          "description": "Number of refund transactions in the period",
                          "enum": []
                        },
                        "verifyTransactions": {
                          "type": "integer",
                          "example": 473,
                          "description": "Number of verify transactions in the period",
                          "enum": []
                        },
                        "voidTransactions": {
                          "type": "integer",
                          "example": 157,
                          "description": "Number of void transactions in the period",
                          "enum": []
                        },
                        "successfulTransactions": {
                          "type": "integer",
                          "example": 4132,
                          "description": "Number of successful transactions in the period",
                          "enum": []
                        },
                        "failedTransactions": {
                          "type": "integer",
                          "example": 326,
                          "description": "Number of failed transactions in the period",
                          "enum": []
                        },
                        "declinedTransactions": {
                          "type": "integer",
                          "example": 111,
                          "description": "Number of declined transactions in the period",
                          "enum": []
                        },
                        "pendingTransactions": {
                          "type": "integer",
                          "example": 25,
                          "description": "Number of pending transactions in the period",
                          "enum": []
                        },
                        "unknownTransactions": {
                          "type": "integer",
                          "example": 0,
                          "description": "Number of transactions with unknown result in the period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-06-17T00:00:00+00:00",
                              "intervalEnd": "2026-06-18T00:00:00+00:00",
                              "totalTransactions": 898,
                              "authorizeTransactions": 79,
                              "captureTransactions": 83,
                              "payTransactions": 131,
                              "refundTransactions": 209,
                              "verifyTransactions": 343,
                              "voidTransactions": 53,
                              "successfulTransactions": 808,
                              "failedTransactions": 54,
                              "declinedTransactions": 31,
                              "pendingTransactions": 5,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-06-18T00:00:00+00:00",
                              "intervalEnd": "2026-06-19T00:00:00+00:00",
                              "totalTransactions": 380,
                              "authorizeTransactions": 11,
                              "captureTransactions": 20,
                              "payTransactions": 282,
                              "refundTransactions": 39,
                              "verifyTransactions": 12,
                              "voidTransactions": 16,
                              "successfulTransactions": 342,
                              "failedTransactions": 31,
                              "declinedTransactions": 6,
                              "pendingTransactions": 1,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-06-19T00:00:00+00:00",
                              "intervalEnd": "2026-06-20T00:00:00+00:00",
                              "totalTransactions": 898,
                              "authorizeTransactions": 65,
                              "captureTransactions": 67,
                              "payTransactions": 178,
                              "refundTransactions": 512,
                              "verifyTransactions": 32,
                              "voidTransactions": 44,
                              "successfulTransactions": 808,
                              "failedTransactions": 55,
                              "declinedTransactions": 27,
                              "pendingTransactions": 8,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-06-20T00:00:00+00:00",
                              "intervalEnd": "2026-06-21T00:00:00+00:00",
                              "totalTransactions": 758,
                              "authorizeTransactions": 83,
                              "captureTransactions": 88,
                              "payTransactions": 128,
                              "refundTransactions": 380,
                              "verifyTransactions": 51,
                              "voidTransactions": 28,
                              "successfulTransactions": 682,
                              "failedTransactions": 46,
                              "declinedTransactions": 28,
                              "pendingTransactions": 2,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-06-21T00:00:00+00:00",
                              "intervalEnd": "2026-06-22T00:00:00+00:00",
                              "totalTransactions": 446,
                              "authorizeTransactions": 37,
                              "captureTransactions": 42,
                              "payTransactions": 348,
                              "refundTransactions": 15,
                              "verifyTransactions": 5,
                              "voidTransactions": -1,
                              "successfulTransactions": 401,
                              "failedTransactions": 26,
                              "declinedTransactions": 16,
                              "pendingTransactions": 3,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-06-22T00:00:00+00:00",
                              "intervalEnd": "2026-06-23T00:00:00+00:00",
                              "totalTransactions": 292,
                              "authorizeTransactions": 23,
                              "captureTransactions": 27,
                              "payTransactions": 230,
                              "refundTransactions": 5,
                              "verifyTransactions": 5,
                              "voidTransactions": 2,
                              "successfulTransactions": 262,
                              "failedTransactions": 28,
                              "declinedTransactions": 1,
                              "pendingTransactions": 1,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-06-23T00:00:00+00:00",
                              "intervalEnd": "2026-06-24T00:00:00+00:00",
                              "totalTransactions": 922,
                              "authorizeTransactions": 113,
                              "captureTransactions": 121,
                              "payTransactions": 380,
                              "refundTransactions": 268,
                              "verifyTransactions": 25,
                              "voidTransactions": 15,
                              "successfulTransactions": 829,
                              "failedTransactions": 86,
                              "declinedTransactions": 2,
                              "pendingTransactions": 5,
                              "unknownTransactions": 0
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-06-17T00:00:00+00:00",
                                "description": "Start time of the analytics calculation interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-06-18T00:00:00+00:00",
                                "description": "End time of the analytics calculation interval",
                                "enum": []
                              },
                              "totalTransactions": {
                                "type": "integer",
                                "example": 898,
                                "description": "Total number of transactions in the interval",
                                "enum": []
                              },
                              "authorizeTransactions": {
                                "type": "integer",
                                "example": 79,
                                "description": "Number of authorize transactions in the interval",
                                "enum": []
                              },
                              "captureTransactions": {
                                "type": "integer",
                                "example": 83,
                                "description": "Number of capture transactions in the interval",
                                "enum": []
                              },
                              "payTransactions": {
                                "type": "integer",
                                "example": 131,
                                "description": "Number of pay transactions in the interval",
                                "enum": []
                              },
                              "refundTransactions": {
                                "type": "integer",
                                "example": 209,
                                "description": "Number of refund transactions in the interval",
                                "enum": []
                              },
                              "verifyTransactions": {
                                "type": "integer",
                                "example": 343,
                                "description": "Number of verify transactions in the interval",
                                "enum": []
                              },
                              "voidTransactions": {
                                "type": "integer",
                                "example": 53,
                                "description": "Number of void transactions in the interval",
                                "enum": []
                              },
                              "successfulTransactions": {
                                "type": "integer",
                                "example": 808,
                                "description": "Number of successful transactions in the interval",
                                "enum": []
                              },
                              "failedTransactions": {
                                "type": "integer",
                                "example": 54,
                                "description": "Number of failed transactions in the interval",
                                "enum": []
                              },
                              "declinedTransactions": {
                                "type": "integer",
                                "example": 31,
                                "description": "Number of declined transactions in the interval",
                                "enum": []
                              },
                              "pendingTransactions": {
                                "type": "integer",
                                "example": 5,
                                "description": "Number of pending transactions in the interval",
                                "enum": []
                              },
                              "unknownTransactions": {
                                "type": "integer",
                                "example": 0,
                                "description": "Number of transactions with unknown result in the interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/payments/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n\n### Tags:\n\nFilter by user-applied tags. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n\n### Tags:\n\nFilter by user-applied tags. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-06-17T00:00:00+00:00",
                      "periodEnd": "2026-06-24T00:00:00+00:00",
                      "totalSettlementAmount": 41993.17,
                      "totalFeeAmount": 2057.66533,
                      "totalNetAmount": 39935.50467,
                      "totalTransactionsPending": 162,
                      "totalTransactionsSettled": 1169,
                      "totalTransactionsSettling": 876,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-06-17T00:00:00+00:00",
                          "intervalEnd": "2026-06-18T00:00:00+00:00",
                          "totalSettlementAmount": 5668.64,
                          "totalFeeAmount": 277.76336,
                          "totalNetAmount": 5390.87664,
                          "totalTransactionsPending": 9,
                          "totalTransactionsSettled": 103,
                          "totalTransactionsSettling": 45
                        },
                        {
                          "intervalStart": "2026-06-18T00:00:00+00:00",
                          "intervalEnd": "2026-06-19T00:00:00+00:00",
                          "totalSettlementAmount": 6666.89,
                          "totalFeeAmount": 326.67761,
                          "totalNetAmount": 6340.21239,
                          "totalTransactionsPending": 6,
                          "totalTransactionsSettled": 33,
                          "totalTransactionsSettling": 219
                        },
                        {
                          "intervalStart": "2026-06-19T00:00:00+00:00",
                          "intervalEnd": "2026-06-20T00:00:00+00:00",
                          "totalSettlementAmount": 7759.99,
                          "totalFeeAmount": 380.23951,
                          "totalNetAmount": 7379.75049,
                          "totalTransactionsPending": 30,
                          "totalTransactionsSettled": 389,
                          "totalTransactionsSettling": 78
                        },
                        {
                          "intervalStart": "2026-06-20T00:00:00+00:00",
                          "intervalEnd": "2026-06-21T00:00:00+00:00",
                          "totalSettlementAmount": 5313.08,
                          "totalFeeAmount": 260.34092,
                          "totalNetAmount": 5052.73908,
                          "totalTransactionsPending": 31,
                          "totalTransactionsSettled": 115,
                          "totalTransactionsSettling": 12
                        },
                        {
                          "intervalStart": "2026-06-21T00:00:00+00:00",
                          "intervalEnd": "2026-06-22T00:00:00+00:00",
                          "totalSettlementAmount": 8883.5,
                          "totalFeeAmount": 435.2915,
                          "totalNetAmount": 8448.2085,
                          "totalTransactionsPending": 26,
                          "totalTransactionsSettled": 206,
                          "totalTransactionsSettling": 262
                        },
                        {
                          "intervalStart": "2026-06-22T00:00:00+00:00",
                          "intervalEnd": "2026-06-23T00:00:00+00:00",
                          "totalSettlementAmount": 5286.27,
                          "totalFeeAmount": 259.02723,
                          "totalNetAmount": 5027.24277,
                          "totalTransactionsPending": 35,
                          "totalTransactionsSettled": 42,
                          "totalTransactionsSettling": 103
                        },
                        {
                          "intervalStart": "2026-06-23T00:00:00+00:00",
                          "intervalEnd": "2026-06-24T00:00:00+00:00",
                          "totalSettlementAmount": 2414.8,
                          "totalFeeAmount": 118.3252,
                          "totalNetAmount": 2296.4748,
                          "totalTransactionsPending": 25,
                          "totalTransactionsSettled": 281,
                          "totalTransactionsSettling": 157
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-06-17T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-06-24T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "totalSettlementAmount": {
                          "type": "number",
                          "example": 41993.17,
                          "description": "Total settled payout amount in this period",
                          "enum": []
                        },
                        "totalFeeAmount": {
                          "type": "number",
                          "example": 2057.66533,
                          "description": "Total amount of fees charged for the payouts in this period",
                          "enum": []
                        },
                        "totalNetAmount": {
                          "type": "number",
                          "example": 39935.50467,
                          "description": "Total net payout amount in this period",
                          "enum": []
                        },
                        "totalTransactionsPending": {
                          "type": "integer",
                          "example": 162,
                          "description": "Total number of transactions pending in this period",
                          "enum": []
                        },
                        "totalTransactionsSettled": {
                          "type": "integer",
                          "example": 1169,
                          "description": "Total number of transactions settled in this period",
                          "enum": []
                        },
                        "totalTransactionsSettling": {
                          "type": "integer",
                          "example": 876,
                          "description": "Total number of transactions settling in this period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-06-17T00:00:00+00:00",
                              "intervalEnd": "2026-06-18T00:00:00+00:00",
                              "totalSettlementAmount": 5668.64,
                              "totalFeeAmount": 277.76336,
                              "totalNetAmount": 5390.87664,
                              "totalTransactionsPending": 9,
                              "totalTransactionsSettled": 103,
                              "totalTransactionsSettling": 45
                            },
                            {
                              "intervalStart": "2026-06-18T00:00:00+00:00",
                              "intervalEnd": "2026-06-19T00:00:00+00:00",
                              "totalSettlementAmount": 6666.89,
                              "totalFeeAmount": 326.67761,
                              "totalNetAmount": 6340.21239,
                              "totalTransactionsPending": 6,
                              "totalTransactionsSettled": 33,
                              "totalTransactionsSettling": 219
                            },
                            {
                              "intervalStart": "2026-06-19T00:00:00+00:00",
                              "intervalEnd": "2026-06-20T00:00:00+00:00",
                              "totalSettlementAmount": 7759.99,
                              "totalFeeAmount": 380.23951,
                              "totalNetAmount": 7379.75049,
                              "totalTransactionsPending": 30,
                              "totalTransactionsSettled": 389,
                              "totalTransactionsSettling": 78
                            },
                            {
                              "intervalStart": "2026-06-20T00:00:00+00:00",
                              "intervalEnd": "2026-06-21T00:00:00+00:00",
                              "totalSettlementAmount": 5313.08,
                              "totalFeeAmount": 260.34092,
                              "totalNetAmount": 5052.73908,
                              "totalTransactionsPending": 31,
                              "totalTransactionsSettled": 115,
                              "totalTransactionsSettling": 12
                            },
                            {
                              "intervalStart": "2026-06-21T00:00:00+00:00",
                              "intervalEnd": "2026-06-22T00:00:00+00:00",
                              "totalSettlementAmount": 8883.5,
                              "totalFeeAmount": 435.2915,
                              "totalNetAmount": 8448.2085,
                              "totalTransactionsPending": 26,
                              "totalTransactionsSettled": 206,
                              "totalTransactionsSettling": 262
                            },
                            {
                              "intervalStart": "2026-06-22T00:00:00+00:00",
                              "intervalEnd": "2026-06-23T00:00:00+00:00",
                              "totalSettlementAmount": 5286.27,
                              "totalFeeAmount": 259.02723,
                              "totalNetAmount": 5027.24277,
                              "totalTransactionsPending": 35,
                              "totalTransactionsSettled": 42,
                              "totalTransactionsSettling": 103
                            },
                            {
                              "intervalStart": "2026-06-23T00:00:00+00:00",
                              "intervalEnd": "2026-06-24T00:00:00+00:00",
                              "totalSettlementAmount": 2414.8,
                              "totalFeeAmount": 118.3252,
                              "totalNetAmount": 2296.4748,
                              "totalTransactionsPending": 25,
                              "totalTransactionsSettled": 281,
                              "totalTransactionsSettling": 157
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-06-17T00:00:00+00:00",
                                "description": "Start time of the analytics calculation interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-06-18T00:00:00+00:00",
                                "description": "End time of the analytics calculation interval",
                                "enum": []
                              },
                              "totalSettlementAmount": {
                                "type": "number",
                                "example": 5668.64,
                                "description": "Total settled payout amount in this interval",
                                "enum": []
                              },
                              "totalFeeAmount": {
                                "type": "number",
                                "example": 277.76336,
                                "description": "Total amount of fees charged for the payouts in this interval",
                                "enum": []
                              },
                              "totalNetAmount": {
                                "type": "number",
                                "example": 5390.87664,
                                "description": "Total net payout amount in this interval",
                                "enum": []
                              },
                              "totalTransactionsPending": {
                                "type": "integer",
                                "example": 9,
                                "description": "Total number of transactions pending in this interval",
                                "enum": []
                              },
                              "totalTransactionsSettled": {
                                "type": "integer",
                                "example": 103,
                                "description": "Total number of transactions settled in this interval",
[...]
