{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.54.0"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-18T00:00:00+00:00",
                    "periodEnd": "2026-03-25T00:00:00+00:00",
                    "numPaymentsCreated": 3604,
                    "numPaymentsProcessed": 1817,
                    "numPaymentsIncomplete": 1787,
                    "numPaymentsWithRefunds": 965,
                    "numCardPresentPayments": 1306,
                    "numCardNotPresentPayments": 481,
                    "totalCapturedAmount": 2520281.51,
                    "totalRefundedAmount": 234430.66,
                    "totalNetCapturedAmount": 2285850.85,
                    "averageNetCapturedAmount": 1626.1428571429,
                    "minNetCapturedAmount": 37.04,
                    "maxNetCapturedAmount": 9044.29,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-18T00:00:00+00:00",
                        "intervalEnd": "2026-03-19T00:00:00+00:00",
                        "numPaymentsCreated": 531,
                        "numPaymentsProcessed": 400,
                        "numPaymentsIncomplete": 131,
                        "numPaymentsWithRefunds": 96,
                        "numCardPresentPayments": 308,
                        "numCardNotPresentPayments": -177,
                        "totalCapturedAmount": 12293.97,
                        "totalRefundedAmount": 3336.98,
                        "totalNetCapturedAmount": 8956.99,
                        "averageNetCapturedAmount": 22.39,
                        "minNetCapturedAmount": 83.55,
                        "maxNetCapturedAmount": 9044.29
                      },
                      {
                        "intervalStart": "2026-03-19T00:00:00+00:00",
                        "intervalEnd": "2026-03-20T00:00:00+00:00",
                        "numPaymentsCreated": 381,
                        "numPaymentsProcessed": 288,
                        "numPaymentsIncomplete": 93,
                        "numPaymentsWithRefunds": 199,
                        "numCardPresentPayments": 238,
                        "numCardNotPresentPayments": -145,
                        "totalCapturedAmount": 539132.16,
                        "totalRefundedAmount": 30929.58,
                        "totalNetCapturedAmount": 508202.58,
                        "averageNetCapturedAmount": 1764.59,
                        "minNetCapturedAmount": 73.09,
                        "maxNetCapturedAmount": 4874.56
                      },
                      {
                        "intervalStart": "2026-03-20T00:00:00+00:00",
                        "intervalEnd": "2026-03-21T00:00:00+00:00",
                        "numPaymentsCreated": 843,
                        "numPaymentsProcessed": 106,
                        "numPaymentsIncomplete": 737,
                        "numPaymentsWithRefunds": 60,
                        "numCardPresentPayments": 5,
                        "numCardNotPresentPayments": 732,
                        "totalCapturedAmount": 241599.92,
                        "totalRefundedAmount": 615.16,
                        "totalNetCapturedAmount": 240984.76,
                        "averageNetCapturedAmount": 2273.44,
                        "minNetCapturedAmount": 75.7,
                        "maxNetCapturedAmount": 3828.63
                      },
                      {
                        "intervalStart": "2026-03-21T00:00:00+00:00",
                        "intervalEnd": "2026-03-22T00:00:00+00:00",
                        "numPaymentsCreated": 739,
                        "numPaymentsProcessed": 317,
                        "numPaymentsIncomplete": 422,
                        "numPaymentsWithRefunds": 257,
                        "numCardPresentPayments": 249,
                        "numCardNotPresentPayments": 173,
                        "totalCapturedAmount": 948997.75,
                        "totalRefundedAmount": 40152.63,
                        "totalNetCapturedAmount": 908845.12,
                        "averageNetCapturedAmount": 2867.02,
                        "minNetCapturedAmount": 62.36,
                        "maxNetCapturedAmount": 5994.59
                      },
                      {
                        "intervalStart": "2026-03-22T00:00:00+00:00",
                        "intervalEnd": "2026-03-23T00:00:00+00:00",
                        "numPaymentsCreated": 263,
                        "numPaymentsProcessed": 106,
                        "numPaymentsIncomplete": 157,
                        "numPaymentsWithRefunds": 100,
                        "numCardPresentPayments": 54,
                        "numCardNotPresentPayments": 103,
                        "totalCapturedAmount": 27033.36,
                        "totalRefundedAmount": 1353.38,
                        "totalNetCapturedAmount": 25679.98,
                        "averageNetCapturedAmount": 242.26,
                        "minNetCapturedAmount": 37.04,
                        "maxNetCapturedAmount": 5141.55
                      },
                      {
                        "intervalStart": "2026-03-23T00:00:00+00:00",
                        "intervalEnd": "2026-03-24T00:00:00+00:00",
                        "numPaymentsCreated": 110,
                        "numPaymentsProcessed": 97,
                        "numPaymentsIncomplete": 13,
                        "numPaymentsWithRefunds": 1,
                        "numCardPresentPayments": 57,
                        "numCardNotPresentPayments": -44,
                        "totalCapturedAmount": 518629.91,
                        "totalRefundedAmount": 154017.52,
                        "totalNetCapturedAmount": 364612.39,
                        "averageNetCapturedAmount": 3758.89,
                        "minNetCapturedAmount": 69.88,
                        "maxNetCapturedAmount": 1776.68
                      },
                      {
                        "intervalStart": "2026-03-24T00:00:00+00:00",
                        "intervalEnd": "2026-03-25T00:00:00+00:00",
                        "numPaymentsCreated": 737,
                        "numPaymentsProcessed": 503,
                        "numPaymentsIncomplete": 234,
                        "numPaymentsWithRefunds": 252,
                        "numCardPresentPayments": 395,
                        "numCardNotPresentPayments": -161,
                        "totalCapturedAmount": 232594.44,
                        "totalRefundedAmount": 4025.41,
                        "totalNetCapturedAmount": 228569.03,
                        "averageNetCapturedAmount": 454.41,
                        "minNetCapturedAmount": 52.45,
                        "maxNetCapturedAmount": 1970.74
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-18T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-25T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 3604
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 1817
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 1787
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 965
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 1306
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": 481
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 2520281.51
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 234430.66
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 2285850.85
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 1626.1428571429
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 37.04
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 9044.29
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-18T00:00:00+00:00",
                          "intervalEnd": "2026-03-19T00:00:00+00:00",
                          "numPaymentsCreated": 531,
                          "numPaymentsProcessed": 400,
                          "numPaymentsIncomplete": 131,
                          "numPaymentsWithRefunds": 96,
                          "numCardPresentPayments": 308,
                          "numCardNotPresentPayments": -177,
                          "totalCapturedAmount": 12293.97,
                          "totalRefundedAmount": 3336.98,
                          "totalNetCapturedAmount": 8956.99,
                          "averageNetCapturedAmount": 22.39,
                          "minNetCapturedAmount": 83.55,
                          "maxNetCapturedAmount": 9044.29
                        },
                        {
                          "intervalStart": "2026-03-19T00:00:00+00:00",
                          "intervalEnd": "2026-03-20T00:00:00+00:00",
                          "numPaymentsCreated": 381,
                          "numPaymentsProcessed": 288,
                          "numPaymentsIncomplete": 93,
                          "numPaymentsWithRefunds": 199,
                          "numCardPresentPayments": 238,
                          "numCardNotPresentPayments": -145,
                          "totalCapturedAmount": 539132.16,
                          "totalRefundedAmount": 30929.58,
                          "totalNetCapturedAmount": 508202.58,
                          "averageNetCapturedAmount": 1764.59,
                          "minNetCapturedAmount": 73.09,
                          "maxNetCapturedAmount": 4874.56
                        },
                        {
                          "intervalStart": "2026-03-20T00:00:00+00:00",
                          "intervalEnd": "2026-03-21T00:00:00+00:00",
                          "numPaymentsCreated": 843,
                          "numPaymentsProcessed": 106,
                          "numPaymentsIncomplete": 737,
                          "numPaymentsWithRefunds": 60,
                          "numCardPresentPayments": 5,
                          "numCardNotPresentPayments": 732,
                          "totalCapturedAmount": 241599.92,
                          "totalRefundedAmount": 615.16,
                          "totalNetCapturedAmount": 240984.76,
                          "averageNetCapturedAmount": 2273.44,
                          "minNetCapturedAmount": 75.7,
                          "maxNetCapturedAmount": 3828.63
                        },
                        {
                          "intervalStart": "2026-03-21T00:00:00+00:00",
                          "intervalEnd": "2026-03-22T00:00:00+00:00",
                          "numPaymentsCreated": 739,
                          "numPaymentsProcessed": 317,
                          "numPaymentsIncomplete": 422,
                          "numPaymentsWithRefunds": 257,
                          "numCardPresentPayments": 249,
                          "numCardNotPresentPayments": 173,
                          "totalCapturedAmount": 948997.75,
                          "totalRefundedAmount": 40152.63,
                          "totalNetCapturedAmount": 908845.12,
                          "averageNetCapturedAmount": 2867.02,
                          "minNetCapturedAmount": 62.36,
                          "maxNetCapturedAmount": 5994.59
                        },
                        {
                          "intervalStart": "2026-03-22T00:00:00+00:00",
                          "intervalEnd": "2026-03-23T00:00:00+00:00",
                          "numPaymentsCreated": 263,
                          "numPaymentsProcessed": 106,
                          "numPaymentsIncomplete": 157,
                          "numPaymentsWithRefunds": 100,
                          "numCardPresentPayments": 54,
                          "numCardNotPresentPayments": 103,
                          "totalCapturedAmount": 27033.36,
                          "totalRefundedAmount": 1353.38,
                          "totalNetCapturedAmount": 25679.98,
                          "averageNetCapturedAmount": 242.26,
                          "minNetCapturedAmount": 37.04,
                          "maxNetCapturedAmount": 5141.55
                        },
                        {
                          "intervalStart": "2026-03-23T00:00:00+00:00",
                          "intervalEnd": "2026-03-24T00:00:00+00:00",
                          "numPaymentsCreated": 110,
                          "numPaymentsProcessed": 97,
                          "numPaymentsIncomplete": 13,
                          "numPaymentsWithRefunds": 1,
                          "numCardPresentPayments": 57,
                          "numCardNotPresentPayments": -44,
                          "totalCapturedAmount": 518629.91,
                          "totalRefundedAmount": 154017.52,
                          "totalNetCapturedAmount": 364612.39,
                          "averageNetCapturedAmount": 3758.89,
                          "minNetCapturedAmount": 69.88,
                          "maxNetCapturedAmount": 1776.68
                        },
                        {
                          "intervalStart": "2026-03-24T00:00:00+00:00",
                          "intervalEnd": "2026-03-25T00:00:00+00:00",
                          "numPaymentsCreated": 737,
                          "numPaymentsProcessed": 503,
                          "numPaymentsIncomplete": 234,
                          "numPaymentsWithRefunds": 252,
                          "numCardPresentPayments": 395,
                          "numCardNotPresentPayments": -161,
                          "totalCapturedAmount": 232594.44,
                          "totalRefundedAmount": 4025.41,
                          "totalNetCapturedAmount": 228569.03,
                          "averageNetCapturedAmount": 454.41,
                          "minNetCapturedAmount": 52.45,
                          "maxNetCapturedAmount": 1970.74
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-18T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-19T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 531
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 400
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 131
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 96
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 308
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": -177
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 12293.97
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 3336.98
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 8956.99
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 22.39
                          },
                          "minNetCapturedAmount": {
                            "type": "number",
                            "example": 83.55
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 9044.29
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-18T00:00:00+00:00",
                    "periodEnd": "2026-03-25T00:00:00+00:00",
                    "activeCustomers": 258,
                    "newCustomers": 201,
                    "returningCustomers": 57,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-18T00:00:00+00:00",
                        "intervalEnd": "2026-03-19T00:00:00+00:00",
                        "activeCustomers": 61,
                        "newCustomers": 52,
                        "returningCustomers": 9
                      },
                      {
                        "intervalStart": "2026-03-19T00:00:00+00:00",
                        "intervalEnd": "2026-03-20T00:00:00+00:00",
                        "activeCustomers": 48,
                        "newCustomers": 22,
                        "returningCustomers": 26
                      },
                      {
                        "intervalStart": "2026-03-20T00:00:00+00:00",
                        "intervalEnd": "2026-03-21T00:00:00+00:00",
                        "activeCustomers": 12,
                        "newCustomers": 8,
                        "returningCustomers": 4
                      },
                      {
                        "intervalStart": "2026-03-21T00:00:00+00:00",
                        "intervalEnd": "2026-03-22T00:00:00+00:00",
                        "activeCustomers": 66,
                        "newCustomers": 22,
                        "returningCustomers": 44
                      },
                      {
                        "intervalStart": "2026-03-22T00:00:00+00:00",
                        "intervalEnd": "2026-03-23T00:00:00+00:00",
                        "activeCustomers": 35,
                        "newCustomers": 5,
                        "returningCustomers": 30
                      },
                      {
                        "intervalStart": "2026-03-23T00:00:00+00:00",
                        "intervalEnd": "2026-03-24T00:00:00+00:00",
                        "activeCustomers": 95,
                        "newCustomers": 79,
                        "returningCustomers": 16
                      },
                      {
                        "intervalStart": "2026-03-24T00:00:00+00:00",
                        "intervalEnd": "2026-03-25T00:00:00+00:00",
                        "activeCustomers": 29,
                        "newCustomers": 13,
                        "returningCustomers": 16
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-18T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-25T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 258
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 201
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": 57
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-18T00:00:00+00:00",
                          "intervalEnd": "2026-03-19T00:00:00+00:00",
                          "activeCustomers": 61,
                          "newCustomers": 52,
                          "returningCustomers": 9
                        },
                        {
                          "intervalStart": "2026-03-19T00:00:00+00:00",
                          "intervalEnd": "2026-03-20T00:00:00+00:00",
                          "activeCustomers": 48,
                          "newCustomers": 22,
                          "returningCustomers": 26
                        },
                        {
                          "intervalStart": "2026-03-20T00:00:00+00:00",
                          "intervalEnd": "2026-03-21T00:00:00+00:00",
                          "activeCustomers": 12,
                          "newCustomers": 8,
                          "returningCustomers": 4
                        },
                        {
                          "intervalStart": "2026-03-21T00:00:00+00:00",
                          "intervalEnd": "2026-03-22T00:00:00+00:00",
                          "activeCustomers": 66,
                          "newCustomers": 22,
                          "returningCustomers": 44
                        },
                        {
                          "intervalStart": "2026-03-22T00:00:00+00:00",
                          "intervalEnd": "2026-03-23T00:00:00+00:00",
                          "activeCustomers": 35,
                          "newCustomers": 5,
                          "returningCustomers": 30
                        },
                        {
                          "intervalStart": "2026-03-23T00:00:00+00:00",
                          "intervalEnd": "2026-03-24T00:00:00+00:00",
                          "activeCustomers": 95,
                          "newCustomers": 79,
                          "returningCustomers": 16
                        },
                        {
                          "intervalStart": "2026-03-24T00:00:00+00:00",
                          "intervalEnd": "2026-03-25T00:00:00+00:00",
                          "activeCustomers": 29,
                          "newCustomers": 13,
                          "returningCustomers": 16
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-18T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-19T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 61
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 52
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 9
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-18T00:00:00+00:00",
                    "periodEnd": "2026-03-25T00:00:00+00:00",
                    "totalTransactions": 3816,
                    "authorizeTransactions": 276,
                    "captureTransactions": 309,
                    "payTransactions": 2042,
                    "refundTransactions": 402,
                    "verifyTransactions": 472,
                    "voidTransactions": 315,
                    "successfulTransactions": 3433,
                    "failedTransactions": 274,
                    "declinedTransactions": 85,
                    "pendingTransactions": 24,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-18T00:00:00+00:00",
                        "intervalEnd": "2026-03-19T00:00:00+00:00",
                        "totalTransactions": 304,
                        "authorizeTransactions": 26,
                        "captureTransactions": 35,
                        "payTransactions": 119,
                        "refundTransactions": 73,
                        "verifyTransactions": 13,
                        "voidTransactions": 38,
                        "successfulTransactions": 273,
                        "failedTransactions": 15,
                        "declinedTransactions": 14,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-19T00:00:00+00:00",
                        "intervalEnd": "2026-03-20T00:00:00+00:00",
                        "totalTransactions": 950,
                        "authorizeTransactions": 67,
                        "captureTransactions": 70,
                        "payTransactions": 459,
                        "refundTransactions": 68,
                        "verifyTransactions": 179,
                        "voidTransactions": 107,
                        "successfulTransactions": 855,
                        "failedTransactions": 68,
                        "declinedTransactions": 20,
                        "pendingTransactions": 7,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-20T00:00:00+00:00",
                        "intervalEnd": "2026-03-21T00:00:00+00:00",
                        "totalTransactions": 698,
                        "authorizeTransactions": 70,
                        "captureTransactions": 73,
                        "payTransactions": 454,
                        "refundTransactions": 60,
                        "verifyTransactions": 14,
                        "voidTransactions": 27,
                        "successfulTransactions": 628,
                        "failedTransactions": 56,
                        "declinedTransactions": 10,
                        "pendingTransactions": 4,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-21T00:00:00+00:00",
                        "intervalEnd": "2026-03-22T00:00:00+00:00",
                        "totalTransactions": 289,
                        "authorizeTransactions": 20,
                        "captureTransactions": 25,
                        "payTransactions": 32,
                        "refundTransactions": 27,
                        "verifyTransactions": 79,
                        "voidTransactions": 106,
                        "successfulTransactions": 260,
                        "failedTransactions": 23,
                        "declinedTransactions": 4,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-22T00:00:00+00:00",
                        "intervalEnd": "2026-03-23T00:00:00+00:00",
                        "totalTransactions": 648,
                        "authorizeTransactions": 18,
                        "captureTransactions": 21,
                        "payTransactions": 596,
                        "refundTransactions": 11,
                        "verifyTransactions": 5,
                        "voidTransactions": -3,
                        "successfulTransactions": 583,
                        "failedTransactions": 60,
                        "declinedTransactions": 1,
                        "pendingTransactions": 4,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-23T00:00:00+00:00",
                        "intervalEnd": "2026-03-24T00:00:00+00:00",
                        "totalTransactions": 669,
                        "authorizeTransactions": 44,
                        "captureTransactions": 46,
                        "payTransactions": 337,
                        "refundTransactions": 41,
                        "verifyTransactions": 168,
                        "voidTransactions": 33,
                        "successfulTransactions": 602,
                        "failedTransactions": 37,
                        "declinedTransactions": 27,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-24T00:00:00+00:00",
                        "intervalEnd": "2026-03-25T00:00:00+00:00",
                        "totalTransactions": 258,
                        "authorizeTransactions": 31,
                        "captureTransactions": 39,
                        "payTransactions": 45,
                        "refundTransactions": 122,
                        "verifyTransactions": 14,
                        "voidTransactions": 7,
                        "successfulTransactions": 232,
                        "failedTransactions": 15,
                        "declinedTransactions": 9,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-18T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-25T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 3816
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 276
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 309
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 2042
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 402
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 472
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 315
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 3433
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 274
                    },
                    "declinedTransactions": {
                      "type": "integer",
                      "example": 85
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 24
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-18T00:00:00+00:00",
                          "intervalEnd": "2026-03-19T00:00:00+00:00",
                          "totalTransactions": 304,
                          "authorizeTransactions": 26,
                          "captureTransactions": 35,
                          "payTransactions": 119,
                          "refundTransactions": 73,
                          "verifyTransactions": 13,
                          "voidTransactions": 38,
                          "successfulTransactions": 273,
                          "failedTransactions": 15,
                          "declinedTransactions": 14,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-19T00:00:00+00:00",
                          "intervalEnd": "2026-03-20T00:00:00+00:00",
                          "totalTransactions": 950,
                          "authorizeTransactions": 67,
                          "captureTransactions": 70,
                          "payTransactions": 459,
                          "refundTransactions": 68,
                          "verifyTransactions": 179,
                          "voidTransactions": 107,
                          "successfulTransactions": 855,
                          "failedTransactions": 68,
                          "declinedTransactions": 20,
                          "pendingTransactions": 7,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-20T00:00:00+00:00",
                          "intervalEnd": "2026-03-21T00:00:00+00:00",
                          "totalTransactions": 698,
                          "authorizeTransactions": 70,
                          "captureTransactions": 73,
                          "payTransactions": 454,
                          "refundTransactions": 60,
                          "verifyTransactions": 14,
                          "voidTransactions": 27,
                          "successfulTransactions": 628,
                          "failedTransactions": 56,
                          "declinedTransactions": 10,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-21T00:00:00+00:00",
                          "intervalEnd": "2026-03-22T00:00:00+00:00",
                          "totalTransactions": 289,
                          "authorizeTransactions": 20,
                          "captureTransactions": 25,
                          "payTransactions": 32,
                          "refundTransactions": 27,
                          "verifyTransactions": 79,
                          "voidTransactions": 106,
                          "successfulTransactions": 260,
                          "failedTransactions": 23,
                          "declinedTransactions": 4,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-22T00:00:00+00:00",
                          "intervalEnd": "2026-03-23T00:00:00+00:00",
                          "totalTransactions": 648,
                          "authorizeTransactions": 18,
                          "captureTransactions": 21,
                          "payTransactions": 596,
                          "refundTransactions": 11,
                          "verifyTransactions": 5,
                          "voidTransactions": -3,
                          "successfulTransactions": 583,
                          "failedTransactions": 60,
                          "declinedTransactions": 1,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-23T00:00:00+00:00",
                          "intervalEnd": "2026-03-24T00:00:00+00:00",
                          "totalTransactions": 669,
                          "authorizeTransactions": 44,
                          "captureTransactions": 46,
                          "payTransactions": 337,
                          "refundTransactions": 41,
                          "verifyTransactions": 168,
                          "voidTransactions": 33,
                          "successfulTransactions": 602,
                          "failedTransactions": 37,
                          "declinedTransactions": 27,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-24T00:00:00+00:00",
                          "intervalEnd": "2026-03-25T00:00:00+00:00",
                          "totalTransactions": 258,
                          "authorizeTransactions": 31,
                          "captureTransactions": 39,
                          "payTransactions": 45,
                          "refundTransactions": 122,
                          "verifyTransactions": 14,
                          "voidTransactions": 7,
                          "successfulTransactions": 232,
                          "failedTransactions": 15,
                          "declinedTransactions": 9,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-18T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-19T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 304
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 26
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 35
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 119
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 73
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 13
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": 38
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 273
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 15
                          },
                          "declinedTransactions": {
                            "type": "integer",
                            "example": 14
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 2
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-18T00:00:00+00:00",
                    "periodEnd": "2026-03-25T00:00:00+00:00",
                    "totalSettlementAmount": 38981.58,
                    "totalFeeAmount": 1910.09742,
                    "totalNetAmount": 37071.48258,
                    "totalTransactionsPending": 148,
                    "totalTransactionsSettled": 1156,
                    "totalTransactionsSettling": 437,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-18T00:00:00+00:00",
                        "intervalEnd": "2026-03-19T00:00:00+00:00",
                        "totalSettlementAmount": 2368.28,
                        "totalFeeAmount": 116.04572,
                        "totalNetAmount": 2252.23428,
                        "totalTransactionsPending": 25,
                        "totalTransactionsSettled": 123,
                        "totalTransactionsSettling": 35
                      },
                      {
                        "intervalStart": "2026-03-19T00:00:00+00:00",
                        "intervalEnd": "2026-03-20T00:00:00+00:00",
                        "totalSettlementAmount": 9542.27,
                        "totalFeeAmount": 467.57123,
                        "totalNetAmount": 9074.69877,
                        "totalTransactionsPending": 18,
                        "totalTransactionsSettled": 342,
                        "totalTransactionsSettling": 20
                      },
                      {
                        "intervalStart": "2026-03-20T00:00:00+00:00",
                        "intervalEnd": "2026-03-21T00:00:00+00:00",
                        "totalSettlementAmount": 8435.93,
                        "totalFeeAmount": 413.36057,
                        "totalNetAmount": 8022.56943,
                        "totalTransactionsPending": 6,
                        "totalTransactionsSettled": 184,
                        "totalTransactionsSettling": 113
                      },
                      {
                        "intervalStart": "2026-03-21T00:00:00+00:00",
                        "intervalEnd": "2026-03-22T00:00:00+00:00",
                        "totalSettlementAmount": 1485.42,
                        "totalFeeAmount": 72.78558,
                        "totalNetAmount": 1412.63442,
                        "totalTransactionsPending": 40,
                        "totalTransactionsSettled": 126,
                        "totalTransactionsSettling": 12
                      },
                      {
                        "intervalStart": "2026-03-22T00:00:00+00:00",
                        "intervalEnd": "2026-03-23T00:00:00+00:00",
                        "totalSettlementAmount": 8103.01,
                        "totalFeeAmount": 397.04749,
                        "totalNetAmount": 7705.96251,
                        "totalTransactionsPending": 17,
                        "totalTransactionsSettled": 110,
                        "totalTransactionsSettling": 172
                      },
                      {
                        "intervalStart": "2026-03-23T00:00:00+00:00",
                        "intervalEnd": "2026-03-24T00:00:00+00:00",
                        "totalSettlementAmount": 2736.63,
                        "totalFeeAmount": 134.09487,
                        "totalNetAmount": 2602.53513,
                        "totalTransactionsPending": 6,
                        "totalTransactionsSettled": 191,
                        "totalTransactionsSettling": 46
                      },
                      {
                        "intervalStart": "2026-03-24T00:00:00+00:00",
                        "intervalEnd": "2026-03-25T00:00:00+00:00",
                        "totalSettlementAmount": 6310.04,
                        "totalFeeAmount": 309.19196,
                        "totalNetAmount": 6000.84804,
                        "totalTransactionsPending": 36,
                        "totalTransactionsSettled": 80,
                        "totalTransactionsSettling": 39
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-18T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-25T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 38981.58
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 1910.09742
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 37071.48258
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 148
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 1156
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 437
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-18T00:00:00+00:00",
                          "intervalEnd": "2026-03-19T00:00:00+00:00",
                          "totalSettlementAmount": 2368.28,
                          "totalFeeAmount": 116.04572,
                          "totalNetAmount": 2252.23428,
                          "totalTransactionsPending": 25,
                          "totalTransactionsSettled": 123,
                          "totalTransactionsSettling": 35
                        },
                        {
                          "intervalStart": "2026-03-19T00:00:00+00:00",
                          "intervalEnd": "2026-03-20T00:00:00+00:00",
                          "totalSettlementAmount": 9542.27,
                          "totalFeeAmount": 467.57123,
                          "totalNetAmount": 9074.69877,
                          "totalTransactionsPending": 18,
                          "totalTransactionsSettled": 342,
                          "totalTransactionsSettling": 20
                        },
                        {
                          "intervalStart": "2026-03-20T00:00:00+00:00",
                          "intervalEnd": "2026-03-21T00:00:00+00:00",
                          "totalSettlementAmount": 8435.93,
                          "totalFeeAmount": 413.36057,
                          "totalNetAmount": 8022.56943,
                          "totalTransactionsPending": 6,
                          "totalTransactionsSettled": 184,
                          "totalTransactionsSettling": 113
                        },
                        {
                          "intervalStart": "2026-03-21T00:00:00+00:00",
                          "intervalEnd": "2026-03-22T00:00:00+00:00",
                          "totalSettlementAmount": 1485.42,
                          "totalFeeAmount": 72.78558,
                          "totalNetAmount": 1412.63442,
                          "totalTransactionsPending": 40,
                          "totalTransactionsSettled": 126,
                          "totalTransactionsSettling": 12
                        },
                        {
                          "intervalStart": "2026-03-22T00:00:00+00:00",
                          "intervalEnd": "2026-03-23T00:00:00+00:00",
                          "totalSettlementAmount": 8103.01,
                          "totalFeeAmount": 397.04749,
                          "totalNetAmount": 7705.96251,
                          "totalTransactionsPending": 17,
                          "totalTransactionsSettled": 110,
                          "totalTransactionsSettling": 172
                        },
                        {
                          "intervalStart": "2026-03-23T00:00:00+00:00",
                          "intervalEnd": "2026-03-24T00:00:00+00:00",
                          "totalSettlementAmount": 2736.63,
                          "totalFeeAmount": 134.09487,
                          "totalNetAmount": 2602.53513,
                          "totalTransactionsPending": 6,
                          "totalTransactionsSettled": 191,
                          "totalTransactionsSettling": 46
                        },
                        {
                          "intervalStart": "2026-03-24T00:00:00+00:00",
                          "intervalEnd": "2026-03-25T00:00:00+00:00",
                          "totalSettlementAmount": 6310.04,
                          "totalFeeAmount": 309.19196,
                          "totalNetAmount": 6000.84804,
                          "totalTransactionsPending": 36,
                          "totalTransactionsSettled": 80,
                          "totalTransactionsSettling": 39
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-18T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-19T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 2368.28
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 116.04572
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 2252.23428
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 25
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 123
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 35
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 9,
                    "data": [
                      {
                        "email": "senger.anabelle@hotmail.com",
                        "firstName": "Enola",
                        "lastName": "Larson",
                        "phone": "+18655092723",
                        "dateOfBirth": "1983-03-03"
                      },
                      {
                        "email": "walton.torp@spinka.com",
                        "firstName": "Nicola",
                        "lastName": "Collins",
                        "phone": "+14587416856",
                        "dateOfBirth": "1980-06-02"
                      },
                      {
                        "email": "clinton14@schultz.com",
                        "firstName": "Liam",
                        "lastName": "Batz",
                        "phone": "+12609603209",
                        "dateOfBirth": "1990-11-21"
                      },
                      {
                        "email": "heidenreich.lester@hotmail.com",
                        "firstName": "Ward",
                        "lastName": "Pfeffer",
                        "phone": "+17794719354",
                        "dateOfBirth": "1974-01-11"
                      },
                      {
                        "email": "freida.kihn@gmail.com",
                        "firstName": "Katelin",
                        "lastName": "Collins",
                        "phone": "+14585930479",
                        "dateOfBirth": "1972-06-26"
                      },
                      {
                        "email": "tamara17@yahoo.com",
                        "firstName": "Johnathon",
                        "lastName": "Ziemann",
                        "phone": "+14355307673",
                        "dateOfBirth": "2008-02-12"
                      },
                      {
                        "email": "vbecker@gmail.com",
                        "firstName": "Prudence",
                        "lastName": "Effertz",
                        "phone": "+15167628087",
                        "dateOfBirth": "1987-10-14"
                      },
                      {
                        "email": "kaitlyn.bergstrom@yahoo.com",
                        "firstName": "Rachael",
                        "lastName": "Price",
                        "phone": "+16805051670",
                        "dateOfBirth": "1980-06-20"
                      },
                      {
                        "email": "dkreiger@hotmail.com",
                        "firstName": "Emiliano",
                        "lastName": "Hamill",
                        "phone": "+19783132815",
                        "dateOfBirth": "1980-03-14"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 9,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "senger.anabelle@hotmail.com",
                          "firstName": "Enola",
                          "lastName": "Larson",
                          "phone": "+18655092723",
                          "dateOfBirth": "1983-03-03"
                        },
                        {
                          "email": "walton.torp@spinka.com",
                          "firstName": "Nicola",
                          "lastName": "Collins",
                          "phone": "+14587416856",
                          "dateOfBirth": "1980-06-02"
                        },
                        {
                          "email": "clinton14@schultz.com",
                          "firstName": "Liam",
                          "lastName": "Batz",
                          "phone": "+12609603209",
                          "dateOfBirth": "1990-11-21"
                        },
                        {
                          "email": "heidenreich.lester@hotmail.com",
                          "firstName": "Ward",
                          "lastName": "Pfeffer",
                          "phone": "+17794719354",
                          "dateOfBirth": "1974-01-11"
                        },
                        {
                          "email": "freida.kihn@gmail.com",
                          "firstName": "Katelin",
                          "lastName": "Collins",
                          "phone": "+14585930479",
                          "dateOfBirth": "1972-06-26"
                        },
                        {
                          "email": "tamara17@yahoo.com",
                          "firstName": "Johnathon",
                          "lastName": "Ziemann",
                          "phone": "+14355307673",
                          "dateOfBirth": "2008-02-12"
                        },
                        {
                          "email": "vbecker@gmail.com",
                          "firstName": "Prudence",
                          "lastName": "Effertz",
                          "phone": "+15167628087",
                          "dateOfBirth": "1987-10-14"
                        },
                        {
                          "email": "kaitlyn.bergstrom@yahoo.com",
                          "firstName": "Rachael",
                          "lastName": "Price",
                          "phone": "+16805051670",
                          "dateOfBirth": "1980-06-20"
                        },
                        {
                          "email": "dkreiger@hotmail.com",
                          "firstName": "Emiliano",
                          "lastName": "Hamill",
                          "phone": "+19783132815",
                          "dateOfBirth": "1980-03-14"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "senger.anabelle@hotmail.com"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Enola"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Larson"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+18655092723"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "1983-03-03"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers/{customerIdOrEmail}/addresses": {
      "get": {
        "summary": "List Customer Billing Addresses",
        "operationId": "listCustomerBillingAddresses",
        "description": "Returns all unique billing addresses that have been used by a customer across their payments.\nAddresses are deduplicated using case-insensitive and whitespace-insensitive comparison.",
        "parameters": [
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
            "example": "-city",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
              "example": "-city",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of unique billing addresses for the customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "company": "Deckow, Rath and Tromp",
                        "street": "54658 Kemmer Trail Suite 240",
                        "city": "Nataliabury",
                        "stateProvince": "SC",
                        "postcodeZip": "17151",
                        "country": "USA"
                      },
                      {
                        "company": "Kuhic-Reynolds",
                        "street": "49220 Lakin Wall",
                        "city": "North Fern",
                        "stateProvince": "CO",
                        "postcodeZip": "40269-5112",
                        "country": "USA"
                      },
                      {
                        "company": "Oberbrunner-DuBuque",
                        "street": "21129 Macey Trace",
                        "city": "Haleyhaven",
                        "stateProvince": "MT",
                        "postcodeZip": "88063-6475",
                        "country": "USA"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "company": "Deckow, Rath and Tromp",
                          "street": "54658 Kemmer Trail Suite 240",
                          "city": "Nataliabury",
                          "stateProvince": "SC",
                          "postcodeZip": "17151",
                          "country": "USA"
                        },
                        {
                          "company": "Kuhic-Reynolds",
                          "street": "49220 Lakin Wall",
                          "city": "North Fern",
                          "stateProvince": "CO",
                          "postcodeZip": "40269-5112",
                          "country": "USA"
                        },
                        {
                          "company": "Oberbrunner-DuBuque",
                          "street": "21129 Macey Trace",
                          "city": "Haleyhaven",
                          "stateProvince": "MT",
                          "postcodeZip": "88063-6475",
                          "country": "USA"
                        }
                      ],
                      "description": "The data returned from the request",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "company": {
                            "type": "string",
                            "example": "Deckow, Rath and Tromp"
                          },
                          "street": {
                            "type": "string",
                            "example": "54658 Kemmer Trail Suite 240"
                          },
                          "city": {
                            "type": "string",
                            "example": "Nataliabury"
                          },
[...]
