{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.45.1"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-02-20T00:00:00+00:00",
                    "periodEnd": "2026-02-27T00:00:00+00:00",
                    "numPaymentsCreated": 2914,
                    "numPaymentsProcessed": 1603,
                    "numPaymentsIncomplete": 1311,
                    "numPaymentsWithRefunds": 979,
                    "numCardPresentPayments": 656,
                    "numCardNotPresentPayments": 655,
                    "totalCapturedAmount": 2884647.57,
                    "totalRefundedAmount": 457125.07,
                    "totalNetCapturedAmount": 2427522.5,
                    "averageNetCapturedAmount": 2374.7471428571,
                    "minNetCapturedAmount": 21.86,
                    "maxNetCapturedAmount": 8664.02,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-02-20T00:00:00+00:00",
                        "intervalEnd": "2026-02-21T00:00:00+00:00",
                        "numPaymentsCreated": 104,
                        "numPaymentsProcessed": 102,
                        "numPaymentsIncomplete": 2,
                        "numPaymentsWithRefunds": 14,
                        "numCardPresentPayments": 99,
                        "numCardNotPresentPayments": -97,
                        "totalCapturedAmount": 438084.29,
                        "totalRefundedAmount": 23226.67,
                        "totalNetCapturedAmount": 414857.62,
                        "averageNetCapturedAmount": 4067.23,
                        "minNetCapturedAmount": 41.84,
                        "maxNetCapturedAmount": 8664.02
                      },
                      {
                        "intervalStart": "2026-02-21T00:00:00+00:00",
                        "intervalEnd": "2026-02-22T00:00:00+00:00",
                        "numPaymentsCreated": 798,
                        "numPaymentsProcessed": 705,
                        "numPaymentsIncomplete": 93,
                        "numPaymentsWithRefunds": 526,
                        "numCardPresentPayments": 86,
                        "numCardNotPresentPayments": 7,
                        "totalCapturedAmount": 180683.37,
                        "totalRefundedAmount": 16485.37,
                        "totalNetCapturedAmount": 164198,
                        "averageNetCapturedAmount": 232.9,
                        "minNetCapturedAmount": 56.75,
                        "maxNetCapturedAmount": 7700.59
                      },
                      {
                        "intervalStart": "2026-02-22T00:00:00+00:00",
                        "intervalEnd": "2026-02-23T00:00:00+00:00",
                        "numPaymentsCreated": 110,
                        "numPaymentsProcessed": 92,
                        "numPaymentsIncomplete": 18,
                        "numPaymentsWithRefunds": 71,
                        "numCardPresentPayments": 77,
                        "numCardNotPresentPayments": -59,
                        "totalCapturedAmount": 225892.89,
                        "totalRefundedAmount": 39709.58,
                        "totalNetCapturedAmount": 186183.31,
                        "averageNetCapturedAmount": 2023.73,
                        "minNetCapturedAmount": 25.45,
                        "maxNetCapturedAmount": 5247.78
                      },
                      {
                        "intervalStart": "2026-02-23T00:00:00+00:00",
                        "intervalEnd": "2026-02-24T00:00:00+00:00",
                        "numPaymentsCreated": 722,
                        "numPaymentsProcessed": 363,
                        "numPaymentsIncomplete": 359,
                        "numPaymentsWithRefunds": 239,
                        "numCardPresentPayments": 171,
                        "numCardNotPresentPayments": 188,
                        "totalCapturedAmount": 773031.6,
                        "totalRefundedAmount": 158014.67,
                        "totalNetCapturedAmount": 615016.93,
                        "averageNetCapturedAmount": 1694.26,
                        "minNetCapturedAmount": 37.61,
                        "maxNetCapturedAmount": 7755.59
                      },
                      {
                        "intervalStart": "2026-02-24T00:00:00+00:00",
                        "intervalEnd": "2026-02-25T00:00:00+00:00",
                        "numPaymentsCreated": 428,
                        "numPaymentsProcessed": 104,
                        "numPaymentsIncomplete": 324,
                        "numPaymentsWithRefunds": 7,
                        "numCardPresentPayments": 65,
                        "numCardNotPresentPayments": 259,
                        "totalCapturedAmount": 278734.39,
                        "totalRefundedAmount": 25593.52,
                        "totalNetCapturedAmount": 253140.87,
                        "averageNetCapturedAmount": 2434.05,
                        "minNetCapturedAmount": 90.38,
                        "maxNetCapturedAmount": 1925.94
                      },
                      {
                        "intervalStart": "2026-02-25T00:00:00+00:00",
                        "intervalEnd": "2026-02-26T00:00:00+00:00",
                        "numPaymentsCreated": 443,
                        "numPaymentsProcessed": 76,
                        "numPaymentsIncomplete": 367,
                        "numPaymentsWithRefunds": 33,
                        "numCardPresentPayments": 70,
                        "numCardNotPresentPayments": 297,
                        "totalCapturedAmount": 226200.98,
                        "totalRefundedAmount": 47901.1,
                        "totalNetCapturedAmount": 178299.88,
                        "averageNetCapturedAmount": 2346.05,
                        "minNetCapturedAmount": 21.86,
                        "maxNetCapturedAmount": 2878.85
                      },
                      {
                        "intervalStart": "2026-02-26T00:00:00+00:00",
                        "intervalEnd": "2026-02-27T00:00:00+00:00",
                        "numPaymentsCreated": 309,
                        "numPaymentsProcessed": 161,
                        "numPaymentsIncomplete": 148,
                        "numPaymentsWithRefunds": 89,
                        "numCardPresentPayments": 88,
                        "numCardNotPresentPayments": 60,
                        "totalCapturedAmount": 762020.05,
                        "totalRefundedAmount": 146194.16,
                        "totalNetCapturedAmount": 615825.89,
                        "averageNetCapturedAmount": 3825.01,
                        "minNetCapturedAmount": 98.57,
                        "maxNetCapturedAmount": 2944.15
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-02-20T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-02-27T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 2914
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 1603
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 1311
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 979
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 656
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": 655
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 2884647.57
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 457125.07
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 2427522.5
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 2374.7471428571
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 21.86
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 8664.02
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-02-20T00:00:00+00:00",
                          "intervalEnd": "2026-02-21T00:00:00+00:00",
                          "numPaymentsCreated": 104,
                          "numPaymentsProcessed": 102,
                          "numPaymentsIncomplete": 2,
                          "numPaymentsWithRefunds": 14,
                          "numCardPresentPayments": 99,
                          "numCardNotPresentPayments": -97,
                          "totalCapturedAmount": 438084.29,
                          "totalRefundedAmount": 23226.67,
                          "totalNetCapturedAmount": 414857.62,
                          "averageNetCapturedAmount": 4067.23,
                          "minNetCapturedAmount": 41.84,
                          "maxNetCapturedAmount": 8664.02
                        },
                        {
                          "intervalStart": "2026-02-21T00:00:00+00:00",
                          "intervalEnd": "2026-02-22T00:00:00+00:00",
                          "numPaymentsCreated": 798,
                          "numPaymentsProcessed": 705,
                          "numPaymentsIncomplete": 93,
                          "numPaymentsWithRefunds": 526,
                          "numCardPresentPayments": 86,
                          "numCardNotPresentPayments": 7,
                          "totalCapturedAmount": 180683.37,
                          "totalRefundedAmount": 16485.37,
                          "totalNetCapturedAmount": 164198,
                          "averageNetCapturedAmount": 232.9,
                          "minNetCapturedAmount": 56.75,
                          "maxNetCapturedAmount": 7700.59
                        },
                        {
                          "intervalStart": "2026-02-22T00:00:00+00:00",
                          "intervalEnd": "2026-02-23T00:00:00+00:00",
                          "numPaymentsCreated": 110,
                          "numPaymentsProcessed": 92,
                          "numPaymentsIncomplete": 18,
                          "numPaymentsWithRefunds": 71,
                          "numCardPresentPayments": 77,
                          "numCardNotPresentPayments": -59,
                          "totalCapturedAmount": 225892.89,
                          "totalRefundedAmount": 39709.58,
                          "totalNetCapturedAmount": 186183.31,
                          "averageNetCapturedAmount": 2023.73,
                          "minNetCapturedAmount": 25.45,
                          "maxNetCapturedAmount": 5247.78
                        },
                        {
                          "intervalStart": "2026-02-23T00:00:00+00:00",
                          "intervalEnd": "2026-02-24T00:00:00+00:00",
                          "numPaymentsCreated": 722,
                          "numPaymentsProcessed": 363,
                          "numPaymentsIncomplete": 359,
                          "numPaymentsWithRefunds": 239,
                          "numCardPresentPayments": 171,
                          "numCardNotPresentPayments": 188,
                          "totalCapturedAmount": 773031.6,
                          "totalRefundedAmount": 158014.67,
                          "totalNetCapturedAmount": 615016.93,
                          "averageNetCapturedAmount": 1694.26,
                          "minNetCapturedAmount": 37.61,
                          "maxNetCapturedAmount": 7755.59
                        },
                        {
                          "intervalStart": "2026-02-24T00:00:00+00:00",
                          "intervalEnd": "2026-02-25T00:00:00+00:00",
                          "numPaymentsCreated": 428,
                          "numPaymentsProcessed": 104,
                          "numPaymentsIncomplete": 324,
                          "numPaymentsWithRefunds": 7,
                          "numCardPresentPayments": 65,
                          "numCardNotPresentPayments": 259,
                          "totalCapturedAmount": 278734.39,
                          "totalRefundedAmount": 25593.52,
                          "totalNetCapturedAmount": 253140.87,
                          "averageNetCapturedAmount": 2434.05,
                          "minNetCapturedAmount": 90.38,
                          "maxNetCapturedAmount": 1925.94
                        },
                        {
                          "intervalStart": "2026-02-25T00:00:00+00:00",
                          "intervalEnd": "2026-02-26T00:00:00+00:00",
                          "numPaymentsCreated": 443,
                          "numPaymentsProcessed": 76,
                          "numPaymentsIncomplete": 367,
                          "numPaymentsWithRefunds": 33,
                          "numCardPresentPayments": 70,
                          "numCardNotPresentPayments": 297,
                          "totalCapturedAmount": 226200.98,
                          "totalRefundedAmount": 47901.1,
                          "totalNetCapturedAmount": 178299.88,
                          "averageNetCapturedAmount": 2346.05,
                          "minNetCapturedAmount": 21.86,
                          "maxNetCapturedAmount": 2878.85
                        },
                        {
                          "intervalStart": "2026-02-26T00:00:00+00:00",
                          "intervalEnd": "2026-02-27T00:00:00+00:00",
                          "numPaymentsCreated": 309,
                          "numPaymentsProcessed": 161,
                          "numPaymentsIncomplete": 148,
                          "numPaymentsWithRefunds": 89,
                          "numCardPresentPayments": 88,
                          "numCardNotPresentPayments": 60,
                          "totalCapturedAmount": 762020.05,
                          "totalRefundedAmount": 146194.16,
                          "totalNetCapturedAmount": 615825.89,
                          "averageNetCapturedAmount": 3825.01,
                          "minNetCapturedAmount": 98.57,
                          "maxNetCapturedAmount": 2944.15
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-02-20T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-02-21T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 104
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 102
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 2
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 14
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 99
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": -97
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 438084.29
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 23226.67
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 414857.62
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 4067.23
                          },
                          "minNetCapturedAmount": {
                            "type": "number",
                            "example": 41.84
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 8664.02
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-02-20T00:00:00+00:00",
                    "periodEnd": "2026-02-27T00:00:00+00:00",
                    "activeCustomers": 294,
                    "newCustomers": 144,
                    "returningCustomers": 150,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-02-20T00:00:00+00:00",
                        "intervalEnd": "2026-02-21T00:00:00+00:00",
                        "activeCustomers": 10,
                        "newCustomers": 6,
                        "returningCustomers": 4
                      },
                      {
                        "intervalStart": "2026-02-21T00:00:00+00:00",
                        "intervalEnd": "2026-02-22T00:00:00+00:00",
                        "activeCustomers": 90,
                        "newCustomers": 38,
                        "returningCustomers": 52
                      },
                      {
                        "intervalStart": "2026-02-22T00:00:00+00:00",
                        "intervalEnd": "2026-02-23T00:00:00+00:00",
                        "activeCustomers": 12,
                        "newCustomers": 9,
                        "returningCustomers": 3
                      },
                      {
                        "intervalStart": "2026-02-23T00:00:00+00:00",
                        "intervalEnd": "2026-02-24T00:00:00+00:00",
                        "activeCustomers": 44,
                        "newCustomers": 5,
                        "returningCustomers": 39
                      },
                      {
                        "intervalStart": "2026-02-24T00:00:00+00:00",
                        "intervalEnd": "2026-02-25T00:00:00+00:00",
                        "activeCustomers": 22,
                        "newCustomers": 16,
                        "returningCustomers": 6
                      },
                      {
                        "intervalStart": "2026-02-25T00:00:00+00:00",
                        "intervalEnd": "2026-02-26T00:00:00+00:00",
                        "activeCustomers": 84,
                        "newCustomers": 17,
                        "returningCustomers": 67
                      },
                      {
                        "intervalStart": "2026-02-26T00:00:00+00:00",
                        "intervalEnd": "2026-02-27T00:00:00+00:00",
                        "activeCustomers": 68,
                        "newCustomers": 53,
                        "returningCustomers": 15
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-02-20T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-02-27T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 294
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 144
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": 150
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-02-20T00:00:00+00:00",
                          "intervalEnd": "2026-02-21T00:00:00+00:00",
                          "activeCustomers": 10,
                          "newCustomers": 6,
                          "returningCustomers": 4
                        },
                        {
                          "intervalStart": "2026-02-21T00:00:00+00:00",
                          "intervalEnd": "2026-02-22T00:00:00+00:00",
                          "activeCustomers": 90,
                          "newCustomers": 38,
                          "returningCustomers": 52
                        },
                        {
                          "intervalStart": "2026-02-22T00:00:00+00:00",
                          "intervalEnd": "2026-02-23T00:00:00+00:00",
                          "activeCustomers": 12,
                          "newCustomers": 9,
                          "returningCustomers": 3
                        },
                        {
                          "intervalStart": "2026-02-23T00:00:00+00:00",
                          "intervalEnd": "2026-02-24T00:00:00+00:00",
                          "activeCustomers": 44,
                          "newCustomers": 5,
                          "returningCustomers": 39
                        },
                        {
                          "intervalStart": "2026-02-24T00:00:00+00:00",
                          "intervalEnd": "2026-02-25T00:00:00+00:00",
                          "activeCustomers": 22,
                          "newCustomers": 16,
                          "returningCustomers": 6
                        },
                        {
                          "intervalStart": "2026-02-25T00:00:00+00:00",
                          "intervalEnd": "2026-02-26T00:00:00+00:00",
                          "activeCustomers": 84,
                          "newCustomers": 17,
                          "returningCustomers": 67
                        },
                        {
                          "intervalStart": "2026-02-26T00:00:00+00:00",
                          "intervalEnd": "2026-02-27T00:00:00+00:00",
                          "activeCustomers": 68,
                          "newCustomers": 53,
                          "returningCustomers": 15
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-02-20T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-02-21T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 10
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 6
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 4
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-02-20T00:00:00+00:00",
                    "periodEnd": "2026-02-27T00:00:00+00:00",
                    "totalTransactions": 2883,
                    "authorizeTransactions": 197,
                    "captureTransactions": 239,
                    "payTransactions": 1826,
                    "refundTransactions": 219,
                    "verifyTransactions": 194,
                    "voidTransactions": 208,
                    "successfulTransactions": 2590,
                    "failedTransactions": 207,
                    "declinedTransactions": 69,
                    "pendingTransactions": 17,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-02-20T00:00:00+00:00",
                        "intervalEnd": "2026-02-21T00:00:00+00:00",
                        "totalTransactions": 103,
                        "authorizeTransactions": 10,
                        "captureTransactions": 13,
                        "payTransactions": 59,
                        "refundTransactions": 7,
                        "verifyTransactions": 5,
                        "voidTransactions": 9,
                        "successfulTransactions": 92,
                        "failedTransactions": 8,
                        "declinedTransactions": 2,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-02-21T00:00:00+00:00",
                        "intervalEnd": "2026-02-22T00:00:00+00:00",
                        "totalTransactions": 213,
                        "authorizeTransactions": 13,
                        "captureTransactions": 23,
                        "payTransactions": 21,
                        "refundTransactions": 15,
                        "verifyTransactions": 14,
                        "voidTransactions": 127,
                        "successfulTransactions": 191,
                        "failedTransactions": 20,
                        "declinedTransactions": 1,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-02-22T00:00:00+00:00",
                        "intervalEnd": "2026-02-23T00:00:00+00:00",
                        "totalTransactions": 831,
                        "authorizeTransactions": 72,
                        "captureTransactions": 75,
                        "payTransactions": 656,
                        "refundTransactions": 6,
                        "verifyTransactions": 9,
                        "voidTransactions": 13,
                        "successfulTransactions": 747,
                        "failedTransactions": 64,
                        "declinedTransactions": 15,
                        "pendingTransactions": 5,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-02-23T00:00:00+00:00",
                        "intervalEnd": "2026-02-24T00:00:00+00:00",
                        "totalTransactions": 585,
                        "authorizeTransactions": 15,
                        "captureTransactions": 20,
                        "payTransactions": 380,
                        "refundTransactions": 107,
                        "verifyTransactions": 41,
                        "voidTransactions": 22,
                        "successfulTransactions": 526,
                        "failedTransactions": 49,
                        "declinedTransactions": 8,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-02-24T00:00:00+00:00",
                        "intervalEnd": "2026-02-25T00:00:00+00:00",
                        "totalTransactions": 211,
                        "authorizeTransactions": 20,
                        "captureTransactions": 29,
                        "payTransactions": 73,
                        "refundTransactions": 61,
                        "verifyTransactions": 10,
                        "voidTransactions": 18,
                        "successfulTransactions": 189,
                        "failedTransactions": 18,
                        "declinedTransactions": 3,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-02-25T00:00:00+00:00",
                        "intervalEnd": "2026-02-26T00:00:00+00:00",
                        "totalTransactions": 116,
                        "authorizeTransactions": 12,
                        "captureTransactions": 22,
                        "payTransactions": 58,
                        "refundTransactions": 16,
                        "verifyTransactions": 8,
                        "voidTransactions": 0,
                        "successfulTransactions": 104,
                        "failedTransactions": 8,
                        "declinedTransactions": 3,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-02-26T00:00:00+00:00",
                        "intervalEnd": "2026-02-27T00:00:00+00:00",
                        "totalTransactions": 824,
                        "authorizeTransactions": 55,
                        "captureTransactions": 57,
                        "payTransactions": 579,
                        "refundTransactions": 7,
                        "verifyTransactions": 107,
                        "voidTransactions": 19,
                        "successfulTransactions": 741,
                        "failedTransactions": 40,
                        "declinedTransactions": 37,
                        "pendingTransactions": 6,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-02-20T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-02-27T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 2883
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 197
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 239
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 1826
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 219
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 194
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 208
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 2590
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 207
                    },
                    "declinedTransactions": {
                      "type": "integer",
                      "example": 69
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 17
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-02-20T00:00:00+00:00",
                          "intervalEnd": "2026-02-21T00:00:00+00:00",
                          "totalTransactions": 103,
                          "authorizeTransactions": 10,
                          "captureTransactions": 13,
                          "payTransactions": 59,
                          "refundTransactions": 7,
                          "verifyTransactions": 5,
                          "voidTransactions": 9,
                          "successfulTransactions": 92,
                          "failedTransactions": 8,
                          "declinedTransactions": 2,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-02-21T00:00:00+00:00",
                          "intervalEnd": "2026-02-22T00:00:00+00:00",
                          "totalTransactions": 213,
                          "authorizeTransactions": 13,
                          "captureTransactions": 23,
                          "payTransactions": 21,
                          "refundTransactions": 15,
                          "verifyTransactions": 14,
                          "voidTransactions": 127,
                          "successfulTransactions": 191,
                          "failedTransactions": 20,
                          "declinedTransactions": 1,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-02-22T00:00:00+00:00",
                          "intervalEnd": "2026-02-23T00:00:00+00:00",
                          "totalTransactions": 831,
                          "authorizeTransactions": 72,
                          "captureTransactions": 75,
                          "payTransactions": 656,
                          "refundTransactions": 6,
                          "verifyTransactions": 9,
                          "voidTransactions": 13,
                          "successfulTransactions": 747,
                          "failedTransactions": 64,
                          "declinedTransactions": 15,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-02-23T00:00:00+00:00",
                          "intervalEnd": "2026-02-24T00:00:00+00:00",
                          "totalTransactions": 585,
                          "authorizeTransactions": 15,
                          "captureTransactions": 20,
                          "payTransactions": 380,
                          "refundTransactions": 107,
                          "verifyTransactions": 41,
                          "voidTransactions": 22,
                          "successfulTransactions": 526,
                          "failedTransactions": 49,
                          "declinedTransactions": 8,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-02-24T00:00:00+00:00",
                          "intervalEnd": "2026-02-25T00:00:00+00:00",
                          "totalTransactions": 211,
                          "authorizeTransactions": 20,
                          "captureTransactions": 29,
                          "payTransactions": 73,
                          "refundTransactions": 61,
                          "verifyTransactions": 10,
                          "voidTransactions": 18,
                          "successfulTransactions": 189,
                          "failedTransactions": 18,
                          "declinedTransactions": 3,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-02-25T00:00:00+00:00",
                          "intervalEnd": "2026-02-26T00:00:00+00:00",
                          "totalTransactions": 116,
                          "authorizeTransactions": 12,
                          "captureTransactions": 22,
                          "payTransactions": 58,
                          "refundTransactions": 16,
                          "verifyTransactions": 8,
                          "voidTransactions": 0,
                          "successfulTransactions": 104,
                          "failedTransactions": 8,
                          "declinedTransactions": 3,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-02-26T00:00:00+00:00",
                          "intervalEnd": "2026-02-27T00:00:00+00:00",
                          "totalTransactions": 824,
                          "authorizeTransactions": 55,
                          "captureTransactions": 57,
                          "payTransactions": 579,
                          "refundTransactions": 7,
                          "verifyTransactions": 107,
                          "voidTransactions": 19,
                          "successfulTransactions": 741,
                          "failedTransactions": 40,
                          "declinedTransactions": 37,
                          "pendingTransactions": 6,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-02-20T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-02-21T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 103
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 10
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 13
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 59
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 7
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 5
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": 9
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 92
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 8
                          },
                          "declinedTransactions": {
                            "type": "integer",
                            "example": 2
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 1
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-02-20T00:00:00+00:00",
                    "periodEnd": "2026-02-27T00:00:00+00:00",
                    "totalSettlementAmount": 36736.69,
                    "totalFeeAmount": 1800.09781,
                    "totalNetAmount": 34936.59219,
                    "totalTransactionsPending": 194,
                    "totalTransactionsSettled": 1005,
                    "totalTransactionsSettling": 637,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-02-20T00:00:00+00:00",
                        "intervalEnd": "2026-02-21T00:00:00+00:00",
                        "totalSettlementAmount": 4115.53,
                        "totalFeeAmount": 201.66097,
                        "totalNetAmount": 3913.86903,
                        "totalTransactionsPending": 31,
                        "totalTransactionsSettled": 32,
                        "totalTransactionsSettling": 46
                      },
                      {
                        "intervalStart": "2026-02-21T00:00:00+00:00",
                        "intervalEnd": "2026-02-22T00:00:00+00:00",
                        "totalSettlementAmount": 6392.61,
                        "totalFeeAmount": 313.23789,
                        "totalNetAmount": 6079.37211,
                        "totalTransactionsPending": 21,
                        "totalTransactionsSettled": 312,
                        "totalTransactionsSettling": 20
                      },
                      {
                        "intervalStart": "2026-02-22T00:00:00+00:00",
                        "intervalEnd": "2026-02-23T00:00:00+00:00",
                        "totalSettlementAmount": 9049.49,
                        "totalFeeAmount": 443.42501,
                        "totalNetAmount": 8606.06499,
                        "totalTransactionsPending": 30,
                        "totalTransactionsSettled": 74,
                        "totalTransactionsSettling": 106
                      },
                      {
                        "intervalStart": "2026-02-23T00:00:00+00:00",
                        "intervalEnd": "2026-02-24T00:00:00+00:00",
                        "totalSettlementAmount": 6841.99,
                        "totalFeeAmount": 335.25751,
                        "totalNetAmount": 6506.73249,
                        "totalTransactionsPending": 24,
                        "totalTransactionsSettled": 123,
                        "totalTransactionsSettling": 123
                      },
                      {
                        "intervalStart": "2026-02-24T00:00:00+00:00",
                        "intervalEnd": "2026-02-25T00:00:00+00:00",
                        "totalSettlementAmount": 1785.78,
                        "totalFeeAmount": 87.50322,
                        "totalNetAmount": 1698.27678,
                        "totalTransactionsPending": 32,
                        "totalTransactionsSettled": 211,
                        "totalTransactionsSettling": 227
                      },
                      {
                        "intervalStart": "2026-02-25T00:00:00+00:00",
                        "intervalEnd": "2026-02-26T00:00:00+00:00",
                        "totalSettlementAmount": 2035.97,
                        "totalFeeAmount": 99.76253,
                        "totalNetAmount": 1936.20747,
                        "totalTransactionsPending": 34,
                        "totalTransactionsSettled": 210,
                        "totalTransactionsSettling": 44
                      },
                      {
                        "intervalStart": "2026-02-26T00:00:00+00:00",
                        "intervalEnd": "2026-02-27T00:00:00+00:00",
                        "totalSettlementAmount": 6515.32,
                        "totalFeeAmount": 319.25068,
                        "totalNetAmount": 6196.06932,
                        "totalTransactionsPending": 22,
                        "totalTransactionsSettled": 43,
                        "totalTransactionsSettling": 71
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-02-20T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-02-27T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 36736.69
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 1800.09781
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 34936.59219
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 194
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 1005
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 637
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-02-20T00:00:00+00:00",
                          "intervalEnd": "2026-02-21T00:00:00+00:00",
                          "totalSettlementAmount": 4115.53,
                          "totalFeeAmount": 201.66097,
                          "totalNetAmount": 3913.86903,
                          "totalTransactionsPending": 31,
                          "totalTransactionsSettled": 32,
                          "totalTransactionsSettling": 46
                        },
                        {
                          "intervalStart": "2026-02-21T00:00:00+00:00",
                          "intervalEnd": "2026-02-22T00:00:00+00:00",
                          "totalSettlementAmount": 6392.61,
                          "totalFeeAmount": 313.23789,
                          "totalNetAmount": 6079.37211,
                          "totalTransactionsPending": 21,
                          "totalTransactionsSettled": 312,
                          "totalTransactionsSettling": 20
                        },
                        {
                          "intervalStart": "2026-02-22T00:00:00+00:00",
                          "intervalEnd": "2026-02-23T00:00:00+00:00",
                          "totalSettlementAmount": 9049.49,
                          "totalFeeAmount": 443.42501,
                          "totalNetAmount": 8606.06499,
                          "totalTransactionsPending": 30,
                          "totalTransactionsSettled": 74,
                          "totalTransactionsSettling": 106
                        },
                        {
                          "intervalStart": "2026-02-23T00:00:00+00:00",
                          "intervalEnd": "2026-02-24T00:00:00+00:00",
                          "totalSettlementAmount": 6841.99,
                          "totalFeeAmount": 335.25751,
                          "totalNetAmount": 6506.73249,
                          "totalTransactionsPending": 24,
                          "totalTransactionsSettled": 123,
                          "totalTransactionsSettling": 123
                        },
                        {
                          "intervalStart": "2026-02-24T00:00:00+00:00",
                          "intervalEnd": "2026-02-25T00:00:00+00:00",
                          "totalSettlementAmount": 1785.78,
                          "totalFeeAmount": 87.50322,
                          "totalNetAmount": 1698.27678,
                          "totalTransactionsPending": 32,
                          "totalTransactionsSettled": 211,
                          "totalTransactionsSettling": 227
                        },
                        {
                          "intervalStart": "2026-02-25T00:00:00+00:00",
                          "intervalEnd": "2026-02-26T00:00:00+00:00",
                          "totalSettlementAmount": 2035.97,
                          "totalFeeAmount": 99.76253,
                          "totalNetAmount": 1936.20747,
                          "totalTransactionsPending": 34,
                          "totalTransactionsSettled": 210,
                          "totalTransactionsSettling": 44
                        },
                        {
                          "intervalStart": "2026-02-26T00:00:00+00:00",
                          "intervalEnd": "2026-02-27T00:00:00+00:00",
                          "totalSettlementAmount": 6515.32,
                          "totalFeeAmount": 319.25068,
                          "totalNetAmount": 6196.06932,
                          "totalTransactionsPending": 22,
                          "totalTransactionsSettled": 43,
                          "totalTransactionsSettling": 71
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-02-20T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-02-21T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 4115.53
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 201.66097
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 3913.86903
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 31
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 32
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 46
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 6,
                    "data": [
                      {
                        "email": "huels.laurianne@hotmail.com",
                        "firstName": "Estell",
                        "lastName": "Hansen",
                        "phone": "+17752260505",
                        "dateOfBirth": "1979-10-12"
                      },
                      {
                        "email": "nathanial80@yahoo.com",
                        "firstName": "Garrett",
                        "lastName": "Wuckert",
                        "phone": "+18438182945",
                        "dateOfBirth": "1986-03-06"
                      },
                      {
                        "email": "ukohler@champlin.net",
                        "firstName": "Amira",
                        "lastName": "Murazik",
                        "phone": "+13523675662",
                        "dateOfBirth": "1979-08-19"
                      },
                      {
                        "email": "fberge@hotmail.com",
                        "firstName": "Audra",
                        "lastName": "Reilly",
                        "phone": "+19898039375",
                        "dateOfBirth": "1975-10-08"
                      },
                      {
                        "email": "lorenzo.miller@lehner.biz",
                        "firstName": "Luigi",
                        "lastName": "Skiles",
                        "phone": "+13514368063",
                        "dateOfBirth": "1977-01-11"
                      },
                      {
                        "email": "sammy.smitham@hotmail.com",
                        "firstName": "Kaley",
                        "lastName": "Schroeder",
                        "phone": "+17579748984",
                        "dateOfBirth": "1993-01-14"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 6,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "huels.laurianne@hotmail.com",
                          "firstName": "Estell",
                          "lastName": "Hansen",
                          "phone": "+17752260505",
                          "dateOfBirth": "1979-10-12"
                        },
                        {
                          "email": "nathanial80@yahoo.com",
                          "firstName": "Garrett",
                          "lastName": "Wuckert",
                          "phone": "+18438182945",
                          "dateOfBirth": "1986-03-06"
                        },
                        {
                          "email": "ukohler@champlin.net",
                          "firstName": "Amira",
                          "lastName": "Murazik",
                          "phone": "+13523675662",
                          "dateOfBirth": "1979-08-19"
                        },
                        {
                          "email": "fberge@hotmail.com",
                          "firstName": "Audra",
                          "lastName": "Reilly",
                          "phone": "+19898039375",
                          "dateOfBirth": "1975-10-08"
                        },
                        {
                          "email": "lorenzo.miller@lehner.biz",
                          "firstName": "Luigi",
                          "lastName": "Skiles",
                          "phone": "+13514368063",
                          "dateOfBirth": "1977-01-11"
                        },
                        {
                          "email": "sammy.smitham@hotmail.com",
                          "firstName": "Kaley",
                          "lastName": "Schroeder",
                          "phone": "+17579748984",
                          "dateOfBirth": "1993-01-14"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "huels.laurianne@hotmail.com"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Estell"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Hansen"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+17752260505"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "1979-10-12"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers/{customerIdOrEmail}/addresses": {
      "get": {
        "summary": "List Customer Billing Addresses",
        "operationId": "listCustomerBillingAddresses",
        "description": "Returns all unique billing addresses that have been used by a customer across their payments.\nAddresses are deduplicated using case-insensitive and whitespace-insensitive comparison.",
        "parameters": [
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
            "example": "-city",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
              "example": "-city",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of unique billing addresses for the customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "company": "Koss Ltd",
                        "street": "9741 Allie Springs",
                        "city": "Howellfurt",
                        "stateProvince": "VA",
                        "postcodeZip": "54168-7995",
                        "country": "USA"
                      },
                      {
                        "company": "Kub, Gottlieb and Kiehn",
                        "street": "5422 Octavia Crescent Apt. 606",
                        "city": "South Aprilfurt",
                        "stateProvince": "NH",
                        "postcodeZip": "61047-3220",
                        "country": "USA"
                      },
                      {
                        "company": "Pfannerstill, Abernathy and Gutmann",
                        "street": "685 Dach Lake Suite 938",
                        "city": "Kuhlmanmouth",
                        "stateProvince": "IA",
                        "postcodeZip": "65213-7043",
                        "country": "USA"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "company": "Koss Ltd",
                          "street": "9741 Allie Springs",
                          "city": "Howellfurt",
                          "stateProvince": "VA",
                          "postcodeZip": "54168-7995",
                          "country": "USA"
                        },
                        {
                          "company": "Kub, Gottlieb and Kiehn",
                          "street": "5422 Octavia Crescent Apt. 606",
                          "city": "South Aprilfurt",
                          "stateProvince": "NH",
                          "postcodeZip": "61047-3220",
                          "country": "USA"
                        },
                        {
                          "company": "Pfannerstill, Abernathy and Gutmann",
                          "street": "685 Dach Lake Suite 938",
                          "city": "Kuhlmanmouth",
                          "stateProvince": "IA",
                          "postcodeZip": "65213-7043",
                          "country": "USA"
                        }
                      ],
                      "description": "The data returned from the request",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "company": {
                            "type": "string",
                            "example": "Koss Ltd"
                          },
                          "street": {
                            "type": "string",
                            "example": "9741 Allie Springs"
                          },
                          "city": {
                            "type": "string",
                            "example": "Howellfurt"
                          },
                          "stateProvince": {
                            "type": "string",
                            "example": "VA"
                          },
                          "postcodeZip": {
                            "type": "string",
                            "example": "54168-7995"
                          },
                          "country": {
                            "type": "string",
                            "example": "USA"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "path",
          "name": "customerIdOrEmail",
          "description": "The customer ID, UUID, or email address",
          "example": "customer_123",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/exports": {
      "get": {
        "summary": "List Exports for Organization",
        "operationId": "listExportsForOrganization",
        "description": "Retrieve a list of exports for the organization with filtering, sorting, and pagination support.",
        "parameters": [
          {
            "in": "query",
            "name": "filter[type]",
            "description": "Filter by export type: TRANSACTION, MONTHLY_STATEMENT",
            "example": "TRANSACTION",
            "required": true,
            "schema": {
              "type": "string",
[...]
