{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.53.0"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-14T00:00:00+00:00",
                    "periodEnd": "2026-03-21T00:00:00+00:00",
                    "numPaymentsCreated": 4127,
                    "numPaymentsProcessed": 2356,
                    "numPaymentsIncomplete": 1771,
                    "numPaymentsWithRefunds": 1369,
                    "numCardPresentPayments": 1603,
                    "numCardNotPresentPayments": 168,
                    "totalCapturedAmount": 4673637.34,
                    "totalRefundedAmount": 1035659.91,
                    "totalNetCapturedAmount": 3637977.43,
                    "averageNetCapturedAmount": 3042.1714285714,
                    "minNetCapturedAmount": 10.73,
                    "maxNetCapturedAmount": 9338.93,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-14T00:00:00+00:00",
                        "intervalEnd": "2026-03-15T00:00:00+00:00",
                        "numPaymentsCreated": 105,
                        "numPaymentsProcessed": 91,
                        "numPaymentsIncomplete": 14,
                        "numPaymentsWithRefunds": 7,
                        "numCardPresentPayments": 88,
                        "numCardNotPresentPayments": -74,
                        "totalCapturedAmount": 968091.71,
                        "totalRefundedAmount": 261867.32,
                        "totalNetCapturedAmount": 706224.39,
                        "averageNetCapturedAmount": 7760.71,
                        "minNetCapturedAmount": 88.95,
                        "maxNetCapturedAmount": 9338.93
                      },
                      {
                        "intervalStart": "2026-03-15T00:00:00+00:00",
                        "intervalEnd": "2026-03-16T00:00:00+00:00",
                        "numPaymentsCreated": 848,
                        "numPaymentsProcessed": 138,
                        "numPaymentsIncomplete": 710,
                        "numPaymentsWithRefunds": 34,
                        "numCardPresentPayments": 39,
                        "numCardNotPresentPayments": 671,
                        "totalCapturedAmount": 889111.4,
                        "totalRefundedAmount": 55795.66,
                        "totalNetCapturedAmount": 833315.74,
                        "averageNetCapturedAmount": 6038.52,
                        "minNetCapturedAmount": 96.98,
                        "maxNetCapturedAmount": 2355.77
                      },
                      {
                        "intervalStart": "2026-03-16T00:00:00+00:00",
                        "intervalEnd": "2026-03-17T00:00:00+00:00",
                        "numPaymentsCreated": 250,
                        "numPaymentsProcessed": 220,
                        "numPaymentsIncomplete": 30,
                        "numPaymentsWithRefunds": 60,
                        "numCardPresentPayments": 124,
                        "numCardNotPresentPayments": -94,
                        "totalCapturedAmount": 597874.26,
                        "totalRefundedAmount": 147710.59,
                        "totalNetCapturedAmount": 450163.67,
                        "averageNetCapturedAmount": 2046.2,
                        "minNetCapturedAmount": 74.29,
                        "maxNetCapturedAmount": 5891.88
                      },
                      {
                        "intervalStart": "2026-03-17T00:00:00+00:00",
                        "intervalEnd": "2026-03-18T00:00:00+00:00",
                        "numPaymentsCreated": 755,
                        "numPaymentsProcessed": 128,
                        "numPaymentsIncomplete": 627,
                        "numPaymentsWithRefunds": 84,
                        "numCardPresentPayments": 87,
                        "numCardNotPresentPayments": 540,
                        "totalCapturedAmount": 626913.25,
                        "totalRefundedAmount": 163826.18,
                        "totalNetCapturedAmount": 463087.07,
                        "averageNetCapturedAmount": 3617.87,
                        "minNetCapturedAmount": 10.73,
                        "maxNetCapturedAmount": 6949.39
                      },
                      {
                        "intervalStart": "2026-03-18T00:00:00+00:00",
                        "intervalEnd": "2026-03-19T00:00:00+00:00",
                        "numPaymentsCreated": 826,
                        "numPaymentsProcessed": 788,
                        "numPaymentsIncomplete": 38,
                        "numPaymentsWithRefunds": 786,
                        "numCardPresentPayments": 723,
                        "numCardNotPresentPayments": -685,
                        "totalCapturedAmount": 862178.32,
                        "totalRefundedAmount": 206693.18,
                        "totalNetCapturedAmount": 655485.14,
                        "averageNetCapturedAmount": 831.83,
                        "minNetCapturedAmount": 68.83,
                        "maxNetCapturedAmount": 3992.71
                      },
                      {
                        "intervalStart": "2026-03-19T00:00:00+00:00",
                        "intervalEnd": "2026-03-20T00:00:00+00:00",
                        "numPaymentsCreated": 760,
                        "numPaymentsProcessed": 445,
                        "numPaymentsIncomplete": 315,
                        "numPaymentsWithRefunds": 87,
                        "numCardPresentPayments": 412,
                        "numCardNotPresentPayments": -97,
                        "totalCapturedAmount": 76861.46,
                        "totalRefundedAmount": 4886.48,
                        "totalNetCapturedAmount": 71974.98,
                        "averageNetCapturedAmount": 161.74,
                        "minNetCapturedAmount": 54.57,
                        "maxNetCapturedAmount": 1967.36
                      },
                      {
                        "intervalStart": "2026-03-20T00:00:00+00:00",
                        "intervalEnd": "2026-03-21T00:00:00+00:00",
                        "numPaymentsCreated": 583,
                        "numPaymentsProcessed": 546,
                        "numPaymentsIncomplete": 37,
                        "numPaymentsWithRefunds": 311,
                        "numCardPresentPayments": 130,
                        "numCardNotPresentPayments": -93,
                        "totalCapturedAmount": 652606.94,
                        "totalRefundedAmount": 194880.5,
                        "totalNetCapturedAmount": 457726.44,
                        "averageNetCapturedAmount": 838.33,
                        "minNetCapturedAmount": 62.84,
                        "maxNetCapturedAmount": 9058.68
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-14T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-21T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 4127
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 2356
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 1771
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 1369
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 1603
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": 168
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 4673637.34
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 1035659.91
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 3637977.43
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 3042.1714285714
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 10.73
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 9338.93
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-14T00:00:00+00:00",
                          "intervalEnd": "2026-03-15T00:00:00+00:00",
                          "numPaymentsCreated": 105,
                          "numPaymentsProcessed": 91,
                          "numPaymentsIncomplete": 14,
                          "numPaymentsWithRefunds": 7,
                          "numCardPresentPayments": 88,
                          "numCardNotPresentPayments": -74,
                          "totalCapturedAmount": 968091.71,
                          "totalRefundedAmount": 261867.32,
                          "totalNetCapturedAmount": 706224.39,
                          "averageNetCapturedAmount": 7760.71,
                          "minNetCapturedAmount": 88.95,
                          "maxNetCapturedAmount": 9338.93
                        },
                        {
                          "intervalStart": "2026-03-15T00:00:00+00:00",
                          "intervalEnd": "2026-03-16T00:00:00+00:00",
                          "numPaymentsCreated": 848,
                          "numPaymentsProcessed": 138,
                          "numPaymentsIncomplete": 710,
                          "numPaymentsWithRefunds": 34,
                          "numCardPresentPayments": 39,
                          "numCardNotPresentPayments": 671,
                          "totalCapturedAmount": 889111.4,
                          "totalRefundedAmount": 55795.66,
                          "totalNetCapturedAmount": 833315.74,
                          "averageNetCapturedAmount": 6038.52,
                          "minNetCapturedAmount": 96.98,
                          "maxNetCapturedAmount": 2355.77
                        },
                        {
                          "intervalStart": "2026-03-16T00:00:00+00:00",
                          "intervalEnd": "2026-03-17T00:00:00+00:00",
                          "numPaymentsCreated": 250,
                          "numPaymentsProcessed": 220,
                          "numPaymentsIncomplete": 30,
                          "numPaymentsWithRefunds": 60,
                          "numCardPresentPayments": 124,
                          "numCardNotPresentPayments": -94,
                          "totalCapturedAmount": 597874.26,
                          "totalRefundedAmount": 147710.59,
                          "totalNetCapturedAmount": 450163.67,
                          "averageNetCapturedAmount": 2046.2,
                          "minNetCapturedAmount": 74.29,
                          "maxNetCapturedAmount": 5891.88
                        },
                        {
                          "intervalStart": "2026-03-17T00:00:00+00:00",
                          "intervalEnd": "2026-03-18T00:00:00+00:00",
                          "numPaymentsCreated": 755,
                          "numPaymentsProcessed": 128,
                          "numPaymentsIncomplete": 627,
                          "numPaymentsWithRefunds": 84,
                          "numCardPresentPayments": 87,
                          "numCardNotPresentPayments": 540,
                          "totalCapturedAmount": 626913.25,
                          "totalRefundedAmount": 163826.18,
                          "totalNetCapturedAmount": 463087.07,
                          "averageNetCapturedAmount": 3617.87,
                          "minNetCapturedAmount": 10.73,
                          "maxNetCapturedAmount": 6949.39
                        },
                        {
                          "intervalStart": "2026-03-18T00:00:00+00:00",
                          "intervalEnd": "2026-03-19T00:00:00+00:00",
                          "numPaymentsCreated": 826,
                          "numPaymentsProcessed": 788,
                          "numPaymentsIncomplete": 38,
                          "numPaymentsWithRefunds": 786,
                          "numCardPresentPayments": 723,
                          "numCardNotPresentPayments": -685,
                          "totalCapturedAmount": 862178.32,
                          "totalRefundedAmount": 206693.18,
                          "totalNetCapturedAmount": 655485.14,
                          "averageNetCapturedAmount": 831.83,
                          "minNetCapturedAmount": 68.83,
                          "maxNetCapturedAmount": 3992.71
                        },
                        {
                          "intervalStart": "2026-03-19T00:00:00+00:00",
                          "intervalEnd": "2026-03-20T00:00:00+00:00",
                          "numPaymentsCreated": 760,
                          "numPaymentsProcessed": 445,
                          "numPaymentsIncomplete": 315,
                          "numPaymentsWithRefunds": 87,
                          "numCardPresentPayments": 412,
                          "numCardNotPresentPayments": -97,
                          "totalCapturedAmount": 76861.46,
                          "totalRefundedAmount": 4886.48,
                          "totalNetCapturedAmount": 71974.98,
                          "averageNetCapturedAmount": 161.74,
                          "minNetCapturedAmount": 54.57,
                          "maxNetCapturedAmount": 1967.36
                        },
                        {
                          "intervalStart": "2026-03-20T00:00:00+00:00",
                          "intervalEnd": "2026-03-21T00:00:00+00:00",
                          "numPaymentsCreated": 583,
                          "numPaymentsProcessed": 546,
                          "numPaymentsIncomplete": 37,
                          "numPaymentsWithRefunds": 311,
                          "numCardPresentPayments": 130,
                          "numCardNotPresentPayments": -93,
                          "totalCapturedAmount": 652606.94,
                          "totalRefundedAmount": 194880.5,
                          "totalNetCapturedAmount": 457726.44,
                          "averageNetCapturedAmount": 838.33,
                          "minNetCapturedAmount": 62.84,
                          "maxNetCapturedAmount": 9058.68
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-14T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-15T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 105
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 91
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 14
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 7
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 88
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": -74
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 968091.71
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 261867.32
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 706224.39
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 7760.71
                          },
                          "minNetCapturedAmount": {
                            "type": "number",
                            "example": 88.95
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 9338.93
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-14T00:00:00+00:00",
                    "periodEnd": "2026-03-21T00:00:00+00:00",
                    "activeCustomers": 294,
                    "newCustomers": 204,
                    "returningCustomers": 90,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-14T00:00:00+00:00",
                        "intervalEnd": "2026-03-15T00:00:00+00:00",
                        "activeCustomers": 16,
                        "newCustomers": 8,
                        "returningCustomers": 8
                      },
                      {
                        "intervalStart": "2026-03-15T00:00:00+00:00",
                        "intervalEnd": "2026-03-16T00:00:00+00:00",
                        "activeCustomers": 17,
                        "newCustomers": 14,
                        "returningCustomers": 3
                      },
                      {
                        "intervalStart": "2026-03-16T00:00:00+00:00",
                        "intervalEnd": "2026-03-17T00:00:00+00:00",
                        "activeCustomers": 69,
                        "newCustomers": 31,
                        "returningCustomers": 38
                      },
                      {
                        "intervalStart": "2026-03-17T00:00:00+00:00",
                        "intervalEnd": "2026-03-18T00:00:00+00:00",
                        "activeCustomers": 80,
                        "newCustomers": 29,
                        "returningCustomers": 51
                      },
                      {
                        "intervalStart": "2026-03-18T00:00:00+00:00",
                        "intervalEnd": "2026-03-19T00:00:00+00:00",
                        "activeCustomers": 84,
                        "newCustomers": 67,
                        "returningCustomers": 17
                      },
                      {
                        "intervalStart": "2026-03-19T00:00:00+00:00",
                        "intervalEnd": "2026-03-20T00:00:00+00:00",
                        "activeCustomers": 67,
                        "newCustomers": 39,
                        "returningCustomers": 28
                      },
                      {
                        "intervalStart": "2026-03-20T00:00:00+00:00",
                        "intervalEnd": "2026-03-21T00:00:00+00:00",
                        "activeCustomers": 38,
                        "newCustomers": 16,
                        "returningCustomers": 22
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-14T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-21T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 294
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 204
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": 90
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-14T00:00:00+00:00",
                          "intervalEnd": "2026-03-15T00:00:00+00:00",
                          "activeCustomers": 16,
                          "newCustomers": 8,
                          "returningCustomers": 8
                        },
                        {
                          "intervalStart": "2026-03-15T00:00:00+00:00",
                          "intervalEnd": "2026-03-16T00:00:00+00:00",
                          "activeCustomers": 17,
                          "newCustomers": 14,
                          "returningCustomers": 3
                        },
                        {
                          "intervalStart": "2026-03-16T00:00:00+00:00",
                          "intervalEnd": "2026-03-17T00:00:00+00:00",
                          "activeCustomers": 69,
                          "newCustomers": 31,
                          "returningCustomers": 38
                        },
                        {
                          "intervalStart": "2026-03-17T00:00:00+00:00",
                          "intervalEnd": "2026-03-18T00:00:00+00:00",
                          "activeCustomers": 80,
                          "newCustomers": 29,
                          "returningCustomers": 51
                        },
                        {
                          "intervalStart": "2026-03-18T00:00:00+00:00",
                          "intervalEnd": "2026-03-19T00:00:00+00:00",
                          "activeCustomers": 84,
                          "newCustomers": 67,
                          "returningCustomers": 17
                        },
                        {
                          "intervalStart": "2026-03-19T00:00:00+00:00",
                          "intervalEnd": "2026-03-20T00:00:00+00:00",
                          "activeCustomers": 67,
                          "newCustomers": 39,
                          "returningCustomers": 28
                        },
                        {
                          "intervalStart": "2026-03-20T00:00:00+00:00",
                          "intervalEnd": "2026-03-21T00:00:00+00:00",
                          "activeCustomers": 38,
                          "newCustomers": 16,
                          "returningCustomers": 22
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-14T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-15T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 16
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 8
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 8
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-14T00:00:00+00:00",
                    "periodEnd": "2026-03-21T00:00:00+00:00",
                    "totalTransactions": 4996,
                    "authorizeTransactions": 380,
                    "captureTransactions": 406,
                    "payTransactions": 1889,
                    "refundTransactions": 1173,
                    "verifyTransactions": 646,
                    "voidTransactions": 502,
                    "successfulTransactions": 4493,
                    "failedTransactions": 298,
                    "declinedTransactions": 172,
                    "pendingTransactions": 33,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-14T00:00:00+00:00",
                        "intervalEnd": "2026-03-15T00:00:00+00:00",
                        "totalTransactions": 685,
                        "authorizeTransactions": 67,
                        "captureTransactions": 72,
                        "payTransactions": 373,
                        "refundTransactions": 168,
                        "verifyTransactions": 5,
                        "voidTransactions": 0,
                        "successfulTransactions": 616,
                        "failedTransactions": 48,
                        "declinedTransactions": 15,
                        "pendingTransactions": 6,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-15T00:00:00+00:00",
                        "intervalEnd": "2026-03-16T00:00:00+00:00",
                        "totalTransactions": 831,
                        "authorizeTransactions": 47,
                        "captureTransactions": 57,
                        "payTransactions": 47,
                        "refundTransactions": 264,
                        "verifyTransactions": 178,
                        "voidTransactions": 238,
                        "successfulTransactions": 747,
                        "failedTransactions": 61,
                        "declinedTransactions": 18,
                        "pendingTransactions": 5,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-16T00:00:00+00:00",
                        "intervalEnd": "2026-03-17T00:00:00+00:00",
                        "totalTransactions": 786,
                        "authorizeTransactions": 91,
                        "captureTransactions": 92,
                        "payTransactions": 452,
                        "refundTransactions": 18,
                        "verifyTransactions": 105,
                        "voidTransactions": 28,
                        "successfulTransactions": 707,
                        "failedTransactions": 41,
                        "declinedTransactions": 37,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-17T00:00:00+00:00",
                        "intervalEnd": "2026-03-18T00:00:00+00:00",
                        "totalTransactions": 561,
                        "authorizeTransactions": 40,
                        "captureTransactions": 44,
                        "payTransactions": 367,
                        "refundTransactions": 59,
                        "verifyTransactions": 35,
                        "voidTransactions": 16,
                        "successfulTransactions": 504,
                        "failedTransactions": 30,
                        "declinedTransactions": 22,
                        "pendingTransactions": 5,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-18T00:00:00+00:00",
                        "intervalEnd": "2026-03-19T00:00:00+00:00",
                        "totalTransactions": 349,
                        "authorizeTransactions": 11,
                        "captureTransactions": 15,
                        "payTransactions": 45,
                        "refundTransactions": 41,
                        "verifyTransactions": 84,
                        "voidTransactions": 153,
                        "successfulTransactions": 314,
                        "failedTransactions": 26,
                        "declinedTransactions": 6,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-19T00:00:00+00:00",
                        "intervalEnd": "2026-03-20T00:00:00+00:00",
                        "totalTransactions": 924,
                        "authorizeTransactions": 82,
                        "captureTransactions": 83,
                        "payTransactions": 121,
                        "refundTransactions": 613,
                        "verifyTransactions": 18,
                        "voidTransactions": 7,
                        "successfulTransactions": 831,
                        "failedTransactions": 50,
                        "declinedTransactions": 35,
                        "pendingTransactions": 8,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-20T00:00:00+00:00",
                        "intervalEnd": "2026-03-21T00:00:00+00:00",
                        "totalTransactions": 860,
                        "authorizeTransactions": 42,
                        "captureTransactions": 43,
                        "payTransactions": 484,
                        "refundTransactions": 10,
                        "verifyTransactions": 221,
                        "voidTransactions": 60,
                        "successfulTransactions": 774,
                        "failedTransactions": 42,
                        "declinedTransactions": 39,
                        "pendingTransactions": 5,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-14T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-21T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 4996
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 380
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 406
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 1889
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 1173
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 646
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 502
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 4493
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 298
                    },
                    "declinedTransactions": {
                      "type": "integer",
                      "example": 172
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 33
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-14T00:00:00+00:00",
                          "intervalEnd": "2026-03-15T00:00:00+00:00",
                          "totalTransactions": 685,
                          "authorizeTransactions": 67,
                          "captureTransactions": 72,
                          "payTransactions": 373,
                          "refundTransactions": 168,
                          "verifyTransactions": 5,
                          "voidTransactions": 0,
                          "successfulTransactions": 616,
                          "failedTransactions": 48,
                          "declinedTransactions": 15,
                          "pendingTransactions": 6,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-15T00:00:00+00:00",
                          "intervalEnd": "2026-03-16T00:00:00+00:00",
                          "totalTransactions": 831,
                          "authorizeTransactions": 47,
                          "captureTransactions": 57,
                          "payTransactions": 47,
                          "refundTransactions": 264,
                          "verifyTransactions": 178,
                          "voidTransactions": 238,
                          "successfulTransactions": 747,
                          "failedTransactions": 61,
                          "declinedTransactions": 18,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-16T00:00:00+00:00",
                          "intervalEnd": "2026-03-17T00:00:00+00:00",
                          "totalTransactions": 786,
                          "authorizeTransactions": 91,
                          "captureTransactions": 92,
                          "payTransactions": 452,
                          "refundTransactions": 18,
                          "verifyTransactions": 105,
                          "voidTransactions": 28,
                          "successfulTransactions": 707,
                          "failedTransactions": 41,
                          "declinedTransactions": 37,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-17T00:00:00+00:00",
                          "intervalEnd": "2026-03-18T00:00:00+00:00",
                          "totalTransactions": 561,
                          "authorizeTransactions": 40,
                          "captureTransactions": 44,
                          "payTransactions": 367,
                          "refundTransactions": 59,
                          "verifyTransactions": 35,
                          "voidTransactions": 16,
                          "successfulTransactions": 504,
                          "failedTransactions": 30,
                          "declinedTransactions": 22,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-18T00:00:00+00:00",
                          "intervalEnd": "2026-03-19T00:00:00+00:00",
                          "totalTransactions": 349,
                          "authorizeTransactions": 11,
                          "captureTransactions": 15,
                          "payTransactions": 45,
                          "refundTransactions": 41,
                          "verifyTransactions": 84,
                          "voidTransactions": 153,
                          "successfulTransactions": 314,
                          "failedTransactions": 26,
                          "declinedTransactions": 6,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-19T00:00:00+00:00",
                          "intervalEnd": "2026-03-20T00:00:00+00:00",
                          "totalTransactions": 924,
                          "authorizeTransactions": 82,
                          "captureTransactions": 83,
                          "payTransactions": 121,
                          "refundTransactions": 613,
                          "verifyTransactions": 18,
                          "voidTransactions": 7,
                          "successfulTransactions": 831,
                          "failedTransactions": 50,
                          "declinedTransactions": 35,
                          "pendingTransactions": 8,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-20T00:00:00+00:00",
                          "intervalEnd": "2026-03-21T00:00:00+00:00",
                          "totalTransactions": 860,
                          "authorizeTransactions": 42,
                          "captureTransactions": 43,
                          "payTransactions": 484,
                          "refundTransactions": 10,
                          "verifyTransactions": 221,
                          "voidTransactions": 60,
                          "successfulTransactions": 774,
                          "failedTransactions": 42,
                          "declinedTransactions": 39,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-14T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-15T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 685
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 67
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 72
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 373
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 168
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 5
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": 0
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 616
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 48
                          },
                          "declinedTransactions": {
                            "type": "integer",
                            "example": 15
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 6
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-14T00:00:00+00:00",
                    "periodEnd": "2026-03-21T00:00:00+00:00",
                    "totalSettlementAmount": 46228.78,
                    "totalFeeAmount": 2265.21022,
                    "totalNetAmount": 43963.56978,
                    "totalTransactionsPending": 158,
                    "totalTransactionsSettled": 1250,
                    "totalTransactionsSettling": 769,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-14T00:00:00+00:00",
                        "intervalEnd": "2026-03-15T00:00:00+00:00",
                        "totalSettlementAmount": 4846.93,
                        "totalFeeAmount": 237.49957,
                        "totalNetAmount": 4609.43043,
                        "totalTransactionsPending": 40,
                        "totalTransactionsSettled": 149,
                        "totalTransactionsSettling": 54
                      },
                      {
                        "intervalStart": "2026-03-15T00:00:00+00:00",
                        "intervalEnd": "2026-03-16T00:00:00+00:00",
                        "totalSettlementAmount": 2765.89,
                        "totalFeeAmount": 135.52861,
                        "totalNetAmount": 2630.36139,
                        "totalTransactionsPending": 32,
                        "totalTransactionsSettled": 159,
                        "totalTransactionsSettling": 90
                      },
                      {
                        "intervalStart": "2026-03-16T00:00:00+00:00",
                        "intervalEnd": "2026-03-17T00:00:00+00:00",
                        "totalSettlementAmount": 9394.19,
                        "totalFeeAmount": 460.31531,
                        "totalNetAmount": 8933.87469,
                        "totalTransactionsPending": 32,
                        "totalTransactionsSettled": 414,
                        "totalTransactionsSettling": 25
                      },
                      {
                        "intervalStart": "2026-03-17T00:00:00+00:00",
                        "intervalEnd": "2026-03-18T00:00:00+00:00",
                        "totalSettlementAmount": 6324.98,
                        "totalFeeAmount": 309.92402,
                        "totalNetAmount": 6015.05598,
                        "totalTransactionsPending": 5,
                        "totalTransactionsSettled": 29,
                        "totalTransactionsSettling": 262
                      },
                      {
                        "intervalStart": "2026-03-18T00:00:00+00:00",
                        "intervalEnd": "2026-03-19T00:00:00+00:00",
                        "totalSettlementAmount": 7585.1,
                        "totalFeeAmount": 371.6699,
                        "totalNetAmount": 7213.4301,
                        "totalTransactionsPending": 21,
                        "totalTransactionsSettled": 181,
                        "totalTransactionsSettling": 40
                      },
                      {
                        "intervalStart": "2026-03-19T00:00:00+00:00",
                        "intervalEnd": "2026-03-20T00:00:00+00:00",
                        "totalSettlementAmount": 8335.39,
                        "totalFeeAmount": 408.43411,
                        "totalNetAmount": 7926.95589,
                        "totalTransactionsPending": 21,
                        "totalTransactionsSettled": 145,
                        "totalTransactionsSettling": 103
                      },
                      {
                        "intervalStart": "2026-03-20T00:00:00+00:00",
                        "intervalEnd": "2026-03-21T00:00:00+00:00",
                        "totalSettlementAmount": 6976.3,
                        "totalFeeAmount": 341.8387,
                        "totalNetAmount": 6634.4613,
                        "totalTransactionsPending": 7,
                        "totalTransactionsSettled": 173,
                        "totalTransactionsSettling": 195
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-14T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-21T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 46228.78
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 2265.21022
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 43963.56978
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 158
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 1250
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 769
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-14T00:00:00+00:00",
                          "intervalEnd": "2026-03-15T00:00:00+00:00",
                          "totalSettlementAmount": 4846.93,
                          "totalFeeAmount": 237.49957,
                          "totalNetAmount": 4609.43043,
                          "totalTransactionsPending": 40,
                          "totalTransactionsSettled": 149,
                          "totalTransactionsSettling": 54
                        },
                        {
                          "intervalStart": "2026-03-15T00:00:00+00:00",
                          "intervalEnd": "2026-03-16T00:00:00+00:00",
                          "totalSettlementAmount": 2765.89,
                          "totalFeeAmount": 135.52861,
                          "totalNetAmount": 2630.36139,
                          "totalTransactionsPending": 32,
                          "totalTransactionsSettled": 159,
                          "totalTransactionsSettling": 90
                        },
                        {
                          "intervalStart": "2026-03-16T00:00:00+00:00",
                          "intervalEnd": "2026-03-17T00:00:00+00:00",
                          "totalSettlementAmount": 9394.19,
                          "totalFeeAmount": 460.31531,
                          "totalNetAmount": 8933.87469,
                          "totalTransactionsPending": 32,
                          "totalTransactionsSettled": 414,
                          "totalTransactionsSettling": 25
                        },
                        {
                          "intervalStart": "2026-03-17T00:00:00+00:00",
                          "intervalEnd": "2026-03-18T00:00:00+00:00",
                          "totalSettlementAmount": 6324.98,
                          "totalFeeAmount": 309.92402,
                          "totalNetAmount": 6015.05598,
                          "totalTransactionsPending": 5,
                          "totalTransactionsSettled": 29,
                          "totalTransactionsSettling": 262
                        },
                        {
                          "intervalStart": "2026-03-18T00:00:00+00:00",
                          "intervalEnd": "2026-03-19T00:00:00+00:00",
                          "totalSettlementAmount": 7585.1,
                          "totalFeeAmount": 371.6699,
                          "totalNetAmount": 7213.4301,
                          "totalTransactionsPending": 21,
                          "totalTransactionsSettled": 181,
                          "totalTransactionsSettling": 40
                        },
                        {
                          "intervalStart": "2026-03-19T00:00:00+00:00",
                          "intervalEnd": "2026-03-20T00:00:00+00:00",
                          "totalSettlementAmount": 8335.39,
                          "totalFeeAmount": 408.43411,
                          "totalNetAmount": 7926.95589,
                          "totalTransactionsPending": 21,
                          "totalTransactionsSettled": 145,
                          "totalTransactionsSettling": 103
                        },
                        {
                          "intervalStart": "2026-03-20T00:00:00+00:00",
                          "intervalEnd": "2026-03-21T00:00:00+00:00",
                          "totalSettlementAmount": 6976.3,
                          "totalFeeAmount": 341.8387,
                          "totalNetAmount": 6634.4613,
                          "totalTransactionsPending": 7,
                          "totalTransactionsSettled": 173,
                          "totalTransactionsSettling": 195
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-14T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-15T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 4846.93
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 237.49957
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 4609.43043
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 40
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 149
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 54
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 3,
                    "data": [
                      {
                        "email": "lesch.sandy@runte.com",
                        "firstName": "Alexane",
                        "lastName": "Reilly",
                        "phone": "+15804126259",
                        "dateOfBirth": "1998-03-13"
                      },
                      {
                        "email": "kole53@hotmail.com",
                        "firstName": "Rodrick",
                        "lastName": "Rosenbaum",
                        "phone": "+19172307178",
                        "dateOfBirth": "1990-09-26"
                      },
                      {
                        "email": "kathleen.stoltenberg@yahoo.com",
                        "firstName": "Pietro",
                        "lastName": "Emmerich",
                        "phone": "+12676067434",
                        "dateOfBirth": "1986-07-13"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 3,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "lesch.sandy@runte.com",
                          "firstName": "Alexane",
                          "lastName": "Reilly",
                          "phone": "+15804126259",
                          "dateOfBirth": "1998-03-13"
                        },
                        {
                          "email": "kole53@hotmail.com",
                          "firstName": "Rodrick",
                          "lastName": "Rosenbaum",
                          "phone": "+19172307178",
                          "dateOfBirth": "1990-09-26"
                        },
                        {
                          "email": "kathleen.stoltenberg@yahoo.com",
                          "firstName": "Pietro",
                          "lastName": "Emmerich",
                          "phone": "+12676067434",
                          "dateOfBirth": "1986-07-13"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "lesch.sandy@runte.com"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Alexane"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Reilly"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+15804126259"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "1998-03-13"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers/{customerIdOrEmail}/addresses": {
      "get": {
        "summary": "List Customer Billing Addresses",
        "operationId": "listCustomerBillingAddresses",
        "description": "Returns all unique billing addresses that have been used by a customer across their payments.\nAddresses are deduplicated using case-insensitive and whitespace-insensitive comparison.",
        "parameters": [
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
            "example": "-city",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
              "example": "-city",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of unique billing addresses for the customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "company": "Auer LLC",
                        "street": "5270 Guido Trail Apt. 098",
                        "city": "Mantefort",
                        "stateProvince": "AZ",
                        "postcodeZip": "35866-1522",
                        "country": "USA"
                      },
                      {
                        "company": "Carroll-Nitzsche",
                        "street": "32677 Olson Turnpike Suite 203",
                        "city": "South Roslynstad",
                        "stateProvince": "UT",
                        "postcodeZip": "20649-2621",
                        "country": "USA"
                      },
                      {
                        "company": "Bartoletti, Welch and Grimes",
                        "street": "531 Cremin Port Suite 111",
                        "city": "Lake Santoshaven",
                        "stateProvince": "MT",
                        "postcodeZip": "87069",
                        "country": "USA"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "company": "Auer LLC",
                          "street": "5270 Guido Trail Apt. 098",
                          "city": "Mantefort",
                          "stateProvince": "AZ",
                          "postcodeZip": "35866-1522",
                          "country": "USA"
                        },
                        {
                          "company": "Carroll-Nitzsche",
                          "street": "32677 Olson Turnpike Suite 203",
                          "city": "South Roslynstad",
                          "stateProvince": "UT",
                          "postcodeZip": "20649-2621",
                          "country": "USA"
                        },
                        {
                          "company": "Bartoletti, Welch and Grimes",
                          "street": "531 Cremin Port Suite 111",
                          "city": "Lake Santoshaven",
                          "stateProvince": "MT",
                          "postcodeZip": "87069",
                          "country": "USA"
                        }
                      ],
                      "description": "The data returned from the request",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "company": {
                            "type": "string",
                            "example": "Auer LLC"
                          },
                          "street": {
                            "type": "string",
                            "example": "5270 Guido Trail Apt. 098"
                          },
                          "city": {
                            "type": "string",
                            "example": "Mantefort"
                          },
                          "stateProvince": {
                            "type": "string",
                            "example": "AZ"
                          },
                          "postcodeZip": {
                            "type": "string",
                            "example": "35866-1522"
                          },
                          "country": {
                            "type": "string",
                            "example": "USA"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "path",
          "name": "customerIdOrEmail",
          "description": "The customer ID, UUID, or email address",
          "example": "customer_123",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/simulated/terminals": {
      "get": {
        "summary": "Get all available simulated terminals.",
        "operationId": "getAllAvailableSimulatedTerminals",
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of available simulated terminals",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "title": "Success",
                        "description": "Approves all card present transactions successfully.",
                        "tid": "SUCCESS",
                        "readyForProcessing": true,
                        "provider": "SIMULATED",
                        "type": "CARD_PRESENT"
                      },
                      {
                        "title": "Transaction Declined",
                        "description": "Simulates a declined transaction.",
                        "tid": "TRANSACTION_DECLINED",
                        "readyForProcessing": true,
                        "provider": "SIMULATED",
                        "type": "CARD_PRESENT"
                      },
                      {
                        "title": "Card Present Timeout",
                        "description": "Simulates a card present timeout.",
                        "tid": "CARD_PRESENT_TIMEOUT",
                        "readyForProcessing": true,
                        "provider": "SIMULATED",
                        "type": "CARD_PRESENT"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
[...]
