{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.79.0"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Order Templates",
      "description": ""
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/payments/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)\n\n### Tags:\n\nFilter by user-applied tags. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)\n\n### Tags:\n\nFilter by user-applied tags. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-07-07T00:00:00+00:00",
                      "periodEnd": "2026-07-14T00:00:00+00:00",
                      "numPaymentsCreated": 2505,
                      "numPaymentsProcessed": 1188,
                      "numPaymentsIncomplete": 1317,
                      "numPaymentsWithRefunds": 549,
                      "numCardPresentPayments": 689,
                      "numCardNotPresentPayments": 628,
                      "totalCapturedAmount": 2687510.87,
                      "totalRefundedAmount": 428671.83,
                      "totalNetCapturedAmount": 2258839.04,
                      "averageNetCapturedAmount": 2448.4457142857,
                      "minNetCapturedAmount": 12.84,
                      "maxNetCapturedAmount": 9641.6,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-07-07T00:00:00+00:00",
                          "intervalEnd": "2026-07-08T00:00:00+00:00",
                          "numPaymentsCreated": 124,
                          "numPaymentsProcessed": 77,
                          "numPaymentsIncomplete": 47,
                          "numPaymentsWithRefunds": 35,
                          "numCardPresentPayments": 57,
                          "numCardNotPresentPayments": -10,
                          "totalCapturedAmount": 380869.1,
                          "totalRefundedAmount": 31233.81,
                          "totalNetCapturedAmount": 349635.29,
                          "averageNetCapturedAmount": 4540.72,
                          "minNetCapturedAmount": 96.9,
                          "maxNetCapturedAmount": 9641.6
                        },
                        {
                          "intervalStart": "2026-07-08T00:00:00+00:00",
                          "intervalEnd": "2026-07-09T00:00:00+00:00",
                          "numPaymentsCreated": 382,
                          "numPaymentsProcessed": 150,
                          "numPaymentsIncomplete": 232,
                          "numPaymentsWithRefunds": 123,
                          "numCardPresentPayments": 136,
                          "numCardNotPresentPayments": 96,
                          "totalCapturedAmount": 93405.59,
                          "totalRefundedAmount": 14870.49,
                          "totalNetCapturedAmount": 78535.1,
                          "averageNetCapturedAmount": 523.57,
                          "minNetCapturedAmount": 73.37,
                          "maxNetCapturedAmount": 4448.82
                        },
                        {
                          "intervalStart": "2026-07-09T00:00:00+00:00",
                          "intervalEnd": "2026-07-10T00:00:00+00:00",
                          "numPaymentsCreated": 376,
                          "numPaymentsProcessed": 186,
                          "numPaymentsIncomplete": 190,
                          "numPaymentsWithRefunds": 114,
                          "numCardPresentPayments": 110,
                          "numCardNotPresentPayments": 80,
                          "totalCapturedAmount": 466548.35,
                          "totalRefundedAmount": 46658.24,
                          "totalNetCapturedAmount": 419890.11,
                          "averageNetCapturedAmount": 2257.47,
                          "minNetCapturedAmount": 77.88,
                          "maxNetCapturedAmount": 5548
                        },
                        {
                          "intervalStart": "2026-07-10T00:00:00+00:00",
                          "intervalEnd": "2026-07-11T00:00:00+00:00",
                          "numPaymentsCreated": 521,
                          "numPaymentsProcessed": 181,
                          "numPaymentsIncomplete": 340,
                          "numPaymentsWithRefunds": 51,
                          "numCardPresentPayments": 84,
                          "numCardNotPresentPayments": 256,
                          "totalCapturedAmount": 150677.36,
                          "totalRefundedAmount": 41052.96,
                          "totalNetCapturedAmount": 109624.4,
                          "averageNetCapturedAmount": 605.66,
                          "minNetCapturedAmount": 25.95,
                          "maxNetCapturedAmount": 9060.75
                        },
                        {
                          "intervalStart": "2026-07-11T00:00:00+00:00",
                          "intervalEnd": "2026-07-12T00:00:00+00:00",
                          "numPaymentsCreated": 106,
                          "numPaymentsProcessed": 89,
                          "numPaymentsIncomplete": 17,
                          "numPaymentsWithRefunds": 44,
                          "numCardPresentPayments": 76,
                          "numCardNotPresentPayments": -59,
                          "totalCapturedAmount": 768090.91,
                          "totalRefundedAmount": 210018.72,
                          "totalNetCapturedAmount": 558072.19,
                          "averageNetCapturedAmount": 6270.47,
                          "minNetCapturedAmount": 52.12,
                          "maxNetCapturedAmount": 6562.98
                        },
                        {
                          "intervalStart": "2026-07-12T00:00:00+00:00",
                          "intervalEnd": "2026-07-13T00:00:00+00:00",
                          "numPaymentsCreated": 705,
                          "numPaymentsProcessed": 255,
                          "numPaymentsIncomplete": 450,
                          "numPaymentsWithRefunds": 141,
                          "numCardPresentPayments": 129,
                          "numCardNotPresentPayments": 321,
                          "totalCapturedAmount": 480967.73,
                          "totalRefundedAmount": 84569.1,
                          "totalNetCapturedAmount": 396398.63,
                          "averageNetCapturedAmount": 1554.5,
                          "minNetCapturedAmount": 12.84,
                          "maxNetCapturedAmount": 8372.49
                        },
                        {
                          "intervalStart": "2026-07-13T00:00:00+00:00",
                          "intervalEnd": "2026-07-14T00:00:00+00:00",
                          "numPaymentsCreated": 291,
                          "numPaymentsProcessed": 250,
                          "numPaymentsIncomplete": 41,
                          "numPaymentsWithRefunds": 41,
                          "numCardPresentPayments": 97,
                          "numCardNotPresentPayments": -56,
                          "totalCapturedAmount": 346951.83,
                          "totalRefundedAmount": 268.51,
                          "totalNetCapturedAmount": 346683.32,
                          "averageNetCapturedAmount": 1386.73,
                          "minNetCapturedAmount": 26.96,
                          "maxNetCapturedAmount": 9337.15
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-07-07T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-07-14T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "numPaymentsCreated": {
                          "type": "integer",
                          "example": 2505,
                          "description": "Total number of payment records created in the period",
                          "enum": []
                        },
                        "numPaymentsProcessed": {
                          "type": "integer",
                          "example": 1188,
                          "description": "Number of payments that have successfully had funds captured (captured amount > 0)",
                          "enum": []
                        },
                        "numPaymentsIncomplete": {
                          "type": "integer",
                          "example": 1317,
                          "description": "Number of payments which have been created but funds have not been captured yet (e.g. failures, declines, authorizations, etc.)",
                          "enum": []
                        },
                        "numPaymentsWithRefunds": {
                          "type": "integer",
                          "example": 549,
                          "description": "Number of payments that have had one or more refunds (refunded amount > 0)",
                          "enum": []
                        },
                        "numCardPresentPayments": {
                          "type": "integer",
                          "example": 689,
                          "description": "Number of payments made with card present (e.g. via terminal device)",
                          "enum": []
                        },
                        "numCardNotPresentPayments": {
                          "type": "integer",
                          "example": 628,
                          "description": "Number of payments made with card not present (e.g. online payments)",
                          "enum": []
                        },
                        "totalCapturedAmount": {
                          "type": "number",
                          "example": 2687510.87,
                          "description": "Total amount captured across all payments in the period",
                          "enum": []
                        },
                        "totalRefundedAmount": {
                          "type": "number",
                          "example": 428671.83,
                          "description": "Total amount refunded across all payments in the period",
                          "enum": []
                        },
                        "totalNetCapturedAmount": {
                          "type": "number",
                          "example": 2258839.04,
                          "description": "Net captured amount (captured - refunded) across all payments in the period",
                          "enum": []
                        },
                        "averageNetCapturedAmount": {
                          "type": "number",
                          "example": 2448.4457142857,
                          "description": "Average net captured amount per payment in the period",
                          "enum": []
                        },
                        "minNetCapturedAmount": {
                          "type": "number",
                          "example": 12.84,
                          "description": "Minimum net captured amount in the period",
                          "enum": []
                        },
                        "maxNetCapturedAmount": {
                          "type": "number",
                          "example": 9641.6,
                          "description": "Maximum net captured amount in the period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-07-07T00:00:00+00:00",
                              "intervalEnd": "2026-07-08T00:00:00+00:00",
                              "numPaymentsCreated": 124,
                              "numPaymentsProcessed": 77,
                              "numPaymentsIncomplete": 47,
                              "numPaymentsWithRefunds": 35,
                              "numCardPresentPayments": 57,
                              "numCardNotPresentPayments": -10,
                              "totalCapturedAmount": 380869.1,
                              "totalRefundedAmount": 31233.81,
                              "totalNetCapturedAmount": 349635.29,
                              "averageNetCapturedAmount": 4540.72,
                              "minNetCapturedAmount": 96.9,
                              "maxNetCapturedAmount": 9641.6
                            },
                            {
                              "intervalStart": "2026-07-08T00:00:00+00:00",
                              "intervalEnd": "2026-07-09T00:00:00+00:00",
                              "numPaymentsCreated": 382,
                              "numPaymentsProcessed": 150,
                              "numPaymentsIncomplete": 232,
                              "numPaymentsWithRefunds": 123,
                              "numCardPresentPayments": 136,
                              "numCardNotPresentPayments": 96,
                              "totalCapturedAmount": 93405.59,
                              "totalRefundedAmount": 14870.49,
                              "totalNetCapturedAmount": 78535.1,
                              "averageNetCapturedAmount": 523.57,
                              "minNetCapturedAmount": 73.37,
                              "maxNetCapturedAmount": 4448.82
                            },
                            {
                              "intervalStart": "2026-07-09T00:00:00+00:00",
                              "intervalEnd": "2026-07-10T00:00:00+00:00",
                              "numPaymentsCreated": 376,
                              "numPaymentsProcessed": 186,
                              "numPaymentsIncomplete": 190,
                              "numPaymentsWithRefunds": 114,
                              "numCardPresentPayments": 110,
                              "numCardNotPresentPayments": 80,
                              "totalCapturedAmount": 466548.35,
                              "totalRefundedAmount": 46658.24,
                              "totalNetCapturedAmount": 419890.11,
                              "averageNetCapturedAmount": 2257.47,
                              "minNetCapturedAmount": 77.88,
                              "maxNetCapturedAmount": 5548
                            },
                            {
                              "intervalStart": "2026-07-10T00:00:00+00:00",
                              "intervalEnd": "2026-07-11T00:00:00+00:00",
                              "numPaymentsCreated": 521,
                              "numPaymentsProcessed": 181,
                              "numPaymentsIncomplete": 340,
                              "numPaymentsWithRefunds": 51,
                              "numCardPresentPayments": 84,
                              "numCardNotPresentPayments": 256,
                              "totalCapturedAmount": 150677.36,
                              "totalRefundedAmount": 41052.96,
                              "totalNetCapturedAmount": 109624.4,
                              "averageNetCapturedAmount": 605.66,
                              "minNetCapturedAmount": 25.95,
                              "maxNetCapturedAmount": 9060.75
                            },
                            {
                              "intervalStart": "2026-07-11T00:00:00+00:00",
                              "intervalEnd": "2026-07-12T00:00:00+00:00",
                              "numPaymentsCreated": 106,
                              "numPaymentsProcessed": 89,
                              "numPaymentsIncomplete": 17,
                              "numPaymentsWithRefunds": 44,
                              "numCardPresentPayments": 76,
                              "numCardNotPresentPayments": -59,
                              "totalCapturedAmount": 768090.91,
                              "totalRefundedAmount": 210018.72,
                              "totalNetCapturedAmount": 558072.19,
                              "averageNetCapturedAmount": 6270.47,
                              "minNetCapturedAmount": 52.12,
                              "maxNetCapturedAmount": 6562.98
                            },
                            {
                              "intervalStart": "2026-07-12T00:00:00+00:00",
                              "intervalEnd": "2026-07-13T00:00:00+00:00",
                              "numPaymentsCreated": 705,
                              "numPaymentsProcessed": 255,
                              "numPaymentsIncomplete": 450,
                              "numPaymentsWithRefunds": 141,
                              "numCardPresentPayments": 129,
                              "numCardNotPresentPayments": 321,
                              "totalCapturedAmount": 480967.73,
                              "totalRefundedAmount": 84569.1,
                              "totalNetCapturedAmount": 396398.63,
                              "averageNetCapturedAmount": 1554.5,
                              "minNetCapturedAmount": 12.84,
                              "maxNetCapturedAmount": 8372.49
                            },
                            {
                              "intervalStart": "2026-07-13T00:00:00+00:00",
                              "intervalEnd": "2026-07-14T00:00:00+00:00",
                              "numPaymentsCreated": 291,
                              "numPaymentsProcessed": 250,
                              "numPaymentsIncomplete": 41,
                              "numPaymentsWithRefunds": 41,
                              "numCardPresentPayments": 97,
                              "numCardNotPresentPayments": -56,
                              "totalCapturedAmount": 346951.83,
                              "totalRefundedAmount": 268.51,
                              "totalNetCapturedAmount": 346683.32,
                              "averageNetCapturedAmount": 1386.73,
                              "minNetCapturedAmount": 26.96,
                              "maxNetCapturedAmount": 9337.15
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-07-07T00:00:00+00:00",
                                "description": "Start time of the PaymentAnalyticsData interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-07-08T00:00:00+00:00",
                                "description": "End time of the PaymentAnalyticsData interval",
                                "enum": []
                              },
                              "numPaymentsCreated": {
                                "type": "integer",
                                "example": 124,
                                "description": "Total number of payment records created in the interval",
                                "enum": []
                              },
                              "numPaymentsProcessed": {
                                "type": "integer",
                                "example": 77,
                                "description": "Number of payments that have successfully had funds captured (captured amount > 0)",
                                "enum": []
                              },
                              "numPaymentsIncomplete": {
                                "type": "integer",
                                "example": 47,
                                "description": "Number of payments which have been created but funds have not been captured yet (e.g. failures, declines, authorizations, etc.)",
                                "enum": []
                              },
                              "numPaymentsWithRefunds": {
                                "type": "integer",
                                "example": 35,
                                "description": "Number of payments that have had one or more refunds (refunded amount > 0)",
                                "enum": []
                              },
                              "numCardPresentPayments": {
                                "type": "integer",
                                "example": 57,
                                "description": "Number of payments made with card present (e.g. via terminal device)",
                                "enum": []
                              },
                              "numCardNotPresentPayments": {
                                "type": "integer",
                                "example": -10,
                                "description": "Number of payments made with card not present (e.g. online payments)",
                                "enum": []
                              },
                              "totalCapturedAmount": {
                                "type": "number",
                                "example": 380869.1,
                                "description": "Total amount captured across all payments in the interval",
                                "enum": []
                              },
                              "totalRefundedAmount": {
                                "type": "number",
                                "example": 31233.81,
                                "description": "Total amount refunded across all payments in the interval",
                                "enum": []
                              },
                              "totalNetCapturedAmount": {
                                "type": "number",
                                "example": 349635.29,
                                "description": "Net captured amount (captured - refunded) across all payments in the interval",
                                "enum": []
                              },
                              "averageNetCapturedAmount": {
                                "type": "number",
                                "example": 4540.72,
                                "description": "Average net captured amount per payment in the interval",
                                "enum": []
                              },
                              "minNetCapturedAmount": {
                                "type": "number",
                                "example": 96.9,
                                "description": "Minimum net captured amount in the interval",
                                "enum": []
                              },
                              "maxNetCapturedAmount": {
                                "type": "number",
                                "example": 9641.6,
                                "description": "Maximum net captured amount in the interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/payments/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n\n### Tags:\n\nFilter by user-applied tags on the underlying payments. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n\n### Tags:\n\nFilter by user-applied tags on the underlying payments. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-07-07T00:00:00+00:00",
                      "periodEnd": "2026-07-14T00:00:00+00:00",
                      "activeCustomers": 428,
                      "newCustomers": 253,
                      "returningCustomers": 175,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-07-07T00:00:00+00:00",
                          "intervalEnd": "2026-07-08T00:00:00+00:00",
                          "activeCustomers": 64,
                          "newCustomers": 43,
                          "returningCustomers": 21
                        },
                        {
                          "intervalStart": "2026-07-08T00:00:00+00:00",
                          "intervalEnd": "2026-07-09T00:00:00+00:00",
                          "activeCustomers": 82,
                          "newCustomers": 22,
                          "returningCustomers": 60
                        },
                        {
                          "intervalStart": "2026-07-09T00:00:00+00:00",
                          "intervalEnd": "2026-07-10T00:00:00+00:00",
                          "activeCustomers": 66,
                          "newCustomers": 45,
                          "returningCustomers": 21
                        },
                        {
                          "intervalStart": "2026-07-10T00:00:00+00:00",
                          "intervalEnd": "2026-07-11T00:00:00+00:00",
                          "activeCustomers": 65,
                          "newCustomers": 15,
                          "returningCustomers": 50
                        },
                        {
                          "intervalStart": "2026-07-11T00:00:00+00:00",
                          "intervalEnd": "2026-07-12T00:00:00+00:00",
                          "activeCustomers": 59,
                          "newCustomers": 16,
                          "returningCustomers": 43
                        },
                        {
                          "intervalStart": "2026-07-12T00:00:00+00:00",
                          "intervalEnd": "2026-07-13T00:00:00+00:00",
                          "activeCustomers": 50,
                          "newCustomers": 44,
                          "returningCustomers": 6
                        },
                        {
                          "intervalStart": "2026-07-13T00:00:00+00:00",
                          "intervalEnd": "2026-07-14T00:00:00+00:00",
                          "activeCustomers": 83,
                          "newCustomers": 68,
                          "returningCustomers": 15
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-07-07T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-07-14T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "activeCustomers": {
                          "type": "integer",
                          "example": 428,
                          "description": "number of customers who are associated with at least one payment which was created in the period",
                          "enum": []
                        },
                        "newCustomers": {
                          "type": "integer",
                          "example": 253,
                          "description": "number of new customers added in the period",
                          "enum": []
                        },
                        "returningCustomers": {
                          "type": "integer",
                          "example": 175,
                          "description": "number of customers who were active in the period but were created before the period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-07-07T00:00:00+00:00",
                              "intervalEnd": "2026-07-08T00:00:00+00:00",
                              "activeCustomers": 64,
                              "newCustomers": 43,
                              "returningCustomers": 21
                            },
                            {
                              "intervalStart": "2026-07-08T00:00:00+00:00",
                              "intervalEnd": "2026-07-09T00:00:00+00:00",
                              "activeCustomers": 82,
                              "newCustomers": 22,
                              "returningCustomers": 60
                            },
                            {
                              "intervalStart": "2026-07-09T00:00:00+00:00",
                              "intervalEnd": "2026-07-10T00:00:00+00:00",
                              "activeCustomers": 66,
                              "newCustomers": 45,
                              "returningCustomers": 21
                            },
                            {
                              "intervalStart": "2026-07-10T00:00:00+00:00",
                              "intervalEnd": "2026-07-11T00:00:00+00:00",
                              "activeCustomers": 65,
                              "newCustomers": 15,
                              "returningCustomers": 50
                            },
                            {
                              "intervalStart": "2026-07-11T00:00:00+00:00",
                              "intervalEnd": "2026-07-12T00:00:00+00:00",
                              "activeCustomers": 59,
                              "newCustomers": 16,
                              "returningCustomers": 43
                            },
                            {
                              "intervalStart": "2026-07-12T00:00:00+00:00",
                              "intervalEnd": "2026-07-13T00:00:00+00:00",
                              "activeCustomers": 50,
                              "newCustomers": 44,
                              "returningCustomers": 6
                            },
                            {
                              "intervalStart": "2026-07-13T00:00:00+00:00",
                              "intervalEnd": "2026-07-14T00:00:00+00:00",
                              "activeCustomers": 83,
                              "newCustomers": 68,
                              "returningCustomers": 15
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-07-07T00:00:00+00:00",
                                "description": "Start time of the analytics calculation interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-07-08T00:00:00+00:00",
                                "description": "End time of the analytics calculation interval",
                                "enum": []
                              },
                              "activeCustomers": {
                                "type": "integer",
                                "example": 64,
                                "description": "number of customers who are associated with at least one payment which was created in the interval",
                                "enum": []
                              },
                              "newCustomers": {
                                "type": "integer",
                                "example": 43,
                                "description": "number of new customers added in the interval",
                                "enum": []
                              },
                              "returningCustomers": {
                                "type": "integer",
                                "example": 21,
                                "description": "number of customers who were active in the interval but were created before the interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/payments/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n\n### Tags:\n\nFilter by user-applied tags. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n\n### Tags:\n\nFilter by user-applied tags. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-07-07T00:00:00+00:00",
                      "periodEnd": "2026-07-14T00:00:00+00:00",
                      "totalTransactions": 5194,
                      "authorizeTransactions": 302,
                      "captureTransactions": 324,
                      "payTransactions": 3089,
                      "refundTransactions": 797,
                      "verifyTransactions": 399,
                      "voidTransactions": 283,
                      "successfulTransactions": 4671,
                      "failedTransactions": 391,
                      "declinedTransactions": 96,
                      "pendingTransactions": 36,
                      "unknownTransactions": 0,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-07-07T00:00:00+00:00",
                          "intervalEnd": "2026-07-08T00:00:00+00:00",
                          "totalTransactions": 474,
                          "authorizeTransactions": 26,
                          "captureTransactions": 27,
                          "payTransactions": 288,
                          "refundTransactions": 128,
                          "verifyTransactions": 5,
                          "voidTransactions": 0,
                          "successfulTransactions": 426,
                          "failedTransactions": 43,
                          "declinedTransactions": 3,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-07-08T00:00:00+00:00",
                          "intervalEnd": "2026-07-09T00:00:00+00:00",
                          "totalTransactions": 994,
                          "authorizeTransactions": 99,
                          "captureTransactions": 100,
                          "payTransactions": 302,
                          "refundTransactions": 116,
                          "verifyTransactions": 247,
                          "voidTransactions": 130,
                          "successfulTransactions": 894,
                          "failedTransactions": 85,
                          "declinedTransactions": 7,
                          "pendingTransactions": 8,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-07-09T00:00:00+00:00",
                          "intervalEnd": "2026-07-10T00:00:00+00:00",
                          "totalTransactions": 818,
                          "authorizeTransactions": 12,
                          "captureTransactions": 14,
                          "payTransactions": 628,
                          "refundTransactions": 54,
                          "verifyTransactions": 13,
                          "voidTransactions": 97,
                          "successfulTransactions": 736,
                          "failedTransactions": 44,
                          "declinedTransactions": 31,
                          "pendingTransactions": 7,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-07-10T00:00:00+00:00",
                          "intervalEnd": "2026-07-11T00:00:00+00:00",
                          "totalTransactions": 950,
                          "authorizeTransactions": 90,
                          "captureTransactions": 97,
                          "payTransactions": 592,
                          "refundTransactions": 162,
                          "verifyTransactions": 8,
                          "voidTransactions": 1,
                          "successfulTransactions": 855,
                          "failedTransactions": 53,
                          "declinedTransactions": 33,
                          "pendingTransactions": 9,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-07-11T00:00:00+00:00",
                          "intervalEnd": "2026-07-12T00:00:00+00:00",
                          "totalTransactions": 871,
                          "authorizeTransactions": 33,
                          "captureTransactions": 37,
                          "payTransactions": 636,
                          "refundTransactions": 106,
                          "verifyTransactions": 39,
                          "voidTransactions": 20,
                          "successfulTransactions": 783,
                          "failedTransactions": 77,
                          "declinedTransactions": 4,
                          "pendingTransactions": 7,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-07-12T00:00:00+00:00",
                          "intervalEnd": "2026-07-13T00:00:00+00:00",
                          "totalTransactions": 702,
                          "authorizeTransactions": 32,
                          "captureTransactions": 37,
                          "payTransactions": 431,
                          "refundTransactions": 134,
                          "verifyTransactions": 39,
                          "voidTransactions": 29,
                          "successfulTransactions": 631,
                          "failedTransactions": 61,
                          "declinedTransactions": 8,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-07-13T00:00:00+00:00",
                          "intervalEnd": "2026-07-14T00:00:00+00:00",
                          "totalTransactions": 385,
                          "authorizeTransactions": 10,
                          "captureTransactions": 12,
                          "payTransactions": 212,
                          "refundTransactions": 97,
                          "verifyTransactions": 48,
                          "voidTransactions": 6,
                          "successfulTransactions": 346,
                          "failedTransactions": 28,
                          "declinedTransactions": 10,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-07-07T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-07-14T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "totalTransactions": {
                          "type": "integer",
                          "example": 5194,
                          "description": "Total number of transactions in the period",
                          "enum": []
                        },
                        "authorizeTransactions": {
                          "type": "integer",
                          "example": 302,
                          "description": "Number of authorize transactions in the period",
                          "enum": []
                        },
                        "captureTransactions": {
                          "type": "integer",
                          "example": 324,
                          "description": "Number of capture transactions in the period",
                          "enum": []
                        },
                        "payTransactions": {
                          "type": "integer",
                          "example": 3089,
                          "description": "Number of pay transactions in the period",
                          "enum": []
                        },
                        "refundTransactions": {
                          "type": "integer",
                          "example": 797,
                          "description": "Number of refund transactions in the period",
                          "enum": []
                        },
                        "verifyTransactions": {
                          "type": "integer",
                          "example": 399,
                          "description": "Number of verify transactions in the period",
                          "enum": []
                        },
                        "voidTransactions": {
                          "type": "integer",
                          "example": 283,
                          "description": "Number of void transactions in the period",
                          "enum": []
                        },
                        "successfulTransactions": {
                          "type": "integer",
                          "example": 4671,
                          "description": "Number of successful transactions in the period",
                          "enum": []
                        },
                        "failedTransactions": {
                          "type": "integer",
                          "example": 391,
                          "description": "Number of failed transactions in the period",
                          "enum": []
                        },
                        "declinedTransactions": {
                          "type": "integer",
                          "example": 96,
                          "description": "Number of declined transactions in the period",
                          "enum": []
                        },
                        "pendingTransactions": {
                          "type": "integer",
                          "example": 36,
                          "description": "Number of pending transactions in the period",
                          "enum": []
                        },
                        "unknownTransactions": {
                          "type": "integer",
                          "example": 0,
                          "description": "Number of transactions with unknown result in the period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-07-07T00:00:00+00:00",
                              "intervalEnd": "2026-07-08T00:00:00+00:00",
                              "totalTransactions": 474,
                              "authorizeTransactions": 26,
                              "captureTransactions": 27,
                              "payTransactions": 288,
                              "refundTransactions": 128,
                              "verifyTransactions": 5,
                              "voidTransactions": 0,
                              "successfulTransactions": 426,
                              "failedTransactions": 43,
                              "declinedTransactions": 3,
                              "pendingTransactions": 2,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-07-08T00:00:00+00:00",
                              "intervalEnd": "2026-07-09T00:00:00+00:00",
                              "totalTransactions": 994,
                              "authorizeTransactions": 99,
                              "captureTransactions": 100,
                              "payTransactions": 302,
                              "refundTransactions": 116,
                              "verifyTransactions": 247,
                              "voidTransactions": 130,
                              "successfulTransactions": 894,
                              "failedTransactions": 85,
                              "declinedTransactions": 7,
                              "pendingTransactions": 8,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-07-09T00:00:00+00:00",
                              "intervalEnd": "2026-07-10T00:00:00+00:00",
                              "totalTransactions": 818,
                              "authorizeTransactions": 12,
                              "captureTransactions": 14,
                              "payTransactions": 628,
                              "refundTransactions": 54,
                              "verifyTransactions": 13,
                              "voidTransactions": 97,
                              "successfulTransactions": 736,
                              "failedTransactions": 44,
                              "declinedTransactions": 31,
                              "pendingTransactions": 7,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-07-10T00:00:00+00:00",
                              "intervalEnd": "2026-07-11T00:00:00+00:00",
                              "totalTransactions": 950,
                              "authorizeTransactions": 90,
                              "captureTransactions": 97,
                              "payTransactions": 592,
                              "refundTransactions": 162,
                              "verifyTransactions": 8,
                              "voidTransactions": 1,
                              "successfulTransactions": 855,
                              "failedTransactions": 53,
                              "declinedTransactions": 33,
                              "pendingTransactions": 9,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-07-11T00:00:00+00:00",
                              "intervalEnd": "2026-07-12T00:00:00+00:00",
                              "totalTransactions": 871,
                              "authorizeTransactions": 33,
                              "captureTransactions": 37,
                              "payTransactions": 636,
                              "refundTransactions": 106,
                              "verifyTransactions": 39,
                              "voidTransactions": 20,
                              "successfulTransactions": 783,
                              "failedTransactions": 77,
                              "declinedTransactions": 4,
                              "pendingTransactions": 7,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-07-12T00:00:00+00:00",
                              "intervalEnd": "2026-07-13T00:00:00+00:00",
                              "totalTransactions": 702,
                              "authorizeTransactions": 32,
                              "captureTransactions": 37,
                              "payTransactions": 431,
                              "refundTransactions": 134,
                              "verifyTransactions": 39,
                              "voidTransactions": 29,
                              "successfulTransactions": 631,
                              "failedTransactions": 61,
                              "declinedTransactions": 8,
                              "pendingTransactions": 2,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-07-13T00:00:00+00:00",
                              "intervalEnd": "2026-07-14T00:00:00+00:00",
                              "totalTransactions": 385,
                              "authorizeTransactions": 10,
                              "captureTransactions": 12,
                              "payTransactions": 212,
                              "refundTransactions": 97,
                              "verifyTransactions": 48,
                              "voidTransactions": 6,
                              "successfulTransactions": 346,
                              "failedTransactions": 28,
                              "declinedTransactions": 10,
                              "pendingTransactions": 1,
                              "unknownTransactions": 0
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-07-07T00:00:00+00:00",
                                "description": "Start time of the analytics calculation interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-07-08T00:00:00+00:00",
                                "description": "End time of the analytics calculation interval",
                                "enum": []
                              },
                              "totalTransactions": {
                                "type": "integer",
                                "example": 474,
                                "description": "Total number of transactions in the interval",
                                "enum": []
                              },
                              "authorizeTransactions": {
                                "type": "integer",
                                "example": 26,
                                "description": "Number of authorize transactions in the interval",
                                "enum": []
                              },
                              "captureTransactions": {
                                "type": "integer",
                                "example": 27,
                                "description": "Number of capture transactions in the interval",
                                "enum": []
                              },
                              "payTransactions": {
                                "type": "integer",
                                "example": 288,
                                "description": "Number of pay transactions in the interval",
                                "enum": []
                              },
                              "refundTransactions": {
                                "type": "integer",
                                "example": 128,
                                "description": "Number of refund transactions in the interval",
                                "enum": []
                              },
                              "verifyTransactions": {
                                "type": "integer",
                                "example": 5,
                                "description": "Number of verify transactions in the interval",
                                "enum": []
                              },
                              "voidTransactions": {
                                "type": "integer",
                                "example": 0,
                                "description": "Number of void transactions in the interval",
                                "enum": []
                              },
                              "successfulTransactions": {
                                "type": "integer",
                                "example": 426,
                                "description": "Number of successful transactions in the interval",
                                "enum": []
                              },
                              "failedTransactions": {
                                "type": "integer",
                                "example": 43,
                                "description": "Number of failed transactions in the interval",
                                "enum": []
                              },
                              "declinedTransactions": {
                                "type": "integer",
                                "example": 3,
                                "description": "Number of declined transactions in the interval",
                                "enum": []
                              },
                              "pendingTransactions": {
                                "type": "integer",
                                "example": 2,
                                "description": "Number of pending transactions in the interval",
                                "enum": []
                              },
                              "unknownTransactions": {
                                "type": "integer",
                                "example": 0,
                                "description": "Number of transactions with unknown result in the interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/payments/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`\n\n### Tags:\n\nFilter by user-applied tags. Use a leading `!` to exclude a tag.\n\n- **Example:** `?filter[tag]=vip,priority`\n- **Example:** `?filter[tag]=!internal-test`\n- **Example:** `?filter[tag]=vip,!internal-test`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`\n\n### Tags:\n\nFilter by user-applied tags. Use a leading `!` to exclude a tag.\n\n- **Example:** `?filter[tag]=vip,priority`\n- **Example:** `?filter[tag]=!internal-test`\n- **Example:** `?filter[tag]=vip,!internal-test`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 3,
                    "data": [
                      {
                        "id": "customer_zd40op14zk",
                        "email": "hilton.jerde@mitchell.com",
                        "firstName": "Tiffany",
                        "lastName": "Kassulke",
                        "phone": "+18179039063",
                        "dateOfBirth": "1988-02-29",
                        "creationTime": "2026-03-08T21:00:42.768+00:00",
                        "lastUpdatedTime": "2026-07-08T21:00:42.768+00:00"
                      },
                      {
                        "id": "customer_vy17hl67ak",
                        "email": "awalsh@gmail.com",
                        "firstName": "Nya",
                        "lastName": "Jast",
                        "phone": "+15623131691",
                        "dateOfBirth": "1995-11-01",
                        "creationTime": "2026-05-29T21:00:42.769+00:00",
                        "lastUpdatedTime": "2026-07-12T21:00:42.769+00:00"
                      },
                      {
                        "id": "customer_xs98xc92jp",
                        "email": "torphy.ocie@gmail.com",
                        "firstName": "Myra",
                        "lastName": "Steuber",
                        "phone": "+17852905199",
                        "dateOfBirth": "1992-06-27",
                        "creationTime": "2025-09-23T21:00:42.769+00:00",
                        "lastUpdatedTime": "2026-07-13T21:00:42.769+00:00"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 3,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "id": "customer_zd40op14zk",
                          "email": "hilton.jerde@mitchell.com",
                          "firstName": "Tiffany",
                          "lastName": "Kassulke",
                          "phone": "+18179039063",
                          "dateOfBirth": "1988-02-29",
                          "creationTime": "2026-03-08T21:00:42.768+00:00",
                          "lastUpdatedTime": "2026-07-08T21:00:42.768+00:00"
                        },
                        {
                          "id": "customer_vy17hl67ak",
                          "email": "awalsh@gmail.com",
                          "firstName": "Nya",
                          "lastName": "Jast",
                          "phone": "+15623131691",
                          "dateOfBirth": "1995-11-01",
                          "creationTime": "2026-05-29T21:00:42.769+00:00",
                          "lastUpdatedTime": "2026-07-12T21:00:42.769+00:00"
                        },
                        {
                          "id": "customer_xs98xc92jp",
                          "email": "torphy.ocie@gmail.com",
                          "firstName": "Myra",
                          "lastName": "Steuber",
                          "phone": "+17852905199",
                          "dateOfBirth": "1992-06-27",
                          "creationTime": "2025-09-23T21:00:42.769+00:00",
                          "lastUpdatedTime": "2026-07-13T21:00:42.769+00:00"
                        }
                      ],
                      "description": "The data returned from the request",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "customer_zd40op14zk",
                            "description": "Prahsys's unique identifier for the customer",
                            "enum": []
                          },
                          "email": {
                            "type": "string",
                            "example": "hilton.jerde@mitchell.com",
                            "description": "The email address of the customer. Must be longer than 3 characters and conform to RFC 2822.",
                            "enum": []
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Tiffany",
                            "description": "The customer's first name.",
                            "enum": []
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Kassulke",
                            "description": "The customer's last name.",
                            "enum": []
                          },
                          "phone": {
                            "type": "string",
                            "example": "+18179039063",
                            "description": "The customer's phone number in E.164 format.",
                            "enum": []
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "1988-02-29",
                            "description": "The customer's date of birth. Must be in YYYY-MM-DD format.",
                            "enum": []
                          },
                          "creationTime": {
                            "type": "string",
                            "example": "2026-03-08T21:00:42.768+00:00",
                            "description": "Time when the customer was created",
                            "enum": []
                          },
                          "lastUpdatedTime": {
                            "type": "string",
                            "example": "2026-07-08T21:00:42.768+00:00",
                            "description": "Time when the customer was last updated",
                            "enum": []
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/payments/n1/merchant/{merchantId}/customer/{customerIdOrEmail}": {
      "get": {
        "summary": "Get Customer",
        "operationId": "getCustomer",
        "description": "Returns a single customer by their ID, UUID, or email address.",
        "parameters": [
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date fields. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix) and abbreviations (e.g., MST).",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date fields. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix) and abbreviations (e.g., MST).",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The customer with their addresses and pay tokens (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "id": "customer_ko99vy25mm",
                      "email": "jwilliamson@wehner.com",
                      "firstName": "Jeanette",
                      "lastName": "Borer",
                      "phone": "+19186641431",
                      "dateOfBirth": "2000-05-12",
                      "tokens": [
                        {
                          "token": "1554046504316944",
                          "type": "CARD",
                          "card": {
                            "nameOnCard": "John Doe",
                            "number": "424242xxxxxx4242",
                            "expiry": {
                              "month": 1,
                              "year": 39
                            },
                            "brand": "VISA",
                            "fundingMethod": "DEBIT",
                            "storedOnFile": "NOT_STORED"
                          },
                          "address": {
                            "company": "McClure-Sipes",
                            "street": "958 Carley Parks",
                            "city": "Port Hershel",
                            "stateProvince": "MO",
                            "postcodeZip": "22319",
                            "country": "USA"
                          },
                          "repositoryId": "QUI",
                          "response": {
                            "gatewayCode": "BASIC_VERIFICATION_SUCCESSFUL"
                          },
                          "result": "SUCCESS",
                          "status": "VALID",
                          "usage": {
                            "lastUpdated": {
                              "merchantId": "e19c44eb-2d73-3e5c-a5b1-0709a1ec3897",
                              "time": "2026-02-09T00:35:36+00:00"
                            },
                            "lastUsedTime": "2026-05-01T16:00:05+00:00"
                          },
                          "customer": {
                            "email": "test.customer@example.com"
                          },
                          "isDefault": true,
                          "avsCode": "FULL_MATCH"
                        }
                      ],
                      "addresses": [
                        {
                          "id": "278bac50-ce0d-33be-a796-8ba4e4cc5ef5",
                          "isDefault": true,
                          "company": "Bartell Ltd",
                          "street": "20842 Welch Brook Apt. 589",
                          "street2": "Suite 702",
                          "city": "New America",
                          "stateProvince": "WA",
                          "postcodeZip": "82867",
                          "country": "USA"
                        },
                        {
                          "company": "Towne Ltd",
                          "street": "91964 Schaden Fords",
                          "city": "Port Tonichester",
                          "stateProvince": "NY",
                          "postcodeZip": "09967",
                          "country": "USA"
                        }
                      ],
                      "creationTime": "2025-11-19T21:00:42.774+00:00",
                      "lastUpdatedTime": "2026-07-11T21:00:42.774+00:00"
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "customer_ko99vy25mm",
[...]
