{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.55.1"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-18T00:00:00+00:00",
                    "periodEnd": "2026-03-25T00:00:00+00:00",
                    "numPaymentsCreated": 4612,
                    "numPaymentsProcessed": 2726,
                    "numPaymentsIncomplete": 1886,
                    "numPaymentsWithRefunds": 641,
                    "numCardPresentPayments": 1613,
                    "numCardNotPresentPayments": 273,
                    "totalCapturedAmount": 4362005.94,
                    "totalRefundedAmount": 687062.15,
                    "totalNetCapturedAmount": 3674943.79,
                    "averageNetCapturedAmount": 2423.83,
                    "minNetCapturedAmount": 27.28,
                    "maxNetCapturedAmount": 9722.63,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-18T00:00:00+00:00",
                        "intervalEnd": "2026-03-19T00:00:00+00:00",
                        "numPaymentsCreated": 749,
                        "numPaymentsProcessed": 632,
                        "numPaymentsIncomplete": 117,
                        "numPaymentsWithRefunds": 128,
                        "numCardPresentPayments": 115,
                        "numCardNotPresentPayments": 2,
                        "totalCapturedAmount": 320232.46,
                        "totalRefundedAmount": 202.46,
                        "totalNetCapturedAmount": 320030,
                        "averageNetCapturedAmount": 506.38,
                        "minNetCapturedAmount": 85.44,
                        "maxNetCapturedAmount": 5980.19
                      },
                      {
                        "intervalStart": "2026-03-19T00:00:00+00:00",
                        "intervalEnd": "2026-03-20T00:00:00+00:00",
                        "numPaymentsCreated": 301,
                        "numPaymentsProcessed": 259,
                        "numPaymentsIncomplete": 42,
                        "numPaymentsWithRefunds": 177,
                        "numCardPresentPayments": 256,
                        "numCardNotPresentPayments": -214,
                        "totalCapturedAmount": 913432.2,
                        "totalRefundedAmount": 106381.9,
                        "totalNetCapturedAmount": 807050.3,
                        "averageNetCapturedAmount": 3116.02,
                        "minNetCapturedAmount": 77.58,
                        "maxNetCapturedAmount": 6749.83
                      },
                      {
                        "intervalStart": "2026-03-20T00:00:00+00:00",
                        "intervalEnd": "2026-03-21T00:00:00+00:00",
                        "numPaymentsCreated": 980,
                        "numPaymentsProcessed": 795,
                        "numPaymentsIncomplete": 185,
                        "numPaymentsWithRefunds": 145,
                        "numCardPresentPayments": 604,
                        "numCardNotPresentPayments": -419,
                        "totalCapturedAmount": 784889.36,
                        "totalRefundedAmount": 214409.42,
                        "totalNetCapturedAmount": 570479.94,
                        "averageNetCapturedAmount": 717.58,
                        "minNetCapturedAmount": 86.84,
                        "maxNetCapturedAmount": 9722.63
                      },
                      {
                        "intervalStart": "2026-03-21T00:00:00+00:00",
                        "intervalEnd": "2026-03-22T00:00:00+00:00",
                        "numPaymentsCreated": 546,
                        "numPaymentsProcessed": 318,
                        "numPaymentsIncomplete": 228,
                        "numPaymentsWithRefunds": 26,
                        "numCardPresentPayments": 193,
                        "numCardNotPresentPayments": 35,
                        "totalCapturedAmount": 303537.22,
                        "totalRefundedAmount": 16398.45,
                        "totalNetCapturedAmount": 287138.77,
                        "averageNetCapturedAmount": 902.95,
                        "minNetCapturedAmount": 44.24,
                        "maxNetCapturedAmount": 3892
                      },
                      {
                        "intervalStart": "2026-03-22T00:00:00+00:00",
                        "intervalEnd": "2026-03-23T00:00:00+00:00",
                        "numPaymentsCreated": 793,
                        "numPaymentsProcessed": 118,
                        "numPaymentsIncomplete": 675,
                        "numPaymentsWithRefunds": 30,
                        "numCardPresentPayments": 19,
                        "numCardNotPresentPayments": 656,
                        "totalCapturedAmount": 593600.86,
                        "totalRefundedAmount": 95876.18,
                        "totalNetCapturedAmount": 497724.68,
                        "averageNetCapturedAmount": 4218.01,
                        "minNetCapturedAmount": 69.65,
                        "maxNetCapturedAmount": 3887.92
                      },
                      {
                        "intervalStart": "2026-03-23T00:00:00+00:00",
                        "intervalEnd": "2026-03-24T00:00:00+00:00",
                        "numPaymentsCreated": 552,
                        "numPaymentsProcessed": 493,
                        "numPaymentsIncomplete": 59,
                        "numPaymentsWithRefunds": 126,
                        "numCardPresentPayments": 336,
                        "numCardNotPresentPayments": -277,
                        "totalCapturedAmount": 492205.6,
                        "totalRefundedAmount": 28413.63,
                        "totalNetCapturedAmount": 463791.97,
                        "averageNetCapturedAmount": 940.75,
                        "minNetCapturedAmount": 29.7,
                        "maxNetCapturedAmount": 7389.67
                      },
                      {
                        "intervalStart": "2026-03-24T00:00:00+00:00",
                        "intervalEnd": "2026-03-25T00:00:00+00:00",
                        "numPaymentsCreated": 691,
                        "numPaymentsProcessed": 111,
                        "numPaymentsIncomplete": 580,
                        "numPaymentsWithRefunds": 9,
                        "numCardPresentPayments": 90,
                        "numCardNotPresentPayments": 490,
                        "totalCapturedAmount": 954108.24,
                        "totalRefundedAmount": 225380.11,
                        "totalNetCapturedAmount": 728728.13,
                        "averageNetCapturedAmount": 6565.12,
                        "minNetCapturedAmount": 27.28,
                        "maxNetCapturedAmount": 4101.83
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-18T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-25T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 4612
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 2726
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 1886
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 641
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 1613
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": 273
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 4362005.94
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 687062.15
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 3674943.79
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 2423.83
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 27.28
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 9722.63
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-18T00:00:00+00:00",
                          "intervalEnd": "2026-03-19T00:00:00+00:00",
                          "numPaymentsCreated": 749,
                          "numPaymentsProcessed": 632,
                          "numPaymentsIncomplete": 117,
                          "numPaymentsWithRefunds": 128,
                          "numCardPresentPayments": 115,
                          "numCardNotPresentPayments": 2,
                          "totalCapturedAmount": 320232.46,
                          "totalRefundedAmount": 202.46,
                          "totalNetCapturedAmount": 320030,
                          "averageNetCapturedAmount": 506.38,
                          "minNetCapturedAmount": 85.44,
                          "maxNetCapturedAmount": 5980.19
                        },
                        {
                          "intervalStart": "2026-03-19T00:00:00+00:00",
                          "intervalEnd": "2026-03-20T00:00:00+00:00",
                          "numPaymentsCreated": 301,
                          "numPaymentsProcessed": 259,
                          "numPaymentsIncomplete": 42,
                          "numPaymentsWithRefunds": 177,
                          "numCardPresentPayments": 256,
                          "numCardNotPresentPayments": -214,
                          "totalCapturedAmount": 913432.2,
                          "totalRefundedAmount": 106381.9,
                          "totalNetCapturedAmount": 807050.3,
                          "averageNetCapturedAmount": 3116.02,
                          "minNetCapturedAmount": 77.58,
                          "maxNetCapturedAmount": 6749.83
                        },
                        {
                          "intervalStart": "2026-03-20T00:00:00+00:00",
                          "intervalEnd": "2026-03-21T00:00:00+00:00",
                          "numPaymentsCreated": 980,
                          "numPaymentsProcessed": 795,
                          "numPaymentsIncomplete": 185,
                          "numPaymentsWithRefunds": 145,
                          "numCardPresentPayments": 604,
                          "numCardNotPresentPayments": -419,
                          "totalCapturedAmount": 784889.36,
                          "totalRefundedAmount": 214409.42,
                          "totalNetCapturedAmount": 570479.94,
                          "averageNetCapturedAmount": 717.58,
                          "minNetCapturedAmount": 86.84,
                          "maxNetCapturedAmount": 9722.63
                        },
                        {
                          "intervalStart": "2026-03-21T00:00:00+00:00",
                          "intervalEnd": "2026-03-22T00:00:00+00:00",
                          "numPaymentsCreated": 546,
                          "numPaymentsProcessed": 318,
                          "numPaymentsIncomplete": 228,
                          "numPaymentsWithRefunds": 26,
                          "numCardPresentPayments": 193,
                          "numCardNotPresentPayments": 35,
                          "totalCapturedAmount": 303537.22,
                          "totalRefundedAmount": 16398.45,
                          "totalNetCapturedAmount": 287138.77,
                          "averageNetCapturedAmount": 902.95,
                          "minNetCapturedAmount": 44.24,
                          "maxNetCapturedAmount": 3892
                        },
                        {
                          "intervalStart": "2026-03-22T00:00:00+00:00",
                          "intervalEnd": "2026-03-23T00:00:00+00:00",
                          "numPaymentsCreated": 793,
                          "numPaymentsProcessed": 118,
                          "numPaymentsIncomplete": 675,
                          "numPaymentsWithRefunds": 30,
                          "numCardPresentPayments": 19,
                          "numCardNotPresentPayments": 656,
                          "totalCapturedAmount": 593600.86,
                          "totalRefundedAmount": 95876.18,
                          "totalNetCapturedAmount": 497724.68,
                          "averageNetCapturedAmount": 4218.01,
                          "minNetCapturedAmount": 69.65,
                          "maxNetCapturedAmount": 3887.92
                        },
                        {
                          "intervalStart": "2026-03-23T00:00:00+00:00",
                          "intervalEnd": "2026-03-24T00:00:00+00:00",
                          "numPaymentsCreated": 552,
                          "numPaymentsProcessed": 493,
                          "numPaymentsIncomplete": 59,
                          "numPaymentsWithRefunds": 126,
                          "numCardPresentPayments": 336,
                          "numCardNotPresentPayments": -277,
                          "totalCapturedAmount": 492205.6,
                          "totalRefundedAmount": 28413.63,
                          "totalNetCapturedAmount": 463791.97,
                          "averageNetCapturedAmount": 940.75,
                          "minNetCapturedAmount": 29.7,
                          "maxNetCapturedAmount": 7389.67
                        },
                        {
                          "intervalStart": "2026-03-24T00:00:00+00:00",
                          "intervalEnd": "2026-03-25T00:00:00+00:00",
                          "numPaymentsCreated": 691,
                          "numPaymentsProcessed": 111,
                          "numPaymentsIncomplete": 580,
                          "numPaymentsWithRefunds": 9,
                          "numCardPresentPayments": 90,
                          "numCardNotPresentPayments": 490,
                          "totalCapturedAmount": 954108.24,
                          "totalRefundedAmount": 225380.11,
                          "totalNetCapturedAmount": 728728.13,
                          "averageNetCapturedAmount": 6565.12,
                          "minNetCapturedAmount": 27.28,
                          "maxNetCapturedAmount": 4101.83
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-18T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-19T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 749
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 632
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 117
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 128
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 115
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": 2
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 320232.46
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 202.46
                          },
                          "totalNetCapturedAmount": {
                            "type": "integer",
                            "example": 320030
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 506.38
                          },
                          "minNetCapturedAmount": {
                            "type": "number",
                            "example": 85.44
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 5980.19
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-18T00:00:00+00:00",
                    "periodEnd": "2026-03-25T00:00:00+00:00",
                    "activeCustomers": 212,
                    "newCustomers": 102,
                    "returningCustomers": 110,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-18T00:00:00+00:00",
                        "intervalEnd": "2026-03-19T00:00:00+00:00",
                        "activeCustomers": 28,
                        "newCustomers": 15,
                        "returningCustomers": 13
                      },
                      {
                        "intervalStart": "2026-03-19T00:00:00+00:00",
                        "intervalEnd": "2026-03-20T00:00:00+00:00",
                        "activeCustomers": 47,
                        "newCustomers": 37,
                        "returningCustomers": 10
                      },
                      {
                        "intervalStart": "2026-03-20T00:00:00+00:00",
                        "intervalEnd": "2026-03-21T00:00:00+00:00",
                        "activeCustomers": 66,
                        "newCustomers": 11,
                        "returningCustomers": 55
                      },
                      {
                        "intervalStart": "2026-03-21T00:00:00+00:00",
                        "intervalEnd": "2026-03-22T00:00:00+00:00",
                        "activeCustomers": 29,
                        "newCustomers": 18,
                        "returningCustomers": 11
                      },
                      {
                        "intervalStart": "2026-03-22T00:00:00+00:00",
                        "intervalEnd": "2026-03-23T00:00:00+00:00",
                        "activeCustomers": 29,
                        "newCustomers": 7,
                        "returningCustomers": 22
                      },
                      {
                        "intervalStart": "2026-03-23T00:00:00+00:00",
                        "intervalEnd": "2026-03-24T00:00:00+00:00",
                        "activeCustomers": 69,
                        "newCustomers": 6,
                        "returningCustomers": 63
                      },
                      {
                        "intervalStart": "2026-03-24T00:00:00+00:00",
                        "intervalEnd": "2026-03-25T00:00:00+00:00",
                        "activeCustomers": 13,
                        "newCustomers": 8,
                        "returningCustomers": 5
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-18T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-25T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 212
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 102
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": 110
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-18T00:00:00+00:00",
                          "intervalEnd": "2026-03-19T00:00:00+00:00",
                          "activeCustomers": 28,
                          "newCustomers": 15,
                          "returningCustomers": 13
                        },
                        {
                          "intervalStart": "2026-03-19T00:00:00+00:00",
                          "intervalEnd": "2026-03-20T00:00:00+00:00",
                          "activeCustomers": 47,
                          "newCustomers": 37,
                          "returningCustomers": 10
                        },
                        {
                          "intervalStart": "2026-03-20T00:00:00+00:00",
                          "intervalEnd": "2026-03-21T00:00:00+00:00",
                          "activeCustomers": 66,
                          "newCustomers": 11,
                          "returningCustomers": 55
                        },
                        {
                          "intervalStart": "2026-03-21T00:00:00+00:00",
                          "intervalEnd": "2026-03-22T00:00:00+00:00",
                          "activeCustomers": 29,
                          "newCustomers": 18,
                          "returningCustomers": 11
                        },
                        {
                          "intervalStart": "2026-03-22T00:00:00+00:00",
                          "intervalEnd": "2026-03-23T00:00:00+00:00",
                          "activeCustomers": 29,
                          "newCustomers": 7,
                          "returningCustomers": 22
                        },
                        {
                          "intervalStart": "2026-03-23T00:00:00+00:00",
                          "intervalEnd": "2026-03-24T00:00:00+00:00",
                          "activeCustomers": 69,
                          "newCustomers": 6,
                          "returningCustomers": 63
                        },
                        {
                          "intervalStart": "2026-03-24T00:00:00+00:00",
                          "intervalEnd": "2026-03-25T00:00:00+00:00",
                          "activeCustomers": 13,
                          "newCustomers": 8,
                          "returningCustomers": 5
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-18T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-19T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 28
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 15
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 13
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-18T00:00:00+00:00",
                    "periodEnd": "2026-03-25T00:00:00+00:00",
                    "totalTransactions": 4381,
                    "authorizeTransactions": 313,
                    "captureTransactions": 357,
                    "payTransactions": 1743,
                    "refundTransactions": 818,
                    "verifyTransactions": 834,
                    "voidTransactions": 316,
                    "successfulTransactions": 3938,
                    "failedTransactions": 294,
                    "declinedTransactions": 129,
                    "pendingTransactions": 20,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-18T00:00:00+00:00",
                        "intervalEnd": "2026-03-19T00:00:00+00:00",
                        "totalTransactions": 962,
                        "authorizeTransactions": 53,
                        "captureTransactions": 58,
                        "payTransactions": 475,
                        "refundTransactions": 250,
                        "verifyTransactions": 113,
                        "voidTransactions": 13,
                        "successfulTransactions": 865,
                        "failedTransactions": 72,
                        "declinedTransactions": 23,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-19T00:00:00+00:00",
                        "intervalEnd": "2026-03-20T00:00:00+00:00",
                        "totalTransactions": 671,
                        "authorizeTransactions": 82,
                        "captureTransactions": 85,
                        "payTransactions": 347,
                        "refundTransactions": 142,
                        "verifyTransactions": 13,
                        "voidTransactions": 2,
                        "successfulTransactions": 603,
                        "failedTransactions": 51,
                        "declinedTransactions": 13,
                        "pendingTransactions": 4,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-20T00:00:00+00:00",
                        "intervalEnd": "2026-03-21T00:00:00+00:00",
                        "totalTransactions": 841,
                        "authorizeTransactions": 96,
                        "captureTransactions": 104,
                        "payTransactions": 415,
                        "refundTransactions": 82,
                        "verifyTransactions": 73,
                        "voidTransactions": 71,
                        "successfulTransactions": 756,
                        "failedTransactions": 52,
                        "declinedTransactions": 27,
                        "pendingTransactions": 6,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-21T00:00:00+00:00",
                        "intervalEnd": "2026-03-22T00:00:00+00:00",
                        "totalTransactions": 445,
                        "authorizeTransactions": 16,
                        "captureTransactions": 22,
                        "payTransactions": 95,
                        "refundTransactions": 223,
                        "verifyTransactions": 51,
                        "voidTransactions": 38,
                        "successfulTransactions": 400,
                        "failedTransactions": 20,
                        "declinedTransactions": 21,
                        "pendingTransactions": 4,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-22T00:00:00+00:00",
                        "intervalEnd": "2026-03-23T00:00:00+00:00",
                        "totalTransactions": 451,
                        "authorizeTransactions": 14,
                        "captureTransactions": 20,
                        "payTransactions": 146,
                        "refundTransactions": 45,
                        "verifyTransactions": 61,
                        "voidTransactions": 165,
                        "successfulTransactions": 405,
                        "failedTransactions": 27,
                        "declinedTransactions": 17,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-23T00:00:00+00:00",
                        "intervalEnd": "2026-03-24T00:00:00+00:00",
                        "totalTransactions": 343,
                        "authorizeTransactions": 32,
                        "captureTransactions": 42,
                        "payTransactions": 207,
                        "refundTransactions": 32,
                        "verifyTransactions": 18,
                        "voidTransactions": 12,
                        "successfulTransactions": 308,
                        "failedTransactions": 28,
                        "declinedTransactions": 6,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-24T00:00:00+00:00",
                        "intervalEnd": "2026-03-25T00:00:00+00:00",
                        "totalTransactions": 668,
                        "authorizeTransactions": 20,
                        "captureTransactions": 26,
                        "payTransactions": 58,
                        "refundTransactions": 44,
                        "verifyTransactions": 505,
                        "voidTransactions": 15,
                        "successfulTransactions": 601,
                        "failedTransactions": 44,
                        "declinedTransactions": 22,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-18T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-25T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 4381
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 313
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 357
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 1743
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 818
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 834
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 316
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 3938
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 294
                    },
                    "declinedTransactions": {
                      "type": "integer",
                      "example": 129
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 20
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-18T00:00:00+00:00",
                          "intervalEnd": "2026-03-19T00:00:00+00:00",
                          "totalTransactions": 962,
                          "authorizeTransactions": 53,
                          "captureTransactions": 58,
                          "payTransactions": 475,
                          "refundTransactions": 250,
                          "verifyTransactions": 113,
                          "voidTransactions": 13,
                          "successfulTransactions": 865,
                          "failedTransactions": 72,
                          "declinedTransactions": 23,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-19T00:00:00+00:00",
                          "intervalEnd": "2026-03-20T00:00:00+00:00",
                          "totalTransactions": 671,
                          "authorizeTransactions": 82,
                          "captureTransactions": 85,
                          "payTransactions": 347,
                          "refundTransactions": 142,
                          "verifyTransactions": 13,
                          "voidTransactions": 2,
                          "successfulTransactions": 603,
                          "failedTransactions": 51,
                          "declinedTransactions": 13,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-20T00:00:00+00:00",
                          "intervalEnd": "2026-03-21T00:00:00+00:00",
                          "totalTransactions": 841,
                          "authorizeTransactions": 96,
                          "captureTransactions": 104,
                          "payTransactions": 415,
                          "refundTransactions": 82,
                          "verifyTransactions": 73,
                          "voidTransactions": 71,
                          "successfulTransactions": 756,
                          "failedTransactions": 52,
                          "declinedTransactions": 27,
                          "pendingTransactions": 6,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-21T00:00:00+00:00",
                          "intervalEnd": "2026-03-22T00:00:00+00:00",
                          "totalTransactions": 445,
                          "authorizeTransactions": 16,
                          "captureTransactions": 22,
                          "payTransactions": 95,
                          "refundTransactions": 223,
                          "verifyTransactions": 51,
                          "voidTransactions": 38,
                          "successfulTransactions": 400,
                          "failedTransactions": 20,
                          "declinedTransactions": 21,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-22T00:00:00+00:00",
                          "intervalEnd": "2026-03-23T00:00:00+00:00",
                          "totalTransactions": 451,
                          "authorizeTransactions": 14,
                          "captureTransactions": 20,
                          "payTransactions": 146,
                          "refundTransactions": 45,
                          "verifyTransactions": 61,
                          "voidTransactions": 165,
                          "successfulTransactions": 405,
                          "failedTransactions": 27,
                          "declinedTransactions": 17,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-23T00:00:00+00:00",
                          "intervalEnd": "2026-03-24T00:00:00+00:00",
                          "totalTransactions": 343,
                          "authorizeTransactions": 32,
                          "captureTransactions": 42,
                          "payTransactions": 207,
                          "refundTransactions": 32,
                          "verifyTransactions": 18,
                          "voidTransactions": 12,
                          "successfulTransactions": 308,
                          "failedTransactions": 28,
                          "declinedTransactions": 6,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-24T00:00:00+00:00",
                          "intervalEnd": "2026-03-25T00:00:00+00:00",
                          "totalTransactions": 668,
                          "authorizeTransactions": 20,
                          "captureTransactions": 26,
                          "payTransactions": 58,
                          "refundTransactions": 44,
                          "verifyTransactions": 505,
                          "voidTransactions": 15,
                          "successfulTransactions": 601,
                          "failedTransactions": 44,
                          "declinedTransactions": 22,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-18T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-19T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 962
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 53
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 58
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 475
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 250
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 113
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": 13
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 865
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 72
                          },
                          "declinedTransactions": {
                            "type": "integer",
                            "example": 23
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 2
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-18T00:00:00+00:00",
                    "periodEnd": "2026-03-25T00:00:00+00:00",
                    "totalSettlementAmount": 37672.1,
                    "totalFeeAmount": 1845.9329,
                    "totalNetAmount": 35826.1671,
                    "totalTransactionsPending": 133,
                    "totalTransactionsSettled": 1032,
                    "totalTransactionsSettling": 866,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-18T00:00:00+00:00",
                        "intervalEnd": "2026-03-19T00:00:00+00:00",
                        "totalSettlementAmount": 3864.28,
                        "totalFeeAmount": 189.34972,
                        "totalNetAmount": 3674.93028,
                        "totalTransactionsPending": 21,
                        "totalTransactionsSettled": 40,
                        "totalTransactionsSettling": 58
                      },
                      {
                        "intervalStart": "2026-03-19T00:00:00+00:00",
                        "intervalEnd": "2026-03-20T00:00:00+00:00",
                        "totalSettlementAmount": 4669.42,
                        "totalFeeAmount": 228.80158,
                        "totalNetAmount": 4440.61842,
                        "totalTransactionsPending": 14,
                        "totalTransactionsSettled": 115,
                        "totalTransactionsSettling": 135
                      },
                      {
                        "intervalStart": "2026-03-20T00:00:00+00:00",
                        "intervalEnd": "2026-03-21T00:00:00+00:00",
                        "totalSettlementAmount": 8040.93,
                        "totalFeeAmount": 394.00557,
                        "totalNetAmount": 7646.92443,
                        "totalTransactionsPending": 32,
                        "totalTransactionsSettled": 167,
                        "totalTransactionsSettling": 45
                      },
                      {
                        "intervalStart": "2026-03-21T00:00:00+00:00",
                        "intervalEnd": "2026-03-22T00:00:00+00:00",
                        "totalSettlementAmount": 4939.91,
                        "totalFeeAmount": 242.05559,
                        "totalNetAmount": 4697.85441,
                        "totalTransactionsPending": 13,
                        "totalTransactionsSettled": 80,
                        "totalTransactionsSettling": 329
                      },
                      {
                        "intervalStart": "2026-03-22T00:00:00+00:00",
                        "intervalEnd": "2026-03-23T00:00:00+00:00",
                        "totalSettlementAmount": 5358.58,
                        "totalFeeAmount": 262.57042,
                        "totalNetAmount": 5096.00958,
                        "totalTransactionsPending": 38,
                        "totalTransactionsSettled": 232,
                        "totalTransactionsSettling": 109
                      },
                      {
                        "intervalStart": "2026-03-23T00:00:00+00:00",
                        "intervalEnd": "2026-03-24T00:00:00+00:00",
                        "totalSettlementAmount": 1700.78,
                        "totalFeeAmount": 83.33822,
                        "totalNetAmount": 1617.44178,
                        "totalTransactionsPending": 8,
                        "totalTransactionsSettled": 305,
                        "totalTransactionsSettling": 80
                      },
                      {
                        "intervalStart": "2026-03-24T00:00:00+00:00",
                        "intervalEnd": "2026-03-25T00:00:00+00:00",
                        "totalSettlementAmount": 9098.2,
                        "totalFeeAmount": 445.8118,
                        "totalNetAmount": 8652.3882,
                        "totalTransactionsPending": 7,
                        "totalTransactionsSettled": 93,
                        "totalTransactionsSettling": 110
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-18T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-25T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 37672.1
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 1845.9329
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 35826.1671
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 133
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 1032
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 866
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-18T00:00:00+00:00",
                          "intervalEnd": "2026-03-19T00:00:00+00:00",
                          "totalSettlementAmount": 3864.28,
                          "totalFeeAmount": 189.34972,
                          "totalNetAmount": 3674.93028,
                          "totalTransactionsPending": 21,
                          "totalTransactionsSettled": 40,
                          "totalTransactionsSettling": 58
                        },
                        {
                          "intervalStart": "2026-03-19T00:00:00+00:00",
                          "intervalEnd": "2026-03-20T00:00:00+00:00",
                          "totalSettlementAmount": 4669.42,
                          "totalFeeAmount": 228.80158,
                          "totalNetAmount": 4440.61842,
                          "totalTransactionsPending": 14,
                          "totalTransactionsSettled": 115,
                          "totalTransactionsSettling": 135
                        },
                        {
                          "intervalStart": "2026-03-20T00:00:00+00:00",
                          "intervalEnd": "2026-03-21T00:00:00+00:00",
                          "totalSettlementAmount": 8040.93,
                          "totalFeeAmount": 394.00557,
                          "totalNetAmount": 7646.92443,
                          "totalTransactionsPending": 32,
                          "totalTransactionsSettled": 167,
                          "totalTransactionsSettling": 45
                        },
                        {
                          "intervalStart": "2026-03-21T00:00:00+00:00",
                          "intervalEnd": "2026-03-22T00:00:00+00:00",
                          "totalSettlementAmount": 4939.91,
                          "totalFeeAmount": 242.05559,
                          "totalNetAmount": 4697.85441,
                          "totalTransactionsPending": 13,
                          "totalTransactionsSettled": 80,
                          "totalTransactionsSettling": 329
                        },
                        {
                          "intervalStart": "2026-03-22T00:00:00+00:00",
                          "intervalEnd": "2026-03-23T00:00:00+00:00",
                          "totalSettlementAmount": 5358.58,
                          "totalFeeAmount": 262.57042,
                          "totalNetAmount": 5096.00958,
                          "totalTransactionsPending": 38,
                          "totalTransactionsSettled": 232,
                          "totalTransactionsSettling": 109
                        },
                        {
                          "intervalStart": "2026-03-23T00:00:00+00:00",
                          "intervalEnd": "2026-03-24T00:00:00+00:00",
                          "totalSettlementAmount": 1700.78,
                          "totalFeeAmount": 83.33822,
                          "totalNetAmount": 1617.44178,
                          "totalTransactionsPending": 8,
                          "totalTransactionsSettled": 305,
                          "totalTransactionsSettling": 80
                        },
                        {
                          "intervalStart": "2026-03-24T00:00:00+00:00",
                          "intervalEnd": "2026-03-25T00:00:00+00:00",
                          "totalSettlementAmount": 9098.2,
                          "totalFeeAmount": 445.8118,
                          "totalNetAmount": 8652.3882,
                          "totalTransactionsPending": 7,
                          "totalTransactionsSettled": 93,
                          "totalTransactionsSettling": 110
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-18T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-19T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 3864.28
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 189.34972
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 3674.93028
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 21
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 40
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 58
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 3,
                    "data": [
                      {
                        "email": "kmonahan@ondricka.net",
                        "firstName": "Telly",
                        "lastName": "Bogan",
                        "phone": "+12053108439",
                        "dateOfBirth": "1990-02-11"
                      },
                      {
                        "email": "fwelch@tremblay.com",
                        "firstName": "Myah",
                        "lastName": "Kohler",
                        "phone": "+13258150369",
                        "dateOfBirth": "1991-01-08"
                      },
                      {
                        "email": "mreynolds@waters.biz",
                        "firstName": "Katrina",
                        "lastName": "Volkman",
                        "phone": "+12294179923",
                        "dateOfBirth": "1996-09-09"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 3,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "kmonahan@ondricka.net",
                          "firstName": "Telly",
                          "lastName": "Bogan",
                          "phone": "+12053108439",
                          "dateOfBirth": "1990-02-11"
                        },
                        {
                          "email": "fwelch@tremblay.com",
                          "firstName": "Myah",
                          "lastName": "Kohler",
                          "phone": "+13258150369",
                          "dateOfBirth": "1991-01-08"
                        },
                        {
                          "email": "mreynolds@waters.biz",
                          "firstName": "Katrina",
                          "lastName": "Volkman",
                          "phone": "+12294179923",
                          "dateOfBirth": "1996-09-09"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "kmonahan@ondricka.net"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Telly"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Bogan"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+12053108439"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "1990-02-11"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers/{customerIdOrEmail}/addresses": {
      "get": {
        "summary": "List Customer Billing Addresses",
        "operationId": "listCustomerBillingAddresses",
        "description": "Returns all unique billing addresses that have been used by a customer across their payments.\nAddresses are deduplicated using case-insensitive and whitespace-insensitive comparison.",
        "parameters": [
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
            "example": "-city",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
              "example": "-city",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of unique billing addresses for the customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "company": "Cruickshank-Reynolds",
                        "street": "66796 Emmet Stream",
                        "city": "New Norbertton",
                        "stateProvince": "NM",
                        "postcodeZip": "39637-9299",
                        "country": "USA"
                      },
                      {
                        "company": "Gaylord and Sons",
                        "street": "45426 Brando Inlet Suite 867",
                        "city": "Samaraburgh",
                        "stateProvince": "VT",
                        "postcodeZip": "05916",
                        "country": "USA"
                      },
                      {
                        "company": "Rosenbaum-Hintz",
                        "street": "822 Deontae Expressway Suite 147",
                        "city": "West Aimeemouth",
                        "stateProvince": "DC",
                        "postcodeZip": "27574-2130",
                        "country": "USA"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "company": "Cruickshank-Reynolds",
                          "street": "66796 Emmet Stream",
                          "city": "New Norbertton",
                          "stateProvince": "NM",
                          "postcodeZip": "39637-9299",
                          "country": "USA"
                        },
                        {
                          "company": "Gaylord and Sons",
                          "street": "45426 Brando Inlet Suite 867",
                          "city": "Samaraburgh",
                          "stateProvince": "VT",
                          "postcodeZip": "05916",
                          "country": "USA"
                        },
                        {
                          "company": "Rosenbaum-Hintz",
                          "street": "822 Deontae Expressway Suite 147",
                          "city": "West Aimeemouth",
                          "stateProvince": "DC",
                          "postcodeZip": "27574-2130",
                          "country": "USA"
                        }
                      ],
                      "description": "The data returned from the request",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "company": {
                            "type": "string",
                            "example": "Cruickshank-Reynolds"
                          },
                          "street": {
                            "type": "string",
                            "example": "66796 Emmet Stream"
                          },
                          "city": {
                            "type": "string",
                            "example": "New Norbertton"
                          },
                          "stateProvince": {
                            "type": "string",
                            "example": "NM"
                          },
                          "postcodeZip": {
                            "type": "string",
                            "example": "39637-9299"
                          },
                          "country": {
                            "type": "string",
                            "example": "USA"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "path",
          "name": "customerIdOrEmail",
          "description": "The customer ID, UUID, or email address",
          "example": "customer_123",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/simulated/terminals": {
      "get": {
        "summary": "Get all available simulated terminals.",
        "operationId": "getAllAvailableSimulatedTerminals",
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of available simulated terminals",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "title": "Success",
                        "description": "Approves all card present transactions successfully.",
                        "tid": "SUCCESS",
                        "readyForProcessing": true,
                        "provider": "SIMULATED",
                        "type": "CARD_PRESENT"
                      },
                      {
                        "title": "Transaction Declined",
                        "description": "Simulates a declined transaction.",
                        "tid": "TRANSACTION_DECLINED",
                        "readyForProcessing": true,
                        "provider": "SIMULATED",
                        "type": "CARD_PRESENT"
                      },
                      {
                        "title": "Card Present Timeout",
                        "description": "Simulates a card present timeout.",
                        "tid": "CARD_PRESENT_TIMEOUT",
                        "readyForProcessing": true,
                        "provider": "SIMULATED",
                        "type": "CARD_PRESENT"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "title": "Success",
[...]
