{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.55.0"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-18T00:00:00+00:00",
                    "periodEnd": "2026-03-25T00:00:00+00:00",
                    "numPaymentsCreated": 3436,
                    "numPaymentsProcessed": 1095,
                    "numPaymentsIncomplete": 2341,
                    "numPaymentsWithRefunds": 745,
                    "numCardPresentPayments": 524,
                    "numCardNotPresentPayments": 1817,
                    "totalCapturedAmount": 3772794.92,
                    "totalRefundedAmount": 594998.77,
                    "totalNetCapturedAmount": 3177796.15,
                    "averageNetCapturedAmount": 3790.6214285714,
                    "minNetCapturedAmount": 18.41,
                    "maxNetCapturedAmount": 7760.23,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-18T00:00:00+00:00",
                        "intervalEnd": "2026-03-19T00:00:00+00:00",
                        "numPaymentsCreated": 750,
                        "numPaymentsProcessed": 365,
                        "numPaymentsIncomplete": 385,
                        "numPaymentsWithRefunds": 362,
                        "numCardPresentPayments": 187,
                        "numCardNotPresentPayments": 198,
                        "totalCapturedAmount": 379588.68,
                        "totalRefundedAmount": 18169.58,
                        "totalNetCapturedAmount": 361419.1,
                        "averageNetCapturedAmount": 990.19,
                        "minNetCapturedAmount": 25.47,
                        "maxNetCapturedAmount": 2799.61
                      },
                      {
                        "intervalStart": "2026-03-19T00:00:00+00:00",
                        "intervalEnd": "2026-03-20T00:00:00+00:00",
                        "numPaymentsCreated": 991,
                        "numPaymentsProcessed": 153,
                        "numPaymentsIncomplete": 838,
                        "numPaymentsWithRefunds": 27,
                        "numCardPresentPayments": 17,
                        "numCardNotPresentPayments": 821,
                        "totalCapturedAmount": 11816.11,
                        "totalRefundedAmount": 1713.75,
                        "totalNetCapturedAmount": 10102.36,
                        "averageNetCapturedAmount": 66.03,
                        "minNetCapturedAmount": 93.38,
                        "maxNetCapturedAmount": 4833.4
                      },
                      {
                        "intervalStart": "2026-03-20T00:00:00+00:00",
                        "intervalEnd": "2026-03-21T00:00:00+00:00",
                        "numPaymentsCreated": 571,
                        "numPaymentsProcessed": 106,
                        "numPaymentsIncomplete": 465,
                        "numPaymentsWithRefunds": 37,
                        "numCardPresentPayments": 60,
                        "numCardNotPresentPayments": 405,
                        "totalCapturedAmount": 793572.08,
                        "totalRefundedAmount": 62672.55,
                        "totalNetCapturedAmount": 730899.53,
                        "averageNetCapturedAmount": 6895.28,
                        "minNetCapturedAmount": 20.45,
                        "maxNetCapturedAmount": 4127.36
                      },
                      {
                        "intervalStart": "2026-03-21T00:00:00+00:00",
                        "intervalEnd": "2026-03-22T00:00:00+00:00",
                        "numPaymentsCreated": 393,
                        "numPaymentsProcessed": 199,
                        "numPaymentsIncomplete": 194,
                        "numPaymentsWithRefunds": 170,
                        "numCardPresentPayments": 130,
                        "numCardNotPresentPayments": 64,
                        "totalCapturedAmount": 826250.09,
                        "totalRefundedAmount": 59473.75,
                        "totalNetCapturedAmount": 766776.34,
                        "averageNetCapturedAmount": 3853.15,
                        "minNetCapturedAmount": 70.56,
                        "maxNetCapturedAmount": 7760.23
                      },
                      {
                        "intervalStart": "2026-03-22T00:00:00+00:00",
                        "intervalEnd": "2026-03-23T00:00:00+00:00",
                        "numPaymentsCreated": 342,
                        "numPaymentsProcessed": 90,
                        "numPaymentsIncomplete": 252,
                        "numPaymentsWithRefunds": 59,
                        "numCardPresentPayments": 65,
                        "numCardNotPresentPayments": 187,
                        "totalCapturedAmount": 33279.69,
                        "totalRefundedAmount": 3656.83,
                        "totalNetCapturedAmount": 29622.86,
                        "averageNetCapturedAmount": 329.14,
                        "minNetCapturedAmount": 18.41,
                        "maxNetCapturedAmount": 6266.5
                      },
                      {
                        "intervalStart": "2026-03-23T00:00:00+00:00",
                        "intervalEnd": "2026-03-24T00:00:00+00:00",
                        "numPaymentsCreated": 173,
                        "numPaymentsProcessed": 76,
                        "numPaymentsIncomplete": 97,
                        "numPaymentsWithRefunds": 20,
                        "numCardPresentPayments": 28,
                        "numCardNotPresentPayments": 69,
                        "totalCapturedAmount": 868357.12,
                        "totalRefundedAmount": 241398.79,
                        "totalNetCapturedAmount": 626958.33,
                        "averageNetCapturedAmount": 8249.45,
                        "minNetCapturedAmount": 83.47,
                        "maxNetCapturedAmount": 1715.47
                      },
                      {
                        "intervalStart": "2026-03-24T00:00:00+00:00",
                        "intervalEnd": "2026-03-25T00:00:00+00:00",
                        "numPaymentsCreated": 216,
                        "numPaymentsProcessed": 106,
                        "numPaymentsIncomplete": 110,
                        "numPaymentsWithRefunds": 70,
                        "numCardPresentPayments": 37,
                        "numCardNotPresentPayments": 73,
                        "totalCapturedAmount": 859931.15,
                        "totalRefundedAmount": 207913.52,
                        "totalNetCapturedAmount": 652017.63,
                        "averageNetCapturedAmount": 6151.11,
                        "minNetCapturedAmount": 76.05,
                        "maxNetCapturedAmount": 1981.75
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-18T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-25T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 3436
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 1095
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 2341
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 745
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 524
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": 1817
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 3772794.92
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 594998.77
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 3177796.15
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 3790.6214285714
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 18.41
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 7760.23
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-18T00:00:00+00:00",
                          "intervalEnd": "2026-03-19T00:00:00+00:00",
                          "numPaymentsCreated": 750,
                          "numPaymentsProcessed": 365,
                          "numPaymentsIncomplete": 385,
                          "numPaymentsWithRefunds": 362,
                          "numCardPresentPayments": 187,
                          "numCardNotPresentPayments": 198,
                          "totalCapturedAmount": 379588.68,
                          "totalRefundedAmount": 18169.58,
                          "totalNetCapturedAmount": 361419.1,
                          "averageNetCapturedAmount": 990.19,
                          "minNetCapturedAmount": 25.47,
                          "maxNetCapturedAmount": 2799.61
                        },
                        {
                          "intervalStart": "2026-03-19T00:00:00+00:00",
                          "intervalEnd": "2026-03-20T00:00:00+00:00",
                          "numPaymentsCreated": 991,
                          "numPaymentsProcessed": 153,
                          "numPaymentsIncomplete": 838,
                          "numPaymentsWithRefunds": 27,
                          "numCardPresentPayments": 17,
                          "numCardNotPresentPayments": 821,
                          "totalCapturedAmount": 11816.11,
                          "totalRefundedAmount": 1713.75,
                          "totalNetCapturedAmount": 10102.36,
                          "averageNetCapturedAmount": 66.03,
                          "minNetCapturedAmount": 93.38,
                          "maxNetCapturedAmount": 4833.4
                        },
                        {
                          "intervalStart": "2026-03-20T00:00:00+00:00",
                          "intervalEnd": "2026-03-21T00:00:00+00:00",
                          "numPaymentsCreated": 571,
                          "numPaymentsProcessed": 106,
                          "numPaymentsIncomplete": 465,
                          "numPaymentsWithRefunds": 37,
                          "numCardPresentPayments": 60,
                          "numCardNotPresentPayments": 405,
                          "totalCapturedAmount": 793572.08,
                          "totalRefundedAmount": 62672.55,
                          "totalNetCapturedAmount": 730899.53,
                          "averageNetCapturedAmount": 6895.28,
                          "minNetCapturedAmount": 20.45,
                          "maxNetCapturedAmount": 4127.36
                        },
                        {
                          "intervalStart": "2026-03-21T00:00:00+00:00",
                          "intervalEnd": "2026-03-22T00:00:00+00:00",
                          "numPaymentsCreated": 393,
                          "numPaymentsProcessed": 199,
                          "numPaymentsIncomplete": 194,
                          "numPaymentsWithRefunds": 170,
                          "numCardPresentPayments": 130,
                          "numCardNotPresentPayments": 64,
                          "totalCapturedAmount": 826250.09,
                          "totalRefundedAmount": 59473.75,
                          "totalNetCapturedAmount": 766776.34,
                          "averageNetCapturedAmount": 3853.15,
                          "minNetCapturedAmount": 70.56,
                          "maxNetCapturedAmount": 7760.23
                        },
                        {
                          "intervalStart": "2026-03-22T00:00:00+00:00",
                          "intervalEnd": "2026-03-23T00:00:00+00:00",
                          "numPaymentsCreated": 342,
                          "numPaymentsProcessed": 90,
                          "numPaymentsIncomplete": 252,
                          "numPaymentsWithRefunds": 59,
                          "numCardPresentPayments": 65,
                          "numCardNotPresentPayments": 187,
                          "totalCapturedAmount": 33279.69,
                          "totalRefundedAmount": 3656.83,
                          "totalNetCapturedAmount": 29622.86,
                          "averageNetCapturedAmount": 329.14,
                          "minNetCapturedAmount": 18.41,
                          "maxNetCapturedAmount": 6266.5
                        },
                        {
                          "intervalStart": "2026-03-23T00:00:00+00:00",
                          "intervalEnd": "2026-03-24T00:00:00+00:00",
                          "numPaymentsCreated": 173,
                          "numPaymentsProcessed": 76,
                          "numPaymentsIncomplete": 97,
                          "numPaymentsWithRefunds": 20,
                          "numCardPresentPayments": 28,
                          "numCardNotPresentPayments": 69,
                          "totalCapturedAmount": 868357.12,
                          "totalRefundedAmount": 241398.79,
                          "totalNetCapturedAmount": 626958.33,
                          "averageNetCapturedAmount": 8249.45,
                          "minNetCapturedAmount": 83.47,
                          "maxNetCapturedAmount": 1715.47
                        },
                        {
                          "intervalStart": "2026-03-24T00:00:00+00:00",
                          "intervalEnd": "2026-03-25T00:00:00+00:00",
                          "numPaymentsCreated": 216,
                          "numPaymentsProcessed": 106,
                          "numPaymentsIncomplete": 110,
                          "numPaymentsWithRefunds": 70,
                          "numCardPresentPayments": 37,
                          "numCardNotPresentPayments": 73,
                          "totalCapturedAmount": 859931.15,
                          "totalRefundedAmount": 207913.52,
                          "totalNetCapturedAmount": 652017.63,
                          "averageNetCapturedAmount": 6151.11,
                          "minNetCapturedAmount": 76.05,
                          "maxNetCapturedAmount": 1981.75
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-18T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-19T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 750
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 365
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 385
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 362
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 187
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": 198
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 379588.68
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 18169.58
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 361419.1
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 990.19
                          },
                          "minNetCapturedAmount": {
                            "type": "number",
                            "example": 25.47
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 2799.61
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-18T00:00:00+00:00",
                    "periodEnd": "2026-03-25T00:00:00+00:00",
                    "activeCustomers": 338,
                    "newCustomers": 126,
                    "returningCustomers": 212,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-18T00:00:00+00:00",
                        "intervalEnd": "2026-03-19T00:00:00+00:00",
                        "activeCustomers": 28,
                        "newCustomers": 20,
                        "returningCustomers": 8
                      },
                      {
                        "intervalStart": "2026-03-19T00:00:00+00:00",
                        "intervalEnd": "2026-03-20T00:00:00+00:00",
                        "activeCustomers": 46,
                        "newCustomers": 12,
                        "returningCustomers": 34
                      },
                      {
                        "intervalStart": "2026-03-20T00:00:00+00:00",
                        "intervalEnd": "2026-03-21T00:00:00+00:00",
                        "activeCustomers": 29,
                        "newCustomers": 18,
                        "returningCustomers": 11
                      },
                      {
                        "intervalStart": "2026-03-21T00:00:00+00:00",
                        "intervalEnd": "2026-03-22T00:00:00+00:00",
                        "activeCustomers": 56,
                        "newCustomers": 7,
                        "returningCustomers": 49
                      },
                      {
                        "intervalStart": "2026-03-22T00:00:00+00:00",
                        "intervalEnd": "2026-03-23T00:00:00+00:00",
                        "activeCustomers": 99,
                        "newCustomers": 18,
                        "returningCustomers": 81
                      },
                      {
                        "intervalStart": "2026-03-23T00:00:00+00:00",
                        "intervalEnd": "2026-03-24T00:00:00+00:00",
                        "activeCustomers": 39,
                        "newCustomers": 35,
                        "returningCustomers": 4
                      },
                      {
                        "intervalStart": "2026-03-24T00:00:00+00:00",
                        "intervalEnd": "2026-03-25T00:00:00+00:00",
                        "activeCustomers": 55,
                        "newCustomers": 16,
                        "returningCustomers": 39
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-18T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-25T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 338
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 126
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": 212
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-18T00:00:00+00:00",
                          "intervalEnd": "2026-03-19T00:00:00+00:00",
                          "activeCustomers": 28,
                          "newCustomers": 20,
                          "returningCustomers": 8
                        },
                        {
                          "intervalStart": "2026-03-19T00:00:00+00:00",
                          "intervalEnd": "2026-03-20T00:00:00+00:00",
                          "activeCustomers": 46,
                          "newCustomers": 12,
                          "returningCustomers": 34
                        },
                        {
                          "intervalStart": "2026-03-20T00:00:00+00:00",
                          "intervalEnd": "2026-03-21T00:00:00+00:00",
                          "activeCustomers": 29,
                          "newCustomers": 18,
                          "returningCustomers": 11
                        },
                        {
                          "intervalStart": "2026-03-21T00:00:00+00:00",
                          "intervalEnd": "2026-03-22T00:00:00+00:00",
                          "activeCustomers": 56,
                          "newCustomers": 7,
                          "returningCustomers": 49
                        },
                        {
                          "intervalStart": "2026-03-22T00:00:00+00:00",
                          "intervalEnd": "2026-03-23T00:00:00+00:00",
                          "activeCustomers": 99,
                          "newCustomers": 18,
                          "returningCustomers": 81
                        },
                        {
                          "intervalStart": "2026-03-23T00:00:00+00:00",
                          "intervalEnd": "2026-03-24T00:00:00+00:00",
                          "activeCustomers": 39,
                          "newCustomers": 35,
                          "returningCustomers": 4
                        },
                        {
                          "intervalStart": "2026-03-24T00:00:00+00:00",
                          "intervalEnd": "2026-03-25T00:00:00+00:00",
                          "activeCustomers": 55,
                          "newCustomers": 16,
                          "returningCustomers": 39
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-18T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-19T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 28
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 20
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 8
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-18T00:00:00+00:00",
                    "periodEnd": "2026-03-25T00:00:00+00:00",
                    "totalTransactions": 2860,
                    "authorizeTransactions": 157,
                    "captureTransactions": 201,
                    "payTransactions": 1362,
                    "refundTransactions": 503,
                    "verifyTransactions": 544,
                    "voidTransactions": 93,
                    "successfulTransactions": 2571,
                    "failedTransactions": 169,
                    "declinedTransactions": 104,
                    "pendingTransactions": 16,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-18T00:00:00+00:00",
                        "intervalEnd": "2026-03-19T00:00:00+00:00",
                        "totalTransactions": 162,
                        "authorizeTransactions": 14,
                        "captureTransactions": 23,
                        "payTransactions": 103,
                        "refundTransactions": 5,
                        "verifyTransactions": 6,
                        "voidTransactions": 11,
                        "successfulTransactions": 145,
                        "failedTransactions": 15,
                        "declinedTransactions": 1,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-19T00:00:00+00:00",
                        "intervalEnd": "2026-03-20T00:00:00+00:00",
                        "totalTransactions": 471,
                        "authorizeTransactions": 35,
                        "captureTransactions": 43,
                        "payTransactions": 242,
                        "refundTransactions": 53,
                        "verifyTransactions": 81,
                        "voidTransactions": 17,
                        "successfulTransactions": 423,
                        "failedTransactions": 26,
                        "declinedTransactions": 18,
                        "pendingTransactions": 4,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-20T00:00:00+00:00",
                        "intervalEnd": "2026-03-21T00:00:00+00:00",
                        "totalTransactions": 266,
                        "authorizeTransactions": 12,
                        "captureTransactions": 16,
                        "payTransactions": 172,
                        "refundTransactions": 40,
                        "verifyTransactions": 12,
                        "voidTransactions": 14,
                        "successfulTransactions": 239,
                        "failedTransactions": 13,
                        "declinedTransactions": 13,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-21T00:00:00+00:00",
                        "intervalEnd": "2026-03-22T00:00:00+00:00",
                        "totalTransactions": 498,
                        "authorizeTransactions": 18,
                        "captureTransactions": 21,
                        "payTransactions": 72,
                        "refundTransactions": 200,
                        "verifyTransactions": 159,
                        "voidTransactions": 28,
                        "successfulTransactions": 448,
                        "failedTransactions": 38,
                        "declinedTransactions": 8,
                        "pendingTransactions": 4,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-22T00:00:00+00:00",
                        "intervalEnd": "2026-03-23T00:00:00+00:00",
                        "totalTransactions": 400,
                        "authorizeTransactions": 11,
                        "captureTransactions": 14,
                        "payTransactions": 218,
                        "refundTransactions": 142,
                        "verifyTransactions": 11,
                        "voidTransactions": 4,
                        "successfulTransactions": 360,
                        "failedTransactions": 18,
                        "declinedTransactions": 19,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-23T00:00:00+00:00",
                        "intervalEnd": "2026-03-24T00:00:00+00:00",
                        "totalTransactions": 586,
                        "authorizeTransactions": 29,
                        "captureTransactions": 39,
                        "payTransactions": 184,
                        "refundTransactions": 47,
                        "verifyTransactions": 268,
                        "voidTransactions": 19,
                        "successfulTransactions": 527,
                        "failedTransactions": 35,
                        "declinedTransactions": 22,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-24T00:00:00+00:00",
                        "intervalEnd": "2026-03-25T00:00:00+00:00",
                        "totalTransactions": 477,
                        "authorizeTransactions": 38,
                        "captureTransactions": 45,
                        "payTransactions": 371,
                        "refundTransactions": 16,
                        "verifyTransactions": 7,
                        "voidTransactions": 0,
                        "successfulTransactions": 429,
                        "failedTransactions": 24,
                        "declinedTransactions": 23,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-18T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-25T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 2860
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 157
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 201
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 1362
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 503
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 544
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 93
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 2571
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 169
                    },
                    "declinedTransactions": {
                      "type": "integer",
                      "example": 104
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 16
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-18T00:00:00+00:00",
                          "intervalEnd": "2026-03-19T00:00:00+00:00",
                          "totalTransactions": 162,
                          "authorizeTransactions": 14,
                          "captureTransactions": 23,
                          "payTransactions": 103,
                          "refundTransactions": 5,
                          "verifyTransactions": 6,
                          "voidTransactions": 11,
                          "successfulTransactions": 145,
                          "failedTransactions": 15,
                          "declinedTransactions": 1,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-19T00:00:00+00:00",
                          "intervalEnd": "2026-03-20T00:00:00+00:00",
                          "totalTransactions": 471,
                          "authorizeTransactions": 35,
                          "captureTransactions": 43,
                          "payTransactions": 242,
                          "refundTransactions": 53,
                          "verifyTransactions": 81,
                          "voidTransactions": 17,
                          "successfulTransactions": 423,
                          "failedTransactions": 26,
                          "declinedTransactions": 18,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-20T00:00:00+00:00",
                          "intervalEnd": "2026-03-21T00:00:00+00:00",
                          "totalTransactions": 266,
                          "authorizeTransactions": 12,
                          "captureTransactions": 16,
                          "payTransactions": 172,
                          "refundTransactions": 40,
                          "verifyTransactions": 12,
                          "voidTransactions": 14,
                          "successfulTransactions": 239,
                          "failedTransactions": 13,
                          "declinedTransactions": 13,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-21T00:00:00+00:00",
                          "intervalEnd": "2026-03-22T00:00:00+00:00",
                          "totalTransactions": 498,
                          "authorizeTransactions": 18,
                          "captureTransactions": 21,
                          "payTransactions": 72,
                          "refundTransactions": 200,
                          "verifyTransactions": 159,
                          "voidTransactions": 28,
                          "successfulTransactions": 448,
                          "failedTransactions": 38,
                          "declinedTransactions": 8,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-22T00:00:00+00:00",
                          "intervalEnd": "2026-03-23T00:00:00+00:00",
                          "totalTransactions": 400,
                          "authorizeTransactions": 11,
                          "captureTransactions": 14,
                          "payTransactions": 218,
                          "refundTransactions": 142,
                          "verifyTransactions": 11,
                          "voidTransactions": 4,
                          "successfulTransactions": 360,
                          "failedTransactions": 18,
                          "declinedTransactions": 19,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-23T00:00:00+00:00",
                          "intervalEnd": "2026-03-24T00:00:00+00:00",
                          "totalTransactions": 586,
                          "authorizeTransactions": 29,
                          "captureTransactions": 39,
                          "payTransactions": 184,
                          "refundTransactions": 47,
                          "verifyTransactions": 268,
                          "voidTransactions": 19,
                          "successfulTransactions": 527,
                          "failedTransactions": 35,
                          "declinedTransactions": 22,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-24T00:00:00+00:00",
                          "intervalEnd": "2026-03-25T00:00:00+00:00",
                          "totalTransactions": 477,
                          "authorizeTransactions": 38,
                          "captureTransactions": 45,
                          "payTransactions": 371,
                          "refundTransactions": 16,
                          "verifyTransactions": 7,
                          "voidTransactions": 0,
                          "successfulTransactions": 429,
                          "failedTransactions": 24,
                          "declinedTransactions": 23,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-18T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-19T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 162
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 14
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 23
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 103
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 5
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 6
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": 11
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 145
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 15
                          },
                          "declinedTransactions": {
                            "type": "integer",
                            "example": 1
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 1
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-18T00:00:00+00:00",
                    "periodEnd": "2026-03-25T00:00:00+00:00",
                    "totalSettlementAmount": 33335.5,
                    "totalFeeAmount": 1633.4395,
                    "totalNetAmount": 31702.0605,
                    "totalTransactionsPending": 149,
                    "totalTransactionsSettled": 660,
                    "totalTransactionsSettling": 861,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-18T00:00:00+00:00",
                        "intervalEnd": "2026-03-19T00:00:00+00:00",
                        "totalSettlementAmount": 6122.25,
                        "totalFeeAmount": 299.99025,
                        "totalNetAmount": 5822.25975,
                        "totalTransactionsPending": 21,
                        "totalTransactionsSettled": 331,
                        "totalTransactionsSettling": 12
                      },
                      {
                        "intervalStart": "2026-03-19T00:00:00+00:00",
                        "intervalEnd": "2026-03-20T00:00:00+00:00",
                        "totalSettlementAmount": 1748.99,
                        "totalFeeAmount": 85.70051,
                        "totalNetAmount": 1663.28949,
                        "totalTransactionsPending": 17,
                        "totalTransactionsSettled": 30,
                        "totalTransactionsSettling": 118
                      },
                      {
                        "intervalStart": "2026-03-20T00:00:00+00:00",
                        "intervalEnd": "2026-03-21T00:00:00+00:00",
                        "totalSettlementAmount": 6100.45,
                        "totalFeeAmount": 298.92205,
                        "totalNetAmount": 5801.52795,
                        "totalTransactionsPending": 10,
                        "totalTransactionsSettled": 181,
                        "totalTransactionsSettling": 81
                      },
                      {
                        "intervalStart": "2026-03-21T00:00:00+00:00",
                        "intervalEnd": "2026-03-22T00:00:00+00:00",
                        "totalSettlementAmount": 6935.48,
                        "totalFeeAmount": 339.83852,
                        "totalNetAmount": 6595.64148,
                        "totalTransactionsPending": 26,
                        "totalTransactionsSettled": 24,
                        "totalTransactionsSettling": 64
                      },
                      {
                        "intervalStart": "2026-03-22T00:00:00+00:00",
                        "intervalEnd": "2026-03-23T00:00:00+00:00",
                        "totalSettlementAmount": 3609.37,
                        "totalFeeAmount": 176.85913,
                        "totalNetAmount": 3432.51087,
                        "totalTransactionsPending": 39,
                        "totalTransactionsSettled": 24,
                        "totalTransactionsSettling": 340
                      },
                      {
                        "intervalStart": "2026-03-23T00:00:00+00:00",
                        "intervalEnd": "2026-03-24T00:00:00+00:00",
                        "totalSettlementAmount": 1702.32,
                        "totalFeeAmount": 83.41368,
                        "totalNetAmount": 1618.90632,
                        "totalTransactionsPending": 25,
                        "totalTransactionsSettled": 21,
                        "totalTransactionsSettling": 192
                      },
                      {
                        "intervalStart": "2026-03-24T00:00:00+00:00",
                        "intervalEnd": "2026-03-25T00:00:00+00:00",
                        "totalSettlementAmount": 7116.64,
                        "totalFeeAmount": 348.71536,
                        "totalNetAmount": 6767.92464,
                        "totalTransactionsPending": 11,
                        "totalTransactionsSettled": 49,
                        "totalTransactionsSettling": 54
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-18T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-25T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 33335.5
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 1633.4395
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 31702.0605
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 149
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 660
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 861
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-18T00:00:00+00:00",
                          "intervalEnd": "2026-03-19T00:00:00+00:00",
                          "totalSettlementAmount": 6122.25,
                          "totalFeeAmount": 299.99025,
                          "totalNetAmount": 5822.25975,
                          "totalTransactionsPending": 21,
                          "totalTransactionsSettled": 331,
                          "totalTransactionsSettling": 12
                        },
                        {
                          "intervalStart": "2026-03-19T00:00:00+00:00",
                          "intervalEnd": "2026-03-20T00:00:00+00:00",
                          "totalSettlementAmount": 1748.99,
                          "totalFeeAmount": 85.70051,
                          "totalNetAmount": 1663.28949,
                          "totalTransactionsPending": 17,
                          "totalTransactionsSettled": 30,
                          "totalTransactionsSettling": 118
                        },
                        {
                          "intervalStart": "2026-03-20T00:00:00+00:00",
                          "intervalEnd": "2026-03-21T00:00:00+00:00",
                          "totalSettlementAmount": 6100.45,
                          "totalFeeAmount": 298.92205,
                          "totalNetAmount": 5801.52795,
                          "totalTransactionsPending": 10,
                          "totalTransactionsSettled": 181,
                          "totalTransactionsSettling": 81
                        },
                        {
                          "intervalStart": "2026-03-21T00:00:00+00:00",
                          "intervalEnd": "2026-03-22T00:00:00+00:00",
                          "totalSettlementAmount": 6935.48,
                          "totalFeeAmount": 339.83852,
                          "totalNetAmount": 6595.64148,
                          "totalTransactionsPending": 26,
                          "totalTransactionsSettled": 24,
                          "totalTransactionsSettling": 64
                        },
                        {
                          "intervalStart": "2026-03-22T00:00:00+00:00",
                          "intervalEnd": "2026-03-23T00:00:00+00:00",
                          "totalSettlementAmount": 3609.37,
                          "totalFeeAmount": 176.85913,
                          "totalNetAmount": 3432.51087,
                          "totalTransactionsPending": 39,
                          "totalTransactionsSettled": 24,
                          "totalTransactionsSettling": 340
                        },
                        {
                          "intervalStart": "2026-03-23T00:00:00+00:00",
                          "intervalEnd": "2026-03-24T00:00:00+00:00",
                          "totalSettlementAmount": 1702.32,
                          "totalFeeAmount": 83.41368,
                          "totalNetAmount": 1618.90632,
                          "totalTransactionsPending": 25,
                          "totalTransactionsSettled": 21,
                          "totalTransactionsSettling": 192
                        },
                        {
                          "intervalStart": "2026-03-24T00:00:00+00:00",
                          "intervalEnd": "2026-03-25T00:00:00+00:00",
                          "totalSettlementAmount": 7116.64,
                          "totalFeeAmount": 348.71536,
                          "totalNetAmount": 6767.92464,
                          "totalTransactionsPending": 11,
                          "totalTransactionsSettled": 49,
                          "totalTransactionsSettling": 54
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-18T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-19T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 6122.25
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 299.99025
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 5822.25975
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 21
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 331
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 12
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 8,
                    "data": [
                      {
                        "email": "king58@gmail.com",
                        "firstName": "Fredy",
                        "lastName": "Sipes",
                        "phone": "+16403249445",
                        "dateOfBirth": "1971-06-15"
                      },
                      {
                        "email": "makenzie.rolfson@hirthe.com",
                        "firstName": "Maymie",
                        "lastName": "Zboncak",
                        "phone": "+18062515453",
                        "dateOfBirth": "2006-08-30"
                      },
                      {
                        "email": "vonrueden.janis@gmail.com",
                        "firstName": "Christine",
                        "lastName": "Kessler",
                        "phone": "+15086728824",
                        "dateOfBirth": "1984-05-22"
                      },
                      {
                        "email": "reece28@gmail.com",
                        "firstName": "Alexie",
                        "lastName": "Bosco",
                        "phone": "+17202424800",
                        "dateOfBirth": "2003-06-24"
                      },
                      {
                        "email": "schmeler.madie@kozey.com",
                        "firstName": "Charlotte",
                        "lastName": "Pfannerstill",
                        "phone": "+19803262984",
                        "dateOfBirth": "1991-04-11"
                      },
                      {
                        "email": "nyost@yahoo.com",
                        "firstName": "Stella",
                        "lastName": "McGlynn",
                        "phone": "+14069129051",
                        "dateOfBirth": "2003-02-11"
                      },
                      {
                        "email": "dax.pfannerstill@von.com",
                        "firstName": "Douglas",
                        "lastName": "Luettgen",
                        "phone": "+19893673190",
                        "dateOfBirth": "2002-04-22"
                      },
                      {
                        "email": "ramona99@schmeler.biz",
                        "firstName": "Sam",
                        "lastName": "Welch",
                        "phone": "+14427143352",
                        "dateOfBirth": "1985-03-31"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 8,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "king58@gmail.com",
                          "firstName": "Fredy",
                          "lastName": "Sipes",
                          "phone": "+16403249445",
                          "dateOfBirth": "1971-06-15"
                        },
                        {
                          "email": "makenzie.rolfson@hirthe.com",
                          "firstName": "Maymie",
                          "lastName": "Zboncak",
                          "phone": "+18062515453",
                          "dateOfBirth": "2006-08-30"
                        },
                        {
                          "email": "vonrueden.janis@gmail.com",
                          "firstName": "Christine",
                          "lastName": "Kessler",
                          "phone": "+15086728824",
                          "dateOfBirth": "1984-05-22"
                        },
                        {
                          "email": "reece28@gmail.com",
                          "firstName": "Alexie",
                          "lastName": "Bosco",
                          "phone": "+17202424800",
                          "dateOfBirth": "2003-06-24"
                        },
                        {
                          "email": "schmeler.madie@kozey.com",
                          "firstName": "Charlotte",
                          "lastName": "Pfannerstill",
                          "phone": "+19803262984",
                          "dateOfBirth": "1991-04-11"
                        },
                        {
                          "email": "nyost@yahoo.com",
                          "firstName": "Stella",
                          "lastName": "McGlynn",
                          "phone": "+14069129051",
                          "dateOfBirth": "2003-02-11"
                        },
                        {
                          "email": "dax.pfannerstill@von.com",
                          "firstName": "Douglas",
                          "lastName": "Luettgen",
                          "phone": "+19893673190",
                          "dateOfBirth": "2002-04-22"
                        },
                        {
                          "email": "ramona99@schmeler.biz",
                          "firstName": "Sam",
                          "lastName": "Welch",
                          "phone": "+14427143352",
                          "dateOfBirth": "1985-03-31"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "king58@gmail.com"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Fredy"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Sipes"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+16403249445"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "1971-06-15"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers/{customerIdOrEmail}/addresses": {
      "get": {
        "summary": "List Customer Billing Addresses",
        "operationId": "listCustomerBillingAddresses",
        "description": "Returns all unique billing addresses that have been used by a customer across their payments.\nAddresses are deduplicated using case-insensitive and whitespace-insensitive comparison.",
        "parameters": [
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
            "example": "-city",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
              "example": "-city",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of unique billing addresses for the customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "company": "Kutch, Heathcote and Feest",
                        "street": "49549 Hickle Light",
                        "city": "Lake Yolandashire",
                        "stateProvince": "NV",
                        "postcodeZip": "65517",
                        "country": "USA"
                      },
                      {
                        "company": "Emmerich-Cruickshank",
                        "street": "496 Bednar Pines Suite 050",
                        "city": "New Eliezerview",
                        "stateProvince": "DC",
                        "postcodeZip": "20457",
                        "country": "USA"
                      },
                      {
                        "company": "Zieme, Monahan and Russel",
                        "street": "33812 Dietrich Garden Apt. 820",
                        "city": "Jaronport",
                        "stateProvince": "TX",
                        "postcodeZip": "65043-9791",
                        "country": "USA"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "company": "Kutch, Heathcote and Feest",
                          "street": "49549 Hickle Light",
                          "city": "Lake Yolandashire",
                          "stateProvince": "NV",
                          "postcodeZip": "65517",
                          "country": "USA"
                        },
                        {
                          "company": "Emmerich-Cruickshank",
                          "street": "496 Bednar Pines Suite 050",
                          "city": "New Eliezerview",
                          "stateProvince": "DC",
                          "postcodeZip": "20457",
                          "country": "USA"
                        },
                        {
                          "company": "Zieme, Monahan and Russel",
                          "street": "33812 Dietrich Garden Apt. 820",
                          "city": "Jaronport",
                          "stateProvince": "TX",
                          "postcodeZip": "65043-9791",
                          "country": "USA"
                        }
                      ],
                      "description": "The data returned from the request",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "company": {
                            "type": "string",
                            "example": "Kutch, Heathcote and Feest"
                          },
                          "street": {
                            "type": "string",
                            "example": "49549 Hickle Light"
                          },
                          "city": {
                            "type": "string",
                            "example": "Lake Yolandashire"
                          },
                          "stateProvince": {
                            "type": "string",
                            "example": "NV"
                          },
                          "postcodeZip": {
                            "type": "string",
                            "example": "65517"
                          },
                          "country": {
                            "type": "string",
                            "example": "USA"
                          }
                        }
                      }
                    }
                  }
                }
[...]
