{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.41.0"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-02-13T00:00:00+00:00",
                    "periodEnd": "2026-02-20T00:00:00+00:00",
                    "numPaymentsCreated": 3600,
                    "numPaymentsProcessed": 3014,
                    "numPaymentsIncomplete": 586,
                    "numPaymentsWithRefunds": 2082,
                    "numCardPresentPayments": 1680,
                    "numCardNotPresentPayments": -1094,
                    "totalCapturedAmount": 2932093.48,
                    "totalRefundedAmount": 582326.64,
                    "totalNetCapturedAmount": 2349766.84,
                    "averageNetCapturedAmount": 1199.2485714286,
                    "minNetCapturedAmount": 23.27,
                    "maxNetCapturedAmount": 8953.38,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-02-13T00:00:00+00:00",
                        "intervalEnd": "2026-02-14T00:00:00+00:00",
                        "numPaymentsCreated": 727,
                        "numPaymentsProcessed": 711,
                        "numPaymentsIncomplete": 16,
                        "numPaymentsWithRefunds": 601,
                        "numCardPresentPayments": 642,
                        "numCardNotPresentPayments": -626,
                        "totalCapturedAmount": 338036.69,
                        "totalRefundedAmount": 59376.33,
                        "totalNetCapturedAmount": 278660.36,
                        "averageNetCapturedAmount": 391.93,
                        "minNetCapturedAmount": 95.62,
                        "maxNetCapturedAmount": 2261.92
                      },
                      {
                        "intervalStart": "2026-02-14T00:00:00+00:00",
                        "intervalEnd": "2026-02-15T00:00:00+00:00",
                        "numPaymentsCreated": 356,
                        "numPaymentsProcessed": 345,
                        "numPaymentsIncomplete": 11,
                        "numPaymentsWithRefunds": 36,
                        "numCardPresentPayments": 168,
                        "numCardNotPresentPayments": -157,
                        "totalCapturedAmount": 745967.29,
                        "totalRefundedAmount": 213279.14,
                        "totalNetCapturedAmount": 532688.15,
                        "averageNetCapturedAmount": 1544.02,
                        "minNetCapturedAmount": 98.87,
                        "maxNetCapturedAmount": 8002.48
                      },
                      {
                        "intervalStart": "2026-02-15T00:00:00+00:00",
                        "intervalEnd": "2026-02-16T00:00:00+00:00",
                        "numPaymentsCreated": 502,
                        "numPaymentsProcessed": 439,
                        "numPaymentsIncomplete": 63,
                        "numPaymentsWithRefunds": 243,
                        "numCardPresentPayments": 125,
                        "numCardNotPresentPayments": -62,
                        "totalCapturedAmount": 877454.06,
                        "totalRefundedAmount": 176810.73,
                        "totalNetCapturedAmount": 700643.33,
                        "averageNetCapturedAmount": 1596,
                        "minNetCapturedAmount": 23.27,
                        "maxNetCapturedAmount": 2066.14
                      },
                      {
                        "intervalStart": "2026-02-16T00:00:00+00:00",
                        "intervalEnd": "2026-02-17T00:00:00+00:00",
                        "numPaymentsCreated": 227,
                        "numPaymentsProcessed": 73,
                        "numPaymentsIncomplete": 154,
                        "numPaymentsWithRefunds": 28,
                        "numCardPresentPayments": 33,
                        "numCardNotPresentPayments": 121,
                        "totalCapturedAmount": 340355.15,
                        "totalRefundedAmount": 58944.06,
                        "totalNetCapturedAmount": 281411.09,
                        "averageNetCapturedAmount": 3854.95,
                        "minNetCapturedAmount": 73.25,
                        "maxNetCapturedAmount": 8953.38
                      },
                      {
                        "intervalStart": "2026-02-17T00:00:00+00:00",
                        "intervalEnd": "2026-02-18T00:00:00+00:00",
                        "numPaymentsCreated": 308,
                        "numPaymentsProcessed": 228,
                        "numPaymentsIncomplete": 80,
                        "numPaymentsWithRefunds": 218,
                        "numCardPresentPayments": 166,
                        "numCardNotPresentPayments": -86,
                        "totalCapturedAmount": 28568.23,
                        "totalRefundedAmount": 3182.18,
                        "totalNetCapturedAmount": 25386.05,
                        "averageNetCapturedAmount": 111.34,
                        "minNetCapturedAmount": 67.08,
                        "maxNetCapturedAmount": 3781.72
                      },
                      {
                        "intervalStart": "2026-02-18T00:00:00+00:00",
                        "intervalEnd": "2026-02-19T00:00:00+00:00",
                        "numPaymentsCreated": 609,
                        "numPaymentsProcessed": 589,
                        "numPaymentsIncomplete": 20,
                        "numPaymentsWithRefunds": 562,
                        "numCardPresentPayments": 237,
                        "numCardNotPresentPayments": -217,
                        "totalCapturedAmount": 546015.61,
                        "totalRefundedAmount": 61237.45,
                        "totalNetCapturedAmount": 484778.16,
                        "averageNetCapturedAmount": 823.05,
                        "minNetCapturedAmount": 35.28,
                        "maxNetCapturedAmount": 6414.74
                      },
                      {
                        "intervalStart": "2026-02-19T00:00:00+00:00",
                        "intervalEnd": "2026-02-20T00:00:00+00:00",
                        "numPaymentsCreated": 871,
                        "numPaymentsProcessed": 629,
                        "numPaymentsIncomplete": 242,
                        "numPaymentsWithRefunds": 394,
                        "numCardPresentPayments": 309,
                        "numCardNotPresentPayments": -67,
                        "totalCapturedAmount": 55696.45,
                        "totalRefundedAmount": 9496.75,
                        "totalNetCapturedAmount": 46199.7,
                        "averageNetCapturedAmount": 73.45,
                        "minNetCapturedAmount": 57.23,
                        "maxNetCapturedAmount": 7485.9
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-02-13T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-02-20T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 3600
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 3014
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 586
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 2082
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 1680
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": -1094
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 2932093.48
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 582326.64
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 2349766.84
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 1199.2485714286
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 23.27
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 8953.38
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-02-13T00:00:00+00:00",
                          "intervalEnd": "2026-02-14T00:00:00+00:00",
                          "numPaymentsCreated": 727,
                          "numPaymentsProcessed": 711,
                          "numPaymentsIncomplete": 16,
                          "numPaymentsWithRefunds": 601,
                          "numCardPresentPayments": 642,
                          "numCardNotPresentPayments": -626,
                          "totalCapturedAmount": 338036.69,
                          "totalRefundedAmount": 59376.33,
                          "totalNetCapturedAmount": 278660.36,
                          "averageNetCapturedAmount": 391.93,
                          "minNetCapturedAmount": 95.62,
                          "maxNetCapturedAmount": 2261.92
                        },
                        {
                          "intervalStart": "2026-02-14T00:00:00+00:00",
                          "intervalEnd": "2026-02-15T00:00:00+00:00",
                          "numPaymentsCreated": 356,
                          "numPaymentsProcessed": 345,
                          "numPaymentsIncomplete": 11,
                          "numPaymentsWithRefunds": 36,
                          "numCardPresentPayments": 168,
                          "numCardNotPresentPayments": -157,
                          "totalCapturedAmount": 745967.29,
                          "totalRefundedAmount": 213279.14,
                          "totalNetCapturedAmount": 532688.15,
                          "averageNetCapturedAmount": 1544.02,
                          "minNetCapturedAmount": 98.87,
                          "maxNetCapturedAmount": 8002.48
                        },
                        {
                          "intervalStart": "2026-02-15T00:00:00+00:00",
                          "intervalEnd": "2026-02-16T00:00:00+00:00",
                          "numPaymentsCreated": 502,
                          "numPaymentsProcessed": 439,
                          "numPaymentsIncomplete": 63,
                          "numPaymentsWithRefunds": 243,
                          "numCardPresentPayments": 125,
                          "numCardNotPresentPayments": -62,
                          "totalCapturedAmount": 877454.06,
                          "totalRefundedAmount": 176810.73,
                          "totalNetCapturedAmount": 700643.33,
                          "averageNetCapturedAmount": 1596,
                          "minNetCapturedAmount": 23.27,
                          "maxNetCapturedAmount": 2066.14
                        },
                        {
                          "intervalStart": "2026-02-16T00:00:00+00:00",
                          "intervalEnd": "2026-02-17T00:00:00+00:00",
                          "numPaymentsCreated": 227,
                          "numPaymentsProcessed": 73,
                          "numPaymentsIncomplete": 154,
                          "numPaymentsWithRefunds": 28,
                          "numCardPresentPayments": 33,
                          "numCardNotPresentPayments": 121,
                          "totalCapturedAmount": 340355.15,
                          "totalRefundedAmount": 58944.06,
                          "totalNetCapturedAmount": 281411.09,
                          "averageNetCapturedAmount": 3854.95,
                          "minNetCapturedAmount": 73.25,
                          "maxNetCapturedAmount": 8953.38
                        },
                        {
                          "intervalStart": "2026-02-17T00:00:00+00:00",
                          "intervalEnd": "2026-02-18T00:00:00+00:00",
                          "numPaymentsCreated": 308,
                          "numPaymentsProcessed": 228,
                          "numPaymentsIncomplete": 80,
                          "numPaymentsWithRefunds": 218,
                          "numCardPresentPayments": 166,
                          "numCardNotPresentPayments": -86,
                          "totalCapturedAmount": 28568.23,
                          "totalRefundedAmount": 3182.18,
                          "totalNetCapturedAmount": 25386.05,
                          "averageNetCapturedAmount": 111.34,
                          "minNetCapturedAmount": 67.08,
                          "maxNetCapturedAmount": 3781.72
                        },
                        {
                          "intervalStart": "2026-02-18T00:00:00+00:00",
                          "intervalEnd": "2026-02-19T00:00:00+00:00",
                          "numPaymentsCreated": 609,
                          "numPaymentsProcessed": 589,
                          "numPaymentsIncomplete": 20,
                          "numPaymentsWithRefunds": 562,
                          "numCardPresentPayments": 237,
                          "numCardNotPresentPayments": -217,
                          "totalCapturedAmount": 546015.61,
                          "totalRefundedAmount": 61237.45,
                          "totalNetCapturedAmount": 484778.16,
                          "averageNetCapturedAmount": 823.05,
                          "minNetCapturedAmount": 35.28,
                          "maxNetCapturedAmount": 6414.74
                        },
                        {
                          "intervalStart": "2026-02-19T00:00:00+00:00",
                          "intervalEnd": "2026-02-20T00:00:00+00:00",
                          "numPaymentsCreated": 871,
                          "numPaymentsProcessed": 629,
                          "numPaymentsIncomplete": 242,
                          "numPaymentsWithRefunds": 394,
                          "numCardPresentPayments": 309,
                          "numCardNotPresentPayments": -67,
                          "totalCapturedAmount": 55696.45,
                          "totalRefundedAmount": 9496.75,
                          "totalNetCapturedAmount": 46199.7,
                          "averageNetCapturedAmount": 73.45,
                          "minNetCapturedAmount": 57.23,
                          "maxNetCapturedAmount": 7485.9
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-02-13T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-02-14T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 727
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 711
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 16
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 601
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 642
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": -626
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 338036.69
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 59376.33
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 278660.36
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 391.93
                          },
                          "minNetCapturedAmount": {
                            "type": "number",
                            "example": 95.62
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 2261.92
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-02-13T00:00:00+00:00",
                    "periodEnd": "2026-02-20T00:00:00+00:00",
                    "activeCustomers": 368,
                    "newCustomers": 202,
                    "returningCustomers": 166,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-02-13T00:00:00+00:00",
                        "intervalEnd": "2026-02-14T00:00:00+00:00",
                        "activeCustomers": 45,
                        "newCustomers": 38,
                        "returningCustomers": 7
                      },
                      {
                        "intervalStart": "2026-02-14T00:00:00+00:00",
                        "intervalEnd": "2026-02-15T00:00:00+00:00",
                        "activeCustomers": 90,
                        "newCustomers": 14,
                        "returningCustomers": 76
                      },
                      {
                        "intervalStart": "2026-02-15T00:00:00+00:00",
                        "intervalEnd": "2026-02-16T00:00:00+00:00",
                        "activeCustomers": 97,
                        "newCustomers": 24,
                        "returningCustomers": 73
                      },
                      {
                        "intervalStart": "2026-02-16T00:00:00+00:00",
                        "intervalEnd": "2026-02-17T00:00:00+00:00",
                        "activeCustomers": 93,
                        "newCustomers": 43,
                        "returningCustomers": 50
                      },
                      {
                        "intervalStart": "2026-02-17T00:00:00+00:00",
                        "intervalEnd": "2026-02-18T00:00:00+00:00",
                        "activeCustomers": 28,
                        "newCustomers": 25,
                        "returningCustomers": 3
                      },
                      {
                        "intervalStart": "2026-02-18T00:00:00+00:00",
                        "intervalEnd": "2026-02-19T00:00:00+00:00",
                        "activeCustomers": 41,
                        "newCustomers": 13,
                        "returningCustomers": 28
                      },
                      {
                        "intervalStart": "2026-02-19T00:00:00+00:00",
                        "intervalEnd": "2026-02-20T00:00:00+00:00",
                        "activeCustomers": 53,
                        "newCustomers": 45,
                        "returningCustomers": 8
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-02-13T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-02-20T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 368
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 202
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": 166
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-02-13T00:00:00+00:00",
                          "intervalEnd": "2026-02-14T00:00:00+00:00",
                          "activeCustomers": 45,
                          "newCustomers": 38,
                          "returningCustomers": 7
                        },
                        {
                          "intervalStart": "2026-02-14T00:00:00+00:00",
                          "intervalEnd": "2026-02-15T00:00:00+00:00",
                          "activeCustomers": 90,
                          "newCustomers": 14,
                          "returningCustomers": 76
                        },
                        {
                          "intervalStart": "2026-02-15T00:00:00+00:00",
                          "intervalEnd": "2026-02-16T00:00:00+00:00",
                          "activeCustomers": 97,
                          "newCustomers": 24,
                          "returningCustomers": 73
                        },
                        {
                          "intervalStart": "2026-02-16T00:00:00+00:00",
                          "intervalEnd": "2026-02-17T00:00:00+00:00",
                          "activeCustomers": 93,
                          "newCustomers": 43,
                          "returningCustomers": 50
                        },
                        {
                          "intervalStart": "2026-02-17T00:00:00+00:00",
                          "intervalEnd": "2026-02-18T00:00:00+00:00",
                          "activeCustomers": 28,
                          "newCustomers": 25,
                          "returningCustomers": 3
                        },
                        {
                          "intervalStart": "2026-02-18T00:00:00+00:00",
                          "intervalEnd": "2026-02-19T00:00:00+00:00",
                          "activeCustomers": 41,
                          "newCustomers": 13,
                          "returningCustomers": 28
                        },
                        {
                          "intervalStart": "2026-02-19T00:00:00+00:00",
                          "intervalEnd": "2026-02-20T00:00:00+00:00",
                          "activeCustomers": 53,
                          "newCustomers": 45,
                          "returningCustomers": 8
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-02-13T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-02-14T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 45
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 38
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 7
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-02-13T00:00:00+00:00",
                    "periodEnd": "2026-02-20T00:00:00+00:00",
                    "totalTransactions": 4843,
                    "authorizeTransactions": 332,
                    "captureTransactions": 370,
                    "payTransactions": 1834,
                    "refundTransactions": 637,
                    "verifyTransactions": 745,
                    "voidTransactions": 925,
                    "successfulTransactions": 4354,
                    "failedTransactions": 336,
                    "declinedTransactions": 128,
                    "pendingTransactions": 25,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-02-13T00:00:00+00:00",
                        "intervalEnd": "2026-02-14T00:00:00+00:00",
                        "totalTransactions": 831,
                        "authorizeTransactions": 71,
                        "captureTransactions": 77,
                        "payTransactions": 131,
                        "refundTransactions": 93,
                        "verifyTransactions": 152,
                        "voidTransactions": 307,
                        "successfulTransactions": 747,
                        "failedTransactions": 46,
                        "declinedTransactions": 35,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-02-14T00:00:00+00:00",
                        "intervalEnd": "2026-02-15T00:00:00+00:00",
                        "totalTransactions": 525,
                        "authorizeTransactions": 41,
                        "captureTransactions": 43,
                        "payTransactions": 198,
                        "refundTransactions": 193,
                        "verifyTransactions": 33,
                        "voidTransactions": 17,
                        "successfulTransactions": 472,
                        "failedTransactions": 27,
                        "declinedTransactions": 21,
                        "pendingTransactions": 5,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-02-15T00:00:00+00:00",
                        "intervalEnd": "2026-02-16T00:00:00+00:00",
                        "totalTransactions": 843,
                        "authorizeTransactions": 15,
                        "captureTransactions": 19,
                        "payTransactions": 76,
                        "refundTransactions": 25,
                        "verifyTransactions": 208,
                        "voidTransactions": 500,
                        "successfulTransactions": 758,
                        "failedTransactions": 81,
                        "declinedTransactions": 1,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-02-16T00:00:00+00:00",
                        "intervalEnd": "2026-02-17T00:00:00+00:00",
                        "totalTransactions": 751,
                        "authorizeTransactions": 88,
                        "captureTransactions": 91,
                        "payTransactions": 269,
                        "refundTransactions": 19,
                        "verifyTransactions": 251,
                        "voidTransactions": 33,
                        "successfulTransactions": 675,
                        "failedTransactions": 52,
                        "declinedTransactions": 20,
                        "pendingTransactions": 4,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-02-17T00:00:00+00:00",
                        "intervalEnd": "2026-02-18T00:00:00+00:00",
                        "totalTransactions": 795,
                        "authorizeTransactions": 49,
                        "captureTransactions": 59,
                        "payTransactions": 273,
                        "refundTransactions": 256,
                        "verifyTransactions": 89,
                        "voidTransactions": 69,
                        "successfulTransactions": 715,
                        "failedTransactions": 64,
                        "declinedTransactions": 10,
                        "pendingTransactions": 6,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-02-18T00:00:00+00:00",
                        "intervalEnd": "2026-02-19T00:00:00+00:00",
                        "totalTransactions": 321,
                        "authorizeTransactions": 14,
                        "captureTransactions": 20,
                        "payTransactions": 265,
                        "refundTransactions": 20,
                        "verifyTransactions": 3,
                        "voidTransactions": -1,
                        "successfulTransactions": 288,
                        "failedTransactions": 26,
                        "declinedTransactions": 6,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-02-19T00:00:00+00:00",
                        "intervalEnd": "2026-02-20T00:00:00+00:00",
                        "totalTransactions": 777,
                        "authorizeTransactions": 54,
                        "captureTransactions": 61,
                        "payTransactions": 622,
                        "refundTransactions": 31,
                        "verifyTransactions": 9,
                        "voidTransactions": 0,
                        "successfulTransactions": 699,
                        "failedTransactions": 40,
                        "declinedTransactions": 35,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-02-13T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-02-20T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 4843
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 332
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 370
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 1834
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 637
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 745
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 925
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 4354
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 336
                    },
                    "declinedTransactions": {
                      "type": "integer",
                      "example": 128
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 25
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-02-13T00:00:00+00:00",
                          "intervalEnd": "2026-02-14T00:00:00+00:00",
                          "totalTransactions": 831,
                          "authorizeTransactions": 71,
                          "captureTransactions": 77,
                          "payTransactions": 131,
                          "refundTransactions": 93,
                          "verifyTransactions": 152,
                          "voidTransactions": 307,
                          "successfulTransactions": 747,
                          "failedTransactions": 46,
                          "declinedTransactions": 35,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-02-14T00:00:00+00:00",
                          "intervalEnd": "2026-02-15T00:00:00+00:00",
                          "totalTransactions": 525,
                          "authorizeTransactions": 41,
                          "captureTransactions": 43,
                          "payTransactions": 198,
                          "refundTransactions": 193,
                          "verifyTransactions": 33,
                          "voidTransactions": 17,
                          "successfulTransactions": 472,
                          "failedTransactions": 27,
                          "declinedTransactions": 21,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-02-15T00:00:00+00:00",
                          "intervalEnd": "2026-02-16T00:00:00+00:00",
                          "totalTransactions": 843,
                          "authorizeTransactions": 15,
                          "captureTransactions": 19,
                          "payTransactions": 76,
                          "refundTransactions": 25,
                          "verifyTransactions": 208,
                          "voidTransactions": 500,
                          "successfulTransactions": 758,
                          "failedTransactions": 81,
                          "declinedTransactions": 1,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-02-16T00:00:00+00:00",
                          "intervalEnd": "2026-02-17T00:00:00+00:00",
                          "totalTransactions": 751,
                          "authorizeTransactions": 88,
                          "captureTransactions": 91,
                          "payTransactions": 269,
                          "refundTransactions": 19,
                          "verifyTransactions": 251,
                          "voidTransactions": 33,
                          "successfulTransactions": 675,
                          "failedTransactions": 52,
                          "declinedTransactions": 20,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-02-17T00:00:00+00:00",
                          "intervalEnd": "2026-02-18T00:00:00+00:00",
                          "totalTransactions": 795,
                          "authorizeTransactions": 49,
                          "captureTransactions": 59,
                          "payTransactions": 273,
                          "refundTransactions": 256,
                          "verifyTransactions": 89,
                          "voidTransactions": 69,
                          "successfulTransactions": 715,
                          "failedTransactions": 64,
                          "declinedTransactions": 10,
                          "pendingTransactions": 6,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-02-18T00:00:00+00:00",
                          "intervalEnd": "2026-02-19T00:00:00+00:00",
                          "totalTransactions": 321,
                          "authorizeTransactions": 14,
                          "captureTransactions": 20,
                          "payTransactions": 265,
                          "refundTransactions": 20,
                          "verifyTransactions": 3,
                          "voidTransactions": -1,
                          "successfulTransactions": 288,
                          "failedTransactions": 26,
                          "declinedTransactions": 6,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-02-19T00:00:00+00:00",
                          "intervalEnd": "2026-02-20T00:00:00+00:00",
                          "totalTransactions": 777,
                          "authorizeTransactions": 54,
                          "captureTransactions": 61,
                          "payTransactions": 622,
                          "refundTransactions": 31,
                          "verifyTransactions": 9,
                          "voidTransactions": 0,
                          "successfulTransactions": 699,
                          "failedTransactions": 40,
                          "declinedTransactions": 35,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-02-13T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-02-14T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 831
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 71
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 77
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 131
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 93
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 152
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": 307
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 747
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 46
                          },
                          "declinedTransactions": {
                            "type": "integer",
                            "example": 35
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 3
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-02-13T00:00:00+00:00",
                    "periodEnd": "2026-02-20T00:00:00+00:00",
                    "totalSettlementAmount": 39710.43,
                    "totalFeeAmount": 1945.81107,
                    "totalNetAmount": 37764.61893,
                    "totalTransactionsPending": 186,
                    "totalTransactionsSettled": 1268,
                    "totalTransactionsSettling": 615,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-02-13T00:00:00+00:00",
                        "intervalEnd": "2026-02-14T00:00:00+00:00",
                        "totalSettlementAmount": 3693.29,
                        "totalFeeAmount": 180.97121,
                        "totalNetAmount": 3512.31879,
                        "totalTransactionsPending": 26,
                        "totalTransactionsSettled": 22,
                        "totalTransactionsSettling": 236
                      },
                      {
                        "intervalStart": "2026-02-14T00:00:00+00:00",
                        "intervalEnd": "2026-02-15T00:00:00+00:00",
                        "totalSettlementAmount": 8402.04,
                        "totalFeeAmount": 411.69996,
                        "totalNetAmount": 7990.34004,
                        "totalTransactionsPending": 26,
                        "totalTransactionsSettled": 327,
                        "totalTransactionsSettling": 22
                      },
                      {
                        "intervalStart": "2026-02-15T00:00:00+00:00",
                        "intervalEnd": "2026-02-16T00:00:00+00:00",
                        "totalSettlementAmount": 5391.56,
                        "totalFeeAmount": 264.18644,
                        "totalNetAmount": 5127.37356,
                        "totalTransactionsPending": 23,
                        "totalTransactionsSettled": 293,
                        "totalTransactionsSettling": 25
                      },
                      {
                        "intervalStart": "2026-02-16T00:00:00+00:00",
                        "intervalEnd": "2026-02-17T00:00:00+00:00",
                        "totalSettlementAmount": 6960.43,
                        "totalFeeAmount": 341.06107,
                        "totalNetAmount": 6619.36893,
                        "totalTransactionsPending": 32,
                        "totalTransactionsSettled": 271,
                        "totalTransactionsSettling": 105
                      },
                      {
                        "intervalStart": "2026-02-17T00:00:00+00:00",
                        "intervalEnd": "2026-02-18T00:00:00+00:00",
                        "totalSettlementAmount": 5377.63,
                        "totalFeeAmount": 263.50387,
                        "totalNetAmount": 5114.12613,
                        "totalTransactionsPending": 36,
                        "totalTransactionsSettled": 148,
                        "totalTransactionsSettling": 44
                      },
                      {
                        "intervalStart": "2026-02-18T00:00:00+00:00",
                        "intervalEnd": "2026-02-19T00:00:00+00:00",
                        "totalSettlementAmount": 8517.98,
                        "totalFeeAmount": 417.38102,
                        "totalNetAmount": 8100.59898,
                        "totalTransactionsPending": 11,
                        "totalTransactionsSettled": 67,
                        "totalTransactionsSettling": 45
                      },
                      {
                        "intervalStart": "2026-02-19T00:00:00+00:00",
                        "intervalEnd": "2026-02-20T00:00:00+00:00",
                        "totalSettlementAmount": 1367.5,
                        "totalFeeAmount": 67.0075,
                        "totalNetAmount": 1300.4925,
                        "totalTransactionsPending": 32,
                        "totalTransactionsSettled": 140,
                        "totalTransactionsSettling": 138
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-02-13T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-02-20T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 39710.43
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 1945.81107
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 37764.61893
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 186
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 1268
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 615
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-02-13T00:00:00+00:00",
                          "intervalEnd": "2026-02-14T00:00:00+00:00",
                          "totalSettlementAmount": 3693.29,
                          "totalFeeAmount": 180.97121,
                          "totalNetAmount": 3512.31879,
                          "totalTransactionsPending": 26,
                          "totalTransactionsSettled": 22,
                          "totalTransactionsSettling": 236
                        },
                        {
                          "intervalStart": "2026-02-14T00:00:00+00:00",
                          "intervalEnd": "2026-02-15T00:00:00+00:00",
                          "totalSettlementAmount": 8402.04,
                          "totalFeeAmount": 411.69996,
                          "totalNetAmount": 7990.34004,
                          "totalTransactionsPending": 26,
                          "totalTransactionsSettled": 327,
                          "totalTransactionsSettling": 22
                        },
                        {
                          "intervalStart": "2026-02-15T00:00:00+00:00",
                          "intervalEnd": "2026-02-16T00:00:00+00:00",
                          "totalSettlementAmount": 5391.56,
                          "totalFeeAmount": 264.18644,
                          "totalNetAmount": 5127.37356,
                          "totalTransactionsPending": 23,
                          "totalTransactionsSettled": 293,
                          "totalTransactionsSettling": 25
                        },
                        {
                          "intervalStart": "2026-02-16T00:00:00+00:00",
                          "intervalEnd": "2026-02-17T00:00:00+00:00",
                          "totalSettlementAmount": 6960.43,
                          "totalFeeAmount": 341.06107,
                          "totalNetAmount": 6619.36893,
                          "totalTransactionsPending": 32,
                          "totalTransactionsSettled": 271,
                          "totalTransactionsSettling": 105
                        },
                        {
                          "intervalStart": "2026-02-17T00:00:00+00:00",
                          "intervalEnd": "2026-02-18T00:00:00+00:00",
                          "totalSettlementAmount": 5377.63,
                          "totalFeeAmount": 263.50387,
                          "totalNetAmount": 5114.12613,
                          "totalTransactionsPending": 36,
                          "totalTransactionsSettled": 148,
                          "totalTransactionsSettling": 44
                        },
                        {
                          "intervalStart": "2026-02-18T00:00:00+00:00",
                          "intervalEnd": "2026-02-19T00:00:00+00:00",
                          "totalSettlementAmount": 8517.98,
                          "totalFeeAmount": 417.38102,
                          "totalNetAmount": 8100.59898,
                          "totalTransactionsPending": 11,
                          "totalTransactionsSettled": 67,
                          "totalTransactionsSettling": 45
                        },
                        {
                          "intervalStart": "2026-02-19T00:00:00+00:00",
                          "intervalEnd": "2026-02-20T00:00:00+00:00",
                          "totalSettlementAmount": 1367.5,
                          "totalFeeAmount": 67.0075,
                          "totalNetAmount": 1300.4925,
                          "totalTransactionsPending": 32,
                          "totalTransactionsSettled": 140,
                          "totalTransactionsSettling": 138
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-02-13T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-02-14T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 3693.29
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 180.97121
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 3512.31879
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 26
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 22
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 236
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 10,
                    "data": [
                      {
                        "email": "ludwig63@hotmail.com",
                        "firstName": "Sharon",
                        "lastName": "Thiel",
                        "phone": "+15408543003",
                        "dateOfBirth": "1975-04-07"
                      },
                      {
                        "email": "will.peggie@hotmail.com",
                        "firstName": "Jodie",
                        "lastName": "Borer",
                        "phone": "+13029500988",
                        "dateOfBirth": "1992-07-23"
                      },
                      {
                        "email": "tbotsford@hotmail.com",
                        "firstName": "Evert",
                        "lastName": "Stiedemann",
                        "phone": "+17019136762",
                        "dateOfBirth": "2002-06-28"
                      },
                      {
                        "email": "hkemmer@larkin.com",
                        "firstName": "Noemy",
                        "lastName": "Armstrong",
                        "phone": "+19284490761",
                        "dateOfBirth": "2007-10-03"
                      },
                      {
                        "email": "considine.kelly@hotmail.com",
                        "firstName": "Isac",
                        "lastName": "Reinger",
                        "phone": "+13466314453",
                        "dateOfBirth": "1970-10-08"
                      },
                      {
                        "email": "casandra08@gmail.com",
                        "firstName": "Stone",
                        "lastName": "Rutherford",
                        "phone": "+19497136252",
                        "dateOfBirth": "1994-12-02"
                      },
                      {
                        "email": "elizabeth.hintz@gmail.com",
                        "firstName": "Elroy",
                        "lastName": "Rippin",
                        "phone": "+12693043993",
                        "dateOfBirth": "2002-01-09"
                      },
                      {
                        "email": "eloise32@yahoo.com",
                        "firstName": "Pat",
                        "lastName": "Denesik",
                        "phone": "+17034673831",
                        "dateOfBirth": "1998-08-10"
                      },
                      {
                        "email": "feeney.maye@yahoo.com",
                        "firstName": "Jennings",
                        "lastName": "Herzog",
                        "phone": "+13075123802",
                        "dateOfBirth": "1984-01-22"
                      },
                      {
                        "email": "dino88@metz.com",
                        "firstName": "Morton",
                        "lastName": "Fay",
                        "phone": "+18437645660",
                        "dateOfBirth": "1999-08-22"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 10,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "ludwig63@hotmail.com",
                          "firstName": "Sharon",
                          "lastName": "Thiel",
                          "phone": "+15408543003",
                          "dateOfBirth": "1975-04-07"
                        },
                        {
                          "email": "will.peggie@hotmail.com",
                          "firstName": "Jodie",
                          "lastName": "Borer",
                          "phone": "+13029500988",
                          "dateOfBirth": "1992-07-23"
                        },
                        {
                          "email": "tbotsford@hotmail.com",
                          "firstName": "Evert",
                          "lastName": "Stiedemann",
                          "phone": "+17019136762",
                          "dateOfBirth": "2002-06-28"
                        },
                        {
                          "email": "hkemmer@larkin.com",
                          "firstName": "Noemy",
                          "lastName": "Armstrong",
                          "phone": "+19284490761",
                          "dateOfBirth": "2007-10-03"
                        },
                        {
                          "email": "considine.kelly@hotmail.com",
                          "firstName": "Isac",
                          "lastName": "Reinger",
                          "phone": "+13466314453",
                          "dateOfBirth": "1970-10-08"
                        },
                        {
                          "email": "casandra08@gmail.com",
                          "firstName": "Stone",
                          "lastName": "Rutherford",
                          "phone": "+19497136252",
                          "dateOfBirth": "1994-12-02"
                        },
                        {
                          "email": "elizabeth.hintz@gmail.com",
                          "firstName": "Elroy",
                          "lastName": "Rippin",
                          "phone": "+12693043993",
                          "dateOfBirth": "2002-01-09"
                        },
                        {
                          "email": "eloise32@yahoo.com",
                          "firstName": "Pat",
                          "lastName": "Denesik",
                          "phone": "+17034673831",
                          "dateOfBirth": "1998-08-10"
                        },
                        {
                          "email": "feeney.maye@yahoo.com",
                          "firstName": "Jennings",
                          "lastName": "Herzog",
                          "phone": "+13075123802",
                          "dateOfBirth": "1984-01-22"
                        },
                        {
                          "email": "dino88@metz.com",
                          "firstName": "Morton",
                          "lastName": "Fay",
                          "phone": "+18437645660",
                          "dateOfBirth": "1999-08-22"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "ludwig63@hotmail.com"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Sharon"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Thiel"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+15408543003"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "1975-04-07"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers/{customerIdOrEmail}/addresses": {
      "get": {
        "summary": "List Customer Billing Addresses",
        "operationId": "listCustomerBillingAddresses",
        "description": "Returns all unique billing addresses that have been used by a customer across their payments.\nAddresses are deduplicated using case-insensitive and whitespace-insensitive comparison.",
        "parameters": [
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
            "example": "-city",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
              "example": "-city",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of unique billing addresses for the customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "company": "Brakus, Parisian and Schaden",
                        "street": "7475 McDermott Crescent Apt. 089",
                        "city": "Westton",
                        "stateProvince": "DE",
                        "postcodeZip": "20046",
                        "country": "USA"
                      },
                      {
                        "company": "Ward Group",
                        "street": "236 Green Point",
                        "city": "Davidland",
                        "stateProvince": "PA",
                        "postcodeZip": "60193",
                        "country": "USA"
                      },
                      {
                        "company": "Orn, Considine and Berge",
                        "street": "744 Westley Mews",
                        "city": "Yasminberg",
                        "stateProvince": "CO",
                        "postcodeZip": "49948-2250",
                        "country": "USA"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "company": "Brakus, Parisian and Schaden",
                          "street": "7475 McDermott Crescent Apt. 089",
                          "city": "Westton",
                          "stateProvince": "DE",
                          "postcodeZip": "20046",
                          "country": "USA"
                        },
                        {
                          "company": "Ward Group",
                          "street": "236 Green Point",
                          "city": "Davidland",
                          "stateProvince": "PA",
                          "postcodeZip": "60193",
                          "country": "USA"
                        },
                        {
                          "company": "Orn, Considine and Berge",
                          "street": "744 Westley Mews",
                          "city": "Yasminberg",
                          "stateProvince": "CO",
                          "postcodeZip": "49948-2250",
                          "country": "USA"
                        }
                      ],
                      "description": "The data returned from the request",
                      "enum": [],
                      "items": {
[...]
