{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.65.3"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payout Exports",
      "description": "Create payout exports"
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-15T00:00:00+00:00",
                    "periodEnd": "2026-04-22T00:00:00+00:00",
                    "numPaymentsCreated": 4368,
                    "numPaymentsProcessed": 2990,
                    "numPaymentsIncomplete": 1378,
                    "numPaymentsWithRefunds": 1418,
                    "numCardPresentPayments": 2401,
                    "numCardNotPresentPayments": -1023,
                    "totalCapturedAmount": 4549857.5,
                    "totalRefundedAmount": 765529.76,
                    "totalNetCapturedAmount": 3784327.74,
                    "averageNetCapturedAmount": 3856.0185714286,
                    "minNetCapturedAmount": 18.34,
                    "maxNetCapturedAmount": 9878.61,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-15T00:00:00+00:00",
                        "intervalEnd": "2026-04-16T00:00:00+00:00",
                        "numPaymentsCreated": 959,
                        "numPaymentsProcessed": 958,
                        "numPaymentsIncomplete": 1,
                        "numPaymentsWithRefunds": 869,
                        "numCardPresentPayments": 718,
                        "numCardNotPresentPayments": -717,
                        "totalCapturedAmount": 564276.05,
                        "totalRefundedAmount": 81698.73,
                        "totalNetCapturedAmount": 482577.32,
                        "averageNetCapturedAmount": 503.73,
                        "minNetCapturedAmount": 36.25,
                        "maxNetCapturedAmount": 4341.53
                      },
                      {
                        "intervalStart": "2026-04-16T00:00:00+00:00",
                        "intervalEnd": "2026-04-17T00:00:00+00:00",
                        "numPaymentsCreated": 122,
                        "numPaymentsProcessed": 109,
                        "numPaymentsIncomplete": 13,
                        "numPaymentsWithRefunds": 62,
                        "numCardPresentPayments": 57,
                        "numCardNotPresentPayments": -44,
                        "totalCapturedAmount": 771866.65,
                        "totalRefundedAmount": 180844.01,
                        "totalNetCapturedAmount": 591022.64,
                        "averageNetCapturedAmount": 5422.23,
                        "minNetCapturedAmount": 96.34,
                        "maxNetCapturedAmount": 4822.64
                      },
                      {
                        "intervalStart": "2026-04-17T00:00:00+00:00",
                        "intervalEnd": "2026-04-18T00:00:00+00:00",
                        "numPaymentsCreated": 964,
                        "numPaymentsProcessed": 870,
                        "numPaymentsIncomplete": 94,
                        "numPaymentsWithRefunds": 138,
                        "numCardPresentPayments": 740,
                        "numCardNotPresentPayments": -646,
                        "totalCapturedAmount": 556392.16,
                        "totalRefundedAmount": 89118.55,
                        "totalNetCapturedAmount": 467273.61,
                        "averageNetCapturedAmount": 537.1,
                        "minNetCapturedAmount": 33.89,
                        "maxNetCapturedAmount": 9878.61
                      },
                      {
                        "intervalStart": "2026-04-18T00:00:00+00:00",
                        "intervalEnd": "2026-04-19T00:00:00+00:00",
                        "numPaymentsCreated": 960,
                        "numPaymentsProcessed": 308,
                        "numPaymentsIncomplete": 652,
                        "numPaymentsWithRefunds": 27,
                        "numCardPresentPayments": 263,
                        "numCardNotPresentPayments": 389,
                        "totalCapturedAmount": 749021.03,
                        "totalRefundedAmount": 111939.44,
                        "totalNetCapturedAmount": 637081.59,
                        "averageNetCapturedAmount": 2068.45,
                        "minNetCapturedAmount": 60.67,
                        "maxNetCapturedAmount": 2875.24
                      },
                      {
                        "intervalStart": "2026-04-19T00:00:00+00:00",
                        "intervalEnd": "2026-04-20T00:00:00+00:00",
                        "numPaymentsCreated": 954,
                        "numPaymentsProcessed": 636,
                        "numPaymentsIncomplete": 318,
                        "numPaymentsWithRefunds": 226,
                        "numCardPresentPayments": 593,
                        "numCardNotPresentPayments": -275,
                        "totalCapturedAmount": 790989.57,
                        "totalRefundedAmount": 101190.17,
                        "totalNetCapturedAmount": 689799.4,
                        "averageNetCapturedAmount": 1084.59,
                        "minNetCapturedAmount": 18.34,
                        "maxNetCapturedAmount": 8329.14
                      },
                      {
                        "intervalStart": "2026-04-20T00:00:00+00:00",
                        "intervalEnd": "2026-04-21T00:00:00+00:00",
                        "numPaymentsCreated": 260,
                        "numPaymentsProcessed": 59,
                        "numPaymentsIncomplete": 201,
                        "numPaymentsWithRefunds": 52,
                        "numCardPresentPayments": 2,
                        "numCardNotPresentPayments": 199,
                        "totalCapturedAmount": 334065.93,
                        "totalRefundedAmount": 20896.47,
                        "totalNetCapturedAmount": 313169.46,
                        "averageNetCapturedAmount": 5307.96,
                        "minNetCapturedAmount": 34.33,
                        "maxNetCapturedAmount": 1612.38
                      },
                      {
                        "intervalStart": "2026-04-21T00:00:00+00:00",
                        "intervalEnd": "2026-04-22T00:00:00+00:00",
                        "numPaymentsCreated": 149,
                        "numPaymentsProcessed": 50,
                        "numPaymentsIncomplete": 99,
                        "numPaymentsWithRefunds": 44,
                        "numCardPresentPayments": 28,
                        "numCardNotPresentPayments": 71,
                        "totalCapturedAmount": 783246.11,
                        "totalRefundedAmount": 179842.39,
                        "totalNetCapturedAmount": 603403.72,
                        "averageNetCapturedAmount": 12068.07,
                        "minNetCapturedAmount": 69.47,
                        "maxNetCapturedAmount": 9739.65
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-15T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-22T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 4368
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 2990
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 1378
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 1418
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 2401
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": -1023
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 4549857.5
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 765529.76
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 3784327.74
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 3856.0185714286
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 18.34
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 9878.61
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-15T00:00:00+00:00",
                          "intervalEnd": "2026-04-16T00:00:00+00:00",
                          "numPaymentsCreated": 959,
                          "numPaymentsProcessed": 958,
                          "numPaymentsIncomplete": 1,
                          "numPaymentsWithRefunds": 869,
                          "numCardPresentPayments": 718,
                          "numCardNotPresentPayments": -717,
                          "totalCapturedAmount": 564276.05,
                          "totalRefundedAmount": 81698.73,
                          "totalNetCapturedAmount": 482577.32,
                          "averageNetCapturedAmount": 503.73,
                          "minNetCapturedAmount": 36.25,
                          "maxNetCapturedAmount": 4341.53
                        },
                        {
                          "intervalStart": "2026-04-16T00:00:00+00:00",
                          "intervalEnd": "2026-04-17T00:00:00+00:00",
                          "numPaymentsCreated": 122,
                          "numPaymentsProcessed": 109,
                          "numPaymentsIncomplete": 13,
                          "numPaymentsWithRefunds": 62,
                          "numCardPresentPayments": 57,
                          "numCardNotPresentPayments": -44,
                          "totalCapturedAmount": 771866.65,
                          "totalRefundedAmount": 180844.01,
                          "totalNetCapturedAmount": 591022.64,
                          "averageNetCapturedAmount": 5422.23,
                          "minNetCapturedAmount": 96.34,
                          "maxNetCapturedAmount": 4822.64
                        },
                        {
                          "intervalStart": "2026-04-17T00:00:00+00:00",
                          "intervalEnd": "2026-04-18T00:00:00+00:00",
                          "numPaymentsCreated": 964,
                          "numPaymentsProcessed": 870,
                          "numPaymentsIncomplete": 94,
                          "numPaymentsWithRefunds": 138,
                          "numCardPresentPayments": 740,
                          "numCardNotPresentPayments": -646,
                          "totalCapturedAmount": 556392.16,
                          "totalRefundedAmount": 89118.55,
                          "totalNetCapturedAmount": 467273.61,
                          "averageNetCapturedAmount": 537.1,
                          "minNetCapturedAmount": 33.89,
                          "maxNetCapturedAmount": 9878.61
                        },
                        {
                          "intervalStart": "2026-04-18T00:00:00+00:00",
                          "intervalEnd": "2026-04-19T00:00:00+00:00",
                          "numPaymentsCreated": 960,
                          "numPaymentsProcessed": 308,
                          "numPaymentsIncomplete": 652,
                          "numPaymentsWithRefunds": 27,
                          "numCardPresentPayments": 263,
                          "numCardNotPresentPayments": 389,
                          "totalCapturedAmount": 749021.03,
                          "totalRefundedAmount": 111939.44,
                          "totalNetCapturedAmount": 637081.59,
                          "averageNetCapturedAmount": 2068.45,
                          "minNetCapturedAmount": 60.67,
                          "maxNetCapturedAmount": 2875.24
                        },
                        {
                          "intervalStart": "2026-04-19T00:00:00+00:00",
                          "intervalEnd": "2026-04-20T00:00:00+00:00",
                          "numPaymentsCreated": 954,
                          "numPaymentsProcessed": 636,
                          "numPaymentsIncomplete": 318,
                          "numPaymentsWithRefunds": 226,
                          "numCardPresentPayments": 593,
                          "numCardNotPresentPayments": -275,
                          "totalCapturedAmount": 790989.57,
                          "totalRefundedAmount": 101190.17,
                          "totalNetCapturedAmount": 689799.4,
                          "averageNetCapturedAmount": 1084.59,
                          "minNetCapturedAmount": 18.34,
                          "maxNetCapturedAmount": 8329.14
                        },
                        {
                          "intervalStart": "2026-04-20T00:00:00+00:00",
                          "intervalEnd": "2026-04-21T00:00:00+00:00",
                          "numPaymentsCreated": 260,
                          "numPaymentsProcessed": 59,
                          "numPaymentsIncomplete": 201,
                          "numPaymentsWithRefunds": 52,
                          "numCardPresentPayments": 2,
                          "numCardNotPresentPayments": 199,
                          "totalCapturedAmount": 334065.93,
                          "totalRefundedAmount": 20896.47,
                          "totalNetCapturedAmount": 313169.46,
                          "averageNetCapturedAmount": 5307.96,
                          "minNetCapturedAmount": 34.33,
                          "maxNetCapturedAmount": 1612.38
                        },
                        {
                          "intervalStart": "2026-04-21T00:00:00+00:00",
                          "intervalEnd": "2026-04-22T00:00:00+00:00",
                          "numPaymentsCreated": 149,
                          "numPaymentsProcessed": 50,
                          "numPaymentsIncomplete": 99,
                          "numPaymentsWithRefunds": 44,
                          "numCardPresentPayments": 28,
                          "numCardNotPresentPayments": 71,
                          "totalCapturedAmount": 783246.11,
                          "totalRefundedAmount": 179842.39,
                          "totalNetCapturedAmount": 603403.72,
                          "averageNetCapturedAmount": 12068.07,
                          "minNetCapturedAmount": 69.47,
                          "maxNetCapturedAmount": 9739.65
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-15T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-16T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 959
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 958
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 1
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 869
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 718
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": -717
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 564276.05
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 81698.73
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 482577.32
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 503.73
                          },
                          "minNetCapturedAmount": {
                            "type": "number",
                            "example": 36.25
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 4341.53
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-15T00:00:00+00:00",
                    "periodEnd": "2026-04-22T00:00:00+00:00",
                    "activeCustomers": 102,
                    "newCustomers": 131,
                    "returningCustomers": -29,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-15T00:00:00+00:00",
                        "intervalEnd": "2026-04-16T00:00:00+00:00",
                        "activeCustomers": 94,
                        "newCustomers": 29,
                        "returningCustomers": 65
                      },
                      {
                        "intervalStart": "2026-04-16T00:00:00+00:00",
                        "intervalEnd": "2026-04-17T00:00:00+00:00",
                        "activeCustomers": 10,
                        "newCustomers": 5,
                        "returningCustomers": 5
                      },
                      {
                        "intervalStart": "2026-04-17T00:00:00+00:00",
                        "intervalEnd": "2026-04-18T00:00:00+00:00",
                        "activeCustomers": 60,
                        "newCustomers": 37,
                        "returningCustomers": 23
                      },
                      {
                        "intervalStart": "2026-04-18T00:00:00+00:00",
                        "intervalEnd": "2026-04-19T00:00:00+00:00",
                        "activeCustomers": 14,
                        "newCustomers": 5,
                        "returningCustomers": 9
                      },
                      {
                        "intervalStart": "2026-04-19T00:00:00+00:00",
                        "intervalEnd": "2026-04-20T00:00:00+00:00",
                        "activeCustomers": 64,
                        "newCustomers": 34,
                        "returningCustomers": 30
                      },
                      {
                        "intervalStart": "2026-04-20T00:00:00+00:00",
                        "intervalEnd": "2026-04-21T00:00:00+00:00",
                        "activeCustomers": 65,
                        "newCustomers": 12,
                        "returningCustomers": 53
                      },
                      {
                        "intervalStart": "2026-04-21T00:00:00+00:00",
                        "intervalEnd": "2026-04-22T00:00:00+00:00",
                        "activeCustomers": 19,
                        "newCustomers": 9,
                        "returningCustomers": 10
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-15T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-22T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 102
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 131
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": -29
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-15T00:00:00+00:00",
                          "intervalEnd": "2026-04-16T00:00:00+00:00",
                          "activeCustomers": 94,
                          "newCustomers": 29,
                          "returningCustomers": 65
                        },
                        {
                          "intervalStart": "2026-04-16T00:00:00+00:00",
                          "intervalEnd": "2026-04-17T00:00:00+00:00",
                          "activeCustomers": 10,
                          "newCustomers": 5,
                          "returningCustomers": 5
                        },
                        {
                          "intervalStart": "2026-04-17T00:00:00+00:00",
                          "intervalEnd": "2026-04-18T00:00:00+00:00",
                          "activeCustomers": 60,
                          "newCustomers": 37,
                          "returningCustomers": 23
                        },
                        {
                          "intervalStart": "2026-04-18T00:00:00+00:00",
                          "intervalEnd": "2026-04-19T00:00:00+00:00",
                          "activeCustomers": 14,
                          "newCustomers": 5,
                          "returningCustomers": 9
                        },
                        {
                          "intervalStart": "2026-04-19T00:00:00+00:00",
                          "intervalEnd": "2026-04-20T00:00:00+00:00",
                          "activeCustomers": 64,
                          "newCustomers": 34,
                          "returningCustomers": 30
                        },
                        {
                          "intervalStart": "2026-04-20T00:00:00+00:00",
                          "intervalEnd": "2026-04-21T00:00:00+00:00",
                          "activeCustomers": 65,
                          "newCustomers": 12,
                          "returningCustomers": 53
                        },
                        {
                          "intervalStart": "2026-04-21T00:00:00+00:00",
                          "intervalEnd": "2026-04-22T00:00:00+00:00",
                          "activeCustomers": 19,
                          "newCustomers": 9,
                          "returningCustomers": 10
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-15T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-16T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 94
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 29
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 65
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-15T00:00:00+00:00",
                    "periodEnd": "2026-04-22T00:00:00+00:00",
                    "totalTransactions": 4436,
                    "authorizeTransactions": 314,
                    "captureTransactions": 353,
                    "payTransactions": 2405,
                    "refundTransactions": 706,
                    "verifyTransactions": 81,
                    "voidTransactions": 577,
                    "successfulTransactions": 3989,
                    "failedTransactions": 319,
                    "declinedTransactions": 99,
                    "pendingTransactions": 29,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-15T00:00:00+00:00",
                        "intervalEnd": "2026-04-16T00:00:00+00:00",
                        "totalTransactions": 580,
                        "authorizeTransactions": 26,
                        "captureTransactions": 31,
                        "payTransactions": 323,
                        "refundTransactions": 145,
                        "verifyTransactions": 18,
                        "voidTransactions": 37,
                        "successfulTransactions": 522,
                        "failedTransactions": 45,
                        "declinedTransactions": 8,
                        "pendingTransactions": 5,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-16T00:00:00+00:00",
                        "intervalEnd": "2026-04-17T00:00:00+00:00",
                        "totalTransactions": 968,
                        "authorizeTransactions": 102,
                        "captureTransactions": 112,
                        "payTransactions": 747,
                        "refundTransactions": 7,
                        "verifyTransactions": 2,
                        "voidTransactions": -2,
                        "successfulTransactions": 871,
                        "failedTransactions": 57,
                        "declinedTransactions": 33,
                        "pendingTransactions": 7,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-17T00:00:00+00:00",
                        "intervalEnd": "2026-04-18T00:00:00+00:00",
                        "totalTransactions": 132,
                        "authorizeTransactions": 16,
                        "captureTransactions": 24,
                        "payTransactions": 71,
                        "refundTransactions": 11,
                        "verifyTransactions": 6,
                        "voidTransactions": 4,
                        "successfulTransactions": 118,
                        "failedTransactions": 12,
                        "declinedTransactions": 1,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-18T00:00:00+00:00",
                        "intervalEnd": "2026-04-19T00:00:00+00:00",
                        "totalTransactions": 995,
                        "authorizeTransactions": 89,
                        "captureTransactions": 94,
                        "payTransactions": 614,
                        "refundTransactions": 155,
                        "verifyTransactions": 10,
                        "voidTransactions": 33,
                        "successfulTransactions": 895,
                        "failedTransactions": 82,
                        "declinedTransactions": 11,
                        "pendingTransactions": 7,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-19T00:00:00+00:00",
                        "intervalEnd": "2026-04-20T00:00:00+00:00",
                        "totalTransactions": 188,
                        "authorizeTransactions": 20,
                        "captureTransactions": 23,
                        "payTransactions": 20,
                        "refundTransactions": 66,
                        "verifyTransactions": 11,
                        "voidTransactions": 48,
                        "successfulTransactions": 169,
                        "failedTransactions": 13,
                        "declinedTransactions": 5,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-20T00:00:00+00:00",
                        "intervalEnd": "2026-04-21T00:00:00+00:00",
                        "totalTransactions": 641,
                        "authorizeTransactions": 28,
                        "captureTransactions": 31,
                        "payTransactions": 560,
                        "refundTransactions": 5,
                        "verifyTransactions": 12,
                        "voidTransactions": 5,
                        "successfulTransactions": 576,
                        "failedTransactions": 29,
                        "declinedTransactions": 30,
                        "pendingTransactions": 6,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-21T00:00:00+00:00",
                        "intervalEnd": "2026-04-22T00:00:00+00:00",
                        "totalTransactions": 932,
                        "authorizeTransactions": 33,
                        "captureTransactions": 38,
                        "payTransactions": 70,
                        "refundTransactions": 317,
                        "verifyTransactions": 22,
                        "voidTransactions": 452,
                        "successfulTransactions": 838,
                        "failedTransactions": 81,
                        "declinedTransactions": 11,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-15T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-22T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 4436
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 314
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 353
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 2405
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 706
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 81
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 577
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 3989
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 319
                    },
                    "declinedTransactions": {
                      "type": "integer",
                      "example": 99
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 29
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-15T00:00:00+00:00",
                          "intervalEnd": "2026-04-16T00:00:00+00:00",
                          "totalTransactions": 580,
                          "authorizeTransactions": 26,
                          "captureTransactions": 31,
                          "payTransactions": 323,
                          "refundTransactions": 145,
                          "verifyTransactions": 18,
                          "voidTransactions": 37,
                          "successfulTransactions": 522,
                          "failedTransactions": 45,
                          "declinedTransactions": 8,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-16T00:00:00+00:00",
                          "intervalEnd": "2026-04-17T00:00:00+00:00",
                          "totalTransactions": 968,
                          "authorizeTransactions": 102,
                          "captureTransactions": 112,
                          "payTransactions": 747,
                          "refundTransactions": 7,
                          "verifyTransactions": 2,
                          "voidTransactions": -2,
                          "successfulTransactions": 871,
                          "failedTransactions": 57,
                          "declinedTransactions": 33,
                          "pendingTransactions": 7,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-17T00:00:00+00:00",
                          "intervalEnd": "2026-04-18T00:00:00+00:00",
                          "totalTransactions": 132,
                          "authorizeTransactions": 16,
                          "captureTransactions": 24,
                          "payTransactions": 71,
                          "refundTransactions": 11,
                          "verifyTransactions": 6,
                          "voidTransactions": 4,
                          "successfulTransactions": 118,
                          "failedTransactions": 12,
                          "declinedTransactions": 1,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-18T00:00:00+00:00",
                          "intervalEnd": "2026-04-19T00:00:00+00:00",
                          "totalTransactions": 995,
                          "authorizeTransactions": 89,
                          "captureTransactions": 94,
                          "payTransactions": 614,
                          "refundTransactions": 155,
                          "verifyTransactions": 10,
                          "voidTransactions": 33,
                          "successfulTransactions": 895,
                          "failedTransactions": 82,
                          "declinedTransactions": 11,
                          "pendingTransactions": 7,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-19T00:00:00+00:00",
                          "intervalEnd": "2026-04-20T00:00:00+00:00",
                          "totalTransactions": 188,
                          "authorizeTransactions": 20,
                          "captureTransactions": 23,
                          "payTransactions": 20,
                          "refundTransactions": 66,
                          "verifyTransactions": 11,
                          "voidTransactions": 48,
                          "successfulTransactions": 169,
                          "failedTransactions": 13,
                          "declinedTransactions": 5,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-20T00:00:00+00:00",
                          "intervalEnd": "2026-04-21T00:00:00+00:00",
                          "totalTransactions": 641,
                          "authorizeTransactions": 28,
                          "captureTransactions": 31,
                          "payTransactions": 560,
                          "refundTransactions": 5,
                          "verifyTransactions": 12,
                          "voidTransactions": 5,
                          "successfulTransactions": 576,
                          "failedTransactions": 29,
                          "declinedTransactions": 30,
                          "pendingTransactions": 6,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-21T00:00:00+00:00",
                          "intervalEnd": "2026-04-22T00:00:00+00:00",
                          "totalTransactions": 932,
                          "authorizeTransactions": 33,
                          "captureTransactions": 38,
                          "payTransactions": 70,
                          "refundTransactions": 317,
                          "verifyTransactions": 22,
                          "voidTransactions": 452,
                          "successfulTransactions": 838,
                          "failedTransactions": 81,
                          "declinedTransactions": 11,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-15T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-16T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 580
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 26
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 31
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 323
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 145
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 18
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": 37
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 522
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 45
                          },
                          "declinedTransactions": {
                            "type": "integer",
                            "example": 8
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 5
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-15T00:00:00+00:00",
                    "periodEnd": "2026-04-22T00:00:00+00:00",
                    "totalSettlementAmount": 29008.26,
                    "totalFeeAmount": 1421.40474,
                    "totalNetAmount": 27586.85526,
                    "totalTransactionsPending": 172,
                    "totalTransactionsSettled": 977,
                    "totalTransactionsSettling": 1108,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-15T00:00:00+00:00",
                        "intervalEnd": "2026-04-16T00:00:00+00:00",
                        "totalSettlementAmount": 1331.69,
                        "totalFeeAmount": 65.25281,
                        "totalNetAmount": 1266.43719,
                        "totalTransactionsPending": 22,
                        "totalTransactionsSettled": 156,
                        "totalTransactionsSettling": 88
                      },
                      {
                        "intervalStart": "2026-04-16T00:00:00+00:00",
                        "intervalEnd": "2026-04-17T00:00:00+00:00",
                        "totalSettlementAmount": 5252.54,
                        "totalFeeAmount": 257.37446,
                        "totalNetAmount": 4995.16554,
                        "totalTransactionsPending": 29,
                        "totalTransactionsSettled": 238,
                        "totalTransactionsSettling": 30
                      },
                      {
                        "intervalStart": "2026-04-17T00:00:00+00:00",
                        "intervalEnd": "2026-04-18T00:00:00+00:00",
                        "totalSettlementAmount": 8852.83,
                        "totalFeeAmount": 433.78867,
                        "totalNetAmount": 8419.04133,
                        "totalTransactionsPending": 7,
                        "totalTransactionsSettled": 108,
                        "totalTransactionsSettling": 276
                      },
                      {
                        "intervalStart": "2026-04-18T00:00:00+00:00",
                        "intervalEnd": "2026-04-19T00:00:00+00:00",
                        "totalSettlementAmount": 1658.35,
                        "totalFeeAmount": 81.25915,
                        "totalNetAmount": 1577.09085,
                        "totalTransactionsPending": 36,
                        "totalTransactionsSettled": 170,
                        "totalTransactionsSettling": 15
                      },
                      {
                        "intervalStart": "2026-04-19T00:00:00+00:00",
                        "intervalEnd": "2026-04-20T00:00:00+00:00",
                        "totalSettlementAmount": 3617.14,
                        "totalFeeAmount": 177.23986,
                        "totalNetAmount": 3439.90014,
                        "totalTransactionsPending": 40,
                        "totalTransactionsSettled": 20,
                        "totalTransactionsSettling": 387
                      },
                      {
                        "intervalStart": "2026-04-20T00:00:00+00:00",
                        "intervalEnd": "2026-04-21T00:00:00+00:00",
                        "totalSettlementAmount": 6597.11,
                        "totalFeeAmount": 323.25839,
                        "totalNetAmount": 6273.85161,
                        "totalTransactionsPending": 18,
                        "totalTransactionsSettled": 210,
                        "totalTransactionsSettling": 164
                      },
                      {
                        "intervalStart": "2026-04-21T00:00:00+00:00",
                        "intervalEnd": "2026-04-22T00:00:00+00:00",
                        "totalSettlementAmount": 1698.6,
                        "totalFeeAmount": 83.2314,
                        "totalNetAmount": 1615.3686,
                        "totalTransactionsPending": 20,
                        "totalTransactionsSettled": 75,
                        "totalTransactionsSettling": 148
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-15T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-22T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 29008.26
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 1421.40474
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 27586.85526
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 172
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 977
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 1108
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-15T00:00:00+00:00",
                          "intervalEnd": "2026-04-16T00:00:00+00:00",
                          "totalSettlementAmount": 1331.69,
                          "totalFeeAmount": 65.25281,
                          "totalNetAmount": 1266.43719,
                          "totalTransactionsPending": 22,
                          "totalTransactionsSettled": 156,
                          "totalTransactionsSettling": 88
                        },
                        {
                          "intervalStart": "2026-04-16T00:00:00+00:00",
                          "intervalEnd": "2026-04-17T00:00:00+00:00",
                          "totalSettlementAmount": 5252.54,
                          "totalFeeAmount": 257.37446,
                          "totalNetAmount": 4995.16554,
                          "totalTransactionsPending": 29,
                          "totalTransactionsSettled": 238,
                          "totalTransactionsSettling": 30
                        },
                        {
                          "intervalStart": "2026-04-17T00:00:00+00:00",
                          "intervalEnd": "2026-04-18T00:00:00+00:00",
                          "totalSettlementAmount": 8852.83,
                          "totalFeeAmount": 433.78867,
                          "totalNetAmount": 8419.04133,
                          "totalTransactionsPending": 7,
                          "totalTransactionsSettled": 108,
                          "totalTransactionsSettling": 276
                        },
                        {
                          "intervalStart": "2026-04-18T00:00:00+00:00",
                          "intervalEnd": "2026-04-19T00:00:00+00:00",
                          "totalSettlementAmount": 1658.35,
                          "totalFeeAmount": 81.25915,
                          "totalNetAmount": 1577.09085,
                          "totalTransactionsPending": 36,
                          "totalTransactionsSettled": 170,
                          "totalTransactionsSettling": 15
                        },
                        {
                          "intervalStart": "2026-04-19T00:00:00+00:00",
                          "intervalEnd": "2026-04-20T00:00:00+00:00",
                          "totalSettlementAmount": 3617.14,
                          "totalFeeAmount": 177.23986,
                          "totalNetAmount": 3439.90014,
                          "totalTransactionsPending": 40,
                          "totalTransactionsSettled": 20,
                          "totalTransactionsSettling": 387
                        },
                        {
                          "intervalStart": "2026-04-20T00:00:00+00:00",
                          "intervalEnd": "2026-04-21T00:00:00+00:00",
                          "totalSettlementAmount": 6597.11,
                          "totalFeeAmount": 323.25839,
                          "totalNetAmount": 6273.85161,
                          "totalTransactionsPending": 18,
                          "totalTransactionsSettled": 210,
                          "totalTransactionsSettling": 164
                        },
                        {
                          "intervalStart": "2026-04-21T00:00:00+00:00",
                          "intervalEnd": "2026-04-22T00:00:00+00:00",
                          "totalSettlementAmount": 1698.6,
                          "totalFeeAmount": 83.2314,
                          "totalNetAmount": 1615.3686,
                          "totalTransactionsPending": 20,
                          "totalTransactionsSettled": 75,
                          "totalTransactionsSettling": 148
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-15T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-16T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 1331.69
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 65.25281
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 1266.43719
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 22
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 156
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 88
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 5,
                    "data": [
                      {
                        "email": "alva21@gmail.com",
                        "firstName": "Scarlett",
                        "lastName": "Harris",
                        "phone": "+13052075076",
                        "dateOfBirth": "2004-05-23"
                      },
                      {
                        "email": "theo49@schuster.com",
                        "firstName": "Brayan",
                        "lastName": "Steuber",
                        "phone": "+12602602618",
                        "dateOfBirth": "1975-06-06"
                      },
                      {
                        "email": "altenwerth.cydney@gmail.com",
                        "firstName": "Alessandro",
                        "lastName": "Denesik",
                        "phone": "+15714978862",
                        "dateOfBirth": "2000-06-29"
                      },
                      {
                        "email": "ztorphy@yahoo.com",
                        "firstName": "Germaine",
                        "lastName": "Lehner",
                        "phone": "+19069735539",
                        "dateOfBirth": "2007-08-12"
                      },
                      {
                        "email": "jabari99@wehner.com",
                        "firstName": "Kamille",
                        "lastName": "Walter",
                        "phone": "+19843250485",
                        "dateOfBirth": "1988-08-21"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 5,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "alva21@gmail.com",
                          "firstName": "Scarlett",
                          "lastName": "Harris",
                          "phone": "+13052075076",
                          "dateOfBirth": "2004-05-23"
                        },
                        {
                          "email": "theo49@schuster.com",
                          "firstName": "Brayan",
                          "lastName": "Steuber",
                          "phone": "+12602602618",
                          "dateOfBirth": "1975-06-06"
                        },
                        {
                          "email": "altenwerth.cydney@gmail.com",
                          "firstName": "Alessandro",
                          "lastName": "Denesik",
                          "phone": "+15714978862",
                          "dateOfBirth": "2000-06-29"
                        },
                        {
                          "email": "ztorphy@yahoo.com",
                          "firstName": "Germaine",
                          "lastName": "Lehner",
                          "phone": "+19069735539",
                          "dateOfBirth": "2007-08-12"
                        },
                        {
                          "email": "jabari99@wehner.com",
                          "firstName": "Kamille",
                          "lastName": "Walter",
                          "phone": "+19843250485",
                          "dateOfBirth": "1988-08-21"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "alva21@gmail.com"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Scarlett"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Harris"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+13052075076"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "2004-05-23"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers/{customerIdOrEmail}/addresses": {
      "get": {
        "summary": "List Customer Billing Addresses",
        "operationId": "listCustomerBillingAddresses",
        "description": "Returns all unique billing addresses that have been used by a customer across their payments.\nAddresses are deduplicated using case-insensitive and whitespace-insensitive comparison.",
        "parameters": [
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
            "example": "-city",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
              "example": "-city",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of unique billing addresses for the customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "company": "Jaskolski, Simonis and Friesen",
                        "street": "226 Demario Circle Suite 674",
                        "city": "Torphyborough",
                        "stateProvince": "NY",
                        "postcodeZip": "14455",
                        "country": "USA"
                      },
                      {
                        "company": "Kris-Kassulke",
                        "street": "1269 Rogelio Pine Suite 578",
                        "city": "Lonberg",
                        "stateProvince": "CO",
                        "postcodeZip": "81803",
                        "country": "USA"
                      },
                      {
                        "company": "Willms, Bins and Gorczany",
                        "street": "54944 Estevan Greens",
                        "city": "Willtown",
                        "stateProvince": "UT",
                        "postcodeZip": "83054",
                        "country": "USA"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "company": "Jaskolski, Simonis and Friesen",
                          "street": "226 Demario Circle Suite 674",
                          "city": "Torphyborough",
                          "stateProvince": "NY",
                          "postcodeZip": "14455",
                          "country": "USA"
                        },
                        {
                          "company": "Kris-Kassulke",
                          "street": "1269 Rogelio Pine Suite 578",
                          "city": "Lonberg",
                          "stateProvince": "CO",
                          "postcodeZip": "81803",
                          "country": "USA"
                        },
                        {
                          "company": "Willms, Bins and Gorczany",
                          "street": "54944 Estevan Greens",
                          "city": "Willtown",
                          "stateProvince": "UT",
                          "postcodeZip": "83054",
                          "country": "USA"
                        }
                      ],
                      "description": "The data returned from the request",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "company": {
                            "type": "string",
                            "example": "Jaskolski, Simonis and Friesen"
                          },
                          "street": {
                            "type": "string",
                            "example": "226 Demario Circle Suite 674"
                          },
                          "city": {
                            "type": "string",
                            "example": "Torphyborough"
                          },
                          "stateProvince": {
                            "type": "string",
                            "example": "NY"
                          },
                          "postcodeZip": {
                            "type": "string",
                            "example": "14455"
                          },
                          "country": {
                            "type": "string",
                            "example": "USA"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "path",
          "name": "customerIdOrEmail",
          "description": "The customer ID, UUID, or email address",
          "example": "customer_123",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/simulated/terminals": {
      "get": {
        "summary": "Get all available simulated terminals.",
        "operationId": "getAllAvailableSimulatedTerminals",
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of available simulated terminals",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "title": "Success",
                        "description": "Approves all card present transactions successfully.",
                        "tid": "SUCCESS",
                        "readyForProcessing": true,
                        "provider": "SIMULATED",
[...]
