{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.47.0"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-02-25T00:00:00+00:00",
                    "periodEnd": "2026-03-04T00:00:00+00:00",
                    "numPaymentsCreated": 3569,
                    "numPaymentsProcessed": 2313,
                    "numPaymentsIncomplete": 1256,
                    "numPaymentsWithRefunds": 1316,
                    "numCardPresentPayments": 1309,
                    "numCardNotPresentPayments": -53,
                    "totalCapturedAmount": 2500719.67,
                    "totalRefundedAmount": 475383.02,
                    "totalNetCapturedAmount": 2025336.65,
                    "averageNetCapturedAmount": 1452.59,
                    "minNetCapturedAmount": 20.7,
                    "maxNetCapturedAmount": 9097.89,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-02-25T00:00:00+00:00",
                        "intervalEnd": "2026-02-26T00:00:00+00:00",
                        "numPaymentsCreated": 289,
                        "numPaymentsProcessed": 223,
                        "numPaymentsIncomplete": 66,
                        "numPaymentsWithRefunds": 66,
                        "numCardPresentPayments": 38,
                        "numCardNotPresentPayments": 28,
                        "totalCapturedAmount": 512002.35,
                        "totalRefundedAmount": 120173.1,
                        "totalNetCapturedAmount": 391829.25,
                        "averageNetCapturedAmount": 1757.08,
                        "minNetCapturedAmount": 26.14,
                        "maxNetCapturedAmount": 6010.35
                      },
                      {
                        "intervalStart": "2026-02-26T00:00:00+00:00",
                        "intervalEnd": "2026-02-27T00:00:00+00:00",
                        "numPaymentsCreated": 782,
                        "numPaymentsProcessed": 729,
                        "numPaymentsIncomplete": 53,
                        "numPaymentsWithRefunds": 635,
                        "numCardPresentPayments": 642,
                        "numCardNotPresentPayments": -589,
                        "totalCapturedAmount": 73583.7,
                        "totalRefundedAmount": 12486.46,
                        "totalNetCapturedAmount": 61097.24,
                        "averageNetCapturedAmount": 83.81,
                        "minNetCapturedAmount": 97.36,
                        "maxNetCapturedAmount": 2793.42
                      },
                      {
                        "intervalStart": "2026-02-27T00:00:00+00:00",
                        "intervalEnd": "2026-02-28T00:00:00+00:00",
                        "numPaymentsCreated": 124,
                        "numPaymentsProcessed": 103,
                        "numPaymentsIncomplete": 21,
                        "numPaymentsWithRefunds": 29,
                        "numCardPresentPayments": 33,
                        "numCardNotPresentPayments": -12,
                        "totalCapturedAmount": 193393.23,
                        "totalRefundedAmount": 21045.29,
                        "totalNetCapturedAmount": 172347.94,
                        "averageNetCapturedAmount": 1673.28,
                        "minNetCapturedAmount": 88.96,
                        "maxNetCapturedAmount": 2033.11
                      },
                      {
                        "intervalStart": "2026-02-28T00:00:00+00:00",
                        "intervalEnd": "2026-03-01T00:00:00+00:00",
                        "numPaymentsCreated": 503,
                        "numPaymentsProcessed": 142,
                        "numPaymentsIncomplete": 361,
                        "numPaymentsWithRefunds": 113,
                        "numCardPresentPayments": 35,
                        "numCardNotPresentPayments": 326,
                        "totalCapturedAmount": 735285.03,
                        "totalRefundedAmount": 183184.41,
                        "totalNetCapturedAmount": 552100.62,
                        "averageNetCapturedAmount": 3888.03,
                        "minNetCapturedAmount": 20.7,
                        "maxNetCapturedAmount": 6432.6
                      },
                      {
                        "intervalStart": "2026-03-01T00:00:00+00:00",
                        "intervalEnd": "2026-03-02T00:00:00+00:00",
                        "numPaymentsCreated": 676,
                        "numPaymentsProcessed": 633,
                        "numPaymentsIncomplete": 43,
                        "numPaymentsWithRefunds": 447,
                        "numCardPresentPayments": 310,
                        "numCardNotPresentPayments": -267,
                        "totalCapturedAmount": 263192.54,
                        "totalRefundedAmount": 24563.53,
                        "totalNetCapturedAmount": 238629.01,
                        "averageNetCapturedAmount": 376.98,
                        "minNetCapturedAmount": 84.54,
                        "maxNetCapturedAmount": 5906.51
                      },
                      {
                        "intervalStart": "2026-03-02T00:00:00+00:00",
                        "intervalEnd": "2026-03-03T00:00:00+00:00",
                        "numPaymentsCreated": 627,
                        "numPaymentsProcessed": 316,
                        "numPaymentsIncomplete": 311,
                        "numPaymentsWithRefunds": 8,
                        "numCardPresentPayments": 191,
                        "numCardNotPresentPayments": 120,
                        "totalCapturedAmount": 531663.22,
                        "totalRefundedAmount": 85491.06,
                        "totalNetCapturedAmount": 446172.16,
                        "averageNetCapturedAmount": 1411.94,
                        "minNetCapturedAmount": 75.67,
                        "maxNetCapturedAmount": 9097.89
                      },
                      {
                        "intervalStart": "2026-03-03T00:00:00+00:00",
                        "intervalEnd": "2026-03-04T00:00:00+00:00",
                        "numPaymentsCreated": 568,
                        "numPaymentsProcessed": 167,
                        "numPaymentsIncomplete": 401,
                        "numPaymentsWithRefunds": 18,
                        "numCardPresentPayments": 60,
                        "numCardNotPresentPayments": 341,
                        "totalCapturedAmount": 191599.6,
                        "totalRefundedAmount": 28439.17,
                        "totalNetCapturedAmount": 163160.43,
                        "averageNetCapturedAmount": 977.01,
                        "minNetCapturedAmount": 98.21,
                        "maxNetCapturedAmount": 6831.98
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-02-25T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-04T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 3569
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 2313
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 1256
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 1316
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 1309
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": -53
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 2500719.67
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 475383.02
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 2025336.65
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 1452.59
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 20.7
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 9097.89
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-02-25T00:00:00+00:00",
                          "intervalEnd": "2026-02-26T00:00:00+00:00",
                          "numPaymentsCreated": 289,
                          "numPaymentsProcessed": 223,
                          "numPaymentsIncomplete": 66,
                          "numPaymentsWithRefunds": 66,
                          "numCardPresentPayments": 38,
                          "numCardNotPresentPayments": 28,
                          "totalCapturedAmount": 512002.35,
                          "totalRefundedAmount": 120173.1,
                          "totalNetCapturedAmount": 391829.25,
                          "averageNetCapturedAmount": 1757.08,
                          "minNetCapturedAmount": 26.14,
                          "maxNetCapturedAmount": 6010.35
                        },
                        {
                          "intervalStart": "2026-02-26T00:00:00+00:00",
                          "intervalEnd": "2026-02-27T00:00:00+00:00",
                          "numPaymentsCreated": 782,
                          "numPaymentsProcessed": 729,
                          "numPaymentsIncomplete": 53,
                          "numPaymentsWithRefunds": 635,
                          "numCardPresentPayments": 642,
                          "numCardNotPresentPayments": -589,
                          "totalCapturedAmount": 73583.7,
                          "totalRefundedAmount": 12486.46,
                          "totalNetCapturedAmount": 61097.24,
                          "averageNetCapturedAmount": 83.81,
                          "minNetCapturedAmount": 97.36,
                          "maxNetCapturedAmount": 2793.42
                        },
                        {
                          "intervalStart": "2026-02-27T00:00:00+00:00",
                          "intervalEnd": "2026-02-28T00:00:00+00:00",
                          "numPaymentsCreated": 124,
                          "numPaymentsProcessed": 103,
                          "numPaymentsIncomplete": 21,
                          "numPaymentsWithRefunds": 29,
                          "numCardPresentPayments": 33,
                          "numCardNotPresentPayments": -12,
                          "totalCapturedAmount": 193393.23,
                          "totalRefundedAmount": 21045.29,
                          "totalNetCapturedAmount": 172347.94,
                          "averageNetCapturedAmount": 1673.28,
                          "minNetCapturedAmount": 88.96,
                          "maxNetCapturedAmount": 2033.11
                        },
                        {
                          "intervalStart": "2026-02-28T00:00:00+00:00",
                          "intervalEnd": "2026-03-01T00:00:00+00:00",
                          "numPaymentsCreated": 503,
                          "numPaymentsProcessed": 142,
                          "numPaymentsIncomplete": 361,
                          "numPaymentsWithRefunds": 113,
                          "numCardPresentPayments": 35,
                          "numCardNotPresentPayments": 326,
                          "totalCapturedAmount": 735285.03,
                          "totalRefundedAmount": 183184.41,
                          "totalNetCapturedAmount": 552100.62,
                          "averageNetCapturedAmount": 3888.03,
                          "minNetCapturedAmount": 20.7,
                          "maxNetCapturedAmount": 6432.6
                        },
                        {
                          "intervalStart": "2026-03-01T00:00:00+00:00",
                          "intervalEnd": "2026-03-02T00:00:00+00:00",
                          "numPaymentsCreated": 676,
                          "numPaymentsProcessed": 633,
                          "numPaymentsIncomplete": 43,
                          "numPaymentsWithRefunds": 447,
                          "numCardPresentPayments": 310,
                          "numCardNotPresentPayments": -267,
                          "totalCapturedAmount": 263192.54,
                          "totalRefundedAmount": 24563.53,
                          "totalNetCapturedAmount": 238629.01,
                          "averageNetCapturedAmount": 376.98,
                          "minNetCapturedAmount": 84.54,
                          "maxNetCapturedAmount": 5906.51
                        },
                        {
                          "intervalStart": "2026-03-02T00:00:00+00:00",
                          "intervalEnd": "2026-03-03T00:00:00+00:00",
                          "numPaymentsCreated": 627,
                          "numPaymentsProcessed": 316,
                          "numPaymentsIncomplete": 311,
                          "numPaymentsWithRefunds": 8,
                          "numCardPresentPayments": 191,
                          "numCardNotPresentPayments": 120,
                          "totalCapturedAmount": 531663.22,
                          "totalRefundedAmount": 85491.06,
                          "totalNetCapturedAmount": 446172.16,
                          "averageNetCapturedAmount": 1411.94,
                          "minNetCapturedAmount": 75.67,
                          "maxNetCapturedAmount": 9097.89
                        },
                        {
                          "intervalStart": "2026-03-03T00:00:00+00:00",
                          "intervalEnd": "2026-03-04T00:00:00+00:00",
                          "numPaymentsCreated": 568,
                          "numPaymentsProcessed": 167,
                          "numPaymentsIncomplete": 401,
                          "numPaymentsWithRefunds": 18,
                          "numCardPresentPayments": 60,
                          "numCardNotPresentPayments": 341,
                          "totalCapturedAmount": 191599.6,
                          "totalRefundedAmount": 28439.17,
                          "totalNetCapturedAmount": 163160.43,
                          "averageNetCapturedAmount": 977.01,
                          "minNetCapturedAmount": 98.21,
                          "maxNetCapturedAmount": 6831.98
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-02-25T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-02-26T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 289
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 223
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 66
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 66
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 38
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": 28
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 512002.35
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 120173.1
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 391829.25
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 1757.08
                          },
                          "minNetCapturedAmount": {
                            "type": "number",
                            "example": 26.14
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 6010.35
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-02-25T00:00:00+00:00",
                    "periodEnd": "2026-03-04T00:00:00+00:00",
                    "activeCustomers": 162,
                    "newCustomers": 145,
                    "returningCustomers": 17,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-02-25T00:00:00+00:00",
                        "intervalEnd": "2026-02-26T00:00:00+00:00",
                        "activeCustomers": 36,
                        "newCustomers": 11,
                        "returningCustomers": 25
                      },
                      {
                        "intervalStart": "2026-02-26T00:00:00+00:00",
                        "intervalEnd": "2026-02-27T00:00:00+00:00",
                        "activeCustomers": 25,
                        "newCustomers": 11,
                        "returningCustomers": 14
                      },
                      {
                        "intervalStart": "2026-02-27T00:00:00+00:00",
                        "intervalEnd": "2026-02-28T00:00:00+00:00",
                        "activeCustomers": 25,
                        "newCustomers": 6,
                        "returningCustomers": 19
                      },
                      {
                        "intervalStart": "2026-02-28T00:00:00+00:00",
                        "intervalEnd": "2026-03-01T00:00:00+00:00",
                        "activeCustomers": 73,
                        "newCustomers": 59,
                        "returningCustomers": 14
                      },
                      {
                        "intervalStart": "2026-03-01T00:00:00+00:00",
                        "intervalEnd": "2026-03-02T00:00:00+00:00",
                        "activeCustomers": 41,
                        "newCustomers": 36,
                        "returningCustomers": 5
                      },
                      {
                        "intervalStart": "2026-03-02T00:00:00+00:00",
                        "intervalEnd": "2026-03-03T00:00:00+00:00",
                        "activeCustomers": 36,
                        "newCustomers": 15,
                        "returningCustomers": 21
                      },
                      {
                        "intervalStart": "2026-03-03T00:00:00+00:00",
                        "intervalEnd": "2026-03-04T00:00:00+00:00",
                        "activeCustomers": 27,
                        "newCustomers": 7,
                        "returningCustomers": 20
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-02-25T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-04T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 162
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 145
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": 17
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-02-25T00:00:00+00:00",
                          "intervalEnd": "2026-02-26T00:00:00+00:00",
                          "activeCustomers": 36,
                          "newCustomers": 11,
                          "returningCustomers": 25
                        },
                        {
                          "intervalStart": "2026-02-26T00:00:00+00:00",
                          "intervalEnd": "2026-02-27T00:00:00+00:00",
                          "activeCustomers": 25,
                          "newCustomers": 11,
                          "returningCustomers": 14
                        },
                        {
                          "intervalStart": "2026-02-27T00:00:00+00:00",
                          "intervalEnd": "2026-02-28T00:00:00+00:00",
                          "activeCustomers": 25,
                          "newCustomers": 6,
                          "returningCustomers": 19
                        },
                        {
                          "intervalStart": "2026-02-28T00:00:00+00:00",
                          "intervalEnd": "2026-03-01T00:00:00+00:00",
                          "activeCustomers": 73,
                          "newCustomers": 59,
                          "returningCustomers": 14
                        },
                        {
                          "intervalStart": "2026-03-01T00:00:00+00:00",
                          "intervalEnd": "2026-03-02T00:00:00+00:00",
                          "activeCustomers": 41,
                          "newCustomers": 36,
                          "returningCustomers": 5
                        },
                        {
                          "intervalStart": "2026-03-02T00:00:00+00:00",
                          "intervalEnd": "2026-03-03T00:00:00+00:00",
                          "activeCustomers": 36,
                          "newCustomers": 15,
                          "returningCustomers": 21
                        },
                        {
                          "intervalStart": "2026-03-03T00:00:00+00:00",
                          "intervalEnd": "2026-03-04T00:00:00+00:00",
                          "activeCustomers": 27,
                          "newCustomers": 7,
                          "returningCustomers": 20
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-02-25T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-02-26T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 36
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 11
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 25
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-02-25T00:00:00+00:00",
                    "periodEnd": "2026-03-04T00:00:00+00:00",
                    "totalTransactions": 4405,
                    "authorizeTransactions": 288,
                    "captureTransactions": 330,
                    "payTransactions": 2442,
                    "refundTransactions": 982,
                    "verifyTransactions": 241,
                    "voidTransactions": 122,
                    "successfulTransactions": 3962,
                    "failedTransactions": 296,
                    "declinedTransactions": 131,
                    "pendingTransactions": 16,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-02-25T00:00:00+00:00",
                        "intervalEnd": "2026-02-26T00:00:00+00:00",
                        "totalTransactions": 903,
                        "authorizeTransactions": 79,
                        "captureTransactions": 86,
                        "payTransactions": 428,
                        "refundTransactions": 230,
                        "verifyTransactions": 19,
                        "voidTransactions": 61,
                        "successfulTransactions": 812,
                        "failedTransactions": 48,
                        "declinedTransactions": 41,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-02-26T00:00:00+00:00",
                        "intervalEnd": "2026-02-27T00:00:00+00:00",
                        "totalTransactions": 815,
                        "authorizeTransactions": 41,
                        "captureTransactions": 51,
                        "payTransactions": 435,
                        "refundTransactions": 232,
                        "verifyTransactions": 43,
                        "voidTransactions": 13,
                        "successfulTransactions": 733,
                        "failedTransactions": 47,
                        "declinedTransactions": 30,
                        "pendingTransactions": 5,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-02-27T00:00:00+00:00",
                        "intervalEnd": "2026-02-28T00:00:00+00:00",
                        "totalTransactions": 820,
                        "authorizeTransactions": 52,
                        "captureTransactions": 58,
                        "payTransactions": 514,
                        "refundTransactions": 83,
                        "verifyTransactions": 102,
                        "voidTransactions": 11,
                        "successfulTransactions": 738,
                        "failedTransactions": 78,
                        "declinedTransactions": 1,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-02-28T00:00:00+00:00",
                        "intervalEnd": "2026-03-01T00:00:00+00:00",
                        "totalTransactions": 240,
                        "authorizeTransactions": 16,
                        "captureTransactions": 20,
                        "payTransactions": 184,
                        "refundTransactions": 15,
                        "verifyTransactions": 5,
                        "voidTransactions": 0,
                        "successfulTransactions": 216,
                        "failedTransactions": 17,
                        "declinedTransactions": 5,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-01T00:00:00+00:00",
                        "intervalEnd": "2026-03-02T00:00:00+00:00",
                        "totalTransactions": 769,
                        "authorizeTransactions": 23,
                        "captureTransactions": 27,
                        "payTransactions": 595,
                        "refundTransactions": 27,
                        "verifyTransactions": 60,
                        "voidTransactions": 37,
                        "successfulTransactions": 692,
                        "failedTransactions": 46,
                        "declinedTransactions": 30,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-02T00:00:00+00:00",
                        "intervalEnd": "2026-03-03T00:00:00+00:00",
                        "totalTransactions": 472,
                        "authorizeTransactions": 36,
                        "captureTransactions": 44,
                        "payTransactions": 84,
                        "refundTransactions": 297,
                        "verifyTransactions": 7,
                        "voidTransactions": 4,
                        "successfulTransactions": 424,
                        "failedTransactions": 42,
                        "declinedTransactions": 5,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-03T00:00:00+00:00",
                        "intervalEnd": "2026-03-04T00:00:00+00:00",
                        "totalTransactions": 386,
                        "authorizeTransactions": 41,
                        "captureTransactions": 44,
                        "payTransactions": 202,
                        "refundTransactions": 98,
                        "verifyTransactions": 5,
                        "voidTransactions": -4,
                        "successfulTransactions": 347,
                        "failedTransactions": 18,
                        "declinedTransactions": 19,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-02-25T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-04T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 4405
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 288
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 330
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 2442
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 982
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 241
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 122
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 3962
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 296
                    },
                    "declinedTransactions": {
                      "type": "integer",
                      "example": 131
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 16
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-02-25T00:00:00+00:00",
                          "intervalEnd": "2026-02-26T00:00:00+00:00",
                          "totalTransactions": 903,
                          "authorizeTransactions": 79,
                          "captureTransactions": 86,
                          "payTransactions": 428,
                          "refundTransactions": 230,
                          "verifyTransactions": 19,
                          "voidTransactions": 61,
                          "successfulTransactions": 812,
                          "failedTransactions": 48,
                          "declinedTransactions": 41,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-02-26T00:00:00+00:00",
                          "intervalEnd": "2026-02-27T00:00:00+00:00",
                          "totalTransactions": 815,
                          "authorizeTransactions": 41,
                          "captureTransactions": 51,
                          "payTransactions": 435,
                          "refundTransactions": 232,
                          "verifyTransactions": 43,
                          "voidTransactions": 13,
                          "successfulTransactions": 733,
                          "failedTransactions": 47,
                          "declinedTransactions": 30,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-02-27T00:00:00+00:00",
                          "intervalEnd": "2026-02-28T00:00:00+00:00",
                          "totalTransactions": 820,
                          "authorizeTransactions": 52,
                          "captureTransactions": 58,
                          "payTransactions": 514,
                          "refundTransactions": 83,
                          "verifyTransactions": 102,
                          "voidTransactions": 11,
                          "successfulTransactions": 738,
                          "failedTransactions": 78,
                          "declinedTransactions": 1,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-02-28T00:00:00+00:00",
                          "intervalEnd": "2026-03-01T00:00:00+00:00",
                          "totalTransactions": 240,
                          "authorizeTransactions": 16,
                          "captureTransactions": 20,
                          "payTransactions": 184,
                          "refundTransactions": 15,
                          "verifyTransactions": 5,
                          "voidTransactions": 0,
                          "successfulTransactions": 216,
                          "failedTransactions": 17,
                          "declinedTransactions": 5,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-01T00:00:00+00:00",
                          "intervalEnd": "2026-03-02T00:00:00+00:00",
                          "totalTransactions": 769,
                          "authorizeTransactions": 23,
                          "captureTransactions": 27,
                          "payTransactions": 595,
                          "refundTransactions": 27,
                          "verifyTransactions": 60,
                          "voidTransactions": 37,
                          "successfulTransactions": 692,
                          "failedTransactions": 46,
                          "declinedTransactions": 30,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-02T00:00:00+00:00",
                          "intervalEnd": "2026-03-03T00:00:00+00:00",
                          "totalTransactions": 472,
                          "authorizeTransactions": 36,
                          "captureTransactions": 44,
                          "payTransactions": 84,
                          "refundTransactions": 297,
                          "verifyTransactions": 7,
                          "voidTransactions": 4,
                          "successfulTransactions": 424,
                          "failedTransactions": 42,
                          "declinedTransactions": 5,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-03T00:00:00+00:00",
                          "intervalEnd": "2026-03-04T00:00:00+00:00",
                          "totalTransactions": 386,
                          "authorizeTransactions": 41,
                          "captureTransactions": 44,
                          "payTransactions": 202,
                          "refundTransactions": 98,
                          "verifyTransactions": 5,
                          "voidTransactions": -4,
                          "successfulTransactions": 347,
                          "failedTransactions": 18,
                          "declinedTransactions": 19,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-02-25T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-02-26T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 903
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 79
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 86
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 428
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 230
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 19
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": 61
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 812
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 48
                          },
                          "declinedTransactions": {
                            "type": "integer",
                            "example": 41
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 2
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-02-25T00:00:00+00:00",
                    "periodEnd": "2026-03-04T00:00:00+00:00",
                    "totalSettlementAmount": 37056.76,
                    "totalFeeAmount": 1815.78124,
                    "totalNetAmount": 35240.97876,
                    "totalTransactionsPending": 204,
                    "totalTransactionsSettled": 446,
                    "totalTransactionsSettling": 675,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-02-25T00:00:00+00:00",
                        "intervalEnd": "2026-02-26T00:00:00+00:00",
                        "totalSettlementAmount": 6653.7,
                        "totalFeeAmount": 326.0313,
                        "totalNetAmount": 6327.6687,
                        "totalTransactionsPending": 27,
                        "totalTransactionsSettled": 82,
                        "totalTransactionsSettling": 10
                      },
                      {
                        "intervalStart": "2026-02-26T00:00:00+00:00",
                        "intervalEnd": "2026-02-27T00:00:00+00:00",
                        "totalSettlementAmount": 3470.56,
                        "totalFeeAmount": 170.05744,
                        "totalNetAmount": 3300.50256,
                        "totalTransactionsPending": 33,
                        "totalTransactionsSettled": 58,
                        "totalTransactionsSettling": 33
                      },
                      {
                        "intervalStart": "2026-02-27T00:00:00+00:00",
                        "intervalEnd": "2026-02-28T00:00:00+00:00",
                        "totalSettlementAmount": 4486.43,
                        "totalFeeAmount": 219.83507,
                        "totalNetAmount": 4266.59493,
                        "totalTransactionsPending": 21,
                        "totalTransactionsSettled": 58,
                        "totalTransactionsSettling": 124
                      },
                      {
                        "intervalStart": "2026-02-28T00:00:00+00:00",
                        "intervalEnd": "2026-03-01T00:00:00+00:00",
                        "totalSettlementAmount": 5220.81,
                        "totalFeeAmount": 255.81969,
                        "totalNetAmount": 4964.99031,
                        "totalTransactionsPending": 17,
                        "totalTransactionsSettled": 80,
                        "totalTransactionsSettling": 366
                      },
                      {
                        "intervalStart": "2026-03-01T00:00:00+00:00",
                        "intervalEnd": "2026-03-02T00:00:00+00:00",
                        "totalSettlementAmount": 7350.66,
                        "totalFeeAmount": 360.18234,
                        "totalNetAmount": 6990.47766,
                        "totalTransactionsPending": 35,
                        "totalTransactionsSettled": 59,
                        "totalTransactionsSettling": 10
                      },
                      {
                        "intervalStart": "2026-03-02T00:00:00+00:00",
                        "intervalEnd": "2026-03-03T00:00:00+00:00",
                        "totalSettlementAmount": 4494.05,
                        "totalFeeAmount": 220.20845,
                        "totalNetAmount": 4273.84155,
                        "totalTransactionsPending": 40,
                        "totalTransactionsSettled": 28,
                        "totalTransactionsSettling": 37
                      },
                      {
                        "intervalStart": "2026-03-03T00:00:00+00:00",
                        "intervalEnd": "2026-03-04T00:00:00+00:00",
                        "totalSettlementAmount": 5380.55,
                        "totalFeeAmount": 263.64695,
                        "totalNetAmount": 5116.90305,
                        "totalTransactionsPending": 31,
                        "totalTransactionsSettled": 81,
                        "totalTransactionsSettling": 95
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-02-25T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-04T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 37056.76
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 1815.78124
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 35240.97876
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 204
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 446
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 675
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-02-25T00:00:00+00:00",
                          "intervalEnd": "2026-02-26T00:00:00+00:00",
                          "totalSettlementAmount": 6653.7,
                          "totalFeeAmount": 326.0313,
                          "totalNetAmount": 6327.6687,
                          "totalTransactionsPending": 27,
                          "totalTransactionsSettled": 82,
                          "totalTransactionsSettling": 10
                        },
                        {
                          "intervalStart": "2026-02-26T00:00:00+00:00",
                          "intervalEnd": "2026-02-27T00:00:00+00:00",
                          "totalSettlementAmount": 3470.56,
                          "totalFeeAmount": 170.05744,
                          "totalNetAmount": 3300.50256,
                          "totalTransactionsPending": 33,
                          "totalTransactionsSettled": 58,
                          "totalTransactionsSettling": 33
                        },
                        {
                          "intervalStart": "2026-02-27T00:00:00+00:00",
                          "intervalEnd": "2026-02-28T00:00:00+00:00",
                          "totalSettlementAmount": 4486.43,
                          "totalFeeAmount": 219.83507,
                          "totalNetAmount": 4266.59493,
                          "totalTransactionsPending": 21,
                          "totalTransactionsSettled": 58,
                          "totalTransactionsSettling": 124
                        },
                        {
                          "intervalStart": "2026-02-28T00:00:00+00:00",
                          "intervalEnd": "2026-03-01T00:00:00+00:00",
                          "totalSettlementAmount": 5220.81,
                          "totalFeeAmount": 255.81969,
                          "totalNetAmount": 4964.99031,
                          "totalTransactionsPending": 17,
                          "totalTransactionsSettled": 80,
                          "totalTransactionsSettling": 366
                        },
                        {
                          "intervalStart": "2026-03-01T00:00:00+00:00",
                          "intervalEnd": "2026-03-02T00:00:00+00:00",
                          "totalSettlementAmount": 7350.66,
                          "totalFeeAmount": 360.18234,
                          "totalNetAmount": 6990.47766,
                          "totalTransactionsPending": 35,
                          "totalTransactionsSettled": 59,
                          "totalTransactionsSettling": 10
                        },
                        {
                          "intervalStart": "2026-03-02T00:00:00+00:00",
                          "intervalEnd": "2026-03-03T00:00:00+00:00",
                          "totalSettlementAmount": 4494.05,
                          "totalFeeAmount": 220.20845,
                          "totalNetAmount": 4273.84155,
                          "totalTransactionsPending": 40,
                          "totalTransactionsSettled": 28,
                          "totalTransactionsSettling": 37
                        },
                        {
                          "intervalStart": "2026-03-03T00:00:00+00:00",
                          "intervalEnd": "2026-03-04T00:00:00+00:00",
                          "totalSettlementAmount": 5380.55,
                          "totalFeeAmount": 263.64695,
                          "totalNetAmount": 5116.90305,
                          "totalTransactionsPending": 31,
                          "totalTransactionsSettled": 81,
                          "totalTransactionsSettling": 95
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-02-25T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-02-26T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 6653.7
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 326.0313
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 6327.6687
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 27
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 82
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 10
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 10,
                    "data": [
                      {
                        "email": "hand.ellen@swift.net",
                        "firstName": "Mose",
                        "lastName": "Stanton",
                        "phone": "+18579852316",
                        "dateOfBirth": "1982-12-13"
                      },
                      {
                        "email": "ymclaughlin@schumm.com",
                        "firstName": "Nyasia",
                        "lastName": "Conroy",
                        "phone": "+12087191640",
                        "dateOfBirth": "1988-10-27"
                      },
                      {
                        "email": "haley.mante@olson.com",
                        "firstName": "Myah",
                        "lastName": "Altenwerth",
                        "phone": "+13853695958",
                        "dateOfBirth": "1975-07-28"
                      },
                      {
                        "email": "rhill@yahoo.com",
                        "firstName": "Devan",
                        "lastName": "Schoen",
                        "phone": "+16692737223",
                        "dateOfBirth": "1975-01-21"
                      },
                      {
                        "email": "kyle84@kessler.com",
                        "firstName": "Jefferey",
                        "lastName": "Bashirian",
                        "phone": "+18315446567",
                        "dateOfBirth": "2005-05-26"
                      },
                      {
                        "email": "sharon84@gmail.com",
                        "firstName": "Alvena",
                        "lastName": "Abernathy",
                        "phone": "+17432305462",
                        "dateOfBirth": "1970-09-06"
                      },
                      {
                        "email": "ryan.schaefer@hotmail.com",
                        "firstName": "Lorenzo",
                        "lastName": "Mayer",
                        "phone": "+17865640973",
                        "dateOfBirth": "1994-08-28"
                      },
                      {
                        "email": "mariah25@konopelski.org",
                        "firstName": "Geo",
                        "lastName": "Kuhn",
                        "phone": "+18596273047",
                        "dateOfBirth": "1990-06-09"
                      },
                      {
                        "email": "antoinette.effertz@gmail.com",
                        "firstName": "Dedric",
                        "lastName": "Cassin",
                        "phone": "+16123866821",
                        "dateOfBirth": "1981-06-06"
                      },
                      {
                        "email": "enola.batz@aufderhar.com",
                        "firstName": "Lexus",
                        "lastName": "Maggio",
                        "phone": "+16788999939",
                        "dateOfBirth": "1989-09-22"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 10,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "hand.ellen@swift.net",
                          "firstName": "Mose",
                          "lastName": "Stanton",
                          "phone": "+18579852316",
                          "dateOfBirth": "1982-12-13"
                        },
                        {
                          "email": "ymclaughlin@schumm.com",
                          "firstName": "Nyasia",
                          "lastName": "Conroy",
                          "phone": "+12087191640",
                          "dateOfBirth": "1988-10-27"
                        },
                        {
                          "email": "haley.mante@olson.com",
                          "firstName": "Myah",
                          "lastName": "Altenwerth",
                          "phone": "+13853695958",
                          "dateOfBirth": "1975-07-28"
                        },
                        {
                          "email": "rhill@yahoo.com",
                          "firstName": "Devan",
                          "lastName": "Schoen",
                          "phone": "+16692737223",
                          "dateOfBirth": "1975-01-21"
                        },
                        {
                          "email": "kyle84@kessler.com",
                          "firstName": "Jefferey",
                          "lastName": "Bashirian",
                          "phone": "+18315446567",
                          "dateOfBirth": "2005-05-26"
                        },
                        {
                          "email": "sharon84@gmail.com",
                          "firstName": "Alvena",
                          "lastName": "Abernathy",
                          "phone": "+17432305462",
                          "dateOfBirth": "1970-09-06"
                        },
                        {
                          "email": "ryan.schaefer@hotmail.com",
                          "firstName": "Lorenzo",
                          "lastName": "Mayer",
                          "phone": "+17865640973",
                          "dateOfBirth": "1994-08-28"
                        },
                        {
                          "email": "mariah25@konopelski.org",
                          "firstName": "Geo",
                          "lastName": "Kuhn",
                          "phone": "+18596273047",
                          "dateOfBirth": "1990-06-09"
                        },
                        {
                          "email": "antoinette.effertz@gmail.com",
                          "firstName": "Dedric",
                          "lastName": "Cassin",
                          "phone": "+16123866821",
                          "dateOfBirth": "1981-06-06"
                        },
                        {
                          "email": "enola.batz@aufderhar.com",
                          "firstName": "Lexus",
                          "lastName": "Maggio",
                          "phone": "+16788999939",
                          "dateOfBirth": "1989-09-22"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "hand.ellen@swift.net"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Mose"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Stanton"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+18579852316"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "1982-12-13"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers/{customerIdOrEmail}/addresses": {
      "get": {
        "summary": "List Customer Billing Addresses",
        "operationId": "listCustomerBillingAddresses",
        "description": "Returns all unique billing addresses that have been used by a customer across their payments.\nAddresses are deduplicated using case-insensitive and whitespace-insensitive comparison.",
        "parameters": [
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
            "example": "-city",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
              "example": "-city",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of unique billing addresses for the customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "company": "Weber-Jenkins",
                        "street": "24275 Bryce Trafficway",
                        "city": "Lake Eddieview",
                        "stateProvince": "NC",
                        "postcodeZip": "71427",
                        "country": "USA"
                      },
                      {
                        "company": "Batz-Cummerata",
                        "street": "56412 Kirlin Oval Apt. 157",
                        "city": "Brionnaside",
                        "stateProvince": "KS",
                        "postcodeZip": "48535",
                        "country": "USA"
                      },
                      {
                        "company": "VonRueden, Jast and Gusikowski",
                        "street": "411 Issac Greens",
                        "city": "Corkerymouth",
                        "stateProvince": "HI",
                        "postcodeZip": "57403",
                        "country": "USA"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "company": "Weber-Jenkins",
                          "street": "24275 Bryce Trafficway",
                          "city": "Lake Eddieview",
                          "stateProvince": "NC",
                          "postcodeZip": "71427",
                          "country": "USA"
                        },
                        {
                          "company": "Batz-Cummerata",
                          "street": "56412 Kirlin Oval Apt. 157",
                          "city": "Brionnaside",
                          "stateProvince": "KS",
                          "postcodeZip": "48535",
                          "country": "USA"
                        },
                        {
                          "company": "VonRueden, Jast and Gusikowski",
                          "street": "411 Issac Greens",
                          "city": "Corkerymouth",
                          "stateProvince": "HI",
                          "postcodeZip": "57403",
                          "country": "USA"
                        }
                      ],
                      "description": "The data returned from the request",
                      "enum": [],
                      "items": {
                        "type": "object",
[...]
