{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.77.1"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payout Exports",
      "description": "Create payout exports"
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/payments/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)\n\n### Tags:\n\nFilter by user-applied tags. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)\n\n### Tags:\n\nFilter by user-applied tags. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-06-25T00:00:00+00:00",
                      "periodEnd": "2026-07-02T00:00:00+00:00",
                      "numPaymentsCreated": 4552,
                      "numPaymentsProcessed": 2680,
                      "numPaymentsIncomplete": 1872,
                      "numPaymentsWithRefunds": 1161,
                      "numCardPresentPayments": 931,
                      "numCardNotPresentPayments": 941,
                      "totalCapturedAmount": 3144391.86,
                      "totalRefundedAmount": 523452.57,
                      "totalNetCapturedAmount": 2620939.29,
                      "averageNetCapturedAmount": 1755.6442857143,
                      "minNetCapturedAmount": 22.35,
                      "maxNetCapturedAmount": 8213.28,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-06-25T00:00:00+00:00",
                          "intervalEnd": "2026-06-26T00:00:00+00:00",
                          "numPaymentsCreated": 181,
                          "numPaymentsProcessed": 84,
                          "numPaymentsIncomplete": 97,
                          "numPaymentsWithRefunds": 57,
                          "numCardPresentPayments": 45,
                          "numCardNotPresentPayments": 52,
                          "totalCapturedAmount": 36381.86,
                          "totalRefundedAmount": 5591.77,
                          "totalNetCapturedAmount": 30790.09,
                          "averageNetCapturedAmount": 366.55,
                          "minNetCapturedAmount": 86.5,
                          "maxNetCapturedAmount": 1565.52
                        },
                        {
                          "intervalStart": "2026-06-26T00:00:00+00:00",
                          "intervalEnd": "2026-06-27T00:00:00+00:00",
                          "numPaymentsCreated": 437,
                          "numPaymentsProcessed": 86,
                          "numPaymentsIncomplete": 351,
                          "numPaymentsWithRefunds": 32,
                          "numCardPresentPayments": 74,
                          "numCardNotPresentPayments": 277,
                          "totalCapturedAmount": 390972.08,
                          "totalRefundedAmount": 36460.61,
                          "totalNetCapturedAmount": 354511.47,
                          "averageNetCapturedAmount": 4122.23,
                          "minNetCapturedAmount": 65.64,
                          "maxNetCapturedAmount": 8213.28
                        },
                        {
                          "intervalStart": "2026-06-27T00:00:00+00:00",
                          "intervalEnd": "2026-06-28T00:00:00+00:00",
                          "numPaymentsCreated": 586,
                          "numPaymentsProcessed": 93,
                          "numPaymentsIncomplete": 493,
                          "numPaymentsWithRefunds": 4,
                          "numCardPresentPayments": 6,
                          "numCardNotPresentPayments": 487,
                          "totalCapturedAmount": 597919.15,
                          "totalRefundedAmount": 172604.66,
                          "totalNetCapturedAmount": 425314.49,
                          "averageNetCapturedAmount": 4573.27,
                          "minNetCapturedAmount": 96.46,
                          "maxNetCapturedAmount": 2043.44
                        },
                        {
                          "intervalStart": "2026-06-28T00:00:00+00:00",
                          "intervalEnd": "2026-06-29T00:00:00+00:00",
                          "numPaymentsCreated": 999,
                          "numPaymentsProcessed": 750,
                          "numPaymentsIncomplete": 249,
                          "numPaymentsWithRefunds": 344,
                          "numCardPresentPayments": 314,
                          "numCardNotPresentPayments": -65,
                          "totalCapturedAmount": 436545.64,
                          "totalRefundedAmount": 65645.43,
                          "totalNetCapturedAmount": 370900.21,
                          "averageNetCapturedAmount": 494.53,
                          "minNetCapturedAmount": 37.8,
                          "maxNetCapturedAmount": 7391.91
                        },
                        {
                          "intervalStart": "2026-06-29T00:00:00+00:00",
                          "intervalEnd": "2026-06-30T00:00:00+00:00",
                          "numPaymentsCreated": 687,
                          "numPaymentsProcessed": 630,
                          "numPaymentsIncomplete": 57,
                          "numPaymentsWithRefunds": 24,
                          "numCardPresentPayments": 79,
                          "numCardNotPresentPayments": -22,
                          "totalCapturedAmount": 186714.7,
                          "totalRefundedAmount": 34769.88,
                          "totalNetCapturedAmount": 151944.82,
                          "averageNetCapturedAmount": 241.18,
                          "minNetCapturedAmount": 22.35,
                          "maxNetCapturedAmount": 1886.24
                        },
                        {
                          "intervalStart": "2026-06-30T00:00:00+00:00",
                          "intervalEnd": "2026-07-01T00:00:00+00:00",
                          "numPaymentsCreated": 682,
                          "numPaymentsProcessed": 635,
                          "numPaymentsIncomplete": 47,
                          "numPaymentsWithRefunds": 298,
                          "numCardPresentPayments": 183,
                          "numCardNotPresentPayments": -136,
                          "totalCapturedAmount": 914253.49,
                          "totalRefundedAmount": 135378.98,
                          "totalNetCapturedAmount": 778874.51,
                          "averageNetCapturedAmount": 1226.57,
                          "minNetCapturedAmount": 73.31,
                          "maxNetCapturedAmount": 4747.75
                        },
                        {
                          "intervalStart": "2026-07-01T00:00:00+00:00",
                          "intervalEnd": "2026-07-02T00:00:00+00:00",
                          "numPaymentsCreated": 980,
                          "numPaymentsProcessed": 402,
                          "numPaymentsIncomplete": 578,
                          "numPaymentsWithRefunds": 402,
                          "numCardPresentPayments": 230,
                          "numCardNotPresentPayments": 348,
                          "totalCapturedAmount": 581604.94,
                          "totalRefundedAmount": 73001.24,
                          "totalNetCapturedAmount": 508603.7,
                          "averageNetCapturedAmount": 1265.18,
                          "minNetCapturedAmount": 84.76,
                          "maxNetCapturedAmount": 6335.18
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-06-25T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-07-02T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "numPaymentsCreated": {
                          "type": "integer",
                          "example": 4552,
                          "description": "Total number of payment records created in the period",
                          "enum": []
                        },
                        "numPaymentsProcessed": {
                          "type": "integer",
                          "example": 2680,
                          "description": "Number of payments that have successfully had funds captured (captured amount > 0)",
                          "enum": []
                        },
                        "numPaymentsIncomplete": {
                          "type": "integer",
                          "example": 1872,
                          "description": "Number of payments which have been created but funds have not been captured yet (e.g. failures, declines, authorizations, etc.)",
                          "enum": []
                        },
                        "numPaymentsWithRefunds": {
                          "type": "integer",
                          "example": 1161,
                          "description": "Number of payments that have had one or more refunds (refunded amount > 0)",
                          "enum": []
                        },
                        "numCardPresentPayments": {
                          "type": "integer",
                          "example": 931,
                          "description": "Number of payments made with card present (e.g. via terminal device)",
                          "enum": []
                        },
                        "numCardNotPresentPayments": {
                          "type": "integer",
                          "example": 941,
                          "description": "Number of payments made with card not present (e.g. online payments)",
                          "enum": []
                        },
                        "totalCapturedAmount": {
                          "type": "number",
                          "example": 3144391.86,
                          "description": "Total amount captured across all payments in the period",
                          "enum": []
                        },
                        "totalRefundedAmount": {
                          "type": "number",
                          "example": 523452.57,
                          "description": "Total amount refunded across all payments in the period",
                          "enum": []
                        },
                        "totalNetCapturedAmount": {
                          "type": "number",
                          "example": 2620939.29,
                          "description": "Net captured amount (captured - refunded) across all payments in the period",
                          "enum": []
                        },
                        "averageNetCapturedAmount": {
                          "type": "number",
                          "example": 1755.6442857143,
                          "description": "Average net captured amount per payment in the period",
                          "enum": []
                        },
                        "minNetCapturedAmount": {
                          "type": "number",
                          "example": 22.35,
                          "description": "Minimum net captured amount in the period",
                          "enum": []
                        },
                        "maxNetCapturedAmount": {
                          "type": "number",
                          "example": 8213.28,
                          "description": "Maximum net captured amount in the period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-06-25T00:00:00+00:00",
                              "intervalEnd": "2026-06-26T00:00:00+00:00",
                              "numPaymentsCreated": 181,
                              "numPaymentsProcessed": 84,
                              "numPaymentsIncomplete": 97,
                              "numPaymentsWithRefunds": 57,
                              "numCardPresentPayments": 45,
                              "numCardNotPresentPayments": 52,
                              "totalCapturedAmount": 36381.86,
                              "totalRefundedAmount": 5591.77,
                              "totalNetCapturedAmount": 30790.09,
                              "averageNetCapturedAmount": 366.55,
                              "minNetCapturedAmount": 86.5,
                              "maxNetCapturedAmount": 1565.52
                            },
                            {
                              "intervalStart": "2026-06-26T00:00:00+00:00",
                              "intervalEnd": "2026-06-27T00:00:00+00:00",
                              "numPaymentsCreated": 437,
                              "numPaymentsProcessed": 86,
                              "numPaymentsIncomplete": 351,
                              "numPaymentsWithRefunds": 32,
                              "numCardPresentPayments": 74,
                              "numCardNotPresentPayments": 277,
                              "totalCapturedAmount": 390972.08,
                              "totalRefundedAmount": 36460.61,
                              "totalNetCapturedAmount": 354511.47,
                              "averageNetCapturedAmount": 4122.23,
                              "minNetCapturedAmount": 65.64,
                              "maxNetCapturedAmount": 8213.28
                            },
                            {
                              "intervalStart": "2026-06-27T00:00:00+00:00",
                              "intervalEnd": "2026-06-28T00:00:00+00:00",
                              "numPaymentsCreated": 586,
                              "numPaymentsProcessed": 93,
                              "numPaymentsIncomplete": 493,
                              "numPaymentsWithRefunds": 4,
                              "numCardPresentPayments": 6,
                              "numCardNotPresentPayments": 487,
                              "totalCapturedAmount": 597919.15,
                              "totalRefundedAmount": 172604.66,
                              "totalNetCapturedAmount": 425314.49,
                              "averageNetCapturedAmount": 4573.27,
                              "minNetCapturedAmount": 96.46,
                              "maxNetCapturedAmount": 2043.44
                            },
                            {
                              "intervalStart": "2026-06-28T00:00:00+00:00",
                              "intervalEnd": "2026-06-29T00:00:00+00:00",
                              "numPaymentsCreated": 999,
                              "numPaymentsProcessed": 750,
                              "numPaymentsIncomplete": 249,
                              "numPaymentsWithRefunds": 344,
                              "numCardPresentPayments": 314,
                              "numCardNotPresentPayments": -65,
                              "totalCapturedAmount": 436545.64,
                              "totalRefundedAmount": 65645.43,
                              "totalNetCapturedAmount": 370900.21,
                              "averageNetCapturedAmount": 494.53,
                              "minNetCapturedAmount": 37.8,
                              "maxNetCapturedAmount": 7391.91
                            },
                            {
                              "intervalStart": "2026-06-29T00:00:00+00:00",
                              "intervalEnd": "2026-06-30T00:00:00+00:00",
                              "numPaymentsCreated": 687,
                              "numPaymentsProcessed": 630,
                              "numPaymentsIncomplete": 57,
                              "numPaymentsWithRefunds": 24,
                              "numCardPresentPayments": 79,
                              "numCardNotPresentPayments": -22,
                              "totalCapturedAmount": 186714.7,
                              "totalRefundedAmount": 34769.88,
                              "totalNetCapturedAmount": 151944.82,
                              "averageNetCapturedAmount": 241.18,
                              "minNetCapturedAmount": 22.35,
                              "maxNetCapturedAmount": 1886.24
                            },
                            {
                              "intervalStart": "2026-06-30T00:00:00+00:00",
                              "intervalEnd": "2026-07-01T00:00:00+00:00",
                              "numPaymentsCreated": 682,
                              "numPaymentsProcessed": 635,
                              "numPaymentsIncomplete": 47,
                              "numPaymentsWithRefunds": 298,
                              "numCardPresentPayments": 183,
                              "numCardNotPresentPayments": -136,
                              "totalCapturedAmount": 914253.49,
                              "totalRefundedAmount": 135378.98,
                              "totalNetCapturedAmount": 778874.51,
                              "averageNetCapturedAmount": 1226.57,
                              "minNetCapturedAmount": 73.31,
                              "maxNetCapturedAmount": 4747.75
                            },
                            {
                              "intervalStart": "2026-07-01T00:00:00+00:00",
                              "intervalEnd": "2026-07-02T00:00:00+00:00",
                              "numPaymentsCreated": 980,
                              "numPaymentsProcessed": 402,
                              "numPaymentsIncomplete": 578,
                              "numPaymentsWithRefunds": 402,
                              "numCardPresentPayments": 230,
                              "numCardNotPresentPayments": 348,
                              "totalCapturedAmount": 581604.94,
                              "totalRefundedAmount": 73001.24,
                              "totalNetCapturedAmount": 508603.7,
                              "averageNetCapturedAmount": 1265.18,
                              "minNetCapturedAmount": 84.76,
                              "maxNetCapturedAmount": 6335.18
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-06-25T00:00:00+00:00",
                                "description": "Start time of the PaymentAnalyticsData interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-06-26T00:00:00+00:00",
                                "description": "End time of the PaymentAnalyticsData interval",
                                "enum": []
                              },
                              "numPaymentsCreated": {
                                "type": "integer",
                                "example": 181,
                                "description": "Total number of payment records created in the interval",
                                "enum": []
                              },
                              "numPaymentsProcessed": {
                                "type": "integer",
                                "example": 84,
                                "description": "Number of payments that have successfully had funds captured (captured amount > 0)",
                                "enum": []
                              },
                              "numPaymentsIncomplete": {
                                "type": "integer",
                                "example": 97,
                                "description": "Number of payments which have been created but funds have not been captured yet (e.g. failures, declines, authorizations, etc.)",
                                "enum": []
                              },
                              "numPaymentsWithRefunds": {
                                "type": "integer",
                                "example": 57,
                                "description": "Number of payments that have had one or more refunds (refunded amount > 0)",
                                "enum": []
                              },
                              "numCardPresentPayments": {
                                "type": "integer",
                                "example": 45,
                                "description": "Number of payments made with card present (e.g. via terminal device)",
                                "enum": []
                              },
                              "numCardNotPresentPayments": {
                                "type": "integer",
                                "example": 52,
                                "description": "Number of payments made with card not present (e.g. online payments)",
                                "enum": []
                              },
                              "totalCapturedAmount": {
                                "type": "number",
                                "example": 36381.86,
                                "description": "Total amount captured across all payments in the interval",
                                "enum": []
                              },
                              "totalRefundedAmount": {
                                "type": "number",
                                "example": 5591.77,
                                "description": "Total amount refunded across all payments in the interval",
                                "enum": []
                              },
                              "totalNetCapturedAmount": {
                                "type": "number",
                                "example": 30790.09,
                                "description": "Net captured amount (captured - refunded) across all payments in the interval",
                                "enum": []
                              },
                              "averageNetCapturedAmount": {
                                "type": "number",
                                "example": 366.55,
                                "description": "Average net captured amount per payment in the interval",
                                "enum": []
                              },
                              "minNetCapturedAmount": {
                                "type": "number",
                                "example": 86.5,
                                "description": "Minimum net captured amount in the interval",
                                "enum": []
                              },
                              "maxNetCapturedAmount": {
                                "type": "number",
                                "example": 1565.52,
                                "description": "Maximum net captured amount in the interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/payments/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n\n### Tags:\n\nFilter by user-applied tags on the underlying payments. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n\n### Tags:\n\nFilter by user-applied tags on the underlying payments. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-06-25T00:00:00+00:00",
                      "periodEnd": "2026-07-02T00:00:00+00:00",
                      "activeCustomers": 151,
                      "newCustomers": 300,
                      "returningCustomers": -149,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-06-25T00:00:00+00:00",
                          "intervalEnd": "2026-06-26T00:00:00+00:00",
                          "activeCustomers": 95,
                          "newCustomers": 17,
                          "returningCustomers": 78
                        },
                        {
                          "intervalStart": "2026-06-26T00:00:00+00:00",
                          "intervalEnd": "2026-06-27T00:00:00+00:00",
                          "activeCustomers": 25,
                          "newCustomers": 16,
                          "returningCustomers": 9
                        },
                        {
                          "intervalStart": "2026-06-27T00:00:00+00:00",
                          "intervalEnd": "2026-06-28T00:00:00+00:00",
                          "activeCustomers": 43,
                          "newCustomers": 24,
                          "returningCustomers": 19
                        },
                        {
                          "intervalStart": "2026-06-28T00:00:00+00:00",
                          "intervalEnd": "2026-06-29T00:00:00+00:00",
                          "activeCustomers": 73,
                          "newCustomers": 32,
                          "returningCustomers": 41
                        },
                        {
                          "intervalStart": "2026-06-29T00:00:00+00:00",
                          "intervalEnd": "2026-06-30T00:00:00+00:00",
                          "activeCustomers": 99,
                          "newCustomers": 87,
                          "returningCustomers": 12
                        },
                        {
                          "intervalStart": "2026-06-30T00:00:00+00:00",
                          "intervalEnd": "2026-07-01T00:00:00+00:00",
                          "activeCustomers": 64,
                          "newCustomers": 60,
                          "returningCustomers": 4
                        },
                        {
                          "intervalStart": "2026-07-01T00:00:00+00:00",
                          "intervalEnd": "2026-07-02T00:00:00+00:00",
                          "activeCustomers": 77,
                          "newCustomers": 64,
                          "returningCustomers": 13
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-06-25T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-07-02T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "activeCustomers": {
                          "type": "integer",
                          "example": 151,
                          "description": "number of customers who are associated with at least one payment which was created in the period",
                          "enum": []
                        },
                        "newCustomers": {
                          "type": "integer",
                          "example": 300,
                          "description": "number of new customers added in the period",
                          "enum": []
                        },
                        "returningCustomers": {
                          "type": "integer",
                          "example": -149,
                          "description": "number of customers who were active in the period but were created before the period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-06-25T00:00:00+00:00",
                              "intervalEnd": "2026-06-26T00:00:00+00:00",
                              "activeCustomers": 95,
                              "newCustomers": 17,
                              "returningCustomers": 78
                            },
                            {
                              "intervalStart": "2026-06-26T00:00:00+00:00",
                              "intervalEnd": "2026-06-27T00:00:00+00:00",
                              "activeCustomers": 25,
                              "newCustomers": 16,
                              "returningCustomers": 9
                            },
                            {
                              "intervalStart": "2026-06-27T00:00:00+00:00",
                              "intervalEnd": "2026-06-28T00:00:00+00:00",
                              "activeCustomers": 43,
                              "newCustomers": 24,
                              "returningCustomers": 19
                            },
                            {
                              "intervalStart": "2026-06-28T00:00:00+00:00",
                              "intervalEnd": "2026-06-29T00:00:00+00:00",
                              "activeCustomers": 73,
                              "newCustomers": 32,
                              "returningCustomers": 41
                            },
                            {
                              "intervalStart": "2026-06-29T00:00:00+00:00",
                              "intervalEnd": "2026-06-30T00:00:00+00:00",
                              "activeCustomers": 99,
                              "newCustomers": 87,
                              "returningCustomers": 12
                            },
                            {
                              "intervalStart": "2026-06-30T00:00:00+00:00",
                              "intervalEnd": "2026-07-01T00:00:00+00:00",
                              "activeCustomers": 64,
                              "newCustomers": 60,
                              "returningCustomers": 4
                            },
                            {
                              "intervalStart": "2026-07-01T00:00:00+00:00",
                              "intervalEnd": "2026-07-02T00:00:00+00:00",
                              "activeCustomers": 77,
                              "newCustomers": 64,
                              "returningCustomers": 13
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-06-25T00:00:00+00:00",
                                "description": "Start time of the analytics calculation interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-06-26T00:00:00+00:00",
                                "description": "End time of the analytics calculation interval",
                                "enum": []
                              },
                              "activeCustomers": {
                                "type": "integer",
                                "example": 95,
                                "description": "number of customers who are associated with at least one payment which was created in the interval",
                                "enum": []
                              },
                              "newCustomers": {
                                "type": "integer",
                                "example": 17,
                                "description": "number of new customers added in the interval",
                                "enum": []
                              },
                              "returningCustomers": {
                                "type": "integer",
                                "example": 78,
                                "description": "number of customers who were active in the interval but were created before the interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/payments/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n\n### Tags:\n\nFilter by user-applied tags. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n\n### Tags:\n\nFilter by user-applied tags. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-06-25T00:00:00+00:00",
                      "periodEnd": "2026-07-02T00:00:00+00:00",
                      "totalTransactions": 3620,
                      "authorizeTransactions": 220,
                      "captureTransactions": 272,
                      "payTransactions": 1838,
                      "refundTransactions": 1027,
                      "verifyTransactions": 146,
                      "voidTransactions": 117,
                      "successfulTransactions": 3255,
                      "failedTransactions": 241,
                      "declinedTransactions": 100,
                      "pendingTransactions": 24,
                      "unknownTransactions": 0,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-06-25T00:00:00+00:00",
                          "intervalEnd": "2026-06-26T00:00:00+00:00",
                          "totalTransactions": 329,
                          "authorizeTransactions": 24,
                          "captureTransactions": 33,
                          "payTransactions": 268,
                          "refundTransactions": 5,
                          "verifyTransactions": 3,
                          "voidTransactions": -4,
                          "successfulTransactions": 296,
                          "failedTransactions": 19,
                          "declinedTransactions": 11,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-06-26T00:00:00+00:00",
                          "intervalEnd": "2026-06-27T00:00:00+00:00",
                          "totalTransactions": 377,
                          "authorizeTransactions": 19,
                          "captureTransactions": 25,
                          "payTransactions": 142,
                          "refundTransactions": 109,
                          "verifyTransactions": 6,
                          "voidTransactions": 76,
                          "successfulTransactions": 339,
                          "failedTransactions": 28,
                          "declinedTransactions": 8,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-06-27T00:00:00+00:00",
                          "intervalEnd": "2026-06-28T00:00:00+00:00",
                          "totalTransactions": 234,
                          "authorizeTransactions": 21,
                          "captureTransactions": 28,
                          "payTransactions": 151,
                          "refundTransactions": 24,
                          "verifyTransactions": 5,
                          "voidTransactions": 5,
                          "successfulTransactions": 210,
                          "failedTransactions": 17,
                          "declinedTransactions": 6,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-06-28T00:00:00+00:00",
                          "intervalEnd": "2026-06-29T00:00:00+00:00",
                          "totalTransactions": 981,
                          "authorizeTransactions": 34,
                          "captureTransactions": 42,
                          "payTransactions": 224,
                          "refundTransactions": 543,
                          "verifyTransactions": 105,
                          "voidTransactions": 33,
                          "successfulTransactions": 882,
                          "failedTransactions": 69,
                          "declinedTransactions": 22,
                          "pendingTransactions": 8,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-06-29T00:00:00+00:00",
                          "intervalEnd": "2026-06-30T00:00:00+00:00",
                          "totalTransactions": 465,
                          "authorizeTransactions": 37,
                          "captureTransactions": 45,
                          "payTransactions": 184,
                          "refundTransactions": 185,
                          "verifyTransactions": 14,
                          "voidTransactions": 0,
                          "successfulTransactions": 418,
                          "failedTransactions": 22,
                          "declinedTransactions": 22,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-06-30T00:00:00+00:00",
                          "intervalEnd": "2026-07-01T00:00:00+00:00",
                          "totalTransactions": 895,
                          "authorizeTransactions": 69,
                          "captureTransactions": 75,
                          "payTransactions": 590,
                          "refundTransactions": 152,
                          "verifyTransactions": 8,
                          "voidTransactions": 1,
                          "successfulTransactions": 805,
                          "failedTransactions": 66,
                          "declinedTransactions": 19,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-07-01T00:00:00+00:00",
                          "intervalEnd": "2026-07-02T00:00:00+00:00",
                          "totalTransactions": 339,
                          "authorizeTransactions": 16,
                          "captureTransactions": 24,
                          "payTransactions": 279,
                          "refundTransactions": 9,
                          "verifyTransactions": 5,
                          "voidTransactions": 6,
                          "successfulTransactions": 305,
                          "failedTransactions": 20,
                          "declinedTransactions": 12,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-06-25T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-07-02T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "totalTransactions": {
                          "type": "integer",
                          "example": 3620,
                          "description": "Total number of transactions in the period",
                          "enum": []
                        },
                        "authorizeTransactions": {
                          "type": "integer",
                          "example": 220,
                          "description": "Number of authorize transactions in the period",
                          "enum": []
                        },
                        "captureTransactions": {
                          "type": "integer",
                          "example": 272,
                          "description": "Number of capture transactions in the period",
                          "enum": []
                        },
                        "payTransactions": {
                          "type": "integer",
                          "example": 1838,
                          "description": "Number of pay transactions in the period",
                          "enum": []
                        },
                        "refundTransactions": {
                          "type": "integer",
                          "example": 1027,
                          "description": "Number of refund transactions in the period",
                          "enum": []
                        },
                        "verifyTransactions": {
                          "type": "integer",
                          "example": 146,
                          "description": "Number of verify transactions in the period",
                          "enum": []
                        },
                        "voidTransactions": {
                          "type": "integer",
                          "example": 117,
                          "description": "Number of void transactions in the period",
                          "enum": []
                        },
                        "successfulTransactions": {
                          "type": "integer",
                          "example": 3255,
                          "description": "Number of successful transactions in the period",
                          "enum": []
                        },
                        "failedTransactions": {
                          "type": "integer",
                          "example": 241,
                          "description": "Number of failed transactions in the period",
                          "enum": []
                        },
                        "declinedTransactions": {
                          "type": "integer",
                          "example": 100,
                          "description": "Number of declined transactions in the period",
                          "enum": []
                        },
                        "pendingTransactions": {
                          "type": "integer",
                          "example": 24,
                          "description": "Number of pending transactions in the period",
                          "enum": []
                        },
                        "unknownTransactions": {
                          "type": "integer",
                          "example": 0,
                          "description": "Number of transactions with unknown result in the period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-06-25T00:00:00+00:00",
                              "intervalEnd": "2026-06-26T00:00:00+00:00",
                              "totalTransactions": 329,
                              "authorizeTransactions": 24,
                              "captureTransactions": 33,
                              "payTransactions": 268,
                              "refundTransactions": 5,
                              "verifyTransactions": 3,
                              "voidTransactions": -4,
                              "successfulTransactions": 296,
                              "failedTransactions": 19,
                              "declinedTransactions": 11,
                              "pendingTransactions": 3,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-06-26T00:00:00+00:00",
                              "intervalEnd": "2026-06-27T00:00:00+00:00",
                              "totalTransactions": 377,
                              "authorizeTransactions": 19,
                              "captureTransactions": 25,
                              "payTransactions": 142,
                              "refundTransactions": 109,
                              "verifyTransactions": 6,
                              "voidTransactions": 76,
                              "successfulTransactions": 339,
                              "failedTransactions": 28,
                              "declinedTransactions": 8,
                              "pendingTransactions": 2,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-06-27T00:00:00+00:00",
                              "intervalEnd": "2026-06-28T00:00:00+00:00",
                              "totalTransactions": 234,
                              "authorizeTransactions": 21,
                              "captureTransactions": 28,
                              "payTransactions": 151,
                              "refundTransactions": 24,
                              "verifyTransactions": 5,
                              "voidTransactions": 5,
                              "successfulTransactions": 210,
                              "failedTransactions": 17,
                              "declinedTransactions": 6,
                              "pendingTransactions": 1,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-06-28T00:00:00+00:00",
                              "intervalEnd": "2026-06-29T00:00:00+00:00",
                              "totalTransactions": 981,
                              "authorizeTransactions": 34,
                              "captureTransactions": 42,
                              "payTransactions": 224,
                              "refundTransactions": 543,
                              "verifyTransactions": 105,
                              "voidTransactions": 33,
                              "successfulTransactions": 882,
                              "failedTransactions": 69,
                              "declinedTransactions": 22,
                              "pendingTransactions": 8,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-06-29T00:00:00+00:00",
                              "intervalEnd": "2026-06-30T00:00:00+00:00",
                              "totalTransactions": 465,
                              "authorizeTransactions": 37,
                              "captureTransactions": 45,
                              "payTransactions": 184,
                              "refundTransactions": 185,
                              "verifyTransactions": 14,
                              "voidTransactions": 0,
                              "successfulTransactions": 418,
                              "failedTransactions": 22,
                              "declinedTransactions": 22,
                              "pendingTransactions": 3,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-06-30T00:00:00+00:00",
                              "intervalEnd": "2026-07-01T00:00:00+00:00",
                              "totalTransactions": 895,
                              "authorizeTransactions": 69,
                              "captureTransactions": 75,
                              "payTransactions": 590,
                              "refundTransactions": 152,
                              "verifyTransactions": 8,
                              "voidTransactions": 1,
                              "successfulTransactions": 805,
                              "failedTransactions": 66,
                              "declinedTransactions": 19,
                              "pendingTransactions": 5,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-07-01T00:00:00+00:00",
                              "intervalEnd": "2026-07-02T00:00:00+00:00",
                              "totalTransactions": 339,
                              "authorizeTransactions": 16,
                              "captureTransactions": 24,
                              "payTransactions": 279,
                              "refundTransactions": 9,
                              "verifyTransactions": 5,
                              "voidTransactions": 6,
                              "successfulTransactions": 305,
                              "failedTransactions": 20,
                              "declinedTransactions": 12,
                              "pendingTransactions": 2,
                              "unknownTransactions": 0
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-06-25T00:00:00+00:00",
                                "description": "Start time of the analytics calculation interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-06-26T00:00:00+00:00",
                                "description": "End time of the analytics calculation interval",
                                "enum": []
                              },
                              "totalTransactions": {
                                "type": "integer",
                                "example": 329,
                                "description": "Total number of transactions in the interval",
                                "enum": []
                              },
                              "authorizeTransactions": {
                                "type": "integer",
                                "example": 24,
                                "description": "Number of authorize transactions in the interval",
                                "enum": []
                              },
                              "captureTransactions": {
                                "type": "integer",
                                "example": 33,
                                "description": "Number of capture transactions in the interval",
                                "enum": []
                              },
                              "payTransactions": {
                                "type": "integer",
                                "example": 268,
                                "description": "Number of pay transactions in the interval",
                                "enum": []
                              },
                              "refundTransactions": {
                                "type": "integer",
                                "example": 5,
                                "description": "Number of refund transactions in the interval",
                                "enum": []
                              },
                              "verifyTransactions": {
                                "type": "integer",
                                "example": 3,
                                "description": "Number of verify transactions in the interval",
                                "enum": []
                              },
                              "voidTransactions": {
                                "type": "integer",
                                "example": -4,
                                "description": "Number of void transactions in the interval",
                                "enum": []
                              },
                              "successfulTransactions": {
                                "type": "integer",
                                "example": 296,
                                "description": "Number of successful transactions in the interval",
                                "enum": []
                              },
                              "failedTransactions": {
                                "type": "integer",
                                "example": 19,
                                "description": "Number of failed transactions in the interval",
                                "enum": []
                              },
                              "declinedTransactions": {
                                "type": "integer",
                                "example": 11,
                                "description": "Number of declined transactions in the interval",
                                "enum": []
                              },
                              "pendingTransactions": {
                                "type": "integer",
                                "example": 3,
                                "description": "Number of pending transactions in the interval",
                                "enum": []
                              },
                              "unknownTransactions": {
                                "type": "integer",
                                "example": 0,
                                "description": "Number of transactions with unknown result in the interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/payments/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n\n### Tags:\n\nFilter by user-applied tags. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n\n### Tags:\n\nFilter by user-applied tags. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-06-25T00:00:00+00:00",
                      "periodEnd": "2026-07-02T00:00:00+00:00",
                      "totalSettlementAmount": 40975.07,
                      "totalFeeAmount": 2007.77843,
                      "totalNetAmount": 38967.29157,
                      "totalTransactionsPending": 134,
                      "totalTransactionsSettled": 1321,
                      "totalTransactionsSettling": 905,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-06-25T00:00:00+00:00",
                          "intervalEnd": "2026-06-26T00:00:00+00:00",
                          "totalSettlementAmount": 7059.66,
                          "totalFeeAmount": 345.92334,
                          "totalNetAmount": 6713.73666,
                          "totalTransactionsPending": 13,
                          "totalTransactionsSettled": 91,
                          "totalTransactionsSettling": 178
                        },
                        {
                          "intervalStart": "2026-06-26T00:00:00+00:00",
                          "intervalEnd": "2026-06-27T00:00:00+00:00",
                          "totalSettlementAmount": 9433.49,
                          "totalFeeAmount": 462.24101,
                          "totalNetAmount": 8971.24899,
                          "totalTransactionsPending": 37,
                          "totalTransactionsSettled": 327,
                          "totalTransactionsSettling": 119
                        },
                        {
                          "intervalStart": "2026-06-27T00:00:00+00:00",
                          "intervalEnd": "2026-06-28T00:00:00+00:00",
                          "totalSettlementAmount": 1770.02,
                          "totalFeeAmount": 86.73098,
                          "totalNetAmount": 1683.28902,
                          "totalTransactionsPending": 29,
                          "totalTransactionsSettled": 201,
                          "totalTransactionsSettling": 141
                        },
                        {
                          "intervalStart": "2026-06-28T00:00:00+00:00",
                          "intervalEnd": "2026-06-29T00:00:00+00:00",
                          "totalSettlementAmount": 7906.81,
                          "totalFeeAmount": 387.43369,
                          "totalNetAmount": 7519.37631,
                          "totalTransactionsPending": 9,
                          "totalTransactionsSettled": 142,
                          "totalTransactionsSettling": 215
                        },
                        {
                          "intervalStart": "2026-06-29T00:00:00+00:00",
                          "intervalEnd": "2026-06-30T00:00:00+00:00",
                          "totalSettlementAmount": 8168.33,
                          "totalFeeAmount": 400.24817,
                          "totalNetAmount": 7768.08183,
                          "totalTransactionsPending": 7,
                          "totalTransactionsSettled": 100,
                          "totalTransactionsSettling": 16
                        },
                        {
                          "intervalStart": "2026-06-30T00:00:00+00:00",
                          "intervalEnd": "2026-07-01T00:00:00+00:00",
                          "totalSettlementAmount": 4888.28,
                          "totalFeeAmount": 239.52572,
                          "totalNetAmount": 4648.75428,
                          "totalTransactionsPending": 33,
                          "totalTransactionsSettled": 134,
                          "totalTransactionsSettling": 70
                        },
                        {
                          "intervalStart": "2026-07-01T00:00:00+00:00",
                          "intervalEnd": "2026-07-02T00:00:00+00:00",
                          "totalSettlementAmount": 1748.48,
                          "totalFeeAmount": 85.67552,
                          "totalNetAmount": 1662.80448,
                          "totalTransactionsPending": 6,
                          "totalTransactionsSettled": 326,
                          "totalTransactionsSettling": 166
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-06-25T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-07-02T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "totalSettlementAmount": {
                          "type": "number",
                          "example": 40975.07,
                          "description": "Total settled payout amount in this period",
                          "enum": []
                        },
                        "totalFeeAmount": {
                          "type": "number",
                          "example": 2007.77843,
                          "description": "Total amount of fees charged for the payouts in this period",
                          "enum": []
                        },
                        "totalNetAmount": {
                          "type": "number",
                          "example": 38967.29157,
                          "description": "Total net payout amount in this period",
                          "enum": []
                        },
                        "totalTransactionsPending": {
                          "type": "integer",
                          "example": 134,
                          "description": "Total number of transactions pending in this period",
                          "enum": []
                        },
                        "totalTransactionsSettled": {
                          "type": "integer",
                          "example": 1321,
                          "description": "Total number of transactions settled in this period",
                          "enum": []
                        },
                        "totalTransactionsSettling": {
                          "type": "integer",
                          "example": 905,
                          "description": "Total number of transactions settling in this period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-06-25T00:00:00+00:00",
                              "intervalEnd": "2026-06-26T00:00:00+00:00",
                              "totalSettlementAmount": 7059.66,
                              "totalFeeAmount": 345.92334,
                              "totalNetAmount": 6713.73666,
                              "totalTransactionsPending": 13,
                              "totalTransactionsSettled": 91,
                              "totalTransactionsSettling": 178
                            },
                            {
                              "intervalStart": "2026-06-26T00:00:00+00:00",
                              "intervalEnd": "2026-06-27T00:00:00+00:00",
                              "totalSettlementAmount": 9433.49,
                              "totalFeeAmount": 462.24101,
                              "totalNetAmount": 8971.24899,
                              "totalTransactionsPending": 37,
                              "totalTransactionsSettled": 327,
                              "totalTransactionsSettling": 119
                            },
                            {
                              "intervalStart": "2026-06-27T00:00:00+00:00",
                              "intervalEnd": "2026-06-28T00:00:00+00:00",
                              "totalSettlementAmount": 1770.02,
                              "totalFeeAmount": 86.73098,
                              "totalNetAmount": 1683.28902,
                              "totalTransactionsPending": 29,
                              "totalTransactionsSettled": 201,
                              "totalTransactionsSettling": 141
                            },
                            {
                              "intervalStart": "2026-06-28T00:00:00+00:00",
                              "intervalEnd": "2026-06-29T00:00:00+00:00",
                              "totalSettlementAmount": 7906.81,
                              "totalFeeAmount": 387.43369,
                              "totalNetAmount": 7519.37631,
                              "totalTransactionsPending": 9,
                              "totalTransactionsSettled": 142,
                              "totalTransactionsSettling": 215
                            },
                            {
                              "intervalStart": "2026-06-29T00:00:00+00:00",
                              "intervalEnd": "2026-06-30T00:00:00+00:00",
                              "totalSettlementAmount": 8168.33,
                              "totalFeeAmount": 400.24817,
                              "totalNetAmount": 7768.08183,
                              "totalTransactionsPending": 7,
                              "totalTransactionsSettled": 100,
                              "totalTransactionsSettling": 16
                            },
                            {
                              "intervalStart": "2026-06-30T00:00:00+00:00",
                              "intervalEnd": "2026-07-01T00:00:00+00:00",
                              "totalSettlementAmount": 4888.28,
                              "totalFeeAmount": 239.52572,
                              "totalNetAmount": 4648.75428,
                              "totalTransactionsPending": 33,
                              "totalTransactionsSettled": 134,
                              "totalTransactionsSettling": 70
                            },
                            {
                              "intervalStart": "2026-07-01T00:00:00+00:00",
                              "intervalEnd": "2026-07-02T00:00:00+00:00",
                              "totalSettlementAmount": 1748.48,
                              "totalFeeAmount": 85.67552,
                              "totalNetAmount": 1662.80448,
                              "totalTransactionsPending": 6,
                              "totalTransactionsSettled": 326,
                              "totalTransactionsSettling": 166
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-06-25T00:00:00+00:00",
                                "description": "Start time of the analytics calculation interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-06-26T00:00:00+00:00",
                                "description": "End time of the analytics calculation interval",
                                "enum": []
                              },
                              "totalSettlementAmount": {
                                "type": "number",
                                "example": 7059.66,
                                "description": "Total settled payout amount in this interval",
                                "enum": []
                              },
                              "totalFeeAmount": {
                                "type": "number",
                                "example": 345.92334,
                                "description": "Total amount of fees charged for the payouts in this interval",
                                "enum": []
                              },
                              "totalNetAmount": {
                                "type": "number",
                                "example": 6713.73666,
                                "description": "Total net payout amount in this interval",
                                "enum": []
                              },
                              "totalTransactionsPending": {
                                "type": "integer",
                                "example": 13,
                                "description": "Total number of transactions pending in this interval",
                                "enum": []
                              },
                              "totalTransactionsSettled": {
                                "type": "integer",
                                "example": 91,
[...]
