{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.50.1"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-07T00:00:00+00:00",
                    "periodEnd": "2026-03-14T00:00:00+00:00",
                    "numPaymentsCreated": 4571,
                    "numPaymentsProcessed": 1497,
                    "numPaymentsIncomplete": 3074,
                    "numPaymentsWithRefunds": 782,
                    "numCardPresentPayments": 682,
                    "numCardNotPresentPayments": 2392,
                    "totalCapturedAmount": 2435554.53,
                    "totalRefundedAmount": 367737.25,
                    "totalNetCapturedAmount": 2067817.28,
                    "averageNetCapturedAmount": 1955.9985714286,
                    "minNetCapturedAmount": 11.62,
                    "maxNetCapturedAmount": 9951.34,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-07T00:00:00+00:00",
                        "intervalEnd": "2026-03-08T00:00:00+00:00",
                        "numPaymentsCreated": 962,
                        "numPaymentsProcessed": 245,
                        "numPaymentsIncomplete": 717,
                        "numPaymentsWithRefunds": 226,
                        "numCardPresentPayments": 184,
                        "numCardNotPresentPayments": 533,
                        "totalCapturedAmount": 448895.08,
                        "totalRefundedAmount": 65370.8,
                        "totalNetCapturedAmount": 383524.28,
                        "averageNetCapturedAmount": 1565.41,
                        "minNetCapturedAmount": 57.56,
                        "maxNetCapturedAmount": 3352.01
                      },
                      {
                        "intervalStart": "2026-03-08T00:00:00+00:00",
                        "intervalEnd": "2026-03-09T00:00:00+00:00",
                        "numPaymentsCreated": 332,
                        "numPaymentsProcessed": 123,
                        "numPaymentsIncomplete": 209,
                        "numPaymentsWithRefunds": 35,
                        "numCardPresentPayments": 5,
                        "numCardNotPresentPayments": 204,
                        "totalCapturedAmount": 271114.87,
                        "totalRefundedAmount": 27203.86,
                        "totalNetCapturedAmount": 243911.01,
                        "averageNetCapturedAmount": 1983.02,
                        "minNetCapturedAmount": 47.64,
                        "maxNetCapturedAmount": 8064.46
                      },
                      {
                        "intervalStart": "2026-03-09T00:00:00+00:00",
                        "intervalEnd": "2026-03-10T00:00:00+00:00",
                        "numPaymentsCreated": 933,
                        "numPaymentsProcessed": 183,
                        "numPaymentsIncomplete": 750,
                        "numPaymentsWithRefunds": 31,
                        "numCardPresentPayments": 35,
                        "numCardNotPresentPayments": 715,
                        "totalCapturedAmount": 308872.68,
                        "totalRefundedAmount": 85410.87,
                        "totalNetCapturedAmount": 223461.81,
                        "averageNetCapturedAmount": 1221.1,
                        "minNetCapturedAmount": 98.64,
                        "maxNetCapturedAmount": 3687.25
                      },
                      {
                        "intervalStart": "2026-03-10T00:00:00+00:00",
                        "intervalEnd": "2026-03-11T00:00:00+00:00",
                        "numPaymentsCreated": 231,
                        "numPaymentsProcessed": 84,
                        "numPaymentsIncomplete": 147,
                        "numPaymentsWithRefunds": 54,
                        "numCardPresentPayments": 67,
                        "numCardNotPresentPayments": 80,
                        "totalCapturedAmount": 526883.78,
                        "totalRefundedAmount": 12516.08,
                        "totalNetCapturedAmount": 514367.7,
                        "averageNetCapturedAmount": 6123.43,
                        "minNetCapturedAmount": 11.62,
                        "maxNetCapturedAmount": 1191.67
                      },
                      {
                        "intervalStart": "2026-03-11T00:00:00+00:00",
                        "intervalEnd": "2026-03-12T00:00:00+00:00",
                        "numPaymentsCreated": 622,
                        "numPaymentsProcessed": 307,
                        "numPaymentsIncomplete": 315,
                        "numPaymentsWithRefunds": 194,
                        "numCardPresentPayments": 129,
                        "numCardNotPresentPayments": 186,
                        "totalCapturedAmount": 31664.95,
                        "totalRefundedAmount": 34.96,
                        "totalNetCapturedAmount": 31629.99,
                        "averageNetCapturedAmount": 103.03,
                        "minNetCapturedAmount": 85.96,
                        "maxNetCapturedAmount": 2576.32
                      },
                      {
                        "intervalStart": "2026-03-12T00:00:00+00:00",
                        "intervalEnd": "2026-03-13T00:00:00+00:00",
                        "numPaymentsCreated": 544,
                        "numPaymentsProcessed": 236,
                        "numPaymentsIncomplete": 308,
                        "numPaymentsWithRefunds": 197,
                        "numCardPresentPayments": 168,
                        "numCardNotPresentPayments": 140,
                        "totalCapturedAmount": 668743.15,
                        "totalRefundedAmount": 131051.6,
                        "totalNetCapturedAmount": 537691.55,
                        "averageNetCapturedAmount": 2278.35,
                        "minNetCapturedAmount": 73.49,
                        "maxNetCapturedAmount": 5506.81
                      },
                      {
                        "intervalStart": "2026-03-13T00:00:00+00:00",
                        "intervalEnd": "2026-03-14T00:00:00+00:00",
                        "numPaymentsCreated": 947,
                        "numPaymentsProcessed": 319,
                        "numPaymentsIncomplete": 628,
                        "numPaymentsWithRefunds": 45,
                        "numCardPresentPayments": 94,
                        "numCardNotPresentPayments": 534,
                        "totalCapturedAmount": 179380.02,
                        "totalRefundedAmount": 46149.08,
                        "totalNetCapturedAmount": 133230.94,
                        "averageNetCapturedAmount": 417.65,
                        "minNetCapturedAmount": 49.62,
                        "maxNetCapturedAmount": 9951.34
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-07T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-14T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 4571
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 1497
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 3074
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 782
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 682
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": 2392
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 2435554.53
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 367737.25
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 2067817.28
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 1955.9985714286
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 11.62
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 9951.34
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-07T00:00:00+00:00",
                          "intervalEnd": "2026-03-08T00:00:00+00:00",
                          "numPaymentsCreated": 962,
                          "numPaymentsProcessed": 245,
                          "numPaymentsIncomplete": 717,
                          "numPaymentsWithRefunds": 226,
                          "numCardPresentPayments": 184,
                          "numCardNotPresentPayments": 533,
                          "totalCapturedAmount": 448895.08,
                          "totalRefundedAmount": 65370.8,
                          "totalNetCapturedAmount": 383524.28,
                          "averageNetCapturedAmount": 1565.41,
                          "minNetCapturedAmount": 57.56,
                          "maxNetCapturedAmount": 3352.01
                        },
                        {
                          "intervalStart": "2026-03-08T00:00:00+00:00",
                          "intervalEnd": "2026-03-09T00:00:00+00:00",
                          "numPaymentsCreated": 332,
                          "numPaymentsProcessed": 123,
                          "numPaymentsIncomplete": 209,
                          "numPaymentsWithRefunds": 35,
                          "numCardPresentPayments": 5,
                          "numCardNotPresentPayments": 204,
                          "totalCapturedAmount": 271114.87,
                          "totalRefundedAmount": 27203.86,
                          "totalNetCapturedAmount": 243911.01,
                          "averageNetCapturedAmount": 1983.02,
                          "minNetCapturedAmount": 47.64,
                          "maxNetCapturedAmount": 8064.46
                        },
                        {
                          "intervalStart": "2026-03-09T00:00:00+00:00",
                          "intervalEnd": "2026-03-10T00:00:00+00:00",
                          "numPaymentsCreated": 933,
                          "numPaymentsProcessed": 183,
                          "numPaymentsIncomplete": 750,
                          "numPaymentsWithRefunds": 31,
                          "numCardPresentPayments": 35,
                          "numCardNotPresentPayments": 715,
                          "totalCapturedAmount": 308872.68,
                          "totalRefundedAmount": 85410.87,
                          "totalNetCapturedAmount": 223461.81,
                          "averageNetCapturedAmount": 1221.1,
                          "minNetCapturedAmount": 98.64,
                          "maxNetCapturedAmount": 3687.25
                        },
                        {
                          "intervalStart": "2026-03-10T00:00:00+00:00",
                          "intervalEnd": "2026-03-11T00:00:00+00:00",
                          "numPaymentsCreated": 231,
                          "numPaymentsProcessed": 84,
                          "numPaymentsIncomplete": 147,
                          "numPaymentsWithRefunds": 54,
                          "numCardPresentPayments": 67,
                          "numCardNotPresentPayments": 80,
                          "totalCapturedAmount": 526883.78,
                          "totalRefundedAmount": 12516.08,
                          "totalNetCapturedAmount": 514367.7,
                          "averageNetCapturedAmount": 6123.43,
                          "minNetCapturedAmount": 11.62,
                          "maxNetCapturedAmount": 1191.67
                        },
                        {
                          "intervalStart": "2026-03-11T00:00:00+00:00",
                          "intervalEnd": "2026-03-12T00:00:00+00:00",
                          "numPaymentsCreated": 622,
                          "numPaymentsProcessed": 307,
                          "numPaymentsIncomplete": 315,
                          "numPaymentsWithRefunds": 194,
                          "numCardPresentPayments": 129,
                          "numCardNotPresentPayments": 186,
                          "totalCapturedAmount": 31664.95,
                          "totalRefundedAmount": 34.96,
                          "totalNetCapturedAmount": 31629.99,
                          "averageNetCapturedAmount": 103.03,
                          "minNetCapturedAmount": 85.96,
                          "maxNetCapturedAmount": 2576.32
                        },
                        {
                          "intervalStart": "2026-03-12T00:00:00+00:00",
                          "intervalEnd": "2026-03-13T00:00:00+00:00",
                          "numPaymentsCreated": 544,
                          "numPaymentsProcessed": 236,
                          "numPaymentsIncomplete": 308,
                          "numPaymentsWithRefunds": 197,
                          "numCardPresentPayments": 168,
                          "numCardNotPresentPayments": 140,
                          "totalCapturedAmount": 668743.15,
                          "totalRefundedAmount": 131051.6,
                          "totalNetCapturedAmount": 537691.55,
                          "averageNetCapturedAmount": 2278.35,
                          "minNetCapturedAmount": 73.49,
                          "maxNetCapturedAmount": 5506.81
                        },
                        {
                          "intervalStart": "2026-03-13T00:00:00+00:00",
                          "intervalEnd": "2026-03-14T00:00:00+00:00",
                          "numPaymentsCreated": 947,
                          "numPaymentsProcessed": 319,
                          "numPaymentsIncomplete": 628,
                          "numPaymentsWithRefunds": 45,
                          "numCardPresentPayments": 94,
                          "numCardNotPresentPayments": 534,
                          "totalCapturedAmount": 179380.02,
                          "totalRefundedAmount": 46149.08,
                          "totalNetCapturedAmount": 133230.94,
                          "averageNetCapturedAmount": 417.65,
                          "minNetCapturedAmount": 49.62,
                          "maxNetCapturedAmount": 9951.34
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-07T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-08T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 962
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 245
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 717
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 226
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 184
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": 533
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 448895.08
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 65370.8
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 383524.28
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 1565.41
                          },
                          "minNetCapturedAmount": {
                            "type": "number",
                            "example": 57.56
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 3352.01
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-07T00:00:00+00:00",
                    "periodEnd": "2026-03-14T00:00:00+00:00",
                    "activeCustomers": 106,
                    "newCustomers": 237,
                    "returningCustomers": -131,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-07T00:00:00+00:00",
                        "intervalEnd": "2026-03-08T00:00:00+00:00",
                        "activeCustomers": 27,
                        "newCustomers": 8,
                        "returningCustomers": 19
                      },
                      {
                        "intervalStart": "2026-03-08T00:00:00+00:00",
                        "intervalEnd": "2026-03-09T00:00:00+00:00",
                        "activeCustomers": 76,
                        "newCustomers": 63,
                        "returningCustomers": 13
                      },
                      {
                        "intervalStart": "2026-03-09T00:00:00+00:00",
                        "intervalEnd": "2026-03-10T00:00:00+00:00",
                        "activeCustomers": 59,
                        "newCustomers": 12,
                        "returningCustomers": 47
                      },
                      {
                        "intervalStart": "2026-03-10T00:00:00+00:00",
                        "intervalEnd": "2026-03-11T00:00:00+00:00",
                        "activeCustomers": 24,
                        "newCustomers": 20,
                        "returningCustomers": 4
                      },
                      {
                        "intervalStart": "2026-03-11T00:00:00+00:00",
                        "intervalEnd": "2026-03-12T00:00:00+00:00",
                        "activeCustomers": 54,
                        "newCustomers": 37,
                        "returningCustomers": 17
                      },
                      {
                        "intervalStart": "2026-03-12T00:00:00+00:00",
                        "intervalEnd": "2026-03-13T00:00:00+00:00",
                        "activeCustomers": 78,
                        "newCustomers": 66,
                        "returningCustomers": 12
                      },
                      {
                        "intervalStart": "2026-03-13T00:00:00+00:00",
                        "intervalEnd": "2026-03-14T00:00:00+00:00",
                        "activeCustomers": 40,
                        "newCustomers": 31,
                        "returningCustomers": 9
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-07T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-14T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 106
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 237
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": -131
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-07T00:00:00+00:00",
                          "intervalEnd": "2026-03-08T00:00:00+00:00",
                          "activeCustomers": 27,
                          "newCustomers": 8,
                          "returningCustomers": 19
                        },
                        {
                          "intervalStart": "2026-03-08T00:00:00+00:00",
                          "intervalEnd": "2026-03-09T00:00:00+00:00",
                          "activeCustomers": 76,
                          "newCustomers": 63,
                          "returningCustomers": 13
                        },
                        {
                          "intervalStart": "2026-03-09T00:00:00+00:00",
                          "intervalEnd": "2026-03-10T00:00:00+00:00",
                          "activeCustomers": 59,
                          "newCustomers": 12,
                          "returningCustomers": 47
                        },
                        {
                          "intervalStart": "2026-03-10T00:00:00+00:00",
                          "intervalEnd": "2026-03-11T00:00:00+00:00",
                          "activeCustomers": 24,
                          "newCustomers": 20,
                          "returningCustomers": 4
                        },
                        {
                          "intervalStart": "2026-03-11T00:00:00+00:00",
                          "intervalEnd": "2026-03-12T00:00:00+00:00",
                          "activeCustomers": 54,
                          "newCustomers": 37,
                          "returningCustomers": 17
                        },
                        {
                          "intervalStart": "2026-03-12T00:00:00+00:00",
                          "intervalEnd": "2026-03-13T00:00:00+00:00",
                          "activeCustomers": 78,
                          "newCustomers": 66,
                          "returningCustomers": 12
                        },
                        {
                          "intervalStart": "2026-03-13T00:00:00+00:00",
                          "intervalEnd": "2026-03-14T00:00:00+00:00",
                          "activeCustomers": 40,
                          "newCustomers": 31,
                          "returningCustomers": 9
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-07T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-08T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 27
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 8
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 19
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-07T00:00:00+00:00",
                    "periodEnd": "2026-03-14T00:00:00+00:00",
                    "totalTransactions": 4398,
                    "authorizeTransactions": 324,
                    "captureTransactions": 355,
                    "payTransactions": 2085,
                    "refundTransactions": 649,
                    "verifyTransactions": 681,
                    "voidTransactions": 304,
                    "successfulTransactions": 3954,
                    "failedTransactions": 328,
                    "declinedTransactions": 91,
                    "pendingTransactions": 25,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-07T00:00:00+00:00",
                        "intervalEnd": "2026-03-08T00:00:00+00:00",
                        "totalTransactions": 806,
                        "authorizeTransactions": 53,
                        "captureTransactions": 60,
                        "payTransactions": 519,
                        "refundTransactions": 155,
                        "verifyTransactions": 8,
                        "voidTransactions": 11,
                        "successfulTransactions": 725,
                        "failedTransactions": 65,
                        "declinedTransactions": 12,
                        "pendingTransactions": 4,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-08T00:00:00+00:00",
                        "intervalEnd": "2026-03-09T00:00:00+00:00",
                        "totalTransactions": 557,
                        "authorizeTransactions": 69,
                        "captureTransactions": 70,
                        "payTransactions": 242,
                        "refundTransactions": 6,
                        "verifyTransactions": 125,
                        "voidTransactions": 45,
                        "successfulTransactions": 501,
                        "failedTransactions": 39,
                        "declinedTransactions": 14,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-09T00:00:00+00:00",
                        "intervalEnd": "2026-03-10T00:00:00+00:00",
                        "totalTransactions": 672,
                        "authorizeTransactions": 65,
                        "captureTransactions": 71,
                        "payTransactions": 105,
                        "refundTransactions": 285,
                        "verifyTransactions": 139,
                        "voidTransactions": 7,
                        "successfulTransactions": 604,
                        "failedTransactions": 49,
                        "declinedTransactions": 17,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-10T00:00:00+00:00",
                        "intervalEnd": "2026-03-11T00:00:00+00:00",
                        "totalTransactions": 772,
                        "authorizeTransactions": 42,
                        "captureTransactions": 48,
                        "payTransactions": 293,
                        "refundTransactions": 25,
                        "verifyTransactions": 221,
                        "voidTransactions": 143,
                        "successfulTransactions": 694,
                        "failedTransactions": 71,
                        "declinedTransactions": 3,
                        "pendingTransactions": 4,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-11T00:00:00+00:00",
                        "intervalEnd": "2026-03-12T00:00:00+00:00",
                        "totalTransactions": 702,
                        "authorizeTransactions": 53,
                        "captureTransactions": 56,
                        "payTransactions": 423,
                        "refundTransactions": 122,
                        "verifyTransactions": 20,
                        "voidTransactions": 28,
                        "successfulTransactions": 631,
                        "failedTransactions": 43,
                        "declinedTransactions": 22,
                        "pendingTransactions": 6,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-12T00:00:00+00:00",
                        "intervalEnd": "2026-03-13T00:00:00+00:00",
                        "totalTransactions": 277,
                        "authorizeTransactions": 19,
                        "captureTransactions": 24,
                        "payTransactions": 63,
                        "refundTransactions": 6,
                        "verifyTransactions": 151,
                        "voidTransactions": 14,
                        "successfulTransactions": 249,
                        "failedTransactions": 16,
                        "declinedTransactions": 10,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-13T00:00:00+00:00",
                        "intervalEnd": "2026-03-14T00:00:00+00:00",
                        "totalTransactions": 612,
                        "authorizeTransactions": 23,
                        "captureTransactions": 26,
                        "payTransactions": 440,
                        "refundTransactions": 50,
                        "verifyTransactions": 17,
                        "voidTransactions": 56,
                        "successfulTransactions": 550,
                        "failedTransactions": 45,
                        "declinedTransactions": 13,
                        "pendingTransactions": 4,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-07T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-14T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 4398
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 324
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 355
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 2085
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 649
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 681
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 304
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 3954
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 328
                    },
                    "declinedTransactions": {
                      "type": "integer",
                      "example": 91
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 25
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-07T00:00:00+00:00",
                          "intervalEnd": "2026-03-08T00:00:00+00:00",
                          "totalTransactions": 806,
                          "authorizeTransactions": 53,
                          "captureTransactions": 60,
                          "payTransactions": 519,
                          "refundTransactions": 155,
                          "verifyTransactions": 8,
                          "voidTransactions": 11,
                          "successfulTransactions": 725,
                          "failedTransactions": 65,
                          "declinedTransactions": 12,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-08T00:00:00+00:00",
                          "intervalEnd": "2026-03-09T00:00:00+00:00",
                          "totalTransactions": 557,
                          "authorizeTransactions": 69,
                          "captureTransactions": 70,
                          "payTransactions": 242,
                          "refundTransactions": 6,
                          "verifyTransactions": 125,
                          "voidTransactions": 45,
                          "successfulTransactions": 501,
                          "failedTransactions": 39,
                          "declinedTransactions": 14,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-09T00:00:00+00:00",
                          "intervalEnd": "2026-03-10T00:00:00+00:00",
                          "totalTransactions": 672,
                          "authorizeTransactions": 65,
                          "captureTransactions": 71,
                          "payTransactions": 105,
                          "refundTransactions": 285,
                          "verifyTransactions": 139,
                          "voidTransactions": 7,
                          "successfulTransactions": 604,
                          "failedTransactions": 49,
                          "declinedTransactions": 17,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-10T00:00:00+00:00",
                          "intervalEnd": "2026-03-11T00:00:00+00:00",
                          "totalTransactions": 772,
                          "authorizeTransactions": 42,
                          "captureTransactions": 48,
                          "payTransactions": 293,
                          "refundTransactions": 25,
                          "verifyTransactions": 221,
                          "voidTransactions": 143,
                          "successfulTransactions": 694,
                          "failedTransactions": 71,
                          "declinedTransactions": 3,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-11T00:00:00+00:00",
                          "intervalEnd": "2026-03-12T00:00:00+00:00",
                          "totalTransactions": 702,
                          "authorizeTransactions": 53,
                          "captureTransactions": 56,
                          "payTransactions": 423,
                          "refundTransactions": 122,
                          "verifyTransactions": 20,
                          "voidTransactions": 28,
                          "successfulTransactions": 631,
                          "failedTransactions": 43,
                          "declinedTransactions": 22,
                          "pendingTransactions": 6,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-12T00:00:00+00:00",
                          "intervalEnd": "2026-03-13T00:00:00+00:00",
                          "totalTransactions": 277,
                          "authorizeTransactions": 19,
                          "captureTransactions": 24,
                          "payTransactions": 63,
                          "refundTransactions": 6,
                          "verifyTransactions": 151,
                          "voidTransactions": 14,
                          "successfulTransactions": 249,
                          "failedTransactions": 16,
                          "declinedTransactions": 10,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-13T00:00:00+00:00",
                          "intervalEnd": "2026-03-14T00:00:00+00:00",
                          "totalTransactions": 612,
                          "authorizeTransactions": 23,
                          "captureTransactions": 26,
                          "payTransactions": 440,
                          "refundTransactions": 50,
                          "verifyTransactions": 17,
                          "voidTransactions": 56,
                          "successfulTransactions": 550,
                          "failedTransactions": 45,
                          "declinedTransactions": 13,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-07T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-08T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 806
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 53
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 60
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 519
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 155
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 8
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": 11
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 725
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 65
                          },
                          "declinedTransactions": {
                            "type": "integer",
                            "example": 12
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 4
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-07T00:00:00+00:00",
                    "periodEnd": "2026-03-14T00:00:00+00:00",
                    "totalSettlementAmount": 43901.52,
                    "totalFeeAmount": 2151.17448,
                    "totalNetAmount": 41750.34552,
                    "totalTransactionsPending": 161,
                    "totalTransactionsSettled": 1192,
                    "totalTransactionsSettling": 847,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-07T00:00:00+00:00",
                        "intervalEnd": "2026-03-08T00:00:00+00:00",
                        "totalSettlementAmount": 8980.88,
                        "totalFeeAmount": 440.06312,
                        "totalNetAmount": 8540.81688,
                        "totalTransactionsPending": 32,
                        "totalTransactionsSettled": 95,
                        "totalTransactionsSettling": 119
                      },
                      {
                        "intervalStart": "2026-03-08T00:00:00+00:00",
                        "intervalEnd": "2026-03-09T00:00:00+00:00",
                        "totalSettlementAmount": 5021.11,
                        "totalFeeAmount": 246.03439,
                        "totalNetAmount": 4775.07561,
                        "totalTransactionsPending": 31,
                        "totalTransactionsSettled": 327,
                        "totalTransactionsSettling": 140
                      },
                      {
                        "intervalStart": "2026-03-09T00:00:00+00:00",
                        "intervalEnd": "2026-03-10T00:00:00+00:00",
                        "totalSettlementAmount": 1687.96,
                        "totalFeeAmount": 82.71004,
                        "totalNetAmount": 1605.24996,
                        "totalTransactionsPending": 24,
                        "totalTransactionsSettled": 189,
                        "totalTransactionsSettling": 192
                      },
                      {
                        "intervalStart": "2026-03-10T00:00:00+00:00",
                        "intervalEnd": "2026-03-11T00:00:00+00:00",
                        "totalSettlementAmount": 6664.01,
                        "totalFeeAmount": 326.53649,
                        "totalNetAmount": 6337.47351,
                        "totalTransactionsPending": 13,
                        "totalTransactionsSettled": 24,
                        "totalTransactionsSettling": 66
                      },
                      {
                        "intervalStart": "2026-03-11T00:00:00+00:00",
                        "intervalEnd": "2026-03-12T00:00:00+00:00",
                        "totalSettlementAmount": 6170.5,
                        "totalFeeAmount": 302.3545,
                        "totalNetAmount": 5868.1455,
                        "totalTransactionsPending": 20,
                        "totalTransactionsSettled": 203,
                        "totalTransactionsSettling": 241
                      },
                      {
                        "intervalStart": "2026-03-12T00:00:00+00:00",
                        "intervalEnd": "2026-03-13T00:00:00+00:00",
                        "totalSettlementAmount": 7202.59,
                        "totalFeeAmount": 352.92691,
                        "totalNetAmount": 6849.66309,
                        "totalTransactionsPending": 9,
                        "totalTransactionsSettled": 200,
                        "totalTransactionsSettling": 65
                      },
                      {
                        "intervalStart": "2026-03-13T00:00:00+00:00",
                        "intervalEnd": "2026-03-14T00:00:00+00:00",
                        "totalSettlementAmount": 8174.47,
                        "totalFeeAmount": 400.54903,
                        "totalNetAmount": 7773.92097,
                        "totalTransactionsPending": 32,
                        "totalTransactionsSettled": 154,
                        "totalTransactionsSettling": 24
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-07T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-14T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 43901.52
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 2151.17448
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 41750.34552
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 161
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 1192
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 847
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-07T00:00:00+00:00",
                          "intervalEnd": "2026-03-08T00:00:00+00:00",
                          "totalSettlementAmount": 8980.88,
                          "totalFeeAmount": 440.06312,
                          "totalNetAmount": 8540.81688,
                          "totalTransactionsPending": 32,
                          "totalTransactionsSettled": 95,
                          "totalTransactionsSettling": 119
                        },
                        {
                          "intervalStart": "2026-03-08T00:00:00+00:00",
                          "intervalEnd": "2026-03-09T00:00:00+00:00",
                          "totalSettlementAmount": 5021.11,
                          "totalFeeAmount": 246.03439,
                          "totalNetAmount": 4775.07561,
                          "totalTransactionsPending": 31,
                          "totalTransactionsSettled": 327,
                          "totalTransactionsSettling": 140
                        },
                        {
                          "intervalStart": "2026-03-09T00:00:00+00:00",
                          "intervalEnd": "2026-03-10T00:00:00+00:00",
                          "totalSettlementAmount": 1687.96,
                          "totalFeeAmount": 82.71004,
                          "totalNetAmount": 1605.24996,
                          "totalTransactionsPending": 24,
                          "totalTransactionsSettled": 189,
                          "totalTransactionsSettling": 192
                        },
                        {
                          "intervalStart": "2026-03-10T00:00:00+00:00",
                          "intervalEnd": "2026-03-11T00:00:00+00:00",
                          "totalSettlementAmount": 6664.01,
                          "totalFeeAmount": 326.53649,
                          "totalNetAmount": 6337.47351,
                          "totalTransactionsPending": 13,
                          "totalTransactionsSettled": 24,
                          "totalTransactionsSettling": 66
                        },
                        {
                          "intervalStart": "2026-03-11T00:00:00+00:00",
                          "intervalEnd": "2026-03-12T00:00:00+00:00",
                          "totalSettlementAmount": 6170.5,
                          "totalFeeAmount": 302.3545,
                          "totalNetAmount": 5868.1455,
                          "totalTransactionsPending": 20,
                          "totalTransactionsSettled": 203,
                          "totalTransactionsSettling": 241
                        },
                        {
                          "intervalStart": "2026-03-12T00:00:00+00:00",
                          "intervalEnd": "2026-03-13T00:00:00+00:00",
                          "totalSettlementAmount": 7202.59,
                          "totalFeeAmount": 352.92691,
                          "totalNetAmount": 6849.66309,
                          "totalTransactionsPending": 9,
                          "totalTransactionsSettled": 200,
                          "totalTransactionsSettling": 65
                        },
                        {
                          "intervalStart": "2026-03-13T00:00:00+00:00",
                          "intervalEnd": "2026-03-14T00:00:00+00:00",
                          "totalSettlementAmount": 8174.47,
                          "totalFeeAmount": 400.54903,
                          "totalNetAmount": 7773.92097,
                          "totalTransactionsPending": 32,
                          "totalTransactionsSettled": 154,
                          "totalTransactionsSettling": 24
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-07T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-08T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 8980.88
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 440.06312
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 8540.81688
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 32
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 95
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 119
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 4,
                    "data": [
                      {
                        "email": "kertzmann.garrick@ferry.com",
                        "firstName": "Helena",
                        "lastName": "Stehr",
                        "phone": "+17343361923",
                        "dateOfBirth": "1980-12-13"
                      },
                      {
                        "email": "kelton.lynch@yahoo.com",
                        "firstName": "Emmitt",
                        "lastName": "Kris",
                        "phone": "+12547658828",
                        "dateOfBirth": "1984-10-28"
                      },
                      {
                        "email": "slubowitz@gmail.com",
                        "firstName": "Ubaldo",
                        "lastName": "Champlin",
                        "phone": "+19733786205",
                        "dateOfBirth": "2002-12-13"
                      },
                      {
                        "email": "feest.henderson@leannon.com",
                        "firstName": "Gabriel",
                        "lastName": "Mertz",
                        "phone": "+19207747373",
                        "dateOfBirth": "1999-10-04"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 4,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "kertzmann.garrick@ferry.com",
                          "firstName": "Helena",
                          "lastName": "Stehr",
                          "phone": "+17343361923",
                          "dateOfBirth": "1980-12-13"
                        },
                        {
                          "email": "kelton.lynch@yahoo.com",
                          "firstName": "Emmitt",
                          "lastName": "Kris",
                          "phone": "+12547658828",
                          "dateOfBirth": "1984-10-28"
                        },
                        {
                          "email": "slubowitz@gmail.com",
                          "firstName": "Ubaldo",
                          "lastName": "Champlin",
                          "phone": "+19733786205",
                          "dateOfBirth": "2002-12-13"
                        },
                        {
                          "email": "feest.henderson@leannon.com",
                          "firstName": "Gabriel",
                          "lastName": "Mertz",
                          "phone": "+19207747373",
                          "dateOfBirth": "1999-10-04"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "kertzmann.garrick@ferry.com"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Helena"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Stehr"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+17343361923"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "1980-12-13"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers/{customerIdOrEmail}/addresses": {
      "get": {
        "summary": "List Customer Billing Addresses",
        "operationId": "listCustomerBillingAddresses",
        "description": "Returns all unique billing addresses that have been used by a customer across their payments.\nAddresses are deduplicated using case-insensitive and whitespace-insensitive comparison.",
        "parameters": [
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
            "example": "-city",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
              "example": "-city",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of unique billing addresses for the customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "company": "Ziemann, Schimmel and Hagenes",
                        "street": "9357 Bins Inlet",
                        "city": "Mayraport",
                        "stateProvince": "MS",
                        "postcodeZip": "37701-7264",
                        "country": "USA"
                      },
                      {
                        "company": "Rolfson Ltd",
                        "street": "794 Jason Brooks",
                        "city": "East Cathrine",
                        "stateProvince": "WA",
                        "postcodeZip": "62676",
                        "country": "USA"
                      },
                      {
                        "company": "Murazik-Barrows",
                        "street": "9285 Kendall Court",
                        "city": "North Reyes",
                        "stateProvince": "VT",
                        "postcodeZip": "18323",
                        "country": "USA"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "company": "Ziemann, Schimmel and Hagenes",
                          "street": "9357 Bins Inlet",
                          "city": "Mayraport",
                          "stateProvince": "MS",
                          "postcodeZip": "37701-7264",
                          "country": "USA"
                        },
                        {
                          "company": "Rolfson Ltd",
                          "street": "794 Jason Brooks",
                          "city": "East Cathrine",
                          "stateProvince": "WA",
                          "postcodeZip": "62676",
                          "country": "USA"
                        },
                        {
                          "company": "Murazik-Barrows",
                          "street": "9285 Kendall Court",
                          "city": "North Reyes",
                          "stateProvince": "VT",
                          "postcodeZip": "18323",
                          "country": "USA"
                        }
                      ],
                      "description": "The data returned from the request",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "company": {
                            "type": "string",
                            "example": "Ziemann, Schimmel and Hagenes"
                          },
                          "street": {
                            "type": "string",
                            "example": "9357 Bins Inlet"
                          },
                          "city": {
                            "type": "string",
                            "example": "Mayraport"
                          },
                          "stateProvince": {
                            "type": "string",
                            "example": "MS"
                          },
                          "postcodeZip": {
                            "type": "string",
                            "example": "37701-7264"
                          },
                          "country": {
                            "type": "string",
                            "example": "USA"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "path",
          "name": "customerIdOrEmail",
          "description": "The customer ID, UUID, or email address",
          "example": "customer_123",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/simulated/terminals": {
      "get": {
        "summary": "Get all available simulated terminals.",
        "operationId": "getAllAvailableSimulatedTerminals",
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of available simulated terminals",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "title": "Success",
                        "description": "Approves all card present transactions successfully.",
                        "tid": "SUCCESS",
                        "readyForProcessing": true,
                        "provider": "SIMULATED",
                        "type": "CARD_PRESENT"
                      },
                      {
                        "title": "Transaction Declined",
                        "description": "Simulates a declined transaction.",
                        "tid": "TRANSACTION_DECLINED",
                        "readyForProcessing": true,
                        "provider": "SIMULATED",
                        "type": "CARD_PRESENT"
                      },
                      {
                        "title": "Card Present Timeout",
                        "description": "Simulates a card present timeout.",
                        "tid": "CARD_PRESENT_TIMEOUT",
                        "readyForProcessing": true,
[...]
