{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.78.0"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Order Templates",
      "description": ""
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payout Exports",
      "description": "Create payout exports"
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/payments/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)\n\n### Tags:\n\nFilter by user-applied tags. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)\n\n### Tags:\n\nFilter by user-applied tags. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-07-01T00:00:00+00:00",
                      "periodEnd": "2026-07-08T00:00:00+00:00",
                      "numPaymentsCreated": 2165,
                      "numPaymentsProcessed": 1170,
                      "numPaymentsIncomplete": 995,
                      "numPaymentsWithRefunds": 688,
                      "numCardPresentPayments": 464,
                      "numCardNotPresentPayments": 531,
                      "totalCapturedAmount": 2768797.09,
                      "totalRefundedAmount": 350036.97,
                      "totalNetCapturedAmount": 2418760.12,
                      "averageNetCapturedAmount": 2816.46,
                      "minNetCapturedAmount": 15.25,
                      "maxNetCapturedAmount": 8035.09,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-07-01T00:00:00+00:00",
                          "intervalEnd": "2026-07-02T00:00:00+00:00",
                          "numPaymentsCreated": 445,
                          "numPaymentsProcessed": 356,
                          "numPaymentsIncomplete": 89,
                          "numPaymentsWithRefunds": 257,
                          "numCardPresentPayments": 46,
                          "numCardNotPresentPayments": 43,
                          "totalCapturedAmount": 230094.41,
                          "totalRefundedAmount": 4632.74,
                          "totalNetCapturedAmount": 225461.67,
                          "averageNetCapturedAmount": 633.32,
                          "minNetCapturedAmount": 66.26,
                          "maxNetCapturedAmount": 4539.45
                        },
                        {
                          "intervalStart": "2026-07-02T00:00:00+00:00",
                          "intervalEnd": "2026-07-03T00:00:00+00:00",
                          "numPaymentsCreated": 367,
                          "numPaymentsProcessed": 96,
                          "numPaymentsIncomplete": 271,
                          "numPaymentsWithRefunds": 92,
                          "numCardPresentPayments": 37,
                          "numCardNotPresentPayments": 234,
                          "totalCapturedAmount": 425331.74,
                          "totalRefundedAmount": 10515.34,
                          "totalNetCapturedAmount": 414816.4,
                          "averageNetCapturedAmount": 4321,
                          "minNetCapturedAmount": 56.2,
                          "maxNetCapturedAmount": 8035.09
                        },
                        {
                          "intervalStart": "2026-07-03T00:00:00+00:00",
                          "intervalEnd": "2026-07-04T00:00:00+00:00",
                          "numPaymentsCreated": 244,
                          "numPaymentsProcessed": 164,
                          "numPaymentsIncomplete": 80,
                          "numPaymentsWithRefunds": 97,
                          "numCardPresentPayments": 59,
                          "numCardNotPresentPayments": 21,
                          "totalCapturedAmount": 244218.88,
                          "totalRefundedAmount": 33957.05,
                          "totalNetCapturedAmount": 210261.83,
                          "averageNetCapturedAmount": 1282.08,
                          "minNetCapturedAmount": 22.51,
                          "maxNetCapturedAmount": 2022.44
                        },
                        {
                          "intervalStart": "2026-07-04T00:00:00+00:00",
                          "intervalEnd": "2026-07-05T00:00:00+00:00",
                          "numPaymentsCreated": 115,
                          "numPaymentsProcessed": 59,
                          "numPaymentsIncomplete": 56,
                          "numPaymentsWithRefunds": 36,
                          "numCardPresentPayments": 56,
                          "numCardNotPresentPayments": 0,
                          "totalCapturedAmount": 381780.96,
                          "totalRefundedAmount": 62262.2,
                          "totalNetCapturedAmount": 319518.76,
                          "averageNetCapturedAmount": 5415.57,
                          "minNetCapturedAmount": 82.69,
                          "maxNetCapturedAmount": 5237.63
                        },
                        {
                          "intervalStart": "2026-07-05T00:00:00+00:00",
                          "intervalEnd": "2026-07-06T00:00:00+00:00",
                          "numPaymentsCreated": 306,
                          "numPaymentsProcessed": 100,
                          "numPaymentsIncomplete": 206,
                          "numPaymentsWithRefunds": 5,
                          "numCardPresentPayments": 89,
                          "numCardNotPresentPayments": 117,
                          "totalCapturedAmount": 351687.88,
                          "totalRefundedAmount": 95463.62,
                          "totalNetCapturedAmount": 256224.26,
                          "averageNetCapturedAmount": 2562.24,
                          "minNetCapturedAmount": 60.99,
                          "maxNetCapturedAmount": 7431.67
                        },
                        {
                          "intervalStart": "2026-07-06T00:00:00+00:00",
                          "intervalEnd": "2026-07-07T00:00:00+00:00",
                          "numPaymentsCreated": 505,
                          "numPaymentsProcessed": 230,
                          "numPaymentsIncomplete": 275,
                          "numPaymentsWithRefunds": 131,
                          "numCardPresentPayments": 123,
                          "numCardNotPresentPayments": 152,
                          "totalCapturedAmount": 384284.66,
                          "totalRefundedAmount": 84191.12,
                          "totalNetCapturedAmount": 300093.54,
                          "averageNetCapturedAmount": 1304.75,
                          "minNetCapturedAmount": 15.25,
                          "maxNetCapturedAmount": 5564.39
                        },
                        {
                          "intervalStart": "2026-07-07T00:00:00+00:00",
                          "intervalEnd": "2026-07-08T00:00:00+00:00",
                          "numPaymentsCreated": 183,
                          "numPaymentsProcessed": 165,
                          "numPaymentsIncomplete": 18,
                          "numPaymentsWithRefunds": 70,
                          "numCardPresentPayments": 54,
                          "numCardNotPresentPayments": -36,
                          "totalCapturedAmount": 751398.56,
                          "totalRefundedAmount": 59014.9,
                          "totalNetCapturedAmount": 692383.66,
                          "averageNetCapturedAmount": 4196.26,
                          "minNetCapturedAmount": 92.18,
                          "maxNetCapturedAmount": 7513.56
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-07-01T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-07-08T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "numPaymentsCreated": {
                          "type": "integer",
                          "example": 2165,
                          "description": "Total number of payment records created in the period",
                          "enum": []
                        },
                        "numPaymentsProcessed": {
                          "type": "integer",
                          "example": 1170,
                          "description": "Number of payments that have successfully had funds captured (captured amount > 0)",
                          "enum": []
                        },
                        "numPaymentsIncomplete": {
                          "type": "integer",
                          "example": 995,
                          "description": "Number of payments which have been created but funds have not been captured yet (e.g. failures, declines, authorizations, etc.)",
                          "enum": []
                        },
                        "numPaymentsWithRefunds": {
                          "type": "integer",
                          "example": 688,
                          "description": "Number of payments that have had one or more refunds (refunded amount > 0)",
                          "enum": []
                        },
                        "numCardPresentPayments": {
                          "type": "integer",
                          "example": 464,
                          "description": "Number of payments made with card present (e.g. via terminal device)",
                          "enum": []
                        },
                        "numCardNotPresentPayments": {
                          "type": "integer",
                          "example": 531,
                          "description": "Number of payments made with card not present (e.g. online payments)",
                          "enum": []
                        },
                        "totalCapturedAmount": {
                          "type": "number",
                          "example": 2768797.09,
                          "description": "Total amount captured across all payments in the period",
                          "enum": []
                        },
                        "totalRefundedAmount": {
                          "type": "number",
                          "example": 350036.97,
                          "description": "Total amount refunded across all payments in the period",
                          "enum": []
                        },
                        "totalNetCapturedAmount": {
                          "type": "number",
                          "example": 2418760.12,
                          "description": "Net captured amount (captured - refunded) across all payments in the period",
                          "enum": []
                        },
                        "averageNetCapturedAmount": {
                          "type": "number",
                          "example": 2816.46,
                          "description": "Average net captured amount per payment in the period",
                          "enum": []
                        },
                        "minNetCapturedAmount": {
                          "type": "number",
                          "example": 15.25,
                          "description": "Minimum net captured amount in the period",
                          "enum": []
                        },
                        "maxNetCapturedAmount": {
                          "type": "number",
                          "example": 8035.09,
                          "description": "Maximum net captured amount in the period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-07-01T00:00:00+00:00",
                              "intervalEnd": "2026-07-02T00:00:00+00:00",
                              "numPaymentsCreated": 445,
                              "numPaymentsProcessed": 356,
                              "numPaymentsIncomplete": 89,
                              "numPaymentsWithRefunds": 257,
                              "numCardPresentPayments": 46,
                              "numCardNotPresentPayments": 43,
                              "totalCapturedAmount": 230094.41,
                              "totalRefundedAmount": 4632.74,
                              "totalNetCapturedAmount": 225461.67,
                              "averageNetCapturedAmount": 633.32,
                              "minNetCapturedAmount": 66.26,
                              "maxNetCapturedAmount": 4539.45
                            },
                            {
                              "intervalStart": "2026-07-02T00:00:00+00:00",
                              "intervalEnd": "2026-07-03T00:00:00+00:00",
                              "numPaymentsCreated": 367,
                              "numPaymentsProcessed": 96,
                              "numPaymentsIncomplete": 271,
                              "numPaymentsWithRefunds": 92,
                              "numCardPresentPayments": 37,
                              "numCardNotPresentPayments": 234,
                              "totalCapturedAmount": 425331.74,
                              "totalRefundedAmount": 10515.34,
                              "totalNetCapturedAmount": 414816.4,
                              "averageNetCapturedAmount": 4321,
                              "minNetCapturedAmount": 56.2,
                              "maxNetCapturedAmount": 8035.09
                            },
                            {
                              "intervalStart": "2026-07-03T00:00:00+00:00",
                              "intervalEnd": "2026-07-04T00:00:00+00:00",
                              "numPaymentsCreated": 244,
                              "numPaymentsProcessed": 164,
                              "numPaymentsIncomplete": 80,
                              "numPaymentsWithRefunds": 97,
                              "numCardPresentPayments": 59,
                              "numCardNotPresentPayments": 21,
                              "totalCapturedAmount": 244218.88,
                              "totalRefundedAmount": 33957.05,
                              "totalNetCapturedAmount": 210261.83,
                              "averageNetCapturedAmount": 1282.08,
                              "minNetCapturedAmount": 22.51,
                              "maxNetCapturedAmount": 2022.44
                            },
                            {
                              "intervalStart": "2026-07-04T00:00:00+00:00",
                              "intervalEnd": "2026-07-05T00:00:00+00:00",
                              "numPaymentsCreated": 115,
                              "numPaymentsProcessed": 59,
                              "numPaymentsIncomplete": 56,
                              "numPaymentsWithRefunds": 36,
                              "numCardPresentPayments": 56,
                              "numCardNotPresentPayments": 0,
                              "totalCapturedAmount": 381780.96,
                              "totalRefundedAmount": 62262.2,
                              "totalNetCapturedAmount": 319518.76,
                              "averageNetCapturedAmount": 5415.57,
                              "minNetCapturedAmount": 82.69,
                              "maxNetCapturedAmount": 5237.63
                            },
                            {
                              "intervalStart": "2026-07-05T00:00:00+00:00",
                              "intervalEnd": "2026-07-06T00:00:00+00:00",
                              "numPaymentsCreated": 306,
                              "numPaymentsProcessed": 100,
                              "numPaymentsIncomplete": 206,
                              "numPaymentsWithRefunds": 5,
                              "numCardPresentPayments": 89,
                              "numCardNotPresentPayments": 117,
                              "totalCapturedAmount": 351687.88,
                              "totalRefundedAmount": 95463.62,
                              "totalNetCapturedAmount": 256224.26,
                              "averageNetCapturedAmount": 2562.24,
                              "minNetCapturedAmount": 60.99,
                              "maxNetCapturedAmount": 7431.67
                            },
                            {
                              "intervalStart": "2026-07-06T00:00:00+00:00",
                              "intervalEnd": "2026-07-07T00:00:00+00:00",
                              "numPaymentsCreated": 505,
                              "numPaymentsProcessed": 230,
                              "numPaymentsIncomplete": 275,
                              "numPaymentsWithRefunds": 131,
                              "numCardPresentPayments": 123,
                              "numCardNotPresentPayments": 152,
                              "totalCapturedAmount": 384284.66,
                              "totalRefundedAmount": 84191.12,
                              "totalNetCapturedAmount": 300093.54,
                              "averageNetCapturedAmount": 1304.75,
                              "minNetCapturedAmount": 15.25,
                              "maxNetCapturedAmount": 5564.39
                            },
                            {
                              "intervalStart": "2026-07-07T00:00:00+00:00",
                              "intervalEnd": "2026-07-08T00:00:00+00:00",
                              "numPaymentsCreated": 183,
                              "numPaymentsProcessed": 165,
                              "numPaymentsIncomplete": 18,
                              "numPaymentsWithRefunds": 70,
                              "numCardPresentPayments": 54,
                              "numCardNotPresentPayments": -36,
                              "totalCapturedAmount": 751398.56,
                              "totalRefundedAmount": 59014.9,
                              "totalNetCapturedAmount": 692383.66,
                              "averageNetCapturedAmount": 4196.26,
                              "minNetCapturedAmount": 92.18,
                              "maxNetCapturedAmount": 7513.56
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-07-01T00:00:00+00:00",
                                "description": "Start time of the PaymentAnalyticsData interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-07-02T00:00:00+00:00",
                                "description": "End time of the PaymentAnalyticsData interval",
                                "enum": []
                              },
                              "numPaymentsCreated": {
                                "type": "integer",
                                "example": 445,
                                "description": "Total number of payment records created in the interval",
                                "enum": []
                              },
                              "numPaymentsProcessed": {
                                "type": "integer",
                                "example": 356,
                                "description": "Number of payments that have successfully had funds captured (captured amount > 0)",
                                "enum": []
                              },
                              "numPaymentsIncomplete": {
                                "type": "integer",
                                "example": 89,
                                "description": "Number of payments which have been created but funds have not been captured yet (e.g. failures, declines, authorizations, etc.)",
                                "enum": []
                              },
                              "numPaymentsWithRefunds": {
                                "type": "integer",
                                "example": 257,
                                "description": "Number of payments that have had one or more refunds (refunded amount > 0)",
                                "enum": []
                              },
                              "numCardPresentPayments": {
                                "type": "integer",
                                "example": 46,
                                "description": "Number of payments made with card present (e.g. via terminal device)",
                                "enum": []
                              },
                              "numCardNotPresentPayments": {
                                "type": "integer",
                                "example": 43,
                                "description": "Number of payments made with card not present (e.g. online payments)",
                                "enum": []
                              },
                              "totalCapturedAmount": {
                                "type": "number",
                                "example": 230094.41,
                                "description": "Total amount captured across all payments in the interval",
                                "enum": []
                              },
                              "totalRefundedAmount": {
                                "type": "number",
                                "example": 4632.74,
                                "description": "Total amount refunded across all payments in the interval",
                                "enum": []
                              },
                              "totalNetCapturedAmount": {
                                "type": "number",
                                "example": 225461.67,
                                "description": "Net captured amount (captured - refunded) across all payments in the interval",
                                "enum": []
                              },
                              "averageNetCapturedAmount": {
                                "type": "number",
                                "example": 633.32,
                                "description": "Average net captured amount per payment in the interval",
                                "enum": []
                              },
                              "minNetCapturedAmount": {
                                "type": "number",
                                "example": 66.26,
                                "description": "Minimum net captured amount in the interval",
                                "enum": []
                              },
                              "maxNetCapturedAmount": {
                                "type": "number",
                                "example": 4539.45,
                                "description": "Maximum net captured amount in the interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/payments/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n\n### Tags:\n\nFilter by user-applied tags on the underlying payments. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n\n### Tags:\n\nFilter by user-applied tags on the underlying payments. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-07-01T00:00:00+00:00",
                      "periodEnd": "2026-07-08T00:00:00+00:00",
                      "activeCustomers": 266,
                      "newCustomers": 231,
                      "returningCustomers": 35,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-07-01T00:00:00+00:00",
                          "intervalEnd": "2026-07-02T00:00:00+00:00",
                          "activeCustomers": 82,
                          "newCustomers": 67,
                          "returningCustomers": 15
                        },
                        {
                          "intervalStart": "2026-07-02T00:00:00+00:00",
                          "intervalEnd": "2026-07-03T00:00:00+00:00",
                          "activeCustomers": 43,
                          "newCustomers": 24,
                          "returningCustomers": 19
                        },
                        {
                          "intervalStart": "2026-07-03T00:00:00+00:00",
                          "intervalEnd": "2026-07-04T00:00:00+00:00",
                          "activeCustomers": 64,
                          "newCustomers": 17,
                          "returningCustomers": 47
                        },
                        {
                          "intervalStart": "2026-07-04T00:00:00+00:00",
                          "intervalEnd": "2026-07-05T00:00:00+00:00",
                          "activeCustomers": 63,
                          "newCustomers": 49,
                          "returningCustomers": 14
                        },
                        {
                          "intervalStart": "2026-07-05T00:00:00+00:00",
                          "intervalEnd": "2026-07-06T00:00:00+00:00",
                          "activeCustomers": 42,
                          "newCustomers": 32,
                          "returningCustomers": 10
                        },
                        {
                          "intervalStart": "2026-07-06T00:00:00+00:00",
                          "intervalEnd": "2026-07-07T00:00:00+00:00",
                          "activeCustomers": 22,
                          "newCustomers": 11,
                          "returningCustomers": 11
                        },
                        {
                          "intervalStart": "2026-07-07T00:00:00+00:00",
                          "intervalEnd": "2026-07-08T00:00:00+00:00",
                          "activeCustomers": 53,
                          "newCustomers": 31,
                          "returningCustomers": 22
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-07-01T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-07-08T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "activeCustomers": {
                          "type": "integer",
                          "example": 266,
                          "description": "number of customers who are associated with at least one payment which was created in the period",
                          "enum": []
                        },
                        "newCustomers": {
                          "type": "integer",
                          "example": 231,
                          "description": "number of new customers added in the period",
                          "enum": []
                        },
                        "returningCustomers": {
                          "type": "integer",
                          "example": 35,
                          "description": "number of customers who were active in the period but were created before the period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-07-01T00:00:00+00:00",
                              "intervalEnd": "2026-07-02T00:00:00+00:00",
                              "activeCustomers": 82,
                              "newCustomers": 67,
                              "returningCustomers": 15
                            },
                            {
                              "intervalStart": "2026-07-02T00:00:00+00:00",
                              "intervalEnd": "2026-07-03T00:00:00+00:00",
                              "activeCustomers": 43,
                              "newCustomers": 24,
                              "returningCustomers": 19
                            },
                            {
                              "intervalStart": "2026-07-03T00:00:00+00:00",
                              "intervalEnd": "2026-07-04T00:00:00+00:00",
                              "activeCustomers": 64,
                              "newCustomers": 17,
                              "returningCustomers": 47
                            },
                            {
                              "intervalStart": "2026-07-04T00:00:00+00:00",
                              "intervalEnd": "2026-07-05T00:00:00+00:00",
                              "activeCustomers": 63,
                              "newCustomers": 49,
                              "returningCustomers": 14
                            },
                            {
                              "intervalStart": "2026-07-05T00:00:00+00:00",
                              "intervalEnd": "2026-07-06T00:00:00+00:00",
                              "activeCustomers": 42,
                              "newCustomers": 32,
                              "returningCustomers": 10
                            },
                            {
                              "intervalStart": "2026-07-06T00:00:00+00:00",
                              "intervalEnd": "2026-07-07T00:00:00+00:00",
                              "activeCustomers": 22,
                              "newCustomers": 11,
                              "returningCustomers": 11
                            },
                            {
                              "intervalStart": "2026-07-07T00:00:00+00:00",
                              "intervalEnd": "2026-07-08T00:00:00+00:00",
                              "activeCustomers": 53,
                              "newCustomers": 31,
                              "returningCustomers": 22
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-07-01T00:00:00+00:00",
                                "description": "Start time of the analytics calculation interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-07-02T00:00:00+00:00",
                                "description": "End time of the analytics calculation interval",
                                "enum": []
                              },
                              "activeCustomers": {
                                "type": "integer",
                                "example": 82,
                                "description": "number of customers who are associated with at least one payment which was created in the interval",
                                "enum": []
                              },
                              "newCustomers": {
                                "type": "integer",
                                "example": 67,
                                "description": "number of new customers added in the interval",
                                "enum": []
                              },
                              "returningCustomers": {
                                "type": "integer",
                                "example": 15,
                                "description": "number of customers who were active in the interval but were created before the interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/payments/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n\n### Tags:\n\nFilter by user-applied tags. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n\n### Tags:\n\nFilter by user-applied tags. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-07-01T00:00:00+00:00",
                      "periodEnd": "2026-07-08T00:00:00+00:00",
                      "totalTransactions": 3169,
                      "authorizeTransactions": 277,
                      "captureTransactions": 317,
                      "payTransactions": 1368,
                      "refundTransactions": 980,
                      "verifyTransactions": 174,
                      "voidTransactions": 53,
                      "successfulTransactions": 2849,
                      "failedTransactions": 221,
                      "declinedTransactions": 84,
                      "pendingTransactions": 15,
                      "unknownTransactions": 0,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-07-01T00:00:00+00:00",
                          "intervalEnd": "2026-07-02T00:00:00+00:00",
                          "totalTransactions": 209,
                          "authorizeTransactions": 14,
                          "captureTransactions": 24,
                          "payTransactions": 137,
                          "refundTransactions": 20,
                          "verifyTransactions": 6,
                          "voidTransactions": 8,
                          "successfulTransactions": 188,
                          "failedTransactions": 18,
                          "declinedTransactions": 1,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-07-02T00:00:00+00:00",
                          "intervalEnd": "2026-07-03T00:00:00+00:00",
                          "totalTransactions": 837,
                          "authorizeTransactions": 81,
                          "captureTransactions": 87,
                          "payTransactions": 121,
                          "refundTransactions": 499,
                          "verifyTransactions": 17,
                          "voidTransactions": 32,
                          "successfulTransactions": 753,
                          "failedTransactions": 52,
                          "declinedTransactions": 26,
                          "pendingTransactions": 6,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-07-03T00:00:00+00:00",
                          "intervalEnd": "2026-07-04T00:00:00+00:00",
                          "totalTransactions": 376,
                          "authorizeTransactions": 19,
                          "captureTransactions": 22,
                          "payTransactions": 179,
                          "refundTransactions": 116,
                          "verifyTransactions": 40,
                          "voidTransactions": 0,
                          "successfulTransactions": 338,
                          "failedTransactions": 21,
                          "declinedTransactions": 15,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-07-04T00:00:00+00:00",
                          "intervalEnd": "2026-07-05T00:00:00+00:00",
                          "totalTransactions": 572,
                          "authorizeTransactions": 30,
                          "captureTransactions": 33,
                          "payTransactions": 451,
                          "refundTransactions": 49,
                          "verifyTransactions": 6,
                          "voidTransactions": 3,
                          "successfulTransactions": 514,
                          "failedTransactions": 43,
                          "declinedTransactions": 13,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-07-05T00:00:00+00:00",
                          "intervalEnd": "2026-07-06T00:00:00+00:00",
                          "totalTransactions": 469,
                          "authorizeTransactions": 56,
                          "captureTransactions": 63,
                          "payTransactions": 249,
                          "refundTransactions": 21,
                          "verifyTransactions": 72,
                          "voidTransactions": 8,
                          "successfulTransactions": 422,
                          "failedTransactions": 29,
                          "declinedTransactions": 17,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-07-06T00:00:00+00:00",
                          "intervalEnd": "2026-07-07T00:00:00+00:00",
                          "totalTransactions": 103,
                          "authorizeTransactions": 12,
                          "captureTransactions": 18,
                          "payTransactions": 40,
                          "refundTransactions": 20,
                          "verifyTransactions": 12,
                          "voidTransactions": 1,
                          "successfulTransactions": 92,
                          "failedTransactions": 6,
                          "declinedTransactions": 4,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-07-07T00:00:00+00:00",
                          "intervalEnd": "2026-07-08T00:00:00+00:00",
                          "totalTransactions": 603,
                          "authorizeTransactions": 65,
                          "captureTransactions": 70,
                          "payTransactions": 191,
                          "refundTransactions": 255,
                          "verifyTransactions": 21,
                          "voidTransactions": 1,
                          "successfulTransactions": 542,
                          "failedTransactions": 52,
                          "declinedTransactions": 8,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-07-01T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-07-08T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "totalTransactions": {
                          "type": "integer",
                          "example": 3169,
                          "description": "Total number of transactions in the period",
                          "enum": []
                        },
                        "authorizeTransactions": {
                          "type": "integer",
                          "example": 277,
                          "description": "Number of authorize transactions in the period",
                          "enum": []
                        },
                        "captureTransactions": {
                          "type": "integer",
                          "example": 317,
                          "description": "Number of capture transactions in the period",
                          "enum": []
                        },
                        "payTransactions": {
                          "type": "integer",
                          "example": 1368,
                          "description": "Number of pay transactions in the period",
                          "enum": []
                        },
                        "refundTransactions": {
                          "type": "integer",
                          "example": 980,
                          "description": "Number of refund transactions in the period",
                          "enum": []
                        },
                        "verifyTransactions": {
                          "type": "integer",
                          "example": 174,
                          "description": "Number of verify transactions in the period",
                          "enum": []
                        },
                        "voidTransactions": {
                          "type": "integer",
                          "example": 53,
                          "description": "Number of void transactions in the period",
                          "enum": []
                        },
                        "successfulTransactions": {
                          "type": "integer",
                          "example": 2849,
                          "description": "Number of successful transactions in the period",
                          "enum": []
                        },
                        "failedTransactions": {
                          "type": "integer",
                          "example": 221,
                          "description": "Number of failed transactions in the period",
                          "enum": []
                        },
                        "declinedTransactions": {
                          "type": "integer",
                          "example": 84,
                          "description": "Number of declined transactions in the period",
                          "enum": []
                        },
                        "pendingTransactions": {
                          "type": "integer",
                          "example": 15,
                          "description": "Number of pending transactions in the period",
                          "enum": []
                        },
                        "unknownTransactions": {
                          "type": "integer",
                          "example": 0,
                          "description": "Number of transactions with unknown result in the period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-07-01T00:00:00+00:00",
                              "intervalEnd": "2026-07-02T00:00:00+00:00",
                              "totalTransactions": 209,
                              "authorizeTransactions": 14,
                              "captureTransactions": 24,
                              "payTransactions": 137,
                              "refundTransactions": 20,
                              "verifyTransactions": 6,
                              "voidTransactions": 8,
                              "successfulTransactions": 188,
                              "failedTransactions": 18,
                              "declinedTransactions": 1,
                              "pendingTransactions": 2,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-07-02T00:00:00+00:00",
                              "intervalEnd": "2026-07-03T00:00:00+00:00",
                              "totalTransactions": 837,
                              "authorizeTransactions": 81,
                              "captureTransactions": 87,
                              "payTransactions": 121,
                              "refundTransactions": 499,
                              "verifyTransactions": 17,
                              "voidTransactions": 32,
                              "successfulTransactions": 753,
                              "failedTransactions": 52,
                              "declinedTransactions": 26,
                              "pendingTransactions": 6,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-07-03T00:00:00+00:00",
                              "intervalEnd": "2026-07-04T00:00:00+00:00",
                              "totalTransactions": 376,
                              "authorizeTransactions": 19,
                              "captureTransactions": 22,
                              "payTransactions": 179,
                              "refundTransactions": 116,
                              "verifyTransactions": 40,
                              "voidTransactions": 0,
                              "successfulTransactions": 338,
                              "failedTransactions": 21,
                              "declinedTransactions": 15,
                              "pendingTransactions": 2,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-07-04T00:00:00+00:00",
                              "intervalEnd": "2026-07-05T00:00:00+00:00",
                              "totalTransactions": 572,
                              "authorizeTransactions": 30,
                              "captureTransactions": 33,
                              "payTransactions": 451,
                              "refundTransactions": 49,
                              "verifyTransactions": 6,
                              "voidTransactions": 3,
                              "successfulTransactions": 514,
                              "failedTransactions": 43,
                              "declinedTransactions": 13,
                              "pendingTransactions": 2,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-07-05T00:00:00+00:00",
                              "intervalEnd": "2026-07-06T00:00:00+00:00",
                              "totalTransactions": 469,
                              "authorizeTransactions": 56,
                              "captureTransactions": 63,
                              "payTransactions": 249,
                              "refundTransactions": 21,
                              "verifyTransactions": 72,
                              "voidTransactions": 8,
                              "successfulTransactions": 422,
                              "failedTransactions": 29,
                              "declinedTransactions": 17,
                              "pendingTransactions": 1,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-07-06T00:00:00+00:00",
                              "intervalEnd": "2026-07-07T00:00:00+00:00",
                              "totalTransactions": 103,
                              "authorizeTransactions": 12,
                              "captureTransactions": 18,
                              "payTransactions": 40,
                              "refundTransactions": 20,
                              "verifyTransactions": 12,
                              "voidTransactions": 1,
                              "successfulTransactions": 92,
                              "failedTransactions": 6,
                              "declinedTransactions": 4,
                              "pendingTransactions": 1,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-07-07T00:00:00+00:00",
                              "intervalEnd": "2026-07-08T00:00:00+00:00",
                              "totalTransactions": 603,
                              "authorizeTransactions": 65,
                              "captureTransactions": 70,
                              "payTransactions": 191,
                              "refundTransactions": 255,
                              "verifyTransactions": 21,
                              "voidTransactions": 1,
                              "successfulTransactions": 542,
                              "failedTransactions": 52,
                              "declinedTransactions": 8,
                              "pendingTransactions": 1,
                              "unknownTransactions": 0
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-07-01T00:00:00+00:00",
                                "description": "Start time of the analytics calculation interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-07-02T00:00:00+00:00",
                                "description": "End time of the analytics calculation interval",
                                "enum": []
                              },
                              "totalTransactions": {
                                "type": "integer",
                                "example": 209,
                                "description": "Total number of transactions in the interval",
                                "enum": []
                              },
                              "authorizeTransactions": {
                                "type": "integer",
                                "example": 14,
                                "description": "Number of authorize transactions in the interval",
                                "enum": []
                              },
                              "captureTransactions": {
                                "type": "integer",
                                "example": 24,
                                "description": "Number of capture transactions in the interval",
                                "enum": []
                              },
                              "payTransactions": {
                                "type": "integer",
                                "example": 137,
                                "description": "Number of pay transactions in the interval",
                                "enum": []
                              },
                              "refundTransactions": {
                                "type": "integer",
                                "example": 20,
                                "description": "Number of refund transactions in the interval",
                                "enum": []
                              },
                              "verifyTransactions": {
                                "type": "integer",
                                "example": 6,
                                "description": "Number of verify transactions in the interval",
                                "enum": []
                              },
                              "voidTransactions": {
                                "type": "integer",
                                "example": 8,
                                "description": "Number of void transactions in the interval",
                                "enum": []
                              },
                              "successfulTransactions": {
                                "type": "integer",
                                "example": 188,
                                "description": "Number of successful transactions in the interval",
                                "enum": []
                              },
                              "failedTransactions": {
                                "type": "integer",
                                "example": 18,
                                "description": "Number of failed transactions in the interval",
                                "enum": []
                              },
                              "declinedTransactions": {
                                "type": "integer",
                                "example": 1,
                                "description": "Number of declined transactions in the interval",
                                "enum": []
                              },
                              "pendingTransactions": {
                                "type": "integer",
                                "example": 2,
                                "description": "Number of pending transactions in the interval",
                                "enum": []
                              },
                              "unknownTransactions": {
                                "type": "integer",
                                "example": 0,
                                "description": "Number of transactions with unknown result in the interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/payments/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n\n### Tags:\n\nFilter by user-applied tags. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n\n### Tags:\n\nFilter by user-applied tags. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-07-01T00:00:00+00:00",
                      "periodEnd": "2026-07-08T00:00:00+00:00",
                      "totalSettlementAmount": 41309.18,
                      "totalFeeAmount": 2024.14982,
                      "totalNetAmount": 39285.03018,
                      "totalTransactionsPending": 150,
                      "totalTransactionsSettled": 968,
                      "totalTransactionsSettling": 508,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-07-01T00:00:00+00:00",
                          "intervalEnd": "2026-07-02T00:00:00+00:00",
                          "totalSettlementAmount": 8267.24,
                          "totalFeeAmount": 405.09476,
                          "totalNetAmount": 7862.14524,
                          "totalTransactionsPending": 9,
                          "totalTransactionsSettled": 250,
                          "totalTransactionsSettling": 54
                        },
                        {
                          "intervalStart": "2026-07-02T00:00:00+00:00",
                          "intervalEnd": "2026-07-03T00:00:00+00:00",
                          "totalSettlementAmount": 4406.59,
                          "totalFeeAmount": 215.92291,
                          "totalNetAmount": 4190.66709,
                          "totalTransactionsPending": 32,
                          "totalTransactionsSettled": 34,
                          "totalTransactionsSettling": 240
                        },
                        {
                          "intervalStart": "2026-07-03T00:00:00+00:00",
                          "intervalEnd": "2026-07-04T00:00:00+00:00",
                          "totalSettlementAmount": 3453.63,
                          "totalFeeAmount": 169.22787,
                          "totalNetAmount": 3284.40213,
                          "totalTransactionsPending": 7,
                          "totalTransactionsSettled": 59,
                          "totalTransactionsSettling": 70
                        },
                        {
                          "intervalStart": "2026-07-04T00:00:00+00:00",
                          "intervalEnd": "2026-07-05T00:00:00+00:00",
                          "totalSettlementAmount": 5906.78,
                          "totalFeeAmount": 289.43222,
                          "totalNetAmount": 5617.34778,
                          "totalTransactionsPending": 32,
                          "totalTransactionsSettled": 53,
                          "totalTransactionsSettling": 28
                        },
                        {
                          "intervalStart": "2026-07-05T00:00:00+00:00",
                          "intervalEnd": "2026-07-06T00:00:00+00:00",
                          "totalSettlementAmount": 6361.57,
                          "totalFeeAmount": 311.71693,
                          "totalNetAmount": 6049.85307,
                          "totalTransactionsPending": 12,
                          "totalTransactionsSettled": 247,
                          "totalTransactionsSettling": 88
                        },
                        {
                          "intervalStart": "2026-07-06T00:00:00+00:00",
                          "intervalEnd": "2026-07-07T00:00:00+00:00",
                          "totalSettlementAmount": 9590.27,
                          "totalFeeAmount": 469.92323,
                          "totalNetAmount": 9120.34677,
                          "totalTransactionsPending": 25,
                          "totalTransactionsSettled": 267,
                          "totalTransactionsSettling": 13
                        },
                        {
                          "intervalStart": "2026-07-07T00:00:00+00:00",
                          "intervalEnd": "2026-07-08T00:00:00+00:00",
                          "totalSettlementAmount": 3323.1,
                          "totalFeeAmount": 162.8319,
                          "totalNetAmount": 3160.2681,
                          "totalTransactionsPending": 33,
                          "totalTransactionsSettled": 58,
                          "totalTransactionsSettling": 15
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-07-01T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-07-08T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "totalSettlementAmount": {
                          "type": "number",
                          "example": 41309.18,
                          "description": "Total settled payout amount in this period",
                          "enum": []
                        },
                        "totalFeeAmount": {
                          "type": "number",
                          "example": 2024.14982,
                          "description": "Total amount of fees charged for the payouts in this period",
                          "enum": []
                        },
                        "totalNetAmount": {
                          "type": "number",
                          "example": 39285.03018,
                          "description": "Total net payout amount in this period",
                          "enum": []
                        },
                        "totalTransactionsPending": {
                          "type": "integer",
                          "example": 150,
                          "description": "Total number of transactions pending in this period",
                          "enum": []
                        },
                        "totalTransactionsSettled": {
                          "type": "integer",
                          "example": 968,
                          "description": "Total number of transactions settled in this period",
                          "enum": []
                        },
                        "totalTransactionsSettling": {
                          "type": "integer",
                          "example": 508,
                          "description": "Total number of transactions settling in this period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-07-01T00:00:00+00:00",
                              "intervalEnd": "2026-07-02T00:00:00+00:00",
                              "totalSettlementAmount": 8267.24,
                              "totalFeeAmount": 405.09476,
                              "totalNetAmount": 7862.14524,
                              "totalTransactionsPending": 9,
                              "totalTransactionsSettled": 250,
                              "totalTransactionsSettling": 54
                            },
                            {
                              "intervalStart": "2026-07-02T00:00:00+00:00",
                              "intervalEnd": "2026-07-03T00:00:00+00:00",
                              "totalSettlementAmount": 4406.59,
                              "totalFeeAmount": 215.92291,
                              "totalNetAmount": 4190.66709,
                              "totalTransactionsPending": 32,
                              "totalTransactionsSettled": 34,
                              "totalTransactionsSettling": 240
                            },
                            {
                              "intervalStart": "2026-07-03T00:00:00+00:00",
                              "intervalEnd": "2026-07-04T00:00:00+00:00",
                              "totalSettlementAmount": 3453.63,
                              "totalFeeAmount": 169.22787,
                              "totalNetAmount": 3284.40213,
                              "totalTransactionsPending": 7,
                              "totalTransactionsSettled": 59,
                              "totalTransactionsSettling": 70
                            },
                            {
                              "intervalStart": "2026-07-04T00:00:00+00:00",
                              "intervalEnd": "2026-07-05T00:00:00+00:00",
                              "totalSettlementAmount": 5906.78,
                              "totalFeeAmount": 289.43222,
                              "totalNetAmount": 5617.34778,
                              "totalTransactionsPending": 32,
                              "totalTransactionsSettled": 53,
                              "totalTransactionsSettling": 28
                            },
                            {
                              "intervalStart": "2026-07-05T00:00:00+00:00",
                              "intervalEnd": "2026-07-06T00:00:00+00:00",
                              "totalSettlementAmount": 6361.57,
                              "totalFeeAmount": 311.71693,
                              "totalNetAmount": 6049.85307,
                              "totalTransactionsPending": 12,
                              "totalTransactionsSettled": 247,
                              "totalTransactionsSettling": 88
                            },
                            {
                              "intervalStart": "2026-07-06T00:00:00+00:00",
                              "intervalEnd": "2026-07-07T00:00:00+00:00",
                              "totalSettlementAmount": 9590.27,
                              "totalFeeAmount": 469.92323,
                              "totalNetAmount": 9120.34677,
                              "totalTransactionsPending": 25,
                              "totalTransactionsSettled": 267,
                              "totalTransactionsSettling": 13
                            },
                            {
                              "intervalStart": "2026-07-07T00:00:00+00:00",
                              "intervalEnd": "2026-07-08T00:00:00+00:00",
                              "totalSettlementAmount": 3323.1,
                              "totalFeeAmount": 162.8319,
                              "totalNetAmount": 3160.2681,
                              "totalTransactionsPending": 33,
                              "totalTransactionsSettled": 58,
                              "totalTransactionsSettling": 15
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-07-01T00:00:00+00:00",
                                "description": "Start time of the analytics calculation interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-07-02T00:00:00+00:00",
                                "description": "End time of the analytics calculation interval",
                                "enum": []
                              },
                              "totalSettlementAmount": {
                                "type": "number",
                                "example": 8267.24,
                                "description": "Total settled payout amount in this interval",
                                "enum": []
                              },
                              "totalFeeAmount": {
                                "type": "number",
                                "example": 405.09476,
                                "description": "Total amount of fees charged for the payouts in this interval",
                                "enum": []
                              },
                              "totalNetAmount": {
                                "type": "number",
                                "example": 7862.14524,
                                "description": "Total net payout amount in this interval",
                                "enum": []
                              },
                              "totalTransactionsPending": {
                                "type": "integer",
                                "example": 9,
                                "description": "Total number of transactions pending in this interval",
                                "enum": []
                              },
                              "totalTransactionsSettled": {
                                "type": "integer",
                                "example": 250,
[...]
