{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.63.1"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payout Exports",
      "description": "Create payout exports"
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-10T00:00:00+00:00",
                    "periodEnd": "2026-04-17T00:00:00+00:00",
                    "numPaymentsCreated": 3653,
                    "numPaymentsProcessed": 2434,
                    "numPaymentsIncomplete": 1219,
                    "numPaymentsWithRefunds": 1260,
                    "numCardPresentPayments": 1062,
                    "numCardNotPresentPayments": 157,
                    "totalCapturedAmount": 3338487.6,
                    "totalRefundedAmount": 374550.01,
                    "totalNetCapturedAmount": 2963937.59,
                    "averageNetCapturedAmount": 2203.6214285714,
                    "minNetCapturedAmount": 16.66,
                    "maxNetCapturedAmount": 8499.23,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-10T00:00:00+00:00",
                        "intervalEnd": "2026-04-11T00:00:00+00:00",
                        "numPaymentsCreated": 207,
                        "numPaymentsProcessed": 88,
                        "numPaymentsIncomplete": 119,
                        "numPaymentsWithRefunds": 26,
                        "numCardPresentPayments": 79,
                        "numCardNotPresentPayments": 40,
                        "totalCapturedAmount": 381156.38,
                        "totalRefundedAmount": 27261.63,
                        "totalNetCapturedAmount": 353894.75,
                        "averageNetCapturedAmount": 4021.53,
                        "minNetCapturedAmount": 16.66,
                        "maxNetCapturedAmount": 1451.97
                      },
                      {
                        "intervalStart": "2026-04-11T00:00:00+00:00",
                        "intervalEnd": "2026-04-12T00:00:00+00:00",
                        "numPaymentsCreated": 456,
                        "numPaymentsProcessed": 380,
                        "numPaymentsIncomplete": 76,
                        "numPaymentsWithRefunds": 3,
                        "numCardPresentPayments": 16,
                        "numCardNotPresentPayments": 60,
                        "totalCapturedAmount": 545004.75,
                        "totalRefundedAmount": 2680.5,
                        "totalNetCapturedAmount": 542324.25,
                        "averageNetCapturedAmount": 1427.17,
                        "minNetCapturedAmount": 47.12,
                        "maxNetCapturedAmount": 3508.34
                      },
                      {
                        "intervalStart": "2026-04-12T00:00:00+00:00",
                        "intervalEnd": "2026-04-13T00:00:00+00:00",
                        "numPaymentsCreated": 510,
                        "numPaymentsProcessed": 508,
                        "numPaymentsIncomplete": 2,
                        "numPaymentsWithRefunds": 137,
                        "numCardPresentPayments": 170,
                        "numCardNotPresentPayments": -168,
                        "totalCapturedAmount": 342712.04,
                        "totalRefundedAmount": 61013.96,
                        "totalNetCapturedAmount": 281698.08,
                        "averageNetCapturedAmount": 554.52,
                        "minNetCapturedAmount": 19.61,
                        "maxNetCapturedAmount": 4697.68
                      },
                      {
                        "intervalStart": "2026-04-13T00:00:00+00:00",
                        "intervalEnd": "2026-04-14T00:00:00+00:00",
                        "numPaymentsCreated": 222,
                        "numPaymentsProcessed": 174,
                        "numPaymentsIncomplete": 48,
                        "numPaymentsWithRefunds": 54,
                        "numCardPresentPayments": 133,
                        "numCardNotPresentPayments": -85,
                        "totalCapturedAmount": 344886.49,
                        "totalRefundedAmount": 31597.91,
                        "totalNetCapturedAmount": 313288.58,
                        "averageNetCapturedAmount": 1800.51,
                        "minNetCapturedAmount": 84.75,
                        "maxNetCapturedAmount": 2344.86
                      },
                      {
                        "intervalStart": "2026-04-14T00:00:00+00:00",
                        "intervalEnd": "2026-04-15T00:00:00+00:00",
                        "numPaymentsCreated": 309,
                        "numPaymentsProcessed": 86,
                        "numPaymentsIncomplete": 223,
                        "numPaymentsWithRefunds": 26,
                        "numCardPresentPayments": 83,
                        "numCardNotPresentPayments": 140,
                        "totalCapturedAmount": 626006.23,
                        "totalRefundedAmount": 93617.52,
                        "totalNetCapturedAmount": 532388.71,
                        "averageNetCapturedAmount": 6190.57,
                        "minNetCapturedAmount": 45.92,
                        "maxNetCapturedAmount": 6248.33
                      },
                      {
                        "intervalStart": "2026-04-15T00:00:00+00:00",
                        "intervalEnd": "2026-04-16T00:00:00+00:00",
                        "numPaymentsCreated": 961,
                        "numPaymentsProcessed": 690,
                        "numPaymentsIncomplete": 271,
                        "numPaymentsWithRefunds": 614,
                        "numCardPresentPayments": 540,
                        "numCardNotPresentPayments": -269,
                        "totalCapturedAmount": 958985.68,
                        "totalRefundedAmount": 150058.17,
                        "totalNetCapturedAmount": 808927.51,
                        "averageNetCapturedAmount": 1172.36,
                        "minNetCapturedAmount": 86.93,
                        "maxNetCapturedAmount": 4279.71
                      },
                      {
                        "intervalStart": "2026-04-16T00:00:00+00:00",
                        "intervalEnd": "2026-04-17T00:00:00+00:00",
                        "numPaymentsCreated": 988,
                        "numPaymentsProcessed": 508,
                        "numPaymentsIncomplete": 480,
                        "numPaymentsWithRefunds": 400,
                        "numCardPresentPayments": 41,
                        "numCardNotPresentPayments": 439,
                        "totalCapturedAmount": 139736.03,
                        "totalRefundedAmount": 8320.32,
                        "totalNetCapturedAmount": 131415.71,
                        "averageNetCapturedAmount": 258.69,
                        "minNetCapturedAmount": 28.09,
                        "maxNetCapturedAmount": 8499.23
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-10T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-17T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 3653
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 2434
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 1219
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 1260
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 1062
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": 157
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 3338487.6
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 374550.01
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 2963937.59
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 2203.6214285714
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 16.66
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 8499.23
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-10T00:00:00+00:00",
                          "intervalEnd": "2026-04-11T00:00:00+00:00",
                          "numPaymentsCreated": 207,
                          "numPaymentsProcessed": 88,
                          "numPaymentsIncomplete": 119,
                          "numPaymentsWithRefunds": 26,
                          "numCardPresentPayments": 79,
                          "numCardNotPresentPayments": 40,
                          "totalCapturedAmount": 381156.38,
                          "totalRefundedAmount": 27261.63,
                          "totalNetCapturedAmount": 353894.75,
                          "averageNetCapturedAmount": 4021.53,
                          "minNetCapturedAmount": 16.66,
                          "maxNetCapturedAmount": 1451.97
                        },
                        {
                          "intervalStart": "2026-04-11T00:00:00+00:00",
                          "intervalEnd": "2026-04-12T00:00:00+00:00",
                          "numPaymentsCreated": 456,
                          "numPaymentsProcessed": 380,
                          "numPaymentsIncomplete": 76,
                          "numPaymentsWithRefunds": 3,
                          "numCardPresentPayments": 16,
                          "numCardNotPresentPayments": 60,
                          "totalCapturedAmount": 545004.75,
                          "totalRefundedAmount": 2680.5,
                          "totalNetCapturedAmount": 542324.25,
                          "averageNetCapturedAmount": 1427.17,
                          "minNetCapturedAmount": 47.12,
                          "maxNetCapturedAmount": 3508.34
                        },
                        {
                          "intervalStart": "2026-04-12T00:00:00+00:00",
                          "intervalEnd": "2026-04-13T00:00:00+00:00",
                          "numPaymentsCreated": 510,
                          "numPaymentsProcessed": 508,
                          "numPaymentsIncomplete": 2,
                          "numPaymentsWithRefunds": 137,
                          "numCardPresentPayments": 170,
                          "numCardNotPresentPayments": -168,
                          "totalCapturedAmount": 342712.04,
                          "totalRefundedAmount": 61013.96,
                          "totalNetCapturedAmount": 281698.08,
                          "averageNetCapturedAmount": 554.52,
                          "minNetCapturedAmount": 19.61,
                          "maxNetCapturedAmount": 4697.68
                        },
                        {
                          "intervalStart": "2026-04-13T00:00:00+00:00",
                          "intervalEnd": "2026-04-14T00:00:00+00:00",
                          "numPaymentsCreated": 222,
                          "numPaymentsProcessed": 174,
                          "numPaymentsIncomplete": 48,
                          "numPaymentsWithRefunds": 54,
                          "numCardPresentPayments": 133,
                          "numCardNotPresentPayments": -85,
                          "totalCapturedAmount": 344886.49,
                          "totalRefundedAmount": 31597.91,
                          "totalNetCapturedAmount": 313288.58,
                          "averageNetCapturedAmount": 1800.51,
                          "minNetCapturedAmount": 84.75,
                          "maxNetCapturedAmount": 2344.86
                        },
                        {
                          "intervalStart": "2026-04-14T00:00:00+00:00",
                          "intervalEnd": "2026-04-15T00:00:00+00:00",
                          "numPaymentsCreated": 309,
                          "numPaymentsProcessed": 86,
                          "numPaymentsIncomplete": 223,
                          "numPaymentsWithRefunds": 26,
                          "numCardPresentPayments": 83,
                          "numCardNotPresentPayments": 140,
                          "totalCapturedAmount": 626006.23,
                          "totalRefundedAmount": 93617.52,
                          "totalNetCapturedAmount": 532388.71,
                          "averageNetCapturedAmount": 6190.57,
                          "minNetCapturedAmount": 45.92,
                          "maxNetCapturedAmount": 6248.33
                        },
                        {
                          "intervalStart": "2026-04-15T00:00:00+00:00",
                          "intervalEnd": "2026-04-16T00:00:00+00:00",
                          "numPaymentsCreated": 961,
                          "numPaymentsProcessed": 690,
                          "numPaymentsIncomplete": 271,
                          "numPaymentsWithRefunds": 614,
                          "numCardPresentPayments": 540,
                          "numCardNotPresentPayments": -269,
                          "totalCapturedAmount": 958985.68,
                          "totalRefundedAmount": 150058.17,
                          "totalNetCapturedAmount": 808927.51,
                          "averageNetCapturedAmount": 1172.36,
                          "minNetCapturedAmount": 86.93,
                          "maxNetCapturedAmount": 4279.71
                        },
                        {
                          "intervalStart": "2026-04-16T00:00:00+00:00",
                          "intervalEnd": "2026-04-17T00:00:00+00:00",
                          "numPaymentsCreated": 988,
                          "numPaymentsProcessed": 508,
                          "numPaymentsIncomplete": 480,
                          "numPaymentsWithRefunds": 400,
                          "numCardPresentPayments": 41,
                          "numCardNotPresentPayments": 439,
                          "totalCapturedAmount": 139736.03,
                          "totalRefundedAmount": 8320.32,
                          "totalNetCapturedAmount": 131415.71,
                          "averageNetCapturedAmount": 258.69,
                          "minNetCapturedAmount": 28.09,
                          "maxNetCapturedAmount": 8499.23
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-10T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-11T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 207
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 88
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 119
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 26
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 79
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": 40
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 381156.38
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 27261.63
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 353894.75
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 4021.53
                          },
                          "minNetCapturedAmount": {
                            "type": "number",
                            "example": 16.66
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 1451.97
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-10T00:00:00+00:00",
                    "periodEnd": "2026-04-17T00:00:00+00:00",
                    "activeCustomers": 118,
                    "newCustomers": 164,
                    "returningCustomers": -46,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-10T00:00:00+00:00",
                        "intervalEnd": "2026-04-11T00:00:00+00:00",
                        "activeCustomers": 46,
                        "newCustomers": 15,
                        "returningCustomers": 31
                      },
                      {
                        "intervalStart": "2026-04-11T00:00:00+00:00",
                        "intervalEnd": "2026-04-12T00:00:00+00:00",
                        "activeCustomers": 44,
                        "newCustomers": 41,
                        "returningCustomers": 3
                      },
                      {
                        "intervalStart": "2026-04-12T00:00:00+00:00",
                        "intervalEnd": "2026-04-13T00:00:00+00:00",
                        "activeCustomers": 81,
                        "newCustomers": 13,
                        "returningCustomers": 68
                      },
                      {
                        "intervalStart": "2026-04-13T00:00:00+00:00",
                        "intervalEnd": "2026-04-14T00:00:00+00:00",
                        "activeCustomers": 56,
                        "newCustomers": 40,
                        "returningCustomers": 16
                      },
                      {
                        "intervalStart": "2026-04-14T00:00:00+00:00",
                        "intervalEnd": "2026-04-15T00:00:00+00:00",
                        "activeCustomers": 83,
                        "newCustomers": 33,
                        "returningCustomers": 50
                      },
                      {
                        "intervalStart": "2026-04-15T00:00:00+00:00",
                        "intervalEnd": "2026-04-16T00:00:00+00:00",
                        "activeCustomers": 15,
                        "newCustomers": 5,
                        "returningCustomers": 10
                      },
                      {
                        "intervalStart": "2026-04-16T00:00:00+00:00",
                        "intervalEnd": "2026-04-17T00:00:00+00:00",
                        "activeCustomers": 43,
                        "newCustomers": 17,
                        "returningCustomers": 26
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-10T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-17T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 118
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 164
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": -46
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-10T00:00:00+00:00",
                          "intervalEnd": "2026-04-11T00:00:00+00:00",
                          "activeCustomers": 46,
                          "newCustomers": 15,
                          "returningCustomers": 31
                        },
                        {
                          "intervalStart": "2026-04-11T00:00:00+00:00",
                          "intervalEnd": "2026-04-12T00:00:00+00:00",
                          "activeCustomers": 44,
                          "newCustomers": 41,
                          "returningCustomers": 3
                        },
                        {
                          "intervalStart": "2026-04-12T00:00:00+00:00",
                          "intervalEnd": "2026-04-13T00:00:00+00:00",
                          "activeCustomers": 81,
                          "newCustomers": 13,
                          "returningCustomers": 68
                        },
                        {
                          "intervalStart": "2026-04-13T00:00:00+00:00",
                          "intervalEnd": "2026-04-14T00:00:00+00:00",
                          "activeCustomers": 56,
                          "newCustomers": 40,
                          "returningCustomers": 16
                        },
                        {
                          "intervalStart": "2026-04-14T00:00:00+00:00",
                          "intervalEnd": "2026-04-15T00:00:00+00:00",
                          "activeCustomers": 83,
                          "newCustomers": 33,
                          "returningCustomers": 50
                        },
                        {
                          "intervalStart": "2026-04-15T00:00:00+00:00",
                          "intervalEnd": "2026-04-16T00:00:00+00:00",
                          "activeCustomers": 15,
                          "newCustomers": 5,
                          "returningCustomers": 10
                        },
                        {
                          "intervalStart": "2026-04-16T00:00:00+00:00",
                          "intervalEnd": "2026-04-17T00:00:00+00:00",
                          "activeCustomers": 43,
                          "newCustomers": 17,
                          "returningCustomers": 26
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-10T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-11T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 46
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 15
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 31
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-10T00:00:00+00:00",
                    "periodEnd": "2026-04-17T00:00:00+00:00",
                    "totalTransactions": 2886,
                    "authorizeTransactions": 288,
                    "captureTransactions": 325,
                    "payTransactions": 1122,
                    "refundTransactions": 556,
                    "verifyTransactions": 367,
                    "voidTransactions": 228,
                    "successfulTransactions": 2594,
                    "failedTransactions": 221,
                    "declinedTransactions": 53,
                    "pendingTransactions": 18,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-10T00:00:00+00:00",
                        "intervalEnd": "2026-04-11T00:00:00+00:00",
                        "totalTransactions": 125,
                        "authorizeTransactions": 15,
                        "captureTransactions": 17,
                        "payTransactions": 22,
                        "refundTransactions": 66,
                        "verifyTransactions": 5,
                        "voidTransactions": 0,
                        "successfulTransactions": 112,
                        "failedTransactions": 10,
                        "declinedTransactions": 2,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-11T00:00:00+00:00",
                        "intervalEnd": "2026-04-12T00:00:00+00:00",
                        "totalTransactions": 323,
                        "authorizeTransactions": 40,
                        "captureTransactions": 47,
                        "payTransactions": 219,
                        "refundTransactions": 5,
                        "verifyTransactions": 8,
                        "voidTransactions": 4,
                        "successfulTransactions": 290,
                        "failedTransactions": 27,
                        "declinedTransactions": 3,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-12T00:00:00+00:00",
                        "intervalEnd": "2026-04-13T00:00:00+00:00",
                        "totalTransactions": 375,
                        "authorizeTransactions": 43,
                        "captureTransactions": 52,
                        "payTransactions": 83,
                        "refundTransactions": 138,
                        "verifyTransactions": 19,
                        "voidTransactions": 40,
                        "successfulTransactions": 337,
                        "failedTransactions": 26,
                        "declinedTransactions": 9,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-13T00:00:00+00:00",
                        "intervalEnd": "2026-04-14T00:00:00+00:00",
                        "totalTransactions": 480,
                        "authorizeTransactions": 51,
                        "captureTransactions": 59,
                        "payTransactions": 353,
                        "refundTransactions": 17,
                        "verifyTransactions": 5,
                        "voidTransactions": -5,
                        "successfulTransactions": 432,
                        "failedTransactions": 30,
                        "declinedTransactions": 15,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-14T00:00:00+00:00",
                        "intervalEnd": "2026-04-15T00:00:00+00:00",
                        "totalTransactions": 686,
                        "authorizeTransactions": 44,
                        "captureTransactions": 46,
                        "payTransactions": 64,
                        "refundTransactions": 51,
                        "verifyTransactions": 306,
                        "voidTransactions": 175,
                        "successfulTransactions": 617,
                        "failedTransactions": 58,
                        "declinedTransactions": 9,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-15T00:00:00+00:00",
                        "intervalEnd": "2026-04-16T00:00:00+00:00",
                        "totalTransactions": 712,
                        "authorizeTransactions": 77,
                        "captureTransactions": 79,
                        "payTransactions": 296,
                        "refundTransactions": 248,
                        "verifyTransactions": 8,
                        "voidTransactions": 4,
                        "successfulTransactions": 640,
                        "failedTransactions": 56,
                        "declinedTransactions": 11,
                        "pendingTransactions": 5,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-16T00:00:00+00:00",
                        "intervalEnd": "2026-04-17T00:00:00+00:00",
                        "totalTransactions": 185,
                        "authorizeTransactions": 18,
                        "captureTransactions": 25,
                        "payTransactions": 85,
                        "refundTransactions": 31,
                        "verifyTransactions": 16,
                        "voidTransactions": 10,
                        "successfulTransactions": 166,
                        "failedTransactions": 14,
                        "declinedTransactions": 4,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-10T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-17T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 2886
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 288
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 325
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 1122
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 556
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 367
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 228
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 2594
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 221
                    },
                    "declinedTransactions": {
                      "type": "integer",
                      "example": 53
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 18
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-10T00:00:00+00:00",
                          "intervalEnd": "2026-04-11T00:00:00+00:00",
                          "totalTransactions": 125,
                          "authorizeTransactions": 15,
                          "captureTransactions": 17,
                          "payTransactions": 22,
                          "refundTransactions": 66,
                          "verifyTransactions": 5,
                          "voidTransactions": 0,
                          "successfulTransactions": 112,
                          "failedTransactions": 10,
                          "declinedTransactions": 2,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-11T00:00:00+00:00",
                          "intervalEnd": "2026-04-12T00:00:00+00:00",
                          "totalTransactions": 323,
                          "authorizeTransactions": 40,
                          "captureTransactions": 47,
                          "payTransactions": 219,
                          "refundTransactions": 5,
                          "verifyTransactions": 8,
                          "voidTransactions": 4,
                          "successfulTransactions": 290,
                          "failedTransactions": 27,
                          "declinedTransactions": 3,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-12T00:00:00+00:00",
                          "intervalEnd": "2026-04-13T00:00:00+00:00",
                          "totalTransactions": 375,
                          "authorizeTransactions": 43,
                          "captureTransactions": 52,
                          "payTransactions": 83,
                          "refundTransactions": 138,
                          "verifyTransactions": 19,
                          "voidTransactions": 40,
                          "successfulTransactions": 337,
                          "failedTransactions": 26,
                          "declinedTransactions": 9,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-13T00:00:00+00:00",
                          "intervalEnd": "2026-04-14T00:00:00+00:00",
                          "totalTransactions": 480,
                          "authorizeTransactions": 51,
                          "captureTransactions": 59,
                          "payTransactions": 353,
                          "refundTransactions": 17,
                          "verifyTransactions": 5,
                          "voidTransactions": -5,
                          "successfulTransactions": 432,
                          "failedTransactions": 30,
                          "declinedTransactions": 15,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-14T00:00:00+00:00",
                          "intervalEnd": "2026-04-15T00:00:00+00:00",
                          "totalTransactions": 686,
                          "authorizeTransactions": 44,
                          "captureTransactions": 46,
                          "payTransactions": 64,
                          "refundTransactions": 51,
                          "verifyTransactions": 306,
                          "voidTransactions": 175,
                          "successfulTransactions": 617,
                          "failedTransactions": 58,
                          "declinedTransactions": 9,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-15T00:00:00+00:00",
                          "intervalEnd": "2026-04-16T00:00:00+00:00",
                          "totalTransactions": 712,
                          "authorizeTransactions": 77,
                          "captureTransactions": 79,
                          "payTransactions": 296,
                          "refundTransactions": 248,
                          "verifyTransactions": 8,
                          "voidTransactions": 4,
                          "successfulTransactions": 640,
                          "failedTransactions": 56,
                          "declinedTransactions": 11,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-16T00:00:00+00:00",
                          "intervalEnd": "2026-04-17T00:00:00+00:00",
                          "totalTransactions": 185,
                          "authorizeTransactions": 18,
                          "captureTransactions": 25,
                          "payTransactions": 85,
                          "refundTransactions": 31,
                          "verifyTransactions": 16,
                          "voidTransactions": 10,
                          "successfulTransactions": 166,
                          "failedTransactions": 14,
                          "declinedTransactions": 4,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-10T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-11T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 125
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 15
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 17
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 22
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 66
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 5
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": 0
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 112
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 10
                          },
                          "declinedTransactions": {
                            "type": "integer",
                            "example": 2
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 1
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-10T00:00:00+00:00",
                    "periodEnd": "2026-04-17T00:00:00+00:00",
                    "totalSettlementAmount": 26523.8,
                    "totalFeeAmount": 1299.6662,
                    "totalNetAmount": 25224.1338,
                    "totalTransactionsPending": 160,
                    "totalTransactionsSettled": 691,
                    "totalTransactionsSettling": 997,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-10T00:00:00+00:00",
                        "intervalEnd": "2026-04-11T00:00:00+00:00",
                        "totalSettlementAmount": 6389.44,
                        "totalFeeAmount": 313.08256,
                        "totalNetAmount": 6076.35744,
                        "totalTransactionsPending": 10,
                        "totalTransactionsSettled": 30,
                        "totalTransactionsSettling": 88
                      },
                      {
                        "intervalStart": "2026-04-11T00:00:00+00:00",
                        "intervalEnd": "2026-04-12T00:00:00+00:00",
                        "totalSettlementAmount": 3415.57,
                        "totalFeeAmount": 167.36293,
                        "totalNetAmount": 3248.20707,
                        "totalTransactionsPending": 21,
                        "totalTransactionsSettled": 72,
                        "totalTransactionsSettling": 288
                      },
                      {
                        "intervalStart": "2026-04-12T00:00:00+00:00",
                        "intervalEnd": "2026-04-13T00:00:00+00:00",
                        "totalSettlementAmount": 1958.8,
                        "totalFeeAmount": 95.9812,
                        "totalNetAmount": 1862.8188,
                        "totalTransactionsPending": 34,
                        "totalTransactionsSettled": 108,
                        "totalTransactionsSettling": 194
                      },
                      {
                        "intervalStart": "2026-04-13T00:00:00+00:00",
                        "intervalEnd": "2026-04-14T00:00:00+00:00",
                        "totalSettlementAmount": 3677.06,
                        "totalFeeAmount": 180.17594,
                        "totalNetAmount": 3496.88406,
                        "totalTransactionsPending": 6,
                        "totalTransactionsSettled": 209,
                        "totalTransactionsSettling": 16
                      },
                      {
                        "intervalStart": "2026-04-14T00:00:00+00:00",
                        "intervalEnd": "2026-04-15T00:00:00+00:00",
                        "totalSettlementAmount": 2043.41,
                        "totalFeeAmount": 100.12709,
                        "totalNetAmount": 1943.28291,
                        "totalTransactionsPending": 32,
                        "totalTransactionsSettled": 117,
                        "totalTransactionsSettling": 255
                      },
                      {
                        "intervalStart": "2026-04-15T00:00:00+00:00",
                        "intervalEnd": "2026-04-16T00:00:00+00:00",
                        "totalSettlementAmount": 5838.3,
                        "totalFeeAmount": 286.0767,
                        "totalNetAmount": 5552.2233,
                        "totalTransactionsPending": 24,
                        "totalTransactionsSettled": 129,
                        "totalTransactionsSettling": 65
                      },
                      {
                        "intervalStart": "2026-04-16T00:00:00+00:00",
                        "intervalEnd": "2026-04-17T00:00:00+00:00",
                        "totalSettlementAmount": 3201.22,
                        "totalFeeAmount": 156.85978,
                        "totalNetAmount": 3044.36022,
                        "totalTransactionsPending": 33,
                        "totalTransactionsSettled": 26,
                        "totalTransactionsSettling": 91
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-10T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-17T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 26523.8
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 1299.6662
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 25224.1338
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 160
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 691
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 997
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-10T00:00:00+00:00",
                          "intervalEnd": "2026-04-11T00:00:00+00:00",
                          "totalSettlementAmount": 6389.44,
                          "totalFeeAmount": 313.08256,
                          "totalNetAmount": 6076.35744,
                          "totalTransactionsPending": 10,
                          "totalTransactionsSettled": 30,
                          "totalTransactionsSettling": 88
                        },
                        {
                          "intervalStart": "2026-04-11T00:00:00+00:00",
                          "intervalEnd": "2026-04-12T00:00:00+00:00",
                          "totalSettlementAmount": 3415.57,
                          "totalFeeAmount": 167.36293,
                          "totalNetAmount": 3248.20707,
                          "totalTransactionsPending": 21,
                          "totalTransactionsSettled": 72,
                          "totalTransactionsSettling": 288
                        },
                        {
                          "intervalStart": "2026-04-12T00:00:00+00:00",
                          "intervalEnd": "2026-04-13T00:00:00+00:00",
                          "totalSettlementAmount": 1958.8,
                          "totalFeeAmount": 95.9812,
                          "totalNetAmount": 1862.8188,
                          "totalTransactionsPending": 34,
                          "totalTransactionsSettled": 108,
                          "totalTransactionsSettling": 194
                        },
                        {
                          "intervalStart": "2026-04-13T00:00:00+00:00",
                          "intervalEnd": "2026-04-14T00:00:00+00:00",
                          "totalSettlementAmount": 3677.06,
                          "totalFeeAmount": 180.17594,
                          "totalNetAmount": 3496.88406,
                          "totalTransactionsPending": 6,
                          "totalTransactionsSettled": 209,
                          "totalTransactionsSettling": 16
                        },
                        {
                          "intervalStart": "2026-04-14T00:00:00+00:00",
                          "intervalEnd": "2026-04-15T00:00:00+00:00",
                          "totalSettlementAmount": 2043.41,
                          "totalFeeAmount": 100.12709,
                          "totalNetAmount": 1943.28291,
                          "totalTransactionsPending": 32,
                          "totalTransactionsSettled": 117,
                          "totalTransactionsSettling": 255
                        },
                        {
                          "intervalStart": "2026-04-15T00:00:00+00:00",
                          "intervalEnd": "2026-04-16T00:00:00+00:00",
                          "totalSettlementAmount": 5838.3,
                          "totalFeeAmount": 286.0767,
                          "totalNetAmount": 5552.2233,
                          "totalTransactionsPending": 24,
                          "totalTransactionsSettled": 129,
                          "totalTransactionsSettling": 65
                        },
                        {
                          "intervalStart": "2026-04-16T00:00:00+00:00",
                          "intervalEnd": "2026-04-17T00:00:00+00:00",
                          "totalSettlementAmount": 3201.22,
                          "totalFeeAmount": 156.85978,
                          "totalNetAmount": 3044.36022,
                          "totalTransactionsPending": 33,
                          "totalTransactionsSettled": 26,
                          "totalTransactionsSettling": 91
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-10T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-11T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 6389.44
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 313.08256
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 6076.35744
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 10
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 30
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 88
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 9,
                    "data": [
                      {
                        "email": "weimann.estrella@gmail.com",
                        "firstName": "Bradly",
                        "lastName": "Kirlin",
                        "phone": "+18709954829",
                        "dateOfBirth": "1970-10-15"
                      },
                      {
                        "email": "mathew.ward@oberbrunner.com",
                        "firstName": "Gerda",
                        "lastName": "Donnelly",
                        "phone": "+12078126105",
                        "dateOfBirth": "1974-11-15"
                      },
                      {
                        "email": "pzulauf@rodriguez.com",
                        "firstName": "Reynold",
                        "lastName": "Rice",
                        "phone": "+14353847783",
                        "dateOfBirth": "1986-06-27"
                      },
                      {
                        "email": "baylee66@klocko.com",
                        "firstName": "Dejuan",
                        "lastName": "Ratke",
                        "phone": "+12814643693",
                        "dateOfBirth": "1998-02-12"
                      },
                      {
                        "email": "maudie22@gmail.com",
                        "firstName": "Carmella",
                        "lastName": "Sauer",
                        "phone": "+15419451843",
                        "dateOfBirth": "2000-12-16"
                      },
                      {
                        "email": "daphney.boehm@dickinson.com",
                        "firstName": "Pedro",
                        "lastName": "Morar",
                        "phone": "+17607457469",
                        "dateOfBirth": "1976-12-06"
                      },
                      {
                        "email": "guiseppe.dibbert@yahoo.com",
                        "firstName": "Kenny",
                        "lastName": "Skiles",
                        "phone": "+14692264185",
                        "dateOfBirth": "1993-10-29"
                      },
                      {
                        "email": "dianna.mayert@krajcik.com",
                        "firstName": "Kadin",
                        "lastName": "Lynch",
                        "phone": "+12605224301",
                        "dateOfBirth": "1972-03-19"
                      },
                      {
                        "email": "stiedemann.ayden@hotmail.com",
                        "firstName": "Jess",
                        "lastName": "Boehm",
                        "phone": "+19788482175",
                        "dateOfBirth": "1998-09-08"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 9,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "weimann.estrella@gmail.com",
                          "firstName": "Bradly",
                          "lastName": "Kirlin",
                          "phone": "+18709954829",
                          "dateOfBirth": "1970-10-15"
                        },
                        {
                          "email": "mathew.ward@oberbrunner.com",
                          "firstName": "Gerda",
                          "lastName": "Donnelly",
                          "phone": "+12078126105",
                          "dateOfBirth": "1974-11-15"
                        },
                        {
                          "email": "pzulauf@rodriguez.com",
                          "firstName": "Reynold",
                          "lastName": "Rice",
                          "phone": "+14353847783",
                          "dateOfBirth": "1986-06-27"
                        },
                        {
                          "email": "baylee66@klocko.com",
                          "firstName": "Dejuan",
                          "lastName": "Ratke",
                          "phone": "+12814643693",
                          "dateOfBirth": "1998-02-12"
                        },
                        {
                          "email": "maudie22@gmail.com",
                          "firstName": "Carmella",
                          "lastName": "Sauer",
                          "phone": "+15419451843",
                          "dateOfBirth": "2000-12-16"
                        },
                        {
                          "email": "daphney.boehm@dickinson.com",
                          "firstName": "Pedro",
                          "lastName": "Morar",
                          "phone": "+17607457469",
                          "dateOfBirth": "1976-12-06"
                        },
                        {
                          "email": "guiseppe.dibbert@yahoo.com",
                          "firstName": "Kenny",
                          "lastName": "Skiles",
                          "phone": "+14692264185",
                          "dateOfBirth": "1993-10-29"
                        },
                        {
                          "email": "dianna.mayert@krajcik.com",
                          "firstName": "Kadin",
                          "lastName": "Lynch",
                          "phone": "+12605224301",
                          "dateOfBirth": "1972-03-19"
                        },
                        {
                          "email": "stiedemann.ayden@hotmail.com",
                          "firstName": "Jess",
                          "lastName": "Boehm",
                          "phone": "+19788482175",
                          "dateOfBirth": "1998-09-08"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "weimann.estrella@gmail.com"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Bradly"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Kirlin"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+18709954829"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "1970-10-15"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers/{customerIdOrEmail}/addresses": {
      "get": {
        "summary": "List Customer Billing Addresses",
        "operationId": "listCustomerBillingAddresses",
        "description": "Returns all unique billing addresses that have been used by a customer across their payments.\nAddresses are deduplicated using case-insensitive and whitespace-insensitive comparison.",
        "parameters": [
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
            "example": "-city",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
              "example": "-city",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of unique billing addresses for the customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "company": "Considine, Wyman and Effertz",
                        "street": "7959 Lueilwitz Row",
                        "city": "Jazmyneville",
                        "stateProvince": "AZ",
                        "postcodeZip": "22641-3328",
                        "country": "USA"
                      },
                      {
                        "company": "Yost, Murphy and Pollich",
                        "street": "60503 Kling Inlet",
                        "city": "West Pinkville",
                        "stateProvince": "VA",
                        "postcodeZip": "43134",
                        "country": "USA"
                      },
                      {
                        "company": "Koepp Inc",
                        "street": "9383 Kovacek Station",
                        "city": "Lake Maximilian",
                        "stateProvince": "TN",
                        "postcodeZip": "22393",
                        "country": "USA"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "company": "Considine, Wyman and Effertz",
                          "street": "7959 Lueilwitz Row",
                          "city": "Jazmyneville",
                          "stateProvince": "AZ",
                          "postcodeZip": "22641-3328",
                          "country": "USA"
                        },
                        {
                          "company": "Yost, Murphy and Pollich",
                          "street": "60503 Kling Inlet",
                          "city": "West Pinkville",
                          "stateProvince": "VA",
                          "postcodeZip": "43134",
                          "country": "USA"
                        },
                        {
                          "company": "Koepp Inc",
                          "street": "9383 Kovacek Station",
                          "city": "Lake Maximilian",
                          "stateProvince": "TN",
                          "postcodeZip": "22393",
                          "country": "USA"
                        }
                      ],
                      "description": "The data returned from the request",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "company": {
                            "type": "string",
                            "example": "Considine, Wyman and Effertz"
                          },
                          "street": {
                            "type": "string",
                            "example": "7959 Lueilwitz Row"
                          },
                          "city": {
                            "type": "string",
[...]
