{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.48.0"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-02-26T00:00:00+00:00",
                    "periodEnd": "2026-03-05T00:00:00+00:00",
                    "numPaymentsCreated": 4420,
                    "numPaymentsProcessed": 1925,
                    "numPaymentsIncomplete": 2495,
                    "numPaymentsWithRefunds": 986,
                    "numCardPresentPayments": 926,
                    "numCardNotPresentPayments": 1569,
                    "totalCapturedAmount": 3978181.41,
                    "totalRefundedAmount": 564977.64,
                    "totalNetCapturedAmount": 3413203.77,
                    "averageNetCapturedAmount": 2475.4885714286,
                    "minNetCapturedAmount": 27.91,
                    "maxNetCapturedAmount": 6698.02,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-02-26T00:00:00+00:00",
                        "intervalEnd": "2026-02-27T00:00:00+00:00",
                        "numPaymentsCreated": 395,
                        "numPaymentsProcessed": 276,
                        "numPaymentsIncomplete": 119,
                        "numPaymentsWithRefunds": 178,
                        "numCardPresentPayments": 6,
                        "numCardNotPresentPayments": 113,
                        "totalCapturedAmount": 516788.17,
                        "totalRefundedAmount": 75277.11,
                        "totalNetCapturedAmount": 441511.06,
                        "averageNetCapturedAmount": 1599.68,
                        "minNetCapturedAmount": 28.86,
                        "maxNetCapturedAmount": 2156.83
                      },
                      {
                        "intervalStart": "2026-02-27T00:00:00+00:00",
                        "intervalEnd": "2026-02-28T00:00:00+00:00",
                        "numPaymentsCreated": 759,
                        "numPaymentsProcessed": 222,
                        "numPaymentsIncomplete": 537,
                        "numPaymentsWithRefunds": 59,
                        "numCardPresentPayments": 44,
                        "numCardNotPresentPayments": 493,
                        "totalCapturedAmount": 854158.58,
                        "totalRefundedAmount": 104458.55,
                        "totalNetCapturedAmount": 749700.03,
                        "averageNetCapturedAmount": 3377.03,
                        "minNetCapturedAmount": 92.89,
                        "maxNetCapturedAmount": 5431.53
                      },
                      {
                        "intervalStart": "2026-02-28T00:00:00+00:00",
                        "intervalEnd": "2026-03-01T00:00:00+00:00",
                        "numPaymentsCreated": 748,
                        "numPaymentsProcessed": 319,
                        "numPaymentsIncomplete": 429,
                        "numPaymentsWithRefunds": 35,
                        "numCardPresentPayments": 255,
                        "numCardNotPresentPayments": 174,
                        "totalCapturedAmount": 682238.99,
                        "totalRefundedAmount": 71399.54,
                        "totalNetCapturedAmount": 610839.45,
                        "averageNetCapturedAmount": 1914.86,
                        "minNetCapturedAmount": 40.11,
                        "maxNetCapturedAmount": 5669.89
                      },
                      {
                        "intervalStart": "2026-03-01T00:00:00+00:00",
                        "intervalEnd": "2026-03-02T00:00:00+00:00",
                        "numPaymentsCreated": 704,
                        "numPaymentsProcessed": 313,
                        "numPaymentsIncomplete": 391,
                        "numPaymentsWithRefunds": 175,
                        "numCardPresentPayments": 275,
                        "numCardNotPresentPayments": 116,
                        "totalCapturedAmount": 339552.78,
                        "totalRefundedAmount": 77126.04,
                        "totalNetCapturedAmount": 262426.74,
                        "averageNetCapturedAmount": 838.42,
                        "minNetCapturedAmount": 55.23,
                        "maxNetCapturedAmount": 3840.76
                      },
                      {
                        "intervalStart": "2026-03-02T00:00:00+00:00",
                        "intervalEnd": "2026-03-03T00:00:00+00:00",
                        "numPaymentsCreated": 991,
                        "numPaymentsProcessed": 521,
                        "numPaymentsIncomplete": 470,
                        "numPaymentsWithRefunds": 439,
                        "numCardPresentPayments": 267,
                        "numCardNotPresentPayments": 203,
                        "totalCapturedAmount": 322736.91,
                        "totalRefundedAmount": 15770.11,
                        "totalNetCapturedAmount": 306966.8,
                        "averageNetCapturedAmount": 589.19,
                        "minNetCapturedAmount": 27.91,
                        "maxNetCapturedAmount": 6698.02
                      },
                      {
                        "intervalStart": "2026-03-03T00:00:00+00:00",
                        "intervalEnd": "2026-03-04T00:00:00+00:00",
                        "numPaymentsCreated": 562,
                        "numPaymentsProcessed": 79,
                        "numPaymentsIncomplete": 483,
                        "numPaymentsWithRefunds": 47,
                        "numCardPresentPayments": 55,
                        "numCardNotPresentPayments": 428,
                        "totalCapturedAmount": 647344.26,
                        "totalRefundedAmount": 160375.36,
                        "totalNetCapturedAmount": 486968.9,
                        "averageNetCapturedAmount": 6164.16,
                        "minNetCapturedAmount": 68.99,
                        "maxNetCapturedAmount": 3035.81
                      },
                      {
                        "intervalStart": "2026-03-04T00:00:00+00:00",
                        "intervalEnd": "2026-03-05T00:00:00+00:00",
                        "numPaymentsCreated": 261,
                        "numPaymentsProcessed": 195,
                        "numPaymentsIncomplete": 66,
                        "numPaymentsWithRefunds": 53,
                        "numCardPresentPayments": 24,
                        "numCardNotPresentPayments": 42,
                        "totalCapturedAmount": 615361.72,
                        "totalRefundedAmount": 60570.93,
                        "totalNetCapturedAmount": 554790.79,
                        "averageNetCapturedAmount": 2845.08,
                        "minNetCapturedAmount": 75.75,
                        "maxNetCapturedAmount": 1690.25
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-02-26T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-05T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 4420
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 1925
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 2495
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 986
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 926
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": 1569
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 3978181.41
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 564977.64
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 3413203.77
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 2475.4885714286
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 27.91
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 6698.02
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-02-26T00:00:00+00:00",
                          "intervalEnd": "2026-02-27T00:00:00+00:00",
                          "numPaymentsCreated": 395,
                          "numPaymentsProcessed": 276,
                          "numPaymentsIncomplete": 119,
                          "numPaymentsWithRefunds": 178,
                          "numCardPresentPayments": 6,
                          "numCardNotPresentPayments": 113,
                          "totalCapturedAmount": 516788.17,
                          "totalRefundedAmount": 75277.11,
                          "totalNetCapturedAmount": 441511.06,
                          "averageNetCapturedAmount": 1599.68,
                          "minNetCapturedAmount": 28.86,
                          "maxNetCapturedAmount": 2156.83
                        },
                        {
                          "intervalStart": "2026-02-27T00:00:00+00:00",
                          "intervalEnd": "2026-02-28T00:00:00+00:00",
                          "numPaymentsCreated": 759,
                          "numPaymentsProcessed": 222,
                          "numPaymentsIncomplete": 537,
                          "numPaymentsWithRefunds": 59,
                          "numCardPresentPayments": 44,
                          "numCardNotPresentPayments": 493,
                          "totalCapturedAmount": 854158.58,
                          "totalRefundedAmount": 104458.55,
                          "totalNetCapturedAmount": 749700.03,
                          "averageNetCapturedAmount": 3377.03,
                          "minNetCapturedAmount": 92.89,
                          "maxNetCapturedAmount": 5431.53
                        },
                        {
                          "intervalStart": "2026-02-28T00:00:00+00:00",
                          "intervalEnd": "2026-03-01T00:00:00+00:00",
                          "numPaymentsCreated": 748,
                          "numPaymentsProcessed": 319,
                          "numPaymentsIncomplete": 429,
                          "numPaymentsWithRefunds": 35,
                          "numCardPresentPayments": 255,
                          "numCardNotPresentPayments": 174,
                          "totalCapturedAmount": 682238.99,
                          "totalRefundedAmount": 71399.54,
                          "totalNetCapturedAmount": 610839.45,
                          "averageNetCapturedAmount": 1914.86,
                          "minNetCapturedAmount": 40.11,
                          "maxNetCapturedAmount": 5669.89
                        },
                        {
                          "intervalStart": "2026-03-01T00:00:00+00:00",
                          "intervalEnd": "2026-03-02T00:00:00+00:00",
                          "numPaymentsCreated": 704,
                          "numPaymentsProcessed": 313,
                          "numPaymentsIncomplete": 391,
                          "numPaymentsWithRefunds": 175,
                          "numCardPresentPayments": 275,
                          "numCardNotPresentPayments": 116,
                          "totalCapturedAmount": 339552.78,
                          "totalRefundedAmount": 77126.04,
                          "totalNetCapturedAmount": 262426.74,
                          "averageNetCapturedAmount": 838.42,
                          "minNetCapturedAmount": 55.23,
                          "maxNetCapturedAmount": 3840.76
                        },
                        {
                          "intervalStart": "2026-03-02T00:00:00+00:00",
                          "intervalEnd": "2026-03-03T00:00:00+00:00",
                          "numPaymentsCreated": 991,
                          "numPaymentsProcessed": 521,
                          "numPaymentsIncomplete": 470,
                          "numPaymentsWithRefunds": 439,
                          "numCardPresentPayments": 267,
                          "numCardNotPresentPayments": 203,
                          "totalCapturedAmount": 322736.91,
                          "totalRefundedAmount": 15770.11,
                          "totalNetCapturedAmount": 306966.8,
                          "averageNetCapturedAmount": 589.19,
                          "minNetCapturedAmount": 27.91,
                          "maxNetCapturedAmount": 6698.02
                        },
                        {
                          "intervalStart": "2026-03-03T00:00:00+00:00",
                          "intervalEnd": "2026-03-04T00:00:00+00:00",
                          "numPaymentsCreated": 562,
                          "numPaymentsProcessed": 79,
                          "numPaymentsIncomplete": 483,
                          "numPaymentsWithRefunds": 47,
                          "numCardPresentPayments": 55,
                          "numCardNotPresentPayments": 428,
                          "totalCapturedAmount": 647344.26,
                          "totalRefundedAmount": 160375.36,
                          "totalNetCapturedAmount": 486968.9,
                          "averageNetCapturedAmount": 6164.16,
                          "minNetCapturedAmount": 68.99,
                          "maxNetCapturedAmount": 3035.81
                        },
                        {
                          "intervalStart": "2026-03-04T00:00:00+00:00",
                          "intervalEnd": "2026-03-05T00:00:00+00:00",
                          "numPaymentsCreated": 261,
                          "numPaymentsProcessed": 195,
                          "numPaymentsIncomplete": 66,
                          "numPaymentsWithRefunds": 53,
                          "numCardPresentPayments": 24,
                          "numCardNotPresentPayments": 42,
                          "totalCapturedAmount": 615361.72,
                          "totalRefundedAmount": 60570.93,
                          "totalNetCapturedAmount": 554790.79,
                          "averageNetCapturedAmount": 2845.08,
                          "minNetCapturedAmount": 75.75,
                          "maxNetCapturedAmount": 1690.25
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-02-26T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-02-27T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 395
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 276
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 119
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 178
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 6
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": 113
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 516788.17
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 75277.11
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 441511.06
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 1599.68
                          },
                          "minNetCapturedAmount": {
                            "type": "number",
                            "example": 28.86
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 2156.83
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-02-26T00:00:00+00:00",
                    "periodEnd": "2026-03-05T00:00:00+00:00",
                    "activeCustomers": 333,
                    "newCustomers": 177,
                    "returningCustomers": 156,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-02-26T00:00:00+00:00",
                        "intervalEnd": "2026-02-27T00:00:00+00:00",
                        "activeCustomers": 99,
                        "newCustomers": 30,
                        "returningCustomers": 69
                      },
                      {
                        "intervalStart": "2026-02-27T00:00:00+00:00",
                        "intervalEnd": "2026-02-28T00:00:00+00:00",
                        "activeCustomers": 96,
                        "newCustomers": 31,
                        "returningCustomers": 65
                      },
                      {
                        "intervalStart": "2026-02-28T00:00:00+00:00",
                        "intervalEnd": "2026-03-01T00:00:00+00:00",
                        "activeCustomers": 25,
                        "newCustomers": 17,
                        "returningCustomers": 8
                      },
                      {
                        "intervalStart": "2026-03-01T00:00:00+00:00",
                        "intervalEnd": "2026-03-02T00:00:00+00:00",
                        "activeCustomers": 59,
                        "newCustomers": 45,
                        "returningCustomers": 14
                      },
                      {
                        "intervalStart": "2026-03-02T00:00:00+00:00",
                        "intervalEnd": "2026-03-03T00:00:00+00:00",
                        "activeCustomers": 45,
                        "newCustomers": 13,
                        "returningCustomers": 32
                      },
                      {
                        "intervalStart": "2026-03-03T00:00:00+00:00",
                        "intervalEnd": "2026-03-04T00:00:00+00:00",
                        "activeCustomers": 22,
                        "newCustomers": 5,
                        "returningCustomers": 17
                      },
                      {
                        "intervalStart": "2026-03-04T00:00:00+00:00",
                        "intervalEnd": "2026-03-05T00:00:00+00:00",
                        "activeCustomers": 41,
                        "newCustomers": 36,
                        "returningCustomers": 5
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-02-26T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-05T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 333
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 177
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": 156
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-02-26T00:00:00+00:00",
                          "intervalEnd": "2026-02-27T00:00:00+00:00",
                          "activeCustomers": 99,
                          "newCustomers": 30,
                          "returningCustomers": 69
                        },
                        {
                          "intervalStart": "2026-02-27T00:00:00+00:00",
                          "intervalEnd": "2026-02-28T00:00:00+00:00",
                          "activeCustomers": 96,
                          "newCustomers": 31,
                          "returningCustomers": 65
                        },
                        {
                          "intervalStart": "2026-02-28T00:00:00+00:00",
                          "intervalEnd": "2026-03-01T00:00:00+00:00",
                          "activeCustomers": 25,
                          "newCustomers": 17,
                          "returningCustomers": 8
                        },
                        {
                          "intervalStart": "2026-03-01T00:00:00+00:00",
                          "intervalEnd": "2026-03-02T00:00:00+00:00",
                          "activeCustomers": 59,
                          "newCustomers": 45,
                          "returningCustomers": 14
                        },
                        {
                          "intervalStart": "2026-03-02T00:00:00+00:00",
                          "intervalEnd": "2026-03-03T00:00:00+00:00",
                          "activeCustomers": 45,
                          "newCustomers": 13,
                          "returningCustomers": 32
                        },
                        {
                          "intervalStart": "2026-03-03T00:00:00+00:00",
                          "intervalEnd": "2026-03-04T00:00:00+00:00",
                          "activeCustomers": 22,
                          "newCustomers": 5,
                          "returningCustomers": 17
                        },
                        {
                          "intervalStart": "2026-03-04T00:00:00+00:00",
                          "intervalEnd": "2026-03-05T00:00:00+00:00",
                          "activeCustomers": 41,
                          "newCustomers": 36,
                          "returningCustomers": 5
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-02-26T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-02-27T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 99
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 30
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 69
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-02-26T00:00:00+00:00",
                    "periodEnd": "2026-03-05T00:00:00+00:00",
                    "totalTransactions": 5040,
                    "authorizeTransactions": 423,
                    "captureTransactions": 463,
                    "payTransactions": 2728,
                    "refundTransactions": 815,
                    "verifyTransactions": 272,
                    "voidTransactions": 339,
                    "successfulTransactions": 4533,
                    "failedTransactions": 360,
                    "declinedTransactions": 113,
                    "pendingTransactions": 34,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-02-26T00:00:00+00:00",
                        "intervalEnd": "2026-02-27T00:00:00+00:00",
                        "totalTransactions": 935,
                        "authorizeTransactions": 94,
                        "captureTransactions": 100,
                        "payTransactions": 94,
                        "refundTransactions": 318,
                        "verifyTransactions": 148,
                        "voidTransactions": 181,
                        "successfulTransactions": 841,
                        "failedTransactions": 72,
                        "declinedTransactions": 16,
                        "pendingTransactions": 6,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-02-27T00:00:00+00:00",
                        "intervalEnd": "2026-02-28T00:00:00+00:00",
                        "totalTransactions": 718,
                        "authorizeTransactions": 81,
                        "captureTransactions": 90,
                        "payTransactions": 495,
                        "refundTransactions": 38,
                        "verifyTransactions": 6,
                        "voidTransactions": 8,
                        "successfulTransactions": 646,
                        "failedTransactions": 63,
                        "declinedTransactions": 4,
                        "pendingTransactions": 5,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-02-28T00:00:00+00:00",
                        "intervalEnd": "2026-03-01T00:00:00+00:00",
                        "totalTransactions": 668,
                        "authorizeTransactions": 52,
                        "captureTransactions": 56,
                        "payTransactions": 504,
                        "refundTransactions": 6,
                        "verifyTransactions": 12,
                        "voidTransactions": 38,
                        "successfulTransactions": 601,
                        "failedTransactions": 49,
                        "declinedTransactions": 12,
                        "pendingTransactions": 6,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-01T00:00:00+00:00",
                        "intervalEnd": "2026-03-02T00:00:00+00:00",
                        "totalTransactions": 567,
                        "authorizeTransactions": 11,
                        "captureTransactions": 13,
                        "payTransactions": 36,
                        "refundTransactions": 364,
                        "verifyTransactions": 58,
                        "voidTransactions": 85,
                        "successfulTransactions": 510,
                        "failedTransactions": 28,
                        "declinedTransactions": 25,
                        "pendingTransactions": 4,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-02T00:00:00+00:00",
                        "intervalEnd": "2026-03-03T00:00:00+00:00",
                        "totalTransactions": 801,
                        "authorizeTransactions": 81,
                        "captureTransactions": 84,
                        "payTransactions": 584,
                        "refundTransactions": 33,
                        "verifyTransactions": 7,
                        "voidTransactions": 12,
                        "successfulTransactions": 720,
                        "failedTransactions": 52,
                        "declinedTransactions": 26,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-03T00:00:00+00:00",
                        "intervalEnd": "2026-03-04T00:00:00+00:00",
                        "totalTransactions": 849,
                        "authorizeTransactions": 76,
                        "captureTransactions": 85,
                        "payTransactions": 664,
                        "refundTransactions": 23,
                        "verifyTransactions": 4,
                        "voidTransactions": -3,
                        "successfulTransactions": 764,
                        "failedTransactions": 59,
                        "declinedTransactions": 20,
                        "pendingTransactions": 6,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-04T00:00:00+00:00",
                        "intervalEnd": "2026-03-05T00:00:00+00:00",
                        "totalTransactions": 502,
                        "authorizeTransactions": 28,
                        "captureTransactions": 35,
                        "payTransactions": 351,
                        "refundTransactions": 33,
                        "verifyTransactions": 37,
                        "voidTransactions": 18,
                        "successfulTransactions": 451,
                        "failedTransactions": 37,
                        "declinedTransactions": 10,
                        "pendingTransactions": 4,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-02-26T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-05T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 5040
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 423
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 463
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 2728
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 815
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 272
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 339
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 4533
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 360
                    },
                    "declinedTransactions": {
                      "type": "integer",
                      "example": 113
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 34
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-02-26T00:00:00+00:00",
                          "intervalEnd": "2026-02-27T00:00:00+00:00",
                          "totalTransactions": 935,
                          "authorizeTransactions": 94,
                          "captureTransactions": 100,
                          "payTransactions": 94,
                          "refundTransactions": 318,
                          "verifyTransactions": 148,
                          "voidTransactions": 181,
                          "successfulTransactions": 841,
                          "failedTransactions": 72,
                          "declinedTransactions": 16,
                          "pendingTransactions": 6,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-02-27T00:00:00+00:00",
                          "intervalEnd": "2026-02-28T00:00:00+00:00",
                          "totalTransactions": 718,
                          "authorizeTransactions": 81,
                          "captureTransactions": 90,
                          "payTransactions": 495,
                          "refundTransactions": 38,
                          "verifyTransactions": 6,
                          "voidTransactions": 8,
                          "successfulTransactions": 646,
                          "failedTransactions": 63,
                          "declinedTransactions": 4,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-02-28T00:00:00+00:00",
                          "intervalEnd": "2026-03-01T00:00:00+00:00",
                          "totalTransactions": 668,
                          "authorizeTransactions": 52,
                          "captureTransactions": 56,
                          "payTransactions": 504,
                          "refundTransactions": 6,
                          "verifyTransactions": 12,
                          "voidTransactions": 38,
                          "successfulTransactions": 601,
                          "failedTransactions": 49,
                          "declinedTransactions": 12,
                          "pendingTransactions": 6,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-01T00:00:00+00:00",
                          "intervalEnd": "2026-03-02T00:00:00+00:00",
                          "totalTransactions": 567,
                          "authorizeTransactions": 11,
                          "captureTransactions": 13,
                          "payTransactions": 36,
                          "refundTransactions": 364,
                          "verifyTransactions": 58,
                          "voidTransactions": 85,
                          "successfulTransactions": 510,
                          "failedTransactions": 28,
                          "declinedTransactions": 25,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-02T00:00:00+00:00",
                          "intervalEnd": "2026-03-03T00:00:00+00:00",
                          "totalTransactions": 801,
                          "authorizeTransactions": 81,
                          "captureTransactions": 84,
                          "payTransactions": 584,
                          "refundTransactions": 33,
                          "verifyTransactions": 7,
                          "voidTransactions": 12,
                          "successfulTransactions": 720,
                          "failedTransactions": 52,
                          "declinedTransactions": 26,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-03T00:00:00+00:00",
                          "intervalEnd": "2026-03-04T00:00:00+00:00",
                          "totalTransactions": 849,
                          "authorizeTransactions": 76,
                          "captureTransactions": 85,
                          "payTransactions": 664,
                          "refundTransactions": 23,
                          "verifyTransactions": 4,
                          "voidTransactions": -3,
                          "successfulTransactions": 764,
                          "failedTransactions": 59,
                          "declinedTransactions": 20,
                          "pendingTransactions": 6,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-04T00:00:00+00:00",
                          "intervalEnd": "2026-03-05T00:00:00+00:00",
                          "totalTransactions": 502,
                          "authorizeTransactions": 28,
                          "captureTransactions": 35,
                          "payTransactions": 351,
                          "refundTransactions": 33,
                          "verifyTransactions": 37,
                          "voidTransactions": 18,
                          "successfulTransactions": 451,
                          "failedTransactions": 37,
                          "declinedTransactions": 10,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-02-26T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-02-27T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 935
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 94
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 100
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 94
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 318
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 148
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": 181
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 841
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 72
                          },
                          "declinedTransactions": {
                            "type": "integer",
                            "example": 16
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 6
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-02-26T00:00:00+00:00",
                    "periodEnd": "2026-03-05T00:00:00+00:00",
                    "totalSettlementAmount": 30203.76,
                    "totalFeeAmount": 1479.98424,
                    "totalNetAmount": 28723.77576,
                    "totalTransactionsPending": 158,
                    "totalTransactionsSettled": 944,
                    "totalTransactionsSettling": 1195,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-02-26T00:00:00+00:00",
                        "intervalEnd": "2026-02-27T00:00:00+00:00",
                        "totalSettlementAmount": 5228.15,
                        "totalFeeAmount": 256.17935,
                        "totalNetAmount": 4971.97065,
                        "totalTransactionsPending": 14,
                        "totalTransactionsSettled": 28,
                        "totalTransactionsSettling": 248
                      },
                      {
                        "intervalStart": "2026-02-27T00:00:00+00:00",
                        "intervalEnd": "2026-02-28T00:00:00+00:00",
                        "totalSettlementAmount": 3160.41,
                        "totalFeeAmount": 154.86009,
                        "totalNetAmount": 3005.54991,
                        "totalTransactionsPending": 14,
                        "totalTransactionsSettled": 132,
                        "totalTransactionsSettling": 247
                      },
                      {
                        "intervalStart": "2026-02-28T00:00:00+00:00",
                        "intervalEnd": "2026-03-01T00:00:00+00:00",
                        "totalSettlementAmount": 983.81,
                        "totalFeeAmount": 48.20669,
                        "totalNetAmount": 935.60331,
                        "totalTransactionsPending": 32,
                        "totalTransactionsSettled": 66,
                        "totalTransactionsSettling": 162
                      },
                      {
                        "intervalStart": "2026-03-01T00:00:00+00:00",
                        "intervalEnd": "2026-03-02T00:00:00+00:00",
                        "totalSettlementAmount": 1816.03,
                        "totalFeeAmount": 88.98547,
                        "totalNetAmount": 1727.04453,
                        "totalTransactionsPending": 11,
                        "totalTransactionsSettled": 58,
                        "totalTransactionsSettling": 121
                      },
                      {
                        "intervalStart": "2026-03-02T00:00:00+00:00",
                        "intervalEnd": "2026-03-03T00:00:00+00:00",
                        "totalSettlementAmount": 8803.38,
                        "totalFeeAmount": 431.36562,
                        "totalNetAmount": 8372.01438,
                        "totalTransactionsPending": 26,
                        "totalTransactionsSettled": 133,
                        "totalTransactionsSettling": 237
                      },
                      {
                        "intervalStart": "2026-03-03T00:00:00+00:00",
                        "intervalEnd": "2026-03-04T00:00:00+00:00",
                        "totalSettlementAmount": 564.56,
                        "totalFeeAmount": 27.66344,
                        "totalNetAmount": 536.89656,
                        "totalTransactionsPending": 33,
                        "totalTransactionsSettled": 241,
                        "totalTransactionsSettling": 53
                      },
                      {
                        "intervalStart": "2026-03-04T00:00:00+00:00",
                        "intervalEnd": "2026-03-05T00:00:00+00:00",
                        "totalSettlementAmount": 9647.42,
                        "totalFeeAmount": 472.72358,
                        "totalNetAmount": 9174.69642,
                        "totalTransactionsPending": 28,
                        "totalTransactionsSettled": 286,
                        "totalTransactionsSettling": 127
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-02-26T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-05T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 30203.76
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 1479.98424
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 28723.77576
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 158
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 944
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 1195
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-02-26T00:00:00+00:00",
                          "intervalEnd": "2026-02-27T00:00:00+00:00",
                          "totalSettlementAmount": 5228.15,
                          "totalFeeAmount": 256.17935,
                          "totalNetAmount": 4971.97065,
                          "totalTransactionsPending": 14,
                          "totalTransactionsSettled": 28,
                          "totalTransactionsSettling": 248
                        },
                        {
                          "intervalStart": "2026-02-27T00:00:00+00:00",
                          "intervalEnd": "2026-02-28T00:00:00+00:00",
                          "totalSettlementAmount": 3160.41,
                          "totalFeeAmount": 154.86009,
                          "totalNetAmount": 3005.54991,
                          "totalTransactionsPending": 14,
                          "totalTransactionsSettled": 132,
                          "totalTransactionsSettling": 247
                        },
                        {
                          "intervalStart": "2026-02-28T00:00:00+00:00",
                          "intervalEnd": "2026-03-01T00:00:00+00:00",
                          "totalSettlementAmount": 983.81,
                          "totalFeeAmount": 48.20669,
                          "totalNetAmount": 935.60331,
                          "totalTransactionsPending": 32,
                          "totalTransactionsSettled": 66,
                          "totalTransactionsSettling": 162
                        },
                        {
                          "intervalStart": "2026-03-01T00:00:00+00:00",
                          "intervalEnd": "2026-03-02T00:00:00+00:00",
                          "totalSettlementAmount": 1816.03,
                          "totalFeeAmount": 88.98547,
                          "totalNetAmount": 1727.04453,
                          "totalTransactionsPending": 11,
                          "totalTransactionsSettled": 58,
                          "totalTransactionsSettling": 121
                        },
                        {
                          "intervalStart": "2026-03-02T00:00:00+00:00",
                          "intervalEnd": "2026-03-03T00:00:00+00:00",
                          "totalSettlementAmount": 8803.38,
                          "totalFeeAmount": 431.36562,
                          "totalNetAmount": 8372.01438,
                          "totalTransactionsPending": 26,
                          "totalTransactionsSettled": 133,
                          "totalTransactionsSettling": 237
                        },
                        {
                          "intervalStart": "2026-03-03T00:00:00+00:00",
                          "intervalEnd": "2026-03-04T00:00:00+00:00",
                          "totalSettlementAmount": 564.56,
                          "totalFeeAmount": 27.66344,
                          "totalNetAmount": 536.89656,
                          "totalTransactionsPending": 33,
                          "totalTransactionsSettled": 241,
                          "totalTransactionsSettling": 53
                        },
                        {
                          "intervalStart": "2026-03-04T00:00:00+00:00",
                          "intervalEnd": "2026-03-05T00:00:00+00:00",
                          "totalSettlementAmount": 9647.42,
                          "totalFeeAmount": 472.72358,
                          "totalNetAmount": 9174.69642,
                          "totalTransactionsPending": 28,
                          "totalTransactionsSettled": 286,
                          "totalTransactionsSettling": 127
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-02-26T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-02-27T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 5228.15
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 256.17935
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 4971.97065
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 14
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 28
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 248
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 4,
                    "data": [
                      {
                        "email": "zabbott@yahoo.com",
                        "firstName": "Arch",
                        "lastName": "Brakus",
                        "phone": "+13619007508",
                        "dateOfBirth": "2005-11-02"
                      },
                      {
                        "email": "hartmann.gideon@gmail.com",
                        "firstName": "Patrick",
                        "lastName": "Nienow",
                        "phone": "+14845453123",
                        "dateOfBirth": "1994-02-12"
                      },
                      {
                        "email": "lawrence.adams@yahoo.com",
                        "firstName": "Kyra",
                        "lastName": "Bins",
                        "phone": "+13048470536",
                        "dateOfBirth": "1972-09-13"
                      },
                      {
                        "email": "unicolas@von.com",
                        "firstName": "Mariela",
                        "lastName": "Fritsch",
                        "phone": "+14343335993",
                        "dateOfBirth": "1971-07-04"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 4,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "zabbott@yahoo.com",
                          "firstName": "Arch",
                          "lastName": "Brakus",
                          "phone": "+13619007508",
                          "dateOfBirth": "2005-11-02"
                        },
                        {
                          "email": "hartmann.gideon@gmail.com",
                          "firstName": "Patrick",
                          "lastName": "Nienow",
                          "phone": "+14845453123",
                          "dateOfBirth": "1994-02-12"
                        },
                        {
                          "email": "lawrence.adams@yahoo.com",
                          "firstName": "Kyra",
                          "lastName": "Bins",
                          "phone": "+13048470536",
                          "dateOfBirth": "1972-09-13"
                        },
                        {
                          "email": "unicolas@von.com",
                          "firstName": "Mariela",
                          "lastName": "Fritsch",
                          "phone": "+14343335993",
                          "dateOfBirth": "1971-07-04"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "zabbott@yahoo.com"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Arch"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Brakus"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+13619007508"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "2005-11-02"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers/{customerIdOrEmail}/addresses": {
      "get": {
        "summary": "List Customer Billing Addresses",
        "operationId": "listCustomerBillingAddresses",
        "description": "Returns all unique billing addresses that have been used by a customer across their payments.\nAddresses are deduplicated using case-insensitive and whitespace-insensitive comparison.",
        "parameters": [
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
            "example": "-city",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
              "example": "-city",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of unique billing addresses for the customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "company": "Leffler-Huels",
                        "street": "13999 Gutkowski Brook Apt. 073",
                        "city": "Kozeyside",
                        "stateProvince": "CT",
                        "postcodeZip": "11798-1914",
                        "country": "USA"
                      },
                      {
                        "company": "Legros, Becker and Grant",
                        "street": "576 Eloisa Alley",
                        "city": "New Monserratetown",
                        "stateProvince": "UT",
                        "postcodeZip": "37076",
                        "country": "USA"
                      },
                      {
                        "company": "Treutel, Gulgowski and Kshlerin",
                        "street": "2204 Darren Wall Apt. 176",
                        "city": "New Karine",
                        "stateProvince": "NM",
                        "postcodeZip": "23812-1729",
                        "country": "USA"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "company": "Leffler-Huels",
                          "street": "13999 Gutkowski Brook Apt. 073",
                          "city": "Kozeyside",
                          "stateProvince": "CT",
                          "postcodeZip": "11798-1914",
                          "country": "USA"
                        },
                        {
                          "company": "Legros, Becker and Grant",
                          "street": "576 Eloisa Alley",
                          "city": "New Monserratetown",
                          "stateProvince": "UT",
                          "postcodeZip": "37076",
                          "country": "USA"
                        },
                        {
                          "company": "Treutel, Gulgowski and Kshlerin",
                          "street": "2204 Darren Wall Apt. 176",
                          "city": "New Karine",
                          "stateProvince": "NM",
                          "postcodeZip": "23812-1729",
                          "country": "USA"
                        }
                      ],
                      "description": "The data returned from the request",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "company": {
                            "type": "string",
                            "example": "Leffler-Huels"
                          },
                          "street": {
                            "type": "string",
                            "example": "13999 Gutkowski Brook Apt. 073"
                          },
                          "city": {
                            "type": "string",
                            "example": "Kozeyside"
                          },
                          "stateProvince": {
                            "type": "string",
                            "example": "CT"
                          },
                          "postcodeZip": {
                            "type": "string",
                            "example": "11798-1914"
                          },
                          "country": {
                            "type": "string",
                            "example": "USA"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "path",
          "name": "customerIdOrEmail",
          "description": "The customer ID, UUID, or email address",
          "example": "customer_123",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/simulated/terminals": {
      "get": {
        "summary": "Get all available simulated terminals.",
        "operationId": "getAllAvailableSimulatedTerminals",
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of available simulated terminals",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "title": "Success",
                        "description": "Approves all card present transactions successfully.",
                        "tid": "SUCCESS",
                        "readyForProcessing": true,
                        "provider": "SIMULATED",
                        "type": "CARD_PRESENT"
                      },
                      {
                        "title": "Transaction Declined",
                        "description": "Simulates a declined transaction.",
                        "tid": "TRANSACTION_DECLINED",
                        "readyForProcessing": true,
                        "provider": "SIMULATED",
                        "type": "CARD_PRESENT"
                      },
                      {
                        "title": "Card Present Timeout",
                        "description": "Simulates a card present timeout.",
                        "tid": "CARD_PRESENT_TIMEOUT",
[...]
