{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.45.2"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-02-20T00:00:00+00:00",
                    "periodEnd": "2026-02-27T00:00:00+00:00",
                    "numPaymentsCreated": 3170,
                    "numPaymentsProcessed": 1869,
                    "numPaymentsIncomplete": 1301,
                    "numPaymentsWithRefunds": 862,
                    "numCardPresentPayments": 1378,
                    "numCardNotPresentPayments": -77,
                    "totalCapturedAmount": 2891132.26,
                    "totalRefundedAmount": 498246.68,
                    "totalNetCapturedAmount": 2392885.58,
                    "averageNetCapturedAmount": 1671.6014285714,
                    "minNetCapturedAmount": 31.49,
                    "maxNetCapturedAmount": 9262.68,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-02-20T00:00:00+00:00",
                        "intervalEnd": "2026-02-21T00:00:00+00:00",
                        "numPaymentsCreated": 114,
                        "numPaymentsProcessed": 87,
                        "numPaymentsIncomplete": 27,
                        "numPaymentsWithRefunds": 33,
                        "numCardPresentPayments": 74,
                        "numCardNotPresentPayments": -47,
                        "totalCapturedAmount": 19290.35,
                        "totalRefundedAmount": 2640.21,
                        "totalNetCapturedAmount": 16650.14,
                        "averageNetCapturedAmount": 191.38,
                        "minNetCapturedAmount": 83.54,
                        "maxNetCapturedAmount": 3316.67
                      },
                      {
                        "intervalStart": "2026-02-21T00:00:00+00:00",
                        "intervalEnd": "2026-02-22T00:00:00+00:00",
                        "numPaymentsCreated": 827,
                        "numPaymentsProcessed": 91,
                        "numPaymentsIncomplete": 736,
                        "numPaymentsWithRefunds": 78,
                        "numCardPresentPayments": 90,
                        "numCardNotPresentPayments": 646,
                        "totalCapturedAmount": 662091.59,
                        "totalRefundedAmount": 144394.04,
                        "totalNetCapturedAmount": 517697.55,
                        "averageNetCapturedAmount": 5688.98,
                        "minNetCapturedAmount": 58.51,
                        "maxNetCapturedAmount": 6113.21
                      },
                      {
                        "intervalStart": "2026-02-22T00:00:00+00:00",
                        "intervalEnd": "2026-02-23T00:00:00+00:00",
                        "numPaymentsCreated": 377,
                        "numPaymentsProcessed": 293,
                        "numPaymentsIncomplete": 84,
                        "numPaymentsWithRefunds": 145,
                        "numCardPresentPayments": 188,
                        "numCardNotPresentPayments": -104,
                        "totalCapturedAmount": 756649.5,
                        "totalRefundedAmount": 341.16,
                        "totalNetCapturedAmount": 756308.34,
                        "averageNetCapturedAmount": 2581.26,
                        "minNetCapturedAmount": 51.72,
                        "maxNetCapturedAmount": 7363.6
                      },
                      {
                        "intervalStart": "2026-02-23T00:00:00+00:00",
                        "intervalEnd": "2026-02-24T00:00:00+00:00",
                        "numPaymentsCreated": 424,
                        "numPaymentsProcessed": 360,
                        "numPaymentsIncomplete": 64,
                        "numPaymentsWithRefunds": 264,
                        "numCardPresentPayments": 168,
                        "numCardNotPresentPayments": -104,
                        "totalCapturedAmount": 682175.74,
                        "totalRefundedAmount": 143581.94,
                        "totalNetCapturedAmount": 538593.8,
                        "averageNetCapturedAmount": 1496.09,
                        "minNetCapturedAmount": 51.58,
                        "maxNetCapturedAmount": 9262.68
                      },
                      {
                        "intervalStart": "2026-02-24T00:00:00+00:00",
                        "intervalEnd": "2026-02-25T00:00:00+00:00",
                        "numPaymentsCreated": 322,
                        "numPaymentsProcessed": 71,
                        "numPaymentsIncomplete": 251,
                        "numPaymentsWithRefunds": 69,
                        "numCardPresentPayments": 21,
                        "numCardNotPresentPayments": 230,
                        "totalCapturedAmount": 65274.94,
                        "totalRefundedAmount": 17440.15,
                        "totalNetCapturedAmount": 47834.79,
                        "averageNetCapturedAmount": 673.73,
                        "minNetCapturedAmount": 70.47,
                        "maxNetCapturedAmount": 4617.21
                      },
                      {
                        "intervalStart": "2026-02-25T00:00:00+00:00",
                        "intervalEnd": "2026-02-26T00:00:00+00:00",
                        "numPaymentsCreated": 623,
                        "numPaymentsProcessed": 487,
                        "numPaymentsIncomplete": 136,
                        "numPaymentsWithRefunds": 273,
                        "numCardPresentPayments": 466,
                        "numCardNotPresentPayments": -330,
                        "totalCapturedAmount": 208140.35,
                        "totalRefundedAmount": 47550.18,
                        "totalNetCapturedAmount": 160590.17,
                        "averageNetCapturedAmount": 329.75,
                        "minNetCapturedAmount": 31.49,
                        "maxNetCapturedAmount": 6183.03
                      },
                      {
                        "intervalStart": "2026-02-26T00:00:00+00:00",
                        "intervalEnd": "2026-02-27T00:00:00+00:00",
                        "numPaymentsCreated": 483,
                        "numPaymentsProcessed": 480,
                        "numPaymentsIncomplete": 3,
                        "numPaymentsWithRefunds": 0,
                        "numCardPresentPayments": 371,
                        "numCardNotPresentPayments": -368,
                        "totalCapturedAmount": 497509.79,
                        "totalRefundedAmount": 142299,
                        "totalNetCapturedAmount": 355210.79,
                        "averageNetCapturedAmount": 740.02,
                        "minNetCapturedAmount": 56.27,
                        "maxNetCapturedAmount": 7669.08
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-02-20T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-02-27T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 3170
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 1869
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 1301
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 862
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 1378
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": -77
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 2891132.26
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 498246.68
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 2392885.58
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 1671.6014285714
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 31.49
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 9262.68
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-02-20T00:00:00+00:00",
                          "intervalEnd": "2026-02-21T00:00:00+00:00",
                          "numPaymentsCreated": 114,
                          "numPaymentsProcessed": 87,
                          "numPaymentsIncomplete": 27,
                          "numPaymentsWithRefunds": 33,
                          "numCardPresentPayments": 74,
                          "numCardNotPresentPayments": -47,
                          "totalCapturedAmount": 19290.35,
                          "totalRefundedAmount": 2640.21,
                          "totalNetCapturedAmount": 16650.14,
                          "averageNetCapturedAmount": 191.38,
                          "minNetCapturedAmount": 83.54,
                          "maxNetCapturedAmount": 3316.67
                        },
                        {
                          "intervalStart": "2026-02-21T00:00:00+00:00",
                          "intervalEnd": "2026-02-22T00:00:00+00:00",
                          "numPaymentsCreated": 827,
                          "numPaymentsProcessed": 91,
                          "numPaymentsIncomplete": 736,
                          "numPaymentsWithRefunds": 78,
                          "numCardPresentPayments": 90,
                          "numCardNotPresentPayments": 646,
                          "totalCapturedAmount": 662091.59,
                          "totalRefundedAmount": 144394.04,
                          "totalNetCapturedAmount": 517697.55,
                          "averageNetCapturedAmount": 5688.98,
                          "minNetCapturedAmount": 58.51,
                          "maxNetCapturedAmount": 6113.21
                        },
                        {
                          "intervalStart": "2026-02-22T00:00:00+00:00",
                          "intervalEnd": "2026-02-23T00:00:00+00:00",
                          "numPaymentsCreated": 377,
                          "numPaymentsProcessed": 293,
                          "numPaymentsIncomplete": 84,
                          "numPaymentsWithRefunds": 145,
                          "numCardPresentPayments": 188,
                          "numCardNotPresentPayments": -104,
                          "totalCapturedAmount": 756649.5,
                          "totalRefundedAmount": 341.16,
                          "totalNetCapturedAmount": 756308.34,
                          "averageNetCapturedAmount": 2581.26,
                          "minNetCapturedAmount": 51.72,
                          "maxNetCapturedAmount": 7363.6
                        },
                        {
                          "intervalStart": "2026-02-23T00:00:00+00:00",
                          "intervalEnd": "2026-02-24T00:00:00+00:00",
                          "numPaymentsCreated": 424,
                          "numPaymentsProcessed": 360,
                          "numPaymentsIncomplete": 64,
                          "numPaymentsWithRefunds": 264,
                          "numCardPresentPayments": 168,
                          "numCardNotPresentPayments": -104,
                          "totalCapturedAmount": 682175.74,
                          "totalRefundedAmount": 143581.94,
                          "totalNetCapturedAmount": 538593.8,
                          "averageNetCapturedAmount": 1496.09,
                          "minNetCapturedAmount": 51.58,
                          "maxNetCapturedAmount": 9262.68
                        },
                        {
                          "intervalStart": "2026-02-24T00:00:00+00:00",
                          "intervalEnd": "2026-02-25T00:00:00+00:00",
                          "numPaymentsCreated": 322,
                          "numPaymentsProcessed": 71,
                          "numPaymentsIncomplete": 251,
                          "numPaymentsWithRefunds": 69,
                          "numCardPresentPayments": 21,
                          "numCardNotPresentPayments": 230,
                          "totalCapturedAmount": 65274.94,
                          "totalRefundedAmount": 17440.15,
                          "totalNetCapturedAmount": 47834.79,
                          "averageNetCapturedAmount": 673.73,
                          "minNetCapturedAmount": 70.47,
                          "maxNetCapturedAmount": 4617.21
                        },
                        {
                          "intervalStart": "2026-02-25T00:00:00+00:00",
                          "intervalEnd": "2026-02-26T00:00:00+00:00",
                          "numPaymentsCreated": 623,
                          "numPaymentsProcessed": 487,
                          "numPaymentsIncomplete": 136,
                          "numPaymentsWithRefunds": 273,
                          "numCardPresentPayments": 466,
                          "numCardNotPresentPayments": -330,
                          "totalCapturedAmount": 208140.35,
                          "totalRefundedAmount": 47550.18,
                          "totalNetCapturedAmount": 160590.17,
                          "averageNetCapturedAmount": 329.75,
                          "minNetCapturedAmount": 31.49,
                          "maxNetCapturedAmount": 6183.03
                        },
                        {
                          "intervalStart": "2026-02-26T00:00:00+00:00",
                          "intervalEnd": "2026-02-27T00:00:00+00:00",
                          "numPaymentsCreated": 483,
                          "numPaymentsProcessed": 480,
                          "numPaymentsIncomplete": 3,
                          "numPaymentsWithRefunds": 0,
                          "numCardPresentPayments": 371,
                          "numCardNotPresentPayments": -368,
                          "totalCapturedAmount": 497509.79,
                          "totalRefundedAmount": 142299,
                          "totalNetCapturedAmount": 355210.79,
                          "averageNetCapturedAmount": 740.02,
                          "minNetCapturedAmount": 56.27,
                          "maxNetCapturedAmount": 7669.08
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-02-20T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-02-21T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 114
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 87
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 27
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 33
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 74
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": -47
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 19290.35
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 2640.21
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 16650.14
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 191.38
                          },
                          "minNetCapturedAmount": {
                            "type": "number",
                            "example": 83.54
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 3316.67
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-02-20T00:00:00+00:00",
                    "periodEnd": "2026-02-27T00:00:00+00:00",
                    "activeCustomers": 131,
                    "newCustomers": 159,
                    "returningCustomers": -28,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-02-20T00:00:00+00:00",
                        "intervalEnd": "2026-02-21T00:00:00+00:00",
                        "activeCustomers": 32,
                        "newCustomers": 20,
                        "returningCustomers": 12
                      },
                      {
                        "intervalStart": "2026-02-21T00:00:00+00:00",
                        "intervalEnd": "2026-02-22T00:00:00+00:00",
                        "activeCustomers": 35,
                        "newCustomers": 14,
                        "returningCustomers": 21
                      },
                      {
                        "intervalStart": "2026-02-22T00:00:00+00:00",
                        "intervalEnd": "2026-02-23T00:00:00+00:00",
                        "activeCustomers": 95,
                        "newCustomers": 37,
                        "returningCustomers": 58
                      },
                      {
                        "intervalStart": "2026-02-23T00:00:00+00:00",
                        "intervalEnd": "2026-02-24T00:00:00+00:00",
                        "activeCustomers": 53,
                        "newCustomers": 5,
                        "returningCustomers": 48
                      },
                      {
                        "intervalStart": "2026-02-24T00:00:00+00:00",
                        "intervalEnd": "2026-02-25T00:00:00+00:00",
                        "activeCustomers": 64,
                        "newCustomers": 33,
                        "returningCustomers": 31
                      },
                      {
                        "intervalStart": "2026-02-25T00:00:00+00:00",
                        "intervalEnd": "2026-02-26T00:00:00+00:00",
                        "activeCustomers": 46,
                        "newCustomers": 42,
                        "returningCustomers": 4
                      },
                      {
                        "intervalStart": "2026-02-26T00:00:00+00:00",
                        "intervalEnd": "2026-02-27T00:00:00+00:00",
                        "activeCustomers": 18,
                        "newCustomers": 8,
                        "returningCustomers": 10
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-02-20T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-02-27T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 131
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 159
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": -28
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-02-20T00:00:00+00:00",
                          "intervalEnd": "2026-02-21T00:00:00+00:00",
                          "activeCustomers": 32,
                          "newCustomers": 20,
                          "returningCustomers": 12
                        },
                        {
                          "intervalStart": "2026-02-21T00:00:00+00:00",
                          "intervalEnd": "2026-02-22T00:00:00+00:00",
                          "activeCustomers": 35,
                          "newCustomers": 14,
                          "returningCustomers": 21
                        },
                        {
                          "intervalStart": "2026-02-22T00:00:00+00:00",
                          "intervalEnd": "2026-02-23T00:00:00+00:00",
                          "activeCustomers": 95,
                          "newCustomers": 37,
                          "returningCustomers": 58
                        },
                        {
                          "intervalStart": "2026-02-23T00:00:00+00:00",
                          "intervalEnd": "2026-02-24T00:00:00+00:00",
                          "activeCustomers": 53,
                          "newCustomers": 5,
                          "returningCustomers": 48
                        },
                        {
                          "intervalStart": "2026-02-24T00:00:00+00:00",
                          "intervalEnd": "2026-02-25T00:00:00+00:00",
                          "activeCustomers": 64,
                          "newCustomers": 33,
                          "returningCustomers": 31
                        },
                        {
                          "intervalStart": "2026-02-25T00:00:00+00:00",
                          "intervalEnd": "2026-02-26T00:00:00+00:00",
                          "activeCustomers": 46,
                          "newCustomers": 42,
                          "returningCustomers": 4
                        },
                        {
                          "intervalStart": "2026-02-26T00:00:00+00:00",
                          "intervalEnd": "2026-02-27T00:00:00+00:00",
                          "activeCustomers": 18,
                          "newCustomers": 8,
                          "returningCustomers": 10
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-02-20T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-02-21T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 32
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 20
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 12
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-02-20T00:00:00+00:00",
                    "periodEnd": "2026-02-27T00:00:00+00:00",
                    "totalTransactions": 3644,
                    "authorizeTransactions": 365,
                    "captureTransactions": 397,
                    "payTransactions": 1857,
                    "refundTransactions": 659,
                    "verifyTransactions": 214,
                    "voidTransactions": 152,
                    "successfulTransactions": 3276,
                    "failedTransactions": 284,
                    "declinedTransactions": 67,
                    "pendingTransactions": 17,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-02-20T00:00:00+00:00",
                        "intervalEnd": "2026-02-21T00:00:00+00:00",
                        "totalTransactions": 484,
                        "authorizeTransactions": 43,
                        "captureTransactions": 46,
                        "payTransactions": 69,
                        "refundTransactions": 182,
                        "verifyTransactions": 102,
                        "voidTransactions": 42,
                        "successfulTransactions": 435,
                        "failedTransactions": 38,
                        "declinedTransactions": 7,
                        "pendingTransactions": 4,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-02-21T00:00:00+00:00",
                        "intervalEnd": "2026-02-22T00:00:00+00:00",
                        "totalTransactions": 435,
                        "authorizeTransactions": 43,
                        "captureTransactions": 46,
                        "payTransactions": 338,
                        "refundTransactions": 6,
                        "verifyTransactions": 2,
                        "voidTransactions": 0,
                        "successfulTransactions": 391,
                        "failedTransactions": 33,
                        "declinedTransactions": 10,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-02-22T00:00:00+00:00",
                        "intervalEnd": "2026-02-23T00:00:00+00:00",
                        "totalTransactions": 521,
                        "authorizeTransactions": 35,
                        "captureTransactions": 36,
                        "payTransactions": 382,
                        "refundTransactions": 42,
                        "verifyTransactions": 17,
                        "voidTransactions": 9,
                        "successfulTransactions": 468,
                        "failedTransactions": 42,
                        "declinedTransactions": 10,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-02-23T00:00:00+00:00",
                        "intervalEnd": "2026-02-24T00:00:00+00:00",
                        "totalTransactions": 232,
                        "authorizeTransactions": 23,
                        "captureTransactions": 26,
                        "payTransactions": 182,
                        "refundTransactions": 5,
                        "verifyTransactions": 1,
                        "voidTransactions": -5,
                        "successfulTransactions": 208,
                        "failedTransactions": 17,
                        "declinedTransactions": 6,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-02-24T00:00:00+00:00",
                        "intervalEnd": "2026-02-25T00:00:00+00:00",
                        "totalTransactions": 920,
                        "authorizeTransactions": 99,
                        "captureTransactions": 109,
                        "payTransactions": 487,
                        "refundTransactions": 65,
                        "verifyTransactions": 59,
                        "voidTransactions": 101,
                        "successfulTransactions": 828,
                        "failedTransactions": 85,
                        "declinedTransactions": 1,
                        "pendingTransactions": 6,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-02-25T00:00:00+00:00",
                        "intervalEnd": "2026-02-26T00:00:00+00:00",
                        "totalTransactions": 562,
                        "authorizeTransactions": 68,
                        "captureTransactions": 76,
                        "payTransactions": 341,
                        "refundTransactions": 53,
                        "verifyTransactions": 21,
                        "voidTransactions": 3,
                        "successfulTransactions": 505,
                        "failedTransactions": 44,
                        "declinedTransactions": 12,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-02-26T00:00:00+00:00",
                        "intervalEnd": "2026-02-27T00:00:00+00:00",
                        "totalTransactions": 490,
                        "authorizeTransactions": 54,
                        "captureTransactions": 58,
                        "payTransactions": 58,
                        "refundTransactions": 306,
                        "verifyTransactions": 12,
                        "voidTransactions": 2,
                        "successfulTransactions": 441,
                        "failedTransactions": 25,
                        "declinedTransactions": 21,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-02-20T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-02-27T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 3644
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 365
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 397
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 1857
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 659
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 214
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 152
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 3276
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 284
                    },
                    "declinedTransactions": {
                      "type": "integer",
                      "example": 67
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 17
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-02-20T00:00:00+00:00",
                          "intervalEnd": "2026-02-21T00:00:00+00:00",
                          "totalTransactions": 484,
                          "authorizeTransactions": 43,
                          "captureTransactions": 46,
                          "payTransactions": 69,
                          "refundTransactions": 182,
                          "verifyTransactions": 102,
                          "voidTransactions": 42,
                          "successfulTransactions": 435,
                          "failedTransactions": 38,
                          "declinedTransactions": 7,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-02-21T00:00:00+00:00",
                          "intervalEnd": "2026-02-22T00:00:00+00:00",
                          "totalTransactions": 435,
                          "authorizeTransactions": 43,
                          "captureTransactions": 46,
                          "payTransactions": 338,
                          "refundTransactions": 6,
                          "verifyTransactions": 2,
                          "voidTransactions": 0,
                          "successfulTransactions": 391,
                          "failedTransactions": 33,
                          "declinedTransactions": 10,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-02-22T00:00:00+00:00",
                          "intervalEnd": "2026-02-23T00:00:00+00:00",
                          "totalTransactions": 521,
                          "authorizeTransactions": 35,
                          "captureTransactions": 36,
                          "payTransactions": 382,
                          "refundTransactions": 42,
                          "verifyTransactions": 17,
                          "voidTransactions": 9,
                          "successfulTransactions": 468,
                          "failedTransactions": 42,
                          "declinedTransactions": 10,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-02-23T00:00:00+00:00",
                          "intervalEnd": "2026-02-24T00:00:00+00:00",
                          "totalTransactions": 232,
                          "authorizeTransactions": 23,
                          "captureTransactions": 26,
                          "payTransactions": 182,
                          "refundTransactions": 5,
                          "verifyTransactions": 1,
                          "voidTransactions": -5,
                          "successfulTransactions": 208,
                          "failedTransactions": 17,
                          "declinedTransactions": 6,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-02-24T00:00:00+00:00",
                          "intervalEnd": "2026-02-25T00:00:00+00:00",
                          "totalTransactions": 920,
                          "authorizeTransactions": 99,
                          "captureTransactions": 109,
                          "payTransactions": 487,
                          "refundTransactions": 65,
                          "verifyTransactions": 59,
                          "voidTransactions": 101,
                          "successfulTransactions": 828,
                          "failedTransactions": 85,
                          "declinedTransactions": 1,
                          "pendingTransactions": 6,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-02-25T00:00:00+00:00",
                          "intervalEnd": "2026-02-26T00:00:00+00:00",
                          "totalTransactions": 562,
                          "authorizeTransactions": 68,
                          "captureTransactions": 76,
                          "payTransactions": 341,
                          "refundTransactions": 53,
                          "verifyTransactions": 21,
                          "voidTransactions": 3,
                          "successfulTransactions": 505,
                          "failedTransactions": 44,
                          "declinedTransactions": 12,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-02-26T00:00:00+00:00",
                          "intervalEnd": "2026-02-27T00:00:00+00:00",
                          "totalTransactions": 490,
                          "authorizeTransactions": 54,
                          "captureTransactions": 58,
                          "payTransactions": 58,
                          "refundTransactions": 306,
                          "verifyTransactions": 12,
                          "voidTransactions": 2,
                          "successfulTransactions": 441,
                          "failedTransactions": 25,
                          "declinedTransactions": 21,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-02-20T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-02-21T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 484
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 43
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 46
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 69
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 182
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 102
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": 42
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 435
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 38
                          },
                          "declinedTransactions": {
                            "type": "integer",
                            "example": 7
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 4
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-02-20T00:00:00+00:00",
                    "periodEnd": "2026-02-27T00:00:00+00:00",
                    "totalSettlementAmount": 17364.72,
                    "totalFeeAmount": 850.87128,
                    "totalNetAmount": 16513.84872,
                    "totalTransactionsPending": 189,
                    "totalTransactionsSettled": 416,
                    "totalTransactionsSettling": 650,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-02-20T00:00:00+00:00",
                        "intervalEnd": "2026-02-21T00:00:00+00:00",
                        "totalSettlementAmount": 6301.42,
                        "totalFeeAmount": 308.76958,
                        "totalNetAmount": 5992.65042,
                        "totalTransactionsPending": 38,
                        "totalTransactionsSettled": 64,
                        "totalTransactionsSettling": 54
                      },
                      {
                        "intervalStart": "2026-02-21T00:00:00+00:00",
                        "intervalEnd": "2026-02-22T00:00:00+00:00",
                        "totalSettlementAmount": 1843.09,
                        "totalFeeAmount": 90.31141,
                        "totalNetAmount": 1752.77859,
                        "totalTransactionsPending": 22,
                        "totalTransactionsSettled": 36,
                        "totalTransactionsSettling": 152
                      },
                      {
                        "intervalStart": "2026-02-22T00:00:00+00:00",
                        "intervalEnd": "2026-02-23T00:00:00+00:00",
                        "totalSettlementAmount": 1497.53,
                        "totalFeeAmount": 73.37897,
                        "totalNetAmount": 1424.15103,
                        "totalTransactionsPending": 11,
                        "totalTransactionsSettled": 129,
                        "totalTransactionsSettling": 94
                      },
                      {
                        "intervalStart": "2026-02-23T00:00:00+00:00",
                        "intervalEnd": "2026-02-24T00:00:00+00:00",
                        "totalSettlementAmount": 3484.94,
                        "totalFeeAmount": 170.76206,
                        "totalNetAmount": 3314.17794,
                        "totalTransactionsPending": 39,
                        "totalTransactionsSettled": 66,
                        "totalTransactionsSettling": 50
                      },
                      {
                        "intervalStart": "2026-02-24T00:00:00+00:00",
                        "intervalEnd": "2026-02-25T00:00:00+00:00",
                        "totalSettlementAmount": 1358.4,
                        "totalFeeAmount": 66.5616,
                        "totalNetAmount": 1291.8384,
                        "totalTransactionsPending": 21,
                        "totalTransactionsSettled": 48,
                        "totalTransactionsSettling": 130
                      },
                      {
                        "intervalStart": "2026-02-25T00:00:00+00:00",
                        "intervalEnd": "2026-02-26T00:00:00+00:00",
                        "totalSettlementAmount": 2284.19,
                        "totalFeeAmount": 111.92531,
                        "totalNetAmount": 2172.26469,
                        "totalTransactionsPending": 36,
                        "totalTransactionsSettled": 40,
                        "totalTransactionsSettling": 106
                      },
                      {
                        "intervalStart": "2026-02-26T00:00:00+00:00",
                        "intervalEnd": "2026-02-27T00:00:00+00:00",
                        "totalSettlementAmount": 595.15,
                        "totalFeeAmount": 29.16235,
                        "totalNetAmount": 565.98765,
                        "totalTransactionsPending": 22,
                        "totalTransactionsSettled": 33,
                        "totalTransactionsSettling": 64
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-02-20T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-02-27T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 17364.72
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 850.87128
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 16513.84872
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 189
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 416
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 650
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-02-20T00:00:00+00:00",
                          "intervalEnd": "2026-02-21T00:00:00+00:00",
                          "totalSettlementAmount": 6301.42,
                          "totalFeeAmount": 308.76958,
                          "totalNetAmount": 5992.65042,
                          "totalTransactionsPending": 38,
                          "totalTransactionsSettled": 64,
                          "totalTransactionsSettling": 54
                        },
                        {
                          "intervalStart": "2026-02-21T00:00:00+00:00",
                          "intervalEnd": "2026-02-22T00:00:00+00:00",
                          "totalSettlementAmount": 1843.09,
                          "totalFeeAmount": 90.31141,
                          "totalNetAmount": 1752.77859,
                          "totalTransactionsPending": 22,
                          "totalTransactionsSettled": 36,
                          "totalTransactionsSettling": 152
                        },
                        {
                          "intervalStart": "2026-02-22T00:00:00+00:00",
                          "intervalEnd": "2026-02-23T00:00:00+00:00",
                          "totalSettlementAmount": 1497.53,
                          "totalFeeAmount": 73.37897,
                          "totalNetAmount": 1424.15103,
                          "totalTransactionsPending": 11,
                          "totalTransactionsSettled": 129,
                          "totalTransactionsSettling": 94
                        },
                        {
                          "intervalStart": "2026-02-23T00:00:00+00:00",
                          "intervalEnd": "2026-02-24T00:00:00+00:00",
                          "totalSettlementAmount": 3484.94,
                          "totalFeeAmount": 170.76206,
                          "totalNetAmount": 3314.17794,
                          "totalTransactionsPending": 39,
                          "totalTransactionsSettled": 66,
                          "totalTransactionsSettling": 50
                        },
                        {
                          "intervalStart": "2026-02-24T00:00:00+00:00",
                          "intervalEnd": "2026-02-25T00:00:00+00:00",
                          "totalSettlementAmount": 1358.4,
                          "totalFeeAmount": 66.5616,
                          "totalNetAmount": 1291.8384,
                          "totalTransactionsPending": 21,
                          "totalTransactionsSettled": 48,
                          "totalTransactionsSettling": 130
                        },
                        {
                          "intervalStart": "2026-02-25T00:00:00+00:00",
                          "intervalEnd": "2026-02-26T00:00:00+00:00",
                          "totalSettlementAmount": 2284.19,
                          "totalFeeAmount": 111.92531,
                          "totalNetAmount": 2172.26469,
                          "totalTransactionsPending": 36,
                          "totalTransactionsSettled": 40,
                          "totalTransactionsSettling": 106
                        },
                        {
                          "intervalStart": "2026-02-26T00:00:00+00:00",
                          "intervalEnd": "2026-02-27T00:00:00+00:00",
                          "totalSettlementAmount": 595.15,
                          "totalFeeAmount": 29.16235,
                          "totalNetAmount": 565.98765,
                          "totalTransactionsPending": 22,
                          "totalTransactionsSettled": 33,
                          "totalTransactionsSettling": 64
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-02-20T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-02-21T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 6301.42
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 308.76958
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 5992.65042
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 38
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 64
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 54
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 9,
                    "data": [
                      {
                        "email": "curtis.wolff@yahoo.com",
                        "firstName": "Jorge",
                        "lastName": "Daniel",
                        "phone": "+13612708899",
                        "dateOfBirth": "1976-12-19"
                      },
                      {
                        "email": "isidro35@hotmail.com",
                        "firstName": "Eliza",
                        "lastName": "Rice",
                        "phone": "+15409675342",
                        "dateOfBirth": "2005-08-14"
                      },
                      {
                        "email": "agutmann@gmail.com",
                        "firstName": "Elmer",
                        "lastName": "Hettinger",
                        "phone": "+14587337580",
                        "dateOfBirth": "1998-12-05"
                      },
                      {
                        "email": "farrell.eve@yahoo.com",
                        "firstName": "Charles",
                        "lastName": "Ruecker",
                        "phone": "+16519954441",
                        "dateOfBirth": "2000-04-27"
                      },
                      {
                        "email": "xzavier97@gmail.com",
                        "firstName": "Berneice",
                        "lastName": "Bashirian",
                        "phone": "+19717914911",
                        "dateOfBirth": "1997-07-02"
                      },
                      {
                        "email": "sharon.brekke@yahoo.com",
                        "firstName": "Georgiana",
                        "lastName": "Koelpin",
                        "phone": "+15634147745",
                        "dateOfBirth": "1997-07-27"
                      },
                      {
                        "email": "cale.reilly@hartmann.biz",
                        "firstName": "Henderson",
                        "lastName": "Davis",
                        "phone": "+12815953398",
                        "dateOfBirth": "1989-08-03"
                      },
                      {
                        "email": "skozey@huels.com",
                        "firstName": "Lon",
                        "lastName": "Jacobs",
                        "phone": "+14583719458",
                        "dateOfBirth": "2006-05-12"
                      },
                      {
                        "email": "mina.sipes@hotmail.com",
                        "firstName": "Amir",
                        "lastName": "Huels",
                        "phone": "+12319476923",
                        "dateOfBirth": "2004-10-30"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 9,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "curtis.wolff@yahoo.com",
                          "firstName": "Jorge",
                          "lastName": "Daniel",
                          "phone": "+13612708899",
                          "dateOfBirth": "1976-12-19"
                        },
                        {
                          "email": "isidro35@hotmail.com",
                          "firstName": "Eliza",
                          "lastName": "Rice",
                          "phone": "+15409675342",
                          "dateOfBirth": "2005-08-14"
                        },
                        {
                          "email": "agutmann@gmail.com",
                          "firstName": "Elmer",
                          "lastName": "Hettinger",
                          "phone": "+14587337580",
                          "dateOfBirth": "1998-12-05"
                        },
                        {
                          "email": "farrell.eve@yahoo.com",
                          "firstName": "Charles",
                          "lastName": "Ruecker",
                          "phone": "+16519954441",
                          "dateOfBirth": "2000-04-27"
                        },
                        {
                          "email": "xzavier97@gmail.com",
                          "firstName": "Berneice",
                          "lastName": "Bashirian",
                          "phone": "+19717914911",
                          "dateOfBirth": "1997-07-02"
                        },
                        {
                          "email": "sharon.brekke@yahoo.com",
                          "firstName": "Georgiana",
                          "lastName": "Koelpin",
                          "phone": "+15634147745",
                          "dateOfBirth": "1997-07-27"
                        },
                        {
                          "email": "cale.reilly@hartmann.biz",
                          "firstName": "Henderson",
                          "lastName": "Davis",
                          "phone": "+12815953398",
                          "dateOfBirth": "1989-08-03"
                        },
                        {
                          "email": "skozey@huels.com",
                          "firstName": "Lon",
                          "lastName": "Jacobs",
                          "phone": "+14583719458",
                          "dateOfBirth": "2006-05-12"
                        },
                        {
                          "email": "mina.sipes@hotmail.com",
                          "firstName": "Amir",
                          "lastName": "Huels",
                          "phone": "+12319476923",
                          "dateOfBirth": "2004-10-30"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "curtis.wolff@yahoo.com"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Jorge"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Daniel"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+13612708899"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "1976-12-19"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers/{customerIdOrEmail}/addresses": {
      "get": {
        "summary": "List Customer Billing Addresses",
        "operationId": "listCustomerBillingAddresses",
        "description": "Returns all unique billing addresses that have been used by a customer across their payments.\nAddresses are deduplicated using case-insensitive and whitespace-insensitive comparison.",
        "parameters": [
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
            "example": "-city",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
              "example": "-city",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of unique billing addresses for the customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "company": "Green-Prosacco",
                        "street": "39006 Alf Plain",
                        "city": "Craigtown",
                        "stateProvince": "FL",
                        "postcodeZip": "56421-7629",
                        "country": "USA"
                      },
                      {
                        "company": "Mayert, Schroeder and Kub",
                        "street": "354 Ruecker Square",
                        "city": "West Kaitlyn",
                        "stateProvince": "MA",
                        "postcodeZip": "66799-2828",
                        "country": "USA"
                      },
                      {
                        "company": "Wiza and Sons",
                        "street": "17991 Oberbrunner Fork Apt. 366",
                        "city": "West Annaliseberg",
                        "stateProvince": "TN",
                        "postcodeZip": "69225-8873",
                        "country": "USA"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "company": "Green-Prosacco",
                          "street": "39006 Alf Plain",
                          "city": "Craigtown",
                          "stateProvince": "FL",
                          "postcodeZip": "56421-7629",
                          "country": "USA"
                        },
                        {
                          "company": "Mayert, Schroeder and Kub",
                          "street": "354 Ruecker Square",
                          "city": "West Kaitlyn",
                          "stateProvince": "MA",
                          "postcodeZip": "66799-2828",
                          "country": "USA"
                        },
                        {
                          "company": "Wiza and Sons",
                          "street": "17991 Oberbrunner Fork Apt. 366",
                          "city": "West Annaliseberg",
                          "stateProvince": "TN",
                          "postcodeZip": "69225-8873",
                          "country": "USA"
                        }
                      ],
                      "description": "The data returned from the request",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "company": {
                            "type": "string",
                            "example": "Green-Prosacco"
                          },
                          "street": {
                            "type": "string",
                            "example": "39006 Alf Plain"
                          },
                          "city": {
                            "type": "string",
                            "example": "Craigtown"
                          },
                          "stateProvince": {
                            "type": "string",
                            "example": "FL"
[...]
