{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.63.0"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payout Exports",
      "description": "Create payout exports"
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-10T00:00:00+00:00",
                    "periodEnd": "2026-04-17T00:00:00+00:00",
                    "numPaymentsCreated": 4039,
                    "numPaymentsProcessed": 2884,
                    "numPaymentsIncomplete": 1155,
                    "numPaymentsWithRefunds": 811,
                    "numCardPresentPayments": 989,
                    "numCardNotPresentPayments": 166,
                    "totalCapturedAmount": 2836875.41,
                    "totalRefundedAmount": 311717.87,
                    "totalNetCapturedAmount": 2525157.54,
                    "averageNetCapturedAmount": 1085.37,
                    "minNetCapturedAmount": 10.27,
                    "maxNetCapturedAmount": 8475.21,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-10T00:00:00+00:00",
                        "intervalEnd": "2026-04-11T00:00:00+00:00",
                        "numPaymentsCreated": 528,
                        "numPaymentsProcessed": 183,
                        "numPaymentsIncomplete": 345,
                        "numPaymentsWithRefunds": 77,
                        "numCardPresentPayments": 62,
                        "numCardNotPresentPayments": 283,
                        "totalCapturedAmount": 457587.51,
                        "totalRefundedAmount": 59834.01,
                        "totalNetCapturedAmount": 397753.5,
                        "averageNetCapturedAmount": 2173.52,
                        "minNetCapturedAmount": 72.43,
                        "maxNetCapturedAmount": 1748.64
                      },
                      {
                        "intervalStart": "2026-04-11T00:00:00+00:00",
                        "intervalEnd": "2026-04-12T00:00:00+00:00",
                        "numPaymentsCreated": 387,
                        "numPaymentsProcessed": 198,
                        "numPaymentsIncomplete": 189,
                        "numPaymentsWithRefunds": 178,
                        "numCardPresentPayments": 102,
                        "numCardNotPresentPayments": 87,
                        "totalCapturedAmount": 279559.85,
                        "totalRefundedAmount": 46394.12,
                        "totalNetCapturedAmount": 233165.73,
                        "averageNetCapturedAmount": 1177.6,
                        "minNetCapturedAmount": 10.27,
                        "maxNetCapturedAmount": 8287.14
                      },
                      {
                        "intervalStart": "2026-04-12T00:00:00+00:00",
                        "intervalEnd": "2026-04-13T00:00:00+00:00",
                        "numPaymentsCreated": 707,
                        "numPaymentsProcessed": 501,
                        "numPaymentsIncomplete": 206,
                        "numPaymentsWithRefunds": 25,
                        "numCardPresentPayments": 84,
                        "numCardNotPresentPayments": 122,
                        "totalCapturedAmount": 126838.74,
                        "totalRefundedAmount": 7774.55,
                        "totalNetCapturedAmount": 119064.19,
                        "averageNetCapturedAmount": 237.65,
                        "minNetCapturedAmount": 31.82,
                        "maxNetCapturedAmount": 4564.82
                      },
                      {
                        "intervalStart": "2026-04-13T00:00:00+00:00",
                        "intervalEnd": "2026-04-14T00:00:00+00:00",
                        "numPaymentsCreated": 200,
                        "numPaymentsProcessed": 157,
                        "numPaymentsIncomplete": 43,
                        "numPaymentsWithRefunds": 137,
                        "numCardPresentPayments": 128,
                        "numCardNotPresentPayments": -85,
                        "totalCapturedAmount": 81310.89,
                        "totalRefundedAmount": 4505.13,
                        "totalNetCapturedAmount": 76805.76,
                        "averageNetCapturedAmount": 489.21,
                        "minNetCapturedAmount": 78.25,
                        "maxNetCapturedAmount": 8475.21
                      },
                      {
                        "intervalStart": "2026-04-14T00:00:00+00:00",
                        "intervalEnd": "2026-04-15T00:00:00+00:00",
                        "numPaymentsCreated": 589,
                        "numPaymentsProcessed": 462,
                        "numPaymentsIncomplete": 127,
                        "numPaymentsWithRefunds": 111,
                        "numCardPresentPayments": 232,
                        "numCardNotPresentPayments": -105,
                        "totalCapturedAmount": 778709.69,
                        "totalRefundedAmount": 38683.46,
                        "totalNetCapturedAmount": 740026.23,
                        "averageNetCapturedAmount": 1601.79,
                        "minNetCapturedAmount": 22.52,
                        "maxNetCapturedAmount": 6475.96
                      },
                      {
                        "intervalStart": "2026-04-15T00:00:00+00:00",
                        "intervalEnd": "2026-04-16T00:00:00+00:00",
                        "numPaymentsCreated": 938,
                        "numPaymentsProcessed": 921,
                        "numPaymentsIncomplete": 17,
                        "numPaymentsWithRefunds": 188,
                        "numCardPresentPayments": 364,
                        "numCardNotPresentPayments": -347,
                        "totalCapturedAmount": 169052.36,
                        "totalRefundedAmount": 23952.95,
                        "totalNetCapturedAmount": 145099.41,
                        "averageNetCapturedAmount": 157.55,
                        "minNetCapturedAmount": 73.58,
                        "maxNetCapturedAmount": 1785.25
                      },
                      {
                        "intervalStart": "2026-04-16T00:00:00+00:00",
                        "intervalEnd": "2026-04-17T00:00:00+00:00",
                        "numPaymentsCreated": 690,
                        "numPaymentsProcessed": 462,
                        "numPaymentsIncomplete": 228,
                        "numPaymentsWithRefunds": 95,
                        "numCardPresentPayments": 17,
                        "numCardNotPresentPayments": 211,
                        "totalCapturedAmount": 943816.37,
                        "totalRefundedAmount": 130573.65,
                        "totalNetCapturedAmount": 813242.72,
                        "averageNetCapturedAmount": 1760.27,
                        "minNetCapturedAmount": 59.52,
                        "maxNetCapturedAmount": 7540.65
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-10T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-17T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 4039
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 2884
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 1155
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 811
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 989
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": 166
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 2836875.41
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 311717.87
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 2525157.54
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 1085.37
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 10.27
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 8475.21
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-10T00:00:00+00:00",
                          "intervalEnd": "2026-04-11T00:00:00+00:00",
                          "numPaymentsCreated": 528,
                          "numPaymentsProcessed": 183,
                          "numPaymentsIncomplete": 345,
                          "numPaymentsWithRefunds": 77,
                          "numCardPresentPayments": 62,
                          "numCardNotPresentPayments": 283,
                          "totalCapturedAmount": 457587.51,
                          "totalRefundedAmount": 59834.01,
                          "totalNetCapturedAmount": 397753.5,
                          "averageNetCapturedAmount": 2173.52,
                          "minNetCapturedAmount": 72.43,
                          "maxNetCapturedAmount": 1748.64
                        },
                        {
                          "intervalStart": "2026-04-11T00:00:00+00:00",
                          "intervalEnd": "2026-04-12T00:00:00+00:00",
                          "numPaymentsCreated": 387,
                          "numPaymentsProcessed": 198,
                          "numPaymentsIncomplete": 189,
                          "numPaymentsWithRefunds": 178,
                          "numCardPresentPayments": 102,
                          "numCardNotPresentPayments": 87,
                          "totalCapturedAmount": 279559.85,
                          "totalRefundedAmount": 46394.12,
                          "totalNetCapturedAmount": 233165.73,
                          "averageNetCapturedAmount": 1177.6,
                          "minNetCapturedAmount": 10.27,
                          "maxNetCapturedAmount": 8287.14
                        },
                        {
                          "intervalStart": "2026-04-12T00:00:00+00:00",
                          "intervalEnd": "2026-04-13T00:00:00+00:00",
                          "numPaymentsCreated": 707,
                          "numPaymentsProcessed": 501,
                          "numPaymentsIncomplete": 206,
                          "numPaymentsWithRefunds": 25,
                          "numCardPresentPayments": 84,
                          "numCardNotPresentPayments": 122,
                          "totalCapturedAmount": 126838.74,
                          "totalRefundedAmount": 7774.55,
                          "totalNetCapturedAmount": 119064.19,
                          "averageNetCapturedAmount": 237.65,
                          "minNetCapturedAmount": 31.82,
                          "maxNetCapturedAmount": 4564.82
                        },
                        {
                          "intervalStart": "2026-04-13T00:00:00+00:00",
                          "intervalEnd": "2026-04-14T00:00:00+00:00",
                          "numPaymentsCreated": 200,
                          "numPaymentsProcessed": 157,
                          "numPaymentsIncomplete": 43,
                          "numPaymentsWithRefunds": 137,
                          "numCardPresentPayments": 128,
                          "numCardNotPresentPayments": -85,
                          "totalCapturedAmount": 81310.89,
                          "totalRefundedAmount": 4505.13,
                          "totalNetCapturedAmount": 76805.76,
                          "averageNetCapturedAmount": 489.21,
                          "minNetCapturedAmount": 78.25,
                          "maxNetCapturedAmount": 8475.21
                        },
                        {
                          "intervalStart": "2026-04-14T00:00:00+00:00",
                          "intervalEnd": "2026-04-15T00:00:00+00:00",
                          "numPaymentsCreated": 589,
                          "numPaymentsProcessed": 462,
                          "numPaymentsIncomplete": 127,
                          "numPaymentsWithRefunds": 111,
                          "numCardPresentPayments": 232,
                          "numCardNotPresentPayments": -105,
                          "totalCapturedAmount": 778709.69,
                          "totalRefundedAmount": 38683.46,
                          "totalNetCapturedAmount": 740026.23,
                          "averageNetCapturedAmount": 1601.79,
                          "minNetCapturedAmount": 22.52,
                          "maxNetCapturedAmount": 6475.96
                        },
                        {
                          "intervalStart": "2026-04-15T00:00:00+00:00",
                          "intervalEnd": "2026-04-16T00:00:00+00:00",
                          "numPaymentsCreated": 938,
                          "numPaymentsProcessed": 921,
                          "numPaymentsIncomplete": 17,
                          "numPaymentsWithRefunds": 188,
                          "numCardPresentPayments": 364,
                          "numCardNotPresentPayments": -347,
                          "totalCapturedAmount": 169052.36,
                          "totalRefundedAmount": 23952.95,
                          "totalNetCapturedAmount": 145099.41,
                          "averageNetCapturedAmount": 157.55,
                          "minNetCapturedAmount": 73.58,
                          "maxNetCapturedAmount": 1785.25
                        },
                        {
                          "intervalStart": "2026-04-16T00:00:00+00:00",
                          "intervalEnd": "2026-04-17T00:00:00+00:00",
                          "numPaymentsCreated": 690,
                          "numPaymentsProcessed": 462,
                          "numPaymentsIncomplete": 228,
                          "numPaymentsWithRefunds": 95,
                          "numCardPresentPayments": 17,
                          "numCardNotPresentPayments": 211,
                          "totalCapturedAmount": 943816.37,
                          "totalRefundedAmount": 130573.65,
                          "totalNetCapturedAmount": 813242.72,
                          "averageNetCapturedAmount": 1760.27,
                          "minNetCapturedAmount": 59.52,
                          "maxNetCapturedAmount": 7540.65
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-10T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-11T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 528
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 183
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 345
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 77
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 62
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": 283
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 457587.51
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 59834.01
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 397753.5
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 2173.52
                          },
                          "minNetCapturedAmount": {
                            "type": "number",
                            "example": 72.43
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 1748.64
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-10T00:00:00+00:00",
                    "periodEnd": "2026-04-17T00:00:00+00:00",
                    "activeCustomers": 106,
                    "newCustomers": 172,
                    "returningCustomers": -66,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-10T00:00:00+00:00",
                        "intervalEnd": "2026-04-11T00:00:00+00:00",
                        "activeCustomers": 81,
                        "newCustomers": 14,
                        "returningCustomers": 67
                      },
                      {
                        "intervalStart": "2026-04-11T00:00:00+00:00",
                        "intervalEnd": "2026-04-12T00:00:00+00:00",
                        "activeCustomers": 95,
                        "newCustomers": 32,
                        "returningCustomers": 63
                      },
                      {
                        "intervalStart": "2026-04-12T00:00:00+00:00",
                        "intervalEnd": "2026-04-13T00:00:00+00:00",
                        "activeCustomers": 74,
                        "newCustomers": 24,
                        "returningCustomers": 50
                      },
                      {
                        "intervalStart": "2026-04-13T00:00:00+00:00",
                        "intervalEnd": "2026-04-14T00:00:00+00:00",
                        "activeCustomers": 46,
                        "newCustomers": 32,
                        "returningCustomers": 14
                      },
                      {
                        "intervalStart": "2026-04-14T00:00:00+00:00",
                        "intervalEnd": "2026-04-15T00:00:00+00:00",
                        "activeCustomers": 20,
                        "newCustomers": 5,
                        "returningCustomers": 15
                      },
                      {
                        "intervalStart": "2026-04-15T00:00:00+00:00",
                        "intervalEnd": "2026-04-16T00:00:00+00:00",
                        "activeCustomers": 36,
                        "newCustomers": 11,
                        "returningCustomers": 25
                      },
                      {
                        "intervalStart": "2026-04-16T00:00:00+00:00",
                        "intervalEnd": "2026-04-17T00:00:00+00:00",
                        "activeCustomers": 75,
                        "newCustomers": 54,
                        "returningCustomers": 21
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-10T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-17T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 106
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 172
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": -66
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-10T00:00:00+00:00",
                          "intervalEnd": "2026-04-11T00:00:00+00:00",
                          "activeCustomers": 81,
                          "newCustomers": 14,
                          "returningCustomers": 67
                        },
                        {
                          "intervalStart": "2026-04-11T00:00:00+00:00",
                          "intervalEnd": "2026-04-12T00:00:00+00:00",
                          "activeCustomers": 95,
                          "newCustomers": 32,
                          "returningCustomers": 63
                        },
                        {
                          "intervalStart": "2026-04-12T00:00:00+00:00",
                          "intervalEnd": "2026-04-13T00:00:00+00:00",
                          "activeCustomers": 74,
                          "newCustomers": 24,
                          "returningCustomers": 50
                        },
                        {
                          "intervalStart": "2026-04-13T00:00:00+00:00",
                          "intervalEnd": "2026-04-14T00:00:00+00:00",
                          "activeCustomers": 46,
                          "newCustomers": 32,
                          "returningCustomers": 14
                        },
                        {
                          "intervalStart": "2026-04-14T00:00:00+00:00",
                          "intervalEnd": "2026-04-15T00:00:00+00:00",
                          "activeCustomers": 20,
                          "newCustomers": 5,
                          "returningCustomers": 15
                        },
                        {
                          "intervalStart": "2026-04-15T00:00:00+00:00",
                          "intervalEnd": "2026-04-16T00:00:00+00:00",
                          "activeCustomers": 36,
                          "newCustomers": 11,
                          "returningCustomers": 25
                        },
                        {
                          "intervalStart": "2026-04-16T00:00:00+00:00",
                          "intervalEnd": "2026-04-17T00:00:00+00:00",
                          "activeCustomers": 75,
                          "newCustomers": 54,
                          "returningCustomers": 21
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-10T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-11T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 81
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 14
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 67
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-10T00:00:00+00:00",
                    "periodEnd": "2026-04-17T00:00:00+00:00",
                    "totalTransactions": 3487,
                    "authorizeTransactions": 210,
                    "captureTransactions": 254,
                    "payTransactions": 1440,
                    "refundTransactions": 622,
                    "verifyTransactions": 269,
                    "voidTransactions": 692,
                    "successfulTransactions": 3133,
                    "failedTransactions": 261,
                    "declinedTransactions": 74,
                    "pendingTransactions": 19,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-10T00:00:00+00:00",
                        "intervalEnd": "2026-04-11T00:00:00+00:00",
                        "totalTransactions": 805,
                        "authorizeTransactions": 24,
                        "captureTransactions": 32,
                        "payTransactions": 676,
                        "refundTransactions": 5,
                        "verifyTransactions": 25,
                        "voidTransactions": 43,
                        "successfulTransactions": 724,
                        "failedTransactions": 69,
                        "declinedTransactions": 6,
                        "pendingTransactions": 6,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-11T00:00:00+00:00",
                        "intervalEnd": "2026-04-12T00:00:00+00:00",
                        "totalTransactions": 622,
                        "authorizeTransactions": 23,
                        "captureTransactions": 29,
                        "payTransactions": 292,
                        "refundTransactions": 277,
                        "verifyTransactions": 5,
                        "voidTransactions": -4,
                        "successfulTransactions": 559,
                        "failedTransactions": 56,
                        "declinedTransactions": 5,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-12T00:00:00+00:00",
                        "intervalEnd": "2026-04-13T00:00:00+00:00",
                        "totalTransactions": 233,
                        "authorizeTransactions": 27,
                        "captureTransactions": 30,
                        "payTransactions": 53,
                        "refundTransactions": 11,
                        "verifyTransactions": 47,
                        "voidTransactions": 65,
                        "successfulTransactions": 209,
                        "failedTransactions": 19,
                        "declinedTransactions": 4,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-13T00:00:00+00:00",
                        "intervalEnd": "2026-04-14T00:00:00+00:00",
                        "totalTransactions": 193,
                        "authorizeTransactions": 18,
                        "captureTransactions": 28,
                        "payTransactions": 72,
                        "refundTransactions": 18,
                        "verifyTransactions": 30,
                        "voidTransactions": 27,
                        "successfulTransactions": 173,
                        "failedTransactions": 18,
                        "declinedTransactions": 1,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-14T00:00:00+00:00",
                        "intervalEnd": "2026-04-15T00:00:00+00:00",
                        "totalTransactions": 221,
                        "authorizeTransactions": 21,
                        "captureTransactions": 31,
                        "payTransactions": 137,
                        "refundTransactions": 17,
                        "verifyTransactions": 5,
                        "voidTransactions": 10,
                        "successfulTransactions": 198,
                        "failedTransactions": 15,
                        "declinedTransactions": 6,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-15T00:00:00+00:00",
                        "intervalEnd": "2026-04-16T00:00:00+00:00",
                        "totalTransactions": 702,
                        "authorizeTransactions": 10,
                        "captureTransactions": 14,
                        "payTransactions": 98,
                        "refundTransactions": 275,
                        "verifyTransactions": 130,
                        "voidTransactions": 175,
                        "successfulTransactions": 631,
                        "failedTransactions": 41,
                        "declinedTransactions": 27,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-16T00:00:00+00:00",
                        "intervalEnd": "2026-04-17T00:00:00+00:00",
                        "totalTransactions": 711,
                        "authorizeTransactions": 87,
                        "captureTransactions": 90,
                        "payTransactions": 112,
                        "refundTransactions": 19,
                        "verifyTransactions": 27,
                        "voidTransactions": 376,
                        "successfulTransactions": 639,
                        "failedTransactions": 43,
                        "declinedTransactions": 25,
                        "pendingTransactions": 4,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-10T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-17T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 3487
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 210
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 254
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 1440
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 622
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 269
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 692
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 3133
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 261
                    },
                    "declinedTransactions": {
                      "type": "integer",
                      "example": 74
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 19
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-10T00:00:00+00:00",
                          "intervalEnd": "2026-04-11T00:00:00+00:00",
                          "totalTransactions": 805,
                          "authorizeTransactions": 24,
                          "captureTransactions": 32,
                          "payTransactions": 676,
                          "refundTransactions": 5,
                          "verifyTransactions": 25,
                          "voidTransactions": 43,
                          "successfulTransactions": 724,
                          "failedTransactions": 69,
                          "declinedTransactions": 6,
                          "pendingTransactions": 6,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-11T00:00:00+00:00",
                          "intervalEnd": "2026-04-12T00:00:00+00:00",
                          "totalTransactions": 622,
                          "authorizeTransactions": 23,
                          "captureTransactions": 29,
                          "payTransactions": 292,
                          "refundTransactions": 277,
                          "verifyTransactions": 5,
                          "voidTransactions": -4,
                          "successfulTransactions": 559,
                          "failedTransactions": 56,
                          "declinedTransactions": 5,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-12T00:00:00+00:00",
                          "intervalEnd": "2026-04-13T00:00:00+00:00",
                          "totalTransactions": 233,
                          "authorizeTransactions": 27,
                          "captureTransactions": 30,
                          "payTransactions": 53,
                          "refundTransactions": 11,
                          "verifyTransactions": 47,
                          "voidTransactions": 65,
                          "successfulTransactions": 209,
                          "failedTransactions": 19,
                          "declinedTransactions": 4,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-13T00:00:00+00:00",
                          "intervalEnd": "2026-04-14T00:00:00+00:00",
                          "totalTransactions": 193,
                          "authorizeTransactions": 18,
                          "captureTransactions": 28,
                          "payTransactions": 72,
                          "refundTransactions": 18,
                          "verifyTransactions": 30,
                          "voidTransactions": 27,
                          "successfulTransactions": 173,
                          "failedTransactions": 18,
                          "declinedTransactions": 1,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-14T00:00:00+00:00",
                          "intervalEnd": "2026-04-15T00:00:00+00:00",
                          "totalTransactions": 221,
                          "authorizeTransactions": 21,
                          "captureTransactions": 31,
                          "payTransactions": 137,
                          "refundTransactions": 17,
                          "verifyTransactions": 5,
                          "voidTransactions": 10,
                          "successfulTransactions": 198,
                          "failedTransactions": 15,
                          "declinedTransactions": 6,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-15T00:00:00+00:00",
                          "intervalEnd": "2026-04-16T00:00:00+00:00",
                          "totalTransactions": 702,
                          "authorizeTransactions": 10,
                          "captureTransactions": 14,
                          "payTransactions": 98,
                          "refundTransactions": 275,
                          "verifyTransactions": 130,
                          "voidTransactions": 175,
                          "successfulTransactions": 631,
                          "failedTransactions": 41,
                          "declinedTransactions": 27,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-16T00:00:00+00:00",
                          "intervalEnd": "2026-04-17T00:00:00+00:00",
                          "totalTransactions": 711,
                          "authorizeTransactions": 87,
                          "captureTransactions": 90,
                          "payTransactions": 112,
                          "refundTransactions": 19,
                          "verifyTransactions": 27,
                          "voidTransactions": 376,
                          "successfulTransactions": 639,
                          "failedTransactions": 43,
                          "declinedTransactions": 25,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-10T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-11T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 805
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 24
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 32
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 676
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 5
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 25
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": 43
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 724
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 69
                          },
                          "declinedTransactions": {
                            "type": "integer",
                            "example": 6
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 6
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-10T00:00:00+00:00",
                    "periodEnd": "2026-04-17T00:00:00+00:00",
                    "totalSettlementAmount": 45419.44,
                    "totalFeeAmount": 2225.55256,
                    "totalNetAmount": 43193.88744,
                    "totalTransactionsPending": 165,
                    "totalTransactionsSettled": 760,
                    "totalTransactionsSettling": 533,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-10T00:00:00+00:00",
                        "intervalEnd": "2026-04-11T00:00:00+00:00",
                        "totalSettlementAmount": 5649.73,
                        "totalFeeAmount": 276.83677,
                        "totalNetAmount": 5372.89323,
                        "totalTransactionsPending": 22,
                        "totalTransactionsSettled": 279,
                        "totalTransactionsSettling": 44
                      },
                      {
                        "intervalStart": "2026-04-11T00:00:00+00:00",
                        "intervalEnd": "2026-04-12T00:00:00+00:00",
                        "totalSettlementAmount": 5217.08,
                        "totalFeeAmount": 255.63692,
                        "totalNetAmount": 4961.44308,
                        "totalTransactionsPending": 24,
                        "totalTransactionsSettled": 55,
                        "totalTransactionsSettling": 42
                      },
                      {
                        "intervalStart": "2026-04-12T00:00:00+00:00",
                        "intervalEnd": "2026-04-13T00:00:00+00:00",
                        "totalSettlementAmount": 7076.18,
                        "totalFeeAmount": 346.73282,
                        "totalNetAmount": 6729.44718,
                        "totalTransactionsPending": 23,
                        "totalTransactionsSettled": 28,
                        "totalTransactionsSettling": 54
                      },
                      {
                        "intervalStart": "2026-04-13T00:00:00+00:00",
                        "intervalEnd": "2026-04-14T00:00:00+00:00",
                        "totalSettlementAmount": 4802.08,
                        "totalFeeAmount": 235.30192,
                        "totalNetAmount": 4566.77808,
                        "totalTransactionsPending": 31,
                        "totalTransactionsSettled": 181,
                        "totalTransactionsSettling": 188
                      },
                      {
                        "intervalStart": "2026-04-14T00:00:00+00:00",
                        "intervalEnd": "2026-04-15T00:00:00+00:00",
                        "totalSettlementAmount": 5036.81,
                        "totalFeeAmount": 246.80369,
                        "totalNetAmount": 4790.00631,
                        "totalTransactionsPending": 24,
                        "totalTransactionsSettled": 87,
                        "totalTransactionsSettling": 62
                      },
                      {
                        "intervalStart": "2026-04-15T00:00:00+00:00",
                        "intervalEnd": "2026-04-16T00:00:00+00:00",
                        "totalSettlementAmount": 9988.14,
                        "totalFeeAmount": 489.41886,
                        "totalNetAmount": 9498.72114,
                        "totalTransactionsPending": 18,
                        "totalTransactionsSettled": 30,
                        "totalTransactionsSettling": 100
                      },
                      {
                        "intervalStart": "2026-04-16T00:00:00+00:00",
                        "intervalEnd": "2026-04-17T00:00:00+00:00",
                        "totalSettlementAmount": 7649.42,
                        "totalFeeAmount": 374.82158,
                        "totalNetAmount": 7274.59842,
                        "totalTransactionsPending": 23,
                        "totalTransactionsSettled": 100,
                        "totalTransactionsSettling": 43
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-10T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-17T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 45419.44
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 2225.55256
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 43193.88744
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 165
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 760
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 533
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-10T00:00:00+00:00",
                          "intervalEnd": "2026-04-11T00:00:00+00:00",
                          "totalSettlementAmount": 5649.73,
                          "totalFeeAmount": 276.83677,
                          "totalNetAmount": 5372.89323,
                          "totalTransactionsPending": 22,
                          "totalTransactionsSettled": 279,
                          "totalTransactionsSettling": 44
                        },
                        {
                          "intervalStart": "2026-04-11T00:00:00+00:00",
                          "intervalEnd": "2026-04-12T00:00:00+00:00",
                          "totalSettlementAmount": 5217.08,
                          "totalFeeAmount": 255.63692,
                          "totalNetAmount": 4961.44308,
                          "totalTransactionsPending": 24,
                          "totalTransactionsSettled": 55,
                          "totalTransactionsSettling": 42
                        },
                        {
                          "intervalStart": "2026-04-12T00:00:00+00:00",
                          "intervalEnd": "2026-04-13T00:00:00+00:00",
                          "totalSettlementAmount": 7076.18,
                          "totalFeeAmount": 346.73282,
                          "totalNetAmount": 6729.44718,
                          "totalTransactionsPending": 23,
                          "totalTransactionsSettled": 28,
                          "totalTransactionsSettling": 54
                        },
                        {
                          "intervalStart": "2026-04-13T00:00:00+00:00",
                          "intervalEnd": "2026-04-14T00:00:00+00:00",
                          "totalSettlementAmount": 4802.08,
                          "totalFeeAmount": 235.30192,
                          "totalNetAmount": 4566.77808,
                          "totalTransactionsPending": 31,
                          "totalTransactionsSettled": 181,
                          "totalTransactionsSettling": 188
                        },
                        {
                          "intervalStart": "2026-04-14T00:00:00+00:00",
                          "intervalEnd": "2026-04-15T00:00:00+00:00",
                          "totalSettlementAmount": 5036.81,
                          "totalFeeAmount": 246.80369,
                          "totalNetAmount": 4790.00631,
                          "totalTransactionsPending": 24,
                          "totalTransactionsSettled": 87,
                          "totalTransactionsSettling": 62
                        },
                        {
                          "intervalStart": "2026-04-15T00:00:00+00:00",
                          "intervalEnd": "2026-04-16T00:00:00+00:00",
                          "totalSettlementAmount": 9988.14,
                          "totalFeeAmount": 489.41886,
                          "totalNetAmount": 9498.72114,
                          "totalTransactionsPending": 18,
                          "totalTransactionsSettled": 30,
                          "totalTransactionsSettling": 100
                        },
                        {
                          "intervalStart": "2026-04-16T00:00:00+00:00",
                          "intervalEnd": "2026-04-17T00:00:00+00:00",
                          "totalSettlementAmount": 7649.42,
                          "totalFeeAmount": 374.82158,
                          "totalNetAmount": 7274.59842,
                          "totalTransactionsPending": 23,
                          "totalTransactionsSettled": 100,
                          "totalTransactionsSettling": 43
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-10T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-11T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 5649.73
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 276.83677
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 5372.89323
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 22
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 279
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 44
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 6,
                    "data": [
                      {
                        "email": "fvolkman@hermann.com",
                        "firstName": "Suzanne",
                        "lastName": "Corwin",
                        "phone": "+17573075674",
                        "dateOfBirth": "1983-03-31"
                      },
                      {
                        "email": "cokeefe@schowalter.info",
                        "firstName": "Reva",
                        "lastName": "Harber",
                        "phone": "+13037897785",
                        "dateOfBirth": "1995-03-26"
                      },
                      {
                        "email": "zwalker@yahoo.com",
                        "firstName": "Aimee",
                        "lastName": "Marks",
                        "phone": "+12138828768",
                        "dateOfBirth": "1980-03-18"
                      },
                      {
                        "email": "lilian.kuvalis@mcdermott.com",
                        "firstName": "Jadon",
                        "lastName": "Lynch",
                        "phone": "+17757317500",
                        "dateOfBirth": "2002-09-11"
                      },
                      {
                        "email": "ccorwin@graham.com",
                        "firstName": "Cora",
                        "lastName": "Wisoky",
                        "phone": "+12839664494",
                        "dateOfBirth": "1996-04-29"
                      },
                      {
                        "email": "jules.batz@zboncak.com",
                        "firstName": "Kirstin",
                        "lastName": "Howe",
                        "phone": "+16805549446",
                        "dateOfBirth": "2000-05-30"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 6,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "fvolkman@hermann.com",
                          "firstName": "Suzanne",
                          "lastName": "Corwin",
                          "phone": "+17573075674",
                          "dateOfBirth": "1983-03-31"
                        },
                        {
                          "email": "cokeefe@schowalter.info",
                          "firstName": "Reva",
                          "lastName": "Harber",
                          "phone": "+13037897785",
                          "dateOfBirth": "1995-03-26"
                        },
                        {
                          "email": "zwalker@yahoo.com",
                          "firstName": "Aimee",
                          "lastName": "Marks",
                          "phone": "+12138828768",
                          "dateOfBirth": "1980-03-18"
                        },
                        {
                          "email": "lilian.kuvalis@mcdermott.com",
                          "firstName": "Jadon",
                          "lastName": "Lynch",
                          "phone": "+17757317500",
                          "dateOfBirth": "2002-09-11"
                        },
                        {
                          "email": "ccorwin@graham.com",
                          "firstName": "Cora",
                          "lastName": "Wisoky",
                          "phone": "+12839664494",
                          "dateOfBirth": "1996-04-29"
                        },
                        {
                          "email": "jules.batz@zboncak.com",
                          "firstName": "Kirstin",
                          "lastName": "Howe",
                          "phone": "+16805549446",
                          "dateOfBirth": "2000-05-30"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "fvolkman@hermann.com"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Suzanne"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Corwin"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+17573075674"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "1983-03-31"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers/{customerIdOrEmail}/addresses": {
      "get": {
        "summary": "List Customer Billing Addresses",
        "operationId": "listCustomerBillingAddresses",
        "description": "Returns all unique billing addresses that have been used by a customer across their payments.\nAddresses are deduplicated using case-insensitive and whitespace-insensitive comparison.",
        "parameters": [
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
            "example": "-city",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
              "example": "-city",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of unique billing addresses for the customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "company": "Lemke, Lubowitz and Schamberger",
                        "street": "739 Liana Way",
                        "city": "West Graham",
                        "stateProvince": "KY",
                        "postcodeZip": "42642-6382",
                        "country": "USA"
                      },
                      {
                        "company": "Blick Inc",
                        "street": "44693 Grant Pines",
                        "city": "Lake Immanuel",
                        "stateProvince": "AR",
                        "postcodeZip": "51654",
                        "country": "USA"
                      },
                      {
                        "company": "Durgan, Tillman and Leffler",
                        "street": "865 Garrison Greens",
                        "city": "Kertzmannport",
                        "stateProvince": "MS",
                        "postcodeZip": "10566-4646",
                        "country": "USA"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "company": "Lemke, Lubowitz and Schamberger",
                          "street": "739 Liana Way",
                          "city": "West Graham",
                          "stateProvince": "KY",
                          "postcodeZip": "42642-6382",
                          "country": "USA"
                        },
                        {
                          "company": "Blick Inc",
                          "street": "44693 Grant Pines",
                          "city": "Lake Immanuel",
                          "stateProvince": "AR",
                          "postcodeZip": "51654",
                          "country": "USA"
                        },
                        {
                          "company": "Durgan, Tillman and Leffler",
                          "street": "865 Garrison Greens",
                          "city": "Kertzmannport",
                          "stateProvince": "MS",
                          "postcodeZip": "10566-4646",
                          "country": "USA"
                        }
                      ],
                      "description": "The data returned from the request",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "company": {
                            "type": "string",
                            "example": "Lemke, Lubowitz and Schamberger"
                          },
                          "street": {
                            "type": "string",
                            "example": "739 Liana Way"
                          },
                          "city": {
                            "type": "string",
                            "example": "West Graham"
                          },
                          "stateProvince": {
                            "type": "string",
                            "example": "KY"
                          },
                          "postcodeZip": {
                            "type": "string",
                            "example": "42642-6382"
                          },
                          "country": {
                            "type": "string",
                            "example": "USA"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "path",
          "name": "customerIdOrEmail",
          "description": "The customer ID, UUID, or email address",
          "example": "customer_123",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/simulated/terminals": {
      "get": {
        "summary": "Get all available simulated terminals.",
        "operationId": "getAllAvailableSimulatedTerminals",
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
[...]
