{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.76.0"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payout Exports",
      "description": "Create payout exports"
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/yments/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)\n\n### Tags:\n\nFilter by user-applied tags. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)\n\n### Tags:\n\nFilter by user-applied tags. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-05-03T00:00:00+00:00",
                      "periodEnd": "2026-05-10T00:00:00+00:00",
                      "numPaymentsCreated": 4079,
                      "numPaymentsProcessed": 2090,
                      "numPaymentsIncomplete": 1989,
                      "numPaymentsWithRefunds": 1230,
                      "numCardPresentPayments": 1274,
                      "numCardNotPresentPayments": 715,
                      "totalCapturedAmount": 2631786.05,
                      "totalRefundedAmount": 336705.94,
                      "totalNetCapturedAmount": 2295080.11,
                      "averageNetCapturedAmount": 1850.9457142857,
                      "minNetCapturedAmount": 33,
                      "maxNetCapturedAmount": 9086.71,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-05-03T00:00:00+00:00",
                          "intervalEnd": "2026-05-04T00:00:00+00:00",
                          "numPaymentsCreated": 292,
                          "numPaymentsProcessed": 194,
                          "numPaymentsIncomplete": 98,
                          "numPaymentsWithRefunds": 121,
                          "numCardPresentPayments": 173,
                          "numCardNotPresentPayments": -75,
                          "totalCapturedAmount": 201888.13,
                          "totalRefundedAmount": 31014.98,
                          "totalNetCapturedAmount": 170873.15,
                          "averageNetCapturedAmount": 880.79,
                          "minNetCapturedAmount": 49.31,
                          "maxNetCapturedAmount": 1449.58
                        },
                        {
                          "intervalStart": "2026-05-04T00:00:00+00:00",
                          "intervalEnd": "2026-05-05T00:00:00+00:00",
                          "numPaymentsCreated": 369,
                          "numPaymentsProcessed": 102,
                          "numPaymentsIncomplete": 267,
                          "numPaymentsWithRefunds": 23,
                          "numCardPresentPayments": 45,
                          "numCardNotPresentPayments": 222,
                          "totalCapturedAmount": 783835.99,
                          "totalRefundedAmount": 92165.06,
                          "totalNetCapturedAmount": 691670.93,
                          "averageNetCapturedAmount": 6781.09,
                          "minNetCapturedAmount": 41.14,
                          "maxNetCapturedAmount": 2300.82
                        },
                        {
                          "intervalStart": "2026-05-05T00:00:00+00:00",
                          "intervalEnd": "2026-05-06T00:00:00+00:00",
                          "numPaymentsCreated": 862,
                          "numPaymentsProcessed": 301,
                          "numPaymentsIncomplete": 561,
                          "numPaymentsWithRefunds": 48,
                          "numCardPresentPayments": 176,
                          "numCardNotPresentPayments": 385,
                          "totalCapturedAmount": 620428.66,
                          "totalRefundedAmount": 108104.31,
                          "totalNetCapturedAmount": 512324.35,
                          "averageNetCapturedAmount": 1702.07,
                          "minNetCapturedAmount": 33,
                          "maxNetCapturedAmount": 8973.82
                        },
                        {
                          "intervalStart": "2026-05-06T00:00:00+00:00",
                          "intervalEnd": "2026-05-07T00:00:00+00:00",
                          "numPaymentsCreated": 885,
                          "numPaymentsProcessed": 595,
                          "numPaymentsIncomplete": 290,
                          "numPaymentsWithRefunds": 435,
                          "numCardPresentPayments": 310,
                          "numCardNotPresentPayments": -20,
                          "totalCapturedAmount": 48149.19,
                          "totalRefundedAmount": 11608.41,
                          "totalNetCapturedAmount": 36540.78,
                          "averageNetCapturedAmount": 61.41,
                          "minNetCapturedAmount": 70.4,
                          "maxNetCapturedAmount": 4890.16
                        },
                        {
                          "intervalStart": "2026-05-07T00:00:00+00:00",
                          "intervalEnd": "2026-05-08T00:00:00+00:00",
                          "numPaymentsCreated": 659,
                          "numPaymentsProcessed": 570,
                          "numPaymentsIncomplete": 89,
                          "numPaymentsWithRefunds": 352,
                          "numCardPresentPayments": 318,
                          "numCardNotPresentPayments": -229,
                          "totalCapturedAmount": 481322.91,
                          "totalRefundedAmount": 59380.76,
                          "totalNetCapturedAmount": 421942.15,
                          "averageNetCapturedAmount": 740.25,
                          "minNetCapturedAmount": 59.49,
                          "maxNetCapturedAmount": 8191.03
                        },
                        {
                          "intervalStart": "2026-05-08T00:00:00+00:00",
                          "intervalEnd": "2026-05-09T00:00:00+00:00",
                          "numPaymentsCreated": 202,
                          "numPaymentsProcessed": 156,
                          "numPaymentsIncomplete": 46,
                          "numPaymentsWithRefunds": 88,
                          "numCardPresentPayments": 108,
                          "numCardNotPresentPayments": -62,
                          "totalCapturedAmount": 196530.69,
                          "totalRefundedAmount": 17845.99,
                          "totalNetCapturedAmount": 178684.7,
                          "averageNetCapturedAmount": 1145.41,
                          "minNetCapturedAmount": 37.04,
                          "maxNetCapturedAmount": 9086.71
                        },
                        {
                          "intervalStart": "2026-05-09T00:00:00+00:00",
                          "intervalEnd": "2026-05-10T00:00:00+00:00",
                          "numPaymentsCreated": 810,
                          "numPaymentsProcessed": 172,
                          "numPaymentsIncomplete": 638,
                          "numPaymentsWithRefunds": 163,
                          "numCardPresentPayments": 144,
                          "numCardNotPresentPayments": 494,
                          "totalCapturedAmount": 299630.48,
                          "totalRefundedAmount": 16586.43,
                          "totalNetCapturedAmount": 283044.05,
                          "averageNetCapturedAmount": 1645.6,
                          "minNetCapturedAmount": 72.43,
                          "maxNetCapturedAmount": 2132.74
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-05-03T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-05-10T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "numPaymentsCreated": {
                          "type": "integer",
                          "example": 4079,
                          "description": "Total number of payment records created in the period",
                          "enum": []
                        },
                        "numPaymentsProcessed": {
                          "type": "integer",
                          "example": 2090,
                          "description": "Number of payments that have successfully had funds captured (captured amount > 0)",
                          "enum": []
                        },
                        "numPaymentsIncomplete": {
                          "type": "integer",
                          "example": 1989,
                          "description": "Number of payments which have been created but funds have not been captured yet (e.g. failures, declines, authorizations, etc.)",
                          "enum": []
                        },
                        "numPaymentsWithRefunds": {
                          "type": "integer",
                          "example": 1230,
                          "description": "Number of payments that have had one or more refunds (refunded amount > 0)",
                          "enum": []
                        },
                        "numCardPresentPayments": {
                          "type": "integer",
                          "example": 1274,
                          "description": "Number of payments made with card present (e.g. via terminal device)",
                          "enum": []
                        },
                        "numCardNotPresentPayments": {
                          "type": "integer",
                          "example": 715,
                          "description": "Number of payments made with card not present (e.g. online payments)",
                          "enum": []
                        },
                        "totalCapturedAmount": {
                          "type": "number",
                          "example": 2631786.05,
                          "description": "Total amount captured across all payments in the period",
                          "enum": []
                        },
                        "totalRefundedAmount": {
                          "type": "number",
                          "example": 336705.94,
                          "description": "Total amount refunded across all payments in the period",
                          "enum": []
                        },
                        "totalNetCapturedAmount": {
                          "type": "number",
                          "example": 2295080.11,
                          "description": "Net captured amount (captured - refunded) across all payments in the period",
                          "enum": []
                        },
                        "averageNetCapturedAmount": {
                          "type": "number",
                          "example": 1850.9457142857,
                          "description": "Average net captured amount per payment in the period",
                          "enum": []
                        },
                        "minNetCapturedAmount": {
                          "type": "integer",
                          "example": 33,
                          "description": "Minimum net captured amount in the period",
                          "enum": []
                        },
                        "maxNetCapturedAmount": {
                          "type": "number",
                          "example": 9086.71,
                          "description": "Maximum net captured amount in the period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-05-03T00:00:00+00:00",
                              "intervalEnd": "2026-05-04T00:00:00+00:00",
                              "numPaymentsCreated": 292,
                              "numPaymentsProcessed": 194,
                              "numPaymentsIncomplete": 98,
                              "numPaymentsWithRefunds": 121,
                              "numCardPresentPayments": 173,
                              "numCardNotPresentPayments": -75,
                              "totalCapturedAmount": 201888.13,
                              "totalRefundedAmount": 31014.98,
                              "totalNetCapturedAmount": 170873.15,
                              "averageNetCapturedAmount": 880.79,
                              "minNetCapturedAmount": 49.31,
                              "maxNetCapturedAmount": 1449.58
                            },
                            {
                              "intervalStart": "2026-05-04T00:00:00+00:00",
                              "intervalEnd": "2026-05-05T00:00:00+00:00",
                              "numPaymentsCreated": 369,
                              "numPaymentsProcessed": 102,
                              "numPaymentsIncomplete": 267,
                              "numPaymentsWithRefunds": 23,
                              "numCardPresentPayments": 45,
                              "numCardNotPresentPayments": 222,
                              "totalCapturedAmount": 783835.99,
                              "totalRefundedAmount": 92165.06,
                              "totalNetCapturedAmount": 691670.93,
                              "averageNetCapturedAmount": 6781.09,
                              "minNetCapturedAmount": 41.14,
                              "maxNetCapturedAmount": 2300.82
                            },
                            {
                              "intervalStart": "2026-05-05T00:00:00+00:00",
                              "intervalEnd": "2026-05-06T00:00:00+00:00",
                              "numPaymentsCreated": 862,
                              "numPaymentsProcessed": 301,
                              "numPaymentsIncomplete": 561,
                              "numPaymentsWithRefunds": 48,
                              "numCardPresentPayments": 176,
                              "numCardNotPresentPayments": 385,
                              "totalCapturedAmount": 620428.66,
                              "totalRefundedAmount": 108104.31,
                              "totalNetCapturedAmount": 512324.35,
                              "averageNetCapturedAmount": 1702.07,
                              "minNetCapturedAmount": 33,
                              "maxNetCapturedAmount": 8973.82
                            },
                            {
                              "intervalStart": "2026-05-06T00:00:00+00:00",
                              "intervalEnd": "2026-05-07T00:00:00+00:00",
                              "numPaymentsCreated": 885,
                              "numPaymentsProcessed": 595,
                              "numPaymentsIncomplete": 290,
                              "numPaymentsWithRefunds": 435,
                              "numCardPresentPayments": 310,
                              "numCardNotPresentPayments": -20,
                              "totalCapturedAmount": 48149.19,
                              "totalRefundedAmount": 11608.41,
                              "totalNetCapturedAmount": 36540.78,
                              "averageNetCapturedAmount": 61.41,
                              "minNetCapturedAmount": 70.4,
                              "maxNetCapturedAmount": 4890.16
                            },
                            {
                              "intervalStart": "2026-05-07T00:00:00+00:00",
                              "intervalEnd": "2026-05-08T00:00:00+00:00",
                              "numPaymentsCreated": 659,
                              "numPaymentsProcessed": 570,
                              "numPaymentsIncomplete": 89,
                              "numPaymentsWithRefunds": 352,
                              "numCardPresentPayments": 318,
                              "numCardNotPresentPayments": -229,
                              "totalCapturedAmount": 481322.91,
                              "totalRefundedAmount": 59380.76,
                              "totalNetCapturedAmount": 421942.15,
                              "averageNetCapturedAmount": 740.25,
                              "minNetCapturedAmount": 59.49,
                              "maxNetCapturedAmount": 8191.03
                            },
                            {
                              "intervalStart": "2026-05-08T00:00:00+00:00",
                              "intervalEnd": "2026-05-09T00:00:00+00:00",
                              "numPaymentsCreated": 202,
                              "numPaymentsProcessed": 156,
                              "numPaymentsIncomplete": 46,
                              "numPaymentsWithRefunds": 88,
                              "numCardPresentPayments": 108,
                              "numCardNotPresentPayments": -62,
                              "totalCapturedAmount": 196530.69,
                              "totalRefundedAmount": 17845.99,
                              "totalNetCapturedAmount": 178684.7,
                              "averageNetCapturedAmount": 1145.41,
                              "minNetCapturedAmount": 37.04,
                              "maxNetCapturedAmount": 9086.71
                            },
                            {
                              "intervalStart": "2026-05-09T00:00:00+00:00",
                              "intervalEnd": "2026-05-10T00:00:00+00:00",
                              "numPaymentsCreated": 810,
                              "numPaymentsProcessed": 172,
                              "numPaymentsIncomplete": 638,
                              "numPaymentsWithRefunds": 163,
                              "numCardPresentPayments": 144,
                              "numCardNotPresentPayments": 494,
                              "totalCapturedAmount": 299630.48,
                              "totalRefundedAmount": 16586.43,
                              "totalNetCapturedAmount": 283044.05,
                              "averageNetCapturedAmount": 1645.6,
                              "minNetCapturedAmount": 72.43,
                              "maxNetCapturedAmount": 2132.74
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-05-03T00:00:00+00:00",
                                "description": "Start time of the PaymentAnalyticsData interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-05-04T00:00:00+00:00",
                                "description": "End time of the PaymentAnalyticsData interval",
                                "enum": []
                              },
                              "numPaymentsCreated": {
                                "type": "integer",
                                "example": 292,
                                "description": "Total number of payment records created in the interval",
                                "enum": []
                              },
                              "numPaymentsProcessed": {
                                "type": "integer",
                                "example": 194,
                                "description": "Number of payments that have successfully had funds captured (captured amount > 0)",
                                "enum": []
                              },
                              "numPaymentsIncomplete": {
                                "type": "integer",
                                "example": 98,
                                "description": "Number of payments which have been created but funds have not been captured yet (e.g. failures, declines, authorizations, etc.)",
                                "enum": []
                              },
                              "numPaymentsWithRefunds": {
                                "type": "integer",
                                "example": 121,
                                "description": "Number of payments that have had one or more refunds (refunded amount > 0)",
                                "enum": []
                              },
                              "numCardPresentPayments": {
                                "type": "integer",
                                "example": 173,
                                "description": "Number of payments made with card present (e.g. via terminal device)",
                                "enum": []
                              },
                              "numCardNotPresentPayments": {
                                "type": "integer",
                                "example": -75,
                                "description": "Number of payments made with card not present (e.g. online payments)",
                                "enum": []
                              },
                              "totalCapturedAmount": {
                                "type": "number",
                                "example": 201888.13,
                                "description": "Total amount captured across all payments in the interval",
                                "enum": []
                              },
                              "totalRefundedAmount": {
                                "type": "number",
                                "example": 31014.98,
                                "description": "Total amount refunded across all payments in the interval",
                                "enum": []
                              },
                              "totalNetCapturedAmount": {
                                "type": "number",
                                "example": 170873.15,
                                "description": "Net captured amount (captured - refunded) across all payments in the interval",
                                "enum": []
                              },
                              "averageNetCapturedAmount": {
                                "type": "number",
                                "example": 880.79,
                                "description": "Average net captured amount per payment in the interval",
                                "enum": []
                              },
                              "minNetCapturedAmount": {
                                "type": "number",
                                "example": 49.31,
                                "description": "Minimum net captured amount in the interval",
                                "enum": []
                              },
                              "maxNetCapturedAmount": {
                                "type": "number",
                                "example": 1449.58,
                                "description": "Maximum net captured amount in the interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/yments/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n\n### Tags:\n\nFilter by user-applied tags on the underlying payments. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n\n### Tags:\n\nFilter by user-applied tags on the underlying payments. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-05-03T00:00:00+00:00",
                      "periodEnd": "2026-05-10T00:00:00+00:00",
                      "activeCustomers": 283,
                      "newCustomers": 151,
                      "returningCustomers": 132,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-05-03T00:00:00+00:00",
                          "intervalEnd": "2026-05-04T00:00:00+00:00",
                          "activeCustomers": 42,
                          "newCustomers": 15,
                          "returningCustomers": 27
                        },
                        {
                          "intervalStart": "2026-05-04T00:00:00+00:00",
                          "intervalEnd": "2026-05-05T00:00:00+00:00",
                          "activeCustomers": 25,
                          "newCustomers": 6,
                          "returningCustomers": 19
                        },
                        {
                          "intervalStart": "2026-05-05T00:00:00+00:00",
                          "intervalEnd": "2026-05-06T00:00:00+00:00",
                          "activeCustomers": 79,
                          "newCustomers": 33,
                          "returningCustomers": 46
                        },
                        {
                          "intervalStart": "2026-05-06T00:00:00+00:00",
                          "intervalEnd": "2026-05-07T00:00:00+00:00",
                          "activeCustomers": 100,
                          "newCustomers": 32,
                          "returningCustomers": 68
                        },
                        {
                          "intervalStart": "2026-05-07T00:00:00+00:00",
                          "intervalEnd": "2026-05-08T00:00:00+00:00",
                          "activeCustomers": 35,
                          "newCustomers": 5,
                          "returningCustomers": 30
                        },
                        {
                          "intervalStart": "2026-05-08T00:00:00+00:00",
                          "intervalEnd": "2026-05-09T00:00:00+00:00",
                          "activeCustomers": 84,
                          "newCustomers": 8,
                          "returningCustomers": 76
                        },
                        {
                          "intervalStart": "2026-05-09T00:00:00+00:00",
                          "intervalEnd": "2026-05-10T00:00:00+00:00",
                          "activeCustomers": 56,
                          "newCustomers": 52,
                          "returningCustomers": 4
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-05-03T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-05-10T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "activeCustomers": {
                          "type": "integer",
                          "example": 283,
                          "description": "number of customers who are associated with at least one payment which was created in the period",
                          "enum": []
                        },
                        "newCustomers": {
                          "type": "integer",
                          "example": 151,
                          "description": "number of new customers added in the period",
                          "enum": []
                        },
                        "returningCustomers": {
                          "type": "integer",
                          "example": 132,
                          "description": "number of customers who were active in the period but were created before the period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-05-03T00:00:00+00:00",
                              "intervalEnd": "2026-05-04T00:00:00+00:00",
                              "activeCustomers": 42,
                              "newCustomers": 15,
                              "returningCustomers": 27
                            },
                            {
                              "intervalStart": "2026-05-04T00:00:00+00:00",
                              "intervalEnd": "2026-05-05T00:00:00+00:00",
                              "activeCustomers": 25,
                              "newCustomers": 6,
                              "returningCustomers": 19
                            },
                            {
                              "intervalStart": "2026-05-05T00:00:00+00:00",
                              "intervalEnd": "2026-05-06T00:00:00+00:00",
                              "activeCustomers": 79,
                              "newCustomers": 33,
                              "returningCustomers": 46
                            },
                            {
                              "intervalStart": "2026-05-06T00:00:00+00:00",
                              "intervalEnd": "2026-05-07T00:00:00+00:00",
                              "activeCustomers": 100,
                              "newCustomers": 32,
                              "returningCustomers": 68
                            },
                            {
                              "intervalStart": "2026-05-07T00:00:00+00:00",
                              "intervalEnd": "2026-05-08T00:00:00+00:00",
                              "activeCustomers": 35,
                              "newCustomers": 5,
                              "returningCustomers": 30
                            },
                            {
                              "intervalStart": "2026-05-08T00:00:00+00:00",
                              "intervalEnd": "2026-05-09T00:00:00+00:00",
                              "activeCustomers": 84,
                              "newCustomers": 8,
                              "returningCustomers": 76
                            },
                            {
                              "intervalStart": "2026-05-09T00:00:00+00:00",
                              "intervalEnd": "2026-05-10T00:00:00+00:00",
                              "activeCustomers": 56,
                              "newCustomers": 52,
                              "returningCustomers": 4
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-05-03T00:00:00+00:00",
                                "description": "Start time of the analytics calculation interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-05-04T00:00:00+00:00",
                                "description": "End time of the analytics calculation interval",
                                "enum": []
                              },
                              "activeCustomers": {
                                "type": "integer",
                                "example": 42,
                                "description": "number of customers who are associated with at least one payment which was created in the interval",
                                "enum": []
                              },
                              "newCustomers": {
                                "type": "integer",
                                "example": 15,
                                "description": "number of new customers added in the interval",
                                "enum": []
                              },
                              "returningCustomers": {
                                "type": "integer",
                                "example": 27,
                                "description": "number of customers who were active in the interval but were created before the interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/yments/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n\n### Tags:\n\nFilter by user-applied tags. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n\n### Tags:\n\nFilter by user-applied tags. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-05-03T00:00:00+00:00",
                      "periodEnd": "2026-05-10T00:00:00+00:00",
                      "totalTransactions": 4430,
                      "authorizeTransactions": 290,
                      "captureTransactions": 316,
                      "payTransactions": 2780,
                      "refundTransactions": 359,
                      "verifyTransactions": 409,
                      "voidTransactions": 276,
                      "successfulTransactions": 3985,
                      "failedTransactions": 335,
                      "declinedTransactions": 83,
                      "pendingTransactions": 27,
                      "unknownTransactions": 0,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-05-03T00:00:00+00:00",
                          "intervalEnd": "2026-05-04T00:00:00+00:00",
                          "totalTransactions": 210,
                          "authorizeTransactions": 13,
                          "captureTransactions": 15,
                          "payTransactions": 35,
                          "refundTransactions": 71,
                          "verifyTransactions": 37,
                          "voidTransactions": 39,
                          "successfulTransactions": 189,
                          "failedTransactions": 13,
                          "declinedTransactions": 6,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-05-04T00:00:00+00:00",
                          "intervalEnd": "2026-05-05T00:00:00+00:00",
                          "totalTransactions": 507,
                          "authorizeTransactions": 47,
                          "captureTransactions": 50,
                          "payTransactions": 385,
                          "refundTransactions": 15,
                          "verifyTransactions": 9,
                          "voidTransactions": 1,
                          "successfulTransactions": 456,
                          "failedTransactions": 44,
                          "declinedTransactions": 6,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-05-05T00:00:00+00:00",
                          "intervalEnd": "2026-05-06T00:00:00+00:00",
                          "totalTransactions": 938,
                          "authorizeTransactions": 37,
                          "captureTransactions": 39,
                          "payTransactions": 694,
                          "refundTransactions": 112,
                          "verifyTransactions": 34,
                          "voidTransactions": 22,
                          "successfulTransactions": 844,
                          "failedTransactions": 76,
                          "declinedTransactions": 14,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-05-06T00:00:00+00:00",
                          "intervalEnd": "2026-05-07T00:00:00+00:00",
                          "totalTransactions": 924,
                          "authorizeTransactions": 45,
                          "captureTransactions": 49,
                          "payTransactions": 764,
                          "refundTransactions": 52,
                          "verifyTransactions": 11,
                          "voidTransactions": 3,
                          "successfulTransactions": 831,
                          "failedTransactions": 48,
                          "declinedTransactions": 37,
                          "pendingTransactions": 8,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-05-07T00:00:00+00:00",
                          "intervalEnd": "2026-05-08T00:00:00+00:00",
                          "totalTransactions": 950,
                          "authorizeTransactions": 90,
                          "captureTransactions": 93,
                          "payTransactions": 227,
                          "refundTransactions": 50,
                          "verifyTransactions": 294,
                          "voidTransactions": 196,
                          "successfulTransactions": 855,
                          "failedTransactions": 85,
                          "declinedTransactions": 3,
                          "pendingTransactions": 7,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-05-08T00:00:00+00:00",
                          "intervalEnd": "2026-05-09T00:00:00+00:00",
                          "totalTransactions": 188,
                          "authorizeTransactions": 13,
                          "captureTransactions": 23,
                          "payTransactions": 96,
                          "refundTransactions": 40,
                          "verifyTransactions": 8,
                          "voidTransactions": 8,
                          "successfulTransactions": 169,
                          "failedTransactions": 14,
                          "declinedTransactions": 4,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-05-09T00:00:00+00:00",
                          "intervalEnd": "2026-05-10T00:00:00+00:00",
                          "totalTransactions": 713,
                          "authorizeTransactions": 45,
                          "captureTransactions": 47,
                          "payTransactions": 579,
                          "refundTransactions": 19,
                          "verifyTransactions": 16,
                          "voidTransactions": 7,
                          "successfulTransactions": 641,
                          "failedTransactions": 55,
                          "declinedTransactions": 13,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-05-03T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-05-10T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "totalTransactions": {
                          "type": "integer",
                          "example": 4430,
                          "description": "Total number of transactions in the period",
                          "enum": []
                        },
                        "authorizeTransactions": {
                          "type": "integer",
                          "example": 290,
                          "description": "Number of authorize transactions in the period",
                          "enum": []
                        },
                        "captureTransactions": {
                          "type": "integer",
                          "example": 316,
                          "description": "Number of capture transactions in the period",
                          "enum": []
                        },
                        "payTransactions": {
                          "type": "integer",
                          "example": 2780,
                          "description": "Number of pay transactions in the period",
                          "enum": []
                        },
                        "refundTransactions": {
                          "type": "integer",
                          "example": 359,
                          "description": "Number of refund transactions in the period",
                          "enum": []
                        },
                        "verifyTransactions": {
                          "type": "integer",
                          "example": 409,
                          "description": "Number of verify transactions in the period",
                          "enum": []
                        },
                        "voidTransactions": {
                          "type": "integer",
                          "example": 276,
                          "description": "Number of void transactions in the period",
                          "enum": []
                        },
                        "successfulTransactions": {
                          "type": "integer",
                          "example": 3985,
                          "description": "Number of successful transactions in the period",
                          "enum": []
                        },
                        "failedTransactions": {
                          "type": "integer",
                          "example": 335,
                          "description": "Number of failed transactions in the period",
                          "enum": []
                        },
                        "declinedTransactions": {
                          "type": "integer",
                          "example": 83,
                          "description": "Number of declined transactions in the period",
                          "enum": []
                        },
                        "pendingTransactions": {
                          "type": "integer",
                          "example": 27,
                          "description": "Number of pending transactions in the period",
                          "enum": []
                        },
                        "unknownTransactions": {
                          "type": "integer",
                          "example": 0,
                          "description": "Number of transactions with unknown result in the period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-05-03T00:00:00+00:00",
                              "intervalEnd": "2026-05-04T00:00:00+00:00",
                              "totalTransactions": 210,
                              "authorizeTransactions": 13,
                              "captureTransactions": 15,
                              "payTransactions": 35,
                              "refundTransactions": 71,
                              "verifyTransactions": 37,
                              "voidTransactions": 39,
                              "successfulTransactions": 189,
                              "failedTransactions": 13,
                              "declinedTransactions": 6,
                              "pendingTransactions": 2,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-05-04T00:00:00+00:00",
                              "intervalEnd": "2026-05-05T00:00:00+00:00",
                              "totalTransactions": 507,
                              "authorizeTransactions": 47,
                              "captureTransactions": 50,
                              "payTransactions": 385,
                              "refundTransactions": 15,
                              "verifyTransactions": 9,
                              "voidTransactions": 1,
                              "successfulTransactions": 456,
                              "failedTransactions": 44,
                              "declinedTransactions": 6,
                              "pendingTransactions": 1,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-05-05T00:00:00+00:00",
                              "intervalEnd": "2026-05-06T00:00:00+00:00",
                              "totalTransactions": 938,
                              "authorizeTransactions": 37,
                              "captureTransactions": 39,
                              "payTransactions": 694,
                              "refundTransactions": 112,
                              "verifyTransactions": 34,
                              "voidTransactions": 22,
                              "successfulTransactions": 844,
                              "failedTransactions": 76,
                              "declinedTransactions": 14,
                              "pendingTransactions": 4,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-05-06T00:00:00+00:00",
                              "intervalEnd": "2026-05-07T00:00:00+00:00",
                              "totalTransactions": 924,
                              "authorizeTransactions": 45,
                              "captureTransactions": 49,
                              "payTransactions": 764,
                              "refundTransactions": 52,
                              "verifyTransactions": 11,
                              "voidTransactions": 3,
                              "successfulTransactions": 831,
                              "failedTransactions": 48,
                              "declinedTransactions": 37,
                              "pendingTransactions": 8,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-05-07T00:00:00+00:00",
                              "intervalEnd": "2026-05-08T00:00:00+00:00",
                              "totalTransactions": 950,
                              "authorizeTransactions": 90,
                              "captureTransactions": 93,
                              "payTransactions": 227,
                              "refundTransactions": 50,
                              "verifyTransactions": 294,
                              "voidTransactions": 196,
                              "successfulTransactions": 855,
                              "failedTransactions": 85,
                              "declinedTransactions": 3,
                              "pendingTransactions": 7,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-05-08T00:00:00+00:00",
                              "intervalEnd": "2026-05-09T00:00:00+00:00",
                              "totalTransactions": 188,
                              "authorizeTransactions": 13,
                              "captureTransactions": 23,
                              "payTransactions": 96,
                              "refundTransactions": 40,
                              "verifyTransactions": 8,
                              "voidTransactions": 8,
                              "successfulTransactions": 169,
                              "failedTransactions": 14,
                              "declinedTransactions": 4,
                              "pendingTransactions": 1,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-05-09T00:00:00+00:00",
                              "intervalEnd": "2026-05-10T00:00:00+00:00",
                              "totalTransactions": 713,
                              "authorizeTransactions": 45,
                              "captureTransactions": 47,
                              "payTransactions": 579,
                              "refundTransactions": 19,
                              "verifyTransactions": 16,
                              "voidTransactions": 7,
                              "successfulTransactions": 641,
                              "failedTransactions": 55,
                              "declinedTransactions": 13,
                              "pendingTransactions": 4,
                              "unknownTransactions": 0
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-05-03T00:00:00+00:00",
                                "description": "Start time of the analytics calculation interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-05-04T00:00:00+00:00",
                                "description": "End time of the analytics calculation interval",
                                "enum": []
                              },
                              "totalTransactions": {
                                "type": "integer",
                                "example": 210,
                                "description": "Total number of transactions in the interval",
                                "enum": []
                              },
                              "authorizeTransactions": {
                                "type": "integer",
                                "example": 13,
                                "description": "Number of authorize transactions in the interval",
                                "enum": []
                              },
                              "captureTransactions": {
                                "type": "integer",
                                "example": 15,
                                "description": "Number of capture transactions in the interval",
                                "enum": []
                              },
                              "payTransactions": {
                                "type": "integer",
                                "example": 35,
                                "description": "Number of pay transactions in the interval",
                                "enum": []
                              },
                              "refundTransactions": {
                                "type": "integer",
                                "example": 71,
                                "description": "Number of refund transactions in the interval",
                                "enum": []
                              },
                              "verifyTransactions": {
                                "type": "integer",
                                "example": 37,
                                "description": "Number of verify transactions in the interval",
                                "enum": []
                              },
                              "voidTransactions": {
                                "type": "integer",
                                "example": 39,
                                "description": "Number of void transactions in the interval",
                                "enum": []
                              },
                              "successfulTransactions": {
                                "type": "integer",
                                "example": 189,
                                "description": "Number of successful transactions in the interval",
                                "enum": []
                              },
                              "failedTransactions": {
                                "type": "integer",
                                "example": 13,
                                "description": "Number of failed transactions in the interval",
                                "enum": []
                              },
                              "declinedTransactions": {
                                "type": "integer",
                                "example": 6,
                                "description": "Number of declined transactions in the interval",
                                "enum": []
                              },
                              "pendingTransactions": {
                                "type": "integer",
                                "example": 2,
                                "description": "Number of pending transactions in the interval",
                                "enum": []
                              },
                              "unknownTransactions": {
                                "type": "integer",
                                "example": 0,
                                "description": "Number of transactions with unknown result in the interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/yments/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n\n### Tags:\n\nFilter by user-applied tags. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n\n### Tags:\n\nFilter by user-applied tags. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-05-03T00:00:00+00:00",
                      "periodEnd": "2026-05-10T00:00:00+00:00",
                      "totalSettlementAmount": 45754.19,
                      "totalFeeAmount": 2241.95531,
                      "totalNetAmount": 43512.23469,
                      "totalTransactionsPending": 188,
                      "totalTransactionsSettled": 1238,
                      "totalTransactionsSettling": 623,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-05-03T00:00:00+00:00",
                          "intervalEnd": "2026-05-04T00:00:00+00:00",
                          "totalSettlementAmount": 2346.64,
                          "totalFeeAmount": 114.98536,
                          "totalNetAmount": 2231.65464,
                          "totalTransactionsPending": 38,
                          "totalTransactionsSettled": 425,
                          "totalTransactionsSettling": 26
                        },
                        {
                          "intervalStart": "2026-05-04T00:00:00+00:00",
                          "intervalEnd": "2026-05-05T00:00:00+00:00",
                          "totalSettlementAmount": 9722.02,
                          "totalFeeAmount": 476.37898,
                          "totalNetAmount": 9245.64102,
                          "totalTransactionsPending": 40,
                          "totalTransactionsSettled": 23,
                          "totalTransactionsSettling": 114
                        },
                        {
                          "intervalStart": "2026-05-05T00:00:00+00:00",
                          "intervalEnd": "2026-05-06T00:00:00+00:00",
                          "totalSettlementAmount": 6565.51,
                          "totalFeeAmount": 321.70999,
                          "totalNetAmount": 6243.80001,
                          "totalTransactionsPending": 22,
                          "totalTransactionsSettled": 156,
                          "totalTransactionsSettling": 34
                        },
                        {
                          "intervalStart": "2026-05-06T00:00:00+00:00",
                          "intervalEnd": "2026-05-07T00:00:00+00:00",
                          "totalSettlementAmount": 9676.61,
                          "totalFeeAmount": 474.15389,
                          "totalNetAmount": 9202.45611,
                          "totalTransactionsPending": 32,
                          "totalTransactionsSettled": 32,
                          "totalTransactionsSettling": 88
                        },
                        {
                          "intervalStart": "2026-05-07T00:00:00+00:00",
                          "intervalEnd": "2026-05-08T00:00:00+00:00",
                          "totalSettlementAmount": 8123.37,
                          "totalFeeAmount": 398.04513,
                          "totalNetAmount": 7725.32487,
                          "totalTransactionsPending": 7,
                          "totalTransactionsSettled": 59,
                          "totalTransactionsSettling": 212
                        },
                        {
                          "intervalStart": "2026-05-08T00:00:00+00:00",
                          "intervalEnd": "2026-05-09T00:00:00+00:00",
                          "totalSettlementAmount": 3955.84,
                          "totalFeeAmount": 193.83616,
                          "totalNetAmount": 3762.00384,
                          "totalTransactionsPending": 18,
                          "totalTransactionsSettled": 205,
                          "totalTransactionsSettling": 99
                        },
                        {
                          "intervalStart": "2026-05-09T00:00:00+00:00",
                          "intervalEnd": "2026-05-10T00:00:00+00:00",
                          "totalSettlementAmount": 5364.2,
                          "totalFeeAmount": 262.8458,
                          "totalNetAmount": 5101.3542,
                          "totalTransactionsPending": 31,
                          "totalTransactionsSettled": 338,
                          "totalTransactionsSettling": 50
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-05-03T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-05-10T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "totalSettlementAmount": {
                          "type": "number",
                          "example": 45754.19,
                          "description": "Total settled payout amount in this period",
                          "enum": []
                        },
                        "totalFeeAmount": {
                          "type": "number",
                          "example": 2241.95531,
                          "description": "Total amount of fees charged for the payouts in this period",
                          "enum": []
                        },
                        "totalNetAmount": {
                          "type": "number",
                          "example": 43512.23469,
                          "description": "Total net payout amount in this period",
                          "enum": []
                        },
                        "totalTransactionsPending": {
                          "type": "integer",
                          "example": 188,
                          "description": "Total number of transactions pending in this period",
                          "enum": []
                        },
                        "totalTransactionsSettled": {
                          "type": "integer",
                          "example": 1238,
                          "description": "Total number of transactions settled in this period",
                          "enum": []
                        },
                        "totalTransactionsSettling": {
                          "type": "integer",
                          "example": 623,
                          "description": "Total number of transactions settling in this period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-05-03T00:00:00+00:00",
                              "intervalEnd": "2026-05-04T00:00:00+00:00",
                              "totalSettlementAmount": 2346.64,
                              "totalFeeAmount": 114.98536,
                              "totalNetAmount": 2231.65464,
                              "totalTransactionsPending": 38,
                              "totalTransactionsSettled": 425,
                              "totalTransactionsSettling": 26
                            },
                            {
                              "intervalStart": "2026-05-04T00:00:00+00:00",
                              "intervalEnd": "2026-05-05T00:00:00+00:00",
                              "totalSettlementAmount": 9722.02,
                              "totalFeeAmount": 476.37898,
                              "totalNetAmount": 9245.64102,
                              "totalTransactionsPending": 40,
                              "totalTransactionsSettled": 23,
                              "totalTransactionsSettling": 114
                            },
                            {
                              "intervalStart": "2026-05-05T00:00:00+00:00",
                              "intervalEnd": "2026-05-06T00:00:00+00:00",
                              "totalSettlementAmount": 6565.51,
                              "totalFeeAmount": 321.70999,
                              "totalNetAmount": 6243.80001,
                              "totalTransactionsPending": 22,
                              "totalTransactionsSettled": 156,
                              "totalTransactionsSettling": 34
                            },
                            {
                              "intervalStart": "2026-05-06T00:00:00+00:00",
                              "intervalEnd": "2026-05-07T00:00:00+00:00",
                              "totalSettlementAmount": 9676.61,
                              "totalFeeAmount": 474.15389,
                              "totalNetAmount": 9202.45611,
                              "totalTransactionsPending": 32,
                              "totalTransactionsSettled": 32,
                              "totalTransactionsSettling": 88
                            },
                            {
                              "intervalStart": "2026-05-07T00:00:00+00:00",
                              "intervalEnd": "2026-05-08T00:00:00+00:00",
                              "totalSettlementAmount": 8123.37,
                              "totalFeeAmount": 398.04513,
                              "totalNetAmount": 7725.32487,
                              "totalTransactionsPending": 7,
                              "totalTransactionsSettled": 59,
                              "totalTransactionsSettling": 212
                            },
                            {
                              "intervalStart": "2026-05-08T00:00:00+00:00",
                              "intervalEnd": "2026-05-09T00:00:00+00:00",
                              "totalSettlementAmount": 3955.84,
                              "totalFeeAmount": 193.83616,
                              "totalNetAmount": 3762.00384,
                              "totalTransactionsPending": 18,
                              "totalTransactionsSettled": 205,
                              "totalTransactionsSettling": 99
                            },
                            {
                              "intervalStart": "2026-05-09T00:00:00+00:00",
                              "intervalEnd": "2026-05-10T00:00:00+00:00",
                              "totalSettlementAmount": 5364.2,
                              "totalFeeAmount": 262.8458,
                              "totalNetAmount": 5101.3542,
                              "totalTransactionsPending": 31,
                              "totalTransactionsSettled": 338,
                              "totalTransactionsSettling": 50
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-05-03T00:00:00+00:00",
                                "description": "Start time of the analytics calculation interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-05-04T00:00:00+00:00",
                                "description": "End time of the analytics calculation interval",
                                "enum": []
                              },
                              "totalSettlementAmount": {
                                "type": "number",
                                "example": 2346.64,
                                "description": "Total settled payout amount in this interval",
                                "enum": []
                              },
                              "totalFeeAmount": {
                                "type": "number",
                                "example": 114.98536,
                                "description": "Total amount of fees charged for the payouts in this interval",
                                "enum": []
                              },
                              "totalNetAmount": {
                                "type": "number",
                                "example": 2231.65464,
                                "description": "Total net payout amount in this interval",
                                "enum": []
                              },
                              "totalTransactionsPending": {
                                "type": "integer",
                                "example": 38,
                                "description": "Total number of transactions pending in this interval",
                                "enum": []
                              },
                              "totalTransactionsSettled": {
                                "type": "integer",
                                "example": 425,
                                "description": "Total number of transactions settled in this interval",
[...]
