{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.60.1"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payout Exports",
      "description": "Create payout exports"
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-25T00:00:00+00:00",
                    "periodEnd": "2026-04-01T00:00:00+00:00",
                    "numPaymentsCreated": 3715,
                    "numPaymentsProcessed": 1430,
                    "numPaymentsIncomplete": 2285,
                    "numPaymentsWithRefunds": 865,
                    "numCardPresentPayments": 532,
                    "numCardNotPresentPayments": 1753,
                    "totalCapturedAmount": 3896971.3,
                    "totalRefundedAmount": 500807.85,
                    "totalNetCapturedAmount": 3396163.45,
                    "averageNetCapturedAmount": 3023.5742857143,
                    "minNetCapturedAmount": 19.19,
                    "maxNetCapturedAmount": 9978.38,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-25T00:00:00+00:00",
                        "intervalEnd": "2026-03-26T00:00:00+00:00",
                        "numPaymentsCreated": 212,
                        "numPaymentsProcessed": 143,
                        "numPaymentsIncomplete": 69,
                        "numPaymentsWithRefunds": 131,
                        "numCardPresentPayments": 39,
                        "numCardNotPresentPayments": 30,
                        "totalCapturedAmount": 944010.91,
                        "totalRefundedAmount": 75824.84,
                        "totalNetCapturedAmount": 868186.07,
                        "averageNetCapturedAmount": 6071.23,
                        "minNetCapturedAmount": 22.6,
                        "maxNetCapturedAmount": 6724.58
                      },
                      {
                        "intervalStart": "2026-03-26T00:00:00+00:00",
                        "intervalEnd": "2026-03-27T00:00:00+00:00",
                        "numPaymentsCreated": 580,
                        "numPaymentsProcessed": 171,
                        "numPaymentsIncomplete": 409,
                        "numPaymentsWithRefunds": 72,
                        "numCardPresentPayments": 79,
                        "numCardNotPresentPayments": 330,
                        "totalCapturedAmount": 580976.26,
                        "totalRefundedAmount": 83709.05,
                        "totalNetCapturedAmount": 497267.21,
                        "averageNetCapturedAmount": 2908,
                        "minNetCapturedAmount": 50.01,
                        "maxNetCapturedAmount": 9160.66
                      },
                      {
                        "intervalStart": "2026-03-27T00:00:00+00:00",
                        "intervalEnd": "2026-03-28T00:00:00+00:00",
                        "numPaymentsCreated": 866,
                        "numPaymentsProcessed": 154,
                        "numPaymentsIncomplete": 712,
                        "numPaymentsWithRefunds": 67,
                        "numCardPresentPayments": 72,
                        "numCardNotPresentPayments": 640,
                        "totalCapturedAmount": 739250.44,
                        "totalRefundedAmount": 189161.2,
                        "totalNetCapturedAmount": 550089.24,
                        "averageNetCapturedAmount": 3572.01,
                        "minNetCapturedAmount": 49.2,
                        "maxNetCapturedAmount": 9978.38
                      },
                      {
                        "intervalStart": "2026-03-28T00:00:00+00:00",
                        "intervalEnd": "2026-03-29T00:00:00+00:00",
                        "numPaymentsCreated": 413,
                        "numPaymentsProcessed": 404,
                        "numPaymentsIncomplete": 9,
                        "numPaymentsWithRefunds": 299,
                        "numCardPresentPayments": 87,
                        "numCardNotPresentPayments": -78,
                        "totalCapturedAmount": 58508.57,
                        "totalRefundedAmount": 13269,
                        "totalNetCapturedAmount": 45239.57,
                        "averageNetCapturedAmount": 111.98,
                        "minNetCapturedAmount": 78.26,
                        "maxNetCapturedAmount": 5865.54
                      },
                      {
                        "intervalStart": "2026-03-29T00:00:00+00:00",
                        "intervalEnd": "2026-03-30T00:00:00+00:00",
                        "numPaymentsCreated": 258,
                        "numPaymentsProcessed": 81,
                        "numPaymentsIncomplete": 177,
                        "numPaymentsWithRefunds": 33,
                        "numCardPresentPayments": 11,
                        "numCardNotPresentPayments": 166,
                        "totalCapturedAmount": 483555.06,
                        "totalRefundedAmount": 107745.96,
                        "totalNetCapturedAmount": 375809.1,
                        "averageNetCapturedAmount": 4639.62,
                        "minNetCapturedAmount": 22.66,
                        "maxNetCapturedAmount": 2039.64
                      },
                      {
                        "intervalStart": "2026-03-30T00:00:00+00:00",
                        "intervalEnd": "2026-03-31T00:00:00+00:00",
                        "numPaymentsCreated": 736,
                        "numPaymentsProcessed": 155,
                        "numPaymentsIncomplete": 581,
                        "numPaymentsWithRefunds": 155,
                        "numCardPresentPayments": 52,
                        "numCardNotPresentPayments": 529,
                        "totalCapturedAmount": 196368.13,
                        "totalRefundedAmount": 25542.02,
                        "totalNetCapturedAmount": 170826.11,
                        "averageNetCapturedAmount": 1102.1,
                        "minNetCapturedAmount": 56.03,
                        "maxNetCapturedAmount": 2253.4
                      },
                      {
                        "intervalStart": "2026-03-31T00:00:00+00:00",
                        "intervalEnd": "2026-04-01T00:00:00+00:00",
                        "numPaymentsCreated": 650,
                        "numPaymentsProcessed": 322,
                        "numPaymentsIncomplete": 328,
                        "numPaymentsWithRefunds": 108,
                        "numCardPresentPayments": 192,
                        "numCardNotPresentPayments": 136,
                        "totalCapturedAmount": 894301.93,
                        "totalRefundedAmount": 5555.78,
                        "totalNetCapturedAmount": 888746.15,
                        "averageNetCapturedAmount": 2760.08,
                        "minNetCapturedAmount": 19.19,
                        "maxNetCapturedAmount": 8167.59
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-25T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-01T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 3715
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 1430
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 2285
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 865
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 532
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": 1753
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 3896971.3
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 500807.85
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 3396163.45
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 3023.5742857143
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 19.19
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 9978.38
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-25T00:00:00+00:00",
                          "intervalEnd": "2026-03-26T00:00:00+00:00",
                          "numPaymentsCreated": 212,
                          "numPaymentsProcessed": 143,
                          "numPaymentsIncomplete": 69,
                          "numPaymentsWithRefunds": 131,
                          "numCardPresentPayments": 39,
                          "numCardNotPresentPayments": 30,
                          "totalCapturedAmount": 944010.91,
                          "totalRefundedAmount": 75824.84,
                          "totalNetCapturedAmount": 868186.07,
                          "averageNetCapturedAmount": 6071.23,
                          "minNetCapturedAmount": 22.6,
                          "maxNetCapturedAmount": 6724.58
                        },
                        {
                          "intervalStart": "2026-03-26T00:00:00+00:00",
                          "intervalEnd": "2026-03-27T00:00:00+00:00",
                          "numPaymentsCreated": 580,
                          "numPaymentsProcessed": 171,
                          "numPaymentsIncomplete": 409,
                          "numPaymentsWithRefunds": 72,
                          "numCardPresentPayments": 79,
                          "numCardNotPresentPayments": 330,
                          "totalCapturedAmount": 580976.26,
                          "totalRefundedAmount": 83709.05,
                          "totalNetCapturedAmount": 497267.21,
                          "averageNetCapturedAmount": 2908,
                          "minNetCapturedAmount": 50.01,
                          "maxNetCapturedAmount": 9160.66
                        },
                        {
                          "intervalStart": "2026-03-27T00:00:00+00:00",
                          "intervalEnd": "2026-03-28T00:00:00+00:00",
                          "numPaymentsCreated": 866,
                          "numPaymentsProcessed": 154,
                          "numPaymentsIncomplete": 712,
                          "numPaymentsWithRefunds": 67,
                          "numCardPresentPayments": 72,
                          "numCardNotPresentPayments": 640,
                          "totalCapturedAmount": 739250.44,
                          "totalRefundedAmount": 189161.2,
                          "totalNetCapturedAmount": 550089.24,
                          "averageNetCapturedAmount": 3572.01,
                          "minNetCapturedAmount": 49.2,
                          "maxNetCapturedAmount": 9978.38
                        },
                        {
                          "intervalStart": "2026-03-28T00:00:00+00:00",
                          "intervalEnd": "2026-03-29T00:00:00+00:00",
                          "numPaymentsCreated": 413,
                          "numPaymentsProcessed": 404,
                          "numPaymentsIncomplete": 9,
                          "numPaymentsWithRefunds": 299,
                          "numCardPresentPayments": 87,
                          "numCardNotPresentPayments": -78,
                          "totalCapturedAmount": 58508.57,
                          "totalRefundedAmount": 13269,
                          "totalNetCapturedAmount": 45239.57,
                          "averageNetCapturedAmount": 111.98,
                          "minNetCapturedAmount": 78.26,
                          "maxNetCapturedAmount": 5865.54
                        },
                        {
                          "intervalStart": "2026-03-29T00:00:00+00:00",
                          "intervalEnd": "2026-03-30T00:00:00+00:00",
                          "numPaymentsCreated": 258,
                          "numPaymentsProcessed": 81,
                          "numPaymentsIncomplete": 177,
                          "numPaymentsWithRefunds": 33,
                          "numCardPresentPayments": 11,
                          "numCardNotPresentPayments": 166,
                          "totalCapturedAmount": 483555.06,
                          "totalRefundedAmount": 107745.96,
                          "totalNetCapturedAmount": 375809.1,
                          "averageNetCapturedAmount": 4639.62,
                          "minNetCapturedAmount": 22.66,
                          "maxNetCapturedAmount": 2039.64
                        },
                        {
                          "intervalStart": "2026-03-30T00:00:00+00:00",
                          "intervalEnd": "2026-03-31T00:00:00+00:00",
                          "numPaymentsCreated": 736,
                          "numPaymentsProcessed": 155,
                          "numPaymentsIncomplete": 581,
                          "numPaymentsWithRefunds": 155,
                          "numCardPresentPayments": 52,
                          "numCardNotPresentPayments": 529,
                          "totalCapturedAmount": 196368.13,
                          "totalRefundedAmount": 25542.02,
                          "totalNetCapturedAmount": 170826.11,
                          "averageNetCapturedAmount": 1102.1,
                          "minNetCapturedAmount": 56.03,
                          "maxNetCapturedAmount": 2253.4
                        },
                        {
                          "intervalStart": "2026-03-31T00:00:00+00:00",
                          "intervalEnd": "2026-04-01T00:00:00+00:00",
                          "numPaymentsCreated": 650,
                          "numPaymentsProcessed": 322,
                          "numPaymentsIncomplete": 328,
                          "numPaymentsWithRefunds": 108,
                          "numCardPresentPayments": 192,
                          "numCardNotPresentPayments": 136,
                          "totalCapturedAmount": 894301.93,
                          "totalRefundedAmount": 5555.78,
                          "totalNetCapturedAmount": 888746.15,
                          "averageNetCapturedAmount": 2760.08,
                          "minNetCapturedAmount": 19.19,
                          "maxNetCapturedAmount": 8167.59
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-25T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-26T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 212
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 143
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 69
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 131
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 39
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": 30
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 944010.91
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 75824.84
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 868186.07
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 6071.23
                          },
                          "minNetCapturedAmount": {
                            "type": "number",
                            "example": 22.6
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 6724.58
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-25T00:00:00+00:00",
                    "periodEnd": "2026-04-01T00:00:00+00:00",
                    "activeCustomers": 392,
                    "newCustomers": 212,
                    "returningCustomers": 180,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-25T00:00:00+00:00",
                        "intervalEnd": "2026-03-26T00:00:00+00:00",
                        "activeCustomers": 83,
                        "newCustomers": 69,
                        "returningCustomers": 14
                      },
                      {
                        "intervalStart": "2026-03-26T00:00:00+00:00",
                        "intervalEnd": "2026-03-27T00:00:00+00:00",
                        "activeCustomers": 92,
                        "newCustomers": 33,
                        "returningCustomers": 59
                      },
                      {
                        "intervalStart": "2026-03-27T00:00:00+00:00",
                        "intervalEnd": "2026-03-28T00:00:00+00:00",
                        "activeCustomers": 18,
                        "newCustomers": 14,
                        "returningCustomers": 4
                      },
                      {
                        "intervalStart": "2026-03-28T00:00:00+00:00",
                        "intervalEnd": "2026-03-29T00:00:00+00:00",
                        "activeCustomers": 78,
                        "newCustomers": 53,
                        "returningCustomers": 25
                      },
                      {
                        "intervalStart": "2026-03-29T00:00:00+00:00",
                        "intervalEnd": "2026-03-30T00:00:00+00:00",
                        "activeCustomers": 13,
                        "newCustomers": 9,
                        "returningCustomers": 4
                      },
                      {
                        "intervalStart": "2026-03-30T00:00:00+00:00",
                        "intervalEnd": "2026-03-31T00:00:00+00:00",
                        "activeCustomers": 63,
                        "newCustomers": 24,
                        "returningCustomers": 39
                      },
                      {
                        "intervalStart": "2026-03-31T00:00:00+00:00",
                        "intervalEnd": "2026-04-01T00:00:00+00:00",
                        "activeCustomers": 51,
                        "newCustomers": 10,
                        "returningCustomers": 41
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-25T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-01T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 392
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 212
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": 180
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-25T00:00:00+00:00",
                          "intervalEnd": "2026-03-26T00:00:00+00:00",
                          "activeCustomers": 83,
                          "newCustomers": 69,
                          "returningCustomers": 14
                        },
                        {
                          "intervalStart": "2026-03-26T00:00:00+00:00",
                          "intervalEnd": "2026-03-27T00:00:00+00:00",
                          "activeCustomers": 92,
                          "newCustomers": 33,
                          "returningCustomers": 59
                        },
                        {
                          "intervalStart": "2026-03-27T00:00:00+00:00",
                          "intervalEnd": "2026-03-28T00:00:00+00:00",
                          "activeCustomers": 18,
                          "newCustomers": 14,
                          "returningCustomers": 4
                        },
                        {
                          "intervalStart": "2026-03-28T00:00:00+00:00",
                          "intervalEnd": "2026-03-29T00:00:00+00:00",
                          "activeCustomers": 78,
                          "newCustomers": 53,
                          "returningCustomers": 25
                        },
                        {
                          "intervalStart": "2026-03-29T00:00:00+00:00",
                          "intervalEnd": "2026-03-30T00:00:00+00:00",
                          "activeCustomers": 13,
                          "newCustomers": 9,
                          "returningCustomers": 4
                        },
                        {
                          "intervalStart": "2026-03-30T00:00:00+00:00",
                          "intervalEnd": "2026-03-31T00:00:00+00:00",
                          "activeCustomers": 63,
                          "newCustomers": 24,
                          "returningCustomers": 39
                        },
                        {
                          "intervalStart": "2026-03-31T00:00:00+00:00",
                          "intervalEnd": "2026-04-01T00:00:00+00:00",
                          "activeCustomers": 51,
                          "newCustomers": 10,
                          "returningCustomers": 41
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-25T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-26T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 83
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 69
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 14
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-25T00:00:00+00:00",
                    "periodEnd": "2026-04-01T00:00:00+00:00",
                    "totalTransactions": 4182,
                    "authorizeTransactions": 430,
                    "captureTransactions": 477,
                    "payTransactions": 2322,
                    "refundTransactions": 531,
                    "verifyTransactions": 266,
                    "voidTransactions": 156,
                    "successfulTransactions": 3761,
                    "failedTransactions": 288,
                    "declinedTransactions": 115,
                    "pendingTransactions": 18,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-25T00:00:00+00:00",
                        "intervalEnd": "2026-03-26T00:00:00+00:00",
                        "totalTransactions": 477,
                        "authorizeTransactions": 57,
                        "captureTransactions": 65,
                        "payTransactions": 184,
                        "refundTransactions": 93,
                        "verifyTransactions": 50,
                        "voidTransactions": 28,
                        "successfulTransactions": 429,
                        "failedTransactions": 41,
                        "declinedTransactions": 4,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-26T00:00:00+00:00",
                        "intervalEnd": "2026-03-27T00:00:00+00:00",
                        "totalTransactions": 715,
                        "authorizeTransactions": 84,
                        "captureTransactions": 94,
                        "payTransactions": 177,
                        "refundTransactions": 253,
                        "verifyTransactions": 54,
                        "voidTransactions": 53,
                        "successfulTransactions": 643,
                        "failedTransactions": 51,
                        "declinedTransactions": 18,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-27T00:00:00+00:00",
                        "intervalEnd": "2026-03-28T00:00:00+00:00",
                        "totalTransactions": 596,
                        "authorizeTransactions": 69,
                        "captureTransactions": 75,
                        "payTransactions": 397,
                        "refundTransactions": 42,
                        "verifyTransactions": 9,
                        "voidTransactions": 4,
                        "successfulTransactions": 536,
                        "failedTransactions": 39,
                        "declinedTransactions": 17,
                        "pendingTransactions": 4,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-28T00:00:00+00:00",
                        "intervalEnd": "2026-03-29T00:00:00+00:00",
                        "totalTransactions": 950,
                        "authorizeTransactions": 115,
                        "captureTransactions": 122,
                        "payTransactions": 672,
                        "refundTransactions": 29,
                        "verifyTransactions": 9,
                        "voidTransactions": 3,
                        "successfulTransactions": 855,
                        "failedTransactions": 52,
                        "declinedTransactions": 40,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-29T00:00:00+00:00",
                        "intervalEnd": "2026-03-30T00:00:00+00:00",
                        "totalTransactions": 151,
                        "authorizeTransactions": 11,
                        "captureTransactions": 13,
                        "payTransactions": 21,
                        "refundTransactions": 7,
                        "verifyTransactions": 84,
                        "voidTransactions": 15,
                        "successfulTransactions": 135,
                        "failedTransactions": 10,
                        "declinedTransactions": 5,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-30T00:00:00+00:00",
                        "intervalEnd": "2026-03-31T00:00:00+00:00",
                        "totalTransactions": 864,
                        "authorizeTransactions": 58,
                        "captureTransactions": 65,
                        "payTransactions": 629,
                        "refundTransactions": 71,
                        "verifyTransactions": 22,
                        "voidTransactions": 19,
                        "successfulTransactions": 777,
                        "failedTransactions": 68,
                        "declinedTransactions": 18,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-31T00:00:00+00:00",
                        "intervalEnd": "2026-04-01T00:00:00+00:00",
                        "totalTransactions": 429,
                        "authorizeTransactions": 36,
                        "captureTransactions": 43,
                        "payTransactions": 242,
                        "refundTransactions": 36,
                        "verifyTransactions": 38,
                        "voidTransactions": 34,
                        "successfulTransactions": 386,
                        "failedTransactions": 27,
                        "declinedTransactions": 13,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-25T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-01T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 4182
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 430
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 477
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 2322
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 531
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 266
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 156
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 3761
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 288
                    },
                    "declinedTransactions": {
                      "type": "integer",
                      "example": 115
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 18
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-25T00:00:00+00:00",
                          "intervalEnd": "2026-03-26T00:00:00+00:00",
                          "totalTransactions": 477,
                          "authorizeTransactions": 57,
                          "captureTransactions": 65,
                          "payTransactions": 184,
                          "refundTransactions": 93,
                          "verifyTransactions": 50,
                          "voidTransactions": 28,
                          "successfulTransactions": 429,
                          "failedTransactions": 41,
                          "declinedTransactions": 4,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-26T00:00:00+00:00",
                          "intervalEnd": "2026-03-27T00:00:00+00:00",
                          "totalTransactions": 715,
                          "authorizeTransactions": 84,
                          "captureTransactions": 94,
                          "payTransactions": 177,
                          "refundTransactions": 253,
                          "verifyTransactions": 54,
                          "voidTransactions": 53,
                          "successfulTransactions": 643,
                          "failedTransactions": 51,
                          "declinedTransactions": 18,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-27T00:00:00+00:00",
                          "intervalEnd": "2026-03-28T00:00:00+00:00",
                          "totalTransactions": 596,
                          "authorizeTransactions": 69,
                          "captureTransactions": 75,
                          "payTransactions": 397,
                          "refundTransactions": 42,
                          "verifyTransactions": 9,
                          "voidTransactions": 4,
                          "successfulTransactions": 536,
                          "failedTransactions": 39,
                          "declinedTransactions": 17,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-28T00:00:00+00:00",
                          "intervalEnd": "2026-03-29T00:00:00+00:00",
                          "totalTransactions": 950,
                          "authorizeTransactions": 115,
                          "captureTransactions": 122,
                          "payTransactions": 672,
                          "refundTransactions": 29,
                          "verifyTransactions": 9,
                          "voidTransactions": 3,
                          "successfulTransactions": 855,
                          "failedTransactions": 52,
                          "declinedTransactions": 40,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-29T00:00:00+00:00",
                          "intervalEnd": "2026-03-30T00:00:00+00:00",
                          "totalTransactions": 151,
                          "authorizeTransactions": 11,
                          "captureTransactions": 13,
                          "payTransactions": 21,
                          "refundTransactions": 7,
                          "verifyTransactions": 84,
                          "voidTransactions": 15,
                          "successfulTransactions": 135,
                          "failedTransactions": 10,
                          "declinedTransactions": 5,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-30T00:00:00+00:00",
                          "intervalEnd": "2026-03-31T00:00:00+00:00",
                          "totalTransactions": 864,
                          "authorizeTransactions": 58,
                          "captureTransactions": 65,
                          "payTransactions": 629,
                          "refundTransactions": 71,
                          "verifyTransactions": 22,
                          "voidTransactions": 19,
                          "successfulTransactions": 777,
                          "failedTransactions": 68,
                          "declinedTransactions": 18,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-31T00:00:00+00:00",
                          "intervalEnd": "2026-04-01T00:00:00+00:00",
                          "totalTransactions": 429,
                          "authorizeTransactions": 36,
                          "captureTransactions": 43,
                          "payTransactions": 242,
                          "refundTransactions": 36,
                          "verifyTransactions": 38,
                          "voidTransactions": 34,
                          "successfulTransactions": 386,
                          "failedTransactions": 27,
                          "declinedTransactions": 13,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-25T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-26T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 477
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 57
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 65
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 184
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 93
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 50
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": 28
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 429
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 41
                          },
                          "declinedTransactions": {
                            "type": "integer",
                            "example": 4
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 3
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-25T00:00:00+00:00",
                    "periodEnd": "2026-04-01T00:00:00+00:00",
                    "totalSettlementAmount": 33835.1,
                    "totalFeeAmount": 1657.9199,
                    "totalNetAmount": 32177.1801,
                    "totalTransactionsPending": 178,
                    "totalTransactionsSettled": 633,
                    "totalTransactionsSettling": 1379,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-25T00:00:00+00:00",
                        "intervalEnd": "2026-03-26T00:00:00+00:00",
                        "totalSettlementAmount": 2823.98,
                        "totalFeeAmount": 138.37502,
                        "totalNetAmount": 2685.60498,
                        "totalTransactionsPending": 31,
                        "totalTransactionsSettled": 82,
                        "totalTransactionsSettling": 149
                      },
                      {
                        "intervalStart": "2026-03-26T00:00:00+00:00",
                        "intervalEnd": "2026-03-27T00:00:00+00:00",
                        "totalSettlementAmount": 591.59,
                        "totalFeeAmount": 28.98791,
                        "totalNetAmount": 562.60209,
                        "totalTransactionsPending": 19,
                        "totalTransactionsSettled": 75,
                        "totalTransactionsSettling": 391
                      },
                      {
                        "intervalStart": "2026-03-27T00:00:00+00:00",
                        "intervalEnd": "2026-03-28T00:00:00+00:00",
                        "totalSettlementAmount": 7175.41,
                        "totalFeeAmount": 351.59509,
                        "totalNetAmount": 6823.81491,
                        "totalTransactionsPending": 19,
                        "totalTransactionsSettled": 75,
                        "totalTransactionsSettling": 54
                      },
                      {
                        "intervalStart": "2026-03-28T00:00:00+00:00",
                        "intervalEnd": "2026-03-29T00:00:00+00:00",
                        "totalSettlementAmount": 9520.9,
                        "totalFeeAmount": 466.5241,
                        "totalNetAmount": 9054.3759,
                        "totalTransactionsPending": 19,
                        "totalTransactionsSettled": 212,
                        "totalTransactionsSettling": 183
                      },
                      {
                        "intervalStart": "2026-03-29T00:00:00+00:00",
                        "intervalEnd": "2026-03-30T00:00:00+00:00",
                        "totalSettlementAmount": 4737.33,
                        "totalFeeAmount": 232.12917,
                        "totalNetAmount": 4505.20083,
                        "totalTransactionsPending": 21,
                        "totalTransactionsSettled": 27,
                        "totalTransactionsSettling": 409
                      },
                      {
                        "intervalStart": "2026-03-30T00:00:00+00:00",
                        "intervalEnd": "2026-03-31T00:00:00+00:00",
                        "totalSettlementAmount": 2667.42,
                        "totalFeeAmount": 130.70358,
                        "totalNetAmount": 2536.71642,
                        "totalTransactionsPending": 33,
                        "totalTransactionsSettled": 122,
                        "totalTransactionsSettling": 79
                      },
                      {
                        "intervalStart": "2026-03-31T00:00:00+00:00",
                        "intervalEnd": "2026-04-01T00:00:00+00:00",
                        "totalSettlementAmount": 6318.47,
                        "totalFeeAmount": 309.60503,
                        "totalNetAmount": 6008.86497,
                        "totalTransactionsPending": 36,
                        "totalTransactionsSettled": 40,
                        "totalTransactionsSettling": 114
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-25T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-01T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 33835.1
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 1657.9199
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 32177.1801
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 178
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 633
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 1379
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-25T00:00:00+00:00",
                          "intervalEnd": "2026-03-26T00:00:00+00:00",
                          "totalSettlementAmount": 2823.98,
                          "totalFeeAmount": 138.37502,
                          "totalNetAmount": 2685.60498,
                          "totalTransactionsPending": 31,
                          "totalTransactionsSettled": 82,
                          "totalTransactionsSettling": 149
                        },
                        {
                          "intervalStart": "2026-03-26T00:00:00+00:00",
                          "intervalEnd": "2026-03-27T00:00:00+00:00",
                          "totalSettlementAmount": 591.59,
                          "totalFeeAmount": 28.98791,
                          "totalNetAmount": 562.60209,
                          "totalTransactionsPending": 19,
                          "totalTransactionsSettled": 75,
                          "totalTransactionsSettling": 391
                        },
                        {
                          "intervalStart": "2026-03-27T00:00:00+00:00",
                          "intervalEnd": "2026-03-28T00:00:00+00:00",
                          "totalSettlementAmount": 7175.41,
                          "totalFeeAmount": 351.59509,
                          "totalNetAmount": 6823.81491,
                          "totalTransactionsPending": 19,
                          "totalTransactionsSettled": 75,
                          "totalTransactionsSettling": 54
                        },
                        {
                          "intervalStart": "2026-03-28T00:00:00+00:00",
                          "intervalEnd": "2026-03-29T00:00:00+00:00",
                          "totalSettlementAmount": 9520.9,
                          "totalFeeAmount": 466.5241,
                          "totalNetAmount": 9054.3759,
                          "totalTransactionsPending": 19,
                          "totalTransactionsSettled": 212,
                          "totalTransactionsSettling": 183
                        },
                        {
                          "intervalStart": "2026-03-29T00:00:00+00:00",
                          "intervalEnd": "2026-03-30T00:00:00+00:00",
                          "totalSettlementAmount": 4737.33,
                          "totalFeeAmount": 232.12917,
                          "totalNetAmount": 4505.20083,
                          "totalTransactionsPending": 21,
                          "totalTransactionsSettled": 27,
                          "totalTransactionsSettling": 409
                        },
                        {
                          "intervalStart": "2026-03-30T00:00:00+00:00",
                          "intervalEnd": "2026-03-31T00:00:00+00:00",
                          "totalSettlementAmount": 2667.42,
                          "totalFeeAmount": 130.70358,
                          "totalNetAmount": 2536.71642,
                          "totalTransactionsPending": 33,
                          "totalTransactionsSettled": 122,
                          "totalTransactionsSettling": 79
                        },
                        {
                          "intervalStart": "2026-03-31T00:00:00+00:00",
                          "intervalEnd": "2026-04-01T00:00:00+00:00",
                          "totalSettlementAmount": 6318.47,
                          "totalFeeAmount": 309.60503,
                          "totalNetAmount": 6008.86497,
                          "totalTransactionsPending": 36,
                          "totalTransactionsSettled": 40,
                          "totalTransactionsSettling": 114
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-25T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-26T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 2823.98
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 138.37502
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 2685.60498
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 31
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 82
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 149
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 3,
                    "data": [
                      {
                        "email": "uflatley@terry.org",
                        "firstName": "Hugh",
                        "lastName": "Stanton",
                        "phone": "+17344933346",
                        "dateOfBirth": "2001-12-10"
                      },
                      {
                        "email": "albin85@damore.com",
                        "firstName": "Neil",
                        "lastName": "Grant",
                        "phone": "+12343223647",
                        "dateOfBirth": "1997-10-10"
                      },
                      {
                        "email": "quitzon.amani@hotmail.com",
                        "firstName": "Mikel",
                        "lastName": "Beatty",
                        "phone": "+19287242265",
                        "dateOfBirth": "2007-10-13"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 3,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "uflatley@terry.org",
                          "firstName": "Hugh",
                          "lastName": "Stanton",
                          "phone": "+17344933346",
                          "dateOfBirth": "2001-12-10"
                        },
                        {
                          "email": "albin85@damore.com",
                          "firstName": "Neil",
                          "lastName": "Grant",
                          "phone": "+12343223647",
                          "dateOfBirth": "1997-10-10"
                        },
                        {
                          "email": "quitzon.amani@hotmail.com",
                          "firstName": "Mikel",
                          "lastName": "Beatty",
                          "phone": "+19287242265",
                          "dateOfBirth": "2007-10-13"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "uflatley@terry.org"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Hugh"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Stanton"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+17344933346"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "2001-12-10"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers/{customerIdOrEmail}/addresses": {
      "get": {
        "summary": "List Customer Billing Addresses",
        "operationId": "listCustomerBillingAddresses",
        "description": "Returns all unique billing addresses that have been used by a customer across their payments.\nAddresses are deduplicated using case-insensitive and whitespace-insensitive comparison.",
        "parameters": [
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
            "example": "-city",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
              "example": "-city",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of unique billing addresses for the customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "company": "Hand and Sons",
                        "street": "4821 Rosetta Lock Apt. 356",
                        "city": "Windlerside",
                        "stateProvince": "MT",
                        "postcodeZip": "06165",
                        "country": "USA"
                      },
                      {
                        "company": "Pacocha Inc",
                        "street": "2689 Marks Cliff",
                        "city": "New Richardside",
                        "stateProvince": "SD",
                        "postcodeZip": "60105-4637",
                        "country": "USA"
                      },
                      {
                        "company": "Abshire-Braun",
                        "street": "1483 Schiller Harbor Apt. 932",
                        "city": "North Stewartmouth",
                        "stateProvince": "CA",
                        "postcodeZip": "83066",
                        "country": "USA"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "company": "Hand and Sons",
                          "street": "4821 Rosetta Lock Apt. 356",
                          "city": "Windlerside",
                          "stateProvince": "MT",
                          "postcodeZip": "06165",
                          "country": "USA"
                        },
                        {
                          "company": "Pacocha Inc",
                          "street": "2689 Marks Cliff",
                          "city": "New Richardside",
                          "stateProvince": "SD",
                          "postcodeZip": "60105-4637",
                          "country": "USA"
                        },
                        {
                          "company": "Abshire-Braun",
                          "street": "1483 Schiller Harbor Apt. 932",
                          "city": "North Stewartmouth",
                          "stateProvince": "CA",
                          "postcodeZip": "83066",
                          "country": "USA"
                        }
                      ],
                      "description": "The data returned from the request",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "company": {
                            "type": "string",
                            "example": "Hand and Sons"
                          },
                          "street": {
                            "type": "string",
                            "example": "4821 Rosetta Lock Apt. 356"
                          },
                          "city": {
                            "type": "string",
                            "example": "Windlerside"
                          },
                          "stateProvince": {
                            "type": "string",
                            "example": "MT"
                          },
                          "postcodeZip": {
                            "type": "string",
                            "example": "06165"
                          },
                          "country": {
                            "type": "string",
                            "example": "USA"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "path",
          "name": "customerIdOrEmail",
          "description": "The customer ID, UUID, or email address",
          "example": "customer_123",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/simulated/terminals": {
      "get": {
        "summary": "Get all available simulated terminals.",
        "operationId": "getAllAvailableSimulatedTerminals",
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of available simulated terminals",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "title": "Success",
                        "description": "Approves all card present transactions successfully.",
                        "tid": "SUCCESS",
                        "readyForProcessing": true,
                        "provider": "SIMULATED",
                        "type": "CARD_PRESENT"
                      },
                      {
                        "title": "Transaction Declined",
                        "description": "Simulates a declined transaction.",
                        "tid": "TRANSACTION_DECLINED",
                        "readyForProcessing": true,
                        "provider": "SIMULATED",
                        "type": "CARD_PRESENT"
                      },
                      {
                        "title": "Card Present Timeout",
                        "description": "Simulates a card present timeout.",
                        "tid": "CARD_PRESENT_TIMEOUT",
                        "readyForProcessing": true,
                        "provider": "SIMULATED",
                        "type": "CARD_PRESENT"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "title": "Success",
[...]
