{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.74.0"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payout Exports",
      "description": "Create payout exports"
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/api/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-04-28T00:00:00+00:00",
                      "periodEnd": "2026-05-05T00:00:00+00:00",
                      "numPaymentsCreated": 4293,
                      "numPaymentsProcessed": 2792,
                      "numPaymentsIncomplete": 1501,
                      "numPaymentsWithRefunds": 1387,
                      "numCardPresentPayments": 1215,
                      "numCardNotPresentPayments": 286,
                      "totalCapturedAmount": 4139352.72,
                      "totalRefundedAmount": 404533.31,
                      "totalNetCapturedAmount": 3734819.41,
                      "averageNetCapturedAmount": 1804.7742857143,
                      "minNetCapturedAmount": 20.75,
                      "maxNetCapturedAmount": 9541.39,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-04-28T00:00:00+00:00",
                          "intervalEnd": "2026-04-29T00:00:00+00:00",
                          "numPaymentsCreated": 690,
                          "numPaymentsProcessed": 520,
                          "numPaymentsIncomplete": 170,
                          "numPaymentsWithRefunds": 388,
                          "numCardPresentPayments": 403,
                          "numCardNotPresentPayments": -233,
                          "totalCapturedAmount": 777188.33,
                          "totalRefundedAmount": 51709.05,
                          "totalNetCapturedAmount": 725479.28,
                          "averageNetCapturedAmount": 1395.15,
                          "minNetCapturedAmount": 72.59,
                          "maxNetCapturedAmount": 7733.42
                        },
                        {
                          "intervalStart": "2026-04-29T00:00:00+00:00",
                          "intervalEnd": "2026-04-30T00:00:00+00:00",
                          "numPaymentsCreated": 300,
                          "numPaymentsProcessed": 295,
                          "numPaymentsIncomplete": 5,
                          "numPaymentsWithRefunds": 106,
                          "numCardPresentPayments": 3,
                          "numCardNotPresentPayments": 2,
                          "totalCapturedAmount": 654110.25,
                          "totalRefundedAmount": 168282.59,
                          "totalNetCapturedAmount": 485827.66,
                          "averageNetCapturedAmount": 1646.87,
                          "minNetCapturedAmount": 21.8,
                          "maxNetCapturedAmount": 8232.64
                        },
                        {
                          "intervalStart": "2026-04-30T00:00:00+00:00",
                          "intervalEnd": "2026-05-01T00:00:00+00:00",
                          "numPaymentsCreated": 891,
                          "numPaymentsProcessed": 808,
                          "numPaymentsIncomplete": 83,
                          "numPaymentsWithRefunds": 186,
                          "numCardPresentPayments": 41,
                          "numCardNotPresentPayments": 42,
                          "totalCapturedAmount": 600728.47,
                          "totalRefundedAmount": 11059.34,
                          "totalNetCapturedAmount": 589669.13,
                          "averageNetCapturedAmount": 729.79,
                          "minNetCapturedAmount": 20.75,
                          "maxNetCapturedAmount": 9541.39
                        },
                        {
                          "intervalStart": "2026-05-01T00:00:00+00:00",
                          "intervalEnd": "2026-05-02T00:00:00+00:00",
                          "numPaymentsCreated": 665,
                          "numPaymentsProcessed": 480,
                          "numPaymentsIncomplete": 185,
                          "numPaymentsWithRefunds": 264,
                          "numCardPresentPayments": 435,
                          "numCardNotPresentPayments": -250,
                          "totalCapturedAmount": 315812.1,
                          "totalRefundedAmount": 35351.11,
                          "totalNetCapturedAmount": 280460.99,
                          "averageNetCapturedAmount": 584.29,
                          "minNetCapturedAmount": 97.62,
                          "maxNetCapturedAmount": 4404.21
                        },
                        {
                          "intervalStart": "2026-05-02T00:00:00+00:00",
                          "intervalEnd": "2026-05-03T00:00:00+00:00",
                          "numPaymentsCreated": 381,
                          "numPaymentsProcessed": 174,
                          "numPaymentsIncomplete": 207,
                          "numPaymentsWithRefunds": 46,
                          "numCardPresentPayments": 109,
                          "numCardNotPresentPayments": 98,
                          "totalCapturedAmount": 553120.47,
                          "totalRefundedAmount": 84781.19,
                          "totalNetCapturedAmount": 468339.28,
                          "averageNetCapturedAmount": 2691.61,
                          "minNetCapturedAmount": 28.15,
                          "maxNetCapturedAmount": 6201.35
                        },
                        {
                          "intervalStart": "2026-05-03T00:00:00+00:00",
                          "intervalEnd": "2026-05-04T00:00:00+00:00",
                          "numPaymentsCreated": 368,
                          "numPaymentsProcessed": 187,
                          "numPaymentsIncomplete": 181,
                          "numPaymentsWithRefunds": 154,
                          "numCardPresentPayments": 102,
                          "numCardNotPresentPayments": 79,
                          "totalCapturedAmount": 876425.39,
                          "totalRefundedAmount": 18255.89,
                          "totalNetCapturedAmount": 858169.5,
                          "averageNetCapturedAmount": 4589.14,
                          "minNetCapturedAmount": 74.34,
                          "maxNetCapturedAmount": 4776.43
                        },
                        {
                          "intervalStart": "2026-05-04T00:00:00+00:00",
                          "intervalEnd": "2026-05-05T00:00:00+00:00",
                          "numPaymentsCreated": 998,
                          "numPaymentsProcessed": 328,
                          "numPaymentsIncomplete": 670,
                          "numPaymentsWithRefunds": 243,
                          "numCardPresentPayments": 122,
                          "numCardNotPresentPayments": 548,
                          "totalCapturedAmount": 361967.71,
                          "totalRefundedAmount": 35094.14,
                          "totalNetCapturedAmount": 326873.57,
                          "averageNetCapturedAmount": 996.57,
                          "minNetCapturedAmount": 57.99,
                          "maxNetCapturedAmount": 7191.86
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-04-28T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-05-05T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "numPaymentsCreated": {
                          "type": "integer",
                          "example": 4293,
                          "description": "Total number of payment records created in the period",
                          "enum": []
                        },
                        "numPaymentsProcessed": {
                          "type": "integer",
                          "example": 2792,
                          "description": "Number of payments that have successfully had funds captured (captured amount > 0)",
                          "enum": []
                        },
                        "numPaymentsIncomplete": {
                          "type": "integer",
                          "example": 1501,
                          "description": "Number of payments which have been created but funds have not been captured yet (e.g. failures, declines, authorizations, etc.)",
                          "enum": []
                        },
                        "numPaymentsWithRefunds": {
                          "type": "integer",
                          "example": 1387,
                          "description": "Number of payments that have had one or more refunds (refunded amount > 0)",
                          "enum": []
                        },
                        "numCardPresentPayments": {
                          "type": "integer",
                          "example": 1215,
                          "description": "Number of payments made with card present (e.g. via terminal device)",
                          "enum": []
                        },
                        "numCardNotPresentPayments": {
                          "type": "integer",
                          "example": 286,
                          "description": "Number of payments made with card not present (e.g. online payments)",
                          "enum": []
                        },
                        "totalCapturedAmount": {
                          "type": "number",
                          "example": 4139352.72,
                          "description": "Total amount captured across all payments in the period",
                          "enum": []
                        },
                        "totalRefundedAmount": {
                          "type": "number",
                          "example": 404533.31,
                          "description": "Total amount refunded across all payments in the period",
                          "enum": []
                        },
                        "totalNetCapturedAmount": {
                          "type": "number",
                          "example": 3734819.41,
                          "description": "Net captured amount (captured - refunded) across all payments in the period",
                          "enum": []
                        },
                        "averageNetCapturedAmount": {
                          "type": "number",
                          "example": 1804.7742857143,
                          "description": "Average net captured amount per payment in the period",
                          "enum": []
                        },
                        "minNetCapturedAmount": {
                          "type": "number",
                          "example": 20.75,
                          "description": "Minimum net captured amount in the period",
                          "enum": []
                        },
                        "maxNetCapturedAmount": {
                          "type": "number",
                          "example": 9541.39,
                          "description": "Maximum net captured amount in the period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-04-28T00:00:00+00:00",
                              "intervalEnd": "2026-04-29T00:00:00+00:00",
                              "numPaymentsCreated": 690,
                              "numPaymentsProcessed": 520,
                              "numPaymentsIncomplete": 170,
                              "numPaymentsWithRefunds": 388,
                              "numCardPresentPayments": 403,
                              "numCardNotPresentPayments": -233,
                              "totalCapturedAmount": 777188.33,
                              "totalRefundedAmount": 51709.05,
                              "totalNetCapturedAmount": 725479.28,
                              "averageNetCapturedAmount": 1395.15,
                              "minNetCapturedAmount": 72.59,
                              "maxNetCapturedAmount": 7733.42
                            },
                            {
                              "intervalStart": "2026-04-29T00:00:00+00:00",
                              "intervalEnd": "2026-04-30T00:00:00+00:00",
                              "numPaymentsCreated": 300,
                              "numPaymentsProcessed": 295,
                              "numPaymentsIncomplete": 5,
                              "numPaymentsWithRefunds": 106,
                              "numCardPresentPayments": 3,
                              "numCardNotPresentPayments": 2,
                              "totalCapturedAmount": 654110.25,
                              "totalRefundedAmount": 168282.59,
                              "totalNetCapturedAmount": 485827.66,
                              "averageNetCapturedAmount": 1646.87,
                              "minNetCapturedAmount": 21.8,
                              "maxNetCapturedAmount": 8232.64
                            },
                            {
                              "intervalStart": "2026-04-30T00:00:00+00:00",
                              "intervalEnd": "2026-05-01T00:00:00+00:00",
                              "numPaymentsCreated": 891,
                              "numPaymentsProcessed": 808,
                              "numPaymentsIncomplete": 83,
                              "numPaymentsWithRefunds": 186,
                              "numCardPresentPayments": 41,
                              "numCardNotPresentPayments": 42,
                              "totalCapturedAmount": 600728.47,
                              "totalRefundedAmount": 11059.34,
                              "totalNetCapturedAmount": 589669.13,
                              "averageNetCapturedAmount": 729.79,
                              "minNetCapturedAmount": 20.75,
                              "maxNetCapturedAmount": 9541.39
                            },
                            {
                              "intervalStart": "2026-05-01T00:00:00+00:00",
                              "intervalEnd": "2026-05-02T00:00:00+00:00",
                              "numPaymentsCreated": 665,
                              "numPaymentsProcessed": 480,
                              "numPaymentsIncomplete": 185,
                              "numPaymentsWithRefunds": 264,
                              "numCardPresentPayments": 435,
                              "numCardNotPresentPayments": -250,
                              "totalCapturedAmount": 315812.1,
                              "totalRefundedAmount": 35351.11,
                              "totalNetCapturedAmount": 280460.99,
                              "averageNetCapturedAmount": 584.29,
                              "minNetCapturedAmount": 97.62,
                              "maxNetCapturedAmount": 4404.21
                            },
                            {
                              "intervalStart": "2026-05-02T00:00:00+00:00",
                              "intervalEnd": "2026-05-03T00:00:00+00:00",
                              "numPaymentsCreated": 381,
                              "numPaymentsProcessed": 174,
                              "numPaymentsIncomplete": 207,
                              "numPaymentsWithRefunds": 46,
                              "numCardPresentPayments": 109,
                              "numCardNotPresentPayments": 98,
                              "totalCapturedAmount": 553120.47,
                              "totalRefundedAmount": 84781.19,
                              "totalNetCapturedAmount": 468339.28,
                              "averageNetCapturedAmount": 2691.61,
                              "minNetCapturedAmount": 28.15,
                              "maxNetCapturedAmount": 6201.35
                            },
                            {
                              "intervalStart": "2026-05-03T00:00:00+00:00",
                              "intervalEnd": "2026-05-04T00:00:00+00:00",
                              "numPaymentsCreated": 368,
                              "numPaymentsProcessed": 187,
                              "numPaymentsIncomplete": 181,
                              "numPaymentsWithRefunds": 154,
                              "numCardPresentPayments": 102,
                              "numCardNotPresentPayments": 79,
                              "totalCapturedAmount": 876425.39,
                              "totalRefundedAmount": 18255.89,
                              "totalNetCapturedAmount": 858169.5,
                              "averageNetCapturedAmount": 4589.14,
                              "minNetCapturedAmount": 74.34,
                              "maxNetCapturedAmount": 4776.43
                            },
                            {
                              "intervalStart": "2026-05-04T00:00:00+00:00",
                              "intervalEnd": "2026-05-05T00:00:00+00:00",
                              "numPaymentsCreated": 998,
                              "numPaymentsProcessed": 328,
                              "numPaymentsIncomplete": 670,
                              "numPaymentsWithRefunds": 243,
                              "numCardPresentPayments": 122,
                              "numCardNotPresentPayments": 548,
                              "totalCapturedAmount": 361967.71,
                              "totalRefundedAmount": 35094.14,
                              "totalNetCapturedAmount": 326873.57,
                              "averageNetCapturedAmount": 996.57,
                              "minNetCapturedAmount": 57.99,
                              "maxNetCapturedAmount": 7191.86
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-04-28T00:00:00+00:00",
                                "description": "Start time of the PaymentAnalyticsData interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-04-29T00:00:00+00:00",
                                "description": "End time of the PaymentAnalyticsData interval",
                                "enum": []
                              },
                              "numPaymentsCreated": {
                                "type": "integer",
                                "example": 690,
                                "description": "Total number of payment records created in the interval",
                                "enum": []
                              },
                              "numPaymentsProcessed": {
                                "type": "integer",
                                "example": 520,
                                "description": "Number of payments that have successfully had funds captured (captured amount > 0)",
                                "enum": []
                              },
                              "numPaymentsIncomplete": {
                                "type": "integer",
                                "example": 170,
                                "description": "Number of payments which have been created but funds have not been captured yet (e.g. failures, declines, authorizations, etc.)",
                                "enum": []
                              },
                              "numPaymentsWithRefunds": {
                                "type": "integer",
                                "example": 388,
                                "description": "Number of payments that have had one or more refunds (refunded amount > 0)",
                                "enum": []
                              },
                              "numCardPresentPayments": {
                                "type": "integer",
                                "example": 403,
                                "description": "Number of payments made with card present (e.g. via terminal device)",
                                "enum": []
                              },
                              "numCardNotPresentPayments": {
                                "type": "integer",
                                "example": -233,
                                "description": "Number of payments made with card not present (e.g. online payments)",
                                "enum": []
                              },
                              "totalCapturedAmount": {
                                "type": "number",
                                "example": 777188.33,
                                "description": "Total amount captured across all payments in the interval",
                                "enum": []
                              },
                              "totalRefundedAmount": {
                                "type": "number",
                                "example": 51709.05,
                                "description": "Total amount refunded across all payments in the interval",
                                "enum": []
                              },
                              "totalNetCapturedAmount": {
                                "type": "number",
                                "example": 725479.28,
                                "description": "Net captured amount (captured - refunded) across all payments in the interval",
                                "enum": []
                              },
                              "averageNetCapturedAmount": {
                                "type": "number",
                                "example": 1395.15,
                                "description": "Average net captured amount per payment in the interval",
                                "enum": []
                              },
                              "minNetCapturedAmount": {
                                "type": "number",
                                "example": 72.59,
                                "description": "Minimum net captured amount in the interval",
                                "enum": []
                              },
                              "maxNetCapturedAmount": {
                                "type": "number",
                                "example": 7733.42,
                                "description": "Maximum net captured amount in the interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-04-28T00:00:00+00:00",
                      "periodEnd": "2026-05-05T00:00:00+00:00",
                      "activeCustomers": 319,
                      "newCustomers": 146,
                      "returningCustomers": 173,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-04-28T00:00:00+00:00",
                          "intervalEnd": "2026-04-29T00:00:00+00:00",
                          "activeCustomers": 44,
                          "newCustomers": 12,
                          "returningCustomers": 32
                        },
                        {
                          "intervalStart": "2026-04-29T00:00:00+00:00",
                          "intervalEnd": "2026-04-30T00:00:00+00:00",
                          "activeCustomers": 42,
                          "newCustomers": 11,
                          "returningCustomers": 31
                        },
                        {
                          "intervalStart": "2026-04-30T00:00:00+00:00",
                          "intervalEnd": "2026-05-01T00:00:00+00:00",
                          "activeCustomers": 69,
                          "newCustomers": 34,
                          "returningCustomers": 35
                        },
                        {
                          "intervalStart": "2026-05-01T00:00:00+00:00",
                          "intervalEnd": "2026-05-02T00:00:00+00:00",
                          "activeCustomers": 40,
                          "newCustomers": 13,
                          "returningCustomers": 27
                        },
                        {
                          "intervalStart": "2026-05-02T00:00:00+00:00",
                          "intervalEnd": "2026-05-03T00:00:00+00:00",
                          "activeCustomers": 60,
                          "newCustomers": 37,
                          "returningCustomers": 23
                        },
                        {
                          "intervalStart": "2026-05-03T00:00:00+00:00",
                          "intervalEnd": "2026-05-04T00:00:00+00:00",
                          "activeCustomers": 62,
                          "newCustomers": 6,
                          "returningCustomers": 56
                        },
                        {
                          "intervalStart": "2026-05-04T00:00:00+00:00",
                          "intervalEnd": "2026-05-05T00:00:00+00:00",
                          "activeCustomers": 45,
                          "newCustomers": 33,
                          "returningCustomers": 12
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-04-28T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-05-05T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "activeCustomers": {
                          "type": "integer",
                          "example": 319,
                          "description": "number of customers who are associated with at least one payment which was created in the period",
                          "enum": []
                        },
                        "newCustomers": {
                          "type": "integer",
                          "example": 146,
                          "description": "number of new customers added in the period",
                          "enum": []
                        },
                        "returningCustomers": {
                          "type": "integer",
                          "example": 173,
                          "description": "number of customers who were active in the period but were created before the period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-04-28T00:00:00+00:00",
                              "intervalEnd": "2026-04-29T00:00:00+00:00",
                              "activeCustomers": 44,
                              "newCustomers": 12,
                              "returningCustomers": 32
                            },
                            {
                              "intervalStart": "2026-04-29T00:00:00+00:00",
                              "intervalEnd": "2026-04-30T00:00:00+00:00",
                              "activeCustomers": 42,
                              "newCustomers": 11,
                              "returningCustomers": 31
                            },
                            {
                              "intervalStart": "2026-04-30T00:00:00+00:00",
                              "intervalEnd": "2026-05-01T00:00:00+00:00",
                              "activeCustomers": 69,
                              "newCustomers": 34,
                              "returningCustomers": 35
                            },
                            {
                              "intervalStart": "2026-05-01T00:00:00+00:00",
                              "intervalEnd": "2026-05-02T00:00:00+00:00",
                              "activeCustomers": 40,
                              "newCustomers": 13,
                              "returningCustomers": 27
                            },
                            {
                              "intervalStart": "2026-05-02T00:00:00+00:00",
                              "intervalEnd": "2026-05-03T00:00:00+00:00",
                              "activeCustomers": 60,
                              "newCustomers": 37,
                              "returningCustomers": 23
                            },
                            {
                              "intervalStart": "2026-05-03T00:00:00+00:00",
                              "intervalEnd": "2026-05-04T00:00:00+00:00",
                              "activeCustomers": 62,
                              "newCustomers": 6,
                              "returningCustomers": 56
                            },
                            {
                              "intervalStart": "2026-05-04T00:00:00+00:00",
                              "intervalEnd": "2026-05-05T00:00:00+00:00",
                              "activeCustomers": 45,
                              "newCustomers": 33,
                              "returningCustomers": 12
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-04-28T00:00:00+00:00",
                                "description": "Start time of the analytics calculation interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-04-29T00:00:00+00:00",
                                "description": "End time of the analytics calculation interval",
                                "enum": []
                              },
                              "activeCustomers": {
                                "type": "integer",
                                "example": 44,
                                "description": "number of customers who are associated with at least one payment which was created in the interval",
                                "enum": []
                              },
                              "newCustomers": {
                                "type": "integer",
                                "example": 12,
                                "description": "number of new customers added in the interval",
                                "enum": []
                              },
                              "returningCustomers": {
                                "type": "integer",
                                "example": 32,
                                "description": "number of customers who were active in the interval but were created before the interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-04-28T00:00:00+00:00",
                      "periodEnd": "2026-05-05T00:00:00+00:00",
                      "totalTransactions": 3843,
                      "authorizeTransactions": 172,
                      "captureTransactions": 214,
                      "payTransactions": 2330,
                      "refundTransactions": 518,
                      "verifyTransactions": 231,
                      "voidTransactions": 378,
                      "successfulTransactions": 3456,
                      "failedTransactions": 321,
                      "declinedTransactions": 45,
                      "pendingTransactions": 21,
                      "unknownTransactions": 0,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-04-28T00:00:00+00:00",
                          "intervalEnd": "2026-04-29T00:00:00+00:00",
                          "totalTransactions": 618,
                          "authorizeTransactions": 18,
                          "captureTransactions": 20,
                          "payTransactions": 362,
                          "refundTransactions": 18,
                          "verifyTransactions": 74,
                          "voidTransactions": 126,
                          "successfulTransactions": 556,
                          "failedTransactions": 53,
                          "declinedTransactions": 6,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-29T00:00:00+00:00",
                          "intervalEnd": "2026-04-30T00:00:00+00:00",
                          "totalTransactions": 809,
                          "authorizeTransactions": 19,
                          "captureTransactions": 26,
                          "payTransactions": 395,
                          "refundTransactions": 180,
                          "verifyTransactions": 25,
                          "voidTransactions": 164,
                          "successfulTransactions": 728,
                          "failedTransactions": 64,
                          "declinedTransactions": 10,
                          "pendingTransactions": 7,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-30T00:00:00+00:00",
                          "intervalEnd": "2026-05-01T00:00:00+00:00",
                          "totalTransactions": 191,
                          "authorizeTransactions": 15,
                          "captureTransactions": 20,
                          "payTransactions": 107,
                          "refundTransactions": 24,
                          "verifyTransactions": 19,
                          "voidTransactions": 6,
                          "successfulTransactions": 171,
                          "failedTransactions": 17,
                          "declinedTransactions": 2,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-05-01T00:00:00+00:00",
                          "intervalEnd": "2026-05-02T00:00:00+00:00",
                          "totalTransactions": 449,
                          "authorizeTransactions": 24,
                          "captureTransactions": 27,
                          "payTransactions": 231,
                          "refundTransactions": 109,
                          "verifyTransactions": 54,
                          "voidTransactions": 4,
                          "successfulTransactions": 404,
                          "failedTransactions": 35,
                          "declinedTransactions": 6,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-05-02T00:00:00+00:00",
                          "intervalEnd": "2026-05-03T00:00:00+00:00",
                          "totalTransactions": 874,
                          "authorizeTransactions": 50,
                          "captureTransactions": 59,
                          "payTransactions": 718,
                          "refundTransactions": 12,
                          "verifyTransactions": 29,
                          "voidTransactions": 6,
                          "successfulTransactions": 786,
                          "failedTransactions": 74,
                          "declinedTransactions": 11,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-05-03T00:00:00+00:00",
                          "intervalEnd": "2026-05-04T00:00:00+00:00",
                          "totalTransactions": 228,
                          "authorizeTransactions": 15,
                          "captureTransactions": 24,
                          "payTransactions": 157,
                          "refundTransactions": 23,
                          "verifyTransactions": 9,
                          "voidTransactions": 0,
                          "successfulTransactions": 205,
                          "failedTransactions": 15,
                          "declinedTransactions": 6,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-05-04T00:00:00+00:00",
                          "intervalEnd": "2026-05-05T00:00:00+00:00",
                          "totalTransactions": 674,
                          "authorizeTransactions": 31,
                          "captureTransactions": 38,
                          "payTransactions": 360,
                          "refundTransactions": 152,
                          "verifyTransactions": 21,
                          "voidTransactions": 72,
                          "successfulTransactions": 606,
                          "failedTransactions": 63,
                          "declinedTransactions": 4,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-04-28T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-05-05T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "totalTransactions": {
                          "type": "integer",
                          "example": 3843,
                          "description": "Total number of transactions in the period",
                          "enum": []
                        },
                        "authorizeTransactions": {
                          "type": "integer",
                          "example": 172,
                          "description": "Number of authorize transactions in the period",
                          "enum": []
                        },
                        "captureTransactions": {
                          "type": "integer",
                          "example": 214,
                          "description": "Number of capture transactions in the period",
                          "enum": []
                        },
                        "payTransactions": {
                          "type": "integer",
                          "example": 2330,
                          "description": "Number of pay transactions in the period",
                          "enum": []
                        },
                        "refundTransactions": {
                          "type": "integer",
                          "example": 518,
                          "description": "Number of refund transactions in the period",
                          "enum": []
                        },
                        "verifyTransactions": {
                          "type": "integer",
                          "example": 231,
                          "description": "Number of verify transactions in the period",
                          "enum": []
                        },
                        "voidTransactions": {
                          "type": "integer",
                          "example": 378,
                          "description": "Number of void transactions in the period",
                          "enum": []
                        },
                        "successfulTransactions": {
                          "type": "integer",
                          "example": 3456,
                          "description": "Number of successful transactions in the period",
                          "enum": []
                        },
                        "failedTransactions": {
                          "type": "integer",
                          "example": 321,
                          "description": "Number of failed transactions in the period",
                          "enum": []
                        },
                        "declinedTransactions": {
                          "type": "integer",
                          "example": 45,
                          "description": "Number of declined transactions in the period",
                          "enum": []
                        },
                        "pendingTransactions": {
                          "type": "integer",
                          "example": 21,
                          "description": "Number of pending transactions in the period",
                          "enum": []
                        },
                        "unknownTransactions": {
                          "type": "integer",
                          "example": 0,
                          "description": "Number of transactions with unknown result in the period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-04-28T00:00:00+00:00",
                              "intervalEnd": "2026-04-29T00:00:00+00:00",
                              "totalTransactions": 618,
                              "authorizeTransactions": 18,
                              "captureTransactions": 20,
                              "payTransactions": 362,
                              "refundTransactions": 18,
                              "verifyTransactions": 74,
                              "voidTransactions": 126,
                              "successfulTransactions": 556,
                              "failedTransactions": 53,
                              "declinedTransactions": 6,
                              "pendingTransactions": 3,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-04-29T00:00:00+00:00",
                              "intervalEnd": "2026-04-30T00:00:00+00:00",
                              "totalTransactions": 809,
                              "authorizeTransactions": 19,
                              "captureTransactions": 26,
                              "payTransactions": 395,
                              "refundTransactions": 180,
                              "verifyTransactions": 25,
                              "voidTransactions": 164,
                              "successfulTransactions": 728,
                              "failedTransactions": 64,
                              "declinedTransactions": 10,
                              "pendingTransactions": 7,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-04-30T00:00:00+00:00",
                              "intervalEnd": "2026-05-01T00:00:00+00:00",
                              "totalTransactions": 191,
                              "authorizeTransactions": 15,
                              "captureTransactions": 20,
                              "payTransactions": 107,
                              "refundTransactions": 24,
                              "verifyTransactions": 19,
                              "voidTransactions": 6,
                              "successfulTransactions": 171,
                              "failedTransactions": 17,
                              "declinedTransactions": 2,
                              "pendingTransactions": 1,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-05-01T00:00:00+00:00",
                              "intervalEnd": "2026-05-02T00:00:00+00:00",
                              "totalTransactions": 449,
                              "authorizeTransactions": 24,
                              "captureTransactions": 27,
                              "payTransactions": 231,
                              "refundTransactions": 109,
                              "verifyTransactions": 54,
                              "voidTransactions": 4,
                              "successfulTransactions": 404,
                              "failedTransactions": 35,
                              "declinedTransactions": 6,
                              "pendingTransactions": 4,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-05-02T00:00:00+00:00",
                              "intervalEnd": "2026-05-03T00:00:00+00:00",
                              "totalTransactions": 874,
                              "authorizeTransactions": 50,
                              "captureTransactions": 59,
                              "payTransactions": 718,
                              "refundTransactions": 12,
                              "verifyTransactions": 29,
                              "voidTransactions": 6,
                              "successfulTransactions": 786,
                              "failedTransactions": 74,
                              "declinedTransactions": 11,
                              "pendingTransactions": 3,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-05-03T00:00:00+00:00",
                              "intervalEnd": "2026-05-04T00:00:00+00:00",
                              "totalTransactions": 228,
                              "authorizeTransactions": 15,
                              "captureTransactions": 24,
                              "payTransactions": 157,
                              "refundTransactions": 23,
                              "verifyTransactions": 9,
                              "voidTransactions": 0,
                              "successfulTransactions": 205,
                              "failedTransactions": 15,
                              "declinedTransactions": 6,
                              "pendingTransactions": 2,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-05-04T00:00:00+00:00",
                              "intervalEnd": "2026-05-05T00:00:00+00:00",
                              "totalTransactions": 674,
                              "authorizeTransactions": 31,
                              "captureTransactions": 38,
                              "payTransactions": 360,
                              "refundTransactions": 152,
                              "verifyTransactions": 21,
                              "voidTransactions": 72,
                              "successfulTransactions": 606,
                              "failedTransactions": 63,
                              "declinedTransactions": 4,
                              "pendingTransactions": 1,
                              "unknownTransactions": 0
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-04-28T00:00:00+00:00",
                                "description": "Start time of the analytics calculation interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-04-29T00:00:00+00:00",
                                "description": "End time of the analytics calculation interval",
                                "enum": []
                              },
                              "totalTransactions": {
                                "type": "integer",
                                "example": 618,
                                "description": "Total number of transactions in the interval",
                                "enum": []
                              },
                              "authorizeTransactions": {
                                "type": "integer",
                                "example": 18,
                                "description": "Number of authorize transactions in the interval",
                                "enum": []
                              },
                              "captureTransactions": {
                                "type": "integer",
                                "example": 20,
                                "description": "Number of capture transactions in the interval",
                                "enum": []
                              },
                              "payTransactions": {
                                "type": "integer",
                                "example": 362,
                                "description": "Number of pay transactions in the interval",
                                "enum": []
                              },
                              "refundTransactions": {
                                "type": "integer",
                                "example": 18,
                                "description": "Number of refund transactions in the interval",
                                "enum": []
                              },
                              "verifyTransactions": {
                                "type": "integer",
                                "example": 74,
                                "description": "Number of verify transactions in the interval",
                                "enum": []
                              },
                              "voidTransactions": {
                                "type": "integer",
                                "example": 126,
                                "description": "Number of void transactions in the interval",
                                "enum": []
                              },
                              "successfulTransactions": {
                                "type": "integer",
                                "example": 556,
                                "description": "Number of successful transactions in the interval",
                                "enum": []
                              },
                              "failedTransactions": {
                                "type": "integer",
                                "example": 53,
                                "description": "Number of failed transactions in the interval",
                                "enum": []
                              },
                              "declinedTransactions": {
                                "type": "integer",
                                "example": 6,
                                "description": "Number of declined transactions in the interval",
                                "enum": []
                              },
                              "pendingTransactions": {
                                "type": "integer",
                                "example": 3,
                                "description": "Number of pending transactions in the interval",
                                "enum": []
                              },
                              "unknownTransactions": {
                                "type": "integer",
                                "example": 0,
                                "description": "Number of transactions with unknown result in the interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-04-28T00:00:00+00:00",
                      "periodEnd": "2026-05-05T00:00:00+00:00",
                      "totalSettlementAmount": 32433.28,
                      "totalFeeAmount": 1589.23072,
                      "totalNetAmount": 30844.04928,
                      "totalTransactionsPending": 167,
                      "totalTransactionsSettled": 1168,
                      "totalTransactionsSettling": 661,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-04-28T00:00:00+00:00",
                          "intervalEnd": "2026-04-29T00:00:00+00:00",
                          "totalSettlementAmount": 3730.51,
                          "totalFeeAmount": 182.79499,
                          "totalNetAmount": 3547.71501,
                          "totalTransactionsPending": 27,
                          "totalTransactionsSettled": 137,
                          "totalTransactionsSettling": 244
                        },
                        {
                          "intervalStart": "2026-04-29T00:00:00+00:00",
                          "intervalEnd": "2026-04-30T00:00:00+00:00",
                          "totalSettlementAmount": 3238.76,
                          "totalFeeAmount": 158.69924,
                          "totalNetAmount": 3080.06076,
                          "totalTransactionsPending": 10,
                          "totalTransactionsSettled": 75,
                          "totalTransactionsSettling": 59
                        },
                        {
                          "intervalStart": "2026-04-30T00:00:00+00:00",
                          "intervalEnd": "2026-05-01T00:00:00+00:00",
                          "totalSettlementAmount": 9330.36,
                          "totalFeeAmount": 457.18764,
                          "totalNetAmount": 8873.17236,
                          "totalTransactionsPending": 18,
                          "totalTransactionsSettled": 40,
                          "totalTransactionsSettling": 200
                        },
                        {
                          "intervalStart": "2026-05-01T00:00:00+00:00",
                          "intervalEnd": "2026-05-02T00:00:00+00:00",
                          "totalSettlementAmount": 3309.28,
                          "totalFeeAmount": 162.15472,
                          "totalNetAmount": 3147.12528,
                          "totalTransactionsPending": 37,
                          "totalTransactionsSettled": 189,
                          "totalTransactionsSettling": 14
                        },
                        {
                          "intervalStart": "2026-05-02T00:00:00+00:00",
                          "intervalEnd": "2026-05-03T00:00:00+00:00",
                          "totalSettlementAmount": 6337.66,
                          "totalFeeAmount": 310.54534,
                          "totalNetAmount": 6027.11466,
                          "totalTransactionsPending": 16,
                          "totalTransactionsSettled": 53,
                          "totalTransactionsSettling": 100
                        },
                        {
                          "intervalStart": "2026-05-03T00:00:00+00:00",
                          "intervalEnd": "2026-05-04T00:00:00+00:00",
                          "totalSettlementAmount": 2745.37,
                          "totalFeeAmount": 134.52313,
                          "totalNetAmount": 2610.84687,
                          "totalTransactionsPending": 38,
                          "totalTransactionsSettled": 428,
                          "totalTransactionsSettling": 23
                        },
                        {
                          "intervalStart": "2026-05-04T00:00:00+00:00",
                          "intervalEnd": "2026-05-05T00:00:00+00:00",
                          "totalSettlementAmount": 3741.34,
                          "totalFeeAmount": 183.32566,
                          "totalNetAmount": 3558.01434,
                          "totalTransactionsPending": 21,
                          "totalTransactionsSettled": 246,
                          "totalTransactionsSettling": 21
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-04-28T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-05-05T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "totalSettlementAmount": {
                          "type": "number",
                          "example": 32433.28,
                          "description": "Total settled payout amount in this period",
                          "enum": []
                        },
                        "totalFeeAmount": {
                          "type": "number",
                          "example": 1589.23072,
                          "description": "Total amount of fees charged for the payouts in this period",
                          "enum": []
                        },
                        "totalNetAmount": {
                          "type": "number",
                          "example": 30844.04928,
                          "description": "Total net payout amount in this period",
                          "enum": []
                        },
                        "totalTransactionsPending": {
                          "type": "integer",
                          "example": 167,
                          "description": "Total number of transactions pending in this period",
                          "enum": []
                        },
                        "totalTransactionsSettled": {
                          "type": "integer",
                          "example": 1168,
                          "description": "Total number of transactions settled in this period",
                          "enum": []
                        },
                        "totalTransactionsSettling": {
                          "type": "integer",
                          "example": 661,
                          "description": "Total number of transactions settling in this period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-04-28T00:00:00+00:00",
                              "intervalEnd": "2026-04-29T00:00:00+00:00",
                              "totalSettlementAmount": 3730.51,
                              "totalFeeAmount": 182.79499,
                              "totalNetAmount": 3547.71501,
                              "totalTransactionsPending": 27,
                              "totalTransactionsSettled": 137,
                              "totalTransactionsSettling": 244
                            },
                            {
                              "intervalStart": "2026-04-29T00:00:00+00:00",
                              "intervalEnd": "2026-04-30T00:00:00+00:00",
                              "totalSettlementAmount": 3238.76,
                              "totalFeeAmount": 158.69924,
                              "totalNetAmount": 3080.06076,
                              "totalTransactionsPending": 10,
                              "totalTransactionsSettled": 75,
                              "totalTransactionsSettling": 59
                            },
                            {
                              "intervalStart": "2026-04-30T00:00:00+00:00",
                              "intervalEnd": "2026-05-01T00:00:00+00:00",
                              "totalSettlementAmount": 9330.36,
                              "totalFeeAmount": 457.18764,
                              "totalNetAmount": 8873.17236,
                              "totalTransactionsPending": 18,
                              "totalTransactionsSettled": 40,
                              "totalTransactionsSettling": 200
                            },
                            {
                              "intervalStart": "2026-05-01T00:00:00+00:00",
                              "intervalEnd": "2026-05-02T00:00:00+00:00",
                              "totalSettlementAmount": 3309.28,
                              "totalFeeAmount": 162.15472,
                              "totalNetAmount": 3147.12528,
                              "totalTransactionsPending": 37,
                              "totalTransactionsSettled": 189,
                              "totalTransactionsSettling": 14
                            },
                            {
                              "intervalStart": "2026-05-02T00:00:00+00:00",
                              "intervalEnd": "2026-05-03T00:00:00+00:00",
                              "totalSettlementAmount": 6337.66,
                              "totalFeeAmount": 310.54534,
                              "totalNetAmount": 6027.11466,
                              "totalTransactionsPending": 16,
                              "totalTransactionsSettled": 53,
                              "totalTransactionsSettling": 100
                            },
                            {
                              "intervalStart": "2026-05-03T00:00:00+00:00",
                              "intervalEnd": "2026-05-04T00:00:00+00:00",
                              "totalSettlementAmount": 2745.37,
                              "totalFeeAmount": 134.52313,
                              "totalNetAmount": 2610.84687,
                              "totalTransactionsPending": 38,
                              "totalTransactionsSettled": 428,
                              "totalTransactionsSettling": 23
                            },
                            {
                              "intervalStart": "2026-05-04T00:00:00+00:00",
                              "intervalEnd": "2026-05-05T00:00:00+00:00",
                              "totalSettlementAmount": 3741.34,
                              "totalFeeAmount": 183.32566,
                              "totalNetAmount": 3558.01434,
                              "totalTransactionsPending": 21,
                              "totalTransactionsSettled": 246,
                              "totalTransactionsSettling": 21
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-04-28T00:00:00+00:00",
                                "description": "Start time of the analytics calculation interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-04-29T00:00:00+00:00",
                                "description": "End time of the analytics calculation interval",
                                "enum": []
                              },
                              "totalSettlementAmount": {
                                "type": "number",
                                "example": 3730.51,
                                "description": "Total settled payout amount in this interval",
                                "enum": []
                              },
                              "totalFeeAmount": {
                                "type": "number",
                                "example": 182.79499,
                                "description": "Total amount of fees charged for the payouts in this interval",
                                "enum": []
                              },
                              "totalNetAmount": {
                                "type": "number",
                                "example": 3547.71501,
                                "description": "Total net payout amount in this interval",
                                "enum": []
                              },
                              "totalTransactionsPending": {
                                "type": "integer",
                                "example": 27,
                                "description": "Total number of transactions pending in this interval",
                                "enum": []
                              },
                              "totalTransactionsSettled": {
                                "type": "integer",
                                "example": 137,
                                "description": "Total number of transactions settled in this interval",
                                "enum": []
                              },
                              "totalTransactionsSettling": {
                                "type": "integer",
                                "example": 244,
                                "description": "Total number of transactions settling in this interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
[...]
