{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.67.2"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payout Exports",
      "description": "Create payout exports"
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-15T00:00:00+00:00",
                    "periodEnd": "2026-04-22T00:00:00+00:00",
                    "numPaymentsCreated": 2526,
                    "numPaymentsProcessed": 1004,
                    "numPaymentsIncomplete": 1522,
                    "numPaymentsWithRefunds": 436,
                    "numCardPresentPayments": 586,
                    "numCardNotPresentPayments": 936,
                    "totalCapturedAmount": 2889814.72,
                    "totalRefundedAmount": 372190.43,
                    "totalNetCapturedAmount": 2517624.29,
                    "averageNetCapturedAmount": 3465.6628571429,
                    "minNetCapturedAmount": 11,
                    "maxNetCapturedAmount": 9479.21,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-15T00:00:00+00:00",
                        "intervalEnd": "2026-04-16T00:00:00+00:00",
                        "numPaymentsCreated": 143,
                        "numPaymentsProcessed": 80,
                        "numPaymentsIncomplete": 63,
                        "numPaymentsWithRefunds": 65,
                        "numCardPresentPayments": 74,
                        "numCardNotPresentPayments": -11,
                        "totalCapturedAmount": 985252.25,
                        "totalRefundedAmount": 253125.85,
                        "totalNetCapturedAmount": 732126.4,
                        "averageNetCapturedAmount": 9151.58,
                        "minNetCapturedAmount": 11,
                        "maxNetCapturedAmount": 9479.21
                      },
                      {
                        "intervalStart": "2026-04-16T00:00:00+00:00",
                        "intervalEnd": "2026-04-17T00:00:00+00:00",
                        "numPaymentsCreated": 597,
                        "numPaymentsProcessed": 198,
                        "numPaymentsIncomplete": 399,
                        "numPaymentsWithRefunds": 116,
                        "numCardPresentPayments": 86,
                        "numCardNotPresentPayments": 313,
                        "totalCapturedAmount": 57696.5,
                        "totalRefundedAmount": 11156.11,
                        "totalNetCapturedAmount": 46540.39,
                        "averageNetCapturedAmount": 235.05,
                        "minNetCapturedAmount": 88.31,
                        "maxNetCapturedAmount": 4491.65
                      },
                      {
                        "intervalStart": "2026-04-17T00:00:00+00:00",
                        "intervalEnd": "2026-04-18T00:00:00+00:00",
                        "numPaymentsCreated": 655,
                        "numPaymentsProcessed": 93,
                        "numPaymentsIncomplete": 562,
                        "numPaymentsWithRefunds": 33,
                        "numCardPresentPayments": 38,
                        "numCardNotPresentPayments": 524,
                        "totalCapturedAmount": 437766.34,
                        "totalRefundedAmount": 48391.73,
                        "totalNetCapturedAmount": 389374.61,
                        "averageNetCapturedAmount": 4186.82,
                        "minNetCapturedAmount": 42.94,
                        "maxNetCapturedAmount": 2890.76
                      },
                      {
                        "intervalStart": "2026-04-18T00:00:00+00:00",
                        "intervalEnd": "2026-04-19T00:00:00+00:00",
                        "numPaymentsCreated": 148,
                        "numPaymentsProcessed": 61,
                        "numPaymentsIncomplete": 87,
                        "numPaymentsWithRefunds": 0,
                        "numCardPresentPayments": 17,
                        "numCardNotPresentPayments": 70,
                        "totalCapturedAmount": 313024.48,
                        "totalRefundedAmount": 11684.74,
                        "totalNetCapturedAmount": 301339.74,
                        "averageNetCapturedAmount": 4940,
                        "minNetCapturedAmount": 82.07,
                        "maxNetCapturedAmount": 5160.22
                      },
                      {
                        "intervalStart": "2026-04-19T00:00:00+00:00",
                        "intervalEnd": "2026-04-20T00:00:00+00:00",
                        "numPaymentsCreated": 372,
                        "numPaymentsProcessed": 287,
                        "numPaymentsIncomplete": 85,
                        "numPaymentsWithRefunds": 184,
                        "numCardPresentPayments": 166,
                        "numCardNotPresentPayments": -81,
                        "totalCapturedAmount": 677896.15,
                        "totalRefundedAmount": 13083.79,
                        "totalNetCapturedAmount": 664812.36,
                        "averageNetCapturedAmount": 2316.42,
                        "minNetCapturedAmount": 38.36,
                        "maxNetCapturedAmount": 4329.01
                      },
                      {
                        "intervalStart": "2026-04-20T00:00:00+00:00",
                        "intervalEnd": "2026-04-21T00:00:00+00:00",
                        "numPaymentsCreated": 338,
                        "numPaymentsProcessed": 181,
                        "numPaymentsIncomplete": 157,
                        "numPaymentsWithRefunds": 13,
                        "numCardPresentPayments": 118,
                        "numCardNotPresentPayments": 39,
                        "totalCapturedAmount": 81817.71,
                        "totalRefundedAmount": 18973.32,
                        "totalNetCapturedAmount": 62844.39,
                        "averageNetCapturedAmount": 347.21,
                        "minNetCapturedAmount": 48.92,
                        "maxNetCapturedAmount": 5154.86
                      },
                      {
                        "intervalStart": "2026-04-21T00:00:00+00:00",
                        "intervalEnd": "2026-04-22T00:00:00+00:00",
                        "numPaymentsCreated": 273,
                        "numPaymentsProcessed": 104,
                        "numPaymentsIncomplete": 169,
                        "numPaymentsWithRefunds": 25,
                        "numCardPresentPayments": 87,
                        "numCardNotPresentPayments": 82,
                        "totalCapturedAmount": 336361.29,
                        "totalRefundedAmount": 15774.89,
                        "totalNetCapturedAmount": 320586.4,
                        "averageNetCapturedAmount": 3082.56,
                        "minNetCapturedAmount": 14.17,
                        "maxNetCapturedAmount": 2546.65
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-15T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-22T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 2526
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 1004
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 1522
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 436
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 586
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": 936
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 2889814.72
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 372190.43
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 2517624.29
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 3465.6628571429
                    },
                    "minNetCapturedAmount": {
                      "type": "integer",
                      "example": 11
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 9479.21
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-15T00:00:00+00:00",
                          "intervalEnd": "2026-04-16T00:00:00+00:00",
                          "numPaymentsCreated": 143,
                          "numPaymentsProcessed": 80,
                          "numPaymentsIncomplete": 63,
                          "numPaymentsWithRefunds": 65,
                          "numCardPresentPayments": 74,
                          "numCardNotPresentPayments": -11,
                          "totalCapturedAmount": 985252.25,
                          "totalRefundedAmount": 253125.85,
                          "totalNetCapturedAmount": 732126.4,
                          "averageNetCapturedAmount": 9151.58,
                          "minNetCapturedAmount": 11,
                          "maxNetCapturedAmount": 9479.21
                        },
                        {
                          "intervalStart": "2026-04-16T00:00:00+00:00",
                          "intervalEnd": "2026-04-17T00:00:00+00:00",
                          "numPaymentsCreated": 597,
                          "numPaymentsProcessed": 198,
                          "numPaymentsIncomplete": 399,
                          "numPaymentsWithRefunds": 116,
                          "numCardPresentPayments": 86,
                          "numCardNotPresentPayments": 313,
                          "totalCapturedAmount": 57696.5,
                          "totalRefundedAmount": 11156.11,
                          "totalNetCapturedAmount": 46540.39,
                          "averageNetCapturedAmount": 235.05,
                          "minNetCapturedAmount": 88.31,
                          "maxNetCapturedAmount": 4491.65
                        },
                        {
                          "intervalStart": "2026-04-17T00:00:00+00:00",
                          "intervalEnd": "2026-04-18T00:00:00+00:00",
                          "numPaymentsCreated": 655,
                          "numPaymentsProcessed": 93,
                          "numPaymentsIncomplete": 562,
                          "numPaymentsWithRefunds": 33,
                          "numCardPresentPayments": 38,
                          "numCardNotPresentPayments": 524,
                          "totalCapturedAmount": 437766.34,
                          "totalRefundedAmount": 48391.73,
                          "totalNetCapturedAmount": 389374.61,
                          "averageNetCapturedAmount": 4186.82,
                          "minNetCapturedAmount": 42.94,
                          "maxNetCapturedAmount": 2890.76
                        },
                        {
                          "intervalStart": "2026-04-18T00:00:00+00:00",
                          "intervalEnd": "2026-04-19T00:00:00+00:00",
                          "numPaymentsCreated": 148,
                          "numPaymentsProcessed": 61,
                          "numPaymentsIncomplete": 87,
                          "numPaymentsWithRefunds": 0,
                          "numCardPresentPayments": 17,
                          "numCardNotPresentPayments": 70,
                          "totalCapturedAmount": 313024.48,
                          "totalRefundedAmount": 11684.74,
                          "totalNetCapturedAmount": 301339.74,
                          "averageNetCapturedAmount": 4940,
                          "minNetCapturedAmount": 82.07,
                          "maxNetCapturedAmount": 5160.22
                        },
                        {
                          "intervalStart": "2026-04-19T00:00:00+00:00",
                          "intervalEnd": "2026-04-20T00:00:00+00:00",
                          "numPaymentsCreated": 372,
                          "numPaymentsProcessed": 287,
                          "numPaymentsIncomplete": 85,
                          "numPaymentsWithRefunds": 184,
                          "numCardPresentPayments": 166,
                          "numCardNotPresentPayments": -81,
                          "totalCapturedAmount": 677896.15,
                          "totalRefundedAmount": 13083.79,
                          "totalNetCapturedAmount": 664812.36,
                          "averageNetCapturedAmount": 2316.42,
                          "minNetCapturedAmount": 38.36,
                          "maxNetCapturedAmount": 4329.01
                        },
                        {
                          "intervalStart": "2026-04-20T00:00:00+00:00",
                          "intervalEnd": "2026-04-21T00:00:00+00:00",
                          "numPaymentsCreated": 338,
                          "numPaymentsProcessed": 181,
                          "numPaymentsIncomplete": 157,
                          "numPaymentsWithRefunds": 13,
                          "numCardPresentPayments": 118,
                          "numCardNotPresentPayments": 39,
                          "totalCapturedAmount": 81817.71,
                          "totalRefundedAmount": 18973.32,
                          "totalNetCapturedAmount": 62844.39,
                          "averageNetCapturedAmount": 347.21,
                          "minNetCapturedAmount": 48.92,
                          "maxNetCapturedAmount": 5154.86
                        },
                        {
                          "intervalStart": "2026-04-21T00:00:00+00:00",
                          "intervalEnd": "2026-04-22T00:00:00+00:00",
                          "numPaymentsCreated": 273,
                          "numPaymentsProcessed": 104,
                          "numPaymentsIncomplete": 169,
                          "numPaymentsWithRefunds": 25,
                          "numCardPresentPayments": 87,
                          "numCardNotPresentPayments": 82,
                          "totalCapturedAmount": 336361.29,
                          "totalRefundedAmount": 15774.89,
                          "totalNetCapturedAmount": 320586.4,
                          "averageNetCapturedAmount": 3082.56,
                          "minNetCapturedAmount": 14.17,
                          "maxNetCapturedAmount": 2546.65
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-15T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-16T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 143
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 80
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 63
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 65
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 74
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": -11
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 985252.25
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 253125.85
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 732126.4
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 9151.58
                          },
                          "minNetCapturedAmount": {
                            "type": "integer",
                            "example": 11
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 9479.21
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-15T00:00:00+00:00",
                    "periodEnd": "2026-04-22T00:00:00+00:00",
                    "activeCustomers": 268,
                    "newCustomers": 226,
                    "returningCustomers": 42,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-15T00:00:00+00:00",
                        "intervalEnd": "2026-04-16T00:00:00+00:00",
                        "activeCustomers": 47,
                        "newCustomers": 16,
                        "returningCustomers": 31
                      },
                      {
                        "intervalStart": "2026-04-16T00:00:00+00:00",
                        "intervalEnd": "2026-04-17T00:00:00+00:00",
                        "activeCustomers": 28,
                        "newCustomers": 23,
                        "returningCustomers": 5
                      },
                      {
                        "intervalStart": "2026-04-17T00:00:00+00:00",
                        "intervalEnd": "2026-04-18T00:00:00+00:00",
                        "activeCustomers": 51,
                        "newCustomers": 27,
                        "returningCustomers": 24
                      },
                      {
                        "intervalStart": "2026-04-18T00:00:00+00:00",
                        "intervalEnd": "2026-04-19T00:00:00+00:00",
                        "activeCustomers": 73,
                        "newCustomers": 69,
                        "returningCustomers": 4
                      },
                      {
                        "intervalStart": "2026-04-19T00:00:00+00:00",
                        "intervalEnd": "2026-04-20T00:00:00+00:00",
                        "activeCustomers": 86,
                        "newCustomers": 17,
                        "returningCustomers": 69
                      },
                      {
                        "intervalStart": "2026-04-20T00:00:00+00:00",
                        "intervalEnd": "2026-04-21T00:00:00+00:00",
                        "activeCustomers": 93,
                        "newCustomers": 45,
                        "returningCustomers": 48
                      },
                      {
                        "intervalStart": "2026-04-21T00:00:00+00:00",
                        "intervalEnd": "2026-04-22T00:00:00+00:00",
                        "activeCustomers": 48,
                        "newCustomers": 29,
                        "returningCustomers": 19
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-15T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-22T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 268
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 226
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": 42
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-15T00:00:00+00:00",
                          "intervalEnd": "2026-04-16T00:00:00+00:00",
                          "activeCustomers": 47,
                          "newCustomers": 16,
                          "returningCustomers": 31
                        },
                        {
                          "intervalStart": "2026-04-16T00:00:00+00:00",
                          "intervalEnd": "2026-04-17T00:00:00+00:00",
                          "activeCustomers": 28,
                          "newCustomers": 23,
                          "returningCustomers": 5
                        },
                        {
                          "intervalStart": "2026-04-17T00:00:00+00:00",
                          "intervalEnd": "2026-04-18T00:00:00+00:00",
                          "activeCustomers": 51,
                          "newCustomers": 27,
                          "returningCustomers": 24
                        },
                        {
                          "intervalStart": "2026-04-18T00:00:00+00:00",
                          "intervalEnd": "2026-04-19T00:00:00+00:00",
                          "activeCustomers": 73,
                          "newCustomers": 69,
                          "returningCustomers": 4
                        },
                        {
                          "intervalStart": "2026-04-19T00:00:00+00:00",
                          "intervalEnd": "2026-04-20T00:00:00+00:00",
                          "activeCustomers": 86,
                          "newCustomers": 17,
                          "returningCustomers": 69
                        },
                        {
                          "intervalStart": "2026-04-20T00:00:00+00:00",
                          "intervalEnd": "2026-04-21T00:00:00+00:00",
                          "activeCustomers": 93,
                          "newCustomers": 45,
                          "returningCustomers": 48
                        },
                        {
                          "intervalStart": "2026-04-21T00:00:00+00:00",
                          "intervalEnd": "2026-04-22T00:00:00+00:00",
                          "activeCustomers": 48,
                          "newCustomers": 29,
                          "returningCustomers": 19
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-15T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-16T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 47
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 16
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 31
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-15T00:00:00+00:00",
                    "periodEnd": "2026-04-22T00:00:00+00:00",
                    "totalTransactions": 2724,
                    "authorizeTransactions": 224,
                    "captureTransactions": 264,
                    "payTransactions": 1138,
                    "refundTransactions": 742,
                    "verifyTransactions": 200,
                    "voidTransactions": 156,
                    "successfulTransactions": 2448,
                    "failedTransactions": 201,
                    "declinedTransactions": 59,
                    "pendingTransactions": 16,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-15T00:00:00+00:00",
                        "intervalEnd": "2026-04-16T00:00:00+00:00",
                        "totalTransactions": 508,
                        "authorizeTransactions": 51,
                        "captureTransactions": 60,
                        "payTransactions": 346,
                        "refundTransactions": 32,
                        "verifyTransactions": 19,
                        "voidTransactions": 0,
                        "successfulTransactions": 457,
                        "failedTransactions": 44,
                        "declinedTransactions": 3,
                        "pendingTransactions": 4,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-16T00:00:00+00:00",
                        "intervalEnd": "2026-04-17T00:00:00+00:00",
                        "totalTransactions": 433,
                        "authorizeTransactions": 18,
                        "captureTransactions": 24,
                        "payTransactions": 304,
                        "refundTransactions": 61,
                        "verifyTransactions": 19,
                        "voidTransactions": 7,
                        "successfulTransactions": 389,
                        "failedTransactions": 30,
                        "declinedTransactions": 13,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-17T00:00:00+00:00",
                        "intervalEnd": "2026-04-18T00:00:00+00:00",
                        "totalTransactions": 571,
                        "authorizeTransactions": 70,
                        "captureTransactions": 77,
                        "payTransactions": 282,
                        "refundTransactions": 89,
                        "verifyTransactions": 9,
                        "voidTransactions": 44,
                        "successfulTransactions": 513,
                        "failedTransactions": 36,
                        "declinedTransactions": 17,
                        "pendingTransactions": 5,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-18T00:00:00+00:00",
                        "intervalEnd": "2026-04-19T00:00:00+00:00",
                        "totalTransactions": 169,
                        "authorizeTransactions": 14,
                        "captureTransactions": 18,
                        "payTransactions": 27,
                        "refundTransactions": 63,
                        "verifyTransactions": 7,
                        "voidTransactions": 40,
                        "successfulTransactions": 152,
                        "failedTransactions": 11,
                        "declinedTransactions": 5,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-19T00:00:00+00:00",
                        "intervalEnd": "2026-04-20T00:00:00+00:00",
                        "totalTransactions": 273,
                        "authorizeTransactions": 19,
                        "captureTransactions": 22,
                        "payTransactions": 60,
                        "refundTransactions": 122,
                        "verifyTransactions": 31,
                        "voidTransactions": 19,
                        "successfulTransactions": 245,
                        "failedTransactions": 21,
                        "declinedTransactions": 6,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-20T00:00:00+00:00",
                        "intervalEnd": "2026-04-21T00:00:00+00:00",
                        "totalTransactions": 631,
                        "authorizeTransactions": 36,
                        "captureTransactions": 42,
                        "payTransactions": 59,
                        "refundTransactions": 369,
                        "verifyTransactions": 98,
                        "voidTransactions": 27,
                        "successfulTransactions": 567,
                        "failedTransactions": 52,
                        "declinedTransactions": 9,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-21T00:00:00+00:00",
                        "intervalEnd": "2026-04-22T00:00:00+00:00",
                        "totalTransactions": 139,
                        "authorizeTransactions": 16,
                        "captureTransactions": 21,
                        "payTransactions": 60,
                        "refundTransactions": 6,
                        "verifyTransactions": 17,
                        "voidTransactions": 19,
                        "successfulTransactions": 125,
                        "failedTransactions": 7,
                        "declinedTransactions": 6,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-15T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-22T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 2724
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 224
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 264
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 1138
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 742
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 200
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 156
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 2448
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 201
                    },
                    "declinedTransactions": {
                      "type": "integer",
                      "example": 59
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 16
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-15T00:00:00+00:00",
                          "intervalEnd": "2026-04-16T00:00:00+00:00",
                          "totalTransactions": 508,
                          "authorizeTransactions": 51,
                          "captureTransactions": 60,
                          "payTransactions": 346,
                          "refundTransactions": 32,
                          "verifyTransactions": 19,
                          "voidTransactions": 0,
                          "successfulTransactions": 457,
                          "failedTransactions": 44,
                          "declinedTransactions": 3,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-16T00:00:00+00:00",
                          "intervalEnd": "2026-04-17T00:00:00+00:00",
                          "totalTransactions": 433,
                          "authorizeTransactions": 18,
                          "captureTransactions": 24,
                          "payTransactions": 304,
                          "refundTransactions": 61,
                          "verifyTransactions": 19,
                          "voidTransactions": 7,
                          "successfulTransactions": 389,
                          "failedTransactions": 30,
                          "declinedTransactions": 13,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-17T00:00:00+00:00",
                          "intervalEnd": "2026-04-18T00:00:00+00:00",
                          "totalTransactions": 571,
                          "authorizeTransactions": 70,
                          "captureTransactions": 77,
                          "payTransactions": 282,
                          "refundTransactions": 89,
                          "verifyTransactions": 9,
                          "voidTransactions": 44,
                          "successfulTransactions": 513,
                          "failedTransactions": 36,
                          "declinedTransactions": 17,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-18T00:00:00+00:00",
                          "intervalEnd": "2026-04-19T00:00:00+00:00",
                          "totalTransactions": 169,
                          "authorizeTransactions": 14,
                          "captureTransactions": 18,
                          "payTransactions": 27,
                          "refundTransactions": 63,
                          "verifyTransactions": 7,
                          "voidTransactions": 40,
                          "successfulTransactions": 152,
                          "failedTransactions": 11,
                          "declinedTransactions": 5,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-19T00:00:00+00:00",
                          "intervalEnd": "2026-04-20T00:00:00+00:00",
                          "totalTransactions": 273,
                          "authorizeTransactions": 19,
                          "captureTransactions": 22,
                          "payTransactions": 60,
                          "refundTransactions": 122,
                          "verifyTransactions": 31,
                          "voidTransactions": 19,
                          "successfulTransactions": 245,
                          "failedTransactions": 21,
                          "declinedTransactions": 6,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-20T00:00:00+00:00",
                          "intervalEnd": "2026-04-21T00:00:00+00:00",
                          "totalTransactions": 631,
                          "authorizeTransactions": 36,
                          "captureTransactions": 42,
                          "payTransactions": 59,
                          "refundTransactions": 369,
                          "verifyTransactions": 98,
                          "voidTransactions": 27,
                          "successfulTransactions": 567,
                          "failedTransactions": 52,
                          "declinedTransactions": 9,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-21T00:00:00+00:00",
                          "intervalEnd": "2026-04-22T00:00:00+00:00",
                          "totalTransactions": 139,
                          "authorizeTransactions": 16,
                          "captureTransactions": 21,
                          "payTransactions": 60,
                          "refundTransactions": 6,
                          "verifyTransactions": 17,
                          "voidTransactions": 19,
                          "successfulTransactions": 125,
                          "failedTransactions": 7,
                          "declinedTransactions": 6,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-15T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-16T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 508
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 51
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 60
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 346
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 32
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 19
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": 0
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 457
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 44
                          },
                          "declinedTransactions": {
                            "type": "integer",
                            "example": 3
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 4
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-15T00:00:00+00:00",
                    "periodEnd": "2026-04-22T00:00:00+00:00",
                    "totalSettlementAmount": 53820.48,
                    "totalFeeAmount": 2637.20352,
                    "totalNetAmount": 51183.27648,
                    "totalTransactionsPending": 115,
                    "totalTransactionsSettled": 799,
                    "totalTransactionsSettling": 1140,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-15T00:00:00+00:00",
                        "intervalEnd": "2026-04-16T00:00:00+00:00",
                        "totalSettlementAmount": 7816.37,
                        "totalFeeAmount": 383.00213,
                        "totalNetAmount": 7433.36787,
                        "totalTransactionsPending": 15,
                        "totalTransactionsSettled": 75,
                        "totalTransactionsSettling": 164
                      },
                      {
                        "intervalStart": "2026-04-16T00:00:00+00:00",
                        "intervalEnd": "2026-04-17T00:00:00+00:00",
                        "totalSettlementAmount": 5015.68,
                        "totalFeeAmount": 245.76832,
                        "totalNetAmount": 4769.91168,
                        "totalTransactionsPending": 9,
                        "totalTransactionsSettled": 76,
                        "totalTransactionsSettling": 263
                      },
                      {
                        "intervalStart": "2026-04-17T00:00:00+00:00",
                        "intervalEnd": "2026-04-18T00:00:00+00:00",
                        "totalSettlementAmount": 8715.8,
                        "totalFeeAmount": 427.0742,
                        "totalNetAmount": 8288.7258,
                        "totalTransactionsPending": 23,
                        "totalTransactionsSettled": 138,
                        "totalTransactionsSettling": 13
                      },
                      {
                        "intervalStart": "2026-04-18T00:00:00+00:00",
                        "intervalEnd": "2026-04-19T00:00:00+00:00",
                        "totalSettlementAmount": 7492.63,
                        "totalFeeAmount": 367.13887,
                        "totalNetAmount": 7125.49113,
                        "totalTransactionsPending": 13,
                        "totalTransactionsSettled": 243,
                        "totalTransactionsSettling": 143
                      },
                      {
                        "intervalStart": "2026-04-19T00:00:00+00:00",
                        "intervalEnd": "2026-04-20T00:00:00+00:00",
                        "totalSettlementAmount": 6583.16,
                        "totalFeeAmount": 322.57484,
                        "totalNetAmount": 6260.58516,
                        "totalTransactionsPending": 8,
                        "totalTransactionsSettled": 25,
                        "totalTransactionsSettling": 97
                      },
                      {
                        "intervalStart": "2026-04-20T00:00:00+00:00",
                        "intervalEnd": "2026-04-21T00:00:00+00:00",
                        "totalSettlementAmount": 8904.72,
                        "totalFeeAmount": 436.33128,
                        "totalNetAmount": 8468.38872,
                        "totalTransactionsPending": 13,
                        "totalTransactionsSettled": 109,
                        "totalTransactionsSettling": 244
                      },
                      {
                        "intervalStart": "2026-04-21T00:00:00+00:00",
                        "intervalEnd": "2026-04-22T00:00:00+00:00",
                        "totalSettlementAmount": 9292.12,
                        "totalFeeAmount": 455.31388,
                        "totalNetAmount": 8836.80612,
                        "totalTransactionsPending": 34,
                        "totalTransactionsSettled": 133,
                        "totalTransactionsSettling": 216
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-15T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-22T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 53820.48
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 2637.20352
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 51183.27648
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 115
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 799
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 1140
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-15T00:00:00+00:00",
                          "intervalEnd": "2026-04-16T00:00:00+00:00",
                          "totalSettlementAmount": 7816.37,
                          "totalFeeAmount": 383.00213,
                          "totalNetAmount": 7433.36787,
                          "totalTransactionsPending": 15,
                          "totalTransactionsSettled": 75,
                          "totalTransactionsSettling": 164
                        },
                        {
                          "intervalStart": "2026-04-16T00:00:00+00:00",
                          "intervalEnd": "2026-04-17T00:00:00+00:00",
                          "totalSettlementAmount": 5015.68,
                          "totalFeeAmount": 245.76832,
                          "totalNetAmount": 4769.91168,
                          "totalTransactionsPending": 9,
                          "totalTransactionsSettled": 76,
                          "totalTransactionsSettling": 263
                        },
                        {
                          "intervalStart": "2026-04-17T00:00:00+00:00",
                          "intervalEnd": "2026-04-18T00:00:00+00:00",
                          "totalSettlementAmount": 8715.8,
                          "totalFeeAmount": 427.0742,
                          "totalNetAmount": 8288.7258,
                          "totalTransactionsPending": 23,
                          "totalTransactionsSettled": 138,
                          "totalTransactionsSettling": 13
                        },
                        {
                          "intervalStart": "2026-04-18T00:00:00+00:00",
                          "intervalEnd": "2026-04-19T00:00:00+00:00",
                          "totalSettlementAmount": 7492.63,
                          "totalFeeAmount": 367.13887,
                          "totalNetAmount": 7125.49113,
                          "totalTransactionsPending": 13,
                          "totalTransactionsSettled": 243,
                          "totalTransactionsSettling": 143
                        },
                        {
                          "intervalStart": "2026-04-19T00:00:00+00:00",
                          "intervalEnd": "2026-04-20T00:00:00+00:00",
                          "totalSettlementAmount": 6583.16,
                          "totalFeeAmount": 322.57484,
                          "totalNetAmount": 6260.58516,
                          "totalTransactionsPending": 8,
                          "totalTransactionsSettled": 25,
                          "totalTransactionsSettling": 97
                        },
                        {
                          "intervalStart": "2026-04-20T00:00:00+00:00",
                          "intervalEnd": "2026-04-21T00:00:00+00:00",
                          "totalSettlementAmount": 8904.72,
                          "totalFeeAmount": 436.33128,
                          "totalNetAmount": 8468.38872,
                          "totalTransactionsPending": 13,
                          "totalTransactionsSettled": 109,
                          "totalTransactionsSettling": 244
                        },
                        {
                          "intervalStart": "2026-04-21T00:00:00+00:00",
                          "intervalEnd": "2026-04-22T00:00:00+00:00",
                          "totalSettlementAmount": 9292.12,
                          "totalFeeAmount": 455.31388,
                          "totalNetAmount": 8836.80612,
                          "totalTransactionsPending": 34,
                          "totalTransactionsSettled": 133,
                          "totalTransactionsSettling": 216
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-15T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-16T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 7816.37
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 383.00213
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 7433.36787
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 15
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 75
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 164
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 3,
                    "data": [
                      {
                        "email": "gerhold.lue@gmail.com",
                        "firstName": "Nayeli",
                        "lastName": "Wolff",
                        "phone": "+19143514575",
                        "dateOfBirth": "1984-07-26"
                      },
                      {
                        "email": "mclaughlin.granville@hotmail.com",
                        "firstName": "Cale",
                        "lastName": "Will",
                        "phone": "+19527653977",
                        "dateOfBirth": "1996-10-05"
                      },
                      {
                        "email": "wzboncak@yahoo.com",
                        "firstName": "Ron",
                        "lastName": "Blanda",
                        "phone": "+18484585574",
                        "dateOfBirth": "1994-10-26"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 3,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "gerhold.lue@gmail.com",
                          "firstName": "Nayeli",
                          "lastName": "Wolff",
                          "phone": "+19143514575",
                          "dateOfBirth": "1984-07-26"
                        },
                        {
                          "email": "mclaughlin.granville@hotmail.com",
                          "firstName": "Cale",
                          "lastName": "Will",
                          "phone": "+19527653977",
                          "dateOfBirth": "1996-10-05"
                        },
                        {
                          "email": "wzboncak@yahoo.com",
                          "firstName": "Ron",
                          "lastName": "Blanda",
                          "phone": "+18484585574",
                          "dateOfBirth": "1994-10-26"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "gerhold.lue@gmail.com"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Nayeli"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Wolff"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+19143514575"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "1984-07-26"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers/{customerIdOrEmail}/addresses": {
      "get": {
        "summary": "List Customer Billing Addresses",
        "operationId": "listCustomerBillingAddresses",
        "description": "Returns all unique billing addresses that have been used by a customer across their payments.\nAddresses are deduplicated using case-insensitive and whitespace-insensitive comparison.",
        "parameters": [
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
            "example": "-city",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
              "example": "-city",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of unique billing addresses for the customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "company": "Mitchell-Volkman",
                        "street": "5665 Jillian Plaza",
                        "city": "Buckridgeside",
                        "stateProvince": "MS",
                        "postcodeZip": "95174-8284",
                        "country": "USA"
                      },
                      {
                        "company": "Ankunding LLC",
                        "street": "42004 Jones Roads",
                        "city": "New Collintown",
                        "stateProvince": "MS",
                        "postcodeZip": "65257-2363",
                        "country": "USA"
                      },
                      {
                        "company": "Osinski, Torphy and Lemke",
                        "street": "48175 Waelchi Forks",
                        "city": "North Greta",
                        "stateProvince": "TX",
                        "postcodeZip": "06910",
                        "country": "USA"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "company": "Mitchell-Volkman",
                          "street": "5665 Jillian Plaza",
                          "city": "Buckridgeside",
                          "stateProvince": "MS",
                          "postcodeZip": "95174-8284",
                          "country": "USA"
                        },
                        {
                          "company": "Ankunding LLC",
                          "street": "42004 Jones Roads",
                          "city": "New Collintown",
                          "stateProvince": "MS",
                          "postcodeZip": "65257-2363",
                          "country": "USA"
                        },
                        {
                          "company": "Osinski, Torphy and Lemke",
                          "street": "48175 Waelchi Forks",
                          "city": "North Greta",
                          "stateProvince": "TX",
                          "postcodeZip": "06910",
                          "country": "USA"
                        }
                      ],
                      "description": "The data returned from the request",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "company": {
                            "type": "string",
                            "example": "Mitchell-Volkman"
                          },
                          "street": {
                            "type": "string",
                            "example": "5665 Jillian Plaza"
                          },
                          "city": {
                            "type": "string",
                            "example": "Buckridgeside"
                          },
                          "stateProvince": {
                            "type": "string",
                            "example": "MS"
                          },
                          "postcodeZip": {
                            "type": "string",
                            "example": "95174-8284"
                          },
                          "country": {
                            "type": "string",
                            "example": "USA"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "path",
          "name": "customerIdOrEmail",
          "description": "The customer ID, UUID, or email address",
          "example": "customer_123",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/simulated/terminals": {
      "get": {
        "summary": "Get all available simulated terminals.",
        "operationId": "getAllAvailableSimulatedTerminals",
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of available simulated terminals",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "title": "Success",
                        "description": "Approves all card present transactions successfully.",
                        "tid": "SUCCESS",
                        "readyForProcessing": true,
                        "provider": "SIMULATED",
                        "type": "CARD_PRESENT"
                      },
                      {
                        "title": "Transaction Declined",
                        "description": "Simulates a declined transaction.",
                        "tid": "TRANSACTION_DECLINED",
                        "readyForProcessing": true,
                        "provider": "SIMULATED",
                        "type": "CARD_PRESENT"
                      },
                      {
                        "title": "Card Present Timeout",
                        "description": "Simulates a card present timeout.",
                        "tid": "CARD_PRESENT_TIMEOUT",
                        "readyForProcessing": true,
                        "provider": "SIMULATED",
                        "type": "CARD_PRESENT"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "title": "Success",
[...]
