{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.75.1"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payout Exports",
      "description": "Create payout exports"
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/api/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-04-30T00:00:00+00:00",
                      "periodEnd": "2026-05-07T00:00:00+00:00",
                      "numPaymentsCreated": 3424,
                      "numPaymentsProcessed": 2775,
                      "numPaymentsIncomplete": 649,
                      "numPaymentsWithRefunds": 1470,
                      "numCardPresentPayments": 1639,
                      "numCardNotPresentPayments": -990,
                      "totalCapturedAmount": 3429071.62,
                      "totalRefundedAmount": 399337.16,
                      "totalNetCapturedAmount": 3029734.46,
                      "averageNetCapturedAmount": 2923.1042857143,
                      "minNetCapturedAmount": 23.43,
                      "maxNetCapturedAmount": 9345.6,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-04-30T00:00:00+00:00",
                          "intervalEnd": "2026-05-01T00:00:00+00:00",
                          "numPaymentsCreated": 150,
                          "numPaymentsProcessed": 80,
                          "numPaymentsIncomplete": 70,
                          "numPaymentsWithRefunds": 56,
                          "numCardPresentPayments": 28,
                          "numCardNotPresentPayments": 42,
                          "totalCapturedAmount": 956570.64,
                          "totalRefundedAmount": 86898.93,
                          "totalNetCapturedAmount": 869671.71,
                          "averageNetCapturedAmount": 10870.9,
                          "minNetCapturedAmount": 81.45,
                          "maxNetCapturedAmount": 4305.07
                        },
                        {
                          "intervalStart": "2026-05-01T00:00:00+00:00",
                          "intervalEnd": "2026-05-02T00:00:00+00:00",
                          "numPaymentsCreated": 152,
                          "numPaymentsProcessed": 133,
                          "numPaymentsIncomplete": 19,
                          "numPaymentsWithRefunds": 28,
                          "numCardPresentPayments": 128,
                          "numCardNotPresentPayments": -109,
                          "totalCapturedAmount": 29585.69,
                          "totalRefundedAmount": 3093.27,
                          "totalNetCapturedAmount": 26492.42,
                          "averageNetCapturedAmount": 199.19,
                          "minNetCapturedAmount": 40.03,
                          "maxNetCapturedAmount": 3093.67
                        },
                        {
                          "intervalStart": "2026-05-02T00:00:00+00:00",
                          "intervalEnd": "2026-05-03T00:00:00+00:00",
                          "numPaymentsCreated": 826,
                          "numPaymentsProcessed": 815,
                          "numPaymentsIncomplete": 11,
                          "numPaymentsWithRefunds": 448,
                          "numCardPresentPayments": 751,
                          "numCardNotPresentPayments": -740,
                          "totalCapturedAmount": 732173.81,
                          "totalRefundedAmount": 101425.45,
                          "totalNetCapturedAmount": 630748.36,
                          "averageNetCapturedAmount": 773.92,
                          "minNetCapturedAmount": 79.4,
                          "maxNetCapturedAmount": 3199.05
                        },
                        {
                          "intervalStart": "2026-05-03T00:00:00+00:00",
                          "intervalEnd": "2026-05-04T00:00:00+00:00",
                          "numPaymentsCreated": 982,
                          "numPaymentsProcessed": 593,
                          "numPaymentsIncomplete": 389,
                          "numPaymentsWithRefunds": 349,
                          "numCardPresentPayments": 148,
                          "numCardNotPresentPayments": 241,
                          "totalCapturedAmount": 706616.3,
                          "totalRefundedAmount": 42213.13,
                          "totalNetCapturedAmount": 664403.17,
                          "averageNetCapturedAmount": 1120.41,
                          "minNetCapturedAmount": 44.33,
                          "maxNetCapturedAmount": 6287.24
                        },
                        {
                          "intervalStart": "2026-05-04T00:00:00+00:00",
                          "intervalEnd": "2026-05-05T00:00:00+00:00",
                          "numPaymentsCreated": 418,
                          "numPaymentsProcessed": 396,
                          "numPaymentsIncomplete": 22,
                          "numPaymentsWithRefunds": 47,
                          "numCardPresentPayments": 204,
                          "numCardNotPresentPayments": -182,
                          "totalCapturedAmount": 353412.5,
                          "totalRefundedAmount": 16719.31,
                          "totalNetCapturedAmount": 336693.19,
                          "averageNetCapturedAmount": 850.24,
                          "minNetCapturedAmount": 84.12,
                          "maxNetCapturedAmount": 7368.52
                        },
                        {
                          "intervalStart": "2026-05-05T00:00:00+00:00",
                          "intervalEnd": "2026-05-06T00:00:00+00:00",
                          "numPaymentsCreated": 126,
                          "numPaymentsProcessed": 71,
                          "numPaymentsIncomplete": 55,
                          "numPaymentsWithRefunds": 28,
                          "numCardPresentPayments": 60,
                          "numCardNotPresentPayments": -5,
                          "totalCapturedAmount": 616299.7,
                          "totalRefundedAmount": 147790.9,
                          "totalNetCapturedAmount": 468508.8,
                          "averageNetCapturedAmount": 6598.72,
                          "minNetCapturedAmount": 23.43,
                          "maxNetCapturedAmount": 1141.19
                        },
                        {
                          "intervalStart": "2026-05-06T00:00:00+00:00",
                          "intervalEnd": "2026-05-07T00:00:00+00:00",
                          "numPaymentsCreated": 770,
                          "numPaymentsProcessed": 687,
                          "numPaymentsIncomplete": 83,
                          "numPaymentsWithRefunds": 514,
                          "numCardPresentPayments": 320,
                          "numCardNotPresentPayments": -237,
                          "totalCapturedAmount": 34412.98,
                          "totalRefundedAmount": 1196.17,
                          "totalNetCapturedAmount": 33216.81,
                          "averageNetCapturedAmount": 48.35,
                          "minNetCapturedAmount": 63.5,
                          "maxNetCapturedAmount": 9345.6
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-04-30T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-05-07T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "numPaymentsCreated": {
                          "type": "integer",
                          "example": 3424,
                          "description": "Total number of payment records created in the period",
                          "enum": []
                        },
                        "numPaymentsProcessed": {
                          "type": "integer",
                          "example": 2775,
                          "description": "Number of payments that have successfully had funds captured (captured amount > 0)",
                          "enum": []
                        },
                        "numPaymentsIncomplete": {
                          "type": "integer",
                          "example": 649,
                          "description": "Number of payments which have been created but funds have not been captured yet (e.g. failures, declines, authorizations, etc.)",
                          "enum": []
                        },
                        "numPaymentsWithRefunds": {
                          "type": "integer",
                          "example": 1470,
                          "description": "Number of payments that have had one or more refunds (refunded amount > 0)",
                          "enum": []
                        },
                        "numCardPresentPayments": {
                          "type": "integer",
                          "example": 1639,
                          "description": "Number of payments made with card present (e.g. via terminal device)",
                          "enum": []
                        },
                        "numCardNotPresentPayments": {
                          "type": "integer",
                          "example": -990,
                          "description": "Number of payments made with card not present (e.g. online payments)",
                          "enum": []
                        },
                        "totalCapturedAmount": {
                          "type": "number",
                          "example": 3429071.62,
                          "description": "Total amount captured across all payments in the period",
                          "enum": []
                        },
                        "totalRefundedAmount": {
                          "type": "number",
                          "example": 399337.16,
                          "description": "Total amount refunded across all payments in the period",
                          "enum": []
                        },
                        "totalNetCapturedAmount": {
                          "type": "number",
                          "example": 3029734.46,
                          "description": "Net captured amount (captured - refunded) across all payments in the period",
                          "enum": []
                        },
                        "averageNetCapturedAmount": {
                          "type": "number",
                          "example": 2923.1042857143,
                          "description": "Average net captured amount per payment in the period",
                          "enum": []
                        },
                        "minNetCapturedAmount": {
                          "type": "number",
                          "example": 23.43,
                          "description": "Minimum net captured amount in the period",
                          "enum": []
                        },
                        "maxNetCapturedAmount": {
                          "type": "number",
                          "example": 9345.6,
                          "description": "Maximum net captured amount in the period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-04-30T00:00:00+00:00",
                              "intervalEnd": "2026-05-01T00:00:00+00:00",
                              "numPaymentsCreated": 150,
                              "numPaymentsProcessed": 80,
                              "numPaymentsIncomplete": 70,
                              "numPaymentsWithRefunds": 56,
                              "numCardPresentPayments": 28,
                              "numCardNotPresentPayments": 42,
                              "totalCapturedAmount": 956570.64,
                              "totalRefundedAmount": 86898.93,
                              "totalNetCapturedAmount": 869671.71,
                              "averageNetCapturedAmount": 10870.9,
                              "minNetCapturedAmount": 81.45,
                              "maxNetCapturedAmount": 4305.07
                            },
                            {
                              "intervalStart": "2026-05-01T00:00:00+00:00",
                              "intervalEnd": "2026-05-02T00:00:00+00:00",
                              "numPaymentsCreated": 152,
                              "numPaymentsProcessed": 133,
                              "numPaymentsIncomplete": 19,
                              "numPaymentsWithRefunds": 28,
                              "numCardPresentPayments": 128,
                              "numCardNotPresentPayments": -109,
                              "totalCapturedAmount": 29585.69,
                              "totalRefundedAmount": 3093.27,
                              "totalNetCapturedAmount": 26492.42,
                              "averageNetCapturedAmount": 199.19,
                              "minNetCapturedAmount": 40.03,
                              "maxNetCapturedAmount": 3093.67
                            },
                            {
                              "intervalStart": "2026-05-02T00:00:00+00:00",
                              "intervalEnd": "2026-05-03T00:00:00+00:00",
                              "numPaymentsCreated": 826,
                              "numPaymentsProcessed": 815,
                              "numPaymentsIncomplete": 11,
                              "numPaymentsWithRefunds": 448,
                              "numCardPresentPayments": 751,
                              "numCardNotPresentPayments": -740,
                              "totalCapturedAmount": 732173.81,
                              "totalRefundedAmount": 101425.45,
                              "totalNetCapturedAmount": 630748.36,
                              "averageNetCapturedAmount": 773.92,
                              "minNetCapturedAmount": 79.4,
                              "maxNetCapturedAmount": 3199.05
                            },
                            {
                              "intervalStart": "2026-05-03T00:00:00+00:00",
                              "intervalEnd": "2026-05-04T00:00:00+00:00",
                              "numPaymentsCreated": 982,
                              "numPaymentsProcessed": 593,
                              "numPaymentsIncomplete": 389,
                              "numPaymentsWithRefunds": 349,
                              "numCardPresentPayments": 148,
                              "numCardNotPresentPayments": 241,
                              "totalCapturedAmount": 706616.3,
                              "totalRefundedAmount": 42213.13,
                              "totalNetCapturedAmount": 664403.17,
                              "averageNetCapturedAmount": 1120.41,
                              "minNetCapturedAmount": 44.33,
                              "maxNetCapturedAmount": 6287.24
                            },
                            {
                              "intervalStart": "2026-05-04T00:00:00+00:00",
                              "intervalEnd": "2026-05-05T00:00:00+00:00",
                              "numPaymentsCreated": 418,
                              "numPaymentsProcessed": 396,
                              "numPaymentsIncomplete": 22,
                              "numPaymentsWithRefunds": 47,
                              "numCardPresentPayments": 204,
                              "numCardNotPresentPayments": -182,
                              "totalCapturedAmount": 353412.5,
                              "totalRefundedAmount": 16719.31,
                              "totalNetCapturedAmount": 336693.19,
                              "averageNetCapturedAmount": 850.24,
                              "minNetCapturedAmount": 84.12,
                              "maxNetCapturedAmount": 7368.52
                            },
                            {
                              "intervalStart": "2026-05-05T00:00:00+00:00",
                              "intervalEnd": "2026-05-06T00:00:00+00:00",
                              "numPaymentsCreated": 126,
                              "numPaymentsProcessed": 71,
                              "numPaymentsIncomplete": 55,
                              "numPaymentsWithRefunds": 28,
                              "numCardPresentPayments": 60,
                              "numCardNotPresentPayments": -5,
                              "totalCapturedAmount": 616299.7,
                              "totalRefundedAmount": 147790.9,
                              "totalNetCapturedAmount": 468508.8,
                              "averageNetCapturedAmount": 6598.72,
                              "minNetCapturedAmount": 23.43,
                              "maxNetCapturedAmount": 1141.19
                            },
                            {
                              "intervalStart": "2026-05-06T00:00:00+00:00",
                              "intervalEnd": "2026-05-07T00:00:00+00:00",
                              "numPaymentsCreated": 770,
                              "numPaymentsProcessed": 687,
                              "numPaymentsIncomplete": 83,
                              "numPaymentsWithRefunds": 514,
                              "numCardPresentPayments": 320,
                              "numCardNotPresentPayments": -237,
                              "totalCapturedAmount": 34412.98,
                              "totalRefundedAmount": 1196.17,
                              "totalNetCapturedAmount": 33216.81,
                              "averageNetCapturedAmount": 48.35,
                              "minNetCapturedAmount": 63.5,
                              "maxNetCapturedAmount": 9345.6
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-04-30T00:00:00+00:00",
                                "description": "Start time of the PaymentAnalyticsData interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-05-01T00:00:00+00:00",
                                "description": "End time of the PaymentAnalyticsData interval",
                                "enum": []
                              },
                              "numPaymentsCreated": {
                                "type": "integer",
                                "example": 150,
                                "description": "Total number of payment records created in the interval",
                                "enum": []
                              },
                              "numPaymentsProcessed": {
                                "type": "integer",
                                "example": 80,
                                "description": "Number of payments that have successfully had funds captured (captured amount > 0)",
                                "enum": []
                              },
                              "numPaymentsIncomplete": {
                                "type": "integer",
                                "example": 70,
                                "description": "Number of payments which have been created but funds have not been captured yet (e.g. failures, declines, authorizations, etc.)",
                                "enum": []
                              },
                              "numPaymentsWithRefunds": {
                                "type": "integer",
                                "example": 56,
                                "description": "Number of payments that have had one or more refunds (refunded amount > 0)",
                                "enum": []
                              },
                              "numCardPresentPayments": {
                                "type": "integer",
                                "example": 28,
                                "description": "Number of payments made with card present (e.g. via terminal device)",
                                "enum": []
                              },
                              "numCardNotPresentPayments": {
                                "type": "integer",
                                "example": 42,
                                "description": "Number of payments made with card not present (e.g. online payments)",
                                "enum": []
                              },
                              "totalCapturedAmount": {
                                "type": "number",
                                "example": 956570.64,
                                "description": "Total amount captured across all payments in the interval",
                                "enum": []
                              },
                              "totalRefundedAmount": {
                                "type": "number",
                                "example": 86898.93,
                                "description": "Total amount refunded across all payments in the interval",
                                "enum": []
                              },
                              "totalNetCapturedAmount": {
                                "type": "number",
                                "example": 869671.71,
                                "description": "Net captured amount (captured - refunded) across all payments in the interval",
                                "enum": []
                              },
                              "averageNetCapturedAmount": {
                                "type": "number",
                                "example": 10870.9,
                                "description": "Average net captured amount per payment in the interval",
                                "enum": []
                              },
                              "minNetCapturedAmount": {
                                "type": "number",
                                "example": 81.45,
                                "description": "Minimum net captured amount in the interval",
                                "enum": []
                              },
                              "maxNetCapturedAmount": {
                                "type": "number",
                                "example": 4305.07,
                                "description": "Maximum net captured amount in the interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-04-30T00:00:00+00:00",
                      "periodEnd": "2026-05-07T00:00:00+00:00",
                      "activeCustomers": 321,
                      "newCustomers": 261,
                      "returningCustomers": 60,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-04-30T00:00:00+00:00",
                          "intervalEnd": "2026-05-01T00:00:00+00:00",
                          "activeCustomers": 30,
                          "newCustomers": 24,
                          "returningCustomers": 6
                        },
                        {
                          "intervalStart": "2026-05-01T00:00:00+00:00",
                          "intervalEnd": "2026-05-02T00:00:00+00:00",
                          "activeCustomers": 28,
                          "newCustomers": 7,
                          "returningCustomers": 21
                        },
                        {
                          "intervalStart": "2026-05-02T00:00:00+00:00",
                          "intervalEnd": "2026-05-03T00:00:00+00:00",
                          "activeCustomers": 92,
                          "newCustomers": 53,
                          "returningCustomers": 39
                        },
                        {
                          "intervalStart": "2026-05-03T00:00:00+00:00",
                          "intervalEnd": "2026-05-04T00:00:00+00:00",
                          "activeCustomers": 100,
                          "newCustomers": 62,
                          "returningCustomers": 38
                        },
                        {
                          "intervalStart": "2026-05-04T00:00:00+00:00",
                          "intervalEnd": "2026-05-05T00:00:00+00:00",
                          "activeCustomers": 56,
                          "newCustomers": 31,
                          "returningCustomers": 25
                        },
                        {
                          "intervalStart": "2026-05-05T00:00:00+00:00",
                          "intervalEnd": "2026-05-06T00:00:00+00:00",
                          "activeCustomers": 44,
                          "newCustomers": 28,
                          "returningCustomers": 16
                        },
                        {
                          "intervalStart": "2026-05-06T00:00:00+00:00",
                          "intervalEnd": "2026-05-07T00:00:00+00:00",
                          "activeCustomers": 64,
                          "newCustomers": 56,
                          "returningCustomers": 8
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-04-30T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-05-07T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "activeCustomers": {
                          "type": "integer",
                          "example": 321,
                          "description": "number of customers who are associated with at least one payment which was created in the period",
                          "enum": []
                        },
                        "newCustomers": {
                          "type": "integer",
                          "example": 261,
                          "description": "number of new customers added in the period",
                          "enum": []
                        },
                        "returningCustomers": {
                          "type": "integer",
                          "example": 60,
                          "description": "number of customers who were active in the period but were created before the period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-04-30T00:00:00+00:00",
                              "intervalEnd": "2026-05-01T00:00:00+00:00",
                              "activeCustomers": 30,
                              "newCustomers": 24,
                              "returningCustomers": 6
                            },
                            {
                              "intervalStart": "2026-05-01T00:00:00+00:00",
                              "intervalEnd": "2026-05-02T00:00:00+00:00",
                              "activeCustomers": 28,
                              "newCustomers": 7,
                              "returningCustomers": 21
                            },
                            {
                              "intervalStart": "2026-05-02T00:00:00+00:00",
                              "intervalEnd": "2026-05-03T00:00:00+00:00",
                              "activeCustomers": 92,
                              "newCustomers": 53,
                              "returningCustomers": 39
                            },
                            {
                              "intervalStart": "2026-05-03T00:00:00+00:00",
                              "intervalEnd": "2026-05-04T00:00:00+00:00",
                              "activeCustomers": 100,
                              "newCustomers": 62,
                              "returningCustomers": 38
                            },
                            {
                              "intervalStart": "2026-05-04T00:00:00+00:00",
                              "intervalEnd": "2026-05-05T00:00:00+00:00",
                              "activeCustomers": 56,
                              "newCustomers": 31,
                              "returningCustomers": 25
                            },
                            {
                              "intervalStart": "2026-05-05T00:00:00+00:00",
                              "intervalEnd": "2026-05-06T00:00:00+00:00",
                              "activeCustomers": 44,
                              "newCustomers": 28,
                              "returningCustomers": 16
                            },
                            {
                              "intervalStart": "2026-05-06T00:00:00+00:00",
                              "intervalEnd": "2026-05-07T00:00:00+00:00",
                              "activeCustomers": 64,
                              "newCustomers": 56,
                              "returningCustomers": 8
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-04-30T00:00:00+00:00",
                                "description": "Start time of the analytics calculation interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-05-01T00:00:00+00:00",
                                "description": "End time of the analytics calculation interval",
                                "enum": []
                              },
                              "activeCustomers": {
                                "type": "integer",
                                "example": 30,
                                "description": "number of customers who are associated with at least one payment which was created in the interval",
                                "enum": []
                              },
                              "newCustomers": {
                                "type": "integer",
                                "example": 24,
                                "description": "number of new customers added in the interval",
                                "enum": []
                              },
                              "returningCustomers": {
                                "type": "integer",
                                "example": 6,
                                "description": "number of customers who were active in the interval but were created before the interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-04-30T00:00:00+00:00",
                      "periodEnd": "2026-05-07T00:00:00+00:00",
                      "totalTransactions": 3455,
                      "authorizeTransactions": 238,
                      "captureTransactions": 265,
                      "payTransactions": 1988,
                      "refundTransactions": 658,
                      "verifyTransactions": 112,
                      "voidTransactions": 194,
                      "successfulTransactions": 3107,
                      "failedTransactions": 244,
                      "declinedTransactions": 93,
                      "pendingTransactions": 11,
                      "unknownTransactions": 0,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-04-30T00:00:00+00:00",
                          "intervalEnd": "2026-05-01T00:00:00+00:00",
                          "totalTransactions": 479,
                          "authorizeTransactions": 49,
                          "captureTransactions": 52,
                          "payTransactions": 249,
                          "refundTransactions": 113,
                          "verifyTransactions": 10,
                          "voidTransactions": 6,
                          "successfulTransactions": 431,
                          "failedTransactions": 25,
                          "declinedTransactions": 22,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-05-01T00:00:00+00:00",
                          "intervalEnd": "2026-05-02T00:00:00+00:00",
                          "totalTransactions": 847,
                          "authorizeTransactions": 20,
                          "captureTransactions": 25,
                          "payTransactions": 361,
                          "refundTransactions": 419,
                          "verifyTransactions": 18,
                          "voidTransactions": 4,
                          "successfulTransactions": 762,
                          "failedTransactions": 57,
                          "declinedTransactions": 27,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-05-02T00:00:00+00:00",
                          "intervalEnd": "2026-05-03T00:00:00+00:00",
                          "totalTransactions": 278,
                          "authorizeTransactions": 17,
                          "captureTransactions": 20,
                          "payTransactions": 205,
                          "refundTransactions": 23,
                          "verifyTransactions": 6,
                          "voidTransactions": 7,
                          "successfulTransactions": 250,
                          "failedTransactions": 17,
                          "declinedTransactions": 10,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-05-03T00:00:00+00:00",
                          "intervalEnd": "2026-05-04T00:00:00+00:00",
                          "totalTransactions": 783,
                          "authorizeTransactions": 33,
                          "captureTransactions": 36,
                          "payTransactions": 675,
                          "refundTransactions": 32,
                          "verifyTransactions": 7,
                          "voidTransactions": 0,
                          "successfulTransactions": 704,
                          "failedTransactions": 66,
                          "declinedTransactions": 11,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-05-04T00:00:00+00:00",
                          "intervalEnd": "2026-05-05T00:00:00+00:00",
                          "totalTransactions": 297,
                          "authorizeTransactions": 28,
                          "captureTransactions": 31,
                          "payTransactions": 46,
                          "refundTransactions": 11,
                          "verifyTransactions": 43,
                          "voidTransactions": 138,
                          "successfulTransactions": 267,
                          "failedTransactions": 21,
                          "declinedTransactions": 7,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-05-05T00:00:00+00:00",
                          "intervalEnd": "2026-05-06T00:00:00+00:00",
                          "totalTransactions": 201,
                          "authorizeTransactions": 20,
                          "captureTransactions": 23,
                          "payTransactions": 98,
                          "refundTransactions": 46,
                          "verifyTransactions": 5,
                          "voidTransactions": 9,
                          "successfulTransactions": 180,
                          "failedTransactions": 9,
                          "declinedTransactions": 10,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-05-06T00:00:00+00:00",
                          "intervalEnd": "2026-05-07T00:00:00+00:00",
                          "totalTransactions": 570,
                          "authorizeTransactions": 71,
                          "captureTransactions": 78,
                          "payTransactions": 354,
                          "refundTransactions": 14,
                          "verifyTransactions": 23,
                          "voidTransactions": 30,
                          "successfulTransactions": 513,
                          "failedTransactions": 49,
                          "declinedTransactions": 6,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-04-30T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-05-07T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "totalTransactions": {
                          "type": "integer",
                          "example": 3455,
                          "description": "Total number of transactions in the period",
                          "enum": []
                        },
                        "authorizeTransactions": {
                          "type": "integer",
                          "example": 238,
                          "description": "Number of authorize transactions in the period",
                          "enum": []
                        },
                        "captureTransactions": {
                          "type": "integer",
                          "example": 265,
                          "description": "Number of capture transactions in the period",
                          "enum": []
                        },
                        "payTransactions": {
                          "type": "integer",
                          "example": 1988,
                          "description": "Number of pay transactions in the period",
                          "enum": []
                        },
                        "refundTransactions": {
                          "type": "integer",
                          "example": 658,
                          "description": "Number of refund transactions in the period",
                          "enum": []
                        },
                        "verifyTransactions": {
                          "type": "integer",
                          "example": 112,
                          "description": "Number of verify transactions in the period",
                          "enum": []
                        },
                        "voidTransactions": {
                          "type": "integer",
                          "example": 194,
                          "description": "Number of void transactions in the period",
                          "enum": []
                        },
                        "successfulTransactions": {
                          "type": "integer",
                          "example": 3107,
                          "description": "Number of successful transactions in the period",
                          "enum": []
                        },
                        "failedTransactions": {
                          "type": "integer",
                          "example": 244,
                          "description": "Number of failed transactions in the period",
                          "enum": []
                        },
                        "declinedTransactions": {
                          "type": "integer",
                          "example": 93,
                          "description": "Number of declined transactions in the period",
                          "enum": []
                        },
                        "pendingTransactions": {
                          "type": "integer",
                          "example": 11,
                          "description": "Number of pending transactions in the period",
                          "enum": []
                        },
                        "unknownTransactions": {
                          "type": "integer",
                          "example": 0,
                          "description": "Number of transactions with unknown result in the period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-04-30T00:00:00+00:00",
                              "intervalEnd": "2026-05-01T00:00:00+00:00",
                              "totalTransactions": 479,
                              "authorizeTransactions": 49,
                              "captureTransactions": 52,
                              "payTransactions": 249,
                              "refundTransactions": 113,
                              "verifyTransactions": 10,
                              "voidTransactions": 6,
                              "successfulTransactions": 431,
                              "failedTransactions": 25,
                              "declinedTransactions": 22,
                              "pendingTransactions": 1,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-05-01T00:00:00+00:00",
                              "intervalEnd": "2026-05-02T00:00:00+00:00",
                              "totalTransactions": 847,
                              "authorizeTransactions": 20,
                              "captureTransactions": 25,
                              "payTransactions": 361,
                              "refundTransactions": 419,
                              "verifyTransactions": 18,
                              "voidTransactions": 4,
                              "successfulTransactions": 762,
                              "failedTransactions": 57,
                              "declinedTransactions": 27,
                              "pendingTransactions": 1,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-05-02T00:00:00+00:00",
                              "intervalEnd": "2026-05-03T00:00:00+00:00",
                              "totalTransactions": 278,
                              "authorizeTransactions": 17,
                              "captureTransactions": 20,
                              "payTransactions": 205,
                              "refundTransactions": 23,
                              "verifyTransactions": 6,
                              "voidTransactions": 7,
                              "successfulTransactions": 250,
                              "failedTransactions": 17,
                              "declinedTransactions": 10,
                              "pendingTransactions": 1,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-05-03T00:00:00+00:00",
                              "intervalEnd": "2026-05-04T00:00:00+00:00",
                              "totalTransactions": 783,
                              "authorizeTransactions": 33,
                              "captureTransactions": 36,
                              "payTransactions": 675,
                              "refundTransactions": 32,
                              "verifyTransactions": 7,
                              "voidTransactions": 0,
                              "successfulTransactions": 704,
                              "failedTransactions": 66,
                              "declinedTransactions": 11,
                              "pendingTransactions": 2,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-05-04T00:00:00+00:00",
                              "intervalEnd": "2026-05-05T00:00:00+00:00",
                              "totalTransactions": 297,
                              "authorizeTransactions": 28,
                              "captureTransactions": 31,
                              "payTransactions": 46,
                              "refundTransactions": 11,
                              "verifyTransactions": 43,
                              "voidTransactions": 138,
                              "successfulTransactions": 267,
                              "failedTransactions": 21,
                              "declinedTransactions": 7,
                              "pendingTransactions": 2,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-05-05T00:00:00+00:00",
                              "intervalEnd": "2026-05-06T00:00:00+00:00",
                              "totalTransactions": 201,
                              "authorizeTransactions": 20,
                              "captureTransactions": 23,
                              "payTransactions": 98,
                              "refundTransactions": 46,
                              "verifyTransactions": 5,
                              "voidTransactions": 9,
                              "successfulTransactions": 180,
                              "failedTransactions": 9,
                              "declinedTransactions": 10,
                              "pendingTransactions": 2,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-05-06T00:00:00+00:00",
                              "intervalEnd": "2026-05-07T00:00:00+00:00",
                              "totalTransactions": 570,
                              "authorizeTransactions": 71,
                              "captureTransactions": 78,
                              "payTransactions": 354,
                              "refundTransactions": 14,
                              "verifyTransactions": 23,
                              "voidTransactions": 30,
                              "successfulTransactions": 513,
                              "failedTransactions": 49,
                              "declinedTransactions": 6,
                              "pendingTransactions": 2,
                              "unknownTransactions": 0
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-04-30T00:00:00+00:00",
                                "description": "Start time of the analytics calculation interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-05-01T00:00:00+00:00",
                                "description": "End time of the analytics calculation interval",
                                "enum": []
                              },
                              "totalTransactions": {
                                "type": "integer",
                                "example": 479,
                                "description": "Total number of transactions in the interval",
                                "enum": []
                              },
                              "authorizeTransactions": {
                                "type": "integer",
                                "example": 49,
                                "description": "Number of authorize transactions in the interval",
                                "enum": []
                              },
                              "captureTransactions": {
                                "type": "integer",
                                "example": 52,
                                "description": "Number of capture transactions in the interval",
                                "enum": []
                              },
                              "payTransactions": {
                                "type": "integer",
                                "example": 249,
                                "description": "Number of pay transactions in the interval",
                                "enum": []
                              },
                              "refundTransactions": {
                                "type": "integer",
                                "example": 113,
                                "description": "Number of refund transactions in the interval",
                                "enum": []
                              },
                              "verifyTransactions": {
                                "type": "integer",
                                "example": 10,
                                "description": "Number of verify transactions in the interval",
                                "enum": []
                              },
                              "voidTransactions": {
                                "type": "integer",
                                "example": 6,
                                "description": "Number of void transactions in the interval",
                                "enum": []
                              },
                              "successfulTransactions": {
                                "type": "integer",
                                "example": 431,
                                "description": "Number of successful transactions in the interval",
                                "enum": []
                              },
                              "failedTransactions": {
                                "type": "integer",
                                "example": 25,
                                "description": "Number of failed transactions in the interval",
                                "enum": []
                              },
                              "declinedTransactions": {
                                "type": "integer",
                                "example": 22,
                                "description": "Number of declined transactions in the interval",
                                "enum": []
                              },
                              "pendingTransactions": {
                                "type": "integer",
                                "example": 1,
                                "description": "Number of pending transactions in the interval",
                                "enum": []
                              },
                              "unknownTransactions": {
                                "type": "integer",
                                "example": 0,
                                "description": "Number of transactions with unknown result in the interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-04-30T00:00:00+00:00",
                      "periodEnd": "2026-05-07T00:00:00+00:00",
                      "totalSettlementAmount": 44865.67,
                      "totalFeeAmount": 2198.41783,
                      "totalNetAmount": 42667.25217,
                      "totalTransactionsPending": 203,
                      "totalTransactionsSettled": 1350,
                      "totalTransactionsSettling": 473,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-04-30T00:00:00+00:00",
                          "intervalEnd": "2026-05-01T00:00:00+00:00",
                          "totalSettlementAmount": 4766.8,
                          "totalFeeAmount": 233.5732,
                          "totalNetAmount": 4533.2268,
                          "totalTransactionsPending": 23,
                          "totalTransactionsSettled": 33,
                          "totalTransactionsSettling": 83
                        },
                        {
                          "intervalStart": "2026-05-01T00:00:00+00:00",
                          "intervalEnd": "2026-05-02T00:00:00+00:00",
                          "totalSettlementAmount": 9738.55,
                          "totalFeeAmount": 477.18895,
                          "totalNetAmount": 9261.36105,
                          "totalTransactionsPending": 35,
                          "totalTransactionsSettled": 372,
                          "totalTransactionsSettling": 47
                        },
                        {
                          "intervalStart": "2026-05-02T00:00:00+00:00",
                          "intervalEnd": "2026-05-03T00:00:00+00:00",
                          "totalSettlementAmount": 1280.86,
                          "totalFeeAmount": 62.76214,
                          "totalNetAmount": 1218.09786,
                          "totalTransactionsPending": 28,
                          "totalTransactionsSettled": 240,
                          "totalTransactionsSettling": 46
                        },
                        {
                          "intervalStart": "2026-05-03T00:00:00+00:00",
                          "intervalEnd": "2026-05-04T00:00:00+00:00",
                          "totalSettlementAmount": 7581.37,
                          "totalFeeAmount": 371.48713,
                          "totalNetAmount": 7209.88287,
                          "totalTransactionsPending": 39,
                          "totalTransactionsSettled": 171,
                          "totalTransactionsSettling": 176
                        },
                        {
                          "intervalStart": "2026-05-04T00:00:00+00:00",
                          "intervalEnd": "2026-05-05T00:00:00+00:00",
                          "totalSettlementAmount": 9132.44,
                          "totalFeeAmount": 447.48956,
                          "totalNetAmount": 8684.95044,
                          "totalTransactionsPending": 10,
                          "totalTransactionsSettled": 61,
                          "totalTransactionsSettling": 43
                        },
                        {
                          "intervalStart": "2026-05-05T00:00:00+00:00",
                          "intervalEnd": "2026-05-06T00:00:00+00:00",
                          "totalSettlementAmount": 6303.48,
                          "totalFeeAmount": 308.87052,
                          "totalNetAmount": 5994.60948,
                          "totalTransactionsPending": 34,
                          "totalTransactionsSettled": 49,
                          "totalTransactionsSettling": 59
                        },
                        {
                          "intervalStart": "2026-05-06T00:00:00+00:00",
                          "intervalEnd": "2026-05-07T00:00:00+00:00",
                          "totalSettlementAmount": 6062.17,
                          "totalFeeAmount": 297.04633,
                          "totalNetAmount": 5765.12367,
                          "totalTransactionsPending": 34,
                          "totalTransactionsSettled": 424,
                          "totalTransactionsSettling": 19
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-04-30T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-05-07T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "totalSettlementAmount": {
                          "type": "number",
                          "example": 44865.67,
                          "description": "Total settled payout amount in this period",
                          "enum": []
                        },
                        "totalFeeAmount": {
                          "type": "number",
                          "example": 2198.41783,
                          "description": "Total amount of fees charged for the payouts in this period",
                          "enum": []
                        },
                        "totalNetAmount": {
                          "type": "number",
                          "example": 42667.25217,
                          "description": "Total net payout amount in this period",
                          "enum": []
                        },
                        "totalTransactionsPending": {
                          "type": "integer",
                          "example": 203,
                          "description": "Total number of transactions pending in this period",
                          "enum": []
                        },
                        "totalTransactionsSettled": {
                          "type": "integer",
                          "example": 1350,
                          "description": "Total number of transactions settled in this period",
                          "enum": []
                        },
                        "totalTransactionsSettling": {
                          "type": "integer",
                          "example": 473,
                          "description": "Total number of transactions settling in this period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-04-30T00:00:00+00:00",
                              "intervalEnd": "2026-05-01T00:00:00+00:00",
                              "totalSettlementAmount": 4766.8,
                              "totalFeeAmount": 233.5732,
                              "totalNetAmount": 4533.2268,
                              "totalTransactionsPending": 23,
                              "totalTransactionsSettled": 33,
                              "totalTransactionsSettling": 83
                            },
                            {
                              "intervalStart": "2026-05-01T00:00:00+00:00",
                              "intervalEnd": "2026-05-02T00:00:00+00:00",
                              "totalSettlementAmount": 9738.55,
                              "totalFeeAmount": 477.18895,
                              "totalNetAmount": 9261.36105,
                              "totalTransactionsPending": 35,
                              "totalTransactionsSettled": 372,
                              "totalTransactionsSettling": 47
                            },
                            {
                              "intervalStart": "2026-05-02T00:00:00+00:00",
                              "intervalEnd": "2026-05-03T00:00:00+00:00",
                              "totalSettlementAmount": 1280.86,
                              "totalFeeAmount": 62.76214,
                              "totalNetAmount": 1218.09786,
                              "totalTransactionsPending": 28,
                              "totalTransactionsSettled": 240,
                              "totalTransactionsSettling": 46
                            },
                            {
                              "intervalStart": "2026-05-03T00:00:00+00:00",
                              "intervalEnd": "2026-05-04T00:00:00+00:00",
                              "totalSettlementAmount": 7581.37,
                              "totalFeeAmount": 371.48713,
                              "totalNetAmount": 7209.88287,
                              "totalTransactionsPending": 39,
                              "totalTransactionsSettled": 171,
                              "totalTransactionsSettling": 176
                            },
                            {
                              "intervalStart": "2026-05-04T00:00:00+00:00",
                              "intervalEnd": "2026-05-05T00:00:00+00:00",
                              "totalSettlementAmount": 9132.44,
                              "totalFeeAmount": 447.48956,
                              "totalNetAmount": 8684.95044,
                              "totalTransactionsPending": 10,
                              "totalTransactionsSettled": 61,
                              "totalTransactionsSettling": 43
                            },
                            {
                              "intervalStart": "2026-05-05T00:00:00+00:00",
                              "intervalEnd": "2026-05-06T00:00:00+00:00",
                              "totalSettlementAmount": 6303.48,
                              "totalFeeAmount": 308.87052,
                              "totalNetAmount": 5994.60948,
                              "totalTransactionsPending": 34,
                              "totalTransactionsSettled": 49,
                              "totalTransactionsSettling": 59
                            },
                            {
                              "intervalStart": "2026-05-06T00:00:00+00:00",
                              "intervalEnd": "2026-05-07T00:00:00+00:00",
                              "totalSettlementAmount": 6062.17,
                              "totalFeeAmount": 297.04633,
                              "totalNetAmount": 5765.12367,
                              "totalTransactionsPending": 34,
                              "totalTransactionsSettled": 424,
                              "totalTransactionsSettling": 19
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-04-30T00:00:00+00:00",
                                "description": "Start time of the analytics calculation interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-05-01T00:00:00+00:00",
                                "description": "End time of the analytics calculation interval",
                                "enum": []
                              },
                              "totalSettlementAmount": {
                                "type": "number",
                                "example": 4766.8,
                                "description": "Total settled payout amount in this interval",
                                "enum": []
                              },
                              "totalFeeAmount": {
                                "type": "number",
                                "example": 233.5732,
                                "description": "Total amount of fees charged for the payouts in this interval",
                                "enum": []
                              },
                              "totalNetAmount": {
                                "type": "number",
                                "example": 4533.2268,
                                "description": "Total net payout amount in this interval",
                                "enum": []
                              },
                              "totalTransactionsPending": {
                                "type": "integer",
                                "example": 23,
                                "description": "Total number of transactions pending in this interval",
                                "enum": []
                              },
                              "totalTransactionsSettled": {
                                "type": "integer",
                                "example": 33,
                                "description": "Total number of transactions settled in this interval",
                                "enum": []
                              },
                              "totalTransactionsSettling": {
                                "type": "integer",
                                "example": 83,
                                "description": "Total number of transactions settling in this interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
[...]
