{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.67.5"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payout Exports",
      "description": "Create payout exports"
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-16T00:00:00+00:00",
                    "periodEnd": "2026-04-23T00:00:00+00:00",
                    "numPaymentsCreated": 4431,
                    "numPaymentsProcessed": 2944,
                    "numPaymentsIncomplete": 1487,
                    "numPaymentsWithRefunds": 1291,
                    "numCardPresentPayments": 1151,
                    "numCardNotPresentPayments": 336,
                    "totalCapturedAmount": 3554260.15,
                    "totalRefundedAmount": 561593.17,
                    "totalNetCapturedAmount": 2992666.98,
                    "averageNetCapturedAmount": 1386.3571428571,
                    "minNetCapturedAmount": 19.71,
                    "maxNetCapturedAmount": 9064.37,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-16T00:00:00+00:00",
                        "intervalEnd": "2026-04-17T00:00:00+00:00",
                        "numPaymentsCreated": 663,
                        "numPaymentsProcessed": 253,
                        "numPaymentsIncomplete": 410,
                        "numPaymentsWithRefunds": 158,
                        "numCardPresentPayments": 245,
                        "numCardNotPresentPayments": 165,
                        "totalCapturedAmount": 621636.42,
                        "totalRefundedAmount": 143622.91,
                        "totalNetCapturedAmount": 478013.51,
                        "averageNetCapturedAmount": 1889.38,
                        "minNetCapturedAmount": 80,
                        "maxNetCapturedAmount": 3729.78
                      },
                      {
                        "intervalStart": "2026-04-17T00:00:00+00:00",
                        "intervalEnd": "2026-04-18T00:00:00+00:00",
                        "numPaymentsCreated": 444,
                        "numPaymentsProcessed": 380,
                        "numPaymentsIncomplete": 64,
                        "numPaymentsWithRefunds": 248,
                        "numCardPresentPayments": 125,
                        "numCardNotPresentPayments": -61,
                        "totalCapturedAmount": 854938.54,
                        "totalRefundedAmount": 187307.77,
                        "totalNetCapturedAmount": 667630.77,
                        "averageNetCapturedAmount": 1756.92,
                        "minNetCapturedAmount": 71.14,
                        "maxNetCapturedAmount": 6516.88
                      },
                      {
                        "intervalStart": "2026-04-18T00:00:00+00:00",
                        "intervalEnd": "2026-04-19T00:00:00+00:00",
                        "numPaymentsCreated": 900,
                        "numPaymentsProcessed": 838,
                        "numPaymentsIncomplete": 62,
                        "numPaymentsWithRefunds": 32,
                        "numCardPresentPayments": 138,
                        "numCardNotPresentPayments": -76,
                        "totalCapturedAmount": 105646.27,
                        "totalRefundedAmount": 3159.85,
                        "totalNetCapturedAmount": 102486.42,
                        "averageNetCapturedAmount": 122.3,
                        "minNetCapturedAmount": 49.79,
                        "maxNetCapturedAmount": 4211.5
                      },
                      {
                        "intervalStart": "2026-04-19T00:00:00+00:00",
                        "intervalEnd": "2026-04-20T00:00:00+00:00",
                        "numPaymentsCreated": 521,
                        "numPaymentsProcessed": 398,
                        "numPaymentsIncomplete": 123,
                        "numPaymentsWithRefunds": 278,
                        "numCardPresentPayments": 248,
                        "numCardNotPresentPayments": -125,
                        "totalCapturedAmount": 248325.49,
                        "totalRefundedAmount": 49964.6,
                        "totalNetCapturedAmount": 198360.89,
                        "averageNetCapturedAmount": 498.39,
                        "minNetCapturedAmount": 65.92,
                        "maxNetCapturedAmount": 9064.37
                      },
                      {
                        "intervalStart": "2026-04-20T00:00:00+00:00",
                        "intervalEnd": "2026-04-21T00:00:00+00:00",
                        "numPaymentsCreated": 575,
                        "numPaymentsProcessed": 207,
                        "numPaymentsIncomplete": 368,
                        "numPaymentsWithRefunds": 54,
                        "numCardPresentPayments": 146,
                        "numCardNotPresentPayments": 222,
                        "totalCapturedAmount": 858243.41,
                        "totalRefundedAmount": 64642.95,
                        "totalNetCapturedAmount": 793600.46,
                        "averageNetCapturedAmount": 3833.82,
                        "minNetCapturedAmount": 45.46,
                        "maxNetCapturedAmount": 2215.31
                      },
                      {
                        "intervalStart": "2026-04-21T00:00:00+00:00",
                        "intervalEnd": "2026-04-22T00:00:00+00:00",
                        "numPaymentsCreated": 663,
                        "numPaymentsProcessed": 355,
                        "numPaymentsIncomplete": 308,
                        "numPaymentsWithRefunds": 77,
                        "numCardPresentPayments": 23,
                        "numCardNotPresentPayments": 285,
                        "totalCapturedAmount": 167341.03,
                        "totalRefundedAmount": 9791.75,
                        "totalNetCapturedAmount": 157549.28,
                        "averageNetCapturedAmount": 443.8,
                        "minNetCapturedAmount": 33.4,
                        "maxNetCapturedAmount": 5669.6
                      },
                      {
                        "intervalStart": "2026-04-22T00:00:00+00:00",
                        "intervalEnd": "2026-04-23T00:00:00+00:00",
                        "numPaymentsCreated": 665,
                        "numPaymentsProcessed": 513,
                        "numPaymentsIncomplete": 152,
                        "numPaymentsWithRefunds": 444,
                        "numCardPresentPayments": 226,
                        "numCardNotPresentPayments": -74,
                        "totalCapturedAmount": 698128.99,
                        "totalRefundedAmount": 103103.34,
                        "totalNetCapturedAmount": 595025.65,
                        "averageNetCapturedAmount": 1159.89,
                        "minNetCapturedAmount": 19.71,
                        "maxNetCapturedAmount": 1501.21
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-16T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-23T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 4431
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 2944
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 1487
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 1291
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 1151
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": 336
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 3554260.15
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 561593.17
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 2992666.98
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 1386.3571428571
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 19.71
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 9064.37
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-16T00:00:00+00:00",
                          "intervalEnd": "2026-04-17T00:00:00+00:00",
                          "numPaymentsCreated": 663,
                          "numPaymentsProcessed": 253,
                          "numPaymentsIncomplete": 410,
                          "numPaymentsWithRefunds": 158,
                          "numCardPresentPayments": 245,
                          "numCardNotPresentPayments": 165,
                          "totalCapturedAmount": 621636.42,
                          "totalRefundedAmount": 143622.91,
                          "totalNetCapturedAmount": 478013.51,
                          "averageNetCapturedAmount": 1889.38,
                          "minNetCapturedAmount": 80,
                          "maxNetCapturedAmount": 3729.78
                        },
                        {
                          "intervalStart": "2026-04-17T00:00:00+00:00",
                          "intervalEnd": "2026-04-18T00:00:00+00:00",
                          "numPaymentsCreated": 444,
                          "numPaymentsProcessed": 380,
                          "numPaymentsIncomplete": 64,
                          "numPaymentsWithRefunds": 248,
                          "numCardPresentPayments": 125,
                          "numCardNotPresentPayments": -61,
                          "totalCapturedAmount": 854938.54,
                          "totalRefundedAmount": 187307.77,
                          "totalNetCapturedAmount": 667630.77,
                          "averageNetCapturedAmount": 1756.92,
                          "minNetCapturedAmount": 71.14,
                          "maxNetCapturedAmount": 6516.88
                        },
                        {
                          "intervalStart": "2026-04-18T00:00:00+00:00",
                          "intervalEnd": "2026-04-19T00:00:00+00:00",
                          "numPaymentsCreated": 900,
                          "numPaymentsProcessed": 838,
                          "numPaymentsIncomplete": 62,
                          "numPaymentsWithRefunds": 32,
                          "numCardPresentPayments": 138,
                          "numCardNotPresentPayments": -76,
                          "totalCapturedAmount": 105646.27,
                          "totalRefundedAmount": 3159.85,
                          "totalNetCapturedAmount": 102486.42,
                          "averageNetCapturedAmount": 122.3,
                          "minNetCapturedAmount": 49.79,
                          "maxNetCapturedAmount": 4211.5
                        },
                        {
                          "intervalStart": "2026-04-19T00:00:00+00:00",
                          "intervalEnd": "2026-04-20T00:00:00+00:00",
                          "numPaymentsCreated": 521,
                          "numPaymentsProcessed": 398,
                          "numPaymentsIncomplete": 123,
                          "numPaymentsWithRefunds": 278,
                          "numCardPresentPayments": 248,
                          "numCardNotPresentPayments": -125,
                          "totalCapturedAmount": 248325.49,
                          "totalRefundedAmount": 49964.6,
                          "totalNetCapturedAmount": 198360.89,
                          "averageNetCapturedAmount": 498.39,
                          "minNetCapturedAmount": 65.92,
                          "maxNetCapturedAmount": 9064.37
                        },
                        {
                          "intervalStart": "2026-04-20T00:00:00+00:00",
                          "intervalEnd": "2026-04-21T00:00:00+00:00",
                          "numPaymentsCreated": 575,
                          "numPaymentsProcessed": 207,
                          "numPaymentsIncomplete": 368,
                          "numPaymentsWithRefunds": 54,
                          "numCardPresentPayments": 146,
                          "numCardNotPresentPayments": 222,
                          "totalCapturedAmount": 858243.41,
                          "totalRefundedAmount": 64642.95,
                          "totalNetCapturedAmount": 793600.46,
                          "averageNetCapturedAmount": 3833.82,
                          "minNetCapturedAmount": 45.46,
                          "maxNetCapturedAmount": 2215.31
                        },
                        {
                          "intervalStart": "2026-04-21T00:00:00+00:00",
                          "intervalEnd": "2026-04-22T00:00:00+00:00",
                          "numPaymentsCreated": 663,
                          "numPaymentsProcessed": 355,
                          "numPaymentsIncomplete": 308,
                          "numPaymentsWithRefunds": 77,
                          "numCardPresentPayments": 23,
                          "numCardNotPresentPayments": 285,
                          "totalCapturedAmount": 167341.03,
                          "totalRefundedAmount": 9791.75,
                          "totalNetCapturedAmount": 157549.28,
                          "averageNetCapturedAmount": 443.8,
                          "minNetCapturedAmount": 33.4,
                          "maxNetCapturedAmount": 5669.6
                        },
                        {
                          "intervalStart": "2026-04-22T00:00:00+00:00",
                          "intervalEnd": "2026-04-23T00:00:00+00:00",
                          "numPaymentsCreated": 665,
                          "numPaymentsProcessed": 513,
                          "numPaymentsIncomplete": 152,
                          "numPaymentsWithRefunds": 444,
                          "numCardPresentPayments": 226,
                          "numCardNotPresentPayments": -74,
                          "totalCapturedAmount": 698128.99,
                          "totalRefundedAmount": 103103.34,
                          "totalNetCapturedAmount": 595025.65,
                          "averageNetCapturedAmount": 1159.89,
                          "minNetCapturedAmount": 19.71,
                          "maxNetCapturedAmount": 1501.21
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-16T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-17T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 663
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 253
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 410
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 158
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 245
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": 165
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 621636.42
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 143622.91
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 478013.51
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 1889.38
                          },
                          "minNetCapturedAmount": {
                            "type": "integer",
                            "example": 80
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 3729.78
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-16T00:00:00+00:00",
                    "periodEnd": "2026-04-23T00:00:00+00:00",
                    "activeCustomers": 145,
                    "newCustomers": 100,
                    "returningCustomers": 45,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-16T00:00:00+00:00",
                        "intervalEnd": "2026-04-17T00:00:00+00:00",
                        "activeCustomers": 29,
                        "newCustomers": 23,
                        "returningCustomers": 6
                      },
                      {
                        "intervalStart": "2026-04-17T00:00:00+00:00",
                        "intervalEnd": "2026-04-18T00:00:00+00:00",
                        "activeCustomers": 80,
                        "newCustomers": 16,
                        "returningCustomers": 64
                      },
                      {
                        "intervalStart": "2026-04-18T00:00:00+00:00",
                        "intervalEnd": "2026-04-19T00:00:00+00:00",
                        "activeCustomers": 15,
                        "newCustomers": 12,
                        "returningCustomers": 3
                      },
                      {
                        "intervalStart": "2026-04-19T00:00:00+00:00",
                        "intervalEnd": "2026-04-20T00:00:00+00:00",
                        "activeCustomers": 99,
                        "newCustomers": 19,
                        "returningCustomers": 80
                      },
                      {
                        "intervalStart": "2026-04-20T00:00:00+00:00",
                        "intervalEnd": "2026-04-21T00:00:00+00:00",
                        "activeCustomers": 12,
                        "newCustomers": 5,
                        "returningCustomers": 7
                      },
                      {
                        "intervalStart": "2026-04-21T00:00:00+00:00",
                        "intervalEnd": "2026-04-22T00:00:00+00:00",
                        "activeCustomers": 19,
                        "newCustomers": 11,
                        "returningCustomers": 8
                      },
                      {
                        "intervalStart": "2026-04-22T00:00:00+00:00",
                        "intervalEnd": "2026-04-23T00:00:00+00:00",
                        "activeCustomers": 24,
                        "newCustomers": 14,
                        "returningCustomers": 10
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-16T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-23T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 145
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 100
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": 45
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-16T00:00:00+00:00",
                          "intervalEnd": "2026-04-17T00:00:00+00:00",
                          "activeCustomers": 29,
                          "newCustomers": 23,
                          "returningCustomers": 6
                        },
                        {
                          "intervalStart": "2026-04-17T00:00:00+00:00",
                          "intervalEnd": "2026-04-18T00:00:00+00:00",
                          "activeCustomers": 80,
                          "newCustomers": 16,
                          "returningCustomers": 64
                        },
                        {
                          "intervalStart": "2026-04-18T00:00:00+00:00",
                          "intervalEnd": "2026-04-19T00:00:00+00:00",
                          "activeCustomers": 15,
                          "newCustomers": 12,
                          "returningCustomers": 3
                        },
                        {
                          "intervalStart": "2026-04-19T00:00:00+00:00",
                          "intervalEnd": "2026-04-20T00:00:00+00:00",
                          "activeCustomers": 99,
                          "newCustomers": 19,
                          "returningCustomers": 80
                        },
                        {
                          "intervalStart": "2026-04-20T00:00:00+00:00",
                          "intervalEnd": "2026-04-21T00:00:00+00:00",
                          "activeCustomers": 12,
                          "newCustomers": 5,
                          "returningCustomers": 7
                        },
                        {
                          "intervalStart": "2026-04-21T00:00:00+00:00",
                          "intervalEnd": "2026-04-22T00:00:00+00:00",
                          "activeCustomers": 19,
                          "newCustomers": 11,
                          "returningCustomers": 8
                        },
                        {
                          "intervalStart": "2026-04-22T00:00:00+00:00",
                          "intervalEnd": "2026-04-23T00:00:00+00:00",
                          "activeCustomers": 24,
                          "newCustomers": 14,
                          "returningCustomers": 10
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-16T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-17T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 29
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 23
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 6
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-16T00:00:00+00:00",
                    "periodEnd": "2026-04-23T00:00:00+00:00",
                    "totalTransactions": 3854,
                    "authorizeTransactions": 316,
                    "captureTransactions": 358,
                    "payTransactions": 2139,
                    "refundTransactions": 627,
                    "verifyTransactions": 273,
                    "voidTransactions": 141,
                    "successfulTransactions": 3466,
                    "failedTransactions": 233,
                    "declinedTransactions": 137,
                    "pendingTransactions": 18,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-16T00:00:00+00:00",
                        "intervalEnd": "2026-04-17T00:00:00+00:00",
                        "totalTransactions": 834,
                        "authorizeTransactions": 76,
                        "captureTransactions": 81,
                        "payTransactions": 606,
                        "refundTransactions": 54,
                        "verifyTransactions": 16,
                        "voidTransactions": 1,
                        "successfulTransactions": 750,
                        "failedTransactions": 49,
                        "declinedTransactions": 32,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-17T00:00:00+00:00",
                        "intervalEnd": "2026-04-18T00:00:00+00:00",
                        "totalTransactions": 645,
                        "authorizeTransactions": 47,
                        "captureTransactions": 49,
                        "payTransactions": 366,
                        "refundTransactions": 113,
                        "verifyTransactions": 55,
                        "voidTransactions": 15,
                        "successfulTransactions": 580,
                        "failedTransactions": 30,
                        "declinedTransactions": 30,
                        "pendingTransactions": 5,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-18T00:00:00+00:00",
                        "intervalEnd": "2026-04-19T00:00:00+00:00",
                        "totalTransactions": 598,
                        "authorizeTransactions": 63,
                        "captureTransactions": 73,
                        "payTransactions": 332,
                        "refundTransactions": 55,
                        "verifyTransactions": 21,
                        "voidTransactions": 54,
                        "successfulTransactions": 538,
                        "failedTransactions": 52,
                        "declinedTransactions": 7,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-19T00:00:00+00:00",
                        "intervalEnd": "2026-04-20T00:00:00+00:00",
                        "totalTransactions": 371,
                        "authorizeTransactions": 19,
                        "captureTransactions": 21,
                        "payTransactions": 268,
                        "refundTransactions": 7,
                        "verifyTransactions": 36,
                        "voidTransactions": 20,
                        "successfulTransactions": 333,
                        "failedTransactions": 22,
                        "declinedTransactions": 14,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-20T00:00:00+00:00",
                        "intervalEnd": "2026-04-21T00:00:00+00:00",
                        "totalTransactions": 488,
                        "authorizeTransactions": 10,
                        "captureTransactions": 16,
                        "payTransactions": 273,
                        "refundTransactions": 82,
                        "verifyTransactions": 76,
                        "voidTransactions": 31,
                        "successfulTransactions": 439,
                        "failedTransactions": 30,
                        "declinedTransactions": 18,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-21T00:00:00+00:00",
                        "intervalEnd": "2026-04-22T00:00:00+00:00",
                        "totalTransactions": 140,
                        "authorizeTransactions": 15,
                        "captureTransactions": 23,
                        "payTransactions": 70,
                        "refundTransactions": 17,
                        "verifyTransactions": 15,
                        "voidTransactions": 0,
                        "successfulTransactions": 126,
                        "failedTransactions": 6,
                        "declinedTransactions": 7,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-22T00:00:00+00:00",
                        "intervalEnd": "2026-04-23T00:00:00+00:00",
                        "totalTransactions": 778,
                        "authorizeTransactions": 86,
                        "captureTransactions": 95,
                        "payTransactions": 224,
                        "refundTransactions": 299,
                        "verifyTransactions": 54,
                        "voidTransactions": 20,
                        "successfulTransactions": 700,
                        "failedTransactions": 44,
                        "declinedTransactions": 29,
                        "pendingTransactions": 5,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-16T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-23T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 3854
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 316
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 358
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 2139
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 627
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 273
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 141
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 3466
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 233
                    },
                    "declinedTransactions": {
                      "type": "integer",
                      "example": 137
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 18
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-16T00:00:00+00:00",
                          "intervalEnd": "2026-04-17T00:00:00+00:00",
                          "totalTransactions": 834,
                          "authorizeTransactions": 76,
                          "captureTransactions": 81,
                          "payTransactions": 606,
                          "refundTransactions": 54,
                          "verifyTransactions": 16,
                          "voidTransactions": 1,
                          "successfulTransactions": 750,
                          "failedTransactions": 49,
                          "declinedTransactions": 32,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-17T00:00:00+00:00",
                          "intervalEnd": "2026-04-18T00:00:00+00:00",
                          "totalTransactions": 645,
                          "authorizeTransactions": 47,
                          "captureTransactions": 49,
                          "payTransactions": 366,
                          "refundTransactions": 113,
                          "verifyTransactions": 55,
                          "voidTransactions": 15,
                          "successfulTransactions": 580,
                          "failedTransactions": 30,
                          "declinedTransactions": 30,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-18T00:00:00+00:00",
                          "intervalEnd": "2026-04-19T00:00:00+00:00",
                          "totalTransactions": 598,
                          "authorizeTransactions": 63,
                          "captureTransactions": 73,
                          "payTransactions": 332,
                          "refundTransactions": 55,
                          "verifyTransactions": 21,
                          "voidTransactions": 54,
                          "successfulTransactions": 538,
                          "failedTransactions": 52,
                          "declinedTransactions": 7,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-19T00:00:00+00:00",
                          "intervalEnd": "2026-04-20T00:00:00+00:00",
                          "totalTransactions": 371,
                          "authorizeTransactions": 19,
                          "captureTransactions": 21,
                          "payTransactions": 268,
                          "refundTransactions": 7,
                          "verifyTransactions": 36,
                          "voidTransactions": 20,
                          "successfulTransactions": 333,
                          "failedTransactions": 22,
                          "declinedTransactions": 14,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-20T00:00:00+00:00",
                          "intervalEnd": "2026-04-21T00:00:00+00:00",
                          "totalTransactions": 488,
                          "authorizeTransactions": 10,
                          "captureTransactions": 16,
                          "payTransactions": 273,
                          "refundTransactions": 82,
                          "verifyTransactions": 76,
                          "voidTransactions": 31,
                          "successfulTransactions": 439,
                          "failedTransactions": 30,
                          "declinedTransactions": 18,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-21T00:00:00+00:00",
                          "intervalEnd": "2026-04-22T00:00:00+00:00",
                          "totalTransactions": 140,
                          "authorizeTransactions": 15,
                          "captureTransactions": 23,
                          "payTransactions": 70,
                          "refundTransactions": 17,
                          "verifyTransactions": 15,
                          "voidTransactions": 0,
                          "successfulTransactions": 126,
                          "failedTransactions": 6,
                          "declinedTransactions": 7,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-22T00:00:00+00:00",
                          "intervalEnd": "2026-04-23T00:00:00+00:00",
                          "totalTransactions": 778,
                          "authorizeTransactions": 86,
                          "captureTransactions": 95,
                          "payTransactions": 224,
                          "refundTransactions": 299,
                          "verifyTransactions": 54,
                          "voidTransactions": 20,
                          "successfulTransactions": 700,
                          "failedTransactions": 44,
                          "declinedTransactions": 29,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-16T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-17T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 834
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 76
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 81
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 606
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 54
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 16
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": 1
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 750
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 49
                          },
                          "declinedTransactions": {
                            "type": "integer",
                            "example": 32
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 3
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-16T00:00:00+00:00",
                    "periodEnd": "2026-04-23T00:00:00+00:00",
                    "totalSettlementAmount": 28803.73,
                    "totalFeeAmount": 1411.38277,
                    "totalNetAmount": 27392.34723,
                    "totalTransactionsPending": 197,
                    "totalTransactionsSettled": 969,
                    "totalTransactionsSettling": 753,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-16T00:00:00+00:00",
                        "intervalEnd": "2026-04-17T00:00:00+00:00",
                        "totalSettlementAmount": 3663.7,
                        "totalFeeAmount": 179.5213,
                        "totalNetAmount": 3484.1787,
                        "totalTransactionsPending": 26,
                        "totalTransactionsSettled": 291,
                        "totalTransactionsSettling": 130
                      },
                      {
                        "intervalStart": "2026-04-17T00:00:00+00:00",
                        "intervalEnd": "2026-04-18T00:00:00+00:00",
                        "totalSettlementAmount": 7571.08,
                        "totalFeeAmount": 370.98292,
                        "totalNetAmount": 7200.09708,
                        "totalTransactionsPending": 37,
                        "totalTransactionsSettled": 31,
                        "totalTransactionsSettling": 33
                      },
                      {
                        "intervalStart": "2026-04-18T00:00:00+00:00",
                        "intervalEnd": "2026-04-19T00:00:00+00:00",
                        "totalSettlementAmount": 2972.38,
                        "totalFeeAmount": 145.64662,
                        "totalNetAmount": 2826.73338,
                        "totalTransactionsPending": 13,
                        "totalTransactionsSettled": 70,
                        "totalTransactionsSettling": 271
                      },
                      {
                        "intervalStart": "2026-04-19T00:00:00+00:00",
                        "intervalEnd": "2026-04-20T00:00:00+00:00",
                        "totalSettlementAmount": 1119.5,
                        "totalFeeAmount": 54.8555,
                        "totalNetAmount": 1064.6445,
                        "totalTransactionsPending": 35,
                        "totalTransactionsSettled": 171,
                        "totalTransactionsSettling": 60
                      },
                      {
                        "intervalStart": "2026-04-20T00:00:00+00:00",
                        "intervalEnd": "2026-04-21T00:00:00+00:00",
                        "totalSettlementAmount": 4334.53,
                        "totalFeeAmount": 212.39197,
                        "totalNetAmount": 4122.13803,
                        "totalTransactionsPending": 35,
                        "totalTransactionsSettled": 126,
                        "totalTransactionsSettling": 167
                      },
                      {
                        "intervalStart": "2026-04-21T00:00:00+00:00",
                        "intervalEnd": "2026-04-22T00:00:00+00:00",
                        "totalSettlementAmount": 3645.61,
                        "totalFeeAmount": 178.63489,
                        "totalNetAmount": 3466.97511,
                        "totalTransactionsPending": 25,
                        "totalTransactionsSettled": 208,
                        "totalTransactionsSettling": 22
                      },
                      {
                        "intervalStart": "2026-04-22T00:00:00+00:00",
                        "intervalEnd": "2026-04-23T00:00:00+00:00",
                        "totalSettlementAmount": 5496.93,
                        "totalFeeAmount": 269.34957,
                        "totalNetAmount": 5227.58043,
                        "totalTransactionsPending": 26,
                        "totalTransactionsSettled": 72,
                        "totalTransactionsSettling": 70
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-16T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-23T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 28803.73
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 1411.38277
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 27392.34723
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 197
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 969
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 753
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-16T00:00:00+00:00",
                          "intervalEnd": "2026-04-17T00:00:00+00:00",
                          "totalSettlementAmount": 3663.7,
                          "totalFeeAmount": 179.5213,
                          "totalNetAmount": 3484.1787,
                          "totalTransactionsPending": 26,
                          "totalTransactionsSettled": 291,
                          "totalTransactionsSettling": 130
                        },
                        {
                          "intervalStart": "2026-04-17T00:00:00+00:00",
                          "intervalEnd": "2026-04-18T00:00:00+00:00",
                          "totalSettlementAmount": 7571.08,
                          "totalFeeAmount": 370.98292,
                          "totalNetAmount": 7200.09708,
                          "totalTransactionsPending": 37,
                          "totalTransactionsSettled": 31,
                          "totalTransactionsSettling": 33
                        },
                        {
                          "intervalStart": "2026-04-18T00:00:00+00:00",
                          "intervalEnd": "2026-04-19T00:00:00+00:00",
                          "totalSettlementAmount": 2972.38,
                          "totalFeeAmount": 145.64662,
                          "totalNetAmount": 2826.73338,
                          "totalTransactionsPending": 13,
                          "totalTransactionsSettled": 70,
                          "totalTransactionsSettling": 271
                        },
                        {
                          "intervalStart": "2026-04-19T00:00:00+00:00",
                          "intervalEnd": "2026-04-20T00:00:00+00:00",
                          "totalSettlementAmount": 1119.5,
                          "totalFeeAmount": 54.8555,
                          "totalNetAmount": 1064.6445,
                          "totalTransactionsPending": 35,
                          "totalTransactionsSettled": 171,
                          "totalTransactionsSettling": 60
                        },
                        {
                          "intervalStart": "2026-04-20T00:00:00+00:00",
                          "intervalEnd": "2026-04-21T00:00:00+00:00",
                          "totalSettlementAmount": 4334.53,
                          "totalFeeAmount": 212.39197,
                          "totalNetAmount": 4122.13803,
                          "totalTransactionsPending": 35,
                          "totalTransactionsSettled": 126,
                          "totalTransactionsSettling": 167
                        },
                        {
                          "intervalStart": "2026-04-21T00:00:00+00:00",
                          "intervalEnd": "2026-04-22T00:00:00+00:00",
                          "totalSettlementAmount": 3645.61,
                          "totalFeeAmount": 178.63489,
                          "totalNetAmount": 3466.97511,
                          "totalTransactionsPending": 25,
                          "totalTransactionsSettled": 208,
                          "totalTransactionsSettling": 22
                        },
                        {
                          "intervalStart": "2026-04-22T00:00:00+00:00",
                          "intervalEnd": "2026-04-23T00:00:00+00:00",
                          "totalSettlementAmount": 5496.93,
                          "totalFeeAmount": 269.34957,
                          "totalNetAmount": 5227.58043,
                          "totalTransactionsPending": 26,
                          "totalTransactionsSettled": 72,
                          "totalTransactionsSettling": 70
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-16T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-17T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 3663.7
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 179.5213
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 3484.1787
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 26
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 291
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 130
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 9,
                    "data": [
                      {
                        "email": "ymayer@hand.biz",
                        "firstName": "Julia",
                        "lastName": "Berge",
                        "phone": "+15203995325",
                        "dateOfBirth": "1998-07-19"
                      },
                      {
                        "email": "hassan.effertz@yahoo.com",
                        "firstName": "Charlene",
                        "lastName": "Littel",
                        "phone": "+19495020186",
                        "dateOfBirth": "1994-12-04"
                      },
                      {
                        "email": "oma.stoltenberg@nader.com",
                        "firstName": "Duane",
                        "lastName": "Haag",
                        "phone": "+13136584103",
                        "dateOfBirth": "2003-09-04"
                      },
                      {
                        "email": "casper.leif@yahoo.com",
                        "firstName": "Rebecca",
                        "lastName": "Kirlin",
                        "phone": "+14014425293",
                        "dateOfBirth": "1971-07-28"
                      },
                      {
                        "email": "wehner.junior@gmail.com",
                        "firstName": "Makenna",
                        "lastName": "Grant",
                        "phone": "+14154039520",
                        "dateOfBirth": "2003-04-08"
                      },
                      {
                        "email": "reina67@yahoo.com",
                        "firstName": "Amelia",
                        "lastName": "Harris",
                        "phone": "+13176027898",
                        "dateOfBirth": "2002-10-20"
                      },
                      {
                        "email": "kamren.emmerich@daniel.org",
                        "firstName": "Gideon",
                        "lastName": "Ankunding",
                        "phone": "+14349586681",
                        "dateOfBirth": "1987-02-12"
                      },
                      {
                        "email": "toy.domenic@gmail.com",
                        "firstName": "Oda",
                        "lastName": "Batz",
                        "phone": "+17197586038",
                        "dateOfBirth": "1999-01-09"
                      },
                      {
                        "email": "gutmann.harvey@yahoo.com",
                        "firstName": "Kaleb",
                        "lastName": "Predovic",
                        "phone": "+13472156043",
                        "dateOfBirth": "1988-06-21"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 9,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "ymayer@hand.biz",
                          "firstName": "Julia",
                          "lastName": "Berge",
                          "phone": "+15203995325",
                          "dateOfBirth": "1998-07-19"
                        },
                        {
                          "email": "hassan.effertz@yahoo.com",
                          "firstName": "Charlene",
                          "lastName": "Littel",
                          "phone": "+19495020186",
                          "dateOfBirth": "1994-12-04"
                        },
                        {
                          "email": "oma.stoltenberg@nader.com",
                          "firstName": "Duane",
                          "lastName": "Haag",
                          "phone": "+13136584103",
                          "dateOfBirth": "2003-09-04"
                        },
                        {
                          "email": "casper.leif@yahoo.com",
                          "firstName": "Rebecca",
                          "lastName": "Kirlin",
                          "phone": "+14014425293",
                          "dateOfBirth": "1971-07-28"
                        },
                        {
                          "email": "wehner.junior@gmail.com",
                          "firstName": "Makenna",
                          "lastName": "Grant",
                          "phone": "+14154039520",
                          "dateOfBirth": "2003-04-08"
                        },
                        {
                          "email": "reina67@yahoo.com",
                          "firstName": "Amelia",
                          "lastName": "Harris",
                          "phone": "+13176027898",
                          "dateOfBirth": "2002-10-20"
                        },
                        {
                          "email": "kamren.emmerich@daniel.org",
                          "firstName": "Gideon",
                          "lastName": "Ankunding",
                          "phone": "+14349586681",
                          "dateOfBirth": "1987-02-12"
                        },
                        {
                          "email": "toy.domenic@gmail.com",
                          "firstName": "Oda",
                          "lastName": "Batz",
                          "phone": "+17197586038",
                          "dateOfBirth": "1999-01-09"
                        },
                        {
                          "email": "gutmann.harvey@yahoo.com",
                          "firstName": "Kaleb",
                          "lastName": "Predovic",
                          "phone": "+13472156043",
                          "dateOfBirth": "1988-06-21"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "ymayer@hand.biz"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Julia"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Berge"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+15203995325"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "1998-07-19"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers/{customerIdOrEmail}/addresses": {
      "get": {
        "summary": "List Customer Billing Addresses",
        "operationId": "listCustomerBillingAddresses",
        "description": "Returns all unique billing addresses that have been used by a customer across their payments.\nAddresses are deduplicated using case-insensitive and whitespace-insensitive comparison.",
        "parameters": [
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
            "example": "-city",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
              "example": "-city",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of unique billing addresses for the customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "company": "Price, Satterfield and Koepp",
                        "street": "58464 Levi Ford",
                        "city": "Sadiechester",
                        "stateProvince": "OR",
                        "postcodeZip": "45559-8623",
                        "country": "USA"
                      },
                      {
                        "company": "Kihn-Macejkovic",
                        "street": "37344 Charlene Forge Apt. 812",
                        "city": "Harveyside",
                        "stateProvince": "OR",
                        "postcodeZip": "12932-9745",
                        "country": "USA"
                      },
                      {
                        "company": "Rohan, Lubowitz and Rutherford",
                        "street": "70125 Ledner Orchard",
                        "city": "New Ardithhaven",
                        "stateProvince": "NV",
                        "postcodeZip": "51430",
                        "country": "USA"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "company": "Price, Satterfield and Koepp",
                          "street": "58464 Levi Ford",
                          "city": "Sadiechester",
                          "stateProvince": "OR",
                          "postcodeZip": "45559-8623",
                          "country": "USA"
                        },
                        {
                          "company": "Kihn-Macejkovic",
                          "street": "37344 Charlene Forge Apt. 812",
                          "city": "Harveyside",
                          "stateProvince": "OR",
                          "postcodeZip": "12932-9745",
                          "country": "USA"
                        },
                        {
                          "company": "Rohan, Lubowitz and Rutherford",
                          "street": "70125 Ledner Orchard",
                          "city": "New Ardithhaven",
                          "stateProvince": "NV",
                          "postcodeZip": "51430",
                          "country": "USA"
                        }
                      ],
                      "description": "The data returned from the request",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "company": {
                            "type": "string",
                            "example": "Price, Satterfield and Koepp"
                          },
                          "street": {
                            "type": "string",
                            "example": "58464 Levi Ford"
                          },
                          "city": {
                            "type": "string",
[...]
