{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.74.0"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payout Exports",
      "description": "Create payout exports"
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/api/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-04-25T00:00:00+00:00",
                      "periodEnd": "2026-05-02T00:00:00+00:00",
                      "numPaymentsCreated": 5691,
                      "numPaymentsProcessed": 3291,
                      "numPaymentsIncomplete": 2400,
                      "numPaymentsWithRefunds": 1280,
                      "numCardPresentPayments": 2077,
                      "numCardNotPresentPayments": 323,
                      "totalCapturedAmount": 3675677.68,
                      "totalRefundedAmount": 622622.2,
                      "totalNetCapturedAmount": 3053055.48,
                      "averageNetCapturedAmount": 1056.7714285714,
                      "minNetCapturedAmount": 27.81,
                      "maxNetCapturedAmount": 8922.22,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-04-25T00:00:00+00:00",
                          "intervalEnd": "2026-04-26T00:00:00+00:00",
                          "numPaymentsCreated": 784,
                          "numPaymentsProcessed": 575,
                          "numPaymentsIncomplete": 209,
                          "numPaymentsWithRefunds": 79,
                          "numCardPresentPayments": 242,
                          "numCardNotPresentPayments": -33,
                          "totalCapturedAmount": 477081.69,
                          "totalRefundedAmount": 122206.97,
                          "totalNetCapturedAmount": 354874.72,
                          "averageNetCapturedAmount": 617.17,
                          "minNetCapturedAmount": 87.91,
                          "maxNetCapturedAmount": 4962.18
                        },
                        {
                          "intervalStart": "2026-04-26T00:00:00+00:00",
                          "intervalEnd": "2026-04-27T00:00:00+00:00",
                          "numPaymentsCreated": 949,
                          "numPaymentsProcessed": 484,
                          "numPaymentsIncomplete": 465,
                          "numPaymentsWithRefunds": 275,
                          "numCardPresentPayments": 323,
                          "numCardNotPresentPayments": 142,
                          "totalCapturedAmount": 599377.58,
                          "totalRefundedAmount": 36688.68,
                          "totalNetCapturedAmount": 562688.9,
                          "averageNetCapturedAmount": 1162.58,
                          "minNetCapturedAmount": 83.95,
                          "maxNetCapturedAmount": 1171.54
                        },
                        {
                          "intervalStart": "2026-04-27T00:00:00+00:00",
                          "intervalEnd": "2026-04-28T00:00:00+00:00",
                          "numPaymentsCreated": 908,
                          "numPaymentsProcessed": 447,
                          "numPaymentsIncomplete": 461,
                          "numPaymentsWithRefunds": 280,
                          "numCardPresentPayments": 330,
                          "numCardNotPresentPayments": 131,
                          "totalCapturedAmount": 635376.88,
                          "totalRefundedAmount": 175127.59,
                          "totalNetCapturedAmount": 460249.29,
                          "averageNetCapturedAmount": 1029.64,
                          "minNetCapturedAmount": 55.9,
                          "maxNetCapturedAmount": 7957.38
                        },
                        {
                          "intervalStart": "2026-04-28T00:00:00+00:00",
                          "intervalEnd": "2026-04-29T00:00:00+00:00",
                          "numPaymentsCreated": 870,
                          "numPaymentsProcessed": 302,
                          "numPaymentsIncomplete": 568,
                          "numPaymentsWithRefunds": 64,
                          "numCardPresentPayments": 84,
                          "numCardNotPresentPayments": 484,
                          "totalCapturedAmount": 993588.8,
                          "totalRefundedAmount": 176600.13,
                          "totalNetCapturedAmount": 816988.67,
                          "averageNetCapturedAmount": 2705.26,
                          "minNetCapturedAmount": 72.53,
                          "maxNetCapturedAmount": 8922.22
                        },
                        {
                          "intervalStart": "2026-04-29T00:00:00+00:00",
                          "intervalEnd": "2026-04-30T00:00:00+00:00",
                          "numPaymentsCreated": 447,
                          "numPaymentsProcessed": 221,
                          "numPaymentsIncomplete": 226,
                          "numPaymentsWithRefunds": 28,
                          "numCardPresentPayments": 201,
                          "numCardNotPresentPayments": 25,
                          "totalCapturedAmount": 176471.05,
                          "totalRefundedAmount": 46962.65,
                          "totalNetCapturedAmount": 129508.4,
                          "averageNetCapturedAmount": 586.01,
                          "minNetCapturedAmount": 85.13,
                          "maxNetCapturedAmount": 5736.72
                        },
                        {
                          "intervalStart": "2026-04-30T00:00:00+00:00",
                          "intervalEnd": "2026-05-01T00:00:00+00:00",
                          "numPaymentsCreated": 853,
                          "numPaymentsProcessed": 731,
                          "numPaymentsIncomplete": 122,
                          "numPaymentsWithRefunds": 402,
                          "numCardPresentPayments": 716,
                          "numCardNotPresentPayments": -594,
                          "totalCapturedAmount": 165766.16,
                          "totalRefundedAmount": 18915.64,
                          "totalNetCapturedAmount": 146850.52,
                          "averageNetCapturedAmount": 200.89,
                          "minNetCapturedAmount": 58.77,
                          "maxNetCapturedAmount": 6423.99
                        },
                        {
                          "intervalStart": "2026-05-01T00:00:00+00:00",
                          "intervalEnd": "2026-05-02T00:00:00+00:00",
                          "numPaymentsCreated": 880,
                          "numPaymentsProcessed": 531,
                          "numPaymentsIncomplete": 349,
                          "numPaymentsWithRefunds": 152,
                          "numCardPresentPayments": 181,
                          "numCardNotPresentPayments": 168,
                          "totalCapturedAmount": 628015.52,
                          "totalRefundedAmount": 46120.54,
                          "totalNetCapturedAmount": 581894.98,
                          "averageNetCapturedAmount": 1095.85,
                          "minNetCapturedAmount": 27.81,
                          "maxNetCapturedAmount": 1970.35
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-04-25T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-05-02T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "numPaymentsCreated": {
                          "type": "integer",
                          "example": 5691,
                          "description": "Total number of payment records created in the period",
                          "enum": []
                        },
                        "numPaymentsProcessed": {
                          "type": "integer",
                          "example": 3291,
                          "description": "Number of payments that have successfully had funds captured (captured amount > 0)",
                          "enum": []
                        },
                        "numPaymentsIncomplete": {
                          "type": "integer",
                          "example": 2400,
                          "description": "Number of payments which have been created but funds have not been captured yet (e.g. failures, declines, authorizations, etc.)",
                          "enum": []
                        },
                        "numPaymentsWithRefunds": {
                          "type": "integer",
                          "example": 1280,
                          "description": "Number of payments that have had one or more refunds (refunded amount > 0)",
                          "enum": []
                        },
                        "numCardPresentPayments": {
                          "type": "integer",
                          "example": 2077,
                          "description": "Number of payments made with card present (e.g. via terminal device)",
                          "enum": []
                        },
                        "numCardNotPresentPayments": {
                          "type": "integer",
                          "example": 323,
                          "description": "Number of payments made with card not present (e.g. online payments)",
                          "enum": []
                        },
                        "totalCapturedAmount": {
                          "type": "number",
                          "example": 3675677.68,
                          "description": "Total amount captured across all payments in the period",
                          "enum": []
                        },
                        "totalRefundedAmount": {
                          "type": "number",
                          "example": 622622.2,
                          "description": "Total amount refunded across all payments in the period",
                          "enum": []
                        },
                        "totalNetCapturedAmount": {
                          "type": "number",
                          "example": 3053055.48,
                          "description": "Net captured amount (captured - refunded) across all payments in the period",
                          "enum": []
                        },
                        "averageNetCapturedAmount": {
                          "type": "number",
                          "example": 1056.7714285714,
                          "description": "Average net captured amount per payment in the period",
                          "enum": []
                        },
                        "minNetCapturedAmount": {
                          "type": "number",
                          "example": 27.81,
                          "description": "Minimum net captured amount in the period",
                          "enum": []
                        },
                        "maxNetCapturedAmount": {
                          "type": "number",
                          "example": 8922.22,
                          "description": "Maximum net captured amount in the period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-04-25T00:00:00+00:00",
                              "intervalEnd": "2026-04-26T00:00:00+00:00",
                              "numPaymentsCreated": 784,
                              "numPaymentsProcessed": 575,
                              "numPaymentsIncomplete": 209,
                              "numPaymentsWithRefunds": 79,
                              "numCardPresentPayments": 242,
                              "numCardNotPresentPayments": -33,
                              "totalCapturedAmount": 477081.69,
                              "totalRefundedAmount": 122206.97,
                              "totalNetCapturedAmount": 354874.72,
                              "averageNetCapturedAmount": 617.17,
                              "minNetCapturedAmount": 87.91,
                              "maxNetCapturedAmount": 4962.18
                            },
                            {
                              "intervalStart": "2026-04-26T00:00:00+00:00",
                              "intervalEnd": "2026-04-27T00:00:00+00:00",
                              "numPaymentsCreated": 949,
                              "numPaymentsProcessed": 484,
                              "numPaymentsIncomplete": 465,
                              "numPaymentsWithRefunds": 275,
                              "numCardPresentPayments": 323,
                              "numCardNotPresentPayments": 142,
                              "totalCapturedAmount": 599377.58,
                              "totalRefundedAmount": 36688.68,
                              "totalNetCapturedAmount": 562688.9,
                              "averageNetCapturedAmount": 1162.58,
                              "minNetCapturedAmount": 83.95,
                              "maxNetCapturedAmount": 1171.54
                            },
                            {
                              "intervalStart": "2026-04-27T00:00:00+00:00",
                              "intervalEnd": "2026-04-28T00:00:00+00:00",
                              "numPaymentsCreated": 908,
                              "numPaymentsProcessed": 447,
                              "numPaymentsIncomplete": 461,
                              "numPaymentsWithRefunds": 280,
                              "numCardPresentPayments": 330,
                              "numCardNotPresentPayments": 131,
                              "totalCapturedAmount": 635376.88,
                              "totalRefundedAmount": 175127.59,
                              "totalNetCapturedAmount": 460249.29,
                              "averageNetCapturedAmount": 1029.64,
                              "minNetCapturedAmount": 55.9,
                              "maxNetCapturedAmount": 7957.38
                            },
                            {
                              "intervalStart": "2026-04-28T00:00:00+00:00",
                              "intervalEnd": "2026-04-29T00:00:00+00:00",
                              "numPaymentsCreated": 870,
                              "numPaymentsProcessed": 302,
                              "numPaymentsIncomplete": 568,
                              "numPaymentsWithRefunds": 64,
                              "numCardPresentPayments": 84,
                              "numCardNotPresentPayments": 484,
                              "totalCapturedAmount": 993588.8,
                              "totalRefundedAmount": 176600.13,
                              "totalNetCapturedAmount": 816988.67,
                              "averageNetCapturedAmount": 2705.26,
                              "minNetCapturedAmount": 72.53,
                              "maxNetCapturedAmount": 8922.22
                            },
                            {
                              "intervalStart": "2026-04-29T00:00:00+00:00",
                              "intervalEnd": "2026-04-30T00:00:00+00:00",
                              "numPaymentsCreated": 447,
                              "numPaymentsProcessed": 221,
                              "numPaymentsIncomplete": 226,
                              "numPaymentsWithRefunds": 28,
                              "numCardPresentPayments": 201,
                              "numCardNotPresentPayments": 25,
                              "totalCapturedAmount": 176471.05,
                              "totalRefundedAmount": 46962.65,
                              "totalNetCapturedAmount": 129508.4,
                              "averageNetCapturedAmount": 586.01,
                              "minNetCapturedAmount": 85.13,
                              "maxNetCapturedAmount": 5736.72
                            },
                            {
                              "intervalStart": "2026-04-30T00:00:00+00:00",
                              "intervalEnd": "2026-05-01T00:00:00+00:00",
                              "numPaymentsCreated": 853,
                              "numPaymentsProcessed": 731,
                              "numPaymentsIncomplete": 122,
                              "numPaymentsWithRefunds": 402,
                              "numCardPresentPayments": 716,
                              "numCardNotPresentPayments": -594,
                              "totalCapturedAmount": 165766.16,
                              "totalRefundedAmount": 18915.64,
                              "totalNetCapturedAmount": 146850.52,
                              "averageNetCapturedAmount": 200.89,
                              "minNetCapturedAmount": 58.77,
                              "maxNetCapturedAmount": 6423.99
                            },
                            {
                              "intervalStart": "2026-05-01T00:00:00+00:00",
                              "intervalEnd": "2026-05-02T00:00:00+00:00",
                              "numPaymentsCreated": 880,
                              "numPaymentsProcessed": 531,
                              "numPaymentsIncomplete": 349,
                              "numPaymentsWithRefunds": 152,
                              "numCardPresentPayments": 181,
                              "numCardNotPresentPayments": 168,
                              "totalCapturedAmount": 628015.52,
                              "totalRefundedAmount": 46120.54,
                              "totalNetCapturedAmount": 581894.98,
                              "averageNetCapturedAmount": 1095.85,
                              "minNetCapturedAmount": 27.81,
                              "maxNetCapturedAmount": 1970.35
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-04-25T00:00:00+00:00",
                                "description": "Start time of the PaymentAnalyticsData interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-04-26T00:00:00+00:00",
                                "description": "End time of the PaymentAnalyticsData interval",
                                "enum": []
                              },
                              "numPaymentsCreated": {
                                "type": "integer",
                                "example": 784,
                                "description": "Total number of payment records created in the interval",
                                "enum": []
                              },
                              "numPaymentsProcessed": {
                                "type": "integer",
                                "example": 575,
                                "description": "Number of payments that have successfully had funds captured (captured amount > 0)",
                                "enum": []
                              },
                              "numPaymentsIncomplete": {
                                "type": "integer",
                                "example": 209,
                                "description": "Number of payments which have been created but funds have not been captured yet (e.g. failures, declines, authorizations, etc.)",
                                "enum": []
                              },
                              "numPaymentsWithRefunds": {
                                "type": "integer",
                                "example": 79,
                                "description": "Number of payments that have had one or more refunds (refunded amount > 0)",
                                "enum": []
                              },
                              "numCardPresentPayments": {
                                "type": "integer",
                                "example": 242,
                                "description": "Number of payments made with card present (e.g. via terminal device)",
                                "enum": []
                              },
                              "numCardNotPresentPayments": {
                                "type": "integer",
                                "example": -33,
                                "description": "Number of payments made with card not present (e.g. online payments)",
                                "enum": []
                              },
                              "totalCapturedAmount": {
                                "type": "number",
                                "example": 477081.69,
                                "description": "Total amount captured across all payments in the interval",
                                "enum": []
                              },
                              "totalRefundedAmount": {
                                "type": "number",
                                "example": 122206.97,
                                "description": "Total amount refunded across all payments in the interval",
                                "enum": []
                              },
                              "totalNetCapturedAmount": {
                                "type": "number",
                                "example": 354874.72,
                                "description": "Net captured amount (captured - refunded) across all payments in the interval",
                                "enum": []
                              },
                              "averageNetCapturedAmount": {
                                "type": "number",
                                "example": 617.17,
                                "description": "Average net captured amount per payment in the interval",
                                "enum": []
                              },
                              "minNetCapturedAmount": {
                                "type": "number",
                                "example": 87.91,
                                "description": "Minimum net captured amount in the interval",
                                "enum": []
                              },
                              "maxNetCapturedAmount": {
                                "type": "number",
                                "example": 4962.18,
                                "description": "Maximum net captured amount in the interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-04-25T00:00:00+00:00",
                      "periodEnd": "2026-05-02T00:00:00+00:00",
                      "activeCustomers": 156,
                      "newCustomers": 116,
                      "returningCustomers": 40,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-04-25T00:00:00+00:00",
                          "intervalEnd": "2026-04-26T00:00:00+00:00",
                          "activeCustomers": 42,
                          "newCustomers": 13,
                          "returningCustomers": 29
                        },
                        {
                          "intervalStart": "2026-04-26T00:00:00+00:00",
                          "intervalEnd": "2026-04-27T00:00:00+00:00",
                          "activeCustomers": 11,
                          "newCustomers": 7,
                          "returningCustomers": 4
                        },
                        {
                          "intervalStart": "2026-04-27T00:00:00+00:00",
                          "intervalEnd": "2026-04-28T00:00:00+00:00",
                          "activeCustomers": 47,
                          "newCustomers": 33,
                          "returningCustomers": 14
                        },
                        {
                          "intervalStart": "2026-04-28T00:00:00+00:00",
                          "intervalEnd": "2026-04-29T00:00:00+00:00",
                          "activeCustomers": 63,
                          "newCustomers": 7,
                          "returningCustomers": 56
                        },
                        {
                          "intervalStart": "2026-04-29T00:00:00+00:00",
                          "intervalEnd": "2026-04-30T00:00:00+00:00",
                          "activeCustomers": 66,
                          "newCustomers": 5,
                          "returningCustomers": 61
                        },
                        {
                          "intervalStart": "2026-04-30T00:00:00+00:00",
                          "intervalEnd": "2026-05-01T00:00:00+00:00",
                          "activeCustomers": 57,
                          "newCustomers": 46,
                          "returningCustomers": 11
                        },
                        {
                          "intervalStart": "2026-05-01T00:00:00+00:00",
                          "intervalEnd": "2026-05-02T00:00:00+00:00",
                          "activeCustomers": 13,
                          "newCustomers": 5,
                          "returningCustomers": 8
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-04-25T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-05-02T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "activeCustomers": {
                          "type": "integer",
                          "example": 156,
                          "description": "number of customers who are associated with at least one payment which was created in the period",
                          "enum": []
                        },
                        "newCustomers": {
                          "type": "integer",
                          "example": 116,
                          "description": "number of new customers added in the period",
                          "enum": []
                        },
                        "returningCustomers": {
                          "type": "integer",
                          "example": 40,
                          "description": "number of customers who were active in the period but were created before the period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-04-25T00:00:00+00:00",
                              "intervalEnd": "2026-04-26T00:00:00+00:00",
                              "activeCustomers": 42,
                              "newCustomers": 13,
                              "returningCustomers": 29
                            },
                            {
                              "intervalStart": "2026-04-26T00:00:00+00:00",
                              "intervalEnd": "2026-04-27T00:00:00+00:00",
                              "activeCustomers": 11,
                              "newCustomers": 7,
                              "returningCustomers": 4
                            },
                            {
                              "intervalStart": "2026-04-27T00:00:00+00:00",
                              "intervalEnd": "2026-04-28T00:00:00+00:00",
                              "activeCustomers": 47,
                              "newCustomers": 33,
                              "returningCustomers": 14
                            },
                            {
                              "intervalStart": "2026-04-28T00:00:00+00:00",
                              "intervalEnd": "2026-04-29T00:00:00+00:00",
                              "activeCustomers": 63,
                              "newCustomers": 7,
                              "returningCustomers": 56
                            },
                            {
                              "intervalStart": "2026-04-29T00:00:00+00:00",
                              "intervalEnd": "2026-04-30T00:00:00+00:00",
                              "activeCustomers": 66,
                              "newCustomers": 5,
                              "returningCustomers": 61
                            },
                            {
                              "intervalStart": "2026-04-30T00:00:00+00:00",
                              "intervalEnd": "2026-05-01T00:00:00+00:00",
                              "activeCustomers": 57,
                              "newCustomers": 46,
                              "returningCustomers": 11
                            },
                            {
                              "intervalStart": "2026-05-01T00:00:00+00:00",
                              "intervalEnd": "2026-05-02T00:00:00+00:00",
                              "activeCustomers": 13,
                              "newCustomers": 5,
                              "returningCustomers": 8
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-04-25T00:00:00+00:00",
                                "description": "Start time of the analytics calculation interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-04-26T00:00:00+00:00",
                                "description": "End time of the analytics calculation interval",
                                "enum": []
                              },
                              "activeCustomers": {
                                "type": "integer",
                                "example": 42,
                                "description": "number of customers who are associated with at least one payment which was created in the interval",
                                "enum": []
                              },
                              "newCustomers": {
                                "type": "integer",
                                "example": 13,
                                "description": "number of new customers added in the interval",
                                "enum": []
                              },
                              "returningCustomers": {
                                "type": "integer",
                                "example": 29,
                                "description": "number of customers who were active in the interval but were created before the interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-04-25T00:00:00+00:00",
                      "periodEnd": "2026-05-02T00:00:00+00:00",
                      "totalTransactions": 4192,
                      "authorizeTransactions": 324,
                      "captureTransactions": 364,
                      "payTransactions": 1231,
                      "refundTransactions": 1056,
                      "verifyTransactions": 518,
                      "voidTransactions": 699,
                      "successfulTransactions": 3770,
                      "failedTransactions": 269,
                      "declinedTransactions": 132,
                      "pendingTransactions": 21,
                      "unknownTransactions": 0,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-04-25T00:00:00+00:00",
                          "intervalEnd": "2026-04-26T00:00:00+00:00",
                          "totalTransactions": 940,
                          "authorizeTransactions": 52,
                          "captureTransactions": 56,
                          "payTransactions": 89,
                          "refundTransactions": 355,
                          "verifyTransactions": 65,
                          "voidTransactions": 323,
                          "successfulTransactions": 846,
                          "failedTransactions": 51,
                          "declinedTransactions": 38,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-26T00:00:00+00:00",
                          "intervalEnd": "2026-04-27T00:00:00+00:00",
                          "totalTransactions": 564,
                          "authorizeTransactions": 14,
                          "captureTransactions": 21,
                          "payTransactions": 180,
                          "refundTransactions": 160,
                          "verifyTransactions": 167,
                          "voidTransactions": 22,
                          "successfulTransactions": 507,
                          "failedTransactions": 35,
                          "declinedTransactions": 19,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-27T00:00:00+00:00",
                          "intervalEnd": "2026-04-28T00:00:00+00:00",
                          "totalTransactions": 147,
                          "authorizeTransactions": 18,
                          "captureTransactions": 19,
                          "payTransactions": 26,
                          "refundTransactions": 22,
                          "verifyTransactions": 37,
                          "voidTransactions": 25,
                          "successfulTransactions": 132,
                          "failedTransactions": 12,
                          "declinedTransactions": 2,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-28T00:00:00+00:00",
                          "intervalEnd": "2026-04-29T00:00:00+00:00",
                          "totalTransactions": 935,
                          "authorizeTransactions": 106,
                          "captureTransactions": 110,
                          "payTransactions": 106,
                          "refundTransactions": 359,
                          "verifyTransactions": 142,
                          "voidTransactions": 112,
                          "successfulTransactions": 841,
                          "failedTransactions": 61,
                          "declinedTransactions": 30,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-29T00:00:00+00:00",
                          "intervalEnd": "2026-04-30T00:00:00+00:00",
                          "totalTransactions": 695,
                          "authorizeTransactions": 83,
                          "captureTransactions": 93,
                          "payTransactions": 408,
                          "refundTransactions": 14,
                          "verifyTransactions": 9,
                          "voidTransactions": 88,
                          "successfulTransactions": 625,
                          "failedTransactions": 41,
                          "declinedTransactions": 26,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-30T00:00:00+00:00",
                          "intervalEnd": "2026-05-01T00:00:00+00:00",
                          "totalTransactions": 363,
                          "authorizeTransactions": 19,
                          "captureTransactions": 23,
                          "payTransactions": 230,
                          "refundTransactions": 82,
                          "verifyTransactions": 8,
                          "voidTransactions": 1,
                          "successfulTransactions": 326,
                          "failedTransactions": 32,
                          "declinedTransactions": 4,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-05-01T00:00:00+00:00",
                          "intervalEnd": "2026-05-02T00:00:00+00:00",
                          "totalTransactions": 548,
                          "authorizeTransactions": 32,
                          "captureTransactions": 42,
                          "payTransactions": 192,
                          "refundTransactions": 64,
                          "verifyTransactions": 90,
                          "voidTransactions": 128,
                          "successfulTransactions": 493,
                          "failedTransactions": 37,
                          "declinedTransactions": 13,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-04-25T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-05-02T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "totalTransactions": {
                          "type": "integer",
                          "example": 4192,
                          "description": "Total number of transactions in the period",
                          "enum": []
                        },
                        "authorizeTransactions": {
                          "type": "integer",
                          "example": 324,
                          "description": "Number of authorize transactions in the period",
                          "enum": []
                        },
                        "captureTransactions": {
                          "type": "integer",
                          "example": 364,
                          "description": "Number of capture transactions in the period",
                          "enum": []
                        },
                        "payTransactions": {
                          "type": "integer",
                          "example": 1231,
                          "description": "Number of pay transactions in the period",
                          "enum": []
                        },
                        "refundTransactions": {
                          "type": "integer",
                          "example": 1056,
                          "description": "Number of refund transactions in the period",
                          "enum": []
                        },
                        "verifyTransactions": {
                          "type": "integer",
                          "example": 518,
                          "description": "Number of verify transactions in the period",
                          "enum": []
                        },
                        "voidTransactions": {
                          "type": "integer",
                          "example": 699,
                          "description": "Number of void transactions in the period",
                          "enum": []
                        },
                        "successfulTransactions": {
                          "type": "integer",
                          "example": 3770,
                          "description": "Number of successful transactions in the period",
                          "enum": []
                        },
                        "failedTransactions": {
                          "type": "integer",
                          "example": 269,
                          "description": "Number of failed transactions in the period",
                          "enum": []
                        },
                        "declinedTransactions": {
                          "type": "integer",
                          "example": 132,
                          "description": "Number of declined transactions in the period",
                          "enum": []
                        },
                        "pendingTransactions": {
                          "type": "integer",
                          "example": 21,
                          "description": "Number of pending transactions in the period",
                          "enum": []
                        },
                        "unknownTransactions": {
                          "type": "integer",
                          "example": 0,
                          "description": "Number of transactions with unknown result in the period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-04-25T00:00:00+00:00",
                              "intervalEnd": "2026-04-26T00:00:00+00:00",
                              "totalTransactions": 940,
                              "authorizeTransactions": 52,
                              "captureTransactions": 56,
                              "payTransactions": 89,
                              "refundTransactions": 355,
                              "verifyTransactions": 65,
                              "voidTransactions": 323,
                              "successfulTransactions": 846,
                              "failedTransactions": 51,
                              "declinedTransactions": 38,
                              "pendingTransactions": 5,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-04-26T00:00:00+00:00",
                              "intervalEnd": "2026-04-27T00:00:00+00:00",
                              "totalTransactions": 564,
                              "authorizeTransactions": 14,
                              "captureTransactions": 21,
                              "payTransactions": 180,
                              "refundTransactions": 160,
                              "verifyTransactions": 167,
                              "voidTransactions": 22,
                              "successfulTransactions": 507,
                              "failedTransactions": 35,
                              "declinedTransactions": 19,
                              "pendingTransactions": 3,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-04-27T00:00:00+00:00",
                              "intervalEnd": "2026-04-28T00:00:00+00:00",
                              "totalTransactions": 147,
                              "authorizeTransactions": 18,
                              "captureTransactions": 19,
                              "payTransactions": 26,
                              "refundTransactions": 22,
                              "verifyTransactions": 37,
                              "voidTransactions": 25,
                              "successfulTransactions": 132,
                              "failedTransactions": 12,
                              "declinedTransactions": 2,
                              "pendingTransactions": 1,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-04-28T00:00:00+00:00",
                              "intervalEnd": "2026-04-29T00:00:00+00:00",
                              "totalTransactions": 935,
                              "authorizeTransactions": 106,
                              "captureTransactions": 110,
                              "payTransactions": 106,
                              "refundTransactions": 359,
                              "verifyTransactions": 142,
                              "voidTransactions": 112,
                              "successfulTransactions": 841,
                              "failedTransactions": 61,
                              "declinedTransactions": 30,
                              "pendingTransactions": 3,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-04-29T00:00:00+00:00",
                              "intervalEnd": "2026-04-30T00:00:00+00:00",
                              "totalTransactions": 695,
                              "authorizeTransactions": 83,
                              "captureTransactions": 93,
                              "payTransactions": 408,
                              "refundTransactions": 14,
                              "verifyTransactions": 9,
                              "voidTransactions": 88,
                              "successfulTransactions": 625,
                              "failedTransactions": 41,
                              "declinedTransactions": 26,
                              "pendingTransactions": 3,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-04-30T00:00:00+00:00",
                              "intervalEnd": "2026-05-01T00:00:00+00:00",
                              "totalTransactions": 363,
                              "authorizeTransactions": 19,
                              "captureTransactions": 23,
                              "payTransactions": 230,
                              "refundTransactions": 82,
                              "verifyTransactions": 8,
                              "voidTransactions": 1,
                              "successfulTransactions": 326,
                              "failedTransactions": 32,
                              "declinedTransactions": 4,
                              "pendingTransactions": 1,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-05-01T00:00:00+00:00",
                              "intervalEnd": "2026-05-02T00:00:00+00:00",
                              "totalTransactions": 548,
                              "authorizeTransactions": 32,
                              "captureTransactions": 42,
                              "payTransactions": 192,
                              "refundTransactions": 64,
                              "verifyTransactions": 90,
                              "voidTransactions": 128,
                              "successfulTransactions": 493,
                              "failedTransactions": 37,
                              "declinedTransactions": 13,
                              "pendingTransactions": 5,
                              "unknownTransactions": 0
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-04-25T00:00:00+00:00",
                                "description": "Start time of the analytics calculation interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-04-26T00:00:00+00:00",
                                "description": "End time of the analytics calculation interval",
                                "enum": []
                              },
                              "totalTransactions": {
                                "type": "integer",
                                "example": 940,
                                "description": "Total number of transactions in the interval",
                                "enum": []
                              },
                              "authorizeTransactions": {
                                "type": "integer",
                                "example": 52,
                                "description": "Number of authorize transactions in the interval",
                                "enum": []
                              },
                              "captureTransactions": {
                                "type": "integer",
                                "example": 56,
                                "description": "Number of capture transactions in the interval",
                                "enum": []
                              },
                              "payTransactions": {
                                "type": "integer",
                                "example": 89,
                                "description": "Number of pay transactions in the interval",
                                "enum": []
                              },
                              "refundTransactions": {
                                "type": "integer",
                                "example": 355,
                                "description": "Number of refund transactions in the interval",
                                "enum": []
                              },
                              "verifyTransactions": {
                                "type": "integer",
                                "example": 65,
                                "description": "Number of verify transactions in the interval",
                                "enum": []
                              },
                              "voidTransactions": {
                                "type": "integer",
                                "example": 323,
                                "description": "Number of void transactions in the interval",
                                "enum": []
                              },
                              "successfulTransactions": {
                                "type": "integer",
                                "example": 846,
                                "description": "Number of successful transactions in the interval",
                                "enum": []
                              },
                              "failedTransactions": {
                                "type": "integer",
                                "example": 51,
                                "description": "Number of failed transactions in the interval",
                                "enum": []
                              },
                              "declinedTransactions": {
                                "type": "integer",
                                "example": 38,
                                "description": "Number of declined transactions in the interval",
                                "enum": []
                              },
                              "pendingTransactions": {
                                "type": "integer",
                                "example": 5,
                                "description": "Number of pending transactions in the interval",
                                "enum": []
                              },
                              "unknownTransactions": {
                                "type": "integer",
                                "example": 0,
                                "description": "Number of transactions with unknown result in the interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-04-25T00:00:00+00:00",
                      "periodEnd": "2026-05-02T00:00:00+00:00",
                      "totalSettlementAmount": 47170.19,
                      "totalFeeAmount": 2311.33931,
                      "totalNetAmount": 44858.85069,
                      "totalTransactionsPending": 139,
                      "totalTransactionsSettled": 1615,
                      "totalTransactionsSettling": 663,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-04-25T00:00:00+00:00",
                          "intervalEnd": "2026-04-26T00:00:00+00:00",
                          "totalSettlementAmount": 5074.24,
                          "totalFeeAmount": 248.63776,
                          "totalNetAmount": 4825.60224,
                          "totalTransactionsPending": 16,
                          "totalTransactionsSettled": 342,
                          "totalTransactionsSettling": 32
                        },
                        {
                          "intervalStart": "2026-04-26T00:00:00+00:00",
                          "intervalEnd": "2026-04-27T00:00:00+00:00",
                          "totalSettlementAmount": 8775.34,
                          "totalFeeAmount": 429.99166,
                          "totalNetAmount": 8345.34834,
                          "totalTransactionsPending": 6,
                          "totalTransactionsSettled": 445,
                          "totalTransactionsSettling": 31
                        },
                        {
                          "intervalStart": "2026-04-27T00:00:00+00:00",
                          "intervalEnd": "2026-04-28T00:00:00+00:00",
                          "totalSettlementAmount": 7539.75,
                          "totalFeeAmount": 369.44775,
                          "totalNetAmount": 7170.30225,
                          "totalTransactionsPending": 15,
                          "totalTransactionsSettled": 242,
                          "totalTransactionsSettling": 33
                        },
                        {
                          "intervalStart": "2026-04-28T00:00:00+00:00",
                          "intervalEnd": "2026-04-29T00:00:00+00:00",
                          "totalSettlementAmount": 3217.15,
                          "totalFeeAmount": 157.64035,
                          "totalNetAmount": 3059.50965,
                          "totalTransactionsPending": 26,
                          "totalTransactionsSettled": 85,
                          "totalTransactionsSettling": 280
                        },
                        {
                          "intervalStart": "2026-04-29T00:00:00+00:00",
                          "intervalEnd": "2026-04-30T00:00:00+00:00",
                          "totalSettlementAmount": 6899.78,
                          "totalFeeAmount": 338.08922,
                          "totalNetAmount": 6561.69078,
                          "totalTransactionsPending": 6,
                          "totalTransactionsSettled": 324,
                          "totalTransactionsSettling": 122
                        },
                        {
                          "intervalStart": "2026-04-30T00:00:00+00:00",
                          "intervalEnd": "2026-05-01T00:00:00+00:00",
                          "totalSettlementAmount": 7075.53,
                          "totalFeeAmount": 346.70097,
                          "totalNetAmount": 6728.82903,
                          "totalTransactionsPending": 35,
                          "totalTransactionsSettled": 27,
                          "totalTransactionsSettling": 123
                        },
                        {
                          "intervalStart": "2026-05-01T00:00:00+00:00",
                          "intervalEnd": "2026-05-02T00:00:00+00:00",
                          "totalSettlementAmount": 8588.4,
                          "totalFeeAmount": 420.8316,
                          "totalNetAmount": 8167.5684,
                          "totalTransactionsPending": 35,
                          "totalTransactionsSettled": 150,
                          "totalTransactionsSettling": 42
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-04-25T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-05-02T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "totalSettlementAmount": {
                          "type": "number",
                          "example": 47170.19,
                          "description": "Total settled payout amount in this period",
                          "enum": []
                        },
                        "totalFeeAmount": {
                          "type": "number",
                          "example": 2311.33931,
                          "description": "Total amount of fees charged for the payouts in this period",
                          "enum": []
                        },
                        "totalNetAmount": {
                          "type": "number",
                          "example": 44858.85069,
                          "description": "Total net payout amount in this period",
                          "enum": []
                        },
                        "totalTransactionsPending": {
                          "type": "integer",
                          "example": 139,
                          "description": "Total number of transactions pending in this period",
                          "enum": []
                        },
                        "totalTransactionsSettled": {
                          "type": "integer",
                          "example": 1615,
                          "description": "Total number of transactions settled in this period",
                          "enum": []
                        },
                        "totalTransactionsSettling": {
                          "type": "integer",
                          "example": 663,
                          "description": "Total number of transactions settling in this period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-04-25T00:00:00+00:00",
                              "intervalEnd": "2026-04-26T00:00:00+00:00",
                              "totalSettlementAmount": 5074.24,
                              "totalFeeAmount": 248.63776,
                              "totalNetAmount": 4825.60224,
                              "totalTransactionsPending": 16,
                              "totalTransactionsSettled": 342,
                              "totalTransactionsSettling": 32
                            },
                            {
                              "intervalStart": "2026-04-26T00:00:00+00:00",
                              "intervalEnd": "2026-04-27T00:00:00+00:00",
                              "totalSettlementAmount": 8775.34,
                              "totalFeeAmount": 429.99166,
                              "totalNetAmount": 8345.34834,
                              "totalTransactionsPending": 6,
                              "totalTransactionsSettled": 445,
                              "totalTransactionsSettling": 31
                            },
                            {
                              "intervalStart": "2026-04-27T00:00:00+00:00",
                              "intervalEnd": "2026-04-28T00:00:00+00:00",
                              "totalSettlementAmount": 7539.75,
                              "totalFeeAmount": 369.44775,
                              "totalNetAmount": 7170.30225,
                              "totalTransactionsPending": 15,
                              "totalTransactionsSettled": 242,
                              "totalTransactionsSettling": 33
                            },
                            {
                              "intervalStart": "2026-04-28T00:00:00+00:00",
                              "intervalEnd": "2026-04-29T00:00:00+00:00",
                              "totalSettlementAmount": 3217.15,
                              "totalFeeAmount": 157.64035,
                              "totalNetAmount": 3059.50965,
                              "totalTransactionsPending": 26,
                              "totalTransactionsSettled": 85,
                              "totalTransactionsSettling": 280
                            },
                            {
                              "intervalStart": "2026-04-29T00:00:00+00:00",
                              "intervalEnd": "2026-04-30T00:00:00+00:00",
                              "totalSettlementAmount": 6899.78,
                              "totalFeeAmount": 338.08922,
                              "totalNetAmount": 6561.69078,
                              "totalTransactionsPending": 6,
                              "totalTransactionsSettled": 324,
                              "totalTransactionsSettling": 122
                            },
                            {
                              "intervalStart": "2026-04-30T00:00:00+00:00",
                              "intervalEnd": "2026-05-01T00:00:00+00:00",
                              "totalSettlementAmount": 7075.53,
                              "totalFeeAmount": 346.70097,
                              "totalNetAmount": 6728.82903,
                              "totalTransactionsPending": 35,
                              "totalTransactionsSettled": 27,
                              "totalTransactionsSettling": 123
                            },
                            {
                              "intervalStart": "2026-05-01T00:00:00+00:00",
                              "intervalEnd": "2026-05-02T00:00:00+00:00",
                              "totalSettlementAmount": 8588.4,
                              "totalFeeAmount": 420.8316,
                              "totalNetAmount": 8167.5684,
                              "totalTransactionsPending": 35,
                              "totalTransactionsSettled": 150,
                              "totalTransactionsSettling": 42
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-04-25T00:00:00+00:00",
                                "description": "Start time of the analytics calculation interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-04-26T00:00:00+00:00",
                                "description": "End time of the analytics calculation interval",
                                "enum": []
                              },
                              "totalSettlementAmount": {
                                "type": "number",
                                "example": 5074.24,
                                "description": "Total settled payout amount in this interval",
                                "enum": []
                              },
                              "totalFeeAmount": {
                                "type": "number",
                                "example": 248.63776,
                                "description": "Total amount of fees charged for the payouts in this interval",
                                "enum": []
                              },
                              "totalNetAmount": {
                                "type": "number",
                                "example": 4825.60224,
                                "description": "Total net payout amount in this interval",
                                "enum": []
                              },
                              "totalTransactionsPending": {
                                "type": "integer",
                                "example": 16,
                                "description": "Total number of transactions pending in this interval",
                                "enum": []
                              },
                              "totalTransactionsSettled": {
                                "type": "integer",
                                "example": 342,
                                "description": "Total number of transactions settled in this interval",
                                "enum": []
                              },
                              "totalTransactionsSettling": {
                                "type": "integer",
                                "example": 32,
                                "description": "Total number of transactions settling in this interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
[...]
