{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.72.0"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payout Exports",
      "description": "Create payout exports"
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-18T00:00:00+00:00",
                    "periodEnd": "2026-04-25T00:00:00+00:00",
                    "numPaymentsCreated": 3403,
                    "numPaymentsProcessed": 2649,
                    "numPaymentsIncomplete": 754,
                    "numPaymentsWithRefunds": 1294,
                    "numCardPresentPayments": 1379,
                    "numCardNotPresentPayments": -625,
                    "totalCapturedAmount": 3885206.25,
                    "totalRefundedAmount": 513069.52,
                    "totalNetCapturedAmount": 3372136.73,
                    "averageNetCapturedAmount": 2147.0871428571,
                    "minNetCapturedAmount": 13.37,
                    "maxNetCapturedAmount": 9838.8,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-18T00:00:00+00:00",
                        "intervalEnd": "2026-04-19T00:00:00+00:00",
                        "numPaymentsCreated": 162,
                        "numPaymentsProcessed": 128,
                        "numPaymentsIncomplete": 34,
                        "numPaymentsWithRefunds": 2,
                        "numCardPresentPayments": 36,
                        "numCardNotPresentPayments": -2,
                        "totalCapturedAmount": 977245.22,
                        "totalRefundedAmount": 117599.5,
                        "totalNetCapturedAmount": 859645.72,
                        "averageNetCapturedAmount": 6715.98,
                        "minNetCapturedAmount": 70.24,
                        "maxNetCapturedAmount": 5724.34
                      },
                      {
                        "intervalStart": "2026-04-19T00:00:00+00:00",
                        "intervalEnd": "2026-04-20T00:00:00+00:00",
                        "numPaymentsCreated": 186,
                        "numPaymentsProcessed": 174,
                        "numPaymentsIncomplete": 12,
                        "numPaymentsWithRefunds": 77,
                        "numCardPresentPayments": 6,
                        "numCardNotPresentPayments": 6,
                        "totalCapturedAmount": 821909.68,
                        "totalRefundedAmount": 21638.73,
                        "totalNetCapturedAmount": 800270.95,
                        "averageNetCapturedAmount": 4599.26,
                        "minNetCapturedAmount": 57.02,
                        "maxNetCapturedAmount": 7729.86
                      },
                      {
                        "intervalStart": "2026-04-20T00:00:00+00:00",
                        "intervalEnd": "2026-04-21T00:00:00+00:00",
                        "numPaymentsCreated": 479,
                        "numPaymentsProcessed": 402,
                        "numPaymentsIncomplete": 77,
                        "numPaymentsWithRefunds": 310,
                        "numCardPresentPayments": 311,
                        "numCardNotPresentPayments": -234,
                        "totalCapturedAmount": 102264.55,
                        "totalRefundedAmount": 27187.16,
                        "totalNetCapturedAmount": 75077.39,
                        "averageNetCapturedAmount": 186.76,
                        "minNetCapturedAmount": 86.97,
                        "maxNetCapturedAmount": 6608.69
                      },
                      {
                        "intervalStart": "2026-04-21T00:00:00+00:00",
                        "intervalEnd": "2026-04-22T00:00:00+00:00",
                        "numPaymentsCreated": 584,
                        "numPaymentsProcessed": 282,
                        "numPaymentsIncomplete": 302,
                        "numPaymentsWithRefunds": 72,
                        "numCardPresentPayments": 123,
                        "numCardNotPresentPayments": 179,
                        "totalCapturedAmount": 191349.96,
                        "totalRefundedAmount": 944.34,
                        "totalNetCapturedAmount": 190405.62,
                        "averageNetCapturedAmount": 675.2,
                        "minNetCapturedAmount": 13.37,
                        "maxNetCapturedAmount": 8162.87
                      },
                      {
                        "intervalStart": "2026-04-22T00:00:00+00:00",
                        "intervalEnd": "2026-04-23T00:00:00+00:00",
                        "numPaymentsCreated": 937,
                        "numPaymentsProcessed": 697,
                        "numPaymentsIncomplete": 240,
                        "numPaymentsWithRefunds": 523,
                        "numCardPresentPayments": 663,
                        "numCardNotPresentPayments": -423,
                        "totalCapturedAmount": 343172.54,
                        "totalRefundedAmount": 101189.69,
                        "totalNetCapturedAmount": 241982.85,
                        "averageNetCapturedAmount": 347.18,
                        "minNetCapturedAmount": 95.27,
                        "maxNetCapturedAmount": 2431.91
                      },
                      {
                        "intervalStart": "2026-04-23T00:00:00+00:00",
                        "intervalEnd": "2026-04-24T00:00:00+00:00",
                        "numPaymentsCreated": 515,
                        "numPaymentsProcessed": 459,
                        "numPaymentsIncomplete": 56,
                        "numPaymentsWithRefunds": 192,
                        "numCardPresentPayments": 223,
                        "numCardNotPresentPayments": -167,
                        "totalCapturedAmount": 736033.93,
                        "totalRefundedAmount": 110694.21,
                        "totalNetCapturedAmount": 625339.72,
                        "averageNetCapturedAmount": 1362.4,
                        "minNetCapturedAmount": 38.36,
                        "maxNetCapturedAmount": 9466.19
                      },
                      {
                        "intervalStart": "2026-04-24T00:00:00+00:00",
                        "intervalEnd": "2026-04-25T00:00:00+00:00",
                        "numPaymentsCreated": 540,
                        "numPaymentsProcessed": 507,
                        "numPaymentsIncomplete": 33,
                        "numPaymentsWithRefunds": 118,
                        "numCardPresentPayments": 17,
                        "numCardNotPresentPayments": 16,
                        "totalCapturedAmount": 713230.37,
                        "totalRefundedAmount": 133815.89,
                        "totalNetCapturedAmount": 579414.48,
                        "averageNetCapturedAmount": 1142.83,
                        "minNetCapturedAmount": 68.97,
                        "maxNetCapturedAmount": 9838.8
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-18T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-25T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 3403
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 2649
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 754
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 1294
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 1379
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": -625
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 3885206.25
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 513069.52
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 3372136.73
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 2147.0871428571
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 13.37
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 9838.8
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-18T00:00:00+00:00",
                          "intervalEnd": "2026-04-19T00:00:00+00:00",
                          "numPaymentsCreated": 162,
                          "numPaymentsProcessed": 128,
                          "numPaymentsIncomplete": 34,
                          "numPaymentsWithRefunds": 2,
                          "numCardPresentPayments": 36,
                          "numCardNotPresentPayments": -2,
                          "totalCapturedAmount": 977245.22,
                          "totalRefundedAmount": 117599.5,
                          "totalNetCapturedAmount": 859645.72,
                          "averageNetCapturedAmount": 6715.98,
                          "minNetCapturedAmount": 70.24,
                          "maxNetCapturedAmount": 5724.34
                        },
                        {
                          "intervalStart": "2026-04-19T00:00:00+00:00",
                          "intervalEnd": "2026-04-20T00:00:00+00:00",
                          "numPaymentsCreated": 186,
                          "numPaymentsProcessed": 174,
                          "numPaymentsIncomplete": 12,
                          "numPaymentsWithRefunds": 77,
                          "numCardPresentPayments": 6,
                          "numCardNotPresentPayments": 6,
                          "totalCapturedAmount": 821909.68,
                          "totalRefundedAmount": 21638.73,
                          "totalNetCapturedAmount": 800270.95,
                          "averageNetCapturedAmount": 4599.26,
                          "minNetCapturedAmount": 57.02,
                          "maxNetCapturedAmount": 7729.86
                        },
                        {
                          "intervalStart": "2026-04-20T00:00:00+00:00",
                          "intervalEnd": "2026-04-21T00:00:00+00:00",
                          "numPaymentsCreated": 479,
                          "numPaymentsProcessed": 402,
                          "numPaymentsIncomplete": 77,
                          "numPaymentsWithRefunds": 310,
                          "numCardPresentPayments": 311,
                          "numCardNotPresentPayments": -234,
                          "totalCapturedAmount": 102264.55,
                          "totalRefundedAmount": 27187.16,
                          "totalNetCapturedAmount": 75077.39,
                          "averageNetCapturedAmount": 186.76,
                          "minNetCapturedAmount": 86.97,
                          "maxNetCapturedAmount": 6608.69
                        },
                        {
                          "intervalStart": "2026-04-21T00:00:00+00:00",
                          "intervalEnd": "2026-04-22T00:00:00+00:00",
                          "numPaymentsCreated": 584,
                          "numPaymentsProcessed": 282,
                          "numPaymentsIncomplete": 302,
                          "numPaymentsWithRefunds": 72,
                          "numCardPresentPayments": 123,
                          "numCardNotPresentPayments": 179,
                          "totalCapturedAmount": 191349.96,
                          "totalRefundedAmount": 944.34,
                          "totalNetCapturedAmount": 190405.62,
                          "averageNetCapturedAmount": 675.2,
                          "minNetCapturedAmount": 13.37,
                          "maxNetCapturedAmount": 8162.87
                        },
                        {
                          "intervalStart": "2026-04-22T00:00:00+00:00",
                          "intervalEnd": "2026-04-23T00:00:00+00:00",
                          "numPaymentsCreated": 937,
                          "numPaymentsProcessed": 697,
                          "numPaymentsIncomplete": 240,
                          "numPaymentsWithRefunds": 523,
                          "numCardPresentPayments": 663,
                          "numCardNotPresentPayments": -423,
                          "totalCapturedAmount": 343172.54,
                          "totalRefundedAmount": 101189.69,
                          "totalNetCapturedAmount": 241982.85,
                          "averageNetCapturedAmount": 347.18,
                          "minNetCapturedAmount": 95.27,
                          "maxNetCapturedAmount": 2431.91
                        },
                        {
                          "intervalStart": "2026-04-23T00:00:00+00:00",
                          "intervalEnd": "2026-04-24T00:00:00+00:00",
                          "numPaymentsCreated": 515,
                          "numPaymentsProcessed": 459,
                          "numPaymentsIncomplete": 56,
                          "numPaymentsWithRefunds": 192,
                          "numCardPresentPayments": 223,
                          "numCardNotPresentPayments": -167,
                          "totalCapturedAmount": 736033.93,
                          "totalRefundedAmount": 110694.21,
                          "totalNetCapturedAmount": 625339.72,
                          "averageNetCapturedAmount": 1362.4,
                          "minNetCapturedAmount": 38.36,
                          "maxNetCapturedAmount": 9466.19
                        },
                        {
                          "intervalStart": "2026-04-24T00:00:00+00:00",
                          "intervalEnd": "2026-04-25T00:00:00+00:00",
                          "numPaymentsCreated": 540,
                          "numPaymentsProcessed": 507,
                          "numPaymentsIncomplete": 33,
                          "numPaymentsWithRefunds": 118,
                          "numCardPresentPayments": 17,
                          "numCardNotPresentPayments": 16,
                          "totalCapturedAmount": 713230.37,
                          "totalRefundedAmount": 133815.89,
                          "totalNetCapturedAmount": 579414.48,
                          "averageNetCapturedAmount": 1142.83,
                          "minNetCapturedAmount": 68.97,
                          "maxNetCapturedAmount": 9838.8
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-18T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-19T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 162
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 128
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 34
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 2
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 36
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": -2
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 977245.22
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 117599.5
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 859645.72
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 6715.98
                          },
                          "minNetCapturedAmount": {
                            "type": "number",
                            "example": 70.24
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 5724.34
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-18T00:00:00+00:00",
                    "periodEnd": "2026-04-25T00:00:00+00:00",
                    "activeCustomers": 209,
                    "newCustomers": 113,
                    "returningCustomers": 96,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-18T00:00:00+00:00",
                        "intervalEnd": "2026-04-19T00:00:00+00:00",
                        "activeCustomers": 46,
                        "newCustomers": 36,
                        "returningCustomers": 10
                      },
                      {
                        "intervalStart": "2026-04-19T00:00:00+00:00",
                        "intervalEnd": "2026-04-20T00:00:00+00:00",
                        "activeCustomers": 28,
                        "newCustomers": 8,
                        "returningCustomers": 20
                      },
                      {
                        "intervalStart": "2026-04-20T00:00:00+00:00",
                        "intervalEnd": "2026-04-21T00:00:00+00:00",
                        "activeCustomers": 27,
                        "newCustomers": 9,
                        "returningCustomers": 18
                      },
                      {
                        "intervalStart": "2026-04-21T00:00:00+00:00",
                        "intervalEnd": "2026-04-22T00:00:00+00:00",
                        "activeCustomers": 37,
                        "newCustomers": 19,
                        "returningCustomers": 18
                      },
                      {
                        "intervalStart": "2026-04-22T00:00:00+00:00",
                        "intervalEnd": "2026-04-23T00:00:00+00:00",
                        "activeCustomers": 24,
                        "newCustomers": 15,
                        "returningCustomers": 9
                      },
                      {
                        "intervalStart": "2026-04-23T00:00:00+00:00",
                        "intervalEnd": "2026-04-24T00:00:00+00:00",
                        "activeCustomers": 18,
                        "newCustomers": 15,
                        "returningCustomers": 3
                      },
                      {
                        "intervalStart": "2026-04-24T00:00:00+00:00",
                        "intervalEnd": "2026-04-25T00:00:00+00:00",
                        "activeCustomers": 98,
                        "newCustomers": 11,
                        "returningCustomers": 87
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-18T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-25T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 209
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 113
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": 96
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-18T00:00:00+00:00",
                          "intervalEnd": "2026-04-19T00:00:00+00:00",
                          "activeCustomers": 46,
                          "newCustomers": 36,
                          "returningCustomers": 10
                        },
                        {
                          "intervalStart": "2026-04-19T00:00:00+00:00",
                          "intervalEnd": "2026-04-20T00:00:00+00:00",
                          "activeCustomers": 28,
                          "newCustomers": 8,
                          "returningCustomers": 20
                        },
                        {
                          "intervalStart": "2026-04-20T00:00:00+00:00",
                          "intervalEnd": "2026-04-21T00:00:00+00:00",
                          "activeCustomers": 27,
                          "newCustomers": 9,
                          "returningCustomers": 18
                        },
                        {
                          "intervalStart": "2026-04-21T00:00:00+00:00",
                          "intervalEnd": "2026-04-22T00:00:00+00:00",
                          "activeCustomers": 37,
                          "newCustomers": 19,
                          "returningCustomers": 18
                        },
                        {
                          "intervalStart": "2026-04-22T00:00:00+00:00",
                          "intervalEnd": "2026-04-23T00:00:00+00:00",
                          "activeCustomers": 24,
                          "newCustomers": 15,
                          "returningCustomers": 9
                        },
                        {
                          "intervalStart": "2026-04-23T00:00:00+00:00",
                          "intervalEnd": "2026-04-24T00:00:00+00:00",
                          "activeCustomers": 18,
                          "newCustomers": 15,
                          "returningCustomers": 3
                        },
                        {
                          "intervalStart": "2026-04-24T00:00:00+00:00",
                          "intervalEnd": "2026-04-25T00:00:00+00:00",
                          "activeCustomers": 98,
                          "newCustomers": 11,
                          "returningCustomers": 87
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-18T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-19T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 46
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 36
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 10
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-18T00:00:00+00:00",
                    "periodEnd": "2026-04-25T00:00:00+00:00",
                    "totalTransactions": 4516,
                    "authorizeTransactions": 327,
                    "captureTransactions": 357,
                    "payTransactions": 2270,
                    "refundTransactions": 764,
                    "verifyTransactions": 331,
                    "voidTransactions": 467,
                    "successfulTransactions": 4062,
                    "failedTransactions": 318,
                    "declinedTransactions": 101,
                    "pendingTransactions": 35,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-18T00:00:00+00:00",
                        "intervalEnd": "2026-04-19T00:00:00+00:00",
                        "totalTransactions": 806,
                        "authorizeTransactions": 54,
                        "captureTransactions": 55,
                        "payTransactions": 602,
                        "refundTransactions": 86,
                        "verifyTransactions": 5,
                        "voidTransactions": 4,
                        "successfulTransactions": 725,
                        "failedTransactions": 62,
                        "declinedTransactions": 14,
                        "pendingTransactions": 5,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-19T00:00:00+00:00",
                        "intervalEnd": "2026-04-20T00:00:00+00:00",
                        "totalTransactions": 438,
                        "authorizeTransactions": 12,
                        "captureTransactions": 21,
                        "payTransactions": 80,
                        "refundTransactions": 146,
                        "verifyTransactions": 50,
                        "voidTransactions": 129,
                        "successfulTransactions": 394,
                        "failedTransactions": 39,
                        "declinedTransactions": 2,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-20T00:00:00+00:00",
                        "intervalEnd": "2026-04-21T00:00:00+00:00",
                        "totalTransactions": 677,
                        "authorizeTransactions": 18,
                        "captureTransactions": 24,
                        "payTransactions": 552,
                        "refundTransactions": 77,
                        "verifyTransactions": 5,
                        "voidTransactions": 1,
                        "successfulTransactions": 609,
                        "failedTransactions": 45,
                        "declinedTransactions": 18,
                        "pendingTransactions": 5,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-21T00:00:00+00:00",
                        "intervalEnd": "2026-04-22T00:00:00+00:00",
                        "totalTransactions": 254,
                        "authorizeTransactions": 24,
                        "captureTransactions": 29,
                        "payTransactions": 47,
                        "refundTransactions": 37,
                        "verifyTransactions": 63,
                        "voidTransactions": 54,
                        "successfulTransactions": 228,
                        "failedTransactions": 23,
                        "declinedTransactions": 1,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-22T00:00:00+00:00",
                        "intervalEnd": "2026-04-23T00:00:00+00:00",
                        "totalTransactions": 746,
                        "authorizeTransactions": 68,
                        "captureTransactions": 74,
                        "payTransactions": 264,
                        "refundTransactions": 185,
                        "verifyTransactions": 123,
                        "voidTransactions": 32,
                        "successfulTransactions": 671,
                        "failedTransactions": 60,
                        "declinedTransactions": 8,
                        "pendingTransactions": 7,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-23T00:00:00+00:00",
                        "intervalEnd": "2026-04-24T00:00:00+00:00",
                        "totalTransactions": 719,
                        "authorizeTransactions": 75,
                        "captureTransactions": 77,
                        "payTransactions": 424,
                        "refundTransactions": 15,
                        "verifyTransactions": 8,
                        "voidTransactions": 120,
                        "successfulTransactions": 647,
                        "failedTransactions": 37,
                        "declinedTransactions": 29,
                        "pendingTransactions": 6,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-24T00:00:00+00:00",
                        "intervalEnd": "2026-04-25T00:00:00+00:00",
                        "totalTransactions": 876,
                        "authorizeTransactions": 76,
                        "captureTransactions": 77,
                        "payTransactions": 301,
                        "refundTransactions": 218,
                        "verifyTransactions": 77,
                        "voidTransactions": 127,
                        "successfulTransactions": 788,
                        "failedTransactions": 52,
                        "declinedTransactions": 29,
                        "pendingTransactions": 7,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-18T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-25T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 4516
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 327
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 357
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 2270
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 764
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 331
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 467
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 4062
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 318
                    },
                    "declinedTransactions": {
                      "type": "integer",
                      "example": 101
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 35
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-18T00:00:00+00:00",
                          "intervalEnd": "2026-04-19T00:00:00+00:00",
                          "totalTransactions": 806,
                          "authorizeTransactions": 54,
                          "captureTransactions": 55,
                          "payTransactions": 602,
                          "refundTransactions": 86,
                          "verifyTransactions": 5,
                          "voidTransactions": 4,
                          "successfulTransactions": 725,
                          "failedTransactions": 62,
                          "declinedTransactions": 14,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-19T00:00:00+00:00",
                          "intervalEnd": "2026-04-20T00:00:00+00:00",
                          "totalTransactions": 438,
                          "authorizeTransactions": 12,
                          "captureTransactions": 21,
                          "payTransactions": 80,
                          "refundTransactions": 146,
                          "verifyTransactions": 50,
                          "voidTransactions": 129,
                          "successfulTransactions": 394,
                          "failedTransactions": 39,
                          "declinedTransactions": 2,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-20T00:00:00+00:00",
                          "intervalEnd": "2026-04-21T00:00:00+00:00",
                          "totalTransactions": 677,
                          "authorizeTransactions": 18,
                          "captureTransactions": 24,
                          "payTransactions": 552,
                          "refundTransactions": 77,
                          "verifyTransactions": 5,
                          "voidTransactions": 1,
                          "successfulTransactions": 609,
                          "failedTransactions": 45,
                          "declinedTransactions": 18,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-21T00:00:00+00:00",
                          "intervalEnd": "2026-04-22T00:00:00+00:00",
                          "totalTransactions": 254,
                          "authorizeTransactions": 24,
                          "captureTransactions": 29,
                          "payTransactions": 47,
                          "refundTransactions": 37,
                          "verifyTransactions": 63,
                          "voidTransactions": 54,
                          "successfulTransactions": 228,
                          "failedTransactions": 23,
                          "declinedTransactions": 1,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-22T00:00:00+00:00",
                          "intervalEnd": "2026-04-23T00:00:00+00:00",
                          "totalTransactions": 746,
                          "authorizeTransactions": 68,
                          "captureTransactions": 74,
                          "payTransactions": 264,
                          "refundTransactions": 185,
                          "verifyTransactions": 123,
                          "voidTransactions": 32,
                          "successfulTransactions": 671,
                          "failedTransactions": 60,
                          "declinedTransactions": 8,
                          "pendingTransactions": 7,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-23T00:00:00+00:00",
                          "intervalEnd": "2026-04-24T00:00:00+00:00",
                          "totalTransactions": 719,
                          "authorizeTransactions": 75,
                          "captureTransactions": 77,
                          "payTransactions": 424,
                          "refundTransactions": 15,
                          "verifyTransactions": 8,
                          "voidTransactions": 120,
                          "successfulTransactions": 647,
                          "failedTransactions": 37,
                          "declinedTransactions": 29,
                          "pendingTransactions": 6,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-24T00:00:00+00:00",
                          "intervalEnd": "2026-04-25T00:00:00+00:00",
                          "totalTransactions": 876,
                          "authorizeTransactions": 76,
                          "captureTransactions": 77,
                          "payTransactions": 301,
                          "refundTransactions": 218,
                          "verifyTransactions": 77,
                          "voidTransactions": 127,
                          "successfulTransactions": 788,
                          "failedTransactions": 52,
                          "declinedTransactions": 29,
                          "pendingTransactions": 7,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-18T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-19T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 806
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 54
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 55
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 602
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 86
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 5
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": 4
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 725
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 62
                          },
                          "declinedTransactions": {
                            "type": "integer",
                            "example": 14
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 5
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-18T00:00:00+00:00",
                    "periodEnd": "2026-04-25T00:00:00+00:00",
                    "totalSettlementAmount": 38848.25,
                    "totalFeeAmount": 1903.56425,
                    "totalNetAmount": 36944.68575,
                    "totalTransactionsPending": 147,
                    "totalTransactionsSettled": 869,
                    "totalTransactionsSettling": 1165,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-18T00:00:00+00:00",
                        "intervalEnd": "2026-04-19T00:00:00+00:00",
                        "totalSettlementAmount": 9413.87,
                        "totalFeeAmount": 461.27963,
                        "totalNetAmount": 8952.59037,
                        "totalTransactionsPending": 37,
                        "totalTransactionsSettled": 135,
                        "totalTransactionsSettling": 96
                      },
                      {
                        "intervalStart": "2026-04-19T00:00:00+00:00",
                        "intervalEnd": "2026-04-20T00:00:00+00:00",
                        "totalSettlementAmount": 2833.05,
                        "totalFeeAmount": 138.81945,
                        "totalNetAmount": 2694.23055,
                        "totalTransactionsPending": 29,
                        "totalTransactionsSettled": 50,
                        "totalTransactionsSettling": 47
                      },
                      {
                        "intervalStart": "2026-04-20T00:00:00+00:00",
                        "intervalEnd": "2026-04-21T00:00:00+00:00",
                        "totalSettlementAmount": 1298.29,
                        "totalFeeAmount": 63.61621,
                        "totalNetAmount": 1234.67379,
                        "totalTransactionsPending": 11,
                        "totalTransactionsSettled": 70,
                        "totalTransactionsSettling": 259
                      },
                      {
                        "intervalStart": "2026-04-21T00:00:00+00:00",
                        "intervalEnd": "2026-04-22T00:00:00+00:00",
                        "totalSettlementAmount": 8196.7,
                        "totalFeeAmount": 401.6383,
                        "totalNetAmount": 7795.0617,
                        "totalTransactionsPending": 24,
                        "totalTransactionsSettled": 37,
                        "totalTransactionsSettling": 396
                      },
                      {
                        "intervalStart": "2026-04-22T00:00:00+00:00",
                        "intervalEnd": "2026-04-23T00:00:00+00:00",
                        "totalSettlementAmount": 4438.18,
                        "totalFeeAmount": 217.47082,
                        "totalNetAmount": 4220.70918,
                        "totalTransactionsPending": 16,
                        "totalTransactionsSettled": 65,
                        "totalTransactionsSettling": 57
                      },
                      {
                        "intervalStart": "2026-04-23T00:00:00+00:00",
                        "intervalEnd": "2026-04-24T00:00:00+00:00",
                        "totalSettlementAmount": 5324.52,
                        "totalFeeAmount": 260.90148,
                        "totalNetAmount": 5063.61852,
                        "totalTransactionsPending": 19,
                        "totalTransactionsSettled": 161,
                        "totalTransactionsSettling": 197
                      },
                      {
                        "intervalStart": "2026-04-24T00:00:00+00:00",
                        "intervalEnd": "2026-04-25T00:00:00+00:00",
                        "totalSettlementAmount": 7343.64,
                        "totalFeeAmount": 359.83836,
                        "totalNetAmount": 6983.80164,
                        "totalTransactionsPending": 11,
                        "totalTransactionsSettled": 351,
                        "totalTransactionsSettling": 113
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-18T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-25T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 38848.25
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 1903.56425
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 36944.68575
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 147
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 869
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 1165
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-18T00:00:00+00:00",
                          "intervalEnd": "2026-04-19T00:00:00+00:00",
                          "totalSettlementAmount": 9413.87,
                          "totalFeeAmount": 461.27963,
                          "totalNetAmount": 8952.59037,
                          "totalTransactionsPending": 37,
                          "totalTransactionsSettled": 135,
                          "totalTransactionsSettling": 96
                        },
                        {
                          "intervalStart": "2026-04-19T00:00:00+00:00",
                          "intervalEnd": "2026-04-20T00:00:00+00:00",
                          "totalSettlementAmount": 2833.05,
                          "totalFeeAmount": 138.81945,
                          "totalNetAmount": 2694.23055,
                          "totalTransactionsPending": 29,
                          "totalTransactionsSettled": 50,
                          "totalTransactionsSettling": 47
                        },
                        {
                          "intervalStart": "2026-04-20T00:00:00+00:00",
                          "intervalEnd": "2026-04-21T00:00:00+00:00",
                          "totalSettlementAmount": 1298.29,
                          "totalFeeAmount": 63.61621,
                          "totalNetAmount": 1234.67379,
                          "totalTransactionsPending": 11,
                          "totalTransactionsSettled": 70,
                          "totalTransactionsSettling": 259
                        },
                        {
                          "intervalStart": "2026-04-21T00:00:00+00:00",
                          "intervalEnd": "2026-04-22T00:00:00+00:00",
                          "totalSettlementAmount": 8196.7,
                          "totalFeeAmount": 401.6383,
                          "totalNetAmount": 7795.0617,
                          "totalTransactionsPending": 24,
                          "totalTransactionsSettled": 37,
                          "totalTransactionsSettling": 396
                        },
                        {
                          "intervalStart": "2026-04-22T00:00:00+00:00",
                          "intervalEnd": "2026-04-23T00:00:00+00:00",
                          "totalSettlementAmount": 4438.18,
                          "totalFeeAmount": 217.47082,
                          "totalNetAmount": 4220.70918,
                          "totalTransactionsPending": 16,
                          "totalTransactionsSettled": 65,
                          "totalTransactionsSettling": 57
                        },
                        {
                          "intervalStart": "2026-04-23T00:00:00+00:00",
                          "intervalEnd": "2026-04-24T00:00:00+00:00",
                          "totalSettlementAmount": 5324.52,
                          "totalFeeAmount": 260.90148,
                          "totalNetAmount": 5063.61852,
                          "totalTransactionsPending": 19,
                          "totalTransactionsSettled": 161,
                          "totalTransactionsSettling": 197
                        },
                        {
                          "intervalStart": "2026-04-24T00:00:00+00:00",
                          "intervalEnd": "2026-04-25T00:00:00+00:00",
                          "totalSettlementAmount": 7343.64,
                          "totalFeeAmount": 359.83836,
                          "totalNetAmount": 6983.80164,
                          "totalTransactionsPending": 11,
                          "totalTransactionsSettled": 351,
                          "totalTransactionsSettling": 113
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-18T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-19T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 9413.87
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 461.27963
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 8952.59037
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 37
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 135
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 96
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 3,
                    "data": [
                      {
                        "email": "cortney43@hotmail.com",
                        "firstName": "Piper",
                        "lastName": "Skiles",
                        "phone": "+14799301571",
                        "dateOfBirth": "1979-05-13"
                      },
                      {
                        "email": "torp.alfred@gmail.com",
                        "firstName": "Kennedi",
                        "lastName": "Becker",
                        "phone": "+14016318307",
                        "dateOfBirth": "2006-05-06"
                      },
                      {
                        "email": "bechtelar.louisa@kuhic.com",
                        "firstName": "Barrett",
                        "lastName": "Langworth",
                        "phone": "+16678249812",
                        "dateOfBirth": "1994-05-09"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 3,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "cortney43@hotmail.com",
                          "firstName": "Piper",
                          "lastName": "Skiles",
                          "phone": "+14799301571",
                          "dateOfBirth": "1979-05-13"
                        },
                        {
                          "email": "torp.alfred@gmail.com",
                          "firstName": "Kennedi",
                          "lastName": "Becker",
                          "phone": "+14016318307",
                          "dateOfBirth": "2006-05-06"
                        },
                        {
                          "email": "bechtelar.louisa@kuhic.com",
                          "firstName": "Barrett",
                          "lastName": "Langworth",
                          "phone": "+16678249812",
                          "dateOfBirth": "1994-05-09"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "cortney43@hotmail.com"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Piper"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Skiles"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+14799301571"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "1979-05-13"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customer/{customerIdOrEmail}": {
      "get": {
        "summary": "Get Customer",
        "operationId": "getCustomer",
        "description": "Returns a single customer by their ID, UUID, or email address.",
        "parameters": [
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date fields. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix) and abbreviations (e.g., MST).",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date fields. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix) and abbreviations (e.g., MST).",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The customer with their addresses and pay tokens",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "email": "schneider.ervin@luettgen.biz"
                  },
                  "properties": {
                    "email": {
                      "type": "string",
                      "example": "schneider.ervin@luettgen.biz"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "post": {
        "summary": "Update or Create Customer",
        "operationId": "updateOrCreateCustomer",
        "description": "Creates a customer if they do not exist, or updates an existing one.\nSupports setting `defaultPayToken` (by token value) and `defaultAddress` (by address UUID).",
        "parameters": [
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The upserted customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "email": "feeney.lane@gmail.com"
                  },
                  "properties": {
                    "email": {
                      "type": "string",
                      "example": "feeney.lane@gmail.com"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "path",
          "name": "customerIdOrEmail",
          "description": "The customer ID, UUID, or email address",
          "example": "customer_123",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers/{customerIdOrEmail}/addresses": {
      "get": {
        "summary": "List Customer Billing Addresses",
        "operationId": "listCustomerBillingAddresses",
        "description": "Returns all unique billing addresses that have been used by a customer across their payments.\nAddresses are deduplicated using case-insensitive and whitespace-insensitive comparison.",
        "parameters": [
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
            "example": "-city",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
              "example": "-city",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of unique billing addresses for the customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "company": "Toy-Balistreri",
                        "street": "709 Klocko Parkways",
                        "city": "Deondrefort",
                        "stateProvince": "IN",
                        "postcodeZip": "64862",
                        "country": "USA"
                      },
                      {
                        "company": "Boehm-Pfannerstill",
                        "street": "1463 Meaghan Center Apt. 752",
                        "city": "Zellaville",
                        "stateProvince": "DC",
                        "postcodeZip": "94902",
                        "country": "USA"
                      },
                      {
                        "company": "Jerde, Gaylord and Rohan",
                        "street": "2911 McKenzie Roads",
                        "city": "Port Deonte",
                        "stateProvince": "PA",
                        "postcodeZip": "73024",
                        "country": "USA"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "company": "Toy-Balistreri",
                          "street": "709 Klocko Parkways",
                          "city": "Deondrefort",
                          "stateProvince": "IN",
                          "postcodeZip": "64862",
                          "country": "USA"
                        },
                        {
                          "company": "Boehm-Pfannerstill",
                          "street": "1463 Meaghan Center Apt. 752",
                          "city": "Zellaville",
                          "stateProvince": "DC",
                          "postcodeZip": "94902",
                          "country": "USA"
                        },
                        {
                          "company": "Jerde, Gaylord and Rohan",
                          "street": "2911 McKenzie Roads",
                          "city": "Port Deonte",
                          "stateProvince": "PA",
                          "postcodeZip": "73024",
                          "country": "USA"
                        }
                      ],
                      "description": "The data returned from the request",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "company": {
                            "type": "string",
                            "example": "Toy-Balistreri"
                          },
                          "street": {
                            "type": "string",
                            "example": "709 Klocko Parkways"
                          },
                          "city": {
                            "type": "string",
                            "example": "Deondrefort"
                          },
[...]
