{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.59.0"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payout Exports",
      "description": "Create payout exports"
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-24T00:00:00+00:00",
                    "periodEnd": "2026-03-31T00:00:00+00:00",
                    "numPaymentsCreated": 4089,
                    "numPaymentsProcessed": 2263,
                    "numPaymentsIncomplete": 1826,
                    "numPaymentsWithRefunds": 891,
                    "numCardPresentPayments": 1202,
                    "numCardNotPresentPayments": 624,
                    "totalCapturedAmount": 2292142.51,
                    "totalRefundedAmount": 482984.41,
                    "totalNetCapturedAmount": 1809158.1,
                    "averageNetCapturedAmount": 1113.8857142857,
                    "minNetCapturedAmount": 26.1,
                    "maxNetCapturedAmount": 9248.47,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-24T00:00:00+00:00",
                        "intervalEnd": "2026-03-25T00:00:00+00:00",
                        "numPaymentsCreated": 551,
                        "numPaymentsProcessed": 385,
                        "numPaymentsIncomplete": 166,
                        "numPaymentsWithRefunds": 30,
                        "numCardPresentPayments": 144,
                        "numCardNotPresentPayments": 22,
                        "totalCapturedAmount": 192988.14,
                        "totalRefundedAmount": 46007.17,
                        "totalNetCapturedAmount": 146980.97,
                        "averageNetCapturedAmount": 381.77,
                        "minNetCapturedAmount": 39.87,
                        "maxNetCapturedAmount": 4379.81
                      },
                      {
                        "intervalStart": "2026-03-25T00:00:00+00:00",
                        "intervalEnd": "2026-03-26T00:00:00+00:00",
                        "numPaymentsCreated": 666,
                        "numPaymentsProcessed": 421,
                        "numPaymentsIncomplete": 245,
                        "numPaymentsWithRefunds": 332,
                        "numCardPresentPayments": 144,
                        "numCardNotPresentPayments": 101,
                        "totalCapturedAmount": 754536.42,
                        "totalRefundedAmount": 210698.52,
                        "totalNetCapturedAmount": 543837.9,
                        "averageNetCapturedAmount": 1291.78,
                        "minNetCapturedAmount": 26.1,
                        "maxNetCapturedAmount": 3534.3
                      },
                      {
                        "intervalStart": "2026-03-26T00:00:00+00:00",
                        "intervalEnd": "2026-03-27T00:00:00+00:00",
                        "numPaymentsCreated": 743,
                        "numPaymentsProcessed": 270,
                        "numPaymentsIncomplete": 473,
                        "numPaymentsWithRefunds": 58,
                        "numCardPresentPayments": 36,
                        "numCardNotPresentPayments": 437,
                        "totalCapturedAmount": 219205.55,
                        "totalRefundedAmount": 19120.5,
                        "totalNetCapturedAmount": 200085.05,
                        "averageNetCapturedAmount": 741.06,
                        "minNetCapturedAmount": 29.46,
                        "maxNetCapturedAmount": 8738.45
                      },
                      {
                        "intervalStart": "2026-03-27T00:00:00+00:00",
                        "intervalEnd": "2026-03-28T00:00:00+00:00",
                        "numPaymentsCreated": 923,
                        "numPaymentsProcessed": 515,
                        "numPaymentsIncomplete": 408,
                        "numPaymentsWithRefunds": 117,
                        "numCardPresentPayments": 479,
                        "numCardNotPresentPayments": -71,
                        "totalCapturedAmount": 66183.78,
                        "totalRefundedAmount": 7522,
                        "totalNetCapturedAmount": 58661.78,
                        "averageNetCapturedAmount": 113.91,
                        "minNetCapturedAmount": 91.19,
                        "maxNetCapturedAmount": 9248.47
                      },
                      {
                        "intervalStart": "2026-03-28T00:00:00+00:00",
                        "intervalEnd": "2026-03-29T00:00:00+00:00",
                        "numPaymentsCreated": 312,
                        "numPaymentsProcessed": 257,
                        "numPaymentsIncomplete": 55,
                        "numPaymentsWithRefunds": 152,
                        "numCardPresentPayments": 185,
                        "numCardNotPresentPayments": -130,
                        "totalCapturedAmount": 58607.37,
                        "totalRefundedAmount": 7725.53,
                        "totalNetCapturedAmount": 50881.84,
                        "averageNetCapturedAmount": 197.98,
                        "minNetCapturedAmount": 61.01,
                        "maxNetCapturedAmount": 1708.74
                      },
                      {
                        "intervalStart": "2026-03-29T00:00:00+00:00",
                        "intervalEnd": "2026-03-30T00:00:00+00:00",
                        "numPaymentsCreated": 294,
                        "numPaymentsProcessed": 277,
                        "numPaymentsIncomplete": 17,
                        "numPaymentsWithRefunds": 85,
                        "numCardPresentPayments": 116,
                        "numCardNotPresentPayments": -99,
                        "totalCapturedAmount": 278177.36,
                        "totalRefundedAmount": 61053.06,
                        "totalNetCapturedAmount": 217124.3,
                        "averageNetCapturedAmount": 783.84,
                        "minNetCapturedAmount": 99.42,
                        "maxNetCapturedAmount": 7273.59
                      },
                      {
                        "intervalStart": "2026-03-30T00:00:00+00:00",
                        "intervalEnd": "2026-03-31T00:00:00+00:00",
                        "numPaymentsCreated": 600,
                        "numPaymentsProcessed": 138,
                        "numPaymentsIncomplete": 462,
                        "numPaymentsWithRefunds": 117,
                        "numCardPresentPayments": 98,
                        "numCardNotPresentPayments": 364,
                        "totalCapturedAmount": 722443.89,
                        "totalRefundedAmount": 130857.63,
                        "totalNetCapturedAmount": 591586.26,
                        "averageNetCapturedAmount": 4286.86,
                        "minNetCapturedAmount": 36.04,
                        "maxNetCapturedAmount": 5903.63
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-24T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-31T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 4089
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 2263
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 1826
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 891
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 1202
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": 624
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 2292142.51
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 482984.41
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 1809158.1
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 1113.8857142857
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 26.1
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 9248.47
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-24T00:00:00+00:00",
                          "intervalEnd": "2026-03-25T00:00:00+00:00",
                          "numPaymentsCreated": 551,
                          "numPaymentsProcessed": 385,
                          "numPaymentsIncomplete": 166,
                          "numPaymentsWithRefunds": 30,
                          "numCardPresentPayments": 144,
                          "numCardNotPresentPayments": 22,
                          "totalCapturedAmount": 192988.14,
                          "totalRefundedAmount": 46007.17,
                          "totalNetCapturedAmount": 146980.97,
                          "averageNetCapturedAmount": 381.77,
                          "minNetCapturedAmount": 39.87,
                          "maxNetCapturedAmount": 4379.81
                        },
                        {
                          "intervalStart": "2026-03-25T00:00:00+00:00",
                          "intervalEnd": "2026-03-26T00:00:00+00:00",
                          "numPaymentsCreated": 666,
                          "numPaymentsProcessed": 421,
                          "numPaymentsIncomplete": 245,
                          "numPaymentsWithRefunds": 332,
                          "numCardPresentPayments": 144,
                          "numCardNotPresentPayments": 101,
                          "totalCapturedAmount": 754536.42,
                          "totalRefundedAmount": 210698.52,
                          "totalNetCapturedAmount": 543837.9,
                          "averageNetCapturedAmount": 1291.78,
                          "minNetCapturedAmount": 26.1,
                          "maxNetCapturedAmount": 3534.3
                        },
                        {
                          "intervalStart": "2026-03-26T00:00:00+00:00",
                          "intervalEnd": "2026-03-27T00:00:00+00:00",
                          "numPaymentsCreated": 743,
                          "numPaymentsProcessed": 270,
                          "numPaymentsIncomplete": 473,
                          "numPaymentsWithRefunds": 58,
                          "numCardPresentPayments": 36,
                          "numCardNotPresentPayments": 437,
                          "totalCapturedAmount": 219205.55,
                          "totalRefundedAmount": 19120.5,
                          "totalNetCapturedAmount": 200085.05,
                          "averageNetCapturedAmount": 741.06,
                          "minNetCapturedAmount": 29.46,
                          "maxNetCapturedAmount": 8738.45
                        },
                        {
                          "intervalStart": "2026-03-27T00:00:00+00:00",
                          "intervalEnd": "2026-03-28T00:00:00+00:00",
                          "numPaymentsCreated": 923,
                          "numPaymentsProcessed": 515,
                          "numPaymentsIncomplete": 408,
                          "numPaymentsWithRefunds": 117,
                          "numCardPresentPayments": 479,
                          "numCardNotPresentPayments": -71,
                          "totalCapturedAmount": 66183.78,
                          "totalRefundedAmount": 7522,
                          "totalNetCapturedAmount": 58661.78,
                          "averageNetCapturedAmount": 113.91,
                          "minNetCapturedAmount": 91.19,
                          "maxNetCapturedAmount": 9248.47
                        },
                        {
                          "intervalStart": "2026-03-28T00:00:00+00:00",
                          "intervalEnd": "2026-03-29T00:00:00+00:00",
                          "numPaymentsCreated": 312,
                          "numPaymentsProcessed": 257,
                          "numPaymentsIncomplete": 55,
                          "numPaymentsWithRefunds": 152,
                          "numCardPresentPayments": 185,
                          "numCardNotPresentPayments": -130,
                          "totalCapturedAmount": 58607.37,
                          "totalRefundedAmount": 7725.53,
                          "totalNetCapturedAmount": 50881.84,
                          "averageNetCapturedAmount": 197.98,
                          "minNetCapturedAmount": 61.01,
                          "maxNetCapturedAmount": 1708.74
                        },
                        {
                          "intervalStart": "2026-03-29T00:00:00+00:00",
                          "intervalEnd": "2026-03-30T00:00:00+00:00",
                          "numPaymentsCreated": 294,
                          "numPaymentsProcessed": 277,
                          "numPaymentsIncomplete": 17,
                          "numPaymentsWithRefunds": 85,
                          "numCardPresentPayments": 116,
                          "numCardNotPresentPayments": -99,
                          "totalCapturedAmount": 278177.36,
                          "totalRefundedAmount": 61053.06,
                          "totalNetCapturedAmount": 217124.3,
                          "averageNetCapturedAmount": 783.84,
                          "minNetCapturedAmount": 99.42,
                          "maxNetCapturedAmount": 7273.59
                        },
                        {
                          "intervalStart": "2026-03-30T00:00:00+00:00",
                          "intervalEnd": "2026-03-31T00:00:00+00:00",
                          "numPaymentsCreated": 600,
                          "numPaymentsProcessed": 138,
                          "numPaymentsIncomplete": 462,
                          "numPaymentsWithRefunds": 117,
                          "numCardPresentPayments": 98,
                          "numCardNotPresentPayments": 364,
                          "totalCapturedAmount": 722443.89,
                          "totalRefundedAmount": 130857.63,
                          "totalNetCapturedAmount": 591586.26,
                          "averageNetCapturedAmount": 4286.86,
                          "minNetCapturedAmount": 36.04,
                          "maxNetCapturedAmount": 5903.63
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-24T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-25T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 551
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 385
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 166
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 30
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 144
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": 22
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 192988.14
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 46007.17
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 146980.97
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 381.77
                          },
                          "minNetCapturedAmount": {
                            "type": "number",
                            "example": 39.87
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 4379.81
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-24T00:00:00+00:00",
                    "periodEnd": "2026-03-31T00:00:00+00:00",
                    "activeCustomers": 357,
                    "newCustomers": 218,
                    "returningCustomers": 139,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-24T00:00:00+00:00",
                        "intervalEnd": "2026-03-25T00:00:00+00:00",
                        "activeCustomers": 46,
                        "newCustomers": 19,
                        "returningCustomers": 27
                      },
                      {
                        "intervalStart": "2026-03-25T00:00:00+00:00",
                        "intervalEnd": "2026-03-26T00:00:00+00:00",
                        "activeCustomers": 54,
                        "newCustomers": 15,
                        "returningCustomers": 39
                      },
                      {
                        "intervalStart": "2026-03-26T00:00:00+00:00",
                        "intervalEnd": "2026-03-27T00:00:00+00:00",
                        "activeCustomers": 46,
                        "newCustomers": 39,
                        "returningCustomers": 7
                      },
                      {
                        "intervalStart": "2026-03-27T00:00:00+00:00",
                        "intervalEnd": "2026-03-28T00:00:00+00:00",
                        "activeCustomers": 55,
                        "newCustomers": 51,
                        "returningCustomers": 4
                      },
                      {
                        "intervalStart": "2026-03-28T00:00:00+00:00",
                        "intervalEnd": "2026-03-29T00:00:00+00:00",
                        "activeCustomers": 28,
                        "newCustomers": 5,
                        "returningCustomers": 23
                      },
                      {
                        "intervalStart": "2026-03-29T00:00:00+00:00",
                        "intervalEnd": "2026-03-30T00:00:00+00:00",
                        "activeCustomers": 93,
                        "newCustomers": 47,
                        "returningCustomers": 46
                      },
                      {
                        "intervalStart": "2026-03-30T00:00:00+00:00",
                        "intervalEnd": "2026-03-31T00:00:00+00:00",
                        "activeCustomers": 54,
                        "newCustomers": 42,
                        "returningCustomers": 12
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-24T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-31T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 357
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 218
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": 139
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-24T00:00:00+00:00",
                          "intervalEnd": "2026-03-25T00:00:00+00:00",
                          "activeCustomers": 46,
                          "newCustomers": 19,
                          "returningCustomers": 27
                        },
                        {
                          "intervalStart": "2026-03-25T00:00:00+00:00",
                          "intervalEnd": "2026-03-26T00:00:00+00:00",
                          "activeCustomers": 54,
                          "newCustomers": 15,
                          "returningCustomers": 39
                        },
                        {
                          "intervalStart": "2026-03-26T00:00:00+00:00",
                          "intervalEnd": "2026-03-27T00:00:00+00:00",
                          "activeCustomers": 46,
                          "newCustomers": 39,
                          "returningCustomers": 7
                        },
                        {
                          "intervalStart": "2026-03-27T00:00:00+00:00",
                          "intervalEnd": "2026-03-28T00:00:00+00:00",
                          "activeCustomers": 55,
                          "newCustomers": 51,
                          "returningCustomers": 4
                        },
                        {
                          "intervalStart": "2026-03-28T00:00:00+00:00",
                          "intervalEnd": "2026-03-29T00:00:00+00:00",
                          "activeCustomers": 28,
                          "newCustomers": 5,
                          "returningCustomers": 23
                        },
                        {
                          "intervalStart": "2026-03-29T00:00:00+00:00",
                          "intervalEnd": "2026-03-30T00:00:00+00:00",
                          "activeCustomers": 93,
                          "newCustomers": 47,
                          "returningCustomers": 46
                        },
                        {
                          "intervalStart": "2026-03-30T00:00:00+00:00",
                          "intervalEnd": "2026-03-31T00:00:00+00:00",
                          "activeCustomers": 54,
                          "newCustomers": 42,
                          "returningCustomers": 12
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-24T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-25T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 46
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 19
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 27
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-24T00:00:00+00:00",
                    "periodEnd": "2026-03-31T00:00:00+00:00",
                    "totalTransactions": 4787,
                    "authorizeTransactions": 326,
                    "captureTransactions": 367,
                    "payTransactions": 2841,
                    "refundTransactions": 720,
                    "verifyTransactions": 328,
                    "voidTransactions": 205,
                    "successfulTransactions": 4305,
                    "failedTransactions": 288,
                    "declinedTransactions": 167,
                    "pendingTransactions": 27,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-24T00:00:00+00:00",
                        "intervalEnd": "2026-03-25T00:00:00+00:00",
                        "totalTransactions": 700,
                        "authorizeTransactions": 42,
                        "captureTransactions": 43,
                        "payTransactions": 349,
                        "refundTransactions": 261,
                        "verifyTransactions": 5,
                        "voidTransactions": 0,
                        "successfulTransactions": 630,
                        "failedTransactions": 47,
                        "declinedTransactions": 19,
                        "pendingTransactions": 4,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-25T00:00:00+00:00",
                        "intervalEnd": "2026-03-26T00:00:00+00:00",
                        "totalTransactions": 395,
                        "authorizeTransactions": 14,
                        "captureTransactions": 15,
                        "payTransactions": 296,
                        "refundTransactions": 28,
                        "verifyTransactions": 32,
                        "voidTransactions": 10,
                        "successfulTransactions": 355,
                        "failedTransactions": 35,
                        "declinedTransactions": 3,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-26T00:00:00+00:00",
                        "intervalEnd": "2026-03-27T00:00:00+00:00",
                        "totalTransactions": 988,
                        "authorizeTransactions": 46,
                        "captureTransactions": 53,
                        "payTransactions": 578,
                        "refundTransactions": 60,
                        "verifyTransactions": 173,
                        "voidTransactions": 78,
                        "successfulTransactions": 889,
                        "failedTransactions": 49,
                        "declinedTransactions": 47,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-27T00:00:00+00:00",
                        "intervalEnd": "2026-03-28T00:00:00+00:00",
                        "totalTransactions": 712,
                        "authorizeTransactions": 24,
                        "captureTransactions": 34,
                        "payTransactions": 256,
                        "refundTransactions": 251,
                        "verifyTransactions": 50,
                        "voidTransactions": 97,
                        "successfulTransactions": 640,
                        "failedTransactions": 33,
                        "declinedTransactions": 33,
                        "pendingTransactions": 6,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-28T00:00:00+00:00",
                        "intervalEnd": "2026-03-29T00:00:00+00:00",
                        "totalTransactions": 839,
                        "authorizeTransactions": 98,
                        "captureTransactions": 108,
                        "payTransactions": 512,
                        "refundTransactions": 98,
                        "verifyTransactions": 23,
                        "voidTransactions": 0,
                        "successfulTransactions": 755,
                        "failedTransactions": 66,
                        "declinedTransactions": 14,
                        "pendingTransactions": 4,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-29T00:00:00+00:00",
                        "intervalEnd": "2026-03-30T00:00:00+00:00",
                        "totalTransactions": 172,
                        "authorizeTransactions": 19,
                        "captureTransactions": 29,
                        "payTransactions": 71,
                        "refundTransactions": 11,
                        "verifyTransactions": 37,
                        "voidTransactions": 5,
                        "successfulTransactions": 154,
                        "failedTransactions": 13,
                        "declinedTransactions": 4,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-03-30T00:00:00+00:00",
                        "intervalEnd": "2026-03-31T00:00:00+00:00",
                        "totalTransactions": 981,
                        "authorizeTransactions": 83,
                        "captureTransactions": 85,
                        "payTransactions": 779,
                        "refundTransactions": 11,
                        "verifyTransactions": 8,
                        "voidTransactions": 15,
                        "successfulTransactions": 882,
                        "failedTransactions": 45,
                        "declinedTransactions": 47,
                        "pendingTransactions": 7,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-24T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-31T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 4787
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 326
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 367
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 2841
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 720
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 328
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 205
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 4305
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 288
                    },
                    "declinedTransactions": {
                      "type": "integer",
                      "example": 167
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 27
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-24T00:00:00+00:00",
                          "intervalEnd": "2026-03-25T00:00:00+00:00",
                          "totalTransactions": 700,
                          "authorizeTransactions": 42,
                          "captureTransactions": 43,
                          "payTransactions": 349,
                          "refundTransactions": 261,
                          "verifyTransactions": 5,
                          "voidTransactions": 0,
                          "successfulTransactions": 630,
                          "failedTransactions": 47,
                          "declinedTransactions": 19,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-25T00:00:00+00:00",
                          "intervalEnd": "2026-03-26T00:00:00+00:00",
                          "totalTransactions": 395,
                          "authorizeTransactions": 14,
                          "captureTransactions": 15,
                          "payTransactions": 296,
                          "refundTransactions": 28,
                          "verifyTransactions": 32,
                          "voidTransactions": 10,
                          "successfulTransactions": 355,
                          "failedTransactions": 35,
                          "declinedTransactions": 3,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-26T00:00:00+00:00",
                          "intervalEnd": "2026-03-27T00:00:00+00:00",
                          "totalTransactions": 988,
                          "authorizeTransactions": 46,
                          "captureTransactions": 53,
                          "payTransactions": 578,
                          "refundTransactions": 60,
                          "verifyTransactions": 173,
                          "voidTransactions": 78,
                          "successfulTransactions": 889,
                          "failedTransactions": 49,
                          "declinedTransactions": 47,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-27T00:00:00+00:00",
                          "intervalEnd": "2026-03-28T00:00:00+00:00",
                          "totalTransactions": 712,
                          "authorizeTransactions": 24,
                          "captureTransactions": 34,
                          "payTransactions": 256,
                          "refundTransactions": 251,
                          "verifyTransactions": 50,
                          "voidTransactions": 97,
                          "successfulTransactions": 640,
                          "failedTransactions": 33,
                          "declinedTransactions": 33,
                          "pendingTransactions": 6,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-28T00:00:00+00:00",
                          "intervalEnd": "2026-03-29T00:00:00+00:00",
                          "totalTransactions": 839,
                          "authorizeTransactions": 98,
                          "captureTransactions": 108,
                          "payTransactions": 512,
                          "refundTransactions": 98,
                          "verifyTransactions": 23,
                          "voidTransactions": 0,
                          "successfulTransactions": 755,
                          "failedTransactions": 66,
                          "declinedTransactions": 14,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-29T00:00:00+00:00",
                          "intervalEnd": "2026-03-30T00:00:00+00:00",
                          "totalTransactions": 172,
                          "authorizeTransactions": 19,
                          "captureTransactions": 29,
                          "payTransactions": 71,
                          "refundTransactions": 11,
                          "verifyTransactions": 37,
                          "voidTransactions": 5,
                          "successfulTransactions": 154,
                          "failedTransactions": 13,
                          "declinedTransactions": 4,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-03-30T00:00:00+00:00",
                          "intervalEnd": "2026-03-31T00:00:00+00:00",
                          "totalTransactions": 981,
                          "authorizeTransactions": 83,
                          "captureTransactions": 85,
                          "payTransactions": 779,
                          "refundTransactions": 11,
                          "verifyTransactions": 8,
                          "voidTransactions": 15,
                          "successfulTransactions": 882,
                          "failedTransactions": 45,
                          "declinedTransactions": 47,
                          "pendingTransactions": 7,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-24T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-25T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 700
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 42
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 43
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 349
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 261
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 5
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": 0
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 630
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 47
                          },
                          "declinedTransactions": {
                            "type": "integer",
                            "example": 19
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 4
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-03-24T00:00:00+00:00",
                    "periodEnd": "2026-03-31T00:00:00+00:00",
                    "totalSettlementAmount": 21636.3,
                    "totalFeeAmount": 1060.1787,
                    "totalNetAmount": 20576.1213,
                    "totalTransactionsPending": 137,
                    "totalTransactionsSettled": 845,
                    "totalTransactionsSettling": 715,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-03-24T00:00:00+00:00",
                        "intervalEnd": "2026-03-25T00:00:00+00:00",
                        "totalSettlementAmount": 5878.19,
                        "totalFeeAmount": 288.03131,
                        "totalNetAmount": 5590.15869,
                        "totalTransactionsPending": 19,
                        "totalTransactionsSettled": 71,
                        "totalTransactionsSettling": 135
                      },
                      {
                        "intervalStart": "2026-03-25T00:00:00+00:00",
                        "intervalEnd": "2026-03-26T00:00:00+00:00",
                        "totalSettlementAmount": 513.6,
                        "totalFeeAmount": 25.1664,
                        "totalNetAmount": 488.4336,
                        "totalTransactionsPending": 5,
                        "totalTransactionsSettled": 80,
                        "totalTransactionsSettling": 16
                      },
                      {
                        "intervalStart": "2026-03-26T00:00:00+00:00",
                        "intervalEnd": "2026-03-27T00:00:00+00:00",
                        "totalSettlementAmount": 3397.68,
                        "totalFeeAmount": 166.48632,
                        "totalNetAmount": 3231.19368,
                        "totalTransactionsPending": 18,
                        "totalTransactionsSettled": 187,
                        "totalTransactionsSettling": 33
                      },
                      {
                        "intervalStart": "2026-03-27T00:00:00+00:00",
                        "intervalEnd": "2026-03-28T00:00:00+00:00",
                        "totalSettlementAmount": 948.74,
                        "totalFeeAmount": 46.48826,
                        "totalNetAmount": 902.25174,
                        "totalTransactionsPending": 40,
                        "totalTransactionsSettled": 200,
                        "totalTransactionsSettling": 42
                      },
                      {
                        "intervalStart": "2026-03-28T00:00:00+00:00",
                        "intervalEnd": "2026-03-29T00:00:00+00:00",
                        "totalSettlementAmount": 3921.34,
                        "totalFeeAmount": 192.14566,
                        "totalNetAmount": 3729.19434,
                        "totalTransactionsPending": 20,
                        "totalTransactionsSettled": 158,
                        "totalTransactionsSettling": 118
                      },
                      {
                        "intervalStart": "2026-03-29T00:00:00+00:00",
                        "intervalEnd": "2026-03-30T00:00:00+00:00",
                        "totalSettlementAmount": 4989.49,
                        "totalFeeAmount": 244.48501,
                        "totalNetAmount": 4745.00499,
                        "totalTransactionsPending": 12,
                        "totalTransactionsSettled": 90,
                        "totalTransactionsSettling": 314
                      },
                      {
                        "intervalStart": "2026-03-30T00:00:00+00:00",
                        "intervalEnd": "2026-03-31T00:00:00+00:00",
                        "totalSettlementAmount": 1987.26,
                        "totalFeeAmount": 97.37574,
                        "totalNetAmount": 1889.88426,
                        "totalTransactionsPending": 23,
                        "totalTransactionsSettled": 59,
                        "totalTransactionsSettling": 57
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-03-24T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-03-31T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 21636.3
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 1060.1787
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 20576.1213
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 137
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 845
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 715
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-03-24T00:00:00+00:00",
                          "intervalEnd": "2026-03-25T00:00:00+00:00",
                          "totalSettlementAmount": 5878.19,
                          "totalFeeAmount": 288.03131,
                          "totalNetAmount": 5590.15869,
                          "totalTransactionsPending": 19,
                          "totalTransactionsSettled": 71,
                          "totalTransactionsSettling": 135
                        },
                        {
                          "intervalStart": "2026-03-25T00:00:00+00:00",
                          "intervalEnd": "2026-03-26T00:00:00+00:00",
                          "totalSettlementAmount": 513.6,
                          "totalFeeAmount": 25.1664,
                          "totalNetAmount": 488.4336,
                          "totalTransactionsPending": 5,
                          "totalTransactionsSettled": 80,
                          "totalTransactionsSettling": 16
                        },
                        {
                          "intervalStart": "2026-03-26T00:00:00+00:00",
                          "intervalEnd": "2026-03-27T00:00:00+00:00",
                          "totalSettlementAmount": 3397.68,
                          "totalFeeAmount": 166.48632,
                          "totalNetAmount": 3231.19368,
                          "totalTransactionsPending": 18,
                          "totalTransactionsSettled": 187,
                          "totalTransactionsSettling": 33
                        },
                        {
                          "intervalStart": "2026-03-27T00:00:00+00:00",
                          "intervalEnd": "2026-03-28T00:00:00+00:00",
                          "totalSettlementAmount": 948.74,
                          "totalFeeAmount": 46.48826,
                          "totalNetAmount": 902.25174,
                          "totalTransactionsPending": 40,
                          "totalTransactionsSettled": 200,
                          "totalTransactionsSettling": 42
                        },
                        {
                          "intervalStart": "2026-03-28T00:00:00+00:00",
                          "intervalEnd": "2026-03-29T00:00:00+00:00",
                          "totalSettlementAmount": 3921.34,
                          "totalFeeAmount": 192.14566,
                          "totalNetAmount": 3729.19434,
                          "totalTransactionsPending": 20,
                          "totalTransactionsSettled": 158,
                          "totalTransactionsSettling": 118
                        },
                        {
                          "intervalStart": "2026-03-29T00:00:00+00:00",
                          "intervalEnd": "2026-03-30T00:00:00+00:00",
                          "totalSettlementAmount": 4989.49,
                          "totalFeeAmount": 244.48501,
                          "totalNetAmount": 4745.00499,
                          "totalTransactionsPending": 12,
                          "totalTransactionsSettled": 90,
                          "totalTransactionsSettling": 314
                        },
                        {
                          "intervalStart": "2026-03-30T00:00:00+00:00",
                          "intervalEnd": "2026-03-31T00:00:00+00:00",
                          "totalSettlementAmount": 1987.26,
                          "totalFeeAmount": 97.37574,
                          "totalNetAmount": 1889.88426,
                          "totalTransactionsPending": 23,
                          "totalTransactionsSettled": 59,
                          "totalTransactionsSettling": 57
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-03-24T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-03-25T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 5878.19
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 288.03131
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 5590.15869
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 19
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 71
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 135
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 6,
                    "data": [
                      {
                        "email": "jaskolski.jammie@gmail.com",
                        "firstName": "Mollie",
                        "lastName": "O'Keefe",
                        "phone": "+12408260628",
                        "dateOfBirth": "1986-05-22"
                      },
                      {
                        "email": "hipolito82@gmail.com",
                        "firstName": "Violet",
                        "lastName": "Graham",
                        "phone": "+16145952089",
                        "dateOfBirth": "2007-11-17"
                      },
                      {
                        "email": "camryn.sporer@gmail.com",
                        "firstName": "Abigayle",
                        "lastName": "Wilderman",
                        "phone": "+17638260711",
                        "dateOfBirth": "1980-02-10"
                      },
                      {
                        "email": "barton.claude@anderson.info",
                        "firstName": "Freeman",
                        "lastName": "Wyman",
                        "phone": "+12833197212",
                        "dateOfBirth": "1990-10-20"
                      },
                      {
                        "email": "brekke.julian@torp.com",
                        "firstName": "Agnes",
                        "lastName": "Walker",
                        "phone": "+12702169981",
                        "dateOfBirth": "2001-11-18"
                      },
                      {
                        "email": "aiden67@jones.info",
                        "firstName": "Mallie",
                        "lastName": "Koepp",
                        "phone": "+16307081892",
                        "dateOfBirth": "1988-04-28"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 6,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "jaskolski.jammie@gmail.com",
                          "firstName": "Mollie",
                          "lastName": "O'Keefe",
                          "phone": "+12408260628",
                          "dateOfBirth": "1986-05-22"
                        },
                        {
                          "email": "hipolito82@gmail.com",
                          "firstName": "Violet",
                          "lastName": "Graham",
                          "phone": "+16145952089",
                          "dateOfBirth": "2007-11-17"
                        },
                        {
                          "email": "camryn.sporer@gmail.com",
                          "firstName": "Abigayle",
                          "lastName": "Wilderman",
                          "phone": "+17638260711",
                          "dateOfBirth": "1980-02-10"
                        },
                        {
                          "email": "barton.claude@anderson.info",
                          "firstName": "Freeman",
                          "lastName": "Wyman",
                          "phone": "+12833197212",
                          "dateOfBirth": "1990-10-20"
                        },
                        {
                          "email": "brekke.julian@torp.com",
                          "firstName": "Agnes",
                          "lastName": "Walker",
                          "phone": "+12702169981",
                          "dateOfBirth": "2001-11-18"
                        },
                        {
                          "email": "aiden67@jones.info",
                          "firstName": "Mallie",
                          "lastName": "Koepp",
                          "phone": "+16307081892",
                          "dateOfBirth": "1988-04-28"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "jaskolski.jammie@gmail.com"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Mollie"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "O'Keefe"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+12408260628"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "1986-05-22"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers/{customerIdOrEmail}/addresses": {
      "get": {
        "summary": "List Customer Billing Addresses",
        "operationId": "listCustomerBillingAddresses",
        "description": "Returns all unique billing addresses that have been used by a customer across their payments.\nAddresses are deduplicated using case-insensitive and whitespace-insensitive comparison.",
        "parameters": [
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
            "example": "-city",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
              "example": "-city",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of unique billing addresses for the customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "company": "Kutch, Stamm and Tromp",
                        "street": "652 Grimes Fort",
                        "city": "Durganview",
                        "stateProvince": "MS",
                        "postcodeZip": "62388",
                        "country": "USA"
                      },
                      {
                        "company": "Bernier, Mertz and Orn",
                        "street": "98636 Heller Greens",
                        "city": "West Juanafort",
                        "stateProvince": "OH",
                        "postcodeZip": "82968",
                        "country": "USA"
                      },
                      {
                        "company": "Smith PLC",
                        "street": "40533 Elwin Union Suite 576",
                        "city": "Donnellyville",
                        "stateProvince": "FL",
                        "postcodeZip": "87783",
                        "country": "USA"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "company": "Kutch, Stamm and Tromp",
                          "street": "652 Grimes Fort",
                          "city": "Durganview",
                          "stateProvince": "MS",
                          "postcodeZip": "62388",
                          "country": "USA"
                        },
                        {
                          "company": "Bernier, Mertz and Orn",
                          "street": "98636 Heller Greens",
                          "city": "West Juanafort",
                          "stateProvince": "OH",
                          "postcodeZip": "82968",
                          "country": "USA"
                        },
                        {
                          "company": "Smith PLC",
                          "street": "40533 Elwin Union Suite 576",
                          "city": "Donnellyville",
                          "stateProvince": "FL",
                          "postcodeZip": "87783",
                          "country": "USA"
                        }
                      ],
                      "description": "The data returned from the request",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "company": {
                            "type": "string",
                            "example": "Kutch, Stamm and Tromp"
                          },
                          "street": {
                            "type": "string",
                            "example": "652 Grimes Fort"
                          },
                          "city": {
                            "type": "string",
                            "example": "Durganview"
                          },
                          "stateProvince": {
                            "type": "string",
                            "example": "MS"
                          },
                          "postcodeZip": {
                            "type": "string",
                            "example": "62388"
                          },
                          "country": {
                            "type": "string",
                            "example": "USA"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "path",
          "name": "customerIdOrEmail",
          "description": "The customer ID, UUID, or email address",
          "example": "customer_123",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/simulated/terminals": {
      "get": {
        "summary": "Get all available simulated terminals.",
        "operationId": "getAllAvailableSimulatedTerminals",
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
[...]
