{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.80.0"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Order Templates",
      "description": ""
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/payments/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)\n\n### Tags:\n\nFilter by user-applied tags. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)\n\n### Tags:\n\nFilter by user-applied tags. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-07-09T00:00:00+00:00",
                      "periodEnd": "2026-07-16T00:00:00+00:00",
                      "numPaymentsCreated": 4596,
                      "numPaymentsProcessed": 3463,
                      "numPaymentsIncomplete": 1133,
                      "numPaymentsWithRefunds": 1565,
                      "numCardPresentPayments": 1298,
                      "numCardNotPresentPayments": -165,
                      "numAchPayments": 758,
                      "totalCapturedAmount": 3033233.25,
                      "totalRefundedAmount": 419272.21,
                      "totalNetCapturedAmount": 2613961.04,
                      "averageNetCapturedAmount": 1536.6114285714,
                      "minNetCapturedAmount": 13.64,
                      "maxNetCapturedAmount": 9359.74,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-07-09T00:00:00+00:00",
                          "intervalEnd": "2026-07-10T00:00:00+00:00",
                          "numPaymentsCreated": 982,
                          "numPaymentsProcessed": 941,
                          "numPaymentsIncomplete": 41,
                          "numPaymentsWithRefunds": 830,
                          "numCardPresentPayments": 128,
                          "numCardNotPresentPayments": -87,
                          "numAchPayments": 66,
                          "totalCapturedAmount": 804578.94,
                          "totalRefundedAmount": 17676.16,
                          "totalNetCapturedAmount": 786902.78,
                          "averageNetCapturedAmount": 836.24,
                          "minNetCapturedAmount": 79.5,
                          "maxNetCapturedAmount": 9359.74
                        },
                        {
                          "intervalStart": "2026-07-10T00:00:00+00:00",
                          "intervalEnd": "2026-07-11T00:00:00+00:00",
                          "numPaymentsCreated": 882,
                          "numPaymentsProcessed": 670,
                          "numPaymentsIncomplete": 212,
                          "numPaymentsWithRefunds": 158,
                          "numCardPresentPayments": 198,
                          "numCardNotPresentPayments": 14,
                          "numAchPayments": 281,
                          "totalCapturedAmount": 223749.27,
                          "totalRefundedAmount": 13692.78,
                          "totalNetCapturedAmount": 210056.49,
                          "averageNetCapturedAmount": 313.52,
                          "minNetCapturedAmount": 42.12,
                          "maxNetCapturedAmount": 5169.43
                        },
                        {
                          "intervalStart": "2026-07-11T00:00:00+00:00",
                          "intervalEnd": "2026-07-12T00:00:00+00:00",
                          "numPaymentsCreated": 710,
                          "numPaymentsProcessed": 617,
                          "numPaymentsIncomplete": 93,
                          "numPaymentsWithRefunds": 159,
                          "numCardPresentPayments": 385,
                          "numCardNotPresentPayments": -292,
                          "numAchPayments": 166,
                          "totalCapturedAmount": 48093.81,
                          "totalRefundedAmount": 591.96,
                          "totalNetCapturedAmount": 47501.85,
                          "averageNetCapturedAmount": 76.99,
                          "minNetCapturedAmount": 87.77,
                          "maxNetCapturedAmount": 8937.74
                        },
                        {
                          "intervalStart": "2026-07-12T00:00:00+00:00",
                          "intervalEnd": "2026-07-13T00:00:00+00:00",
                          "numPaymentsCreated": 291,
                          "numPaymentsProcessed": 102,
                          "numPaymentsIncomplete": 189,
                          "numPaymentsWithRefunds": 64,
                          "numCardPresentPayments": 12,
                          "numCardNotPresentPayments": 177,
                          "numAchPayments": 53,
                          "totalCapturedAmount": 409062.33,
                          "totalRefundedAmount": 110843.88,
                          "totalNetCapturedAmount": 298218.45,
                          "averageNetCapturedAmount": 2923.71,
                          "minNetCapturedAmount": 13.64,
                          "maxNetCapturedAmount": 7142.53
                        },
                        {
                          "intervalStart": "2026-07-13T00:00:00+00:00",
                          "intervalEnd": "2026-07-14T00:00:00+00:00",
                          "numPaymentsCreated": 453,
                          "numPaymentsProcessed": 245,
                          "numPaymentsIncomplete": 208,
                          "numPaymentsWithRefunds": 224,
                          "numCardPresentPayments": 95,
                          "numCardNotPresentPayments": 113,
                          "numAchPayments": 31,
                          "totalCapturedAmount": 229164.1,
                          "totalRefundedAmount": 67300.35,
                          "totalNetCapturedAmount": 161863.75,
                          "averageNetCapturedAmount": 660.67,
                          "minNetCapturedAmount": 69.12,
                          "maxNetCapturedAmount": 2971.35
                        },
                        {
                          "intervalStart": "2026-07-14T00:00:00+00:00",
                          "intervalEnd": "2026-07-15T00:00:00+00:00",
                          "numPaymentsCreated": 829,
                          "numPaymentsProcessed": 768,
                          "numPaymentsIncomplete": 61,
                          "numPaymentsWithRefunds": 24,
                          "numCardPresentPayments": 460,
                          "numCardNotPresentPayments": -399,
                          "numAchPayments": 133,
                          "totalCapturedAmount": 575313.71,
                          "totalRefundedAmount": 105981.36,
                          "totalNetCapturedAmount": 469332.35,
                          "averageNetCapturedAmount": 611.11,
                          "minNetCapturedAmount": 38.06,
                          "maxNetCapturedAmount": 5562.05
                        },
                        {
                          "intervalStart": "2026-07-15T00:00:00+00:00",
                          "intervalEnd": "2026-07-16T00:00:00+00:00",
                          "numPaymentsCreated": 449,
                          "numPaymentsProcessed": 120,
                          "numPaymentsIncomplete": 329,
                          "numPaymentsWithRefunds": 106,
                          "numCardPresentPayments": 20,
                          "numCardNotPresentPayments": 309,
                          "numAchPayments": 28,
                          "totalCapturedAmount": 743271.09,
                          "totalRefundedAmount": 103185.72,
                          "totalNetCapturedAmount": 640085.37,
                          "averageNetCapturedAmount": 5334.04,
                          "minNetCapturedAmount": 78.08,
                          "maxNetCapturedAmount": 7158.16
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-07-09T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-07-16T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "numPaymentsCreated": {
                          "type": "integer",
                          "example": 4596,
                          "description": "Total number of payment records created in the period",
                          "enum": []
                        },
                        "numPaymentsProcessed": {
                          "type": "integer",
                          "example": 3463,
                          "description": "Number of payments that have successfully had funds captured (captured amount > 0)",
                          "enum": []
                        },
                        "numPaymentsIncomplete": {
                          "type": "integer",
                          "example": 1133,
                          "description": "Number of payments which have been created but funds have not been captured yet (e.g. failures, declines, authorizations, etc.)",
                          "enum": []
                        },
                        "numPaymentsWithRefunds": {
                          "type": "integer",
                          "example": 1565,
                          "description": "Number of payments that have had one or more refunds (refunded amount > 0)",
                          "enum": []
                        },
                        "numCardPresentPayments": {
                          "type": "integer",
                          "example": 1298,
                          "description": "Number of payments made with card present (e.g. via terminal device)",
                          "enum": []
                        },
                        "numCardNotPresentPayments": {
                          "type": "integer",
                          "example": -165,
                          "description": "Number of payments made with card not present (e.g. online payments)",
                          "enum": []
                        },
                        "numAchPayments": {
                          "type": "integer",
                          "example": 758,
                          "description": "Number of payments made via ACH bank debit",
                          "enum": []
                        },
                        "totalCapturedAmount": {
                          "type": "number",
                          "example": 3033233.25,
                          "description": "Total amount captured across all payments in the period",
                          "enum": []
                        },
                        "totalRefundedAmount": {
                          "type": "number",
                          "example": 419272.21,
                          "description": "Total amount refunded across all payments in the period",
                          "enum": []
                        },
                        "totalNetCapturedAmount": {
                          "type": "number",
                          "example": 2613961.04,
                          "description": "Net captured amount (captured - refunded) across all payments in the period",
                          "enum": []
                        },
                        "averageNetCapturedAmount": {
                          "type": "number",
                          "example": 1536.6114285714,
                          "description": "Average net captured amount per payment in the period",
                          "enum": []
                        },
                        "minNetCapturedAmount": {
                          "type": "number",
                          "example": 13.64,
                          "description": "Minimum net captured amount in the period",
                          "enum": []
                        },
                        "maxNetCapturedAmount": {
                          "type": "number",
                          "example": 9359.74,
                          "description": "Maximum net captured amount in the period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-07-09T00:00:00+00:00",
                              "intervalEnd": "2026-07-10T00:00:00+00:00",
                              "numPaymentsCreated": 982,
                              "numPaymentsProcessed": 941,
                              "numPaymentsIncomplete": 41,
                              "numPaymentsWithRefunds": 830,
                              "numCardPresentPayments": 128,
                              "numCardNotPresentPayments": -87,
                              "numAchPayments": 66,
                              "totalCapturedAmount": 804578.94,
                              "totalRefundedAmount": 17676.16,
                              "totalNetCapturedAmount": 786902.78,
                              "averageNetCapturedAmount": 836.24,
                              "minNetCapturedAmount": 79.5,
                              "maxNetCapturedAmount": 9359.74
                            },
                            {
                              "intervalStart": "2026-07-10T00:00:00+00:00",
                              "intervalEnd": "2026-07-11T00:00:00+00:00",
                              "numPaymentsCreated": 882,
                              "numPaymentsProcessed": 670,
                              "numPaymentsIncomplete": 212,
                              "numPaymentsWithRefunds": 158,
                              "numCardPresentPayments": 198,
                              "numCardNotPresentPayments": 14,
                              "numAchPayments": 281,
                              "totalCapturedAmount": 223749.27,
                              "totalRefundedAmount": 13692.78,
                              "totalNetCapturedAmount": 210056.49,
                              "averageNetCapturedAmount": 313.52,
                              "minNetCapturedAmount": 42.12,
                              "maxNetCapturedAmount": 5169.43
                            },
                            {
                              "intervalStart": "2026-07-11T00:00:00+00:00",
                              "intervalEnd": "2026-07-12T00:00:00+00:00",
                              "numPaymentsCreated": 710,
                              "numPaymentsProcessed": 617,
                              "numPaymentsIncomplete": 93,
                              "numPaymentsWithRefunds": 159,
                              "numCardPresentPayments": 385,
                              "numCardNotPresentPayments": -292,
                              "numAchPayments": 166,
                              "totalCapturedAmount": 48093.81,
                              "totalRefundedAmount": 591.96,
                              "totalNetCapturedAmount": 47501.85,
                              "averageNetCapturedAmount": 76.99,
                              "minNetCapturedAmount": 87.77,
                              "maxNetCapturedAmount": 8937.74
                            },
                            {
                              "intervalStart": "2026-07-12T00:00:00+00:00",
                              "intervalEnd": "2026-07-13T00:00:00+00:00",
                              "numPaymentsCreated": 291,
                              "numPaymentsProcessed": 102,
                              "numPaymentsIncomplete": 189,
                              "numPaymentsWithRefunds": 64,
                              "numCardPresentPayments": 12,
                              "numCardNotPresentPayments": 177,
                              "numAchPayments": 53,
                              "totalCapturedAmount": 409062.33,
                              "totalRefundedAmount": 110843.88,
                              "totalNetCapturedAmount": 298218.45,
                              "averageNetCapturedAmount": 2923.71,
                              "minNetCapturedAmount": 13.64,
                              "maxNetCapturedAmount": 7142.53
                            },
                            {
                              "intervalStart": "2026-07-13T00:00:00+00:00",
                              "intervalEnd": "2026-07-14T00:00:00+00:00",
                              "numPaymentsCreated": 453,
                              "numPaymentsProcessed": 245,
                              "numPaymentsIncomplete": 208,
                              "numPaymentsWithRefunds": 224,
                              "numCardPresentPayments": 95,
                              "numCardNotPresentPayments": 113,
                              "numAchPayments": 31,
                              "totalCapturedAmount": 229164.1,
                              "totalRefundedAmount": 67300.35,
                              "totalNetCapturedAmount": 161863.75,
                              "averageNetCapturedAmount": 660.67,
                              "minNetCapturedAmount": 69.12,
                              "maxNetCapturedAmount": 2971.35
                            },
                            {
                              "intervalStart": "2026-07-14T00:00:00+00:00",
                              "intervalEnd": "2026-07-15T00:00:00+00:00",
                              "numPaymentsCreated": 829,
                              "numPaymentsProcessed": 768,
                              "numPaymentsIncomplete": 61,
                              "numPaymentsWithRefunds": 24,
                              "numCardPresentPayments": 460,
                              "numCardNotPresentPayments": -399,
                              "numAchPayments": 133,
                              "totalCapturedAmount": 575313.71,
                              "totalRefundedAmount": 105981.36,
                              "totalNetCapturedAmount": 469332.35,
                              "averageNetCapturedAmount": 611.11,
                              "minNetCapturedAmount": 38.06,
                              "maxNetCapturedAmount": 5562.05
                            },
                            {
                              "intervalStart": "2026-07-15T00:00:00+00:00",
                              "intervalEnd": "2026-07-16T00:00:00+00:00",
                              "numPaymentsCreated": 449,
                              "numPaymentsProcessed": 120,
                              "numPaymentsIncomplete": 329,
                              "numPaymentsWithRefunds": 106,
                              "numCardPresentPayments": 20,
                              "numCardNotPresentPayments": 309,
                              "numAchPayments": 28,
                              "totalCapturedAmount": 743271.09,
                              "totalRefundedAmount": 103185.72,
                              "totalNetCapturedAmount": 640085.37,
                              "averageNetCapturedAmount": 5334.04,
                              "minNetCapturedAmount": 78.08,
                              "maxNetCapturedAmount": 7158.16
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-07-09T00:00:00+00:00",
                                "description": "Start time of the PaymentAnalyticsData interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-07-10T00:00:00+00:00",
                                "description": "End time of the PaymentAnalyticsData interval",
                                "enum": []
                              },
                              "numPaymentsCreated": {
                                "type": "integer",
                                "example": 982,
                                "description": "Total number of payment records created in the interval",
                                "enum": []
                              },
                              "numPaymentsProcessed": {
                                "type": "integer",
                                "example": 941,
                                "description": "Number of payments that have successfully had funds captured (captured amount > 0)",
                                "enum": []
                              },
                              "numPaymentsIncomplete": {
                                "type": "integer",
                                "example": 41,
                                "description": "Number of payments which have been created but funds have not been captured yet (e.g. failures, declines, authorizations, etc.)",
                                "enum": []
                              },
                              "numPaymentsWithRefunds": {
                                "type": "integer",
                                "example": 830,
                                "description": "Number of payments that have had one or more refunds (refunded amount > 0)",
                                "enum": []
                              },
                              "numCardPresentPayments": {
                                "type": "integer",
                                "example": 128,
                                "description": "Number of payments made with card present (e.g. via terminal device)",
                                "enum": []
                              },
                              "numCardNotPresentPayments": {
                                "type": "integer",
                                "example": -87,
                                "description": "Number of payments made with card not present (e.g. online payments)",
                                "enum": []
                              },
                              "numAchPayments": {
                                "type": "integer",
                                "example": 66,
                                "description": "Number of payments made via ACH bank debit",
                                "enum": []
                              },
                              "totalCapturedAmount": {
                                "type": "number",
                                "example": 804578.94,
                                "description": "Total amount captured across all payments in the interval",
                                "enum": []
                              },
                              "totalRefundedAmount": {
                                "type": "number",
                                "example": 17676.16,
                                "description": "Total amount refunded across all payments in the interval",
                                "enum": []
                              },
                              "totalNetCapturedAmount": {
                                "type": "number",
                                "example": 786902.78,
                                "description": "Net captured amount (captured - refunded) across all payments in the interval",
                                "enum": []
                              },
                              "averageNetCapturedAmount": {
                                "type": "number",
                                "example": 836.24,
                                "description": "Average net captured amount per payment in the interval",
                                "enum": []
                              },
                              "minNetCapturedAmount": {
                                "type": "number",
                                "example": 79.5,
                                "description": "Minimum net captured amount in the interval",
                                "enum": []
                              },
                              "maxNetCapturedAmount": {
                                "type": "number",
                                "example": 9359.74,
                                "description": "Maximum net captured amount in the interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/payments/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n\n### Tags:\n\nFilter by user-applied tags on the underlying payments. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n\n### Tags:\n\nFilter by user-applied tags on the underlying payments. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-07-09T00:00:00+00:00",
                      "periodEnd": "2026-07-16T00:00:00+00:00",
                      "activeCustomers": 97,
                      "newCustomers": 127,
                      "returningCustomers": -30,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-07-09T00:00:00+00:00",
                          "intervalEnd": "2026-07-10T00:00:00+00:00",
                          "activeCustomers": 50,
                          "newCustomers": 7,
                          "returningCustomers": 43
                        },
                        {
                          "intervalStart": "2026-07-10T00:00:00+00:00",
                          "intervalEnd": "2026-07-11T00:00:00+00:00",
                          "activeCustomers": 30,
                          "newCustomers": 16,
                          "returningCustomers": 14
                        },
                        {
                          "intervalStart": "2026-07-11T00:00:00+00:00",
                          "intervalEnd": "2026-07-12T00:00:00+00:00",
                          "activeCustomers": 63,
                          "newCustomers": 27,
                          "returningCustomers": 36
                        },
                        {
                          "intervalStart": "2026-07-12T00:00:00+00:00",
                          "intervalEnd": "2026-07-13T00:00:00+00:00",
                          "activeCustomers": 22,
                          "newCustomers": 15,
                          "returningCustomers": 7
                        },
                        {
                          "intervalStart": "2026-07-13T00:00:00+00:00",
                          "intervalEnd": "2026-07-14T00:00:00+00:00",
                          "activeCustomers": 74,
                          "newCustomers": 32,
                          "returningCustomers": 42
                        },
                        {
                          "intervalStart": "2026-07-14T00:00:00+00:00",
                          "intervalEnd": "2026-07-15T00:00:00+00:00",
                          "activeCustomers": 85,
                          "newCustomers": 24,
                          "returningCustomers": 61
                        },
                        {
                          "intervalStart": "2026-07-15T00:00:00+00:00",
                          "intervalEnd": "2026-07-16T00:00:00+00:00",
                          "activeCustomers": 11,
                          "newCustomers": 6,
                          "returningCustomers": 5
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-07-09T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-07-16T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "activeCustomers": {
                          "type": "integer",
                          "example": 97,
                          "description": "number of customers who are associated with at least one payment which was created in the period",
                          "enum": []
                        },
                        "newCustomers": {
                          "type": "integer",
                          "example": 127,
                          "description": "number of new customers added in the period",
                          "enum": []
                        },
                        "returningCustomers": {
                          "type": "integer",
                          "example": -30,
                          "description": "number of customers who were active in the period but were created before the period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-07-09T00:00:00+00:00",
                              "intervalEnd": "2026-07-10T00:00:00+00:00",
                              "activeCustomers": 50,
                              "newCustomers": 7,
                              "returningCustomers": 43
                            },
                            {
                              "intervalStart": "2026-07-10T00:00:00+00:00",
                              "intervalEnd": "2026-07-11T00:00:00+00:00",
                              "activeCustomers": 30,
                              "newCustomers": 16,
                              "returningCustomers": 14
                            },
                            {
                              "intervalStart": "2026-07-11T00:00:00+00:00",
                              "intervalEnd": "2026-07-12T00:00:00+00:00",
                              "activeCustomers": 63,
                              "newCustomers": 27,
                              "returningCustomers": 36
                            },
                            {
                              "intervalStart": "2026-07-12T00:00:00+00:00",
                              "intervalEnd": "2026-07-13T00:00:00+00:00",
                              "activeCustomers": 22,
                              "newCustomers": 15,
                              "returningCustomers": 7
                            },
                            {
                              "intervalStart": "2026-07-13T00:00:00+00:00",
                              "intervalEnd": "2026-07-14T00:00:00+00:00",
                              "activeCustomers": 74,
                              "newCustomers": 32,
                              "returningCustomers": 42
                            },
                            {
                              "intervalStart": "2026-07-14T00:00:00+00:00",
                              "intervalEnd": "2026-07-15T00:00:00+00:00",
                              "activeCustomers": 85,
                              "newCustomers": 24,
                              "returningCustomers": 61
                            },
                            {
                              "intervalStart": "2026-07-15T00:00:00+00:00",
                              "intervalEnd": "2026-07-16T00:00:00+00:00",
                              "activeCustomers": 11,
                              "newCustomers": 6,
                              "returningCustomers": 5
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-07-09T00:00:00+00:00",
                                "description": "Start time of the analytics calculation interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-07-10T00:00:00+00:00",
                                "description": "End time of the analytics calculation interval",
                                "enum": []
                              },
                              "activeCustomers": {
                                "type": "integer",
                                "example": 50,
                                "description": "number of customers who are associated with at least one payment which was created in the interval",
                                "enum": []
                              },
                              "newCustomers": {
                                "type": "integer",
                                "example": 7,
                                "description": "number of new customers added in the interval",
                                "enum": []
                              },
                              "returningCustomers": {
                                "type": "integer",
                                "example": 43,
                                "description": "number of customers who were active in the interval but were created before the interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/payments/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n\n### Tags:\n\nFilter by user-applied tags. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n\n### Tags:\n\nFilter by user-applied tags. Use a leading `!` to exclude a tag. Comma-separated values are OR'd for includes; excludes remove rows tagged with any listed tag.\n\n- **Example:** `?filter[tag]=needs-review,priority`\n- **Example:** `?filter[tag]=!archived`\n- **Example:** `?filter[tag]=needs-review,!archived`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-07-09T00:00:00+00:00",
                      "periodEnd": "2026-07-16T00:00:00+00:00",
                      "totalTransactions": 3830,
                      "authorizeTransactions": 217,
                      "captureTransactions": 248,
                      "payTransactions": 2148,
                      "refundTransactions": 677,
                      "verifyTransactions": 337,
                      "voidTransactions": 203,
                      "successfulTransactions": 3445,
                      "failedTransactions": 272,
                      "declinedTransactions": 96,
                      "pendingTransactions": 17,
                      "unknownTransactions": 0,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-07-09T00:00:00+00:00",
                          "intervalEnd": "2026-07-10T00:00:00+00:00",
                          "totalTransactions": 705,
                          "authorizeTransactions": 29,
                          "captureTransactions": 30,
                          "payTransactions": 538,
                          "refundTransactions": 36,
                          "verifyTransactions": 8,
                          "voidTransactions": 64,
                          "successfulTransactions": 634,
                          "failedTransactions": 62,
                          "declinedTransactions": 6,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-07-10T00:00:00+00:00",
                          "intervalEnd": "2026-07-11T00:00:00+00:00",
                          "totalTransactions": 730,
                          "authorizeTransactions": 20,
                          "captureTransactions": 24,
                          "payTransactions": 557,
                          "refundTransactions": 54,
                          "verifyTransactions": 13,
                          "voidTransactions": 62,
                          "successfulTransactions": 657,
                          "failedTransactions": 56,
                          "declinedTransactions": 16,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-07-11T00:00:00+00:00",
                          "intervalEnd": "2026-07-12T00:00:00+00:00",
                          "totalTransactions": 338,
                          "authorizeTransactions": 22,
                          "captureTransactions": 30,
                          "payTransactions": 84,
                          "refundTransactions": 90,
                          "verifyTransactions": 51,
                          "voidTransactions": 61,
                          "successfulTransactions": 304,
                          "failedTransactions": 27,
                          "declinedTransactions": 5,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-07-12T00:00:00+00:00",
                          "intervalEnd": "2026-07-13T00:00:00+00:00",
                          "totalTransactions": 458,
                          "authorizeTransactions": 52,
                          "captureTransactions": 59,
                          "payTransactions": 257,
                          "refundTransactions": 80,
                          "verifyTransactions": 5,
                          "voidTransactions": 5,
                          "successfulTransactions": 412,
                          "failedTransactions": 30,
                          "declinedTransactions": 13,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-07-13T00:00:00+00:00",
                          "intervalEnd": "2026-07-14T00:00:00+00:00",
                          "totalTransactions": 616,
                          "authorizeTransactions": 51,
                          "captureTransactions": 55,
                          "payTransactions": 239,
                          "refundTransactions": 66,
                          "verifyTransactions": 200,
                          "voidTransactions": 5,
                          "successfulTransactions": 554,
                          "failedTransactions": 29,
                          "declinedTransactions": 27,
                          "pendingTransactions": 6,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-07-14T00:00:00+00:00",
                          "intervalEnd": "2026-07-15T00:00:00+00:00",
                          "totalTransactions": 179,
                          "authorizeTransactions": 10,
                          "captureTransactions": 12,
                          "payTransactions": 143,
                          "refundTransactions": 13,
                          "verifyTransactions": 5,
                          "voidTransactions": -4,
                          "successfulTransactions": 161,
                          "failedTransactions": 10,
                          "declinedTransactions": 7,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-07-15T00:00:00+00:00",
                          "intervalEnd": "2026-07-16T00:00:00+00:00",
                          "totalTransactions": 804,
                          "authorizeTransactions": 33,
                          "captureTransactions": 38,
                          "payTransactions": 330,
                          "refundTransactions": 338,
                          "verifyTransactions": 55,
                          "voidTransactions": 10,
                          "successfulTransactions": 723,
                          "failedTransactions": 58,
                          "declinedTransactions": 22,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-07-09T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-07-16T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "totalTransactions": {
                          "type": "integer",
                          "example": 3830,
                          "description": "Total number of transactions in the period",
                          "enum": []
                        },
                        "authorizeTransactions": {
                          "type": "integer",
                          "example": 217,
                          "description": "Number of authorize transactions in the period",
                          "enum": []
                        },
                        "captureTransactions": {
                          "type": "integer",
                          "example": 248,
                          "description": "Number of capture transactions in the period",
                          "enum": []
                        },
                        "payTransactions": {
                          "type": "integer",
                          "example": 2148,
                          "description": "Number of pay transactions in the period",
                          "enum": []
                        },
                        "refundTransactions": {
                          "type": "integer",
                          "example": 677,
                          "description": "Number of refund transactions in the period",
                          "enum": []
                        },
                        "verifyTransactions": {
                          "type": "integer",
                          "example": 337,
                          "description": "Number of verify transactions in the period",
                          "enum": []
                        },
                        "voidTransactions": {
                          "type": "integer",
                          "example": 203,
                          "description": "Number of void transactions in the period",
                          "enum": []
                        },
                        "successfulTransactions": {
                          "type": "integer",
                          "example": 3445,
                          "description": "Number of successful transactions in the period",
                          "enum": []
                        },
                        "failedTransactions": {
                          "type": "integer",
                          "example": 272,
                          "description": "Number of failed transactions in the period",
                          "enum": []
                        },
                        "declinedTransactions": {
                          "type": "integer",
                          "example": 96,
                          "description": "Number of declined transactions in the period",
                          "enum": []
                        },
                        "pendingTransactions": {
                          "type": "integer",
                          "example": 17,
                          "description": "Number of pending transactions in the period",
                          "enum": []
                        },
                        "unknownTransactions": {
                          "type": "integer",
                          "example": 0,
                          "description": "Number of transactions with unknown result in the period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-07-09T00:00:00+00:00",
                              "intervalEnd": "2026-07-10T00:00:00+00:00",
                              "totalTransactions": 705,
                              "authorizeTransactions": 29,
                              "captureTransactions": 30,
                              "payTransactions": 538,
                              "refundTransactions": 36,
                              "verifyTransactions": 8,
                              "voidTransactions": 64,
                              "successfulTransactions": 634,
                              "failedTransactions": 62,
                              "declinedTransactions": 6,
                              "pendingTransactions": 3,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-07-10T00:00:00+00:00",
                              "intervalEnd": "2026-07-11T00:00:00+00:00",
                              "totalTransactions": 730,
                              "authorizeTransactions": 20,
                              "captureTransactions": 24,
                              "payTransactions": 557,
                              "refundTransactions": 54,
                              "verifyTransactions": 13,
                              "voidTransactions": 62,
                              "successfulTransactions": 657,
                              "failedTransactions": 56,
                              "declinedTransactions": 16,
                              "pendingTransactions": 1,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-07-11T00:00:00+00:00",
                              "intervalEnd": "2026-07-12T00:00:00+00:00",
                              "totalTransactions": 338,
                              "authorizeTransactions": 22,
                              "captureTransactions": 30,
                              "payTransactions": 84,
                              "refundTransactions": 90,
                              "verifyTransactions": 51,
                              "voidTransactions": 61,
                              "successfulTransactions": 304,
                              "failedTransactions": 27,
                              "declinedTransactions": 5,
                              "pendingTransactions": 2,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-07-12T00:00:00+00:00",
                              "intervalEnd": "2026-07-13T00:00:00+00:00",
                              "totalTransactions": 458,
                              "authorizeTransactions": 52,
                              "captureTransactions": 59,
                              "payTransactions": 257,
                              "refundTransactions": 80,
                              "verifyTransactions": 5,
                              "voidTransactions": 5,
                              "successfulTransactions": 412,
                              "failedTransactions": 30,
                              "declinedTransactions": 13,
                              "pendingTransactions": 3,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-07-13T00:00:00+00:00",
                              "intervalEnd": "2026-07-14T00:00:00+00:00",
                              "totalTransactions": 616,
                              "authorizeTransactions": 51,
                              "captureTransactions": 55,
                              "payTransactions": 239,
                              "refundTransactions": 66,
                              "verifyTransactions": 200,
                              "voidTransactions": 5,
                              "successfulTransactions": 554,
                              "failedTransactions": 29,
                              "declinedTransactions": 27,
                              "pendingTransactions": 6,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-07-14T00:00:00+00:00",
                              "intervalEnd": "2026-07-15T00:00:00+00:00",
                              "totalTransactions": 179,
                              "authorizeTransactions": 10,
                              "captureTransactions": 12,
                              "payTransactions": 143,
                              "refundTransactions": 13,
                              "verifyTransactions": 5,
                              "voidTransactions": -4,
                              "successfulTransactions": 161,
                              "failedTransactions": 10,
                              "declinedTransactions": 7,
                              "pendingTransactions": 1,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-07-15T00:00:00+00:00",
                              "intervalEnd": "2026-07-16T00:00:00+00:00",
                              "totalTransactions": 804,
                              "authorizeTransactions": 33,
                              "captureTransactions": 38,
                              "payTransactions": 330,
                              "refundTransactions": 338,
                              "verifyTransactions": 55,
                              "voidTransactions": 10,
                              "successfulTransactions": 723,
                              "failedTransactions": 58,
                              "declinedTransactions": 22,
                              "pendingTransactions": 1,
                              "unknownTransactions": 0
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-07-09T00:00:00+00:00",
                                "description": "Start time of the analytics calculation interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-07-10T00:00:00+00:00",
                                "description": "End time of the analytics calculation interval",
                                "enum": []
                              },
                              "totalTransactions": {
                                "type": "integer",
                                "example": 705,
                                "description": "Total number of transactions in the interval",
                                "enum": []
                              },
                              "authorizeTransactions": {
                                "type": "integer",
                                "example": 29,
                                "description": "Number of authorize transactions in the interval",
                                "enum": []
                              },
                              "captureTransactions": {
                                "type": "integer",
                                "example": 30,
                                "description": "Number of capture transactions in the interval",
                                "enum": []
                              },
                              "payTransactions": {
                                "type": "integer",
                                "example": 538,
                                "description": "Number of pay transactions in the interval",
                                "enum": []
                              },
                              "refundTransactions": {
                                "type": "integer",
                                "example": 36,
                                "description": "Number of refund transactions in the interval",
                                "enum": []
                              },
                              "verifyTransactions": {
                                "type": "integer",
                                "example": 8,
                                "description": "Number of verify transactions in the interval",
                                "enum": []
                              },
                              "voidTransactions": {
                                "type": "integer",
                                "example": 64,
                                "description": "Number of void transactions in the interval",
                                "enum": []
                              },
                              "successfulTransactions": {
                                "type": "integer",
                                "example": 634,
                                "description": "Number of successful transactions in the interval",
                                "enum": []
                              },
                              "failedTransactions": {
                                "type": "integer",
                                "example": 62,
                                "description": "Number of failed transactions in the interval",
                                "enum": []
                              },
                              "declinedTransactions": {
                                "type": "integer",
                                "example": 6,
                                "description": "Number of declined transactions in the interval",
                                "enum": []
                              },
                              "pendingTransactions": {
                                "type": "integer",
                                "example": 3,
                                "description": "Number of pending transactions in the interval",
                                "enum": []
                              },
                              "unknownTransactions": {
                                "type": "integer",
                                "example": 0,
                                "description": "Number of transactions with unknown result in the interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/payments/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`\n\n### Tags:\n\nFilter by user-applied tags. Use a leading `!` to exclude a tag.\n\n- **Example:** `?filter[tag]=vip,priority`\n- **Example:** `?filter[tag]=!internal-test`\n- **Example:** `?filter[tag]=vip,!internal-test`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`\n\n### Tags:\n\nFilter by user-applied tags. Use a leading `!` to exclude a tag.\n\n- **Example:** `?filter[tag]=vip,priority`\n- **Example:** `?filter[tag]=!internal-test`\n- **Example:** `?filter[tag]=vip,!internal-test`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 3,
                    "data": [
                      {
                        "id": "customer_fq99xl01br",
                        "email": "qhansen@wunsch.biz",
                        "firstName": "Daren",
                        "lastName": "Swaniawski",
                        "phone": "+17726384796",
                        "dateOfBirth": "1976-04-03",
                        "creationTime": "2026-03-14T22:37:49.322+00:00",
                        "lastUpdatedTime": "2026-07-15T22:37:49.322+00:00"
                      },
                      {
                        "id": "customer_zm11rx40we",
                        "email": "sgrimes@hotmail.com",
                        "firstName": "Vallie",
                        "lastName": "Bergstrom",
                        "phone": "+16577411149",
                        "dateOfBirth": "1987-01-08",
                        "creationTime": "2026-04-19T22:37:49.322+00:00",
                        "lastUpdatedTime": "2026-07-11T22:37:49.322+00:00"
                      },
                      {
                        "id": "customer_py55zy45ga",
                        "email": "clara43@yahoo.com",
                        "firstName": "Adrain",
                        "lastName": "Pouros",
                        "phone": "+19702735428",
                        "dateOfBirth": "1998-03-19",
                        "creationTime": "2025-12-07T22:37:49.323+00:00",
                        "lastUpdatedTime": "2026-07-12T22:37:49.323+00:00"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 3,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "id": "customer_fq99xl01br",
                          "email": "qhansen@wunsch.biz",
                          "firstName": "Daren",
                          "lastName": "Swaniawski",
                          "phone": "+17726384796",
                          "dateOfBirth": "1976-04-03",
                          "creationTime": "2026-03-14T22:37:49.322+00:00",
                          "lastUpdatedTime": "2026-07-15T22:37:49.322+00:00"
                        },
                        {
                          "id": "customer_zm11rx40we",
                          "email": "sgrimes@hotmail.com",
                          "firstName": "Vallie",
                          "lastName": "Bergstrom",
                          "phone": "+16577411149",
                          "dateOfBirth": "1987-01-08",
                          "creationTime": "2026-04-19T22:37:49.322+00:00",
                          "lastUpdatedTime": "2026-07-11T22:37:49.322+00:00"
                        },
                        {
                          "id": "customer_py55zy45ga",
                          "email": "clara43@yahoo.com",
                          "firstName": "Adrain",
                          "lastName": "Pouros",
                          "phone": "+19702735428",
                          "dateOfBirth": "1998-03-19",
                          "creationTime": "2025-12-07T22:37:49.323+00:00",
                          "lastUpdatedTime": "2026-07-12T22:37:49.323+00:00"
                        }
                      ],
                      "description": "The data returned from the request",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "customer_fq99xl01br",
                            "description": "Prahsys's unique identifier for the customer",
                            "enum": []
                          },
                          "email": {
                            "type": "string",
                            "example": "qhansen@wunsch.biz",
                            "description": "The email address of the customer. Must be longer than 3 characters and conform to RFC 2822.",
                            "enum": []
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Daren",
                            "description": "The customer's first name.",
                            "enum": []
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Swaniawski",
                            "description": "The customer's last name.",
                            "enum": []
                          },
                          "phone": {
                            "type": "string",
                            "example": "+17726384796",
                            "description": "The customer's phone number in E.164 format.",
                            "enum": []
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "1976-04-03",
                            "description": "The customer's date of birth. Must be in YYYY-MM-DD format.",
                            "enum": []
                          },
                          "creationTime": {
                            "type": "string",
                            "example": "2026-03-14T22:37:49.322+00:00",
                            "description": "Time when the customer was created",
                            "enum": []
                          },
                          "lastUpdatedTime": {
                            "type": "string",
                            "example": "2026-07-15T22:37:49.322+00:00",
                            "description": "Time when the customer was last updated",
                            "enum": []
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/payments/n1/merchant/{merchantId}/customer/{customerIdOrEmail}": {
      "get": {
        "summary": "Get Customer",
        "operationId": "getCustomer",
        "description": "Returns a single customer by their ID, UUID, or email address.",
        "parameters": [
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date fields. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix) and abbreviations (e.g., MST).",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date fields. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix) and abbreviations (e.g., MST).",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The customer with their addresses and pay tokens (Full Example)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "id": "customer_bm19lv58fg",
                      "email": "lonie23@mante.com",
                      "firstName": "Gino",
                      "lastName": "Grimes",
                      "phone": "+17699786108",
                      "dateOfBirth": "1995-03-19",
                      "tokens": [
                        {
                          "token": "1818374620903588",
                          "type": "CARD",
                          "card": {
                            "nameOnCard": "John Doe",
                            "number": "424242xxxxxx4242",
                            "expiry": {
                              "month": 1,
                              "year": 39
                            },
                            "brand": "VISA",
                            "fundingMethod": "DEBIT",
                            "storedOnFile": "NOT_STORED"
                          },
                          "address": {
                            "company": "Schneider, Metz and Hamill",
                            "street": "199 Antonetta Squares",
                            "city": "Trompbury",
                            "stateProvince": "CA",
                            "postcodeZip": "60066",
                            "country": "USA"
                          },
                          "repositoryId": "A",
                          "response": {
                            "gatewayCode": "BASIC_VERIFICATION_SUCCESSFUL"
                          },
                          "result": "SUCCESS",
                          "status": "VALID",
                          "usage": {
                            "lastUpdated": {
                              "merchantId": "1003ee35-3f19-33cd-8871-f927a01a9a6a",
                              "time": "2026-02-15T13:11:17+00:00"
                            },
                            "lastUsedTime": "2026-06-08T18:32:01+00:00"
                          },
                          "customer": {
                            "email": "test.customer@example.com"
                          },
                          "isDefault": true,
                          "avsCode": "FULL_MATCH"
                        }
                      ],
                      "addresses": [
                        {
                          "id": "98a0b6ed-6675-315d-bb96-e51e0e79c2d4",
                          "isDefault": true,
                          "company": "Bergnaum, Sauer and O'Reilly",
[...]
