{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.71.0"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payout Exports",
      "description": "Create payout exports"
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-17T00:00:00+00:00",
                    "periodEnd": "2026-04-24T00:00:00+00:00",
                    "numPaymentsCreated": 3242,
                    "numPaymentsProcessed": 1678,
                    "numPaymentsIncomplete": 1564,
                    "numPaymentsWithRefunds": 594,
                    "numCardPresentPayments": 945,
                    "numCardNotPresentPayments": 619,
                    "totalCapturedAmount": 2619234.04,
                    "totalRefundedAmount": 378491.96,
                    "totalNetCapturedAmount": 2240742.08,
                    "averageNetCapturedAmount": 1893.4942857143,
                    "minNetCapturedAmount": 23.21,
                    "maxNetCapturedAmount": 9640.97,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-17T00:00:00+00:00",
                        "intervalEnd": "2026-04-18T00:00:00+00:00",
                        "numPaymentsCreated": 524,
                        "numPaymentsProcessed": 308,
                        "numPaymentsIncomplete": 216,
                        "numPaymentsWithRefunds": 48,
                        "numCardPresentPayments": 110,
                        "numCardNotPresentPayments": 106,
                        "totalCapturedAmount": 756830.61,
                        "totalRefundedAmount": 164058.21,
                        "totalNetCapturedAmount": 592772.4,
                        "averageNetCapturedAmount": 1924.59,
                        "minNetCapturedAmount": 34.51,
                        "maxNetCapturedAmount": 4671.53
                      },
                      {
                        "intervalStart": "2026-04-18T00:00:00+00:00",
                        "intervalEnd": "2026-04-19T00:00:00+00:00",
                        "numPaymentsCreated": 164,
                        "numPaymentsProcessed": 76,
                        "numPaymentsIncomplete": 88,
                        "numPaymentsWithRefunds": 47,
                        "numCardPresentPayments": 72,
                        "numCardNotPresentPayments": 16,
                        "totalCapturedAmount": 572868.65,
                        "totalRefundedAmount": 33236.82,
                        "totalNetCapturedAmount": 539631.83,
                        "averageNetCapturedAmount": 7100.42,
                        "minNetCapturedAmount": 68.31,
                        "maxNetCapturedAmount": 9640.97
                      },
                      {
                        "intervalStart": "2026-04-19T00:00:00+00:00",
                        "intervalEnd": "2026-04-20T00:00:00+00:00",
                        "numPaymentsCreated": 769,
                        "numPaymentsProcessed": 133,
                        "numPaymentsIncomplete": 636,
                        "numPaymentsWithRefunds": 72,
                        "numCardPresentPayments": 124,
                        "numCardNotPresentPayments": 512,
                        "totalCapturedAmount": 84655.76,
                        "totalRefundedAmount": 15808.9,
                        "totalNetCapturedAmount": 68846.86,
                        "averageNetCapturedAmount": 517.65,
                        "minNetCapturedAmount": 67.09,
                        "maxNetCapturedAmount": 5723.03
                      },
                      {
                        "intervalStart": "2026-04-20T00:00:00+00:00",
                        "intervalEnd": "2026-04-21T00:00:00+00:00",
                        "numPaymentsCreated": 391,
                        "numPaymentsProcessed": 259,
                        "numPaymentsIncomplete": 132,
                        "numPaymentsWithRefunds": 180,
                        "numCardPresentPayments": 141,
                        "numCardNotPresentPayments": -9,
                        "totalCapturedAmount": 481305.6,
                        "totalRefundedAmount": 119590.6,
                        "totalNetCapturedAmount": 361715,
                        "averageNetCapturedAmount": 1396.58,
                        "minNetCapturedAmount": 46.27,
                        "maxNetCapturedAmount": 8826.34
                      },
                      {
                        "intervalStart": "2026-04-21T00:00:00+00:00",
                        "intervalEnd": "2026-04-22T00:00:00+00:00",
                        "numPaymentsCreated": 162,
                        "numPaymentsProcessed": 95,
                        "numPaymentsIncomplete": 67,
                        "numPaymentsWithRefunds": 32,
                        "numCardPresentPayments": 9,
                        "numCardNotPresentPayments": 58,
                        "totalCapturedAmount": 77804.05,
                        "totalRefundedAmount": 16082.87,
                        "totalNetCapturedAmount": 61721.18,
                        "averageNetCapturedAmount": 649.7,
                        "minNetCapturedAmount": 42.71,
                        "maxNetCapturedAmount": 6470.2
                      },
                      {
                        "intervalStart": "2026-04-22T00:00:00+00:00",
                        "intervalEnd": "2026-04-23T00:00:00+00:00",
                        "numPaymentsCreated": 733,
                        "numPaymentsProcessed": 492,
                        "numPaymentsIncomplete": 241,
                        "numPaymentsWithRefunds": 12,
                        "numCardPresentPayments": 418,
                        "numCardNotPresentPayments": -177,
                        "totalCapturedAmount": 282458.64,
                        "totalRefundedAmount": 28351.83,
                        "totalNetCapturedAmount": 254106.81,
                        "averageNetCapturedAmount": 516.48,
                        "minNetCapturedAmount": 47.22,
                        "maxNetCapturedAmount": 2162.85
                      },
                      {
                        "intervalStart": "2026-04-23T00:00:00+00:00",
                        "intervalEnd": "2026-04-24T00:00:00+00:00",
                        "numPaymentsCreated": 499,
                        "numPaymentsProcessed": 315,
                        "numPaymentsIncomplete": 184,
                        "numPaymentsWithRefunds": 203,
                        "numCardPresentPayments": 71,
                        "numCardNotPresentPayments": 113,
                        "totalCapturedAmount": 363310.73,
                        "totalRefundedAmount": 1362.73,
                        "totalNetCapturedAmount": 361948,
                        "averageNetCapturedAmount": 1149.04,
                        "minNetCapturedAmount": 23.21,
                        "maxNetCapturedAmount": 1234.51
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-17T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-24T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 3242
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 1678
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 1564
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 594
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 945
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": 619
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 2619234.04
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 378491.96
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 2240742.08
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 1893.4942857143
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 23.21
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 9640.97
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-17T00:00:00+00:00",
                          "intervalEnd": "2026-04-18T00:00:00+00:00",
                          "numPaymentsCreated": 524,
                          "numPaymentsProcessed": 308,
                          "numPaymentsIncomplete": 216,
                          "numPaymentsWithRefunds": 48,
                          "numCardPresentPayments": 110,
                          "numCardNotPresentPayments": 106,
                          "totalCapturedAmount": 756830.61,
                          "totalRefundedAmount": 164058.21,
                          "totalNetCapturedAmount": 592772.4,
                          "averageNetCapturedAmount": 1924.59,
                          "minNetCapturedAmount": 34.51,
                          "maxNetCapturedAmount": 4671.53
                        },
                        {
                          "intervalStart": "2026-04-18T00:00:00+00:00",
                          "intervalEnd": "2026-04-19T00:00:00+00:00",
                          "numPaymentsCreated": 164,
                          "numPaymentsProcessed": 76,
                          "numPaymentsIncomplete": 88,
                          "numPaymentsWithRefunds": 47,
                          "numCardPresentPayments": 72,
                          "numCardNotPresentPayments": 16,
                          "totalCapturedAmount": 572868.65,
                          "totalRefundedAmount": 33236.82,
                          "totalNetCapturedAmount": 539631.83,
                          "averageNetCapturedAmount": 7100.42,
                          "minNetCapturedAmount": 68.31,
                          "maxNetCapturedAmount": 9640.97
                        },
                        {
                          "intervalStart": "2026-04-19T00:00:00+00:00",
                          "intervalEnd": "2026-04-20T00:00:00+00:00",
                          "numPaymentsCreated": 769,
                          "numPaymentsProcessed": 133,
                          "numPaymentsIncomplete": 636,
                          "numPaymentsWithRefunds": 72,
                          "numCardPresentPayments": 124,
                          "numCardNotPresentPayments": 512,
                          "totalCapturedAmount": 84655.76,
                          "totalRefundedAmount": 15808.9,
                          "totalNetCapturedAmount": 68846.86,
                          "averageNetCapturedAmount": 517.65,
                          "minNetCapturedAmount": 67.09,
                          "maxNetCapturedAmount": 5723.03
                        },
                        {
                          "intervalStart": "2026-04-20T00:00:00+00:00",
                          "intervalEnd": "2026-04-21T00:00:00+00:00",
                          "numPaymentsCreated": 391,
                          "numPaymentsProcessed": 259,
                          "numPaymentsIncomplete": 132,
                          "numPaymentsWithRefunds": 180,
                          "numCardPresentPayments": 141,
                          "numCardNotPresentPayments": -9,
                          "totalCapturedAmount": 481305.6,
                          "totalRefundedAmount": 119590.6,
                          "totalNetCapturedAmount": 361715,
                          "averageNetCapturedAmount": 1396.58,
                          "minNetCapturedAmount": 46.27,
                          "maxNetCapturedAmount": 8826.34
                        },
                        {
                          "intervalStart": "2026-04-21T00:00:00+00:00",
                          "intervalEnd": "2026-04-22T00:00:00+00:00",
                          "numPaymentsCreated": 162,
                          "numPaymentsProcessed": 95,
                          "numPaymentsIncomplete": 67,
                          "numPaymentsWithRefunds": 32,
                          "numCardPresentPayments": 9,
                          "numCardNotPresentPayments": 58,
                          "totalCapturedAmount": 77804.05,
                          "totalRefundedAmount": 16082.87,
                          "totalNetCapturedAmount": 61721.18,
                          "averageNetCapturedAmount": 649.7,
                          "minNetCapturedAmount": 42.71,
                          "maxNetCapturedAmount": 6470.2
                        },
                        {
                          "intervalStart": "2026-04-22T00:00:00+00:00",
                          "intervalEnd": "2026-04-23T00:00:00+00:00",
                          "numPaymentsCreated": 733,
                          "numPaymentsProcessed": 492,
                          "numPaymentsIncomplete": 241,
                          "numPaymentsWithRefunds": 12,
                          "numCardPresentPayments": 418,
                          "numCardNotPresentPayments": -177,
                          "totalCapturedAmount": 282458.64,
                          "totalRefundedAmount": 28351.83,
                          "totalNetCapturedAmount": 254106.81,
                          "averageNetCapturedAmount": 516.48,
                          "minNetCapturedAmount": 47.22,
                          "maxNetCapturedAmount": 2162.85
                        },
                        {
                          "intervalStart": "2026-04-23T00:00:00+00:00",
                          "intervalEnd": "2026-04-24T00:00:00+00:00",
                          "numPaymentsCreated": 499,
                          "numPaymentsProcessed": 315,
                          "numPaymentsIncomplete": 184,
                          "numPaymentsWithRefunds": 203,
                          "numCardPresentPayments": 71,
                          "numCardNotPresentPayments": 113,
                          "totalCapturedAmount": 363310.73,
                          "totalRefundedAmount": 1362.73,
                          "totalNetCapturedAmount": 361948,
                          "averageNetCapturedAmount": 1149.04,
                          "minNetCapturedAmount": 23.21,
                          "maxNetCapturedAmount": 1234.51
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-17T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-18T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 524
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 308
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 216
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 48
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 110
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": 106
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 756830.61
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 164058.21
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 592772.4
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 1924.59
                          },
                          "minNetCapturedAmount": {
                            "type": "number",
                            "example": 34.51
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 4671.53
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-17T00:00:00+00:00",
                    "periodEnd": "2026-04-24T00:00:00+00:00",
                    "activeCustomers": 105,
                    "newCustomers": 247,
                    "returningCustomers": -142,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-17T00:00:00+00:00",
                        "intervalEnd": "2026-04-18T00:00:00+00:00",
                        "activeCustomers": 23,
                        "newCustomers": 12,
                        "returningCustomers": 11
                      },
                      {
                        "intervalStart": "2026-04-18T00:00:00+00:00",
                        "intervalEnd": "2026-04-19T00:00:00+00:00",
                        "activeCustomers": 34,
                        "newCustomers": 16,
                        "returningCustomers": 18
                      },
                      {
                        "intervalStart": "2026-04-19T00:00:00+00:00",
                        "intervalEnd": "2026-04-20T00:00:00+00:00",
                        "activeCustomers": 22,
                        "newCustomers": 18,
                        "returningCustomers": 4
                      },
                      {
                        "intervalStart": "2026-04-20T00:00:00+00:00",
                        "intervalEnd": "2026-04-21T00:00:00+00:00",
                        "activeCustomers": 61,
                        "newCustomers": 54,
                        "returningCustomers": 7
                      },
                      {
                        "intervalStart": "2026-04-21T00:00:00+00:00",
                        "intervalEnd": "2026-04-22T00:00:00+00:00",
                        "activeCustomers": 90,
                        "newCustomers": 38,
                        "returningCustomers": 52
                      },
                      {
                        "intervalStart": "2026-04-22T00:00:00+00:00",
                        "intervalEnd": "2026-04-23T00:00:00+00:00",
                        "activeCustomers": 90,
                        "newCustomers": 68,
                        "returningCustomers": 22
                      },
                      {
                        "intervalStart": "2026-04-23T00:00:00+00:00",
                        "intervalEnd": "2026-04-24T00:00:00+00:00",
                        "activeCustomers": 74,
                        "newCustomers": 41,
                        "returningCustomers": 33
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-17T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-24T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 105
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 247
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": -142
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-17T00:00:00+00:00",
                          "intervalEnd": "2026-04-18T00:00:00+00:00",
                          "activeCustomers": 23,
                          "newCustomers": 12,
                          "returningCustomers": 11
                        },
                        {
                          "intervalStart": "2026-04-18T00:00:00+00:00",
                          "intervalEnd": "2026-04-19T00:00:00+00:00",
                          "activeCustomers": 34,
                          "newCustomers": 16,
                          "returningCustomers": 18
                        },
                        {
                          "intervalStart": "2026-04-19T00:00:00+00:00",
                          "intervalEnd": "2026-04-20T00:00:00+00:00",
                          "activeCustomers": 22,
                          "newCustomers": 18,
                          "returningCustomers": 4
                        },
                        {
                          "intervalStart": "2026-04-20T00:00:00+00:00",
                          "intervalEnd": "2026-04-21T00:00:00+00:00",
                          "activeCustomers": 61,
                          "newCustomers": 54,
                          "returningCustomers": 7
                        },
                        {
                          "intervalStart": "2026-04-21T00:00:00+00:00",
                          "intervalEnd": "2026-04-22T00:00:00+00:00",
                          "activeCustomers": 90,
                          "newCustomers": 38,
                          "returningCustomers": 52
                        },
                        {
                          "intervalStart": "2026-04-22T00:00:00+00:00",
                          "intervalEnd": "2026-04-23T00:00:00+00:00",
                          "activeCustomers": 90,
                          "newCustomers": 68,
                          "returningCustomers": 22
                        },
                        {
                          "intervalStart": "2026-04-23T00:00:00+00:00",
                          "intervalEnd": "2026-04-24T00:00:00+00:00",
                          "activeCustomers": 74,
                          "newCustomers": 41,
                          "returningCustomers": 33
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-17T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-18T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 23
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 12
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 11
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-17T00:00:00+00:00",
                    "periodEnd": "2026-04-24T00:00:00+00:00",
                    "totalTransactions": 4224,
                    "authorizeTransactions": 177,
                    "captureTransactions": 227,
                    "payTransactions": 2220,
                    "refundTransactions": 457,
                    "verifyTransactions": 389,
                    "voidTransactions": 754,
                    "successfulTransactions": 3799,
                    "failedTransactions": 297,
                    "declinedTransactions": 107,
                    "pendingTransactions": 21,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-17T00:00:00+00:00",
                        "intervalEnd": "2026-04-18T00:00:00+00:00",
                        "totalTransactions": 188,
                        "authorizeTransactions": 20,
                        "captureTransactions": 26,
                        "payTransactions": 78,
                        "refundTransactions": 51,
                        "verifyTransactions": 11,
                        "voidTransactions": 2,
                        "successfulTransactions": 169,
                        "failedTransactions": 12,
                        "declinedTransactions": 6,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-18T00:00:00+00:00",
                        "intervalEnd": "2026-04-19T00:00:00+00:00",
                        "totalTransactions": 314,
                        "authorizeTransactions": 28,
                        "captureTransactions": 38,
                        "payTransactions": 231,
                        "refundTransactions": 9,
                        "verifyTransactions": 5,
                        "voidTransactions": 3,
                        "successfulTransactions": 282,
                        "failedTransactions": 18,
                        "declinedTransactions": 11,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-19T00:00:00+00:00",
                        "intervalEnd": "2026-04-20T00:00:00+00:00",
                        "totalTransactions": 698,
                        "authorizeTransactions": 46,
                        "captureTransactions": 52,
                        "payTransactions": 287,
                        "refundTransactions": 141,
                        "verifyTransactions": 116,
                        "voidTransactions": 56,
                        "successfulTransactions": 628,
                        "failedTransactions": 48,
                        "declinedTransactions": 17,
                        "pendingTransactions": 5,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-20T00:00:00+00:00",
                        "intervalEnd": "2026-04-21T00:00:00+00:00",
                        "totalTransactions": 589,
                        "authorizeTransactions": 37,
                        "captureTransactions": 41,
                        "payTransactions": 137,
                        "refundTransactions": 184,
                        "verifyTransactions": 154,
                        "voidTransactions": 36,
                        "successfulTransactions": 530,
                        "failedTransactions": 37,
                        "declinedTransactions": 21,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-21T00:00:00+00:00",
                        "intervalEnd": "2026-04-22T00:00:00+00:00",
                        "totalTransactions": 863,
                        "authorizeTransactions": 10,
                        "captureTransactions": 17,
                        "payTransactions": 778,
                        "refundTransactions": 53,
                        "verifyTransactions": 5,
                        "voidTransactions": 0,
                        "successfulTransactions": 776,
                        "failedTransactions": 77,
                        "declinedTransactions": 4,
                        "pendingTransactions": 6,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-22T00:00:00+00:00",
                        "intervalEnd": "2026-04-23T00:00:00+00:00",
                        "totalTransactions": 932,
                        "authorizeTransactions": 19,
                        "captureTransactions": 29,
                        "payTransactions": 150,
                        "refundTransactions": 10,
                        "verifyTransactions": 70,
                        "voidTransactions": 654,
                        "successfulTransactions": 838,
                        "failedTransactions": 54,
                        "declinedTransactions": 37,
                        "pendingTransactions": 3,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2026-04-23T00:00:00+00:00",
                        "intervalEnd": "2026-04-24T00:00:00+00:00",
                        "totalTransactions": 640,
                        "authorizeTransactions": 17,
                        "captureTransactions": 24,
                        "payTransactions": 559,
                        "refundTransactions": 9,
                        "verifyTransactions": 28,
                        "voidTransactions": 3,
                        "successfulTransactions": 576,
                        "failedTransactions": 51,
                        "declinedTransactions": 11,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-17T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-24T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 4224
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 177
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 227
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 2220
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 457
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 389
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 754
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 3799
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 297
                    },
                    "declinedTransactions": {
                      "type": "integer",
                      "example": 107
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 21
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-17T00:00:00+00:00",
                          "intervalEnd": "2026-04-18T00:00:00+00:00",
                          "totalTransactions": 188,
                          "authorizeTransactions": 20,
                          "captureTransactions": 26,
                          "payTransactions": 78,
                          "refundTransactions": 51,
                          "verifyTransactions": 11,
                          "voidTransactions": 2,
                          "successfulTransactions": 169,
                          "failedTransactions": 12,
                          "declinedTransactions": 6,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-18T00:00:00+00:00",
                          "intervalEnd": "2026-04-19T00:00:00+00:00",
                          "totalTransactions": 314,
                          "authorizeTransactions": 28,
                          "captureTransactions": 38,
                          "payTransactions": 231,
                          "refundTransactions": 9,
                          "verifyTransactions": 5,
                          "voidTransactions": 3,
                          "successfulTransactions": 282,
                          "failedTransactions": 18,
                          "declinedTransactions": 11,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-19T00:00:00+00:00",
                          "intervalEnd": "2026-04-20T00:00:00+00:00",
                          "totalTransactions": 698,
                          "authorizeTransactions": 46,
                          "captureTransactions": 52,
                          "payTransactions": 287,
                          "refundTransactions": 141,
                          "verifyTransactions": 116,
                          "voidTransactions": 56,
                          "successfulTransactions": 628,
                          "failedTransactions": 48,
                          "declinedTransactions": 17,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-20T00:00:00+00:00",
                          "intervalEnd": "2026-04-21T00:00:00+00:00",
                          "totalTransactions": 589,
                          "authorizeTransactions": 37,
                          "captureTransactions": 41,
                          "payTransactions": 137,
                          "refundTransactions": 184,
                          "verifyTransactions": 154,
                          "voidTransactions": 36,
                          "successfulTransactions": 530,
                          "failedTransactions": 37,
                          "declinedTransactions": 21,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-21T00:00:00+00:00",
                          "intervalEnd": "2026-04-22T00:00:00+00:00",
                          "totalTransactions": 863,
                          "authorizeTransactions": 10,
                          "captureTransactions": 17,
                          "payTransactions": 778,
                          "refundTransactions": 53,
                          "verifyTransactions": 5,
                          "voidTransactions": 0,
                          "successfulTransactions": 776,
                          "failedTransactions": 77,
                          "declinedTransactions": 4,
                          "pendingTransactions": 6,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-22T00:00:00+00:00",
                          "intervalEnd": "2026-04-23T00:00:00+00:00",
                          "totalTransactions": 932,
                          "authorizeTransactions": 19,
                          "captureTransactions": 29,
                          "payTransactions": 150,
                          "refundTransactions": 10,
                          "verifyTransactions": 70,
                          "voidTransactions": 654,
                          "successfulTransactions": 838,
                          "failedTransactions": 54,
                          "declinedTransactions": 37,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-23T00:00:00+00:00",
                          "intervalEnd": "2026-04-24T00:00:00+00:00",
                          "totalTransactions": 640,
                          "authorizeTransactions": 17,
                          "captureTransactions": 24,
                          "payTransactions": 559,
                          "refundTransactions": 9,
                          "verifyTransactions": 28,
                          "voidTransactions": 3,
                          "successfulTransactions": 576,
                          "failedTransactions": 51,
                          "declinedTransactions": 11,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-17T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-18T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 188
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 20
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 26
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 78
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 51
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 11
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": 2
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 169
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 12
                          },
                          "declinedTransactions": {
                            "type": "integer",
                            "example": 6
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 1
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2026-04-17T00:00:00+00:00",
                    "periodEnd": "2026-04-24T00:00:00+00:00",
                    "totalSettlementAmount": 44562.71,
                    "totalFeeAmount": 2183.57279,
                    "totalNetAmount": 42379.13721,
                    "totalTransactionsPending": 136,
                    "totalTransactionsSettled": 1101,
                    "totalTransactionsSettling": 569,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2026-04-17T00:00:00+00:00",
                        "intervalEnd": "2026-04-18T00:00:00+00:00",
                        "totalSettlementAmount": 5437.96,
                        "totalFeeAmount": 266.46004,
                        "totalNetAmount": 5171.49996,
                        "totalTransactionsPending": 7,
                        "totalTransactionsSettled": 248,
                        "totalTransactionsSettling": 30
                      },
                      {
                        "intervalStart": "2026-04-18T00:00:00+00:00",
                        "intervalEnd": "2026-04-19T00:00:00+00:00",
                        "totalSettlementAmount": 4954.65,
                        "totalFeeAmount": 242.77785,
                        "totalNetAmount": 4711.87215,
                        "totalTransactionsPending": 12,
                        "totalTransactionsSettled": 99,
                        "totalTransactionsSettling": 32
                      },
                      {
                        "intervalStart": "2026-04-19T00:00:00+00:00",
                        "intervalEnd": "2026-04-20T00:00:00+00:00",
                        "totalSettlementAmount": 5190.7,
                        "totalFeeAmount": 254.3443,
                        "totalNetAmount": 4936.3557,
                        "totalTransactionsPending": 18,
                        "totalTransactionsSettled": 58,
                        "totalTransactionsSettling": 174
                      },
                      {
                        "intervalStart": "2026-04-20T00:00:00+00:00",
                        "intervalEnd": "2026-04-21T00:00:00+00:00",
                        "totalSettlementAmount": 7919.67,
                        "totalFeeAmount": 388.06383,
                        "totalNetAmount": 7531.60617,
                        "totalTransactionsPending": 33,
                        "totalTransactionsSettled": 156,
                        "totalTransactionsSettling": 78
                      },
                      {
                        "intervalStart": "2026-04-21T00:00:00+00:00",
                        "intervalEnd": "2026-04-22T00:00:00+00:00",
                        "totalSettlementAmount": 8567.57,
                        "totalFeeAmount": 419.81093,
                        "totalNetAmount": 8147.75907,
                        "totalTransactionsPending": 9,
                        "totalTransactionsSettled": 246,
                        "totalTransactionsSettling": 209
                      },
                      {
                        "intervalStart": "2026-04-22T00:00:00+00:00",
                        "intervalEnd": "2026-04-23T00:00:00+00:00",
                        "totalSettlementAmount": 9291.56,
                        "totalFeeAmount": 455.28644,
                        "totalNetAmount": 8836.27356,
                        "totalTransactionsPending": 35,
                        "totalTransactionsSettled": 94,
                        "totalTransactionsSettling": 13
                      },
                      {
                        "intervalStart": "2026-04-23T00:00:00+00:00",
                        "intervalEnd": "2026-04-24T00:00:00+00:00",
                        "totalSettlementAmount": 3200.6,
                        "totalFeeAmount": 156.8294,
                        "totalNetAmount": 3043.7706,
                        "totalTransactionsPending": 22,
                        "totalTransactionsSettled": 200,
                        "totalTransactionsSettling": 33
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2026-04-17T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2026-04-24T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 44562.71
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 2183.57279
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 42379.13721
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 136
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 1101
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 569
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2026-04-17T00:00:00+00:00",
                          "intervalEnd": "2026-04-18T00:00:00+00:00",
                          "totalSettlementAmount": 5437.96,
                          "totalFeeAmount": 266.46004,
                          "totalNetAmount": 5171.49996,
                          "totalTransactionsPending": 7,
                          "totalTransactionsSettled": 248,
                          "totalTransactionsSettling": 30
                        },
                        {
                          "intervalStart": "2026-04-18T00:00:00+00:00",
                          "intervalEnd": "2026-04-19T00:00:00+00:00",
                          "totalSettlementAmount": 4954.65,
                          "totalFeeAmount": 242.77785,
                          "totalNetAmount": 4711.87215,
                          "totalTransactionsPending": 12,
                          "totalTransactionsSettled": 99,
                          "totalTransactionsSettling": 32
                        },
                        {
                          "intervalStart": "2026-04-19T00:00:00+00:00",
                          "intervalEnd": "2026-04-20T00:00:00+00:00",
                          "totalSettlementAmount": 5190.7,
                          "totalFeeAmount": 254.3443,
                          "totalNetAmount": 4936.3557,
                          "totalTransactionsPending": 18,
                          "totalTransactionsSettled": 58,
                          "totalTransactionsSettling": 174
                        },
                        {
                          "intervalStart": "2026-04-20T00:00:00+00:00",
                          "intervalEnd": "2026-04-21T00:00:00+00:00",
                          "totalSettlementAmount": 7919.67,
                          "totalFeeAmount": 388.06383,
                          "totalNetAmount": 7531.60617,
                          "totalTransactionsPending": 33,
                          "totalTransactionsSettled": 156,
                          "totalTransactionsSettling": 78
                        },
                        {
                          "intervalStart": "2026-04-21T00:00:00+00:00",
                          "intervalEnd": "2026-04-22T00:00:00+00:00",
                          "totalSettlementAmount": 8567.57,
                          "totalFeeAmount": 419.81093,
                          "totalNetAmount": 8147.75907,
                          "totalTransactionsPending": 9,
                          "totalTransactionsSettled": 246,
                          "totalTransactionsSettling": 209
                        },
                        {
                          "intervalStart": "2026-04-22T00:00:00+00:00",
                          "intervalEnd": "2026-04-23T00:00:00+00:00",
                          "totalSettlementAmount": 9291.56,
                          "totalFeeAmount": 455.28644,
                          "totalNetAmount": 8836.27356,
                          "totalTransactionsPending": 35,
                          "totalTransactionsSettled": 94,
                          "totalTransactionsSettling": 13
                        },
                        {
                          "intervalStart": "2026-04-23T00:00:00+00:00",
                          "intervalEnd": "2026-04-24T00:00:00+00:00",
                          "totalSettlementAmount": 3200.6,
                          "totalFeeAmount": 156.8294,
                          "totalNetAmount": 3043.7706,
                          "totalTransactionsPending": 22,
                          "totalTransactionsSettled": 200,
                          "totalTransactionsSettling": 33
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2026-04-17T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2026-04-18T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 5437.96
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 266.46004
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 5171.49996
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 7
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 248
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 30
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 7,
                    "data": [
                      {
                        "email": "rhomenick@littel.info",
                        "firstName": "Shawna",
                        "lastName": "Hamill",
                        "phone": "+17322375242",
                        "dateOfBirth": "1978-02-10"
                      },
                      {
                        "email": "erick15@yahoo.com",
                        "firstName": "Lilian",
                        "lastName": "Luettgen",
                        "phone": "+13866678238",
                        "dateOfBirth": "1979-06-27"
                      },
                      {
                        "email": "wkreiger@hotmail.com",
                        "firstName": "Aliyah",
                        "lastName": "Ankunding",
                        "phone": "+15204443668",
                        "dateOfBirth": "1978-01-22"
                      },
                      {
                        "email": "harris.danielle@hotmail.com",
                        "firstName": "Rosario",
                        "lastName": "Thiel",
                        "phone": "+13473179063",
                        "dateOfBirth": "1981-05-21"
                      },
                      {
                        "email": "jeanie.marquardt@hotmail.com",
                        "firstName": "Yasmin",
                        "lastName": "Wolf",
                        "phone": "+15592728857",
                        "dateOfBirth": "1970-01-26"
                      },
                      {
                        "email": "ibartell@hotmail.com",
                        "firstName": "Loyce",
                        "lastName": "Johnston",
                        "phone": "+13645037301",
                        "dateOfBirth": "1997-04-13"
                      },
                      {
                        "email": "dimitri.baumbach@yahoo.com",
                        "firstName": "Austen",
                        "lastName": "Howell",
                        "phone": "+17432554913",
                        "dateOfBirth": "1995-04-07"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 7,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "rhomenick@littel.info",
                          "firstName": "Shawna",
                          "lastName": "Hamill",
                          "phone": "+17322375242",
                          "dateOfBirth": "1978-02-10"
                        },
                        {
                          "email": "erick15@yahoo.com",
                          "firstName": "Lilian",
                          "lastName": "Luettgen",
                          "phone": "+13866678238",
                          "dateOfBirth": "1979-06-27"
                        },
                        {
                          "email": "wkreiger@hotmail.com",
                          "firstName": "Aliyah",
                          "lastName": "Ankunding",
                          "phone": "+15204443668",
                          "dateOfBirth": "1978-01-22"
                        },
                        {
                          "email": "harris.danielle@hotmail.com",
                          "firstName": "Rosario",
                          "lastName": "Thiel",
                          "phone": "+13473179063",
                          "dateOfBirth": "1981-05-21"
                        },
                        {
                          "email": "jeanie.marquardt@hotmail.com",
                          "firstName": "Yasmin",
                          "lastName": "Wolf",
                          "phone": "+15592728857",
                          "dateOfBirth": "1970-01-26"
                        },
                        {
                          "email": "ibartell@hotmail.com",
                          "firstName": "Loyce",
                          "lastName": "Johnston",
                          "phone": "+13645037301",
                          "dateOfBirth": "1997-04-13"
                        },
                        {
                          "email": "dimitri.baumbach@yahoo.com",
                          "firstName": "Austen",
                          "lastName": "Howell",
                          "phone": "+17432554913",
                          "dateOfBirth": "1995-04-07"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "rhomenick@littel.info"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Shawna"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Hamill"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+17322375242"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "1978-02-10"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customer/{customerIdOrEmail}": {
      "get": {
        "summary": "Get Customer",
        "operationId": "getCustomer",
        "description": "Returns a single customer by their ID, UUID, or email address.",
        "parameters": [
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date fields. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix) and abbreviations (e.g., MST).",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date fields. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix) and abbreviations (e.g., MST).",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The customer with their addresses and pay tokens",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "email": "ora.swift@hotmail.com"
                  },
                  "properties": {
                    "email": {
                      "type": "string",
                      "example": "ora.swift@hotmail.com"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "post": {
        "summary": "Update or Create Customer",
        "operationId": "updateOrCreateCustomer",
        "description": "Creates a customer if they do not exist, or updates an existing one.\nSupports setting `defaultPayToken` (by token value) and `defaultAddress` (by address UUID).",
        "parameters": [
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The upserted customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "email": "skrajcik@kshlerin.org"
                  },
                  "properties": {
                    "email": {
                      "type": "string",
                      "example": "skrajcik@kshlerin.org"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "path",
          "name": "customerIdOrEmail",
          "description": "The customer ID, UUID, or email address",
          "example": "customer_123",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers/{customerIdOrEmail}/addresses": {
      "get": {
        "summary": "List Customer Billing Addresses",
        "operationId": "listCustomerBillingAddresses",
        "description": "Returns all unique billing addresses that have been used by a customer across their payments.\nAddresses are deduplicated using case-insensitive and whitespace-insensitive comparison.",
        "parameters": [
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter addresses by various attributes.\n\n**Partial match:** `street`, `city`, `postcodeZip`, `company`\n\n**Exact match:** `stateProvince`, `country`\n\nExamples:\n- `?filter[city]=New York`\n- `?filter[stateProvince]=NY`\n- `?filter[street]=Main`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
            "example": "-city",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort by: `street`, `city`, `stateProvince`, `country`, `postcodeZip`. Use `-` prefix for descending.",
              "example": "-city",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of unique billing addresses for the customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "company": "Cassin, Wiegand and Pouros",
                        "street": "2543 Hansen Union",
                        "city": "Anibaltown",
                        "stateProvince": "OR",
                        "postcodeZip": "95687",
                        "country": "USA"
                      },
                      {
                        "company": "Hodkiewicz-Gaylord",
                        "street": "4632 Wilderman Forest Apt. 607",
                        "city": "Lake Laurianeberg",
                        "stateProvince": "OK",
                        "postcodeZip": "50387-9341",
                        "country": "USA"
                      },
                      {
                        "company": "Hand, Murphy and Roberts",
                        "street": "5799 Jast Bypass Apt. 067",
                        "city": "New June",
[...]
