{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.74.0"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payout Exports",
      "description": "Create payout exports"
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/api/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-04-25T00:00:00+00:00",
                      "periodEnd": "2026-05-02T00:00:00+00:00",
                      "numPaymentsCreated": 4435,
                      "numPaymentsProcessed": 3397,
                      "numPaymentsIncomplete": 1038,
                      "numPaymentsWithRefunds": 2370,
                      "numCardPresentPayments": 1847,
                      "numCardNotPresentPayments": -809,
                      "totalCapturedAmount": 4058903.67,
                      "totalRefundedAmount": 514434.21,
                      "totalNetCapturedAmount": 3544469.46,
                      "averageNetCapturedAmount": 1190.1428571429,
                      "minNetCapturedAmount": 39.06,
                      "maxNetCapturedAmount": 8307.48,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-04-25T00:00:00+00:00",
                          "intervalEnd": "2026-04-26T00:00:00+00:00",
                          "numPaymentsCreated": 839,
                          "numPaymentsProcessed": 714,
                          "numPaymentsIncomplete": 125,
                          "numPaymentsWithRefunds": 506,
                          "numCardPresentPayments": 116,
                          "numCardNotPresentPayments": 9,
                          "totalCapturedAmount": 589997.65,
                          "totalRefundedAmount": 43979.52,
                          "totalNetCapturedAmount": 546018.13,
                          "averageNetCapturedAmount": 764.73,
                          "minNetCapturedAmount": 72.5,
                          "maxNetCapturedAmount": 8307.48
                        },
                        {
                          "intervalStart": "2026-04-26T00:00:00+00:00",
                          "intervalEnd": "2026-04-27T00:00:00+00:00",
                          "numPaymentsCreated": 651,
                          "numPaymentsProcessed": 433,
                          "numPaymentsIncomplete": 218,
                          "numPaymentsWithRefunds": 393,
                          "numCardPresentPayments": 394,
                          "numCardNotPresentPayments": -176,
                          "totalCapturedAmount": 772484.9,
                          "totalRefundedAmount": 137936.7,
                          "totalNetCapturedAmount": 634548.2,
                          "averageNetCapturedAmount": 1465.47,
                          "minNetCapturedAmount": 45.83,
                          "maxNetCapturedAmount": 6123.11
                        },
                        {
                          "intervalStart": "2026-04-27T00:00:00+00:00",
                          "intervalEnd": "2026-04-28T00:00:00+00:00",
                          "numPaymentsCreated": 386,
                          "numPaymentsProcessed": 364,
                          "numPaymentsIncomplete": 22,
                          "numPaymentsWithRefunds": 151,
                          "numCardPresentPayments": 125,
                          "numCardNotPresentPayments": -103,
                          "totalCapturedAmount": 402688.15,
                          "totalRefundedAmount": 44554.35,
                          "totalNetCapturedAmount": 358133.8,
                          "averageNetCapturedAmount": 983.88,
                          "minNetCapturedAmount": 65.3,
                          "maxNetCapturedAmount": 7232.03
                        },
                        {
                          "intervalStart": "2026-04-28T00:00:00+00:00",
                          "intervalEnd": "2026-04-29T00:00:00+00:00",
                          "numPaymentsCreated": 875,
                          "numPaymentsProcessed": 664,
                          "numPaymentsIncomplete": 211,
                          "numPaymentsWithRefunds": 355,
                          "numCardPresentPayments": 545,
                          "numCardNotPresentPayments": -334,
                          "totalCapturedAmount": 784636.85,
                          "totalRefundedAmount": 142546.98,
                          "totalNetCapturedAmount": 642089.87,
                          "averageNetCapturedAmount": 967,
                          "minNetCapturedAmount": 60.67,
                          "maxNetCapturedAmount": 5374.85
                        },
                        {
                          "intervalStart": "2026-04-29T00:00:00+00:00",
                          "intervalEnd": "2026-04-30T00:00:00+00:00",
                          "numPaymentsCreated": 924,
                          "numPaymentsProcessed": 760,
                          "numPaymentsIncomplete": 164,
                          "numPaymentsWithRefunds": 735,
                          "numCardPresentPayments": 486,
                          "numCardNotPresentPayments": -322,
                          "totalCapturedAmount": 476007.34,
                          "totalRefundedAmount": 58995.42,
                          "totalNetCapturedAmount": 417011.92,
                          "averageNetCapturedAmount": 548.7,
                          "minNetCapturedAmount": 39.06,
                          "maxNetCapturedAmount": 5512.94
                        },
                        {
                          "intervalStart": "2026-04-30T00:00:00+00:00",
                          "intervalEnd": "2026-05-01T00:00:00+00:00",
                          "numPaymentsCreated": 544,
                          "numPaymentsProcessed": 311,
                          "numPaymentsIncomplete": 233,
                          "numPaymentsWithRefunds": 116,
                          "numCardPresentPayments": 161,
                          "numCardNotPresentPayments": 72,
                          "totalCapturedAmount": 819785.88,
                          "totalRefundedAmount": 36683.78,
                          "totalNetCapturedAmount": 783102.1,
                          "averageNetCapturedAmount": 2518.01,
                          "minNetCapturedAmount": 85.21,
                          "maxNetCapturedAmount": 7591.15
                        },
                        {
                          "intervalStart": "2026-05-01T00:00:00+00:00",
                          "intervalEnd": "2026-05-02T00:00:00+00:00",
                          "numPaymentsCreated": 216,
                          "numPaymentsProcessed": 151,
                          "numPaymentsIncomplete": 65,
                          "numPaymentsWithRefunds": 114,
                          "numCardPresentPayments": 20,
                          "numCardNotPresentPayments": 45,
                          "totalCapturedAmount": 213302.9,
                          "totalRefundedAmount": 49737.46,
                          "totalNetCapturedAmount": 163565.44,
                          "averageNetCapturedAmount": 1083.21,
                          "minNetCapturedAmount": 76.48,
                          "maxNetCapturedAmount": 5670.6
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-04-25T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-05-02T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "numPaymentsCreated": {
                          "type": "integer",
                          "example": 4435,
                          "description": "Total number of payment records created in the period",
                          "enum": []
                        },
                        "numPaymentsProcessed": {
                          "type": "integer",
                          "example": 3397,
                          "description": "Number of payments that have successfully had funds captured (captured amount > 0)",
                          "enum": []
                        },
                        "numPaymentsIncomplete": {
                          "type": "integer",
                          "example": 1038,
                          "description": "Number of payments which have been created but funds have not been captured yet (e.g. failures, declines, authorizations, etc.)",
                          "enum": []
                        },
                        "numPaymentsWithRefunds": {
                          "type": "integer",
                          "example": 2370,
                          "description": "Number of payments that have had one or more refunds (refunded amount > 0)",
                          "enum": []
                        },
                        "numCardPresentPayments": {
                          "type": "integer",
                          "example": 1847,
                          "description": "Number of payments made with card present (e.g. via terminal device)",
                          "enum": []
                        },
                        "numCardNotPresentPayments": {
                          "type": "integer",
                          "example": -809,
                          "description": "Number of payments made with card not present (e.g. online payments)",
                          "enum": []
                        },
                        "totalCapturedAmount": {
                          "type": "number",
                          "example": 4058903.67,
                          "description": "Total amount captured across all payments in the period",
                          "enum": []
                        },
                        "totalRefundedAmount": {
                          "type": "number",
                          "example": 514434.21,
                          "description": "Total amount refunded across all payments in the period",
                          "enum": []
                        },
                        "totalNetCapturedAmount": {
                          "type": "number",
                          "example": 3544469.46,
                          "description": "Net captured amount (captured - refunded) across all payments in the period",
                          "enum": []
                        },
                        "averageNetCapturedAmount": {
                          "type": "number",
                          "example": 1190.1428571429,
                          "description": "Average net captured amount per payment in the period",
                          "enum": []
                        },
                        "minNetCapturedAmount": {
                          "type": "number",
                          "example": 39.06,
                          "description": "Minimum net captured amount in the period",
                          "enum": []
                        },
                        "maxNetCapturedAmount": {
                          "type": "number",
                          "example": 8307.48,
                          "description": "Maximum net captured amount in the period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-04-25T00:00:00+00:00",
                              "intervalEnd": "2026-04-26T00:00:00+00:00",
                              "numPaymentsCreated": 839,
                              "numPaymentsProcessed": 714,
                              "numPaymentsIncomplete": 125,
                              "numPaymentsWithRefunds": 506,
                              "numCardPresentPayments": 116,
                              "numCardNotPresentPayments": 9,
                              "totalCapturedAmount": 589997.65,
                              "totalRefundedAmount": 43979.52,
                              "totalNetCapturedAmount": 546018.13,
                              "averageNetCapturedAmount": 764.73,
                              "minNetCapturedAmount": 72.5,
                              "maxNetCapturedAmount": 8307.48
                            },
                            {
                              "intervalStart": "2026-04-26T00:00:00+00:00",
                              "intervalEnd": "2026-04-27T00:00:00+00:00",
                              "numPaymentsCreated": 651,
                              "numPaymentsProcessed": 433,
                              "numPaymentsIncomplete": 218,
                              "numPaymentsWithRefunds": 393,
                              "numCardPresentPayments": 394,
                              "numCardNotPresentPayments": -176,
                              "totalCapturedAmount": 772484.9,
                              "totalRefundedAmount": 137936.7,
                              "totalNetCapturedAmount": 634548.2,
                              "averageNetCapturedAmount": 1465.47,
                              "minNetCapturedAmount": 45.83,
                              "maxNetCapturedAmount": 6123.11
                            },
                            {
                              "intervalStart": "2026-04-27T00:00:00+00:00",
                              "intervalEnd": "2026-04-28T00:00:00+00:00",
                              "numPaymentsCreated": 386,
                              "numPaymentsProcessed": 364,
                              "numPaymentsIncomplete": 22,
                              "numPaymentsWithRefunds": 151,
                              "numCardPresentPayments": 125,
                              "numCardNotPresentPayments": -103,
                              "totalCapturedAmount": 402688.15,
                              "totalRefundedAmount": 44554.35,
                              "totalNetCapturedAmount": 358133.8,
                              "averageNetCapturedAmount": 983.88,
                              "minNetCapturedAmount": 65.3,
                              "maxNetCapturedAmount": 7232.03
                            },
                            {
                              "intervalStart": "2026-04-28T00:00:00+00:00",
                              "intervalEnd": "2026-04-29T00:00:00+00:00",
                              "numPaymentsCreated": 875,
                              "numPaymentsProcessed": 664,
                              "numPaymentsIncomplete": 211,
                              "numPaymentsWithRefunds": 355,
                              "numCardPresentPayments": 545,
                              "numCardNotPresentPayments": -334,
                              "totalCapturedAmount": 784636.85,
                              "totalRefundedAmount": 142546.98,
                              "totalNetCapturedAmount": 642089.87,
                              "averageNetCapturedAmount": 967,
                              "minNetCapturedAmount": 60.67,
                              "maxNetCapturedAmount": 5374.85
                            },
                            {
                              "intervalStart": "2026-04-29T00:00:00+00:00",
                              "intervalEnd": "2026-04-30T00:00:00+00:00",
                              "numPaymentsCreated": 924,
                              "numPaymentsProcessed": 760,
                              "numPaymentsIncomplete": 164,
                              "numPaymentsWithRefunds": 735,
                              "numCardPresentPayments": 486,
                              "numCardNotPresentPayments": -322,
                              "totalCapturedAmount": 476007.34,
                              "totalRefundedAmount": 58995.42,
                              "totalNetCapturedAmount": 417011.92,
                              "averageNetCapturedAmount": 548.7,
                              "minNetCapturedAmount": 39.06,
                              "maxNetCapturedAmount": 5512.94
                            },
                            {
                              "intervalStart": "2026-04-30T00:00:00+00:00",
                              "intervalEnd": "2026-05-01T00:00:00+00:00",
                              "numPaymentsCreated": 544,
                              "numPaymentsProcessed": 311,
                              "numPaymentsIncomplete": 233,
                              "numPaymentsWithRefunds": 116,
                              "numCardPresentPayments": 161,
                              "numCardNotPresentPayments": 72,
                              "totalCapturedAmount": 819785.88,
                              "totalRefundedAmount": 36683.78,
                              "totalNetCapturedAmount": 783102.1,
                              "averageNetCapturedAmount": 2518.01,
                              "minNetCapturedAmount": 85.21,
                              "maxNetCapturedAmount": 7591.15
                            },
                            {
                              "intervalStart": "2026-05-01T00:00:00+00:00",
                              "intervalEnd": "2026-05-02T00:00:00+00:00",
                              "numPaymentsCreated": 216,
                              "numPaymentsProcessed": 151,
                              "numPaymentsIncomplete": 65,
                              "numPaymentsWithRefunds": 114,
                              "numCardPresentPayments": 20,
                              "numCardNotPresentPayments": 45,
                              "totalCapturedAmount": 213302.9,
                              "totalRefundedAmount": 49737.46,
                              "totalNetCapturedAmount": 163565.44,
                              "averageNetCapturedAmount": 1083.21,
                              "minNetCapturedAmount": 76.48,
                              "maxNetCapturedAmount": 5670.6
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-04-25T00:00:00+00:00",
                                "description": "Start time of the PaymentAnalyticsData interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-04-26T00:00:00+00:00",
                                "description": "End time of the PaymentAnalyticsData interval",
                                "enum": []
                              },
                              "numPaymentsCreated": {
                                "type": "integer",
                                "example": 839,
                                "description": "Total number of payment records created in the interval",
                                "enum": []
                              },
                              "numPaymentsProcessed": {
                                "type": "integer",
                                "example": 714,
                                "description": "Number of payments that have successfully had funds captured (captured amount > 0)",
                                "enum": []
                              },
                              "numPaymentsIncomplete": {
                                "type": "integer",
                                "example": 125,
                                "description": "Number of payments which have been created but funds have not been captured yet (e.g. failures, declines, authorizations, etc.)",
                                "enum": []
                              },
                              "numPaymentsWithRefunds": {
                                "type": "integer",
                                "example": 506,
                                "description": "Number of payments that have had one or more refunds (refunded amount > 0)",
                                "enum": []
                              },
                              "numCardPresentPayments": {
                                "type": "integer",
                                "example": 116,
                                "description": "Number of payments made with card present (e.g. via terminal device)",
                                "enum": []
                              },
                              "numCardNotPresentPayments": {
                                "type": "integer",
                                "example": 9,
                                "description": "Number of payments made with card not present (e.g. online payments)",
                                "enum": []
                              },
                              "totalCapturedAmount": {
                                "type": "number",
                                "example": 589997.65,
                                "description": "Total amount captured across all payments in the interval",
                                "enum": []
                              },
                              "totalRefundedAmount": {
                                "type": "number",
                                "example": 43979.52,
                                "description": "Total amount refunded across all payments in the interval",
                                "enum": []
                              },
                              "totalNetCapturedAmount": {
                                "type": "number",
                                "example": 546018.13,
                                "description": "Net captured amount (captured - refunded) across all payments in the interval",
                                "enum": []
                              },
                              "averageNetCapturedAmount": {
                                "type": "number",
                                "example": 764.73,
                                "description": "Average net captured amount per payment in the interval",
                                "enum": []
                              },
                              "minNetCapturedAmount": {
                                "type": "number",
                                "example": 72.5,
                                "description": "Minimum net captured amount in the interval",
                                "enum": []
                              },
                              "maxNetCapturedAmount": {
                                "type": "number",
                                "example": 8307.48,
                                "description": "Maximum net captured amount in the interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-04-25T00:00:00+00:00",
                      "periodEnd": "2026-05-02T00:00:00+00:00",
                      "activeCustomers": 208,
                      "newCustomers": 115,
                      "returningCustomers": 93,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-04-25T00:00:00+00:00",
                          "intervalEnd": "2026-04-26T00:00:00+00:00",
                          "activeCustomers": 10,
                          "newCustomers": 7,
                          "returningCustomers": 3
                        },
                        {
                          "intervalStart": "2026-04-26T00:00:00+00:00",
                          "intervalEnd": "2026-04-27T00:00:00+00:00",
                          "activeCustomers": 32,
                          "newCustomers": 25,
                          "returningCustomers": 7
                        },
                        {
                          "intervalStart": "2026-04-27T00:00:00+00:00",
                          "intervalEnd": "2026-04-28T00:00:00+00:00",
                          "activeCustomers": 13,
                          "newCustomers": 7,
                          "returningCustomers": 6
                        },
                        {
                          "intervalStart": "2026-04-28T00:00:00+00:00",
                          "intervalEnd": "2026-04-29T00:00:00+00:00",
                          "activeCustomers": 41,
                          "newCustomers": 34,
                          "returningCustomers": 7
                        },
                        {
                          "intervalStart": "2026-04-29T00:00:00+00:00",
                          "intervalEnd": "2026-04-30T00:00:00+00:00",
                          "activeCustomers": 32,
                          "newCustomers": 29,
                          "returningCustomers": 3
                        },
                        {
                          "intervalStart": "2026-04-30T00:00:00+00:00",
                          "intervalEnd": "2026-05-01T00:00:00+00:00",
                          "activeCustomers": 89,
                          "newCustomers": 7,
                          "returningCustomers": 82
                        },
                        {
                          "intervalStart": "2026-05-01T00:00:00+00:00",
                          "intervalEnd": "2026-05-02T00:00:00+00:00",
                          "activeCustomers": 60,
                          "newCustomers": 6,
                          "returningCustomers": 54
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-04-25T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-05-02T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "activeCustomers": {
                          "type": "integer",
                          "example": 208,
                          "description": "number of customers who are associated with at least one payment which was created in the period",
                          "enum": []
                        },
                        "newCustomers": {
                          "type": "integer",
                          "example": 115,
                          "description": "number of new customers added in the period",
                          "enum": []
                        },
                        "returningCustomers": {
                          "type": "integer",
                          "example": 93,
                          "description": "number of customers who were active in the period but were created before the period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-04-25T00:00:00+00:00",
                              "intervalEnd": "2026-04-26T00:00:00+00:00",
                              "activeCustomers": 10,
                              "newCustomers": 7,
                              "returningCustomers": 3
                            },
                            {
                              "intervalStart": "2026-04-26T00:00:00+00:00",
                              "intervalEnd": "2026-04-27T00:00:00+00:00",
                              "activeCustomers": 32,
                              "newCustomers": 25,
                              "returningCustomers": 7
                            },
                            {
                              "intervalStart": "2026-04-27T00:00:00+00:00",
                              "intervalEnd": "2026-04-28T00:00:00+00:00",
                              "activeCustomers": 13,
                              "newCustomers": 7,
                              "returningCustomers": 6
                            },
                            {
                              "intervalStart": "2026-04-28T00:00:00+00:00",
                              "intervalEnd": "2026-04-29T00:00:00+00:00",
                              "activeCustomers": 41,
                              "newCustomers": 34,
                              "returningCustomers": 7
                            },
                            {
                              "intervalStart": "2026-04-29T00:00:00+00:00",
                              "intervalEnd": "2026-04-30T00:00:00+00:00",
                              "activeCustomers": 32,
                              "newCustomers": 29,
                              "returningCustomers": 3
                            },
                            {
                              "intervalStart": "2026-04-30T00:00:00+00:00",
                              "intervalEnd": "2026-05-01T00:00:00+00:00",
                              "activeCustomers": 89,
                              "newCustomers": 7,
                              "returningCustomers": 82
                            },
                            {
                              "intervalStart": "2026-05-01T00:00:00+00:00",
                              "intervalEnd": "2026-05-02T00:00:00+00:00",
                              "activeCustomers": 60,
                              "newCustomers": 6,
                              "returningCustomers": 54
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-04-25T00:00:00+00:00",
                                "description": "Start time of the analytics calculation interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-04-26T00:00:00+00:00",
                                "description": "End time of the analytics calculation interval",
                                "enum": []
                              },
                              "activeCustomers": {
                                "type": "integer",
                                "example": 10,
                                "description": "number of customers who are associated with at least one payment which was created in the interval",
                                "enum": []
                              },
                              "newCustomers": {
                                "type": "integer",
                                "example": 7,
                                "description": "number of new customers added in the interval",
                                "enum": []
                              },
                              "returningCustomers": {
                                "type": "integer",
                                "example": 3,
                                "description": "number of customers who were active in the interval but were created before the interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-04-25T00:00:00+00:00",
                      "periodEnd": "2026-05-02T00:00:00+00:00",
                      "totalTransactions": 3460,
                      "authorizeTransactions": 199,
                      "captureTransactions": 237,
                      "payTransactions": 1067,
                      "refundTransactions": 1291,
                      "verifyTransactions": 359,
                      "voidTransactions": 307,
                      "successfulTransactions": 3110,
                      "failedTransactions": 224,
                      "declinedTransactions": 101,
                      "pendingTransactions": 25,
                      "unknownTransactions": 0,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-04-25T00:00:00+00:00",
                          "intervalEnd": "2026-04-26T00:00:00+00:00",
                          "totalTransactions": 594,
                          "authorizeTransactions": 24,
                          "captureTransactions": 34,
                          "payTransactions": 101,
                          "refundTransactions": 140,
                          "verifyTransactions": 213,
                          "voidTransactions": 82,
                          "successfulTransactions": 534,
                          "failedTransactions": 30,
                          "declinedTransactions": 25,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-26T00:00:00+00:00",
                          "intervalEnd": "2026-04-27T00:00:00+00:00",
                          "totalTransactions": 816,
                          "authorizeTransactions": 22,
                          "captureTransactions": 27,
                          "payTransactions": 43,
                          "refundTransactions": 581,
                          "verifyTransactions": 93,
                          "voidTransactions": 50,
                          "successfulTransactions": 734,
                          "failedTransactions": 51,
                          "declinedTransactions": 28,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-27T00:00:00+00:00",
                          "intervalEnd": "2026-04-28T00:00:00+00:00",
                          "totalTransactions": 387,
                          "authorizeTransactions": 25,
                          "captureTransactions": 28,
                          "payTransactions": 211,
                          "refundTransactions": 85,
                          "verifyTransactions": 17,
                          "voidTransactions": 21,
                          "successfulTransactions": 348,
                          "failedTransactions": 24,
                          "declinedTransactions": 13,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-28T00:00:00+00:00",
                          "intervalEnd": "2026-04-29T00:00:00+00:00",
                          "totalTransactions": 175,
                          "authorizeTransactions": 17,
                          "captureTransactions": 20,
                          "payTransactions": 130,
                          "refundTransactions": 6,
                          "verifyTransactions": 5,
                          "voidTransactions": -3,
                          "successfulTransactions": 157,
                          "failedTransactions": 15,
                          "declinedTransactions": 2,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-29T00:00:00+00:00",
                          "intervalEnd": "2026-04-30T00:00:00+00:00",
                          "totalTransactions": 784,
                          "authorizeTransactions": 77,
                          "captureTransactions": 83,
                          "payTransactions": 381,
                          "refundTransactions": 221,
                          "verifyTransactions": 19,
                          "voidTransactions": 3,
                          "successfulTransactions": 705,
                          "failedTransactions": 58,
                          "declinedTransactions": 14,
                          "pendingTransactions": 7,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-30T00:00:00+00:00",
                          "intervalEnd": "2026-05-01T00:00:00+00:00",
                          "totalTransactions": 401,
                          "authorizeTransactions": 17,
                          "captureTransactions": 19,
                          "payTransactions": 74,
                          "refundTransactions": 159,
                          "verifyTransactions": 6,
                          "voidTransactions": 126,
                          "successfulTransactions": 360,
                          "failedTransactions": 23,
                          "declinedTransactions": 14,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-05-01T00:00:00+00:00",
                          "intervalEnd": "2026-05-02T00:00:00+00:00",
                          "totalTransactions": 303,
                          "authorizeTransactions": 17,
                          "captureTransactions": 26,
                          "payTransactions": 127,
                          "refundTransactions": 99,
                          "verifyTransactions": 6,
                          "voidTransactions": 28,
                          "successfulTransactions": 272,
                          "failedTransactions": 23,
                          "declinedTransactions": 5,
                          "pendingTransactions": 3,
                          "unknownTransactions": 0
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-04-25T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-05-02T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "totalTransactions": {
                          "type": "integer",
                          "example": 3460,
                          "description": "Total number of transactions in the period",
                          "enum": []
                        },
                        "authorizeTransactions": {
                          "type": "integer",
                          "example": 199,
                          "description": "Number of authorize transactions in the period",
                          "enum": []
                        },
                        "captureTransactions": {
                          "type": "integer",
                          "example": 237,
                          "description": "Number of capture transactions in the period",
                          "enum": []
                        },
                        "payTransactions": {
                          "type": "integer",
                          "example": 1067,
                          "description": "Number of pay transactions in the period",
                          "enum": []
                        },
                        "refundTransactions": {
                          "type": "integer",
                          "example": 1291,
                          "description": "Number of refund transactions in the period",
                          "enum": []
                        },
                        "verifyTransactions": {
                          "type": "integer",
                          "example": 359,
                          "description": "Number of verify transactions in the period",
                          "enum": []
                        },
                        "voidTransactions": {
                          "type": "integer",
                          "example": 307,
                          "description": "Number of void transactions in the period",
                          "enum": []
                        },
                        "successfulTransactions": {
                          "type": "integer",
                          "example": 3110,
                          "description": "Number of successful transactions in the period",
                          "enum": []
                        },
                        "failedTransactions": {
                          "type": "integer",
                          "example": 224,
                          "description": "Number of failed transactions in the period",
                          "enum": []
                        },
                        "declinedTransactions": {
                          "type": "integer",
                          "example": 101,
                          "description": "Number of declined transactions in the period",
                          "enum": []
                        },
                        "pendingTransactions": {
                          "type": "integer",
                          "example": 25,
                          "description": "Number of pending transactions in the period",
                          "enum": []
                        },
                        "unknownTransactions": {
                          "type": "integer",
                          "example": 0,
                          "description": "Number of transactions with unknown result in the period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-04-25T00:00:00+00:00",
                              "intervalEnd": "2026-04-26T00:00:00+00:00",
                              "totalTransactions": 594,
                              "authorizeTransactions": 24,
                              "captureTransactions": 34,
                              "payTransactions": 101,
                              "refundTransactions": 140,
                              "verifyTransactions": 213,
                              "voidTransactions": 82,
                              "successfulTransactions": 534,
                              "failedTransactions": 30,
                              "declinedTransactions": 25,
                              "pendingTransactions": 5,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-04-26T00:00:00+00:00",
                              "intervalEnd": "2026-04-27T00:00:00+00:00",
                              "totalTransactions": 816,
                              "authorizeTransactions": 22,
                              "captureTransactions": 27,
                              "payTransactions": 43,
                              "refundTransactions": 581,
                              "verifyTransactions": 93,
                              "voidTransactions": 50,
                              "successfulTransactions": 734,
                              "failedTransactions": 51,
                              "declinedTransactions": 28,
                              "pendingTransactions": 3,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-04-27T00:00:00+00:00",
                              "intervalEnd": "2026-04-28T00:00:00+00:00",
                              "totalTransactions": 387,
                              "authorizeTransactions": 25,
                              "captureTransactions": 28,
                              "payTransactions": 211,
                              "refundTransactions": 85,
                              "verifyTransactions": 17,
                              "voidTransactions": 21,
                              "successfulTransactions": 348,
                              "failedTransactions": 24,
                              "declinedTransactions": 13,
                              "pendingTransactions": 2,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-04-28T00:00:00+00:00",
                              "intervalEnd": "2026-04-29T00:00:00+00:00",
                              "totalTransactions": 175,
                              "authorizeTransactions": 17,
                              "captureTransactions": 20,
                              "payTransactions": 130,
                              "refundTransactions": 6,
                              "verifyTransactions": 5,
                              "voidTransactions": -3,
                              "successfulTransactions": 157,
                              "failedTransactions": 15,
                              "declinedTransactions": 2,
                              "pendingTransactions": 1,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-04-29T00:00:00+00:00",
                              "intervalEnd": "2026-04-30T00:00:00+00:00",
                              "totalTransactions": 784,
                              "authorizeTransactions": 77,
                              "captureTransactions": 83,
                              "payTransactions": 381,
                              "refundTransactions": 221,
                              "verifyTransactions": 19,
                              "voidTransactions": 3,
                              "successfulTransactions": 705,
                              "failedTransactions": 58,
                              "declinedTransactions": 14,
                              "pendingTransactions": 7,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-04-30T00:00:00+00:00",
                              "intervalEnd": "2026-05-01T00:00:00+00:00",
                              "totalTransactions": 401,
                              "authorizeTransactions": 17,
                              "captureTransactions": 19,
                              "payTransactions": 74,
                              "refundTransactions": 159,
                              "verifyTransactions": 6,
                              "voidTransactions": 126,
                              "successfulTransactions": 360,
                              "failedTransactions": 23,
                              "declinedTransactions": 14,
                              "pendingTransactions": 4,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-05-01T00:00:00+00:00",
                              "intervalEnd": "2026-05-02T00:00:00+00:00",
                              "totalTransactions": 303,
                              "authorizeTransactions": 17,
                              "captureTransactions": 26,
                              "payTransactions": 127,
                              "refundTransactions": 99,
                              "verifyTransactions": 6,
                              "voidTransactions": 28,
                              "successfulTransactions": 272,
                              "failedTransactions": 23,
                              "declinedTransactions": 5,
                              "pendingTransactions": 3,
                              "unknownTransactions": 0
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-04-25T00:00:00+00:00",
                                "description": "Start time of the analytics calculation interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-04-26T00:00:00+00:00",
                                "description": "End time of the analytics calculation interval",
                                "enum": []
                              },
                              "totalTransactions": {
                                "type": "integer",
                                "example": 594,
                                "description": "Total number of transactions in the interval",
                                "enum": []
                              },
                              "authorizeTransactions": {
                                "type": "integer",
                                "example": 24,
                                "description": "Number of authorize transactions in the interval",
                                "enum": []
                              },
                              "captureTransactions": {
                                "type": "integer",
                                "example": 34,
                                "description": "Number of capture transactions in the interval",
                                "enum": []
                              },
                              "payTransactions": {
                                "type": "integer",
                                "example": 101,
                                "description": "Number of pay transactions in the interval",
                                "enum": []
                              },
                              "refundTransactions": {
                                "type": "integer",
                                "example": 140,
                                "description": "Number of refund transactions in the interval",
                                "enum": []
                              },
                              "verifyTransactions": {
                                "type": "integer",
                                "example": 213,
                                "description": "Number of verify transactions in the interval",
                                "enum": []
                              },
                              "voidTransactions": {
                                "type": "integer",
                                "example": 82,
                                "description": "Number of void transactions in the interval",
                                "enum": []
                              },
                              "successfulTransactions": {
                                "type": "integer",
                                "example": 534,
                                "description": "Number of successful transactions in the interval",
                                "enum": []
                              },
                              "failedTransactions": {
                                "type": "integer",
                                "example": 30,
                                "description": "Number of failed transactions in the interval",
                                "enum": []
                              },
                              "declinedTransactions": {
                                "type": "integer",
                                "example": 25,
                                "description": "Number of declined transactions in the interval",
                                "enum": []
                              },
                              "pendingTransactions": {
                                "type": "integer",
                                "example": 5,
                                "description": "Number of pending transactions in the interval",
                                "enum": []
                              },
                              "unknownTransactions": {
                                "type": "integer",
                                "example": 0,
                                "description": "Number of transactions with unknown result in the interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-04-25T00:00:00+00:00",
                      "periodEnd": "2026-05-02T00:00:00+00:00",
                      "totalSettlementAmount": 29527.81,
                      "totalFeeAmount": 1446.86269,
                      "totalNetAmount": 28080.94731,
                      "totalTransactionsPending": 198,
                      "totalTransactionsSettled": 1213,
                      "totalTransactionsSettling": 783,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-04-25T00:00:00+00:00",
                          "intervalEnd": "2026-04-26T00:00:00+00:00",
                          "totalSettlementAmount": 3276.43,
                          "totalFeeAmount": 160.54507,
                          "totalNetAmount": 3115.88493,
                          "totalTransactionsPending": 36,
                          "totalTransactionsSettled": 129,
                          "totalTransactionsSettling": 15
                        },
                        {
                          "intervalStart": "2026-04-26T00:00:00+00:00",
                          "intervalEnd": "2026-04-27T00:00:00+00:00",
                          "totalSettlementAmount": 1695.33,
                          "totalFeeAmount": 83.07117,
                          "totalNetAmount": 1612.25883,
                          "totalTransactionsPending": 33,
                          "totalTransactionsSettled": 238,
                          "totalTransactionsSettling": 149
                        },
                        {
                          "intervalStart": "2026-04-27T00:00:00+00:00",
                          "intervalEnd": "2026-04-28T00:00:00+00:00",
                          "totalSettlementAmount": 4289.07,
                          "totalFeeAmount": 210.16443,
                          "totalNetAmount": 4078.90557,
                          "totalTransactionsPending": 32,
                          "totalTransactionsSettled": 258,
                          "totalTransactionsSettling": 32
                        },
                        {
                          "intervalStart": "2026-04-28T00:00:00+00:00",
                          "intervalEnd": "2026-04-29T00:00:00+00:00",
                          "totalSettlementAmount": 888.65,
                          "totalFeeAmount": 43.54385,
                          "totalNetAmount": 845.10615,
                          "totalTransactionsPending": 30,
                          "totalTransactionsSettled": 126,
                          "totalTransactionsSettling": 173
                        },
                        {
                          "intervalStart": "2026-04-29T00:00:00+00:00",
                          "intervalEnd": "2026-04-30T00:00:00+00:00",
                          "totalSettlementAmount": 8047.69,
                          "totalFeeAmount": 394.33681,
                          "totalNetAmount": 7653.35319,
                          "totalTransactionsPending": 26,
                          "totalTransactionsSettled": 126,
                          "totalTransactionsSettling": 176
                        },
                        {
                          "intervalStart": "2026-04-30T00:00:00+00:00",
                          "intervalEnd": "2026-05-01T00:00:00+00:00",
                          "totalSettlementAmount": 6470.96,
                          "totalFeeAmount": 317.07704,
                          "totalNetAmount": 6153.88296,
                          "totalTransactionsPending": 9,
                          "totalTransactionsSettled": 115,
                          "totalTransactionsSettling": 181
                        },
                        {
                          "intervalStart": "2026-05-01T00:00:00+00:00",
                          "intervalEnd": "2026-05-02T00:00:00+00:00",
                          "totalSettlementAmount": 4859.68,
                          "totalFeeAmount": 238.12432,
                          "totalNetAmount": 4621.55568,
                          "totalTransactionsPending": 32,
                          "totalTransactionsSettled": 221,
                          "totalTransactionsSettling": 57
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-04-25T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-05-02T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "totalSettlementAmount": {
                          "type": "number",
                          "example": 29527.81,
                          "description": "Total settled payout amount in this period",
                          "enum": []
                        },
                        "totalFeeAmount": {
                          "type": "number",
                          "example": 1446.86269,
                          "description": "Total amount of fees charged for the payouts in this period",
                          "enum": []
                        },
                        "totalNetAmount": {
                          "type": "number",
                          "example": 28080.94731,
                          "description": "Total net payout amount in this period",
                          "enum": []
                        },
                        "totalTransactionsPending": {
                          "type": "integer",
                          "example": 198,
                          "description": "Total number of transactions pending in this period",
                          "enum": []
                        },
                        "totalTransactionsSettled": {
                          "type": "integer",
                          "example": 1213,
                          "description": "Total number of transactions settled in this period",
                          "enum": []
                        },
                        "totalTransactionsSettling": {
                          "type": "integer",
                          "example": 783,
                          "description": "Total number of transactions settling in this period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-04-25T00:00:00+00:00",
                              "intervalEnd": "2026-04-26T00:00:00+00:00",
                              "totalSettlementAmount": 3276.43,
                              "totalFeeAmount": 160.54507,
                              "totalNetAmount": 3115.88493,
                              "totalTransactionsPending": 36,
                              "totalTransactionsSettled": 129,
                              "totalTransactionsSettling": 15
                            },
                            {
                              "intervalStart": "2026-04-26T00:00:00+00:00",
                              "intervalEnd": "2026-04-27T00:00:00+00:00",
                              "totalSettlementAmount": 1695.33,
                              "totalFeeAmount": 83.07117,
                              "totalNetAmount": 1612.25883,
                              "totalTransactionsPending": 33,
                              "totalTransactionsSettled": 238,
                              "totalTransactionsSettling": 149
                            },
                            {
                              "intervalStart": "2026-04-27T00:00:00+00:00",
                              "intervalEnd": "2026-04-28T00:00:00+00:00",
                              "totalSettlementAmount": 4289.07,
                              "totalFeeAmount": 210.16443,
                              "totalNetAmount": 4078.90557,
                              "totalTransactionsPending": 32,
                              "totalTransactionsSettled": 258,
                              "totalTransactionsSettling": 32
                            },
                            {
                              "intervalStart": "2026-04-28T00:00:00+00:00",
                              "intervalEnd": "2026-04-29T00:00:00+00:00",
                              "totalSettlementAmount": 888.65,
                              "totalFeeAmount": 43.54385,
                              "totalNetAmount": 845.10615,
                              "totalTransactionsPending": 30,
                              "totalTransactionsSettled": 126,
                              "totalTransactionsSettling": 173
                            },
                            {
                              "intervalStart": "2026-04-29T00:00:00+00:00",
                              "intervalEnd": "2026-04-30T00:00:00+00:00",
                              "totalSettlementAmount": 8047.69,
                              "totalFeeAmount": 394.33681,
                              "totalNetAmount": 7653.35319,
                              "totalTransactionsPending": 26,
                              "totalTransactionsSettled": 126,
                              "totalTransactionsSettling": 176
                            },
                            {
                              "intervalStart": "2026-04-30T00:00:00+00:00",
                              "intervalEnd": "2026-05-01T00:00:00+00:00",
                              "totalSettlementAmount": 6470.96,
                              "totalFeeAmount": 317.07704,
                              "totalNetAmount": 6153.88296,
                              "totalTransactionsPending": 9,
                              "totalTransactionsSettled": 115,
                              "totalTransactionsSettling": 181
                            },
                            {
                              "intervalStart": "2026-05-01T00:00:00+00:00",
                              "intervalEnd": "2026-05-02T00:00:00+00:00",
                              "totalSettlementAmount": 4859.68,
                              "totalFeeAmount": 238.12432,
                              "totalNetAmount": 4621.55568,
                              "totalTransactionsPending": 32,
                              "totalTransactionsSettled": 221,
                              "totalTransactionsSettling": 57
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-04-25T00:00:00+00:00",
                                "description": "Start time of the analytics calculation interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-04-26T00:00:00+00:00",
                                "description": "End time of the analytics calculation interval",
                                "enum": []
                              },
                              "totalSettlementAmount": {
                                "type": "number",
                                "example": 3276.43,
                                "description": "Total settled payout amount in this interval",
                                "enum": []
                              },
                              "totalFeeAmount": {
                                "type": "number",
                                "example": 160.54507,
                                "description": "Total amount of fees charged for the payouts in this interval",
                                "enum": []
                              },
                              "totalNetAmount": {
                                "type": "number",
                                "example": 3115.88493,
                                "description": "Total net payout amount in this interval",
                                "enum": []
                              },
                              "totalTransactionsPending": {
                                "type": "integer",
                                "example": 36,
                                "description": "Total number of transactions pending in this interval",
                                "enum": []
                              },
                              "totalTransactionsSettled": {
                                "type": "integer",
                                "example": 129,
                                "description": "Total number of transactions settled in this interval",
                                "enum": []
                              },
                              "totalTransactionsSettling": {
                                "type": "integer",
                                "example": 15,
                                "description": "Total number of transactions settling in this interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
[...]
