{
  "openapi": "3.1.0",
  "info": {
    "version": "1.20.0",
    "title": "Payments API"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "paths": {
    "/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalyticsPaymentsByOrganization",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2025-10-31T00:00:00+00:00",
                    "periodEnd": "2025-11-07T00:00:00+00:00",
                    "numPaymentsCreated": 3157,
                    "numPaymentsProcessed": 1625,
                    "numPaymentsIncomplete": 1532,
                    "numPaymentsWithRefunds": 1122,
                    "numCardPresentPayments": 1222,
                    "numCardNotPresentPayments": 310,
                    "totalCapturedAmount": 2147337.09,
                    "totalRefundedAmount": 353625.55,
                    "totalNetCapturedAmount": 1793711.54,
                    "averageNetCapturedAmount": 3033.43,
                    "minNetCapturedAmount": 13.49,
                    "maxNetCapturedAmount": 9888.87,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2025-10-31T00:00:00+00:00",
                        "intervalEnd": "2025-11-01T00:00:00+00:00",
                        "numPaymentsCreated": 672,
                        "numPaymentsProcessed": 170,
                        "numPaymentsIncomplete": 502,
                        "numPaymentsWithRefunds": 134,
                        "numCardPresentPayments": 2,
                        "numCardNotPresentPayments": 500,
                        "totalCapturedAmount": 19182.48,
                        "totalRefundedAmount": 4656.71,
                        "totalNetCapturedAmount": 14525.77,
                        "averageNetCapturedAmount": 85.45,
                        "minNetCapturedAmount": 58.09,
                        "maxNetCapturedAmount": 4197.02
                      },
                      {
                        "intervalStart": "2025-11-01T00:00:00+00:00",
                        "intervalEnd": "2025-11-02T00:00:00+00:00",
                        "numPaymentsCreated": 559,
                        "numPaymentsProcessed": 423,
                        "numPaymentsIncomplete": 136,
                        "numPaymentsWithRefunds": 407,
                        "numCardPresentPayments": 309,
                        "numCardNotPresentPayments": -173,
                        "totalCapturedAmount": 40186.36,
                        "totalRefundedAmount": 2715.55,
                        "totalNetCapturedAmount": 37470.81,
                        "averageNetCapturedAmount": 88.58,
                        "minNetCapturedAmount": 92.16,
                        "maxNetCapturedAmount": 9888.87
                      },
                      {
                        "intervalStart": "2025-11-02T00:00:00+00:00",
                        "intervalEnd": "2025-11-03T00:00:00+00:00",
                        "numPaymentsCreated": 251,
                        "numPaymentsProcessed": 104,
                        "numPaymentsIncomplete": 147,
                        "numPaymentsWithRefunds": 5,
                        "numCardPresentPayments": 82,
                        "numCardNotPresentPayments": 65,
                        "totalCapturedAmount": 395874.35,
                        "totalRefundedAmount": 63541.1,
                        "totalNetCapturedAmount": 332333.25,
                        "averageNetCapturedAmount": 3195.51,
                        "minNetCapturedAmount": 63.51,
                        "maxNetCapturedAmount": 8973.85
                      },
                      {
                        "intervalStart": "2025-11-03T00:00:00+00:00",
                        "intervalEnd": "2025-11-04T00:00:00+00:00",
                        "numPaymentsCreated": 187,
                        "numPaymentsProcessed": 72,
                        "numPaymentsIncomplete": 115,
                        "numPaymentsWithRefunds": 54,
                        "numCardPresentPayments": 9,
                        "numCardNotPresentPayments": 106,
                        "totalCapturedAmount": 779348.06,
                        "totalRefundedAmount": 86242.75,
                        "totalNetCapturedAmount": 693105.31,
                        "averageNetCapturedAmount": 9626.46,
                        "minNetCapturedAmount": 13.49,
                        "maxNetCapturedAmount": 7238.82
                      },
                      {
                        "intervalStart": "2025-11-04T00:00:00+00:00",
                        "intervalEnd": "2025-11-05T00:00:00+00:00",
                        "numPaymentsCreated": 577,
                        "numPaymentsProcessed": 447,
                        "numPaymentsIncomplete": 130,
                        "numPaymentsWithRefunds": 344,
                        "numCardPresentPayments": 433,
                        "numCardNotPresentPayments": -303,
                        "totalCapturedAmount": 125776.06,
                        "totalRefundedAmount": 30224.23,
                        "totalNetCapturedAmount": 95551.83,
                        "averageNetCapturedAmount": 213.76,
                        "minNetCapturedAmount": 83.31,
                        "maxNetCapturedAmount": 5146.69
                      },
                      {
                        "intervalStart": "2025-11-05T00:00:00+00:00",
                        "intervalEnd": "2025-11-06T00:00:00+00:00",
                        "numPaymentsCreated": 211,
                        "numPaymentsProcessed": 60,
                        "numPaymentsIncomplete": 151,
                        "numPaymentsWithRefunds": 8,
                        "numCardPresentPayments": 44,
                        "numCardNotPresentPayments": 107,
                        "totalCapturedAmount": 590806.57,
                        "totalRefundedAmount": 138266.48,
                        "totalNetCapturedAmount": 452540.09,
                        "averageNetCapturedAmount": 7542.33,
                        "minNetCapturedAmount": 56.97,
                        "maxNetCapturedAmount": 1087.5
                      },
                      {
                        "intervalStart": "2025-11-06T00:00:00+00:00",
                        "intervalEnd": "2025-11-07T00:00:00+00:00",
                        "numPaymentsCreated": 700,
                        "numPaymentsProcessed": 349,
                        "numPaymentsIncomplete": 351,
                        "numPaymentsWithRefunds": 170,
                        "numCardPresentPayments": 343,
                        "numCardNotPresentPayments": 8,
                        "totalCapturedAmount": 196163.21,
                        "totalRefundedAmount": 27978.73,
                        "totalNetCapturedAmount": 168184.48,
                        "averageNetCapturedAmount": 481.9,
                        "minNetCapturedAmount": 78.04,
                        "maxNetCapturedAmount": 6897.54
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2025-10-31T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2025-11-07T00:00:00+00:00"
                    },
                    "numPaymentsCreated": {
                      "type": "integer",
                      "example": 3157
                    },
                    "numPaymentsProcessed": {
                      "type": "integer",
                      "example": 1625
                    },
                    "numPaymentsIncomplete": {
                      "type": "integer",
                      "example": 1532
                    },
                    "numPaymentsWithRefunds": {
                      "type": "integer",
                      "example": 1122
                    },
                    "numCardPresentPayments": {
                      "type": "integer",
                      "example": 1222
                    },
                    "numCardNotPresentPayments": {
                      "type": "integer",
                      "example": 310
                    },
                    "totalCapturedAmount": {
                      "type": "number",
                      "example": 2147337.09
                    },
                    "totalRefundedAmount": {
                      "type": "number",
                      "example": 353625.55
                    },
                    "totalNetCapturedAmount": {
                      "type": "number",
                      "example": 1793711.54
                    },
                    "averageNetCapturedAmount": {
                      "type": "number",
                      "example": 3033.43
                    },
                    "minNetCapturedAmount": {
                      "type": "number",
                      "example": 13.49
                    },
                    "maxNetCapturedAmount": {
                      "type": "number",
                      "example": 9888.87
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2025-10-31T00:00:00+00:00",
                          "intervalEnd": "2025-11-01T00:00:00+00:00",
                          "numPaymentsCreated": 672,
                          "numPaymentsProcessed": 170,
                          "numPaymentsIncomplete": 502,
                          "numPaymentsWithRefunds": 134,
                          "numCardPresentPayments": 2,
                          "numCardNotPresentPayments": 500,
                          "totalCapturedAmount": 19182.48,
                          "totalRefundedAmount": 4656.71,
                          "totalNetCapturedAmount": 14525.77,
                          "averageNetCapturedAmount": 85.45,
                          "minNetCapturedAmount": 58.09,
                          "maxNetCapturedAmount": 4197.02
                        },
                        {
                          "intervalStart": "2025-11-01T00:00:00+00:00",
                          "intervalEnd": "2025-11-02T00:00:00+00:00",
                          "numPaymentsCreated": 559,
                          "numPaymentsProcessed": 423,
                          "numPaymentsIncomplete": 136,
                          "numPaymentsWithRefunds": 407,
                          "numCardPresentPayments": 309,
                          "numCardNotPresentPayments": -173,
                          "totalCapturedAmount": 40186.36,
                          "totalRefundedAmount": 2715.55,
                          "totalNetCapturedAmount": 37470.81,
                          "averageNetCapturedAmount": 88.58,
                          "minNetCapturedAmount": 92.16,
                          "maxNetCapturedAmount": 9888.87
                        },
                        {
                          "intervalStart": "2025-11-02T00:00:00+00:00",
                          "intervalEnd": "2025-11-03T00:00:00+00:00",
                          "numPaymentsCreated": 251,
                          "numPaymentsProcessed": 104,
                          "numPaymentsIncomplete": 147,
                          "numPaymentsWithRefunds": 5,
                          "numCardPresentPayments": 82,
                          "numCardNotPresentPayments": 65,
                          "totalCapturedAmount": 395874.35,
                          "totalRefundedAmount": 63541.1,
                          "totalNetCapturedAmount": 332333.25,
                          "averageNetCapturedAmount": 3195.51,
                          "minNetCapturedAmount": 63.51,
                          "maxNetCapturedAmount": 8973.85
                        },
                        {
                          "intervalStart": "2025-11-03T00:00:00+00:00",
                          "intervalEnd": "2025-11-04T00:00:00+00:00",
                          "numPaymentsCreated": 187,
                          "numPaymentsProcessed": 72,
                          "numPaymentsIncomplete": 115,
                          "numPaymentsWithRefunds": 54,
                          "numCardPresentPayments": 9,
                          "numCardNotPresentPayments": 106,
                          "totalCapturedAmount": 779348.06,
                          "totalRefundedAmount": 86242.75,
                          "totalNetCapturedAmount": 693105.31,
                          "averageNetCapturedAmount": 9626.46,
                          "minNetCapturedAmount": 13.49,
                          "maxNetCapturedAmount": 7238.82
                        },
                        {
                          "intervalStart": "2025-11-04T00:00:00+00:00",
                          "intervalEnd": "2025-11-05T00:00:00+00:00",
                          "numPaymentsCreated": 577,
                          "numPaymentsProcessed": 447,
                          "numPaymentsIncomplete": 130,
                          "numPaymentsWithRefunds": 344,
                          "numCardPresentPayments": 433,
                          "numCardNotPresentPayments": -303,
                          "totalCapturedAmount": 125776.06,
                          "totalRefundedAmount": 30224.23,
                          "totalNetCapturedAmount": 95551.83,
                          "averageNetCapturedAmount": 213.76,
                          "minNetCapturedAmount": 83.31,
                          "maxNetCapturedAmount": 5146.69
                        },
                        {
                          "intervalStart": "2025-11-05T00:00:00+00:00",
                          "intervalEnd": "2025-11-06T00:00:00+00:00",
                          "numPaymentsCreated": 211,
                          "numPaymentsProcessed": 60,
                          "numPaymentsIncomplete": 151,
                          "numPaymentsWithRefunds": 8,
                          "numCardPresentPayments": 44,
                          "numCardNotPresentPayments": 107,
                          "totalCapturedAmount": 590806.57,
                          "totalRefundedAmount": 138266.48,
                          "totalNetCapturedAmount": 452540.09,
                          "averageNetCapturedAmount": 7542.33,
                          "minNetCapturedAmount": 56.97,
                          "maxNetCapturedAmount": 1087.5
                        },
                        {
                          "intervalStart": "2025-11-06T00:00:00+00:00",
                          "intervalEnd": "2025-11-07T00:00:00+00:00",
                          "numPaymentsCreated": 700,
                          "numPaymentsProcessed": 349,
                          "numPaymentsIncomplete": 351,
                          "numPaymentsWithRefunds": 170,
                          "numCardPresentPayments": 343,
                          "numCardNotPresentPayments": 8,
                          "totalCapturedAmount": 196163.21,
                          "totalRefundedAmount": 27978.73,
                          "totalNetCapturedAmount": 168184.48,
                          "averageNetCapturedAmount": 481.9,
                          "minNetCapturedAmount": 78.04,
                          "maxNetCapturedAmount": 6897.54
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2025-10-31T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2025-11-01T00:00:00+00:00"
                          },
                          "numPaymentsCreated": {
                            "type": "integer",
                            "example": 672
                          },
                          "numPaymentsProcessed": {
                            "type": "integer",
                            "example": 170
                          },
                          "numPaymentsIncomplete": {
                            "type": "integer",
                            "example": 502
                          },
                          "numPaymentsWithRefunds": {
                            "type": "integer",
                            "example": 134
                          },
                          "numCardPresentPayments": {
                            "type": "integer",
                            "example": 2
                          },
                          "numCardNotPresentPayments": {
                            "type": "integer",
                            "example": 500
                          },
                          "totalCapturedAmount": {
                            "type": "number",
                            "example": 19182.48
                          },
                          "totalRefundedAmount": {
                            "type": "number",
                            "example": 4656.71
                          },
                          "totalNetCapturedAmount": {
                            "type": "number",
                            "example": 14525.77
                          },
                          "averageNetCapturedAmount": {
                            "type": "number",
                            "example": 85.45
                          },
                          "minNetCapturedAmount": {
                            "type": "number",
                            "example": 58.09
                          },
                          "maxNetCapturedAmount": {
                            "type": "number",
                            "example": 4197.02
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalyticsCustomersByOrganization",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2025-10-31T00:00:00+00:00",
                    "periodEnd": "2025-11-07T00:00:00+00:00",
                    "activeCustomers": 320,
                    "newCustomers": 171,
                    "returningCustomers": 149,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2025-10-31T00:00:00+00:00",
                        "intervalEnd": "2025-11-01T00:00:00+00:00",
                        "activeCustomers": 44,
                        "newCustomers": 12,
                        "returningCustomers": 32
                      },
                      {
                        "intervalStart": "2025-11-01T00:00:00+00:00",
                        "intervalEnd": "2025-11-02T00:00:00+00:00",
                        "activeCustomers": 19,
                        "newCustomers": 14,
                        "returningCustomers": 5
                      },
                      {
                        "intervalStart": "2025-11-02T00:00:00+00:00",
                        "intervalEnd": "2025-11-03T00:00:00+00:00",
                        "activeCustomers": 37,
                        "newCustomers": 13,
                        "returningCustomers": 24
                      },
                      {
                        "intervalStart": "2025-11-03T00:00:00+00:00",
                        "intervalEnd": "2025-11-04T00:00:00+00:00",
                        "activeCustomers": 80,
                        "newCustomers": 35,
                        "returningCustomers": 45
                      },
                      {
                        "intervalStart": "2025-11-04T00:00:00+00:00",
                        "intervalEnd": "2025-11-05T00:00:00+00:00",
                        "activeCustomers": 32,
                        "newCustomers": 24,
                        "returningCustomers": 8
                      },
                      {
                        "intervalStart": "2025-11-05T00:00:00+00:00",
                        "intervalEnd": "2025-11-06T00:00:00+00:00",
                        "activeCustomers": 70,
                        "newCustomers": 41,
                        "returningCustomers": 29
                      },
                      {
                        "intervalStart": "2025-11-06T00:00:00+00:00",
                        "intervalEnd": "2025-11-07T00:00:00+00:00",
                        "activeCustomers": 60,
                        "newCustomers": 32,
                        "returningCustomers": 28
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2025-10-31T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2025-11-07T00:00:00+00:00"
                    },
                    "activeCustomers": {
                      "type": "integer",
                      "example": 320
                    },
                    "newCustomers": {
                      "type": "integer",
                      "example": 171
                    },
                    "returningCustomers": {
                      "type": "integer",
                      "example": 149
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2025-10-31T00:00:00+00:00",
                          "intervalEnd": "2025-11-01T00:00:00+00:00",
                          "activeCustomers": 44,
                          "newCustomers": 12,
                          "returningCustomers": 32
                        },
                        {
                          "intervalStart": "2025-11-01T00:00:00+00:00",
                          "intervalEnd": "2025-11-02T00:00:00+00:00",
                          "activeCustomers": 19,
                          "newCustomers": 14,
                          "returningCustomers": 5
                        },
                        {
                          "intervalStart": "2025-11-02T00:00:00+00:00",
                          "intervalEnd": "2025-11-03T00:00:00+00:00",
                          "activeCustomers": 37,
                          "newCustomers": 13,
                          "returningCustomers": 24
                        },
                        {
                          "intervalStart": "2025-11-03T00:00:00+00:00",
                          "intervalEnd": "2025-11-04T00:00:00+00:00",
                          "activeCustomers": 80,
                          "newCustomers": 35,
                          "returningCustomers": 45
                        },
                        {
                          "intervalStart": "2025-11-04T00:00:00+00:00",
                          "intervalEnd": "2025-11-05T00:00:00+00:00",
                          "activeCustomers": 32,
                          "newCustomers": 24,
                          "returningCustomers": 8
                        },
                        {
                          "intervalStart": "2025-11-05T00:00:00+00:00",
                          "intervalEnd": "2025-11-06T00:00:00+00:00",
                          "activeCustomers": 70,
                          "newCustomers": 41,
                          "returningCustomers": 29
                        },
                        {
                          "intervalStart": "2025-11-06T00:00:00+00:00",
                          "intervalEnd": "2025-11-07T00:00:00+00:00",
                          "activeCustomers": 60,
                          "newCustomers": 32,
                          "returningCustomers": 28
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2025-10-31T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2025-11-01T00:00:00+00:00"
                          },
                          "activeCustomers": {
                            "type": "integer",
                            "example": 44
                          },
                          "newCustomers": {
                            "type": "integer",
                            "example": 12
                          },
                          "returningCustomers": {
                            "type": "integer",
                            "example": 32
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalyticsTransactionsByOrganization",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2025-10-31T00:00:00+00:00",
                    "periodEnd": "2025-11-07T00:00:00+00:00",
                    "totalTransactions": 3319,
                    "authorizeTransactions": 211,
                    "captureTransactions": 246,
                    "payTransactions": 1375,
                    "refundTransactions": 542,
                    "verifyTransactions": 520,
                    "voidTransactions": 425,
                    "successfulTransactions": 2983,
                    "failedTransactions": 313,
                    "pendingTransactions": 23,
                    "unknownTransactions": 0,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2025-10-31T00:00:00+00:00",
                        "intervalEnd": "2025-11-01T00:00:00+00:00",
                        "totalTransactions": 677,
                        "authorizeTransactions": 38,
                        "captureTransactions": 43,
                        "payTransactions": 579,
                        "refundTransactions": 11,
                        "verifyTransactions": 5,
                        "voidTransactions": 1,
                        "successfulTransactions": 609,
                        "failedTransactions": 67,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-01T00:00:00+00:00",
                        "intervalEnd": "2025-11-02T00:00:00+00:00",
                        "totalTransactions": 572,
                        "authorizeTransactions": 60,
                        "captureTransactions": 62,
                        "payTransactions": 89,
                        "refundTransactions": 151,
                        "verifyTransactions": 190,
                        "voidTransactions": 20,
                        "successfulTransactions": 514,
                        "failedTransactions": 53,
                        "pendingTransactions": 5,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-02T00:00:00+00:00",
                        "intervalEnd": "2025-11-03T00:00:00+00:00",
                        "totalTransactions": 601,
                        "authorizeTransactions": 48,
                        "captureTransactions": 51,
                        "payTransactions": 376,
                        "refundTransactions": 37,
                        "verifyTransactions": 75,
                        "voidTransactions": 14,
                        "successfulTransactions": 540,
                        "failedTransactions": 55,
                        "pendingTransactions": 6,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-03T00:00:00+00:00",
                        "intervalEnd": "2025-11-04T00:00:00+00:00",
                        "totalTransactions": 195,
                        "authorizeTransactions": 21,
                        "captureTransactions": 26,
                        "payTransactions": 57,
                        "refundTransactions": 78,
                        "verifyTransactions": 8,
                        "voidTransactions": 5,
                        "successfulTransactions": 175,
                        "failedTransactions": 19,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-04T00:00:00+00:00",
                        "intervalEnd": "2025-11-05T00:00:00+00:00",
                        "totalTransactions": 286,
                        "authorizeTransactions": 16,
                        "captureTransactions": 19,
                        "payTransactions": 157,
                        "refundTransactions": 30,
                        "verifyTransactions": 39,
                        "voidTransactions": 25,
                        "successfulTransactions": 257,
                        "failedTransactions": 27,
                        "pendingTransactions": 2,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-05T00:00:00+00:00",
                        "intervalEnd": "2025-11-06T00:00:00+00:00",
                        "totalTransactions": 837,
                        "authorizeTransactions": 14,
                        "captureTransactions": 23,
                        "payTransactions": 33,
                        "refundTransactions": 223,
                        "verifyTransactions": 198,
                        "voidTransactions": 346,
                        "successfulTransactions": 753,
                        "failedTransactions": 77,
                        "pendingTransactions": 7,
                        "unknownTransactions": 0
                      },
                      {
                        "intervalStart": "2025-11-06T00:00:00+00:00",
                        "intervalEnd": "2025-11-07T00:00:00+00:00",
                        "totalTransactions": 151,
                        "authorizeTransactions": 14,
                        "captureTransactions": 22,
                        "payTransactions": 84,
                        "refundTransactions": 12,
                        "verifyTransactions": 5,
                        "voidTransactions": 14,
                        "successfulTransactions": 135,
                        "failedTransactions": 15,
                        "pendingTransactions": 1,
                        "unknownTransactions": 0
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2025-10-31T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2025-11-07T00:00:00+00:00"
                    },
                    "totalTransactions": {
                      "type": "integer",
                      "example": 3319
                    },
                    "authorizeTransactions": {
                      "type": "integer",
                      "example": 211
                    },
                    "captureTransactions": {
                      "type": "integer",
                      "example": 246
                    },
                    "payTransactions": {
                      "type": "integer",
                      "example": 1375
                    },
                    "refundTransactions": {
                      "type": "integer",
                      "example": 542
                    },
                    "verifyTransactions": {
                      "type": "integer",
                      "example": 520
                    },
                    "voidTransactions": {
                      "type": "integer",
                      "example": 425
                    },
                    "successfulTransactions": {
                      "type": "integer",
                      "example": 2983
                    },
                    "failedTransactions": {
                      "type": "integer",
                      "example": 313
                    },
                    "pendingTransactions": {
                      "type": "integer",
                      "example": 23
                    },
                    "unknownTransactions": {
                      "type": "integer",
                      "example": 0
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2025-10-31T00:00:00+00:00",
                          "intervalEnd": "2025-11-01T00:00:00+00:00",
                          "totalTransactions": 677,
                          "authorizeTransactions": 38,
                          "captureTransactions": 43,
                          "payTransactions": 579,
                          "refundTransactions": 11,
                          "verifyTransactions": 5,
                          "voidTransactions": 1,
                          "successfulTransactions": 609,
                          "failedTransactions": 67,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-01T00:00:00+00:00",
                          "intervalEnd": "2025-11-02T00:00:00+00:00",
                          "totalTransactions": 572,
                          "authorizeTransactions": 60,
                          "captureTransactions": 62,
                          "payTransactions": 89,
                          "refundTransactions": 151,
                          "verifyTransactions": 190,
                          "voidTransactions": 20,
                          "successfulTransactions": 514,
                          "failedTransactions": 53,
                          "pendingTransactions": 5,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-02T00:00:00+00:00",
                          "intervalEnd": "2025-11-03T00:00:00+00:00",
                          "totalTransactions": 601,
                          "authorizeTransactions": 48,
                          "captureTransactions": 51,
                          "payTransactions": 376,
                          "refundTransactions": 37,
                          "verifyTransactions": 75,
                          "voidTransactions": 14,
                          "successfulTransactions": 540,
                          "failedTransactions": 55,
                          "pendingTransactions": 6,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-03T00:00:00+00:00",
                          "intervalEnd": "2025-11-04T00:00:00+00:00",
                          "totalTransactions": 195,
                          "authorizeTransactions": 21,
                          "captureTransactions": 26,
                          "payTransactions": 57,
                          "refundTransactions": 78,
                          "verifyTransactions": 8,
                          "voidTransactions": 5,
                          "successfulTransactions": 175,
                          "failedTransactions": 19,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-04T00:00:00+00:00",
                          "intervalEnd": "2025-11-05T00:00:00+00:00",
                          "totalTransactions": 286,
                          "authorizeTransactions": 16,
                          "captureTransactions": 19,
                          "payTransactions": 157,
                          "refundTransactions": 30,
                          "verifyTransactions": 39,
                          "voidTransactions": 25,
                          "successfulTransactions": 257,
                          "failedTransactions": 27,
                          "pendingTransactions": 2,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-05T00:00:00+00:00",
                          "intervalEnd": "2025-11-06T00:00:00+00:00",
                          "totalTransactions": 837,
                          "authorizeTransactions": 14,
                          "captureTransactions": 23,
                          "payTransactions": 33,
                          "refundTransactions": 223,
                          "verifyTransactions": 198,
                          "voidTransactions": 346,
                          "successfulTransactions": 753,
                          "failedTransactions": 77,
                          "pendingTransactions": 7,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2025-11-06T00:00:00+00:00",
                          "intervalEnd": "2025-11-07T00:00:00+00:00",
                          "totalTransactions": 151,
                          "authorizeTransactions": 14,
                          "captureTransactions": 22,
                          "payTransactions": 84,
                          "refundTransactions": 12,
                          "verifyTransactions": 5,
                          "voidTransactions": 14,
                          "successfulTransactions": 135,
                          "failedTransactions": 15,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2025-10-31T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2025-11-01T00:00:00+00:00"
                          },
                          "totalTransactions": {
                            "type": "integer",
                            "example": 677
                          },
                          "authorizeTransactions": {
                            "type": "integer",
                            "example": 38
                          },
                          "captureTransactions": {
                            "type": "integer",
                            "example": 43
                          },
                          "payTransactions": {
                            "type": "integer",
                            "example": 579
                          },
                          "refundTransactions": {
                            "type": "integer",
                            "example": 11
                          },
                          "verifyTransactions": {
                            "type": "integer",
                            "example": 5
                          },
                          "voidTransactions": {
                            "type": "integer",
                            "example": 1
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "example": 609
                          },
                          "failedTransactions": {
                            "type": "integer",
                            "example": 67
                          },
                          "pendingTransactions": {
                            "type": "integer",
                            "example": 1
                          },
                          "unknownTransactions": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalyticsPayoutsByOrganization",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "periodStart": "2025-10-31T00:00:00+00:00",
                    "periodEnd": "2025-11-07T00:00:00+00:00",
                    "totalSettlementAmount": 42061.59,
                    "totalFeeAmount": 2061.01,
                    "totalNetAmount": 40000.58,
                    "totalTransactionsPending": 160,
                    "totalTransactionsSettled": 966,
                    "totalTransactionsSettling": 582,
                    "interval": "day",
                    "intervals": [
                      {
                        "intervalStart": "2025-10-31T00:00:00+00:00",
                        "intervalEnd": "2025-11-01T00:00:00+00:00",
                        "totalSettlementAmount": 6825.6,
                        "totalFeeAmount": 334.45,
                        "totalNetAmount": 6491.15,
                        "totalTransactionsPending": 24,
                        "totalTransactionsSettled": 73,
                        "totalTransactionsSettling": 28
                      },
                      {
                        "intervalStart": "2025-11-01T00:00:00+00:00",
                        "intervalEnd": "2025-11-02T00:00:00+00:00",
                        "totalSettlementAmount": 9216.92,
                        "totalFeeAmount": 451.63,
                        "totalNetAmount": 8765.29,
                        "totalTransactionsPending": 21,
                        "totalTransactionsSettled": 261,
                        "totalTransactionsSettling": 212
                      },
                      {
                        "intervalStart": "2025-11-02T00:00:00+00:00",
                        "intervalEnd": "2025-11-03T00:00:00+00:00",
                        "totalSettlementAmount": 8008.93,
                        "totalFeeAmount": 392.44,
                        "totalNetAmount": 7616.49,
                        "totalTransactionsPending": 16,
                        "totalTransactionsSettled": 24,
                        "totalTransactionsSettling": 87
                      },
                      {
                        "intervalStart": "2025-11-03T00:00:00+00:00",
                        "intervalEnd": "2025-11-04T00:00:00+00:00",
                        "totalSettlementAmount": 8582.92,
                        "totalFeeAmount": 420.56,
                        "totalNetAmount": 8162.36,
                        "totalTransactionsPending": 8,
                        "totalTransactionsSettled": 77,
                        "totalTransactionsSettling": 65
                      },
                      {
                        "intervalStart": "2025-11-04T00:00:00+00:00",
                        "intervalEnd": "2025-11-05T00:00:00+00:00",
                        "totalSettlementAmount": 1910.64,
                        "totalFeeAmount": 93.62,
                        "totalNetAmount": 1817.02,
                        "totalTransactionsPending": 32,
                        "totalTransactionsSettled": 398,
                        "totalTransactionsSettling": 28
                      },
                      {
                        "intervalStart": "2025-11-05T00:00:00+00:00",
                        "intervalEnd": "2025-11-06T00:00:00+00:00",
                        "totalSettlementAmount": 3993.04,
                        "totalFeeAmount": 195.66,
                        "totalNetAmount": 3797.38,
                        "totalTransactionsPending": 32,
                        "totalTransactionsSettled": 61,
                        "totalTransactionsSettling": 91
                      },
                      {
                        "intervalStart": "2025-11-06T00:00:00+00:00",
                        "intervalEnd": "2025-11-07T00:00:00+00:00",
                        "totalSettlementAmount": 3523.54,
                        "totalFeeAmount": 172.65,
                        "totalNetAmount": 3350.89,
                        "totalTransactionsPending": 27,
                        "totalTransactionsSettled": 72,
                        "totalTransactionsSettling": 71
                      }
                    ]
                  },
                  "properties": {
                    "periodStart": {
                      "type": "string",
                      "example": "2025-10-31T00:00:00+00:00"
                    },
                    "periodEnd": {
                      "type": "string",
                      "example": "2025-11-07T00:00:00+00:00"
                    },
                    "totalSettlementAmount": {
                      "type": "number",
                      "example": 42061.59
                    },
                    "totalFeeAmount": {
                      "type": "number",
                      "example": 2061.01
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "example": 40000.58
                    },
                    "totalTransactionsPending": {
                      "type": "integer",
                      "example": 160
                    },
                    "totalTransactionsSettled": {
                      "type": "integer",
                      "example": 966
                    },
                    "totalTransactionsSettling": {
                      "type": "integer",
                      "example": 582
                    },
                    "interval": {
                      "type": "string",
                      "example": "day"
                    },
                    "intervals": {
                      "type": "array",
                      "example": [
                        {
                          "intervalStart": "2025-10-31T00:00:00+00:00",
                          "intervalEnd": "2025-11-01T00:00:00+00:00",
                          "totalSettlementAmount": 6825.6,
                          "totalFeeAmount": 334.45,
                          "totalNetAmount": 6491.15,
                          "totalTransactionsPending": 24,
                          "totalTransactionsSettled": 73,
                          "totalTransactionsSettling": 28
                        },
                        {
                          "intervalStart": "2025-11-01T00:00:00+00:00",
                          "intervalEnd": "2025-11-02T00:00:00+00:00",
                          "totalSettlementAmount": 9216.92,
                          "totalFeeAmount": 451.63,
                          "totalNetAmount": 8765.29,
                          "totalTransactionsPending": 21,
                          "totalTransactionsSettled": 261,
                          "totalTransactionsSettling": 212
                        },
                        {
                          "intervalStart": "2025-11-02T00:00:00+00:00",
                          "intervalEnd": "2025-11-03T00:00:00+00:00",
                          "totalSettlementAmount": 8008.93,
                          "totalFeeAmount": 392.44,
                          "totalNetAmount": 7616.49,
                          "totalTransactionsPending": 16,
                          "totalTransactionsSettled": 24,
                          "totalTransactionsSettling": 87
                        },
                        {
                          "intervalStart": "2025-11-03T00:00:00+00:00",
                          "intervalEnd": "2025-11-04T00:00:00+00:00",
                          "totalSettlementAmount": 8582.92,
                          "totalFeeAmount": 420.56,
                          "totalNetAmount": 8162.36,
                          "totalTransactionsPending": 8,
                          "totalTransactionsSettled": 77,
                          "totalTransactionsSettling": 65
                        },
                        {
                          "intervalStart": "2025-11-04T00:00:00+00:00",
                          "intervalEnd": "2025-11-05T00:00:00+00:00",
                          "totalSettlementAmount": 1910.64,
                          "totalFeeAmount": 93.62,
                          "totalNetAmount": 1817.02,
                          "totalTransactionsPending": 32,
                          "totalTransactionsSettled": 398,
                          "totalTransactionsSettling": 28
                        },
                        {
                          "intervalStart": "2025-11-05T00:00:00+00:00",
                          "intervalEnd": "2025-11-06T00:00:00+00:00",
                          "totalSettlementAmount": 3993.04,
                          "totalFeeAmount": 195.66,
                          "totalNetAmount": 3797.38,
                          "totalTransactionsPending": 32,
                          "totalTransactionsSettled": 61,
                          "totalTransactionsSettling": 91
                        },
                        {
                          "intervalStart": "2025-11-06T00:00:00+00:00",
                          "intervalEnd": "2025-11-07T00:00:00+00:00",
                          "totalSettlementAmount": 3523.54,
                          "totalFeeAmount": 172.65,
                          "totalNetAmount": 3350.89,
                          "totalTransactionsPending": 27,
                          "totalTransactionsSettled": 72,
                          "totalTransactionsSettling": 71
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "intervalStart": {
                            "type": "string",
                            "example": "2025-10-31T00:00:00+00:00"
                          },
                          "intervalEnd": {
                            "type": "string",
                            "example": "2025-11-01T00:00:00+00:00"
                          },
                          "totalSettlementAmount": {
                            "type": "number",
                            "example": 6825.6
                          },
                          "totalFeeAmount": {
                            "type": "number",
                            "example": 334.45
                          },
                          "totalNetAmount": {
                            "type": "number",
                            "example": 6491.15
                          },
                          "totalTransactionsPending": {
                            "type": "integer",
                            "example": 24
                          },
                          "totalTransactionsSettled": {
                            "type": "integer",
                            "example": 73
                          },
                          "totalTransactionsSettling": {
                            "type": "integer",
                            "example": 28
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomersByMerchant",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the list of customers by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `id`, `skType`\n\n- **Example:** `?filter[sKType]=TEST`\n\n- **Example (multiple values):** `?filter[id]=id_1,id_2,id_3`\n\n### Partial match:\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `email`, `firstName`, `lastName`, `phone`\n\n- **Example:** `?filter[email]=@example.com` (returns all emails containing `@example.com`)\n\n- **Example:** `?filter[firstName]=john` (returns all first names containing `john`)\n\n- **Example:** `?filter[phone]=8940` (returns all phone numbers containing string `8940`, e.g. \"+17186238940\")\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (greater than):** `?filter[dateOfBirth]=>1990`\n\n- **Example (greater than or equal to):** `?filter[dateOfBirth]=>=1995-06-02`\n\n- **Example (less than):** `?filter[createdAt]=<2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\n- **Allowed scopes:** `dateOfBirthBetween`, `createdBetween`, `updatedBetween`\n\n- **Example:** `?filter[dateOfBirthBetween]=1990,1995`\n\n- **Example:** `?filter[createdBetween]=2025-05-29,2025-05-30`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sort the list by attribute(s). Use `-` prefix for descending order.\n\n- **Allowed attributes:** `firstName`, `lastName`, `dateOfBirth`, `createdAt`, `updatedAt`\n\n- **Example (ascending order):** `?sort=lastName`\n\n- **Example (descending order):** `?sort=-dateOfBirth`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for date filtering. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "limit": 10,
                    "offset": 0,
                    "total": 3,
                    "data": [
                      {
                        "email": "loconner@armstrong.com",
                        "firstName": "Carter",
                        "lastName": "Cole",
                        "phone": "+18632331861",
                        "dateOfBirth": "1982-11-30"
                      },
                      {
                        "email": "anabel.klocko@gmail.com",
                        "firstName": "Kathryne",
                        "lastName": "VonRueden",
                        "phone": "+12242763475",
                        "dateOfBirth": "2004-01-28"
                      },
                      {
                        "email": "dickinson.aubrey@brekke.com",
                        "firstName": "Junior",
                        "lastName": "Mraz",
                        "phone": "+14126554914",
                        "dateOfBirth": "1992-02-04"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "limit": {
                      "type": "integer",
                      "example": 10,
                      "description": "The maximum number of items to return",
                      "enum": []
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "description": "The starting index of items to return",
                      "enum": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 3,
                      "description": "The total number of items available",
                      "enum": []
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "email": "loconner@armstrong.com",
                          "firstName": "Carter",
                          "lastName": "Cole",
                          "phone": "+18632331861",
                          "dateOfBirth": "1982-11-30"
                        },
                        {
                          "email": "anabel.klocko@gmail.com",
                          "firstName": "Kathryne",
                          "lastName": "VonRueden",
                          "phone": "+12242763475",
                          "dateOfBirth": "2004-01-28"
                        },
                        {
                          "email": "dickinson.aubrey@brekke.com",
                          "firstName": "Junior",
                          "lastName": "Mraz",
                          "phone": "+14126554914",
                          "dateOfBirth": "1992-02-04"
                        }
                      ],
                      "description": "",
                      "enum": [],
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "loconner@armstrong.com"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Carter"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Cole"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+18632331861"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "example": "1982-11-30"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/purge": {
      "post": {
        "summary": "Purge Sandbox Data",
        "operationId": "purgeSandboxDataPurgeByMerchant",
        "description": "Delete **sandbox** data for the specified merchant. This endpoint allows deletion of different entity types related to merchants.\nThe operation is performed asynchronously and will trigger the \"payments.merchant.purge\" webhook upon completion.",
        "parameters": [
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sandbox purge job queued successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "payments": 5,
                    "customers": 3,
                    "sessions": 2,
                    "tokens": 1,
                    "merchantId": "MERCHANT123"
                  },
                  "properties": {
                    "payments": {
                      "type": "integer",
                      "example": 5
                    },
                    "customers": {
                      "type": "integer",
                      "example": 3
                    },
                    "sessions": {
                      "type": "integer",
                      "example": 2
                    },
                    "tokens": {
                      "type": "integer",
                      "example": 1
                    },
                    "merchantId": {
                      "type": "string",
                      "example": "MERCHANT123"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "The field1 is required (and one other error)",
                    "errors": {
                      "field1": [
                        "The field1 is required."
                      ],
                      "field2": [
                        "The field2 must be a valid value."
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "message": {
                      "type": "string",
                      "example": "The field1 is required (and one other error)",
                      "description": "A message describing the result of the request",
                      "enum": []
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "field1": {
                          "type": "array",
                          "example": [
                            "The field1 is required."
                          ],
                          "items": {
                            "type": "string"
                          }
                        },
                        "field2": {
                          "type": "array",
                          "example": [
                            "The field2 must be a valid value."
                          ],
                          "items": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Any errors that occurred during the request"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "Authentication is required"
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "message": {
                      "type": "string",
                      "example": "Authentication is required",
                      "description": "A message describing the result of the request",
                      "enum": []
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "Internal Server Error"
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error",
                      "description": "A message describing the result of the request",
                      "enum": []
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Merchant Purge"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$class": "App\\Data\\Api\\N1\\Merchant\\PurgeMerchantRequestBody",
                "type": "object",
                "description": null,
                "properties": {
                  "payments": {
                    "type": "boolean",
                    "nullable": true,
                    "example": true,
                    "description": "Delete all merchant payments"
                  },
                  "customers": {
                    "type": "boolean",
                    "nullable": true,
                    "example": true,
                    "description": "Delete all merchant customers"
                  },
                  "sessions": {
                    "type": "boolean",
                    "nullable": true,
                    "example": true,
                    "description": "Delete all merchant sessions"
                  },
                  "tokens": {
                    "type": "boolean",
                    "nullable": true,
                    "example": true,
                    "description": "Delete all merchant tokens"
                  }
                }
              },
              "examples": {
                "example": {
                  "summary": "Example",
                  "value": {
                    "payments": true,
                    "customers": true,
                    "sessions": true,
                    "tokens": true
                  }
                },
                "paymentsOnly": {
                  "summary": "Payments Only",
                  "value": {
                    "payments": true,
                    "customers": false,
                    "sessions": false,
                    "tokens": false
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "merchantId",
          "description": "The merchant ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/n1/merchant/{merchantId}/order/{orderId}": {
      "get": {
        "summary": "Get Order",
        "operationId": "getOrderByMerchant",
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.20.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from retrieving an order",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "description": "Test order",
                    "amount": 47.56,
                    "currency": "USD"
                  },
                  "properties": {
                    "description": {
                      "type": "string",
                      "example": "Test order"
                    },
                    "amount": {
                      "type": "number",
                      "example": 47.56
                    },
                    "currency": {
                      "type": "string",
                      "example": "USD"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "The field1 is required (and one other error)",
                    "errors": {
                      "field1": [
                        "The field1 is required."
                      ],
                      "field2": [
                        "The field2 must be a valid value."
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "message": {
                      "type": "string",
                      "example": "The field1 is required (and one other error)",
                      "description": "A message describing the result of the request",
                      "enum": []
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "field1": {
                          "type": "array",
                          "example": [
                            "The field1 is required."
                          ],
                          "items": {
                            "type": "string"
                          }
                        },
                        "field2": {
                          "type": "array",
                          "example": [
                            "The field2 must be a valid value."
                          ],
                          "items": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Any errors that occurred during the request"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization error response",
            "content": {
              "application/json": {
                "schema": {
[...]
