{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "description": "",
    "version": "1.74.0"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/payments"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Exports",
      "description": "Manage exports for all types (transactions, payments, payouts)"
    },
    {
      "name": "Merchant Purge",
      "description": ""
    },
    {
      "name": "Monthly Statements",
      "description": "Monthly statement endpoints for transactions"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payout Exports",
      "description": "Create payout exports"
    },
    {
      "name": "Payouts",
      "description": ""
    },
    {
      "name": "Receipts",
      "description": ""
    },
    {
      "name": "Sessions",
      "description": "Manage merchant sessions"
    },
    {
      "name": "Status",
      "description": ""
    },
    {
      "name": "Tags",
      "description": ""
    },
    {
      "name": "Tokenization",
      "description": "Endpoints for creating and updating payment tokens"
    },
    {
      "name": "Transaction Exports",
      "description": "Create transaction exports"
    },
    {
      "name": "Transactions",
      "description": "Manage, retrieve, list and process payment transactions."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your API key from your Prahsys account manager."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/api/n1/organization/{organizationId}/analytics/payments": {
      "get": {
        "summary": "Get Payment Analytics",
        "operationId": "getPaymentAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`. Example: `?forLast=7d`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`. Example: `?interval=day`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "timezone",
            "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
            "example": "America/Phoenix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timezone to use for interval calculations. Defaults to 'UTC'. Supports timezone identifiers (e.g., America/Phoenix, America/Los_Angeles) and abbreviations (e.g., MST, MDT, PST, PDT). Examples: `?timezone=America/Phoenix` or `?timezone=MST`",
              "example": "America/Phoenix",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payment analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `status`, `source`\n\n- **Example:** `?filter[status]=CAPTURED,AUTHORIZED`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present payments only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet payments only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`, `successful`, `failed`, `refunded`, `inProgress`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`\n- **Example:** `?filter[successful]=true` (to filter successful payments)\n- **Example:** `?filter[refunded]=false` (to exclude refunded payments)",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payment analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-04-23T00:00:00+00:00",
                      "periodEnd": "2026-04-30T00:00:00+00:00",
                      "numPaymentsCreated": 4817,
                      "numPaymentsProcessed": 3437,
                      "numPaymentsIncomplete": 1380,
                      "numPaymentsWithRefunds": 1823,
                      "numCardPresentPayments": 1508,
                      "numCardNotPresentPayments": -128,
                      "totalCapturedAmount": 3267897.25,
                      "totalRefundedAmount": 583221.52,
                      "totalNetCapturedAmount": 2684675.73,
                      "averageNetCapturedAmount": 940.99285714286,
                      "minNetCapturedAmount": 21.05,
                      "maxNetCapturedAmount": 9494.63,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-04-23T00:00:00+00:00",
                          "intervalEnd": "2026-04-24T00:00:00+00:00",
                          "numPaymentsCreated": 955,
                          "numPaymentsProcessed": 883,
                          "numPaymentsIncomplete": 72,
                          "numPaymentsWithRefunds": 813,
                          "numCardPresentPayments": 401,
                          "numCardNotPresentPayments": -329,
                          "totalCapturedAmount": 590120.67,
                          "totalRefundedAmount": 172584.43,
                          "totalNetCapturedAmount": 417536.24,
                          "averageNetCapturedAmount": 472.86,
                          "minNetCapturedAmount": 64.19,
                          "maxNetCapturedAmount": 7642.24
                        },
                        {
                          "intervalStart": "2026-04-24T00:00:00+00:00",
                          "intervalEnd": "2026-04-25T00:00:00+00:00",
                          "numPaymentsCreated": 808,
                          "numPaymentsProcessed": 498,
                          "numPaymentsIncomplete": 310,
                          "numPaymentsWithRefunds": 118,
                          "numCardPresentPayments": 29,
                          "numCardNotPresentPayments": 281,
                          "totalCapturedAmount": 609305.3,
                          "totalRefundedAmount": 148274.93,
                          "totalNetCapturedAmount": 461030.37,
                          "averageNetCapturedAmount": 925.76,
                          "minNetCapturedAmount": 21.05,
                          "maxNetCapturedAmount": 9494.63
                        },
                        {
                          "intervalStart": "2026-04-25T00:00:00+00:00",
                          "intervalEnd": "2026-04-26T00:00:00+00:00",
                          "numPaymentsCreated": 848,
                          "numPaymentsProcessed": 338,
                          "numPaymentsIncomplete": 510,
                          "numPaymentsWithRefunds": 71,
                          "numCardPresentPayments": 181,
                          "numCardNotPresentPayments": 329,
                          "totalCapturedAmount": 655973.82,
                          "totalRefundedAmount": 24912.64,
                          "totalNetCapturedAmount": 631061.18,
                          "averageNetCapturedAmount": 1867.04,
                          "minNetCapturedAmount": 85.92,
                          "maxNetCapturedAmount": 4597.38
                        },
                        {
                          "intervalStart": "2026-04-26T00:00:00+00:00",
                          "intervalEnd": "2026-04-27T00:00:00+00:00",
                          "numPaymentsCreated": 312,
                          "numPaymentsProcessed": 290,
                          "numPaymentsIncomplete": 22,
                          "numPaymentsWithRefunds": 146,
                          "numCardPresentPayments": 281,
                          "numCardNotPresentPayments": -259,
                          "totalCapturedAmount": 330048.95,
                          "totalRefundedAmount": 57774.99,
                          "totalNetCapturedAmount": 272273.96,
                          "averageNetCapturedAmount": 938.88,
                          "minNetCapturedAmount": 79.68,
                          "maxNetCapturedAmount": 8073.02
                        },
                        {
                          "intervalStart": "2026-04-27T00:00:00+00:00",
                          "intervalEnd": "2026-04-28T00:00:00+00:00",
                          "numPaymentsCreated": 925,
                          "numPaymentsProcessed": 920,
                          "numPaymentsIncomplete": 5,
                          "numPaymentsWithRefunds": 450,
                          "numCardPresentPayments": 405,
                          "numCardNotPresentPayments": -400,
                          "totalCapturedAmount": 595252.75,
                          "totalRefundedAmount": 125622.17,
                          "totalNetCapturedAmount": 469630.58,
                          "averageNetCapturedAmount": 510.47,
                          "minNetCapturedAmount": 68.61,
                          "maxNetCapturedAmount": 6314.24
                        },
                        {
                          "intervalStart": "2026-04-28T00:00:00+00:00",
                          "intervalEnd": "2026-04-29T00:00:00+00:00",
                          "numPaymentsCreated": 303,
                          "numPaymentsProcessed": 290,
                          "numPaymentsIncomplete": 13,
                          "numPaymentsWithRefunds": 144,
                          "numCardPresentPayments": 164,
                          "numCardNotPresentPayments": -151,
                          "totalCapturedAmount": 121056.7,
                          "totalRefundedAmount": 20124.25,
                          "totalNetCapturedAmount": 100932.45,
                          "averageNetCapturedAmount": 348.04,
                          "minNetCapturedAmount": 86.35,
                          "maxNetCapturedAmount": 7583.13
                        },
                        {
                          "intervalStart": "2026-04-29T00:00:00+00:00",
                          "intervalEnd": "2026-04-30T00:00:00+00:00",
                          "numPaymentsCreated": 666,
                          "numPaymentsProcessed": 218,
                          "numPaymentsIncomplete": 448,
                          "numPaymentsWithRefunds": 81,
                          "numCardPresentPayments": 47,
                          "numCardNotPresentPayments": 401,
                          "totalCapturedAmount": 366139.06,
                          "totalRefundedAmount": 33928.11,
                          "totalNetCapturedAmount": 332210.95,
                          "averageNetCapturedAmount": 1523.9,
                          "minNetCapturedAmount": 43.51,
                          "maxNetCapturedAmount": 7841.88
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-04-23T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-04-30T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "numPaymentsCreated": {
                          "type": "integer",
                          "example": 4817,
                          "description": "Total number of payment records created in the period",
                          "enum": []
                        },
                        "numPaymentsProcessed": {
                          "type": "integer",
                          "example": 3437,
                          "description": "Number of payments that have successfully had funds captured (captured amount > 0)",
                          "enum": []
                        },
                        "numPaymentsIncomplete": {
                          "type": "integer",
                          "example": 1380,
                          "description": "Number of payments which have been created but funds have not been captured yet (e.g. failures, declines, authorizations, etc.)",
                          "enum": []
                        },
                        "numPaymentsWithRefunds": {
                          "type": "integer",
                          "example": 1823,
                          "description": "Number of payments that have had one or more refunds (refunded amount > 0)",
                          "enum": []
                        },
                        "numCardPresentPayments": {
                          "type": "integer",
                          "example": 1508,
                          "description": "Number of payments made with card present (e.g. via terminal device)",
                          "enum": []
                        },
                        "numCardNotPresentPayments": {
                          "type": "integer",
                          "example": -128,
                          "description": "Number of payments made with card not present (e.g. online payments)",
                          "enum": []
                        },
                        "totalCapturedAmount": {
                          "type": "number",
                          "example": 3267897.25,
                          "description": "Total amount captured across all payments in the period",
                          "enum": []
                        },
                        "totalRefundedAmount": {
                          "type": "number",
                          "example": 583221.52,
                          "description": "Total amount refunded across all payments in the period",
                          "enum": []
                        },
                        "totalNetCapturedAmount": {
                          "type": "number",
                          "example": 2684675.73,
                          "description": "Net captured amount (captured - refunded) across all payments in the period",
                          "enum": []
                        },
                        "averageNetCapturedAmount": {
                          "type": "number",
                          "example": 940.99285714286,
                          "description": "Average net captured amount per payment in the period",
                          "enum": []
                        },
                        "minNetCapturedAmount": {
                          "type": "number",
                          "example": 21.05,
                          "description": "Minimum net captured amount in the period",
                          "enum": []
                        },
                        "maxNetCapturedAmount": {
                          "type": "number",
                          "example": 9494.63,
                          "description": "Maximum net captured amount in the period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-04-23T00:00:00+00:00",
                              "intervalEnd": "2026-04-24T00:00:00+00:00",
                              "numPaymentsCreated": 955,
                              "numPaymentsProcessed": 883,
                              "numPaymentsIncomplete": 72,
                              "numPaymentsWithRefunds": 813,
                              "numCardPresentPayments": 401,
                              "numCardNotPresentPayments": -329,
                              "totalCapturedAmount": 590120.67,
                              "totalRefundedAmount": 172584.43,
                              "totalNetCapturedAmount": 417536.24,
                              "averageNetCapturedAmount": 472.86,
                              "minNetCapturedAmount": 64.19,
                              "maxNetCapturedAmount": 7642.24
                            },
                            {
                              "intervalStart": "2026-04-24T00:00:00+00:00",
                              "intervalEnd": "2026-04-25T00:00:00+00:00",
                              "numPaymentsCreated": 808,
                              "numPaymentsProcessed": 498,
                              "numPaymentsIncomplete": 310,
                              "numPaymentsWithRefunds": 118,
                              "numCardPresentPayments": 29,
                              "numCardNotPresentPayments": 281,
                              "totalCapturedAmount": 609305.3,
                              "totalRefundedAmount": 148274.93,
                              "totalNetCapturedAmount": 461030.37,
                              "averageNetCapturedAmount": 925.76,
                              "minNetCapturedAmount": 21.05,
                              "maxNetCapturedAmount": 9494.63
                            },
                            {
                              "intervalStart": "2026-04-25T00:00:00+00:00",
                              "intervalEnd": "2026-04-26T00:00:00+00:00",
                              "numPaymentsCreated": 848,
                              "numPaymentsProcessed": 338,
                              "numPaymentsIncomplete": 510,
                              "numPaymentsWithRefunds": 71,
                              "numCardPresentPayments": 181,
                              "numCardNotPresentPayments": 329,
                              "totalCapturedAmount": 655973.82,
                              "totalRefundedAmount": 24912.64,
                              "totalNetCapturedAmount": 631061.18,
                              "averageNetCapturedAmount": 1867.04,
                              "minNetCapturedAmount": 85.92,
                              "maxNetCapturedAmount": 4597.38
                            },
                            {
                              "intervalStart": "2026-04-26T00:00:00+00:00",
                              "intervalEnd": "2026-04-27T00:00:00+00:00",
                              "numPaymentsCreated": 312,
                              "numPaymentsProcessed": 290,
                              "numPaymentsIncomplete": 22,
                              "numPaymentsWithRefunds": 146,
                              "numCardPresentPayments": 281,
                              "numCardNotPresentPayments": -259,
                              "totalCapturedAmount": 330048.95,
                              "totalRefundedAmount": 57774.99,
                              "totalNetCapturedAmount": 272273.96,
                              "averageNetCapturedAmount": 938.88,
                              "minNetCapturedAmount": 79.68,
                              "maxNetCapturedAmount": 8073.02
                            },
                            {
                              "intervalStart": "2026-04-27T00:00:00+00:00",
                              "intervalEnd": "2026-04-28T00:00:00+00:00",
                              "numPaymentsCreated": 925,
                              "numPaymentsProcessed": 920,
                              "numPaymentsIncomplete": 5,
                              "numPaymentsWithRefunds": 450,
                              "numCardPresentPayments": 405,
                              "numCardNotPresentPayments": -400,
                              "totalCapturedAmount": 595252.75,
                              "totalRefundedAmount": 125622.17,
                              "totalNetCapturedAmount": 469630.58,
                              "averageNetCapturedAmount": 510.47,
                              "minNetCapturedAmount": 68.61,
                              "maxNetCapturedAmount": 6314.24
                            },
                            {
                              "intervalStart": "2026-04-28T00:00:00+00:00",
                              "intervalEnd": "2026-04-29T00:00:00+00:00",
                              "numPaymentsCreated": 303,
                              "numPaymentsProcessed": 290,
                              "numPaymentsIncomplete": 13,
                              "numPaymentsWithRefunds": 144,
                              "numCardPresentPayments": 164,
                              "numCardNotPresentPayments": -151,
                              "totalCapturedAmount": 121056.7,
                              "totalRefundedAmount": 20124.25,
                              "totalNetCapturedAmount": 100932.45,
                              "averageNetCapturedAmount": 348.04,
                              "minNetCapturedAmount": 86.35,
                              "maxNetCapturedAmount": 7583.13
                            },
                            {
                              "intervalStart": "2026-04-29T00:00:00+00:00",
                              "intervalEnd": "2026-04-30T00:00:00+00:00",
                              "numPaymentsCreated": 666,
                              "numPaymentsProcessed": 218,
                              "numPaymentsIncomplete": 448,
                              "numPaymentsWithRefunds": 81,
                              "numCardPresentPayments": 47,
                              "numCardNotPresentPayments": 401,
                              "totalCapturedAmount": 366139.06,
                              "totalRefundedAmount": 33928.11,
                              "totalNetCapturedAmount": 332210.95,
                              "averageNetCapturedAmount": 1523.9,
                              "minNetCapturedAmount": 43.51,
                              "maxNetCapturedAmount": 7841.88
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-04-23T00:00:00+00:00",
                                "description": "Start time of the PaymentAnalyticsData interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-04-24T00:00:00+00:00",
                                "description": "End time of the PaymentAnalyticsData interval",
                                "enum": []
                              },
                              "numPaymentsCreated": {
                                "type": "integer",
                                "example": 955,
                                "description": "Total number of payment records created in the interval",
                                "enum": []
                              },
                              "numPaymentsProcessed": {
                                "type": "integer",
                                "example": 883,
                                "description": "Number of payments that have successfully had funds captured (captured amount > 0)",
                                "enum": []
                              },
                              "numPaymentsIncomplete": {
                                "type": "integer",
                                "example": 72,
                                "description": "Number of payments which have been created but funds have not been captured yet (e.g. failures, declines, authorizations, etc.)",
                                "enum": []
                              },
                              "numPaymentsWithRefunds": {
                                "type": "integer",
                                "example": 813,
                                "description": "Number of payments that have had one or more refunds (refunded amount > 0)",
                                "enum": []
                              },
                              "numCardPresentPayments": {
                                "type": "integer",
                                "example": 401,
                                "description": "Number of payments made with card present (e.g. via terminal device)",
                                "enum": []
                              },
                              "numCardNotPresentPayments": {
                                "type": "integer",
                                "example": -329,
                                "description": "Number of payments made with card not present (e.g. online payments)",
                                "enum": []
                              },
                              "totalCapturedAmount": {
                                "type": "number",
                                "example": 590120.67,
                                "description": "Total amount captured across all payments in the interval",
                                "enum": []
                              },
                              "totalRefundedAmount": {
                                "type": "number",
                                "example": 172584.43,
                                "description": "Total amount refunded across all payments in the interval",
                                "enum": []
                              },
                              "totalNetCapturedAmount": {
                                "type": "number",
                                "example": 417536.24,
                                "description": "Net captured amount (captured - refunded) across all payments in the interval",
                                "enum": []
                              },
                              "averageNetCapturedAmount": {
                                "type": "number",
                                "example": 472.86,
                                "description": "Average net captured amount per payment in the interval",
                                "enum": []
                              },
                              "minNetCapturedAmount": {
                                "type": "number",
                                "example": 64.19,
                                "description": "Minimum net captured amount in the interval",
                                "enum": []
                              },
                              "maxNetCapturedAmount": {
                                "type": "number",
                                "example": 7642.24,
                                "description": "Maximum net captured amount in the interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/organization/{organizationId}/analytics/customers": {
      "get": {
        "summary": "Get Customer Analytics",
        "operationId": "getCustomerAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the customer analytics by attribute(s).\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing customer analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-04-23T00:00:00+00:00",
                      "periodEnd": "2026-04-30T00:00:00+00:00",
                      "activeCustomers": 355,
                      "newCustomers": 185,
                      "returningCustomers": 170,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-04-23T00:00:00+00:00",
                          "intervalEnd": "2026-04-24T00:00:00+00:00",
                          "activeCustomers": 33,
                          "newCustomers": 16,
                          "returningCustomers": 17
                        },
                        {
                          "intervalStart": "2026-04-24T00:00:00+00:00",
                          "intervalEnd": "2026-04-25T00:00:00+00:00",
                          "activeCustomers": 81,
                          "newCustomers": 31,
                          "returningCustomers": 50
                        },
                        {
                          "intervalStart": "2026-04-25T00:00:00+00:00",
                          "intervalEnd": "2026-04-26T00:00:00+00:00",
                          "activeCustomers": 88,
                          "newCustomers": 79,
                          "returningCustomers": 9
                        },
                        {
                          "intervalStart": "2026-04-26T00:00:00+00:00",
                          "intervalEnd": "2026-04-27T00:00:00+00:00",
                          "activeCustomers": 19,
                          "newCustomers": 9,
                          "returningCustomers": 10
                        },
                        {
                          "intervalStart": "2026-04-27T00:00:00+00:00",
                          "intervalEnd": "2026-04-28T00:00:00+00:00",
                          "activeCustomers": 68,
                          "newCustomers": 6,
                          "returningCustomers": 62
                        },
                        {
                          "intervalStart": "2026-04-28T00:00:00+00:00",
                          "intervalEnd": "2026-04-29T00:00:00+00:00",
                          "activeCustomers": 67,
                          "newCustomers": 16,
                          "returningCustomers": 51
                        },
                        {
                          "intervalStart": "2026-04-29T00:00:00+00:00",
                          "intervalEnd": "2026-04-30T00:00:00+00:00",
                          "activeCustomers": 99,
                          "newCustomers": 28,
                          "returningCustomers": 71
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-04-23T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-04-30T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "activeCustomers": {
                          "type": "integer",
                          "example": 355,
                          "description": "number of customers who are associated with at least one payment which was created in the period",
                          "enum": []
                        },
                        "newCustomers": {
                          "type": "integer",
                          "example": 185,
                          "description": "number of new customers added in the period",
                          "enum": []
                        },
                        "returningCustomers": {
                          "type": "integer",
                          "example": 170,
                          "description": "number of customers who were active in the period but were created before the period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-04-23T00:00:00+00:00",
                              "intervalEnd": "2026-04-24T00:00:00+00:00",
                              "activeCustomers": 33,
                              "newCustomers": 16,
                              "returningCustomers": 17
                            },
                            {
                              "intervalStart": "2026-04-24T00:00:00+00:00",
                              "intervalEnd": "2026-04-25T00:00:00+00:00",
                              "activeCustomers": 81,
                              "newCustomers": 31,
                              "returningCustomers": 50
                            },
                            {
                              "intervalStart": "2026-04-25T00:00:00+00:00",
                              "intervalEnd": "2026-04-26T00:00:00+00:00",
                              "activeCustomers": 88,
                              "newCustomers": 79,
                              "returningCustomers": 9
                            },
                            {
                              "intervalStart": "2026-04-26T00:00:00+00:00",
                              "intervalEnd": "2026-04-27T00:00:00+00:00",
                              "activeCustomers": 19,
                              "newCustomers": 9,
                              "returningCustomers": 10
                            },
                            {
                              "intervalStart": "2026-04-27T00:00:00+00:00",
                              "intervalEnd": "2026-04-28T00:00:00+00:00",
                              "activeCustomers": 68,
                              "newCustomers": 6,
                              "returningCustomers": 62
                            },
                            {
                              "intervalStart": "2026-04-28T00:00:00+00:00",
                              "intervalEnd": "2026-04-29T00:00:00+00:00",
                              "activeCustomers": 67,
                              "newCustomers": 16,
                              "returningCustomers": 51
                            },
                            {
                              "intervalStart": "2026-04-29T00:00:00+00:00",
                              "intervalEnd": "2026-04-30T00:00:00+00:00",
                              "activeCustomers": 99,
                              "newCustomers": 28,
                              "returningCustomers": 71
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-04-23T00:00:00+00:00",
                                "description": "Start time of the analytics calculation interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-04-24T00:00:00+00:00",
                                "description": "End time of the analytics calculation interval",
                                "enum": []
                              },
                              "activeCustomers": {
                                "type": "integer",
                                "example": 33,
                                "description": "number of customers who are associated with at least one payment which was created in the interval",
                                "enum": []
                              },
                              "newCustomers": {
                                "type": "integer",
                                "example": 16,
                                "description": "number of new customers added in the interval",
                                "enum": []
                              },
                              "returningCustomers": {
                                "type": "integer",
                                "example": 17,
                                "description": "number of customers who were active in the interval but were created before the interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/organization/{organizationId}/analytics/transactions": {
      "get": {
        "summary": "Get Transaction Analytics",
        "operationId": "getTransactionAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the transaction analytics by attribute(s).\n\n### Exact match:\n\nInclude the attribute name in the brackets followed by an equal sign and the value you want to filter by. You can use commas (`,`) to separate multiple values for the same attribute.\n\n- **Allowed attributes:** `source`\n\n- **Example:** `?filter[source]=CARD_PRESENT` (to filter card present transactions only)\n\n- **Example:** `?filter[source]=INTERNET` (to filter internet transactions only)\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing transaction analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-04-23T00:00:00+00:00",
                      "periodEnd": "2026-04-30T00:00:00+00:00",
                      "totalTransactions": 4861,
                      "authorizeTransactions": 397,
                      "captureTransactions": 443,
                      "payTransactions": 2357,
                      "refundTransactions": 657,
                      "verifyTransactions": 322,
                      "voidTransactions": 685,
                      "successfulTransactions": 4371,
                      "failedTransactions": 328,
                      "declinedTransactions": 132,
                      "pendingTransactions": 30,
                      "unknownTransactions": 0,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-04-23T00:00:00+00:00",
                          "intervalEnd": "2026-04-24T00:00:00+00:00",
                          "totalTransactions": 922,
                          "authorizeTransactions": 67,
                          "captureTransactions": 68,
                          "payTransactions": 679,
                          "refundTransactions": 79,
                          "verifyTransactions": 11,
                          "voidTransactions": 18,
                          "successfulTransactions": 829,
                          "failedTransactions": 60,
                          "declinedTransactions": 25,
                          "pendingTransactions": 8,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-24T00:00:00+00:00",
                          "intervalEnd": "2026-04-25T00:00:00+00:00",
                          "totalTransactions": 262,
                          "authorizeTransactions": 13,
                          "captureTransactions": 18,
                          "payTransactions": 40,
                          "refundTransactions": 7,
                          "verifyTransactions": 171,
                          "voidTransactions": 13,
                          "successfulTransactions": 235,
                          "failedTransactions": 19,
                          "declinedTransactions": 7,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-25T00:00:00+00:00",
                          "intervalEnd": "2026-04-26T00:00:00+00:00",
                          "totalTransactions": 429,
                          "authorizeTransactions": 37,
                          "captureTransactions": 46,
                          "payTransactions": 226,
                          "refundTransactions": 94,
                          "verifyTransactions": 9,
                          "voidTransactions": 17,
                          "successfulTransactions": 386,
                          "failedTransactions": 40,
                          "declinedTransactions": 2,
                          "pendingTransactions": 1,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-26T00:00:00+00:00",
                          "intervalEnd": "2026-04-27T00:00:00+00:00",
                          "totalTransactions": 961,
                          "authorizeTransactions": 80,
                          "captureTransactions": 89,
                          "payTransactions": 445,
                          "refundTransactions": 162,
                          "verifyTransactions": 12,
                          "voidTransactions": 173,
                          "successfulTransactions": 864,
                          "failedTransactions": 73,
                          "declinedTransactions": 20,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-27T00:00:00+00:00",
                          "intervalEnd": "2026-04-28T00:00:00+00:00",
                          "totalTransactions": 791,
                          "authorizeTransactions": 52,
                          "captureTransactions": 60,
                          "payTransactions": 322,
                          "refundTransactions": 228,
                          "verifyTransactions": 14,
                          "voidTransactions": 115,
                          "successfulTransactions": 711,
                          "failedTransactions": 42,
                          "declinedTransactions": 32,
                          "pendingTransactions": 6,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-28T00:00:00+00:00",
                          "intervalEnd": "2026-04-29T00:00:00+00:00",
                          "totalTransactions": 749,
                          "authorizeTransactions": 89,
                          "captureTransactions": 98,
                          "payTransactions": 533,
                          "refundTransactions": 19,
                          "verifyTransactions": 7,
                          "voidTransactions": 3,
                          "successfulTransactions": 674,
                          "failedTransactions": 43,
                          "declinedTransactions": 28,
                          "pendingTransactions": 4,
                          "unknownTransactions": 0
                        },
                        {
                          "intervalStart": "2026-04-29T00:00:00+00:00",
                          "intervalEnd": "2026-04-30T00:00:00+00:00",
                          "totalTransactions": 747,
                          "authorizeTransactions": 59,
                          "captureTransactions": 64,
                          "payTransactions": 112,
                          "refundTransactions": 68,
                          "verifyTransactions": 98,
                          "voidTransactions": 346,
                          "successfulTransactions": 672,
                          "failedTransactions": 51,
                          "declinedTransactions": 18,
                          "pendingTransactions": 6,
                          "unknownTransactions": 0
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-04-23T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-04-30T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "totalTransactions": {
                          "type": "integer",
                          "example": 4861,
                          "description": "Total number of transactions in the period",
                          "enum": []
                        },
                        "authorizeTransactions": {
                          "type": "integer",
                          "example": 397,
                          "description": "Number of authorize transactions in the period",
                          "enum": []
                        },
                        "captureTransactions": {
                          "type": "integer",
                          "example": 443,
                          "description": "Number of capture transactions in the period",
                          "enum": []
                        },
                        "payTransactions": {
                          "type": "integer",
                          "example": 2357,
                          "description": "Number of pay transactions in the period",
                          "enum": []
                        },
                        "refundTransactions": {
                          "type": "integer",
                          "example": 657,
                          "description": "Number of refund transactions in the period",
                          "enum": []
                        },
                        "verifyTransactions": {
                          "type": "integer",
                          "example": 322,
                          "description": "Number of verify transactions in the period",
                          "enum": []
                        },
                        "voidTransactions": {
                          "type": "integer",
                          "example": 685,
                          "description": "Number of void transactions in the period",
                          "enum": []
                        },
                        "successfulTransactions": {
                          "type": "integer",
                          "example": 4371,
                          "description": "Number of successful transactions in the period",
                          "enum": []
                        },
                        "failedTransactions": {
                          "type": "integer",
                          "example": 328,
                          "description": "Number of failed transactions in the period",
                          "enum": []
                        },
                        "declinedTransactions": {
                          "type": "integer",
                          "example": 132,
                          "description": "Number of declined transactions in the period",
                          "enum": []
                        },
                        "pendingTransactions": {
                          "type": "integer",
                          "example": 30,
                          "description": "Number of pending transactions in the period",
                          "enum": []
                        },
                        "unknownTransactions": {
                          "type": "integer",
                          "example": 0,
                          "description": "Number of transactions with unknown result in the period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-04-23T00:00:00+00:00",
                              "intervalEnd": "2026-04-24T00:00:00+00:00",
                              "totalTransactions": 922,
                              "authorizeTransactions": 67,
                              "captureTransactions": 68,
                              "payTransactions": 679,
                              "refundTransactions": 79,
                              "verifyTransactions": 11,
                              "voidTransactions": 18,
                              "successfulTransactions": 829,
                              "failedTransactions": 60,
                              "declinedTransactions": 25,
                              "pendingTransactions": 8,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-04-24T00:00:00+00:00",
                              "intervalEnd": "2026-04-25T00:00:00+00:00",
                              "totalTransactions": 262,
                              "authorizeTransactions": 13,
                              "captureTransactions": 18,
                              "payTransactions": 40,
                              "refundTransactions": 7,
                              "verifyTransactions": 171,
                              "voidTransactions": 13,
                              "successfulTransactions": 235,
                              "failedTransactions": 19,
                              "declinedTransactions": 7,
                              "pendingTransactions": 1,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-04-25T00:00:00+00:00",
                              "intervalEnd": "2026-04-26T00:00:00+00:00",
                              "totalTransactions": 429,
                              "authorizeTransactions": 37,
                              "captureTransactions": 46,
                              "payTransactions": 226,
                              "refundTransactions": 94,
                              "verifyTransactions": 9,
                              "voidTransactions": 17,
                              "successfulTransactions": 386,
                              "failedTransactions": 40,
                              "declinedTransactions": 2,
                              "pendingTransactions": 1,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-04-26T00:00:00+00:00",
                              "intervalEnd": "2026-04-27T00:00:00+00:00",
                              "totalTransactions": 961,
                              "authorizeTransactions": 80,
                              "captureTransactions": 89,
                              "payTransactions": 445,
                              "refundTransactions": 162,
                              "verifyTransactions": 12,
                              "voidTransactions": 173,
                              "successfulTransactions": 864,
                              "failedTransactions": 73,
                              "declinedTransactions": 20,
                              "pendingTransactions": 4,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-04-27T00:00:00+00:00",
                              "intervalEnd": "2026-04-28T00:00:00+00:00",
                              "totalTransactions": 791,
                              "authorizeTransactions": 52,
                              "captureTransactions": 60,
                              "payTransactions": 322,
                              "refundTransactions": 228,
                              "verifyTransactions": 14,
                              "voidTransactions": 115,
                              "successfulTransactions": 711,
                              "failedTransactions": 42,
                              "declinedTransactions": 32,
                              "pendingTransactions": 6,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-04-28T00:00:00+00:00",
                              "intervalEnd": "2026-04-29T00:00:00+00:00",
                              "totalTransactions": 749,
                              "authorizeTransactions": 89,
                              "captureTransactions": 98,
                              "payTransactions": 533,
                              "refundTransactions": 19,
                              "verifyTransactions": 7,
                              "voidTransactions": 3,
                              "successfulTransactions": 674,
                              "failedTransactions": 43,
                              "declinedTransactions": 28,
                              "pendingTransactions": 4,
                              "unknownTransactions": 0
                            },
                            {
                              "intervalStart": "2026-04-29T00:00:00+00:00",
                              "intervalEnd": "2026-04-30T00:00:00+00:00",
                              "totalTransactions": 747,
                              "authorizeTransactions": 59,
                              "captureTransactions": 64,
                              "payTransactions": 112,
                              "refundTransactions": 68,
                              "verifyTransactions": 98,
                              "voidTransactions": 346,
                              "successfulTransactions": 672,
                              "failedTransactions": 51,
                              "declinedTransactions": 18,
                              "pendingTransactions": 6,
                              "unknownTransactions": 0
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-04-23T00:00:00+00:00",
                                "description": "Start time of the analytics calculation interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-04-24T00:00:00+00:00",
                                "description": "End time of the analytics calculation interval",
                                "enum": []
                              },
                              "totalTransactions": {
                                "type": "integer",
                                "example": 922,
                                "description": "Total number of transactions in the interval",
                                "enum": []
                              },
                              "authorizeTransactions": {
                                "type": "integer",
                                "example": 67,
                                "description": "Number of authorize transactions in the interval",
                                "enum": []
                              },
                              "captureTransactions": {
                                "type": "integer",
                                "example": 68,
                                "description": "Number of capture transactions in the interval",
                                "enum": []
                              },
                              "payTransactions": {
                                "type": "integer",
                                "example": 679,
                                "description": "Number of pay transactions in the interval",
                                "enum": []
                              },
                              "refundTransactions": {
                                "type": "integer",
                                "example": 79,
                                "description": "Number of refund transactions in the interval",
                                "enum": []
                              },
                              "verifyTransactions": {
                                "type": "integer",
                                "example": 11,
                                "description": "Number of verify transactions in the interval",
                                "enum": []
                              },
                              "voidTransactions": {
                                "type": "integer",
                                "example": 18,
                                "description": "Number of void transactions in the interval",
                                "enum": []
                              },
                              "successfulTransactions": {
                                "type": "integer",
                                "example": 829,
                                "description": "Number of successful transactions in the interval",
                                "enum": []
                              },
                              "failedTransactions": {
                                "type": "integer",
                                "example": 60,
                                "description": "Number of failed transactions in the interval",
                                "enum": []
                              },
                              "declinedTransactions": {
                                "type": "integer",
                                "example": 25,
                                "description": "Number of declined transactions in the interval",
                                "enum": []
                              },
                              "pendingTransactions": {
                                "type": "integer",
                                "example": 8,
                                "description": "Number of pending transactions in the interval",
                                "enum": []
                              },
                              "unknownTransactions": {
                                "type": "integer",
                                "example": 0,
                                "description": "Number of transactions with unknown result in the interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/organization/{organizationId}/analytics/payouts": {
      "get": {
        "summary": "Get Payout Analytics",
        "operationId": "getPayoutAnalytics",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "forLast",
            "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
            "example": "30d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The period to calculate analytics for relative to the current time. Options: `1h`, `24h`, `7d`, `30d`, `3mo`, `6mo`, `1y`",
              "example": "30d",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
            "example": "day",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The interval size to calculate analytics for. Defaults to 'day'. Options: `hour`, `day`, `week`, `month`, `year`",
              "example": "day",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodStart",
            "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
            "example": "2025-05-29T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The start time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodStart=2025-05-29`",
              "example": "2025-05-29T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "periodEnd",
            "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
            "example": "2025-05-30T00:00:00Z",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The end time of the period to calculate analytics for (cannot be used in combination with `forLast` param). Example: `?periodEnd=2025-05-30`",
              "example": "2025-05-30T00:00:00Z",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
            "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
            "example": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter the payout analytics by attribute(s).\n\n### Dynamic operators:\n\nFollow the \"=\" with a comparison operator and the value you want to filter by.\n\n- **Available operators:** `=`, `!=`, `<`, `<=`, `>`, `>=`.\n\n- **Allowed attributes:** `settlement_date`, `deposit_date`\n\n- **Example (less than or equal to):** `?filter[settlementDate]=<=2025-05-29T00:00:00Z`\n\n### Scopes:\n\nFilter by specific conditions defined in the model.\n\nNOTE: either `merchantId` or `channelPartnerId` must be provided in the query filters.\n\n- **Allowed scopes:** `settlementDateBetween`, `depositDateBetween`, `merchantId`, `channelPartnerId`\n\n- **Example:** `?filter[settlementDateBetween]=2025-05-29,2025-05-30`\n- **Example:** `?filter[merchantId]=123456`\n- **Example:** `?filter[merchantId]=123456,789012` (multiple merchant IDs)\n- **Example:** `?filter[channelPartnerId]=123456`",
              "example": "",
              "nullable": false
            }
          },
          {
            "in": "header",
            "name": "X-Prahsys-Version",
            "description": "",
            "example": "1.0.0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing payout analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "periodStart": "2026-04-23T00:00:00+00:00",
                      "periodEnd": "2026-04-30T00:00:00+00:00",
                      "totalSettlementAmount": 46713.07,
                      "totalFeeAmount": 2288.94043,
                      "totalNetAmount": 44424.12957,
                      "totalTransactionsPending": 109,
                      "totalTransactionsSettled": 1591,
                      "totalTransactionsSettling": 869,
                      "interval": "day",
                      "intervals": [
                        {
                          "intervalStart": "2026-04-23T00:00:00+00:00",
                          "intervalEnd": "2026-04-24T00:00:00+00:00",
                          "totalSettlementAmount": 7156.14,
                          "totalFeeAmount": 350.65086,
                          "totalNetAmount": 6805.48914,
                          "totalTransactionsPending": 9,
                          "totalTransactionsSettled": 218,
                          "totalTransactionsSettling": 93
                        },
                        {
                          "intervalStart": "2026-04-24T00:00:00+00:00",
                          "intervalEnd": "2026-04-25T00:00:00+00:00",
                          "totalSettlementAmount": 7737.59,
                          "totalFeeAmount": 379.14191,
                          "totalNetAmount": 7358.44809,
                          "totalTransactionsPending": 35,
                          "totalTransactionsSettled": 104,
                          "totalTransactionsSettling": 67
                        },
                        {
                          "intervalStart": "2026-04-25T00:00:00+00:00",
                          "intervalEnd": "2026-04-26T00:00:00+00:00",
                          "totalSettlementAmount": 3710.58,
                          "totalFeeAmount": 181.81842,
                          "totalNetAmount": 3528.76158,
                          "totalTransactionsPending": 5,
                          "totalTransactionsSettled": 340,
                          "totalTransactionsSettling": 104
                        },
                        {
                          "intervalStart": "2026-04-26T00:00:00+00:00",
                          "intervalEnd": "2026-04-27T00:00:00+00:00",
                          "totalSettlementAmount": 9046.43,
                          "totalFeeAmount": 443.27507,
                          "totalNetAmount": 8603.15493,
                          "totalTransactionsPending": 13,
                          "totalTransactionsSettled": 107,
                          "totalTransactionsSettling": 285
                        },
                        {
                          "intervalStart": "2026-04-27T00:00:00+00:00",
                          "intervalEnd": "2026-04-28T00:00:00+00:00",
                          "totalSettlementAmount": 7233.64,
                          "totalFeeAmount": 354.44836,
                          "totalNetAmount": 6879.19164,
                          "totalTransactionsPending": 24,
                          "totalTransactionsSettled": 240,
                          "totalTransactionsSettling": 42
                        },
                        {
                          "intervalStart": "2026-04-28T00:00:00+00:00",
                          "intervalEnd": "2026-04-29T00:00:00+00:00",
                          "totalSettlementAmount": 6572.59,
                          "totalFeeAmount": 322.05691,
                          "totalNetAmount": 6250.53309,
                          "totalTransactionsPending": 7,
                          "totalTransactionsSettled": 244,
                          "totalTransactionsSettling": 140
                        },
                        {
                          "intervalStart": "2026-04-29T00:00:00+00:00",
                          "intervalEnd": "2026-04-30T00:00:00+00:00",
                          "totalSettlementAmount": 5256.1,
                          "totalFeeAmount": 257.5489,
                          "totalNetAmount": 4998.5511,
                          "totalTransactionsPending": 16,
                          "totalTransactionsSettled": 338,
                          "totalTransactionsSettling": 138
                        }
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the request was successful",
                      "enum": []
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string",
                          "example": "2026-04-23T00:00:00+00:00",
                          "description": "Start time of the analytics calculation period",
                          "enum": []
                        },
                        "periodEnd": {
                          "type": "string",
                          "example": "2026-04-30T00:00:00+00:00",
                          "description": "End time of the analytics calculation period",
                          "enum": []
                        },
                        "totalSettlementAmount": {
                          "type": "number",
                          "example": 46713.07,
                          "description": "Total settled payout amount in this period",
                          "enum": []
                        },
                        "totalFeeAmount": {
                          "type": "number",
                          "example": 2288.94043,
                          "description": "Total amount of fees charged for the payouts in this period",
                          "enum": []
                        },
                        "totalNetAmount": {
                          "type": "number",
                          "example": 44424.12957,
                          "description": "Total net payout amount in this period",
                          "enum": []
                        },
                        "totalTransactionsPending": {
                          "type": "integer",
                          "example": 109,
                          "description": "Total number of transactions pending in this period",
                          "enum": []
                        },
                        "totalTransactionsSettled": {
                          "type": "integer",
                          "example": 1591,
                          "description": "Total number of transactions settled in this period",
                          "enum": []
                        },
                        "totalTransactionsSettling": {
                          "type": "integer",
                          "example": 869,
                          "description": "Total number of transactions settling in this period",
                          "enum": []
                        },
                        "interval": {
                          "type": "string",
                          "example": "day",
                          "description": "The frequency of the analytics data, e.g., daily, weekly",
                          "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ]
                        },
                        "intervals": {
                          "type": "array",
                          "example": [
                            {
                              "intervalStart": "2026-04-23T00:00:00+00:00",
                              "intervalEnd": "2026-04-24T00:00:00+00:00",
                              "totalSettlementAmount": 7156.14,
                              "totalFeeAmount": 350.65086,
                              "totalNetAmount": 6805.48914,
                              "totalTransactionsPending": 9,
                              "totalTransactionsSettled": 218,
                              "totalTransactionsSettling": 93
                            },
                            {
                              "intervalStart": "2026-04-24T00:00:00+00:00",
                              "intervalEnd": "2026-04-25T00:00:00+00:00",
                              "totalSettlementAmount": 7737.59,
                              "totalFeeAmount": 379.14191,
                              "totalNetAmount": 7358.44809,
                              "totalTransactionsPending": 35,
                              "totalTransactionsSettled": 104,
                              "totalTransactionsSettling": 67
                            },
                            {
                              "intervalStart": "2026-04-25T00:00:00+00:00",
                              "intervalEnd": "2026-04-26T00:00:00+00:00",
                              "totalSettlementAmount": 3710.58,
                              "totalFeeAmount": 181.81842,
                              "totalNetAmount": 3528.76158,
                              "totalTransactionsPending": 5,
                              "totalTransactionsSettled": 340,
                              "totalTransactionsSettling": 104
                            },
                            {
                              "intervalStart": "2026-04-26T00:00:00+00:00",
                              "intervalEnd": "2026-04-27T00:00:00+00:00",
                              "totalSettlementAmount": 9046.43,
                              "totalFeeAmount": 443.27507,
                              "totalNetAmount": 8603.15493,
                              "totalTransactionsPending": 13,
                              "totalTransactionsSettled": 107,
                              "totalTransactionsSettling": 285
                            },
                            {
                              "intervalStart": "2026-04-27T00:00:00+00:00",
                              "intervalEnd": "2026-04-28T00:00:00+00:00",
                              "totalSettlementAmount": 7233.64,
                              "totalFeeAmount": 354.44836,
                              "totalNetAmount": 6879.19164,
                              "totalTransactionsPending": 24,
                              "totalTransactionsSettled": 240,
                              "totalTransactionsSettling": 42
                            },
                            {
                              "intervalStart": "2026-04-28T00:00:00+00:00",
                              "intervalEnd": "2026-04-29T00:00:00+00:00",
                              "totalSettlementAmount": 6572.59,
                              "totalFeeAmount": 322.05691,
                              "totalNetAmount": 6250.53309,
                              "totalTransactionsPending": 7,
                              "totalTransactionsSettled": 244,
                              "totalTransactionsSettling": 140
                            },
                            {
                              "intervalStart": "2026-04-29T00:00:00+00:00",
                              "intervalEnd": "2026-04-30T00:00:00+00:00",
                              "totalSettlementAmount": 5256.1,
                              "totalFeeAmount": 257.5489,
                              "totalNetAmount": 4998.5511,
                              "totalTransactionsPending": 16,
                              "totalTransactionsSettled": 338,
                              "totalTransactionsSettling": 138
                            }
                          ],
                          "description": "",
                          "enum": [],
                          "items": {
                            "type": "object",
                            "properties": {
                              "intervalStart": {
                                "type": "string",
                                "example": "2026-04-23T00:00:00+00:00",
                                "description": "Start time of the analytics calculation interval",
                                "enum": []
                              },
                              "intervalEnd": {
                                "type": "string",
                                "example": "2026-04-24T00:00:00+00:00",
                                "description": "End time of the analytics calculation interval",
                                "enum": []
                              },
                              "totalSettlementAmount": {
                                "type": "number",
                                "example": 7156.14,
                                "description": "Total settled payout amount in this interval",
                                "enum": []
                              },
                              "totalFeeAmount": {
                                "type": "number",
                                "example": 350.65086,
                                "description": "Total amount of fees charged for the payouts in this interval",
                                "enum": []
                              },
                              "totalNetAmount": {
                                "type": "number",
                                "example": 6805.48914,
                                "description": "Total net payout amount in this interval",
                                "enum": []
                              },
                              "totalTransactionsPending": {
                                "type": "integer",
                                "example": 9,
                                "description": "Total number of transactions pending in this interval",
                                "enum": []
                              },
                              "totalTransactionsSettled": {
                                "type": "integer",
                                "example": 218,
                                "description": "Total number of transactions settled in this interval",
                                "enum": []
                              },
                              "totalTransactionsSettling": {
                                "type": "integer",
                                "example": 93,
                                "description": "Total number of transactions settling in this interval",
                                "enum": []
                              }
                            }
                          }
                        }
                      },
                      "description": "The data returned from the request"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "organizationId",
          "description": "The organization ID",
          "example": "Z70B874W63DW",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/n1/merchant/{merchantId}/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of items to return",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The maximum number of items to return",
              "example": 10,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The starting index of items to return",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The starting index of items to return",
              "example": 0,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "filter[*]",
[...]
